{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "accountId": "account_id",
      "advertisedModifiedAt": "advertised_modified_at",
      "asnPrependCount": "asn_prepend_count",
      "autoAdvertiseWithdraw": "auto_advertise_withdraw",
      "autoGenerated": "auto_generated",
      "bgpSignalOpts": "bgp_signal_opts",
      "canDelete": "can_delete",
      "canModifyIps": "can_modify_ips",
      "createdAt": "created_at",
      "createdOn": "created_on",
      "defaultSni": "default_sni",
      "delegateLoaCreation": "delegate_loa_creation",
      "delegatedAccountId": "delegated_account_id",
      "documentationUrl": "documentation_url",
      "irrValidationState": "irr_validation_state",
      "loaDocument": "loa_document",
      "loaDocumentId": "loa_document_id",
      "modifiedAt": "modified_at",
      "onDemand": "on_demand",
      "onDemandEnabled": "on_demand_enabled",
      "onDemandLocked": "on_demand_locked",
      "ownershipValidationState": "ownership_validation_state",
      "ownershipValidationToken": "ownership_validation_token",
      "parentPrefixId": "parent_prefix_id",
      "perPage": "per_page",
      "regionKey": "region_key",
      "resultInfo": "result_info",
      "rpkiValidationState": "rpki_validation_state",
      "serviceId": "service_id",
      "serviceName": "service_name",
      "sizeBytes": "size_bytes",
      "totalCount": "total_count",
      "totalPages": "total_pages",
      "verifiedAt": "verified_at"
    }
  },
  "shapes": {
    "com.cloudflare.addressing#AddressMapsCreateRequestIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsItemKind": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsItem": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the membership (eg. a zone or account tag)."
          }
        },
        "kind": {
          "target": "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsItemKind",
          "traits": {
            "smithy.api#documentation": "The type of the membership."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsItem"
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponseIps": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String"
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IPv4 or IPv6 address."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsItemKind": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsItem": {
      "type": "structure",
      "members": {
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether the membership can be deleted via the API or not."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the membership (eg. a zone or account tag)."
          }
        },
        "kind": {
          "target": "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsItemKind",
          "traits": {
            "smithy.api#documentation": "The type of the membership."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsItem"
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponseIps": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String"
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IPv4 or IPv6 address."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponseMembershipsItemKind": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponseMembershipsItem": {
      "type": "structure",
      "members": {
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether the membership can be deleted via the API or not."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the membership (eg. a zone or account tag)."
          }
        },
        "kind": {
          "target": "com.cloudflare.addressing#AddressMapsGetResponseMembershipsItemKind",
          "traits": {
            "smithy.api#documentation": "The type of the membership."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponseMembershipsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#AddressMapsGetResponseMembershipsItem"
      }
    },
    "com.cloudflare.addressing#AddressMapsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map."
          }
        },
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the Address Map cannot be deleted via API. This is true for Cloudflare-managed maps."
          }
        },
        "can_modify_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the IPs on the Address Map cannot be modified via the API. This is true for Cloudflare-managed maps."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "default_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you have legacy TLS clients which do not send the TLS server name indicator, then you can specify one default SNI on the map. If Cloudflare receives a TLS handshake from a client without an SNI, it will respond with the default SNI on those IPs. The default SNI can be any valid zone or subdomain owned by the account."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare's DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#AddressMapsListResultItem"
      }
    },
    "com.cloudflare.addressing#PrefixesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "approved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approval state of the prefix (P = pending, V = active)."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "irr_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        },
        "ownership_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "ownership_validation_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token provided to demonstrate ownership of the prefix."
          }
        },
        "rpki_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#PrefixesListResultItem"
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesCreateResponseBgpSignalOpts": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether control of advertisement of the prefix to the Internet is enabled to be performed via BGP signal"
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time BGP signaling control was toggled. This field is null if BGP signaling has never been enabled."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesCreateResponseOnDemand": {
      "type": "structure",
      "members": {
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesEditRequestOnDemand": {
      "type": "structure",
      "members": {
        "advertised": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesEditResponseBgpSignalOpts": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether control of advertisement of the prefix to the Internet is enabled to be performed via BGP signal"
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time BGP signaling control was toggled. This field is null if BGP signaling has never been enabled."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesEditResponseOnDemand": {
      "type": "structure",
      "members": {
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesGetResponseBgpSignalOpts": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether control of advertisement of the prefix to the Internet is enabled to be performed via BGP signal"
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time BGP signaling control was toggled. This field is null if BGP signaling has never been enabled."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesGetResponseOnDemand": {
      "type": "structure",
      "members": {
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesListResultItemBgpSignalOpts": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether control of advertisement of the prefix to the Internet is enabled to be performed via BGP signal"
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time BGP signaling control was toggled. This field is null if BGP signaling has never been enabled."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesListResultItemOnDemand": {
      "type": "structure",
      "members": {
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of BGP Prefix."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "asn_prepend_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of times to prepend the Cloudflare ASN to the BGP AS-Path attribute"
          }
        },
        "auto_advertise_withdraw": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if Cloudflare advertises a BYOIP BGP prefix even when there is no matching BGP prefix in the Magic routing table. When true, Cloudflare will automatically withdraw the BGP prefix when there are no matching BGP routes, and will resume advertising when there is at least one matching BGP route."
          }
        },
        "bgp_signal_opts": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesListResultItemBgpSignalOpts"
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "on_demand": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesListResultItemOnDemand"
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#PrefixesBgpPrefixesListResultItem"
      }
    },
    "com.cloudflare.addressing#PrefixesDelegationsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Delegation."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "delegated_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier for the account to which prefix is being delegated."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "parent_prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesDelegationsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#PrefixesDelegationsListResultItem"
      }
    },
    "com.cloudflare.addressing#PrefixesServiceBindingsCreateResponseProvisioningState": {
      "type": "enum",
      "members": {
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesServiceBindingsCreateResponseProvisioning": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.cloudflare.addressing#PrefixesServiceBindingsCreateResponseProvisioningState",
          "traits": {
            "smithy.api#documentation": "When a binding has been deployed to a majority of Cloudflare datacenters, the binding will become active and can be used with its associated service."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesServiceBindingsGetResponseProvisioningState": {
      "type": "enum",
      "members": {
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesServiceBindingsGetResponseProvisioning": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.cloudflare.addressing#PrefixesServiceBindingsGetResponseProvisioningState",
          "traits": {
            "smithy.api#documentation": "When a binding has been deployed to a majority of Cloudflare datacenters, the binding will become active and can be used with its associated service."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesServiceBindingsListResultItemProvisioningState": {
      "type": "enum",
      "members": {
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesServiceBindingsListResultItemProvisioning": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.cloudflare.addressing#PrefixesServiceBindingsListResultItemProvisioningState",
          "traits": {
            "smithy.api#documentation": "When a binding has been deployed to a majority of Cloudflare datacenters, the binding will become active and can be used with its associated service."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesServiceBindingsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Service Binding."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "provisioning": {
          "target": "com.cloudflare.addressing#PrefixesServiceBindingsListResultItemProvisioning",
          "traits": {
            "smithy.api#documentation": "Status of a Service Binding's deployment to the Cloudflare network"
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Service on the Cloudflare network. Available services and their IDs may be found in the"
          }
        },
        "service_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a service running on the Cloudflare network"
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesServiceBindingsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#PrefixesServiceBindingsListResultItem"
      }
    },
    "com.cloudflare.addressing#RegionalHostnamesListResultItem": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the regional hostname was created",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS hostname to be regionalized, must be a subdomain of the zone. Wildcards are supported for one level, e.g `*.example.com`",
            "smithy.api#required": {}
          }
        },
        "region_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifying key for the region",
            "smithy.api#required": {}
          }
        },
        "routing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configure which routing method to use for the regional hostname",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.addressing#RegionalHostnamesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#RegionalHostnamesListResultItem"
      }
    },
    "com.cloudflare.addressing#RegionalHostnamesRegionsListResultItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifying key for the region"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable text label for the region"
          }
        }
      }
    },
    "com.cloudflare.addressing#RegionalHostnamesRegionsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#RegionalHostnamesRegionsListResultItem"
      }
    },
    "com.cloudflare.addressing#ServicesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Service on the Cloudflare network. Available services and their IDs may be found in the"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a service running on the Cloudflare network"
          }
        }
      }
    },
    "com.cloudflare.addressing#ServicesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#ServicesListResultItem"
      }
    },
    "com.cloudflare.addressing#Addressing": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.addressing#AddressMapsCreate"
        },
        {
          "target": "com.cloudflare.addressing#AddressMapsDelete"
        },
        {
          "target": "com.cloudflare.addressing#AddressMapsEdit"
        },
        {
          "target": "com.cloudflare.addressing#AddressMapsGet"
        },
        {
          "target": "com.cloudflare.addressing#AddressMapsList"
        },
        {
          "target": "com.cloudflare.addressing#AddressMapsAccountsDelete"
        },
        {
          "target": "com.cloudflare.addressing#AddressMapsAccountsUpdate"
        },
        {
          "target": "com.cloudflare.addressing#AddressMapsIpsDelete"
        },
        {
          "target": "com.cloudflare.addressing#AddressMapsIpsUpdate"
        },
        {
          "target": "com.cloudflare.addressing#AddressMapsZonesDelete"
        },
        {
          "target": "com.cloudflare.addressing#AddressMapsZonesUpdate"
        },
        {
          "target": "com.cloudflare.addressing#LoaDocumentsCreate"
        },
        {
          "target": "com.cloudflare.addressing#LoaDocumentsGet"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesCreate"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesDelete"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesEdit"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesGet"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesList"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesAdvertisementStatusEdit"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesAdvertisementStatusGet"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesCreate"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesEdit"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesGet"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesList"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesDelegationsCreate"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesDelegationsDelete"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesDelegationsList"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesServiceBindingsCreate"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesServiceBindingsDelete"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesServiceBindingsGet"
        },
        {
          "target": "com.cloudflare.addressing#PrefixesServiceBindingsList"
        },
        {
          "target": "com.cloudflare.addressing#RegionalHostnamesCreate"
        },
        {
          "target": "com.cloudflare.addressing#RegionalHostnamesDelete"
        },
        {
          "target": "com.cloudflare.addressing#RegionalHostnamesEdit"
        },
        {
          "target": "com.cloudflare.addressing#RegionalHostnamesGet"
        },
        {
          "target": "com.cloudflare.addressing#RegionalHostnamesList"
        },
        {
          "target": "com.cloudflare.addressing#RegionalHostnamesRegionsList"
        },
        {
          "target": "com.cloudflare.addressing#ServicesList"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Addressing",
        "smithy.api#documentation": "Cloudflare API — addressing resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.addressing#AddressMapNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1000
          },
          {
            "code": 1000,
            "message": {
              "includes": "not_found"
            }
          }
        ]
      }
    },
    "com.cloudflare.addressing#BgpPrefixNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1002
          }
        ]
      }
    },
    "com.cloudflare.addressing#BindingNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1002
          }
        ]
      }
    },
    "com.cloudflare.addressing#DelegationNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1000
          }
        ]
      }
    },
    "com.cloudflare.addressing#FeatureNotEnabled": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1002,
            "message": {
              "includes": "address_maps_not_enabled"
            }
          }
        ]
      }
    },
    "com.cloudflare.addressing#Forbidden": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.cloudflare.addressing#InvalidAccountId": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 7003,
            "message": {
              "includes": "Could not route"
            }
          }
        ]
      }
    },
    "com.cloudflare.addressing#InvalidHostname": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1002,
            "message": {
              "includes": "forbidden"
            }
          }
        ]
      }
    },
    "com.cloudflare.addressing#InvalidLoaForm": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1001,
            "message": {
              "includes": "invalid_loa_form"
            }
          },
          {
            "code": 1001
          }
        ]
      }
    },
    "com.cloudflare.addressing#InvalidNetworkCidr": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1001,
            "message": {
              "includes": "invalid_network_cidr"
            }
          }
        ]
      }
    },
    "com.cloudflare.addressing#InvalidZoneId": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 7003,
            "message": {
              "includes": "Could not route"
            }
          }
        ]
      }
    },
    "com.cloudflare.addressing#IrrEntryNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1003,
            "message": {
              "includes": "irr_entry_not_found"
            }
          }
        ]
      }
    },
    "com.cloudflare.addressing#LoaDocumentNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1000
          }
        ]
      }
    },
    "com.cloudflare.addressing#MethodNotAllowed": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10405,
            "message": {
              "includes": "not allowed"
            }
          },
          {
            "code": 10000,
            "message": {
              "includes": "not allowed"
            }
          }
        ]
      }
    },
    "com.cloudflare.addressing#MissingAccountId": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1001
          }
        ]
      }
    },
    "com.cloudflare.addressing#NonexistentAccountPrefix": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1003
          }
        ]
      }
    },
    "com.cloudflare.addressing#PrefixNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1000
          },
          {
            "code": 1000,
            "message": {
              "includes": "not_found"
            }
          },
          {
            "code": 1002,
            "message": {
              "includes": "forbidden"
            }
          }
        ]
      }
    },
    "com.cloudflare.addressing#RegionalHostnameEmpty": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1000,
            "message": {
              "includes": "not_found"
            }
          }
        ]
      }
    },
    "com.cloudflare.addressing#RegionalHostnameNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1002,
            "message": {
              "includes": "forbidden"
            }
          }
        ]
      }
    },
    "com.cloudflare.addressing#UnsupportedBindingConfiguration": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1003
          }
        ]
      }
    },
    "com.cloudflare.addressing#CreateAddressMap": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#CreateAddressMapRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#CreateAddressMapResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/address_maps",
          "code": 200
        },
        "smithy.api#documentation": "Create a new address map under the account."
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#FeatureNotEnabled"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        },
        {
          "target": "com.cloudflare.addressing#Forbidden"
        }
      ]
    },
    "com.cloudflare.addressing#CreateAddressMapRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare's DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "ips": {
          "target": "com.cloudflare.addressing#AddressMapsCreateRequestIpsList"
        },
        "memberships": {
          "target": "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsList",
          "traits": {
            "smithy.api#documentation": "Zones and Accounts which will be assigned IPs on this Address Map. A zone membership will take priority over an account membership."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#CreateAddressMapResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map."
          }
        },
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the Address Map cannot be deleted via API. This is true for Cloudflare-managed maps."
          }
        },
        "can_modify_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the IPs on the Address Map cannot be modified via the API. This is true for Cloudflare-managed maps."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "default_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you have legacy TLS clients which do not send the TLS server name indicator, then you can specify one default SNI on the map. If Cloudflare receives a TLS handshake from a client without an SNI, it will respond with the default SNI on those IPs. The default SNI can be any valid zone or subdomain owned by the account."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare's DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "ips": {
          "target": "com.cloudflare.addressing#AddressMapsCreateResponseIpsList",
          "traits": {
            "smithy.api#documentation": "The set of IPs on the Address Map."
          }
        },
        "memberships": {
          "target": "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsList",
          "traits": {
            "smithy.api#documentation": "Zones and Accounts which will be assigned IPs on this Address Map. A zone membership will take priority over an account membership."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#CreateLoaDocument": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#CreateLoaDocumentRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#CreateLoaDocumentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/loa_documents",
          "code": 200
        },
        "smithy.api#documentation": "Submit LOA document (pdf format) under the account."
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        },
        {
          "target": "com.cloudflare.addressing#InvalidLoaForm"
        }
      ]
    },
    "com.cloudflare.addressing#CreateLoaDocumentRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#CreateLoaDocumentResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "auto_generated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the LOA has been auto-generated for the prefix owner by Cloudflare."
          }
        },
        "created": {
          "target": "smithy.api#String"
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of LOA document. Max file size 10MB, and supported filetype is pdf."
          }
        },
        "size_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "File size of the uploaded LOA document."
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the LOA has been verified by Cloudflare staff."
          }
        },
        "verified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the moment the LOA was marked as validated."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#CreatePrefix": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#CreatePrefixRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#CreatePrefixResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/prefixes",
          "code": 200
        },
        "smithy.api#documentation": "Add a new prefix under the account."
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        },
        {
          "target": "com.cloudflare.addressing#InvalidNetworkCidr"
        },
        {
          "target": "com.cloudflare.addressing#IrrEntryNotFound"
        }
      ]
    },
    "com.cloudflare.addressing#CreatePrefixRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under.",
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format.",
            "smithy.api#required": {}
          }
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#CreatePrefixResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "approved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approval state of the prefix (P = pending, V = active)."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "irr_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        },
        "ownership_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "ownership_validation_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token provided to demonstrate ownership of the prefix."
          }
        },
        "rpki_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#CreatePrefixBgpPrefix": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#CreatePrefixBgpPrefixRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#CreatePrefixBgpPrefixResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/prefixes",
          "code": 200
        },
        "smithy.api#documentation": "Create a BGP prefix, controlling the BGP advertisement status of a specific subnet. When created, BGP prefixes are initially withdrawn, and can be advertised with the Update BGP Prefix API."
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#NonexistentAccountPrefix"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        },
        {
          "target": "com.cloudflare.addressing#InvalidNetworkCidr"
        }
      ]
    },
    "com.cloudflare.addressing#CreatePrefixBgpPrefixRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#CreatePrefixBgpPrefixResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of BGP Prefix."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "asn_prepend_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of times to prepend the Cloudflare ASN to the BGP AS-Path attribute"
          }
        },
        "auto_advertise_withdraw": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if Cloudflare advertises a BYOIP BGP prefix even when there is no matching BGP prefix in the Magic routing table. When true, Cloudflare will automatically withdraw the BGP prefix when there are no matching BGP routes, and will resume advertising when there is at least one matching BGP route."
          }
        },
        "bgp_signal_opts": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesCreateResponseBgpSignalOpts"
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "on_demand": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesCreateResponseOnDemand"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#CreatePrefixDelegation": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#CreatePrefixDelegationRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#CreatePrefixDelegationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/delegations",
          "code": 200
        },
        "smithy.api#documentation": "Create a new account delegation for a given IP prefix."
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#PrefixNotFound"
        },
        {
          "target": "com.cloudflare.addressing#MissingAccountId"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        }
      ]
    },
    "com.cloudflare.addressing#CreatePrefixDelegationRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format.",
            "smithy.api#required": {}
          }
        },
        "delegated_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier for the account to which prefix is being delegated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#CreatePrefixDelegationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Delegation."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "delegated_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier for the account to which prefix is being delegated."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "parent_prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#CreatePrefixServiceBinding": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#CreatePrefixServiceBindingRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#CreatePrefixServiceBindingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bindings",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Service Binding, routing traffic to IPs within the given CIDR to a service running on Cloudflare's network. **NOTE:** The first Service Binding created for an IP Prefix must exactly match the IP Prefix's CIDR. Subsequent Service Bindings may be created with a more-specific CIDR. Refer to the  [Service Bindings Documentation](https://developers.cloudflare.com/byoip/service-bindings/) for compatibility details."
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#UnsupportedBindingConfiguration"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        }
      ]
    },
    "com.cloudflare.addressing#CreatePrefixServiceBindingRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format.",
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Service on the Cloudflare network. Available services and their IDs may be found in the",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#CreatePrefixServiceBindingResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Service Binding."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "provisioning": {
          "target": "com.cloudflare.addressing#PrefixesServiceBindingsCreateResponseProvisioning",
          "traits": {
            "smithy.api#documentation": "Status of a Service Binding's deployment to the Cloudflare network"
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Service on the Cloudflare network. Available services and their IDs may be found in the"
          }
        },
        "service_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a service running on the Cloudflare network"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#CreateRegionalHostname": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#CreateRegionalHostnameRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#CreateRegionalHostnameResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/addressing/regional_hostnames",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Regional Hostname entry. Cloudflare will only use data centers that are physically located within the chosen region to decrypt and service HTTPS traffic. Learn more about [Regional Services](https://developers.cloudflare.com/data-localization/regional-services/get-started/)."
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#InvalidZoneId"
        },
        {
          "target": "com.cloudflare.addressing#InvalidHostname"
        },
        {
          "target": "com.cloudflare.addressing#RegionalHostnameEmpty"
        }
      ]
    },
    "com.cloudflare.addressing#CreateRegionalHostnameRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS hostname to be regionalized, must be a subdomain of the zone. Wildcards are supported for one level, e.g `*.example.com`",
            "smithy.api#required": {}
          }
        },
        "region_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifying key for the region",
            "smithy.api#required": {}
          }
        },
        "routing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configure which routing method to use for the regional hostname"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#CreateRegionalHostnameResponse": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the regional hostname was created",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS hostname to be regionalized, must be a subdomain of the zone. Wildcards are supported for one level, e.g `*.example.com`",
            "smithy.api#required": {}
          }
        },
        "region_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifying key for the region",
            "smithy.api#required": {}
          }
        },
        "routing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configure which routing method to use for the regional hostname",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#DeleteAddressMap": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#DeleteAddressMapRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a particular address map owned by the account. An Address Map must be disabled before it can be deleted.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#MethodNotAllowed"
        },
        {
          "target": "com.cloudflare.addressing#FeatureNotEnabled"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        },
        {
          "target": "com.cloudflare.addressing#AddressMapNotFound"
        }
      ]
    },
    "com.cloudflare.addressing#DeleteAddressMapRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#DeleteAddressMapAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#DeleteAddressMapAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/accounts/{member_account_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove an account as a member of a particular address map.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#MethodNotAllowed"
        },
        {
          "target": "com.cloudflare.addressing#FeatureNotEnabled"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        }
      ]
    },
    "com.cloudflare.addressing#DeleteAddressMapAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "member_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the Cloudflare account to remove from the address map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#DeleteAddressMapIp": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#DeleteAddressMapIpRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/ips/{ip_address}",
          "code": 200
        },
        "smithy.api#documentation": "Remove an IP from a particular address map.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#MethodNotAllowed"
        },
        {
          "target": "com.cloudflare.addressing#FeatureNotEnabled"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        },
        {
          "target": "com.cloudflare.addressing#AddressMapNotFound"
        }
      ]
    },
    "com.cloudflare.addressing#DeleteAddressMapIpRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ip_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IPv4 or IPv6 address.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#DeleteAddressMapZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#DeleteAddressMapZoneRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/zones/{zone_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a zone as a member of a particular address map.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#MethodNotAllowed"
        },
        {
          "target": "com.cloudflare.addressing#FeatureNotEnabled"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        }
      ]
    },
    "com.cloudflare.addressing#DeleteAddressMapZoneRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#DeletePrefix": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#DeletePrefixRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an unapproved prefix owned by the account.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#MethodNotAllowed"
        },
        {
          "target": "com.cloudflare.addressing#PrefixNotFound"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        }
      ]
    },
    "com.cloudflare.addressing#DeletePrefixRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#DeletePrefixDelegation": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#DeletePrefixDelegationRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#DeletePrefixDelegationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/delegations/{delegation_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an account delegation for a given IP prefix.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#DelegationNotFound"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        }
      ]
    },
    "com.cloudflare.addressing#DeletePrefixDelegationRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "delegation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Delegation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#DeletePrefixDelegationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Delegation."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#DeletePrefixServiceBinding": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#DeletePrefixServiceBindingRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bindings/{binding_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Service Binding",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#BindingNotFound"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        },
        {
          "target": "com.cloudflare.addressing#PrefixNotFound"
        }
      ]
    },
    "com.cloudflare.addressing#DeletePrefixServiceBindingRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "binding_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Service Binding.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#DeleteRegionalHostname": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#DeleteRegionalHostnameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/addressing/regional_hostnames/{hostname}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the region configuration for a specific Regional Hostname.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#MethodNotAllowed"
        },
        {
          "target": "com.cloudflare.addressing#InvalidZoneId"
        },
        {
          "target": "com.cloudflare.addressing#RegionalHostnameNotFound"
        },
        {
          "target": "com.cloudflare.addressing#RegionalHostnameEmpty"
        }
      ]
    },
    "com.cloudflare.addressing#DeleteRegionalHostnameRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS hostname to be regionalized, must be a subdomain of the zone. Wildcards are supported for one level, e.g `*.example.com`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#GetAddressMap": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#GetAddressMapRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#GetAddressMapResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}",
          "code": 200
        },
        "smithy.api#documentation": "Show a particular address map owned by the account.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#AddressMapNotFound"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        },
        {
          "target": "com.cloudflare.addressing#Forbidden"
        }
      ]
    },
    "com.cloudflare.addressing#GetAddressMapRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#GetAddressMapResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map."
          }
        },
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the Address Map cannot be deleted via API. This is true for Cloudflare-managed maps."
          }
        },
        "can_modify_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the IPs on the Address Map cannot be modified via the API. This is true for Cloudflare-managed maps."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "default_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you have legacy TLS clients which do not send the TLS server name indicator, then you can specify one default SNI on the map. If Cloudflare receives a TLS handshake from a client without an SNI, it will respond with the default SNI on those IPs. The default SNI can be any valid zone or subdomain owned by the account."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare's DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "ips": {
          "target": "com.cloudflare.addressing#AddressMapsGetResponseIpsList",
          "traits": {
            "smithy.api#documentation": "The set of IPs on the Address Map."
          }
        },
        "memberships": {
          "target": "com.cloudflare.addressing#AddressMapsGetResponseMembershipsList",
          "traits": {
            "smithy.api#documentation": "Zones and Accounts which will be assigned IPs on this Address Map. A zone membership will take priority over an account membership."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#GetLoaDocument": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#GetLoaDocumentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/loa_documents/{loa_document_id}/download",
          "code": 200
        },
        "smithy.api#documentation": "Download specified LOA document under the account.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#LoaDocumentNotFound"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        }
      ]
    },
    "com.cloudflare.addressing#GetLoaDocumentRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#GetPrefix": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#GetPrefixRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#GetPrefixResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "List a particular prefix owned by the account.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.addressing#PrefixNotFound"
        },
        {
          "target": "com.cloudflare.addressing#InvalidAccountId"
        }
      ]
    },
    "com.cloudflare.addressing#GetPrefixRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#GetPrefixResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "approved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approval state of the prefix (P = pending, V = active)."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "irr_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        },
        "ownership_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "ownership_validation_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token provided to demonstrate ownership of the prefix."
          }
        },
        "rpki_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#GetPrefixAdvertisementStatus": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#GetPrefixAdvertisementStatusRequest"
      },
      "output": {
[...]
