{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.ai#RunRequestBodyTextClassification": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text that you want to classify",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextToImageImageList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextToImageMaskList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextToImage": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A text description of the image you want to generate",
            "smithy.api#required": {}
          }
        },
        "guidance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Controls how closely the generated image should adhere to the prompt; higher values make the image more aligned with the prompt"
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The height of the generated image in pixels"
          }
        },
        "image": {
          "target": "com.cloudflare.ai#RunRequestBodyTextToImageImageList",
          "traits": {
            "smithy.api#documentation": "For use with img2img tasks. An array of integers that represent the image data constrained to 8-bit unsigned integer values"
          }
        },
        "image_b64": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For use with img2img tasks. A base64-encoded string of the input image"
          }
        },
        "mask": {
          "target": "com.cloudflare.ai#RunRequestBodyTextToImageMaskList",
          "traits": {
            "smithy.api#documentation": "An array representing An array of integers that represent mask image data for inpainting constrained to 8-bit unsigned integer values"
          }
        },
        "negative_prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text describing elements to avoid in the generated image"
          }
        },
        "num_steps": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of diffusion steps; higher values can improve quality but take longer"
          }
        },
        "seed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Random seed for reproducibility of the image generation"
          }
        },
        "strength": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A value between 0 and 1 indicating how strongly to apply the transformation during img2img tasks; lower values make the output closer to the input image"
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the generated image in pixels"
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextToSpeech": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A text description of the audio you want to generate",
            "smithy.api#required": {}
          }
        },
        "lang": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The speech language (e.g., 'en' for English, 'fr' for French). Defaults to 'en' if not specified"
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextEmbeddingsTextCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextEmbeddingsText": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "RunRequestBodyTextEmbeddingsTextCase1List": {
          "target": "com.cloudflare.ai#RunRequestBodyTextEmbeddingsTextCase1List"
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextEmbeddings": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.cloudflare.ai#RunRequestBodyTextEmbeddingsText",
          "traits": {
            "smithy.api#documentation": "The text to embed",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyAutomaticSpeechRecognitionAudioList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.ai#RunRequestBodyAutomaticSpeechRecognition": {
      "type": "structure",
      "members": {
        "audio": {
          "target": "com.cloudflare.ai#RunRequestBodyAutomaticSpeechRecognitionAudioList",
          "traits": {
            "smithy.api#documentation": "An array of integers that represent the audio data constrained to 8-bit unsigned integer values",
            "smithy.api#required": {}
          }
        },
        "source_lang": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language of the recorded audio"
          }
        },
        "target_lang": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language to translate the transcription into. Currently only English is supported."
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyImageClassificationImageList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.ai#RunRequestBodyImageClassification": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.cloudflare.ai#RunRequestBodyImageClassificationImageList",
          "traits": {
            "smithy.api#documentation": "An array of integers that represent the image data constrained to 8-bit unsigned integer values",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyObjectDetectionImageList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.ai#RunRequestBodyObjectDetection": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.cloudflare.ai#RunRequestBodyObjectDetectionImageList",
          "traits": {
            "smithy.api#documentation": "An array of integers that represent the image data constrained to 8-bit unsigned integer values"
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyPromptResponseFormatType": {
      "type": "enum",
      "members": {
        "JSON_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json_object"
          }
        },
        "JSON_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json_schema"
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyPromptResponseFormat": {
      "type": "structure",
      "members": {
        "json_schema": {
          "target": "smithy.api#Document"
        },
        "type": {
          "target": "com.cloudflare.ai#RunRequestBodyPromptResponseFormatType"
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyPrompt": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input text prompt for the model to generate a response.",
            "smithy.api#required": {}
          }
        },
        "frequency_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Decreases the likelihood of the model repeating the same lines verbatim."
          }
        },
        "lora": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the LoRA (Low-Rank Adaptation) model to fine-tune the base model."
          }
        },
        "max_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of tokens to generate in the response."
          }
        },
        "presence_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Increases the likelihood of the model introducing new topics."
          }
        },
        "raw": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, a chat template is not applied and you must adhere to the specific model's expected formatting."
          }
        },
        "repetition_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Penalty for repeated tokens; higher values discourage repetition."
          }
        },
        "response_format": {
          "target": "com.cloudflare.ai#RunRequestBodyPromptResponseFormat"
        },
        "seed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Random seed for reproducibility of the generation."
          }
        },
        "stream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the response will be streamed back incrementally using SSE, Server Sent Events."
          }
        },
        "temperature": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Controls the randomness of the output; higher values produce more random results."
          }
        },
        "top_k": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises."
          }
        },
        "top_p": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Adjusts the creativity of the AI's responses by controlling how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses."
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationMessagesItemContentCase1Item": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text content"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the content (text)"
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationMessagesItemContentCase1List": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#RunRequestBodyTextGenerationMessagesItemContentCase1Item"
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationMessagesItemContent": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "RunRequestBodyTextGenerationMessagesItemContentCase1List": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationMessagesItemContentCase1List"
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationMessagesItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationMessagesItemContent",
          "traits": {
            "smithy.api#documentation": "The content of the message as a string.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role of the message sender (e.g., 'user', 'assistant', 'system', 'tool').",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationMessagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#RunRequestBodyTextGenerationMessagesItem"
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationFunctionsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationFunctionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#RunRequestBodyTextGenerationFunctionsItem"
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationResponseFormatType": {
      "type": "enum",
      "members": {
        "JSON_OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json_object"
          }
        },
        "JSON_SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json_schema"
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationResponseFormat": {
      "type": "structure",
      "members": {
        "json_schema": {
          "target": "smithy.api#Document"
        },
        "type": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationResponseFormatType"
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemCase0ParametersPropertiesValue": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the expected parameter.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The data type of the parameter.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemCase0ParametersPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemCase0ParametersPropertiesValue"
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemCase0ParametersRequiredList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemCase0Parameters": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemCase0ParametersPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Definitions of each parameter.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the parameters object (usually 'object').",
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemCase0ParametersRequiredList",
          "traits": {
            "smithy.api#documentation": "List of required parameter names."
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemCase0": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief description of what the tool does.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the tool. More descriptive the better.",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemCase0Parameters",
          "traits": {
            "smithy.api#documentation": "Schema defining the parameters accepted by the tool.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemFunctionFunctionParametersPropertiesValue": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the expected parameter.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The data type of the parameter.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemFunctionFunctionParametersPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemFunctionFunctionParametersPropertiesValue"
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemFunctionFunctionParametersRequiredList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemFunctionFunctionParameters": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemFunctionFunctionParametersPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Definitions of each parameter.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the parameters object (usually 'object').",
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemFunctionFunctionParametersRequiredList",
          "traits": {
            "smithy.api#documentation": "List of required parameter names."
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemFunctionFunction": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief description of what the function does.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the function.",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemFunctionFunctionParameters",
          "traits": {
            "smithy.api#documentation": "Schema defining the parameters accepted by the function.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemFunction": {
      "type": "structure",
      "members": {
        "function": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemFunctionFunction",
          "traits": {
            "smithy.api#documentation": "Details of the function tool.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the type of tool (e.g., 'function').",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItem": {
      "type": "union",
      "members": {
        "RunRequestBodyTextGenerationToolsItemCase0": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemCase0"
        },
        "Function": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItemFunction"
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGenerationToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#RunRequestBodyTextGenerationToolsItem"
      }
    },
    "com.cloudflare.ai#RunRequestBodyTextGeneration": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationMessagesList",
          "traits": {
            "smithy.api#documentation": "An array of message objects representing the conversation history.",
            "smithy.api#required": {}
          }
        },
        "frequency_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Decreases the likelihood of the model repeating the same lines verbatim."
          }
        },
        "functions": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationFunctionsList"
        },
        "max_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of tokens to generate in the response."
          }
        },
        "presence_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Increases the likelihood of the model introducing new topics."
          }
        },
        "raw": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, a chat template is not applied and you must adhere to the specific model's expected formatting."
          }
        },
        "repetition_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Penalty for repeated tokens; higher values discourage repetition."
          }
        },
        "response_format": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationResponseFormat"
        },
        "seed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Random seed for reproducibility of the generation."
          }
        },
        "stream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the response will be streamed back incrementally using SSE, Server Sent Events."
          }
        },
        "temperature": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Controls the randomness of the output; higher values produce more random results."
          }
        },
        "tools": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGenerationToolsList",
          "traits": {
            "smithy.api#documentation": "A list of tools available for the assistant to use."
          }
        },
        "top_k": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises."
          }
        },
        "top_p": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Adjusts the creativity of the AI's responses by controlling how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses."
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyTranslation": {
      "type": "structure",
      "members": {
        "target_lang": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language code to translate the text into (e.g., 'es' for Spanish)",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text to be translated",
            "smithy.api#required": {}
          }
        },
        "source_lang": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language code of the source text (e.g., 'en' for English). Defaults to 'en' if not specified"
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodySummarization": {
      "type": "structure",
      "members": {
        "input_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text that you want the model to summarize",
            "smithy.api#required": {}
          }
        },
        "max_length": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum length of the generated summary in tokens"
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyImageToTextImageList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.ai#RunRequestBodyImageToText": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.cloudflare.ai#RunRequestBodyImageToTextImageList",
          "traits": {
            "smithy.api#documentation": "An array of integers that represent the image data constrained to 8-bit unsigned integer values",
            "smithy.api#required": {}
          }
        },
        "frequency_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Decreases the likelihood of the model repeating the same lines verbatim."
          }
        },
        "max_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of tokens to generate in the response."
          }
        },
        "presence_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Increases the likelihood of the model introducing new topics."
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input text prompt for the model to generate a response."
          }
        },
        "raw": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, a chat template is not applied and you must adhere to the specific model's expected formatting."
          }
        },
        "repetition_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Penalty for repeated tokens; higher values discourage repetition."
          }
        },
        "seed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Random seed for reproducibility of the generation."
          }
        },
        "temperature": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Controls the randomness of the output; higher values produce more random results."
          }
        },
        "top_k": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises."
          }
        },
        "top_p": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Controls the creativity of the AI's responses by adjusting how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses."
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyCase12": {
      "type": "structure",
      "members": {
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image in base64 encoded format.",
            "smithy.api#required": {}
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input text prompt for the model to generate a response.",
            "smithy.api#required": {}
          }
        },
        "frequency_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Decreases the likelihood of the model repeating the same lines verbatim."
          }
        },
        "ignore_eos": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to ignore the EOS token and continue generating tokens after the EOS token is generated."
          }
        },
        "max_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of tokens to generate in the response."
          }
        },
        "presence_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Increases the likelihood of the model introducing new topics."
          }
        },
        "repetition_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Penalty for repeated tokens; higher values discourage repetition."
          }
        },
        "seed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Random seed for reproducibility of the generation."
          }
        },
        "temperature": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Controls the randomness of the output; higher values produce more random results."
          }
        },
        "top_k": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises."
          }
        },
        "top_p": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Controls the creativity of the AI's responses by adjusting how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses."
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyImageTextToTextMessagesItemContentCase1ItemImageUrl": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image URI with data (e.g. data:image/jpeg;base64,/9j/...).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyImageTextToTextMessagesItemContentCase1Item": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the content part (e.g. 'text', 'image_url').",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "com.cloudflare.ai#RunRequestBodyImageTextToTextMessagesItemContentCase1ItemImageUrl",
          "traits": {
            "smithy.api#documentation": "Image URL object (when type is 'image_url')."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text content (when type is 'text')."
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyImageTextToTextMessagesItemContentCase1List": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#RunRequestBodyImageTextToTextMessagesItemContentCase1Item"
      }
    },
    "com.cloudflare.ai#RunRequestBodyImageTextToTextMessagesItemContent": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "RunRequestBodyImageTextToTextMessagesItemContentCase1List": {
          "target": "com.cloudflare.ai#RunRequestBodyImageTextToTextMessagesItemContentCase1List"
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyImageTextToTextMessagesItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.cloudflare.ai#RunRequestBodyImageTextToTextMessagesItemContent",
          "traits": {
            "smithy.api#documentation": "The content of the message as a string.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role of the message sender (e.g., 'user', 'assistant', 'system', 'tool').",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyImageTextToTextMessagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#RunRequestBodyImageTextToTextMessagesItem"
      }
    },
    "com.cloudflare.ai#RunRequestBodyImageTextToText": {
      "type": "structure",
      "members": {
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image in base64 encoded format.",
            "smithy.api#required": {}
          }
        },
        "messages": {
          "target": "com.cloudflare.ai#RunRequestBodyImageTextToTextMessagesList",
          "traits": {
            "smithy.api#documentation": "An array of message objects representing the conversation history.",
            "smithy.api#required": {}
          }
        },
        "frequency_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Decreases the likelihood of the model repeating the same lines verbatim."
          }
        },
        "ignore_eos": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to ignore the EOS token and continue generating tokens after the EOS token is generated."
          }
        },
        "max_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of tokens to generate in the response."
          }
        },
        "presence_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Increases the likelihood of the model introducing new topics."
          }
        },
        "repetition_penalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Penalty for repeated tokens; higher values discourage repetition."
          }
        },
        "seed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Random seed for reproducibility of the generation."
          }
        },
        "temperature": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Controls the randomness of the output; higher values produce more random results."
          }
        },
        "top_k": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises."
          }
        },
        "top_p": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Controls the creativity of the AI's responses by adjusting how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses."
          }
        }
      }
    },
    "com.cloudflare.ai#RunRequestBodyMultimodalEmbeddingsTextList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai#RunRequestBodyMultimodalEmbeddings": {
      "type": "structure",
      "members": {
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image in base64 encoded format."
          }
        },
        "text": {
          "target": "com.cloudflare.ai#RunRequestBodyMultimodalEmbeddingsTextList"
        }
      }
    },
    "com.cloudflare.ai#RunRequestBody": {
      "type": "union",
      "members": {
        "TextClassification": {
          "target": "com.cloudflare.ai#RunRequestBodyTextClassification"
        },
        "TextToImage": {
          "target": "com.cloudflare.ai#RunRequestBodyTextToImage"
        },
        "TextToSpeech": {
          "target": "com.cloudflare.ai#RunRequestBodyTextToSpeech"
        },
        "TextEmbeddings": {
          "target": "com.cloudflare.ai#RunRequestBodyTextEmbeddings"
        },
        "AutomaticSpeechRecognition": {
          "target": "com.cloudflare.ai#RunRequestBodyAutomaticSpeechRecognition"
        },
        "ImageClassification": {
          "target": "com.cloudflare.ai#RunRequestBodyImageClassification"
        },
        "ObjectDetection": {
          "target": "com.cloudflare.ai#RunRequestBodyObjectDetection"
        },
        "Prompt": {
          "target": "com.cloudflare.ai#RunRequestBodyPrompt"
        },
        "TextGeneration": {
          "target": "com.cloudflare.ai#RunRequestBodyTextGeneration"
        },
        "Translation": {
          "target": "com.cloudflare.ai#RunRequestBodyTranslation"
        },
        "Summarization": {
          "target": "com.cloudflare.ai#RunRequestBodySummarization"
        },
        "ImageToText": {
          "target": "com.cloudflare.ai#RunRequestBodyImageToText"
        },
        "RunRequestBodyCase12": {
          "target": "com.cloudflare.ai#RunRequestBodyCase12"
        },
        "ImageTextToText": {
          "target": "com.cloudflare.ai#RunRequestBodyImageTextToText"
        },
        "MultimodalEmbeddings": {
          "target": "com.cloudflare.ai#RunRequestBodyMultimodalEmbeddings"
        }
      }
    },
    "com.cloudflare.ai#RunRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "model_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.ai#RunRequestBody",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai#RunResultTextClassificationItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The classification label assigned to the text (e.g., 'POSITIVE' or 'NEGATIVE')"
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence score indicating the likelihood that the text belongs to the specified label"
          }
        }
      }
    },
    "com.cloudflare.ai#RunResultTextClassificationList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#RunResultTextClassificationItem"
      }
    },
    "com.cloudflare.ai#RunResultAudio": {
      "type": "structure",
      "members": {
        "audio": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generated audio in MP3 format, base64-encoded"
          }
        }
      }
    },
    "com.cloudflare.ai#RunResultTextEmbeddingsDataItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.ai#RunResultTextEmbeddingsDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#RunResultTextEmbeddingsDataItemList"
      }
    },
    "com.cloudflare.ai#RunResultTextEmbeddingsShapeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.ai#RunResultTextEmbeddings": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.ai#RunResultTextEmbeddingsDataList",
          "traits": {
            "smithy.api#documentation": "Embeddings of the requested text values"
          }
        },
        "shape": {
          "target": "com.cloudflare.ai#RunResultTextEmbeddingsShapeList"
        }
      }
    },
    "com.cloudflare.ai#RunResultAutomaticSpeechRecognitionWordsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The ending second when the word completes"
          }
        },
        "start": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The second this word begins in the recording"
          }
        },
        "word": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai#RunResultAutomaticSpeechRecognitionWordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#RunResultAutomaticSpeechRecognitionWordsItem"
      }
    },
    "com.cloudflare.ai#RunResultAutomaticSpeechRecognition": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The transcription",
            "smithy.api#required": {}
          }
        },
        "vtt": {
          "target": "smithy.api#String"
        },
        "word_count": {
          "target": "smithy.api#Double"
        },
        "words": {
          "target": "com.cloudflare.ai#RunResultAutomaticSpeechRecognitionWordsList"
        }
      }
    },
    "com.cloudflare.ai#RunResultImageClassificationItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The predicted category or class for the input image based on analysis"
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A confidence value, between 0 and 1, indicating how certain the model is about the predicted label"
          }
        }
      }
    },
    "com.cloudflare.ai#RunResultImageClassificationList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#RunResultImageClassificationItem"
      }
    },
    "com.cloudflare.ai#RunResultObjectDetectionItemBox": {
      "type": "structure",
      "members": {
        "xmax": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The x-coordinate of the bottom-right corner of the bounding box"
          }
        },
        "xmin": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The x-coordinate of the top-left corner of the bounding box"
          }
        },
        "ymax": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The y-coordinate of the bottom-right corner of the bounding box"
          }
        },
        "ymin": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The y-coordinate of the top-left corner of the bounding box"
          }
        }
      }
    },
    "com.cloudflare.ai#RunResultObjectDetectionItem": {
      "type": "structure",
      "members": {
        "box": {
          "target": "com.cloudflare.ai#RunResultObjectDetectionItemBox",
          "traits": {
            "smithy.api#documentation": "Coordinates defining the bounding box around the detected object"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The class label or name of the detected object"
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence score indicating the likelihood that the detection is correct"
          }
        }
      }
    },
    "com.cloudflare.ai#RunResultObjectDetectionList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#RunResultObjectDetectionItem"
      }
    },
    "com.cloudflare.ai#RunResultCase8ToolCallsItem": {
      "type": "structure",
      "members": {
        "arguments": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The arguments passed to be passed to the tool call request"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the tool to be called"
          }
        }
      }
    },
    "com.cloudflare.ai#RunResultCase8ToolCallsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#RunResultCase8ToolCallsItem"
      }
    },
    "com.cloudflare.ai#RunResultCase8Usage": {
      "type": "structure",
      "members": {
        "completion_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of tokens in output"
          }
        },
        "prompt_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of tokens in input"
          }
        },
        "total_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of input and output tokens"
          }
        }
      }
    },
    "com.cloudflare.ai#RunResultCase8": {
      "type": "structure",
      "members": {
        "response": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generated text response from the model",
            "smithy.api#required": {}
          }
        },
        "tool_calls": {
          "target": "com.cloudflare.ai#RunResultCase8ToolCallsList",
          "traits": {
            "smithy.api#documentation": "An array of tool calls requests made during the response generation"
          }
        },
        "usage": {
          "target": "com.cloudflare.ai#RunResultCase8Usage",
          "traits": {
            "smithy.api#documentation": "Usage statistics for the inference request"
          }
        }
      }
    },
    "com.cloudflare.ai#RunResultTranslation": {
      "type": "structure",
      "members": {
        "translated_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The translated text in the target language"
          }
        }
      }
    },
    "com.cloudflare.ai#RunResultSummarization": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The summarized version of the input text"
          }
        }
      }
    },
    "com.cloudflare.ai#RunResultImageToText": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai#RunResultImageTextToText": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai#RunResultMultimodalEmbeddingsDataItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.ai#RunResultMultimodalEmbeddingsDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#RunResultMultimodalEmbeddingsDataItemList"
      }
    },
    "com.cloudflare.ai#RunResultMultimodalEmbeddingsShapeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.ai#RunResultMultimodalEmbeddings": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.ai#RunResultMultimodalEmbeddingsDataList"
        },
        "shape": {
          "target": "com.cloudflare.ai#RunResultMultimodalEmbeddingsShapeList"
        }
      }
    },
    "com.cloudflare.ai#RunResult": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "TextClassification": {
          "target": "com.cloudflare.ai#RunResultTextClassificationList"
        },
        "Audio": {
          "target": "com.cloudflare.ai#RunResultAudio"
        },
        "TextEmbeddings": {
          "target": "com.cloudflare.ai#RunResultTextEmbeddings"
        },
        "AutomaticSpeechRecognition": {
          "target": "com.cloudflare.ai#RunResultAutomaticSpeechRecognition"
        },
        "ImageClassification": {
          "target": "com.cloudflare.ai#RunResultImageClassificationList"
        },
        "ObjectDetection": {
          "target": "com.cloudflare.ai#RunResultObjectDetectionList"
        },
        "RunResultCase8": {
          "target": "com.cloudflare.ai#RunResultCase8"
        },
        "Translation": {
          "target": "com.cloudflare.ai#RunResultTranslation"
        },
        "Summarization": {
          "target": "com.cloudflare.ai#RunResultSummarization"
        },
        "ImageToText": {
          "target": "com.cloudflare.ai#RunResultImageToText"
        },
        "ImageTextToText": {
          "target": "com.cloudflare.ai#RunResultImageTextToText"
        },
        "MultimodalEmbeddings": {
          "target": "com.cloudflare.ai#RunResultMultimodalEmbeddings"
        }
      }
    },
    "com.cloudflare.ai#RunResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.ai#RunResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.ai#Run": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai#RunRequest"
      },
      "output": {
        "target": "com.cloudflare.ai#RunResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/ai/run/{model_name}",
          "code": 200
        },
        "smithy.api#documentation": "This endpoint provides users with the capability to run specific AI models on-demand. By submitting the required input data, users can receive real-time predictions or results generated by the chosen AI model. The endpoint supports various AI model types, ensuring flexibility and adaptability for diverse use cases. Model specific inputs available in [Cloudflare Docs](https://developers.cloudflare.com/workers-ai/models/)."
      }
    },
    "com.cloudflare.ai#AuthorsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai#AuthorsListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.ai#AuthorsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.ai#AuthorsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.ai#AuthorsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai#AuthorsListRequest"
      },
      "output": {
        "target": "com.cloudflare.ai#AuthorsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/ai/authors/search",
          "code": 200
        },
        "smithy.api#documentation": "Searches Workers AI models by author or organization name.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ai#FinetunesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "public": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai#FinetunesCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "public": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai#FinetunesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai#FinetunesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.ai#FinetunesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/ai/finetunes",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new fine-tuning job for a Workers AI model using custom training data."
      }
    },
    "com.cloudflare.ai#FinetunesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai#FinetunesListResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai#FinetunesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai#FinetunesListRequest"
      },
      "output": {
        "target": "com.cloudflare.ai#FinetunesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/ai/finetunes",
          "code": 200
        },
        "smithy.api#documentation": "Lists all fine-tuning jobs created by the account, including status and metrics.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ai#FinetunesAssetsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "finetune_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai#FinetunesAssetsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai#FinetunesAssetsCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/ai/finetunes/{finetune_id}/finetune-assets",
          "code": 200
        },
        "smithy.api#documentation": "Uploads training data assets for a Workers AI fine-tuning job."
      }
    },
    "com.cloudflare.ai#FinetunesPublicListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Pagination Limit",
            "smithy.api#httpQuery": "limit"
          }
        },
        "offset": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Pagination Offset",
            "smithy.api#httpQuery": "offset"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order By Column Name",
            "smithy.api#httpQuery": "orderBy"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai#FinetunesPublicListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "public": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai#FinetunesPublicListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#FinetunesPublicListResultItem"
      }
    },
    "com.cloudflare.ai#FinetunesPublicListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.ai#FinetunesPublicListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.ai#FinetunesPublicList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai#FinetunesPublicListRequest"
      },
      "output": {
        "target": "com.cloudflare.ai#FinetunesPublicListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/ai/finetunes/public",
          "code": 200
        },
        "smithy.api#documentation": "Lists publicly available fine-tuned models that can be used with Workers AI.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ai#ModelsListRequestFormat": {
      "type": "enum",
      "members": {
        "OPENROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openrouter"
          }
        }
      }
    },
    "com.cloudflare.ai#ModelsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by Author",
            "smithy.api#httpQuery": "author"
          }
        },
        "format": {
          "target": "com.cloudflare.ai#ModelsListRequestFormat",
          "traits": {
            "smithy.api#documentation": "If set, return models in the requested marketplace format instead of the default response.",
            "smithy.api#httpQuery": "format"
          }
        },
        "hide_experimental": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Filter to hide experimental models",
            "smithy.api#httpQuery": "hide_experimental"
          }
        },
        "include_deprecated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, include models whose planned_deprecation_date is in the past — but only within a three-month grace window after that date. Models whose planned_deprecation_date is more than three months in the past remain hidden regardless of this flag. Future planned-deprecation dates are always included regardless of this flag. Defaults to false, preserving the existing behavior of hiding all past-dated deprecations.",
            "smithy.api#httpQuery": "include_deprecated"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "per_page"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search",
            "smithy.api#httpQuery": "search"
          }
        },
        "source": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Filter by Source Id",
            "smithy.api#httpQuery": "source"
          }
        },
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by Task Name",
            "smithy.api#httpQuery": "task"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai#ModelsListResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.ai#ModelsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai#ModelsListRequest"
      },
      "output": {
        "target": "com.cloudflare.ai#ModelsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/ai/models/search",
          "code": 200
        },
        "smithy.api#documentation": "Searches Workers AI models by name or description.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ai#ModelsSchemaGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model Name",
            "smithy.api#httpQuery": "model",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai#ModelsSchemaGetResponseInput": {
      "type": "structure",
      "members": {
        "additionalProperties": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#ModelsSchemaGetResponseOutput": {
      "type": "structure",
      "members": {
        "additionalProperties": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#ModelsSchemaGetResponse": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.cloudflare.ai#ModelsSchemaGetResponseInput",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "output": {
          "target": "com.cloudflare.ai#ModelsSchemaGetResponseOutput",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai#ModelsSchemaGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai#ModelsSchemaGetRequest"
      },
      "output": {
        "target": "com.cloudflare.ai#ModelsSchemaGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/ai/models/schema",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves the input and output JSON schema definition for a Workers AI model.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ai#TasksListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai#TasksListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.ai#TasksListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.ai#TasksListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.ai#TasksList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai#TasksListRequest"
      },
      "output": {
        "target": "com.cloudflare.ai#TasksListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/ai/tasks/search",
          "code": 200
        },
        "smithy.api#documentation": "Searches Workers AI models by task type (e.g., text-generation, embeddings).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ai#ToMarkdownSupportedRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai#ToMarkdownSupportedResultItem": {
      "type": "structure",
      "members": {
        "extension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#ToMarkdownSupportedResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#ToMarkdownSupportedResultItem"
      }
    },
    "com.cloudflare.ai#ToMarkdownSupportedResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.ai#ToMarkdownSupportedResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.ai#ToMarkdownSupported": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai#ToMarkdownSupportedRequest"
      },
      "output": {
        "target": "com.cloudflare.ai#ToMarkdownSupportedResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/ai/tomarkdown/supported",
          "code": 200
        },
        "smithy.api#documentation": "Lists all file formats supported for conversion to Markdown.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ai#ToMarkdownTransformRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai#ToMarkdownTransformResultItem": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tokens": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai#ToMarkdownTransformResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai#ToMarkdownTransformResultItem"
      }
    },
    "com.cloudflare.ai#ToMarkdownTransformResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.ai#ToMarkdownTransformResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.ai#ToMarkdownTransform": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai#ToMarkdownTransformRequest"
      },
      "output": {
        "target": "com.cloudflare.ai#ToMarkdownTransformResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/ai/tomarkdown",
          "code": 200
        },
        "smithy.api#documentation": "Converts uploaded files into Markdown format using Workers AI."
      }
    },
    "com.cloudflare.ai#Ai": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.ai#Run"
        },
        {
          "target": "com.cloudflare.ai#AuthorsList"
        },
        {
          "target": "com.cloudflare.ai#FinetunesCreate"
        },
        {
          "target": "com.cloudflare.ai#FinetunesList"
        },
        {
          "target": "com.cloudflare.ai#FinetunesAssetsCreate"
        },
        {
          "target": "com.cloudflare.ai#FinetunesPublicList"
        },
        {
          "target": "com.cloudflare.ai#ModelsList"
        },
        {
          "target": "com.cloudflare.ai#ModelsSchemaGet"
        },
        {
          "target": "com.cloudflare.ai#TasksList"
        },
        {
          "target": "com.cloudflare.ai#ToMarkdownSupported"
        },
        {
          "target": "com.cloudflare.ai#ToMarkdownTransform"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Ai",
        "smithy.api#documentation": "Cloudflare API — ai resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
