{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.ai_audit#RobotsBulkGetRequestBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_audit#RobotsBulkGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.ai_audit#RobotsBulkGetRequestBodyList",
          "traits": {
            "smithy.api#documentation": "Array of domain hostnames to fetch robots.txt for. Each domain must end with the zone name. Maximum 25 domains per request.",
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_audit#RobotsBulkGetResultValueUserAgentsValueAllowList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_audit#RobotsBulkGetResultValueUserAgentsValueDisallowList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_audit#RobotsBulkGetResultValueUserAgentsValue": {
      "type": "structure",
      "members": {
        "allow": {
          "target": "com.cloudflare.ai_audit#RobotsBulkGetResultValueUserAgentsValueAllowList",
          "traits": {
            "smithy.api#documentation": "List of allowed path patterns.",
            "smithy.api#required": {}
          }
        },
        "disallow": {
          "target": "com.cloudflare.ai_audit#RobotsBulkGetResultValueUserAgentsValueDisallowList",
          "traits": {
            "smithy.api#documentation": "List of disallowed path patterns.",
            "smithy.api#required": {}
          }
        },
        "contentSignals": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Content signal directives from robots.txt."
          }
        }
      }
    },
    "com.cloudflare.ai_audit#RobotsBulkGetResultValueUserAgentsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.ai_audit#RobotsBulkGetResultValueUserAgentsValue"
      }
    },
    "com.cloudflare.ai_audit#RobotsBulkGetResultValue": {
      "type": "structure",
      "members": {
        "userAgents": {
          "target": "com.cloudflare.ai_audit#RobotsBulkGetResultValueUserAgentsMap",
          "traits": {
            "smithy.api#documentation": "Map of user-agent string to its parsed rules.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_audit#RobotsBulkGetResultMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.ai_audit#RobotsBulkGetResultValue"
      }
    },
    "com.cloudflare.ai_audit#RobotsBulkGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.ai_audit#RobotsBulkGetResultMap",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.ai_audit#RobotsBulkGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_audit#RobotsBulkGetRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_audit#RobotsBulkGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/ai-audit/robots/bulk",
          "code": 200
        },
        "smithy.api#documentation": "Fetches and parses robots.txt files for multiple domains within a zone in a single request. Each domain must belong to the specified zone. Results are keyed by hostname."
      }
    },
    "com.cloudflare.ai_audit#RobotsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subdomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional subdomain to fetch robots.txt for. If omitted, fetches robots.txt for the zone apex domain.",
            "smithy.api#httpQuery": "subdomain"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_audit#RobotsGetResponseUserAgentsValueAllowList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_audit#RobotsGetResponseUserAgentsValueDisallowList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_audit#RobotsGetResponseUserAgentsValue": {
      "type": "structure",
      "members": {
        "allow": {
          "target": "com.cloudflare.ai_audit#RobotsGetResponseUserAgentsValueAllowList",
          "traits": {
            "smithy.api#documentation": "List of allowed path patterns.",
            "smithy.api#required": {}
          }
        },
        "disallow": {
          "target": "com.cloudflare.ai_audit#RobotsGetResponseUserAgentsValueDisallowList",
          "traits": {
            "smithy.api#documentation": "List of disallowed path patterns.",
            "smithy.api#required": {}
          }
        },
        "contentSignals": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Content signal directives from robots.txt."
          }
        }
      }
    },
    "com.cloudflare.ai_audit#RobotsGetResponseUserAgentsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.ai_audit#RobotsGetResponseUserAgentsValue"
      }
    },
    "com.cloudflare.ai_audit#RobotsGetResponse": {
      "type": "structure",
      "members": {
        "userAgents": {
          "target": "com.cloudflare.ai_audit#RobotsGetResponseUserAgentsMap",
          "traits": {
            "smithy.api#documentation": "Map of user-agent string to its parsed rules.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai_audit#RobotsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_audit#RobotsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_audit#RobotsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/ai-audit/robots",
          "code": 200
        },
        "smithy.api#documentation": "Fetches and parses the robots.txt file for a zone or a specific subdomain within the zone. Returns parsed user-agent rules, content signals, and sitemaps.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ai_audit#AiAudit": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.ai_audit#RobotsBulkGet"
        },
        {
          "target": "com.cloudflare.ai_audit#RobotsGet"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare AiAudit",
        "smithy.api#documentation": "Cloudflare API — ai_audit resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
