{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "accountId": "account_id",
      "accountTag": "account_tag",
      "aggregatedValue": "aggregated_value",
      "amountDue": "amount_due",
      "amountPaid": "amount_paid",
      "amountRemaining": "amount_remaining",
      "attemptCount": "attempt_count",
      "autoAdvance": "auto_advance",
      "baseUrl": "base_url",
      "cacheInvalidateOnUpdate": "cache_invalidate_on_update",
      "cacheTtl": "cache_ttl",
      "clientSecret": "client_secret",
      "collectLogs": "collect_logs",
      "contentType": "content_type",
      "createdAt": "created_at",
      "createdBy": "created_by",
      "creditBalanceTransaction": "credit_balance_transaction",
      "curlExample": "curl_example",
      "customCost": "custom_cost",
      "datasetIds": "dataset_ids",
      "defaultConfig": "default_config",
      "deploymentId": "deployment_id",
      "endTime": "end_time",
      "evaluationId": "evaluation_id",
      "evaluationTypeId": "evaluation_type_id",
      "evaluationTypeIds": "evaluation_type_ids",
      "firstTopupSuccess": "first_topup_success",
      "gatewayId": "gateway_id",
      "hasDefaultPaymentMethod": "has_default_payment_method",
      "hasMore": "has_more",
      "invoiceLines": "invoice_lines",
      "invoiceOrigin": "invoice_origin",
      "invoicePdf": "invoice_pdf",
      "isDefault": "is_default",
      "isValid": "is_valid",
      "jsExample": "js_example",
      "logManagement": "log_management",
      "logManagementStrategy": "log_management_strategy",
      "logpushPublicKey": "logpush_public_key",
      "modelType": "model_type",
      "modifiedAt": "modified_at",
      "orderBy": "order_by",
      "orderByDirection": "order_by_direction",
      "p1": "P1",
      "paymentIntentId": "payment_intent_id",
      "paymentMethod": "payment_method",
      "perPage": "per_page",
      "periodEnd": "period_end",
      "periodStart": "period_start",
      "pretaxCreditAmounts": "pretax_credit_amounts",
      "providerSlug": "provider_slug",
      "rateLimit": "rate_limit",
      "rateLimitPeriod": "rate_limit_period",
      "rateLimitingInterval": "rate_limiting_interval",
      "rateLimitingLimit": "rate_limiting_limit",
      "rateLimitingTechnique": "rate_limiting_technique",
      "requestContentType": "request_content_type",
      "requestHead": "request_head",
      "requestHeadComplete": "request_head_complete",
      "requestSize": "request_size",
      "requestType": "request_type",
      "responseContentType": "response_content_type",
      "responseHead": "response_head",
      "responseHeadComplete": "response_head_complete",
      "responseSize": "response_size",
      "resultInfo": "result_info",
      "retryBackoff": "retry_backoff",
      "retryDelay": "retry_delay",
      "retryMaxAttempts": "retry_max_attempts",
      "s1": "S1",
      "s10": "S10",
      "s11": "S11",
      "s12": "S12",
      "s13": "S13",
      "s2": "S2",
      "s3": "S3",
      "s4": "S4",
      "s5": "S5",
      "s6": "S6",
      "s7": "S7",
      "s8": "S8",
      "s9": "S9",
      "secretId": "secret_id",
      "secretPreview": "secret_preview",
      "spendLimits": "spend_limits",
      "startTime": "start_time",
      "statusCode": "status_code",
      "statusDescription": "status_description",
      "storeId": "store_id",
      "tokensIn": "tokens_in",
      "tokensOut": "tokens_out",
      "topupConfig": "topup_config",
      "totalCount": "total_count",
      "totalLogs": "total_logs",
      "unitAmountDecimal": "unit_amount_decimal",
      "usageEvents": "usage_events",
      "versionId": "version_id",
      "workersAiBillingMode": "workers_ai_billing_mode"
    }
  },
  "shapes": {
    "com.cloudflare.ai_gateway#CreateRequestLogManagementStrategy": {
      "type": "enum",
      "members": {
        "STOP_INSERTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_INSERTING"
          }
        },
        "DELETE_OLDEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_OLDEST"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateRequestRateLimitingTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateRequestRetryBackoff": {
      "type": "enum",
      "members": {
        "CONSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "constant"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linear"
          }
        },
        "EXPONENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exponential"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateRequestWorkersAiBillingMode": {
      "type": "enum",
      "members": {
        "POSTPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postpaid"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase0Action": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase0ProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase0": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase0Action",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase0ProfilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemAction": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemCheckItem": {
      "type": "enum",
      "members": {
        "REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST"
          }
        },
        "RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemCheckList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemCheckItem"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "check": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemCheckList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemProfilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItem"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policies": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlp": {
      "type": "union",
      "members": {
        "CreateResponseDlpCase0": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase0"
        },
        "CreateResponseDlpCase1": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptP1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS10": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS11": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS12": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS13": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS2": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS3": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS4": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS5": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS6": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS7": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS8": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS9": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPrompt": {
      "type": "structure",
      "members": {
        "P1": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptP1"
        },
        "S1": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS1"
        },
        "S10": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS10"
        },
        "S11": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS11"
        },
        "S12": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS12"
        },
        "S13": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS13"
        },
        "S2": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS2"
        },
        "S3": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS3"
        },
        "S4": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS4"
        },
        "S5": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS5"
        },
        "S6": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS6"
        },
        "S7": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS7"
        },
        "S8": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS8"
        },
        "S9": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS9"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseP1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS10": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS11": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS12": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS13": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS2": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS3": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS4": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS5": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS6": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS7": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS8": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS9": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponse": {
      "type": "structure",
      "members": {
        "P1": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseP1"
        },
        "S1": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS1"
        },
        "S10": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS10"
        },
        "S11": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS11"
        },
        "S12": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS12"
        },
        "S13": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS13"
        },
        "S2": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS2"
        },
        "S3": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS3"
        },
        "S4": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS4"
        },
        "S5": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS5"
        },
        "S6": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS6"
        },
        "S7": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS7"
        },
        "S8": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS8"
        },
        "S9": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS9"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrails": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPrompt",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponse",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseLogManagementStrategy": {
      "type": "enum",
      "members": {
        "STOP_INSERTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_INSERTING"
          }
        },
        "DELETE_OLDEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_OLDEST"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseOtelItemHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseOtelItemContentType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protobuf"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseOtelItem": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.cloudflare.ai_gateway#CreateResponseOtelItemHeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authorization": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "com.cloudflare.ai_gateway#CreateResponseOtelItemContentType"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseOtelList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#CreateResponseOtelItem"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseRateLimitingTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseRetryBackoff": {
      "type": "enum",
      "members": {
        "CONSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "constant"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linear"
          }
        },
        "EXPONENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exponential"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemLimitType": {
      "type": "enum",
      "members": {
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cost"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataModeMode": {
      "type": "enum",
      "members": {
        "PARTITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partition"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataMode": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataModeMode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataCase1Mode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataCase1ValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataCase1": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataCase1Mode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataCase1ValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadata": {
      "type": "union",
      "members": {
        "Mode": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataMode"
        },
        "CreateResponseSpendLimitsRulesItemMetadataCase1": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataCase1"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemModelMode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemModelValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemModel": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemModelMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemModelValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemProviderMode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemProviderValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemProvider": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemProviderMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemProviderValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItem": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limitType": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemLimitType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "window": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "metadata": {
          "target": "com.cloudflare.ai_gateway#UntypedMetadataMap"
        },
        "model": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemModel"
        },
        "provider": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemProvider"
        },
        "technique": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemTechnique"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItem"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimits": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "rules": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesList"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseStripeUsageEventsItem": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseStripeUsageEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#CreateResponseStripeUsageEventsItem"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseStripe": {
      "type": "structure",
      "members": {
        "authorization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usage_events": {
          "target": "com.cloudflare.ai_gateway#CreateResponseStripeUsageEventsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseWorkersAiBillingMode": {
      "type": "enum",
      "members": {
        "POSTPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postpaid"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase0Action": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase0ProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase0": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase0Action",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase0ProfilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemAction": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemCheckItem": {
      "type": "enum",
      "members": {
        "REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST"
          }
        },
        "RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemCheckList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemCheckItem"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "check": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemCheckList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemProfilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItem"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policies": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlp": {
      "type": "union",
      "members": {
        "DeleteResponseDlpCase0": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase0"
        },
        "DeleteResponseDlpCase1": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptP1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS10": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS11": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS12": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS13": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS2": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS3": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS4": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS5": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS6": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS7": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS8": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS9": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPrompt": {
      "type": "structure",
      "members": {
        "P1": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptP1"
        },
        "S1": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS1"
        },
        "S10": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS10"
        },
        "S11": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS11"
        },
        "S12": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS12"
        },
        "S13": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS13"
        },
        "S2": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS2"
        },
        "S3": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS3"
        },
        "S4": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS4"
        },
        "S5": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS5"
        },
        "S6": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS6"
        },
        "S7": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS7"
        },
        "S8": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS8"
        },
        "S9": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS9"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseP1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS10": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS11": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS12": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS13": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS2": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS3": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS4": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS5": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS6": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS7": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS8": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS9": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponse": {
      "type": "structure",
      "members": {
        "P1": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseP1"
        },
        "S1": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS1"
        },
        "S10": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS10"
        },
        "S11": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS11"
        },
        "S12": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS12"
        },
        "S13": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS13"
        },
        "S2": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS2"
        },
        "S3": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS3"
        },
        "S4": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS4"
        },
        "S5": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS5"
        },
        "S6": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS6"
        },
        "S7": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS7"
        },
        "S8": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS8"
        },
        "S9": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS9"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrails": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPrompt",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponse",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseLogManagementStrategy": {
      "type": "enum",
      "members": {
        "STOP_INSERTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_INSERTING"
          }
        },
        "DELETE_OLDEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_OLDEST"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseOtelItemHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseOtelItemContentType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protobuf"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseOtelItem": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseOtelItemHeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authorization": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseOtelItemContentType"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseOtelList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#DeleteResponseOtelItem"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseRateLimitingTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseRetryBackoff": {
      "type": "enum",
      "members": {
        "CONSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "constant"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linear"
          }
        },
        "EXPONENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exponential"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemLimitType": {
      "type": "enum",
      "members": {
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cost"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataModeMode": {
      "type": "enum",
      "members": {
        "PARTITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partition"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataMode": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataModeMode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataCase1Mode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataCase1ValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataCase1": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataCase1Mode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataCase1ValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadata": {
      "type": "union",
      "members": {
        "Mode": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataMode"
        },
        "DeleteResponseSpendLimitsRulesItemMetadataCase1": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataCase1"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemModelMode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemModelValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemModel": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemModelMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemModelValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemProviderMode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemProviderValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemProvider": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemProviderMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemProviderValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItem": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limitType": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemLimitType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "window": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "metadata": {
          "target": "com.cloudflare.ai_gateway#UntypedMetadataMap"
        },
        "model": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemModel"
        },
        "provider": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemProvider"
        },
        "technique": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemTechnique"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItem"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimits": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "rules": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesList"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseStripeUsageEventsItem": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseStripeUsageEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#DeleteResponseStripeUsageEventsItem"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseStripe": {
      "type": "structure",
      "members": {
        "authorization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usage_events": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseStripeUsageEventsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseWorkersAiBillingMode": {
      "type": "enum",
      "members": {
        "POSTPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postpaid"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase0Action": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase0ProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase0": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase0Action",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase0ProfilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemAction": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemCheckItem": {
      "type": "enum",
      "members": {
        "REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST"
          }
        },
        "RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemCheckList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemCheckItem"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "check": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemCheckList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemProfilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItem"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policies": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlp": {
      "type": "union",
      "members": {
        "GetResponseDlpCase0": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase0"
        },
        "GetResponseDlpCase1": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1"
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptP1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS10": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS11": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS12": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS13": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS2": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS3": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS4": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS5": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS6": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS7": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS8": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS9": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPrompt": {
      "type": "structure",
      "members": {
        "P1": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptP1"
        },
        "S1": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS1"
        },
        "S10": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS10"
        },
        "S11": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS11"
        },
        "S12": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS12"
        },
        "S13": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS13"
        },
        "S2": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS2"
        },
        "S3": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS3"
        },
        "S4": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS4"
        },
        "S5": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS5"
        },
        "S6": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS6"
        },
        "S7": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS7"
        },
        "S8": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS8"
        },
        "S9": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS9"
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseP1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS10": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS11": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS12": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS13": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS2": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS3": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS4": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS5": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS6": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS7": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS8": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS9": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponse": {
      "type": "structure",
      "members": {
        "P1": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseP1"
        },
        "S1": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS1"
        },
        "S10": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS10"
        },
        "S11": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS11"
        },
        "S12": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS12"
        },
        "S13": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS13"
        },
        "S2": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS2"
        },
        "S3": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS3"
        },
        "S4": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS4"
        },
        "S5": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS5"
        },
        "S6": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS6"
        },
        "S7": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS7"
        },
        "S8": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS8"
        },
        "S9": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS9"
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrails": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPrompt",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponse",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseLogManagementStrategy": {
      "type": "enum",
      "members": {
        "STOP_INSERTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_INSERTING"
          }
        },
        "DELETE_OLDEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_OLDEST"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseOtelItemHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseOtelItemContentType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protobuf"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseOtelItem": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.cloudflare.ai_gateway#GetResponseOtelItemHeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authorization": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "com.cloudflare.ai_gateway#GetResponseOtelItemContentType"
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseOtelList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#GetResponseOtelItem"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseRateLimitingTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseRetryBackoff": {
      "type": "enum",
      "members": {
        "CONSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "constant"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linear"
          }
        },
        "EXPONENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exponential"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemLimitType": {
      "type": "enum",
      "members": {
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cost"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataModeMode": {
      "type": "enum",
      "members": {
        "PARTITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partition"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataMode": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataModeMode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataCase1Mode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataCase1ValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataCase1": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataCase1Mode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataCase1ValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadata": {
      "type": "union",
      "members": {
        "Mode": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataMode"
        },
        "GetResponseSpendLimitsRulesItemMetadataCase1": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataCase1"
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemModelMode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemModelValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemModel": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemModelMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemModelValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemProviderMode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemProviderValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemProvider": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemProviderMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemProviderValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItem": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limitType": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemLimitType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "window": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "metadata": {
          "target": "com.cloudflare.ai_gateway#UntypedMetadataMap"
        },
        "model": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemModel"
        },
        "provider": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemProvider"
        },
        "technique": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemTechnique"
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItem"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimits": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "rules": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesList"
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseStripeUsageEventsItem": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseStripeUsageEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#GetResponseStripeUsageEventsItem"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseStripe": {
      "type": "structure",
      "members": {
        "authorization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usage_events": {
          "target": "com.cloudflare.ai_gateway#GetResponseStripeUsageEventsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseWorkersAiBillingMode": {
      "type": "enum",
      "members": {
        "POSTPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postpaid"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#ListResultItemDlpCase0Action": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#ListResultItemDlpCase0ProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#ListResultItemDlpCase0": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.cloudflare.ai_gateway#ListResultItemDlpCase0Action",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.cloudflare.ai_gateway#ListResultItemDlpCase0ProfilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#ListResultItemDlpCase1PoliciesItemAction": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#ListResultItemDlpCase1PoliciesItemCheckItem": {
      "type": "enum",
      "members": {
        "REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST"
          }
        },
        "RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#ListResultItemDlpCase1PoliciesItemCheckList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#ListResultItemDlpCase1PoliciesItemCheckItem"
      }
    },
    "com.cloudflare.ai_gateway#ListResultItemDlpCase1PoliciesItemProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#ListResultItemDlpCase1PoliciesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
[...]
