{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "string",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItem"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestImageUrl": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength20971520",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestType2": {
      "type": "enum",
      "members": {
        "IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_url"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestFile": {
      "type": "structure",
      "members": {
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength255",
            "smithy.api#required": {}
          }
        },
        "file_data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength13981144"
          }
        },
        "file_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestType3": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestRole": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        },
        "TOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsCacheCacheThreshold": {
      "type": "enum",
      "members": {
        "SUPER_STRICT_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "super_strict_match"
          }
        },
        "CLOSE_ENOUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "close_enough"
          }
        },
        "FLEXIBLE_FRIEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flexible_friend"
          }
        },
        "ANYTHING_GOES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anything_goes"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsCache": {
      "type": "structure",
      "members": {
        "cache_threshold": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsCacheCacheThreshold"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsQueryRewrite": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "rewrite_prompt": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsReranking": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "match_threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "maximum1"
          }
        },
        "model": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalBoostByItemDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        },
        "NOT_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_exists"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalBoostByItem": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata field name to boost by. Use ‘timestamp’ for document freshness, or any custom_metadata field. Numeric and datetime fields support all four directions (asc, desc, exists, not_exists); text/boolean fields only support exists/not_exists.",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalBoostByItemDirection",
          "traits": {
            "smithy.api#documentation": "Boost direction. ‘desc’ = higher values rank higher (e.g. newer timestamps). ‘asc’ = lower values rank higher. ‘exists’ = boost chunks that have the field. ‘not_exists’ = boost chunks that lack the field. Optional — defaults to ‘asc’ for numeric/datetime fields, ‘exists’ for text/boolean fields."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalBoostByList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalBoostByItem"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalFusionMethod": {
      "type": "enum",
      "members": {
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "RRF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rrf"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalKeywordMatchMode": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "and"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "or"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalRetrievalType": {
      "type": "enum",
      "members": {
        "VECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vector"
          }
        },
        "KEYWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keyword"
          }
        },
        "HYBRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hybrid"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrieval": {
      "type": "structure",
      "members": {
        "boost_by": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalBoostByList",
          "traits": {
            "smithy.api#documentation": "Metadata fields to boost search results by. Overrides the instance-level boost_by config. Direction defaults to ‘asc’ for numeric/datetime fields, ‘exists’ for text/boolean fields. Fields must match ‘timestamp’ or a defined custom_metadata field."
          }
        },
        "context_expansion": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "maximum3"
          }
        },
        "filters": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalFiltersMap"
        },
        "fusion_method": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalFusionMethod"
        },
        "keyword_match_mode": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalKeywordMatchMode",
          "traits": {
            "smithy.api#documentation": "Controls which documents are candidates for BM25 scoring. ‘and’ restricts candidates to documents containing all query terms; ‘or’ includes any document containing at least one term, ranked by BM25 relevance. When omitted, falls back to the instance-level retrieval_options.keyword_match_mode, then to ‘and’."
          }
        },
        "match_threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "maximum1"
          }
        },
        "max_num_results": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "maximum50"
          }
        },
        "retrieval_type": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalRetrievalType"
        },
        "return_on_failure": {
          "target": "smithy.api#Boolean"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "stream": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptions": {
      "type": "structure",
      "members": {
        "cache": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsCache"
        },
        "query_rewrite": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsQueryRewrite"
        },
        "reranking": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsReranking"
        },
        "retrieval": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrieval"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AI Search instance ID. Lowercase alphanumeric, hyphens, and underscores.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "messages": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "minLength1",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestType",
          "traits": {
            "smithy.api#documentation": "object { image_url, type }",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestImageUrl",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type_2": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestType2",
          "traits": {
            "smithy.api#documentation": "object { file, type }",
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "file": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestFile",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type_3": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestType3",
          "traits": {
            "smithy.api#documentation": "string",
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "role": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ai_search_options": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptions"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessage": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "string",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItem"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseImageUrl": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength20971520",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseType2": {
      "type": "enum",
      "members": {
        "IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_url"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseFile": {
      "type": "structure",
      "members": {
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength255",
            "smithy.api#required": {}
          }
        },
        "file_data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength13981144"
          }
        },
        "file_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseType3": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseRole": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        },
        "TOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemItemMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemItemMetadataMap"
        },
        "timestamp": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemScoringDetailsFusionMethod": {
      "type": "enum",
      "members": {
        "RRF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rrf"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemScoringDetails": {
      "type": "structure",
      "members": {
        "fusion_method": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemScoringDetailsFusionMethod"
        },
        "keyword_rank": {
          "target": "smithy.api#Double"
        },
        "keyword_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "minimum0"
          }
        },
        "reranking_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "maximum1"
          }
        },
        "vector_rank": {
          "target": "smithy.api#Double"
        },
        "vector_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "maximum1"
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "maximum1",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "item": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemItem"
        },
        "scoring_details": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemScoringDetails"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItem"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseRole2": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseRole3": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseIndex": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseFoo": {
      "type": "enum",
      "members": {
        "BAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bar"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseTimestamp": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseVectorScore": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseObject": {
      "type": "enum",
      "members": {
        "OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "object"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponse": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "minLength1",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseType",
          "traits": {
            "smithy.api#documentation": "object { image_url, type }",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseImageUrl",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type_2": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseType2",
          "traits": {
            "smithy.api#documentation": "object { file, type }",
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "file": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseFile",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type_3": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseType3",
          "traits": {
            "smithy.api#documentation": "string",
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "role": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "index": {
          "target": "smithy.api#Double"
        },
        "chunks": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role_2": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseRole2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "role"
          }
        },
        "choices_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "{",
            "smithy.api#required": {},
            "smithy.api#jsonName": "choices"
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "content_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "content"
          }
        },
        "role_3": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseRole3",
          "traits": {
            "smithy.api#documentation": "},",
            "smithy.api#required": {},
            "smithy.api#jsonName": "role"
          }
        },
        "index_2": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseIndex",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "index"
          }
        },
        "chunks_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "{",
            "smithy.api#required": {},
            "smithy.api#jsonName": "chunks"
          }
        },
        "id": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "score": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "text"
          }
        },
        "type_4": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "item": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foo": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseFoo",
          "traits": {
            "smithy.api#documentation": "},",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseTimestamp",
          "traits": {
            "smithy.api#documentation": "},",
            "smithy.api#required": {}
          }
        },
        "scoring_details": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fusion_method": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyword_rank": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyword_score": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reranking_score": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "vector_rank": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "vector_score": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseVectorScore",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "id_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "id"
          }
        },
        "model": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseObject",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletions": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/ai-search/instances/{id}/chat/completions",
          "code": 200
        },
        "smithy.api#documentation": "Performs a chat completion request against an AI Search instance, using indexed content as context for generating responses."
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseCacheThreshold": {
      "type": "enum",
      "members": {
        "SUPER_STRICT_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "super_strict_match"
          }
        },
        "CLOSE_ENOUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "close_enough"
          }
        },
        "FLEXIBLE_FRIEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flexible_friend"
          }
        },
        "ANYTHING_GOES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anything_goes"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseCustomMetadataItemDataType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datetime"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseCustomMetadataItem": {
      "type": "structure",
      "members": {
        "data_type": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseCustomMetadataItemDataType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseCustomMetadataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesCreateResponseCustomMetadataItem"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseFusionMethod": {
      "type": "enum",
      "members": {
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "RRF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rrf"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseIndexMethod": {
      "type": "structure",
      "members": {
        "keyword": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable keyword (BM25) storage backend.",
            "smithy.api#required": {}
          }
        },
        "vector": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable vector (embedding) storage backend.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseIndexingOptionsKeywordTokenizer": {
      "type": "enum",
      "members": {
        "PORTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "porter"
          }
        },
        "TRIGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trigram"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseIndexingOptions": {
      "type": "structure",
      "members": {
        "keyword_tokenizer": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseIndexingOptionsKeywordTokenizer",
          "traits": {
            "smithy.api#documentation": "Tokenizer used for keyword search indexing. porter provides word-level tokenization with Porter stemming (good for natural language queries). trigram enables character-level substring matching (good for partial matches, code, identifiers). Changing this triggers a full re-index. Defaults to porter."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseMetadata": {
      "type": "structure",
      "members": {
        "created_from_aisearch_wizard": {
          "target": "smithy.api#Boolean"
        },
        "worker_domain": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsAuthorizedHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsChatCompletionsEndpoint": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable chat completions endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsCustomDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsMcp": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable MCP endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsRateLimitTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsRateLimit": {
      "type": "structure",
      "members": {
        "period_ms": {
          "target": "smithy.api#Double"
        },
        "requests": {
          "target": "smithy.api#Double"
        },
        "technique": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsRateLimitTechnique"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsSearchEndpoint": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable search endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParams": {
      "type": "structure",
      "members": {
        "authorized_hosts": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsAuthorizedHostsList"
        },
        "chat_completions_endpoint": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsChatCompletionsEndpoint",
          "traits": {
            "smithy.api#documentation": "Disable chat completions endpoint for this public endpoint"
          }
        },
        "custom_domains": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsCustomDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domain hostnames that alias this public endpoint. GET and create responses return the current set; on update (PUT) this field is only echoed back when supplied in the request body, otherwise it is null (omit it to leave domains unchanged)."
          }
        },
        "default_domain_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the instance is reachable only via a registered custom domain and the default &#x3C;public_endpoint_id>.search.ai.cloudflare.com host returns 404. Requires at least one custom domain. Defaults to true. public_endpoint_params is replaced wholesale on update, so resend default_domain_enabled on every update to keep the default host off — omitting it resets to true."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "mcp": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsMcp",
          "traits": {
            "smithy.api#documentation": "Disable MCP endpoint for this public endpoint"
          }
        },
        "rate_limit": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsRateLimit"
        },
        "search_endpoint": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsSearchEndpoint",
          "traits": {
            "smithy.api#documentation": "Disable search endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsBoostByItemDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        },
        "NOT_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_exists"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsBoostByItem": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata field name to boost by. Use ‘timestamp’ for document freshness, or any custom_metadata field. Numeric and datetime fields support all four directions (asc, desc, exists, not_exists); text/boolean fields only support exists/not_exists.",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsBoostByItemDirection",
          "traits": {
            "smithy.api#documentation": "Boost direction. ‘desc’ = higher values rank higher (e.g. newer timestamps). ‘asc’ = lower values rank higher. ‘exists’ = boost chunks that have the field. ‘not_exists’ = boost chunks that lack the field. Optional — defaults to ‘asc’ for numeric/datetime fields, ‘exists’ for text/boolean fields."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsBoostByList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsBoostByItem"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsKeywordMatchMode": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "and"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "or"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptions": {
      "type": "structure",
      "members": {
        "boost_by": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsBoostByList",
          "traits": {
            "smithy.api#documentation": "Metadata fields to boost search results by. Each entry specifies a metadata field and an optional direction. Direction defaults to ‘asc’ for numeric/datetime fields and ‘exists’ for text/boolean fields. Fields must match ‘timestamp’ or a defined custom_metadata field."
          }
        },
        "keyword_match_mode": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsKeywordMatchMode",
          "traits": {
            "smithy.api#documentation": "Controls which documents are candidates for BM25 scoring. ‘and’ restricts candidates to documents containing all query terms; ‘or’ includes any document containing at least one term, ranked by BM25 relevance. When omitted on an update, the existing stored value is preserved; when never set, search falls back to ‘and’."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsExcludeItemsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsIncludeItemsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerDiscoverOptionsSource": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "SITEMAPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sitemaps"
          }
        },
        "LINKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "links"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerDiscoverOptions": {
      "type": "structure",
      "members": {
        "depth": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum link-follow depth from the seed URL."
          }
        },
        "include_external_links": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Follow links that point outside the source domain. Must stay false — discover crawls are restricted to the zone you own."
          }
        },
        "include_subdomains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Follow links to subdomains of the source host."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of pages to crawl (1-100000)."
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum content age in seconds to accept (0–604800)."
          }
        },
        "source": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerDiscoverOptionsSource",
          "traits": {
            "smithy.api#documentation": "Where the crawler looks for URLs: ‘sitemaps’ reads sitemap XML only, ‘links’ follows page links only, ‘all’ does both."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerParseOptionsContentSelectorItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Glob pattern to match against the page URL path. Uses standard glob syntax: * matches within a segment, ** crosses directories.",
            "smithy.api#required": {}
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CSS selector to extract content from pages matching the path pattern. Must not contain disallowed characters (;, `, $, {, }, ). Must target a single element; if multiple elements match, the selector is ignored and the full page is used.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerParseOptionsContentSelectorList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerParseOptionsContentSelectorItem"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerParseOptionsSpecificSitemapsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerParseOptions": {
      "type": "structure",
      "members": {
        "content_selector": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerParseOptionsContentSelectorList",
          "traits": {
            "smithy.api#documentation": "List of path-to-selector mappings for extracting specific content from crawled pages. Each entry pairs a URL glob pattern with a CSS selector. The first matching path wins. Only the matched HTML fragment is stored and indexed. Omit the field to disable content selection — empty arrays are rejected."
          }
        },
        "include_headers": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Up to 5 custom HTTP headers sent with each crawl request. Names must be RFC-7230 token characters (no spaces, colons, or control characters); values must be HTAB + printable ASCII (no CR/LF)."
          }
        },
        "include_images": {
          "target": "smithy.api#Boolean"
        },
        "specific_sitemaps": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerParseOptionsSpecificSitemapsList",
          "traits": {
            "smithy.api#documentation": "List of specific sitemap URLs to use for crawling. Only valid when parse_type is ‘sitemap’."
          }
        },
        "use_browser_rendering": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerParseType": {
      "type": "enum",
      "members": {
        "SITEMAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sitemap"
          }
        },
        "DISCOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discover"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawler": {
      "type": "structure",
      "members": {
        "discover_options": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerDiscoverOptions",
          "traits": {
            "smithy.api#documentation": "Options for parse_type ‘discover’, where Browser Run discovers URLs by link following and sitemaps. Ignored for ‘sitemap’."
          }
        },
        "parse_options": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerParseOptions",
          "traits": {
            "smithy.api#documentation": "List of path-to-selector mappings for extracting specific content from crawled pages. Each entry pairs a URL glob pattern with a CSS selector. The first matching path wins. Only the matched HTML fragment is stored and indexed. Omit the field to disable content selection — empty arrays are rejected."
          }
        },
        "parse_type": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawlerParseType",
          "traits": {
            "smithy.api#documentation": "How URLs are discovered. ‘sitemap’ reads XML sitemaps; ‘discover’ follows links recursively and requires the source to be a Verified zone on this account."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseSourceParams": {
      "type": "structure",
      "members": {
        "exclude_items": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsExcludeItemsList",
          "traits": {
            "smithy.api#documentation": "List of path patterns to exclude. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /admin/** matches /admin/users and /admin/settings/advanced). Most accounts are limited to 10 rules; contact support to raise it."
          }
        },
        "include_items": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsIncludeItemsList",
          "traits": {
            "smithy.api#documentation": "List of path patterns to include. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /blog/** matches /blog/post and /blog/2024/post). Most accounts are limited to 10 rules; contact support to raise it."
          }
        },
        "prefix": {
          "target": "smithy.api#String"
        },
        "r2_jurisdiction": {
          "target": "smithy.api#String"
        },
        "web_crawler": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseSourceParamsWebCrawler",
          "traits": {
            "smithy.api#documentation": "Options for parse_type ‘discover’, where Browser Run discovers URLs by link following and sitemaps. Ignored for ‘sitemap’."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        },
        "WEB_CRAWLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web-crawler"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AI Search instance ID. Lowercase alphanumeric, hyphens, and underscores.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ai_gateway_id": {
          "target": "smithy.api#String"
        },
        "ai_search_model": {
          "target": "smithy.api#String"
        },
        "cache": {
          "target": "smithy.api#Boolean"
        },
        "cache_threshold": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseCacheThreshold"
        },
        "cache_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache entry TTL in seconds. Allowed values: 600 (10min), 1800 (30min), 3600 (1h), 7200 (2h), 21600 (6h), 43200 (12h), 86400 (24h), 172800 (48h), 259200 (72h), 518400 (6d)."
          }
        },
        "chunk_overlap": {
          "target": "smithy.api#Double"
        },
        "chunk_size": {
          "target": "smithy.api#Double"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "custom_metadata": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseCustomMetadataList"
        },
        "embedding_model": {
          "target": "smithy.api#String"
        },
        "enable": {
          "target": "smithy.api#Boolean"
        },
        "engine_version": {
          "target": "smithy.api#Double"
        },
        "fusion_method": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseFusionMethod"
        },
        "Deprecated_hybrid_search_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated — use index_method instead.",
            "smithy.api#jsonName": "Deprecated hybrid_search_enabled"
          }
        },
        "index_method": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseIndexMethod",
          "traits": {
            "smithy.api#documentation": "Controls which storage backends are used during indexing. Defaults to vector-only."
          }
        },
        "indexing_options": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseIndexingOptions",
          "traits": {
            "smithy.api#documentation": "Tokenizer used for keyword search indexing. porter provides word-level tokenization with Porter stemming (good for natural language queries). trigram enables character-level substring matching (good for partial matches, code, identifiers). Changing this triggers a full re-index. Defaults to porter."
          }
        },
        "last_activity": {
          "target": "smithy.api#String"
        },
        "max_num_results": {
          "target": "smithy.api#Double"
        },
        "metadata": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseMetadata"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "namespace": {
          "target": "smithy.api#String"
        },
        "paused": {
          "target": "smithy.api#Boolean"
        },
        "public_endpoint_id": {
          "target": "smithy.api#String"
        },
        "public_endpoint_params": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParams",
          "traits": {
            "smithy.api#documentation": "Disable chat completions endpoint for this public endpoint"
          }
        },
        "reranking": {
          "target": "smithy.api#Boolean"
        },
        "reranking_model": {
          "target": "smithy.api#String"
        },
        "retrieval_options": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptions",
          "traits": {
            "smithy.api#documentation": "Metadata fields to boost search results by. Each entry specifies a metadata field and an optional direction. Direction defaults to ‘asc’ for numeric/datetime fields and ‘exists’ for text/boolean fields. Fields must match ‘timestamp’ or a defined custom_metadata field."
          }
        },
        "rewrite_model": {
          "target": "smithy.api#String"
        },
        "rewrite_query": {
          "target": "smithy.api#Boolean"
        },
        "score_threshold": {
          "target": "smithy.api#Double"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "source_params": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseSourceParams",
          "traits": {
            "smithy.api#documentation": "List of path patterns to exclude. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /admin/** matches /admin/users and /admin/settings/advanced). Most accounts are limited to 10 rules; contact support to raise it."
          }
        },
        "status": {
          "target": "smithy.api#String"
        },
        "sync_interval": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Interval between automatic syncs, in seconds. Allowed values: 900 (15min), 1800 (30min), 3600 (1h), 7200 (2h), 14400 (4h), 21600 (6h), 43200 (12h), 86400 (24h)."
          }
        },
        "token_id": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseType"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai_search#InstancesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_search#InstancesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_search#InstancesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/ai-search/instances",
          "code": 200
        },
        "smithy.api#documentation": "Create a new AI Search instance with the given configuration."
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseCacheThreshold": {
      "type": "enum",
      "members": {
        "SUPER_STRICT_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "super_strict_match"
          }
        },
        "CLOSE_ENOUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "close_enough"
          }
        },
        "FLEXIBLE_FRIEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flexible_friend"
          }
        },
        "ANYTHING_GOES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anything_goes"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseCustomMetadataItemDataType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datetime"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseCustomMetadataItem": {
      "type": "structure",
      "members": {
        "data_type": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseCustomMetadataItemDataType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseCustomMetadataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesDeleteResponseCustomMetadataItem"
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseFusionMethod": {
      "type": "enum",
      "members": {
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "RRF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rrf"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseIndexMethod": {
      "type": "structure",
      "members": {
        "keyword": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable keyword (BM25) storage backend.",
            "smithy.api#required": {}
          }
        },
        "vector": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable vector (embedding) storage backend.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseIndexingOptionsKeywordTokenizer": {
      "type": "enum",
      "members": {
        "PORTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "porter"
          }
        },
        "TRIGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trigram"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseIndexingOptions": {
      "type": "structure",
      "members": {
        "keyword_tokenizer": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseIndexingOptionsKeywordTokenizer",
          "traits": {
            "smithy.api#documentation": "Tokenizer used for keyword search indexing. porter provides word-level tokenization with Porter stemming (good for natural language queries). trigram enables character-level substring matching (good for partial matches, code, identifiers). Changing this triggers a full re-index. Defaults to porter."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseMetadata": {
      "type": "structure",
      "members": {
        "created_from_aisearch_wizard": {
          "target": "smithy.api#Boolean"
        },
        "worker_domain": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsAuthorizedHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsChatCompletionsEndpoint": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable chat completions endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsCustomDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsMcp": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable MCP endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsRateLimitTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsRateLimit": {
      "type": "structure",
      "members": {
        "period_ms": {
          "target": "smithy.api#Double"
        },
        "requests": {
          "target": "smithy.api#Double"
        },
        "technique": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsRateLimitTechnique"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsSearchEndpoint": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable search endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParams": {
      "type": "structure",
      "members": {
        "authorized_hosts": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsAuthorizedHostsList"
        },
        "chat_completions_endpoint": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsChatCompletionsEndpoint",
          "traits": {
            "smithy.api#documentation": "Disable chat completions endpoint for this public endpoint"
          }
        },
        "custom_domains": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsCustomDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domain hostnames that alias this public endpoint. GET and create responses return the current set; on update (PUT) this field is only echoed back when supplied in the request body, otherwise it is null (omit it to leave domains unchanged)."
          }
        },
        "default_domain_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the instance is reachable only via a registered custom domain and the default &#x3C;public_endpoint_id>.search.ai.cloudflare.com host returns 404. Requires at least one custom domain. Defaults to true. public_endpoint_params is replaced wholesale on update, so resend default_domain_enabled on every update to keep the default host off — omitting it resets to true."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "mcp": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsMcp",
          "traits": {
            "smithy.api#documentation": "Disable MCP endpoint for this public endpoint"
          }
        },
        "rate_limit": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsRateLimit"
        },
        "search_endpoint": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParamsSearchEndpoint",
          "traits": {
            "smithy.api#documentation": "Disable search endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseRetrievalOptionsBoostByItemDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        },
        "NOT_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_exists"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseRetrievalOptionsBoostByItem": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata field name to boost by. Use ‘timestamp’ for document freshness, or any custom_metadata field. Numeric and datetime fields support all four directions (asc, desc, exists, not_exists); text/boolean fields only support exists/not_exists.",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseRetrievalOptionsBoostByItemDirection",
          "traits": {
            "smithy.api#documentation": "Boost direction. ‘desc’ = higher values rank higher (e.g. newer timestamps). ‘asc’ = lower values rank higher. ‘exists’ = boost chunks that have the field. ‘not_exists’ = boost chunks that lack the field. Optional — defaults to ‘asc’ for numeric/datetime fields, ‘exists’ for text/boolean fields."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseRetrievalOptionsBoostByList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesDeleteResponseRetrievalOptionsBoostByItem"
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseRetrievalOptionsKeywordMatchMode": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "and"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "or"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseRetrievalOptions": {
      "type": "structure",
      "members": {
        "boost_by": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseRetrievalOptionsBoostByList",
          "traits": {
            "smithy.api#documentation": "Metadata fields to boost search results by. Each entry specifies a metadata field and an optional direction. Direction defaults to ‘asc’ for numeric/datetime fields and ‘exists’ for text/boolean fields. Fields must match ‘timestamp’ or a defined custom_metadata field."
          }
        },
        "keyword_match_mode": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseRetrievalOptionsKeywordMatchMode",
          "traits": {
            "smithy.api#documentation": "Controls which documents are candidates for BM25 scoring. ‘and’ restricts candidates to documents containing all query terms; ‘or’ includes any document containing at least one term, ranked by BM25 relevance. When omitted on an update, the existing stored value is preserved; when never set, search falls back to ‘and’."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsExcludeItemsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsIncludeItemsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerDiscoverOptionsSource": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "SITEMAPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sitemaps"
          }
        },
        "LINKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "links"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerDiscoverOptions": {
      "type": "structure",
      "members": {
        "depth": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum link-follow depth from the seed URL."
          }
        },
        "include_external_links": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Follow links that point outside the source domain. Must stay false — discover crawls are restricted to the zone you own."
          }
        },
        "include_subdomains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Follow links to subdomains of the source host."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of pages to crawl (1-100000)."
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum content age in seconds to accept (0–604800)."
          }
        },
        "source": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerDiscoverOptionsSource",
          "traits": {
            "smithy.api#documentation": "Where the crawler looks for URLs: ‘sitemaps’ reads sitemap XML only, ‘links’ follows page links only, ‘all’ does both."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerParseOptionsContentSelectorItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Glob pattern to match against the page URL path. Uses standard glob syntax: * matches within a segment, ** crosses directories.",
            "smithy.api#required": {}
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CSS selector to extract content from pages matching the path pattern. Must not contain disallowed characters (;, `, $, {, }, ). Must target a single element; if multiple elements match, the selector is ignored and the full page is used.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerParseOptionsContentSelectorList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerParseOptionsContentSelectorItem"
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerParseOptionsSpecificSitemapsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerParseOptions": {
      "type": "structure",
      "members": {
        "content_selector": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerParseOptionsContentSelectorList",
          "traits": {
            "smithy.api#documentation": "List of path-to-selector mappings for extracting specific content from crawled pages. Each entry pairs a URL glob pattern with a CSS selector. The first matching path wins. Only the matched HTML fragment is stored and indexed. Omit the field to disable content selection — empty arrays are rejected."
          }
        },
        "include_headers": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Up to 5 custom HTTP headers sent with each crawl request. Names must be RFC-7230 token characters (no spaces, colons, or control characters); values must be HTAB + printable ASCII (no CR/LF)."
          }
        },
        "include_images": {
          "target": "smithy.api#Boolean"
        },
        "specific_sitemaps": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerParseOptionsSpecificSitemapsList",
          "traits": {
            "smithy.api#documentation": "List of specific sitemap URLs to use for crawling. Only valid when parse_type is ‘sitemap’."
          }
        },
        "use_browser_rendering": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerParseType": {
      "type": "enum",
      "members": {
        "SITEMAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sitemap"
          }
        },
        "DISCOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discover"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawler": {
      "type": "structure",
      "members": {
        "discover_options": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerDiscoverOptions",
          "traits": {
            "smithy.api#documentation": "Options for parse_type ‘discover’, where Browser Run discovers URLs by link following and sitemaps. Ignored for ‘sitemap’."
          }
        },
        "parse_options": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerParseOptions",
          "traits": {
            "smithy.api#documentation": "List of path-to-selector mappings for extracting specific content from crawled pages. Each entry pairs a URL glob pattern with a CSS selector. The first matching path wins. Only the matched HTML fragment is stored and indexed. Omit the field to disable content selection — empty arrays are rejected."
          }
        },
        "parse_type": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawlerParseType",
          "traits": {
            "smithy.api#documentation": "How URLs are discovered. ‘sitemap’ reads XML sitemaps; ‘discover’ follows links recursively and requires the source to be a Verified zone on this account."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseSourceParams": {
      "type": "structure",
      "members": {
        "exclude_items": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsExcludeItemsList",
          "traits": {
            "smithy.api#documentation": "List of path patterns to exclude. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /admin/** matches /admin/users and /admin/settings/advanced). Most accounts are limited to 10 rules; contact support to raise it."
          }
        },
        "include_items": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsIncludeItemsList",
          "traits": {
            "smithy.api#documentation": "List of path patterns to include. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /blog/** matches /blog/post and /blog/2024/post). Most accounts are limited to 10 rules; contact support to raise it."
          }
        },
        "prefix": {
          "target": "smithy.api#String"
        },
        "r2_jurisdiction": {
          "target": "smithy.api#String"
        },
        "web_crawler": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseSourceParamsWebCrawler",
          "traits": {
            "smithy.api#documentation": "Options for parse_type ‘discover’, where Browser Run discovers URLs by link following and sitemaps. Ignored for ‘sitemap’."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponseType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        },
        "WEB_CRAWLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web-crawler"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AI Search instance ID. Lowercase alphanumeric, hyphens, and underscores.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ai_gateway_id": {
          "target": "smithy.api#String"
        },
        "ai_search_model": {
          "target": "smithy.api#String"
        },
        "cache": {
          "target": "smithy.api#Boolean"
        },
        "cache_threshold": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseCacheThreshold"
        },
        "cache_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache entry TTL in seconds. Allowed values: 600 (10min), 1800 (30min), 3600 (1h), 7200 (2h), 21600 (6h), 43200 (12h), 86400 (24h), 172800 (48h), 259200 (72h), 518400 (6d)."
          }
        },
        "chunk_overlap": {
          "target": "smithy.api#Double"
        },
        "chunk_size": {
          "target": "smithy.api#Double"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "custom_metadata": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseCustomMetadataList"
        },
        "embedding_model": {
          "target": "smithy.api#String"
        },
        "enable": {
          "target": "smithy.api#Boolean"
        },
        "engine_version": {
          "target": "smithy.api#Double"
        },
        "fusion_method": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseFusionMethod"
        },
        "Deprecated_hybrid_search_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated — use index_method instead.",
            "smithy.api#jsonName": "Deprecated hybrid_search_enabled"
          }
        },
        "index_method": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseIndexMethod",
          "traits": {
            "smithy.api#documentation": "Controls which storage backends are used during indexing. Defaults to vector-only."
          }
        },
        "indexing_options": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseIndexingOptions",
          "traits": {
            "smithy.api#documentation": "Tokenizer used for keyword search indexing. porter provides word-level tokenization with Porter stemming (good for natural language queries). trigram enables character-level substring matching (good for partial matches, code, identifiers). Changing this triggers a full re-index. Defaults to porter."
          }
        },
        "last_activity": {
          "target": "smithy.api#String"
        },
        "max_num_results": {
          "target": "smithy.api#Double"
        },
        "metadata": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseMetadata"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "namespace": {
          "target": "smithy.api#String"
        },
        "paused": {
          "target": "smithy.api#Boolean"
        },
        "public_endpoint_id": {
          "target": "smithy.api#String"
        },
        "public_endpoint_params": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponsePublicEndpointParams",
          "traits": {
            "smithy.api#documentation": "Disable chat completions endpoint for this public endpoint"
          }
        },
        "reranking": {
          "target": "smithy.api#Boolean"
        },
        "reranking_model": {
          "target": "smithy.api#String"
        },
        "retrieval_options": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseRetrievalOptions",
          "traits": {
            "smithy.api#documentation": "Metadata fields to boost search results by. Each entry specifies a metadata field and an optional direction. Direction defaults to ‘asc’ for numeric/datetime fields and ‘exists’ for text/boolean fields. Fields must match ‘timestamp’ or a defined custom_metadata field."
          }
        },
        "rewrite_model": {
          "target": "smithy.api#String"
        },
        "rewrite_query": {
          "target": "smithy.api#Boolean"
        },
        "score_threshold": {
          "target": "smithy.api#Double"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "source_params": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseSourceParams",
          "traits": {
            "smithy.api#documentation": "List of path patterns to exclude. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /admin/** matches /admin/users and /admin/settings/advanced). Most accounts are limited to 10 rules; contact support to raise it."
          }
        },
        "status": {
          "target": "smithy.api#String"
        },
        "sync_interval": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Interval between automatic syncs, in seconds. Allowed values: 900 (15min), 1800 (30min), 3600 (1h), 7200 (2h), 14400 (4h), 21600 (6h), 43200 (12h), 86400 (24h)."
          }
        },
        "token_id": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.ai_search#InstancesDeleteResponseType"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai_search#InstancesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_search#InstancesDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_search#InstancesDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/ai-search/instances/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Permanently delete an AI Search instance and all its indexed data.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ai_search#InstancesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemCacheThreshold": {
      "type": "enum",
      "members": {
        "SUPER_STRICT_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "super_strict_match"
          }
        },
        "CLOSE_ENOUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "close_enough"
          }
        },
        "FLEXIBLE_FRIEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flexible_friend"
          }
        },
        "ANYTHING_GOES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anything_goes"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemCustomMetadataItemDataType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datetime"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemCustomMetadataItem": {
      "type": "structure",
      "members": {
        "data_type": {
          "target": "com.cloudflare.ai_search#InstancesListResultItemCustomMetadataItemDataType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemCustomMetadataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesListResultItemCustomMetadataItem"
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemFusionMethod": {
      "type": "enum",
      "members": {
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "RRF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rrf"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemIndexMethod": {
      "type": "structure",
      "members": {
        "keyword": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "vector": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemIndexingOptionsKeywordTokenizer": {
      "type": "enum",
      "members": {
        "PORTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "porter"
          }
        },
        "TRIGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trigram"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemIndexingOptions": {
      "type": "structure",
      "members": {
        "keyword_tokenizer": {
          "target": "com.cloudflare.ai_search#InstancesListResultItemIndexingOptionsKeywordTokenizer"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemMetadata": {
      "type": "structure",
      "members": {
        "created_from_aisearch_wizard": {
          "target": "smithy.api#Boolean"
        },
        "worker_domain": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsAuthorizedHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsChatCompletionsEndpoint": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsCustomDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsMcp": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsRateLimitTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsRateLimit": {
      "type": "structure",
      "members": {
        "period_ms": {
          "target": "smithy.api#Double"
        },
        "requests": {
          "target": "smithy.api#Double"
        },
        "technique": {
          "target": "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsRateLimitTechnique"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsSearchEndpoint": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParams": {
      "type": "structure",
      "members": {
        "authorized_hosts": {
          "target": "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsAuthorizedHostsList"
        },
        "chat_completions_endpoint": {
          "target": "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsChatCompletionsEndpoint"
        },
        "custom_domains": {
          "target": "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsCustomDomainsList"
        },
        "default_domain_enabled": {
          "target": "smithy.api#Boolean"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "mcp": {
          "target": "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsMcp"
        },
        "rate_limit": {
          "target": "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsRateLimit"
        },
        "search_endpoint": {
          "target": "com.cloudflare.ai_search#InstancesListResultItemPublicEndpointParamsSearchEndpoint"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemRetrievalOptionsBoostByItemDataType": {
      "type": "enum",
      "members": {
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datetime"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesListResultItemRetrievalOptionsBoostByItemDirection": {
      "type": "enum",
      "members": {
[...]
