{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.ai_security#GetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_security#GetResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether AI Security for Apps is enabled on the zone."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai_security#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_security#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_security#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/ai-security/settings",
          "code": 200
        },
        "smithy.api#documentation": "Get the current AI Security for Apps status for the zone. While enabled, Cloudflare scans prompts sent to endpoints labeled `cf-llm` for personally identifiable information, unsafe topics, and prompt injection attempts.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ai_security#UpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether AI Security for Apps is enabled on the zone."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_security#UpdateResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether AI Security for Apps is enabled on the zone."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai_security#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_security#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_security#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/ai-security/settings",
          "code": 200
        },
        "smithy.api#documentation": "Update the AI Security for Apps status for the zone, enabling or disabling the detection. The detection results are exposed as `cf.llm.prompt.*` fields for use in custom rules and rate limiting rules; changes can take up to a minute to propagate.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ai_security#CustomTopicsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_security#CustomTopicsGetResponseTopicsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique label identifier. Must contain only lowercase letters (a–z), digits (0–9), and hyphens.",
            "smithy.api#required": {}
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the topic category. Must contain only printable ASCII characters.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_security#CustomTopicsGetResponseTopicsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_security#CustomTopicsGetResponseTopicsItem"
      }
    },
    "com.cloudflare.ai_security#CustomTopicsGetResponse": {
      "type": "structure",
      "members": {
        "topics": {
          "target": "com.cloudflare.ai_security#CustomTopicsGetResponseTopicsList",
          "traits": {
            "smithy.api#documentation": "Custom topic categories for AI Security for Apps content detection."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai_security#CustomTopicsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_security#CustomTopicsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_security#CustomTopicsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/ai-security/custom-topics",
          "code": 200
        },
        "smithy.api#documentation": "Get the custom topic categories defined for the zone. While AI Security for Apps is enabled, it scores every incoming prompt against these topics and writes the scores to the `cf.llm.prompt.custom_topic_categories` field, keyed by topic label. Topics can be configured while the detection is disabled, but no prompt is scored until you enable it.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdateRequestTopicsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique label identifier. Must contain only lowercase letters (a–z), digits (0–9), and hyphens.",
            "smithy.api#required": {}
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the topic category. Must contain only printable ASCII characters.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdateRequestTopicsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_security#CustomTopicsUpdateRequestTopicsItem"
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "topics": {
          "target": "com.cloudflare.ai_security#CustomTopicsUpdateRequestTopicsList",
          "traits": {
            "smithy.api#documentation": "Custom topic categories for AI Security for Apps content detection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdateResponseTopicsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique label identifier. Must contain only lowercase letters (a–z), digits (0–9), and hyphens.",
            "smithy.api#required": {}
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the topic category. Must contain only printable ASCII characters.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdateResponseTopicsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_security#CustomTopicsUpdateResponseTopicsItem"
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdateResponse": {
      "type": "structure",
      "members": {
        "topics": {
          "target": "com.cloudflare.ai_security#CustomTopicsUpdateResponseTopicsList",
          "traits": {
            "smithy.api#documentation": "Custom topic categories for AI Security for Apps content detection."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_security#CustomTopicsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_security#CustomTopicsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/ai-security/custom-topics",
          "code": 200
        },
        "smithy.api#documentation": "Update the custom topic list of the zone, overwriting it entirely with the topics in the request, so include every topic you want to keep. Changes can take up to a minute to propagate. Each entry has a `label`, used to reference the topic in rule expressions and analytics, and a `topic`description, which the classifier scores prompts against while AI Security for Apps is enabled. The following rules apply: * A zone can hold at most 20 topics. * `label` must be 2–20 characters, using only lowercase letters (a–z), digits (0–9), and hyphens. * `topic` must be 2–50 printable ASCII characters. * Labels must be unique within the zone, and so must topic descriptions.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ai_security#AiSecurity": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.ai_security#Get"
        },
        {
          "target": "com.cloudflare.ai_security#Update"
        },
        {
          "target": "com.cloudflare.ai_security#CustomTopicsGet"
        },
        {
          "target": "com.cloudflare.ai_security#CustomTopicsUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare AiSecurity",
        "smithy.api#documentation": "Cloudflare API — ai_security resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
