{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.api_gateway#ConfigurationsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "normalize": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ensures that the configuration is written or retrieved in normalized fashion",
            "smithy.api#httpQuery": "normalize"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsGetResponseAuthIdCharacteristicsItemType": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsGetResponseAuthIdCharacteristicsItemType2": {
      "type": "enum",
      "members": {
        "JWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jwt"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsGetResponseAuthIdCharacteristicsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the characteristic field, i.e., the header or cookie name.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.api_gateway#ConfigurationsGetResponseAuthIdCharacteristicsItemType",
          "traits": {
            "smithy.api#documentation": "The type of characteristic.",
            "smithy.api#required": {}
          }
        },
        "name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Claim location expressed as `$(token_config_id):$(json_path)`, where `token_config_id`is the ID of the token configuration used in validating the JWT, and `json_path` is a RFC 9535 JSONPath (<https://goessner.net/articles/JsonPath/>, <https://www.rfc-editor.org/rfc/rfc9535.html>). The JSONPath expression may be in dot or bracket notation, may only specify literal keys or array indexes, and must return a singleton value, which will be interpreted as a string.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "name"
          }
        },
        "type_2": {
          "target": "com.cloudflare.api_gateway#ConfigurationsGetResponseAuthIdCharacteristicsItemType2",
          "traits": {
            "smithy.api#documentation": "The type of characteristic.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsGetResponseAuthIdCharacteristicsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.api_gateway#ConfigurationsGetResponseAuthIdCharacteristicsItem"
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsGetResponse": {
      "type": "structure",
      "members": {
        "auth_id_characteristics": {
          "target": "com.cloudflare.api_gateway#ConfigurationsGetResponseAuthIdCharacteristicsList",
          "traits": {
            "smithy.api#documentation": "APIShieldAuthIDCharacteristic object { name, type }",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#ConfigurationsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#ConfigurationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/api_gateway/configuration",
          "code": 200
        },
        "smithy.api#documentation": "Returns the authentication identifier characteristics configured for the zone. Header, cookie, or JWT claim values identify distinct API sessions.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsUpdateRequestAuthIdCharacteristicsItemType": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsUpdateRequestAuthIdCharacteristicsItemType2": {
      "type": "enum",
      "members": {
        "JWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jwt"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsUpdateRequestAuthIdCharacteristicsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the characteristic field, i.e., the header or cookie name.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.api_gateway#ConfigurationsUpdateRequestAuthIdCharacteristicsItemType",
          "traits": {
            "smithy.api#documentation": "The type of characteristic.",
            "smithy.api#required": {}
          }
        },
        "name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Claim location expressed as `$(token_config_id):$(json_path)`, where `token_config_id`is the ID of the token configuration used in validating the JWT, and `json_path` is a RFC 9535 JSONPath (<https://goessner.net/articles/JsonPath/>, <https://www.rfc-editor.org/rfc/rfc9535.html>). The JSONPath expression may be in dot or bracket notation, may only specify literal keys or array indexes, and must return a singleton value, which will be interpreted as a string.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "name"
          }
        },
        "type_2": {
          "target": "com.cloudflare.api_gateway#ConfigurationsUpdateRequestAuthIdCharacteristicsItemType2",
          "traits": {
            "smithy.api#documentation": "The type of characteristic.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsUpdateRequestAuthIdCharacteristicsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.api_gateway#ConfigurationsUpdateRequestAuthIdCharacteristicsItem"
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "normalize": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ensures that the configuration is written or retrieved in normalized fashion",
            "smithy.api#httpQuery": "normalize"
          }
        },
        "auth_id_characteristics": {
          "target": "com.cloudflare.api_gateway#ConfigurationsUpdateRequestAuthIdCharacteristicsList",
          "traits": {
            "smithy.api#documentation": "APIShieldAuthIDCharacteristic object { name, type }",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsUpdateResponseAuthIdCharacteristicsItemType": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsUpdateResponseAuthIdCharacteristicsItemType2": {
      "type": "enum",
      "members": {
        "JWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jwt"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsUpdateResponseAuthIdCharacteristicsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the characteristic field, i.e., the header or cookie name.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.api_gateway#ConfigurationsUpdateResponseAuthIdCharacteristicsItemType",
          "traits": {
            "smithy.api#documentation": "The type of characteristic.",
            "smithy.api#required": {}
          }
        },
        "name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Claim location expressed as `$(token_config_id):$(json_path)`, where `token_config_id`is the ID of the token configuration used in validating the JWT, and `json_path` is a RFC 9535 JSONPath (<https://goessner.net/articles/JsonPath/>, <https://www.rfc-editor.org/rfc/rfc9535.html>). The JSONPath expression may be in dot or bracket notation, may only specify literal keys or array indexes, and must return a singleton value, which will be interpreted as a string.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "name"
          }
        },
        "type_2": {
          "target": "com.cloudflare.api_gateway#ConfigurationsUpdateResponseAuthIdCharacteristicsItemType2",
          "traits": {
            "smithy.api#documentation": "The type of characteristic.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsUpdateResponseAuthIdCharacteristicsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.api_gateway#ConfigurationsUpdateResponseAuthIdCharacteristicsItem"
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsUpdateResponse": {
      "type": "structure",
      "members": {
        "auth_id_characteristics": {
          "target": "com.cloudflare.api_gateway#ConfigurationsUpdateResponseAuthIdCharacteristicsList",
          "traits": {
            "smithy.api#documentation": "APIShieldAuthIDCharacteristic object { name, type }",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.api_gateway#ConfigurationsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#ConfigurationsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#ConfigurationsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/api_gateway/configuration",
          "code": 200
        },
        "smithy.api#documentation": "Replaces the zone’s authentication identifier characteristics used to identify distinct API sessions.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.api_gateway#DiscoveryGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#DiscoveryGetResponseSchemasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.api_gateway#DiscoveryGetResponse": {
      "type": "structure",
      "members": {
        "schemas": {
          "target": "com.cloudflare.api_gateway#DiscoveryGetResponseSchemasList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.api_gateway#DiscoveryGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#DiscoveryGetRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#DiscoveryGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/api_gateway/discovery",
          "code": 200
        },
        "smithy.api#documentation": "Returns the latest API operations discovered from zone traffic, rendered as OpenAPI schemas.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditRequestBodyValueState": {
      "type": "enum",
      "members": {
        "REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review"
          }
        },
        "IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ignored"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditRequestBodyValue": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditRequestBodyValueState",
          "traits": {
            "smithy.api#documentation": "Mark state of operation in API Discovery"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditRequestBodyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditRequestBodyValue"
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditRequestBodyMap",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditResultValueState": {
      "type": "enum",
      "members": {
        "REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review"
          }
        },
        "IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ignored"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditResultValue": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditResultValueState",
          "traits": {
            "smithy.api#documentation": "Mark state of operation in API Discovery"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditResultMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditResultValue"
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditResultMap",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsBulkEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#DiscoveryOperationsBulkEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/api_gateway/discovery/operations",
          "code": 200
        },
        "smithy.api#documentation": "Updates the state of one or more discovered web and API operations."
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListRequestHostList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListRequestMethodList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListRequestOrder": {
      "type": "enum",
      "members": {
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host"
          }
        },
        "METHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "method"
          }
        },
        "ENDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endpoint"
          }
        },
        "TRAFFIC_STATS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "traffic_stats.requests"
          }
        },
        "TRAFFIC_STATS_LAST_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "traffic_stats.last_updated"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListRequestOrigin": {
      "type": "enum",
      "members": {
        "ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML"
          }
        },
        "SESSIONIDENTIFIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SessionIdentifier"
          }
        },
        "LABELDISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LabelDiscovery"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListRequestState": {
      "type": "enum",
      "members": {
        "REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review"
          }
        },
        "SAVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saved"
          }
        },
        "IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ignored"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "diff": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When `true`, only return API Discovery results that are not saved into API Shield Endpoint Management",
            "smithy.api#httpQuery": "diff"
          }
        },
        "direction": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order results.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter results to only include endpoints containing this pattern.",
            "smithy.api#httpQuery": "endpoint"
          }
        },
        "host": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsListRequestHostList",
          "traits": {
            "smithy.api#documentation": "Filter results to only include the specified hosts.",
            "smithy.api#httpQuery": "host"
          }
        },
        "method": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsListRequestMethodList",
          "traits": {
            "smithy.api#documentation": "Filter results to only include the specified HTTP methods.",
            "smithy.api#httpQuery": "method"
          }
        },
        "order": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Field to order by",
            "smithy.api#httpQuery": "order"
          }
        },
        "origin": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsListRequestOrigin",
          "traits": {
            "smithy.api#documentation": "Filter results to only include discovery results sourced from a particular discovery engine",
            "smithy.api#httpQuery": "origin"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "state": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsListRequestState",
          "traits": {
            "smithy.api#documentation": "Filter results to only include discovery results in a particular state. States are as follows",
            "smithy.api#httpQuery": "state"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListResultItemMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECT"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACE"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListResultItemOriginItem": {
      "type": "enum",
      "members": {
        "ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML"
          }
        },
        "SESSIONIDENTIFIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SessionIdentifier"
          }
        },
        "LABELDISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LabelDiscovery"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListResultItemOriginList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.api_gateway#DiscoveryOperationsListResultItemOriginItem"
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListResultItemState": {
      "type": "enum",
      "members": {
        "REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review"
          }
        },
        "SAVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saved"
          }
        },
        "IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ignored"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListResultItemFeaturesTrafficStats": {
      "type": "structure",
      "members": {
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "period_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The period in seconds these statistics were computed over",
            "smithy.api#required": {}
          }
        },
        "requests": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The average number of requests seen during this period",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListResultItemFeatures": {
      "type": "structure",
      "members": {
        "traffic_stats": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsListResultItemFeaturesTrafficStats"
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint which can contain path parameter templates in curly braces, each will be replaced from left to right with {varN}, starting with {var1}, during insertion. This will further be Cloudflare-normalized upon insertion. See: <https://developers.cloudflare.com/rules/normalization/how-it-works/>.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RFC3986-compliant host.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsListResultItemMethod",
          "traits": {
            "smithy.api#documentation": "The HTTP method used to access the endpoint.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsListResultItemOriginList",
          "traits": {
            "smithy.api#documentation": "API discovery engine(s) that discovered this operation",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsListResultItemState",
          "traits": {
            "smithy.api#documentation": "State of operation in API Discovery",
            "smithy.api#required": {}
          }
        },
        "features": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsListResultItemFeatures"
        }
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.api_gateway#DiscoveryOperationsListResultItem"
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.api_gateway#DiscoveryOperationsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.api_gateway#DiscoveryOperationsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#DiscoveryOperationsListRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#DiscoveryOperationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/api_gateway/discovery/operations",
          "code": 200
        },
        "smithy.api#documentation": "Returns the latest web and API operations discovered from zone traffic.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.api_gateway#ExpressionTemplateFallthroughCreateRequestHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.api_gateway#ExpressionTemplateFallthroughCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hosts": {
          "target": "com.cloudflare.api_gateway#ExpressionTemplateFallthroughCreateRequestHostsList",
          "traits": {
            "smithy.api#documentation": "List of hosts to be targeted in the expression",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#ExpressionTemplateFallthroughCreateResponse": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WAF Expression for fallthrough",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title for the expression",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.api_gateway#ExpressionTemplateFallthroughCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#ExpressionTemplateFallthroughCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#ExpressionTemplateFallthroughCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/api_gateway/expression-template/fallthrough",
          "code": 200
        },
        "smithy.api#documentation": "Generates a WAF expression template that matches fallthrough traffic for the supplied API hosts. This operation is deprecated and should not be used for new integrations."
      }
    },
    "com.cloudflare.api_gateway#LabelsListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsListRequestOrder": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "description"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "LAST_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_updated"
          }
        },
        "MAPPED_RESOURCES_OPERATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mapped_resources.operations"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsListRequestSource": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.api_gateway#LabelsListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order results.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter for labels where the name or description matches using substring match",
            "smithy.api#httpQuery": "filter"
          }
        },
        "order": {
          "target": "com.cloudflare.api_gateway#LabelsListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Field to order by",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "source": {
          "target": "com.cloudflare.api_gateway#LabelsListRequestSource",
          "traits": {
            "smithy.api#documentation": "Filter for labels with source",
            "smithy.api#httpQuery": "source"
          }
        },
        "with_mapped_resource_counts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include `mapped_resources` for each label",
            "smithy.api#httpQuery": "with_mapped_resource_counts"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsListResultItemSource": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsListResultItem": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the label",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.api_gateway#LabelsListResultItemSource",
          "traits": {
            "smithy.api#documentation": "`user` - label is owned by the user",
            "smithy.api#required": {}
          }
        },
        "mapped_resources": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Provides counts of what resources are linked to this label"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.api_gateway#LabelsListResultItem"
      }
    },
    "com.cloudflare.api_gateway#LabelsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.api_gateway#LabelsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#LabelsListRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#LabelsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/api_gateway/labels",
          "code": 200
        },
        "smithy.api#documentation": "Returns all managed and user-defined labels available for web and API operations in the zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsManagedGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "with_mapped_resource_counts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include `mapped_resources` for each label",
            "smithy.api#httpQuery": "with_mapped_resource_counts"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsManagedGetResponseSource": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsManagedGetResponse": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the label",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.api_gateway#LabelsManagedGetResponseSource",
          "traits": {
            "smithy.api#documentation": "`user` - label is owned by the user",
            "smithy.api#required": {}
          }
        },
        "mapped_resources": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Provides counts of what resources are linked to this label"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.api_gateway#LabelsManagedGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#LabelsManagedGetRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#LabelsManagedGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/api_gateway/labels/managed/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Returns a managed label and the web and API operations associated with it.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsManagedResourcesOperationUpdateRequestSelectorIncludeOperationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.api_gateway#LabelsManagedResourcesOperationUpdateRequestSelectorInclude": {
      "type": "structure",
      "members": {
        "operation_ids": {
          "target": "com.cloudflare.api_gateway#LabelsManagedResourcesOperationUpdateRequestSelectorIncludeOperationIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsManagedResourcesOperationUpdateRequestSelector": {
      "type": "structure",
      "members": {
        "include": {
          "target": "com.cloudflare.api_gateway#LabelsManagedResourcesOperationUpdateRequestSelectorInclude",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsManagedResourcesOperationUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "selector": {
          "target": "com.cloudflare.api_gateway#LabelsManagedResourcesOperationUpdateRequestSelector",
          "traits": {
            "smithy.api#documentation": "Operation IDs selector",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsManagedResourcesOperationUpdateResponseSource": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsManagedResourcesOperationUpdateResponse": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the label",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.api_gateway#LabelsManagedResourcesOperationUpdateResponseSource",
          "traits": {
            "smithy.api#documentation": "`user` - label is owned by the user",
            "smithy.api#required": {}
          }
        },
        "mapped_resources": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Provides counts of what resources are linked to this label"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.api_gateway#LabelsManagedResourcesOperationUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#LabelsManagedResourcesOperationUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#LabelsManagedResourcesOperationUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/api_gateway/labels/managed/{name}/resources/operation",
          "code": 200
        },
        "smithy.api#documentation": "Replaces the complete set of web and API operations attached to the managed label.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkCreateRequestBodyItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label"
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the label"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkCreateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.api_gateway#LabelsUserBulkCreateRequestBodyItem"
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.api_gateway#LabelsUserBulkCreateRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkCreateResultItemSource": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkCreateResultItem": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the label",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.api_gateway#LabelsUserBulkCreateResultItemSource",
          "traits": {
            "smithy.api#documentation": "`user` - label is owned by the user",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkCreateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.api_gateway#LabelsUserBulkCreateResultItem"
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.api_gateway#LabelsUserBulkCreateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#LabelsUserBulkCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#LabelsUserBulkCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/api_gateway/labels/user",
          "code": 200
        },
        "smithy.api#documentation": "Creates one or more user-defined labels for classifying web and API operations."
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkDeleteResultItemSource": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkDeleteResultItem": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the label",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.api_gateway#LabelsUserBulkDeleteResultItemSource",
          "traits": {
            "smithy.api#documentation": "`user` - label is owned by the user",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkDeleteResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.api_gateway#LabelsUserBulkDeleteResultItem"
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.api_gateway#LabelsUserBulkDeleteResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserBulkDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#LabelsUserBulkDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#LabelsUserBulkDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/api_gateway/labels/user",
          "code": 200
        },
        "smithy.api#documentation": "Deletes one or more user-defined labels and removes their associations with web and API operations.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserDeleteResponseSource": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsUserDeleteResponse": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the label",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.api_gateway#LabelsUserDeleteResponseSource",
          "traits": {
            "smithy.api#documentation": "`user` - label is owned by the user",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.api_gateway#LabelsUserDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#LabelsUserDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#LabelsUserDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/api_gateway/labels/user/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a user-defined label and removes its associations with web and API operations.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label"
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the label"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserEditResponseSource": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsUserEditResponse": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the label",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.api_gateway#LabelsUserEditResponseSource",
          "traits": {
            "smithy.api#documentation": "`user` - label is owned by the user",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.api_gateway#LabelsUserEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#LabelsUserEditRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#LabelsUserEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/api_gateway/labels/user/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Updates only the supplied fields on a user-defined label."
      }
    },
    "com.cloudflare.api_gateway#LabelsUserGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "with_mapped_resource_counts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include `mapped_resources` for each label",
            "smithy.api#httpQuery": "with_mapped_resource_counts"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserGetResponseSource": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsUserGetResponse": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the label",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.api_gateway#LabelsUserGetResponseSource",
          "traits": {
            "smithy.api#documentation": "`user` - label is owned by the user",
            "smithy.api#required": {}
          }
        },
        "mapped_resources": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Provides counts of what resources are linked to this label"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.api_gateway#LabelsUserGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#LabelsUserGetRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#LabelsUserGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/api_gateway/labels/user/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Returns a user-defined label and the web and API operations associated with it.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label"
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the label"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserUpdateResponseSource": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsUserUpdateResponse": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the label",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.api_gateway#LabelsUserUpdateResponseSource",
          "traits": {
            "smithy.api#documentation": "`user` - label is owned by the user",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.api_gateway#LabelsUserUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#LabelsUserUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#LabelsUserUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/api_gateway/labels/user/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Replaces all editable fields on a user-defined label.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserResourcesOperationUpdateRequestSelectorIncludeOperationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.api_gateway#LabelsUserResourcesOperationUpdateRequestSelectorInclude": {
      "type": "structure",
      "members": {
        "operation_ids": {
          "target": "com.cloudflare.api_gateway#LabelsUserResourcesOperationUpdateRequestSelectorIncludeOperationIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsUserResourcesOperationUpdateRequestSelector": {
      "type": "structure",
      "members": {
        "include": {
          "target": "com.cloudflare.api_gateway#LabelsUserResourcesOperationUpdateRequestSelectorInclude",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsUserResourcesOperationUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "selector": {
          "target": "com.cloudflare.api_gateway#LabelsUserResourcesOperationUpdateRequestSelector",
          "traits": {
            "smithy.api#documentation": "Operation IDs selector",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#LabelsUserResourcesOperationUpdateResponseSource": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#LabelsUserResourcesOperationUpdateResponse": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the label",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the label",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.api_gateway#LabelsUserResourcesOperationUpdateResponseSource",
          "traits": {
            "smithy.api#documentation": "`user` - label is owned by the user",
            "smithy.api#required": {}
          }
        },
        "mapped_resources": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Provides counts of what resources are linked to this label"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.api_gateway#LabelsUserResourcesOperationUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#LabelsUserResourcesOperationUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#LabelsUserResourcesOperationUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/api_gateway/labels/user/{name}/resources/operation",
          "code": 200
        },
        "smithy.api#documentation": "Replaces the complete set of web and API operations attached to the user-defined label.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateRequestBodyItemMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECT"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACE"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateRequestBodyItem": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint which can contain path parameter templates in curly braces, each will be replaced from left to right with {varN}, starting with {var1}, during insertion. This will further be Cloudflare-normalized upon insertion. See: <https://developers.cloudflare.com/rules/normalization/how-it-works/>.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RFC3986-compliant host.",
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateRequestBodyItemMethod",
          "traits": {
            "smithy.api#documentation": "The HTTP method used to access the endpoint.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.api_gateway#OperationsBulkCreateRequestBodyItem"
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECT"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACE"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsParameterSchemasParameterSchemasParametersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsParameterSchemasParameterSchemas": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsParameterSchemasParameterSchemasParametersList",
          "traits": {
            "smithy.api#documentation": "An array containing the learned parameter schemas."
          }
        },
        "responses": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An empty response object. This field is required to yield a valid operation schema."
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsParameterSchemas": {
      "type": "structure",
      "members": {
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "parameter_schemas": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsParameterSchemasParameterSchemas",
          "traits": {
            "smithy.api#documentation": "An operation schema object containing a response."
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsApiRouting": {
      "type": "structure",
      "members": {
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "route": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target route."
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsConfidenceIntervalsSuggestedThresholdConfidenceIntervalsP90": {
      "type": "structure",
      "members": {
        "lower": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Lower bound for percentile estimate"
          }
        },
        "upper": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Upper bound for percentile estimate"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsConfidenceIntervalsSuggestedThresholdConfidenceIntervalsP95": {
      "type": "structure",
      "members": {
        "lower": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Lower bound for percentile estimate"
          }
        },
        "upper": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Upper bound for percentile estimate"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsConfidenceIntervalsSuggestedThresholdConfidenceIntervalsP99": {
      "type": "structure",
      "members": {
        "lower": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Lower bound for percentile estimate"
          }
        },
        "upper": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Upper bound for percentile estimate"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsConfidenceIntervalsSuggestedThresholdConfidenceIntervals": {
      "type": "structure",
      "members": {
        "p90": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsConfidenceIntervalsSuggestedThresholdConfidenceIntervalsP90",
          "traits": {
            "smithy.api#documentation": "Upper and lower bound for percentile estimate"
          }
        },
        "p95": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsConfidenceIntervalsSuggestedThresholdConfidenceIntervalsP95",
          "traits": {
            "smithy.api#documentation": "Upper and lower bound for percentile estimate"
          }
        },
        "p99": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsConfidenceIntervalsSuggestedThresholdConfidenceIntervalsP99",
          "traits": {
            "smithy.api#documentation": "Upper and lower bound for percentile estimate"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsConfidenceIntervalsSuggestedThreshold": {
      "type": "structure",
      "members": {
        "confidence_intervals": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsConfidenceIntervalsSuggestedThresholdConfidenceIntervals"
        },
        "mean": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Suggested threshold."
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsConfidenceIntervals": {
      "type": "structure",
      "members": {
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "suggested_threshold": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsConfidenceIntervalsSuggestedThreshold"
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsSchemaInfoActiveSchema": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsSchemaInfo": {
      "type": "structure",
      "members": {
        "active_schema": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsSchemaInfoActiveSchema",
          "traits": {
            "smithy.api#documentation": "Schema active on endpoint."
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsMitigationAction": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholds": {
      "type": "structure",
      "members": {
        "auth_id_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total number of auth-ids seen across this calculation."
          }
        },
        "data_points": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of data points used for the threshold suggestion calculation."
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "p50": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The p50 quantile of requests (in period_seconds)."
          }
        },
        "p90": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The p90 quantile of requests (in period_seconds)."
          }
        },
        "p99": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The p99 quantile of requests (in period_seconds)."
          }
        },
        "period_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The period over which this threshold is suggested."
          }
        },
        "requests": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The estimated number of requests covered by these calculations."
          }
        },
        "suggested_threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The suggested threshold in requests done by the same auth_id or period_seconds."
          }
        },
        "parameter_schemas": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsParameterSchemas",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "api_routing": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsApiRouting",
          "traits": {
            "smithy.api#documentation": "API Routing settings on endpoint."
          }
        },
        "confidence_intervals": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsConfidenceIntervals"
        },
        "schema_info": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsSchemaInfo"
        },
        "Deprecatedis_learned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated. Always false."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema file name."
          }
        },
        "learned_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated. Always false."
          }
        },
        "mitigation_action": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholdsMitigationAction",
          "traits": {
            "smithy.api#documentation": "Action taken on requests failing validation."
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultItem": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint which can contain path parameter templates in curly braces, each will be replaced from left to right with {varN}, starting with {var1}, during insertion. This will further be Cloudflare-normalized upon insertion. See: <https://developers.cloudflare.com/rules/normalization/how-it-works/>.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RFC3986-compliant host.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemMethod",
          "traits": {
            "smithy.api#documentation": "The HTTP method used to access the endpoint.",
            "smithy.api#required": {}
          }
        },
        "operation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#required": {}
          }
        },
        "features": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "APIShieldOperationFeatureThresholds object { thresholds }"
          }
        },
        "thresholds": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItemThresholds"
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultItem"
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.api_gateway#OperationsBulkCreateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.api_gateway#OperationsBulkCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.api_gateway#OperationsBulkCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/api_gateway/operations",
          "code": 200
        },
        "smithy.api#documentation": "Creates one or more web or API operations. Hosts, methods, and paths are normalized; an existing matching operation is returned instead of duplicated."
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkDeleteResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkDeleteResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.api_gateway#OperationsBulkDeleteResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.api_gateway#OperationsBulkDeleteResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.api_gateway#OperationsBulkDeleteResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
[...]
