{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.bot_management#GetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.bot_management#GetResponse": {
      "type": "structure",
      "members": {
        "BotFightModeConfiguration_object___ai_bots_protection__cf_robots_variant__content_bots_protection__6_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BotFightModeConfiguration object { ai_bots_protection, cf_robots_variant, content_bots_protection, 6 more }"
          }
        },
        "SuperBotFightModeDefinitelyConfiguration_object___ai_bots_protection__cf_robots_variant__content_bots_protection__9_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SuperBotFightModeDefinitelyConfiguration object { ai_bots_protection, cf_robots_variant, content_bots_protection, 9 more }"
          }
        },
        "SuperBotFightModeLikelyConfiguration_object___ai_bots_protection__cf_robots_variant__content_bots_protection__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SuperBotFightModeLikelyConfiguration object { ai_bots_protection, cf_robots_variant, content_bots_protection, 10 more }"
          }
        },
        "SubscriptionConfiguration_object___ai_bots_protection__auto_update_model__bm_cookie_enabled__8_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SubscriptionConfiguration object { ai_bots_protection, auto_update_model, bm_cookie_enabled, 8 more }"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.bot_management#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.bot_management#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.bot_management#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/bot_management",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a zone's Bot Management Config",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.bot_management#UpdateRequestBody": {
      "type": "structure",
      "members": {
        "BotFightModeConfiguration_object___ai_bots_protection__cf_robots_variant__content_bots_protection__6_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BotFightModeConfiguration object { ai_bots_protection, cf_robots_variant, content_bots_protection, 6 more }"
          }
        },
        "SuperBotFightModeDefinitelyConfiguration_object___ai_bots_protection__cf_robots_variant__content_bots_protection__9_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SuperBotFightModeDefinitelyConfiguration object { ai_bots_protection, cf_robots_variant, content_bots_protection, 9 more }"
          }
        },
        "SuperBotFightModeLikelyConfiguration_object___ai_bots_protection__cf_robots_variant__content_bots_protection__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SuperBotFightModeLikelyConfiguration object { ai_bots_protection, cf_robots_variant, content_bots_protection, 10 more }"
          }
        },
        "SubscriptionConfiguration_object___ai_bots_protection__auto_update_model__bm_cookie_enabled__8_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SubscriptionConfiguration object { ai_bots_protection, auto_update_model, bm_cookie_enabled, 8 more }"
          }
        }
      }
    },
    "com.cloudflare.bot_management#UpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.bot_management#UpdateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.bot_management#UpdateResponse": {
      "type": "structure",
      "members": {
        "BotFightModeConfiguration_object___ai_bots_protection__cf_robots_variant__content_bots_protection__6_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BotFightModeConfiguration object { ai_bots_protection, cf_robots_variant, content_bots_protection, 6 more }"
          }
        },
        "SuperBotFightModeDefinitelyConfiguration_object___ai_bots_protection__cf_robots_variant__content_bots_protection__9_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SuperBotFightModeDefinitelyConfiguration object { ai_bots_protection, cf_robots_variant, content_bots_protection, 9 more }"
          }
        },
        "SuperBotFightModeLikelyConfiguration_object___ai_bots_protection__cf_robots_variant__content_bots_protection__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SuperBotFightModeLikelyConfiguration object { ai_bots_protection, cf_robots_variant, content_bots_protection, 10 more }"
          }
        },
        "SubscriptionConfiguration_object___ai_bots_protection__auto_update_model__bm_cookie_enabled__8_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SubscriptionConfiguration object { ai_bots_protection, auto_update_model, bm_cookie_enabled, 8 more }"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.bot_management#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.bot_management#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.bot_management#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/bot_management",
          "code": 200
        },
        "smithy.api#documentation": "Updates the Bot Management configuration for a zone. This API is used to update: - **Bot Fight Mode** - **Super Bot Fight Mode** - **Bot Management for Enterprise** See [Bot Plans](https://developers.cloudflare.com/bots/plans/) for more information on the different plans \\ If you recently upgraded or downgraded your plan, refer to the following examples to clean up old configurations. Copy and paste the example body to remove old zone configurations based on your current plan. #### Clean up configuration for Bot Fight Mode plan ```json { \"sbfm_likely_automated\": \"allow\", \"sbfm_definitely_automated\": \"allow\", \"sbfm_verified_bots\": \"allow\", \"sbfm_static_resource_protection\": false, \"optimize_wordpress\": false, \"suppress_session_score\": false } ``` #### Clean up configuration for SBFM Pro plan ```json { \"sbfm_likely_automated\": \"allow\", \"fight_mode\": false } ``` #### Clean up configuration for SBFM Biz plan ```json { \"fight_mode\": false } ``` #### Clean up configuration for BM Enterprise Subscription plan It is strongly recommended that you ensure you have [custom rules](https://developers.cloudflare.com/waf/custom-rules/) in place to protect your zone before disabling the SBFM rules. Without these protections, your zone is vulnerable to attacks. ```json { \"sbfm_likely_automated\": \"allow\", \"sbfm_definitely_automated\": \"allow\", \"sbfm_verified_bots\": \"allow\", \"sbfm_static_resource_protection\": false, \"optimize_wordpress\": false, \"fight_mode\": false } ```",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.bot_management#FeedbackCreateRequestRequestsByAttribute": {
      "type": "structure",
      "members": {
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requests": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.bot_management#FeedbackCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Wirefilter expression describing the traffic being reported.",
            "smithy.api#required": {}
          }
        },
        "first_request_seen_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_request_seen_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requests": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requests_by_attribute": {
          "target": "com.cloudflare.bot_management#FeedbackCreateRequestRequestsByAttribute",
          "traits": {
            "smithy.api#documentation": "Top attributes contributing to the feedback sample. Keys include topASNs, topCountries, topHosts, topIPs, topJA3Hashes, topJA4s, topPaths, topUserAgents.",
            "smithy.api#required": {}
          }
        },
        "requests_by_score": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Map of bot scores (1-99) to request counts. Sum must equal `requests`.",
            "smithy.api#required": {}
          }
        },
        "requests_by_score_src": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Map of score source to request counts. Sum must equal `requests`.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Type of feedback report.",
            "smithy.api#required": {}
          }
        },
        "subtype": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.bot_management#FeedbackCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.bot_management#FeedbackCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/bot_management/feedback",
          "code": 200
        },
        "smithy.api#documentation": "Submit a feedback report for the specified zone. Use `type` to indicate whether the report is a false positive (good traffic flagged as bot) or a false negative (bot traffic missed). Furthermore, you can also use `expression` as a wirefilter to identify the affected traffic sample. See more accepted API fields and expression types at https://developers.cloudflare.com/bots/concepts/feedback-loop/#api-fields and https://developers.cloudflare.com/bots/concepts/feedback-loop/#expression-fields, respectively."
      }
    },
    "com.cloudflare.bot_management#FeedbackListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.bot_management#FeedbackListResponseRequestsByAttribute": {
      "type": "structure",
      "members": {
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requests": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.bot_management#FeedbackListResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Wirefilter expression describing the traffic being reported.",
            "smithy.api#required": {}
          }
        },
        "first_request_seen_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_request_seen_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requests": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requests_by_attribute": {
          "target": "com.cloudflare.bot_management#FeedbackListResponseRequestsByAttribute",
          "traits": {
            "smithy.api#documentation": "Top attributes contributing to the feedback sample. Keys include topASNs, topCountries, topHosts, topIPs, topJA3Hashes, topJA4s, topPaths, topUserAgents.",
            "smithy.api#required": {}
          }
        },
        "requests_by_score": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Map of bot scores (1-99) to request counts. Sum must equal `requests`.",
            "smithy.api#required": {}
          }
        },
        "requests_by_score_src": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Map of score source to request counts. Sum must equal `requests`.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Type of feedback report.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "subtype": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.bot_management#FeedbackList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.bot_management#FeedbackListRequest"
      },
      "output": {
        "target": "com.cloudflare.bot_management#FeedbackListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/bot_management/feedback",
          "code": 200
        },
        "smithy.api#documentation": "Returns all feedback reports previously submitted for the specified zone. Feedback reports help improve detection by sharing samples of traffic that were misclassified as bots or humans.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.bot_management#BotManagement": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.bot_management#Get"
        },
        {
          "target": "com.cloudflare.bot_management#Update"
        },
        {
          "target": "com.cloudflare.bot_management#FeedbackCreate"
        },
        {
          "target": "com.cloudflare.bot_management#FeedbackList"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare BotManagement",
        "smithy.api#documentation": "Cloudflare API — bot_management resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
