{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AddScriptTagItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AddScriptTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AddScriptTagItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AddStyleTagItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AddStyleTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AddStyleTagItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AllowRequestPatternList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AllowResourceTypesItem": {
      "type": "enum",
      "members": {
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "STYLESHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stylesheet"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media"
          }
        },
        "FONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "font"
          }
        },
        "SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "script"
          }
        },
        "TEXTTRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "texttrack"
          }
        },
        "XHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhr"
          }
        },
        "FETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fetch"
          }
        },
        "PREFETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prefetch"
          }
        },
        "EVENTSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventsource"
          }
        },
        "WEBSOCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "websocket"
          }
        },
        "MANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manifest"
          }
        },
        "SIGNEDEXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signedexchange"
          }
        },
        "PING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ping"
          }
        },
        "CSPVIOLATIONREPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cspviolationreport"
          }
        },
        "PREFLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preflight"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AllowResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AllowResourceTypesItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0Authenticate": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0CookiesItemPriority": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0CookiesItemSameSite": {
      "type": "enum",
      "members": {
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0CookiesItemSourceScheme": {
      "type": "enum",
      "members": {
        "UNSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unset"
          }
        },
        "NONSECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonSecure"
          }
        },
        "SECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secure"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0CookiesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cookie name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "expires": {
          "target": "smithy.api#Double"
        },
        "httpOnly": {
          "target": "smithy.api#Boolean"
        },
        "partitionKey": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "priority": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0CookiesItemPriority"
        },
        "sameParty": {
          "target": "smithy.api#Boolean"
        },
        "sameSite": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0CookiesItemSameSite"
        },
        "secure": {
          "target": "smithy.api#Boolean"
        },
        "sourcePort": {
          "target": "smithy.api#Double"
        },
        "sourceScheme": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0CookiesItemSourceScheme"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0CookiesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0CookiesItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0GotoOptionsWaitUntilCase0": {
      "type": "enum",
      "members": {
        "LOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load"
          }
        },
        "DOMCONTENTLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domcontentloaded"
          }
        },
        "NETWORKIDLE0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle0"
          }
        },
        "NETWORKIDLE2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle2"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0GotoOptionsWaitUntilCase1Item": {
      "type": "enum",
      "members": {
        "LOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load"
          }
        },
        "DOMCONTENTLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domcontentloaded"
          }
        },
        "NETWORKIDLE0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle0"
          }
        },
        "NETWORKIDLE2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle2"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0GotoOptionsWaitUntilCase1List": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0GotoOptionsWaitUntilCase1Item"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0GotoOptionsWaitUntil": {
      "type": "union",
      "members": {
        "ContentCreateRequestBodyCase0GotoOptionsWaitUntilCase0": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0GotoOptionsWaitUntilCase0"
        },
        "ContentCreateRequestBodyCase0GotoOptionsWaitUntilCase1List": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0GotoOptionsWaitUntilCase1List"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0GotoOptions": {
      "type": "structure",
      "members": {
        "referer": {
          "target": "smithy.api#String"
        },
        "referrerPolicy": {
          "target": "smithy.api#String"
        },
        "timeout": {
          "target": "smithy.api#Double"
        },
        "waitUntil": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0GotoOptionsWaitUntil"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0RejectRequestPatternList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0RejectResourceTypesItem": {
      "type": "enum",
      "members": {
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "STYLESHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stylesheet"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media"
          }
        },
        "FONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "font"
          }
        },
        "SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "script"
          }
        },
        "TEXTTRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "texttrack"
          }
        },
        "XHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhr"
          }
        },
        "FETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fetch"
          }
        },
        "PREFETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prefetch"
          }
        },
        "EVENTSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventsource"
          }
        },
        "WEBSOCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "websocket"
          }
        },
        "MANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manifest"
          }
        },
        "SIGNEDEXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signedexchange"
          }
        },
        "PING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ping"
          }
        },
        "CSPVIOLATIONREPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cspviolationreport"
          }
        },
        "PREFLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preflight"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0RejectResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0RejectResourceTypesItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0SetExtraHTTPHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0Viewport": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deviceScaleFactor": {
          "target": "smithy.api#Double"
        },
        "hasTouch": {
          "target": "smithy.api#Boolean"
        },
        "isLandscape": {
          "target": "smithy.api#Boolean"
        },
        "isMobile": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0WaitForSelector": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean"
        },
        "timeout": {
          "target": "smithy.api#Double"
        },
        "visible": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to navigate to, eg. `https://example.com`.",
            "smithy.api#required": {}
          }
        },
        "actionTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum duration allowed for the browser action to complete after the page has loaded (such as taking screenshots, extracting content, or generating PDFs). If this time limit is exceeded, the action stops and returns a timeout error."
          }
        },
        "addScriptTag": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AddScriptTagList",
          "traits": {
            "smithy.api#documentation": "Adds a `<script>` tag into the page with the desired URL or content."
          }
        },
        "addStyleTag": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AddStyleTagList",
          "traits": {
            "smithy.api#documentation": "Adds a `<link rel=\"stylesheet\">` tag into the page with the desired URL or a `<style type=\"text/css\">` tag with the content."
          }
        },
        "allowRequestPattern": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AllowRequestPatternList",
          "traits": {
            "smithy.api#documentation": "Only allow requests that match the provided regex patterns, eg. '/^.*.(css)'."
          }
        },
        "allowResourceTypes": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0AllowResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Only allow requests that match the provided resource types, eg. 'image' or 'script'."
          }
        },
        "authenticate": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0Authenticate",
          "traits": {
            "smithy.api#documentation": "Provide credentials for HTTP authentication."
          }
        },
        "bestAttempt": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Attempt to proceed when 'awaited' events fail or timeout."
          }
        },
        "cookies": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0CookiesList",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.page.setcookie)."
          }
        },
        "emulateMediaType": {
          "target": "smithy.api#String"
        },
        "gotoOptions": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0GotoOptions",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.gotooptions)."
          }
        },
        "rejectRequestPattern": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0RejectRequestPatternList",
          "traits": {
            "smithy.api#documentation": "Block undesired requests that match the provided regex patterns, eg. '/^.*.(css)'."
          }
        },
        "rejectResourceTypes": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0RejectResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Block undesired requests that match the provided resource types, eg. 'image' or 'script'."
          }
        },
        "setExtraHTTPHeaders": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0SetExtraHTTPHeadersMap"
        },
        "setJavaScriptEnabled": {
          "target": "smithy.api#Boolean"
        },
        "userAgent": {
          "target": "smithy.api#String"
        },
        "viewport": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0Viewport",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.page.setviewport)."
          }
        },
        "waitForSelector": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0WaitForSelector",
          "traits": {
            "smithy.api#documentation": "Wait for the selector to appear in page. Check [options](https://pptr.dev/api/puppeteer.page.waitforselector)."
          }
        },
        "waitForTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Waits for a specified timeout before continuing."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AddScriptTagItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AddScriptTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AddScriptTagItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AddStyleTagItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AddStyleTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AddStyleTagItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AllowRequestPatternList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AllowResourceTypesItem": {
      "type": "enum",
      "members": {
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "STYLESHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stylesheet"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media"
          }
        },
        "FONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "font"
          }
        },
        "SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "script"
          }
        },
        "TEXTTRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "texttrack"
          }
        },
        "XHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhr"
          }
        },
        "FETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fetch"
          }
        },
        "PREFETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prefetch"
          }
        },
        "EVENTSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventsource"
          }
        },
        "WEBSOCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "websocket"
          }
        },
        "MANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manifest"
          }
        },
        "SIGNEDEXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signedexchange"
          }
        },
        "PING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ping"
          }
        },
        "CSPVIOLATIONREPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cspviolationreport"
          }
        },
        "PREFLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preflight"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AllowResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AllowResourceTypesItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1Authenticate": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1CookiesItemPriority": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1CookiesItemSameSite": {
      "type": "enum",
      "members": {
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1CookiesItemSourceScheme": {
      "type": "enum",
      "members": {
        "UNSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unset"
          }
        },
        "NONSECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonSecure"
          }
        },
        "SECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secure"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1CookiesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cookie name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "expires": {
          "target": "smithy.api#Double"
        },
        "httpOnly": {
          "target": "smithy.api#Boolean"
        },
        "partitionKey": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "priority": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1CookiesItemPriority"
        },
        "sameParty": {
          "target": "smithy.api#Boolean"
        },
        "sameSite": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1CookiesItemSameSite"
        },
        "secure": {
          "target": "smithy.api#Boolean"
        },
        "sourcePort": {
          "target": "smithy.api#Double"
        },
        "sourceScheme": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1CookiesItemSourceScheme"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1CookiesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1CookiesItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1GotoOptionsWaitUntilCase0": {
      "type": "enum",
      "members": {
        "LOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load"
          }
        },
        "DOMCONTENTLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domcontentloaded"
          }
        },
        "NETWORKIDLE0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle0"
          }
        },
        "NETWORKIDLE2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle2"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1GotoOptionsWaitUntilCase1Item": {
      "type": "enum",
      "members": {
        "LOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load"
          }
        },
        "DOMCONTENTLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domcontentloaded"
          }
        },
        "NETWORKIDLE0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle0"
          }
        },
        "NETWORKIDLE2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle2"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1GotoOptionsWaitUntilCase1List": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1GotoOptionsWaitUntilCase1Item"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1GotoOptionsWaitUntil": {
      "type": "union",
      "members": {
        "ContentCreateRequestBodyCase1GotoOptionsWaitUntilCase0": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1GotoOptionsWaitUntilCase0"
        },
        "ContentCreateRequestBodyCase1GotoOptionsWaitUntilCase1List": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1GotoOptionsWaitUntilCase1List"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1GotoOptions": {
      "type": "structure",
      "members": {
        "referer": {
          "target": "smithy.api#String"
        },
        "referrerPolicy": {
          "target": "smithy.api#String"
        },
        "timeout": {
          "target": "smithy.api#Double"
        },
        "waitUntil": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1GotoOptionsWaitUntil"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1RejectRequestPatternList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1RejectResourceTypesItem": {
      "type": "enum",
      "members": {
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "STYLESHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stylesheet"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media"
          }
        },
        "FONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "font"
          }
        },
        "SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "script"
          }
        },
        "TEXTTRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "texttrack"
          }
        },
        "XHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhr"
          }
        },
        "FETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fetch"
          }
        },
        "PREFETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prefetch"
          }
        },
        "EVENTSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventsource"
          }
        },
        "WEBSOCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "websocket"
          }
        },
        "MANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manifest"
          }
        },
        "SIGNEDEXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signedexchange"
          }
        },
        "PING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ping"
          }
        },
        "CSPVIOLATIONREPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cspviolationreport"
          }
        },
        "PREFLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preflight"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1RejectResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1RejectResourceTypesItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1SetExtraHTTPHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1Viewport": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deviceScaleFactor": {
          "target": "smithy.api#Double"
        },
        "hasTouch": {
          "target": "smithy.api#Boolean"
        },
        "isLandscape": {
          "target": "smithy.api#Boolean"
        },
        "isMobile": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1WaitForSelector": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean"
        },
        "timeout": {
          "target": "smithy.api#Double"
        },
        "visible": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1": {
      "type": "structure",
      "members": {
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the content of the page, eg: `<h1>Hello World!!</h1>`. Either `html` or `url` must be set.",
            "smithy.api#required": {}
          }
        },
        "actionTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum duration allowed for the browser action to complete after the page has loaded (such as taking screenshots, extracting content, or generating PDFs). If this time limit is exceeded, the action stops and returns a timeout error."
          }
        },
        "addScriptTag": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AddScriptTagList",
          "traits": {
            "smithy.api#documentation": "Adds a `<script>` tag into the page with the desired URL or content."
          }
        },
        "addStyleTag": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AddStyleTagList",
          "traits": {
            "smithy.api#documentation": "Adds a `<link rel=\"stylesheet\">` tag into the page with the desired URL or a `<style type=\"text/css\">` tag with the content."
          }
        },
        "allowRequestPattern": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AllowRequestPatternList",
          "traits": {
            "smithy.api#documentation": "Only allow requests that match the provided regex patterns, eg. '/^.*.(css)'."
          }
        },
        "allowResourceTypes": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1AllowResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Only allow requests that match the provided resource types, eg. 'image' or 'script'."
          }
        },
        "authenticate": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1Authenticate",
          "traits": {
            "smithy.api#documentation": "Provide credentials for HTTP authentication."
          }
        },
        "bestAttempt": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Attempt to proceed when 'awaited' events fail or timeout."
          }
        },
        "cookies": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1CookiesList",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.page.setcookie)."
          }
        },
        "emulateMediaType": {
          "target": "smithy.api#String"
        },
        "gotoOptions": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1GotoOptions",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.gotooptions)."
          }
        },
        "rejectRequestPattern": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1RejectRequestPatternList",
          "traits": {
            "smithy.api#documentation": "Block undesired requests that match the provided regex patterns, eg. '/^.*.(css)'."
          }
        },
        "rejectResourceTypes": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1RejectResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Block undesired requests that match the provided resource types, eg. 'image' or 'script'."
          }
        },
        "setExtraHTTPHeaders": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1SetExtraHTTPHeadersMap"
        },
        "setJavaScriptEnabled": {
          "target": "smithy.api#Boolean"
        },
        "userAgent": {
          "target": "smithy.api#String"
        },
        "viewport": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1Viewport",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.page.setviewport)."
          }
        },
        "waitForSelector": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1WaitForSelector",
          "traits": {
            "smithy.api#documentation": "Wait for the selector to appear in page. Check [options](https://pptr.dev/api/puppeteer.page.waitforselector)."
          }
        },
        "waitForTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Waits for a specified timeout before continuing."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBody": {
      "type": "union",
      "members": {
        "ContentCreateRequestBodyCase0": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase0"
        },
        "ContentCreateRequestBodyCase1": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCase1"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "body": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBody",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.browser_rendering#ContentCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#ContentCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/content",
          "code": 200
        },
        "smithy.api#documentation": "Fetches rendered HTML content from provided URL or HTML. Check available options like `gotoOptions` and `waitFor*` to control page load behaviour."
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AddScriptTagItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AddScriptTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AddScriptTagItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AddStyleTagItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AddStyleTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AddStyleTagItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AllowRequestPatternList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AllowResourceTypesItem": {
      "type": "enum",
      "members": {
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "STYLESHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stylesheet"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media"
          }
        },
        "FONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "font"
          }
        },
        "SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "script"
          }
        },
        "TEXTTRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "texttrack"
          }
        },
        "XHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhr"
          }
        },
        "FETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fetch"
          }
        },
        "PREFETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prefetch"
          }
        },
        "EVENTSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventsource"
          }
        },
        "WEBSOCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "websocket"
          }
        },
        "MANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manifest"
          }
        },
        "SIGNEDEXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signedexchange"
          }
        },
        "PING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ping"
          }
        },
        "CSPVIOLATIONREPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cspviolationreport"
          }
        },
        "PREFLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preflight"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AllowResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AllowResourceTypesItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0Authenticate": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CookiesItemPriority": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CookiesItemSameSite": {
      "type": "enum",
      "members": {
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CookiesItemSourceScheme": {
      "type": "enum",
      "members": {
        "UNSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unset"
          }
        },
        "NONSECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonSecure"
          }
        },
        "SECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secure"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CookiesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cookie name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "expires": {
          "target": "smithy.api#Double"
        },
        "httpOnly": {
          "target": "smithy.api#Boolean"
        },
        "partitionKey": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "priority": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CookiesItemPriority"
        },
        "sameParty": {
          "target": "smithy.api#Boolean"
        },
        "sameSite": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CookiesItemSameSite"
        },
        "secure": {
          "target": "smithy.api#Boolean"
        },
        "sourcePort": {
          "target": "smithy.api#Double"
        },
        "sourceScheme": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CookiesItemSourceScheme"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CookiesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CookiesItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CrawlPurposesItem": {
      "type": "enum",
      "members": {
        "SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "search"
          }
        },
        "AI_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-input"
          }
        },
        "AI_TRAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-train"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CrawlPurposesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CrawlPurposesItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0FormatsItem": {
      "type": "enum",
      "members": {
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "html"
          }
        },
        "MARKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "markdown"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0FormatsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0FormatsItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0GotoOptionsWaitUntilCase0": {
      "type": "enum",
      "members": {
        "LOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load"
          }
        },
        "DOMCONTENTLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domcontentloaded"
          }
        },
        "NETWORKIDLE0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle0"
          }
        },
        "NETWORKIDLE2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle2"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0GotoOptionsWaitUntilCase1Item": {
      "type": "enum",
      "members": {
        "LOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load"
          }
        },
        "DOMCONTENTLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domcontentloaded"
          }
        },
        "NETWORKIDLE0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle0"
          }
        },
        "NETWORKIDLE2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle2"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0GotoOptionsWaitUntilCase1List": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0GotoOptionsWaitUntilCase1Item"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0GotoOptionsWaitUntil": {
      "type": "union",
      "members": {
        "CrawlCreateRequestBodyCase0GotoOptionsWaitUntilCase0": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0GotoOptionsWaitUntilCase0"
        },
        "CrawlCreateRequestBodyCase0GotoOptionsWaitUntilCase1List": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0GotoOptionsWaitUntilCase1List"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0GotoOptions": {
      "type": "structure",
      "members": {
        "referer": {
          "target": "smithy.api#String"
        },
        "referrerPolicy": {
          "target": "smithy.api#String"
        },
        "timeout": {
          "target": "smithy.api#Double"
        },
        "waitUntil": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0GotoOptionsWaitUntil"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0JsonOptionsCustomAiItem": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AI model to use for the request. Must be formed as `<provider>/<model_name>`, e.g. `workers-ai/@cf/meta/llama-3.3-70b-instruct-fp8-fast`.",
            "smithy.api#required": {}
          }
        },
        "authorization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization token for the AI model: `Bearer <token>`. Not needed for workers-ai models."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0JsonOptionsCustomAiList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0JsonOptionsCustomAiItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0JsonOptionsResponseFormatJsonSchemaCase4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0JsonOptionsResponseFormat": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "json_schema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Schema for the response format. More information here: https://developers.cloudflare.com/workers-ai/json-mode/"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0JsonOptions": {
      "type": "structure",
      "members": {
        "custom_ai": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0JsonOptionsCustomAiList",
          "traits": {
            "smithy.api#documentation": "Optional list of custom AI models to use for the request. The models will be tried in the order provided, and in case a model returns an error, the next one will be used as fallback."
          }
        },
        "prompt": {
          "target": "smithy.api#String"
        },
        "response_format": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0JsonOptionsResponseFormat"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0OptionsExcludePatternsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0OptionsIncludePatternsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0Options": {
      "type": "structure",
      "members": {
        "excludePatterns": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0OptionsExcludePatternsList",
          "traits": {
            "smithy.api#documentation": "Exclude links matching the provided wildcard patterns in the crawl job. Example: 'https://example.com/privacy/**'."
          }
        },
        "includeExternalLinks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include external links in the crawl job. If set to true, includeSubdomains is ignored."
          }
        },
        "includePatterns": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0OptionsIncludePatternsList",
          "traits": {
            "smithy.api#documentation": "Include only links matching the provided wildcard patterns in the crawl job. Include patterns are evaluated before exclude patterns. URLs that match any of the specified include patterns will be included in the crawl job. Example: 'https://example.com/blog/**'."
          }
        },
        "includeSubdomains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include links to subdomains in the crawl job. This option is ignored if includeExternalLinks is true."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0RejectRequestPatternList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0RejectResourceTypesItem": {
      "type": "enum",
      "members": {
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "STYLESHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stylesheet"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media"
          }
        },
        "FONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "font"
          }
        },
        "SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "script"
          }
        },
        "TEXTTRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "texttrack"
          }
        },
        "XHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhr"
          }
        },
        "FETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fetch"
          }
        },
        "PREFETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prefetch"
          }
        },
        "EVENTSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventsource"
          }
        },
        "WEBSOCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "websocket"
          }
        },
        "MANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manifest"
          }
        },
        "SIGNEDEXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signedexchange"
          }
        },
        "PING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ping"
          }
        },
        "CSPVIOLATIONREPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cspviolationreport"
          }
        },
        "PREFLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preflight"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0RejectResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0RejectResourceTypesItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0SetExtraHTTPHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0Source": {
      "type": "enum",
      "members": {
        "SITEMAPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sitemaps"
          }
        },
        "LINKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "links"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0Viewport": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deviceScaleFactor": {
          "target": "smithy.api#Double"
        },
        "hasTouch": {
          "target": "smithy.api#Boolean"
        },
        "isLandscape": {
          "target": "smithy.api#Boolean"
        },
        "isMobile": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0WaitForSelector": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean"
        },
        "timeout": {
          "target": "smithy.api#Double"
        },
        "visible": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to navigate to, eg. `https://example.com`.",
            "smithy.api#required": {}
          }
        },
        "actionTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum duration allowed for the browser action to complete after the page has loaded (such as taking screenshots, extracting content, or generating PDFs). If this time limit is exceeded, the action stops and returns a timeout error."
          }
        },
        "addScriptTag": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AddScriptTagList",
          "traits": {
            "smithy.api#documentation": "Adds a `<script>` tag into the page with the desired URL or content."
          }
        },
        "addStyleTag": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AddStyleTagList",
          "traits": {
            "smithy.api#documentation": "Adds a `<link rel=\"stylesheet\">` tag into the page with the desired URL or a `<style type=\"text/css\">` tag with the content."
          }
        },
        "allowRequestPattern": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AllowRequestPatternList",
          "traits": {
            "smithy.api#documentation": "Only allow requests that match the provided regex patterns, eg. '/^.*.(css)'."
          }
        },
        "allowResourceTypes": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0AllowResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Only allow requests that match the provided resource types, eg. 'image' or 'script'."
          }
        },
        "authenticate": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0Authenticate",
          "traits": {
            "smithy.api#documentation": "Provide credentials for HTTP authentication."
          }
        },
        "bestAttempt": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Attempt to proceed when 'awaited' events fail or timeout."
          }
        },
        "cookies": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CookiesList",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.page.setcookie)."
          }
        },
        "crawlPurposes": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0CrawlPurposesList",
          "traits": {
            "smithy.api#documentation": "List of crawl purposes to respect Content-Signal directives in robots.txt. Allowed values: 'search', 'ai-input', 'ai-train'. Learn more: https://contentsignals.org/. Default: ['search', 'ai-input', 'ai-train']."
          }
        },
        "depth": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of levels deep the crawler will traverse from the starting URL."
          }
        },
        "emulateMediaType": {
          "target": "smithy.api#String"
        },
        "formats": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0FormatsList",
          "traits": {
            "smithy.api#documentation": "Formats to return. Default is `html`."
          }
        },
        "gotoOptions": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0GotoOptions",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.gotooptions)."
          }
        },
        "jsonOptions": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0JsonOptions",
          "traits": {
            "smithy.api#documentation": "Options for JSON extraction."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of URLs to crawl."
          }
        },
        "maxAge": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum age of a resource that can be returned from cache in seconds. Default is 1 day."
          }
        },
        "modifiedSince": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (seconds since epoch) indicating to only crawl pages that were modified since this time. For sitemap URLs with a lastmod field, this is compared directly. For other URLs, the crawler will use If-Modified-Since header when fetching. URLs without modification information (no lastmod in sitemap and no Last-Modified header support) will be crawled. Note: This works in conjunction with maxAge - both filters must pass for a cached resource to be used. Must be within the last year and not in the future."
          }
        },
        "options": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0Options",
          "traits": {
            "smithy.api#documentation": "Additional options for the crawler."
          }
        },
        "rejectRequestPattern": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0RejectRequestPatternList",
          "traits": {
            "smithy.api#documentation": "Block undesired requests that match the provided regex patterns, eg. '/^.*.(css)'."
          }
        },
        "rejectResourceTypes": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0RejectResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Block undesired requests that match the provided resource types, eg. 'image' or 'script'."
          }
        },
        "render": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to render the page or fetch static content. True by default."
          }
        },
        "setExtraHTTPHeaders": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0SetExtraHTTPHeadersMap"
        },
        "setJavaScriptEnabled": {
          "target": "smithy.api#Boolean"
        },
        "source": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0Source",
          "traits": {
            "smithy.api#documentation": "Source of links to crawl. 'sitemaps' - only crawl URLs from sitemaps, 'links' - only crawl URLs scraped from pages, 'all' - crawl both sitemap and scraped links (default)."
          }
        },
        "viewport": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0Viewport",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.page.setviewport)."
          }
        },
        "waitForSelector": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0WaitForSelector",
          "traits": {
            "smithy.api#documentation": "Wait for the selector to appear in page. Check [options](https://pptr.dev/api/puppeteer.page.waitforselector)."
          }
        },
        "waitForTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Waits for a specified timeout before continuing."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1CrawlPurposesItem": {
      "type": "enum",
      "members": {
        "SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "search"
          }
        },
        "AI_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-input"
          }
        },
        "AI_TRAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-train"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1CrawlPurposesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1CrawlPurposesItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1FormatsItem": {
      "type": "enum",
      "members": {
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "html"
          }
        },
        "MARKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "markdown"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1FormatsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1FormatsItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1JsonOptionsCustomAiItem": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AI model to use for the request. Must be formed as `<provider>/<model_name>`, e.g. `workers-ai/@cf/meta/llama-3.3-70b-instruct-fp8-fast`.",
            "smithy.api#required": {}
          }
        },
        "authorization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization token for the AI model: `Bearer <token>`. Not needed for workers-ai models."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1JsonOptionsCustomAiList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1JsonOptionsCustomAiItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1JsonOptionsResponseFormatJsonSchemaCase4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1JsonOptionsResponseFormat": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "json_schema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Schema for the response format. More information here: https://developers.cloudflare.com/workers-ai/json-mode/"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1JsonOptions": {
      "type": "structure",
      "members": {
        "custom_ai": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1JsonOptionsCustomAiList",
          "traits": {
            "smithy.api#documentation": "Optional list of custom AI models to use for the request. The models will be tried in the order provided, and in case a model returns an error, the next one will be used as fallback."
          }
        },
        "prompt": {
          "target": "smithy.api#String"
        },
        "response_format": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1JsonOptionsResponseFormat"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1OptionsExcludePatternsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1OptionsIncludePatternsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1Options": {
      "type": "structure",
      "members": {
        "excludePatterns": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1OptionsExcludePatternsList",
          "traits": {
            "smithy.api#documentation": "Exclude links matching the provided wildcard patterns in the crawl job. Example: 'https://example.com/privacy/**'."
          }
        },
        "includeExternalLinks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include external links in the crawl job. If set to true, includeSubdomains is ignored."
          }
        },
        "includePatterns": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1OptionsIncludePatternsList",
          "traits": {
            "smithy.api#documentation": "Include only links matching the provided wildcard patterns in the crawl job. Include patterns are evaluated before exclude patterns. URLs that match any of the specified include patterns will be included in the crawl job. Example: 'https://example.com/blog/**'."
          }
        },
        "includeSubdomains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include links to subdomains in the crawl job. This option is ignored if includeExternalLinks is true."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1Source": {
      "type": "enum",
      "members": {
        "SITEMAPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sitemaps"
          }
        },
        "LINKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "links"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1": {
      "type": "structure",
      "members": {
        "render": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to render the page or fetch static content. True by default.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to navigate to, eg. `https://example.com`.",
            "smithy.api#required": {}
          }
        },
        "crawlPurposes": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1CrawlPurposesList",
          "traits": {
            "smithy.api#documentation": "List of crawl purposes to respect Content-Signal directives in robots.txt. Allowed values: 'search', 'ai-input', 'ai-train'. Learn more: https://contentsignals.org/. Default: ['search', 'ai-input', 'ai-train']."
          }
        },
        "depth": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of levels deep the crawler will traverse from the starting URL."
          }
        },
        "formats": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1FormatsList",
          "traits": {
            "smithy.api#documentation": "Formats to return. Default is `html`."
          }
        },
        "jsonOptions": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1JsonOptions",
          "traits": {
            "smithy.api#documentation": "Options for JSON extraction."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of URLs to crawl."
          }
        },
        "maxAge": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum age of a resource that can be returned from cache in seconds. Default is 1 day."
          }
        },
        "modifiedSince": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (seconds since epoch) indicating to only crawl pages that were modified since this time. For sitemap URLs with a lastmod field, this is compared directly. For other URLs, the crawler will use If-Modified-Since header when fetching. URLs without modification information (no lastmod in sitemap and no Last-Modified header support) will be crawled. Note: This works in conjunction with maxAge - both filters must pass for a cached resource to be used. Must be within the last year and not in the future."
          }
        },
        "options": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1Options",
          "traits": {
            "smithy.api#documentation": "Additional options for the crawler."
          }
        },
        "source": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1Source",
          "traits": {
            "smithy.api#documentation": "Source of links to crawl. 'sitemaps' - only crawl URLs from sitemaps, 'links' - only crawl URLs scraped from pages, 'all' - crawl both sitemap and scraped links (default)."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBody": {
      "type": "union",
      "members": {
        "CrawlCreateRequestBodyCase0": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase0"
        },
        "CrawlCreateRequestBodyCase1": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCase1"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "body": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBody",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/crawl",
          "code": 200
        },
        "smithy.api#documentation": "Starts a crawl job for the provided URL and its children. Check available options like `gotoOptions` and `waitFor*` to control page load behaviour."
      }
    },
    "com.cloudflare.browser_rendering#CrawlDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the crawl job to cancel.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlDeleteResponse": {
      "type": "structure",
      "members": {
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the cancelled job.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cancellation confirmation message.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.browser_rendering#CrawlDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#CrawlDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#CrawlDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/browser-rendering/crawl/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Cancels an ongoing crawl job by setting its status to cancelled and stopping all queued URLs.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetRequestStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DISALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disallowed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crawl job ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "cursor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit for pagination.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "status": {
          "target": "com.cloudflare.browser_rendering#CrawlGetRequestStatus",
          "traits": {
            "smithy.api#documentation": "Filter by URL status.",
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemMetadata": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code of the crawled page.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Final URL of the crawled page.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the crawled page."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DISALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disallowed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemJsonMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItem": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemMetadata",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemStatus",
          "traits": {
            "smithy.api#documentation": "Current status of the crawled URL.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crawled URL.",
            "smithy.api#required": {}
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML content of the crawled URL."
          }
        },
        "json": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemJsonMap",
          "traits": {
            "smithy.api#documentation": "JSON of the content of the crawled URL."
          }
        },
        "markdown": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Markdown of the content of the crawled URL."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crawl job ID.",
            "smithy.api#required": {}
          }
        },
        "browserSecondsUsed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total seconds spent in browser so far.",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of URLs that have been crawled so far.",
            "smithy.api#required": {}
          }
        },
        "records": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsList",
          "traits": {
            "smithy.api#documentation": "List of crawl job records.",
            "smithy.api#required": {}
          }
        },
        "skipped": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of URLs that were skipped due to include/exclude/subdomain filters. Skipped URLs are included in records but are not counted toward total/finished.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current crawl job status.",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total current number of URLs in the crawl job.",
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.browser_rendering#CrawlGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#CrawlGetRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#CrawlGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/crawl/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the result of a crawl job.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserConnectRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID to connect to.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keep_alive": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Keep-alive time in ms (only valid when acquiring new session).",
            "smithy.api#httpQuery": "keep_alive"
          }
        },
        "lab": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use experimental browser.",
[...]
