{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyAddScriptTagItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyAddScriptTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyAddScriptTagItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyAddStyleTagItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyAddStyleTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyAddStyleTagItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyAllowRequestPatternList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyAllowResourceTypesItem": {
      "type": "enum",
      "members": {
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "STYLESHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stylesheet"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyAllowResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyAllowResourceTypesItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyAuthenticate": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCookiesItemPriority": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCookiesItemSameSite": {
      "type": "enum",
      "members": {
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCookiesItemSourceScheme": {
      "type": "enum",
      "members": {
        "UNSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unset"
          }
        },
        "NONSECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonSecure"
          }
        },
        "SECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secure"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCookiesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cookie name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "expires": {
          "target": "smithy.api#Double"
        },
        "httpOnly": {
          "target": "smithy.api#Boolean"
        },
        "partitionKey": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "priority": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCookiesItemPriority"
        },
        "sameParty": {
          "target": "smithy.api#Boolean"
        },
        "sameSite": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCookiesItemSameSite"
        },
        "secure": {
          "target": "smithy.api#Boolean"
        },
        "sourcePort": {
          "target": "smithy.api#Double"
        },
        "sourceScheme": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCookiesItemSourceScheme"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyCookiesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCookiesItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyGotoOptionsWaitUntil": {
      "type": "enum",
      "members": {
        "LOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load"
          }
        },
        "DOMCONTENTLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domcontentloaded"
          }
        },
        "NETWORKIDLE0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle0"
          }
        },
        "NETWORKIDLE2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle2"
          }
        },
        "LOAD_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load"
          }
        },
        "DOMCONTENTLOADED_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domcontentloaded"
          }
        },
        "NETWORKIDLE0_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle0"
          }
        },
        "NETWORKIDLE2_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle2"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyGotoOptions": {
      "type": "structure",
      "members": {
        "referer": {
          "target": "smithy.api#String"
        },
        "referrerPolicy": {
          "target": "smithy.api#String"
        },
        "timeout": {
          "target": "smithy.api#Double"
        },
        "waitUntil": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyGotoOptionsWaitUntil"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyRejectRequestPatternList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyRejectResourceTypesItem": {
      "type": "enum",
      "members": {
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "STYLESHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stylesheet"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyRejectResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyRejectResourceTypesItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodySetExtraHTTPHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyViewport": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deviceScaleFactor": {
          "target": "smithy.api#Double"
        },
        "hasTouch": {
          "target": "smithy.api#Boolean"
        },
        "isLandscape": {
          "target": "smithy.api#Boolean"
        },
        "isMobile": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBodyWaitForSelector": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean"
        },
        "timeout": {
          "target": "smithy.api#Double"
        },
        "visible": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestBody": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to navigate to, eg. `https://example.com`."
          }
        },
        "actionTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum duration allowed for the browser action to complete after the page has loaded (such as taking screenshots, extracting content, or generating PDFs). If this time limit is exceeded, the action stops and returns a timeout error."
          }
        },
        "addScriptTag": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyAddScriptTagList",
          "traits": {
            "smithy.api#documentation": "Adds a `<script>` tag into the page with the desired URL or content."
          }
        },
        "addStyleTag": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyAddStyleTagList",
          "traits": {
            "smithy.api#documentation": "Adds a `<link rel=\"stylesheet\">` tag into the page with the desired URL or a `<style type=\"text/css\">` tag with the content."
          }
        },
        "allowRequestPattern": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyAllowRequestPatternList",
          "traits": {
            "smithy.api#documentation": "Only allow requests that match the provided regex patterns, eg. '/^.*.(css)'."
          }
        },
        "allowResourceTypes": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyAllowResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Only allow requests that match the provided resource types, eg. 'image' or 'script'."
          }
        },
        "authenticate": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyAuthenticate",
          "traits": {
            "smithy.api#documentation": "Provide credentials for HTTP authentication."
          }
        },
        "bestAttempt": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Attempt to proceed when 'awaited' events fail or timeout."
          }
        },
        "cookies": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyCookiesList",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.page.setcookie)."
          }
        },
        "emulateMediaType": {
          "target": "smithy.api#String"
        },
        "gotoOptions": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyGotoOptions",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.gotooptions)."
          }
        },
        "rejectRequestPattern": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyRejectRequestPatternList",
          "traits": {
            "smithy.api#documentation": "Block undesired requests that match the provided regex patterns, eg. '/^.*.(css)'."
          }
        },
        "rejectResourceTypes": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyRejectResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Block undesired requests that match the provided resource types, eg. 'image' or 'script'."
          }
        },
        "setExtraHTTPHeaders": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodySetExtraHTTPHeadersMap"
        },
        "setJavaScriptEnabled": {
          "target": "smithy.api#Boolean"
        },
        "userAgent": {
          "target": "smithy.api#String"
        },
        "viewport": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyViewport",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.page.setviewport)."
          }
        },
        "waitForSelector": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBodyWaitForSelector",
          "traits": {
            "smithy.api#documentation": "Wait for the selector to appear in page. Check [options](https://pptr.dev/api/puppeteer.page.waitforselector)."
          }
        },
        "waitForTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Waits for a specified timeout before continuing."
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the content of the page, eg: `<h1>Hello World!!</h1>`. Either `html` or `url` must be set."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "body": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBody",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.browser_rendering#ContentCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#ContentCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/content",
          "code": 200
        },
        "smithy.api#documentation": "Fetches rendered HTML content from provided URL or HTML. Check available options like `gotoOptions` and `waitFor*` to control page load behaviour."
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAddScriptTagItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAddScriptTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAddScriptTagItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAddStyleTagItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAddStyleTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAddStyleTagItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAllowRequestPatternList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAllowResourceTypesItem": {
      "type": "enum",
      "members": {
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "STYLESHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stylesheet"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAllowResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAllowResourceTypesItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAuthenticate": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCookiesItemPriority": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCookiesItemSameSite": {
      "type": "enum",
      "members": {
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCookiesItemSourceScheme": {
      "type": "enum",
      "members": {
        "UNSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unset"
          }
        },
        "NONSECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonSecure"
          }
        },
        "SECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secure"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCookiesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cookie name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "expires": {
          "target": "smithy.api#Double"
        },
        "httpOnly": {
          "target": "smithy.api#Boolean"
        },
        "partitionKey": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "priority": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCookiesItemPriority"
        },
        "sameParty": {
          "target": "smithy.api#Boolean"
        },
        "sameSite": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCookiesItemSameSite"
        },
        "secure": {
          "target": "smithy.api#Boolean"
        },
        "sourcePort": {
          "target": "smithy.api#Double"
        },
        "sourceScheme": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCookiesItemSourceScheme"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCookiesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCookiesItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCrawlPurposesItem": {
      "type": "enum",
      "members": {
        "SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "search"
          }
        },
        "AI_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-input"
          }
        },
        "AI_TRAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-train"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCrawlPurposesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCrawlPurposesItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyFormatsItem": {
      "type": "enum",
      "members": {
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "html"
          }
        },
        "MARKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "markdown"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyFormatsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyFormatsItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyGotoOptionsWaitUntil": {
      "type": "enum",
      "members": {
        "LOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load"
          }
        },
        "DOMCONTENTLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domcontentloaded"
          }
        },
        "NETWORKIDLE0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle0"
          }
        },
        "NETWORKIDLE2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle2"
          }
        },
        "LOAD_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load"
          }
        },
        "DOMCONTENTLOADED_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domcontentloaded"
          }
        },
        "NETWORKIDLE0_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle0"
          }
        },
        "NETWORKIDLE2_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle2"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyGotoOptions": {
      "type": "structure",
      "members": {
        "referer": {
          "target": "smithy.api#String"
        },
        "referrerPolicy": {
          "target": "smithy.api#String"
        },
        "timeout": {
          "target": "smithy.api#Double"
        },
        "waitUntil": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyGotoOptionsWaitUntil"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyJsonOptionsCustomAiItem": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AI model to use for the request. Must be formed as `<provider>/<model_name>`, e.g. `workers-ai/@cf/meta/llama-3.3-70b-instruct-fp8-fast`.",
            "smithy.api#required": {}
          }
        },
        "authorization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization token for the AI model: `Bearer <token>`. Not needed for workers-ai models."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyJsonOptionsCustomAiList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyJsonOptionsCustomAiItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyJsonOptionsResponseFormatJsonSchemaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyJsonOptionsResponseFormat": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "json_schema": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyJsonOptionsResponseFormatJsonSchemaMap",
          "traits": {
            "smithy.api#documentation": "Schema for the response format. More information here: https://developers.cloudflare.com/workers-ai/json-mode/"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyJsonOptions": {
      "type": "structure",
      "members": {
        "custom_ai": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyJsonOptionsCustomAiList",
          "traits": {
            "smithy.api#documentation": "Optional list of custom AI models to use for the request. The models will be tried in the order provided, and in case a model returns an error, the next one will be used as fallback."
          }
        },
        "prompt": {
          "target": "smithy.api#String"
        },
        "response_format": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyJsonOptionsResponseFormat"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyOptionsExcludePatternsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyOptionsIncludePatternsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyOptions": {
      "type": "structure",
      "members": {
        "excludePatterns": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyOptionsExcludePatternsList",
          "traits": {
            "smithy.api#documentation": "Exclude links matching the provided wildcard patterns in the crawl job. Example: 'https://example.com/privacy/**'."
          }
        },
        "includeExternalLinks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include external links in the crawl job. If set to true, includeSubdomains is ignored."
          }
        },
        "includePatterns": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyOptionsIncludePatternsList",
          "traits": {
            "smithy.api#documentation": "Include only links matching the provided wildcard patterns in the crawl job. Include patterns are evaluated before exclude patterns. URLs that match any of the specified include patterns will be included in the crawl job. Example: 'https://example.com/blog/**'."
          }
        },
        "includeSubdomains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include links to subdomains in the crawl job. This option is ignored if includeExternalLinks is true."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyRejectRequestPatternList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyRejectResourceTypesItem": {
      "type": "enum",
      "members": {
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "STYLESHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stylesheet"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyRejectResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyRejectResourceTypesItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodySetExtraHTTPHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodySource": {
      "type": "enum",
      "members": {
        "SITEMAPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sitemaps"
          }
        },
        "LINKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "links"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyViewport": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deviceScaleFactor": {
          "target": "smithy.api#Double"
        },
        "hasTouch": {
          "target": "smithy.api#Boolean"
        },
        "isLandscape": {
          "target": "smithy.api#Boolean"
        },
        "isMobile": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBodyWaitForSelector": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean"
        },
        "timeout": {
          "target": "smithy.api#Double"
        },
        "visible": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBody": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to navigate to, eg. `https://example.com`."
          }
        },
        "actionTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum duration allowed for the browser action to complete after the page has loaded (such as taking screenshots, extracting content, or generating PDFs). If this time limit is exceeded, the action stops and returns a timeout error."
          }
        },
        "addScriptTag": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAddScriptTagList",
          "traits": {
            "smithy.api#documentation": "Adds a `<script>` tag into the page with the desired URL or content."
          }
        },
        "addStyleTag": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAddStyleTagList",
          "traits": {
            "smithy.api#documentation": "Adds a `<link rel=\"stylesheet\">` tag into the page with the desired URL or a `<style type=\"text/css\">` tag with the content."
          }
        },
        "allowRequestPattern": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAllowRequestPatternList",
          "traits": {
            "smithy.api#documentation": "Only allow requests that match the provided regex patterns, eg. '/^.*.(css)'."
          }
        },
        "allowResourceTypes": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAllowResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Only allow requests that match the provided resource types, eg. 'image' or 'script'."
          }
        },
        "authenticate": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyAuthenticate",
          "traits": {
            "smithy.api#documentation": "Provide credentials for HTTP authentication."
          }
        },
        "bestAttempt": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Attempt to proceed when 'awaited' events fail or timeout."
          }
        },
        "cookies": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCookiesList",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.page.setcookie)."
          }
        },
        "crawlPurposes": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyCrawlPurposesList",
          "traits": {
            "smithy.api#documentation": "List of crawl purposes to respect Content-Signal directives in robots.txt. Allowed values: 'search', 'ai-input', 'ai-train'. Learn more: https://contentsignals.org/. Default: ['search', 'ai-input', 'ai-train']."
          }
        },
        "depth": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of levels deep the crawler will traverse from the starting URL."
          }
        },
        "emulateMediaType": {
          "target": "smithy.api#String"
        },
        "formats": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyFormatsList",
          "traits": {
            "smithy.api#documentation": "Formats to return. Default is `html`."
          }
        },
        "gotoOptions": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyGotoOptions",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.gotooptions)."
          }
        },
        "jsonOptions": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyJsonOptions",
          "traits": {
            "smithy.api#documentation": "Options for JSON extraction."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of URLs to crawl."
          }
        },
        "maxAge": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum age of a resource that can be returned from cache in seconds. Default is 1 day."
          }
        },
        "modifiedSince": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp (seconds since epoch) indicating to only crawl pages that were modified since this time. For sitemap URLs with a lastmod field, this is compared directly. For other URLs, the crawler will use If-Modified-Since header when fetching. URLs without modification information (no lastmod in sitemap and no Last-Modified header support) will be crawled. Note: This works in conjunction with maxAge - both filters must pass for a cached resource to be used. Must be within the last year and not in the future."
          }
        },
        "options": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyOptions",
          "traits": {
            "smithy.api#documentation": "Additional options for the crawler."
          }
        },
        "rejectRequestPattern": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyRejectRequestPatternList",
          "traits": {
            "smithy.api#documentation": "Block undesired requests that match the provided regex patterns, eg. '/^.*.(css)'."
          }
        },
        "rejectResourceTypes": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyRejectResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Block undesired requests that match the provided resource types, eg. 'image' or 'script'."
          }
        },
        "render": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to render the page or fetch static content. True by default."
          }
        },
        "setExtraHTTPHeaders": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodySetExtraHTTPHeadersMap"
        },
        "setJavaScriptEnabled": {
          "target": "smithy.api#Boolean"
        },
        "source": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodySource",
          "traits": {
            "smithy.api#documentation": "Source of links to crawl. 'sitemaps' - only crawl URLs from sitemaps, 'links' - only crawl URLs scraped from pages, 'all' - crawl both sitemap and scraped links (default)."
          }
        },
        "viewport": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyViewport",
          "traits": {
            "smithy.api#documentation": "Check [options](https://pptr.dev/api/puppeteer.page.setviewport)."
          }
        },
        "waitForSelector": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBodyWaitForSelector",
          "traits": {
            "smithy.api#documentation": "Wait for the selector to appear in page. Check [options](https://pptr.dev/api/puppeteer.page.waitforselector)."
          }
        },
        "waitForTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Waits for a specified timeout before continuing."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "body": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBody",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/crawl",
          "code": 200
        },
        "smithy.api#documentation": "Starts a crawl job for the provided URL and its children. Check available options like `gotoOptions` and `waitFor*` to control page load behaviour."
      }
    },
    "com.cloudflare.browser_rendering#CrawlDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the crawl job to cancel.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlDeleteResponse": {
      "type": "structure",
      "members": {
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the cancelled job.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cancellation confirmation message.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.browser_rendering#CrawlDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#CrawlDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#CrawlDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/browser-rendering/crawl/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Cancels an ongoing crawl job by setting its status to cancelled and stopping all queued URLs.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetRequestStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crawl job ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "cursor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit for pagination.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "status": {
          "target": "com.cloudflare.browser_rendering#CrawlGetRequestStatus",
          "traits": {
            "smithy.api#documentation": "Filter by URL status.",
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemMetadata": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code of the crawled page.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Final URL of the crawled page.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the crawled page."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemJsonMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItem": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemMetadata",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemStatus",
          "traits": {
            "smithy.api#documentation": "Current status of the crawled URL.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crawled URL.",
            "smithy.api#required": {}
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML content of the crawled URL."
          }
        },
        "json": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemJsonMap",
          "traits": {
            "smithy.api#documentation": "JSON of the content of the crawled URL."
          }
        },
        "markdown": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Markdown of the content of the crawled URL."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crawl job ID.",
            "smithy.api#required": {}
          }
        },
        "browserSecondsUsed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total seconds spent in browser so far.",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of URLs that have been crawled so far.",
            "smithy.api#required": {}
          }
        },
        "records": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsList",
          "traits": {
            "smithy.api#documentation": "List of crawl job records.",
            "smithy.api#required": {}
          }
        },
        "skipped": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of URLs that were skipped due to include/exclude/subdomain filters. Skipped URLs are included in records but are not counted toward total/finished.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current crawl job status.",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total current number of URLs in the crawl job.",
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.browser_rendering#CrawlGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#CrawlGetRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#CrawlGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/crawl/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the result of a crawl job.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserConnectRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID to connect to.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keep_alive": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Keep-alive time in ms (only valid when acquiring new session).",
            "smithy.api#httpQuery": "keep_alive"
          }
        },
        "lab": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use experimental browser.",
            "smithy.api#httpQuery": "lab"
          }
        },
        "recording": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "recording"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserConnect": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserConnectRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}",
          "code": 200
        },
        "smithy.api#documentation": "Establishes a WebSocket connection to an existing browser session.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keep_alive": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Keep-alive time in milliseconds.",
            "smithy.api#httpQuery": "keep_alive"
          }
        },
        "lab": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use experimental browser.",
            "smithy.api#httpQuery": "lab"
          }
        },
        "liveViewUrlExpiresInMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How long the live view URL remains valid, in milliseconds (max 60 minutes). Only used when targets is true.",
            "smithy.api#httpQuery": "liveViewUrlExpiresInMs"
          }
        },
        "recording": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "recording"
          }
        },
        "targets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include browser targets in response.",
            "smithy.api#httpQuery": "targets"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserCreateResponse": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#required": {}
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for the session."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser",
          "code": 200
        },
        "smithy.api#documentation": "Acquires a browser and returns its session ID and websocket URL."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID to close.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponseStatus": {
      "type": "enum",
      "members": {
        "CLOSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closing"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}",
          "code": 200
        },
        "smithy.api#documentation": "Closes an existing browser session.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLaunchRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keep_alive": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Keep-alive time in ms (only valid when acquiring new session).",
            "smithy.api#httpQuery": "keep_alive"
          }
        },
        "lab": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use experimental browser.",
            "smithy.api#httpQuery": "lab"
          }
        },
        "recording": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "recording"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLaunch": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLaunchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser",
          "code": 200
        },
        "smithy.api#documentation": "Acquires and establishes a WebSocket connection to a browser session.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemCommandsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemCommandsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemCommandsItemMap"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemDependenciesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemEventsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemEventsItemMap"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemTypesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemTypesItemMap"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name.",
            "smithy.api#required": {}
          }
        },
        "commands": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemCommandsList",
          "traits": {
            "smithy.api#documentation": "Available commands."
          }
        },
        "dependencies": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemDependenciesList",
          "traits": {
            "smithy.api#documentation": "Domain dependencies."
          }
        },
        "events": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemEventsList",
          "traits": {
            "smithy.api#documentation": "Available events."
          }
        },
        "experimental": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this domain is experimental."
          }
        },
        "types": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemTypesList",
          "traits": {
            "smithy.api#documentation": "Type definitions."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItem"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseVersion": {
      "type": "structure",
      "members": {
        "major": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Major version.",
            "smithy.api#required": {}
          }
        },
        "minor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minor version.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponse": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsList",
          "traits": {
            "smithy.api#documentation": "List of protocol domains.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseVersion",
          "traits": {
            "smithy.api#documentation": "Protocol version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocol": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/protocol",
          "code": 200
        },
        "smithy.api#documentation": "Returns the complete Chrome DevTools Protocol schema including all domains, commands, events, and types. This schema describes the entire CDP API surface.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserVersionRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserVersionResponse": {
      "type": "structure",
      "members": {
        "Browser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser name and version.",
            "smithy.api#required": {}
          }
        },
        "_Protocol_Version_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chrome DevTools Protocol version.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "\"Protocol-Version\""
          }
        },
        "_User_Agent_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User agent string.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "\"User-Agent\""
          }
        },
        "_V8_Version_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "V8 JavaScript engine version.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "\"V8-Version\""
          }
        },
        "_WebKit_Version_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebKit version.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "\"WebKit-Version\""
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging the browser.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserVersion": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserVersionRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserVersionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/version",
          "code": 200
        },
        "smithy.api#documentation": "Get browser version metadata.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserPageGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID, e.g. page ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserPageGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserPageGetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/page/{target_id}",
          "code": 200
        },
        "smithy.api#documentation": "Establishes a WebSocket connection to a specific Chrome DevTools target or page.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID to activate.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target activated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/activate/{target_id}",
          "code": 200
        },
        "smithy.api#documentation": "Activates (brings to front) a specific browser target by its ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID to close.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target is closing.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsClose": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/close/{target_id}",
          "code": 200
        },
        "smithy.api#documentation": "Closes a specific browser target (tab, page, etc.) by its ID. Returns 'Target is closing' on success or an error if the target is not found.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "liveViewUrlExpiresInMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How long the live view URL remains valid, in milliseconds (max 60 minutes)",
            "smithy.api#httpQuery": "liveViewUrlExpiresInMs"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "url"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target type (page, background_page, worker, etc.).",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the target.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target description."
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevTools frontend URL."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the target."
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging this target."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/new",
          "code": 200
        },
        "smithy.api#documentation": "Opens a new tab in the browser. Optionally specify a URL to navigate to.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target type (page, background_page, worker, etc.).",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the target.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target description."
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevTools frontend URL."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the target."
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging this target."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/list/{target_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the debuggable target with the given ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "liveViewUrlExpiresInMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How long the live view URLs remain valid, in milliseconds (max 60 minutes)",
            "smithy.api#httpQuery": "liveViewUrlExpiresInMs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target type (page, background_page, worker, etc.).",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the target.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target description."
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevTools frontend URL."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the target."
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging this target."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/list",
          "code": 200
        },
        "smithy.api#documentation": "Returns a list of all debuggable targets including tabs, pages, service workers, and other browser contexts.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsSessionGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsSessionGetResponse": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session ID.",
            "smithy.api#required": {}
          }
        },
        "closeReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for session closure."
          }
        },
        "closeReasonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable close reason."
          }
        },
        "connectionEndTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Connection end time."
          }
        },
        "connectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection ID."
          }
        },
        "connectionStartTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Connection start time."
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevTools frontend URL."
          }
        },
        "endTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session end time."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Last updated timestamp."
          }
        },
        "startTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session start time."
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging this target."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsSessionGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsSessionGetRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsSessionGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/session/{session_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get details for a specific browser session.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsSessionListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "offset": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "offset"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsSessionListResponse": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session ID.",
            "smithy.api#required": {}
          }
        },
        "closeReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for session closure."
          }
        },
        "closeReasonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable close reason."
          }
        },
        "connectionEndTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Connection end time."
          }
        },
        "connectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection ID."
          }
        },
        "connectionStartTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Connection start time."
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevTools frontend URL."
          }
        },
        "endTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session end time."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Last updated timestamp."
          }
        },
        "startTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session start time."
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging this target."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsSessionList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsSessionListRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsSessionListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/session",
          "code": 200
        },
        "smithy.api#documentation": "List active browser sessions.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateRequestBodyAddScriptTagItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateRequestBodyAddScriptTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#JsonCreateRequestBodyAddScriptTagItem"
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateRequestBodyAddStyleTagItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateRequestBodyAddStyleTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#JsonCreateRequestBodyAddStyleTagItem"
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateRequestBodyAllowRequestPatternList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateRequestBodyAllowResourceTypesItem": {
      "type": "enum",
      "members": {
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "STYLESHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stylesheet"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateRequestBodyAllowResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#JsonCreateRequestBodyAllowResourceTypesItem"
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateRequestBodyAuthenticate": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateRequestBodyCookiesItemPriority": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateRequestBodyCookiesItemSameSite": {
      "type": "enum",
      "members": {
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
[...]
