{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.browser_rendering#ContentCreateRequestBody": {
      "type": "structure",
      "members": {
        "object___url__actionTimeout__addScriptTag__16_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { url, actionTimeout, addScriptTag, 16 more }"
          }
        },
        "object___html__actionTimeout__addScriptTag__16_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { html, actionTimeout, addScriptTag, 16 more }"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "body": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.browser_rendering#ContentCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#ContentCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/content",
          "code": 200
        },
        "smithy.api#documentation": "Fetches rendered HTML content from provided URL or HTML. Check available options like `gotoOptions` and `waitFor*` to control page load behaviour."
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequestBody": {
      "type": "structure",
      "members": {
        "object___url__actionTimeout__addScriptTag__25_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { url, actionTimeout, addScriptTag, 25 more }"
          }
        },
        "object___render__url__crawlPurposes__8_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { render, url, crawlPurposes, 8 more }"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "body": {
          "target": "com.cloudflare.browser_rendering#CrawlCreateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/crawl",
          "code": 200
        },
        "smithy.api#documentation": "Starts a crawl job for the provided URL and its children. Check available options like `gotoOptions` and `waitFor*` to control page load behaviour."
      }
    },
    "com.cloudflare.browser_rendering#CrawlDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the crawl job to cancel.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlDeleteResponse": {
      "type": "structure",
      "members": {
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the cancelled job.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cancellation confirmation message.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.browser_rendering#CrawlDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#CrawlDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#CrawlDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/browser-rendering/crawl/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Cancels an ongoing crawl job by setting its status to cancelled and stopping all queued URLs.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetRequestStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crawl job ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "cursor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit for pagination.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "status": {
          "target": "com.cloudflare.browser_rendering#CrawlGetRequestStatus",
          "traits": {
            "smithy.api#documentation": "Filter by URL status.",
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemMetadata": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code of the crawled page.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Final URL of the crawled page.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the crawled page."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemJsonMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItem": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemMetadata",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemStatus",
          "traits": {
            "smithy.api#documentation": "Current status of the crawled URL.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crawled URL.",
            "smithy.api#required": {}
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML content of the crawled URL."
          }
        },
        "json": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemJsonMap",
          "traits": {
            "smithy.api#documentation": "JSON of the content of the crawled URL."
          }
        },
        "markdown": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Markdown of the content of the crawled URL."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crawl job ID.",
            "smithy.api#required": {}
          }
        },
        "browserSecondsUsed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total seconds spent in browser so far.",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of URLs that have been crawled so far.",
            "smithy.api#required": {}
          }
        },
        "records": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsList",
          "traits": {
            "smithy.api#documentation": "List of crawl job records.",
            "smithy.api#required": {}
          }
        },
        "skipped": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of URLs that were skipped due to include/exclude/subdomain filters. Skipped URLs are included in records but are not counted toward total/finished.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current crawl job status.",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total current number of URLs in the crawl job.",
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.browser_rendering#CrawlGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#CrawlGetRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#CrawlGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/crawl/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the result of a crawl job.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserConnectRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID to connect to.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keep_alive": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Keep-alive time in ms (only valid when acquiring new session).",
            "smithy.api#httpQuery": "keep_alive"
          }
        },
        "lab": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use experimental browser.",
            "smithy.api#httpQuery": "lab"
          }
        },
        "recording": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "recording"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserConnect": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserConnectRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}",
          "code": 200
        },
        "smithy.api#documentation": "Establishes a WebSocket connection to an existing browser session.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keep_alive": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Keep-alive time in milliseconds.",
            "smithy.api#httpQuery": "keep_alive"
          }
        },
        "lab": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use experimental browser.",
            "smithy.api#httpQuery": "lab"
          }
        },
        "liveViewUrlExpiresInMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How long the live view URL remains valid, in milliseconds (max 60 minutes). Only used when targets is true.",
            "smithy.api#httpQuery": "liveViewUrlExpiresInMs"
          }
        },
        "recording": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "recording"
          }
        },
        "targets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include browser targets in response.",
            "smithy.api#httpQuery": "targets"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserCreateResponse": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#required": {}
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for the session."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser",
          "code": 200
        },
        "smithy.api#documentation": "Acquires a browser and returns its session ID and websocket URL."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID to close.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponseStatus": {
      "type": "enum",
      "members": {
        "CLOSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closing"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}",
          "code": 200
        },
        "smithy.api#documentation": "Closes an existing browser session.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLaunchRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keep_alive": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Keep-alive time in ms (only valid when acquiring new session).",
            "smithy.api#httpQuery": "keep_alive"
          }
        },
        "lab": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use experimental browser.",
            "smithy.api#httpQuery": "lab"
          }
        },
        "recording": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "recording"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLaunch": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLaunchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser",
          "code": 200
        },
        "smithy.api#documentation": "Acquires and establishes a WebSocket connection to a browser session.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemCommandsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemCommandsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemCommandsItemMap"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemDependenciesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemEventsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemEventsItemMap"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemTypesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemTypesItemMap"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name.",
            "smithy.api#required": {}
          }
        },
        "commands": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemCommandsList",
          "traits": {
            "smithy.api#documentation": "Available commands."
          }
        },
        "dependencies": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemDependenciesList",
          "traits": {
            "smithy.api#documentation": "Domain dependencies."
          }
        },
        "events": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemEventsList",
          "traits": {
            "smithy.api#documentation": "Available events."
          }
        },
        "experimental": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this domain is experimental."
          }
        },
        "types": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemTypesList",
          "traits": {
            "smithy.api#documentation": "Type definitions."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItem"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseVersion": {
      "type": "structure",
      "members": {
        "major": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Major version.",
            "smithy.api#required": {}
          }
        },
        "minor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minor version.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponse": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsList",
          "traits": {
            "smithy.api#documentation": "List of protocol domains.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseVersion",
          "traits": {
            "smithy.api#documentation": "Protocol version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocol": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/protocol",
          "code": 200
        },
        "smithy.api#documentation": "Returns the complete Chrome DevTools Protocol schema including all domains, commands, events, and types. This schema describes the entire CDP API surface.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserVersionRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserVersionResponse": {
      "type": "structure",
      "members": {
        "Browser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser name and version.",
            "smithy.api#required": {}
          }
        },
        "_Protocol_Version_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chrome DevTools Protocol version.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "\"Protocol-Version\""
          }
        },
        "_User_Agent_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User agent string.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "\"User-Agent\""
          }
        },
        "_V8_Version_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "V8 JavaScript engine version.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "\"V8-Version\""
          }
        },
        "_WebKit_Version_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebKit version.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "\"WebKit-Version\""
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging the browser.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserVersion": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserVersionRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserVersionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/version",
          "code": 200
        },
        "smithy.api#documentation": "Get browser version metadata.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserPageGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID, e.g. page ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserPageGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserPageGetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/page/{target_id}",
          "code": 200
        },
        "smithy.api#documentation": "Establishes a WebSocket connection to a specific Chrome DevTools target or page.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID to activate.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target activated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/activate/{target_id}",
          "code": 200
        },
        "smithy.api#documentation": "Activates (brings to front) a specific browser target by its ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID to close.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target is closing.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsClose": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/close/{target_id}",
          "code": 200
        },
        "smithy.api#documentation": "Closes a specific browser target (tab, page, etc.) by its ID. Returns 'Target is closing' on success or an error if the target is not found.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "liveViewUrlExpiresInMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How long the live view URL remains valid, in milliseconds (max 60 minutes)",
            "smithy.api#httpQuery": "liveViewUrlExpiresInMs"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "url"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target type (page, background_page, worker, etc.).",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the target.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target description."
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevTools frontend URL."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the target."
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging this target."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/new",
          "code": 200
        },
        "smithy.api#documentation": "Opens a new tab in the browser. Optionally specify a URL to navigate to.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target type (page, background_page, worker, etc.).",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the target.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target description."
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevTools frontend URL."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the target."
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging this target."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/list/{target_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the debuggable target with the given ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "liveViewUrlExpiresInMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How long the live view URLs remain valid, in milliseconds (max 60 minutes)",
            "smithy.api#httpQuery": "liveViewUrlExpiresInMs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target type (page, background_page, worker, etc.).",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the target.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target description."
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevTools frontend URL."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the target."
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging this target."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/list",
          "code": 200
        },
        "smithy.api#documentation": "Returns a list of all debuggable targets including tabs, pages, service workers, and other browser contexts.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsSessionGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsSessionGetResponse": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session ID.",
            "smithy.api#required": {}
          }
        },
        "closeReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for session closure."
          }
        },
        "closeReasonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable close reason."
          }
        },
        "connectionEndTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Connection end time."
          }
        },
        "connectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection ID."
          }
        },
        "connectionStartTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Connection start time."
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevTools frontend URL."
          }
        },
        "endTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session end time."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Last updated timestamp."
          }
        },
        "startTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session start time."
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging this target."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsSessionGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsSessionGetRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsSessionGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/session/{session_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get details for a specific browser session.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsSessionListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "offset": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "offset"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsSessionListResponse": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session ID.",
            "smithy.api#required": {}
          }
        },
        "closeReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for session closure."
          }
        },
        "closeReasonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable close reason."
          }
        },
        "connectionEndTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Connection end time."
          }
        },
        "connectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection ID."
          }
        },
        "connectionStartTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Connection start time."
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevTools frontend URL."
          }
        },
        "endTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session end time."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Last updated timestamp."
          }
        },
        "startTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session start time."
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging this target."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsSessionList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsSessionListRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsSessionListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/session",
          "code": 200
        },
        "smithy.api#documentation": "List active browser sessions.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateRequestBody": {
      "type": "structure",
      "members": {
        "object___html__actionTimeout__addScriptTag__19_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { html, actionTimeout, addScriptTag, 19 more }"
          }
        },
        "object___url__actionTimeout__addScriptTag__19_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { url, actionTimeout, addScriptTag, 19 more }"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "body": {
          "target": "com.cloudflare.browser_rendering#JsonCreateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateResultMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#JsonCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.browser_rendering#JsonCreateResultMap",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.browser_rendering#JsonCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#JsonCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#JsonCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/json",
          "code": 200
        },
        "smithy.api#documentation": "Gets json from a webpage from a provided URL or HTML. Pass `prompt` or `schema` in the body. Control page loading with `gotoOptions` and `waitFor*` options."
      }
    },
    "com.cloudflare.browser_rendering#LinksCreateRequestBody": {
      "type": "structure",
      "members": {
        "object___html__actionTimeout__addScriptTag__18_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { html, actionTimeout, addScriptTag, 18 more }"
          }
        },
        "object___url__actionTimeout__addScriptTag__18_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { url, actionTimeout, addScriptTag, 18 more }"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#LinksCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "body": {
          "target": "com.cloudflare.browser_rendering#LinksCreateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#LinksCreateResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#LinksCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.browser_rendering#LinksCreateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.browser_rendering#LinksCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#LinksCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#LinksCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/links",
          "code": 200
        },
        "smithy.api#documentation": "Get links from a web page."
      }
    },
    "com.cloudflare.browser_rendering#MarkdownCreateRequestBody": {
      "type": "structure",
      "members": {
        "object___url__actionTimeout__addScriptTag__16_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { url, actionTimeout, addScriptTag, 16 more }"
          }
        },
        "object___html__actionTimeout__addScriptTag__16_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { html, actionTimeout, addScriptTag, 16 more }"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#MarkdownCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "body": {
          "target": "com.cloudflare.browser_rendering#MarkdownCreateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#MarkdownCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.browser_rendering#MarkdownCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#MarkdownCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#MarkdownCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/markdown",
          "code": 200
        },
        "smithy.api#documentation": "Gets markdown of a webpage from provided URL or HTML. Control page loading with `gotoOptions` and `waitFor*` options."
      }
    },
    "com.cloudflare.browser_rendering#PdfCreateRequestBody": {
      "type": "structure",
      "members": {
        "object___html__actionTimeout__addScriptTag__17_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { html, actionTimeout, addScriptTag, 17 more }"
          }
        },
        "object___url__actionTimeout__addScriptTag__17_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { url, actionTimeout, addScriptTag, 17 more }"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#PdfCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "body": {
          "target": "com.cloudflare.browser_rendering#PdfCreateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#PdfCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#PdfCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/pdf",
          "code": 200
        },
        "smithy.api#documentation": "Fetches rendered PDF from provided URL or HTML. Check available options like `gotoOptions` and `waitFor*` to control page load behaviour."
      }
    },
    "com.cloudflare.browser_rendering#ScrapeCreateRequestBody": {
      "type": "structure",
      "members": {
        "object___elements__html__actionTimeout__17_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { elements, html, actionTimeout, 17 more }"
          }
        },
        "object___elements__url__actionTimeout__17_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { elements, url, actionTimeout, 17 more }"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ScrapeCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "body": {
          "target": "com.cloudflare.browser_rendering#ScrapeCreateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#ScrapeCreateResultItemResultsAttributesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attribute name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attribute value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ScrapeCreateResultItemResultsAttributesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ScrapeCreateResultItemResultsAttributesItem"
      }
    },
    "com.cloudflare.browser_rendering#ScrapeCreateResultItemResults": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.cloudflare.browser_rendering#ScrapeCreateResultItemResultsAttributesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Element height.",
            "smithy.api#required": {}
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML content.",
            "smithy.api#required": {}
          }
        },
        "left": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Element left.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text content.",
            "smithy.api#required": {}
          }
        },
        "top": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Element top.",
            "smithy.api#required": {}
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Element width.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ScrapeCreateResultItem": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.cloudflare.browser_rendering#ScrapeCreateResultItemResults",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selector.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ScrapeCreateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ScrapeCreateResultItem"
      }
    },
    "com.cloudflare.browser_rendering#ScrapeCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.browser_rendering#ScrapeCreateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.browser_rendering#ScrapeCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#ScrapeCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#ScrapeCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/scrape",
          "code": 200
        },
        "smithy.api#documentation": "Get meta attributes like height, width, text and others of selected elements."
      }
    },
    "com.cloudflare.browser_rendering#ScreenshotCreateRequestBody": {
      "type": "structure",
      "members": {
        "object___html__actionTimeout__addScriptTag__19_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { html, actionTimeout, addScriptTag, 19 more }"
          }
        },
        "object___url__actionTimeout__addScriptTag__19_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { url, actionTimeout, addScriptTag, 19 more }"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ScreenshotCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "body": {
          "target": "com.cloudflare.browser_rendering#ScreenshotCreateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#ScreenshotCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#ScreenshotCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/screenshot",
          "code": 200
        },
        "smithy.api#documentation": "Takes a screenshot of a webpage from provided URL or HTML. Control page loading with `gotoOptions` and `waitFor*` options. Customize screenshots with `viewport`, `fullPage`, `clip` and others."
      }
    },
    "com.cloudflare.browser_rendering#SnapshotCreateRequestBody": {
      "type": "structure",
      "members": {
        "object___html__actionTimeout__addScriptTag__18_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { html, actionTimeout, addScriptTag, 18 more }"
          }
        },
        "object___url__actionTimeout__addScriptTag__18_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { url, actionTimeout, addScriptTag, 18 more }"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#SnapshotCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "body": {
          "target": "com.cloudflare.browser_rendering#SnapshotCreateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#SnapshotCreateResponseAccessibilityTreeChildrenList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#SnapshotCreateResponseAccessibilityTree": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "autocomplete": {
          "target": "smithy.api#String"
        },
        "checked": {
          "target": "smithy.api#Document"
        },
        "children": {
          "target": "com.cloudflare.browser_rendering#SnapshotCreateResponseAccessibilityTreeChildrenList"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "expanded": {
          "target": "smithy.api#Boolean"
        },
        "focused": {
          "target": "smithy.api#Boolean"
        },
        "haspopup": {
          "target": "smithy.api#String"
        },
        "invalid": {
          "target": "smithy.api#String"
        },
        "keyshortcuts": {
          "target": "smithy.api#String"
        },
        "level": {
          "target": "smithy.api#Double"
        },
        "modal": {
          "target": "smithy.api#Boolean"
        },
        "multiline": {
          "target": "smithy.api#Boolean"
        },
        "multiselectable": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "orientation": {
          "target": "smithy.api#String"
        },
        "pressed": {
          "target": "smithy.api#Document"
        },
        "readonly": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "roledescription": {
          "target": "smithy.api#String"
        },
        "selected": {
          "target": "smithy.api#Boolean"
        },
        "value": {
          "target": "smithy.api#Document"
        },
        "valuemax": {
          "target": "smithy.api#Double"
        },
        "valuemin": {
          "target": "smithy.api#Double"
        },
        "valuetext": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#SnapshotCreateResponse": {
      "type": "structure",
      "members": {
        "accessibilityTree": {
          "target": "com.cloudflare.browser_rendering#SnapshotCreateResponseAccessibilityTree",
          "traits": {
            "smithy.api#documentation": "Accessibility tree node"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML content."
          }
        },
        "markdown": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Markdown content."
          }
        },
        "screenshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64 encoded image."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.browser_rendering#SnapshotCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#SnapshotCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#SnapshotCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/snapshot",
          "code": 200
        },
        "smithy.api#documentation": "Returns the page's HTML content and screenshot. Control page loading with `gotoOptions` and `waitFor*` options. Customize screenshots with `viewport`, `fullPage`, `clip` and others."
      }
    },
    "com.cloudflare.browser_rendering#BrowserRendering": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.browser_rendering#ContentCreate"
        },
        {
          "target": "com.cloudflare.browser_rendering#CrawlCreate"
        },
        {
          "target": "com.cloudflare.browser_rendering#CrawlDelete"
        },
        {
          "target": "com.cloudflare.browser_rendering#CrawlGet"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserConnect"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserCreate"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserDelete"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLaunch"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocol"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserVersion"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserPageGet"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivate"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsClose"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreate"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGet"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsList"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsSessionGet"
        },
        {
          "target": "com.cloudflare.browser_rendering#DevtoolsSessionList"
        },
        {
          "target": "com.cloudflare.browser_rendering#JsonCreate"
        },
        {
          "target": "com.cloudflare.browser_rendering#LinksCreate"
        },
        {
          "target": "com.cloudflare.browser_rendering#MarkdownCreate"
        },
        {
          "target": "com.cloudflare.browser_rendering#PdfCreate"
        },
        {
          "target": "com.cloudflare.browser_rendering#ScrapeCreate"
        },
        {
          "target": "com.cloudflare.browser_rendering#ScreenshotCreate"
        },
        {
          "target": "com.cloudflare.browser_rendering#SnapshotCreate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare BrowserRendering",
        "smithy.api#documentation": "Cloudflare API — browser_rendering resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
