{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.browser_rendering#AccessibilityTreeCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTreeChecked": {
      "type": "enum",
      "members": {
        "MIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mixed"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTreeChecked2": {
      "type": "union",
      "members": {
        "AccessibilityTreeCreateResponseAccessibilityTreeChecked": {
          "target": "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTreeChecked"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTreeChildrenList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTreePressed": {
      "type": "enum",
      "members": {
        "MIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mixed"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTreePressed2": {
      "type": "union",
      "members": {
        "AccessibilityTreeCreateResponseAccessibilityTreePressed": {
          "target": "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTreePressed"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTreeValue": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Double": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTree": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "autocomplete": {
          "target": "smithy.api#String"
        },
        "checked": {
          "target": "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTreeChecked2"
        },
        "children": {
          "target": "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTreeChildrenList"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "expanded": {
          "target": "smithy.api#Boolean"
        },
        "focused": {
          "target": "smithy.api#Boolean"
        },
        "haspopup": {
          "target": "smithy.api#String"
        },
        "invalid": {
          "target": "smithy.api#String"
        },
        "keyshortcuts": {
          "target": "smithy.api#String"
        },
        "level": {
          "target": "smithy.api#Double"
        },
        "modal": {
          "target": "smithy.api#Boolean"
        },
        "multiline": {
          "target": "smithy.api#Boolean"
        },
        "multiselectable": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "orientation": {
          "target": "smithy.api#String"
        },
        "pressed": {
          "target": "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTreePressed2"
        },
        "readonly": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "roledescription": {
          "target": "smithy.api#String"
        },
        "selected": {
          "target": "smithy.api#Boolean"
        },
        "value": {
          "target": "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTreeValue"
        },
        "valuemax": {
          "target": "smithy.api#Double"
        },
        "valuemin": {
          "target": "smithy.api#Double"
        },
        "valuetext": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponse": {
      "type": "structure",
      "members": {
        "accessibilityTree": {
          "target": "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponseAccessibilityTree",
          "traits": {
            "smithy.api#documentation": "Accessibility tree node",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.browser_rendering#AccessibilityTreeCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#AccessibilityTreeCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#AccessibilityTreeCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/accessibilityTree",
          "code": 200
        },
        "smithy.api#documentation": "Returns the page’s accessibility tree. Use interestingOnly to only return semantically meaningful nodes; use root to scope the tree to a CSS-selector-anchored subtree. Control page loading with gotoOptions and waitFor* options."
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestAddScriptTagItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formaturi"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestAddScriptTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestAddScriptTagItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestAddStyleTagItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formaturi"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestAddStyleTagList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestAddStyleTagItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestAllowRequestPatternList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestAllowResourceTypesItem": {
      "type": "enum",
      "members": {
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "STYLESHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stylesheet"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media"
          }
        },
        "FONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "font"
          }
        },
        "SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "script"
          }
        },
        "TEXTTRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "texttrack"
          }
        },
        "XHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhr"
          }
        },
        "FETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fetch"
          }
        },
        "PREFETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prefetch"
          }
        },
        "EVENTSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventsource"
          }
        },
        "WEBSOCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "websocket"
          }
        },
        "MANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manifest"
          }
        },
        "SIGNEDEXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signedexchange"
          }
        },
        "PING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ping"
          }
        },
        "CSPVIOLATIONREPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cspviolationreport"
          }
        },
        "PREFLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preflight"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestAllowResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestAllowResourceTypesItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestAuthenticate": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "minLength1",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "minLength1",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemPriority": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemSameSite": {
      "type": "enum",
      "members": {
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemSourceScheme": {
      "type": "enum",
      "members": {
        "UNSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unset"
          }
        },
        "NONSECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonSecure"
          }
        },
        "SECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secure"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemGotoOptionsWaitUntil": {
      "type": "enum",
      "members": {
        "LOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load"
          }
        },
        "DOMCONTENTLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domcontentloaded"
          }
        },
        "NETWORKIDLE0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle0"
          }
        },
        "NETWORKIDLE2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkidle2"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemGotoOptions": {
      "type": "structure",
      "members": {
        "referer": {
          "target": "smithy.api#String"
        },
        "referrerPolicy": {
          "target": "smithy.api#String"
        },
        "timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "maximum60000"
          }
        },
        "waitUntil": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemGotoOptionsWaitUntil",
          "traits": {
            "smithy.api#documentation": "\"load\" or \"domcontentloaded\" or \"networkidle0\" or \"networkidle2\""
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemRejectRequestPatternList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemRejectResourceTypesItem": {
      "type": "enum",
      "members": {
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document"
          }
        },
        "STYLESHEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stylesheet"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media"
          }
        },
        "FONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "font"
          }
        },
        "SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "script"
          }
        },
        "TEXTTRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "texttrack"
          }
        },
        "XHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xhr"
          }
        },
        "FETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fetch"
          }
        },
        "PREFETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prefetch"
          }
        },
        "EVENTSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventsource"
          }
        },
        "WEBSOCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "websocket"
          }
        },
        "MANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manifest"
          }
        },
        "SIGNEDEXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signedexchange"
          }
        },
        "PING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ping"
          }
        },
        "CSPVIOLATIONREPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cspviolationreport"
          }
        },
        "PREFLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preflight"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemRejectResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemRejectResourceTypesItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemSetExtraHTTPHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemViewportWaitForSelector": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean"
        },
        "timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "maximum120000"
          }
        },
        "visible": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemViewport": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deviceScaleFactor": {
          "target": "smithy.api#Double"
        },
        "hasTouch": {
          "target": "smithy.api#Boolean"
        },
        "isLandscape": {
          "target": "smithy.api#Boolean"
        },
        "isMobile": {
          "target": "smithy.api#Boolean"
        },
        "waitForSelector": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemViewportWaitForSelector",
          "traits": {
            "smithy.api#documentation": "Wait for the selector to appear in page. Check options."
          }
        },
        "waitForTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Waits for a specified timeout before continuing."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cookie name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "expires": {
          "target": "smithy.api#Double"
        },
        "httpOnly": {
          "target": "smithy.api#Boolean"
        },
        "partitionKey": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "priority": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemPriority"
        },
        "sameParty": {
          "target": "smithy.api#Boolean"
        },
        "sameSite": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemSameSite"
        },
        "secure": {
          "target": "smithy.api#Boolean"
        },
        "sourcePort": {
          "target": "smithy.api#Double"
        },
        "sourceScheme": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemSourceScheme"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "emulateMediaType": {
          "target": "smithy.api#String"
        },
        "gotoOptions": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemGotoOptions",
          "traits": {
            "smithy.api#documentation": "Check options."
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the content of the page, eg: `<h1>Hello World!!</h1>`. Either `html` or `url` must be set."
          }
        },
        "rejectRequestPattern": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemRejectRequestPatternList",
          "traits": {
            "smithy.api#documentation": "Block undesired requests that match the provided regex patterns, eg. ’/^.*.(css)’."
          }
        },
        "rejectResourceTypes": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemRejectResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Block undesired requests that match the provided resource types, eg. ‘image’ or ‘script’."
          }
        },
        "setExtraHTTPHeaders": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemSetExtraHTTPHeadersMap"
        },
        "setJavaScriptEnabled": {
          "target": "smithy.api#Boolean"
        },
        "url_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to navigate to, eg. `https://example.com`.",
            "smithy.api#jsonName": "url"
          }
        },
        "userAgent": {
          "target": "smithy.api#String"
        },
        "viewport": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItemViewport",
          "traits": {
            "smithy.api#documentation": "Check options."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequestCookiesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequestCookiesItem"
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "actionTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum duration allowed for the browser action to complete after the page has loaded (such as taking screenshots, extracting content, or generating PDFs). If this time limit is exceeded, the action stops and returns a timeout error."
          }
        },
        "addScriptTag": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestAddScriptTagList",
          "traits": {
            "smithy.api#documentation": "Adds a `<script>` tag into the page with the desired URL or content."
          }
        },
        "addStyleTag": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestAddStyleTagList",
          "traits": {
            "smithy.api#documentation": "Adds a `<link rel=\"stylesheet\">` tag into the page with the desired URL or a `<style type=\"text/css\">` tag with the content."
          }
        },
        "allowRequestPattern": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestAllowRequestPatternList",
          "traits": {
            "smithy.api#documentation": "Only allow requests that match the provided regex patterns, eg. ’/^.*.(css)’. Reject rules are applied first."
          }
        },
        "allowResourceTypes": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestAllowResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Only allow requests that match the provided resource types, eg. ‘image’ or ‘script’. Reject rules are applied first."
          }
        },
        "authenticate": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestAuthenticate",
          "traits": {
            "smithy.api#documentation": "Provide credentials for HTTP authentication."
          }
        },
        "bestAttempt": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Attempt to proceed when ‘awaited’ events fail or timeout."
          }
        },
        "cookies": {
          "target": "com.cloudflare.browser_rendering#ContentCreateRequestCookiesList",
          "traits": {
            "smithy.api#documentation": "Check options."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#ContentCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.browser_rendering#ContentCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#ContentCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#ContentCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/content",
          "code": 200
        },
        "smithy.api#documentation": "Fetches rendered HTML content from provided URL or HTML. Check available options like `gotoOptions` and `waitFor*` to control page load behaviour."
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#CrawlCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/crawl",
          "code": 200
        },
        "smithy.api#documentation": "Starts a crawl job for the provided URL and its children. Check available options like gotoOptions and waitFor* to control page load behaviour."
      }
    },
    "com.cloudflare.browser_rendering#CrawlDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the crawl job to cancel.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlDeleteResponse": {
      "type": "structure",
      "members": {
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the cancelled job.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cancellation confirmation message.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.browser_rendering#CrawlDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#CrawlDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#CrawlDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/browser-rendering/crawl/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Cancels an ongoing crawl job by setting its status to cancelled and stopping all queued URLs.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetRequestStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DISALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disallowed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crawl job ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cacheTTL": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache TTL default is 5s. Set to 0 to disable.",
            "smithy.api#httpQuery": "cacheTTL"
          }
        },
        "cursor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit for pagination.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "status": {
          "target": "com.cloudflare.browser_rendering#CrawlGetRequestStatus",
          "traits": {
            "smithy.api#documentation": "Filter by URL status.",
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DISALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disallowed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemJsonMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemMetadata": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code of the crawled page.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Final URL of the crawled page.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the crawled page."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItem": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemStatus",
          "traits": {
            "smithy.api#documentation": "Current status of the crawled URL.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crawled URL.",
            "smithy.api#required": {}
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML content of the crawled URL."
          }
        },
        "json": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemJsonMap",
          "traits": {
            "smithy.api#documentation": "JSON of the content of the crawled URL."
          }
        },
        "markdown": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Markdown of the content of the crawled URL."
          }
        },
        "metadata": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItemMetadata",
          "traits": {
            "smithy.api#documentation": "Absent for urls that never reached a fetch."
          }
        },
        "skipped": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of URLs that were skipped due to include/exclude/subdomain filters. Skipped URLs are included in records but are not counted toward total/finished.",
            "smithy.api#required": {}
          }
        },
        "status_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current crawl job status.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "status"
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total current number of URLs in the crawl job.",
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponseRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsItem"
      }
    },
    "com.cloudflare.browser_rendering#CrawlGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crawl job ID.",
            "smithy.api#required": {}
          }
        },
        "browserSecondsUsed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total seconds spent in browser so far.",
            "smithy.api#required": {}
          }
        },
        "finished": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of URLs that have been crawled so far.",
            "smithy.api#required": {}
          }
        },
        "records": {
          "target": "com.cloudflare.browser_rendering#CrawlGetResponseRecordsList",
          "traits": {
            "smithy.api#documentation": "List of crawl job records.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.browser_rendering#CrawlGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#CrawlGetRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#CrawlGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/crawl/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the result of a crawl job.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserConnectRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID to connect to.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keep_alive": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Keep-alive time in ms (only valid when acquiring new session).",
            "smithy.api#httpQuery": "keep_alive"
          }
        },
        "lab": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use experimental browser.",
            "smithy.api#httpQuery": "lab"
          }
        },
        "recording": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "recording"
          }
        },
        "cf_brapi_guardrails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional base64url-encoded JSON connection guardrails (mode)",
            "smithy.api#httpHeader": "cf-brapi-guardrails"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserConnect": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserConnectRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}",
          "code": 200
        },
        "smithy.api#documentation": "Establishes a WebSocket connection to an existing browser session.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserCreateRequestGuardrailsAllowedDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserCreateRequestGuardrailsAllowedDomainSetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserCreateRequestGuardrails": {
      "type": "structure",
      "members": {
        "allowedDomains": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserCreateRequestGuardrailsAllowedDomainsList",
          "traits": {
            "smithy.api#documentation": "Hostname patterns, max 50. Supports exact hosts (example.com) or a single * wildcard anywhere. Prefer *.example.com (subdomain wildcard) over *example.com (prefix wildcard) to avoid matching overbroad lookalikes like evilexample.com."
          }
        },
        "allowedDomainSets": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserCreateRequestGuardrailsAllowedDomainSetsList",
          "traits": {
            "smithy.api#documentation": "Max 4 entries: curated preset names (common-cdns) and/or https URLs of newline-separated hostname lists."
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keep_alive": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Keep-alive time in milliseconds.",
            "smithy.api#httpQuery": "keep_alive"
          }
        },
        "lab": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use experimental browser.",
            "smithy.api#httpQuery": "lab"
          }
        },
        "liveViewUrlExpiresInMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How long the live view URL remains valid, in milliseconds (max 60 minutes). Only used when targets is true.",
            "smithy.api#httpQuery": "liveViewUrlExpiresInMs"
          }
        },
        "recording": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "recording"
          }
        },
        "targets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include browser targets in response.",
            "smithy.api#httpQuery": "targets"
          }
        },
        "guardrails": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserCreateRequestGuardrails"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserCreateResponseWebSocketDebuggerUrl": {
      "type": "enum",
      "members": {
        "WEBSOCKETDEBUGGERURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webSocketDebuggerUrl"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserCreateResponse": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#required": {}
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for the session."
          }
        },
        "sessionId_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "sessionId"
          }
        },
        "webSocketDebuggerUrl_2": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserCreateResponseWebSocketDebuggerUrl",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "webSocketDebuggerUrl"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser",
          "code": 200
        },
        "smithy.api#documentation": "Acquires a browser and returns its session ID and websocket URL. Optionally accepts a JSON body with session guardrails to restrict outbound HTTP/S traffic."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID to close.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponseStatus": {
      "type": "enum",
      "members": {
        "CLOSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closing"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponseStatus2": {
      "type": "enum",
      "members": {
        "CLOSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closing"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponseStatus",
          "traits": {
            "smithy.api#documentation": "HTTP",
            "smithy.api#required": {}
          }
        },
        "status_2": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponseStatus2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "status"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}",
          "code": 200
        },
        "smithy.api#documentation": "Closes an existing browser session.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLaunchRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keep_alive": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Keep-alive time in ms (only valid when acquiring new session).",
            "smithy.api#httpQuery": "keep_alive"
          }
        },
        "lab": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use experimental browser.",
            "smithy.api#httpQuery": "lab"
          }
        },
        "recording": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "recording"
          }
        },
        "cf_brapi_guardrails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional base64url-encoded JSON session guardrails (allowedDomains and allowedDomainSets)",
            "smithy.api#httpHeader": "cf-brapi-guardrails"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLaunch": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLaunchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser",
          "code": 200
        },
        "smithy.api#documentation": "Acquires and establishes a WebSocket connection to a browser session. Session guardrails may be supplied in the `cf-brapi-guardrails` header as base64url-encoded JSON of the same `guardrails` object the POST body accepts (for example `{\"allowedDomains\":[\"*.example.com\"]}`).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemCommandsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemCommandsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemCommandsItemMap"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemDependenciesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemEventsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemEventsItemMap"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemTypesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemTypesItemMap"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemVersion": {
      "type": "structure",
      "members": {
        "major": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Major version.",
            "smithy.api#required": {}
          }
        },
        "minor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minor version.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemMinor": {
      "type": "enum",
      "members": {
        "MINOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minor"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name.",
            "smithy.api#required": {}
          }
        },
        "commands": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemCommandsList",
          "traits": {
            "smithy.api#documentation": "Available commands."
          }
        },
        "dependencies": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemDependenciesList",
          "traits": {
            "smithy.api#documentation": "Domain dependencies."
          }
        },
        "events": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemEventsList",
          "traits": {
            "smithy.api#documentation": "Available events."
          }
        },
        "experimental": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this domain is experimental."
          }
        },
        "types": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemTypesList",
          "traits": {
            "smithy.api#documentation": "Type definitions."
          }
        },
        "version": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemVersion",
          "traits": {
            "smithy.api#documentation": "Protocol version."
          }
        },
        "domains": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "{",
            "smithy.api#required": {}
          }
        },
        "domain_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "domain"
          }
        },
        "commands_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "{",
            "smithy.api#required": {},
            "smithy.api#jsonName": "commands"
          }
        },
        "foo": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "dependencies_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "\"string\"",
            "smithy.api#required": {},
            "smithy.api#jsonName": "dependencies"
          }
        },
        "events_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "{",
            "smithy.api#required": {},
            "smithy.api#jsonName": "events"
          }
        },
        "foo_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "foo"
          }
        },
        "experimental_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "experimental"
          }
        },
        "types_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "{",
            "smithy.api#required": {},
            "smithy.api#jsonName": "types"
          }
        },
        "foo_3": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "foo"
          }
        },
        "version_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "version"
          }
        },
        "major": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "minor": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItemMinor",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsItem"
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponse": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponseDomainsList",
          "traits": {
            "smithy.api#documentation": "List of protocol domains.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserProtocol": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserProtocolResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/protocol",
          "code": 200
        },
        "smithy.api#documentation": "Returns the complete Chrome DevTools Protocol schema including all domains, commands, events, and types. This schema describes the entire CDP API surface.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserVersionRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserVersionResponseWebSocketDebuggerUrl": {
      "type": "enum",
      "members": {
        "WEBSOCKETDEBUGGERURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webSocketDebuggerUrl"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserVersionResponse": {
      "type": "structure",
      "members": {
        "Browser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser name and version.",
            "smithy.api#required": {}
          }
        },
        "Protocol_Version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chrome DevTools Protocol version.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "Protocol-Version"
          }
        },
        "User_Agent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User agent string.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "User-Agent"
          }
        },
        "V8_Version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "V8 JavaScript engine version.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "V8-Version"
          }
        },
        "WebKit_Version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebKit version.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "WebKit-Version"
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging the browser.",
            "smithy.api#required": {}
          }
        },
        "Browser_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Browser"
          }
        },
        "Protocol_Version_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Protocol-Version"
          }
        },
        "User_Agent_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "User-Agent"
          }
        },
        "V8_Version_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "V8-Version"
          }
        },
        "WebKit_Version_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "WebKit-Version"
          }
        },
        "webSocketDebuggerUrl_2": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserVersionResponseWebSocketDebuggerUrl",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "webSocketDebuggerUrl"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserVersion": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserVersionRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserVersionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/version",
          "code": 200
        },
        "smithy.api#documentation": "Get browser version metadata.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateRequestGuardrailsMode": {
      "type": "enum",
      "members": {
        "READONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "readonly"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateRequestGuardrailsMode2": {
      "type": "enum",
      "members": {
        "DEVTOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "devtools"
          }
        },
        "TAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tab"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateRequestGuardrails": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateRequestGuardrailsMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mode_2": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateRequestGuardrailsMode2",
          "traits": {
            "smithy.api#documentation": "UI mode: ‘devtools’ (Chrome DevTools), ‘tab’ (single tab view), ‘full’ (multi-tab browser)",
            "smithy.api#jsonName": "mode"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expiresInMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How long the live view URLs remain valid, in milliseconds. Default: 5 minutes. Max: 60 minutes."
          }
        },
        "guardrails": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateRequestGuardrails",
          "traits": {
            "smithy.api#documentation": "Connection guardrails. Use `{ mode: 'readonly' }` to generate a view-only link."
          }
        },
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID (page) to connect to. If omitted, auto-resolves to the first active page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponseOptionsMode": {
      "type": "enum",
      "members": {
        "DEVTOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "devtools"
          }
        },
        "TAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tab"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponseOptionsGuardrailsMode": {
      "type": "enum",
      "members": {
        "READONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "readonly"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponseOptionsGuardrails": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponseOptionsGuardrailsMode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponseOptions": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponseOptionsMode",
          "traits": {
            "smithy.api#documentation": "UI mode for the live view",
            "smithy.api#required": {}
          }
        },
        "guardrails": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponseOptionsGuardrails",
          "traits": {
            "smithy.api#documentation": "Connection guardrails applied to this link"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponseMode": {
      "type": "enum",
      "members": {
        "READONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "readonly"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponseWebSocketDebuggerUrl": {
      "type": "enum",
      "members": {
        "HTTPS_EXAMPLE_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://example.com"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID",
            "smithy.api#required": {}
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to open the live view in a browser",
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponseOptions",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for CDP connection",
            "smithy.api#required": {}
          }
        },
        "id_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "id"
          }
        },
        "devtoolsFrontendUrl_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "devtoolsFrontendUrl"
          }
        },
        "options_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "options"
          }
        },
        "mode": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "guardrails": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mode_2": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponseMode",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "mode"
          }
        },
        "webSocketDebuggerUrl_2": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponseWebSocketDebuggerUrl",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "webSocketDebuggerUrl"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserLiveViewCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/live_view",
          "code": 200
        },
        "smithy.api#documentation": "Generates time-limited URLs to view a remote browser session. Set `guardrails: { mode: 'readonly' }` to create a view-only link."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserPageGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID, e.g. page ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_brapi_guardrails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional base64url-encoded JSON connection guardrails (mode)",
            "smithy.api#httpHeader": "cf-brapi-guardrails"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserPageGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserPageGetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/page/{target_id}",
          "code": 200
        },
        "smithy.api#documentation": "Establishes a WebSocket connection to a specific Chrome DevTools target or page.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID to activate.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateResponseMessage": {
      "type": "enum",
      "members": {
        "MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target activated.",
            "smithy.api#required": {}
          }
        },
        "message_2": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateResponseMessage",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsActivateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/activate/{target_id}",
          "code": 200
        },
        "smithy.api#documentation": "Activates (brings to front) a specific browser target by its ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID to close.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseResponseMessage": {
      "type": "enum",
      "members": {
        "MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target is closing.",
            "smithy.api#required": {}
          }
        },
        "message_2": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseResponseMessage",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsClose": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCloseResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/close/{target_id}",
          "code": 200
        },
        "smithy.api#documentation": "Closes a specific browser target (tab, page, etc.) by its ID. Returns ‘Target is closing’ on success or an error if the target is not found.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "liveViewUrlExpiresInMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How long the live view URL remains valid, in milliseconds (max 60 minutes)",
            "smithy.api#httpQuery": "liveViewUrlExpiresInMs"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formaturi",
            "smithy.api#httpQuery": "url"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateResponseWebSocketDebuggerUrl": {
      "type": "enum",
      "members": {
        "WEBSOCKETDEBUGGERURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webSocketDebuggerUrl"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target type (page, background_page, worker, etc.).",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the target.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target description."
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevTools frontend URL."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the target."
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging this target."
          }
        },
        "id_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "id"
          }
        },
        "type_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "url"
          }
        },
        "description_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "description"
          }
        },
        "devtoolsFrontendUrl_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "devtoolsFrontendUrl"
          }
        },
        "title_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "title"
          }
        },
        "webSocketDebuggerUrl_2": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateResponseWebSocketDebuggerUrl",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "webSocketDebuggerUrl"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/new",
          "code": 200
        },
        "smithy.api#documentation": "Opens a new tab in the browser. Optionally specify a URL to navigate to.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetResponseWebSocketDebuggerUrl": {
      "type": "enum",
      "members": {
        "WEBSOCKETDEBUGGERURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webSocketDebuggerUrl"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target type (page, background_page, worker, etc.).",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the target.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target description."
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevTools frontend URL."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the target."
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging this target."
          }
        },
        "id_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "id"
          }
        },
        "type_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "url"
          }
        },
        "description_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "description"
          }
        },
        "devtoolsFrontendUrl_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "devtoolsFrontendUrl"
          }
        },
        "title_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "title"
          }
        },
        "webSocketDebuggerUrl_2": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetResponseWebSocketDebuggerUrl",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "webSocketDebuggerUrl"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/list/{target_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the debuggable target with the given ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser session ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "liveViewUrlExpiresInMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How long the live view URLs remain valid, in milliseconds (max 60 minutes)",
            "smithy.api#httpQuery": "liveViewUrlExpiresInMs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListResponseWebSocketDebuggerUrl": {
      "type": "enum",
      "members": {
        "WEBSOCKETDEBUGGERURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webSocketDebuggerUrl"
          }
        }
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target ID.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target type (page, background_page, worker, etc.).",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the target.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target description."
          }
        },
        "devtoolsFrontendUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DevTools frontend URL."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the target."
          }
        },
        "webSocketDebuggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WebSocket URL for debugging this target."
          }
        },
        "id_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "id"
          }
        },
        "type_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "url"
          }
        },
        "description_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "description"
          }
        },
        "devtoolsFrontendUrl_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "devtoolsFrontendUrl"
          }
        },
        "title_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "title"
          }
        },
        "webSocketDebuggerUrl_2": {
          "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListResponseWebSocketDebuggerUrl",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "webSocketDebuggerUrl"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListRequest"
      },
      "output": {
        "target": "com.cloudflare.browser_rendering#DevtoolsBrowserTargetsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/browser-rendering/devtools/browser/{session_id}/json/list",
          "code": 200
        },
        "smithy.api#documentation": "Returns a list of all debuggable targets including tabs, pages, service workers, and other browser contexts.",
[...]
