{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "key": "secret"
    }
  },
  "shapes": {
    "com.cloudflare.calls#SfuListResultItem": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was created."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was last modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of Calls app, not shown to end users."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item."
          }
        }
      }
    },
    "com.cloudflare.calls#SfuListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.calls#SfuListResultItem"
      }
    },
    "com.cloudflare.calls#TurnListResultItem": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was created."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was last modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of Calls app, not shown to end users."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item."
          }
        }
      }
    },
    "com.cloudflare.calls#TurnListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.calls#TurnListResultItem"
      }
    },
    "com.cloudflare.calls#Calls": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.calls#SfuCreate"
        },
        {
          "target": "com.cloudflare.calls#SfuDelete"
        },
        {
          "target": "com.cloudflare.calls#SfuGet"
        },
        {
          "target": "com.cloudflare.calls#SfuList"
        },
        {
          "target": "com.cloudflare.calls#SfuUpdate"
        },
        {
          "target": "com.cloudflare.calls#TurnCreate"
        },
        {
          "target": "com.cloudflare.calls#TurnDelete"
        },
        {
          "target": "com.cloudflare.calls#TurnGet"
        },
        {
          "target": "com.cloudflare.calls#TurnList"
        },
        {
          "target": "com.cloudflare.calls#TurnUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Calls",
        "smithy.api#documentation": "Cloudflare API — calls resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.calls#CallsAppNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 20007
          }
        ]
      }
    },
    "com.cloudflare.calls#Forbidden": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.cloudflare.calls#TurnKeyNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 20008
          }
        ]
      }
    },
    "com.cloudflare.calls#CreateSfu": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.calls#CreateSfuRequest"
      },
      "output": {
        "target": "com.cloudflare.calls#CreateSfuResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/calls/apps",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Cloudflare calls app. An app is an unique enviroment where each Session can access all Tracks within the app."
      },
      "errors": [
        {
          "target": "com.cloudflare.calls#Forbidden"
        }
      ]
    },
    "com.cloudflare.calls#CreateSfuRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of Calls app, not shown to end users."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.calls#CreateSfuResponse": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was created."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was last modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of Calls app, not shown to end users."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bearer token"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.calls#CreateTurn": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.calls#CreateTurnRequest"
      },
      "output": {
        "target": "com.cloudflare.calls#CreateTurnResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/calls/turn_keys",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Cloudflare Calls TURN key."
      },
      "errors": [
        {
          "target": "com.cloudflare.calls#Forbidden"
        }
      ]
    },
    "com.cloudflare.calls#CreateTurnRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of a TURN key, not shown to end users."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.calls#CreateTurnResponse": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was created."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bearer token"
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was last modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of a TURN key, not shown to end users."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.calls#DeleteSfu": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.calls#DeleteSfuRequest"
      },
      "output": {
        "target": "com.cloudflare.calls#DeleteSfuResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/calls/apps/{app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an app from Cloudflare Calls",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.calls#CallsAppNotFound"
        },
        {
          "target": "com.cloudflare.calls#Forbidden"
        }
      ]
    },
    "com.cloudflare.calls#DeleteSfuRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.calls#DeleteSfuResponse": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was created."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was last modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of Calls app, not shown to end users."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.calls#DeleteTurn": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.calls#DeleteTurnRequest"
      },
      "output": {
        "target": "com.cloudflare.calls#DeleteTurnResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/calls/turn_keys/{key_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a TURN key from Cloudflare Calls",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.calls#TurnKeyNotFound"
        },
        {
          "target": "com.cloudflare.calls#Forbidden"
        }
      ]
    },
    "com.cloudflare.calls#DeleteTurnRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.calls#DeleteTurnResponse": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was created."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was last modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of Calls app, not shown to end users."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.calls#GetSfu": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.calls#GetSfuRequest"
      },
      "output": {
        "target": "com.cloudflare.calls#GetSfuResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/calls/apps/{app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches details for a single Calls app.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.calls#CallsAppNotFound"
        },
        {
          "target": "com.cloudflare.calls#Forbidden"
        }
      ]
    },
    "com.cloudflare.calls#GetSfuRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.calls#GetSfuResponse": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was created."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was last modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of Calls app, not shown to end users."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.calls#GetTurn": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.calls#GetTurnRequest"
      },
      "output": {
        "target": "com.cloudflare.calls#GetTurnResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/calls/turn_keys/{key_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches details for a single TURN key.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.calls#TurnKeyNotFound"
        },
        {
          "target": "com.cloudflare.calls#Forbidden"
        }
      ]
    },
    "com.cloudflare.calls#GetTurnRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.calls#GetTurnResponse": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was created."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was last modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of Calls app, not shown to end users."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.calls#ListSfus": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.calls#ListSfusRequest"
      },
      "output": {
        "target": "com.cloudflare.calls#ListSfusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/calls/apps",
          "code": 200
        },
        "smithy.api#documentation": "Lists all apps in the Cloudflare account",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      }
    },
    "com.cloudflare.calls#ListSfusRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.calls#ListSfusResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.calls#SfuListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.calls#ListTurns": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.calls#ListTurnsRequest"
      },
      "output": {
        "target": "com.cloudflare.calls#ListTurnsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/calls/turn_keys",
          "code": 200
        },
        "smithy.api#documentation": "Lists all TURN keys in the Cloudflare account",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      }
    },
    "com.cloudflare.calls#ListTurnsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.calls#ListTurnsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.calls#TurnListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.calls#UpdateSfu": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.calls#UpdateSfuRequest"
      },
      "output": {
        "target": "com.cloudflare.calls#UpdateSfuResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/calls/apps/{app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Edit details for a single app.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.calls#CallsAppNotFound"
        },
        {
          "target": "com.cloudflare.calls#Forbidden"
        }
      ]
    },
    "com.cloudflare.calls#UpdateSfuRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of Calls app, not shown to end users."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.calls#UpdateSfuResponse": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was created."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was last modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of Calls app, not shown to end users."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.calls#UpdateTurn": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.calls#UpdateTurnRequest"
      },
      "output": {
        "target": "com.cloudflare.calls#UpdateTurnResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/calls/turn_keys/{key_id}",
          "code": 200
        },
        "smithy.api#documentation": "Edit details for a single TURN key.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.calls#TurnKeyNotFound"
        },
        {
          "target": "com.cloudflare.calls#Forbidden"
        }
      ]
    },
    "com.cloudflare.calls#UpdateTurnRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of a TURN key, not shown to end users."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.calls#UpdateTurnResponse": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was created."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the item was last modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of Calls app, not shown to end users."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a item."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    }
  }
}
