{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.client_certificates#CreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "csr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Certificate Signing Request (CSR). Must be newline-encoded.",
            "smithy.api#required": {}
          }
        },
        "validity_days": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of days the Client Certificate will be valid after the issued_on date.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.client_certificates#CreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.client_certificates#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.client_certificates#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.client_certificates#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/client_certificates",
          "code": 200
        },
        "smithy.api#documentation": "Create a new API Shield mTLS Client Certificate."
      }
    },
    "com.cloudflare.client_certificates#DeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "client_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.client_certificates#DeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.client_certificates#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.client_certificates#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.client_certificates#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/client_certificates/{client_certificate_id}",
          "code": 200
        },
        "smithy.api#documentation": "Set a API Shield mTLS Client Certificate to pending_revocation status for processing to revoked status.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.client_certificates#EditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "client_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "reactivate": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.client_certificates#EditResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.client_certificates#Edit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.client_certificates#EditRequest"
      },
      "output": {
        "target": "com.cloudflare.client_certificates#EditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/client_certificates/{client_certificate_id}",
          "code": 200
        },
        "smithy.api#documentation": "If a API Shield mTLS Client Certificate is in a pending_revocation state, you may reactivate it with this endpoint."
      }
    },
    "com.cloudflare.client_certificates#GetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "client_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.client_certificates#GetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.client_certificates#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.client_certificates#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.client_certificates#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/client_certificates/{client_certificate_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get Details for a single mTLS API Shield Client Certificate.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.client_certificates#ListRequestStatus": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PENDING_REACTIVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_reactivation"
          }
        }
      }
    },
    "com.cloudflare.client_certificates#ListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit to the number of records returned.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "offset": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Offset the results.",
            "smithy.api#httpQuery": "offset"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of records per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "status": {
          "target": "com.cloudflare.client_certificates#ListRequestStatus",
          "traits": {
            "smithy.api#documentation": "Client Certitifcate Status to filter results by.",
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.client_certificates#ListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.client_certificates#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.client_certificates#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.client_certificates#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.client_certificates#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.client_certificates#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/client_certificates",
          "code": 200
        },
        "smithy.api#documentation": "List all of your Zone's API Shield mTLS Client Certificates by Status and/or using Pagination.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.client_certificates#ClientCertificates": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.client_certificates#Create"
        },
        {
          "target": "com.cloudflare.client_certificates#Delete"
        },
        {
          "target": "com.cloudflare.client_certificates#Edit"
        },
        {
          "target": "com.cloudflare.client_certificates#Get"
        },
        {
          "target": "com.cloudflare.client_certificates#List"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare ClientCertificates",
        "smithy.api#documentation": "Cloudflare API — client_certificates resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
