{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.cloudforce_one#BinaryStorageCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#BinaryStorageCreateResponseSha256": {
      "type": "enum",
      "members": {
        "_0000A7F2692EF479E2E3D02661568882CADEC451CC8A64D4E7FACA29810CD626": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0000a7f2692ef479e2e3d02661568882cadec451cc8a64d4e7faca29810cd626"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#BinaryStorageCreateResponse": {
      "type": "structure",
      "members": {
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "md5": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sha1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP",
            "smithy.api#required": {}
          }
        },
        "content_type_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "content_type"
          }
        },
        "md5_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "md5"
          }
        },
        "sha1_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "sha1"
          }
        },
        "sha256_2": {
          "target": "com.cloudflare.cloudforce_one#BinaryStorageCreateResponseSha256",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "sha256"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.cloudforce_one#BinaryStorageCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#BinaryStorageCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#BinaryStorageCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/cloudforce-one/binary",
          "code": 200
        },
        "smithy.api#documentation": "Uploads a binary file to Cloudforce One’s binary database for malware analysis and threat intelligence correlation."
      }
    },
    "com.cloudflare.cloudforce_one#BinaryStorageGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "hash of the binary",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#BinaryStorageGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#BinaryStorageGetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cloudforce-one/binary/{hash}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a binary file from the Cloudforce One binary storage for analysis.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponsePriorityItem": {
      "type": "enum",
      "members": {
        "ROUTINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "routine"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "URGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "urgent"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponsePriorityList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponsePriorityItem"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponseStatusItem": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponseStatusList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponseStatusItem"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponseTlpItem": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponseTlpList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponseTlpItem"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstantsResponse": {
      "type": "structure",
      "members": {
        "priority": {
          "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponsePriorityList"
        },
        "status": {
          "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponseStatusList"
        },
        "tlp": {
          "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponseTlpList",
          "traits": {
            "smithy.api#documentation": "HTTP"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsConstants": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsConstantsRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsConstantsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/constants",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves constant values used in Cloudforce One requests, including valid statuses and types.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsCreateRequestTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request content."
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Priority for analyzing the request."
          }
        },
        "request_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information from request."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brief description of the request."
          }
        },
        "tlp": {
          "target": "com.cloudflare.cloudforce_one#RequestsCreateRequestTlp",
          "traits": {
            "smithy.api#documentation": "The CISA defined Traffic Light Protocol (TLP)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsCreateResponseTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsCreateResponseStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsCreateResponseSummary": {
      "type": "enum",
      "members": {
        "DOS_ATTACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DoS attack"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request content.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "request": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information from request.",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brief description of the request.",
            "smithy.api#required": {}
          }
        },
        "tlp": {
          "target": "com.cloudflare.cloudforce_one#RequestsCreateResponseTlp",
          "traits": {
            "smithy.api#documentation": "The CISA defined Traffic Light Protocol (TLP).",
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "completed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "message_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the request messages."
          }
        },
        "readable_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Readable Request ID."
          }
        },
        "status": {
          "target": "com.cloudflare.cloudforce_one#RequestsCreateResponseStatus",
          "traits": {
            "smithy.api#documentation": "Request Status."
          }
        },
        "tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the request."
          }
        },
        "content_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "content"
          }
        },
        "priority_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "priority"
          }
        },
        "request_type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "summary_2": {
          "target": "com.cloudflare.cloudforce_one#RequestsCreateResponseSummary",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {},
            "smithy.api#jsonName": "summary"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/new",
          "code": 200
        },
        "smithy.api#documentation": "Creating a request adds the request into the Cloudforce One queue for analysis. In addition to the content, a short title, type, priority, and releasability should be provided. If one is not provided, a default will be assigned."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsDeleteResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsDeleteResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsDeleteResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.cloudforce_one#RequestsDeleteResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.cloudforce_one#RequestsDeleteResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a Cloudforce One intelligence request and all associated data.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsGetResponseTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsGetResponseStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request content.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "request": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information from request.",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brief description of the request.",
            "smithy.api#required": {}
          }
        },
        "tlp": {
          "target": "com.cloudflare.cloudforce_one#RequestsGetResponseTlp",
          "traits": {
            "smithy.api#documentation": "The CISA defined Traffic Light Protocol (TLP).",
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "completed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "message_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the request messages."
          }
        },
        "readable_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Readable Request ID."
          }
        },
        "status": {
          "target": "com.cloudflare.cloudforce_one#RequestsGetResponseStatus",
          "traits": {
            "smithy.api#documentation": "Request Status."
          }
        },
        "tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the request."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves details for a specific Cloudforce One intelligence request.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsListRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsListRequestStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of results.",
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#required": {}
          }
        },
        "completed_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Retrieve requests completed after this time."
          }
        },
        "completed_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Retrieve requests completed before this time."
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Retrieve requests created after this time."
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Retrieve requests created before this time."
          }
        },
        "request_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information from request."
          }
        },
        "sort_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Field to sort results by."
          }
        },
        "sort_order": {
          "target": "com.cloudflare.cloudforce_one#RequestsListRequestSortOrder",
          "traits": {
            "smithy.api#documentation": "Sort order (asc or desc)."
          }
        },
        "status": {
          "target": "com.cloudflare.cloudforce_one#RequestsListRequestStatus",
          "traits": {
            "smithy.api#documentation": "Request Status."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsListResultItemPriority": {
      "type": "enum",
      "members": {
        "ROUTINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "routine"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "URGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "urgent"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsListResultItemTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsListResultItemStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsListResultItemSortBy": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request creation time.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "com.cloudflare.cloudforce_one#RequestsListResultItemPriority",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "request": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information from request.",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brief description of the request.",
            "smithy.api#required": {}
          }
        },
        "tlp": {
          "target": "com.cloudflare.cloudforce_one#RequestsListResultItemTlp",
          "traits": {
            "smithy.api#documentation": "The CISA defined Traffic Light Protocol (TLP).",
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request last updated time.",
            "smithy.api#required": {}
          }
        },
        "completed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request completion time."
          }
        },
        "message_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the request messages."
          }
        },
        "readable_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Readable Request ID."
          }
        },
        "status": {
          "target": "com.cloudflare.cloudforce_one#RequestsListResultItemStatus",
          "traits": {
            "smithy.api#documentation": "Request Status."
          }
        },
        "tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the request."
          }
        },
        "page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "completed_after": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "completed_before": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_after": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_before": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "request_type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sort_by": {
          "target": "com.cloudflare.cloudforce_one#RequestsListResultItemSortBy",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#RequestsListResultItem"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.cloudforce_one#RequestsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsListRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/cloudforce-one/requests",
          "code": 200
        },
        "smithy.api#documentation": "Lists Cloudforce One intelligence requests with filtering and pagination."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsQuotaRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsQuotaResponse": {
      "type": "structure",
      "members": {
        "anniversary_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Anniversary date is when annual quota limit is refreshed."
          }
        },
        "quarter_anniversary_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Quarter anniversary date is when quota limit is refreshed each quarter."
          }
        },
        "quota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the quarter."
          }
        },
        "remaining": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens remaining for the quarter."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsQuota": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsQuotaRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsQuotaResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/quota",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves quota usage for Cloudforce One standard requests.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsTypesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsTypesResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsTypes": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsTypesRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsTypesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/types",
          "code": 200
        },
        "smithy.api#documentation": "Lists available request types for Cloudforce One intelligence requests.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsUpdateRequestTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request content."
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Priority for analyzing the request."
          }
        },
        "request_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information from request."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brief description of the request."
          }
        },
        "tlp": {
          "target": "com.cloudflare.cloudforce_one#RequestsUpdateRequestTlp",
          "traits": {
            "smithy.api#documentation": "The CISA defined Traffic Light Protocol (TLP)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsUpdateResponseTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsUpdateResponseStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsUpdateResponseSummary": {
      "type": "enum",
      "members": {
        "DOS_ATTACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DoS attack"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request content.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "request": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested information from request.",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brief description of the request.",
            "smithy.api#required": {}
          }
        },
        "tlp": {
          "target": "com.cloudflare.cloudforce_one#RequestsUpdateResponseTlp",
          "traits": {
            "smithy.api#documentation": "The CISA defined Traffic Light Protocol (TLP).",
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "completed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "message_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the request messages."
          }
        },
        "readable_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Readable Request ID."
          }
        },
        "status": {
          "target": "com.cloudflare.cloudforce_one#RequestsUpdateResponseStatus",
          "traits": {
            "smithy.api#documentation": "Request Status."
          }
        },
        "tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Tokens for the request."
          }
        },
        "content_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "content"
          }
        },
        "priority_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "priority"
          }
        },
        "request_type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "summary_2": {
          "target": "com.cloudflare.cloudforce_one#RequestsUpdateResponseSummary",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {},
            "smithy.api#jsonName": "summary"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updating a request alters the request in the Cloudforce One queue. This API may be used to update any attributes of the request after the initial submission. Only fields that you choose to update need to be add to the request body.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of results.",
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsCreateResultItemPerPage": {
      "type": "intEnum",
      "members": {
        "_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 10
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsCreateResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Asset ID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset name.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the asset creation time."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset description."
          }
        },
        "file_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset file type."
          }
        },
        "page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "com.cloudflare.cloudforce_one#RequestsAssetsCreateResultItemPerPage",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsCreateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#RequestsAssetsCreateResultItem"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.cloudforce_one#RequestsAssetsCreateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsAssetsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsAssetsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}/asset",
          "code": 200
        },
        "smithy.api#documentation": "Lists assets attached to a Cloudforce One intelligence request."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "asset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsDeleteResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsDeleteResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsDeleteResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.cloudforce_one#RequestsAssetsDeleteResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.cloudforce_one#RequestsAssetsDeleteResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsAssetsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsAssetsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}/asset/{asset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Removes an asset from a Cloudforce One intelligence request.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "asset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsGetResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Asset ID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset name.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the asset creation time."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset description."
          }
        },
        "file_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset file type."
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#RequestsAssetsGetResultItem"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.cloudforce_one#RequestsAssetsGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsAssetsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsAssetsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}/asset/{asset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves an asset attached to a Cloudforce One intelligence request.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "asset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset file to upload."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsUpdateResponseSource": {
      "type": "enum",
      "members": {
        "USERS_ME_EXAMPLE_DOCX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@/Users/me/example.docx"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Asset ID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset name.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the asset creation time."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset description."
          }
        },
        "file_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset file type."
          }
        },
        "source": {
          "target": "com.cloudflare.cloudforce_one#RequestsAssetsUpdateResponseSource",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsAssetsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsAssetsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsAssetsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}/asset/{asset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an asset in a Cloudforce One intelligence request.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of message."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageCreateResponseContent": {
      "type": "enum",
      "members": {
        "CAN_YOU_ELABORATE_ON_THE_TYPE_OF_DOS_THAT_OCCURRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Can you elaborate on the type of DoS that occurred?"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Message ID.",
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Author of message.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of message.",
            "smithy.api#required": {}
          }
        },
        "is_follow_on_request": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the message is a follow-on request.",
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the message last updated time.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the message creation time."
          }
        },
        "content_2": {
          "target": "com.cloudflare.cloudforce_one#RequestsMessageCreateResponseContent",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {},
            "smithy.api#jsonName": "content"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsMessageCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsMessageCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}/message/new",
          "code": 200
        },
        "smithy.api#documentation": "Adds a message to a Cloudforce One intelligence request conversation."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "message_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageDeleteResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageDeleteResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageDeleteResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.cloudforce_one#RequestsMessageDeleteResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.cloudforce_one#RequestsMessageDeleteResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsMessageDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsMessageDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}/message/{message_id}",
          "code": 200
        },
        "smithy.api#documentation": "Removes a message from a Cloudforce One intelligence request thread.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageGetRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of results.",
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#required": {}
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Retrieve mes ges created after this time."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Retrieve messages created before this time."
          }
        },
        "sort_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Field to sort results by."
          }
        },
        "sort_order": {
          "target": "com.cloudflare.cloudforce_one#RequestsMessageGetRequestSortOrder",
          "traits": {
            "smithy.api#documentation": "Sort order (asc or desc)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageGetResultItemSortBy": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageGetResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Message ID.",
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Author of message.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of message.",
            "smithy.api#required": {}
          }
        },
        "is_follow_on_request": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the message is a follow-on request.",
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the message last updated time.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the message creation time."
          }
        },
        "page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "before": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sort_by": {
          "target": "com.cloudflare.cloudforce_one#RequestsMessageGetResultItemSortBy",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloudforce_one#RequestsMessageGetResultItem"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.cloudforce_one#RequestsMessageGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsMessageGetRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsMessageGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}/message",
          "code": 200
        },
        "smithy.api#documentation": "Lists messages in a Cloudforce One intelligence request conversation."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "message_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of message."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageUpdateResponseContent": {
      "type": "enum",
      "members": {
        "CAN_YOU_ELABORATE_ON_THE_TYPE_OF_DOS_THAT_OCCURRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Can you elaborate on the type of DoS that occurred?"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Message ID.",
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Author of message.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of message.",
            "smithy.api#required": {}
          }
        },
        "is_follow_on_request": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the message is a follow-on request.",
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the message last updated time.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the message creation time."
          }
        },
        "content_2": {
          "target": "com.cloudflare.cloudforce_one#RequestsMessageUpdateResponseContent",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {},
            "smithy.api#jsonName": "content"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsMessageUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsMessageUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsMessageUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/{request_id}/message/{message_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a message in a Cloudforce One intelligence request thread.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityCreateRequestLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityCreateRequestTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.cloudflare.cloudforce_one#RequestsPriorityCreateRequestLabelsList",
          "traits": {
            "smithy.api#documentation": "List of labels.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Priority.",
            "smithy.api#required": {}
          }
        },
        "requirement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requirement.",
            "smithy.api#required": {}
          }
        },
        "tlp": {
          "target": "com.cloudflare.cloudforce_one#RequestsPriorityCreateRequestTlp",
          "traits": {
            "smithy.api#documentation": "The CISA defined Traffic Light Protocol (TLP).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityCreateResponseLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityCreateResponseTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityCreateResponseTlp2": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Priority creation time.",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.cloudflare.cloudforce_one#RequestsPriorityCreateResponseLabelsList",
          "traits": {
            "smithy.api#documentation": "List of labels.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Priority.",
            "smithy.api#required": {}
          }
        },
        "requirement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requirement.",
            "smithy.api#required": {}
          }
        },
        "tlp": {
          "target": "com.cloudflare.cloudforce_one#RequestsPriorityCreateResponseTlp",
          "traits": {
            "smithy.api#documentation": "The CISA defined Traffic Light Protocol (TLP).",
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Priority last updated time.",
            "smithy.api#required": {}
          }
        },
        "labels_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "\"DoS\",",
            "smithy.api#required": {},
            "smithy.api#jsonName": "labels"
          }
        },
        "priority_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "priority"
          }
        },
        "requirement_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "requirement"
          }
        },
        "tlp_2": {
          "target": "com.cloudflare.cloudforce_one#RequestsPriorityCreateResponseTlp2",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {},
            "smithy.api#jsonName": "tlp"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsPriorityCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsPriorityCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/priority/new",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new priority intelligence request in Cloudforce One."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "priority_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityDeleteResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityDeleteResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityDeleteResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.cloudforce_one#RequestsPriorityDeleteResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.cloudforce_one#RequestsPriorityDeleteResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloudforce_one#RequestsPriorityDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.cloudforce_one#RequestsPriorityDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/cloudforce-one/requests/priority/{priority_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a priority intelligence request from Cloudforce One.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "priority_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityGetResponseTlp": {
      "type": "enum",
      "members": {
        "CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clear"
          }
        },
        "AMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber"
          }
        },
        "AMBER_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amber-strict"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        }
      }
    },
    "com.cloudflare.cloudforce_one#RequestsPriorityGetResponseStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reported"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "DECLINED": {
[...]
