{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.connectivity#DirectoryServicesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/connectivity/directory/services",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Workers VPC connectivity service in the account."
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/connectivity/directory/services/{service_id}",
          "code": 200
        },
        "smithy.api#documentation": "Removes a single Workers VPC connectivity service by its ID.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultNetwork2": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultNetwork3": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultNetwork4": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultNetwork5": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultNetwork6": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultResolverNetworkResolverIpsList2": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultResolverNetwork2": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultResolverNetworkResolverIpsList2"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultType2": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultTlsSettings2": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResult": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "InfraIPv4Host object { ipv4, network }",
            "smithy.api#required": {}
          }
        },
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network_2": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultNetwork2",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "network"
          }
        },
        "ipv4_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ipv4"
          }
        },
        "ipv6_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ipv6"
          }
        },
        "network_3": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultNetwork3",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "network"
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "http_port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint32"
          }
        },
        "https_port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint32"
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid"
          }
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "host_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "InfraIPv4Host object { ipv4, network }",
            "smithy.api#required": {},
            "smithy.api#jsonName": "host"
          }
        },
        "ipv4_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ipv4"
          }
        },
        "network_4": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultNetwork4",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "network"
          }
        },
        "ipv6_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ipv6"
          }
        },
        "network_5": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultNetwork5",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "network"
          }
        },
        "ipv4_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ipv4"
          }
        },
        "ipv6_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ipv6"
          }
        },
        "network_6": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultNetwork6",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "network"
          }
        },
        "hostname_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "hostname"
          }
        },
        "resolver_network_2": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultResolverNetwork2",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "resolver_network"
          }
        },
        "name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "name"
          }
        },
        "type_2": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultType2",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultAppProtocol"
        },
        "created_at_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#jsonName": "created_at"
          }
        },
        "service_id_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#jsonName": "service_id"
          }
        },
        "tcp_port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint32"
          }
        },
        "tls_settings_2": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultTlsSettings2",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service.",
            "smithy.api#jsonName": "tls_settings"
          }
        },
        "updated_at_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#jsonName": "updated_at"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/connectivity/directory/services/{service_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches a single Workers VPC connectivity service by its ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListRequestType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current page in the response",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Max amount of entries returned per page",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListRequestType",
          "traits": {
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemNetwork2": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemNetwork3": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemNetwork4": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemNetwork5": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemNetwork6": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemResolverNetworkResolverIpsList2": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemResolverNetwork2": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemResolverNetworkResolverIpsList2"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemType2": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemTlsSettings2": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItem": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "InfraIPv4Host object { ipv4, network }",
            "smithy.api#required": {}
          }
        },
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network_2": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemNetwork2",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "network"
          }
        },
        "ipv4_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ipv4"
          }
        },
        "ipv6_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ipv6"
          }
        },
        "network_3": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemNetwork3",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "network"
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "http_port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint32"
          }
        },
        "https_port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint32"
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid"
          }
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "host_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "InfraIPv4Host object { ipv4, network }",
            "smithy.api#required": {},
            "smithy.api#jsonName": "host"
          }
        },
        "ipv4_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ipv4"
          }
        },
        "network_4": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemNetwork4",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "network"
          }
        },
        "ipv6_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ipv6"
          }
        },
        "network_5": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemNetwork5",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "network"
          }
        },
        "ipv4_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ipv4"
          }
        },
        "ipv6_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ipv6"
          }
        },
        "network_6": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemNetwork6",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "network"
          }
        },
        "hostname_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "hostname"
          }
        },
        "resolver_network_2": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemResolverNetwork2",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "resolver_network"
          }
        },
        "name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "name"
          }
        },
        "type_2": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemType2",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemAppProtocol"
        },
        "created_at_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#jsonName": "created_at"
          }
        },
        "service_id_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#jsonName": "service_id"
          }
        },
        "tcp_port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint32"
          }
        },
        "tls_settings_2": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemTlsSettings2",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service.",
            "smithy.api#jsonName": "tls_settings"
          }
        },
        "updated_at_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#jsonName": "updated_at"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.connectivity#DirectoryServicesListResultItem"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesListRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/connectivity/directory/services",
          "code": 200
        },
        "smithy.api#documentation": "Lists the Workers VPC connectivity services in the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/connectivity/directory/services/{service_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an existing Workers VPC connectivity service by its ID.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.connectivity#Connectivity": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreate"
        },
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesDelete"
        },
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesGet"
        },
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesList"
        },
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Connectivity",
        "smithy.api#documentation": "Cloudflare API — connectivity resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
