{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigAppProtocol"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBody": {
      "type": "union",
      "members": {
        "InfraHTTPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfig"
        },
        "InfraTCPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfig"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBody",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigAppProtocol"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResult": {
      "type": "union",
      "members": {
        "InfraHTTPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfig"
        },
        "InfraTCPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfig"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/connectivity/directory/services",
          "code": 200
        },
        "smithy.api#documentation": "Create Workers VPC connectivity service"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/connectivity/directory/services/{service_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Workers VPC connectivity service",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigAppProtocol"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResult": {
      "type": "union",
      "members": {
        "InfraHTTPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfig"
        },
        "InfraTCPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfig"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/connectivity/directory/services/{service_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get Workers VPC connectivity service",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListRequestType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current page in the response",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Max amount of entries returned per page",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListRequestType",
          "traits": {
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigAppProtocol"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItem": {
      "type": "union",
      "members": {
        "InfraHTTPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfig"
        },
        "InfraTCPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfig"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.connectivity#DirectoryServicesListResultItem"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesListRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/connectivity/directory/services",
          "code": 200
        },
        "smithy.api#documentation": "List Workers VPC connectivity services",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigAppProtocol"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBody": {
      "type": "union",
      "members": {
        "InfraHTTPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfig"
        },
        "InfraTCPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfig"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBody",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigAppProtocol"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResult": {
      "type": "union",
      "members": {
        "InfraHTTPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfig"
        },
        "InfraTCPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfig"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequest"
      },
[...]
