{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigAppProtocol"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestBody": {
      "type": "union",
      "members": {
        "InfraHTTPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraHTTPServiceConfig"
        },
        "InfraTCPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBodyInfraTCPServiceConfig"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestBody",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponseHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponseHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponseType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponseTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponseAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponse": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponseHost"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponseType"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponseTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponseAppProtocol"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/connectivity/directory/services",
          "code": 200
        },
        "smithy.api#documentation": "Create Workers VPC connectivity service"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/connectivity/directory/services/{service_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Workers VPC connectivity service",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponseHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResponseHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponseType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponseTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponseAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponse": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResponseHost"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResponseType"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResponseTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResponseAppProtocol"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/connectivity/directory/services/{service_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get Workers VPC connectivity service",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListRequestType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current page in the response",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Max amount of entries returned per page",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListRequestType",
          "traits": {
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItem": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemHost"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemType"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemAppProtocol"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.connectivity#DirectoryServicesListResultItem"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesListRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/connectivity/directory/services",
          "code": 200
        },
        "smithy.api#documentation": "List Workers VPC connectivity services",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigAppProtocol"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBody": {
      "type": "union",
      "members": {
        "InfraHTTPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraHTTPServiceConfig"
        },
        "InfraTCPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBodyInfraTCPServiceConfig"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestBody",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponseType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponseTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponseAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponse": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponseHost"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponseType"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponseTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponseAppProtocol"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/connectivity/directory/services/{service_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update Workers VPC connectivity service",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.connectivity#Connectivity": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreate"
        },
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesDelete"
        },
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesGet"
        },
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesList"
        },
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Connectivity",
        "smithy.api#documentation": "Cloudflare API — connectivity resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
