{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "accountTag": "account_tag",
      "commonName": "common_name",
      "createdAt": "created_at",
      "keyType": "key_type",
      "organizationalUnit": "organizational_unit",
      "perPage": "per_page",
      "resultInfo": "result_info",
      "totalCount": "total_count"
    }
  },
  "shapes": {
    "com.cloudflare.custom_csrs#CustomCsrs": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.custom_csrs#CreateForAccount"
        },
        {
          "target": "com.cloudflare.custom_csrs#CreateForZone"
        },
        {
          "target": "com.cloudflare.custom_csrs#DeleteForAccount"
        },
        {
          "target": "com.cloudflare.custom_csrs#DeleteForZone"
        },
        {
          "target": "com.cloudflare.custom_csrs#GetForAccount"
        },
        {
          "target": "com.cloudflare.custom_csrs#GetForZone"
        },
        {
          "target": "com.cloudflare.custom_csrs#ListForAccount"
        },
        {
          "target": "com.cloudflare.custom_csrs#ListForZone"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare CustomCsrs",
        "smithy.api#documentation": "Cloudflare API — custom_csrs resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.custom_csrs#CreateCustomCsrForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_csrs#CreateCustomCsrForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_csrs#CreateCustomCsrForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/custom_csrs",
          "code": 200
        },
        "smithy.api#documentation": "Generate a new custom Certificate Signing Request (CSR) for an account or zone. Cloudflare generates and securely stores the private key associated with the CSR."
      }
    },
    "com.cloudflare.custom_csrs#CreateCustomCsrForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "common_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The common name (domain) for the CSR. Must be at most 64 characters.",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 alpha-2 country code.",
            "smithy.api#required": {}
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City or locality name.",
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization name.",
            "smithy.api#required": {}
          }
        },
        "sans": {
          "target": "com.cloudflare.custom_csrs#CreateRequestSansList",
          "traits": {
            "smithy.api#documentation": "Subject Alternative Names for the CSR. At least one SAN is required.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State or province name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description for the CSR."
          }
        },
        "key_type": {
          "target": "com.cloudflare.custom_csrs#CreateRequestKeyType",
          "traits": {
            "smithy.api#documentation": "Key algorithm to use for the CSR. Defaults to rsa2048 if not specified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for the CSR."
          }
        },
        "organizational_unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organizational unit name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_csrs#CreateCustomCsrForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_csrs#CreateCustomCsrForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_csrs#CreateCustomCsrForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/custom_csrs",
          "code": 200
        },
        "smithy.api#documentation": "Generate a new custom Certificate Signing Request (CSR) for an account or zone. Cloudflare generates and securely stores the private key associated with the CSR."
      }
    },
    "com.cloudflare.custom_csrs#CreateCustomCsrForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "common_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The common name (domain) for the CSR. Must be at most 64 characters.",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 alpha-2 country code.",
            "smithy.api#required": {}
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City or locality name.",
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization name.",
            "smithy.api#required": {}
          }
        },
        "sans": {
          "target": "com.cloudflare.custom_csrs#CreateRequestSansList",
          "traits": {
            "smithy.api#documentation": "Subject Alternative Names for the CSR. At least one SAN is required.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State or province name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description for the CSR."
          }
        },
        "key_type": {
          "target": "com.cloudflare.custom_csrs#CreateRequestKeyType",
          "traits": {
            "smithy.api#documentation": "Key algorithm to use for the CSR. Defaults to rsa2048 if not specified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for the CSR."
          }
        },
        "organizational_unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organizational unit name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_csrs#DeleteCustomCsrForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_csrs#DeleteCustomCsrForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_csrs#DeleteCustomCsrForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/custom_csrs/{custom_csr_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a custom Certificate Signing Request (CSR) and its associated private key.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.custom_csrs#DeleteCustomCsrForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_csr_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom CSR identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_csrs#DeleteCustomCsrForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_csrs#DeleteCustomCsrForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_csrs#DeleteCustomCsrForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/custom_csrs/{custom_csr_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a custom Certificate Signing Request (CSR) and its associated private key.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.custom_csrs#DeleteCustomCsrForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_csr_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom CSR identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_csrs#GetCustomCsrForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_csrs#GetCustomCsrForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_csrs#GetCustomCsrForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/custom_csrs/{custom_csr_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve details for a specific custom Certificate Signing Request (CSR).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.custom_csrs#GetCustomCsrForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_csr_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom CSR identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_csrs#GetCustomCsrForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_csrs#GetCustomCsrForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_csrs#GetCustomCsrForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/custom_csrs/{custom_csr_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve details for a specific custom Certificate Signing Request (CSR).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.custom_csrs#GetCustomCsrForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_csr_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom CSR identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_csrs#ListCustomCsrsForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_csrs#ListCustomCsrsForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_csrs#ListCustomCsrsForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/custom_csrs",
          "code": 200
        },
        "smithy.api#documentation": "List all custom Certificate Signing Requests (CSRs) for an account or zone.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "resultInfo.page",
          "items": "result",
          "pageSize": "perPage"
        }
      }
    },
    "com.cloudflare.custom_csrs#ListCustomCsrsForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of custom CSRs per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_csrs#ListCustomCsrsForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_csrs#ListCustomCsrsForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_csrs#ListCustomCsrsForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/custom_csrs",
          "code": 200
        },
        "smithy.api#documentation": "List all custom Certificate Signing Requests (CSRs) for an account or zone.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "resultInfo.page",
          "items": "result",
          "pageSize": "perPage"
        }
      }
    },
    "com.cloudflare.custom_csrs#ListCustomCsrsForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of custom CSRs per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_csrs#DeleteCustomCsrResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom CSR identifier tag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.custom_csrs#ListResultItemSansList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_csrs#ListResultItemKeyType": {
      "type": "enum",
      "members": {
        "RSA2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsa2048"
          }
        },
        "P256V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p256v1"
          }
        }
      }
    },
    "com.cloudflare.custom_csrs#GetResponseSansList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_csrs#GetResponseKeyType": {
      "type": "enum",
      "members": {
        "RSA2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsa2048"
          }
        },
        "P256V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p256v1"
          }
        }
      }
    },
    "com.cloudflare.custom_csrs#CreateResponseSansList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_csrs#CreateResponseKeyType": {
      "type": "enum",
      "members": {
        "RSA2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsa2048"
          }
        },
        "P256V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p256v1"
          }
        }
      }
    },
    "com.cloudflare.custom_csrs#CreateRequestKeyType": {
      "type": "enum",
      "members": {
        "RSA2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsa2048"
          }
        },
        "P256V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p256v1"
          }
        }
      }
    },
    "com.cloudflare.custom_csrs#CreateRequestSansList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_csrs#GetCustomCsrResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom CSR identifier tag.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the CSR was created.",
            "smithy.api#required": {}
          }
        },
        "key_type": {
          "target": "com.cloudflare.custom_csrs#GetResponseKeyType",
          "traits": {
            "smithy.api#documentation": "The key algorithm used to generate the CSR.",
            "smithy.api#required": {}
          }
        },
        "account_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier associated with this CSR."
          }
        },
        "common_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The common name (domain) for the CSR."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 alpha-2 country code."
          }
        },
        "csr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The PEM-encoded Certificate Signing Request."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description for the CSR."
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City or locality name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for the CSR."
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization name."
          }
        },
        "organizational_unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organizational unit name."
          }
        },
        "sans": {
          "target": "com.cloudflare.custom_csrs#GetResponseSansList",
          "traits": {
            "smithy.api#documentation": "Subject Alternative Names included in the CSR."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State or province name."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.custom_csrs#CreateCustomCsrResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom CSR identifier tag.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the CSR was created.",
            "smithy.api#required": {}
          }
        },
        "key_type": {
          "target": "com.cloudflare.custom_csrs#CreateResponseKeyType",
          "traits": {
            "smithy.api#documentation": "The key algorithm used to generate the CSR.",
            "smithy.api#required": {}
          }
        },
        "account_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier associated with this CSR."
          }
        },
        "common_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The common name (domain) for the CSR."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 alpha-2 country code."
          }
        },
        "csr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The PEM-encoded Certificate Signing Request."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description for the CSR."
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City or locality name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for the CSR."
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization name."
          }
        },
        "organizational_unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organizational unit name."
          }
        },
        "sans": {
          "target": "com.cloudflare.custom_csrs#CreateResponseSansList",
          "traits": {
            "smithy.api#documentation": "Subject Alternative Names included in the CSR."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State or province name."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.custom_csrs#ListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom CSR identifier tag.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the CSR was created.",
            "smithy.api#required": {}
          }
        },
        "key_type": {
          "target": "com.cloudflare.custom_csrs#ListResultItemKeyType",
          "traits": {
            "smithy.api#documentation": "The key algorithm used to generate the CSR.",
            "smithy.api#required": {}
          }
        },
        "account_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier associated with this CSR."
          }
        },
        "common_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The common name (domain) for the CSR."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter ISO 3166-1 alpha-2 country code."
          }
        },
        "csr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The PEM-encoded Certificate Signing Request."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description for the CSR."
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City or locality name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for the CSR."
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization name."
          }
        },
        "organizational_unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organizational unit name."
          }
        },
        "sans": {
          "target": "com.cloudflare.custom_csrs#ListResultItemSansList",
          "traits": {
            "smithy.api#documentation": "Subject Alternative Names included in the CSR."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State or province name."
          }
        }
      }
    },
    "com.cloudflare.custom_csrs#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_csrs#ListResultItem"
      }
    },
    "com.cloudflare.custom_csrs#ListCustomCsrsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.custom_csrs#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    }
  }
}
