{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.custom_hostnames#CreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseOwnershipVerificationType": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseOwnershipVerification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS Name for record."
          }
        },
        "type": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseOwnershipVerificationType",
          "traits": {
            "smithy.api#documentation": "DNS Record type."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content for the record."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseOwnershipVerificationHttp": {
      "type": "structure",
      "members": {
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be served."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP URL that will be checked during custom hostname verification and where the customer should host the token."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslDcvDelegationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslDcvDelegationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslDcvDelegationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslDcvDelegationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#CreateResponseSslDcvDelegationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslSettingsCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslSettingsEarlyHints": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslSettingsHttp2": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslSettingsMinTlsVersion": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslSettingsTls13": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslSettings": {
      "type": "structure",
      "members": {
        "ciphers": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslSettingsCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "early_hints": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslSettingsEarlyHints",
          "traits": {
            "smithy.api#documentation": "Whether or not Early Hints is enabled."
          }
        },
        "http2": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslSettingsHttp2",
          "traits": {
            "smithy.api#documentation": "Whether or not HTTP2 is enabled."
          }
        },
        "min_tls_version": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslSettingsMinTlsVersion",
          "traits": {
            "smithy.api#documentation": "The minimum TLS version supported."
          }
        },
        "tls_1_3": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslSettingsTls13",
          "traits": {
            "smithy.api#documentation": "Whether or not TLS 1.3 is enabled."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslValidationErrorsItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain validation error."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#CreateResponseSslValidationErrorsItem"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslValidationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslValidationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslValidationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslValidationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#CreateResponseSslValidationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSsl": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom hostname SSL identifier tag."
          }
        },
        "bundle_method": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A ubiquitous bundle has the highest probability of being verified everywhere, even by clients using outdated or unusual trust stores. An optimal bundle uses the shortest chain and newest intermediates. And the force bundle verifies the chain, but does not otherwise modify it."
          }
        },
        "certificate_authority": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The Certificate Authority that will issue the certificate."
          }
        },
        "custom_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a custom uploaded certificate is used."
          }
        },
        "custom_csr_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the Custom CSR that was used."
          }
        },
        "custom_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for a custom uploaded certificate."
          }
        },
        "dcv_delegation_records": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslDcvDelegationRecordsList",
          "traits": {
            "smithy.api#documentation": "DCV Delegation records for domain validation."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the custom certificate expires on."
          }
        },
        "hosts": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslHostsList",
          "traits": {
            "smithy.api#documentation": "A list of Hostnames on a custom uploaded certificate."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issuer on a custom uploaded certificate."
          }
        },
        "method": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Domain control validation (DCV) method used for this hostname."
          }
        },
        "serial_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The serial number on a custom uploaded certificate."
          }
        },
        "settings": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslSettings",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signature on a custom uploaded certificate."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the hostname’s SSL certificates."
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Level of validation to be used for this hostname. Domain validation (dv) must be used."
          }
        },
        "uploaded_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the custom certificate was uploaded."
          }
        },
        "validation_errors": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslValidationErrorsList",
          "traits": {
            "smithy.api#documentation": "Domain validation errors that have been received by the certificate authority (CA)."
          }
        },
        "validation_records": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslValidationRecordsList",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "wildcard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the certificate covers a wildcard."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseVerificationErrorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The custom hostname that will point to your hostname via CNAME.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the hostname was created."
          }
        },
        "custom_metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Unique key/value metadata for this hostname. These are per-hostname (customer) settings."
          }
        },
        "custom_origin_server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a valid hostname that’s been added to your DNS zone as an A, AAAA, or CNAME record."
          }
        },
        "custom_origin_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hostname that will be sent to your custom origin server as SNI for TLS handshake. This can be a valid subdomain of the zone or custom origin server name or the string ‘:request_host_header:’ which will cause the host header in the request to be used as SNI. Not configurable with default/fallback origin server."
          }
        },
        "ownership_verification": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseOwnershipVerification",
          "traits": {
            "smithy.api#documentation": "This is a record which can be placed to activate a hostname."
          }
        },
        "ownership_verification_http": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseOwnershipVerificationHttp",
          "traits": {
            "smithy.api#documentation": "This presents the token to be served by the given http url to activate a hostname."
          }
        },
        "ssl": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSsl",
          "traits": {
            "smithy.api#documentation": "Custom hostname SSL identifier tag."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the hostname’s activation."
          }
        },
        "verification_errors": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseVerificationErrorsList",
          "traits": {
            "smithy.api#documentation": "These are errors that were encountered while trying to activate a hostname."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.custom_hostnames#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_hostnames#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_hostnames#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/custom_hostnames",
          "code": 200
        },
        "smithy.api#documentation": "Add a new custom hostname and request that an SSL certificate be issued for it. One of three validation methods—http, txt, email—should be used, with ‘http’ recommended if the CNAME is already in place (or will be soon). Specifying ‘email’ will send an email to the WHOIS contacts on file for the base domain plus hostmaster, postmaster, webmaster, admin, administrator. If http is used and the domain is not already pointing to the Managed CNAME host, the PATCH method must be used once it is (to complete validation). Enable bundling of certificates using the custom_cert_bundle field. The bundling process requires the following condition One certificate in the bundle must use an RSA, and the other must use an ECDSA."
      }
    },
    "com.cloudflare.custom_hostnames#DeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_hostname_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_hostnames#DeleteResponseId": {
      "type": "enum",
      "members": {
        "_023E105F4ECEF8AD9CA31A8372D0C353": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "023e105f4ecef8ad9ca31a8372d0c353"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#DeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "id_2": {
          "target": "com.cloudflare.custom_hostnames#DeleteResponseId",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "id"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.custom_hostnames#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_hostnames#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_hostnames#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/custom_hostnames/{custom_hostname_id}",
          "code": 200
        },
        "smithy.api#documentation": "Permanently deletes a custom hostname and revokes any SSL certificates that were issued for it. This action cannot be undone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.custom_hostnames#EditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_hostname_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseOwnershipVerificationType": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseOwnershipVerification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS Name for record."
          }
        },
        "type": {
          "target": "com.cloudflare.custom_hostnames#EditResponseOwnershipVerificationType",
          "traits": {
            "smithy.api#documentation": "DNS Record type."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content for the record."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseOwnershipVerificationHttp": {
      "type": "structure",
      "members": {
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be served."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP URL that will be checked during custom hostname verification and where the customer should host the token."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslDcvDelegationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslDcvDelegationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslDcvDelegationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslDcvDelegationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#EditResponseSslDcvDelegationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslSettingsCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslSettingsEarlyHints": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslSettingsHttp2": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslSettingsMinTlsVersion": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslSettingsTls13": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslSettings": {
      "type": "structure",
      "members": {
        "ciphers": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslSettingsCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "early_hints": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslSettingsEarlyHints",
          "traits": {
            "smithy.api#documentation": "Whether or not Early Hints is enabled."
          }
        },
        "http2": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslSettingsHttp2",
          "traits": {
            "smithy.api#documentation": "Whether or not HTTP2 is enabled."
          }
        },
        "min_tls_version": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslSettingsMinTlsVersion",
          "traits": {
            "smithy.api#documentation": "The minimum TLS version supported."
          }
        },
        "tls_1_3": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslSettingsTls13",
          "traits": {
            "smithy.api#documentation": "Whether or not TLS 1.3 is enabled."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslValidationErrorsItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain validation error."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#EditResponseSslValidationErrorsItem"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslValidationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslValidationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslValidationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslValidationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#EditResponseSslValidationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSsl": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom hostname SSL identifier tag."
          }
        },
        "bundle_method": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A ubiquitous bundle has the highest probability of being verified everywhere, even by clients using outdated or unusual trust stores. An optimal bundle uses the shortest chain and newest intermediates. And the force bundle verifies the chain, but does not otherwise modify it."
          }
        },
        "certificate_authority": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The Certificate Authority that will issue the certificate."
          }
        },
        "custom_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a custom uploaded certificate is used."
          }
        },
        "custom_csr_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the Custom CSR that was used."
          }
        },
        "custom_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for a custom uploaded certificate."
          }
        },
        "dcv_delegation_records": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslDcvDelegationRecordsList",
          "traits": {
            "smithy.api#documentation": "DCV Delegation records for domain validation."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the custom certificate expires on."
          }
        },
        "hosts": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslHostsList",
          "traits": {
            "smithy.api#documentation": "A list of Hostnames on a custom uploaded certificate."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issuer on a custom uploaded certificate."
          }
        },
        "method": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Domain control validation (DCV) method used for this hostname."
          }
        },
        "serial_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The serial number on a custom uploaded certificate."
          }
        },
        "settings": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslSettings",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signature on a custom uploaded certificate."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the hostname’s SSL certificates."
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Level of validation to be used for this hostname. Domain validation (dv) must be used."
          }
        },
        "uploaded_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the custom certificate was uploaded."
          }
        },
        "validation_errors": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslValidationErrorsList",
          "traits": {
            "smithy.api#documentation": "Domain validation errors that have been received by the certificate authority (CA)."
          }
        },
        "validation_records": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslValidationRecordsList",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "wildcard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the certificate covers a wildcard."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseVerificationErrorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The custom hostname that will point to your hostname via CNAME.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the hostname was created."
          }
        },
        "custom_metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Unique key/value metadata for this hostname. These are per-hostname (customer) settings."
          }
        },
        "custom_origin_server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a valid hostname that’s been added to your DNS zone as an A, AAAA, or CNAME record."
          }
        },
        "custom_origin_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hostname that will be sent to your custom origin server as SNI for TLS handshake. This can be a valid subdomain of the zone or custom origin server name or the string ‘:request_host_header:’ which will cause the host header in the request to be used as SNI. Not configurable with default/fallback origin server."
          }
        },
        "ownership_verification": {
          "target": "com.cloudflare.custom_hostnames#EditResponseOwnershipVerification",
          "traits": {
            "smithy.api#documentation": "This is a record which can be placed to activate a hostname."
          }
        },
        "ownership_verification_http": {
          "target": "com.cloudflare.custom_hostnames#EditResponseOwnershipVerificationHttp",
          "traits": {
            "smithy.api#documentation": "This presents the token to be served by the given http url to activate a hostname."
          }
        },
        "ssl": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSsl",
          "traits": {
            "smithy.api#documentation": "Custom hostname SSL identifier tag."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the hostname’s activation."
          }
        },
        "verification_errors": {
          "target": "com.cloudflare.custom_hostnames#EditResponseVerificationErrorsList",
          "traits": {
            "smithy.api#documentation": "These are errors that were encountered while trying to activate a hostname."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.custom_hostnames#Edit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_hostnames#EditRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_hostnames#EditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/custom_hostnames/{custom_hostname_id}",
          "code": 200
        },
        "smithy.api#documentation": "Modify SSL configuration for a custom hostname. When sent with SSL config that matches existing config, used to indicate that hostname should pass domain control validation (DCV). Can also be used to change validation type, e.g., from ‘http’ to ‘email’. Bundle an existing certificate with another certificate by using the “custom_cert_bundle” field. The bundling process supports combining certificates as long as the following condition is met. One certificate must use the RSA algorithm, and the other must use the ECDSA algorithm."
      }
    },
    "com.cloudflare.custom_hostnames#GetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_hostname_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseOwnershipVerificationType": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseOwnershipVerification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS Name for record."
          }
        },
        "type": {
          "target": "com.cloudflare.custom_hostnames#GetResponseOwnershipVerificationType",
          "traits": {
            "smithy.api#documentation": "DNS Record type."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content for the record."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseOwnershipVerificationHttp": {
      "type": "structure",
      "members": {
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be served."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP URL that will be checked during custom hostname verification and where the customer should host the token."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslDcvDelegationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslDcvDelegationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslDcvDelegationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslDcvDelegationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#GetResponseSslDcvDelegationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslSettingsCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslSettingsEarlyHints": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslSettingsHttp2": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslSettingsMinTlsVersion": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslSettingsTls13": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslSettings": {
      "type": "structure",
      "members": {
        "ciphers": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslSettingsCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "early_hints": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslSettingsEarlyHints",
          "traits": {
            "smithy.api#documentation": "Whether or not Early Hints is enabled."
          }
        },
        "http2": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslSettingsHttp2",
          "traits": {
            "smithy.api#documentation": "Whether or not HTTP2 is enabled."
          }
        },
        "min_tls_version": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslSettingsMinTlsVersion",
          "traits": {
            "smithy.api#documentation": "The minimum TLS version supported."
          }
        },
        "tls_1_3": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslSettingsTls13",
          "traits": {
            "smithy.api#documentation": "Whether or not TLS 1.3 is enabled."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslValidationErrorsItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain validation error."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#GetResponseSslValidationErrorsItem"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslValidationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslValidationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslValidationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslValidationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#GetResponseSslValidationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSsl": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom hostname SSL identifier tag."
          }
        },
        "bundle_method": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A ubiquitous bundle has the highest probability of being verified everywhere, even by clients using outdated or unusual trust stores. An optimal bundle uses the shortest chain and newest intermediates. And the force bundle verifies the chain, but does not otherwise modify it."
          }
        },
        "certificate_authority": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The Certificate Authority that will issue the certificate."
          }
        },
        "custom_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a custom uploaded certificate is used."
          }
        },
        "custom_csr_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the Custom CSR that was used."
          }
        },
        "custom_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for a custom uploaded certificate."
          }
        },
        "dcv_delegation_records": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslDcvDelegationRecordsList",
          "traits": {
            "smithy.api#documentation": "DCV Delegation records for domain validation."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the custom certificate expires on."
          }
        },
        "hosts": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslHostsList",
          "traits": {
            "smithy.api#documentation": "A list of Hostnames on a custom uploaded certificate."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issuer on a custom uploaded certificate."
          }
        },
        "method": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Domain control validation (DCV) method used for this hostname."
          }
        },
        "serial_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The serial number on a custom uploaded certificate."
          }
        },
        "settings": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslSettings",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signature on a custom uploaded certificate."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the hostname’s SSL certificates."
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Level of validation to be used for this hostname. Domain validation (dv) must be used."
          }
        },
        "uploaded_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the custom certificate was uploaded."
          }
        },
        "validation_errors": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslValidationErrorsList",
          "traits": {
            "smithy.api#documentation": "Domain validation errors that have been received by the certificate authority (CA)."
          }
        },
        "validation_records": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslValidationRecordsList",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "wildcard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the certificate covers a wildcard."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseVerificationErrorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The custom hostname that will point to your hostname via CNAME.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the hostname was created."
          }
        },
        "custom_metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Unique key/value metadata for this hostname. These are per-hostname (customer) settings."
          }
        },
        "custom_origin_server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a valid hostname that’s been added to your DNS zone as an A, AAAA, or CNAME record."
          }
        },
        "custom_origin_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hostname that will be sent to your custom origin server as SNI for TLS handshake. This can be a valid subdomain of the zone or custom origin server name or the string ‘:request_host_header:’ which will cause the host header in the request to be used as SNI. Not configurable with default/fallback origin server."
          }
        },
        "ownership_verification": {
          "target": "com.cloudflare.custom_hostnames#GetResponseOwnershipVerification",
          "traits": {
            "smithy.api#documentation": "This is a record which can be placed to activate a hostname."
          }
        },
        "ownership_verification_http": {
          "target": "com.cloudflare.custom_hostnames#GetResponseOwnershipVerificationHttp",
          "traits": {
            "smithy.api#documentation": "This presents the token to be served by the given http url to activate a hostname."
          }
        },
        "ssl": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSsl",
          "traits": {
            "smithy.api#documentation": "Custom hostname SSL identifier tag."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the hostname’s activation."
          }
        },
        "verification_errors": {
          "target": "com.cloudflare.custom_hostnames#GetResponseVerificationErrorsList",
          "traits": {
            "smithy.api#documentation": "These are errors that were encountered while trying to activate a hostname."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.custom_hostnames#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_hostnames#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_hostnames#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/custom_hostnames/{custom_hostname_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves detailed information about a specific custom hostname, including SSL certificate status, ownership verification, and origin configuration.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.custom_hostnames#ListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemOwnershipVerificationType": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemOwnershipVerification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS Name for record."
          }
        },
        "type": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemOwnershipVerificationType",
          "traits": {
            "smithy.api#documentation": "DNS Record type."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content for the record."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemOwnershipVerificationHttp": {
      "type": "structure",
      "members": {
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be served."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP URL that will be checked during custom hostname verification and where the customer should host the token."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslDcvDelegationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslDcvDelegationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemSslDcvDelegationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslDcvDelegationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#ListResultItemSslDcvDelegationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslSettingsCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslSettingsEarlyHints": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslSettingsHttp2": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslSettingsMinTlsVersion": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslSettingsTls13": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslSettings": {
      "type": "structure",
      "members": {
        "ciphers": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemSslSettingsCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "early_hints": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemSslSettingsEarlyHints",
          "traits": {
            "smithy.api#documentation": "Whether or not Early Hints is enabled."
          }
        },
        "http2": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemSslSettingsHttp2",
          "traits": {
            "smithy.api#documentation": "Whether or not HTTP2 is enabled."
          }
        },
        "min_tls_version": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemSslSettingsMinTlsVersion",
          "traits": {
            "smithy.api#documentation": "The minimum TLS version supported."
          }
        },
        "tls_1_3": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemSslSettingsTls13",
          "traits": {
            "smithy.api#documentation": "Whether or not TLS 1.3 is enabled."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslValidationErrorsItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain validation error."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#ListResultItemSslValidationErrorsItem"
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslValidationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslValidationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemSslValidationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSslValidationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#ListResultItemSslValidationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemSsl": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom hostname SSL identifier tag."
          }
        },
        "bundle_method": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A ubiquitous bundle has the highest probability of being verified everywhere, even by clients using outdated or unusual trust stores. An optimal bundle uses the shortest chain and newest intermediates. And the force bundle verifies the chain, but does not otherwise modify it."
          }
        },
        "certificate_authority": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The Certificate Authority that will issue the certificate."
          }
        },
        "custom_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a custom uploaded certificate is used."
          }
        },
        "custom_csr_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the Custom CSR that was used."
          }
        },
        "custom_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for a custom uploaded certificate."
          }
        },
        "dcv_delegation_records": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemSslDcvDelegationRecordsList",
          "traits": {
            "smithy.api#documentation": "DCV Delegation records for domain validation."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the custom certificate expires on."
          }
        },
        "hosts": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemSslHostsList",
          "traits": {
            "smithy.api#documentation": "A list of Hostnames on a custom uploaded certificate."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issuer on a custom uploaded certificate."
          }
        },
        "method": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Domain control validation (DCV) method used for this hostname."
          }
        },
        "serial_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The serial number on a custom uploaded certificate."
          }
        },
        "settings": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemSslSettings",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signature on a custom uploaded certificate."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the hostname’s SSL certificates."
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Level of validation to be used for this hostname. Domain validation (dv) must be used."
          }
        },
        "uploaded_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the custom certificate was uploaded."
          }
        },
        "validation_errors": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemSslValidationErrorsList",
          "traits": {
            "smithy.api#documentation": "Domain validation errors that have been received by the certificate authority (CA)."
          }
        },
        "validation_records": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemSslValidationRecordsList",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "wildcard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the certificate covers a wildcard."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItemVerificationErrorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#ListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The custom hostname that will point to your hostname via CNAME.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the hostname was created."
          }
        },
        "custom_metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Unique key/value metadata for this hostname. These are per-hostname (customer) settings."
          }
        },
        "custom_origin_server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a valid hostname that’s been added to your DNS zone as an A, AAAA, or CNAME record."
          }
        },
        "custom_origin_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hostname that will be sent to your custom origin server as SNI for TLS handshake. This can be a valid subdomain of the zone or custom origin server name or the string ‘:request_host_header:’ which will cause the host header in the request to be used as SNI. Not configurable with default/fallback origin server."
          }
        },
        "ownership_verification": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemOwnershipVerification",
          "traits": {
            "smithy.api#documentation": "This is a record which can be placed to activate a hostname."
          }
        },
        "ownership_verification_http": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemOwnershipVerificationHttp",
          "traits": {
            "smithy.api#documentation": "This presents the token to be served by the given http url to activate a hostname."
          }
        },
        "ssl": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemSsl",
          "traits": {
            "smithy.api#documentation": "Custom hostname SSL identifier tag."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the hostname’s activation."
          }
        },
        "verification_errors": {
          "target": "com.cloudflare.custom_hostnames#ListResultItemVerificationErrorsList",
          "traits": {
            "smithy.api#documentation": "These are errors that were encountered while trying to activate a hostname."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#ListResultItem"
      }
    },
    "com.cloudflare.custom_hostnames#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.custom_hostnames#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.custom_hostnames#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_hostnames#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_hostnames#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/custom_hostnames",
          "code": 200
        },
        "smithy.api#documentation": "List, search, sort, and filter all of your custom hostnames.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_hostname_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "certificate_pack_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesDeleteResponseId": {
      "type": "enum",
      "members": {
        "_023E105F4ECEF8AD9CA31A8372D0C353": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "023e105f4ecef8ad9ca31a8372d0c353"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "id_2": {
          "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesDeleteResponseId",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "id"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/custom_hostnames/{custom_hostname_id}/certificate_pack/{certificate_pack_id}/certificates/{certificate_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a single custom certificate from a certificate pack that contains two bundled certificates. Deletion is subject to the following constraints. You cannot delete a certificate if it is the only remaining certificate in the pack. At least one certificate must remain in the pack.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_hostname_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "certificate_pack_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseOwnershipVerificationType": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseOwnershipVerification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS Name for record."
          }
        },
        "type": {
          "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseOwnershipVerificationType",
          "traits": {
            "smithy.api#documentation": "DNS Record type."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content for the record."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseOwnershipVerificationHttp": {
      "type": "structure",
      "members": {
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be served."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP URL that will be checked during custom hostname verification and where the customer should host the token."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslDcvDelegationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslDcvDelegationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslDcvDelegationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslDcvDelegationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslDcvDelegationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslSettingsCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslSettingsEarlyHints": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslSettingsHttp2": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslSettingsMinTlsVersion": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslSettingsTls13": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslSettings": {
      "type": "structure",
      "members": {
        "ciphers": {
          "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslSettingsCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "early_hints": {
          "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslSettingsEarlyHints",
          "traits": {
            "smithy.api#documentation": "Whether or not Early Hints is enabled."
          }
        },
        "http2": {
          "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslSettingsHttp2",
          "traits": {
            "smithy.api#documentation": "Whether or not HTTP2 is enabled."
          }
        },
        "min_tls_version": {
          "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslSettingsMinTlsVersion",
          "traits": {
            "smithy.api#documentation": "The minimum TLS version supported."
          }
        },
        "tls_1_3": {
          "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslSettingsTls13",
          "traits": {
            "smithy.api#documentation": "Whether or not TLS 1.3 is enabled."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslValidationErrorsItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain validation error."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslValidationErrorsItem"
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslValidationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslValidationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslValidationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslValidationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSslValidationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#CertificatePackCertificatesUpdateResponseSsl": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom hostname SSL identifier tag."
          }
        },
        "bundle_method": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A ubiquitous bundle has the highest probability of being verified everywhere, even by clients using outdated or unusual trust stores. An optimal bundle uses the shortest chain and newest intermediates. And the force bundle verifies the chain, but does not otherwise modify it."
          }
        },
        "certificate_authority": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The Certificate Authority that will issue the certificate."
          }
        },
        "custom_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a custom uploaded certificate is used."
          }
        },
[...]
