{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.custom_pages#GetRequestIdentifier": {
      "type": "enum",
      "members": {
        "_1000_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1000_errors"
          }
        },
        "_500_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "500_errors"
          }
        },
        "BASIC_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic_challenge"
          }
        }
      }
    },
    "com.cloudflare.custom_pages#GetRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.cloudflare.custom_pages#GetRequestIdentifier",
          "traits": {
            "smithy.api#documentation": "Error Page Types",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_pages#GetResponseRequiredTokensList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_pages#GetResponseState": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "CUSTOMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customized"
          }
        }
      }
    },
    "com.cloudflare.custom_pages#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "preview_target": {
          "target": "smithy.api#String"
        },
        "required_tokens": {
          "target": "com.cloudflare.custom_pages#GetResponseRequiredTokensList"
        },
        "state": {
          "target": "com.cloudflare.custom_pages#GetResponseState",
          "traits": {
            "smithy.api#documentation": "The custom page state."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL associated with the custom page."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.custom_pages#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_pages#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_pages#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/custom_pages/{identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the details of a custom page.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.custom_pages#ListRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_pages#ListResultItemRequiredTokensList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_pages#ListResultItemState": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "CUSTOMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customized"
          }
        }
      }
    },
    "com.cloudflare.custom_pages#ListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "preview_target": {
          "target": "smithy.api#String"
        },
        "required_tokens": {
          "target": "com.cloudflare.custom_pages#ListResultItemRequiredTokensList"
        },
        "state": {
          "target": "com.cloudflare.custom_pages#ListResultItemState",
          "traits": {
            "smithy.api#documentation": "The custom page state."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL associated with the custom page."
          }
        }
      }
    },
    "com.cloudflare.custom_pages#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_pages#ListResultItem"
      }
    },
    "com.cloudflare.custom_pages#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.custom_pages#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.custom_pages#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_pages#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_pages#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/custom_pages",
          "code": 200
        },
        "smithy.api#documentation": "Fetches all the custom pages.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.custom_pages#UpdateRequestIdentifier": {
      "type": "enum",
      "members": {
        "_1000_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1000_errors"
          }
        },
        "_500_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "500_errors"
          }
        },
        "BASIC_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic_challenge"
          }
        }
      }
    },
    "com.cloudflare.custom_pages#UpdateRequestState": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "CUSTOMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customized"
          }
        }
      }
    },
    "com.cloudflare.custom_pages#UpdateRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.cloudflare.custom_pages#UpdateRequestIdentifier",
          "traits": {
            "smithy.api#documentation": "Error Page Types",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.cloudflare.custom_pages#UpdateRequestState",
          "traits": {
            "smithy.api#documentation": "The custom page state.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL associated with the custom page.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_pages#UpdateResponseRequiredTokensList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_pages#UpdateResponseState": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "CUSTOMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customized"
          }
        }
      }
    },
    "com.cloudflare.custom_pages#UpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "preview_target": {
          "target": "smithy.api#String"
        },
        "required_tokens": {
          "target": "com.cloudflare.custom_pages#UpdateResponseRequiredTokensList"
        },
        "state": {
          "target": "com.cloudflare.custom_pages#UpdateResponseState",
          "traits": {
            "smithy.api#documentation": "The custom page state."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL associated with the custom page."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.custom_pages#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_pages#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_pages#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/custom_pages/{identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Updates the configuration of an existing custom page.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.custom_pages#AssetsCreateRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the custom asset.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_).",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the asset content is fetched from.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_pages#AssetsCreateResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the custom asset."
          }
        },
        "last_updated": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_)."
          }
        },
        "size_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the asset content in bytes."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the asset content is fetched from."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.custom_pages#AssetsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_pages#AssetsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_pages#AssetsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/custom_pages/assets",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new custom asset."
      }
    },
    "com.cloudflare.custom_pages#AssetsDeleteRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "asset_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_pages#AssetsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_pages#AssetsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/custom_pages/assets/{asset_name}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing custom asset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.custom_pages#AssetsGetRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "asset_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_pages#AssetsGetResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the custom asset."
          }
        },
        "last_updated": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_)."
          }
        },
        "size_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the asset content in bytes."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the asset content is fetched from."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.custom_pages#AssetsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_pages#AssetsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_pages#AssetsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/custom_pages/assets/{asset_name}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the details of a custom asset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.custom_pages#AssetsListRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_pages#AssetsListResultItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the custom asset."
          }
        },
        "last_updated": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_)."
          }
        },
        "size_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the asset content in bytes."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the asset content is fetched from."
          }
        }
      }
    },
    "com.cloudflare.custom_pages#AssetsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_pages#AssetsListResultItem"
      }
    },
    "com.cloudflare.custom_pages#AssetsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.custom_pages#AssetsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.custom_pages#AssetsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_pages#AssetsListRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_pages#AssetsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/custom_pages/assets",
          "code": 200
        },
        "smithy.api#documentation": "Fetches all the custom assets.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.custom_pages#AssetsUpdateRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "asset_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the custom asset.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the asset content is fetched from.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_pages#AssetsUpdateResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the custom asset."
          }
        },
        "last_updated": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_)."
          }
        },
        "size_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the asset content in bytes."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the asset content is fetched from."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.custom_pages#AssetsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_pages#AssetsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_pages#AssetsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/custom_pages/assets/{asset_name}",
          "code": 200
        },
        "smithy.api#documentation": "Updates the configuration of an existing custom asset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.custom_pages#CustomPages": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.custom_pages#Get"
        },
        {
          "target": "com.cloudflare.custom_pages#List"
        },
        {
          "target": "com.cloudflare.custom_pages#Update"
        },
        {
          "target": "com.cloudflare.custom_pages#AssetsCreate"
        },
        {
          "target": "com.cloudflare.custom_pages#AssetsDelete"
        },
        {
          "target": "com.cloudflare.custom_pages#AssetsGet"
        },
        {
          "target": "com.cloudflare.custom_pages#AssetsList"
        },
        {
          "target": "com.cloudflare.custom_pages#AssetsUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare CustomPages",
        "smithy.api#documentation": "Cloudflare API — custom_pages resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
