{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "burstSensitivity": "burst_sensitivity",
      "createdOn": "created_on",
      "documentationUrl": "documentation_url",
      "mitigationType": "mitigation_type",
      "modifiedOn": "modified_on",
      "perPage": "per_page",
      "rateSensitivity": "rate_sensitivity",
      "resultInfo": "result_info",
      "totalCount": "total_count"
    }
  },
  "shapes": {
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionAllowlistListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the allowlist prefix.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional comment describing the allowlist prefix.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the allowlist prefix.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable the allowlist prefix into effect. Defaults to false.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the allowlist prefix.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The allowlist prefix in CIDR format.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionAllowlistListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionAllowlistListResultItem"
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesBulkCreateRequestBodyItem": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comment describing the prefix.",
            "smithy.api#required": {}
          }
        },
        "excluded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to exclude the prefix from protection.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix to add in CIDR format.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesBulkCreateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesBulkCreateRequestBodyItem"
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesBulkCreateResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the prefix.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comment describing the prefix.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the prefix.",
            "smithy.api#required": {}
          }
        },
        "excluded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to exclude the prefix from protection.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the prefix.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix in CIDR format.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesBulkCreateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesBulkCreateResultItem"
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the prefix.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comment describing the prefix.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the prefix.",
            "smithy.api#required": {}
          }
        },
        "excluded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to exclude the prefix from protection.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the prefix.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix in CIDR format.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesListResultItem"
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionFiltersListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the expression filter.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the expression filter.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter's mode. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the expression filter.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionFiltersListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionFiltersListResultItem"
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionRulesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the SYN Protection rule.",
            "smithy.api#required": {}
          }
        },
        "burst_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The burst sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the SYN Protection rule.",
            "smithy.api#required": {}
          }
        },
        "mitigation_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of mitigation for SYN Protection. Must be one of 'challenge' or 'retransmit'.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mode for SYN Protection. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the SYN Protection rule.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SYN Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.",
            "smithy.api#required": {}
          }
        },
        "rate_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rate sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope for the SYN Protection rule. Must be one of 'global', 'region', or 'datacenter'.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionRulesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionRulesListResultItem"
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionFiltersListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the expression filter.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the expression filter.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter's mode. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the expression filter.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionFiltersListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionFiltersListResultItem"
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionRulesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the TCP Flow Protection rule.",
            "smithy.api#required": {}
          }
        },
        "burst_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The burst sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the TCP Flow Protection rule.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mode for TCP Flow Protection. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the TCP Flow Protection rule.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the TCP Flow Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.",
            "smithy.api#required": {}
          }
        },
        "rate_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rate sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope for the TCP Flow Protection rule. Must be one of 'global', 'region', or 'datacenter'.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionRulesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionRulesListResultItem"
      }
    },
    "com.cloudflare.ddos_protection#DdosProtection": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionAllowlistBulkDelete"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionAllowlistCreate"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionAllowlistList"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionAllowlistItemsDelete"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionAllowlistItemsEdit"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionAllowlistItemsGet"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesBulkCreate"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesBulkDelete"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesCreate"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesList"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesItemsDelete"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesItemsEdit"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesItemsGet"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionStatusEdit"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionStatusGet"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionFiltersBulkDelete"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionFiltersCreate"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionFiltersList"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionFiltersItemsDelete"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionFiltersItemsEdit"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionFiltersItemsGet"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionRulesBulkDelete"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionRulesCreate"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionRulesList"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionRulesItemsDelete"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionRulesItemsEdit"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionSynProtectionRulesItemsGet"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionFiltersBulkDelete"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionFiltersCreate"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionFiltersList"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionFiltersItemsDelete"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionFiltersItemsEdit"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionFiltersItemsGet"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionRulesBulkDelete"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionRulesCreate"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionRulesList"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionRulesItemsDelete"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionRulesItemsEdit"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionTcpFlowProtectionRulesItemsGet"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare DdosProtection",
        "smithy.api#documentation": "Cloudflare API — ddos_protection resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 8888
          }
        ]
      }
    },
    "com.cloudflare.ddos_protection#AllowlistEntryNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.cloudflare.ddos_protection#Forbidden": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.cloudflare.ddos_protection#SynProtectionFilterNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.cloudflare.ddos_protection#SynProtectionRuleNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.cloudflare.ddos_protection#TcpFlowProtectionFilterNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.cloudflare.ddos_protection#TcpFlowProtectionRuleNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.cloudflare.ddos_protection#BulkCreateAdvancedTcpProtectionPrefixes": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#BulkCreateAdvancedTcpProtectionPrefixesRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#BulkCreateAdvancedTcpProtectionPrefixesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes/bulk",
          "code": 200
        },
        "smithy.api#documentation": "Create multiple prefixes for an account.",
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      }
    },
    "com.cloudflare.ddos_protection#BulkCreateAdvancedTcpProtectionPrefixesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesBulkCreateRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#BulkCreateAdvancedTcpProtectionPrefixesResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesBulkCreateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionAllowlists": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionAllowlistsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist",
          "code": 200
        },
        "smithy.api#documentation": "Delete all allowlist prefixes for an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionAllowlistsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionPrefixes": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionPrefixesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes",
          "code": 200
        },
        "smithy.api#documentation": "Delete all prefixes for an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionPrefixesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionSynProtectionFilters": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionSynProtectionFiltersRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/filters",
          "code": 200
        },
        "smithy.api#documentation": "Delete all SYN Protection filters for an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionSynProtectionFiltersRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionSynProtectionRules": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionSynProtectionRulesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/rules",
          "code": 200
        },
        "smithy.api#documentation": "Delete all SYN Protection rules for an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionSynProtectionRulesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionTcpFlowProtectionFilters": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionTcpFlowProtectionFiltersRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters",
          "code": 200
        },
        "smithy.api#documentation": "Delete all TCP Flow Protection filters for an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionTcpFlowProtectionFiltersRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionTcpFlowProtectionRules": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionTcpFlowProtectionRulesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/rules",
          "code": 200
        },
        "smithy.api#documentation": "Delete all TCP Flow Protection rules for an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ddos_protection#BulkDeleteAdvancedTcpProtectionTcpFlowProtectionRulesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionAllowlist": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionAllowlistRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionAllowlistResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist",
          "code": 200
        },
        "smithy.api#documentation": "Create an allowlist prefix for an account."
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionAllowlistRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An comment describing the allowlist prefix.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable the allowlist prefix into effect.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The allowlist prefix to add in CIDR format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionAllowlistResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the allowlist prefix.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional comment describing the allowlist prefix.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the allowlist prefix.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable the allowlist prefix into effect. Defaults to false.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the allowlist prefix.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The allowlist prefix in CIDR format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionPrefix": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionPrefixRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionPrefixResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes",
          "code": 200
        },
        "smithy.api#documentation": "Create a prefix for an account."
      }
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionPrefixRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comment describing the prefix.",
            "smithy.api#required": {}
          }
        },
        "excluded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to exclude the prefix from protection.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix to add in CIDR format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionPrefixResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the prefix.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comment describing the prefix.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the prefix.",
            "smithy.api#required": {}
          }
        },
        "excluded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to exclude the prefix from protection.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the prefix.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix in CIDR format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionSynProtectionFilter": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionSynProtectionFilterRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionSynProtectionFilterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/filters",
          "code": 200
        },
        "smithy.api#documentation": "Create a SYN Protection filter for an account."
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionSynProtectionFilterRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter's mode. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionSynProtectionFilterResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the expression filter.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the expression filter.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter's mode. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the expression filter.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionSynProtectionRule": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionSynProtectionRuleRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionSynProtectionRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/rules",
          "code": 200
        },
        "smithy.api#documentation": "Create a SYN Protection rule for an account."
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionSynProtectionRuleRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "burst_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The burst sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mode for SYN Protection. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SYN Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.",
            "smithy.api#required": {}
          }
        },
        "rate_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rate sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope for the SYN Protection rule. Must be one of 'global', 'region', or 'datacenter'.",
            "smithy.api#required": {}
          }
        },
        "mitigation_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of mitigation. Must be one of 'challenge' or 'retransmit'. Optional. Defaults to 'challenge'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionSynProtectionRuleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the SYN Protection rule.",
            "smithy.api#required": {}
          }
        },
        "burst_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The burst sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the SYN Protection rule.",
            "smithy.api#required": {}
          }
        },
        "mitigation_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of mitigation for SYN Protection. Must be one of 'challenge' or 'retransmit'.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mode for SYN Protection. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the SYN Protection rule.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SYN Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.",
            "smithy.api#required": {}
          }
        },
        "rate_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rate sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope for the SYN Protection rule. Must be one of 'global', 'region', or 'datacenter'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionTcpFlowProtectionFilter": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionTcpFlowProtectionFilterRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionTcpFlowProtectionFilterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters",
          "code": 200
        },
        "smithy.api#documentation": "Create a TCP Flow Protection filter for an account."
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionTcpFlowProtectionFilterRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter's mode. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionTcpFlowProtectionFilterResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the expression filter.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the expression filter.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter's mode. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the expression filter.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionTcpFlowProtectionRule": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionTcpFlowProtectionRuleRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionTcpFlowProtectionRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/rules",
          "code": 200
        },
        "smithy.api#documentation": "Create a TCP Flow Protection rule for an account."
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionTcpFlowProtectionRuleRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "burst_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The burst sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mode for the TCP Flow Protection. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the TCP Flow Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.",
            "smithy.api#required": {}
          }
        },
        "rate_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rate sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope for the TCP Flow Protection rule.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#CreateAdvancedTcpProtectionTcpFlowProtectionRuleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the TCP Flow Protection rule.",
            "smithy.api#required": {}
          }
        },
        "burst_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The burst sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the TCP Flow Protection rule.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mode for TCP Flow Protection. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the TCP Flow Protection rule.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the TCP Flow Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.",
            "smithy.api#required": {}
          }
        },
        "rate_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rate sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope for the TCP Flow Protection rule. Must be one of 'global', 'region', or 'datacenter'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionAllowlistItem": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionAllowlistItemRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist/{prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the allowlist prefix for an account given a UUID.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#AllowlistEntryNotFound"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionAllowlistItemRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionPrefixItem": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionPrefixItemRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes/{prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the prefix for an account given a UUID.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionPrefixItemRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionSynProtectionFilterItem": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionSynProtectionFilterItemRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/filters/{filter_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a SYN Protection filter specified by the given UUID.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#SynProtectionFilterNotFound"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionSynProtectionFilterItemRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionSynProtectionRuleItem": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionSynProtectionRuleItemRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a SYN Protection rule specified by the given UUID.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#SynProtectionRuleNotFound"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionSynProtectionRuleItemRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionTcpFlowProtectionFilterItem": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionTcpFlowProtectionFilterItemRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters/{filter_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a TCP Flow Protection filter specified by the given UUID.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#TcpFlowProtectionFilterNotFound"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionTcpFlowProtectionFilterItemRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionTcpFlowProtectionRuleItem": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionTcpFlowProtectionRuleItemRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a TCP Flow Protection rule specified by the given UUID.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#TcpFlowProtectionRuleNotFound"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#DeleteAdvancedTcpProtectionTcpFlowProtectionRuleItemRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionAllowlistItem": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionAllowlistItemRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionAllowlistItemResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist/{prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get an allowlist prefix specified by the given UUID.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#AllowlistEntryNotFound"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionAllowlistItemRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionAllowlistItemResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the allowlist prefix.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional comment describing the allowlist prefix.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the allowlist prefix.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable the allowlist prefix into effect. Defaults to false.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the allowlist prefix.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The allowlist prefix in CIDR format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionPrefixItem": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionPrefixItemRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionPrefixItemResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes/{prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a prefix specified by the given UUID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionPrefixItemRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionPrefixItemResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the prefix.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comment describing the prefix.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the prefix.",
            "smithy.api#required": {}
          }
        },
        "excluded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to exclude the prefix from protection.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the prefix.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix in CIDR format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionStatus": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionStatusRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_protection_status",
          "code": 200
        },
        "smithy.api#documentation": "Get the protection status of the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionStatusRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionStatusResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionSynProtectionFilterItem": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionSynProtectionFilterItemRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionSynProtectionFilterItemResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/filters/{filter_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a SYN Protection filter specified by the given UUID.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#SynProtectionFilterNotFound"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionSynProtectionFilterItemRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionSynProtectionFilterItemResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the expression filter.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the expression filter.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter's mode. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the expression filter.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionSynProtectionRuleItem": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionSynProtectionRuleItemRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionSynProtectionRuleItemResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a SYN Protection rule specified by the given UUID.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#SynProtectionRuleNotFound"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionSynProtectionRuleItemRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionSynProtectionRuleItemResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the SYN Protection rule.",
            "smithy.api#required": {}
          }
        },
        "burst_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The burst sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the SYN Protection rule.",
            "smithy.api#required": {}
          }
        },
        "mitigation_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of mitigation for SYN Protection. Must be one of 'challenge' or 'retransmit'.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mode for SYN Protection. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the SYN Protection rule.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SYN Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.",
            "smithy.api#required": {}
          }
        },
        "rate_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rate sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope for the SYN Protection rule. Must be one of 'global', 'region', or 'datacenter'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionTcpFlowProtectionFilterItem": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionTcpFlowProtectionFilterItemRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionTcpFlowProtectionFilterItemResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters/{filter_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a TCP Flow Protection filter specified by the given UUID.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#TcpFlowProtectionFilterNotFound"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionTcpFlowProtectionFilterItemRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionTcpFlowProtectionFilterItemResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the expression filter.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the expression filter.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter's mode. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the expression filter.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionTcpFlowProtectionRuleItem": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionTcpFlowProtectionRuleItemRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionTcpFlowProtectionRuleItemResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a TCP Flow Protection rule specified by the given UUID.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#TcpFlowProtectionRuleNotFound"
        },
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionTcpFlowProtectionRuleItemRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#GetAdvancedTcpProtectionTcpFlowProtectionRuleItemResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the TCP Flow Protection rule.",
            "smithy.api#required": {}
          }
        },
        "burst_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The burst sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation timestamp of the TCP Flow Protection rule.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mode for TCP Flow Protection. Must be one of 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last modification timestamp of the TCP Flow Protection rule.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the TCP Flow Protection rule. Value is relative to the 'scope' setting. For 'global' scope, name should be 'global'. For either the 'region' or 'datacenter' scope, name should be the actual name of the region or datacenter, e.g., 'wnam' or 'lax'.",
            "smithy.api#required": {}
          }
        },
        "rate_sensitivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rate sensitivity. Must be one of 'low', 'medium', 'high'.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope for the TCP Flow Protection rule. Must be one of 'global', 'region', or 'datacenter'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionAllowlists": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionAllowlistsRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionAllowlistsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist",
          "code": 200
        },
        "smithy.api#documentation": "List all allowlist prefixes for an account.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "resultInfo.page",
          "items": "result",
          "pageSize": "perPage"
        }
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionAllowlistsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The direction of ordering (ASC or DESC). Defaults to 'ASC'.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "order": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field to order by. Defaults to 'prefix'.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The page number for pagination. Defaults to 1.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of items per page. Must be between 10 and 1000. Defaults to 25.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionAllowlistsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionAllowlistListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionPrefixes": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionPrefixesRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionPrefixesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes",
          "code": 200
        },
        "smithy.api#documentation": "List all prefixes for an account.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "resultInfo.page",
          "items": "result",
          "pageSize": "perPage"
        }
      }
    },
    "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionPrefixesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The direction of ordering (ASC or DESC). Defaults to 'ASC'.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "order": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field to order by. Defaults to 'prefix'.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The page number for pagination. Defaults to 1.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of items per page. Must be between 10 and 1000. Defaults to 25.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionPrefixesResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionPrefixesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionSynProtectionFilters": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionSynProtectionFiltersRequest"
      },
      "output": {
        "target": "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionSynProtectionFiltersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/filters",
          "code": 200
        },
        "smithy.api#documentation": "List all SYN Protection filters for an account.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "resultInfo.page",
          "items": "result",
          "pageSize": "perPage"
        }
      },
      "errors": [
        {
          "target": "com.cloudflare.ddos_protection#AdvancedTcpProtectionNotEntitled"
        },
        {
          "target": "com.cloudflare.ddos_protection#Forbidden"
        }
      ]
    },
    "com.cloudflare.ddos_protection#ListAdvancedTcpProtectionSynProtectionFiltersRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The direction of ordering (ASC or DESC). Defaults to 'ASC'.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mode of the filters to get. Optional. Valid values: 'enabled', 'disabled', 'monitoring'.",
            "smithy.api#httpQuery": "mode"
          }
        },
        "order": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field to order by. Defaults to 'prefix'.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The page number for pagination. Defaults to 1.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of items per page. Must be between 10 and 1000. Defaults to 25.",
[...]
