{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "autoRefreshSeconds": "auto_refresh_seconds",
      "checkedTime": "checked_time",
      "commentModifiedOn": "comment_modified_on",
      "createdOn": "created_on",
      "createdTime": "created_time",
      "dataLag": "data_lag",
      "digestAlgorithm": "digest_algorithm",
      "digestType": "digest_type",
      "dnssecMultiSigner": "dnssec_multi_signer",
      "dnssecPresigned": "dnssec_presigned",
      "dnssecUseNsec3": "dnssec_use_nsec3",
      "documentationUrl": "documentation_url",
      "enforceDnsOnly": "enforce_dns_only",
      "flattenAllCnames": "flatten_all_cnames",
      "flattenCname": "flatten_cname",
      "foundationDns": "foundation_dns",
      "internalDns": "internal_dns",
      "internalRecordQuota": "internal_record_quota",
      "internalRecordUsage": "internal_record_usage",
      "ipRange": "ip_range",
      "ipv4Only": "ipv4_only",
      "ipv6Only": "ipv6_only",
      "ixfrEnable": "ixfr_enable",
      "keyTag": "key_tag",
      "keyType": "key_type",
      "lastTransferredTime": "last_transferred_time",
      "latDegrees": "lat_degrees",
      "latDirection": "lat_direction",
      "latMinutes": "lat_minutes",
      "latSeconds": "lat_seconds",
      "longDegrees": "long_degrees",
      "longDirection": "long_direction",
      "longMinutes": "long_minutes",
      "longSeconds": "long_seconds",
      "matchingType": "matching_type",
      "minTtl": "min_ttl",
      "modifiedOn": "modified_on",
      "modifiedTime": "modified_time",
      "multiProvider": "multi_provider",
      "nsSet": "ns_set",
      "nsTtl": "ns_ttl",
      "perPage": "per_page",
      "precisionHorz": "precision_horz",
      "precisionVert": "precision_vert",
      "privateRouting": "private_routing",
      "publicKey": "public_key",
      "recordQuota": "record_quota",
      "recordUsage": "record_usage",
      "recsAdded": "recs_added",
      "referenceZoneId": "reference_zone_id",
      "resultInfo": "result_info",
      "secondaryOverrides": "secondary_overrides",
      "soaSerial": "soa_serial",
      "tagsModifiedOn": "tags_modified_on",
      "timeDelta": "time_delta",
      "timeIntervals": "time_intervals",
      "totalCount": "total_count",
      "totalRecordsParsed": "total_records_parsed",
      "tsigId": "tsig_id",
      "zoneDefaults": "zone_defaults",
      "zoneMode": "zone_mode"
    }
  },
  "shapes": {
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataItem": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension values, representing the combination of dimension values corresponding to this row.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemMetricsList",
          "traits": {
            "smithy.api#documentation": "Array with one item per requested metric. Each item is a single value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataItem"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQueryDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQueryMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQuerySortList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQuery": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQueryDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension names.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQueryMetricsList",
          "traits": {
            "smithy.api#documentation": "Array of metric names.",
            "smithy.api#required": {}
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in 'attribute operator value' format."
          }
        },
        "sort": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQuerySortList",
          "traits": {
            "smithy.api#documentation": "Array of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending)."
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetRequestTimeDelta": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        },
        "QUARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarter"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DEKAMINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dekaminute"
          }
        },
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsItemList"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItem": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension values, representing the combination of dimension values corresponding to this row.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsList",
          "traits": {
            "smithy.api#documentation": "Array with one item per requested metric. Each item is an array of values, broken down by time interval.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItem"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryTimeDelta": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        },
        "QUARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarter"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DEKAMINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dekaminute"
          }
        },
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuerySortList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuery": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension names.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryMetricsList",
          "traits": {
            "smithy.api#documentation": "Array of metric names.",
            "smithy.api#required": {}
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "time_delta": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryTimeDelta",
          "traits": {
            "smithy.api#documentation": "Unit of time to group data by.",
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in 'attribute operator value' format."
          }
        },
        "sort": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuerySortList",
          "traits": {
            "smithy.api#documentation": "Array of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending)."
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseTimeIntervalsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseTimeIntervalsItemList"
      }
    },
    "com.cloudflare.dns#DnssecEditRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecEditResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "PENDING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending-disabled"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecGetResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "PENDING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending-disabled"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestDeletesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestDeletesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#RecordsBatchRequestDeletesItem"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemAAAARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemCNAMERecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemMXRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemNSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecordType": {
      "type": "enum",
      "members": {
        "OPENPGPKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPENPGPKEY"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A single Base64-encoded OpenPGP Transferable Public Key (RFC 4880 Section 11.1)"
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemPTRRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemTXTRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemCAARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemCERTRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemDNSKEYRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemDSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemHTTPSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemLOCRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemNAPTRRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemSMIMEARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemSRVRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemSSHFPRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemSVCBRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemTLSARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemURIRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItem": {
      "type": "union",
      "members": {
        "ARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemARecord"
        },
        "AAAARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemAAAARecord"
        },
        "CNAMERecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemCNAMERecord"
        },
        "MXRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemMXRecord"
        },
        "NSRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemNSRecord"
        },
        "OpenpgpkeyRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecord"
        },
        "PTRRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemPTRRecord"
        },
        "TXTRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemTXTRecord"
        },
        "CAARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemCAARecord"
        },
        "CERTRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemCERTRecord"
        },
        "DNSKEYRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemDNSKEYRecord"
        },
        "DSRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemDSRecord"
        },
        "HTTPSRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemHTTPSRecord"
        },
        "LOCRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemLOCRecord"
        },
        "NAPTRRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemNAPTRRecord"
        },
        "SMIMEARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemSMIMEARecord"
        },
        "SRVRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemSRVRecord"
        },
        "SSHFPRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemSSHFPRecord"
        },
        "SVCBRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemSVCBRecord"
        },
        "TLSARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemTLSARecord"
        },
        "URIRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemURIRecord"
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItem"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemARecordType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemARecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemARecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemARecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemARecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid IPv4 address."
          }
        },
        "private_routing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables private network routing to the origin."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemARecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemARecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecordType": {
      "type": "enum",
      "members": {
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid IPv6 address."
          }
        },
        "private_routing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables private network routing to the origin."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecordType": {
      "type": "enum",
      "members": {
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecordSettings": {
      "type": "structure",
      "members": {
        "flatten_cname": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled, causes the CNAME record to be resolved externally and the resulting address records (e.g., A and AAAA) to be returned instead of the CNAME record itself. This setting is unavailable for proxied records, since they are always flattened."
          }
        },
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid hostname. Must not match the record's name."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecordType": {
      "type": "enum",
      "members": {
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid mail server hostname."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required for MX and URI records; ignored for other record types (but may still be returned by the API). Records with lower priorities are preferred. This field is to be deprecated in favor of the priority field within the data map."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecordType": {
      "type": "enum",
      "members": {
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid name server host name."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecordType": {
      "type": "enum",
      "members": {
        "OPENPGPKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPENPGPKEY"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A single Base64-encoded OpenPGP Transferable Public Key (RFC 4880 Section 11.1)"
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecordType": {
      "type": "enum",
      "members": {
        "PTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTR"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name pointing to the address."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecordType": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text content for the record. The content must consist of quoted \"character strings\" (RFC 1035), each with a length of up to 255 bytes. Strings exceeding this allowed maximum length are automatically split."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordType": {
      "type": "enum",
      "members": {
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordData": {
      "type": "structure",
      "members": {
        "flags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Flags for the CAA record."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the property controlled by this record (e.g.: issue, issuewild, iodef)."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the record. This field's semantics depend on the chosen tag."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted CAA content. See 'data' to set CAA properties."
          }
        },
        "data": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordData",
          "traits": {
            "smithy.api#documentation": "Components of a CAA record."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordType": {
      "type": "enum",
      "members": {
        "CERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordData": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Algorithm."
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate."
          }
        },
        "key_tag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Key Tag."
          }
        },
        "type": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Type."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted CERT content. See 'data' to set CERT properties."
          }
        },
        "data": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordData",
          "traits": {
            "smithy.api#documentation": "Components of a CERT record."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordType": {
      "type": "enum",
      "members": {
        "DNSKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNSKEY"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordData": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Algorithm."
          }
        },
        "flags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Flags."
          }
        },
        "protocol": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Protocol."
          }
        },
        "public_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public Key."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted DNSKEY content. See 'data' to set DNSKEY properties."
          }
        },
        "data": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordData",
          "traits": {
            "smithy.api#documentation": "Components of a DNSKEY record."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordType": {
      "type": "enum",
      "members": {
        "DS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DS"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordData": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Algorithm."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Digest."
          }
        },
        "digest_type": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Digest Type."
          }
        },
        "key_tag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Key Tag."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted DS content. See 'data' to set DS properties."
          }
        },
        "data": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordData",
          "traits": {
            "smithy.api#documentation": "Components of a DS record."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecordType": {
      "type": "enum",
      "members": {
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecordData": {
      "type": "structure",
      "members": {
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Priority."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted HTTPS content. See 'data' to set HTTPS properties."
          }
        },
        "data": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecordData",
          "traits": {
            "smithy.api#documentation": "Components of a HTTPS record."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemLOCRecordType": {
      "type": "enum",
      "members": {
        "LOC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOC"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemLOCRecordDataLatDirection": {
      "type": "enum",
      "members": {
        "N": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N"
          }
        },
        "S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemLOCRecordDataLongDirection": {
      "type": "enum",
      "members": {
        "E": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E"
          }
        },
        "W": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "W"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemLOCRecordData": {
      "type": "structure",
      "members": {
        "altitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Altitude of location in meters."
          }
        },
        "lat_degrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Degrees of latitude."
          }
        },
        "lat_direction": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemLOCRecordDataLatDirection",
          "traits": {
            "smithy.api#documentation": "Latitude direction."
          }
        },
        "lat_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minutes of latitude."
          }
        },
        "lat_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Seconds of latitude."
          }
        },
        "long_degrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Degrees of longitude."
          }
        },
        "long_direction": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemLOCRecordDataLongDirection",
          "traits": {
            "smithy.api#documentation": "Longitude direction."
          }
        },
        "long_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minutes of longitude."
          }
        },
        "long_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Seconds of longitude."
          }
        },
        "precision_horz": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Horizontal precision of location."
          }
        },
        "precision_vert": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Vertical precision of location."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Size of location in meters."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemLOCRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemLOCRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemLOCRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemLOCRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted LOC content. See 'data' to set LOC properties."
          }
        },
        "data": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemLOCRecordData",
          "traits": {
            "smithy.api#documentation": "Components of a LOC record."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemLOCRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemLOCRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemNAPTRRecordType": {
      "type": "enum",
      "members": {
        "NAPTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAPTR"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemNAPTRRecordData": {
      "type": "structure",
      "members": {
        "flags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Flags."
          }
        },
        "order": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Order."
          }
        },
        "preference": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Preference."
          }
        },
        "regex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regex."
          }
        },
        "replacement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Replacement."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemNAPTRRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemNAPTRRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemNAPTRRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemNAPTRRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted NAPTR content. See 'data' to set NAPTR properties."
          }
        },
        "data": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemNAPTRRecordData",
          "traits": {
            "smithy.api#documentation": "Components of a NAPTR record."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemNAPTRRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemNAPTRRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemSMIMEARecordType": {
      "type": "enum",
      "members": {
        "SMIMEA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMIMEA"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemSMIMEARecordData": {
      "type": "structure",
      "members": {
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate."
          }
        },
        "matching_type": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Matching Type."
          }
        },
        "selector": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Selector."
          }
        },
        "usage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Usage."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemSMIMEARecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemSMIMEARecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemSMIMEARecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemSMIMEARecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted SMIMEA content. See 'data' to set SMIMEA properties."
          }
        },
        "data": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemSMIMEARecordData",
          "traits": {
            "smithy.api#documentation": "Components of a SMIMEA record."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemSMIMEARecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemSMIMEARecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemSRVRecordType": {
      "type": "enum",
      "members": {
        "SRV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRV"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemSRVRecordData": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The port of the service."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
[...]
