{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.dns#AnalyticsReportsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dimensions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to group results by.",
            "smithy.api#httpQuery": "dimensions"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in ‘attribute operator value’ format.",
            "smithy.api#httpQuery": "filters"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "metrics": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of metrics to query.",
            "smithy.api#httpQuery": "metrics"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "since"
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending).",
            "smithy.api#httpQuery": "sort"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "until"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataItem": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension values, representing the combination of dimension values corresponding to this row.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemMetricsList",
          "traits": {
            "smithy.api#documentation": "Array with one item per requested metric. Each item is a single value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataItem"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQueryDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQueryMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQuerySortList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQuery": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQueryDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension names.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQueryMetricsList",
          "traits": {
            "smithy.api#documentation": "Array of metric names.",
            "smithy.api#required": {}
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in ‘attribute operator value’ format."
          }
        },
        "sort": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQuerySortList",
          "traits": {
            "smithy.api#documentation": "Array of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending)."
          }
        },
        "rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of rows in the result.",
            "smithy.api#required": {}
          }
        },
        "totals": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Total results for metrics across all data (object mapping metric names to values).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataList",
          "traits": {
            "smithy.api#documentation": "Array with one row per combination of dimension values.",
            "smithy.api#required": {}
          }
        },
        "data_lag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds between current time and last processed event, in another words how many seconds of data could be missing.",
            "smithy.api#required": {}
          }
        },
        "max": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Maximum results for each metric (object mapping metric names to values). Currently always an empty object.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Minimum results for each metric (object mapping metric names to values). Currently always an empty object.",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQuery",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#AnalyticsReportsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#AnalyticsReportsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_analytics/report",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a list of summarised aggregate metrics over a given time period. See [Analytics API properties](https://developers.cloudflare.com/dns/reference/analytics-api-properties/) for detailed information about the available query parameters.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetRequestTimeDelta": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        },
        "QUARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarter"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DEKAMINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dekaminute"
          }
        },
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dimensions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to group results by.",
            "smithy.api#httpQuery": "dimensions"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in ‘attribute operator value’ format.",
            "smithy.api#httpQuery": "filters"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "metrics": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of metrics to query.",
            "smithy.api#httpQuery": "metrics"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "since"
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending).",
            "smithy.api#httpQuery": "sort"
          }
        },
        "time_delta": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetRequestTimeDelta",
          "traits": {
            "smithy.api#documentation": "Unit of time to group data by.",
            "smithy.api#httpQuery": "time_delta"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "until"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsItemList"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItem": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension values, representing the combination of dimension values corresponding to this row.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsList",
          "traits": {
            "smithy.api#documentation": "Array with one item per requested metric. Each item is an array of values, broken down by time interval.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItem"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryTimeDelta": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        },
        "QUARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarter"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DEKAMINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dekaminute"
          }
        },
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuerySortList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryTimeIntervalsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryTimeIntervalsItemList"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuery": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension names.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryMetricsList",
          "traits": {
            "smithy.api#documentation": "Array of metric names.",
            "smithy.api#required": {}
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "time_delta": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryTimeDelta",
          "traits": {
            "smithy.api#documentation": "Unit of time to group data by.",
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in ‘attribute operator value’ format."
          }
        },
        "sort": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuerySortList",
          "traits": {
            "smithy.api#documentation": "Array of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending)."
          }
        },
        "rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of rows in the result.",
            "smithy.api#required": {}
          }
        },
        "time_intervals": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryTimeIntervalsList",
          "traits": {
            "smithy.api#documentation": "Array of time intervals in the response data. Each interval is represented as an array containing two values: the start time, and the end time.",
            "smithy.api#required": {}
          }
        },
        "totals": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Total results for metrics across all data (object mapping metric names to values).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataList",
          "traits": {
            "smithy.api#documentation": "Array with one row per combination of dimension values.",
            "smithy.api#required": {}
          }
        },
        "data_lag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds between current time and last processed event, in another words how many seconds of data could be missing.",
            "smithy.api#required": {}
          }
        },
        "max": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Maximum results for each metric (object mapping metric names to values). Currently always an empty object.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Minimum results for each metric (object mapping metric names to values). Currently always an empty object.",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuery",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_analytics/report/bytime",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a list of aggregate metrics grouped by time interval. See [Analytics API properties](https://developers.cloudflare.com/dns/reference/analytics-api-properties/) for detailed information about the available query parameters.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#DnssecDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#DnssecDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#DnssecDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#DnssecDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#DnssecDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/dnssec",
          "code": 200
        },
        "smithy.api#documentation": "Delete DNSSEC.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.dns#DnssecEditRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dnssec_multi_signer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, multi-signer DNSSEC is enabled on the zone, allowing multiple providers to serve a DNSSEC-signed zone at the same time. This is required for DNSKEY records (except those automatically generated by Cloudflare) to be added to the zone."
          }
        },
        "dnssec_presigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, allows Cloudflare to transfer in a DNSSEC-signed zone including signatures from an external provider, without requiring Cloudflare to sign any records on the fly."
          }
        },
        "dnssec_use_nsec3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, enables the use of NSEC3 together with DNSSEC on the zone. Combined with setting dnssec_presigned to true, this enables the use of NSEC3 records when transferring in from an external provider. If dnssec_presigned is instead set to false (default), NSEC3 records will be generated and signed at request time."
          }
        },
        "status": {
          "target": "com.cloudflare.dns#DnssecEditRequestStatus",
          "traits": {
            "smithy.api#documentation": "Status of DNSSEC, based on user-desired state and presence of necessary records."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#DnssecEditResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "PENDING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending-disabled"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecEditResponseStatus2": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecEditResponse": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Algorithm key code."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Digest hash."
          }
        },
        "digest_algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of digest algorithm."
          }
        },
        "digest_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Coded type for digest algorithm."
          }
        },
        "dnssec_multi_signer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, multi-signer DNSSEC is enabled on the zone, allowing multiple providers to serve a DNSSEC-signed zone at the same time. This is required for DNSKEY records (except those automatically generated by Cloudflare) to be added to the zone."
          }
        },
        "dnssec_presigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, allows Cloudflare to transfer in a DNSSEC-signed zone including signatures from an external provider, without requiring Cloudflare to sign any records on the fly."
          }
        },
        "dnssec_use_nsec3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, enables the use of NSEC3 together with DNSSEC on the zone. Combined with setting dnssec_presigned to true, this enables the use of NSEC3 records when transferring in from an external provider. If dnssec_presigned is instead set to false (default), NSEC3 records will be generated and signed at request time."
          }
        },
        "ds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full DS record."
          }
        },
        "flags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Flag for DNSSEC record."
          }
        },
        "key_tag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Code for key tag."
          }
        },
        "key_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Algorithm key type."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When DNSSEC was last modified."
          }
        },
        "public_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public key for DS record."
          }
        },
        "status": {
          "target": "com.cloudflare.dns#DnssecEditResponseStatus",
          "traits": {
            "smithy.api#documentation": "Status of DNSSEC, based on user-desired state and presence of necessary records."
          }
        },
        "dnssec_presigned_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "dnssec_presigned"
          }
        },
        "status_2": {
          "target": "com.cloudflare.dns#DnssecEditResponseStatus2",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {},
            "smithy.api#jsonName": "status"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#DnssecEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#DnssecEditRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#DnssecEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/dnssec",
          "code": 200
        },
        "smithy.api#documentation": "Enable or disable DNSSEC."
      }
    },
    "com.cloudflare.dns#DnssecGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#DnssecGetResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "PENDING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending-disabled"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecGetResponse": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Algorithm key code."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Digest hash."
          }
        },
        "digest_algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of digest algorithm."
          }
        },
        "digest_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Coded type for digest algorithm."
          }
        },
        "dnssec_multi_signer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, multi-signer DNSSEC is enabled on the zone, allowing multiple providers to serve a DNSSEC-signed zone at the same time. This is required for DNSKEY records (except those automatically generated by Cloudflare) to be added to the zone."
          }
        },
        "dnssec_presigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, allows Cloudflare to transfer in a DNSSEC-signed zone including signatures from an external provider, without requiring Cloudflare to sign any records on the fly."
          }
        },
        "dnssec_use_nsec3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, enables the use of NSEC3 together with DNSSEC on the zone. Combined with setting dnssec_presigned to true, this enables the use of NSEC3 records when transferring in from an external provider. If dnssec_presigned is instead set to false (default), NSEC3 records will be generated and signed at request time."
          }
        },
        "ds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full DS record."
          }
        },
        "flags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Flag for DNSSEC record."
          }
        },
        "key_tag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Code for key tag."
          }
        },
        "key_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Algorithm key type."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When DNSSEC was last modified."
          }
        },
        "public_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public key for DS record."
          }
        },
        "status": {
          "target": "com.cloudflare.dns#DnssecGetResponseStatus",
          "traits": {
            "smithy.api#documentation": "Status of DNSSEC, based on user-desired state and presence of necessary records."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#DnssecGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#DnssecGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#DnssecGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dnssec",
          "code": 200
        },
        "smithy.api#documentation": "Details about DNSSEC status and configuration.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#DnssecZskListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#DnssecZskListResultItemDNSKEYHdrLocation": {
      "type": "enum",
      "members": {
        "DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database"
          }
        },
        "VAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vault"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecZskListResultItemDNSKEYHdrSigningKey": {
      "type": "structure",
      "members": {
        "kek": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key encryption key name used to encrypt the private key."
          }
        },
        "privkey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encrypted private key material for the signing key."
          }
        },
        "pubkey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public key content associated with the signing key."
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecZskListResultItemDNSKEYHdrTag": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publish"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external"
          }
        },
        "RETIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retired"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoked"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removed"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecZskListResultItemDNSKEYHdr": {
      "type": "structure",
      "members": {
        "Class": {
          "target": "smithy.api#Double"
        },
        "Name": {
          "target": "smithy.api#String"
        },
        "Rdlength": {
          "target": "smithy.api#Double"
        },
        "Rrtype": {
          "target": "smithy.api#Double"
        },
        "Ttl": {
          "target": "smithy.api#Double"
        },
        "Protocol": {
          "target": "smithy.api#Double"
        },
        "PublicKey": {
          "target": "smithy.api#String"
        },
        "Location": {
          "target": "com.cloudflare.dns#DnssecZskListResultItemDNSKEYHdrLocation",
          "traits": {
            "smithy.api#documentation": "Storage backend where the DNSSEC key material is stored."
          }
        },
        "Name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal key name for the ZSK.",
            "smithy.api#jsonName": "Name"
          }
        },
        "SigningKey": {
          "target": "com.cloudflare.dns#DnssecZskListResultItemDNSKEYHdrSigningKey"
        },
        "Tag": {
          "target": "com.cloudflare.dns#DnssecZskListResultItemDNSKEYHdrTag",
          "traits": {
            "smithy.api#documentation": "Lifecycle state tag attached to the DNSSEC key."
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecZskListResultItemDNSKEY": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "target": "smithy.api#Double"
        },
        "Flags": {
          "target": "smithy.api#Double"
        },
        "Hdr": {
          "target": "com.cloudflare.dns#DnssecZskListResultItemDNSKEYHdr"
        }
      }
    },
    "com.cloudflare.dns#DnssecZskListResultItem": {
      "type": "structure",
      "members": {
        "DNSKEY": {
          "target": "com.cloudflare.dns#DnssecZskListResultItemDNSKEY"
        }
      }
    },
    "com.cloudflare.dns#DnssecZskListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#DnssecZskListResultItem"
      }
    },
    "com.cloudflare.dns#DnssecZskListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.dns#DnssecZskListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#DnssecZskList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#DnssecZskListRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#DnssecZskListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dnssec/zsk",
          "code": 200
        },
        "smithy.api#documentation": "List the Zone Signing Keys (ZSKs) that DNSSEC uses for the zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#RecordsBatchRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponsePatchesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponsePostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponsePutsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponse": {
      "type": "structure",
      "members": {
        "deletes": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesList",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "patches": {
          "target": "com.cloudflare.dns#RecordsBatchResponsePatchesList",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "posts": {
          "target": "com.cloudflare.dns#RecordsBatchResponsePostsList",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "puts": {
          "target": "com.cloudflare.dns#RecordsBatchResponsePutsList",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#RecordsBatch": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsBatchRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsBatchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/dns_records/batch",
          "code": 200
        },
        "smithy.api#documentation": "Send a Batch of DNS Record API calls to be executed together. Notes: Although Cloudflare will execute the batched operations in a single database transaction, Cloudflare’s distributed KV store must treat each record change as a single key-value pair. This means that the propagation of changes is not atomic. See the documentation for more information. The operations you specify within the /batch request body are always executed in the following order: Deletes Patches Puts Posts"
      }
    },
    "com.cloudflare.dns#RecordsCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#RecordsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/dns_records",
          "code": 200
        },
        "smithy.api#documentation": "Create a new DNS record for a zone. Notes: A/AAAA records cannot exist on the same name as CNAME records. NS records cannot exist on the same name as any other record type. Domain names are always represented in Punycode, even if Unicode characters were used when creating the record."
      }
    },
    "com.cloudflare.dns#RecordsDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dns_record_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#RecordsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/dns_records/{dns_record_id}",
          "code": 200
        },
        "smithy.api#documentation": "Permanently removes a DNS record from the zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.dns#RecordsEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dns_record_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsEditResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#RecordsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/dns_records/{dns_record_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing DNS record. Notes: A/AAAA records cannot exist on the same name as CNAME records. NS records cannot exist on the same name as any other record type. Domain names are always represented in Punycode, even if Unicode characters were used when creating the record."
      }
    },
    "com.cloudflare.dns#RecordsExportRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsExport": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsExportRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_records/export",
          "code": 200
        },
        "smithy.api#documentation": "You can export your [BIND config](https://en.wikipedia.org/wiki/Zone%5Ffile \"Zone file\") through this endpoint. See [the documentation](https://developers.cloudflare.com/dns/manage-dns-records/how-to/import-and-export/ \"Import and export records\") for more information.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#RecordsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dns_record_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#RecordsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_records/{dns_record_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves details for a specific DNS record in the zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#RecordsImportRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsImportResponse": {
      "type": "structure",
      "members": {
        "recs_added": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of DNS records added."
          }
        },
        "total_records_parsed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of DNS records parsed."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#RecordsImport": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsImportRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsImportResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/dns_records/import",
          "code": 200
        },
        "smithy.api#documentation": "You can upload your [BIND config](https://en.wikipedia.org/wiki/Zone%5Ffile \"Zone file\") through this endpoint. It assumes that cURL is called from a location with bind_config.txt (valid BIND config) present. See [the documentation](https://developers.cloudflare.com/dns/manage-dns-records/how-to/import-and-export/ \"Import and export records\") for more information."
      }
    },
    "com.cloudflare.dns#RecordsListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.dns#RecordsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#RecordsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsListRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_records",
          "code": 200
        },
        "smithy.api#documentation": "List, search, sort, and filter a zones’ DNS records.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#RecordsScanRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsScanResponse": {
      "type": "structure",
      "members": {
        "recs_added": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of DNS records added."
          }
        },
        "total_records_parsed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of DNS records parsed."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#RecordsScan": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsScanRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsScanResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/dns_records/scan",
          "code": 200
        },
        "smithy.api#documentation": "Scan for common DNS records on your domain and automatically add them to your zone. Useful if you haven’t updated your nameservers yet."
      }
    },
    "com.cloudflare.dns#RecordsScanListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsScanListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsScanListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.dns#RecordsScanListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#RecordsScanList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsScanListRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsScanListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_records/scan/review",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves the list of DNS records discovered up to this point by the asynchronous scan. These records are temporary until explicitly accepted or rejected via POST /scan/review . Additional records may be discovered by the scan later.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#RecordsScanReviewRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsScanReviewResponseAcceptsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsScanReviewResponseRejectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#RecordsScanReviewResponse": {
      "type": "structure",
      "members": {
        "accepts": {
          "target": "com.cloudflare.dns#RecordsScanReviewResponseAcceptsList",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "rejects": {
          "target": "com.cloudflare.dns#RecordsScanReviewResponseRejectsList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#RecordsScanReview": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsScanReviewRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsScanReviewResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/dns_records/scan/review",
          "code": 200
        },
        "smithy.api#documentation": "Accept or reject DNS records found by the DNS records scan. Accepted records will be permanently added to the zone, while rejected records will be permanently deleted."
      }
    },
    "com.cloudflare.dns#RecordsScanTriggerRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsScanTriggerResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsScanTriggerResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsScanTriggerResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.dns#RecordsScanTriggerResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.dns#RecordsScanTriggerResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.dns#RecordsScanTrigger": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsScanTriggerRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsScanTriggerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/dns_records/scan/trigger",
          "code": 200
        },
        "smithy.api#documentation": "Initiates an asynchronous scan for common DNS records on your domain. Note that this **does not** automatically add records to your zone. The scan runs in the background, and results can be reviewed later using the `/scan/review` endpoints. Useful if you haven’t updated your nameservers yet."
      }
    },
    "com.cloudflare.dns#RecordsUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dns_record_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#RecordsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/dns_records/{dns_record_id}",
          "code": 200
        },
        "smithy.api#documentation": "Overwrite an existing DNS record. Notes: A/AAAA records cannot exist on the same name as CNAME records. NS records cannot exist on the same name as any other record type. Domain names are always represented in Punycode, even if Unicode characters were used when creating the record.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsInternalDns": {
      "type": "structure",
      "members": {
        "reference_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the zone to fallback to."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsNameserversType": {
      "type": "enum",
      "members": {
        "CLOUDFLARE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard"
          }
        },
        "CLOUDFLARE_ADVANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.advanced"
          }
        },
        "CLOUDFLARE_STANDARD_RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard.random"
          }
        },
        "CUSTOM_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.account"
          }
        },
        "CUSTOM_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.tenant"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsNameservers": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsNameserversType",
          "traits": {
            "smithy.api#documentation": "Nameserver type"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsSoaZoneMode": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "CDN_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdn_only"
          }
        },
        "DNS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_only"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsSoa": {
      "type": "structure",
      "members": {
        "expire": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds of being unable to query the primary server after which secondary servers should stop serving the zone."
          }
        },
        "min_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) for negative caching of records within the zone."
          }
        },
        "mname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary nameserver, which may be used for outbound zone transfers. If null, a Cloudflare-assigned value will be used."
          }
        },
        "refresh": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should re-check the SOA record to see if the zone has been updated."
          }
        },
        "retry": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should retry queries after the primary server was unresponsive."
          }
        },
        "rname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the zone administrator, with the first label representing the local part of the email address."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the SOA record itself."
          }
        },
        "zone_mode": {
          "target": "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsSoaZoneMode",
          "traits": {
            "smithy.api#documentation": "Whether the zone mode is a regular or CDN/DNS only zone."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaults": {
      "type": "structure",
      "members": {
        "flatten_all_cnames": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to flatten all CNAME records in the zone. Note that, due to DNS limitations, a CNAME record at the zone apex will always be flattened."
          }
        },
        "Deprecatedfoundation_dns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "foundation_dns is deprecated. Use nameservers.type: cloudflare.advanced to turn on Advanced Nameservers and cloudflare.standard to turn it off. This field will be removed in a future API version."
          }
        },
        "internal_dns": {
          "target": "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsInternalDns",
          "traits": {
            "smithy.api#documentation": "Settings for this internal zone."
          }
        },
        "multi_provider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable multi-provider DNS, which causes Cloudflare to activate the zone even when non-Cloudflare NS records exist, and to respect NS records at the zone apex during outbound zone transfers."
          }
        },
        "nameservers": {
          "target": "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsNameservers",
          "traits": {
            "smithy.api#documentation": "Settings determining the nameservers through which the zone should be available."
          }
        },
        "ns_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the zone’s nameserver (NS) records."
          }
        },
        "secondary_overrides": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows a Secondary DNS zone to use (proxied) override records and CNAME flattening at the zone apex."
          }
        },
        "soa": {
          "target": "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsSoa",
          "traits": {
            "smithy.api#documentation": "Components of the zone’s SOA record."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enforce_dns_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, forces all proxied DNS records in the account to behave as DNS-only at the edge, regardless of each record’s individual proxy setting. Note that this account-level override does not modify the records themselves; it only affects how they are served at the edge. See more on Enforce DNS-only."
          }
        },
        "zone_defaults": {
          "target": "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaults"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsInternalDns": {
      "type": "structure",
      "members": {
        "reference_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the zone to fallback to."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsNameserversType": {
      "type": "enum",
      "members": {
        "CLOUDFLARE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard"
          }
        },
        "CLOUDFLARE_ADVANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.advanced"
          }
        },
        "CLOUDFLARE_STANDARD_RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard.random"
          }
        },
        "CUSTOM_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.account"
          }
        },
        "CUSTOM_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.tenant"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsNameservers": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsNameserversType",
          "traits": {
            "smithy.api#documentation": "Nameserver type",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsSoaZoneMode": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "CDN_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdn_only"
          }
        },
        "DNS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_only"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsSoa": {
      "type": "structure",
      "members": {
        "expire": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds of being unable to query the primary server after which secondary servers should stop serving the zone."
          }
        },
        "min_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) for negative caching of records within the zone."
          }
        },
        "mname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary nameserver, which may be used for outbound zone transfers. If null, a Cloudflare-assigned value will be used."
          }
        },
        "refresh": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should re-check the SOA record to see if the zone has been updated."
          }
        },
        "retry": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should retry queries after the primary server was unresponsive."
          }
        },
        "rname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the zone administrator, with the first label representing the local part of the email address."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the SOA record itself."
          }
        },
        "zone_mode": {
          "target": "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsSoaZoneMode",
          "traits": {
            "smithy.api#documentation": "Whether the zone mode is a regular or CDN/DNS only zone.",
            "smithy.api#required": {}
          }
        },
        "enforce_dns_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, forces all proxied DNS records in the account to behave as DNS-only at the edge, regardless of each record’s individual proxy setting. Note that this account-level override does not modify the records themselves; it only affects how they are served at the edge. See more on Enforce DNS-only."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaults": {
      "type": "structure",
      "members": {
        "flatten_all_cnames": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to flatten all CNAME records in the zone. Note that, due to DNS limitations, a CNAME record at the zone apex will always be flattened.",
            "smithy.api#required": {}
          }
        },
        "Deprecatedfoundation_dns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "foundation_dns is deprecated. Use nameservers.type: cloudflare.advanced to turn on Advanced Nameservers and cloudflare.standard to turn it off. This field will be removed in a future API version.",
            "smithy.api#required": {}
          }
        },
        "internal_dns": {
          "target": "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsInternalDns",
          "traits": {
            "smithy.api#documentation": "Settings for this internal zone.",
            "smithy.api#required": {}
          }
        },
        "multi_provider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable multi-provider DNS, which causes Cloudflare to activate the zone even when non-Cloudflare NS records exist, and to respect NS records at the zone apex during outbound zone transfers.",
            "smithy.api#required": {}
          }
        },
        "nameservers": {
          "target": "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsNameservers",
          "traits": {
            "smithy.api#documentation": "Settings determining the nameservers through which the zone should be available.",
            "smithy.api#required": {}
          }
        },
        "ns_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the zone’s nameserver (NS) records.",
            "smithy.api#required": {}
          }
        },
        "secondary_overrides": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows a Secondary DNS zone to use (proxied) override records and CNAME flattening at the zone apex.",
            "smithy.api#required": {}
          }
        },
        "soa": {
          "target": "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsSoa",
          "traits": {
            "smithy.api#documentation": "Components of the zone’s SOA record.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponse": {
      "type": "structure",
      "members": {
        "zone_defaults": {
          "target": "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaults",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#SettingsAccountEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#SettingsAccountEditRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#SettingsAccountEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/dns_settings",
          "code": 200
        },
        "smithy.api#documentation": "Update DNS settings for an account"
      }
    },
    "com.cloudflare.dns#SettingsAccountGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsInternalDns": {
      "type": "structure",
      "members": {
        "reference_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the zone to fallback to."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsNameserversType": {
      "type": "enum",
      "members": {
        "CLOUDFLARE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard"
          }
        },
        "CLOUDFLARE_ADVANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.advanced"
          }
        },
        "CLOUDFLARE_STANDARD_RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard.random"
          }
        },
        "CUSTOM_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.account"
          }
        },
        "CUSTOM_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.tenant"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsNameservers": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsNameserversType",
          "traits": {
            "smithy.api#documentation": "Nameserver type",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsSoaZoneMode": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "CDN_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdn_only"
          }
        },
        "DNS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_only"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsSoa": {
      "type": "structure",
      "members": {
        "expire": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds of being unable to query the primary server after which secondary servers should stop serving the zone."
          }
        },
        "min_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) for negative caching of records within the zone."
          }
        },
        "mname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary nameserver, which may be used for outbound zone transfers. If null, a Cloudflare-assigned value will be used."
          }
        },
        "refresh": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should re-check the SOA record to see if the zone has been updated."
          }
        },
        "retry": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should retry queries after the primary server was unresponsive."
          }
        },
        "rname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the zone administrator, with the first label representing the local part of the email address."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the SOA record itself."
          }
        },
        "zone_mode": {
          "target": "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsSoaZoneMode",
          "traits": {
            "smithy.api#documentation": "Whether the zone mode is a regular or CDN/DNS only zone.",
            "smithy.api#required": {}
          }
        },
        "enforce_dns_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, forces all proxied DNS records in the account to behave as DNS-only at the edge, regardless of each record’s individual proxy setting. Note that this account-level override does not modify the records themselves; it only affects how they are served at the edge. See more on Enforce DNS-only."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaults": {
      "type": "structure",
      "members": {
        "flatten_all_cnames": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to flatten all CNAME records in the zone. Note that, due to DNS limitations, a CNAME record at the zone apex will always be flattened.",
            "smithy.api#required": {}
          }
        },
        "Deprecatedfoundation_dns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "foundation_dns is deprecated. Use nameservers.type: cloudflare.advanced to turn on Advanced Nameservers and cloudflare.standard to turn it off. This field will be removed in a future API version.",
            "smithy.api#required": {}
          }
        },
        "internal_dns": {
          "target": "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsInternalDns",
          "traits": {
            "smithy.api#documentation": "Settings for this internal zone.",
            "smithy.api#required": {}
          }
        },
        "multi_provider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable multi-provider DNS, which causes Cloudflare to activate the zone even when non-Cloudflare NS records exist, and to respect NS records at the zone apex during outbound zone transfers.",
            "smithy.api#required": {}
          }
        },
        "nameservers": {
          "target": "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsNameservers",
          "traits": {
            "smithy.api#documentation": "Settings determining the nameservers through which the zone should be available.",
            "smithy.api#required": {}
          }
        },
        "ns_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the zone’s nameserver (NS) records.",
            "smithy.api#required": {}
          }
        },
        "secondary_overrides": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows a Secondary DNS zone to use (proxied) override records and CNAME flattening at the zone apex.",
            "smithy.api#required": {}
          }
        },
        "soa": {
          "target": "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsSoa",
          "traits": {
            "smithy.api#documentation": "Components of the zone’s SOA record.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponse": {
      "type": "structure",
      "members": {
        "zone_defaults": {
          "target": "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaults",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#SettingsAccountGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#SettingsAccountGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#SettingsAccountGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/dns_settings",
          "code": 200
        },
        "smithy.api#documentation": "Show DNS settings for an account",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsCreateRequestZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the view.",
            "smithy.api#required": {}
          }
        },
        "zones": {
          "target": "com.cloudflare.dns#SettingsAccountViewsCreateRequestZonesList",
          "traits": {
            "smithy.api#documentation": "The list of zones linked to this view.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsCreateResponseZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the view was created.",
            "smithy.api#required": {}
          }
        },
        "modified_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the view was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the view.",
            "smithy.api#required": {}
          }
        },
        "zones": {
          "target": "com.cloudflare.dns#SettingsAccountViewsCreateResponseZonesList",
          "traits": {
            "smithy.api#documentation": "The list of zones linked to this view.",
            "smithy.api#required": {}
          }
        },
        "name_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "name"
          }
        },
        "zones_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "\"372e67954025e0ba6aaa6d586b9e0b59\"",
            "smithy.api#required": {},
            "smithy.api#jsonName": "zones"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#SettingsAccountViewsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#SettingsAccountViewsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/dns_settings/views",
          "code": 200
        },
        "smithy.api#documentation": "Create Internal DNS View for an account"
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "view_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#SettingsAccountViewsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#SettingsAccountViewsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/dns_settings/views/{view_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing Internal DNS View",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsEditRequestZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "view_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
[...]
