{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.dns#AnalyticsReportsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dimensions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to group results by.",
            "smithy.api#httpQuery": "dimensions"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in 'attribute operator value' format.",
            "smithy.api#httpQuery": "filters"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "metrics": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of metrics to query.",
            "smithy.api#httpQuery": "metrics"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "since"
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending).",
            "smithy.api#httpQuery": "sort"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "until"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#AnalyticsReportsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#AnalyticsReportsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_analytics/report",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a list of summarised aggregate metrics over a given time period. See [Analytics API properties](https://developers.cloudflare.com/dns/reference/analytics-api-properties/) for detailed information about the available query parameters.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetRequestTimeDelta": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dimensions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to group results by.",
            "smithy.api#httpQuery": "dimensions"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in 'attribute operator value' format.",
            "smithy.api#httpQuery": "filters"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "metrics": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of metrics to query.",
            "smithy.api#httpQuery": "metrics"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "since"
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending).",
            "smithy.api#httpQuery": "sort"
          }
        },
        "time_delta": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetRequestTimeDelta",
          "traits": {
            "smithy.api#documentation": "Unit of time to group data by.",
            "smithy.api#httpQuery": "time_delta"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "until"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_analytics/report/bytime",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a list of aggregate metrics grouped by time interval. See [Analytics API properties](https://developers.cloudflare.com/dns/reference/analytics-api-properties/) for detailed information about the available query parameters.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#DnssecDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#DnssecDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#DnssecDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#DnssecDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#DnssecDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/dnssec",
          "code": 200
        },
        "smithy.api#documentation": "Delete DNSSEC.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.dns#DnssecEditRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dnssec_multi_signer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, multi-signer DNSSEC is enabled on the zone, allowing multiple"
          }
        },
        "dnssec_presigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, allows Cloudflare to transfer in a DNSSEC-signed zone"
          }
        },
        "dnssec_use_nsec3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, enables the use of NSEC3 together with DNSSEC on the zone."
          }
        },
        "status": {
          "target": "com.cloudflare.dns#DnssecEditRequestStatus",
          "traits": {
            "smithy.api#documentation": "Status of DNSSEC, based on user-desired state and presence of necessary records."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#DnssecEditResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#DnssecEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#DnssecEditRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#DnssecEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/dnssec",
          "code": 200
        },
        "smithy.api#documentation": "Enable or disable DNSSEC."
      }
    },
    "com.cloudflare.dns#DnssecGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#DnssecGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#DnssecGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#DnssecGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#DnssecGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dnssec",
          "code": 200
        },
        "smithy.api#documentation": "Details about DNSSEC status and configuration.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestDeletesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestDeletesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#RecordsBatchRequestDeletesItem"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deletes": {
          "target": "com.cloudflare.dns#RecordsBatchRequestDeletesList"
        },
        "patches": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesList"
        },
        "posts": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsList"
        },
        "puts": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponsePatchesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponsePostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponsePutsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponse": {
      "type": "structure",
      "members": {
        "deletes": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesList"
        },
        "patches": {
          "target": "com.cloudflare.dns#RecordsBatchResponsePatchesList"
        },
        "posts": {
          "target": "com.cloudflare.dns#RecordsBatchResponsePostsList"
        },
        "puts": {
          "target": "com.cloudflare.dns#RecordsBatchResponsePutsList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#RecordsBatch": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsBatchRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsBatchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/dns_records/batch",
          "code": 200
        },
        "smithy.api#documentation": "Send a Batch of DNS Record API calls to be executed together. Notes: - Although Cloudflare will execute the batched operations in a single database transaction, Cloudflare's distributed KV store must treat each record change as a single key-value pair. This means that the propagation of changes is not atomic. See [the documentation](https://developers.cloudflare.com/dns/manage-dns-records/how-to/batch-record-changes/ \"Batch DNS records\") for more information. - The operations you specify within the /batch request body are always executed in the following order: - Deletes - Patches - Puts - Posts"
      }
    },
    "com.cloudflare.dns#RecordsCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#RecordsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/dns_records",
          "code": 200
        },
        "smithy.api#documentation": "Create a new DNS record for a zone. Notes: - A/AAAA records cannot exist on the same name as CNAME records. - NS records cannot exist on the same name as any other record type. - Domain names are always represented in Punycode, even if Unicode characters were used when creating the record."
      }
    },
    "com.cloudflare.dns#RecordsDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dns_record_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#RecordsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/dns_records/{dns_record_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete DNS Record",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.dns#RecordsEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dns_record_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsEditResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#RecordsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/dns_records/{dns_record_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing DNS record. Notes: - A/AAAA records cannot exist on the same name as CNAME records. - NS records cannot exist on the same name as any other record type. - Domain names are always represented in Punycode, even if Unicode characters were used when creating the record."
      }
    },
    "com.cloudflare.dns#RecordsExportRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsExport": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsExportRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_records/export",
          "code": 200
        },
        "smithy.api#documentation": "You can export your [BIND config](https://en.wikipedia.org/wiki/Zone_file \"Zone file\") through this endpoint. See [the documentation](https://developers.cloudflare.com/dns/manage-dns-records/how-to/import-and-export/ \"Import and export records\") for more information.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#RecordsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dns_record_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#RecordsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_records/{dns_record_id}",
          "code": 200
        },
        "smithy.api#documentation": "DNS Record Details",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#RecordsImportRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsImportResponse": {
      "type": "structure",
      "members": {
        "recs_added": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of DNS records added."
          }
        },
        "total_records_parsed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of DNS records parsed."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#RecordsImport": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsImportRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsImportResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/dns_records/import",
          "code": 200
        },
        "smithy.api#documentation": "You can upload your [BIND config](https://en.wikipedia.org/wiki/Zone_file \"Zone file\") through this endpoint. It assumes that cURL is called from a location with bind_config.txt (valid BIND config) present. See [the documentation](https://developers.cloudflare.com/dns/manage-dns-records/how-to/import-and-export/ \"Import and export records\") for more information."
      }
    },
    "com.cloudflare.dns#RecordsListRequestMatch": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsListRequestOrder": {
      "type": "enum",
      "members": {
        "TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "type"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsListRequestTagMatch": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsListRequestType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "comment"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "content"
          }
        },
        "direction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Direction to order DNS records in.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "match": {
          "target": "com.cloudflare.dns#RecordsListRequestMatch",
          "traits": {
            "smithy.api#documentation": "Whether to match all search requirements or at least one (any). If set to `all`, acts like a logical AND between filters. If set to `any`, acts like a logical OR instead. Note that the interaction between tag filters is controlled by the `tag-match` parameter instead.",
            "smithy.api#httpQuery": "match"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name"
          }
        },
        "order": {
          "target": "com.cloudflare.dns#RecordsListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Field to order DNS records by.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of DNS records per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare.",
            "smithy.api#httpQuery": "proxied"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Allows searching in multiple properties of a DNS record simultaneously. This parameter is intended for human users, not automation. Its exact behavior is intentionally left unspecified and is subject to change in the future. This parameter works independently of the `match` setting. For automated searches, please use the other available parameters.",
            "smithy.api#httpQuery": "search"
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tag"
          }
        },
        "tag_match": {
          "target": "com.cloudflare.dns#RecordsListRequestTagMatch",
          "traits": {
            "smithy.api#documentation": "Whether to match all tag search requirements or at least one (any). If set to `all`, acts like a logical AND between tag filters. If set to `any`, acts like a logical OR instead. Note that the regular `match` parameter is still used to combine the resulting condition with other filters that aren't related to tags.",
            "smithy.api#httpQuery": "tag_match"
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsListRequestType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.dns#RecordsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#RecordsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsListRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_records",
          "code": 200
        },
        "smithy.api#documentation": "List, search, sort, and filter a zones' DNS records.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#RecordsScanRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsScanResponse": {
      "type": "structure",
      "members": {
        "recs_added": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of DNS records added."
          }
        },
        "total_records_parsed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of DNS records parsed."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#RecordsScan": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsScanRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsScanResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/dns_records/scan",
          "code": 200
        },
        "smithy.api#documentation": "Scan for common DNS records on your domain and automatically add them to your zone. Useful if you haven't updated your nameservers yet."
      }
    },
    "com.cloudflare.dns#RecordsScanListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsScanListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsScanListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.dns#RecordsScanListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#RecordsScanList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsScanListRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsScanListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_records/scan/review",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves the list of DNS records discovered up to this point by the asynchronous scan. These records are temporary until explicitly accepted or rejected via `POST /scan/review`. Additional records may be discovered by the scan later.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#RecordsScanReviewRequestAcceptsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsScanReviewRequestRejectsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsScanReviewRequestRejectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#RecordsScanReviewRequestRejectsItem"
      }
    },
    "com.cloudflare.dns#RecordsScanReviewRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "accepts": {
          "target": "com.cloudflare.dns#RecordsScanReviewRequestAcceptsList"
        },
        "rejects": {
          "target": "com.cloudflare.dns#RecordsScanReviewRequestRejectsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsScanReviewResponseAcceptsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsScanReviewResponseRejectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#RecordsScanReviewResponse": {
      "type": "structure",
      "members": {
        "accepts": {
          "target": "com.cloudflare.dns#RecordsScanReviewResponseAcceptsList"
        },
        "rejects": {
          "target": "com.cloudflare.dns#RecordsScanReviewResponseRejectsList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#RecordsScanReview": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsScanReviewRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsScanReviewResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/dns_records/scan/review",
          "code": 200
        },
        "smithy.api#documentation": "Accept or reject DNS records found by the DNS records scan. Accepted records will be permanently added to the zone, while rejected records will be permanently deleted."
      }
    },
    "com.cloudflare.dns#RecordsScanTriggerRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsScanTrigger": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsScanTriggerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/dns_records/scan/trigger",
          "code": 200
        },
        "smithy.api#documentation": "Initiates an asynchronous scan for common DNS records on your domain. Note that this **does not** automatically add records to your zone. The scan runs in the background, and results can be reviewed later using the `/scan/review` endpoints. Useful if you haven't updated your nameservers yet."
      }
    },
    "com.cloudflare.dns#RecordsUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dns_record_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#RecordsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#RecordsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#RecordsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/dns_records/{dns_record_id}",
          "code": 200
        },
        "smithy.api#documentation": "Overwrite an existing DNS record. Notes: - A/AAAA records cannot exist on the same name as CNAME records. - NS records cannot exist on the same name as any other record type. - Domain names are always represented in Punycode, even if Unicode characters were used when creating the record.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsInternalDns": {
      "type": "structure",
      "members": {
        "reference_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the zone to fallback to."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsNameserversType": {
      "type": "enum",
      "members": {
        "CLOUDFLARE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard"
          }
        },
        "CLOUDFLARE_STANDARD_RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard.random"
          }
        },
        "CUSTOM_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.account"
          }
        },
        "CUSTOM_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.tenant"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsNameservers": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsNameserversType",
          "traits": {
            "smithy.api#documentation": "Nameserver type"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsSoa": {
      "type": "structure",
      "members": {
        "expire": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds of being unable to query the primary server after which secondary servers should stop serving the zone."
          }
        },
        "min_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) for negative caching of records within the zone."
          }
        },
        "mname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary nameserver, which may be used for outbound zone transfers. If null, a Cloudflare-assigned value will be used."
          }
        },
        "refresh": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should re-check the SOA record to see if the zone has been updated."
          }
        },
        "retry": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should retry queries after the primary server was unresponsive."
          }
        },
        "rname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the zone administrator, with the first label representing the local part of the email address."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the SOA record itself."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsZoneMode": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "CDN_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdn_only"
          }
        },
        "DNS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_only"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaults": {
      "type": "structure",
      "members": {
        "flatten_all_cnames": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to flatten all CNAME records in the zone. Note that, due to DNS limitations, a CNAME record at the zone apex will always be flattened."
          }
        },
        "foundation_dns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable Foundation DNS Advanced Nameservers on the zone."
          }
        },
        "internal_dns": {
          "target": "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsInternalDns",
          "traits": {
            "smithy.api#documentation": "Settings for this internal zone."
          }
        },
        "multi_provider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable multi-provider DNS, which causes Cloudflare to activate the zone even when non-Cloudflare NS records exist, and to respect NS records at the zone apex during outbound zone transfers."
          }
        },
        "nameservers": {
          "target": "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsNameservers",
          "traits": {
            "smithy.api#documentation": "Settings determining the nameservers through which the zone should be available."
          }
        },
        "ns_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the zone's nameserver (NS) records."
          }
        },
        "secondary_overrides": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows a Secondary DNS zone to use (proxied) override records and CNAME flattening at the zone apex."
          }
        },
        "soa": {
          "target": "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsSoa",
          "traits": {
            "smithy.api#documentation": "Components of the zone's SOA record."
          }
        },
        "zone_mode": {
          "target": "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaultsZoneMode",
          "traits": {
            "smithy.api#documentation": "Whether the zone mode is a regular or CDN/DNS only zone."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enforce_dns_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, forces all proxied DNS records in the account to behave as DNS-only at the edge, regardless of each record's individual proxy setting. Note that this account-level override does not modify the records themselves; it only affects how they are served at the edge. See more on [Enforce DNS-only](https://developers.cloudflare.com/dns/proxy-status/enforce-dns-only)."
          }
        },
        "zone_defaults": {
          "target": "com.cloudflare.dns#SettingsAccountEditRequestZoneDefaults"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsInternalDns": {
      "type": "structure",
      "members": {
        "reference_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the zone to fallback to."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsNameserversType": {
      "type": "enum",
      "members": {
        "CLOUDFLARE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard"
          }
        },
        "CLOUDFLARE_STANDARD_RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard.random"
          }
        },
        "CUSTOM_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.account"
          }
        },
        "CUSTOM_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.tenant"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsNameservers": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsNameserversType",
          "traits": {
            "smithy.api#documentation": "Nameserver type",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsSoa": {
      "type": "structure",
      "members": {
        "expire": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds of being unable to query the primary server after which secondary servers should stop serving the zone."
          }
        },
        "min_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) for negative caching of records within the zone."
          }
        },
        "mname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary nameserver, which may be used for outbound zone transfers. If null, a Cloudflare-assigned value will be used."
          }
        },
        "refresh": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should re-check the SOA record to see if the zone has been updated."
          }
        },
        "retry": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should retry queries after the primary server was unresponsive."
          }
        },
        "rname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the zone administrator, with the first label representing the local part of the email address."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the SOA record itself."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsZoneMode": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "CDN_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdn_only"
          }
        },
        "DNS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_only"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaults": {
      "type": "structure",
      "members": {
        "flatten_all_cnames": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to flatten all CNAME records in the zone. Note that, due to DNS limitations, a CNAME record at the zone apex will always be flattened.",
            "smithy.api#required": {}
          }
        },
        "foundation_dns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable Foundation DNS Advanced Nameservers on the zone.",
            "smithy.api#required": {}
          }
        },
        "internal_dns": {
          "target": "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsInternalDns",
          "traits": {
            "smithy.api#documentation": "Settings for this internal zone.",
            "smithy.api#required": {}
          }
        },
        "multi_provider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable multi-provider DNS, which causes Cloudflare to activate the zone even when non-Cloudflare NS records exist, and to respect NS records at the zone apex during outbound zone transfers.",
            "smithy.api#required": {}
          }
        },
        "nameservers": {
          "target": "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsNameservers",
          "traits": {
            "smithy.api#documentation": "Settings determining the nameservers through which the zone should be available.",
            "smithy.api#required": {}
          }
        },
        "ns_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the zone's nameserver (NS) records.",
            "smithy.api#required": {}
          }
        },
        "secondary_overrides": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows a Secondary DNS zone to use (proxied) override records and CNAME flattening at the zone apex.",
            "smithy.api#required": {}
          }
        },
        "soa": {
          "target": "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsSoa",
          "traits": {
            "smithy.api#documentation": "Components of the zone's SOA record.",
            "smithy.api#required": {}
          }
        },
        "zone_mode": {
          "target": "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaultsZoneMode",
          "traits": {
            "smithy.api#documentation": "Whether the zone mode is a regular or CDN/DNS only zone.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountEditResponse": {
      "type": "structure",
      "members": {
        "zone_defaults": {
          "target": "com.cloudflare.dns#SettingsAccountEditResponseZoneDefaults",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enforce_dns_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, forces all proxied DNS records in the account to behave as DNS-only at the edge, regardless of each record's individual proxy setting. Note that this account-level override does not modify the records themselves; it only affects how they are served at the edge. See more on [Enforce DNS-only](https://developers.cloudflare.com/dns/proxy-status/enforce-dns-only)."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#SettingsAccountEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#SettingsAccountEditRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#SettingsAccountEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/dns_settings",
          "code": 200
        },
        "smithy.api#documentation": "Update DNS settings for an account"
      }
    },
    "com.cloudflare.dns#SettingsAccountGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsInternalDns": {
      "type": "structure",
      "members": {
        "reference_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the zone to fallback to."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsNameserversType": {
      "type": "enum",
      "members": {
        "CLOUDFLARE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard"
          }
        },
        "CLOUDFLARE_STANDARD_RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard.random"
          }
        },
        "CUSTOM_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.account"
          }
        },
        "CUSTOM_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.tenant"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsNameservers": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsNameserversType",
          "traits": {
            "smithy.api#documentation": "Nameserver type",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsSoa": {
      "type": "structure",
      "members": {
        "expire": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds of being unable to query the primary server after which secondary servers should stop serving the zone."
          }
        },
        "min_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) for negative caching of records within the zone."
          }
        },
        "mname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary nameserver, which may be used for outbound zone transfers. If null, a Cloudflare-assigned value will be used."
          }
        },
        "refresh": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should re-check the SOA record to see if the zone has been updated."
          }
        },
        "retry": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should retry queries after the primary server was unresponsive."
          }
        },
        "rname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the zone administrator, with the first label representing the local part of the email address."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the SOA record itself."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsZoneMode": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "CDN_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdn_only"
          }
        },
        "DNS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_only"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaults": {
      "type": "structure",
      "members": {
        "flatten_all_cnames": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to flatten all CNAME records in the zone. Note that, due to DNS limitations, a CNAME record at the zone apex will always be flattened.",
            "smithy.api#required": {}
          }
        },
        "foundation_dns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable Foundation DNS Advanced Nameservers on the zone.",
            "smithy.api#required": {}
          }
        },
        "internal_dns": {
          "target": "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsInternalDns",
          "traits": {
            "smithy.api#documentation": "Settings for this internal zone.",
            "smithy.api#required": {}
          }
        },
        "multi_provider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable multi-provider DNS, which causes Cloudflare to activate the zone even when non-Cloudflare NS records exist, and to respect NS records at the zone apex during outbound zone transfers.",
            "smithy.api#required": {}
          }
        },
        "nameservers": {
          "target": "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsNameservers",
          "traits": {
            "smithy.api#documentation": "Settings determining the nameservers through which the zone should be available.",
            "smithy.api#required": {}
          }
        },
        "ns_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the zone's nameserver (NS) records.",
            "smithy.api#required": {}
          }
        },
        "secondary_overrides": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows a Secondary DNS zone to use (proxied) override records and CNAME flattening at the zone apex.",
            "smithy.api#required": {}
          }
        },
        "soa": {
          "target": "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsSoa",
          "traits": {
            "smithy.api#documentation": "Components of the zone's SOA record.",
            "smithy.api#required": {}
          }
        },
        "zone_mode": {
          "target": "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaultsZoneMode",
          "traits": {
            "smithy.api#documentation": "Whether the zone mode is a regular or CDN/DNS only zone.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountGetResponse": {
      "type": "structure",
      "members": {
        "zone_defaults": {
          "target": "com.cloudflare.dns#SettingsAccountGetResponseZoneDefaults",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enforce_dns_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, forces all proxied DNS records in the account to behave as DNS-only at the edge, regardless of each record's individual proxy setting. Note that this account-level override does not modify the records themselves; it only affects how they are served at the edge. See more on [Enforce DNS-only](https://developers.cloudflare.com/dns/proxy-status/enforce-dns-only)."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#SettingsAccountGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#SettingsAccountGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#SettingsAccountGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/dns_settings",
          "code": 200
        },
        "smithy.api#documentation": "Show DNS settings for an account",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsCreateRequestZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the view.",
            "smithy.api#required": {}
          }
        },
        "zones": {
          "target": "com.cloudflare.dns#SettingsAccountViewsCreateRequestZonesList",
          "traits": {
            "smithy.api#documentation": "The list of zones linked to this view.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsCreateResponseZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the view was created.",
            "smithy.api#required": {}
          }
        },
        "modified_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the view was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the view.",
            "smithy.api#required": {}
          }
        },
        "zones": {
          "target": "com.cloudflare.dns#SettingsAccountViewsCreateResponseZonesList",
          "traits": {
            "smithy.api#documentation": "The list of zones linked to this view.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#SettingsAccountViewsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#SettingsAccountViewsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/dns_settings/views",
          "code": 200
        },
        "smithy.api#documentation": "Create Internal DNS View for an account"
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "view_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#SettingsAccountViewsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#SettingsAccountViewsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/dns_settings/views/{view_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing Internal DNS View",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsEditRequestZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "view_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the view."
          }
        },
        "zones": {
          "target": "com.cloudflare.dns#SettingsAccountViewsEditRequestZonesList",
          "traits": {
            "smithy.api#documentation": "The list of zones linked to this view."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsEditResponseZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the view was created.",
            "smithy.api#required": {}
          }
        },
        "modified_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the view was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the view.",
            "smithy.api#required": {}
          }
        },
        "zones": {
          "target": "com.cloudflare.dns#SettingsAccountViewsEditResponseZonesList",
          "traits": {
            "smithy.api#documentation": "The list of zones linked to this view.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#SettingsAccountViewsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#SettingsAccountViewsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/dns_settings/views/{view_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing Internal DNS View"
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "view_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsGetResponseZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the view was created.",
            "smithy.api#required": {}
          }
        },
        "modified_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the view was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the view.",
            "smithy.api#required": {}
          }
        },
        "zones": {
          "target": "com.cloudflare.dns#SettingsAccountViewsGetResponseZonesList",
          "traits": {
            "smithy.api#documentation": "The list of zones linked to this view.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#SettingsAccountViewsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#SettingsAccountViewsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/dns_settings/views/{view_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get DNS Internal View",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsListRequestMatch": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsListRequestOrder": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "CREATED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_on"
          }
        },
        "MODIFIED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modified_on"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.dns#SettingsAccountViewsListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order DNS views in.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "match": {
          "target": "com.cloudflare.dns#SettingsAccountViewsListRequestMatch",
          "traits": {
            "smithy.api#documentation": "Whether to match all search requirements or at least one (any). If set to `all`, acts like a logical AND between filters. If set to `any`, acts like a logical OR instead.",
            "smithy.api#httpQuery": "match"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name"
          }
        },
        "order": {
          "target": "com.cloudflare.dns#SettingsAccountViewsListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Field to order DNS views by.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of DNS views per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A zone ID that exists in the zones list for the view.",
            "smithy.api#httpQuery": "zone_id"
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A zone name that exists in the zones list for the view.",
            "smithy.api#httpQuery": "zone_name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsListResultItemZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "created_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the view was created.",
            "smithy.api#required": {}
          }
        },
        "modified_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the view was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the view.",
            "smithy.api#required": {}
          }
        },
        "zones": {
          "target": "com.cloudflare.dns#SettingsAccountViewsListResultItemZonesList",
          "traits": {
            "smithy.api#documentation": "The list of zones linked to this view.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#SettingsAccountViewsListResultItem"
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.dns#SettingsAccountViewsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#SettingsAccountViewsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#SettingsAccountViewsListRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#SettingsAccountViewsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/dns_settings/views",
          "code": 200
        },
        "smithy.api#documentation": "List DNS Internal Views for an Account",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#SettingsZoneEditRequestInternalDns": {
      "type": "structure",
      "members": {
        "reference_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the zone to fallback to."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsZoneEditRequestNameserversType": {
      "type": "enum",
      "members": {
        "CLOUDFLARE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard"
          }
        },
        "CUSTOM_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.account"
          }
        },
        "CUSTOM_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.tenant"
          }
        },
        "CUSTOM_ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.zone"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsZoneEditRequestNameservers": {
      "type": "structure",
      "members": {
        "ns_set": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Configured nameserver set to be used for this zone"
          }
        },
        "type": {
          "target": "com.cloudflare.dns#SettingsZoneEditRequestNameserversType",
          "traits": {
            "smithy.api#documentation": "Nameserver type"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsZoneEditRequestSoa": {
      "type": "structure",
      "members": {
        "expire": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds of being unable to query the primary server after which secondary servers should stop serving the zone."
          }
        },
        "min_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) for negative caching of records within the zone."
          }
        },
        "mname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary nameserver, which may be used for outbound zone transfers. If null, a Cloudflare-assigned value will be used."
          }
        },
        "refresh": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should re-check the SOA record to see if the zone has been updated."
          }
        },
        "retry": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should retry queries after the primary server was unresponsive."
          }
        },
        "rname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the zone administrator, with the first label representing the local part of the email address."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the SOA record itself."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsZoneEditRequestZoneMode": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "CDN_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdn_only"
          }
        },
        "DNS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_only"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsZoneEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "flatten_all_cnames": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to flatten all CNAME records in the zone. Note that, due to DNS limitations, a CNAME record at the zone apex will always be flattened."
          }
        },
        "foundation_dns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable Foundation DNS Advanced Nameservers on the zone."
          }
        },
        "internal_dns": {
          "target": "com.cloudflare.dns#SettingsZoneEditRequestInternalDns",
          "traits": {
            "smithy.api#documentation": "Settings for this internal zone."
          }
        },
        "multi_provider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable multi-provider DNS, which causes Cloudflare to activate the zone even when non-Cloudflare NS records exist, and to respect NS records at the zone apex during outbound zone transfers."
          }
        },
        "nameservers": {
          "target": "com.cloudflare.dns#SettingsZoneEditRequestNameservers",
          "traits": {
            "smithy.api#documentation": "Settings determining the nameservers through which the zone should be available."
          }
        },
        "ns_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the zone's nameserver (NS) records."
          }
        },
        "secondary_overrides": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows a Secondary DNS zone to use (proxied) override records and CNAME flattening at the zone apex."
          }
        },
        "soa": {
          "target": "com.cloudflare.dns#SettingsZoneEditRequestSoa",
          "traits": {
            "smithy.api#documentation": "Components of the zone's SOA record."
          }
        },
        "zone_mode": {
          "target": "com.cloudflare.dns#SettingsZoneEditRequestZoneMode",
          "traits": {
            "smithy.api#documentation": "Whether the zone mode is a regular or CDN/DNS only zone."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#SettingsZoneEditResponseInternalDns": {
      "type": "structure",
      "members": {
        "reference_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the zone to fallback to."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsZoneEditResponseNameserversType": {
      "type": "enum",
      "members": {
        "CLOUDFLARE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare.standard"
          }
        },
        "CUSTOM_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.account"
          }
        },
        "CUSTOM_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.tenant"
          }
        },
        "CUSTOM_ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom.zone"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsZoneEditResponseNameservers": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.dns#SettingsZoneEditResponseNameserversType",
          "traits": {
            "smithy.api#documentation": "Nameserver type",
            "smithy.api#required": {}
          }
        },
        "ns_set": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Configured nameserver set to be used for this zone"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsZoneEditResponseSoa": {
      "type": "structure",
      "members": {
        "expire": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds of being unable to query the primary server after which secondary servers should stop serving the zone."
          }
        },
        "min_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) for negative caching of records within the zone."
          }
        },
        "mname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary nameserver, which may be used for outbound zone transfers. If null, a Cloudflare-assigned value will be used."
          }
        },
        "refresh": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should re-check the SOA record to see if the zone has been updated."
          }
        },
        "retry": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time in seconds after which secondary servers should retry queries after the primary server was unresponsive."
          }
        },
        "rname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the zone administrator, with the first label representing the local part of the email address."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the SOA record itself."
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsZoneEditResponseZoneMode": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "CDN_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdn_only"
          }
        },
        "DNS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_only"
          }
        }
      }
    },
    "com.cloudflare.dns#SettingsZoneEditResponse": {
      "type": "structure",
      "members": {
        "flatten_all_cnames": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to flatten all CNAME records in the zone. Note that, due to DNS limitations, a CNAME record at the zone apex will always be flattened.",
            "smithy.api#required": {}
          }
        },
        "foundation_dns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable Foundation DNS Advanced Nameservers on the zone.",
            "smithy.api#required": {}
          }
        },
        "internal_dns": {
          "target": "com.cloudflare.dns#SettingsZoneEditResponseInternalDns",
          "traits": {
            "smithy.api#documentation": "Settings for this internal zone.",
            "smithy.api#required": {}
          }
        },
        "multi_provider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable multi-provider DNS, which causes Cloudflare to activate the zone even when non-Cloudflare NS records exist, and to respect NS records at the zone apex during outbound zone transfers.",
            "smithy.api#required": {}
          }
        },
        "nameservers": {
          "target": "com.cloudflare.dns#SettingsZoneEditResponseNameservers",
          "traits": {
            "smithy.api#documentation": "Settings determining the nameservers through which the zone should be available.",
            "smithy.api#required": {}
          }
        },
        "ns_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time to live (TTL) of the zone's nameserver (NS) records.",
            "smithy.api#required": {}
          }
        },
        "secondary_overrides": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows a Secondary DNS zone to use (proxied) override records and CNAME flattening at the zone apex.",
            "smithy.api#required": {}
          }
        },
        "soa": {
          "target": "com.cloudflare.dns#SettingsZoneEditResponseSoa",
          "traits": {
            "smithy.api#documentation": "Components of the zone's SOA record.",
            "smithy.api#required": {}
          }
        },
        "zone_mode": {
          "target": "com.cloudflare.dns#SettingsZoneEditResponseZoneMode",
          "traits": {
            "smithy.api#documentation": "Whether the zone mode is a regular or CDN/DNS only zone.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
[...]
