{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.dns#AnalyticsReportsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dimensions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to group results by.",
            "smithy.api#httpQuery": "dimensions"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in 'attribute operator value' format.",
            "smithy.api#httpQuery": "filters"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "metrics": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of metrics to query.",
            "smithy.api#httpQuery": "metrics"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "since"
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending).",
            "smithy.api#httpQuery": "sort"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "until"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataItem": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension values, representing the combination of dimension values corresponding to this row.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemMetricsList",
          "traits": {
            "smithy.api#documentation": "Array with one item per requested metric. Each item is a single value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataItem"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQueryDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQueryMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQuerySortList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQuery": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQueryDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension names.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQueryMetricsList",
          "traits": {
            "smithy.api#documentation": "Array of metric names.",
            "smithy.api#required": {}
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in 'attribute operator value' format."
          }
        },
        "sort": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQuerySortList",
          "traits": {
            "smithy.api#documentation": "Array of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending)."
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataList",
          "traits": {
            "smithy.api#documentation": "Array with one row per combination of dimension values.",
            "smithy.api#required": {}
          }
        },
        "data_lag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds between current time and last processed event, in another words how many seconds of data could be missing.",
            "smithy.api#required": {}
          }
        },
        "max": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Maximum results for each metric (object mapping metric names to values). Currently always an empty object.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Minimum results for each metric (object mapping metric names to values). Currently always an empty object.",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQuery",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of rows in the result.",
            "smithy.api#required": {}
          }
        },
        "totals": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Total results for metrics across all data (object mapping metric names to values).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#AnalyticsReportsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#AnalyticsReportsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_analytics/report",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a list of summarised aggregate metrics over a given time period. See [Analytics API properties](https://developers.cloudflare.com/dns/reference/analytics-api-properties/) for detailed information about the available query parameters.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetRequestTimeDelta": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dimensions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to group results by.",
            "smithy.api#httpQuery": "dimensions"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in 'attribute operator value' format.",
            "smithy.api#httpQuery": "filters"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "metrics": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of metrics to query.",
            "smithy.api#httpQuery": "metrics"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "since"
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending).",
            "smithy.api#httpQuery": "sort"
          }
        },
        "time_delta": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetRequestTimeDelta",
          "traits": {
            "smithy.api#documentation": "Unit of time to group data by.",
            "smithy.api#httpQuery": "time_delta"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "until"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItem": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension values, representing the combination of dimension values corresponding to this row.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsList",
          "traits": {
            "smithy.api#documentation": "Array with one item per requested metric. Each item is an array of values, broken down by time interval.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItem"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryTimeDelta": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuerySortList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuery": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension names.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryMetricsList",
          "traits": {
            "smithy.api#documentation": "Array of metric names.",
            "smithy.api#required": {}
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "time_delta": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryTimeDelta",
          "traits": {
            "smithy.api#documentation": "Unit of time to group data by.",
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in 'attribute operator value' format."
          }
        },
        "sort": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuerySortList",
          "traits": {
            "smithy.api#documentation": "Array of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending)."
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataList",
          "traits": {
            "smithy.api#documentation": "Array with one row per combination of dimension values.",
            "smithy.api#required": {}
          }
        },
        "data_lag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds between current time and last processed event, in another words how many seconds of data could be missing.",
            "smithy.api#required": {}
          }
        },
        "max": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Maximum results for each metric (object mapping metric names to values). Currently always an empty object.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Minimum results for each metric (object mapping metric names to values). Currently always an empty object.",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuery",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of rows in the result.",
            "smithy.api#required": {}
          }
        },
        "time_intervals": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseTimeIntervalsList",
          "traits": {
            "smithy.api#documentation": "Array of time intervals in the response data. Each interval is represented as an array containing two values: the start time, and the end time.",
            "smithy.api#required": {}
          }
        },
        "totals": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Total results for metrics across all data (object mapping metric names to values).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_analytics/report/bytime",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a list of aggregate metrics grouped by time interval. See [Analytics API properties](https://developers.cloudflare.com/dns/reference/analytics-api-properties/) for detailed information about the available query parameters.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#DnssecDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#DnssecDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#DnssecDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#DnssecDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#DnssecDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/dnssec",
          "code": 200
        },
        "smithy.api#documentation": "Delete DNSSEC.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.dns#DnssecEditRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dnssec_multi_signer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, multi-signer DNSSEC is enabled on the zone, allowing multiple"
          }
        },
        "dnssec_presigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, allows Cloudflare to transfer in a DNSSEC-signed zone"
          }
        },
        "dnssec_use_nsec3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, enables the use of NSEC3 together with DNSSEC on the zone."
          }
        },
        "status": {
          "target": "com.cloudflare.dns#DnssecEditRequestStatus",
          "traits": {
            "smithy.api#documentation": "Status of DNSSEC, based on user-desired state and presence of necessary records."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#DnssecEditResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecEditResponse": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Algorithm key code."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Digest hash."
          }
        },
        "digest_algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of digest algorithm."
          }
        },
        "digest_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Coded type for digest algorithm."
          }
        },
        "dnssec_multi_signer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, multi-signer DNSSEC is enabled on the zone, allowing multiple"
          }
        },
        "dnssec_presigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, allows Cloudflare to transfer in a DNSSEC-signed zone"
          }
        },
        "dnssec_use_nsec3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, enables the use of NSEC3 together with DNSSEC on the zone."
          }
        },
        "ds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full DS record."
          }
        },
        "flags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Flag for DNSSEC record."
          }
        },
        "key_tag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Code for key tag."
          }
        },
        "key_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Algorithm key type."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When DNSSEC was last modified."
          }
        },
        "public_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public key for DS record."
          }
        },
        "status": {
          "target": "com.cloudflare.dns#DnssecEditResponseStatus",
          "traits": {
            "smithy.api#documentation": "Status of DNSSEC, based on user-desired state and presence of necessary records."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#DnssecEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#DnssecEditRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#DnssecEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/dnssec",
          "code": 200
        },
        "smithy.api#documentation": "Enable or disable DNSSEC."
      }
    },
    "com.cloudflare.dns#DnssecGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#DnssecGetResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecGetResponse": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Algorithm key code."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Digest hash."
          }
        },
        "digest_algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of digest algorithm."
          }
        },
        "digest_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Coded type for digest algorithm."
          }
        },
        "dnssec_multi_signer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, multi-signer DNSSEC is enabled on the zone, allowing multiple"
          }
        },
        "dnssec_presigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, allows Cloudflare to transfer in a DNSSEC-signed zone"
          }
        },
        "dnssec_use_nsec3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, enables the use of NSEC3 together with DNSSEC on the zone."
          }
        },
        "ds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full DS record."
          }
        },
        "flags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Flag for DNSSEC record."
          }
        },
        "key_tag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Code for key tag."
          }
        },
        "key_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Algorithm key type."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When DNSSEC was last modified."
          }
        },
        "public_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public key for DS record."
          }
        },
        "status": {
          "target": "com.cloudflare.dns#DnssecGetResponseStatus",
          "traits": {
            "smithy.api#documentation": "Status of DNSSEC, based on user-desired state and presence of necessary records."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#DnssecGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#DnssecGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#DnssecGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dnssec",
          "code": 200
        },
        "smithy.api#documentation": "Details about DNSSEC status and configuration.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestDeletesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestDeletesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#RecordsBatchRequestDeletesItem"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemAAAARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemCNAMERecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemMXRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemNSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemTtl": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "_1": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "1"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemType": {
      "type": "enum",
      "members": {
        "OPENPGPKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPENPGPKEY"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemPTRRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemTXTRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemCAARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemCERTRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemDNSKEYRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemDSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemHTTPSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemLOCRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemNAPTRRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemSMIMEARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemSRVRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemSSHFPRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemSVCBRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemTLSARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemURIRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItem": {
      "type": "structure",
      "members": {
        "ARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemARecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AAAARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemAAAARecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "CNAMERecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemCNAMERecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "MXRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemMXRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "NSRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemNSRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode."
          }
        },
        "ttl": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemTtl",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones."
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemType",
          "traits": {
            "smithy.api#documentation": "Record type."
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A single Base64-encoded OpenPGP Transferable Public Key (RFC 4880 Section 11.1)"
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        },
        "PTRRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemPTRRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TXTRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemTXTRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "CAARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemCAARecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "CERTRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemCERTRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "DNSKEYRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemDNSKEYRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "DSRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemDSRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "HTTPSRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemHTTPSRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "LOCRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemLOCRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "NAPTRRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemNAPTRRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SMIMEARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemSMIMEARecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SRVRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemSRVRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SSHFPRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemSSHFPRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SVCBRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemSVCBRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TLSARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemTLSARecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "URIRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemURIRecord",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItem"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemData": {
      "type": "structure",
      "members": {
        "flags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Flags for the CAA record."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the property controlled by this record (e.g.: issue, issuewild, iodef)."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the record. This field's semantics depend on the chosen tag."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode."
          }
        },
        "ttl": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones."
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemType",
          "traits": {
            "smithy.api#documentation": "Record type."
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid IPv4 address."
          }
        },
        "private_routing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables private network routing to the origin."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required for MX and URI records; ignored for other record types (but may still be returned by the API). Records with lower priorities are preferred. This field is to be deprecated in favor of the priority field within the data map."
          }
        },
        "data": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemData",
          "traits": {
            "smithy.api#documentation": "Components of a CAA record."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#RecordsBatchRequestPostsItem"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemAAAARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemCNAMERecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemMXRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemNSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemType": {
      "type": "enum",
      "members": {
        "OPENPGPKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPENPGPKEY"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemPTRRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemTXTRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemCAARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemCERTRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemDNSKEYRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemDSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemHTTPSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemLOCRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemNAPTRRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemSMIMEARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemSRVRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemSSHFPRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemSVCBRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemTLSARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItemURIRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsItem": {
      "type": "structure",
      "members": {
        "ARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemARecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AAAARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemAAAARecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "CNAMERecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemCNAMERecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "MXRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemMXRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "NSRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemNSRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode."
          }
        },
        "ttl": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones."
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemType",
          "traits": {
            "smithy.api#documentation": "Record type."
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A single Base64-encoded OpenPGP Transferable Public Key (RFC 4880 Section 11.1)"
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        },
        "PTRRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemPTRRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TXTRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemTXTRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "CAARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemCAARecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "CERTRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemCERTRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "DNSKEYRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemDNSKEYRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "DSRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemDSRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "HTTPSRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemHTTPSRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "LOCRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemLOCRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "NAPTRRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemNAPTRRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SMIMEARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemSMIMEARecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SRVRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemSRVRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SSHFPRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemSSHFPRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SVCBRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemSVCBRecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TLSARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemTLSARecord",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "URIRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsItemURIRecord",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPutsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#RecordsBatchRequestPutsItem"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "include_shadow_metadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include shadow metadata in the `meta` field of each record in the response. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records).",
            "smithy.api#httpQuery": "include_shadow_metadata"
          }
        },
        "deletes": {
          "target": "com.cloudflare.dns#RecordsBatchRequestDeletesList"
        },
        "patches": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesList"
        },
        "posts": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsList"
        },
        "puts": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPutsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemARecordMetaShadowedByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemARecordMeta": {
      "type": "structure",
      "members": {
        "dead_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this glue record is not served because a shallower NS delegation takes precedence over the deeper delegation that needs it. Present only when true; reachable glue carries only `is_glue`. See [Unreachable glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#unreachable-glue-records)."
          }
        },
        "is_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this A or AAAA record is glue for a subdomain NS delegation. See [Glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#glue-records)."
          }
        },
        "shadowed_by": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemARecordMetaShadowedByList",
          "traits": {
            "smithy.api#documentation": "IDs of the NS records that shadow this record. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        },
        "shadowed_records_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of records shadowed by this NS delegation. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was created.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemARecordMeta",
          "traits": {
            "smithy.api#documentation": "Extra Cloudflare-specific metadata about the record.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was last modified.",
            "smithy.api#required": {}
          }
        },
        "proxiable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record can be proxied by Cloudflare or not.",
            "smithy.api#required": {}
          }
        },
        "comment_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record comment was last modified. Omitted if there is no comment."
          }
        },
        "tags_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record tags were last modified. Omitted if there are no tags."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemAAAARecordMetaShadowedByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemAAAARecordMeta": {
      "type": "structure",
      "members": {
        "dead_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this glue record is not served because a shallower NS delegation takes precedence over the deeper delegation that needs it. Present only when true; reachable glue carries only `is_glue`. See [Unreachable glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#unreachable-glue-records)."
          }
        },
        "is_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this A or AAAA record is glue for a subdomain NS delegation. See [Glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#glue-records)."
          }
        },
        "shadowed_by": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemAAAARecordMetaShadowedByList",
          "traits": {
            "smithy.api#documentation": "IDs of the NS records that shadow this record. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        },
        "shadowed_records_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of records shadowed by this NS delegation. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemAAAARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was created.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemAAAARecordMeta",
          "traits": {
            "smithy.api#documentation": "Extra Cloudflare-specific metadata about the record.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was last modified.",
            "smithy.api#required": {}
          }
        },
        "proxiable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record can be proxied by Cloudflare or not.",
            "smithy.api#required": {}
          }
        },
        "comment_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record comment was last modified. Omitted if there is no comment."
          }
        },
        "tags_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record tags were last modified. Omitted if there are no tags."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemCNAMERecordMetaShadowedByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemCNAMERecordMeta": {
      "type": "structure",
      "members": {
        "dead_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this glue record is not served because a shallower NS delegation takes precedence over the deeper delegation that needs it. Present only when true; reachable glue carries only `is_glue`. See [Unreachable glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#unreachable-glue-records)."
          }
        },
        "is_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this A or AAAA record is glue for a subdomain NS delegation. See [Glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#glue-records)."
          }
        },
        "shadowed_by": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemCNAMERecordMetaShadowedByList",
          "traits": {
            "smithy.api#documentation": "IDs of the NS records that shadow this record. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        },
        "shadowed_records_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of records shadowed by this NS delegation. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemCNAMERecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was created.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemCNAMERecordMeta",
          "traits": {
            "smithy.api#documentation": "Extra Cloudflare-specific metadata about the record.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was last modified.",
            "smithy.api#required": {}
          }
        },
        "proxiable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record can be proxied by Cloudflare or not.",
            "smithy.api#required": {}
          }
        },
        "comment_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record comment was last modified. Omitted if there is no comment."
          }
        },
        "tags_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record tags were last modified. Omitted if there are no tags."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemMXRecordMetaShadowedByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemMXRecordMeta": {
      "type": "structure",
      "members": {
        "dead_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this glue record is not served because a shallower NS delegation takes precedence over the deeper delegation that needs it. Present only when true; reachable glue carries only `is_glue`. See [Unreachable glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#unreachable-glue-records)."
          }
        },
        "is_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this A or AAAA record is glue for a subdomain NS delegation. See [Glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#glue-records)."
          }
        },
        "shadowed_by": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemMXRecordMetaShadowedByList",
          "traits": {
            "smithy.api#documentation": "IDs of the NS records that shadow this record. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        },
        "shadowed_records_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of records shadowed by this NS delegation. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemMXRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was created.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemMXRecordMeta",
          "traits": {
            "smithy.api#documentation": "Extra Cloudflare-specific metadata about the record.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was last modified.",
            "smithy.api#required": {}
          }
        },
        "proxiable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record can be proxied by Cloudflare or not.",
            "smithy.api#required": {}
          }
        },
        "comment_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record comment was last modified. Omitted if there is no comment."
          }
        },
        "tags_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record tags were last modified. Omitted if there are no tags."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemNSRecordMetaShadowedByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemNSRecordMeta": {
      "type": "structure",
      "members": {
        "dead_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this glue record is not served because a shallower NS delegation takes precedence over the deeper delegation that needs it. Present only when true; reachable glue carries only `is_glue`. See [Unreachable glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#unreachable-glue-records)."
          }
        },
        "is_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this A or AAAA record is glue for a subdomain NS delegation. See [Glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#glue-records)."
          }
        },
        "shadowed_by": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemNSRecordMetaShadowedByList",
          "traits": {
            "smithy.api#documentation": "IDs of the NS records that shadow this record. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        },
        "shadowed_records_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of records shadowed by this NS delegation. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemNSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was created.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemNSRecordMeta",
          "traits": {
            "smithy.api#documentation": "Extra Cloudflare-specific metadata about the record.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was last modified.",
            "smithy.api#required": {}
          }
        },
        "proxiable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record can be proxied by Cloudflare or not.",
            "smithy.api#required": {}
          }
        },
        "comment_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record comment was last modified. Omitted if there is no comment."
          }
        },
        "tags_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record tags were last modified. Omitted if there are no tags."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemMetaShadowedByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemMeta": {
      "type": "structure",
      "members": {
        "dead_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this glue record is not served because a shallower NS delegation takes precedence over the deeper delegation that needs it. Present only when true; reachable glue carries only `is_glue`. See [Unreachable glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#unreachable-glue-records)."
          }
        },
        "is_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this A or AAAA record is glue for a subdomain NS delegation. See [Glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#glue-records)."
          }
        },
        "shadowed_by": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemMetaShadowedByList",
          "traits": {
            "smithy.api#documentation": "IDs of the NS records that shadow this record. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        },
        "shadowed_records_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of records shadowed by this NS delegation. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemTtl": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "_1": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "1"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemType": {
      "type": "enum",
      "members": {
        "OPENPGPKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPENPGPKEY"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemPTRRecordMetaShadowedByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemPTRRecordMeta": {
      "type": "structure",
      "members": {
        "dead_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this glue record is not served because a shallower NS delegation takes precedence over the deeper delegation that needs it. Present only when true; reachable glue carries only `is_glue`. See [Unreachable glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#unreachable-glue-records)."
          }
        },
        "is_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this A or AAAA record is glue for a subdomain NS delegation. See [Glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#glue-records)."
          }
        },
        "shadowed_by": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemPTRRecordMetaShadowedByList",
          "traits": {
            "smithy.api#documentation": "IDs of the NS records that shadow this record. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        },
        "shadowed_records_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of records shadowed by this NS delegation. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemPTRRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was created.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemPTRRecordMeta",
          "traits": {
            "smithy.api#documentation": "Extra Cloudflare-specific metadata about the record.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was last modified.",
            "smithy.api#required": {}
          }
        },
        "proxiable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record can be proxied by Cloudflare or not.",
            "smithy.api#required": {}
          }
        },
        "comment_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record comment was last modified. Omitted if there is no comment."
          }
        },
        "tags_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record tags were last modified. Omitted if there are no tags."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemTXTRecordMetaShadowedByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemTXTRecordMeta": {
      "type": "structure",
      "members": {
        "dead_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this glue record is not served because a shallower NS delegation takes precedence over the deeper delegation that needs it. Present only when true; reachable glue carries only `is_glue`. See [Unreachable glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#unreachable-glue-records)."
          }
        },
        "is_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this A or AAAA record is glue for a subdomain NS delegation. See [Glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#glue-records)."
          }
        },
        "shadowed_by": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemTXTRecordMetaShadowedByList",
          "traits": {
            "smithy.api#documentation": "IDs of the NS records that shadow this record. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        },
        "shadowed_records_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of records shadowed by this NS delegation. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemTXTRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was created.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemTXTRecordMeta",
          "traits": {
            "smithy.api#documentation": "Extra Cloudflare-specific metadata about the record.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was last modified.",
            "smithy.api#required": {}
          }
        },
        "proxiable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record can be proxied by Cloudflare or not.",
            "smithy.api#required": {}
          }
        },
        "comment_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record comment was last modified. Omitted if there is no comment."
          }
        },
        "tags_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record tags were last modified. Omitted if there are no tags."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemCAARecordMetaShadowedByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemCAARecordMeta": {
      "type": "structure",
      "members": {
        "dead_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this glue record is not served because a shallower NS delegation takes precedence over the deeper delegation that needs it. Present only when true; reachable glue carries only `is_glue`. See [Unreachable glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#unreachable-glue-records)."
          }
        },
        "is_glue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this A or AAAA record is glue for a subdomain NS delegation. See [Glue records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records#glue-records)."
          }
        },
        "shadowed_by": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemCAARecordMetaShadowedByList",
          "traits": {
            "smithy.api#documentation": "IDs of the NS records that shadow this record. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        },
        "shadowed_records_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of records shadowed by this NS delegation. See [Shadowed records](https://developers.cloudflare.com/dns/manage-dns-records/reference/shadowed-records)."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemCAARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was created.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.dns#RecordsBatchResponseDeletesItemCAARecordMeta",
          "traits": {
            "smithy.api#documentation": "Extra Cloudflare-specific metadata about the record.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was last modified.",
            "smithy.api#required": {}
          }
        },
        "proxiable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record can be proxied by Cloudflare or not.",
            "smithy.api#required": {}
          }
        },
        "comment_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record comment was last modified. Omitted if there is no comment."
          }
        },
        "tags_modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record tags were last modified. Omitted if there are no tags."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchResponseDeletesItemCERTRecordMetaShadowedByList": {
      "type": "list",
[...]
