{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.email_security#InvestigateGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "investigate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a message retrieved from investigation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseDeprecatedActionLogItemProperties": {
      "type": "structure",
      "members": {
        "folder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target folder for move operations."
          }
        },
        "requested_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User who requested the action."
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseDeprecatedActionLogItem": {
      "type": "structure",
      "members": {
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when action completed.",
            "smithy.api#required": {}
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of action performed.",
            "smithy.api#required": {}
          }
        },
        "Deprecated_completed_timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated, use completed_at instead. End of life: November 1, 2026.",
            "smithy.api#jsonName": "Deprecated completed_timestamp"
          }
        },
        "properties": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseDeprecatedActionLogItemProperties",
          "traits": {
            "smithy.api#documentation": "Additional properties for the action."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the action."
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseDeprecatedActionLogList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateGetResponseDeprecatedActionLogItem"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseClientRecipientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseDetectionReasonsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseProperties": {
      "type": "structure",
      "members": {
        "allowlisted_pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern that allowlisted this message."
          }
        },
        "allowlisted_pattern_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of allowlist pattern."
          }
        },
        "blocklisted_message": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether message was blocklisted."
          }
        },
        "blocklisted_pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern that blocklisted this message."
          }
        },
        "whitelisted_pattern_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legacy field for allowlist pattern type."
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseDeliveryStatusList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseEnvelopeToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseDeprecatedFindingsItem": {
      "type": "structure",
      "members": {
        "attachment": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        },
        "detection": {
          "target": "smithy.api#String"
        },
        "field": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "portion": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "smithy.api#String"
        },
        "score": {
          "target": "smithy.api#Double"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseDeprecatedFindingsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateGetResponseDeprecatedFindingsItem"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponsePostDeliveryOperationsItem": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "QUARANTINE_RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASE"
          }
        },
        "SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBMISSION"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponsePostDeliveryOperationsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateGetResponsePostDeliveryOperationsItem"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseThreatCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseToNameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseValidation": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String"
        },
        "dkim": {
          "target": "smithy.api#String"
        },
        "dmarc": {
          "target": "smithy.api#String"
        },
        "spf": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a message retrieved from investigation.",
            "smithy.api#required": {}
          }
        },
        "Deprecated_action_log": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseDeprecatedActionLogList",
          "traits": {
            "smithy.api#documentation": "Deprecated, use GET /investigate/{investigate_id}/action_log instead. End of life: November 1, 2026.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "Deprecated action_log"
          }
        },
        "client_recipients": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseClientRecipientsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "detection_reasons": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseDetectionReasonsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_phish_submission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_quarantined": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "postfix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the message.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseProperties",
          "traits": {
            "smithy.api#documentation": "Message processing properties.",
            "smithy.api#required": {}
          }
        },
        "Deprecated_ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated, use scanned_at instead. End of life: November 1, 2026.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "Deprecated ts"
          }
        },
        "alert_id": {
          "target": "smithy.api#String"
        },
        "delivery_mode": {
          "target": "smithy.api#String"
        },
        "delivery_status": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseDeliveryStatusList"
        },
        "edf_hash": {
          "target": "smithy.api#String"
        },
        "envelope_from": {
          "target": "smithy.api#String"
        },
        "envelope_to": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseEnvelopeToList"
        },
        "final_disposition": {
          "target": "smithy.api#String"
        },
        "Deprecated_findings": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseDeprecatedFindingsList",
          "traits": {
            "smithy.api#documentation": "Deprecated, use the findings field from GET /investigate/{investigate_id}/detections instead. End of life: November 1, 2026. Detection findings for this message.",
            "smithy.api#jsonName": "Deprecated findings"
          }
        },
        "from": {
          "target": "smithy.api#String"
        },
        "from_name": {
          "target": "smithy.api#String"
        },
        "htmltext_structure_hash": {
          "target": "smithy.api#String"
        },
        "message_id": {
          "target": "smithy.api#String"
        },
        "post_delivery_operations": {
          "target": "com.cloudflare.email_security#InvestigateGetResponsePostDeliveryOperationsList",
          "traits": {
            "smithy.api#documentation": "Post-delivery operations performed on this message."
          }
        },
        "postfix_id_outbound": {
          "target": "smithy.api#String"
        },
        "replyto": {
          "target": "smithy.api#String"
        },
        "scanned_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the message was scanned (UTC)."
          }
        },
        "sent_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the message was sent (UTC)."
          }
        },
        "sent_date": {
          "target": "smithy.api#String"
        },
        "smtp_helo_server_ip": {
          "target": "smithy.api#String"
        },
        "smtp_previous_hop_ip": {
          "target": "smithy.api#String"
        },
        "subject": {
          "target": "smithy.api#String"
        },
        "threat_categories": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseThreatCategoriesList"
        },
        "to": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseToList"
        },
        "to_name": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseToNameList"
        },
        "validation": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseValidation"
        },
        "x_originating_ip": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_security#InvestigateGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_security#InvestigateGetRequest"
      },
      "output": {
        "target": "com.cloudflare.email_security#InvestigateGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/email-security/investigate/{investigate_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves comprehensive details for a specific email message including headers, recipients, sender information, and current quarantine status. Use the investigate_id from search results to fetch detailed information.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.email_security#InvestigateListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemDeprecatedActionLogItemProperties": {
      "type": "structure",
      "members": {
        "folder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target folder for move operations."
          }
        },
        "requested_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User who requested the action."
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemDeprecatedActionLogItem": {
      "type": "structure",
      "members": {
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when action completed.",
            "smithy.api#required": {}
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of action performed.",
            "smithy.api#required": {}
          }
        },
        "Deprecated_completed_timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated, use completed_at instead. End of life: November 1, 2026.",
            "smithy.api#jsonName": "Deprecated completed_timestamp"
          }
        },
        "properties": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemDeprecatedActionLogItemProperties",
          "traits": {
            "smithy.api#documentation": "Additional properties for the action."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the action."
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemDeprecatedActionLogList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateListResultItemDeprecatedActionLogItem"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemClientRecipientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemDetectionReasonsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemProperties": {
      "type": "structure",
      "members": {
        "allowlisted_pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern that allowlisted this message."
          }
        },
        "allowlisted_pattern_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of allowlist pattern."
          }
        },
        "blocklisted_message": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether message was blocklisted."
          }
        },
        "blocklisted_pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern that blocklisted this message."
          }
        },
        "whitelisted_pattern_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legacy field for allowlist pattern type."
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemDeliveryStatusList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemEnvelopeToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemDeprecatedFindingsItem": {
      "type": "structure",
      "members": {
        "attachment": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        },
        "detection": {
          "target": "smithy.api#String"
        },
        "field": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "portion": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "smithy.api#String"
        },
        "score": {
          "target": "smithy.api#Double"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemDeprecatedFindingsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateListResultItemDeprecatedFindingsItem"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemPostDeliveryOperationsItem": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "QUARANTINE_RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASE"
          }
        },
        "SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBMISSION"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemPostDeliveryOperationsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateListResultItemPostDeliveryOperationsItem"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemThreatCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemToNameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemValidation": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String"
        },
        "dkim": {
          "target": "smithy.api#String"
        },
        "dmarc": {
          "target": "smithy.api#String"
        },
        "spf": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a message retrieved from investigation.",
            "smithy.api#required": {}
          }
        },
        "Deprecated_action_log": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemDeprecatedActionLogList",
          "traits": {
            "smithy.api#documentation": "Deprecated, use GET /investigate/{investigate_id}/action_log instead. End of life: November 1, 2026.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "Deprecated action_log"
          }
        },
        "client_recipients": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemClientRecipientsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "detection_reasons": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemDetectionReasonsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_phish_submission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_quarantined": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "postfix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the message.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemProperties",
          "traits": {
            "smithy.api#documentation": "Message processing properties.",
            "smithy.api#required": {}
          }
        },
        "Deprecated_ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated, use scanned_at instead. End of life: November 1, 2026.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "Deprecated ts"
          }
        },
        "alert_id": {
          "target": "smithy.api#String"
        },
        "delivery_mode": {
          "target": "smithy.api#String"
        },
        "delivery_status": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemDeliveryStatusList"
        },
        "edf_hash": {
          "target": "smithy.api#String"
        },
        "envelope_from": {
          "target": "smithy.api#String"
        },
        "envelope_to": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemEnvelopeToList"
        },
        "final_disposition": {
          "target": "smithy.api#String"
        },
        "Deprecated_findings": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemDeprecatedFindingsList",
          "traits": {
            "smithy.api#documentation": "Deprecated, use the findings field from GET /investigate/{investigate_id}/detections instead. End of life: November 1, 2026. Detection findings for this message.",
            "smithy.api#jsonName": "Deprecated findings"
          }
        },
        "from": {
          "target": "smithy.api#String"
        },
        "from_name": {
          "target": "smithy.api#String"
        },
        "htmltext_structure_hash": {
          "target": "smithy.api#String"
        },
        "message_id": {
          "target": "smithy.api#String"
        },
        "post_delivery_operations": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemPostDeliveryOperationsList",
          "traits": {
            "smithy.api#documentation": "Post-delivery operations performed on this message."
          }
        },
        "postfix_id_outbound": {
          "target": "smithy.api#String"
        },
        "replyto": {
          "target": "smithy.api#String"
        },
        "scanned_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the message was scanned (UTC)."
          }
        },
        "sent_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the message was sent (UTC)."
          }
        },
        "sent_date": {
          "target": "smithy.api#String"
        },
        "smtp_helo_server_ip": {
          "target": "smithy.api#String"
        },
        "smtp_previous_hop_ip": {
          "target": "smithy.api#String"
        },
        "subject": {
          "target": "smithy.api#String"
        },
        "threat_categories": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemThreatCategoriesList"
        },
        "to": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemToList"
        },
        "to_name": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemToNameList"
        },
        "validation": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemValidation"
        },
        "x_originating_ip": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateListResultItem"
      }
    },
    "com.cloudflare.email_security#InvestigateListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.email_security#InvestigateListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.email_security#InvestigateList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_security#InvestigateListRequest"
      },
      "output": {
        "target": "com.cloudflare.email_security#InvestigateListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/email-security/investigate",
          "code": 200
        },
        "smithy.api#documentation": "Returns information for each email that matches the search parameter(s).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseActionType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseSearchParamsMessageAction": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "QUARANTINE_RELEASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASED"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseSearchParams": {
      "type": "structure",
      "members": {
        "Deprecated_action_log": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated, use GET /investigate/{investigate_id}/action_log instead. End of life: November 1, 2026.",
            "smithy.api#jsonName": "Deprecated action_log"
          }
        },
        "alert_id": {
          "target": "smithy.api#String"
        },
        "delivery_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Delivery status of the message."
          }
        },
        "detections_only": {
          "target": "smithy.api#Boolean"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of search date range."
          }
        },
        "exact_subject": {
          "target": "smithy.api#String"
        },
        "final_disposition": {
          "target": "smithy.api#String"
        },
        "message_action": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseSearchParamsMessageAction"
        },
        "message_id": {
          "target": "smithy.api#String"
        },
        "metric": {
          "target": "smithy.api#String"
        },
        "query": {
          "target": "smithy.api#String"
        },
        "recipient": {
          "target": "smithy.api#String"
        },
        "sender": {
          "target": "smithy.api#String"
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Beginning of search date range."
          }
        },
        "subject": {
          "target": "smithy.api#String"
        },
        "submissions": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponse": {
      "type": "structure",
      "members": {
        "action_params": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action_type": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseActionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "messages_failed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "messages_pending": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "messages_successful": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "search_params": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseSearchParams",
          "traits": {
            "smithy.api#documentation": "Deprecated, use GET /investigate/{investigate_id}/action_log instead. End of life: November 1, 2026.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_messages_discovered": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String"
        },
        "completed_at": {
          "target": "smithy.api#String"
        },
        "started_at": {
          "target": "smithy.api#String"
        },
        "status_message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_security#InvestigateBulkCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.email_security#InvestigateBulkCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/email-security/investigate/bulk",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new bulk action job to move or release messages that match the provided search parameters."
      }
    },
    "com.cloudflare.email_security#InvestigateBulkDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_security#InvestigateBulkDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_security#InvestigateBulkDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.email_security#InvestigateBulkDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/email-security/investigate/bulk/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes the job, removing it from all list and detail endpoints. Only jobs in a terminal state (`COMPLETED`, `CANCELLED`, `FAILED`, or `SKIPPED`) can be deleted. To stop an in-progress job without removing it, use the cancel endpoint instead.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseDestination": {
      "type": "enum",
      "members": {
        "INBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inbox"
          }
        },
        "JUNKEMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JunkEmail"
          }
        },
        "DELETEDITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeletedItems"
          }
        },
        "RECOVERABLEITEMSDELETIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsDeletions"
          }
        },
        "RECOVERABLEITEMSPURGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsPurges"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseExpectedDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseType2": {
      "type": "enum",
      "members": {
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseActionType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsDeliveryStatus": {
      "type": "enum",
      "members": {
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivered"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        },
        "QUARANTINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantined"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deferred"
          }
        },
        "BOUNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bounced"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "MOVE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "move_failed"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsFinalDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsMessageAction": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "QUARANTINE_RELEASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASED"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "DISCOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParams": {
      "type": "structure",
      "members": {
        "Deprecatedaction_log": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use GET /investigate/{investigate_id}/action_log instead."
          }
        },
        "alert_id": {
          "target": "smithy.api#String"
        },
        "delivery_status": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsDeliveryStatus",
          "traits": {
            "smithy.api#documentation": "Delivery status of the message."
          }
        },
        "detections_only": {
          "target": "smithy.api#Boolean"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of search date range."
          }
        },
        "exact_subject": {
          "target": "smithy.api#String"
        },
        "final_disposition": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsFinalDisposition"
        },
        "message_action": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsMessageAction"
        },
        "message_id": {
          "target": "smithy.api#String"
        },
        "metric": {
          "target": "smithy.api#String"
        },
        "query": {
          "target": "smithy.api#String"
        },
        "recipient": {
          "target": "smithy.api#String"
        },
        "sender": {
          "target": "smithy.api#String"
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Beginning of search date range."
          }
        },
        "subject": {
          "target": "smithy.api#String"
        },
        "submissions": {
          "target": "smithy.api#Boolean"
        },
        "status": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_messages_discovered": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String"
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "status_message": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponse": {
      "type": "structure",
      "members": {
        "action_params": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Move object { destination, type, expected_disposition }",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expected_disposition": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseExpectedDisposition",
          "traits": {
            "smithy.api#documentation": "Release object { type }"
          }
        },
        "type_2": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseType2",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "action_type": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseActionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        },
        "messages_failed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "messages_pending": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "messages_successful": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "search_params": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParams",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_security#InvestigateBulkGetRequest"
      },
      "output": {
        "target": "com.cloudflare.email_security#InvestigateBulkGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/email-security/investigate/bulk/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the status and details of a specific bulk action job.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListRequestActionType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListRequestStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "DISCOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "action_type": {
          "target": "com.cloudflare.email_security#InvestigateBulkListRequestActionType",
          "traits": {
            "smithy.api#httpQuery": "action_type"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current page within paginated list of results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of results per page. Maximum value is 1000.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "status": {
          "target": "com.cloudflare.email_security#InvestigateBulkListRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListResultItemDestination": {
      "type": "enum",
      "members": {
        "INBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inbox"
          }
        },
        "JUNKEMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JunkEmail"
          }
        },
        "DELETEDITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeletedItems"
          }
        },
        "RECOVERABLEITEMSDELETIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsDeletions"
          }
        },
        "RECOVERABLEITEMSPURGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsPurges"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListResultItemType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListResultItemExpectedDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListResultItemType2": {
      "type": "enum",
      "members": {
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListResultItemActionType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListResultItemSearchParamsDeliveryStatus": {
      "type": "enum",
      "members": {
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivered"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        },
        "QUARANTINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantined"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deferred"
          }
        },
        "BOUNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bounced"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "MOVE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "move_failed"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListResultItemSearchParamsFinalDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListResultItemSearchParamsMessageAction": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "QUARANTINE_RELEASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASED"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListResultItemSearchParamsStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "DISCOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListResultItemSearchParams": {
      "type": "structure",
      "members": {
        "Deprecatedaction_log": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use GET /investigate/{investigate_id}/action_log instead."
          }
        },
        "alert_id": {
          "target": "smithy.api#String"
        },
        "delivery_status": {
          "target": "com.cloudflare.email_security#InvestigateBulkListResultItemSearchParamsDeliveryStatus",
          "traits": {
            "smithy.api#documentation": "Delivery status of the message."
          }
        },
        "detections_only": {
          "target": "smithy.api#Boolean"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of search date range."
          }
        },
        "exact_subject": {
          "target": "smithy.api#String"
        },
        "final_disposition": {
          "target": "com.cloudflare.email_security#InvestigateBulkListResultItemSearchParamsFinalDisposition"
        },
        "message_action": {
          "target": "com.cloudflare.email_security#InvestigateBulkListResultItemSearchParamsMessageAction"
        },
        "message_id": {
          "target": "smithy.api#String"
        },
        "metric": {
          "target": "smithy.api#String"
        },
        "query": {
          "target": "smithy.api#String"
        },
        "recipient": {
          "target": "smithy.api#String"
        },
        "sender": {
          "target": "smithy.api#String"
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Beginning of search date range."
          }
        },
        "subject": {
          "target": "smithy.api#String"
        },
        "submissions": {
          "target": "smithy.api#Boolean"
        },
        "status": {
          "target": "com.cloudflare.email_security#InvestigateBulkListResultItemSearchParamsStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_messages_discovered": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String"
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "status_message": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListResultItem": {
      "type": "structure",
      "members": {
        "action_params": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Move object { destination, type, expected_disposition }",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.email_security#InvestigateBulkListResultItemDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.email_security#InvestigateBulkListResultItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expected_disposition": {
          "target": "com.cloudflare.email_security#InvestigateBulkListResultItemExpectedDisposition",
          "traits": {
            "smithy.api#documentation": "Release object { type }"
          }
        },
        "type_2": {
          "target": "com.cloudflare.email_security#InvestigateBulkListResultItemType2",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "action_type": {
          "target": "com.cloudflare.email_security#InvestigateBulkListResultItemActionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        },
        "messages_failed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "messages_pending": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "messages_successful": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "search_params": {
          "target": "com.cloudflare.email_security#InvestigateBulkListResultItemSearchParams",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateBulkListResultItem"
      }
    },
    "com.cloudflare.email_security#InvestigateBulkListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.email_security#InvestigateBulkListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_security#InvestigateBulkListRequest"
      },
      "output": {
        "target": "com.cloudflare.email_security#InvestigateBulkListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/email-security/investigate/bulk",
          "code": 200
        },
        "smithy.api#documentation": "Returns a paginated list of bulk action jobs for the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCancelCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseDestination": {
      "type": "enum",
      "members": {
        "INBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inbox"
          }
        },
        "JUNKEMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JunkEmail"
          }
        },
        "DELETEDITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeletedItems"
          }
        },
        "RECOVERABLEITEMSDELETIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsDeletions"
          }
        },
        "RECOVERABLEITEMSPURGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsPurges"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseExpectedDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseType2": {
      "type": "enum",
      "members": {
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseActionType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseSearchParamsDeliveryStatus": {
      "type": "enum",
      "members": {
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivered"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        },
        "QUARANTINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantined"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deferred"
          }
        },
        "BOUNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bounced"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "MOVE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "move_failed"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseSearchParamsFinalDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseSearchParamsMessageAction": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "QUARANTINE_RELEASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASED"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseSearchParamsStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "DISCOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseSearchParams": {
      "type": "structure",
      "members": {
        "Deprecatedaction_log": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use GET /investigate/{investigate_id}/action_log instead."
          }
        },
        "alert_id": {
          "target": "smithy.api#String"
        },
        "delivery_status": {
          "target": "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseSearchParamsDeliveryStatus",
          "traits": {
            "smithy.api#documentation": "Delivery status of the message."
          }
        },
        "detections_only": {
          "target": "smithy.api#Boolean"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of search date range."
          }
        },
        "exact_subject": {
          "target": "smithy.api#String"
        },
        "final_disposition": {
          "target": "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseSearchParamsFinalDisposition"
        },
        "message_action": {
          "target": "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseSearchParamsMessageAction"
        },
        "message_id": {
          "target": "smithy.api#String"
        },
        "metric": {
          "target": "smithy.api#String"
        },
        "query": {
          "target": "smithy.api#String"
        },
        "recipient": {
          "target": "smithy.api#String"
        },
        "sender": {
          "target": "smithy.api#String"
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Beginning of search date range."
          }
        },
        "subject": {
          "target": "smithy.api#String"
        },
        "submissions": {
          "target": "smithy.api#Boolean"
        },
        "status": {
          "target": "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseSearchParamsStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_messages_discovered": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String"
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "status_message": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCancelCreateResponse": {
      "type": "structure",
      "members": {
        "action_params": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Move object { destination, type, expected_disposition }",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expected_disposition": {
          "target": "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseExpectedDisposition",
          "traits": {
            "smithy.api#documentation": "Release object { type }"
          }
        },
        "type_2": {
          "target": "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseType2",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "action_type": {
          "target": "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseActionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        },
        "messages_failed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "messages_pending": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "messages_successful": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "search_params": {
          "target": "com.cloudflare.email_security#InvestigateBulkCancelCreateResponseSearchParams",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCancelCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_security#InvestigateBulkCancelCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.email_security#InvestigateBulkCancelCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/email-security/investigate/bulk/{job_id}/cancel",
          "code": 200
        },
        "smithy.api#documentation": "Cancels the job, marking it as cancelled and stopping any pending message processing. The job record remains visible in list and detail endpoints."
      }
    },
    "com.cloudflare.email_security#InvestigateBulkMessagesListRequestStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "DISCOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkMessagesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current page within paginated list of results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of results per page. Maximum value is 1000.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "status": {
          "target": "com.cloudflare.email_security#InvestigateBulkMessagesListRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemActionParams": {
      "type": "structure",
      "members": {
        "client_recipient": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemDestination": {
      "type": "enum",
      "members": {
        "INBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inbox"
          }
        },
        "JUNKEMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JunkEmail"
          }
        },
        "DELETEDITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeletedItems"
          }
        },
        "RECOVERABLEITEMSDELETIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsDeletions"
          }
        },
        "RECOVERABLEITEMSPURGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsPurges"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemExpectedDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemType2": {
      "type": "enum",
      "members": {
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemActionType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "DISCOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkMessagesListResultItem": {
      "type": "structure",
      "members": {
        "action_params": {
          "target": "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemActionParams",
          "traits": {
            "smithy.api#documentation": "Move object { client_recipient, destination, type, expected_disposition }",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expected_disposition": {
          "target": "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemExpectedDisposition",
          "traits": {
            "smithy.api#documentation": "Release object { client_recipient, type }"
          }
        },
        "client_recipient": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type_2": {
          "target": "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemType2",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "action_type": {
          "target": "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemActionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "message_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#required": {}
          }
        },
        "postfix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retry_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.email_security#InvestigateBulkMessagesListResultItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alert_id": {
          "target": "smithy.api#String"
        },
        "email_message_id": {
          "target": "smithy.api#String"
        },
        "processed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "retry_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to retry the action if it failed."
          }
        },
        "status_message": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkMessagesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateBulkMessagesListResultItem"
      }
    },
    "com.cloudflare.email_security#InvestigateBulkMessagesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.email_security#InvestigateBulkMessagesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkMessagesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_security#InvestigateBulkMessagesListRequest"
      },
      "output": {
        "target": "com.cloudflare.email_security#InvestigateBulkMessagesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/email-security/investigate/bulk/{job_id}/messages",
          "code": 200
        },
        "smithy.api#documentation": "Returns the individual messages associated with a bulk action job, including their processing status.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.email_security#InvestigateDetectionsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "investigate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a message retrieved from investigation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateDetectionsGetResponseAttachmentsItemDetection": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
[...]
