{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.email_auth#DmarcReportsEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable or disable DMARC reports for this zone"
          }
        },
        "skip_wizard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Skip the DMARC setup wizard"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemDeprecatedresolvedDmarcRecordsItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record value. The API joins all character-strings into a single string."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name the API queried."
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemDeprecatedresolvedDmarcRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemDeprecatedresolvedDmarcRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsItemStatus": {
      "type": "enum",
      "members": {
        "MISSING_DMARC_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing-dmarc-report"
          }
        },
        "MULTIPLE_DMARC_REPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple-dmarc-reports"
          }
        },
        "MISSING_DMARC_RUA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing-dmarc-rua"
          }
        },
        "CNAME_ON_DMARC_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cname-on-dmarc-record"
          }
        },
        "UNAUTHORIZED_REPORTING_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthorized-reporting-domain"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "rua_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix for DMARC RUA addresses (32-char hex string)"
          }
        },
        "skip_wizard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to skip the setup wizard"
          }
        },
        "status": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsItemStatus",
          "traits": {
            "smithy.api#documentation": "DMARC configuration status. The API omits this field when DMARC is correctly configured. If the zone lacks a DMARC TXT record of its own, the API resolves _dmarc.{zone} recursively and evaluates whatever that lookup returns. A CNAME at _dmarc.{zone} that points to a valid DMARC record is therefore healthy; the cname-on-dmarc-record value means the CNAME resolves to no DMARC record at all."
          }
        },
        "Deprecatedtag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `zone_id` instead."
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone identifier"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "Deprecatedresolved_dmarc_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemDeprecatedresolvedDmarcRecordsList",
          "traits": {
            "smithy.api#documentation": "Use the `resolved` field on the corresponding entry in cname_dmarc_records instead."
          }
        },
        "spf_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsList",
          "traits": {
            "smithy.api#documentation": "SPF TXT records"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "dmarc_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsList",
          "traits": {
            "smithy.api#documentation": "DMARC TXT records"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "dkim_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsList",
          "traits": {
            "smithy.api#documentation": "DKIM TXT records"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "cname_spf_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsList",
          "traits": {
            "smithy.api#documentation": "CNAME records at the zone apex. When such a CNAME resolves to an SPF TXT record, the API returns that record’s content in the `resolved` field of the corresponding entry."
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "cname_dmarc_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsList",
          "traits": {
            "smithy.api#documentation": "CNAME records at _dmarc. When such a CNAME resolves to a DMARC TXT record, the API returns that record’s content in the `resolved` field of the corresponding entry."
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "cname_dkim_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsList",
          "traits": {
            "smithy.api#documentation": "CNAME records for DKIM selectors. Each selector is resolved independently; when a selector’s CNAME resolves to a DKIM TXT record, the API returns that record’s content in the `resolved` field of the corresponding entry."
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecords": {
      "type": "structure",
      "members": {
        "bimi_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecordsBimiRecordsList",
          "traits": {
            "smithy.api#documentation": "BIMI TXT records"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItem": {
      "type": "structure",
      "members": {
        "Deprecatedcreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `created_at` instead."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source domain"
          }
        },
        "ips": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemIpsList",
          "traits": {
            "smithy.api#documentation": "Resolved IP addresses from SPF"
          }
        },
        "Deprecatedmodified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `modified_at` instead."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification timestamp"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source name (typically same as domain)"
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly identifier"
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source UUID"
          }
        },
        "Deprecatedcreated_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `created_at` instead.",
            "smithy.api#jsonName": "Deprecatedcreated"
          }
        },
        "created_at_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp",
            "smithy.api#jsonName": "created_at"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether DMARC reports are enabled"
          }
        },
        "Deprecatedmodified_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `modified_at` instead.",
            "smithy.api#jsonName": "Deprecatedmodified"
          }
        },
        "modified_at_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification timestamp",
            "smithy.api#jsonName": "modified_at"
          }
        },
        "records": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItemRecords",
          "traits": {
            "smithy.api#documentation": "Live DNS records for the zone, grouped by type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEditResponse": {
      "type": "structure",
      "members": {
        "approved_sources": {
          "target": "com.cloudflare.email_auth#DmarcReportsEditResponseApprovedSourcesList",
          "traits": {
            "smithy.api#documentation": "List of approved sending sources (omitted when empty)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_auth#DmarcReportsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.email_auth#DmarcReportsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/email/auth/dmarc-reports",
          "code": 200
        },
        "smithy.api#documentation": "Updates the DMARC report configuration for a zone. At least one of `enabled` or `skip_wizard` must be provided. When enabling, the handler will ensure the DMARC RUA record exists in DNS."
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemDeprecatedresolvedDmarcRecordsItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record value. The API joins all character-strings into a single string."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name the API queried."
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemDeprecatedresolvedDmarcRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemDeprecatedresolvedDmarcRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsItemResolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsItemStatus": {
      "type": "enum",
      "members": {
        "MISSING_DMARC_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing-dmarc-report"
          }
        },
        "MULTIPLE_DMARC_REPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple-dmarc-reports"
          }
        },
        "MISSING_DMARC_RUA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "missing-dmarc-rua"
          }
        },
        "CNAME_ON_DMARC_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cname-on-dmarc-record"
          }
        },
        "UNAUTHORIZED_REPORTING_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthorized-reporting-domain"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "rua_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix for DMARC RUA addresses (32-char hex string)"
          }
        },
        "skip_wizard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to skip the setup wizard"
          }
        },
        "status": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsItemStatus",
          "traits": {
            "smithy.api#documentation": "DMARC configuration status. The API omits this field when DMARC is correctly configured. If the zone lacks a DMARC TXT record of its own, the API resolves _dmarc.{zone} recursively and evaluates whatever that lookup returns. A CNAME at _dmarc.{zone} that points to a valid DMARC record is therefore healthy; the cname-on-dmarc-record value means the CNAME resolves to no DMARC record at all."
          }
        },
        "Deprecatedtag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `zone_id` instead."
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone identifier"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "Deprecatedresolved_dmarc_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemDeprecatedresolvedDmarcRecordsList",
          "traits": {
            "smithy.api#documentation": "Use the `resolved` field on the corresponding entry in cname_dmarc_records instead."
          }
        },
        "spf_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItemSpfRecordsList",
          "traits": {
            "smithy.api#documentation": "SPF TXT records"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "dmarc_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItemDmarcRecordsList",
          "traits": {
            "smithy.api#documentation": "DMARC TXT records"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "dkim_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItemDkimRecordsList",
          "traits": {
            "smithy.api#documentation": "DKIM TXT records"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "cname_spf_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItemCnameSpfRecordsList",
          "traits": {
            "smithy.api#documentation": "CNAME records at the zone apex. When such a CNAME resolves to an SPF TXT record, the API returns that record’s content in the `resolved` field of the corresponding entry."
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "cname_dmarc_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItemCnameDmarcRecordsList",
          "traits": {
            "smithy.api#documentation": "CNAME records at _dmarc. When such a CNAME resolves to a DMARC TXT record, the API returns that record’s content in the `resolved` field of the corresponding entry."
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record content"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record name"
          }
        },
        "resolved": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemResolvedList",
          "traits": {
            "smithy.api#documentation": "For a CNAME record, the TXT content(s) found by following the CNAME chain to its target. An empty array means the chain was resolved but nothing usable was found there; omitted/null means resolution was not attempted for this record (always the case for non-CNAME entries). A CNAME chain that terminates in more than one TXT value at the target yields multiple entries. Populated on entries in cname_dmarc_records, cname_spf_records, and cname_dkim_records."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live in seconds"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Record type"
          }
        },
        "cname_dkim_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItemCnameDkimRecordsList",
          "traits": {
            "smithy.api#documentation": "CNAME records for DKIM selectors. Each selector is resolved independently; when a selector’s CNAME resolves to a DKIM TXT record, the API returns that record’s content in the `resolved` field of the corresponding entry."
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecords": {
      "type": "structure",
      "members": {
        "bimi_records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecordsBimiRecordsList",
          "traits": {
            "smithy.api#documentation": "BIMI TXT records"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItem": {
      "type": "structure",
      "members": {
        "Deprecatedcreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `created_at` instead."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source domain"
          }
        },
        "ips": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemIpsList",
          "traits": {
            "smithy.api#documentation": "Resolved IP addresses from SPF"
          }
        },
        "Deprecatedmodified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `modified_at` instead."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification timestamp"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source name (typically same as domain)"
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly identifier"
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source UUID"
          }
        },
        "Deprecatedcreated_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `created_at` instead.",
            "smithy.api#jsonName": "Deprecatedcreated"
          }
        },
        "created_at_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp",
            "smithy.api#jsonName": "created_at"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether DMARC reports are enabled"
          }
        },
        "Deprecatedmodified_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use `modified_at` instead.",
            "smithy.api#jsonName": "Deprecatedmodified"
          }
        },
        "modified_at_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification timestamp",
            "smithy.api#jsonName": "modified_at"
          }
        },
        "records": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItemRecords",
          "traits": {
            "smithy.api#documentation": "Live DNS records for the zone, grouped by type"
          }
        }
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesItem"
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGetResponse": {
      "type": "structure",
      "members": {
        "approved_sources": {
          "target": "com.cloudflare.email_auth#DmarcReportsGetResponseApprovedSourcesList",
          "traits": {
            "smithy.api#documentation": "List of approved sending sources (omitted when empty)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_auth#DmarcReportsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.email_auth#DmarcReportsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/email/auth/dmarc-reports",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves the current DMARC report configuration and status for a zone. Returns the RUA prefix, enabled status, approved sources, and DNS records.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.email_auth#SpfInspectGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS record ID (rec_tag) to inspect",
            "smithy.api#httpQuery": "id",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_auth#SpfInspectGetResponseComponentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.email_auth#SpfInspectGetResponse": {
      "type": "structure",
      "members": {
        "components": {
          "target": "com.cloudflare.email_auth#SpfInspectGetResponseComponentsList",
          "traits": {
            "smithy.api#documentation": "Parsed SPF components (mechanisms)",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain being inspected",
            "smithy.api#required": {}
          }
        },
        "record": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw SPF record content",
            "smithy.api#required": {}
          }
        },
        "total_lookups": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of DNS lookups performed across all includes",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_auth#SpfInspectGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_auth#SpfInspectGetRequest"
      },
      "output": {
        "target": "com.cloudflare.email_auth#SpfInspectGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/email/auth/spf/inspect",
          "code": 200
        },
        "smithy.api#documentation": "Inspects a specific SPF TXT record and returns a parsed tree structure in the spflimit-worker format. The record ID must be provided via the `id` query parameter. Returns a recursive tree showing: * Parsed components with their qualifiers and types * Nested includes recursively resolved within components * Per-component and total lookup counts * Detailed error information with context",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.email_auth#EmailAuth": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.email_auth#DmarcReportsEdit"
        },
        {
          "target": "com.cloudflare.email_auth#DmarcReportsGet"
        },
        {
          "target": "com.cloudflare.email_auth#SpfInspectGet"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare EmailAuth",
        "smithy.api#documentation": "Cloudflare API — email_auth resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
