{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "allowedModes": "allowed_modes",
      "contentType": "content_type",
      "createdOn": "created_on",
      "defaultMode": "default_mode",
      "documentationUrl": "documentation_url",
      "modifiedOn": "modified_on",
      "modifiedRulesCount": "modified_rules_count",
      "packageId": "package_id",
      "perPage": "per_page",
      "resultInfo": "result_info",
      "rewriteAction": "rewrite_action",
      "rulesCount": "rules_count",
      "totalCount": "total_count"
    }
  },
  "shapes": {
    "com.cloudflare.firewall#LockdownsCreateRequestConfigurationsLockdownIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateRequestConfigurationsLockdownIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsCreateRequestConfigurationsLockdownIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateRequestConfigurationsLockdownCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateRequestConfigurationsLockdownCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsCreateRequestConfigurationsLockdownCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24`."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateRequestConfigurations": {
      "type": "union",
      "members": {
        "LockdownIPConfiguration": {
          "target": "com.cloudflare.firewall#LockdownsCreateRequestConfigurationsLockdownIPConfiguration"
        },
        "LockdownCIDRConfiguration": {
          "target": "com.cloudflare.firewall#LockdownsCreateRequestConfigurationsLockdownCIDRConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateRequestUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.firewall#LockdownsCreateResponseConfigurationsLockdownIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateResponseConfigurationsLockdownIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsCreateResponseConfigurationsLockdownIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateResponseConfigurationsLockdownCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateResponseConfigurationsLockdownCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsCreateResponseConfigurationsLockdownCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24`."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateResponseConfigurations": {
      "type": "union",
      "members": {
        "LockdownIPConfiguration": {
          "target": "com.cloudflare.firewall#LockdownsCreateResponseConfigurationsLockdownIPConfiguration"
        },
        "LockdownCIDRConfiguration": {
          "target": "com.cloudflare.firewall#LockdownsCreateResponseConfigurationsLockdownCIDRConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateResponseUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.firewall#LockdownsGetResponseConfigurationsLockdownIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsGetResponseConfigurationsLockdownIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsGetResponseConfigurationsLockdownIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsGetResponseConfigurationsLockdownCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsGetResponseConfigurationsLockdownCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsGetResponseConfigurationsLockdownCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24`."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsGetResponseConfigurations": {
      "type": "union",
      "members": {
        "LockdownIPConfiguration": {
          "target": "com.cloudflare.firewall#LockdownsGetResponseConfigurationsLockdownIPConfiguration"
        },
        "LockdownCIDRConfiguration": {
          "target": "com.cloudflare.firewall#LockdownsGetResponseConfigurationsLockdownCIDRConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#LockdownsGetResponseUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.firewall#LockdownsListResultItemConfigurationsLockdownIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsListResultItemConfigurationsLockdownIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsListResultItemConfigurationsLockdownIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsListResultItemConfigurationsLockdownCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsListResultItemConfigurationsLockdownCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsListResultItemConfigurationsLockdownCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24`."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsListResultItemConfigurations": {
      "type": "union",
      "members": {
        "LockdownIPConfiguration": {
          "target": "com.cloudflare.firewall#LockdownsListResultItemConfigurationsLockdownIPConfiguration"
        },
        "LockdownCIDRConfiguration": {
          "target": "com.cloudflare.firewall#LockdownsListResultItemConfigurationsLockdownCIDRConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#LockdownsListResultItemUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.firewall#LockdownsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Zone Lockdown rule.",
            "smithy.api#required": {}
          }
        },
        "configurations": {
          "target": "com.cloudflare.firewall#LockdownConfigurationsList",
          "traits": {
            "smithy.api#documentation": "A list of IP addresses or CIDR ranges that will be allowed to access the URLs specified in the Zone Lockdown rule. You can include any number of `ip` or `ip_range` configurations.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified.",
            "smithy.api#required": {}
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the rule is currently paused.",
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.cloudflare.firewall#LockdownsListResultItemUrlsList",
          "traits": {
            "smithy.api#documentation": "The URLs to include in the rule definition. You can use wildcards. Each entered URL will be escaped before use, which means you can only use simple wildcard patterns.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The priority of the Zone Lockdown rule, echoed on reads."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#LockdownsListResultItem"
      }
    },
    "com.cloudflare.firewall#LockdownsUpdateRequestConfigurationsLockdownIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsUpdateRequestConfigurationsLockdownIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsUpdateRequestConfigurationsLockdownIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsUpdateRequestConfigurationsLockdownCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsUpdateRequestConfigurationsLockdownCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsUpdateRequestConfigurationsLockdownCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24`."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsUpdateRequestConfigurations": {
      "type": "union",
      "members": {
        "LockdownIPConfiguration": {
          "target": "com.cloudflare.firewall#LockdownsUpdateRequestConfigurationsLockdownIPConfiguration"
        },
        "LockdownCIDRConfiguration": {
          "target": "com.cloudflare.firewall#LockdownsUpdateRequestConfigurationsLockdownCIDRConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#LockdownsUpdateRequestUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.firewall#LockdownsUpdateResponseConfigurationsLockdownIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsUpdateResponseConfigurationsLockdownIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsUpdateResponseConfigurationsLockdownIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsUpdateResponseConfigurationsLockdownCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsUpdateResponseConfigurationsLockdownCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsUpdateResponseConfigurationsLockdownCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24`."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsUpdateResponseConfigurations": {
      "type": "union",
      "members": {
        "LockdownIPConfiguration": {
          "target": "com.cloudflare.firewall#LockdownsUpdateResponseConfigurationsLockdownIPConfiguration"
        },
        "LockdownCIDRConfiguration": {
          "target": "com.cloudflare.firewall#LockdownsUpdateResponseConfigurationsLockdownCIDRConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#LockdownsUpdateResponseUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.firewall#RulesBulkDeleteResultItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkDeleteResultItemFilterFirewallFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkDeleteResultItemFilterDeletedFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule was deleted.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkDeleteResultItemFilter": {
      "type": "union",
      "members": {
        "FirewallFilter": {
          "target": "com.cloudflare.firewall#RulesBulkDeleteResultItemFilterFirewallFilter"
        },
        "DeletedFilter": {
          "target": "com.cloudflare.firewall#RulesBulkDeleteResultItemFilterDeletedFilter"
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkDeleteResultItemProductsItem": {
      "type": "enum",
      "members": {
        "ZONELOCKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zoneLockdown"
          }
        },
        "UABLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uaBlock"
          }
        },
        "BIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bic"
          }
        },
        "HOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hot"
          }
        },
        "SECURITYLEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "securityLevel"
          }
        },
        "RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rateLimit"
          }
        },
        "WAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waf"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkDeleteResultItemProductsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesBulkDeleteResultItemProductsItem"
      }
    },
    "com.cloudflare.firewall#RulesBulkDeleteResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the firewall rule."
          }
        },
        "action": {
          "target": "com.cloudflare.firewall#RulesBulkDeleteResultItemAction",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request. The `log` action is only available on an Enterprise plan."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the firewall rule."
          }
        },
        "filter": {
          "target": "com.cloudflare.firewall#RulesBulkDeleteResultItemFilter"
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule is currently paused."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule. Optional value used to define the processing order. A lower number indicates a higher priority. If not provided, rules with a defined priority will be processed before rules without a priority."
          }
        },
        "products": {
          "target": "com.cloudflare.firewall#RulesBulkDeleteResultItemProductsList"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related firewall rules."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkDeleteResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesBulkDeleteResultItem"
      }
    },
    "com.cloudflare.firewall#RulesBulkEditResultItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkEditResultItemFilterFirewallFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkEditResultItemFilterDeletedFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule was deleted.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkEditResultItemFilter": {
      "type": "union",
      "members": {
        "FirewallFilter": {
          "target": "com.cloudflare.firewall#RulesBulkEditResultItemFilterFirewallFilter"
        },
        "DeletedFilter": {
          "target": "com.cloudflare.firewall#RulesBulkEditResultItemFilterDeletedFilter"
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkEditResultItemProductsItem": {
      "type": "enum",
      "members": {
        "ZONELOCKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zoneLockdown"
          }
        },
        "UABLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uaBlock"
          }
        },
        "BIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bic"
          }
        },
        "HOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hot"
          }
        },
        "SECURITYLEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "securityLevel"
          }
        },
        "RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rateLimit"
          }
        },
        "WAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waf"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkEditResultItemProductsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesBulkEditResultItemProductsItem"
      }
    },
    "com.cloudflare.firewall#RulesBulkEditResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the firewall rule."
          }
        },
        "action": {
          "target": "com.cloudflare.firewall#RulesBulkEditResultItemAction",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request. The `log` action is only available on an Enterprise plan."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the firewall rule."
          }
        },
        "filter": {
          "target": "com.cloudflare.firewall#RulesBulkEditResultItemFilter"
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule is currently paused."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule. Optional value used to define the processing order. A lower number indicates a higher priority. If not provided, rules with a defined priority will be processed before rules without a priority."
          }
        },
        "products": {
          "target": "com.cloudflare.firewall#RulesBulkEditResultItemProductsList"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related firewall rules."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkEditResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesBulkEditResultItem"
      }
    },
    "com.cloudflare.firewall#RulesBulkUpdateResultItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkUpdateResultItemFilterFirewallFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkUpdateResultItemFilterDeletedFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule was deleted.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkUpdateResultItemFilter": {
      "type": "union",
      "members": {
        "FirewallFilter": {
          "target": "com.cloudflare.firewall#RulesBulkUpdateResultItemFilterFirewallFilter"
        },
        "DeletedFilter": {
          "target": "com.cloudflare.firewall#RulesBulkUpdateResultItemFilterDeletedFilter"
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkUpdateResultItemProductsItem": {
      "type": "enum",
      "members": {
        "ZONELOCKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zoneLockdown"
          }
        },
        "UABLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uaBlock"
          }
        },
        "BIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bic"
          }
        },
        "HOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hot"
          }
        },
        "SECURITYLEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "securityLevel"
          }
        },
        "RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rateLimit"
          }
        },
        "WAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waf"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkUpdateResultItemProductsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesBulkUpdateResultItemProductsItem"
      }
    },
    "com.cloudflare.firewall#RulesBulkUpdateResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the firewall rule."
          }
        },
        "action": {
          "target": "com.cloudflare.firewall#RulesBulkUpdateResultItemAction",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request. The `log` action is only available on an Enterprise plan."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the firewall rule."
          }
        },
        "filter": {
          "target": "com.cloudflare.firewall#RulesBulkUpdateResultItemFilter"
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule is currently paused."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule. Optional value used to define the processing order. A lower number indicates a higher priority. If not provided, rules with a defined priority will be processed before rules without a priority."
          }
        },
        "products": {
          "target": "com.cloudflare.firewall#RulesBulkUpdateResultItemProductsList"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related firewall rules."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesBulkUpdateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesBulkUpdateResultItem"
      }
    },
    "com.cloudflare.firewall#RulesCreateRequestActionMode": {
      "type": "enum",
      "members": {
        "SIMULATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "simulate"
          }
        },
        "BAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ban"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesCreateRequestActionResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The response body to return. The value must conform to the configured content type."
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the body. Must be one of the following: `text/plain`, `text/xml`, or `application/json`."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesCreateRequestAction": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.firewall#RulesCreateRequestActionMode",
          "traits": {
            "smithy.api#documentation": "The action to perform."
          }
        },
        "response": {
          "target": "com.cloudflare.firewall#RulesCreateRequestActionResponse",
          "traits": {
            "smithy.api#documentation": "A custom content type and reponse to return when the threshold is exceeded. The custom response configured in this object will override the custom error for the zone. This object is optional."
          }
        },
        "timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time in seconds during which Cloudflare will perform the mitigation action. Must be an integer value greater than or equal to the period."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesCreateRequestFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesCreateResultItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesCreateResultItemFilterFirewallFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesCreateResultItemFilterDeletedFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule was deleted.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesCreateResultItemFilter": {
      "type": "union",
      "members": {
        "FirewallFilter": {
          "target": "com.cloudflare.firewall#RulesCreateResultItemFilterFirewallFilter"
        },
        "DeletedFilter": {
          "target": "com.cloudflare.firewall#RulesCreateResultItemFilterDeletedFilter"
        }
      }
    },
    "com.cloudflare.firewall#RulesCreateResultItemProductsItem": {
      "type": "enum",
      "members": {
        "ZONELOCKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zoneLockdown"
          }
        },
        "UABLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uaBlock"
          }
        },
        "BIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bic"
          }
        },
        "HOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hot"
          }
        },
        "SECURITYLEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "securityLevel"
          }
        },
        "RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rateLimit"
          }
        },
        "WAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waf"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesCreateResultItemProductsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesCreateResultItemProductsItem"
      }
    },
    "com.cloudflare.firewall#RulesCreateResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the firewall rule."
          }
        },
        "action": {
          "target": "com.cloudflare.firewall#RulesCreateResultItemAction",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request. The `log` action is only available on an Enterprise plan."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the firewall rule."
          }
        },
        "filter": {
          "target": "com.cloudflare.firewall#RulesCreateResultItemFilter"
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule is currently paused."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule. Optional value used to define the processing order. A lower number indicates a higher priority. If not provided, rules with a defined priority will be processed before rules without a priority."
          }
        },
        "products": {
          "target": "com.cloudflare.firewall#RulesCreateResultItemProductsList"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related firewall rules."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesCreateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesCreateResultItem"
      }
    },
    "com.cloudflare.firewall#RulesDeleteResponseAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesDeleteResponseFilterFirewallFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesDeleteResponseFilterDeletedFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule was deleted.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesDeleteResponseFilter": {
      "type": "union",
      "members": {
        "FirewallFilter": {
          "target": "com.cloudflare.firewall#RulesDeleteResponseFilterFirewallFilter"
        },
        "DeletedFilter": {
          "target": "com.cloudflare.firewall#RulesDeleteResponseFilterDeletedFilter"
        }
      }
    },
    "com.cloudflare.firewall#RulesDeleteResponseProductsItem": {
      "type": "enum",
      "members": {
        "ZONELOCKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zoneLockdown"
          }
        },
        "UABLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uaBlock"
          }
        },
        "BIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bic"
          }
        },
        "HOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hot"
          }
        },
        "SECURITYLEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "securityLevel"
          }
        },
        "RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rateLimit"
          }
        },
        "WAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waf"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesDeleteResponseProductsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesDeleteResponseProductsItem"
      }
    },
    "com.cloudflare.firewall#RulesEditResultItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesEditResultItemFilterFirewallFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesEditResultItemFilterDeletedFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule was deleted.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesEditResultItemFilter": {
      "type": "union",
      "members": {
        "FirewallFilter": {
          "target": "com.cloudflare.firewall#RulesEditResultItemFilterFirewallFilter"
        },
        "DeletedFilter": {
          "target": "com.cloudflare.firewall#RulesEditResultItemFilterDeletedFilter"
        }
      }
    },
    "com.cloudflare.firewall#RulesEditResultItemProductsItem": {
      "type": "enum",
      "members": {
        "ZONELOCKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zoneLockdown"
          }
        },
        "UABLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uaBlock"
          }
        },
        "BIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bic"
          }
        },
        "HOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hot"
          }
        },
        "SECURITYLEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "securityLevel"
          }
        },
        "RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rateLimit"
          }
        },
        "WAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waf"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesEditResultItemProductsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesEditResultItemProductsItem"
      }
    },
    "com.cloudflare.firewall#RulesEditResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the firewall rule."
          }
        },
        "action": {
          "target": "com.cloudflare.firewall#RulesEditResultItemAction",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request. The `log` action is only available on an Enterprise plan."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the firewall rule."
          }
        },
        "filter": {
          "target": "com.cloudflare.firewall#RulesEditResultItemFilter"
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule is currently paused."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule. Optional value used to define the processing order. A lower number indicates a higher priority. If not provided, rules with a defined priority will be processed before rules without a priority."
          }
        },
        "products": {
          "target": "com.cloudflare.firewall#RulesEditResultItemProductsList"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related firewall rules."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesEditResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesEditResultItem"
      }
    },
    "com.cloudflare.firewall#RulesGetResponseAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesGetResponseFilterFirewallFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesGetResponseFilterDeletedFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule was deleted.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesGetResponseFilter": {
      "type": "union",
      "members": {
        "FirewallFilter": {
          "target": "com.cloudflare.firewall#RulesGetResponseFilterFirewallFilter"
        },
        "DeletedFilter": {
          "target": "com.cloudflare.firewall#RulesGetResponseFilterDeletedFilter"
        }
      }
    },
    "com.cloudflare.firewall#RulesGetResponseProductsItem": {
      "type": "enum",
      "members": {
        "ZONELOCKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zoneLockdown"
          }
        },
        "UABLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uaBlock"
          }
        },
        "BIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bic"
          }
        },
        "HOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hot"
          }
        },
        "SECURITYLEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "securityLevel"
          }
        },
        "RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rateLimit"
          }
        },
        "WAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waf"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesGetResponseProductsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesGetResponseProductsItem"
      }
    },
    "com.cloudflare.firewall#RulesListResultItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesListResultItemFilterFirewallFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesListResultItemFilterDeletedFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule was deleted.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesListResultItemFilter": {
      "type": "union",
      "members": {
        "FirewallFilter": {
          "target": "com.cloudflare.firewall#RulesListResultItemFilterFirewallFilter"
        },
        "DeletedFilter": {
          "target": "com.cloudflare.firewall#RulesListResultItemFilterDeletedFilter"
        }
      }
    },
    "com.cloudflare.firewall#RulesListResultItemProductsItem": {
      "type": "enum",
      "members": {
        "ZONELOCKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zoneLockdown"
          }
        },
        "UABLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uaBlock"
          }
        },
        "BIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bic"
          }
        },
        "HOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hot"
          }
        },
        "SECURITYLEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "securityLevel"
          }
        },
        "RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rateLimit"
          }
        },
        "WAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waf"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesListResultItemProductsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesListResultItemProductsItem"
      }
    },
    "com.cloudflare.firewall#RulesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the firewall rule."
          }
        },
        "action": {
          "target": "com.cloudflare.firewall#RulesListResultItemAction",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request. The `log` action is only available on an Enterprise plan."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the firewall rule."
          }
        },
        "filter": {
          "target": "com.cloudflare.firewall#RulesListResultItemFilter"
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule is currently paused."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule. Optional value used to define the processing order. A lower number indicates a higher priority. If not provided, rules with a defined priority will be processed before rules without a priority."
          }
        },
        "products": {
          "target": "com.cloudflare.firewall#RulesListResultItemProductsList"
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related firewall rules."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesListResultItem"
      }
    },
    "com.cloudflare.firewall#RulesUpdateRequestActionMode": {
      "type": "enum",
      "members": {
        "SIMULATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "simulate"
          }
        },
        "BAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ban"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesUpdateRequestActionResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The response body to return. The value must conform to the configured content type."
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the body. Must be one of the following: `text/plain`, `text/xml`, or `application/json`."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesUpdateRequestAction": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.firewall#RulesUpdateRequestActionMode",
          "traits": {
            "smithy.api#documentation": "The action to perform."
          }
        },
        "response": {
          "target": "com.cloudflare.firewall#RulesUpdateRequestActionResponse",
          "traits": {
            "smithy.api#documentation": "A custom content type and reponse to return when the threshold is exceeded. The custom response configured in this object will override the custom error for the zone. This object is optional."
          }
        },
        "timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time in seconds during which Cloudflare will perform the mitigation action. Must be an integer value greater than or equal to the period."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesUpdateRequestFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesUpdateResponseAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesUpdateResponseFilterFirewallFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesUpdateResponseFilterDeletedFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the firewall rule was deleted.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesUpdateResponseFilter": {
      "type": "union",
      "members": {
        "FirewallFilter": {
          "target": "com.cloudflare.firewall#RulesUpdateResponseFilterFirewallFilter"
        },
        "DeletedFilter": {
          "target": "com.cloudflare.firewall#RulesUpdateResponseFilterDeletedFilter"
        }
      }
    },
    "com.cloudflare.firewall#RulesUpdateResponseProductsItem": {
      "type": "enum",
      "members": {
        "ZONELOCKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zoneLockdown"
          }
        },
        "UABLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uaBlock"
          }
        },
        "BIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bic"
          }
        },
        "HOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hot"
          }
        },
        "SECURITYLEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "securityLevel"
          }
        },
        "RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rateLimit"
          }
        },
        "WAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waf"
          }
        }
      }
    },
    "com.cloudflare.firewall#RulesUpdateResponseProductsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#RulesUpdateResponseProductsItem"
      }
    },
    "com.cloudflare.firewall#UaRulesCreateRequestConfigurationTarget": {
      "type": "enum",
      "members": {
        "UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ua"
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesCreateRequestConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#UaRulesCreateRequestConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ua` when specifying a user agent in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user agent to exactly match"
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesCreateRequestMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesCreateResponseConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The configuration target for this rule. You must set the target to `ua` for User Agent Blocking rules."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exact user agent string to match. This value will be compared to the received `User-Agent` HTTP header value."
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesCreateResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesDeleteResponseConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The configuration target for this rule. You must set the target to `ua` for User Agent Blocking rules."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exact user agent string to match. This value will be compared to the received `User-Agent` HTTP header value."
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesDeleteResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesGetResponseConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The configuration target for this rule. You must set the target to `ua` for User Agent Blocking rules."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exact user agent string to match. This value will be compared to the received `User-Agent` HTTP header value."
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesGetResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesListResultItemConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The configuration target for this rule. You must set the target to `ua` for User Agent Blocking rules."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exact user agent string to match. This value will be compared to the received `User-Agent` HTTP header value."
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesListResultItemMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the User Agent Blocking rule."
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#UaRulesListResultItemConfiguration",
          "traits": {
            "smithy.api#documentation": "The configuration object for the current rule."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule."
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#UaRulesListResultItemMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the rule is currently paused."
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#UaRulesListResultItem"
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationAccessRuleIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationAccessRuleIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationAccessRuleIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationIPV6ConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip6"
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationIPV6Configuration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationIPV6ConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip6` when specifying an IPv6 address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv6 address to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationAccessRuleCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationAccessRuleCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationAccessRuleCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24` for IPv4 ranges, and prefix lengths `/32`, `/48`, and `/64` for IPv6 ranges."
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationASNConfigurationTarget": {
      "type": "enum",
      "members": {
        "ASN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asn"
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationASNConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationASNConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `asn` when specifying an Autonomous System Number (ASN) in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AS number to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationCountryConfigurationTarget": {
      "type": "enum",
      "members": {
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationCountryConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationCountryConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `country` when specifying a country code in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter ISO-3166-1 alpha-2 code to match. For more information, refer to [IP Access rules: Parameters](https://developers.cloudflare.com/waf/tools/ip-access-rules/parameters/#country)."
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateRequestConfiguration": {
      "type": "union",
      "members": {
        "AccessRuleIPConfiguration": {
          "target": "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationAccessRuleIPConfiguration"
        },
        "IPV6Configuration": {
          "target": "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationIPV6Configuration"
        },
        "AccessRuleCIDRConfiguration": {
          "target": "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationAccessRuleCIDRConfiguration"
        },
        "ASNConfiguration": {
          "target": "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationASNConfiguration"
        },
        "CountryConfiguration": {
          "target": "com.cloudflare.firewall#UaRulesUpdateRequestConfigurationCountryConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateRequestMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateResponseConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The configuration target for this rule. You must set the target to `ua` for User Agent Blocking rules."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exact user agent string to match. This value will be compared to the received `User-Agent` HTTP header value."
          }
        }
      }
    },
    "com.cloudflare.firewall#UaRulesUpdateResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#WafOverridesCreateRequestUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.firewall#WafOverridesCreateResponseGroupsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.firewall#WafOverridesCreateResponseRewriteActionBlock": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "SIMULATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "simulate"
          }
        },
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      }
    },
    "com.cloudflare.firewall#WafOverridesCreateResponseRewriteActionChallenge": {
      "type": "enum",
      "members": {
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "SIMULATE": {
[...]
