{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseAllowedModesItem": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseAllowedModesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseAllowedModesItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseScopeType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseScope": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "type": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseScopeType",
          "traits": {
            "smithy.api#documentation": "Defines the scope of the rule."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the IP Access rule.",
            "smithy.api#required": {}
          }
        },
        "allowed_modes": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseAllowedModesList",
          "traits": {
            "smithy.api#documentation": "The available actions that a rule can apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        },
        "scope": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseScope",
          "traits": {
            "smithy.api#documentation": "All zones owned by the user will have the rule applied."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/firewall/access_rules/rules",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new IP Access rule for an account or zone. The rule will apply to all zones in the account or zone. Note: To create an IP Access rule that applies to a single zone, refer to the [IP Access rules for a zone](#ip-access-rules-for-a-zone) endpoints."
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseAllowedModesItem": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseAllowedModesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseAllowedModesItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseScopeType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseScope": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "type": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseScopeType",
          "traits": {
            "smithy.api#documentation": "Defines the scope of the rule."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the IP Access rule.",
            "smithy.api#required": {}
          }
        },
        "allowed_modes": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseAllowedModesList",
          "traits": {
            "smithy.api#documentation": "The available actions that a rule can apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        },
        "scope": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseScope",
          "traits": {
            "smithy.api#documentation": "All zones owned by the user will have the rule applied."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/firewall/access_rules/rules",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new IP Access rule for an account or zone. The rule will apply to all zones in the account or zone. Note: To create an IP Access rule that applies to a single zone, refer to the [IP Access rules for a zone](#ip-access-rules-for-a-zone) endpoints."
      }
    },
    "com.cloudflare.firewall#AccessRulesDeleteForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesDeleteForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesDeleteForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesDeleteForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesDeleteForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/firewall/access_rules/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing IP Access rule defined. Note: This operation will affect all zones in the account or zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesDeleteForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesDeleteForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesDeleteForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesDeleteForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesDeleteForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/firewall/access_rules/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing IP Access rule defined. Note: This operation will affect all zones in the account or zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseAllowedModesItem": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseAllowedModesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseAllowedModesItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseScopeType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseScope": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "type": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseScopeType",
          "traits": {
            "smithy.api#documentation": "Defines the scope of the rule."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the IP Access rule.",
            "smithy.api#required": {}
          }
        },
        "allowed_modes": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseAllowedModesList",
          "traits": {
            "smithy.api#documentation": "The available actions that a rule can apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        },
        "scope": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseScope",
          "traits": {
            "smithy.api#documentation": "All zones owned by the user will have the rule applied."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/firewall/access_rules/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an IP Access rule defined. Note: This operation will affect all zones in the account or zone."
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseAllowedModesItem": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseAllowedModesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseAllowedModesItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseScopeType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseScope": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "type": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseScopeType",
          "traits": {
            "smithy.api#documentation": "Defines the scope of the rule."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the IP Access rule.",
            "smithy.api#required": {}
          }
        },
        "allowed_modes": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseAllowedModesList",
          "traits": {
            "smithy.api#documentation": "The available actions that a rule can apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        },
        "scope": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseScope",
          "traits": {
            "smithy.api#documentation": "All zones owned by the user will have the rule applied."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/firewall/access_rules/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an IP Access rule defined. Note: This operation will affect all zones in the account or zone."
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseAllowedModesItem": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseAllowedModesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseAllowedModesItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseScopeType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseScope": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "type": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseScopeType",
          "traits": {
            "smithy.api#documentation": "Defines the scope of the rule."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the IP Access rule.",
            "smithy.api#required": {}
          }
        },
        "allowed_modes": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseAllowedModesList",
          "traits": {
            "smithy.api#documentation": "The available actions that a rule can apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        },
        "scope": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseScope",
          "traits": {
            "smithy.api#documentation": "All zones owned by the user will have the rule applied."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesGetForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/firewall/access_rules/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the details of an IP Access rule defined.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForZoneResponseAllowedModesItem": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForZoneResponseAllowedModesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesGetForZoneResponseAllowedModesItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForZoneResponseConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForZoneResponseConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesGetForZoneResponseConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForZoneResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForZoneResponseScopeType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForZoneResponseScope": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "type": {
          "target": "com.cloudflare.firewall#AccessRulesGetForZoneResponseScopeType",
          "traits": {
            "smithy.api#documentation": "Defines the scope of the rule."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the IP Access rule.",
            "smithy.api#required": {}
          }
        },
        "allowed_modes": {
          "target": "com.cloudflare.firewall#AccessRulesGetForZoneResponseAllowedModesList",
          "traits": {
            "smithy.api#documentation": "The available actions that a rule can apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesGetForZoneResponseConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesGetForZoneResponseMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        },
        "scope": {
          "target": "com.cloudflare.firewall#AccessRulesGetForZoneResponseScope",
          "traits": {
            "smithy.api#documentation": "All zones owned by the user will have the rule applied."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesGetForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesGetForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/firewall/access_rules/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the details of an IP Access rule defined.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountRequestMatch": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountRequestMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountRequestOrder": {
      "type": "enum",
      "members": {
        "CONFIGURATION_TARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configuration.target"
          }
        },
        "CONFIGURATION_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configuration.value"
          }
        },
        "MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mode"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "configuration"
          }
        },
        "direction": {
          "target": "com.cloudflare.firewall#AccessRulesListForAccountRequestDirection",
          "traits": {
            "smithy.api#documentation": "Defines the direction used to sort returned rules.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "match": {
          "target": "com.cloudflare.firewall#AccessRulesListForAccountRequestMatch",
          "traits": {
            "smithy.api#documentation": "Defines the search requirements. When set to `all`, all the search requirements must match. When set to `any`, only one of the search requirements has to match.",
            "smithy.api#httpQuery": "match"
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesListForAccountRequestMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#httpQuery": "mode"
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the string to search for in the notes of existing IP Access rules.",
            "smithy.api#httpQuery": "notes"
          }
        },
        "order": {
          "target": "com.cloudflare.firewall#AccessRulesListForAccountRequestOrder",
          "traits": {
            "smithy.api#documentation": "Defines the field used to sort returned rules.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the requested page within paginated list of results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the maximum number of results requested.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountResultItemAllowedModesItem": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountResultItemAllowedModesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesListForAccountResultItemAllowedModesItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountResultItemConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountResultItemConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesListForAccountResultItemConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountResultItemMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountResultItemScopeType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountResultItemScope": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "type": {
          "target": "com.cloudflare.firewall#AccessRulesListForAccountResultItemScopeType",
          "traits": {
            "smithy.api#documentation": "Defines the scope of the rule."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the IP Access rule.",
            "smithy.api#required": {}
          }
        },
        "allowed_modes": {
          "target": "com.cloudflare.firewall#AccessRulesListForAccountResultItemAllowedModesList",
          "traits": {
            "smithy.api#documentation": "The available actions that a rule can apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesListForAccountResultItemConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesListForAccountResultItemMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        },
        "scope": {
          "target": "com.cloudflare.firewall#AccessRulesListForAccountResultItemScope",
          "traits": {
            "smithy.api#documentation": "All zones owned by the user will have the rule applied."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesListForAccountResultItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccountResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.firewall#AccessRulesListForAccountResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesListForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesListForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesListForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/firewall/access_rules/rules",
          "code": 200
        },
        "smithy.api#documentation": "Fetches IP Access rules of an account or zone. These rules apply to all the zones in the account or zone. You can filter the results using several optional parameters.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneRequestMatch": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneRequestMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneRequestOrder": {
      "type": "enum",
      "members": {
        "CONFIGURATION_TARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configuration.target"
          }
        },
        "CONFIGURATION_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configuration.value"
          }
        },
        "MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mode"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "configuration"
          }
        },
        "direction": {
          "target": "com.cloudflare.firewall#AccessRulesListForZoneRequestDirection",
          "traits": {
            "smithy.api#documentation": "Defines the direction used to sort returned rules.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "match": {
          "target": "com.cloudflare.firewall#AccessRulesListForZoneRequestMatch",
          "traits": {
            "smithy.api#documentation": "Defines the search requirements. When set to `all`, all the search requirements must match. When set to `any`, only one of the search requirements has to match.",
            "smithy.api#httpQuery": "match"
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesListForZoneRequestMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#httpQuery": "mode"
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the string to search for in the notes of existing IP Access rules.",
            "smithy.api#httpQuery": "notes"
          }
        },
        "order": {
          "target": "com.cloudflare.firewall#AccessRulesListForZoneRequestOrder",
          "traits": {
            "smithy.api#documentation": "Defines the field used to sort returned rules.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the requested page within paginated list of results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the maximum number of results requested.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneResultItemAllowedModesItem": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneResultItemAllowedModesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesListForZoneResultItemAllowedModesItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneResultItemConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneResultItemConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesListForZoneResultItemConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneResultItemMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneResultItemScopeType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneResultItemScope": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "type": {
          "target": "com.cloudflare.firewall#AccessRulesListForZoneResultItemScopeType",
          "traits": {
            "smithy.api#documentation": "Defines the scope of the rule."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the IP Access rule.",
            "smithy.api#required": {}
          }
        },
        "allowed_modes": {
          "target": "com.cloudflare.firewall#AccessRulesListForZoneResultItemAllowedModesList",
          "traits": {
            "smithy.api#documentation": "The available actions that a rule can apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesListForZoneResultItemConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesListForZoneResultItemMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        },
        "scope": {
          "target": "com.cloudflare.firewall#AccessRulesListForZoneResultItemScope",
          "traits": {
            "smithy.api#documentation": "All zones owned by the user will have the rule applied."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesListForZoneResultItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZoneResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.firewall#AccessRulesListForZoneResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesListForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesListForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesListForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/firewall/access_rules/rules",
          "code": 200
        },
        "smithy.api#documentation": "Fetches IP Access rules of an account or zone. These rules apply to all the zones in the account or zone. You can filter the results using several optional parameters.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.firewall#LockdownsCreateRequestConfigurationsTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateRequestConfigurations": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsCreateRequestConfigurationsTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateRequestUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.firewall#LockdownsCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configurations": {
          "target": "com.cloudflare.firewall#LockdownsCreateRequestConfigurations",
          "traits": {
            "smithy.api#documentation": "A list of IP addresses or CIDR ranges that will be allowed to access the URLs specified in the Zone Lockdown rule. You can include any number of `ip` or `ip_range` configurations.",
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.cloudflare.firewall#LockdownsCreateRequestUrlsList",
          "traits": {
            "smithy.api#documentation": "The URLs to include in the current WAF override. You can use wildcards. Each entered URL will be escaped before use, which means you can only use simple wildcard patterns.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule. This value is sanitized and any tags will be removed."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the rule is currently paused."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule to control the processing order. A lower number indicates higher priority. If not provided, any rules with a configured priority will be processed before rules without a priority."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#LockdownsCreateResponseConfigurationsTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateResponseConfigurations": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsCreateResponseConfigurationsTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsCreateResponseUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.firewall#LockdownsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Zone Lockdown rule.",
            "smithy.api#required": {}
          }
        },
        "configurations": {
          "target": "com.cloudflare.firewall#LockdownsCreateResponseConfigurations",
          "traits": {
            "smithy.api#documentation": "A list of IP addresses or CIDR ranges that will be allowed to access the URLs specified in the Zone Lockdown rule. You can include any number of `ip` or `ip_range` configurations.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified.",
            "smithy.api#required": {}
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the rule is currently paused.",
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.cloudflare.firewall#LockdownsCreateResponseUrlsList",
          "traits": {
            "smithy.api#documentation": "The URLs to include in the rule definition. You can use wildcards. Each entered URL will be escaped before use, which means you can only use simple wildcard patterns.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#LockdownsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#LockdownsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#LockdownsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/firewall/lockdowns",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Zone Lockdown rule."
      }
    },
    "com.cloudflare.firewall#LockdownsDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "lock_downs_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Zone Lockdown rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#LockdownsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Zone Lockdown rule."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#LockdownsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#LockdownsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#LockdownsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/firewall/lockdowns/{lock_downs_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing Zone Lockdown rule.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.firewall#LockdownsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "lock_downs_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Zone Lockdown rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#LockdownsGetResponseConfigurationsTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsGetResponseConfigurations": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsGetResponseConfigurationsTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsGetResponseUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.firewall#LockdownsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Zone Lockdown rule.",
            "smithy.api#required": {}
          }
        },
        "configurations": {
          "target": "com.cloudflare.firewall#LockdownsGetResponseConfigurations",
          "traits": {
            "smithy.api#documentation": "A list of IP addresses or CIDR ranges that will be allowed to access the URLs specified in the Zone Lockdown rule. You can include any number of `ip` or `ip_range` configurations.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified.",
            "smithy.api#required": {}
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the rule is currently paused.",
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.cloudflare.firewall#LockdownsGetResponseUrlsList",
          "traits": {
            "smithy.api#documentation": "The URLs to include in the rule definition. You can use wildcards. Each entered URL will be escaped before use, which means you can only use simple wildcard patterns.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#LockdownsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#LockdownsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#LockdownsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/firewall/lockdowns/{lock_downs_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the details of a Zone Lockdown rule.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.firewall#LockdownsListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created.",
            "smithy.api#httpQuery": "created_on"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string to search for in the description of existing rules.",
            "smithy.api#httpQuery": "description"
          }
        },
        "description_search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string to search for in the description of existing rules.",
            "smithy.api#httpQuery": "description_search"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A single IP address to search for in existing rules.",
            "smithy.api#httpQuery": "ip"
          }
        },
        "ip_range_search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A single IP address range to search for in existing rules.",
            "smithy.api#httpQuery": "ip_range_search"
          }
        },
        "ip_search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A single IP address to search for in existing rules.",
            "smithy.api#httpQuery": "ip_search"
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified.",
            "smithy.api#httpQuery": "modified_on"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of results per page. You can only set the value to `1` or to a multiple of 5 such as `5`, `10`, `15`, or `20`.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule to control the processing order. A lower number indicates higher priority. If not provided, any rules with a configured priority will be processed before rules without a priority.",
            "smithy.api#httpQuery": "priority"
          }
        },
        "uri_search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A single URI to search for in the list of URLs of existing rules.",
            "smithy.api#httpQuery": "uri_search"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#LockdownsListResultItemConfigurationsTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsListResultItemConfigurations": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#LockdownsListResultItemConfigurationsTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the Zone Lockdown rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsListResultItemUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.firewall#LockdownsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Zone Lockdown rule.",
            "smithy.api#required": {}
          }
        },
        "configurations": {
          "target": "com.cloudflare.firewall#LockdownsListResultItemConfigurations",
          "traits": {
            "smithy.api#documentation": "A list of IP addresses or CIDR ranges that will be allowed to access the URLs specified in the Zone Lockdown rule. You can include any number of `ip` or `ip_range` configurations.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified.",
            "smithy.api#required": {}
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the rule is currently paused.",
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.cloudflare.firewall#LockdownsListResultItemUrlsList",
          "traits": {
            "smithy.api#documentation": "The URLs to include in the rule definition. You can use wildcards. Each entered URL will be escaped before use, which means you can only use simple wildcard patterns.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.firewall#LockdownsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#LockdownsListResultItem"
      }
    },
    "com.cloudflare.firewall#LockdownsListResponse": {
      "type": "structure",
      "members": {
        "result": {
[...]
