{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "createdAt": "created_at",
      "updatedAt": "updated_at"
    }
  },
  "shapes": {
    "com.cloudflare.hostnames#SettingsTlsDeleteRequestSettingId": {
      "type": "enum",
      "members": {
        "CIPHERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ciphers"
          }
        },
        "MIN_TLS_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min_tls_version"
          }
        },
        "HTTP2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http2"
          }
        }
      }
    },
    "com.cloudflare.hostnames#SettingsTlsDeleteResponseValueCase0": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.hostnames#SettingsTlsDeleteResponseValueCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.hostnames#SettingsTlsDeleteResponseValue": {
      "type": "union",
      "members": {
        "SettingsTlsDeleteResponseValueCase0": {
          "target": "com.cloudflare.hostnames#SettingsTlsDeleteResponseValueCase0"
        },
        "SettingsTlsDeleteResponseValueCase1List": {
          "target": "com.cloudflare.hostnames#SettingsTlsDeleteResponseValueCase1List"
        }
      }
    },
    "com.cloudflare.hostnames#SettingsTlsGetRequestSettingId": {
      "type": "enum",
      "members": {
        "CIPHERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ciphers"
          }
        },
        "MIN_TLS_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min_tls_version"
          }
        },
        "HTTP2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http2"
          }
        }
      }
    },
    "com.cloudflare.hostnames#SettingsTlsGetResultItemValueCase0": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.hostnames#SettingsTlsGetResultItemValueCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.hostnames#SettingsTlsGetResultItemValue": {
      "type": "union",
      "members": {
        "SettingsTlsGetResultItemValueCase0": {
          "target": "com.cloudflare.hostnames#SettingsTlsGetResultItemValueCase0"
        },
        "SettingsTlsGetResultItemValueCase1List": {
          "target": "com.cloudflare.hostnames#SettingsTlsGetResultItemValueCase1List"
        }
      }
    },
    "com.cloudflare.hostnames#SettingsTlsGetResultItem": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the tls setting was originally created for this hostname."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname for which the tls settings are set."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deployment status for the given tls setting."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the tls setting was updated."
          }
        },
        "value": {
          "target": "com.cloudflare.hostnames#SettingsTlsGetResultItemValue",
          "traits": {
            "smithy.api#documentation": "The TLS setting value."
          }
        }
      }
    },
    "com.cloudflare.hostnames#SettingsTlsGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.hostnames#SettingsTlsGetResultItem"
      }
    },
    "com.cloudflare.hostnames#SettingsTlsUpdateRequestSettingId": {
      "type": "enum",
      "members": {
        "CIPHERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ciphers"
          }
        },
        "MIN_TLS_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min_tls_version"
          }
        },
        "HTTP2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http2"
          }
        }
      }
    },
    "com.cloudflare.hostnames#SettingsTlsUpdateRequestValueCase0": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.hostnames#SettingsTlsUpdateRequestValueCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.hostnames#SettingsTlsUpdateRequestValue": {
      "type": "union",
      "members": {
        "SettingsTlsUpdateRequestValueCase0": {
          "target": "com.cloudflare.hostnames#SettingsTlsUpdateRequestValueCase0"
        },
        "SettingsTlsUpdateRequestValueCase1List": {
          "target": "com.cloudflare.hostnames#SettingsTlsUpdateRequestValueCase1List"
        }
      }
    },
    "com.cloudflare.hostnames#SettingsTlsUpdateResponseValueCase0": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.hostnames#SettingsTlsUpdateResponseValueCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.hostnames#SettingsTlsUpdateResponseValue": {
      "type": "union",
      "members": {
        "SettingsTlsUpdateResponseValueCase0": {
          "target": "com.cloudflare.hostnames#SettingsTlsUpdateResponseValueCase0"
        },
        "SettingsTlsUpdateResponseValueCase1List": {
          "target": "com.cloudflare.hostnames#SettingsTlsUpdateResponseValueCase1List"
        }
      }
    },
    "com.cloudflare.hostnames#Hostnames": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.hostnames#SettingsTlsDelete"
        },
        {
          "target": "com.cloudflare.hostnames#SettingsTlsGet"
        },
        {
          "target": "com.cloudflare.hostnames#SettingsTlsUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Hostnames",
        "smithy.api#documentation": "Cloudflare API — hostnames resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.hostnames#AdvancedCertificateManagerRequired": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1450
          }
        ]
      }
    },
    "com.cloudflare.hostnames#Forbidden": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.cloudflare.hostnames#HostnameTlsSettingNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.cloudflare.hostnames#DeleteSettingTls": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hostnames#DeleteSettingTlsRequest"
      },
      "output": {
        "target": "com.cloudflare.hostnames#DeleteSettingTlsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/hostnames/settings/{setting_id}/{hostname}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the tls setting value for the hostname.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.hostnames#AdvancedCertificateManagerRequired"
        },
        {
          "target": "com.cloudflare.hostnames#HostnameTlsSettingNotFound"
        },
        {
          "target": "com.cloudflare.hostnames#Forbidden"
        }
      ]
    },
    "com.cloudflare.hostnames#DeleteSettingTlsRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "setting_id": {
          "target": "com.cloudflare.hostnames#SettingsTlsDeleteRequestSettingId",
          "traits": {
            "smithy.api#documentation": "The TLS Setting name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname for which the tls settings are set.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hostnames#DeleteSettingTlsResponse": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the tls setting was originally created for this hostname."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname for which the tls settings are set."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deployment status for the given tls setting."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the tls setting was updated."
          }
        },
        "value": {
          "target": "com.cloudflare.hostnames#SettingsTlsDeleteResponseValue",
          "traits": {
            "smithy.api#documentation": "The TLS setting value."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.hostnames#GetSettingTls": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hostnames#GetSettingTlsRequest"
      },
      "output": {
        "target": "com.cloudflare.hostnames#GetSettingTlsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/hostnames/settings/{setting_id}",
          "code": 200
        },
        "smithy.api#documentation": "List the requested TLS setting for the hostnames under this zone.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      },
      "errors": [
        {
          "target": "com.cloudflare.hostnames#AdvancedCertificateManagerRequired"
        },
        {
          "target": "com.cloudflare.hostnames#Forbidden"
        }
      ]
    },
    "com.cloudflare.hostnames#GetSettingTlsRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "setting_id": {
          "target": "com.cloudflare.hostnames#SettingsTlsGetRequestSettingId",
          "traits": {
            "smithy.api#documentation": "The TLS Setting name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hostnames#GetSettingTlsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.hostnames#SettingsTlsGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.hostnames#PutSettingTls": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hostnames#PutSettingTlsRequest"
      },
      "output": {
        "target": "com.cloudflare.hostnames#PutSettingTlsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/hostnames/settings/{setting_id}/{hostname}",
          "code": 200
        },
        "smithy.api#documentation": "Update the tls setting value for the hostname.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.hostnames#AdvancedCertificateManagerRequired"
        },
        {
          "target": "com.cloudflare.hostnames#Forbidden"
        }
      ]
    },
    "com.cloudflare.hostnames#PutSettingTlsRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "setting_id": {
          "target": "com.cloudflare.hostnames#SettingsTlsUpdateRequestSettingId",
          "traits": {
            "smithy.api#documentation": "The TLS Setting name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname for which the tls settings are set.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.cloudflare.hostnames#SettingsTlsUpdateRequestValue",
          "traits": {
            "smithy.api#documentation": "The TLS setting value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hostnames#PutSettingTlsResponse": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the tls setting was originally created for this hostname."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname for which the tls settings are set."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deployment status for the given tls setting."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the tls setting was updated."
          }
        },
        "value": {
          "target": "com.cloudflare.hostnames#SettingsTlsUpdateResponseValue",
          "traits": {
            "smithy.api#documentation": "The TLS setting value."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    }
  }
}
