{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOrigin": {
      "type": "structure",
      "members": {
        "PublicDatabase_object___database__host__password__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "PublicDatabase object { database, host, password, 3 more }"
          }
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel_object___access_client_id__access_client_secret__database__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AccessProtectedDatabaseBehindCloudflareTunnel object { access_client_id, access_client_secret, database, 4 more }"
          }
        },
        "DatabaseReachableThroughAWorkersVPC_object___database__password__scheme__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DatabaseReachableThroughAWorkersVPC object { database, password, scheme, 2 more }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestCaching": {
      "type": "structure",
      "members": {
        "HyperdriveHyperdriveCachingCommon_object___disabled__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "HyperdriveHyperdriveCachingEnabled_object___disabled__max_age__stale_while_revalidate__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingEnabled object { disabled, max_age, stale_while_revalidate }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to 'require', 'verify-ca', or 'verify-full' to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestCaching"
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOrigin": {
      "type": "structure",
      "members": {
        "PublicDatabase_object___database__host__password__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "PublicDatabase object { database, host, password, 3 more }"
          }
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel_object___access_client_id__access_client_secret__database__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AccessProtectedDatabaseBehindCloudflareTunnel object { access_client_id, access_client_secret, database, 4 more }"
          }
        },
        "DatabaseReachableThroughAWorkersVPC_object___database__password__scheme__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DatabaseReachableThroughAWorkersVPC object { database, password, scheme, 2 more }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseCaching": {
      "type": "structure",
      "members": {
        "HyperdriveHyperdriveCachingCommon_object___disabled__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "HyperdriveHyperdriveCachingEnabled_object___disabled__max_age__stale_while_revalidate__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingEnabled object { disabled, max_age, stale_while_revalidate }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to 'require', 'verify-ca', or 'verify-full' to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseCaching"
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the creation time of the Hyperdrive configuration."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last modified time of the Hyperdrive configuration."
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hyperdrive#ConfigsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.hyperdrive#ConfigsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/hyperdrive/configs",
          "code": 200
        },
        "smithy.api#documentation": "Creates and returns a new Hyperdrive configuration."
      }
    },
    "com.cloudflare.hyperdrive#ConfigsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hyperdrive_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hyperdrive#ConfigsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.hyperdrive#ConfigsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes the specified Hyperdrive.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestCaching": {
      "type": "structure",
      "members": {
        "HyperdriveHyperdriveCachingCommon_object___disabled__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "HyperdriveHyperdriveCachingEnabled_object___disabled__max_age__stale_while_revalidate__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingEnabled object { disabled, max_age, stale_while_revalidate }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to 'require', 'verify-ca', or 'verify-full' to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestOrigin": {
      "type": "structure",
      "members": {
        "HyperdriveHyperdriveDatabase_object___database__password__scheme__user__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveDatabase object { database, password, scheme, user }"
          }
        },
        "HyperdriveInternetOrigin_object___host__port__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveInternetOrigin object { host, port }"
          }
        },
        "HyperdriveOverAccessOrigin_object___access_client_id__access_client_secret__host__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveOverAccessOrigin object { access_client_id, access_client_secret, host }"
          }
        },
        "HyperdriveVPCServiceOrigin_object___service_id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Connect to a database through a Workers VPC Service. TLS settings (mTLS, sslmode) cannot be configured on the Hyperdrive when using a VPC Service origin; TLS must be managed on the VPC Service itself.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveVPCServiceOrigin object { service_id }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hyperdrive_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditRequestCaching"
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditRequestMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API."
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditRequestOrigin",
          "traits": {
            "smithy.api#documentation": "Connect to a database through a Workers VPC Service. TLS settings (mTLS, sslmode) cannot be configured on the Hyperdrive when using a VPC Service origin; TLS must be managed on the VPC Service itself."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOrigin": {
      "type": "structure",
      "members": {
        "PublicDatabase_object___database__host__password__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "PublicDatabase object { database, host, password, 3 more }"
          }
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel_object___access_client_id__access_client_secret__database__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AccessProtectedDatabaseBehindCloudflareTunnel object { access_client_id, access_client_secret, database, 4 more }"
          }
        },
        "DatabaseReachableThroughAWorkersVPC_object___database__password__scheme__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DatabaseReachableThroughAWorkersVPC object { database, password, scheme, 2 more }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseCaching": {
      "type": "structure",
      "members": {
        "HyperdriveHyperdriveCachingCommon_object___disabled__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "HyperdriveHyperdriveCachingEnabled_object___disabled__max_age__stale_while_revalidate__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingEnabled object { disabled, max_age, stale_while_revalidate }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to 'require', 'verify-ca', or 'verify-full' to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseCaching"
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the creation time of the Hyperdrive configuration."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last modified time of the Hyperdrive configuration."
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hyperdrive#ConfigsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.hyperdrive#ConfigsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}",
          "code": 200
        },
        "smithy.api#documentation": "Patches and returns the specified Hyperdrive configuration. Custom caching settings are not kept if caching is disabled."
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hyperdrive_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOrigin": {
      "type": "structure",
      "members": {
        "PublicDatabase_object___database__host__password__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "PublicDatabase object { database, host, password, 3 more }"
          }
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel_object___access_client_id__access_client_secret__database__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AccessProtectedDatabaseBehindCloudflareTunnel object { access_client_id, access_client_secret, database, 4 more }"
          }
        },
        "DatabaseReachableThroughAWorkersVPC_object___database__password__scheme__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DatabaseReachableThroughAWorkersVPC object { database, password, scheme, 2 more }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseCaching": {
      "type": "structure",
      "members": {
        "HyperdriveHyperdriveCachingCommon_object___disabled__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "HyperdriveHyperdriveCachingEnabled_object___disabled__max_age__stale_while_revalidate__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingEnabled object { disabled, max_age, stale_while_revalidate }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to 'require', 'verify-ca', or 'verify-full' to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseCaching"
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the creation time of the Hyperdrive configuration."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last modified time of the Hyperdrive configuration."
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hyperdrive#ConfigsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.hyperdrive#ConfigsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the specified Hyperdrive configuration.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOrigin": {
      "type": "structure",
      "members": {
        "PublicDatabase_object___database__host__password__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "PublicDatabase object { database, host, password, 3 more }"
          }
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel_object___access_client_id__access_client_secret__database__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AccessProtectedDatabaseBehindCloudflareTunnel object { access_client_id, access_client_secret, database, 4 more }"
          }
        },
        "DatabaseReachableThroughAWorkersVPC_object___database__password__scheme__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DatabaseReachableThroughAWorkersVPC object { database, password, scheme, 2 more }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemCaching": {
      "type": "structure",
      "members": {
        "HyperdriveHyperdriveCachingCommon_object___disabled__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "HyperdriveHyperdriveCachingEnabled_object___disabled__max_age__stale_while_revalidate__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingEnabled object { disabled, max_age, stale_while_revalidate }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to 'require', 'verify-ca', or 'verify-full' to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemCaching"
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the creation time of the Hyperdrive configuration."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last modified time of the Hyperdrive configuration."
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.hyperdrive#ConfigsListResultItem"
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hyperdrive#ConfigsListRequest"
      },
      "output": {
        "target": "com.cloudflare.hyperdrive#ConfigsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/hyperdrive/configs",
          "code": 200
        },
        "smithy.api#documentation": "Returns a list of Hyperdrives.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOrigin": {
      "type": "structure",
      "members": {
        "PublicDatabase_object___database__host__password__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "PublicDatabase object { database, host, password, 3 more }"
          }
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel_object___access_client_id__access_client_secret__database__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AccessProtectedDatabaseBehindCloudflareTunnel object { access_client_id, access_client_secret, database, 4 more }"
          }
        },
        "DatabaseReachableThroughAWorkersVPC_object___database__password__scheme__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DatabaseReachableThroughAWorkersVPC object { database, password, scheme, 2 more }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestCaching": {
      "type": "structure",
      "members": {
        "HyperdriveHyperdriveCachingCommon_object___disabled__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "HyperdriveHyperdriveCachingEnabled_object___disabled__max_age__stale_while_revalidate__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingEnabled object { disabled, max_age, stale_while_revalidate }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to 'require', 'verify-ca', or 'verify-full' to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hyperdrive_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestCaching"
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponseOrigin": {
      "type": "structure",
      "members": {
        "PublicDatabase_object___database__host__password__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "PublicDatabase object { database, host, password, 3 more }"
          }
        },
        "AccessProtectedDatabaseBehindCloudflareTunnel_object___access_client_id__access_client_secret__database__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AccessProtectedDatabaseBehindCloudflareTunnel object { access_client_id, access_client_secret, database, 4 more }"
          }
        },
        "DatabaseReachableThroughAWorkersVPC_object___database__password__scheme__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DatabaseReachableThroughAWorkersVPC object { database, password, scheme, 2 more }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponseCaching": {
      "type": "structure",
      "members": {
        "HyperdriveHyperdriveCachingCommon_object___disabled__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "HyperdriveHyperdriveCachingEnabled_object___disabled__max_age__stale_while_revalidate__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HyperdriveHyperdriveCachingEnabled object { disabled, max_age, stale_while_revalidate }"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponseMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to 'require', 'verify-ca', or 'verify-full' to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateResponseOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateResponseCaching"
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the creation time of the Hyperdrive configuration."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last modified time of the Hyperdrive configuration."
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateResponseMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.hyperdrive#ConfigsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates and returns the specified Hyperdrive configuration.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.hyperdrive#Hyperdrive": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.hyperdrive#ConfigsCreate"
        },
        {
          "target": "com.cloudflare.hyperdrive#ConfigsDelete"
        },
        {
          "target": "com.cloudflare.hyperdrive#ConfigsEdit"
        },
        {
          "target": "com.cloudflare.hyperdrive#ConfigsGet"
        },
        {
          "target": "com.cloudflare.hyperdrive#ConfigsList"
        },
        {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Hyperdrive",
        "smithy.api#documentation": "Cloudflare API — hyperdrive resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
