{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginScheme2": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginScheme3": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false."
          }
        },
        "disabled_2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false.",
            "smithy.api#jsonName": "disabled"
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the maximum duration (in seconds) items should persist in the cache. Defaults to 60 seconds if not specified."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the number of seconds the cache may serve a stale response. Defaults to 15 seconds if not specified."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to ‘require’, ‘verify-ca’, or ‘verify-full’ to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequestOrigin": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "host_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "host"
          }
        },
        "password_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_2": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginScheme2",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "user_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "database_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "password_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_3": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginScheme3",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginCaching",
          "traits": {
            "smithy.api#documentation": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestOriginMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateRequestOrigin",
          "traits": {
            "smithy.api#documentation": "PublicDatabase object { database, host, password, 3 more }",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginScheme2": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginScheme3": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false."
          }
        },
        "disabled_2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false.",
            "smithy.api#jsonName": "disabled"
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the maximum duration (in seconds) items should persist in the cache. Defaults to 60 seconds if not specified."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the number of seconds the cache may serve a stale response. Defaults to 15 seconds if not specified."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to ‘require’, ‘verify-ca’, or ‘verify-full’ to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponseOrigin": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "host_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "host"
          }
        },
        "password_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_2": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginScheme2",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "user_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "database_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "password_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_3": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginScheme3",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginCaching",
          "traits": {
            "smithy.api#documentation": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the creation time of the Hyperdrive configuration."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last modified time of the Hyperdrive configuration."
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseOriginMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        },
        "restarted_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last time the Hyperdrive connection pool was explicitly restarted via the restart endpoint. Omitted if the pool has never been explicitly restarted."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsCreateResponseOrigin",
          "traits": {
            "smithy.api#documentation": "PublicDatabase object { database, host, password, 3 more }",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.hyperdrive#ConfigsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hyperdrive#ConfigsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.hyperdrive#ConfigsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/hyperdrive/configs",
          "code": 200
        },
        "smithy.api#documentation": "Creates and returns a new Hyperdrive configuration."
      }
    },
    "com.cloudflare.hyperdrive#ConfigsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hyperdrive_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hyperdrive#ConfigsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.hyperdrive#ConfigsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes the specified Hyperdrive.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false."
          }
        },
        "disabled_2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false.",
            "smithy.api#jsonName": "disabled"
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the maximum duration (in seconds) items should persist in the cache. Defaults to 60 seconds if not specified."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the number of seconds the cache may serve a stale response. Defaults to 15 seconds if not specified."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to ‘require’, ‘verify-ca’, or ‘verify-full’ to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequestScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hyperdrive_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditRequestCaching",
          "traits": {
            "smithy.api#documentation": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditRequestMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API."
          }
        },
        "origin": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Connect to a database through a Workers VPC Service. TLS settings (mTLS, sslmode) cannot be configured on the Hyperdrive when using a VPC Service origin; TLS must be managed on the VPC Service itself."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value."
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditRequestScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database."
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "host_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "host"
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOriginScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOriginScheme2": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOriginScheme3": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOriginCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false."
          }
        },
        "disabled_2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false.",
            "smithy.api#jsonName": "disabled"
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the maximum duration (in seconds) items should persist in the cache. Defaults to 60 seconds if not specified."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the number of seconds the cache may serve a stale response. Defaults to 15 seconds if not specified."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOriginMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to ‘require’, ‘verify-ca’, or ‘verify-full’ to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponseOrigin": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseOriginScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "host_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "host"
          }
        },
        "password_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_2": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseOriginScheme2",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "user_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "database_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "password_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_3": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseOriginScheme3",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseOriginCaching",
          "traits": {
            "smithy.api#documentation": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the creation time of the Hyperdrive configuration."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last modified time of the Hyperdrive configuration."
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseOriginMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        },
        "restarted_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last time the Hyperdrive connection pool was explicitly restarted via the restart endpoint. Omitted if the pool has never been explicitly restarted."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsEditResponseOrigin",
          "traits": {
            "smithy.api#documentation": "PublicDatabase object { database, host, password, 3 more }",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.hyperdrive#ConfigsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hyperdrive#ConfigsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.hyperdrive#ConfigsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates and returns the specified fields of the Hyperdrive configuration. Custom caching settings are not kept if caching is disabled."
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hyperdrive_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOriginScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOriginScheme2": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOriginScheme3": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOriginCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false."
          }
        },
        "disabled_2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false.",
            "smithy.api#jsonName": "disabled"
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the maximum duration (in seconds) items should persist in the cache. Defaults to 60 seconds if not specified."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the number of seconds the cache may serve a stale response. Defaults to 15 seconds if not specified."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOriginMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to ‘require’, ‘verify-ca’, or ‘verify-full’ to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponseOrigin": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseOriginScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "host_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "host"
          }
        },
        "password_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_2": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseOriginScheme2",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "user_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "database_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "password_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_3": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseOriginScheme3",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseOriginCaching",
          "traits": {
            "smithy.api#documentation": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the creation time of the Hyperdrive configuration."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last modified time of the Hyperdrive configuration."
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseOriginMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        },
        "restarted_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last time the Hyperdrive connection pool was explicitly restarted via the restart endpoint. Omitted if the pool has never been explicitly restarted."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsGetResponseOrigin",
          "traits": {
            "smithy.api#documentation": "PublicDatabase object { database, host, password, 3 more }",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.hyperdrive#ConfigsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hyperdrive#ConfigsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.hyperdrive#ConfigsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the specified Hyperdrive configuration.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOriginScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOriginScheme2": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOriginScheme3": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOriginCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false."
          }
        },
        "disabled_2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false.",
            "smithy.api#jsonName": "disabled"
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the maximum duration (in seconds) items should persist in the cache. Defaults to 60 seconds if not specified."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the number of seconds the cache may serve a stale response. Defaults to 15 seconds if not specified."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOriginMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to ‘require’, ‘verify-ca’, or ‘verify-full’ to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItemOrigin": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOriginScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "host_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "host"
          }
        },
        "password_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_2": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOriginScheme2",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "user_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "database_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "password_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_3": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOriginScheme3",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOriginCaching",
          "traits": {
            "smithy.api#documentation": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the creation time of the Hyperdrive configuration."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last modified time of the Hyperdrive configuration."
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOriginMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        },
        "restarted_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last time the Hyperdrive connection pool was explicitly restarted via the restart endpoint. Omitted if the pool has never been explicitly restarted."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultItemOrigin",
          "traits": {
            "smithy.api#documentation": "PublicDatabase object { database, host, password, 3 more }",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.hyperdrive#ConfigsListResultItem"
      }
    },
    "com.cloudflare.hyperdrive#ConfigsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.hyperdrive#ConfigsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hyperdrive#ConfigsListRequest"
      },
      "output": {
        "target": "com.cloudflare.hyperdrive#ConfigsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/hyperdrive/configs",
          "code": 200
        },
        "smithy.api#documentation": "Returns a list of Hyperdrives.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginScheme2": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginScheme3": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false."
          }
        },
        "disabled_2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false.",
            "smithy.api#jsonName": "disabled"
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the maximum duration (in seconds) items should persist in the cache. Defaults to 60 seconds if not specified."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the number of seconds the cache may serve a stale response. Defaults to 15 seconds if not specified."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to ‘require’, ‘verify-ca’, or ‘verify-full’ to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequestOrigin": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "host_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "host"
          }
        },
        "password_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_2": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginScheme2",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "user_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "database_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "password_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_3": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginScheme3",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginCaching",
          "traits": {
            "smithy.api#documentation": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestOriginMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hyperdrive_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequestOrigin",
          "traits": {
            "smithy.api#documentation": "PublicDatabase object { database, host, password, 3 more }",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponseOriginScheme": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponseOriginScheme2": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponseOriginScheme3": {
      "type": "enum",
      "members": {
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgres"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponseOriginCaching": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false."
          }
        },
        "disabled_2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to disable caching of SQL responses. Default is false.",
            "smithy.api#jsonName": "disabled"
          }
        },
        "max_age": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the maximum duration (in seconds) items should persist in the cache. Defaults to 60 seconds if not specified."
          }
        },
        "stale_while_revalidate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the number of seconds the cache may serve a stale response. Defaults to 15 seconds if not specified."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponseOriginMtls": {
      "type": "structure",
      "members": {
        "ca_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define CA certificate ID obtained after uploading CA cert."
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define mTLS certificate ID obtained after uploading client cert."
          }
        },
        "sslmode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set SSL mode to ‘require’, ‘verify-ca’, or ‘verify-full’ to verify the CA."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponseOrigin": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines the port of your origin database. Defaults to 5432 for PostgreSQL or 3306 for MySQL if not specified.",
            "smithy.api#required": {}
          }
        },
        "scheme": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateResponseOriginScheme",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client ID of the Access token to use when connecting to the origin database.",
            "smithy.api#required": {}
          }
        },
        "access_client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the Client Secret of the Access Token to use when connecting to the origin database. The API never returns this write-only value.",
            "smithy.api#required": {}
          }
        },
        "database_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "host_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the host (hostname or IP) of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "host"
          }
        },
        "password_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_2": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateResponseOriginScheme2",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "user_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "database_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "database"
          }
        },
        "password_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the password needed to access your origin database. The API never returns this write-only value.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "password"
          }
        },
        "scheme_3": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateResponseOriginScheme3",
          "traits": {
            "smithy.api#documentation": "Specifies the URL scheme used to connect to your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "scheme"
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Workers VPC Service to connect through. Hyperdrive will egress through the specified VPC Service to reach the origin database.",
            "smithy.api#required": {}
          }
        },
        "user_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the user of your origin database.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "user"
          }
        },
        "caching": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateResponseOriginCaching",
          "traits": {
            "smithy.api#documentation": "HyperdriveHyperdriveCachingCommon object { disabled }"
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the creation time of the Hyperdrive configuration."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last modified time of the Hyperdrive configuration."
          }
        },
        "mtls": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateResponseOriginMtls",
          "traits": {
            "smithy.api#documentation": "mTLS configuration for the origin connection. Cannot be used with VPC Service origins; TLS must be managed on the VPC Service."
          }
        },
        "origin_connection_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The (soft) maximum number of connections the Hyperdrive is allowed to make to the origin database."
          }
        },
        "restarted_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the last time the Hyperdrive connection pool was explicitly restarted via the restart endpoint. Omitted if the pool has never been explicitly restarted."
          }
        }
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define configurations using a unique string identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Hyperdrive configuration. Used to identify the configuration in the Cloudflare dashboard and API.",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdateResponseOrigin",
          "traits": {
            "smithy.api#documentation": "PublicDatabase object { database, host, password, 3 more }",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.hyperdrive#ConfigsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.hyperdrive#ConfigsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.hyperdrive#ConfigsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}",
          "code": 200
        },
        "smithy.api#documentation": "Replaces and returns the specified Hyperdrive configuration. The request must include the name and complete origin connection details. Omitted caching settings are reset to their defaults, while omitted mTLS settings and origin connection limits are preserved. Use the update operation to modify only selected fields.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.hyperdrive#Hyperdrive": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.hyperdrive#ConfigsCreate"
        },
        {
          "target": "com.cloudflare.hyperdrive#ConfigsDelete"
        },
        {
          "target": "com.cloudflare.hyperdrive#ConfigsEdit"
        },
        {
          "target": "com.cloudflare.hyperdrive#ConfigsGet"
        },
        {
          "target": "com.cloudflare.hyperdrive#ConfigsList"
        },
        {
          "target": "com.cloudflare.hyperdrive#ConfigsUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Hyperdrive",
        "smithy.api#documentation": "Cloudflare API — hyperdrive resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
