{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "expirationTtl": "expiration_ttl",
      "perPage": "per_page",
      "resultInfo": "result_info",
      "successfulKeyCount": "successful_key_count",
      "supportsUrlEncoding": "supports_url_encoding",
      "totalCount": "total_count",
      "unsuccessfulKeys": "unsuccessful_keys"
    },
    "opAliases": [
      {
        "alias": "bulkDeleteNamespaceKeys",
        "target": "bulkDeleteNamespaces"
      },
      {
        "alias": "bulkGetNamespaceKeys",
        "target": "bulkGetNamespaces"
      },
      {
        "alias": "bulkPutNamespaceKeys",
        "target": "bulkPutNamespaces"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.kv#NamespacesBulkDeleteRequestBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#NamespacesBulkDeleteResponseUnsuccessfulKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetRequestKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetRequestType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultValuesCase3Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultValues": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Double": {
          "target": "smithy.api#Double"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        },
        "NamespacesBulkGetResultWorkersKVBulkGetResultValuesCase3Map": {
          "target": "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultValuesCase3Map"
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResult": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultValues",
          "traits": {
            "smithy.api#documentation": "Requested keys are paired with their values in an object."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultWithMetadataValuesValue": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The metadata associated with the key.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The value associated with the key.",
            "smithy.api#required": {}
          }
        },
        "expiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expires the key at a certain time, measured in number of seconds since the UNIX epoch."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultWithMetadataValuesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultWithMetadataValuesValue"
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultWithMetadata": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultWithMetadataValuesMap",
          "traits": {
            "smithy.api#documentation": "Requested keys are paired with their values and metadata in an object."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkGetResult": {
      "type": "union",
      "members": {
        "WorkersKVBulkGetResult": {
          "target": "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResult"
        },
        "WorkersKVBulkGetResultWithMetadata": {
          "target": "com.cloudflare.kv#NamespacesBulkGetResultWorkersKVBulkGetResultWithMetadata"
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkUpdateRequestBodyItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UTF-8 encoded string to be stored, up to 25 MiB in length.",
            "smithy.api#required": {}
          }
        },
        "base64": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not the server should base64 decode the value before storing it. Useful for writing values that wouldn't otherwise be valid JSON strings, such as images."
          }
        },
        "expiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expires the key at a certain time, measured in number of seconds since the UNIX epoch."
          }
        },
        "expiration_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expires the key after a number of seconds. Must be at least 60."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Arbitrary JSON that is associated with a key."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesBulkUpdateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.kv#NamespacesBulkUpdateRequestBodyItem"
      }
    },
    "com.cloudflare.kv#NamespacesBulkUpdateResponseUnsuccessfulKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#NamespacesListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesListRequestOrder": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "title"
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable string name for a Namespace.",
            "smithy.api#required": {}
          }
        },
        "supports_url_encoding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if keys written on the URL will be URL-decoded before storing. For example, if set to \"true\", a key written on the URL as \"%3F\" will be stored as \"?\"."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.kv#NamespacesListResultItem"
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkDeleteRequestBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#DeleteNamespaceKeyBulkRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkDeleteRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkDeleteResponseUnsuccessfulKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#DeleteNamespaceKeyBulkResponse": {
      "type": "structure",
      "members": {
        "successful_key_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of keys successfully updated."
          }
        },
        "unsuccessful_keys": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkDeleteResponseUnsuccessfulKeysList",
          "traits": {
            "smithy.api#documentation": "Name of the keys that failed to be fully updated. They should be retried."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#DeleteNamespaceKeyBulk": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#DeleteNamespaceKeyBulkRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#DeleteNamespaceKeyBulkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/bulk/delete",
          "code": 200
        },
        "smithy.api#documentation": "Remove multiple KV pairs from the namespace. Body should be an array of up to 10,000 keys to be removed."
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidRequestBody"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetRequestKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetRequestType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.kv#GetNamespaceKeyBulkRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetRequestKeysList",
          "traits": {
            "smithy.api#documentation": "Array of keys to retrieve (maximum of 100).",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetRequestType",
          "traits": {
            "smithy.api#documentation": "Whether to parse JSON values in the response."
          }
        },
        "withMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include metadata in the response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultValuesCase3Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultValues": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Double": {
          "target": "smithy.api#Double"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        },
        "NamespacesKeysBulkGetResultWorkersKVBulkGetResultValuesCase3Map": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultValuesCase3Map"
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResult": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultValues",
          "traits": {
            "smithy.api#documentation": "Requested keys are paired with their values in an object."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultWithMetadataValuesValue": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The metadata associated with the key.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The value associated with the key.",
            "smithy.api#required": {}
          }
        },
        "expiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expires the key at a certain time, measured in number of seconds since the UNIX epoch."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultWithMetadataValuesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultWithMetadataValuesValue"
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultWithMetadata": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultWithMetadataValuesMap",
          "traits": {
            "smithy.api#documentation": "Requested keys are paired with their values and metadata in an object."
          }
        }
      }
    },
    "com.cloudflare.kv#GetNamespaceKeyBulkResult": {
      "type": "union",
      "members": {
        "WorkersKVBulkGetResult": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResult"
        },
        "WorkersKVBulkGetResultWithMetadata": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkGetResultWorkersKVBulkGetResultWithMetadata"
        }
      }
    },
    "com.cloudflare.kv#GetNamespaceKeyBulkResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.kv#GetNamespaceKeyBulkResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.kv#GetNamespaceKeyBulk": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#GetNamespaceKeyBulkRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#GetNamespaceKeyBulkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/bulk/get",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve up to 100 KV pairs from the namespace. Keys must contain text-based values. JSON values can optionally be parsed instead of being returned as a string value. Metadata can be included if `withMetadata` is true."
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#InvalidRequestBody"
        },
        {
          "target": "com.cloudflare.kv#MinimumKeysRequired"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#NamespacesKeysBulkUpdateRequestBodyItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UTF-8 encoded string to be stored, up to 25 MiB in length.",
            "smithy.api#required": {}
          }
        },
        "base64": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not the server should base64 decode the value before storing it. Useful for writing values that wouldn't otherwise be valid JSON strings, such as images."
          }
        },
        "expiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expires the key at a certain time, measured in number of seconds since the UNIX epoch."
          }
        },
        "expiration_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expires the key after a number of seconds. Must be at least 60."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Arbitrary JSON that is associated with a key."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkUpdateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.kv#NamespacesKeysBulkUpdateRequestBodyItem"
      }
    },
    "com.cloudflare.kv#UpdateNamespaceKeyBulkRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkUpdateRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#NamespacesKeysBulkUpdateResponseUnsuccessfulKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.kv#UpdateNamespaceKeyBulkResponse": {
      "type": "structure",
      "members": {
        "successful_key_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of keys successfully updated."
          }
        },
        "unsuccessful_keys": {
          "target": "com.cloudflare.kv#NamespacesKeysBulkUpdateResponseUnsuccessfulKeysList",
          "traits": {
            "smithy.api#documentation": "Name of the keys that failed to be fully updated. They should be retried."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#UpdateNamespaceKeyBulk": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#UpdateNamespaceKeyBulkRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#UpdateNamespaceKeyBulkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/bulk",
          "code": 200
        },
        "smithy.api#documentation": "Write multiple keys and values at once. Body should be an array of up to 10,000 key-value pairs to be stored, along with optional expiration information. Existing values and expirations will be overwritten. If neither `expiration` nor `expiration_ttl` is specified, the key-value pair will never expire. If both are set, `expiration_ttl` is used and `expiration` is ignored. The entire request size must be 100 megabytes or less.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#InvalidRequestBody"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#NamespacesKeysListResultItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid. Use percent-encoding to define key names as part of a URL.",
            "smithy.api#required": {}
          }
        },
        "expiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time, measured in number of seconds since the UNIX epoch, at which the key will expire. This property is omitted for keys that will not expire."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Arbitrary JSON that is associated with a key."
          }
        }
      }
    },
    "com.cloudflare.kv#NamespacesKeysListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.kv#NamespacesKeysListResultItem"
      }
    },
    "com.cloudflare.kv#Kv": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.kv#NamespacesBulkDelete"
        },
        {
          "target": "com.cloudflare.kv#NamespacesBulkGet"
        },
        {
          "target": "com.cloudflare.kv#NamespacesBulkUpdate"
        },
        {
          "target": "com.cloudflare.kv#NamespacesCreate"
        },
        {
          "target": "com.cloudflare.kv#NamespacesDelete"
        },
        {
          "target": "com.cloudflare.kv#NamespacesGet"
        },
        {
          "target": "com.cloudflare.kv#NamespacesList"
        },
        {
          "target": "com.cloudflare.kv#NamespacesUpdate"
        },
        {
          "target": "com.cloudflare.kv#DeleteNamespaceKeyBulk"
        },
        {
          "target": "com.cloudflare.kv#GetNamespaceKeyBulk"
        },
        {
          "target": "com.cloudflare.kv#UpdateNamespaceKeyBulk"
        },
        {
          "target": "com.cloudflare.kv#NamespacesKeysList"
        },
        {
          "target": "com.cloudflare.kv#NamespacesMetadataGet"
        },
        {
          "target": "com.cloudflare.kv#NamespacesValuesDelete"
        },
        {
          "target": "com.cloudflare.kv#NamespacesValuesGet"
        },
        {
          "target": "com.cloudflare.kv#NamespacesValuesUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Kv",
        "smithy.api#documentation": "Cloudflare API — kv resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.kv#InvalidExpirationTtl": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10034
          }
        ]
      }
    },
    "com.cloudflare.kv#InvalidObjectIdentifier": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 7003
          }
        ]
      }
    },
    "com.cloudflare.kv#InvalidRequestBody": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10012
          }
        ]
      }
    },
    "com.cloudflare.kv#KeyNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10009
          }
        ]
      }
    },
    "com.cloudflare.kv#MethodNotAllowed": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10405,
            "message": {
              "includes": "not allowed"
            }
          },
          {
            "code": 10000,
            "message": {
              "includes": "not allowed"
            }
          }
        ]
      }
    },
    "com.cloudflare.kv#MinimumKeysRequired": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10029
          }
        ]
      }
    },
    "com.cloudflare.kv#NamespaceNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10013
          }
        ]
      }
    },
    "com.cloudflare.kv#NamespaceTitleAlreadyExists": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10014
          }
        ]
      }
    },
    "com.cloudflare.kv#TitleRequired": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 10019
          }
        ]
      }
    },
    "com.cloudflare.kv#DeleteBulkNamespace": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#DeleteBulkNamespaceRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#DeleteBulkNamespaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/bulk/delete",
          "code": 200
        },
        "smithy.api#documentation": "Remove multiple KV pairs from the namespace. Body should be an array of up to 10,000 keys to be removed."
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidRequestBody"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#DeleteBulkNamespaceRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.kv#NamespacesBulkDeleteRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#DeleteBulkNamespaceResponse": {
      "type": "structure",
      "members": {
        "successful_key_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of keys successfully updated."
          }
        },
        "unsuccessful_keys": {
          "target": "com.cloudflare.kv#NamespacesBulkDeleteResponseUnsuccessfulKeysList",
          "traits": {
            "smithy.api#documentation": "Name of the keys that failed to be fully updated. They should be retried."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#GetBulkNamespace": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#GetBulkNamespaceRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#GetBulkNamespaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/bulk/get",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve up to 100 KV pairs from the namespace. Keys must contain text-based values. JSON values can optionally be parsed instead of being returned as a string value. Metadata can be included if `withMetadata` is true."
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#InvalidRequestBody"
        },
        {
          "target": "com.cloudflare.kv#MinimumKeysRequired"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#GetBulkNamespaceRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.cloudflare.kv#NamespacesBulkGetRequestKeysList",
          "traits": {
            "smithy.api#documentation": "Array of keys to retrieve (maximum of 100).",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.kv#NamespacesBulkGetRequestType",
          "traits": {
            "smithy.api#documentation": "Whether to parse JSON values in the response."
          }
        },
        "withMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include metadata in the response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#GetBulkNamespaceResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.kv#NamespacesBulkGetResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.kv#BulkPutNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#BulkPutNamespacesRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#BulkPutNamespacesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/bulk",
          "code": 200
        },
        "smithy.api#documentation": "Write multiple keys and values at once. Body should be an array of up to 10,000 key-value pairs to be stored, along with optional expiration information. Existing values and expirations will be overwritten. If neither `expiration` nor `expiration_ttl` is specified, the key-value pair will never expire. If both are set, `expiration_ttl` is used and `expiration` is ignored. The entire request size must be 100 megabytes or less.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#InvalidRequestBody"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#BulkPutNamespacesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.kv#NamespacesBulkUpdateRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#BulkPutNamespacesResponse": {
      "type": "structure",
      "members": {
        "successful_key_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of keys successfully updated."
          }
        },
        "unsuccessful_keys": {
          "target": "com.cloudflare.kv#NamespacesBulkUpdateResponseUnsuccessfulKeysList",
          "traits": {
            "smithy.api#documentation": "Name of the keys that failed to be fully updated. They should be retried."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#CreateNamespace": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#CreateNamespaceRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#CreateNamespaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/storage/kv/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "Creates a namespace under the given title. A `400` is returned if the account already owns a namespace with this title. A namespace must be explicitly deleted to be replaced."
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#TitleRequired"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        },
        {
          "target": "com.cloudflare.kv#NamespaceTitleAlreadyExists"
        }
      ]
    },
    "com.cloudflare.kv#CreateNamespaceRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable string name for a Namespace.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#CreateNamespaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable string name for a Namespace.",
            "smithy.api#required": {}
          }
        },
        "supports_url_encoding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if keys written on the URL will be URL-decoded before storing. For example, if set to \"true\", a key written on the URL as \"%3F\" will be stored as \"?\"."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#DeleteNamespace": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#DeleteNamespaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes the namespace corresponding to the given ID.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#MethodNotAllowed"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#DeleteNamespaceRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#DeleteNamespaceValue": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#DeleteNamespaceValueRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/values/{key_name}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a KV pair from the namespace. Use URL-encoding to use special characters (for example, `:`, `!`, `%`) in the key name.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#DeleteNamespaceValueRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "key_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid. Use percent-encoding to define key names as part of a URL.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#GetNamespace": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#GetNamespaceRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#GetNamespaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get the namespace corresponding to the given ID.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#GetNamespaceRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#GetNamespaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable string name for a Namespace.",
            "smithy.api#required": {}
          }
        },
        "supports_url_encoding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if keys written on the URL will be URL-decoded before storing. For example, if set to \"true\", a key written on the URL as \"%3F\" will be stored as \"?\"."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#GetNamespaceMetadata": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#GetNamespaceMetadataRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#GetNamespaceMetadataResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/metadata/{key_name}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the metadata associated with the given key in the given namespace. Use URL-encoding to use special characters (for example, `:`, `!`, `%`) in the key name.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#KeyNotFound"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#GetNamespaceMetadataRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "key_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid. Use percent-encoding to define key names as part of a URL.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#GetNamespaceMetadataResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.kv#GetNamespaceValue": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#GetNamespaceValueRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#GetNamespaceValueResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/values/{key_name}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the value associated with the given key in the given namespace. Use URL-encoding to use special characters (for example, `:`, `!`, `%`) in the key name. If the KV-pair is set to expire at some point, the expiration time as measured in seconds since the UNIX epoch will be returned in the `expiration` response header.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#KeyNotFound"
        },
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        }
      ]
    },
    "com.cloudflare.kv#GetNamespaceValueRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "key_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid. Use percent-encoding to define key names as part of a URL.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#ListNamespaceKeys": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#ListNamespaceKeysRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#ListNamespaceKeysResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/keys",
          "code": 200
        },
        "smithy.api#documentation": "Lists a namespace's keys.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "resultInfo.cursor",
          "items": "result",
          "pageSize": "limit"
        }
      }
    },
    "com.cloudflare.kv#ListNamespaceKeysRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque token indicating the position from which to continue when requesting the next set of records if the amount of list results was limited by the limit parameter. A valid value for the cursor can be obtained from the `cursors` object in the `result_info` structure.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limits the number of keys returned in the response. The cursor attribute may be used to iterate over the next batch of keys if there are more than the limit.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters returned keys by a name prefix. Exact matches and any key names that begin with the prefix will be returned.",
            "smithy.api#httpQuery": "prefix"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#ListNamespaceKeysResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.kv#NamespacesKeysListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.kv#ListNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#ListNamespacesRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#ListNamespacesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/storage/kv/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "Returns the namespaces owned by an account.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "resultInfo.page",
          "items": "result",
          "pageSize": "perPage"
        }
      }
    },
    "com.cloudflare.kv#ListNamespacesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.kv#NamespacesListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order namespaces.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "order": {
          "target": "com.cloudflare.kv#NamespacesListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Field to order results by.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#ListNamespacesResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.kv#NamespacesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.kv#PutNamespaceValue": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#PutNamespaceValueRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/values/{key_name}",
          "code": 200,
          "contentType": "multipart"
        },
        "smithy.api#documentation": "Write a value identified by a key. Use URL-encoding to use special characters (for example, `:`, `!`, `%`) in the key name. Body should be the value to be stored. If JSON metadata to be associated with the key/value pair is needed, use `multipart/form-data` content type for your PUT request (see dropdown below in `REQUEST BODY SCHEMA`). Existing values, expirations, and metadata will be overwritten. If neither `expiration` nor `expiration_ttl` is specified, the key-value pair will never expire. If both are set, `expiration_ttl` is used and `expiration` is ignored.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        },
        {
          "target": "com.cloudflare.kv#InvalidExpirationTtl"
        }
      ]
    },
    "com.cloudflare.kv#PutNamespaceValueRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "key_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A key's name. The name may be at most 512 bytes. All printable, non-whitespace characters are valid. Use percent-encoding to define key names as part of a URL.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expires the key at a certain time, measured in number of seconds since the UNIX epoch.",
            "smithy.api#httpQuery": "expiration"
          }
        },
        "expiration_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expires the key after a number of seconds. Must be at least 60.",
            "smithy.api#httpQuery": "expiration_ttl"
          }
        },
        "value": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "A byte sequence to be stored, up to 25 MiB in length."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Associates arbitrary JSON data with a key/value pair."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#UpdateNamespace": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.kv#UpdateNamespaceRequest"
      },
      "output": {
        "target": "com.cloudflare.kv#UpdateNamespaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}",
          "code": 200
        },
        "smithy.api#documentation": "Modifies a namespace's title.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.kv#NamespaceNotFound"
        },
        {
          "target": "com.cloudflare.kv#TitleRequired"
        },
        {
          "target": "com.cloudflare.kv#InvalidObjectIdentifier"
        },
        {
          "target": "com.cloudflare.kv#NamespaceTitleAlreadyExists"
        }
      ]
    },
    "com.cloudflare.kv#UpdateNamespaceRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable string name for a Namespace.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.kv#UpdateNamespaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable string name for a Namespace.",
            "smithy.api#required": {}
          }
        },
        "supports_url_encoding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if keys written on the URL will be URL-decoded before storing. For example, if set to \"true\", a key written on the URL as \"%3F\" will be stored as \"?\"."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.kv#GetNamespaceValueResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.cloudflare.protocols#binaryResponseBody": {},
            "smithy.api#documentation": "Raw value body as an Effect Stream."
          }
        },
        "expiration": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#httpHeader": "expiration",
            "smithy.api#documentation": "Expiration time of the KV pair, seconds since the UNIX epoch (set when the pair is set to expire)."
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "content-type",
            "smithy.api#documentation": "MIME type the value was stored with."
          }
        }
      }
    }
  }
}
