{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.leaked_credential_checks#DetectionsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.leaked_credential_checks#DetectionsListResultItem"
      }
    },
    "com.cloudflare.leaked_credential_checks#LeakedCredentialChecks": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.leaked_credential_checks#Create"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#Get"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionsCreate"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionsDelete"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionsGet"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionsList"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionsUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare LeakedCredentialChecks",
        "smithy.api#documentation": "Cloudflare API — leaked_credential_checks resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 11002
          }
        ]
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionQuotaExceeded": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 50001
          }
        ]
      }
    },
    "com.cloudflare.leaked_credential_checks#Forbidden": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.cloudflare.leaked_credential_checks#LeakedCredentialChecksDisabled": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 11001
          }
        ]
      }
    },
    "com.cloudflare.leaked_credential_checks#CreateDetection": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#CreateDetectionRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#CreateDetectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections",
          "code": 200
        },
        "smithy.api#documentation": "Create user-defined detection pattern for Leaked Credential Checks."
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionQuotaExceeded"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#LeakedCredentialChecksDisabled"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#CreateDetectionRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#CreateDetectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.leaked_credential_checks#CreateLeakedCredentialCheck": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#CreateLeakedCredentialCheckRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#CreateLeakedCredentialCheckResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/leaked-credential-checks",
          "code": 200
        },
        "smithy.api#documentation": "Updates the current status of Leaked Credential Checks."
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#CreateLeakedCredentialCheckRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether or not Leaked Credential Checks are enabled."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#CreateLeakedCredentialCheckResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether or not Leaked Credential Checks are enabled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.leaked_credential_checks#DeleteDetection": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#DeleteDetectionRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#DeleteDetectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections/{detection_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove user-defined detection pattern for Leaked Credential Checks.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionNotFound"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#LeakedCredentialChecksDisabled"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#DeleteDetectionRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "detection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#DeleteDetectionResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#GetDetection": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#GetDetectionRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#GetDetectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections/{detection_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get user-defined detection pattern for Leaked Credential Checks.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionNotFound"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#LeakedCredentialChecksDisabled"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#GetDetectionRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "detection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#GetDetectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.leaked_credential_checks#GetLeakedCredentialCheck": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#GetLeakedCredentialCheckRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#GetLeakedCredentialCheckResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/leaked-credential-checks",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves the current status of Leaked Credential Checks.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#GetLeakedCredentialCheckRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#GetLeakedCredentialCheckResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether or not Leaked Credential Checks are enabled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.leaked_credential_checks#ListDetections": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#ListDetectionsRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#ListDetectionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections",
          "code": 200
        },
        "smithy.api#documentation": "List user-defined detection patterns for Leaked Credential Checks.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#LeakedCredentialChecksDisabled"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#ListDetectionsRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#ListDetectionsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.leaked_credential_checks#DetectionsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#UpdateDetection": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#UpdateDetectionRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#UpdateDetectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections/{detection_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update user-defined detection pattern for Leaked Credential Checks.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionNotFound"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#LeakedCredentialChecksDisabled"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#Forbidden"
        }
      ]
    },
    "com.cloudflare.leaked_credential_checks#UpdateDetectionRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "detection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#UpdateDetectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    }
  }
}
