{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.load_balancers#CreateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseAdaptiveRouting": {
      "type": "structure",
      "members": {
        "failover_across_pools": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Extends zero-downtime failover of requests to healthy origins from alternate pools, when no healthy alternate exists in the same pool, according to the failover order defined by traffic and origin steering. When set false (the default) zero-downtime failover will only occur between origins within the same pool. See session_affinity_attributes for control over when sessions are broken or reassigned."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseDefaultPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseLocationStrategyMode": {
      "type": "enum",
      "members": {
        "POP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pop"
          }
        },
        "RESOLVER_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolver_ip"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseLocationStrategyPreferEcs": {
      "type": "enum",
      "members": {
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        },
        "PROXIMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proximity"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseLocationStrategy": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseLocationStrategyMode",
          "traits": {
            "smithy.api#documentation": "Determines the authoritative location when ECS is not preferred, does not exist in the request, or its GeoIP lookup is unsuccessful. \"pop\" : Use the Cloudflare PoP location. \"resolver_ip\" : Use the DNS resolver GeoIP location. If the GeoIP lookup is unsuccessful, use the Cloudflare PoP location."
          }
        },
        "prefer_ecs": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseLocationStrategyPreferEcs",
          "traits": {
            "smithy.api#documentation": "Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as the authoritative location. \"always\" : Always prefer ECS. \"never\" : Never prefer ECS. \"proximity\" : Prefer ECS only when steering_policy=\"proximity\" . \"geo\" : Prefer ECS only when steering_policy=\"geo\" ."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemFixedResponse": {
      "type": "structure",
      "members": {
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http ‘Content-Type’ header to include in the response."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http ‘Location’ header to include in the response."
          }
        },
        "message_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to include as the http body."
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The http status code to respond with."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemMatchTopologyCountriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemMatchTopologyPopsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemMatchTopologyRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemMatchTopology": {
      "type": "structure",
      "members": {
        "countries": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemMatchTopologyCountriesList",
          "traits": {
            "smithy.api#documentation": "A list of ISO 3166-1 alpha-2 country codes. Matches when the request’s country is in this list."
          }
        },
        "pops": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemMatchTopologyPopsList",
          "traits": {
            "smithy.api#documentation": "A list of Cloudflare PoP codes. Matches when the request’s PoP is in this list."
          }
        },
        "regions": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemMatchTopologyRegionsList",
          "traits": {
            "smithy.api#documentation": "A list of Cloudflare region codes (e.g. WNAM , ENAM , WEU ). Matches when the request’s region is in this list."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemMatch": {
      "type": "structure",
      "members": {
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, matches every request. Cannot be combined with topology ."
          }
        },
        "topology": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemMatchTopology",
          "traits": {
            "smithy.api#documentation": "Matches requests by location. Set any combination of pops , countries , and regions (at least one is required); a request matches when its value appears in any populated list (e.g. regions: [\"WNAM\"] with countries: [\"US\"] matches a request in either WNAM or the US)."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemOverridesPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemOverrides": {
      "type": "structure",
      "members": {
        "fallback_pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pool ID to use when all other pools are detected as unhealthy."
          }
        },
        "pool_default_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The default weight for pools not listed in pool_weights . The declarative alternative to random_steering.default_weight ; mutually exclusive with random_steering ."
          }
        },
        "pool_weights": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of pool IDs to custom weights, relative to the other pools. The declarative alternative to random_steering.pool_weights ; mutually exclusive with random_steering ."
          }
        },
        "pools": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemOverridesPoolsList",
          "traits": {
            "smithy.api#documentation": "A flat, ordered list of pool IDs to route the matched audience to. Replaces the resolved topology with exactly these pools. Mutually exclusive with fixed_response ."
          }
        },
        "steering_policy": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Steering Policy for this load balancer. \"off\" : Use default_pools . \"geo\" : Use region_pools / country_pools / pop_pools . For non-proxied requests, the country for country_pools is determined by location_strategy . \"random\" : Select a pool randomly. \"dynamic_latency\" : Use round trip time to select the closest pool in default_pools (requires pool health checks). \"proximity\" : Use the pools’ latitude and longitude to select the closest pool using the Cloudflare PoP location for proxied requests or the location determined by location_strategy for non-proxied requests. \"least_outstanding_requests\" : Select a pool by taking into consideration random_steering weights, as well as each pool’s number of outstanding requests. Pools with more pending requests are weighted proportionately less relative to others. \"least_connections\" : Select a pool by taking into consideration random_steering weights, as well as each pool’s number of open connections. Pools with more open connections are weighted proportionately less relative to others. Supported for HTTP/1 and HTTP/2 connections. \"\" : Will map to \"geo\" if you use region_pools / country_pools / pop_pools otherwise \"off\" ."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItem": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable this specific pool set. It will no longer be evaluated."
          }
        },
        "fixed_response": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemFixedResponse",
          "traits": {
            "smithy.api#documentation": "A collection of fields used to directly respond to the client instead of routing to a pool. When supplied on a rule, that rule stops further rule evaluation."
          }
        },
        "match": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemMatch",
          "traits": {
            "smithy.api#documentation": "Determines which requests a pool set applies to. Set topology to match by location or default: true to match all requests; the two are mutually exclusive. A pool set with no match matches all requests."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable name for this pool set."
          }
        },
        "overrides": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItemOverrides",
          "traits": {
            "smithy.api#documentation": "The behavior a pool set applies when its match succeeds. A strict subset of a rule’s overrides : a pool set replaces the topology wholesale with a flat pool list ( pools ), so only the declarative pool-routing fields plus fallback_pool and steering_policy are settable. All fields are optional."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsItem"
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRandomSteering": {
      "type": "structure",
      "members": {
        "default_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The default weight for pools in the load balancer that are not specified in the pool_weights map."
          }
        },
        "pool_weights": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of pool IDs to custom weights. The weight is relative to other pools in the load balancer."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemFixedResponse": {
      "type": "structure",
      "members": {
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http ‘Content-Type’ header to include in the response."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http ‘Location’ header to include in the response."
          }
        },
        "message_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to include as the http body."
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The http status code to respond with."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesAdaptiveRouting": {
      "type": "structure",
      "members": {
        "failover_across_pools": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Extends zero-downtime failover of requests to healthy origins from alternate pools, when no healthy alternate exists in the same pool, according to the failover order defined by traffic and origin steering. When set false (the default) zero-downtime failover will only occur between origins within the same pool. See session_affinity_attributes for control over when sessions are broken or reassigned."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesDefaultPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesLocationStrategyMode": {
      "type": "enum",
      "members": {
        "POP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pop"
          }
        },
        "RESOLVER_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolver_ip"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesLocationStrategyPreferEcs": {
      "type": "enum",
      "members": {
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        },
        "PROXIMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proximity"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesLocationStrategy": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesLocationStrategyMode",
          "traits": {
            "smithy.api#documentation": "Determines the authoritative location when ECS is not preferred, does not exist in the request, or its GeoIP lookup is unsuccessful. \"pop\" : Use the Cloudflare PoP location. \"resolver_ip\" : Use the DNS resolver GeoIP location. If the GeoIP lookup is unsuccessful, use the Cloudflare PoP location."
          }
        },
        "prefer_ecs": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesLocationStrategyPreferEcs",
          "traits": {
            "smithy.api#documentation": "Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as the authoritative location. \"always\" : Always prefer ECS. \"never\" : Never prefer ECS. \"proximity\" : Prefer ECS only when steering_policy=\"proximity\" . \"geo\" : Prefer ECS only when steering_policy=\"geo\" ."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesRandomSteering": {
      "type": "structure",
      "members": {
        "default_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The default weight for pools in the load balancer that are not specified in the pool_weights map."
          }
        },
        "pool_weights": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of pool IDs to custom weights. The weight is relative to other pools in the load balancer."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesSessionAffinityAttributesHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesSessionAffinityAttributesSamesite": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesSessionAffinityAttributesSecure": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Never"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesSessionAffinityAttributesZeroDowntimeFailover": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "TEMPORARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "temporary"
          }
        },
        "STICKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sticky"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesSessionAffinityAttributes": {
      "type": "structure",
      "members": {
        "drain_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Configures the drain duration in seconds. This field is only used when session affinity is enabled on the load balancer."
          }
        },
        "headers": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesSessionAffinityAttributesHeadersList",
          "traits": {
            "smithy.api#documentation": "Configures the names of HTTP headers to base session affinity on when header session_affinity is enabled. At least one HTTP header name must be provided. To specify the exact cookies to be used, include an item in the following format: \"cookie:&#x3C;cookie-name-1>,&#x3C;cookie-name-2>\" (example) where everything after the colon is a comma-separated list of cookie names. Providing only \"cookie\" will result in all cookies being used. The default max number of HTTP header names that can be provided depends on your plan: 5 for Enterprise, 1 for all other plans."
          }
        },
        "require_all_headers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When header session_affinity is enabled, this option can be used to specify how HTTP headers on load balancing requests will be used. The supported values are: - \"true\" : Load balancing requests must contain all of the HTTP headers specified by the headers session affinity attribute, otherwise sessions aren’t created. - \"false\" : Load balancing requests must contain at least one of the HTTP headers specified by the headers session affinity attribute, otherwise sessions aren’t created."
          }
        },
        "samesite": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesSessionAffinityAttributesSamesite",
          "traits": {
            "smithy.api#documentation": "Configures the SameSite attribute on session affinity cookie. Value “Auto” will be translated to “Lax” or “None” depending if Always Use HTTPS is enabled. Note: when using value “None”, the secure attribute can not be set to “Never”."
          }
        },
        "secure": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesSessionAffinityAttributesSecure",
          "traits": {
            "smithy.api#documentation": "Configures the Secure attribute on session affinity cookie. Value “Always” indicates the Secure attribute will be set in the Set-Cookie header, “Never” indicates the Secure attribute will not be set, and “Auto” will set the Secure attribute depending if Always Use HTTPS is enabled."
          }
        },
        "zero_downtime_failover": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesSessionAffinityAttributesZeroDowntimeFailover",
          "traits": {
            "smithy.api#documentation": "Configures the zero-downtime failover between origins within a pool when session affinity is enabled. This feature is currently incompatible with Argo, Tiered Cache, and Bandwidth Alliance. The supported values are: - \"none\" : No failover takes place for sessions pinned to the origin (default). - \"temporary\" : Traffic will be sent to another other healthy origin until the originally pinned origin is available; note that this can potentially result in heavy origin flapping. - \"sticky\" : The session affinity cookie is updated and subsequent requests are sent to the new origin. Note: Zero-downtime failover with sticky sessions is currently not supported for session affinity by header."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverrides": {
      "type": "structure",
      "members": {
        "adaptive_routing": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesAdaptiveRouting",
          "traits": {
            "smithy.api#documentation": "Controls features that modify the routing of requests to pools and origins in response to dynamic conditions, such as during the interval between active health monitoring requests. For example, zero-downtime failover occurs immediately when an origin becomes unavailable due to HTTP 521, 522, or 523 response codes. If there is another healthy origin in the same pool, the request is retried once against this alternate origin."
          }
        },
        "country_pools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of country codes to a list of pool IDs (ordered by their failover priority) for the given country. Any country not explicitly defined will fall back to using the corresponding region_pool mapping if it exists else to default_pools."
          }
        },
        "default_pools": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesDefaultPoolsList",
          "traits": {
            "smithy.api#documentation": "A list of pool IDs ordered by their failover priority. Pools defined here are used by default, or when region_pools are not configured for a given region."
          }
        },
        "fallback_pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pool ID to use when all other pools are detected as unhealthy."
          }
        },
        "location_strategy": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesLocationStrategy",
          "traits": {
            "smithy.api#documentation": "Controls location-based steering for non-proxied requests. See steering_policy to learn how steering is affected."
          }
        },
        "pool_default_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The default weight for pools not listed in pool_weights . The declarative alternative to random_steering.default_weight ; mutually exclusive with random_steering ."
          }
        },
        "pool_weights": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of pool IDs to custom weights, relative to the other pools. The declarative alternative to random_steering.pool_weights ; mutually exclusive with random_steering ."
          }
        },
        "pools": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesPoolsList",
          "traits": {
            "smithy.api#documentation": "A flat, ordered list of pool IDs to route the matched audience to. Replaces the resolved topology with exactly these pools. Mutually exclusive with fixed_response ."
          }
        },
        "pop_pools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Enterprise only: A mapping of Cloudflare PoP identifiers to a list of pool IDs (ordered by their failover priority) for the PoP (datacenter). Any PoPs not explicitly defined will fall back to using the corresponding country_pool, then region_pool mapping if it exists else to default_pools."
          }
        },
        "random_steering": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesRandomSteering",
          "traits": {
            "smithy.api#documentation": "Configures pool weights. steering_policy=\"random\" : A random pool is selected with probability proportional to pool weights. steering_policy=\"least_outstanding_requests\" : Use pool weights to scale each pool’s outstanding requests. steering_policy=\"least_connections\" : Use pool weights to scale each pool’s open connections."
          }
        },
        "region_pools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of region codes to a list of pool IDs (ordered by their failover priority) for the given region. Any regions not explicitly defined will fall back to using default_pools."
          }
        },
        "session_affinity": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Specifies the type of session affinity the load balancer should use unless specified as \"none\" . The supported types are: - \"cookie\" : On the first request to a proxied load balancer, a cookie is generated, encoding information of which origin the request will be forwarded to. Subsequent requests, by the same client to the same load balancer, will be sent to the origin server the cookie encodes, for the duration of the cookie and as long as the origin server remains healthy. If the cookie has expired or the origin server is unhealthy, then a new origin server is calculated and used. - \"ip_cookie\" : Behaves the same as \"cookie\" except the initial origin selection is stable and based on the client’s ip address. - \"header\" : On the first request to a proxied load balancer, a session key based on the configured HTTP headers (see session_affinity_attributes.headers ) is generated, encoding the request headers used for storing in the load balancer session state which origin the request will be forwarded to. Subsequent requests to the load balancer with the same headers will be sent to the same origin server, for the duration of the session and as long as the origin server remains healthy. If the session has been idle for the duration of session_affinity_ttl seconds or the origin server is unhealthy, then a new origin server is calculated and used. See headers in session_affinity_attributes for additional required configuration."
          }
        },
        "session_affinity_attributes": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverridesSessionAffinityAttributes",
          "traits": {
            "smithy.api#documentation": "Configures attributes for session affinity."
          }
        },
        "session_affinity_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time, in seconds, until a client’s session expires after being created. Once the expiry time has been reached, subsequent requests may get sent to a different origin server. The accepted ranges per session_affinity policy are: - \"cookie\" / \"ip_cookie\" : The current default of 23 hours will be used unless explicitly set. The accepted range of values is between [1800, 604800]. - \"header\" : The current default of 1800 seconds will be used unless explicitly set. The accepted range of values is between [30, 3600]. Note: With session affinity by header, sessions only expire after they haven’t been used for the number of seconds specified."
          }
        },
        "steering_policy": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Steering Policy for this load balancer. \"off\" : Use default_pools . \"geo\" : Use region_pools / country_pools / pop_pools . For non-proxied requests, the country for country_pools is determined by location_strategy . \"random\" : Select a pool randomly. \"dynamic_latency\" : Use round trip time to select the closest pool in default_pools (requires pool health checks). \"proximity\" : Use the pools’ latitude and longitude to select the closest pool using the Cloudflare PoP location for proxied requests or the location determined by location_strategy for non-proxied requests. \"least_outstanding_requests\" : Select a pool by taking into consideration random_steering weights, as well as each pool’s number of outstanding requests. Pools with more pending requests are weighted proportionately less relative to others. \"least_connections\" : Select a pool by taking into consideration random_steering weights, as well as each pool’s number of open connections. Pools with more open connections are weighted proportionately less relative to others. Supported for HTTP/1 and HTTP/2 connections. \"\" : Will map to \"geo\" if you use region_pools / country_pools / pop_pools otherwise \"off\" ."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live (TTL) of the DNS entry for the IP address returned by this load balancer. This only applies to gray-clouded (unproxied) load balancers."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesItem": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The condition expressions to evaluate. If the condition evaluates to true, the overrides or fixed_response in this rule will be applied. An empty condition is always true. For more details on condition expressions, please see https://developers.cloudflare.com/load-balancing/understand-basics/load-balancing-rules/expressions ."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable this specific rule. It will no longer be evaluated by this load balancer."
          }
        },
        "fixed_response": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemFixedResponse",
          "traits": {
            "smithy.api#documentation": "A collection of fields used to directly respond to the client instead of routing to a pool. When supplied on a rule, that rule stops further rule evaluation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this rule. Only used for human readability."
          }
        },
        "overrides": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItemOverrides",
          "traits": {
            "smithy.api#documentation": "A collection of overrides to apply when this rule’s condition (or a pool set’s match ) is true. All fields are optional."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The order in which rules should be executed in relation to each other. Lower values are executed first. Values do not need to be sequential. If no value is provided for any rule the array order of the rules field will be used to assign a priority."
          }
        },
        "terminates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this rule’s condition is true, this causes rule evaluation to stop after processing this rule."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesItem"
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseSessionAffinityAttributesHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseSessionAffinityAttributesSamesite": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseSessionAffinityAttributesSecure": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Never"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseSessionAffinityAttributesZeroDowntimeFailover": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "TEMPORARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "temporary"
          }
        },
        "STICKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sticky"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponseSessionAffinityAttributes": {
      "type": "structure",
      "members": {
        "drain_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Configures the drain duration in seconds. This field is only used when session affinity is enabled on the load balancer."
          }
        },
        "headers": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseSessionAffinityAttributesHeadersList",
          "traits": {
            "smithy.api#documentation": "Configures the names of HTTP headers to base session affinity on when header session_affinity is enabled. At least one HTTP header name must be provided. To specify the exact cookies to be used, include an item in the following format: \"cookie:&#x3C;cookie-name-1>,&#x3C;cookie-name-2>\" (example) where everything after the colon is a comma-separated list of cookie names. Providing only \"cookie\" will result in all cookies being used. The default max number of HTTP header names that can be provided depends on your plan: 5 for Enterprise, 1 for all other plans."
          }
        },
        "require_all_headers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When header session_affinity is enabled, this option can be used to specify how HTTP headers on load balancing requests will be used. The supported values are: - \"true\" : Load balancing requests must contain all of the HTTP headers specified by the headers session affinity attribute, otherwise sessions aren’t created. - \"false\" : Load balancing requests must contain at least one of the HTTP headers specified by the headers session affinity attribute, otherwise sessions aren’t created."
          }
        },
        "samesite": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseSessionAffinityAttributesSamesite",
          "traits": {
            "smithy.api#documentation": "Configures the SameSite attribute on session affinity cookie. Value “Auto” will be translated to “Lax” or “None” depending if Always Use HTTPS is enabled. Note: when using value “None”, the secure attribute can not be set to “Never”."
          }
        },
        "secure": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseSessionAffinityAttributesSecure",
          "traits": {
            "smithy.api#documentation": "Configures the Secure attribute on session affinity cookie. Value “Always” indicates the Secure attribute will be set in the Set-Cookie header, “Never” indicates the Secure attribute will not be set, and “Auto” will set the Secure attribute depending if Always Use HTTPS is enabled."
          }
        },
        "zero_downtime_failover": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseSessionAffinityAttributesZeroDowntimeFailover",
          "traits": {
            "smithy.api#documentation": "Configures the zero-downtime failover between origins within a pool when session affinity is enabled. This feature is currently incompatible with Argo, Tiered Cache, and Bandwidth Alliance. The supported values are: - \"none\" : No failover takes place for sessions pinned to the origin (default). - \"temporary\" : Traffic will be sent to another other healthy origin until the originally pinned origin is available; note that this can potentially result in heavy origin flapping. - \"sticky\" : The session affinity cookie is updated and subsequent requests are sent to the new origin. Note: Zero-downtime failover with sticky sessions is currently not supported for session affinity by header."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "adaptive_routing": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseAdaptiveRouting",
          "traits": {
            "smithy.api#documentation": "Controls features that modify the routing of requests to pools and origins in response to dynamic conditions, such as during the interval between active health monitoring requests. For example, zero-downtime failover occurs immediately when an origin becomes unavailable due to HTTP 521, 522, or 523 response codes. If there is another healthy origin in the same pool, the request is retried once against this alternate origin."
          }
        },
        "country_pools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of country codes to a list of pool IDs (ordered by their failover priority) for the given country. Any country not explicitly defined will fall back to using the corresponding region_pool mapping if it exists else to default_pools."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "default_pools": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseDefaultPoolsList",
          "traits": {
            "smithy.api#documentation": "A list of pool IDs ordered by their failover priority. Pools defined here are used by default, or when region_pools are not configured for a given region."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object description."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable (the default) this load balancer."
          }
        },
        "fallback_pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pool ID to use when all other pools are detected as unhealthy."
          }
        },
        "location_strategy": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseLocationStrategy",
          "traits": {
            "smithy.api#documentation": "Controls location-based steering for non-proxied requests. See steering_policy to learn how steering is affected."
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DNS hostname to associate with your Load Balancer. If this hostname already exists as a DNS record in Cloudflare’s DNS, the Load Balancer will take precedence and the DNS record will not be used."
          }
        },
        "networks": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseNetworksList",
          "traits": {
            "smithy.api#documentation": "List of networks where Load Balancer or Pool is enabled."
          }
        },
        "pool_sets": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponsePoolSetsList",
          "traits": {
            "smithy.api#documentation": "An optional list of pool sets, evaluated in array order with first match wins. Pool sets are independent from the standard steering fields ( region_pools / country_pools / pop_pools / default_pools / steering_policy / random_steering / fallback_pool / rules ). On a PATCH, an empty array ( pool_sets: [] ) clears all pool sets, while omitting the field leaves existing pool sets unchanged."
          }
        },
        "pop_pools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Enterprise only: A mapping of Cloudflare PoP identifiers to a list of pool IDs (ordered by their failover priority) for the PoP (datacenter). Any PoPs not explicitly defined will fall back to using the corresponding country_pool, then region_pool mapping if it exists else to default_pools."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the hostname should be gray clouded (false) or orange clouded (true)."
          }
        },
        "random_steering": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRandomSteering",
          "traits": {
            "smithy.api#documentation": "Configures pool weights. steering_policy=\"random\" : A random pool is selected with probability proportional to pool weights. steering_policy=\"least_outstanding_requests\" : Use pool weights to scale each pool’s outstanding requests. steering_policy=\"least_connections\" : Use pool weights to scale each pool’s open connections."
          }
        },
        "region_pools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of region codes to a list of pool IDs (ordered by their failover priority) for the given region. Any regions not explicitly defined will fall back to using default_pools."
          }
        },
        "rules": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseRulesList",
          "traits": {
            "smithy.api#documentation": "BETA Field Not General Access: A list of rules for this load balancer to execute."
          }
        },
        "session_affinity": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Specifies the type of session affinity the load balancer should use unless specified as \"none\" . The supported types are: - \"cookie\" : On the first request to a proxied load balancer, a cookie is generated, encoding information of which origin the request will be forwarded to. Subsequent requests, by the same client to the same load balancer, will be sent to the origin server the cookie encodes, for the duration of the cookie and as long as the origin server remains healthy. If the cookie has expired or the origin server is unhealthy, then a new origin server is calculated and used. - \"ip_cookie\" : Behaves the same as \"cookie\" except the initial origin selection is stable and based on the client’s ip address. - \"header\" : On the first request to a proxied load balancer, a session key based on the configured HTTP headers (see session_affinity_attributes.headers ) is generated, encoding the request headers used for storing in the load balancer session state which origin the request will be forwarded to. Subsequent requests to the load balancer with the same headers will be sent to the same origin server, for the duration of the session and as long as the origin server remains healthy. If the session has been idle for the duration of session_affinity_ttl seconds or the origin server is unhealthy, then a new origin server is calculated and used. See headers in session_affinity_attributes for additional required configuration."
          }
        },
        "session_affinity_attributes": {
          "target": "com.cloudflare.load_balancers#CreateForAccountResponseSessionAffinityAttributes",
          "traits": {
            "smithy.api#documentation": "Configures attributes for session affinity."
          }
        },
        "session_affinity_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time, in seconds, until a client’s session expires after being created. Once the expiry time has been reached, subsequent requests may get sent to a different origin server. The accepted ranges per session_affinity policy are: - \"cookie\" / \"ip_cookie\" : The current default of 23 hours will be used unless explicitly set. The accepted range of values is between [1800, 604800]. - \"header\" : The current default of 1800 seconds will be used unless explicitly set. The accepted range of values is between [30, 3600]. Note: With session affinity by header, sessions only expire after they haven’t been used for the number of seconds specified."
          }
        },
        "steering_policy": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Steering Policy for this load balancer. \"off\" : Use default_pools . \"geo\" : Use region_pools / country_pools / pop_pools . For non-proxied requests, the country for country_pools is determined by location_strategy . \"random\" : Select a pool randomly. \"dynamic_latency\" : Use round trip time to select the closest pool in default_pools (requires pool health checks). \"proximity\" : Use the pools’ latitude and longitude to select the closest pool using the Cloudflare PoP location for proxied requests or the location determined by location_strategy for non-proxied requests. \"least_outstanding_requests\" : Select a pool by taking into consideration random_steering weights, as well as each pool’s number of outstanding requests. Pools with more pending requests are weighted proportionately less relative to others. \"least_connections\" : Select a pool by taking into consideration random_steering weights, as well as each pool’s number of open connections. Pools with more open connections are weighted proportionately less relative to others. Supported for HTTP/1 and HTTP/2 connections. \"\" : Will map to \"geo\" if you use region_pools / country_pools / pop_pools otherwise \"off\" ."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live (TTL) of the DNS entry for the IP address returned by this load balancer. This only applies to gray-clouded (unproxied) load balancers."
          }
        },
        "zone_name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.load_balancers#CreateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.load_balancers#CreateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.load_balancers#CreateForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/load_balancers",
          "code": 200
        },
        "smithy.api#documentation": "Create a new account or zone-scoped load balancer."
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseAdaptiveRouting": {
      "type": "structure",
      "members": {
        "failover_across_pools": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Extends zero-downtime failover of requests to healthy origins from alternate pools, when no healthy alternate exists in the same pool, according to the failover order defined by traffic and origin steering. When set false (the default) zero-downtime failover will only occur between origins within the same pool. See session_affinity_attributes for control over when sessions are broken or reassigned."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseDefaultPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseLocationStrategyMode": {
      "type": "enum",
      "members": {
        "POP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pop"
          }
        },
        "RESOLVER_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolver_ip"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseLocationStrategyPreferEcs": {
      "type": "enum",
      "members": {
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        },
        "PROXIMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proximity"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseLocationStrategy": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseLocationStrategyMode",
          "traits": {
            "smithy.api#documentation": "Determines the authoritative location when ECS is not preferred, does not exist in the request, or its GeoIP lookup is unsuccessful. \"pop\" : Use the Cloudflare PoP location. \"resolver_ip\" : Use the DNS resolver GeoIP location. If the GeoIP lookup is unsuccessful, use the Cloudflare PoP location."
          }
        },
        "prefer_ecs": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseLocationStrategyPreferEcs",
          "traits": {
            "smithy.api#documentation": "Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as the authoritative location. \"always\" : Always prefer ECS. \"never\" : Never prefer ECS. \"proximity\" : Prefer ECS only when steering_policy=\"proximity\" . \"geo\" : Prefer ECS only when steering_policy=\"geo\" ."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemFixedResponse": {
      "type": "structure",
      "members": {
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http ‘Content-Type’ header to include in the response."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http ‘Location’ header to include in the response."
          }
        },
        "message_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to include as the http body."
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The http status code to respond with."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemMatchTopologyCountriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemMatchTopologyPopsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemMatchTopologyRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemMatchTopology": {
      "type": "structure",
      "members": {
        "countries": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemMatchTopologyCountriesList",
          "traits": {
            "smithy.api#documentation": "A list of ISO 3166-1 alpha-2 country codes. Matches when the request’s country is in this list."
          }
        },
        "pops": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemMatchTopologyPopsList",
          "traits": {
            "smithy.api#documentation": "A list of Cloudflare PoP codes. Matches when the request’s PoP is in this list."
          }
        },
        "regions": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemMatchTopologyRegionsList",
          "traits": {
            "smithy.api#documentation": "A list of Cloudflare region codes (e.g. WNAM , ENAM , WEU ). Matches when the request’s region is in this list."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemMatch": {
      "type": "structure",
      "members": {
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, matches every request. Cannot be combined with topology ."
          }
        },
        "topology": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemMatchTopology",
          "traits": {
            "smithy.api#documentation": "Matches requests by location. Set any combination of pops , countries , and regions (at least one is required); a request matches when its value appears in any populated list (e.g. regions: [\"WNAM\"] with countries: [\"US\"] matches a request in either WNAM or the US)."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemOverridesPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemOverrides": {
      "type": "structure",
      "members": {
        "fallback_pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pool ID to use when all other pools are detected as unhealthy."
          }
        },
        "pool_default_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The default weight for pools not listed in pool_weights . The declarative alternative to random_steering.default_weight ; mutually exclusive with random_steering ."
          }
        },
        "pool_weights": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of pool IDs to custom weights, relative to the other pools. The declarative alternative to random_steering.pool_weights ; mutually exclusive with random_steering ."
          }
        },
        "pools": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemOverridesPoolsList",
          "traits": {
            "smithy.api#documentation": "A flat, ordered list of pool IDs to route the matched audience to. Replaces the resolved topology with exactly these pools. Mutually exclusive with fixed_response ."
          }
        },
        "steering_policy": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Steering Policy for this load balancer. \"off\" : Use default_pools . \"geo\" : Use region_pools / country_pools / pop_pools . For non-proxied requests, the country for country_pools is determined by location_strategy . \"random\" : Select a pool randomly. \"dynamic_latency\" : Use round trip time to select the closest pool in default_pools (requires pool health checks). \"proximity\" : Use the pools’ latitude and longitude to select the closest pool using the Cloudflare PoP location for proxied requests or the location determined by location_strategy for non-proxied requests. \"least_outstanding_requests\" : Select a pool by taking into consideration random_steering weights, as well as each pool’s number of outstanding requests. Pools with more pending requests are weighted proportionately less relative to others. \"least_connections\" : Select a pool by taking into consideration random_steering weights, as well as each pool’s number of open connections. Pools with more open connections are weighted proportionately less relative to others. Supported for HTTP/1 and HTTP/2 connections. \"\" : Will map to \"geo\" if you use region_pools / country_pools / pop_pools otherwise \"off\" ."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItem": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable this specific pool set. It will no longer be evaluated."
          }
        },
        "fixed_response": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemFixedResponse",
          "traits": {
            "smithy.api#documentation": "A collection of fields used to directly respond to the client instead of routing to a pool. When supplied on a rule, that rule stops further rule evaluation."
          }
        },
        "match": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemMatch",
          "traits": {
            "smithy.api#documentation": "Determines which requests a pool set applies to. Set topology to match by location or default: true to match all requests; the two are mutually exclusive. A pool set with no match matches all requests."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable name for this pool set."
          }
        },
        "overrides": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItemOverrides",
          "traits": {
            "smithy.api#documentation": "The behavior a pool set applies when its match succeeds. A strict subset of a rule’s overrides : a pool set replaces the topology wholesale with a flat pool list ( pools ), so only the declarative pool-routing fields plus fallback_pool and steering_policy are settable. All fields are optional."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsItem"
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRandomSteering": {
      "type": "structure",
      "members": {
        "default_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The default weight for pools in the load balancer that are not specified in the pool_weights map."
          }
        },
        "pool_weights": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of pool IDs to custom weights. The weight is relative to other pools in the load balancer."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemFixedResponse": {
      "type": "structure",
      "members": {
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http ‘Content-Type’ header to include in the response."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http ‘Location’ header to include in the response."
          }
        },
        "message_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to include as the http body."
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The http status code to respond with."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesAdaptiveRouting": {
      "type": "structure",
      "members": {
        "failover_across_pools": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Extends zero-downtime failover of requests to healthy origins from alternate pools, when no healthy alternate exists in the same pool, according to the failover order defined by traffic and origin steering. When set false (the default) zero-downtime failover will only occur between origins within the same pool. See session_affinity_attributes for control over when sessions are broken or reassigned."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesDefaultPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesLocationStrategyMode": {
      "type": "enum",
      "members": {
        "POP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pop"
          }
        },
        "RESOLVER_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolver_ip"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesLocationStrategyPreferEcs": {
      "type": "enum",
      "members": {
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        },
        "PROXIMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proximity"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesLocationStrategy": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesLocationStrategyMode",
          "traits": {
            "smithy.api#documentation": "Determines the authoritative location when ECS is not preferred, does not exist in the request, or its GeoIP lookup is unsuccessful. \"pop\" : Use the Cloudflare PoP location. \"resolver_ip\" : Use the DNS resolver GeoIP location. If the GeoIP lookup is unsuccessful, use the Cloudflare PoP location."
          }
        },
        "prefer_ecs": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesLocationStrategyPreferEcs",
          "traits": {
            "smithy.api#documentation": "Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as the authoritative location. \"always\" : Always prefer ECS. \"never\" : Never prefer ECS. \"proximity\" : Prefer ECS only when steering_policy=\"proximity\" . \"geo\" : Prefer ECS only when steering_policy=\"geo\" ."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesRandomSteering": {
      "type": "structure",
      "members": {
        "default_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The default weight for pools in the load balancer that are not specified in the pool_weights map."
          }
        },
        "pool_weights": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of pool IDs to custom weights. The weight is relative to other pools in the load balancer."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesSessionAffinityAttributesHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesSessionAffinityAttributesSamesite": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesSessionAffinityAttributesSecure": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Never"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesSessionAffinityAttributesZeroDowntimeFailover": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "TEMPORARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "temporary"
          }
        },
        "STICKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sticky"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesSessionAffinityAttributes": {
      "type": "structure",
      "members": {
        "drain_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Configures the drain duration in seconds. This field is only used when session affinity is enabled on the load balancer."
          }
        },
        "headers": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesSessionAffinityAttributesHeadersList",
          "traits": {
            "smithy.api#documentation": "Configures the names of HTTP headers to base session affinity on when header session_affinity is enabled. At least one HTTP header name must be provided. To specify the exact cookies to be used, include an item in the following format: \"cookie:&#x3C;cookie-name-1>,&#x3C;cookie-name-2>\" (example) where everything after the colon is a comma-separated list of cookie names. Providing only \"cookie\" will result in all cookies being used. The default max number of HTTP header names that can be provided depends on your plan: 5 for Enterprise, 1 for all other plans."
          }
        },
        "require_all_headers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When header session_affinity is enabled, this option can be used to specify how HTTP headers on load balancing requests will be used. The supported values are: - \"true\" : Load balancing requests must contain all of the HTTP headers specified by the headers session affinity attribute, otherwise sessions aren’t created. - \"false\" : Load balancing requests must contain at least one of the HTTP headers specified by the headers session affinity attribute, otherwise sessions aren’t created."
          }
        },
        "samesite": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesSessionAffinityAttributesSamesite",
          "traits": {
            "smithy.api#documentation": "Configures the SameSite attribute on session affinity cookie. Value “Auto” will be translated to “Lax” or “None” depending if Always Use HTTPS is enabled. Note: when using value “None”, the secure attribute can not be set to “Never”."
          }
        },
        "secure": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesSessionAffinityAttributesSecure",
          "traits": {
            "smithy.api#documentation": "Configures the Secure attribute on session affinity cookie. Value “Always” indicates the Secure attribute will be set in the Set-Cookie header, “Never” indicates the Secure attribute will not be set, and “Auto” will set the Secure attribute depending if Always Use HTTPS is enabled."
          }
        },
        "zero_downtime_failover": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesSessionAffinityAttributesZeroDowntimeFailover",
          "traits": {
            "smithy.api#documentation": "Configures the zero-downtime failover between origins within a pool when session affinity is enabled. This feature is currently incompatible with Argo, Tiered Cache, and Bandwidth Alliance. The supported values are: - \"none\" : No failover takes place for sessions pinned to the origin (default). - \"temporary\" : Traffic will be sent to another other healthy origin until the originally pinned origin is available; note that this can potentially result in heavy origin flapping. - \"sticky\" : The session affinity cookie is updated and subsequent requests are sent to the new origin. Note: Zero-downtime failover with sticky sessions is currently not supported for session affinity by header."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverrides": {
      "type": "structure",
      "members": {
        "adaptive_routing": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesAdaptiveRouting",
          "traits": {
            "smithy.api#documentation": "Controls features that modify the routing of requests to pools and origins in response to dynamic conditions, such as during the interval between active health monitoring requests. For example, zero-downtime failover occurs immediately when an origin becomes unavailable due to HTTP 521, 522, or 523 response codes. If there is another healthy origin in the same pool, the request is retried once against this alternate origin."
          }
        },
        "country_pools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of country codes to a list of pool IDs (ordered by their failover priority) for the given country. Any country not explicitly defined will fall back to using the corresponding region_pool mapping if it exists else to default_pools."
          }
        },
        "default_pools": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesDefaultPoolsList",
          "traits": {
            "smithy.api#documentation": "A list of pool IDs ordered by their failover priority. Pools defined here are used by default, or when region_pools are not configured for a given region."
          }
        },
        "fallback_pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pool ID to use when all other pools are detected as unhealthy."
          }
        },
        "location_strategy": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesLocationStrategy",
          "traits": {
            "smithy.api#documentation": "Controls location-based steering for non-proxied requests. See steering_policy to learn how steering is affected."
          }
        },
        "pool_default_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The default weight for pools not listed in pool_weights . The declarative alternative to random_steering.default_weight ; mutually exclusive with random_steering ."
          }
        },
        "pool_weights": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of pool IDs to custom weights, relative to the other pools. The declarative alternative to random_steering.pool_weights ; mutually exclusive with random_steering ."
          }
        },
        "pools": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesPoolsList",
          "traits": {
            "smithy.api#documentation": "A flat, ordered list of pool IDs to route the matched audience to. Replaces the resolved topology with exactly these pools. Mutually exclusive with fixed_response ."
          }
        },
        "pop_pools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Enterprise only: A mapping of Cloudflare PoP identifiers to a list of pool IDs (ordered by their failover priority) for the PoP (datacenter). Any PoPs not explicitly defined will fall back to using the corresponding country_pool, then region_pool mapping if it exists else to default_pools."
          }
        },
        "random_steering": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesRandomSteering",
          "traits": {
            "smithy.api#documentation": "Configures pool weights. steering_policy=\"random\" : A random pool is selected with probability proportional to pool weights. steering_policy=\"least_outstanding_requests\" : Use pool weights to scale each pool’s outstanding requests. steering_policy=\"least_connections\" : Use pool weights to scale each pool’s open connections."
          }
        },
        "region_pools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of region codes to a list of pool IDs (ordered by their failover priority) for the given region. Any regions not explicitly defined will fall back to using default_pools."
          }
        },
        "session_affinity": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Specifies the type of session affinity the load balancer should use unless specified as \"none\" . The supported types are: - \"cookie\" : On the first request to a proxied load balancer, a cookie is generated, encoding information of which origin the request will be forwarded to. Subsequent requests, by the same client to the same load balancer, will be sent to the origin server the cookie encodes, for the duration of the cookie and as long as the origin server remains healthy. If the cookie has expired or the origin server is unhealthy, then a new origin server is calculated and used. - \"ip_cookie\" : Behaves the same as \"cookie\" except the initial origin selection is stable and based on the client’s ip address. - \"header\" : On the first request to a proxied load balancer, a session key based on the configured HTTP headers (see session_affinity_attributes.headers ) is generated, encoding the request headers used for storing in the load balancer session state which origin the request will be forwarded to. Subsequent requests to the load balancer with the same headers will be sent to the same origin server, for the duration of the session and as long as the origin server remains healthy. If the session has been idle for the duration of session_affinity_ttl seconds or the origin server is unhealthy, then a new origin server is calculated and used. See headers in session_affinity_attributes for additional required configuration."
          }
        },
        "session_affinity_attributes": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverridesSessionAffinityAttributes",
          "traits": {
            "smithy.api#documentation": "Configures attributes for session affinity."
          }
        },
        "session_affinity_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time, in seconds, until a client’s session expires after being created. Once the expiry time has been reached, subsequent requests may get sent to a different origin server. The accepted ranges per session_affinity policy are: - \"cookie\" / \"ip_cookie\" : The current default of 23 hours will be used unless explicitly set. The accepted range of values is between [1800, 604800]. - \"header\" : The current default of 1800 seconds will be used unless explicitly set. The accepted range of values is between [30, 3600]. Note: With session affinity by header, sessions only expire after they haven’t been used for the number of seconds specified."
          }
        },
        "steering_policy": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Steering Policy for this load balancer. \"off\" : Use default_pools . \"geo\" : Use region_pools / country_pools / pop_pools . For non-proxied requests, the country for country_pools is determined by location_strategy . \"random\" : Select a pool randomly. \"dynamic_latency\" : Use round trip time to select the closest pool in default_pools (requires pool health checks). \"proximity\" : Use the pools’ latitude and longitude to select the closest pool using the Cloudflare PoP location for proxied requests or the location determined by location_strategy for non-proxied requests. \"least_outstanding_requests\" : Select a pool by taking into consideration random_steering weights, as well as each pool’s number of outstanding requests. Pools with more pending requests are weighted proportionately less relative to others. \"least_connections\" : Select a pool by taking into consideration random_steering weights, as well as each pool’s number of open connections. Pools with more open connections are weighted proportionately less relative to others. Supported for HTTP/1 and HTTP/2 connections. \"\" : Will map to \"geo\" if you use region_pools / country_pools / pop_pools otherwise \"off\" ."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live (TTL) of the DNS entry for the IP address returned by this load balancer. This only applies to gray-clouded (unproxied) load balancers."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesItem": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The condition expressions to evaluate. If the condition evaluates to true, the overrides or fixed_response in this rule will be applied. An empty condition is always true. For more details on condition expressions, please see https://developers.cloudflare.com/load-balancing/understand-basics/load-balancing-rules/expressions ."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable this specific rule. It will no longer be evaluated by this load balancer."
          }
        },
        "fixed_response": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemFixedResponse",
          "traits": {
            "smithy.api#documentation": "A collection of fields used to directly respond to the client instead of routing to a pool. When supplied on a rule, that rule stops further rule evaluation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this rule. Only used for human readability."
          }
        },
        "overrides": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItemOverrides",
          "traits": {
            "smithy.api#documentation": "A collection of overrides to apply when this rule’s condition (or a pool set’s match ) is true. All fields are optional."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The order in which rules should be executed in relation to each other. Lower values are executed first. Values do not need to be sequential. If no value is provided for any rule the array order of the rules field will be used to assign a priority."
          }
        },
        "terminates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this rule’s condition is true, this causes rule evaluation to stop after processing this rule."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesItem"
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseSessionAffinityAttributesHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseSessionAffinityAttributesSamesite": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseSessionAffinityAttributesSecure": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Never"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseSessionAffinityAttributesZeroDowntimeFailover": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "TEMPORARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "temporary"
          }
        },
        "STICKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sticky"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponseSessionAffinityAttributes": {
      "type": "structure",
      "members": {
        "drain_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Configures the drain duration in seconds. This field is only used when session affinity is enabled on the load balancer."
          }
        },
        "headers": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseSessionAffinityAttributesHeadersList",
          "traits": {
            "smithy.api#documentation": "Configures the names of HTTP headers to base session affinity on when header session_affinity is enabled. At least one HTTP header name must be provided. To specify the exact cookies to be used, include an item in the following format: \"cookie:&#x3C;cookie-name-1>,&#x3C;cookie-name-2>\" (example) where everything after the colon is a comma-separated list of cookie names. Providing only \"cookie\" will result in all cookies being used. The default max number of HTTP header names that can be provided depends on your plan: 5 for Enterprise, 1 for all other plans."
          }
        },
        "require_all_headers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When header session_affinity is enabled, this option can be used to specify how HTTP headers on load balancing requests will be used. The supported values are: - \"true\" : Load balancing requests must contain all of the HTTP headers specified by the headers session affinity attribute, otherwise sessions aren’t created. - \"false\" : Load balancing requests must contain at least one of the HTTP headers specified by the headers session affinity attribute, otherwise sessions aren’t created."
          }
        },
        "samesite": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseSessionAffinityAttributesSamesite",
          "traits": {
            "smithy.api#documentation": "Configures the SameSite attribute on session affinity cookie. Value “Auto” will be translated to “Lax” or “None” depending if Always Use HTTPS is enabled. Note: when using value “None”, the secure attribute can not be set to “Never”."
          }
        },
        "secure": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseSessionAffinityAttributesSecure",
          "traits": {
            "smithy.api#documentation": "Configures the Secure attribute on session affinity cookie. Value “Always” indicates the Secure attribute will be set in the Set-Cookie header, “Never” indicates the Secure attribute will not be set, and “Auto” will set the Secure attribute depending if Always Use HTTPS is enabled."
          }
        },
        "zero_downtime_failover": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseSessionAffinityAttributesZeroDowntimeFailover",
          "traits": {
            "smithy.api#documentation": "Configures the zero-downtime failover between origins within a pool when session affinity is enabled. This feature is currently incompatible with Argo, Tiered Cache, and Bandwidth Alliance. The supported values are: - \"none\" : No failover takes place for sessions pinned to the origin (default). - \"temporary\" : Traffic will be sent to another other healthy origin until the originally pinned origin is available; note that this can potentially result in heavy origin flapping. - \"sticky\" : The session affinity cookie is updated and subsequent requests are sent to the new origin. Note: Zero-downtime failover with sticky sessions is currently not supported for session affinity by header."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "adaptive_routing": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseAdaptiveRouting",
          "traits": {
            "smithy.api#documentation": "Controls features that modify the routing of requests to pools and origins in response to dynamic conditions, such as during the interval between active health monitoring requests. For example, zero-downtime failover occurs immediately when an origin becomes unavailable due to HTTP 521, 522, or 523 response codes. If there is another healthy origin in the same pool, the request is retried once against this alternate origin."
          }
        },
        "country_pools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of country codes to a list of pool IDs (ordered by their failover priority) for the given country. Any country not explicitly defined will fall back to using the corresponding region_pool mapping if it exists else to default_pools."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "default_pools": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseDefaultPoolsList",
          "traits": {
            "smithy.api#documentation": "A list of pool IDs ordered by their failover priority. Pools defined here are used by default, or when region_pools are not configured for a given region."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object description."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable (the default) this load balancer."
          }
        },
        "fallback_pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pool ID to use when all other pools are detected as unhealthy."
          }
        },
        "location_strategy": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseLocationStrategy",
          "traits": {
            "smithy.api#documentation": "Controls location-based steering for non-proxied requests. See steering_policy to learn how steering is affected."
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DNS hostname to associate with your Load Balancer. If this hostname already exists as a DNS record in Cloudflare’s DNS, the Load Balancer will take precedence and the DNS record will not be used."
          }
        },
        "networks": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseNetworksList",
          "traits": {
            "smithy.api#documentation": "List of networks where Load Balancer or Pool is enabled."
          }
        },
        "pool_sets": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponsePoolSetsList",
          "traits": {
            "smithy.api#documentation": "An optional list of pool sets, evaluated in array order with first match wins. Pool sets are independent from the standard steering fields ( region_pools / country_pools / pop_pools / default_pools / steering_policy / random_steering / fallback_pool / rules ). On a PATCH, an empty array ( pool_sets: [] ) clears all pool sets, while omitting the field leaves existing pool sets unchanged."
          }
        },
        "pop_pools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Enterprise only: A mapping of Cloudflare PoP identifiers to a list of pool IDs (ordered by their failover priority) for the PoP (datacenter). Any PoPs not explicitly defined will fall back to using the corresponding country_pool, then region_pool mapping if it exists else to default_pools."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the hostname should be gray clouded (false) or orange clouded (true)."
          }
        },
        "random_steering": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRandomSteering",
          "traits": {
            "smithy.api#documentation": "Configures pool weights. steering_policy=\"random\" : A random pool is selected with probability proportional to pool weights. steering_policy=\"least_outstanding_requests\" : Use pool weights to scale each pool’s outstanding requests. steering_policy=\"least_connections\" : Use pool weights to scale each pool’s open connections."
          }
        },
        "region_pools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A mapping of region codes to a list of pool IDs (ordered by their failover priority) for the given region. Any regions not explicitly defined will fall back to using default_pools."
          }
        },
        "rules": {
          "target": "com.cloudflare.load_balancers#CreateForZoneResponseRulesList",
          "traits": {
            "smithy.api#documentation": "BETA Field Not General Access: A list of rules for this load balancer to execute."
          }
        },
        "session_affinity": {
          "target": "smithy.api#Document",
          "traits": {
[...]
