{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.logpush#DatasetsFieldsGetRequestDatasetId": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsFieldsGetRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataset_id": {
          "target": "com.cloudflare.logpush#DatasetsFieldsGetRequestDatasetId",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#DatasetsFieldsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#DatasetsFieldsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#DatasetsFieldsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#DatasetsFieldsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/logpush/datasets/{dataset_id}/fields",
          "code": 200
        },
        "smithy.api#documentation": "Lists all fields available for a dataset. The response result is. an object with key-value pairs, where keys are field names, and values are descriptions.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetRequestDatasetId": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataset_id": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetRequestDatasetId",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#DatasetsJobsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#DatasetsJobsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/logpush/datasets/{dataset_id}/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Lists Logpush jobs for an account or zone for a dataset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logpush#EdgeCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of fields."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters to drill down into specific events."
          }
        },
        "sample": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sample parameter is the sample rate of the records set by the client: \"sample\": 1 is 100% of records \"sample\": 10 is 10% and so on."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#EdgeCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#EdgeCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#EdgeCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#EdgeCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/logpush/edge/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Instant Logs job for a zone."
      }
    },
    "com.cloudflare.logpush#EdgeGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#EdgeGetResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.logpush#EdgeGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.logpush#EdgeGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#EdgeGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#EdgeGetRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#EdgeGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/logpush/edge/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Lists Instant Logs jobs for a zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logpush#JobsCreateRequestDataset": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateRequestFrequency": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateRequestKind": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        },
        "dataset": {
          "target": "com.cloudflare.logpush#JobsCreateRequestDataset",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/)."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates if the job is enabled."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filters to select the events to include and/or remove from your logs. For more information, refer to [Filters](https://developers.cloudflare.com/logs/reference/filters/)."
          }
        },
        "frequency": {
          "target": "com.cloudflare.logpush#JobsCreateRequestFrequency",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Please use `max_upload_*` parameters instead. . The frequency at which Cloudflare sends batches of logs to your destination. Setting frequency to high sends your logs in larger quantities of smaller files. Setting frequency to low sends logs in smaller quantities of larger files."
          }
        },
        "kind": {
          "target": "com.cloudflare.logpush#JobsCreateRequestKind",
          "traits": {
            "smithy.api#documentation": "The kind parameter (optional) is used to differentiate between Logpush and Edge Log Delivery jobs (when supported by the dataset)."
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately."
          }
        },
        "max_upload_bytes": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size."
          }
        },
        "max_upload_interval_seconds": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this."
          }
        },
        "max_upload_records": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional human readable job name. Not unique. Cloudflare suggests. that you set this to a meaningful string, like the domain name, to make it easier to identify your job."
          }
        },
        "output_options": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The structured replacement for `logpull_options`. When including this field, the `logpull_option` field will be ignored."
          }
        },
        "ownership_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ownership challenge token to prove destination ownership."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#JobsCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#JobsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#JobsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#JobsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/logpush/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Logpush job for an account or zone."
      }
    },
    "com.cloudflare.logpush#JobsDeleteRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#JobsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#JobsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#JobsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#JobsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/logpush/jobs/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a Logpush job.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.logpush#JobsGetRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#JobsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#JobsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#JobsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#JobsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/logpush/jobs/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Gets the details of a Logpush job.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logpush#JobsListRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#JobsListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.logpush#JobsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.logpush#JobsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#JobsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#JobsListRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#JobsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/logpush/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Lists Logpush jobs for an account or zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logpush#JobsUpdateRequestFrequency": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsUpdateRequestKind": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsUpdateRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates if the job is enabled."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filters to select the events to include and/or remove from your logs. For more information, refer to [Filters](https://developers.cloudflare.com/logs/reference/filters/)."
          }
        },
        "frequency": {
          "target": "com.cloudflare.logpush#JobsUpdateRequestFrequency",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Please use `max_upload_*` parameters instead. . The frequency at which Cloudflare sends batches of logs to your destination. Setting frequency to high sends your logs in larger quantities of smaller files. Setting frequency to low sends logs in smaller quantities of larger files."
          }
        },
        "kind": {
          "target": "com.cloudflare.logpush#JobsUpdateRequestKind",
          "traits": {
            "smithy.api#documentation": "The kind parameter (optional) is used to differentiate between Logpush and Edge Log Delivery jobs (when supported by the dataset)."
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately."
          }
        },
        "max_upload_bytes": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size."
          }
        },
        "max_upload_interval_seconds": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this."
          }
        },
        "max_upload_records": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional human readable job name. Not unique. Cloudflare suggests. that you set this to a meaningful string, like the domain name, to make it easier to identify your job."
          }
        },
        "output_options": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The structured replacement for `logpull_options`. When including this field, the `logpull_option` field will be ignored."
          }
        },
        "ownership_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ownership challenge token to prove destination ownership."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#JobsUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#JobsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#JobsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#JobsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/logpush/jobs/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a Logpush job.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.logpush#OwnershipCreateRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#OwnershipCreateResponse": {
      "type": "structure",
      "members": {
        "filename": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "valid": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#OwnershipCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#OwnershipCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#OwnershipCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/logpush/ownership",
          "code": 200
        },
        "smithy.api#documentation": "Gets a new ownership challenge sent to your destination."
      }
    },
    "com.cloudflare.logpush#OwnershipValidateRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        },
        "ownership_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ownership challenge token to prove destination ownership.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#OwnershipValidateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#OwnershipValidate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#OwnershipValidateRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#OwnershipValidateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/logpush/ownership/validate",
          "code": 200
        },
        "smithy.api#documentation": "Validates ownership challenge of the destination."
      }
    },
    "com.cloudflare.logpush#ValidateDestinationRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#ValidateDestinationResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "valid": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#ValidateDestination": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#ValidateDestinationRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#ValidateDestinationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/logpush/validate/destination",
          "code": 200
        },
        "smithy.api#documentation": "Validates destination."
      }
    },
    "com.cloudflare.logpush#ValidateDestinationExistsRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#ValidateDestinationExistsResponse": {
      "type": "structure",
      "members": {
        "exists": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#ValidateDestinationExists": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#ValidateDestinationExistsRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#ValidateDestinationExistsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/logpush/validate/destination/exists",
          "code": 200
        },
        "smithy.api#documentation": "Checks if there is an existing job with a destination."
      }
    },
    "com.cloudflare.logpush#ValidateOriginRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#ValidateOriginResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "valid": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#ValidateOrigin": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#ValidateOriginRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#ValidateOriginResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/logpush/validate/origin",
          "code": 200
        },
        "smithy.api#documentation": "Validates logpull origin with logpull_options."
      }
    },
    "com.cloudflare.logpush#Logpush": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.logpush#DatasetsFieldsGet"
        },
        {
          "target": "com.cloudflare.logpush#DatasetsJobsGet"
        },
        {
          "target": "com.cloudflare.logpush#EdgeCreate"
        },
        {
          "target": "com.cloudflare.logpush#EdgeGet"
        },
        {
          "target": "com.cloudflare.logpush#JobsCreate"
        },
        {
          "target": "com.cloudflare.logpush#JobsDelete"
        },
        {
          "target": "com.cloudflare.logpush#JobsGet"
        },
        {
          "target": "com.cloudflare.logpush#JobsList"
        },
        {
          "target": "com.cloudflare.logpush#JobsUpdate"
        },
        {
          "target": "com.cloudflare.logpush#OwnershipCreate"
        },
        {
          "target": "com.cloudflare.logpush#OwnershipValidate"
        },
        {
          "target": "com.cloudflare.logpush#ValidateDestination"
        },
        {
          "target": "com.cloudflare.logpush#ValidateDestinationExists"
        },
        {
          "target": "com.cloudflare.logpush#ValidateOrigin"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Logpush",
        "smithy.api#documentation": "Cloudflare API — logpush resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
