{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.logpush#DatasetsFieldsGetForAccountRequestDatasetId": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsFieldsGetForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataset_id": {
          "target": "com.cloudflare.logpush#DatasetsFieldsGetForAccountRequestDatasetId",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#DatasetsFieldsGetForAccountResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#DatasetsFieldsGetForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#DatasetsFieldsGetForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#DatasetsFieldsGetForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/logpush/datasets/{dataset_id}/fields",
          "code": 200
        },
        "smithy.api#documentation": "Lists all fields available for a dataset. The response result is. an object with key-value pairs, where keys are field names, and values are descriptions.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logpush#DatasetsFieldsGetForZoneRequestDatasetId": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsFieldsGetForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataset_id": {
          "target": "com.cloudflare.logpush#DatasetsFieldsGetForZoneRequestDatasetId",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#DatasetsFieldsGetForZoneResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#DatasetsFieldsGetForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#DatasetsFieldsGetForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#DatasetsFieldsGetForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/logpush/datasets/{dataset_id}/fields",
          "code": 200
        },
        "smithy.api#documentation": "Lists all fields available for a dataset. The response result is. an object with key-value pairs, where keys are field names, and values are descriptions.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountRequestDatasetId": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataset_id": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountRequestDatasetId",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemDataset": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemFrequency": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemKind": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemMaxUploadBytes": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemMaxUploadIntervalSeconds": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemMaxUploadRecords": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemOutputOptionsFieldNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemOutputOptionsOutputType": {
      "type": "enum",
      "members": {
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemOutputOptionsTimestampFormat": {
      "type": "enum",
      "members": {
        "UNIXNANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unixnano"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        },
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemOutputOptions": {
      "type": "structure",
      "members": {
        "batch_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be prepended before each batch."
          }
        },
        "batch_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be appended after each batch."
          }
        },
        "_CVE_2021_44228_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, will cause all occurrences of `${` in the generated files to be replaced with `x{`.",
            "smithy.api#jsonName": "\"CVE-2021-44228\""
          }
        },
        "field_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to join fields. This field be ignored when `record_template` is set."
          }
        },
        "field_names": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemOutputOptionsFieldNamesList",
          "traits": {
            "smithy.api#documentation": "List of field names to be included in the Logpush output. For the moment, there is no option to add all fields at once, so you must specify all the fields names you are interested in."
          }
        },
        "merge_subrequests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, subrequests will be merged into the parent request. Only supported for the `http_requests` dataset."
          }
        },
        "output_type": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemOutputOptionsOutputType",
          "traits": {
            "smithy.api#documentation": "Specifies the output type, such as `ndjson` or `csv`. This sets default values for the rest of the settings, depending on the chosen output type. Some formatting rules, like string quoting, are different between output types."
          }
        },
        "record_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be inserted in-between the records as separator."
          }
        },
        "record_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be prepended before each record."
          }
        },
        "record_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be appended after each record."
          }
        },
        "record_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to use as template for each record instead of the default json key value mapping. All fields used in the template must be present in `field_names` as well, otherwise they will end up as null. Format as a Go `text/template` without any standard functions, like conditionals, loops, sub-templates, etc."
          }
        },
        "sample_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Floating number to specify sampling rate. Sampling is applied on top of filtering, and regardless of the current `sample_interval` of the data."
          }
        },
        "timestamp_format": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemOutputOptionsTimestampFormat",
          "traits": {
            "smithy.api#documentation": "String to specify the format for timestamps, such as `unixnano`, `unix`, `rfc3339`, `rfc3339ms` or `rfc3339ns`."
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job."
          }
        },
        "dataset": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemDataset",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/)."
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates if the job is enabled."
          }
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not null, the job is currently failing. Failures are usually. repetitive (example: no permissions to write to destination bucket). Only the last failure is recorded. On successful execution of a job the error_message and last_error are set to null."
          }
        },
        "frequency": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemFrequency",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Please use `max_upload_*` parameters instead. . The frequency at which Cloudflare sends batches of logs to your destination. Setting frequency to high sends your logs in larger quantities of smaller files. Setting frequency to low sends logs in smaller quantities of larger files."
          }
        },
        "kind": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemKind",
          "traits": {
            "smithy.api#documentation": "The kind parameter (optional) is used to differentiate between Logpush and Edge Log Delivery jobs (when supported by the dataset)."
          }
        },
        "last_complete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Records the last time for which logs have been successfully pushed. If the last successful push was for logs range 2018-07-23T10:00:00Z to 2018-07-23T10:01:00Z then the value of this field will be 2018-07-23T10:01:00Z. If the job has never run or has just been enabled and hasn't run yet then the field will be empty."
          }
        },
        "last_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Records the last time the job failed. If not null, the job is currently. failing. If null, the job has either never failed or has run successfully at least once since last failure. See also the error_message field."
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately."
          }
        },
        "max_upload_bytes": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemMaxUploadBytes",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size."
          }
        },
        "max_upload_interval_seconds": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemMaxUploadIntervalSeconds",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this."
          }
        },
        "max_upload_records": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemMaxUploadRecords",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional human readable job name. Not unique. Cloudflare suggests. that you set this to a meaningful string, like the domain name, to make it easier to identify your job."
          }
        },
        "output_options": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItemOutputOptions",
          "traits": {
            "smithy.api#documentation": "The structured replacement for `logpull_options`. When including this field, the `logpull_option` field will be ignored."
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountResultItem"
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccountResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#DatasetsJobsGetForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/logpush/datasets/{dataset_id}/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Lists Logpush jobs for an account or zone for a dataset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneRequestDatasetId": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataset_id": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneRequestDatasetId",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemDataset": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemFrequency": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemKind": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemMaxUploadBytes": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemMaxUploadIntervalSeconds": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemMaxUploadRecords": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemOutputOptionsFieldNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemOutputOptionsOutputType": {
      "type": "enum",
      "members": {
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemOutputOptionsTimestampFormat": {
      "type": "enum",
      "members": {
        "UNIXNANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unixnano"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        },
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemOutputOptions": {
      "type": "structure",
      "members": {
        "batch_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be prepended before each batch."
          }
        },
        "batch_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be appended after each batch."
          }
        },
        "_CVE_2021_44228_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, will cause all occurrences of `${` in the generated files to be replaced with `x{`.",
            "smithy.api#jsonName": "\"CVE-2021-44228\""
          }
        },
        "field_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to join fields. This field be ignored when `record_template` is set."
          }
        },
        "field_names": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemOutputOptionsFieldNamesList",
          "traits": {
            "smithy.api#documentation": "List of field names to be included in the Logpush output. For the moment, there is no option to add all fields at once, so you must specify all the fields names you are interested in."
          }
        },
        "merge_subrequests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, subrequests will be merged into the parent request. Only supported for the `http_requests` dataset."
          }
        },
        "output_type": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemOutputOptionsOutputType",
          "traits": {
            "smithy.api#documentation": "Specifies the output type, such as `ndjson` or `csv`. This sets default values for the rest of the settings, depending on the chosen output type. Some formatting rules, like string quoting, are different between output types."
          }
        },
        "record_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be inserted in-between the records as separator."
          }
        },
        "record_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be prepended before each record."
          }
        },
        "record_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be appended after each record."
          }
        },
        "record_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to use as template for each record instead of the default json key value mapping. All fields used in the template must be present in `field_names` as well, otherwise they will end up as null. Format as a Go `text/template` without any standard functions, like conditionals, loops, sub-templates, etc."
          }
        },
        "sample_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Floating number to specify sampling rate. Sampling is applied on top of filtering, and regardless of the current `sample_interval` of the data."
          }
        },
        "timestamp_format": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemOutputOptionsTimestampFormat",
          "traits": {
            "smithy.api#documentation": "String to specify the format for timestamps, such as `unixnano`, `unix`, `rfc3339`, `rfc3339ms` or `rfc3339ns`."
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job."
          }
        },
        "dataset": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemDataset",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/)."
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates if the job is enabled."
          }
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not null, the job is currently failing. Failures are usually. repetitive (example: no permissions to write to destination bucket). Only the last failure is recorded. On successful execution of a job the error_message and last_error are set to null."
          }
        },
        "frequency": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemFrequency",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Please use `max_upload_*` parameters instead. . The frequency at which Cloudflare sends batches of logs to your destination. Setting frequency to high sends your logs in larger quantities of smaller files. Setting frequency to low sends logs in smaller quantities of larger files."
          }
        },
        "kind": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemKind",
          "traits": {
            "smithy.api#documentation": "The kind parameter (optional) is used to differentiate between Logpush and Edge Log Delivery jobs (when supported by the dataset)."
          }
        },
        "last_complete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Records the last time for which logs have been successfully pushed. If the last successful push was for logs range 2018-07-23T10:00:00Z to 2018-07-23T10:01:00Z then the value of this field will be 2018-07-23T10:01:00Z. If the job has never run or has just been enabled and hasn't run yet then the field will be empty."
          }
        },
        "last_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Records the last time the job failed. If not null, the job is currently. failing. If null, the job has either never failed or has run successfully at least once since last failure. See also the error_message field."
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately."
          }
        },
        "max_upload_bytes": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemMaxUploadBytes",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size."
          }
        },
        "max_upload_interval_seconds": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemMaxUploadIntervalSeconds",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this."
          }
        },
        "max_upload_records": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemMaxUploadRecords",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional human readable job name. Not unique. Cloudflare suggests. that you set this to a meaningful string, like the domain name, to make it easier to identify your job."
          }
        },
        "output_options": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItemOutputOptions",
          "traits": {
            "smithy.api#documentation": "The structured replacement for `logpull_options`. When including this field, the `logpull_option` field will be ignored."
          }
        }
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneResultItem"
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZoneResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#DatasetsJobsGetForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#DatasetsJobsGetForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/logpush/datasets/{dataset_id}/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Lists Logpush jobs for an account or zone for a dataset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logpush#EdgeCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of fields."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters to drill down into specific events."
          }
        },
        "sample": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sample parameter is the sample rate of the records set by the client: \"sample\": 1 is 100% of records \"sample\": 10 is 10% and so on."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#EdgeCreateResponse": {
      "type": "structure",
      "members": {
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique WebSocket address that will receive messages from Cloudflare’s edge."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of fields."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters to drill down into specific events."
          }
        },
        "sample": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sample parameter is the sample rate of the records set by the client: \"sample\": 1 is 100% of records \"sample\": 10 is 10% and so on."
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique session id of the job."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#EdgeCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#EdgeCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#EdgeCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/logpush/edge/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Instant Logs job for a zone."
      }
    },
    "com.cloudflare.logpush#EdgeGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#EdgeGetResultItem": {
      "type": "structure",
      "members": {
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique WebSocket address that will receive messages from Cloudflare’s edge."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of fields."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters to drill down into specific events."
          }
        },
        "sample": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sample parameter is the sample rate of the records set by the client: \"sample\": 1 is 100% of records \"sample\": 10 is 10% and so on."
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique session id of the job."
          }
        }
      }
    },
    "com.cloudflare.logpush#EdgeGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.logpush#EdgeGetResultItem"
      }
    },
    "com.cloudflare.logpush#EdgeGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.logpush#EdgeGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#EdgeGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#EdgeGetRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#EdgeGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/logpush/edge/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Lists Instant Logs jobs for a zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountRequestDataset": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountRequestFrequency": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountRequestKind": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountRequestMaxUploadBytes": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountRequestMaxUploadIntervalSeconds": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountRequestMaxUploadRecords": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountRequestOutputOptionsFieldNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountRequestOutputOptionsOutputType": {
      "type": "enum",
      "members": {
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountRequestOutputOptionsTimestampFormat": {
      "type": "enum",
      "members": {
        "UNIXNANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unixnano"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        },
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountRequestOutputOptions": {
      "type": "structure",
      "members": {
        "batch_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be prepended before each batch."
          }
        },
        "batch_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be appended after each batch."
          }
        },
        "_CVE_2021_44228_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, will cause all occurrences of `${` in the generated files to be replaced with `x{`.",
            "smithy.api#jsonName": "\"CVE-2021-44228\""
          }
        },
        "field_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to join fields. This field be ignored when `record_template` is set."
          }
        },
        "field_names": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountRequestOutputOptionsFieldNamesList",
          "traits": {
            "smithy.api#documentation": "List of field names to be included in the Logpush output. For the moment, there is no option to add all fields at once, so you must specify all the fields names you are interested in."
          }
        },
        "merge_subrequests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, subrequests will be merged into the parent request. Only supported for the `http_requests` dataset."
          }
        },
        "output_type": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountRequestOutputOptionsOutputType",
          "traits": {
            "smithy.api#documentation": "Specifies the output type, such as `ndjson` or `csv`. This sets default values for the rest of the settings, depending on the chosen output type. Some formatting rules, like string quoting, are different between output types."
          }
        },
        "record_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be inserted in-between the records as separator."
          }
        },
        "record_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be prepended before each record."
          }
        },
        "record_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be appended after each record."
          }
        },
        "record_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to use as template for each record instead of the default json key value mapping. All fields used in the template must be present in `field_names` as well, otherwise they will end up as null. Format as a Go `text/template` without any standard functions, like conditionals, loops, sub-templates, etc."
          }
        },
        "sample_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Floating number to specify sampling rate. Sampling is applied on top of filtering, and regardless of the current `sample_interval` of the data."
          }
        },
        "timestamp_format": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountRequestOutputOptionsTimestampFormat",
          "traits": {
            "smithy.api#documentation": "String to specify the format for timestamps, such as `unixnano`, `unix`, `rfc3339`, `rfc3339ms` or `rfc3339ns`."
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        },
        "dataset": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountRequestDataset",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/)."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates if the job is enabled."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filters to select the events to include and/or remove from your logs. For more information, refer to [Filters](https://developers.cloudflare.com/logs/reference/filters/)."
          }
        },
        "frequency": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountRequestFrequency",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Please use `max_upload_*` parameters instead. . The frequency at which Cloudflare sends batches of logs to your destination. Setting frequency to high sends your logs in larger quantities of smaller files. Setting frequency to low sends logs in smaller quantities of larger files."
          }
        },
        "kind": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountRequestKind",
          "traits": {
            "smithy.api#documentation": "The kind parameter (optional) is used to differentiate between Logpush and Edge Log Delivery jobs (when supported by the dataset)."
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately."
          }
        },
        "max_upload_bytes": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountRequestMaxUploadBytes",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size."
          }
        },
        "max_upload_interval_seconds": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountRequestMaxUploadIntervalSeconds",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this."
          }
        },
        "max_upload_records": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountRequestMaxUploadRecords",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional human readable job name. Not unique. Cloudflare suggests. that you set this to a meaningful string, like the domain name, to make it easier to identify your job."
          }
        },
        "output_options": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountRequestOutputOptions",
          "traits": {
            "smithy.api#documentation": "The structured replacement for `logpull_options`. When including this field, the `logpull_option` field will be ignored."
          }
        },
        "ownership_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ownership challenge token to prove destination ownership."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountResponseDataset": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountResponseFrequency": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountResponseKind": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountResponseMaxUploadBytes": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountResponseMaxUploadIntervalSeconds": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountResponseMaxUploadRecords": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountResponseOutputOptionsFieldNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountResponseOutputOptionsOutputType": {
      "type": "enum",
      "members": {
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountResponseOutputOptionsTimestampFormat": {
      "type": "enum",
      "members": {
        "UNIXNANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unixnano"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        },
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountResponseOutputOptions": {
      "type": "structure",
      "members": {
        "batch_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be prepended before each batch."
          }
        },
        "batch_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be appended after each batch."
          }
        },
        "_CVE_2021_44228_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, will cause all occurrences of `${` in the generated files to be replaced with `x{`.",
            "smithy.api#jsonName": "\"CVE-2021-44228\""
          }
        },
        "field_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to join fields. This field be ignored when `record_template` is set."
          }
        },
        "field_names": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountResponseOutputOptionsFieldNamesList",
          "traits": {
            "smithy.api#documentation": "List of field names to be included in the Logpush output. For the moment, there is no option to add all fields at once, so you must specify all the fields names you are interested in."
          }
        },
        "merge_subrequests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, subrequests will be merged into the parent request. Only supported for the `http_requests` dataset."
          }
        },
        "output_type": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountResponseOutputOptionsOutputType",
          "traits": {
            "smithy.api#documentation": "Specifies the output type, such as `ndjson` or `csv`. This sets default values for the rest of the settings, depending on the chosen output type. Some formatting rules, like string quoting, are different between output types."
          }
        },
        "record_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be inserted in-between the records as separator."
          }
        },
        "record_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be prepended before each record."
          }
        },
        "record_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be appended after each record."
          }
        },
        "record_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to use as template for each record instead of the default json key value mapping. All fields used in the template must be present in `field_names` as well, otherwise they will end up as null. Format as a Go `text/template` without any standard functions, like conditionals, loops, sub-templates, etc."
          }
        },
        "sample_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Floating number to specify sampling rate. Sampling is applied on top of filtering, and regardless of the current `sample_interval` of the data."
          }
        },
        "timestamp_format": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountResponseOutputOptionsTimestampFormat",
          "traits": {
            "smithy.api#documentation": "String to specify the format for timestamps, such as `unixnano`, `unix`, `rfc3339`, `rfc3339ms` or `rfc3339ns`."
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job."
          }
        },
        "dataset": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountResponseDataset",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/)."
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates if the job is enabled."
          }
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not null, the job is currently failing. Failures are usually. repetitive (example: no permissions to write to destination bucket). Only the last failure is recorded. On successful execution of a job the error_message and last_error are set to null."
          }
        },
        "frequency": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountResponseFrequency",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Please use `max_upload_*` parameters instead. . The frequency at which Cloudflare sends batches of logs to your destination. Setting frequency to high sends your logs in larger quantities of smaller files. Setting frequency to low sends logs in smaller quantities of larger files."
          }
        },
        "kind": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountResponseKind",
          "traits": {
            "smithy.api#documentation": "The kind parameter (optional) is used to differentiate between Logpush and Edge Log Delivery jobs (when supported by the dataset)."
          }
        },
        "last_complete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Records the last time for which logs have been successfully pushed. If the last successful push was for logs range 2018-07-23T10:00:00Z to 2018-07-23T10:01:00Z then the value of this field will be 2018-07-23T10:01:00Z. If the job has never run or has just been enabled and hasn't run yet then the field will be empty."
          }
        },
        "last_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Records the last time the job failed. If not null, the job is currently. failing. If null, the job has either never failed or has run successfully at least once since last failure. See also the error_message field."
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately."
          }
        },
        "max_upload_bytes": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountResponseMaxUploadBytes",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size."
          }
        },
        "max_upload_interval_seconds": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountResponseMaxUploadIntervalSeconds",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this."
          }
        },
        "max_upload_records": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountResponseMaxUploadRecords",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional human readable job name. Not unique. Cloudflare suggests. that you set this to a meaningful string, like the domain name, to make it easier to identify your job."
          }
        },
        "output_options": {
          "target": "com.cloudflare.logpush#JobsCreateForAccountResponseOutputOptions",
          "traits": {
            "smithy.api#documentation": "The structured replacement for `logpull_options`. When including this field, the `logpull_option` field will be ignored."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#JobsCreateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#JobsCreateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#JobsCreateForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/logpush/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Logpush job for an account or zone."
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneRequestDataset": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneRequestFrequency": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneRequestKind": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneRequestMaxUploadBytes": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneRequestMaxUploadIntervalSeconds": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneRequestMaxUploadRecords": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneRequestOutputOptionsFieldNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneRequestOutputOptionsOutputType": {
      "type": "enum",
      "members": {
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneRequestOutputOptionsTimestampFormat": {
      "type": "enum",
      "members": {
        "UNIXNANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unixnano"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        },
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneRequestOutputOptions": {
      "type": "structure",
      "members": {
        "batch_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be prepended before each batch."
          }
        },
        "batch_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be appended after each batch."
          }
        },
        "_CVE_2021_44228_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, will cause all occurrences of `${` in the generated files to be replaced with `x{`.",
            "smithy.api#jsonName": "\"CVE-2021-44228\""
          }
        },
        "field_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to join fields. This field be ignored when `record_template` is set."
          }
        },
        "field_names": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneRequestOutputOptionsFieldNamesList",
          "traits": {
            "smithy.api#documentation": "List of field names to be included in the Logpush output. For the moment, there is no option to add all fields at once, so you must specify all the fields names you are interested in."
          }
        },
        "merge_subrequests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, subrequests will be merged into the parent request. Only supported for the `http_requests` dataset."
          }
        },
        "output_type": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneRequestOutputOptionsOutputType",
          "traits": {
            "smithy.api#documentation": "Specifies the output type, such as `ndjson` or `csv`. This sets default values for the rest of the settings, depending on the chosen output type. Some formatting rules, like string quoting, are different between output types."
          }
        },
        "record_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be inserted in-between the records as separator."
          }
        },
        "record_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be prepended before each record."
          }
        },
        "record_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be appended after each record."
          }
        },
        "record_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to use as template for each record instead of the default json key value mapping. All fields used in the template must be present in `field_names` as well, otherwise they will end up as null. Format as a Go `text/template` without any standard functions, like conditionals, loops, sub-templates, etc."
          }
        },
        "sample_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Floating number to specify sampling rate. Sampling is applied on top of filtering, and regardless of the current `sample_interval` of the data."
          }
        },
        "timestamp_format": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneRequestOutputOptionsTimestampFormat",
          "traits": {
            "smithy.api#documentation": "String to specify the format for timestamps, such as `unixnano`, `unix`, `rfc3339`, `rfc3339ms` or `rfc3339ns`."
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        },
        "dataset": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneRequestDataset",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/)."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates if the job is enabled."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filters to select the events to include and/or remove from your logs. For more information, refer to [Filters](https://developers.cloudflare.com/logs/reference/filters/)."
          }
        },
        "frequency": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneRequestFrequency",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Please use `max_upload_*` parameters instead. . The frequency at which Cloudflare sends batches of logs to your destination. Setting frequency to high sends your logs in larger quantities of smaller files. Setting frequency to low sends logs in smaller quantities of larger files."
          }
        },
        "kind": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneRequestKind",
          "traits": {
            "smithy.api#documentation": "The kind parameter (optional) is used to differentiate between Logpush and Edge Log Delivery jobs (when supported by the dataset)."
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately."
          }
        },
        "max_upload_bytes": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneRequestMaxUploadBytes",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size."
          }
        },
        "max_upload_interval_seconds": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneRequestMaxUploadIntervalSeconds",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this."
          }
        },
        "max_upload_records": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneRequestMaxUploadRecords",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional human readable job name. Not unique. Cloudflare suggests. that you set this to a meaningful string, like the domain name, to make it easier to identify your job."
          }
        },
        "output_options": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneRequestOutputOptions",
          "traits": {
            "smithy.api#documentation": "The structured replacement for `logpull_options`. When including this field, the `logpull_option` field will be ignored."
          }
        },
        "ownership_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ownership challenge token to prove destination ownership."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneResponseDataset": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneResponseFrequency": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneResponseKind": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneResponseMaxUploadBytes": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneResponseMaxUploadIntervalSeconds": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneResponseMaxUploadRecords": {
      "type": "structure",
      "members": {
        "_0": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "0"
          }
        },
        "number": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneResponseOutputOptionsFieldNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneResponseOutputOptionsOutputType": {
      "type": "enum",
      "members": {
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneResponseOutputOptionsTimestampFormat": {
      "type": "enum",
      "members": {
        "UNIXNANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unixnano"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        },
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneResponseOutputOptions": {
      "type": "structure",
      "members": {
        "batch_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be prepended before each batch."
          }
        },
        "batch_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be appended after each batch."
          }
        },
        "_CVE_2021_44228_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, will cause all occurrences of `${` in the generated files to be replaced with `x{`.",
            "smithy.api#jsonName": "\"CVE-2021-44228\""
          }
        },
        "field_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to join fields. This field be ignored when `record_template` is set."
          }
        },
        "field_names": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneResponseOutputOptionsFieldNamesList",
          "traits": {
            "smithy.api#documentation": "List of field names to be included in the Logpush output. For the moment, there is no option to add all fields at once, so you must specify all the fields names you are interested in."
          }
        },
        "merge_subrequests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, subrequests will be merged into the parent request. Only supported for the `http_requests` dataset."
          }
        },
        "output_type": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneResponseOutputOptionsOutputType",
          "traits": {
            "smithy.api#documentation": "Specifies the output type, such as `ndjson` or `csv`. This sets default values for the rest of the settings, depending on the chosen output type. Some formatting rules, like string quoting, are different between output types."
          }
        },
        "record_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be inserted in-between the records as separator."
          }
        },
        "record_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be prepended before each record."
          }
        },
        "record_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to be appended after each record."
          }
        },
        "record_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String to use as template for each record instead of the default json key value mapping. All fields used in the template must be present in `field_names` as well, otherwise they will end up as null. Format as a Go `text/template` without any standard functions, like conditionals, loops, sub-templates, etc."
          }
        },
        "sample_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Floating number to specify sampling rate. Sampling is applied on top of filtering, and regardless of the current `sample_interval` of the data."
          }
        },
        "timestamp_format": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneResponseOutputOptionsTimestampFormat",
          "traits": {
            "smithy.api#documentation": "String to specify the format for timestamps, such as `unixnano`, `unix`, `rfc3339`, `rfc3339ms` or `rfc3339ns`."
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job."
          }
        },
        "dataset": {
          "target": "com.cloudflare.logpush#JobsCreateForZoneResponseDataset",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/)."
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates if the job is enabled."
          }
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
[...]
