{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "batchPrefix": "batch_prefix",
      "batchSuffix": "batch_suffix",
      "destinationConf": "destination_conf",
      "errorMessage": "error_message",
      "fieldDelimiter": "field_delimiter",
      "fieldNames": "field_names",
      "lastComplete": "last_complete",
      "lastError": "last_error",
      "logpullOptions": "logpull_options",
      "maxUploadBytes": "max_upload_bytes",
      "maxUploadIntervalSeconds": "max_upload_interval_seconds",
      "maxUploadRecords": "max_upload_records",
      "mergeSubrequests": "merge_subrequests",
      "outputOptions": "output_options",
      "outputType": "output_type",
      "ownershipChallenge": "ownership_challenge",
      "recordDelimiter": "record_delimiter",
      "recordPrefix": "record_prefix",
      "recordSuffix": "record_suffix",
      "recordTemplate": "record_template",
      "sampleRate": "sample_rate",
      "sessionId": "session_id",
      "timestampFormat": "timestamp_format"
    }
  },
  "shapes": {
    "com.cloudflare.logpush#EdgeGetResultItem": {
      "type": "structure",
      "members": {
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique WebSocket address that will receive messages from Cloudflare’s edge."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of fields."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters to drill down into specific events."
          }
        },
        "sample": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sample parameter is the sample rate of the records set by the client: \"sample\": 1 is 100% of records \"sample\": 10 is 10% and so on."
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique session id of the job."
          }
        }
      }
    },
    "com.cloudflare.logpush#EdgeGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.logpush#EdgeGetResultItem"
      }
    },
    "com.cloudflare.logpush#Logpush": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.logpush#DatasetsFieldsGetForAccount"
        },
        {
          "target": "com.cloudflare.logpush#DatasetsFieldsGetForZone"
        },
        {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForAccount"
        },
        {
          "target": "com.cloudflare.logpush#DatasetsJobsGetForZone"
        },
        {
          "target": "com.cloudflare.logpush#EdgeCreate"
        },
        {
          "target": "com.cloudflare.logpush#EdgeGet"
        },
        {
          "target": "com.cloudflare.logpush#JobsCreateForAccount"
        },
        {
          "target": "com.cloudflare.logpush#JobsCreateForZone"
        },
        {
          "target": "com.cloudflare.logpush#JobsDeleteForAccount"
        },
        {
          "target": "com.cloudflare.logpush#JobsDeleteForZone"
        },
        {
          "target": "com.cloudflare.logpush#JobsGetForAccount"
        },
        {
          "target": "com.cloudflare.logpush#JobsGetForZone"
        },
        {
          "target": "com.cloudflare.logpush#JobsListForAccount"
        },
        {
          "target": "com.cloudflare.logpush#JobsListForZone"
        },
        {
          "target": "com.cloudflare.logpush#JobsUpdateForAccount"
        },
        {
          "target": "com.cloudflare.logpush#JobsUpdateForZone"
        },
        {
          "target": "com.cloudflare.logpush#OwnershipCreateForAccount"
        },
        {
          "target": "com.cloudflare.logpush#OwnershipCreateForZone"
        },
        {
          "target": "com.cloudflare.logpush#OwnershipValidateForAccount"
        },
        {
          "target": "com.cloudflare.logpush#OwnershipValidateForZone"
        },
        {
          "target": "com.cloudflare.logpush#ValidateDestinationForAccount"
        },
        {
          "target": "com.cloudflare.logpush#ValidateDestinationForZone"
        },
        {
          "target": "com.cloudflare.logpush#ValidateDestinationExistsForAccount"
        },
        {
          "target": "com.cloudflare.logpush#ValidateDestinationExistsForZone"
        },
        {
          "target": "com.cloudflare.logpush#ValidateOriginForAccount"
        },
        {
          "target": "com.cloudflare.logpush#ValidateOriginForZone"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Logpush",
        "smithy.api#documentation": "Cloudflare API — logpush resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.logpush#Forbidden": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.cloudflare.logpush#JobNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 1000,
            "message": {
              "includes": "job not found"
            }
          },
          {
            "status": 404
          }
        ]
      }
    },
    "com.cloudflare.logpush#NotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.cloudflare.logpush#CreateEdge": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#CreateEdgeRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#CreateEdgeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/logpush/edge/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Instant Logs job for a zone."
      }
    },
    "com.cloudflare.logpush#CreateEdgeRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of fields."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters to drill down into specific events."
          }
        },
        "sample": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sample parameter is the sample rate of the records set by the client: \"sample\": 1 is 100% of records \"sample\": 10 is 10% and so on."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#CreateEdgeResponse": {
      "type": "structure",
      "members": {
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique WebSocket address that will receive messages from Cloudflare’s edge."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of fields."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters to drill down into specific events."
          }
        },
        "sample": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sample parameter is the sample rate of the records set by the client: \"sample\": 1 is 100% of records \"sample\": 10 is 10% and so on."
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique session id of the job."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#CreateJobForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#CreateJobForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#CreateJobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/logpush/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Logpush job for an account or zone."
      }
    },
    "com.cloudflare.logpush#CreateJobForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        },
        "dataset": {
          "target": "com.cloudflare.logpush#JobsCreateRequestDataset",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/)."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates if the job is enabled."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filters to select the events to include and/or remove from your logs. For more information, refer to [Filters](https://developers.cloudflare.com/logs/reference/filters/)."
          }
        },
        "frequency": {
          "target": "com.cloudflare.logpush#JobsCreateRequestFrequency",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Please use `max_upload_*` parameters instead. . The frequency at which Cloudflare sends batches of logs to your destination. Setting frequency to high sends your logs in larger quantities of smaller files. Setting frequency to low sends logs in smaller quantities of larger files."
          }
        },
        "kind": {
          "target": "com.cloudflare.logpush#JobsCreateRequestKind",
          "traits": {
            "smithy.api#documentation": "The kind parameter (optional) is used to differentiate between Logpush and Edge Log Delivery jobs (when supported by the dataset)."
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately."
          }
        },
        "max_upload_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size."
          }
        },
        "max_upload_interval_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this."
          }
        },
        "max_upload_records": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional human readable job name. Not unique. Cloudflare suggests. that you set this to a meaningful string, like the domain name, to make it easier to identify your job."
          }
        },
        "output_options": {
          "target": "com.cloudflare.logpush#JobsCreateRequestOutputOptions",
          "traits": {
            "smithy.api#documentation": "The structured replacement for `logpull_options`. When including this field, the `logpull_option` field will be ignored."
          }
        },
        "ownership_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ownership challenge token to prove destination ownership."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#CreateJobForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#CreateJobForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#CreateJobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/logpush/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Logpush job for an account or zone."
      }
    },
    "com.cloudflare.logpush#CreateJobForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        },
        "dataset": {
          "target": "com.cloudflare.logpush#JobsCreateRequestDataset",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/)."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates if the job is enabled."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filters to select the events to include and/or remove from your logs. For more information, refer to [Filters](https://developers.cloudflare.com/logs/reference/filters/)."
          }
        },
        "frequency": {
          "target": "com.cloudflare.logpush#JobsCreateRequestFrequency",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Please use `max_upload_*` parameters instead. . The frequency at which Cloudflare sends batches of logs to your destination. Setting frequency to high sends your logs in larger quantities of smaller files. Setting frequency to low sends logs in smaller quantities of larger files."
          }
        },
        "kind": {
          "target": "com.cloudflare.logpush#JobsCreateRequestKind",
          "traits": {
            "smithy.api#documentation": "The kind parameter (optional) is used to differentiate between Logpush and Edge Log Delivery jobs (when supported by the dataset)."
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately."
          }
        },
        "max_upload_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size."
          }
        },
        "max_upload_interval_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this."
          }
        },
        "max_upload_records": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional human readable job name. Not unique. Cloudflare suggests. that you set this to a meaningful string, like the domain name, to make it easier to identify your job."
          }
        },
        "output_options": {
          "target": "com.cloudflare.logpush#JobsCreateRequestOutputOptions",
          "traits": {
            "smithy.api#documentation": "The structured replacement for `logpull_options`. When including this field, the `logpull_option` field will be ignored."
          }
        },
        "ownership_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ownership challenge token to prove destination ownership."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#CreateOwnershipForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#CreateOwnershipForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#CreateOwnershipResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/logpush/ownership",
          "code": 200
        },
        "smithy.api#documentation": "Gets a new ownership challenge sent to your destination."
      }
    },
    "com.cloudflare.logpush#CreateOwnershipForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#CreateOwnershipForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#CreateOwnershipForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#CreateOwnershipResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/logpush/ownership",
          "code": 200
        },
        "smithy.api#documentation": "Gets a new ownership challenge sent to your destination."
      }
    },
    "com.cloudflare.logpush#CreateOwnershipForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#DeleteJobForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#DeleteJobForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#DeleteJobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/logpush/jobs/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a Logpush job.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.logpush#JobNotFound"
        }
      ]
    },
    "com.cloudflare.logpush#DeleteJobForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#DeleteJobForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#DeleteJobForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#DeleteJobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/logpush/jobs/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a Logpush job.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.logpush#JobNotFound"
        }
      ]
    },
    "com.cloudflare.logpush#DeleteJobForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#DestinationExistsValidateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#DestinationExistsValidateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#DestinationExistsValidateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/logpush/validate/destination/exists",
          "code": 200
        },
        "smithy.api#documentation": "Checks if there is an existing job with a destination."
      }
    },
    "com.cloudflare.logpush#DestinationExistsValidateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#DestinationExistsValidateForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#DestinationExistsValidateForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#DestinationExistsValidateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/logpush/validate/destination/exists",
          "code": 200
        },
        "smithy.api#documentation": "Checks if there is an existing job with a destination."
      }
    },
    "com.cloudflare.logpush#DestinationExistsValidateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#DestinationValidateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#DestinationValidateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#DestinationValidateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/logpush/validate/destination",
          "code": 200
        },
        "smithy.api#documentation": "Validates destination."
      }
    },
    "com.cloudflare.logpush#DestinationValidateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#DestinationValidateForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#DestinationValidateForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#DestinationValidateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/logpush/validate/destination",
          "code": 200
        },
        "smithy.api#documentation": "Validates destination."
      }
    },
    "com.cloudflare.logpush#DestinationValidateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#GetDatasetFieldForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#GetDatasetFieldForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#GetDatasetFieldResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/logpush/datasets/{dataset_id}/fields",
          "code": 200
        },
        "smithy.api#documentation": "Lists all fields available for a dataset. The response result is. an object with key-value pairs, where keys are field names, and values are descriptions.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logpush#GetDatasetFieldForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataset_id": {
          "target": "com.cloudflare.logpush#DatasetsFieldsGetRequestDatasetId",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#GetDatasetFieldForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#GetDatasetFieldForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#GetDatasetFieldResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/logpush/datasets/{dataset_id}/fields",
          "code": 200
        },
        "smithy.api#documentation": "Lists all fields available for a dataset. The response result is. an object with key-value pairs, where keys are field names, and values are descriptions.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logpush#GetDatasetFieldForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataset_id": {
          "target": "com.cloudflare.logpush#DatasetsFieldsGetRequestDatasetId",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#GetDatasetJobForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#GetDatasetJobForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#GetDatasetJobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/logpush/datasets/{dataset_id}/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Lists Logpush jobs for an account or zone for a dataset.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      }
    },
    "com.cloudflare.logpush#GetDatasetJobForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataset_id": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetRequestDatasetId",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#GetDatasetJobForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#GetDatasetJobForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#GetDatasetJobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/logpush/datasets/{dataset_id}/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Lists Logpush jobs for an account or zone for a dataset.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      }
    },
    "com.cloudflare.logpush#GetDatasetJobForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataset_id": {
          "target": "com.cloudflare.logpush#DatasetsJobsGetRequestDatasetId",
          "traits": {
            "smithy.api#documentation": "Name of the dataset. A list of supported datasets can be found on the [Developer Docs](https://developers.cloudflare.com/logs/reference/log-fields/).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#GetEdge": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#GetEdgeRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#GetEdgeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/logpush/edge/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Lists Instant Logs jobs for a zone.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      }
    },
    "com.cloudflare.logpush#GetEdgeRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#GetEdgeResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.logpush#EdgeGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#GetJobForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#GetJobForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#GetJobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/logpush/jobs/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Gets the details of a Logpush job.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.logpush#JobNotFound"
        },
        {
          "target": "com.cloudflare.logpush#Forbidden"
        }
      ]
    },
    "com.cloudflare.logpush#GetJobForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#GetJobForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#GetJobForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#GetJobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/logpush/jobs/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Gets the details of a Logpush job.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.logpush#JobNotFound"
        },
        {
          "target": "com.cloudflare.logpush#Forbidden"
        }
      ]
    },
    "com.cloudflare.logpush#GetJobForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#ListJobsForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#ListJobsForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#ListJobsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/logpush/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Lists Logpush jobs for an account or zone.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      },
      "errors": [
        {
          "target": "com.cloudflare.logpush#Forbidden"
        },
        {
          "target": "com.cloudflare.logpush#NotFound"
        }
      ]
    },
    "com.cloudflare.logpush#ListJobsForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#ListJobsForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#ListJobsForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#ListJobsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/logpush/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Lists Logpush jobs for an account or zone.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      },
      "errors": [
        {
          "target": "com.cloudflare.logpush#Forbidden"
        },
        {
          "target": "com.cloudflare.logpush#NotFound"
        }
      ]
    },
    "com.cloudflare.logpush#ListJobsForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#OriginValidateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#OriginValidateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#OriginValidateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/logpush/validate/origin",
          "code": 200
        },
        "smithy.api#documentation": "Validates logpull origin with logpull_options."
      }
    },
    "com.cloudflare.logpush#OriginValidateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#OriginValidateForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#OriginValidateForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#OriginValidateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/logpush/validate/origin",
          "code": 200
        },
        "smithy.api#documentation": "Validates logpull origin with logpull_options."
      }
    },
    "com.cloudflare.logpush#OriginValidateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#UpdateJobForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#UpdateJobForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#UpdateJobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/logpush/jobs/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a Logpush job.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.logpush#UpdateJobForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates if the job is enabled."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filters to select the events to include and/or remove from your logs. For more information, refer to [Filters](https://developers.cloudflare.com/logs/reference/filters/)."
          }
        },
        "frequency": {
          "target": "com.cloudflare.logpush#JobsUpdateRequestFrequency",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Please use `max_upload_*` parameters instead. . The frequency at which Cloudflare sends batches of logs to your destination. Setting frequency to high sends your logs in larger quantities of smaller files. Setting frequency to low sends logs in smaller quantities of larger files."
          }
        },
        "kind": {
          "target": "com.cloudflare.logpush#JobsUpdateRequestKind",
          "traits": {
            "smithy.api#documentation": "The kind parameter (optional) is used to differentiate between Logpush and Edge Log Delivery jobs (when supported by the dataset)."
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately."
          }
        },
        "max_upload_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size."
          }
        },
        "max_upload_interval_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this."
          }
        },
        "max_upload_records": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional human readable job name. Not unique. Cloudflare suggests. that you set this to a meaningful string, like the domain name, to make it easier to identify your job."
          }
        },
        "output_options": {
          "target": "com.cloudflare.logpush#JobsUpdateRequestOutputOptions",
          "traits": {
            "smithy.api#documentation": "The structured replacement for `logpull_options`. When including this field, the `logpull_option` field will be ignored."
          }
        },
        "ownership_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ownership challenge token to prove destination ownership."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#UpdateJobForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#UpdateJobForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#UpdateJobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/logpush/jobs/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a Logpush job.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.logpush#UpdateJobForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates if the job is enabled."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filters to select the events to include and/or remove from your logs. For more information, refer to [Filters](https://developers.cloudflare.com/logs/reference/filters/)."
          }
        },
        "frequency": {
          "target": "com.cloudflare.logpush#JobsUpdateRequestFrequency",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Please use `max_upload_*` parameters instead. . The frequency at which Cloudflare sends batches of logs to your destination. Setting frequency to high sends your logs in larger quantities of smaller files. Setting frequency to low sends logs in smaller quantities of larger files."
          }
        },
        "kind": {
          "target": "com.cloudflare.logpush#JobsUpdateRequestKind",
          "traits": {
            "smithy.api#documentation": "The kind parameter (optional) is used to differentiate between Logpush and Edge Log Delivery jobs (when supported by the dataset)."
          }
        },
        "logpull_options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. Use `output_options` instead. Configuration string. It specifies things like requested fields and timestamp formats. If migrating from the logpull api, copy the url (full url or just the query string) of your call here, and logpush will keep on making this call for you, setting start and end times appropriately."
          }
        },
        "max_upload_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum uncompressed file size of a batch of logs. This setting value must be between `5 MB` and `1 GB`, or `0` to disable it. Note that you cannot set a minimum file size; this means that log files may be much smaller than this batch size."
          }
        },
        "max_upload_interval_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum interval in seconds for log batches. This setting must be between 30 and 300 seconds (5 minutes), or `0` to disable it. Note that you cannot specify a minimum interval for log batches; this means that log files may be sent in shorter intervals than this."
          }
        },
        "max_upload_records": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of log lines per batch. This setting must be between 1000 and 1,000,000 lines, or `0` to disable it. Note that you cannot specify a minimum number of log lines per batch; this means that log files may contain many fewer lines than this."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional human readable job name. Not unique. Cloudflare suggests. that you set this to a meaningful string, like the domain name, to make it easier to identify your job."
          }
        },
        "output_options": {
          "target": "com.cloudflare.logpush#JobsUpdateRequestOutputOptions",
          "traits": {
            "smithy.api#documentation": "The structured replacement for `logpull_options`. When including this field, the `logpull_option` field will be ignored."
          }
        },
        "ownership_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ownership challenge token to prove destination ownership."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#ValidateOwnershipForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#ValidateOwnershipForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#ValidateOwnershipResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/logpush/ownership/validate",
          "code": 200
        },
        "smithy.api#documentation": "Validates ownership challenge of the destination."
      }
    },
    "com.cloudflare.logpush#ValidateOwnershipForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        },
        "ownership_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ownership challenge token to prove destination ownership.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#ValidateOwnershipForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logpush#ValidateOwnershipForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.logpush#ValidateOwnershipResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/logpush/ownership/validate",
          "code": 200
        },
        "smithy.api#documentation": "Validates ownership challenge of the destination."
      }
    },
    "com.cloudflare.logpush#ValidateOwnershipForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uniquely identifies a resource (such as an s3 bucket) where data. will be pushed. Additional configuration parameters supported by the destination may be included.",
            "smithy.api#required": {}
          }
        },
        "ownership_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ownership challenge token to prove destination ownership.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logpush#ValidateOwnershipResponse": {
      "type": "structure",
      "members": {
        "valid": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#OriginValidateResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "valid": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#GetDatasetFieldResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logpush#DestinationValidateResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "valid": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#DestinationExistsValidateResponse": {
      "type": "structure",
      "members": {
        "exists": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#DeleteJobResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unique id of the job."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#CreateOwnershipResponse": {
      "type": "structure",
      "members": {
        "filename": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "valid": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logpush#JobsUpdateResponseOutputOptionsTimestampFormat": {
      "type": "enum",
      "members": {
        "UNIXNANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unixnano"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        },
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        },
        "RFC3339MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339ms"
          }
        },
        "RFC3339NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339ns"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsUpdateResponseOutputOptionsOutputType": {
      "type": "enum",
      "members": {
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsUpdateResponseOutputOptionsFieldNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.logpush#JobsUpdateResponseKind": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsUpdateResponseFrequency": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsUpdateResponseDataset": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        },
        "BISO_USER_ACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "biso_user_actions"
          }
        },
        "CASB_FINDINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "casb_findings"
          }
        },
        "DEVICE_POSTURE_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "device_posture_results"
          }
        },
        "DEX_APPLICATION_TESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dex_application_tests"
          }
        },
        "DEX_DEVICE_STATE_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dex_device_state_events"
          }
        },
        "DLP_FORENSIC_COPIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dlp_forensic_copies"
          }
        },
        "DNS_FIREWALL_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_firewall_logs"
          }
        },
        "DNS_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_logs"
          }
        },
        "EMAIL_SECURITY_ALERTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email_security_alerts"
          }
        },
        "EMAIL_SECURITY_POST_DELIVERY_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email_security_post_delivery_events"
          }
        },
        "FIREWALL_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall_events"
          }
        },
        "GATEWAY_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_dns"
          }
        },
        "GATEWAY_HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_http"
          }
        },
        "GATEWAY_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_network"
          }
        },
        "HTTP_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_requests"
          }
        },
        "IPSEC_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipsec_logs"
          }
        },
        "MAGIC_IDS_DETECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_ids_detections"
          }
        },
        "MCP_PORTAL_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mcp_portal_logs"
          }
        },
        "MNM_FLOW_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mnm_flow_logs"
          }
        },
        "NEL_REPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nel_reports"
          }
        },
        "NETWORK_ANALYTICS_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "network_analytics_logs"
          }
        },
        "PAGE_SHIELD_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page_shield_events"
          }
        },
        "SINKHOLE_HTTP_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sinkhole_http_logs"
          }
        },
        "SPECTRUM_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spectrum_events"
          }
        },
        "SSH_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssh_logs"
          }
        },
        "TURNSTILE_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "turnstile_events"
          }
        },
        "WARP_CONFIG_CHANGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warp_config_changes"
          }
        },
        "WARP_TOGGLE_CHANGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warp_toggle_changes"
          }
        },
        "WEBSOCKET_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "websocket_analytics"
          }
        },
        "WORKERS_TRACE_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workers_trace_events"
          }
        },
        "ZARAZ_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zaraz_events"
          }
        },
        "ZERO_TRUST_NETWORK_SESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero_trust_network_sessions"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsUpdateRequestOutputOptionsTimestampFormat": {
      "type": "enum",
      "members": {
        "UNIXNANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unixnano"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        },
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        },
        "RFC3339MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339ms"
          }
        },
        "RFC3339NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339ns"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsUpdateRequestOutputOptionsOutputType": {
      "type": "enum",
      "members": {
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsUpdateRequestOutputOptionsFieldNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.logpush#JobsUpdateRequestKind": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsUpdateRequestFrequency": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsListResultItemOutputOptionsTimestampFormat": {
      "type": "enum",
      "members": {
        "UNIXNANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unixnano"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        },
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        },
        "RFC3339MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339ms"
          }
        },
        "RFC3339NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339ns"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsListResultItemOutputOptionsOutputType": {
      "type": "enum",
      "members": {
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsListResultItemOutputOptionsFieldNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.logpush#JobsListResultItemKind": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsListResultItemFrequency": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsListResultItemDataset": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        },
        "BISO_USER_ACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "biso_user_actions"
          }
        },
        "CASB_FINDINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "casb_findings"
          }
        },
        "DEVICE_POSTURE_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "device_posture_results"
          }
        },
        "DEX_APPLICATION_TESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dex_application_tests"
          }
        },
        "DEX_DEVICE_STATE_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dex_device_state_events"
          }
        },
        "DLP_FORENSIC_COPIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dlp_forensic_copies"
          }
        },
        "DNS_FIREWALL_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_firewall_logs"
          }
        },
        "DNS_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_logs"
          }
        },
        "EMAIL_SECURITY_ALERTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email_security_alerts"
          }
        },
        "EMAIL_SECURITY_POST_DELIVERY_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email_security_post_delivery_events"
          }
        },
        "FIREWALL_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall_events"
          }
        },
        "GATEWAY_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_dns"
          }
        },
        "GATEWAY_HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_http"
          }
        },
        "GATEWAY_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_network"
          }
        },
        "HTTP_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_requests"
          }
        },
        "IPSEC_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipsec_logs"
          }
        },
        "MAGIC_IDS_DETECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_ids_detections"
          }
        },
        "MCP_PORTAL_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mcp_portal_logs"
          }
        },
        "MNM_FLOW_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mnm_flow_logs"
          }
        },
        "NEL_REPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nel_reports"
          }
        },
        "NETWORK_ANALYTICS_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "network_analytics_logs"
          }
        },
        "PAGE_SHIELD_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page_shield_events"
          }
        },
        "SINKHOLE_HTTP_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sinkhole_http_logs"
          }
        },
        "SPECTRUM_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spectrum_events"
          }
        },
        "SSH_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssh_logs"
          }
        },
        "TURNSTILE_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "turnstile_events"
          }
        },
        "WARP_CONFIG_CHANGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warp_config_changes"
          }
        },
        "WARP_TOGGLE_CHANGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warp_toggle_changes"
          }
        },
        "WEBSOCKET_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "websocket_analytics"
          }
        },
        "WORKERS_TRACE_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workers_trace_events"
          }
        },
        "ZARAZ_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zaraz_events"
          }
        },
        "ZERO_TRUST_NETWORK_SESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero_trust_network_sessions"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsGetResponseOutputOptionsTimestampFormat": {
      "type": "enum",
      "members": {
        "UNIXNANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unixnano"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        },
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        },
        "RFC3339MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339ms"
          }
        },
        "RFC3339NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339ns"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsGetResponseOutputOptionsOutputType": {
      "type": "enum",
      "members": {
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsGetResponseOutputOptionsFieldNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.logpush#JobsGetResponseKind": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsGetResponseFrequency": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsGetResponseDataset": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        },
        "BISO_USER_ACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "biso_user_actions"
          }
        },
        "CASB_FINDINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "casb_findings"
          }
        },
        "DEVICE_POSTURE_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "device_posture_results"
          }
        },
        "DEX_APPLICATION_TESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dex_application_tests"
          }
        },
        "DEX_DEVICE_STATE_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dex_device_state_events"
          }
        },
        "DLP_FORENSIC_COPIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dlp_forensic_copies"
          }
        },
        "DNS_FIREWALL_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_firewall_logs"
          }
        },
        "DNS_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_logs"
          }
        },
        "EMAIL_SECURITY_ALERTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email_security_alerts"
          }
        },
        "EMAIL_SECURITY_POST_DELIVERY_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email_security_post_delivery_events"
          }
        },
        "FIREWALL_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall_events"
          }
        },
        "GATEWAY_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_dns"
          }
        },
        "GATEWAY_HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_http"
          }
        },
        "GATEWAY_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_network"
          }
        },
        "HTTP_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_requests"
          }
        },
        "IPSEC_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipsec_logs"
          }
        },
        "MAGIC_IDS_DETECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_ids_detections"
          }
        },
        "MCP_PORTAL_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mcp_portal_logs"
          }
        },
        "MNM_FLOW_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mnm_flow_logs"
          }
        },
        "NEL_REPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nel_reports"
          }
        },
        "NETWORK_ANALYTICS_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "network_analytics_logs"
          }
        },
        "PAGE_SHIELD_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page_shield_events"
          }
        },
        "SINKHOLE_HTTP_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sinkhole_http_logs"
          }
        },
        "SPECTRUM_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spectrum_events"
          }
        },
        "SSH_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssh_logs"
          }
        },
        "TURNSTILE_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "turnstile_events"
          }
        },
        "WARP_CONFIG_CHANGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warp_config_changes"
          }
        },
        "WARP_TOGGLE_CHANGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warp_toggle_changes"
          }
        },
        "WEBSOCKET_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "websocket_analytics"
          }
        },
        "WORKERS_TRACE_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workers_trace_events"
          }
        },
        "ZARAZ_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zaraz_events"
          }
        },
        "ZERO_TRUST_NETWORK_SESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero_trust_network_sessions"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateResponseOutputOptionsTimestampFormat": {
      "type": "enum",
      "members": {
        "UNIXNANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unixnano"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        },
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        },
        "RFC3339MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339ms"
          }
        },
        "RFC3339NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339ns"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateResponseOutputOptionsOutputType": {
      "type": "enum",
      "members": {
        "NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ndjson"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateResponseOutputOptionsFieldNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.logpush#JobsCreateResponseKind": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateResponseFrequency": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        }
      }
    },
    "com.cloudflare.logpush#JobsCreateResponseDataset": {
      "type": "enum",
      "members": {
        "ACCESS_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_requests"
          }
        },
        "AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs"
          }
        },
        "AUDIT_LOGS_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit_logs_v2"
          }
        },
        "BISO_USER_ACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "biso_user_actions"
          }
        },
        "CASB_FINDINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "casb_findings"
          }
        },
        "DEVICE_POSTURE_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "device_posture_results"
          }
        },
        "DEX_APPLICATION_TESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dex_application_tests"
          }
        },
        "DEX_DEVICE_STATE_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dex_device_state_events"
          }
        },
        "DLP_FORENSIC_COPIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dlp_forensic_copies"
          }
        },
        "DNS_FIREWALL_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_firewall_logs"
          }
        },
        "DNS_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_logs"
          }
        },
        "EMAIL_SECURITY_ALERTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email_security_alerts"
          }
        },
        "EMAIL_SECURITY_POST_DELIVERY_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email_security_post_delivery_events"
          }
        },
        "FIREWALL_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall_events"
          }
        },
        "GATEWAY_DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_dns"
          }
        },
        "GATEWAY_HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_http"
          }
        },
        "GATEWAY_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_network"
          }
        },
        "HTTP_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_requests"
          }
        },
        "IPSEC_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipsec_logs"
          }
        },
        "MAGIC_IDS_DETECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_ids_detections"
          }
        },
        "MCP_PORTAL_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mcp_portal_logs"
          }
        },
        "MNM_FLOW_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mnm_flow_logs"
          }
        },
        "NEL_REPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nel_reports"
          }
        },
        "NETWORK_ANALYTICS_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "network_analytics_logs"
          }
        },
        "PAGE_SHIELD_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
