{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseDestinationType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ZERO_TRUST_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZERO_TRUST_LIST"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseUpdateMode": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsMeta": {
      "type": "structure",
      "members": {
        "l10n_key": {
          "target": "smithy.api#String"
        },
        "loggable_error": {
          "target": "smithy.api#String"
        },
        "template_data": {
          "target": "smithy.api#Document"
        },
        "trace_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsSource": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "parameter_value_index": {
          "target": "smithy.api#Double"
        },
        "pointer": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrors": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#String"
        },
        "meta": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsMeta"
        },
        "source": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsSource"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_type": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseDestinationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_user_update_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "update_mode": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseUpdateMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrors"
        },
        "includes_discoveries_until": {
          "target": "smithy.api#String"
        },
        "last_attempted_update_at": {
          "target": "smithy.api#String"
        },
        "last_successful_update_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/cloud/catalog-syncs",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Catalog Sync (Closed Beta)."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sync_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/cloud/catalog-syncs/{sync_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Catalog Sync (Closed Beta).",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sync_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseDestinationType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ZERO_TRUST_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZERO_TRUST_LIST"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseUpdateMode": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsMeta": {
      "type": "structure",
      "members": {
        "l10n_key": {
          "target": "smithy.api#String"
        },
        "loggable_error": {
          "target": "smithy.api#String"
        },
        "template_data": {
          "target": "smithy.api#Document"
        },
        "trace_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsSource": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "parameter_value_index": {
          "target": "smithy.api#Double"
        },
        "pointer": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrors": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#String"
        },
        "meta": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsMeta"
        },
        "source": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsSource"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_type": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseDestinationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_user_update_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "update_mode": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseUpdateMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrors"
        },
        "includes_discoveries_until": {
          "target": "smithy.api#String"
        },
        "last_attempted_update_at": {
          "target": "smithy.api#String"
        },
        "last_successful_update_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/magic/cloud/catalog-syncs/{sync_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a Catalog Sync (Closed Beta)."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sync_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseDestinationType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ZERO_TRUST_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZERO_TRUST_LIST"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseUpdateMode": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsMeta": {
      "type": "structure",
      "members": {
        "l10n_key": {
          "target": "smithy.api#String"
        },
        "loggable_error": {
          "target": "smithy.api#String"
        },
        "template_data": {
          "target": "smithy.api#Document"
        },
        "trace_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsSource": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "parameter_value_index": {
          "target": "smithy.api#Double"
        },
        "pointer": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrors": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#String"
        },
        "meta": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsMeta"
        },
        "source": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsSource"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_type": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseDestinationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_user_update_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "update_mode": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseUpdateMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrors"
        },
        "includes_discoveries_until": {
          "target": "smithy.api#String"
        },
        "last_attempted_update_at": {
          "target": "smithy.api#String"
        },
        "last_successful_update_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cloud/catalog-syncs/{sync_id}",
          "code": 200
        },
        "smithy.api#documentation": "Read a Catalog Sync (Closed Beta).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItemDestinationType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ZERO_TRUST_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZERO_TRUST_LIST"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItemUpdateMode": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItemErrorsMeta": {
      "type": "structure",
      "members": {
        "l10n_key": {
          "target": "smithy.api#String"
        },
        "loggable_error": {
          "target": "smithy.api#String"
        },
        "template_data": {
          "target": "smithy.api#Document"
        },
        "trace_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItemErrorsSource": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "parameter_value_index": {
          "target": "smithy.api#Double"
        },
        "pointer": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItemErrors": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#String"
        },
        "meta": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItemErrorsMeta"
        },
        "source": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItemErrorsSource"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_type": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItemDestinationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_user_update_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "update_mode": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItemUpdateMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItemErrors"
        },
        "includes_discoveries_until": {
          "target": "smithy.api#String"
        },
        "last_attempted_update_at": {
          "target": "smithy.api#String"
        },
        "last_successful_update_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItem"
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsListRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cloud/catalog-syncs",
          "code": 200
        },
        "smithy.api#documentation": "List Catalog Syncs (Closed Beta).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsRefreshRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sync_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsRefreshResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsRefresh": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsRefreshRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsRefreshResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/cloud/catalog-syncs/{sync_id}/refresh",
          "code": 200
        },
        "smithy.api#documentation": "Refresh a Catalog Sync’s destination by running the sync policy against latest resource catalog (Closed Beta)."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sync_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateResponseDestinationType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ZERO_TRUST_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZERO_TRUST_LIST"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateResponseUpdateMode": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateResponseErrorsMeta": {
      "type": "structure",
      "members": {
        "l10n_key": {
          "target": "smithy.api#String"
        },
        "loggable_error": {
          "target": "smithy.api#String"
        },
        "template_data": {
          "target": "smithy.api#Document"
        },
        "trace_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateResponseErrorsSource": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "parameter_value_index": {
          "target": "smithy.api#Double"
        },
        "pointer": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateResponseErrors": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#String"
        },
        "meta": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateResponseErrorsMeta"
        },
        "source": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateResponseErrorsSource"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_type": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateResponseDestinationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_user_update_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "update_mode": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateResponseUpdateMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateResponseErrors"
        },
        "includes_discoveries_until": {
          "target": "smithy.api#String"
        },
        "last_attempted_update_at": {
          "target": "smithy.api#String"
        },
        "last_successful_update_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/magic/cloud/catalog-syncs/{sync_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a Catalog Sync (Closed Beta).",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsPrebuiltPoliciesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsPrebuiltPoliciesListResultItemApplicableDestinationsItem": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ZERO_TRUST_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZERO_TRUST_LIST"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsPrebuiltPoliciesListResultItemApplicableDestinationsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsPrebuiltPoliciesListResultItemApplicableDestinationsItem"
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsPrebuiltPoliciesListResultItem": {
      "type": "structure",
      "members": {
        "applicable_destinations": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsPrebuiltPoliciesListResultItemApplicableDestinationsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policy_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policy_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policy_string": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsPrebuiltPoliciesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsPrebuiltPoliciesListResultItem"
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsPrebuiltPoliciesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsPrebuiltPoliciesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsPrebuiltPoliciesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsPrebuiltPoliciesListRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsPrebuiltPoliciesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cloud/catalog-syncs/prebuilt-policies",
          "code": 200
        },
        "smithy.api#documentation": "List prebuilt catalog sync policies (Closed Beta).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseCloudType": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE"
          }
        },
        "CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDFLARE"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseLifecycleState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PENDING_SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_SETUP"
          }
        },
        "RETIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETIRED"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatusDiscoveryProgress": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatusDiscoveryProgressV2": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatusRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatusInUseByItemClientType": {
      "type": "enum",
      "members": {
        "MAGIC_WAN_CLOUD_ONRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAGIC_WAN_CLOUD_ONRAMP"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatusInUseByItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_type": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatusInUseByItemClientType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatusInUseByList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatusInUseByItem"
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatus": {
      "type": "structure",
      "members": {
        "discovery_progress": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatusDiscoveryProgress",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "discovery_progress_v2": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatusDiscoveryProgressV2",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_discovery_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_discovery_status_v2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "regions": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatusRegionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "credentials_good_since": {
          "target": "smithy.api#String"
        },
        "credentials_missing_since": {
          "target": "smithy.api#String"
        },
        "credentials_rejected_since": {
          "target": "smithy.api#String"
        },
        "discovery_message": {
          "target": "smithy.api#String"
        },
        "discovery_message_v2": {
          "target": "smithy.api#String"
        },
        "in_use_by": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatusInUseByList"
        },
        "last_discovery_completed_at": {
          "target": "smithy.api#String"
        },
        "last_discovery_completed_at_v2": {
          "target": "smithy.api#String"
        },
        "last_discovery_started_at": {
          "target": "smithy.api#String"
        },
        "last_discovery_started_at_v2": {
          "target": "smithy.api#String"
        },
        "last_updated": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cloud_type": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseCloudType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "friendly_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lifecycle_state": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseLifecycleState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state_v2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aws_arn": {
          "target": "smithy.api#String"
        },
        "azure_subscription_id": {
          "target": "smithy.api#String"
        },
        "azure_tenant_id": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "gcp_project_id": {
          "target": "smithy.api#String"
        },
        "gcp_service_account_email": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponseStatus"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/cloud/providers",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Cloud Integration (Closed Beta)."
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "provider_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/cloud/providers/{provider_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Cloud Integration (Closed Beta).",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsDiscoverRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "provider_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsDiscover": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsDiscoverRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/cloud/providers/{provider_id}/discover",
          "code": 200
        },
        "smithy.api#documentation": "Run discovery for a Cloud Integration (Closed Beta)."
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsDiscoverAllRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsDiscoverAll": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsDiscoverAllRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/cloud/providers/discover",
          "code": 200
        },
        "smithy.api#documentation": "Run discovery for all Cloud Integrations in an account (Closed Beta)."
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "provider_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseCloudType": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE"
          }
        },
        "CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDFLARE"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseLifecycleState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PENDING_SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_SETUP"
          }
        },
        "RETIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETIRED"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatusDiscoveryProgress": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatusDiscoveryProgressV2": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatusRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatusInUseByItemClientType": {
      "type": "enum",
      "members": {
        "MAGIC_WAN_CLOUD_ONRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAGIC_WAN_CLOUD_ONRAMP"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatusInUseByItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_type": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatusInUseByItemClientType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatusInUseByList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatusInUseByItem"
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatus": {
      "type": "structure",
      "members": {
        "discovery_progress": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatusDiscoveryProgress",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "discovery_progress_v2": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatusDiscoveryProgressV2",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_discovery_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_discovery_status_v2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "regions": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatusRegionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "credentials_good_since": {
          "target": "smithy.api#String"
        },
        "credentials_missing_since": {
          "target": "smithy.api#String"
        },
        "credentials_rejected_since": {
          "target": "smithy.api#String"
        },
        "discovery_message": {
          "target": "smithy.api#String"
        },
        "discovery_message_v2": {
          "target": "smithy.api#String"
        },
        "in_use_by": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatusInUseByList"
        },
        "last_discovery_completed_at": {
          "target": "smithy.api#String"
        },
        "last_discovery_completed_at_v2": {
          "target": "smithy.api#String"
        },
        "last_discovery_started_at": {
          "target": "smithy.api#String"
        },
        "last_discovery_started_at_v2": {
          "target": "smithy.api#String"
        },
        "last_updated": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cloud_type": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseCloudType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "friendly_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lifecycle_state": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseLifecycleState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state_v2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aws_arn": {
          "target": "smithy.api#String"
        },
        "azure_subscription_id": {
          "target": "smithy.api#String"
        },
        "azure_tenant_id": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "gcp_project_id": {
          "target": "smithy.api#String"
        },
        "gcp_service_account_email": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponseStatus"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/magic/cloud/providers/{provider_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a Cloud Integration (Closed Beta)."
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "provider_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseCloudType": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE"
          }
        },
        "CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDFLARE"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseLifecycleState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PENDING_SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_SETUP"
          }
        },
        "RETIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETIRED"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatusDiscoveryProgress": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatusDiscoveryProgressV2": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatusRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatusInUseByItemClientType": {
      "type": "enum",
      "members": {
        "MAGIC_WAN_CLOUD_ONRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAGIC_WAN_CLOUD_ONRAMP"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatusInUseByItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_type": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatusInUseByItemClientType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatusInUseByList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatusInUseByItem"
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatus": {
      "type": "structure",
      "members": {
        "discovery_progress": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatusDiscoveryProgress",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "discovery_progress_v2": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatusDiscoveryProgressV2",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_discovery_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_discovery_status_v2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "regions": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatusRegionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "credentials_good_since": {
          "target": "smithy.api#String"
        },
        "credentials_missing_since": {
          "target": "smithy.api#String"
        },
        "credentials_rejected_since": {
          "target": "smithy.api#String"
        },
        "discovery_message": {
          "target": "smithy.api#String"
        },
        "discovery_message_v2": {
          "target": "smithy.api#String"
        },
        "in_use_by": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatusInUseByList"
        },
        "last_discovery_completed_at": {
          "target": "smithy.api#String"
        },
        "last_discovery_completed_at_v2": {
          "target": "smithy.api#String"
        },
        "last_discovery_started_at": {
          "target": "smithy.api#String"
        },
        "last_discovery_started_at_v2": {
          "target": "smithy.api#String"
        },
        "last_updated": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cloud_type": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseCloudType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "friendly_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lifecycle_state": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseLifecycleState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state_v2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aws_arn": {
          "target": "smithy.api#String"
        },
        "azure_subscription_id": {
          "target": "smithy.api#String"
        },
        "azure_tenant_id": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "gcp_project_id": {
          "target": "smithy.api#String"
        },
        "gcp_service_account_email": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponseStatus"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cloud/providers/{provider_id}",
          "code": 200
        },
        "smithy.api#documentation": "Read a Cloud Integration (Closed Beta).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsInitialSetupRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "provider_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsInitialSetupResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsInitialSetup": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsInitialSetupRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsInitialSetupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cloud/providers/{provider_id}/initial_setup",
          "code": 200
        },
        "smithy.api#documentation": "Get initial configuration to complete Cloud Integration setup (Closed Beta).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemCloudType": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE"
          }
        },
        "CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDFLARE"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemLifecycleState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PENDING_SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_SETUP"
          }
        },
        "RETIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETIRED"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatusDiscoveryProgress": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatusDiscoveryProgressV2": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatusRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatusInUseByItemClientType": {
      "type": "enum",
      "members": {
        "MAGIC_WAN_CLOUD_ONRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAGIC_WAN_CLOUD_ONRAMP"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatusInUseByItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_type": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatusInUseByItemClientType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatusInUseByList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatusInUseByItem"
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatus": {
      "type": "structure",
      "members": {
        "discovery_progress": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatusDiscoveryProgress",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "discovery_progress_v2": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatusDiscoveryProgressV2",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_discovery_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_discovery_status_v2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "regions": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatusRegionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "credentials_good_since": {
          "target": "smithy.api#String"
        },
        "credentials_missing_since": {
          "target": "smithy.api#String"
        },
        "credentials_rejected_since": {
          "target": "smithy.api#String"
        },
        "discovery_message": {
          "target": "smithy.api#String"
        },
        "discovery_message_v2": {
          "target": "smithy.api#String"
        },
        "in_use_by": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatusInUseByList"
        },
        "last_discovery_completed_at": {
          "target": "smithy.api#String"
        },
        "last_discovery_completed_at_v2": {
          "target": "smithy.api#String"
        },
        "last_discovery_started_at": {
          "target": "smithy.api#String"
        },
        "last_discovery_started_at_v2": {
          "target": "smithy.api#String"
        },
        "last_updated": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cloud_type": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemCloudType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "friendly_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lifecycle_state": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemLifecycleState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state_v2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aws_arn": {
          "target": "smithy.api#String"
        },
        "azure_subscription_id": {
          "target": "smithy.api#String"
        },
        "azure_tenant_id": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "gcp_project_id": {
          "target": "smithy.api#String"
        },
        "gcp_service_account_email": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItemStatus"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultItem"
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsListRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cloud/providers",
          "code": 200
        },
        "smithy.api#documentation": "List Cloud Integrations (Closed Beta).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "provider_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseCloudType": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE"
          }
        },
        "CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDFLARE"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseLifecycleState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PENDING_SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_SETUP"
          }
        },
        "RETIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETIRED"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatusDiscoveryProgress": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatusDiscoveryProgressV2": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatusRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatusInUseByItemClientType": {
      "type": "enum",
      "members": {
        "MAGIC_WAN_CLOUD_ONRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAGIC_WAN_CLOUD_ONRAMP"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatusInUseByItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_type": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatusInUseByItemClientType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatusInUseByList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatusInUseByItem"
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatus": {
      "type": "structure",
      "members": {
        "discovery_progress": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatusDiscoveryProgress",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "discovery_progress_v2": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatusDiscoveryProgressV2",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_discovery_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_discovery_status_v2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "regions": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatusRegionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "credentials_good_since": {
          "target": "smithy.api#String"
        },
        "credentials_missing_since": {
          "target": "smithy.api#String"
        },
        "credentials_rejected_since": {
          "target": "smithy.api#String"
        },
        "discovery_message": {
          "target": "smithy.api#String"
        },
        "discovery_message_v2": {
          "target": "smithy.api#String"
        },
        "in_use_by": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatusInUseByList"
        },
        "last_discovery_completed_at": {
          "target": "smithy.api#String"
        },
        "last_discovery_completed_at_v2": {
          "target": "smithy.api#String"
        },
        "last_discovery_started_at": {
          "target": "smithy.api#String"
        },
        "last_discovery_started_at_v2": {
          "target": "smithy.api#String"
        },
        "last_updated": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cloud_type": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseCloudType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "friendly_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lifecycle_state": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseLifecycleState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state_v2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aws_arn": {
          "target": "smithy.api#String"
        },
        "azure_subscription_id": {
          "target": "smithy.api#String"
        },
        "azure_tenant_id": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "gcp_project_id": {
          "target": "smithy.api#String"
        },
        "gcp_service_account_email": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponseStatus"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CloudIntegrationsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/magic/cloud/providers/{provider_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a Cloud Integration (Closed Beta).",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsApplyRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "onramp_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsApply": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#OnRampsApplyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/cloud/onramps/{onramp_id}/apply",
          "code": 200
        },
        "smithy.api#documentation": "Apply an On-ramp (Closed Beta)."
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponseCloudType": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponseType": {
      "type": "enum",
      "members": {
        "ONRAMPTYPESINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OnrampTypeSingle"
          }
        },
        "ONRAMPTYPEHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OnrampTypeHub"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponseAttachedHubsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponseAttachedVpcsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedMonthlyCostEstimate": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current_monthly_cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "diff": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "proposed_monthly_cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedResourcesItemDiff": {
      "type": "structure",
      "members": {
        "diff": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "left_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "left_yaml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "right_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "right_yaml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedResourcesItemKeysRequireReplaceList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedResourcesItemMonthlyCostEstimateDiff": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current_monthly_cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "diff": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "proposed_monthly_cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedResourcesItemResourceCloudType": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE"
          }
        },
        "CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDFLARE"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedResourcesItemResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cloud_type": {
          "target": "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedResourcesItemResourceCloudType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedResourcesItem": {
      "type": "structure",
      "members": {
        "diff": {
          "target": "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedResourcesItemDiff",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keys_require_replace": {
          "target": "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedResourcesItemKeysRequireReplaceList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "monthly_cost_estimate_diff": {
          "target": "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedResourcesItemMonthlyCostEstimateDiff",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "planned_action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedResourcesItemResource",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedResourcesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePlannedResourcesItem"
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePostApplyMonthlyCostEstimate": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "monthly_cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePostApplyResourcesCloudType": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE"
          }
        },
        "CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDFLARE"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePostApplyResourcesMonthlyCostEstimate": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "monthly_cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePostApplyResourcesObservations": {
      "type": "structure",
      "members": {
        "first_observed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_observed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePostApplyResourcesProviderIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_cloud_networking#OnRampsCreateResponsePostApplyResourcesSectionsItemHiddenItemsItem": {
      "type": "structure",
      "members": {
        "helpText": {
          "target": "smithy.api#String"
        },
[...]
