{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.magic_transit#AppsCreateRequestHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsCreateRequestIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsCreateRequestSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app.",
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsCreateRequestHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsCreateRequestIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsCreateRequestSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#AppsCreateResponseHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsCreateResponseIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsCreateResponseSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsCreateResponse": {
      "type": "structure",
      "members": {
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Magic account app ID.",
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsCreateResponseHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsCreateResponseIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsCreateResponseSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#AppsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#AppsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#AppsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/apps",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new App for an account"
      }
    },
    "com.cloudflare.magic_transit#AppsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#AppsDeleteResponseHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsDeleteResponseIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsDeleteResponseSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsDeleteResponse": {
      "type": "structure",
      "members": {
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Magic account app ID.",
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsDeleteResponseHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsDeleteResponseIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsDeleteResponseSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#AppsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#AppsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#AppsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/apps/{account_app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes specific Account App.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_transit#AppsEditRequestHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsEditRequestIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsEditRequestSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsEditRequestHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsEditRequestIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsEditRequestSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#AppsEditResponseHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsEditResponseIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsEditResponseSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsEditResponse": {
      "type": "structure",
      "members": {
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Magic account app ID.",
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsEditResponseHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsEditResponseIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsEditResponseSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#AppsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#AppsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#AppsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/magic/apps/{account_app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an Account App"
      }
    },
    "com.cloudflare.magic_transit#AppsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#AppsListResultItem": {
      "type": "structure",
      "members": {
        "MagicAccountApp_object___account_app_id__hostnames__ip_subnets__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Custom app defined for an account.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "MagicAccountApp object { account_app_id, hostnames, ip_subnets, 3 more }"
          }
        },
        "MagicManagedApp_object___managed_app_id__hostnames__ip_subnets__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Managed app defined by Cloudflare.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "MagicManagedApp object { managed_app_id, hostnames, ip_subnets, 3 more }"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#AppsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#AppsListResultItem"
      }
    },
    "com.cloudflare.magic_transit#AppsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_transit#AppsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#AppsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#AppsListRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#AppsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/apps",
          "code": 200
        },
        "smithy.api#documentation": "Lists Apps associated with an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateRequestHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateRequestIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateRequestSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsUpdateRequestHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsUpdateRequestIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsUpdateRequestSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateResponseHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateResponseIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateResponseSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateResponse": {
      "type": "structure",
      "members": {
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Magic account app ID.",
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsUpdateResponseHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsUpdateResponseIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsUpdateResponseSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#AppsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#AppsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#AppsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/magic/apps/{account_app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an Account App",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.magic_transit#Cf1SitesCreateRequestBodyList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreateResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_transit#Cf1SitesCreateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/cf1_sites",
          "code": 200
        },
        "smithy.api#documentation": "Creates new CF1 Sites for an account. Each site must have a unique name within the account."
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a specific CF1 Site for an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}",
          "code": 200
        },
        "smithy.api#documentation": "Gets a specific CF1 Site for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_transit#Cf1SitesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesListRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cf1_sites",
          "code": 200
        },
        "smithy.api#documentation": "Lists CF1 Sites associated with an account. A CF1 Site represents a physical customer network location with optional geographic coordinates.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided description of the CF1 Site."
          }
        },
        "location": {
          "target": "smithy.api#Document"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided name describing the CF1 Site that should be unique within the account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}",
          "code": 200
        },
        "smithy.api#documentation": "Partially updates a specific CF1 Site for an account. Only the fields included in the request body are modified; omitted fields retain their existing values."
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequestBodyItem": {
      "type": "structure",
      "members": {
        "source_ramp_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the source network resource to associate as a ramp.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The type of network connection (ramp) linking a CF1 Site to Cloudflare's network.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequestBodyItem"
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequestBodyList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}/ramps",
          "code": 200
        },
        "smithy.api#documentation": "Creates ramps (network connections) for a CF1 Site."
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ramp_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}/ramps/{ramp_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a specific ramp from a CF1 Site.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ramp_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}/ramps/{ramp_id}",
          "code": 200
        },
        "smithy.api#documentation": "Gets a specific ramp for a CF1 Site.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsListRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}/ramps",
          "code": 200
        },
        "smithy.api#documentation": "Lists ramps (network connections) associated with a CF1 Site. Ramps represent GRE tunnels, IPsec tunnels, interconnects, or MCONN links.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "_x_magic_new_hc_target_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpHeader": "\"x-magic-new-hc-target\""
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemGre": {
      "type": "structure",
      "members": {
        "cloudflare_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address assigned to the Cloudflare side of the GRE tunnel created as part of the Interconnect."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "automatic_return_routing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if automatic stateful return routing should be enabled for a tunnel, false otherwise. Requires the `coupler_integration` account flag to be enabled; requests setting this to `true` without that flag will be rejected."
          }
        },
        "colo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the interconnect."
          }
        },
        "gre": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemGre",
          "traits": {
            "smithy.api#documentation": "The configuration specific to GRE interconnects."
          }
        },
        "health_check": {
          "target": "smithy.api#Document"
        },
        "interface_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 31-bit prefix (/31 in CIDR notation) supporting two hosts, one for each side of the tunnel. Select the subnet from the following private IP space: 10.0.0.0–10.255.255.255, 172.16.0.0–172.31.255.255, 192.168.0.0–192.168.255.255."
          }
        },
        "interface_address6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 127 bit IPV6 prefix from within the virtual_subnet6 prefix space with the address being the first IP of the subnet and not same as the address of virtual_subnet6. Eg if virtual_subnet6 is 2606:54c1:7:0:a9fe:12d2::/127 , interface_address6 could be 2606:54c1:7:0:a9fe:12d2:1:200/127"
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was last modified."
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Maximum Transmission Unit (MTU) in bytes for the interconnect. The minimum value is 576."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        },
        "virtual_port_reservation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier that correlates this interconnect with the corresponding V2 CNI interconnect resource."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItem"
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponse": {
      "type": "structure",
      "members": {
        "modified": {
          "target": "smithy.api#Boolean"
        },
        "modified_interconnects": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/magic/cf_interconnects",
          "code": 200
        },
        "smithy.api#documentation": "Updates multiple interconnects associated with an account. Use `?validate_only=true` as an optional query parameter to only run validation without persisting changes.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_interconnect_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "_x_magic_new_hc_target_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpHeader": "\"x-magic-new-hc-target\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectGre": {
      "type": "structure",
      "members": {
        "cloudflare_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address assigned to the Cloudflare side of the GRE tunnel created as part of the Interconnect."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnect": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "automatic_return_routing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if automatic stateful return routing should be enabled for a tunnel, false otherwise. Requires the `coupler_integration` account flag to be enabled; requests setting this to `true` without that flag will be rejected."
          }
        },
        "colo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the interconnect."
          }
        },
        "gre": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectGre",
          "traits": {
            "smithy.api#documentation": "The configuration specific to GRE interconnects."
          }
        },
        "health_check": {
          "target": "smithy.api#Document"
        },
        "interface_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 31-bit prefix (/31 in CIDR notation) supporting two hosts, one for each side of the tunnel. Select the subnet from the following private IP space: 10.0.0.0–10.255.255.255, 172.16.0.0–172.31.255.255, 192.168.0.0–192.168.255.255."
          }
        },
        "interface_address6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 127 bit IPV6 prefix from within the virtual_subnet6 prefix space with the address being the first IP of the subnet and not same as the address of virtual_subnet6. Eg if virtual_subnet6 is 2606:54c1:7:0:a9fe:12d2::/127 , interface_address6 could be 2606:54c1:7:0:a9fe:12d2:1:200/127"
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was last modified."
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Maximum Transmission Unit (MTU) in bytes for the interconnect. The minimum value is 576."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        },
        "virtual_port_reservation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier that correlates this interconnect with the corresponding V2 CNI interconnect resource."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGetResponse": {
      "type": "structure",
      "members": {
        "interconnect": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnect"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cf_interconnects/{cf_interconnect_id}",
          "code": 200
        },
        "smithy.api#documentation": "Lists details for a specific interconnect.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "_x_magic_new_hc_target_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpHeader": "\"x-magic-new-hc-target\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemGre": {
      "type": "structure",
      "members": {
        "cloudflare_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address assigned to the Cloudflare side of the GRE tunnel created as part of the Interconnect."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "automatic_return_routing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if automatic stateful return routing should be enabled for a tunnel, false otherwise. Requires the `coupler_integration` account flag to be enabled; requests setting this to `true` without that flag will be rejected."
          }
        },
        "colo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the interconnect."
          }
        },
        "gre": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemGre",
          "traits": {
            "smithy.api#documentation": "The configuration specific to GRE interconnects."
          }
        },
        "health_check": {
          "target": "smithy.api#Document"
        },
        "interface_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 31-bit prefix (/31 in CIDR notation) supporting two hosts, one for each side of the tunnel. Select the subnet from the following private IP space: 10.0.0.0–10.255.255.255, 172.16.0.0–172.31.255.255, 192.168.0.0–192.168.255.255."
          }
        },
        "interface_address6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 127 bit IPV6 prefix from within the virtual_subnet6 prefix space with the address being the first IP of the subnet and not same as the address of virtual_subnet6. Eg if virtual_subnet6 is 2606:54c1:7:0:a9fe:12d2::/127 , interface_address6 could be 2606:54c1:7:0:a9fe:12d2:1:200/127"
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was last modified."
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Maximum Transmission Unit (MTU) in bytes for the interconnect. The minimum value is 576."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        },
        "virtual_port_reservation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier that correlates this interconnect with the corresponding V2 CNI interconnect resource."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItem"
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsListResponse": {
      "type": "structure",
      "members": {
        "interconnects": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsListRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cf_interconnects",
          "code": 200
        },
        "smithy.api#documentation": "Lists interconnects associated with an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsUpdateRequestGre": {
      "type": "structure",
      "members": {
        "cloudflare_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address assigned to the Cloudflare side of the GRE tunnel created as part of the Interconnect."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_interconnect_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "_x_magic_new_hc_target_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpHeader": "\"x-magic-new-hc-target\""
          }
        },
        "automatic_return_routing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if automatic stateful return routing should be enabled for a tunnel, false otherwise. Requires the `coupler_integration` account flag to be enabled; requests setting this to `true` without that flag will be rejected."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the interconnect."
          }
        },
        "gre": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsUpdateRequestGre",
          "traits": {
            "smithy.api#documentation": "The configuration specific to GRE interconnects."
          }
        },
        "health_check": {
          "target": "smithy.api#Document"
        },
        "interface_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 31-bit prefix (/31 in CIDR notation) supporting two hosts, one for each side of the tunnel. Select the subnet from the following private IP space: 10.0.0.0–10.255.255.255, 172.16.0.0–172.31.255.255, 192.168.0.0–192.168.255.255."
          }
        },
        "interface_address6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 127 bit IPV6 prefix from within the virtual_subnet6 prefix space with the address being the first IP of the subnet and not same as the address of virtual_subnet6. Eg if virtual_subnet6 is 2606:54c1:7:0:a9fe:12d2::/127 , interface_address6 could be 2606:54c1:7:0:a9fe:12d2:1:200/127"
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Maximum Transmission Unit (MTU) in bytes for the interconnect. The minimum value is 576."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsUpdateResponseModifiedInterconnectGre": {
      "type": "structure",
      "members": {
        "cloudflare_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address assigned to the Cloudflare side of the GRE tunnel created as part of the Interconnect."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsUpdateResponseModifiedInterconnect": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "automatic_return_routing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if automatic stateful return routing should be enabled for a tunnel, false otherwise. Requires the `coupler_integration` account flag to be enabled; requests setting this to `true` without that flag will be rejected."
          }
        },
        "colo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the interconnect."
          }
        },
        "gre": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsUpdateResponseModifiedInterconnectGre",
          "traits": {
            "smithy.api#documentation": "The configuration specific to GRE interconnects."
          }
        },
        "health_check": {
          "target": "smithy.api#Document"
        },
        "interface_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 31-bit prefix (/31 in CIDR notation) supporting two hosts, one for each side of the tunnel. Select the subnet from the following private IP space: 10.0.0.0–10.255.255.255, 172.16.0.0–172.31.255.255, 192.168.0.0–192.168.255.255."
          }
        },
        "interface_address6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 127 bit IPV6 prefix from within the virtual_subnet6 prefix space with the address being the first IP of the subnet and not same as the address of virtual_subnet6. Eg if virtual_subnet6 is 2606:54c1:7:0:a9fe:12d2::/127 , interface_address6 could be 2606:54c1:7:0:a9fe:12d2:1:200/127"
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was last modified."
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Maximum Transmission Unit (MTU) in bytes for the interconnect. The minimum value is 576."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        },
        "virtual_port_reservation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier that correlates this interconnect with the corresponding V2 CNI interconnect resource."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsUpdateResponse": {
      "type": "structure",
      "members": {
        "modified": {
          "target": "smithy.api#Boolean"
        },
        "modified_interconnect": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsUpdateResponseModifiedInterconnect"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/magic/cf_interconnects/{cf_interconnect_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a specific interconnect associated with an account. Use `?validate_only=true` as an optional query parameter to only run validation without persisting changes.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_transit#ConnectorsCreateRequestDevice": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "provision_license": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, create and provision a new licence key for the connector."
          }
        },
        "serial_number": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsCreateRequestInterruptWindowDaysOfWeekItem": {
      "type": "enum",
      "members": {
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sunday"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tuesday"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsCreateRequestInterruptWindowDaysOfWeekList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#ConnectorsCreateRequestInterruptWindowDaysOfWeekItem"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsCreateRequestInterruptWindowEmbargoDatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "device": {
          "target": "com.cloudflare.magic_transit#ConnectorsCreateRequestDevice",
          "traits": {
            "smithy.api#documentation": "Exactly one of id, serial_number, or provision_license must be provided.",
            "smithy.api#required": {}
          }
        },
        "activated": {
          "target": "smithy.api#Boolean"
        },
        "interrupt_window_days_of_week": {
          "target": "com.cloudflare.magic_transit#ConnectorsCreateRequestInterruptWindowDaysOfWeekList",
          "traits": {
            "smithy.api#documentation": "Allowed days of the week for upgrades. Default is all days."
          }
        },
        "interrupt_window_duration_hours": {
          "target": "smithy.api#Double"
        },
        "interrupt_window_embargo_dates": {
          "target": "com.cloudflare.magic_transit#ConnectorsCreateRequestInterruptWindowEmbargoDatesList",
          "traits": {
            "smithy.api#documentation": "List of dates (YYYY-MM-DD) when upgrades are blocked."
          }
        },
        "interrupt_window_hour_of_day": {
          "target": "smithy.api#Double"
        },
        "notes": {
          "target": "smithy.api#String"
        },
        "timezone": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#ConnectorsCreateResponseInterruptWindowDaysOfWeekItem": {
      "type": "enum",
      "members": {
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sunday"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tuesday"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsCreateResponseInterruptWindowDaysOfWeekList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#ConnectorsCreateResponseInterruptWindowDaysOfWeekItem"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsCreateResponseInterruptWindowEmbargoDatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsCreateResponseDeviceType": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED"
          }
        },
        "LICENSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSED"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsCreateResponseDevice": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serial_number": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.magic_transit#ConnectorsCreateResponseDeviceType"
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "activated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "interrupt_window_days_of_week": {
          "target": "com.cloudflare.magic_transit#ConnectorsCreateResponseInterruptWindowDaysOfWeekList",
          "traits": {
            "smithy.api#documentation": "Allowed days of the week for upgrades. Default is all days.",
            "smithy.api#required": {}
          }
        },
        "interrupt_window_duration_hours": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "interrupt_window_embargo_dates": {
          "target": "com.cloudflare.magic_transit#ConnectorsCreateResponseInterruptWindowEmbargoDatesList",
          "traits": {
            "smithy.api#documentation": "List of dates (YYYY-MM-DD) when upgrades are blocked.",
            "smithy.api#required": {}
          }
        },
        "interrupt_window_hour_of_day": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "device": {
          "target": "com.cloudflare.magic_transit#ConnectorsCreateResponseDevice"
        },
        "last_heartbeat": {
          "target": "smithy.api#String"
        },
        "last_seen_version": {
          "target": "smithy.api#String"
        },
        "license_key": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#ConnectorsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#ConnectorsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#ConnectorsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/connectors",
          "code": 200
        },
        "smithy.api#documentation": "Add a connector to your account"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "connector_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#ConnectorsDeleteResponseInterruptWindowDaysOfWeekItem": {
      "type": "enum",
      "members": {
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sunday"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tuesday"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsDeleteResponseInterruptWindowDaysOfWeekList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#ConnectorsDeleteResponseInterruptWindowDaysOfWeekItem"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsDeleteResponseInterruptWindowEmbargoDatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsDeleteResponseDeviceType": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED"
          }
        },
        "LICENSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSED"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsDeleteResponseDevice": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serial_number": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.magic_transit#ConnectorsDeleteResponseDeviceType"
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "activated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "interrupt_window_days_of_week": {
          "target": "com.cloudflare.magic_transit#ConnectorsDeleteResponseInterruptWindowDaysOfWeekList",
          "traits": {
            "smithy.api#documentation": "Allowed days of the week for upgrades. Default is all days.",
            "smithy.api#required": {}
          }
        },
        "interrupt_window_duration_hours": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "interrupt_window_embargo_dates": {
          "target": "com.cloudflare.magic_transit#ConnectorsDeleteResponseInterruptWindowEmbargoDatesList",
          "traits": {
            "smithy.api#documentation": "List of dates (YYYY-MM-DD) when upgrades are blocked.",
            "smithy.api#required": {}
          }
        },
        "interrupt_window_hour_of_day": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "device": {
          "target": "com.cloudflare.magic_transit#ConnectorsDeleteResponseDevice"
        },
        "last_heartbeat": {
          "target": "smithy.api#String"
        },
        "last_seen_version": {
          "target": "smithy.api#String"
        },
        "license_key": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#ConnectorsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#ConnectorsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#ConnectorsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/connectors/{connector_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a connector from your account",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_transit#ConnectorsEditRequestInterruptWindowDaysOfWeekItem": {
      "type": "enum",
      "members": {
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sunday"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tuesday"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsEditRequestInterruptWindowDaysOfWeekList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#ConnectorsEditRequestInterruptWindowDaysOfWeekItem"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsEditRequestInterruptWindowEmbargoDatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "connector_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "activated": {
          "target": "smithy.api#Boolean"
        },
        "interrupt_window_days_of_week": {
          "target": "com.cloudflare.magic_transit#ConnectorsEditRequestInterruptWindowDaysOfWeekList",
          "traits": {
            "smithy.api#documentation": "Allowed days of the week for upgrades. Default is all days."
          }
        },
        "interrupt_window_duration_hours": {
          "target": "smithy.api#Double"
        },
        "interrupt_window_embargo_dates": {
          "target": "com.cloudflare.magic_transit#ConnectorsEditRequestInterruptWindowEmbargoDatesList",
          "traits": {
            "smithy.api#documentation": "List of dates (YYYY-MM-DD) when upgrades are blocked."
          }
        },
        "interrupt_window_hour_of_day": {
          "target": "smithy.api#Double"
        },
        "notes": {
          "target": "smithy.api#String"
        },
        "provision_license": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, regenerate license key for the connector."
          }
        },
        "timezone": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#ConnectorsEditResponseInterruptWindowDaysOfWeekItem": {
      "type": "enum",
      "members": {
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sunday"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tuesday"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsEditResponseInterruptWindowDaysOfWeekList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#ConnectorsEditResponseInterruptWindowDaysOfWeekItem"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsEditResponseInterruptWindowEmbargoDatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsEditResponseDeviceType": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED"
          }
        },
        "LICENSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSED"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsEditResponseDevice": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serial_number": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.magic_transit#ConnectorsEditResponseDeviceType"
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "activated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "interrupt_window_days_of_week": {
          "target": "com.cloudflare.magic_transit#ConnectorsEditResponseInterruptWindowDaysOfWeekList",
          "traits": {
            "smithy.api#documentation": "Allowed days of the week for upgrades. Default is all days.",
            "smithy.api#required": {}
          }
        },
        "interrupt_window_duration_hours": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "interrupt_window_embargo_dates": {
          "target": "com.cloudflare.magic_transit#ConnectorsEditResponseInterruptWindowEmbargoDatesList",
          "traits": {
            "smithy.api#documentation": "List of dates (YYYY-MM-DD) when upgrades are blocked.",
            "smithy.api#required": {}
          }
        },
        "interrupt_window_hour_of_day": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "device": {
          "target": "com.cloudflare.magic_transit#ConnectorsEditResponseDevice"
        },
        "last_heartbeat": {
          "target": "smithy.api#String"
        },
        "last_seen_version": {
          "target": "smithy.api#String"
        },
        "license_key": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#ConnectorsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#ConnectorsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#ConnectorsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/magic/connectors/{connector_id}",
          "code": 200
        },
        "smithy.api#documentation": "Edit Connector to update specific properties or Re-provision License Key"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "connector_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#ConnectorsGetResponseInterruptWindowDaysOfWeekItem": {
      "type": "enum",
      "members": {
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sunday"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tuesday"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsGetResponseInterruptWindowDaysOfWeekList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#ConnectorsGetResponseInterruptWindowDaysOfWeekItem"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsGetResponseInterruptWindowEmbargoDatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsGetResponseDeviceType": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED"
          }
        },
        "LICENSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSED"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsGetResponseDevice": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serial_number": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.magic_transit#ConnectorsGetResponseDeviceType"
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "activated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "interrupt_window_days_of_week": {
          "target": "com.cloudflare.magic_transit#ConnectorsGetResponseInterruptWindowDaysOfWeekList",
          "traits": {
            "smithy.api#documentation": "Allowed days of the week for upgrades. Default is all days.",
            "smithy.api#required": {}
          }
        },
        "interrupt_window_duration_hours": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "interrupt_window_embargo_dates": {
          "target": "com.cloudflare.magic_transit#ConnectorsGetResponseInterruptWindowEmbargoDatesList",
          "traits": {
            "smithy.api#documentation": "List of dates (YYYY-MM-DD) when upgrades are blocked.",
            "smithy.api#required": {}
          }
        },
        "interrupt_window_hour_of_day": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "device": {
          "target": "com.cloudflare.magic_transit#ConnectorsGetResponseDevice"
        },
        "last_heartbeat": {
          "target": "smithy.api#String"
        },
        "last_seen_version": {
          "target": "smithy.api#String"
        },
        "license_key": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#ConnectorsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#ConnectorsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#ConnectorsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/connectors/{connector_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetch Connector",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#ConnectorsListRequestDeviceType": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED"
          }
        },
        "LICENSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSED"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "device_type": {
          "target": "com.cloudflare.magic_transit#ConnectorsListRequestDeviceType",
          "traits": {
            "smithy.api#documentation": "Filter connectors by device type.",
            "smithy.api#httpQuery": "device_type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#ConnectorsListResultItemInterruptWindowDaysOfWeekItem": {
      "type": "enum",
      "members": {
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sunday"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tuesday"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsListResultItemInterruptWindowDaysOfWeekList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#ConnectorsListResultItemInterruptWindowDaysOfWeekItem"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsListResultItemInterruptWindowEmbargoDatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsListResultItemDeviceType": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED"
          }
        },
        "LICENSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSED"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsListResultItemDevice": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serial_number": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.magic_transit#ConnectorsListResultItemDeviceType"
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "activated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "interrupt_window_days_of_week": {
          "target": "com.cloudflare.magic_transit#ConnectorsListResultItemInterruptWindowDaysOfWeekList",
          "traits": {
            "smithy.api#documentation": "Allowed days of the week for upgrades. Default is all days.",
            "smithy.api#required": {}
          }
        },
        "interrupt_window_duration_hours": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "interrupt_window_embargo_dates": {
          "target": "com.cloudflare.magic_transit#ConnectorsListResultItemInterruptWindowEmbargoDatesList",
          "traits": {
            "smithy.api#documentation": "List of dates (YYYY-MM-DD) when upgrades are blocked.",
            "smithy.api#required": {}
          }
        },
        "interrupt_window_hour_of_day": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "device": {
          "target": "com.cloudflare.magic_transit#ConnectorsListResultItemDevice"
        },
        "last_heartbeat": {
          "target": "smithy.api#String"
        },
        "last_seen_version": {
          "target": "smithy.api#String"
        },
        "license_key": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#ConnectorsListResultItem"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_transit#ConnectorsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#ConnectorsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#ConnectorsListRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#ConnectorsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/connectors",
          "code": 200
        },
        "smithy.api#documentation": "List Connectors",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#ConnectorsUpdateRequestInterruptWindowDaysOfWeekItem": {
      "type": "enum",
      "members": {
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sunday"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tuesday"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#ConnectorsUpdateRequestInterruptWindowDaysOfWeekList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#ConnectorsUpdateRequestInterruptWindowDaysOfWeekItem"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsUpdateRequestInterruptWindowEmbargoDatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#ConnectorsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "connector_id": {
          "target": "smithy.api#String",
[...]
