{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.memberships#DeleteRequest": {
      "type": "structure",
      "members": {
        "membership_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.memberships#DeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership identifier tag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.memberships#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.memberships#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.memberships#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/memberships/{membership_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove the associated member from an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.memberships#GetRequest": {
      "type": "structure",
      "members": {
        "membership_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.memberships#GetResponseAccountType": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountManagedBy": {
      "type": "structure",
      "members": {
        "parent_org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the parent Organization, if one exists"
          }
        },
        "parent_org_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parent Organization, if one exists"
          }
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountSettings": {
      "type": "structure",
      "members": {
        "abuse_contact_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets an abuse contact email to notify for abuse reports."
          }
        },
        "enforce_twofactor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether membership in this account requires that Two-Factor Authentication is enabled"
          }
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsAnalytics": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsBilling": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsCachePurge": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsDns": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsDnsRecords": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsLb": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsLogs": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsOrganization": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsSsl": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsWaf": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsZoneSettings": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsZones": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemAccess": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemPermissionGroupsItemMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemPermissionGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the permission group.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemPermissionGroupsItemMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the permission group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the permission group."
          }
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemPermissionGroupsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemPermissionGroupsItem"
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemResourceGroupsItemScopeObjectsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Zone ID etc.)",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemResourceGroupsItemScopeObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemResourceGroupsItemScopeObjectsItem"
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemResourceGroupsItemScope": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Account ID etc.)",
            "smithy.api#required": {}
          }
        },
        "objects": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemResourceGroupsItemScopeObjectsList",
          "traits": {
            "smithy.api#documentation": "A list of scope objects for additional context.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemResourceGroupsItemMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemResourceGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the resource group.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemResourceGroupsItemScope",
          "traits": {
            "smithy.api#documentation": "A scope is a combination of scope objects which provides additional context.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemResourceGroupsItemMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the resource group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource group."
          }
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemResourceGroupsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemResourceGroupsItem"
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy identifier."
          }
        },
        "access": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemAccess",
          "traits": {
            "smithy.api#documentation": "Allow or deny operations against the resources."
          }
        },
        "permission_groups": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemPermissionGroupsList",
          "traits": {
            "smithy.api#documentation": "A set of permission groups that are specified to the policy."
          }
        },
        "resource_groups": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItemResourceGroupsList",
          "traits": {
            "smithy.api#documentation": "A list of resource groups that the policy applies to."
          }
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesItem"
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissionsStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccountPermissions": {
      "type": "structure",
      "members": {
        "analytics": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsAnalytics"
        },
        "billing": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsBilling"
        },
        "cache_purge": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsCachePurge"
        },
        "dns": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsDns"
        },
        "dns_records": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsDnsRecords"
        },
        "lb": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsLb"
        },
        "logs": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsLogs"
        },
        "organization": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsOrganization"
        },
        "ssl": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsSsl"
        },
        "waf": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsWaf"
        },
        "zone_settings": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsZoneSettings"
        },
        "zones": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsZones"
        },
        "policies": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsPoliciesList",
          "traits": {
            "smithy.api#documentation": "Access policy for the membership"
          }
        },
        "roles": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsRolesList",
          "traits": {
            "smithy.api#documentation": "List of role names the membership has for this account."
          }
        },
        "status": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissionsStatus",
          "traits": {
            "smithy.api#documentation": "Status of this membership."
          }
        }
      }
    },
    "com.cloudflare.memberships#GetResponseAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.memberships#GetResponseAccountType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the creation of the account"
          }
        },
        "managed_by": {
          "target": "com.cloudflare.memberships#GetResponseAccountManagedBy",
          "traits": {
            "smithy.api#documentation": "Parent container details"
          }
        },
        "settings": {
          "target": "com.cloudflare.memberships#GetResponseAccountSettings",
          "traits": {
            "smithy.api#documentation": "Account settings"
          }
        },
        "api_access_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enterprise only. Indicates whether or not API access is enabled specifically for this user on a given account."
          }
        },
        "permissions": {
          "target": "com.cloudflare.memberships#GetResponseAccountPermissions",
          "traits": {
            "smithy.api#documentation": "All access permissions for the user at the account."
          }
        }
      }
    },
    "com.cloudflare.memberships#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership identifier tag."
          }
        },
        "account": {
          "target": "com.cloudflare.memberships#GetResponseAccount"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.memberships#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.memberships#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.memberships#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/memberships/{membership_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a specific membership.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.memberships#ListRequestAccount": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name"
          }
        }
      }
    },
    "com.cloudflare.memberships#ListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.memberships#ListRequestOrder": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "ACCOUNT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account.name"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      }
    },
    "com.cloudflare.memberships#ListRequestStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        }
      }
    },
    "com.cloudflare.memberships#ListRequest": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.cloudflare.memberships#ListRequestAccount",
          "traits": {
            "smithy.api#documentation": "Account name",
            "com.cloudflare.protocols#deepQuery": "account"
          }
        },
        "direction": {
          "target": "com.cloudflare.memberships#ListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order memberships.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name",
            "smithy.api#httpQuery": "name"
          }
        },
        "order": {
          "target": "com.cloudflare.memberships#ListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Field to order memberships by.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of memberships per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "status": {
          "target": "com.cloudflare.memberships#ListRequestStatus",
          "traits": {
            "smithy.api#documentation": "Status of this membership.",
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.memberships#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.memberships#ListRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/memberships",
          "code": 200
        },
        "smithy.api#documentation": "List memberships of accounts the user can access.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.memberships#UpdateRequestStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateRequest": {
      "type": "structure",
      "members": {
        "membership_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.memberships#UpdateRequestStatus",
          "traits": {
            "smithy.api#documentation": "Whether to accept or reject this account invitation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountType": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountManagedBy": {
      "type": "structure",
      "members": {
        "parent_org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the parent Organization, if one exists"
          }
        },
        "parent_org_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parent Organization, if one exists"
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountSettings": {
      "type": "structure",
      "members": {
        "abuse_contact_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets an abuse contact email to notify for abuse reports."
          }
        },
        "enforce_twofactor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether membership in this account requires that Two-Factor Authentication is enabled"
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsAnalytics": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsBilling": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsCachePurge": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsDns": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsDnsRecords": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsLb": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsLogs": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsOrganization": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsSsl": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsWaf": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsZoneSettings": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsZones": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemAccess": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemPermissionGroupsItemMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemPermissionGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the permission group.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemPermissionGroupsItemMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the permission group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the permission group."
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemPermissionGroupsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemPermissionGroupsItem"
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemResourceGroupsItemScopeObjectsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Zone ID etc.)",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemResourceGroupsItemScopeObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemResourceGroupsItemScopeObjectsItem"
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemResourceGroupsItemScope": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Account ID etc.)",
            "smithy.api#required": {}
          }
        },
        "objects": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemResourceGroupsItemScopeObjectsList",
          "traits": {
            "smithy.api#documentation": "A list of scope objects for additional context.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemResourceGroupsItemMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemResourceGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the resource group.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemResourceGroupsItemScope",
          "traits": {
            "smithy.api#documentation": "A scope is a combination of scope objects which provides additional context.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemResourceGroupsItemMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the resource group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource group."
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemResourceGroupsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemResourceGroupsItem"
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy identifier."
          }
        },
        "access": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemAccess",
          "traits": {
            "smithy.api#documentation": "Allow or deny operations against the resources."
          }
        },
        "permission_groups": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemPermissionGroupsList",
          "traits": {
            "smithy.api#documentation": "A set of permission groups that are specified to the policy."
          }
        },
        "resource_groups": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItemResourceGroupsList",
          "traits": {
            "smithy.api#documentation": "A list of resource groups that the policy applies to."
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesItem"
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissionsStatus2": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccountPermissions": {
      "type": "structure",
      "members": {
        "analytics": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsAnalytics"
        },
        "billing": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsBilling"
        },
        "cache_purge": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsCachePurge"
        },
        "dns": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsDns"
        },
        "dns_records": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsDnsRecords"
        },
        "lb": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsLb"
        },
        "logs": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsLogs"
        },
        "organization": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsOrganization"
        },
        "ssl": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsSsl"
        },
        "waf": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsWaf"
        },
        "zone_settings": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsZoneSettings"
        },
        "zones": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsZones"
        },
        "policies": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsPoliciesList",
          "traits": {
            "smithy.api#documentation": "Access policy for the membership"
          }
        },
        "roles": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsRolesList",
          "traits": {
            "smithy.api#documentation": "List of role names the membership has for this account."
          }
        },
        "status": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsStatus",
          "traits": {
            "smithy.api#documentation": "Status of this membership."
          }
        },
        "status_2": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissionsStatus2",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {},
            "smithy.api#jsonName": "status"
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponseAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the creation of the account"
          }
        },
        "managed_by": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountManagedBy",
          "traits": {
            "smithy.api#documentation": "Parent container details"
          }
        },
        "settings": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountSettings",
          "traits": {
            "smithy.api#documentation": "Account settings"
          }
        },
        "api_access_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enterprise only. Indicates whether or not API access is enabled specifically for this user on a given account."
          }
        },
        "permissions": {
          "target": "com.cloudflare.memberships#UpdateResponseAccountPermissions",
          "traits": {
            "smithy.api#documentation": "All access permissions for the user at the account."
          }
        }
      }
    },
    "com.cloudflare.memberships#UpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership identifier tag."
          }
        },
        "account": {
          "target": "com.cloudflare.memberships#UpdateResponseAccount"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.memberships#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.memberships#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.memberships#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/memberships/{membership_id}",
          "code": 200
        },
        "smithy.api#documentation": "Accept or reject this account invitation.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.memberships#Memberships": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.memberships#Delete"
        },
        {
          "target": "com.cloudflare.memberships#Get"
        },
        {
          "target": "com.cloudflare.memberships#List"
        },
        {
          "target": "com.cloudflare.memberships#Update"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Memberships",
        "smithy.api#documentation": "Cloudflare API — memberships resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
