{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "conduitName": "conduit_name",
      "custIp": "cust_ip",
      "customerAsn": "customer_asn",
      "defaultAsn": "default_asn",
      "extraPrefixes": "extra_prefixes",
      "md5Key": "md5_key",
      "p2pIp": "p2p_ip",
      "pairingKey": "pairing_key",
      "slotId": "slot_id"
    }
  },
  "shapes": {
    "com.cloudflare.network_interconnects#CnisCreateRequestMagic": {
      "type": "structure",
      "members": {
        "conduit_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#CnisCreateRequestBgpExtraPrefixesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.network_interconnects#CnisCreateRequestBgp": {
      "type": "structure",
      "members": {
        "customer_asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "ASN used on the customer end of the BGP session",
            "smithy.api#required": {}
          }
        },
        "extra_prefixes": {
          "target": "com.cloudflare.network_interconnects#CnisCreateRequestBgpExtraPrefixesList",
          "traits": {
            "smithy.api#documentation": "Extra set of static prefixes to advertise to the customer's end of the session",
            "smithy.api#required": {}
          }
        },
        "md5_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MD5 key to use for session authentication."
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#CnisCreateResponseMagic": {
      "type": "structure",
      "members": {
        "conduit_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#CnisCreateResponseBgpExtraPrefixesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.network_interconnects#CnisCreateResponseBgp": {
      "type": "structure",
      "members": {
        "customer_asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "ASN used on the customer end of the BGP session",
            "smithy.api#required": {}
          }
        },
        "extra_prefixes": {
          "target": "com.cloudflare.network_interconnects#CnisCreateResponseBgpExtraPrefixesList",
          "traits": {
            "smithy.api#documentation": "Extra set of static prefixes to advertise to the customer's end of the session",
            "smithy.api#required": {}
          }
        },
        "md5_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MD5 key to use for session authentication."
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#CnisGetResponseMagic": {
      "type": "structure",
      "members": {
        "conduit_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#CnisGetResponseBgpExtraPrefixesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.network_interconnects#CnisGetResponseBgp": {
      "type": "structure",
      "members": {
        "customer_asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "ASN used on the customer end of the BGP session",
            "smithy.api#required": {}
          }
        },
        "extra_prefixes": {
          "target": "com.cloudflare.network_interconnects#CnisGetResponseBgpExtraPrefixesList",
          "traits": {
            "smithy.api#documentation": "Extra set of static prefixes to advertise to the customer's end of the session",
            "smithy.api#required": {}
          }
        },
        "md5_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MD5 key to use for session authentication."
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#CnisListResponseItemsItemMagic": {
      "type": "structure",
      "members": {
        "conduit_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#CnisListResponseItemsItemBgpExtraPrefixesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.network_interconnects#CnisListResponseItemsItemBgp": {
      "type": "structure",
      "members": {
        "customer_asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "ASN used on the customer end of the BGP session",
            "smithy.api#required": {}
          }
        },
        "extra_prefixes": {
          "target": "com.cloudflare.network_interconnects#CnisListResponseItemsItemBgpExtraPrefixesList",
          "traits": {
            "smithy.api#documentation": "Extra set of static prefixes to advertise to the customer's end of the session",
            "smithy.api#required": {}
          }
        },
        "md5_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MD5 key to use for session authentication."
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#CnisListResponseItemsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#required": {}
          }
        },
        "cust_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer end of the point-to-point link",
            "smithy.api#required": {}
          }
        },
        "interconnect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interconnect identifier hosting this CNI",
            "smithy.api#required": {}
          }
        },
        "magic": {
          "target": "com.cloudflare.network_interconnects#CnisListResponseItemsItemMagic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "p2p_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare end of the point-to-point link",
            "smithy.api#required": {}
          }
        },
        "bgp": {
          "target": "com.cloudflare.network_interconnects#CnisListResponseItemsItemBgp"
        }
      }
    },
    "com.cloudflare.network_interconnects#CnisListResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.network_interconnects#CnisListResponseItemsItem"
      }
    },
    "com.cloudflare.network_interconnects#CnisUpdateRequestMagic": {
      "type": "structure",
      "members": {
        "conduit_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#CnisUpdateRequestBgpExtraPrefixesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.network_interconnects#CnisUpdateRequestBgp": {
      "type": "structure",
      "members": {
        "customer_asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "ASN used on the customer end of the BGP session",
            "smithy.api#required": {}
          }
        },
        "extra_prefixes": {
          "target": "com.cloudflare.network_interconnects#CnisUpdateRequestBgpExtraPrefixesList",
          "traits": {
            "smithy.api#documentation": "Extra set of static prefixes to advertise to the customer's end of the session",
            "smithy.api#required": {}
          }
        },
        "md5_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MD5 key to use for session authentication."
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#CnisUpdateResponseMagic": {
      "type": "structure",
      "members": {
        "conduit_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#CnisUpdateResponseBgpExtraPrefixesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.network_interconnects#CnisUpdateResponseBgp": {
      "type": "structure",
      "members": {
        "customer_asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "ASN used on the customer end of the BGP session",
            "smithy.api#required": {}
          }
        },
        "extra_prefixes": {
          "target": "com.cloudflare.network_interconnects#CnisUpdateResponseBgpExtraPrefixesList",
          "traits": {
            "smithy.api#documentation": "Extra set of static prefixes to advertise to the customer's end of the session",
            "smithy.api#required": {}
          }
        },
        "md5_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MD5 key to use for session authentication."
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#InterconnectsCreateRequestBandwidth": {
      "type": "enum",
      "members": {
        "_50M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "50M"
          }
        },
        "_100M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "100M"
          }
        },
        "_200M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "200M"
          }
        },
        "_300M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "300M"
          }
        },
        "_400M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "400M"
          }
        },
        "_500M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "500M"
          }
        },
        "_1G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1G"
          }
        },
        "_2G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2G"
          }
        },
        "_5G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5G"
          }
        },
        "_10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "10G"
          }
        },
        "_20G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "20G"
          }
        },
        "_50G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "50G"
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#InterconnectsListResponseItemsItemNscInterconnectPhysicalBodyFacilityAddressList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.network_interconnects#InterconnectsListResponseItemsItemNscInterconnectPhysicalBodyFacility": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.cloudflare.network_interconnects#InterconnectsListResponseItemsItemNscInterconnectPhysicalBodyFacilityAddressList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#InterconnectsListResponseItemsItemNscInterconnectPhysicalBody": {
      "type": "structure",
      "members": {
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "facility": {
          "target": "com.cloudflare.network_interconnects#InterconnectsListResponseItemsItemNscInterconnectPhysicalBodyFacility",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare site name.",
            "smithy.api#required": {}
          }
        },
        "slot_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "speed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.network_interconnects#InterconnectsListResponseItemsItemNscInterconnectGcpPartnerBodySpeed": {
      "type": "enum",
      "members": {
        "_50M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "50M"
          }
        },
        "_100M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "100M"
          }
        },
        "_200M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "200M"
          }
        },
        "_300M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "300M"
          }
        },
        "_400M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "400M"
          }
        },
        "_500M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "500M"
          }
        },
        "_1G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1G"
          }
        },
        "_2G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2G"
          }
        },
        "_5G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5G"
          }
        },
        "_10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "10G"
          }
        },
        "_20G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "20G"
          }
        },
        "_50G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "50G"
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#InterconnectsListResponseItemsItemNscInterconnectGcpPartnerBody": {
      "type": "structure",
      "members": {
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String"
        },
        "speed": {
          "target": "com.cloudflare.network_interconnects#InterconnectsListResponseItemsItemNscInterconnectGcpPartnerBodySpeed",
          "traits": {
            "smithy.api#documentation": "Bandwidth structure as visible through the customer-facing API."
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#InterconnectsListResponseItemsItem": {
      "type": "union",
      "members": {
        "NscInterconnectPhysicalBody": {
          "target": "com.cloudflare.network_interconnects#InterconnectsListResponseItemsItemNscInterconnectPhysicalBody"
        },
        "NscInterconnectGcpPartnerBody": {
          "target": "com.cloudflare.network_interconnects#InterconnectsListResponseItemsItemNscInterconnectGcpPartnerBody"
        }
      }
    },
    "com.cloudflare.network_interconnects#InterconnectsListResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.network_interconnects#InterconnectsListResponseItemsItem"
      }
    },
    "com.cloudflare.network_interconnects#SlotsGetResponseFacilityAddressList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.network_interconnects#SlotsGetResponseFacility": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.cloudflare.network_interconnects#SlotsGetResponseFacilityAddressList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#SlotsListResponseItemsItemFacilityAddressList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.network_interconnects#SlotsListResponseItemsItemFacility": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.cloudflare.network_interconnects#SlotsListResponseItemsItemFacilityAddressList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#SlotsListResponseItemsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slot ID",
            "smithy.api#required": {}
          }
        },
        "facility": {
          "target": "com.cloudflare.network_interconnects#SlotsListResponseItemsItemFacility",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "occupied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the slot is occupied or not",
            "smithy.api#required": {}
          }
        },
        "site": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "speed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag"
          }
        }
      }
    },
    "com.cloudflare.network_interconnects#SlotsListResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.network_interconnects#SlotsListResponseItemsItem"
      }
    },
    "com.cloudflare.network_interconnects#NetworkInterconnects": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.network_interconnects#CnisCreate"
        },
        {
          "target": "com.cloudflare.network_interconnects#CnisDelete"
        },
        {
          "target": "com.cloudflare.network_interconnects#CnisGet"
        },
        {
          "target": "com.cloudflare.network_interconnects#CnisList"
        },
        {
          "target": "com.cloudflare.network_interconnects#CnisUpdate"
        },
        {
          "target": "com.cloudflare.network_interconnects#InterconnectsCreate"
        },
        {
          "target": "com.cloudflare.network_interconnects#InterconnectsDelete"
        },
        {
          "target": "com.cloudflare.network_interconnects#InterconnectsGet"
        },
        {
          "target": "com.cloudflare.network_interconnects#InterconnectsList"
        },
        {
          "target": "com.cloudflare.network_interconnects#InterconnectsLoa"
        },
        {
          "target": "com.cloudflare.network_interconnects#InterconnectsStatus"
        },
        {
          "target": "com.cloudflare.network_interconnects#SettingsGet"
        },
        {
          "target": "com.cloudflare.network_interconnects#SettingsUpdate"
        },
        {
          "target": "com.cloudflare.network_interconnects#SlotsGet"
        },
        {
          "target": "com.cloudflare.network_interconnects#SlotsList"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare NetworkInterconnects",
        "smithy.api#documentation": "Cloudflare API — network_interconnects resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.network_interconnects#Forbidden": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.cloudflare.network_interconnects#CreateCni": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#CreateCniRequest"
      },
      "output": {
        "target": "com.cloudflare.network_interconnects#CreateCniResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/cni/cnis",
          "code": 200
        },
        "smithy.api#documentation": "Create a new CNI object"
      }
    },
    "com.cloudflare.network_interconnects#CreateCniRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#required": {}
          }
        },
        "interconnect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "magic": {
          "target": "com.cloudflare.network_interconnects#CnisCreateRequestMagic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bgp": {
          "target": "com.cloudflare.network_interconnects#CnisCreateRequestBgp"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#CreateCniResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#required": {}
          }
        },
        "cust_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer end of the point-to-point link",
            "smithy.api#required": {}
          }
        },
        "interconnect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interconnect identifier hosting this CNI",
            "smithy.api#required": {}
          }
        },
        "magic": {
          "target": "com.cloudflare.network_interconnects#CnisCreateResponseMagic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "p2p_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare end of the point-to-point link",
            "smithy.api#required": {}
          }
        },
        "bgp": {
          "target": "com.cloudflare.network_interconnects#CnisCreateResponseBgp"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.network_interconnects#CreateInterconnect": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#CreateInterconnectRequest"
      },
      "output": {
        "target": "com.cloudflare.network_interconnects#CreateInterconnectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/cni/interconnects",
          "code": 200
        },
        "smithy.api#documentation": "Create a new interconnect"
      }
    },
    "com.cloudflare.network_interconnects#CreateInterconnectRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slot_id": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "speed": {
          "target": "smithy.api#String"
        },
        "bandwidth": {
          "target": "com.cloudflare.network_interconnects#InterconnectsCreateRequestBandwidth",
          "traits": {
            "smithy.api#documentation": "Bandwidth structure as visible through the customer-facing API."
          }
        },
        "pairing_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pairing key provided by GCP"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#CreateInterconnectResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.network_interconnects#DeleteCni": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#DeleteCniRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/cni/cnis/{cni}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a specified CNI object",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.network_interconnects#DeleteCniRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#DeleteInterconnect": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#DeleteInterconnectRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/cni/interconnects/{icon}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an interconnect object",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.network_interconnects#DeleteInterconnectRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#GetCni": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#GetCniRequest"
      },
      "output": {
        "target": "com.cloudflare.network_interconnects#GetCniResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cni/cnis/{cni}",
          "code": 200
        },
        "smithy.api#documentation": "Get information about a CNI object",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.network_interconnects#GetCniRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#GetCniResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#required": {}
          }
        },
        "cust_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer end of the point-to-point link",
            "smithy.api#required": {}
          }
        },
        "interconnect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interconnect identifier hosting this CNI",
            "smithy.api#required": {}
          }
        },
        "magic": {
          "target": "com.cloudflare.network_interconnects#CnisGetResponseMagic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "p2p_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare end of the point-to-point link",
            "smithy.api#required": {}
          }
        },
        "bgp": {
          "target": "com.cloudflare.network_interconnects#CnisGetResponseBgp"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.network_interconnects#GetInterconnect": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#GetInterconnectRequest"
      },
      "output": {
        "target": "com.cloudflare.network_interconnects#GetInterconnectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cni/interconnects/{icon}",
          "code": 200
        },
        "smithy.api#documentation": "Get information about an interconnect object",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.network_interconnects#GetInterconnectRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#GetInterconnectResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.network_interconnects#GetSetting": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#GetSettingRequest"
      },
      "output": {
        "target": "com.cloudflare.network_interconnects#GetSettingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cni/settings",
          "code": 200
        },
        "smithy.api#documentation": "Get the current settings for the active account",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.network_interconnects#Forbidden"
        }
      ]
    },
    "com.cloudflare.network_interconnects#GetSettingRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#GetSettingResponse": {
      "type": "structure",
      "members": {
        "default_asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.network_interconnects#GetSlot": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#GetSlotRequest"
      },
      "output": {
        "target": "com.cloudflare.network_interconnects#GetSlotResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cni/slots/{slot}",
          "code": 200
        },
        "smithy.api#documentation": "Get information about the specified slot",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.network_interconnects#GetSlotRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "slot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#GetSlotResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slot ID",
            "smithy.api#required": {}
          }
        },
        "facility": {
          "target": "com.cloudflare.network_interconnects#SlotsGetResponseFacility",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "occupied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the slot is occupied or not",
            "smithy.api#required": {}
          }
        },
        "site": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "speed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.network_interconnects#ListCnis": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#ListCnisRequest"
      },
      "output": {
        "target": "com.cloudflare.network_interconnects#ListCnisResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cni/cnis",
          "code": 200
        },
        "smithy.api#documentation": "List existing CNI objects",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.network_interconnects#ListCnisRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "slot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, only show CNIs associated with the specified slot",
            "smithy.api#httpQuery": "slot"
          }
        },
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, only show cnis associated with the specified tunnel id",
            "smithy.api#httpQuery": "tunnel_id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#ListCnisResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.cloudflare.network_interconnects#CnisListResponseItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.network_interconnects#ListInterconnects": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#ListInterconnectsRequest"
      },
      "output": {
        "target": "com.cloudflare.network_interconnects#ListInterconnectsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cni/interconnects",
          "code": 200
        },
        "smithy.api#documentation": "List existing interconnects",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.network_interconnects#ListInterconnectsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "site": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, only show interconnects located at the given site",
            "smithy.api#httpQuery": "site"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, only show interconnects of the given type",
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#ListInterconnectsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.cloudflare.network_interconnects#InterconnectsListResponseItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.network_interconnects#ListSlots": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#ListSlotsRequest"
      },
      "output": {
        "target": "com.cloudflare.network_interconnects#ListSlotsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cni/slots",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of all slots matching the specified parameters",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.network_interconnects#ListSlotsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, only show slots with the given text in their address field",
            "smithy.api#httpQuery": "address_contains"
          }
        },
        "cursor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "occupied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If specified, only show slots with a specific occupied/unoccupied state",
            "smithy.api#httpQuery": "occupied"
          }
        },
        "site": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, only show slots located at the given site",
            "smithy.api#httpQuery": "site"
          }
        },
        "speed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, only show slots that support the given speed",
            "smithy.api#httpQuery": "speed"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#ListSlotsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.cloudflare.network_interconnects#SlotsListResponseItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.network_interconnects#LoaInterconnect": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#LoaInterconnectRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cni/interconnects/{icon}/loa",
          "code": 200
        },
        "smithy.api#documentation": "Generate the Letter of Authorization (LOA) for a given interconnect",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.network_interconnects#LoaInterconnectRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#PutSetting": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#PutSettingRequest"
      },
      "output": {
        "target": "com.cloudflare.network_interconnects#PutSettingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/cni/settings",
          "code": 200
        },
        "smithy.api#documentation": "Update the current settings for the active account",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.network_interconnects#Forbidden"
        }
      ]
    },
    "com.cloudflare.network_interconnects#PutSettingRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "default_asn": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#PutSettingResponse": {
      "type": "structure",
      "members": {
        "default_asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.network_interconnects#StatusInterconnect": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#StatusInterconnectRequest"
      },
      "output": {
        "target": "com.cloudflare.network_interconnects#StatusInterconnectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/cni/interconnects/{icon}/status",
          "code": 200
        },
        "smithy.api#documentation": "Get the current status of an interconnect object",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.network_interconnects#StatusInterconnectRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#StatusInterconnectResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.network_interconnects#UpdateCni": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.network_interconnects#UpdateCniRequest"
      },
      "output": {
        "target": "com.cloudflare.network_interconnects#UpdateCniResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/cni/cnis/{cni}",
          "code": 200
        },
        "smithy.api#documentation": "Modify stored information about a CNI object",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.network_interconnects#UpdateCniRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#required": {}
          }
        },
        "cust_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer end of the point-to-point link",
            "smithy.api#required": {}
          }
        },
        "interconnect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interconnect identifier hosting this CNI",
            "smithy.api#required": {}
          }
        },
        "magic": {
          "target": "com.cloudflare.network_interconnects#CnisUpdateRequestMagic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "p2p_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare end of the point-to-point link",
            "smithy.api#required": {}
          }
        },
        "bgp": {
          "target": "com.cloudflare.network_interconnects#CnisUpdateRequestBgp"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.network_interconnects#UpdateCniResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer account tag",
            "smithy.api#required": {}
          }
        },
        "cust_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer end of the point-to-point link",
            "smithy.api#required": {}
          }
        },
        "interconnect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interconnect identifier hosting this CNI",
            "smithy.api#required": {}
          }
        },
        "magic": {
          "target": "com.cloudflare.network_interconnects#CnisUpdateResponseMagic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "p2p_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare end of the point-to-point link",
            "smithy.api#required": {}
          }
        },
        "bgp": {
          "target": "com.cloudflare.network_interconnects#CnisUpdateResponseBgp"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    }
  }
}
