{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.page_rules#CreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.page_rules#CreateResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseTargetsItemConstraint": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The matches operator can use asterisks and pipes as wildcard and ‘or’ operators.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the current request. The pattern may contain up to four asterisks (’*’) as placeholders.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseTargetsItemTarget": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseTargetsItem": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "com.cloudflare.page_rules#CreateResponseTargetsItemConstraint",
          "traits": {
            "smithy.api#documentation": "String constraint."
          }
        },
        "target": {
          "target": "com.cloudflare.page_rules#CreateResponseTargetsItemTarget",
          "traits": {
            "smithy.api#documentation": "A target based on the URL of the request."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseTargetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#CreateResponseTargetsItem"
      }
    },
    "com.cloudflare.page_rules#CreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsList",
          "traits": {
            "smithy.api#documentation": "The set of actions to perform if the targets of this rule match the request. Actions can redirect to another URL or override settings, but not both.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was created.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was last modified.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule, used to define which Page Rule is processed over another. A higher number indicates a higher priority. For example, if you have a catch-all Page Rule (rule A: /images/* ) but want a more specific Page Rule to take precedence (rule B: /images/special/* ), specify a higher priority for rule B so it overrides rule A.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.page_rules#CreateResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Page Rule.",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.cloudflare.page_rules#CreateResponseTargetsList",
          "traits": {
            "smithy.api#documentation": "The rule targets to evaluate on each request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.page_rules#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.page_rules#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.page_rules#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/pagerules",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Page Rule."
      }
    },
    "com.cloudflare.page_rules#DeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pagerule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.page_rules#DeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.page_rules#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.page_rules#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.page_rules#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/pagerules/{pagerule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing Page Rule.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.page_rules#EditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pagerule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.page_rules#EditResponseActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.page_rules#EditResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditResponseTargetsItemConstraint": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The matches operator can use asterisks and pipes as wildcard and ‘or’ operators.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the current request. The pattern may contain up to four asterisks (’*’) as placeholders.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditResponseTargetsItemTarget": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditResponseTargetsItem": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "com.cloudflare.page_rules#EditResponseTargetsItemConstraint",
          "traits": {
            "smithy.api#documentation": "String constraint."
          }
        },
        "target": {
          "target": "com.cloudflare.page_rules#EditResponseTargetsItemTarget",
          "traits": {
            "smithy.api#documentation": "A target based on the URL of the request."
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditResponseTargetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#EditResponseTargetsItem"
      }
    },
    "com.cloudflare.page_rules#EditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.page_rules#EditResponseActionsList",
          "traits": {
            "smithy.api#documentation": "The set of actions to perform if the targets of this rule match the request. Actions can redirect to another URL or override settings, but not both.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was created.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was last modified.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule, used to define which Page Rule is processed over another. A higher number indicates a higher priority. For example, if you have a catch-all Page Rule (rule A: /images/* ) but want a more specific Page Rule to take precedence (rule B: /images/special/* ), specify a higher priority for rule B so it overrides rule A.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.page_rules#EditResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Page Rule.",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.cloudflare.page_rules#EditResponseTargetsList",
          "traits": {
            "smithy.api#documentation": "The rule targets to evaluate on each request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.page_rules#Edit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.page_rules#EditRequest"
      },
      "output": {
        "target": "com.cloudflare.page_rules#EditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/pagerules/{pagerule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates one or more fields of an existing Page Rule."
      }
    },
    "com.cloudflare.page_rules#GetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pagerule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.page_rules#GetResponseActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.page_rules#GetResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#GetResponseTargetsItemConstraint": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The matches operator can use asterisks and pipes as wildcard and ‘or’ operators.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the current request. The pattern may contain up to four asterisks (’*’) as placeholders.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#GetResponseTargetsItemTarget": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#GetResponseTargetsItem": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "com.cloudflare.page_rules#GetResponseTargetsItemConstraint",
          "traits": {
            "smithy.api#documentation": "String constraint."
          }
        },
        "target": {
          "target": "com.cloudflare.page_rules#GetResponseTargetsItemTarget",
          "traits": {
            "smithy.api#documentation": "A target based on the URL of the request."
          }
        }
      }
    },
    "com.cloudflare.page_rules#GetResponseTargetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#GetResponseTargetsItem"
      }
    },
    "com.cloudflare.page_rules#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.page_rules#GetResponseActionsList",
          "traits": {
            "smithy.api#documentation": "The set of actions to perform if the targets of this rule match the request. Actions can redirect to another URL or override settings, but not both.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was created.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was last modified.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule, used to define which Page Rule is processed over another. A higher number indicates a higher priority. For example, if you have a catch-all Page Rule (rule A: /images/* ) but want a more specific Page Rule to take precedence (rule B: /images/special/* ), specify a higher priority for rule B so it overrides rule A.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.page_rules#GetResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Page Rule.",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.cloudflare.page_rules#GetResponseTargetsList",
          "traits": {
            "smithy.api#documentation": "The rule targets to evaluate on each request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.page_rules#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.page_rules#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.page_rules#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/pagerules/{pagerule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the details of a Page Rule.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.page_rules#ListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.page_rules#ListResultItemActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.page_rules#ListResultItemStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListResultItemTargetsItemConstraint": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The matches operator can use asterisks and pipes as wildcard and ‘or’ operators.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the current request. The pattern may contain up to four asterisks (’*’) as placeholders.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListResultItemTargetsItemTarget": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListResultItemTargetsItem": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "com.cloudflare.page_rules#ListResultItemTargetsItemConstraint",
          "traits": {
            "smithy.api#documentation": "String constraint."
          }
        },
        "target": {
          "target": "com.cloudflare.page_rules#ListResultItemTargetsItemTarget",
          "traits": {
            "smithy.api#documentation": "A target based on the URL of the request."
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListResultItemTargetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#ListResultItemTargetsItem"
      }
    },
    "com.cloudflare.page_rules#ListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.page_rules#ListResultItemActionsList",
          "traits": {
            "smithy.api#documentation": "The set of actions to perform if the targets of this rule match the request. Actions can redirect to another URL or override settings, but not both.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was created.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was last modified.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule, used to define which Page Rule is processed over another. A higher number indicates a higher priority. For example, if you have a catch-all Page Rule (rule A: /images/* ) but want a more specific Page Rule to take precedence (rule B: /images/special/* ), specify a higher priority for rule B so it overrides rule A.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.page_rules#ListResultItemStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Page Rule.",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.cloudflare.page_rules#ListResultItemTargetsList",
          "traits": {
            "smithy.api#documentation": "The rule targets to evaluate on each request.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#ListResultItem"
      }
    },
    "com.cloudflare.page_rules#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.page_rules#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.page_rules#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.page_rules#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.page_rules#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/pagerules",
          "code": 200
        },
        "smithy.api#documentation": "Fetches Page Rules in a zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.page_rules#UpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pagerule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.page_rules#UpdateResponseActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.page_rules#UpdateResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#UpdateResponseTargetsItemConstraint": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The matches operator can use asterisks and pipes as wildcard and ‘or’ operators.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the current request. The pattern may contain up to four asterisks (’*’) as placeholders.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#UpdateResponseTargetsItemTarget": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#UpdateResponseTargetsItem": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "com.cloudflare.page_rules#UpdateResponseTargetsItemConstraint",
          "traits": {
            "smithy.api#documentation": "String constraint."
          }
        },
        "target": {
          "target": "com.cloudflare.page_rules#UpdateResponseTargetsItemTarget",
          "traits": {
            "smithy.api#documentation": "A target based on the URL of the request."
          }
        }
      }
    },
    "com.cloudflare.page_rules#UpdateResponseTargetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#UpdateResponseTargetsItem"
      }
    },
    "com.cloudflare.page_rules#UpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.page_rules#UpdateResponseActionsList",
          "traits": {
            "smithy.api#documentation": "The set of actions to perform if the targets of this rule match the request. Actions can redirect to another URL or override settings, but not both.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was created.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was last modified.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule, used to define which Page Rule is processed over another. A higher number indicates a higher priority. For example, if you have a catch-all Page Rule (rule A: /images/* ) but want a more specific Page Rule to take precedence (rule B: /images/special/* ), specify a higher priority for rule B so it overrides rule A.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.page_rules#UpdateResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Page Rule.",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.cloudflare.page_rules#UpdateResponseTargetsList",
          "traits": {
            "smithy.api#documentation": "The rule targets to evaluate on each request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.page_rules#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.page_rules#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.page_rules#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/pagerules/{pagerule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Replaces the configuration of an existing Page Rule. The configuration of the updated Page Rule will exactly match the data passed in the API request.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.page_rules#PageRules": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.page_rules#Create"
        },
        {
          "target": "com.cloudflare.page_rules#Delete"
        },
        {
          "target": "com.cloudflare.page_rules#Edit"
        },
        {
          "target": "com.cloudflare.page_rules#Get"
        },
        {
          "target": "com.cloudflare.page_rules#List"
        },
        {
          "target": "com.cloudflare.page_rules#Update"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare PageRules",
        "smithy.api#documentation": "Cloudflare API — page_rules resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
