{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.page_rules#CreateRequestActionsItem": {
      "type": "structure",
      "members": {
        "AlwaysUseHTTPS_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AlwaysUseHTTPS object { id }"
          }
        },
        "AutomaticHTTPSRewrites_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AutomaticHTTPSRewrites object { id, value }"
          }
        },
        "BrowserCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCacheTTL object { id, value }"
          }
        },
        "BrowserCheck_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCheck object { id, value }"
          }
        },
        "BypassCacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BypassCacheOnCookie object { id, value }"
          }
        },
        "CacheByDeviceType_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheByDeviceType object { id, value }"
          }
        },
        "CacheDeceptionArmor_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheDeceptionArmor object { id, value }"
          }
        },
        "CacheKeyFields_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheKeyFields object { id, value }"
          }
        },
        "CacheLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheLevel object { id, value }"
          }
        },
        "CacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheOnCookie object { id, value }"
          }
        },
        "CacheTTLByStatus_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheTTLByStatus object { id, value }"
          }
        },
        "DisableApps_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableApps object { id }"
          }
        },
        "DisablePerformance_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisablePerformance object { id }"
          }
        },
        "DisableSecurity_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableSecurity object { id }"
          }
        },
        "DisableZaraz_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableZaraz object { id }"
          }
        },
        "EdgeCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EdgeCacheTTL object { id, value }"
          }
        },
        "EmailObfuscation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EmailObfuscation object { id, value }"
          }
        },
        "ExplicitCacheControl_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExplicitCacheControl object { id, value }"
          }
        },
        "ForwardingURL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForwardingURL object { id, value }"
          }
        },
        "HostHeaderOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HostHeaderOverride object { id, value }"
          }
        },
        "IPGeolocation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "IPGeolocation object { id, value }"
          }
        },
        "Mirage_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Mirage object { id, value }"
          }
        },
        "OpportunisticEncryption_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OpportunisticEncryption object { id, value }"
          }
        },
        "OriginErrorPagePassThru_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OriginErrorPagePassThru object { id, value }"
          }
        },
        "Polish_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Polish object { id, value }"
          }
        },
        "ResolveOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResolveOverride object { id, value }"
          }
        },
        "RespectStrongEtag_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RespectStrongEtag object { id, value }"
          }
        },
        "ResponseBuffering_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResponseBuffering object { id, value }"
          }
        },
        "RocketLoader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RocketLoader object { id, value }"
          }
        },
        "SecurityLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecurityLevel object { id, value }"
          }
        },
        "SortQueryStringForCache_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SortQueryStringForCache object { id, value }"
          }
        },
        "SSL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SSL object { id, value }"
          }
        },
        "TrueClientIPHeader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TrueClientIPHeader object { id, value }"
          }
        },
        "WAF_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "WAF object { id, value }"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#CreateRequestActionsItem"
      }
    },
    "com.cloudflare.page_rules#CreateRequestTargetsItemConstraintOperator": {
      "type": "enum",
      "members": {
        "MATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matches"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestTargetsItemConstraint": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.cloudflare.page_rules#CreateRequestTargetsItemConstraintOperator",
          "traits": {
            "smithy.api#documentation": "The matches operator can use asterisks and pipes as wildcard and 'or' operators.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the current request. The pattern may contain up to four asterisks ('*') as placeholders.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestTargetsItemTarget": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestTargetsItem": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "com.cloudflare.page_rules#CreateRequestTargetsItemConstraint",
          "traits": {
            "smithy.api#documentation": "String constraint."
          }
        },
        "target": {
          "target": "com.cloudflare.page_rules#CreateRequestTargetsItemTarget",
          "traits": {
            "smithy.api#documentation": "A target based on the URL of the request."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestTargetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#CreateRequestTargetsItem"
      }
    },
    "com.cloudflare.page_rules#CreateRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsList",
          "traits": {
            "smithy.api#documentation": "The set of actions to perform if the targets of this rule match the",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.cloudflare.page_rules#CreateRequestTargetsList",
          "traits": {
            "smithy.api#documentation": "The rule targets to evaluate on each request.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule, used to define which Page Rule is processed"
          }
        },
        "status": {
          "target": "com.cloudflare.page_rules#CreateRequestStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Page Rule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItem": {
      "type": "structure",
      "members": {
        "AlwaysUseHTTPS_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AlwaysUseHTTPS object { id }"
          }
        },
        "AutomaticHTTPSRewrites_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AutomaticHTTPSRewrites object { id, value }"
          }
        },
        "BrowserCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCacheTTL object { id, value }"
          }
        },
        "BrowserCheck_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCheck object { id, value }"
          }
        },
        "BypassCacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BypassCacheOnCookie object { id, value }"
          }
        },
        "CacheByDeviceType_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheByDeviceType object { id, value }"
          }
        },
        "CacheDeceptionArmor_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheDeceptionArmor object { id, value }"
          }
        },
        "CacheKeyFields_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheKeyFields object { id, value }"
          }
        },
        "CacheLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheLevel object { id, value }"
          }
        },
        "CacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheOnCookie object { id, value }"
          }
        },
        "CacheTTLByStatus_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheTTLByStatus object { id, value }"
          }
        },
        "DisableApps_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableApps object { id }"
          }
        },
        "DisablePerformance_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisablePerformance object { id }"
          }
        },
        "DisableSecurity_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableSecurity object { id }"
          }
        },
        "DisableZaraz_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableZaraz object { id }"
          }
        },
        "EdgeCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EdgeCacheTTL object { id, value }"
          }
        },
        "EmailObfuscation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EmailObfuscation object { id, value }"
          }
        },
        "ExplicitCacheControl_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExplicitCacheControl object { id, value }"
          }
        },
        "ForwardingURL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForwardingURL object { id, value }"
          }
        },
        "HostHeaderOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HostHeaderOverride object { id, value }"
          }
        },
        "IPGeolocation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "IPGeolocation object { id, value }"
          }
        },
        "Mirage_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Mirage object { id, value }"
          }
        },
        "OpportunisticEncryption_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OpportunisticEncryption object { id, value }"
          }
        },
        "OriginErrorPagePassThru_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OriginErrorPagePassThru object { id, value }"
          }
        },
        "Polish_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Polish object { id, value }"
          }
        },
        "ResolveOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResolveOverride object { id, value }"
          }
        },
        "RespectStrongEtag_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RespectStrongEtag object { id, value }"
          }
        },
        "ResponseBuffering_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResponseBuffering object { id, value }"
          }
        },
        "RocketLoader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RocketLoader object { id, value }"
          }
        },
        "SecurityLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecurityLevel object { id, value }"
          }
        },
        "SortQueryStringForCache_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SortQueryStringForCache object { id, value }"
          }
        },
        "SSL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SSL object { id, value }"
          }
        },
        "TrueClientIPHeader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TrueClientIPHeader object { id, value }"
          }
        },
        "WAF_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "WAF object { id, value }"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#CreateResponseActionsItem"
      }
    },
    "com.cloudflare.page_rules#CreateResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseTargetsItemConstraintOperator": {
      "type": "enum",
      "members": {
        "MATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matches"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseTargetsItemConstraint": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.cloudflare.page_rules#CreateResponseTargetsItemConstraintOperator",
          "traits": {
            "smithy.api#documentation": "The matches operator can use asterisks and pipes as wildcard and 'or' operators.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the current request. The pattern may contain up to four asterisks ('*') as placeholders.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseTargetsItemTarget": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseTargetsItem": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "com.cloudflare.page_rules#CreateResponseTargetsItemConstraint",
          "traits": {
            "smithy.api#documentation": "String constraint."
          }
        },
        "target": {
          "target": "com.cloudflare.page_rules#CreateResponseTargetsItemTarget",
          "traits": {
            "smithy.api#documentation": "A target based on the URL of the request."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseTargetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#CreateResponseTargetsItem"
      }
    },
    "com.cloudflare.page_rules#CreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsList",
          "traits": {
            "smithy.api#documentation": "The set of actions to perform if the targets of this rule match the",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was created.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was last modified.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule, used to define which Page Rule is processed",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.page_rules#CreateResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Page Rule.",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.cloudflare.page_rules#CreateResponseTargetsList",
          "traits": {
            "smithy.api#documentation": "The rule targets to evaluate on each request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.page_rules#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.page_rules#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.page_rules#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/pagerules",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Page Rule."
      }
    },
    "com.cloudflare.page_rules#DeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pagerule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.page_rules#DeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.page_rules#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.page_rules#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.page_rules#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/pagerules/{pagerule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing Page Rule.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.page_rules#EditRequestActionsItem": {
      "type": "structure",
      "members": {
        "AlwaysUseHTTPS_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AlwaysUseHTTPS object { id }"
          }
        },
        "AutomaticHTTPSRewrites_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AutomaticHTTPSRewrites object { id, value }"
          }
        },
        "BrowserCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCacheTTL object { id, value }"
          }
        },
        "BrowserCheck_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCheck object { id, value }"
          }
        },
        "BypassCacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BypassCacheOnCookie object { id, value }"
          }
        },
        "CacheByDeviceType_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheByDeviceType object { id, value }"
          }
        },
        "CacheDeceptionArmor_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheDeceptionArmor object { id, value }"
          }
        },
        "CacheKeyFields_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheKeyFields object { id, value }"
          }
        },
        "CacheLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheLevel object { id, value }"
          }
        },
        "CacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheOnCookie object { id, value }"
          }
        },
        "CacheTTLByStatus_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheTTLByStatus object { id, value }"
          }
        },
        "DisableApps_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableApps object { id }"
          }
        },
        "DisablePerformance_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisablePerformance object { id }"
          }
        },
        "DisableSecurity_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableSecurity object { id }"
          }
        },
        "DisableZaraz_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableZaraz object { id }"
          }
        },
        "EdgeCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EdgeCacheTTL object { id, value }"
          }
        },
        "EmailObfuscation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EmailObfuscation object { id, value }"
          }
        },
        "ExplicitCacheControl_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExplicitCacheControl object { id, value }"
          }
        },
        "ForwardingURL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForwardingURL object { id, value }"
          }
        },
        "HostHeaderOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HostHeaderOverride object { id, value }"
          }
        },
        "IPGeolocation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "IPGeolocation object { id, value }"
          }
        },
        "Mirage_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Mirage object { id, value }"
          }
        },
        "OpportunisticEncryption_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OpportunisticEncryption object { id, value }"
          }
        },
        "OriginErrorPagePassThru_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OriginErrorPagePassThru object { id, value }"
          }
        },
        "Polish_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Polish object { id, value }"
          }
        },
        "ResolveOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResolveOverride object { id, value }"
          }
        },
        "RespectStrongEtag_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RespectStrongEtag object { id, value }"
          }
        },
        "ResponseBuffering_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResponseBuffering object { id, value }"
          }
        },
        "RocketLoader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RocketLoader object { id, value }"
          }
        },
        "SecurityLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecurityLevel object { id, value }"
          }
        },
        "SortQueryStringForCache_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SortQueryStringForCache object { id, value }"
          }
        },
        "SSL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SSL object { id, value }"
          }
        },
        "TrueClientIPHeader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TrueClientIPHeader object { id, value }"
          }
        },
        "WAF_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "WAF object { id, value }"
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditRequestActionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#EditRequestActionsItem"
      }
    },
    "com.cloudflare.page_rules#EditRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditRequestTargetsItemConstraintOperator": {
      "type": "enum",
      "members": {
        "MATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matches"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditRequestTargetsItemConstraint": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.cloudflare.page_rules#EditRequestTargetsItemConstraintOperator",
          "traits": {
            "smithy.api#documentation": "The matches operator can use asterisks and pipes as wildcard and 'or' operators.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the current request. The pattern may contain up to four asterisks ('*') as placeholders.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditRequestTargetsItemTarget": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditRequestTargetsItem": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "com.cloudflare.page_rules#EditRequestTargetsItemConstraint",
          "traits": {
            "smithy.api#documentation": "String constraint."
          }
        },
        "target": {
          "target": "com.cloudflare.page_rules#EditRequestTargetsItemTarget",
          "traits": {
            "smithy.api#documentation": "A target based on the URL of the request."
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditRequestTargetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#EditRequestTargetsItem"
      }
    },
    "com.cloudflare.page_rules#EditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pagerule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.page_rules#EditRequestActionsList",
          "traits": {
            "smithy.api#documentation": "The set of actions to perform if the targets of this rule match the"
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule, used to define which Page Rule is processed"
          }
        },
        "status": {
          "target": "com.cloudflare.page_rules#EditRequestStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Page Rule."
          }
        },
        "targets": {
          "target": "com.cloudflare.page_rules#EditRequestTargetsList",
          "traits": {
            "smithy.api#documentation": "The rule targets to evaluate on each request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.page_rules#EditResponseActionsItem": {
      "type": "structure",
      "members": {
        "AlwaysUseHTTPS_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AlwaysUseHTTPS object { id }"
          }
        },
        "AutomaticHTTPSRewrites_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AutomaticHTTPSRewrites object { id, value }"
          }
        },
        "BrowserCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCacheTTL object { id, value }"
          }
        },
        "BrowserCheck_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCheck object { id, value }"
          }
        },
        "BypassCacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BypassCacheOnCookie object { id, value }"
          }
        },
        "CacheByDeviceType_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheByDeviceType object { id, value }"
          }
        },
        "CacheDeceptionArmor_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheDeceptionArmor object { id, value }"
          }
        },
        "CacheKeyFields_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheKeyFields object { id, value }"
          }
        },
        "CacheLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheLevel object { id, value }"
          }
        },
        "CacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheOnCookie object { id, value }"
          }
        },
        "CacheTTLByStatus_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheTTLByStatus object { id, value }"
          }
        },
        "DisableApps_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableApps object { id }"
          }
        },
        "DisablePerformance_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisablePerformance object { id }"
          }
        },
        "DisableSecurity_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableSecurity object { id }"
          }
        },
        "DisableZaraz_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableZaraz object { id }"
          }
        },
        "EdgeCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EdgeCacheTTL object { id, value }"
          }
        },
        "EmailObfuscation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EmailObfuscation object { id, value }"
          }
        },
        "ExplicitCacheControl_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExplicitCacheControl object { id, value }"
          }
        },
        "ForwardingURL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForwardingURL object { id, value }"
          }
        },
        "HostHeaderOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HostHeaderOverride object { id, value }"
          }
        },
        "IPGeolocation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "IPGeolocation object { id, value }"
          }
        },
        "Mirage_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Mirage object { id, value }"
          }
        },
        "OpportunisticEncryption_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OpportunisticEncryption object { id, value }"
          }
        },
        "OriginErrorPagePassThru_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OriginErrorPagePassThru object { id, value }"
          }
        },
        "Polish_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Polish object { id, value }"
          }
        },
        "ResolveOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResolveOverride object { id, value }"
          }
        },
        "RespectStrongEtag_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RespectStrongEtag object { id, value }"
          }
        },
        "ResponseBuffering_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResponseBuffering object { id, value }"
          }
        },
        "RocketLoader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RocketLoader object { id, value }"
          }
        },
        "SecurityLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecurityLevel object { id, value }"
          }
        },
        "SortQueryStringForCache_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SortQueryStringForCache object { id, value }"
          }
        },
        "SSL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SSL object { id, value }"
          }
        },
        "TrueClientIPHeader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TrueClientIPHeader object { id, value }"
          }
        },
        "WAF_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "WAF object { id, value }"
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditResponseActionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#EditResponseActionsItem"
      }
    },
    "com.cloudflare.page_rules#EditResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditResponseTargetsItemConstraintOperator": {
      "type": "enum",
      "members": {
        "MATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matches"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditResponseTargetsItemConstraint": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.cloudflare.page_rules#EditResponseTargetsItemConstraintOperator",
          "traits": {
            "smithy.api#documentation": "The matches operator can use asterisks and pipes as wildcard and 'or' operators.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the current request. The pattern may contain up to four asterisks ('*') as placeholders.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditResponseTargetsItemTarget": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditResponseTargetsItem": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "com.cloudflare.page_rules#EditResponseTargetsItemConstraint",
          "traits": {
            "smithy.api#documentation": "String constraint."
          }
        },
        "target": {
          "target": "com.cloudflare.page_rules#EditResponseTargetsItemTarget",
          "traits": {
            "smithy.api#documentation": "A target based on the URL of the request."
          }
        }
      }
    },
    "com.cloudflare.page_rules#EditResponseTargetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#EditResponseTargetsItem"
      }
    },
    "com.cloudflare.page_rules#EditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.page_rules#EditResponseActionsList",
          "traits": {
            "smithy.api#documentation": "The set of actions to perform if the targets of this rule match the",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was created.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was last modified.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule, used to define which Page Rule is processed",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.page_rules#EditResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Page Rule.",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.cloudflare.page_rules#EditResponseTargetsList",
          "traits": {
            "smithy.api#documentation": "The rule targets to evaluate on each request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.page_rules#Edit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.page_rules#EditRequest"
      },
      "output": {
        "target": "com.cloudflare.page_rules#EditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/pagerules/{pagerule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates one or more fields of an existing Page Rule."
      }
    },
    "com.cloudflare.page_rules#GetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pagerule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.page_rules#GetResponseActionsItem": {
      "type": "structure",
      "members": {
        "AlwaysUseHTTPS_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AlwaysUseHTTPS object { id }"
          }
        },
        "AutomaticHTTPSRewrites_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AutomaticHTTPSRewrites object { id, value }"
          }
        },
        "BrowserCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCacheTTL object { id, value }"
          }
        },
        "BrowserCheck_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCheck object { id, value }"
          }
        },
        "BypassCacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BypassCacheOnCookie object { id, value }"
          }
        },
        "CacheByDeviceType_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheByDeviceType object { id, value }"
          }
        },
        "CacheDeceptionArmor_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheDeceptionArmor object { id, value }"
          }
        },
        "CacheKeyFields_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheKeyFields object { id, value }"
          }
        },
        "CacheLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheLevel object { id, value }"
          }
        },
        "CacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheOnCookie object { id, value }"
          }
        },
        "CacheTTLByStatus_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheTTLByStatus object { id, value }"
          }
        },
        "DisableApps_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableApps object { id }"
          }
        },
        "DisablePerformance_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisablePerformance object { id }"
          }
        },
        "DisableSecurity_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableSecurity object { id }"
          }
        },
        "DisableZaraz_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableZaraz object { id }"
          }
        },
        "EdgeCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EdgeCacheTTL object { id, value }"
          }
        },
        "EmailObfuscation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EmailObfuscation object { id, value }"
          }
        },
        "ExplicitCacheControl_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExplicitCacheControl object { id, value }"
          }
        },
        "ForwardingURL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForwardingURL object { id, value }"
          }
        },
        "HostHeaderOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HostHeaderOverride object { id, value }"
          }
        },
        "IPGeolocation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "IPGeolocation object { id, value }"
          }
        },
        "Mirage_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Mirage object { id, value }"
          }
        },
        "OpportunisticEncryption_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OpportunisticEncryption object { id, value }"
          }
        },
        "OriginErrorPagePassThru_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OriginErrorPagePassThru object { id, value }"
          }
        },
        "Polish_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Polish object { id, value }"
          }
        },
        "ResolveOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResolveOverride object { id, value }"
          }
        },
        "RespectStrongEtag_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RespectStrongEtag object { id, value }"
          }
        },
        "ResponseBuffering_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResponseBuffering object { id, value }"
          }
        },
        "RocketLoader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RocketLoader object { id, value }"
          }
        },
        "SecurityLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecurityLevel object { id, value }"
          }
        },
        "SortQueryStringForCache_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SortQueryStringForCache object { id, value }"
          }
        },
        "SSL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SSL object { id, value }"
          }
        },
        "TrueClientIPHeader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TrueClientIPHeader object { id, value }"
          }
        },
        "WAF_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "WAF object { id, value }"
          }
        }
      }
    },
    "com.cloudflare.page_rules#GetResponseActionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#GetResponseActionsItem"
      }
    },
    "com.cloudflare.page_rules#GetResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#GetResponseTargetsItemConstraintOperator": {
      "type": "enum",
      "members": {
        "MATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matches"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        }
      }
    },
    "com.cloudflare.page_rules#GetResponseTargetsItemConstraint": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.cloudflare.page_rules#GetResponseTargetsItemConstraintOperator",
          "traits": {
            "smithy.api#documentation": "The matches operator can use asterisks and pipes as wildcard and 'or' operators.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the current request. The pattern may contain up to four asterisks ('*') as placeholders.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#GetResponseTargetsItemTarget": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#GetResponseTargetsItem": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "com.cloudflare.page_rules#GetResponseTargetsItemConstraint",
          "traits": {
            "smithy.api#documentation": "String constraint."
          }
        },
        "target": {
          "target": "com.cloudflare.page_rules#GetResponseTargetsItemTarget",
          "traits": {
            "smithy.api#documentation": "A target based on the URL of the request."
          }
        }
      }
    },
    "com.cloudflare.page_rules#GetResponseTargetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#GetResponseTargetsItem"
      }
    },
    "com.cloudflare.page_rules#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.page_rules#GetResponseActionsList",
          "traits": {
            "smithy.api#documentation": "The set of actions to perform if the targets of this rule match the",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was created.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was last modified.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule, used to define which Page Rule is processed",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.page_rules#GetResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Page Rule.",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.cloudflare.page_rules#GetResponseTargetsList",
          "traits": {
            "smithy.api#documentation": "The rule targets to evaluate on each request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.page_rules#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.page_rules#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.page_rules#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/pagerules/{pagerule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the details of a Page Rule.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.page_rules#ListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListRequestMatch": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListRequestOrder": {
      "type": "enum",
      "members": {
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        },
        "PRIORITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "priority"
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.page_rules#ListRequestDirection",
          "traits": {
            "smithy.api#documentation": "The direction used to sort returned Page Rules.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "match": {
          "target": "com.cloudflare.page_rules#ListRequestMatch",
          "traits": {
            "smithy.api#documentation": "When set to `all`, all the search requirements must match. When set to `any`, only one of the search requirements has to match.",
            "smithy.api#httpQuery": "match"
          }
        },
        "order": {
          "target": "com.cloudflare.page_rules#ListRequestOrder",
          "traits": {
            "smithy.api#documentation": "The field used to sort returned Page Rules.",
            "smithy.api#httpQuery": "order"
          }
        },
        "status": {
          "target": "com.cloudflare.page_rules#ListRequestStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Page Rule.",
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.page_rules#ListResultItemActionsItem": {
      "type": "structure",
      "members": {
        "AlwaysUseHTTPS_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AlwaysUseHTTPS object { id }"
          }
        },
        "AutomaticHTTPSRewrites_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AutomaticHTTPSRewrites object { id, value }"
          }
        },
        "BrowserCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCacheTTL object { id, value }"
          }
        },
        "BrowserCheck_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCheck object { id, value }"
          }
        },
        "BypassCacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BypassCacheOnCookie object { id, value }"
          }
        },
        "CacheByDeviceType_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheByDeviceType object { id, value }"
          }
        },
        "CacheDeceptionArmor_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheDeceptionArmor object { id, value }"
          }
        },
        "CacheKeyFields_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheKeyFields object { id, value }"
          }
        },
        "CacheLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheLevel object { id, value }"
          }
        },
        "CacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheOnCookie object { id, value }"
          }
        },
        "CacheTTLByStatus_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheTTLByStatus object { id, value }"
          }
        },
        "DisableApps_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableApps object { id }"
          }
        },
        "DisablePerformance_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisablePerformance object { id }"
          }
        },
        "DisableSecurity_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableSecurity object { id }"
          }
        },
        "DisableZaraz_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableZaraz object { id }"
          }
        },
        "EdgeCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EdgeCacheTTL object { id, value }"
          }
        },
        "EmailObfuscation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EmailObfuscation object { id, value }"
          }
        },
        "ExplicitCacheControl_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExplicitCacheControl object { id, value }"
          }
        },
        "ForwardingURL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForwardingURL object { id, value }"
          }
        },
        "HostHeaderOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HostHeaderOverride object { id, value }"
          }
        },
        "IPGeolocation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "IPGeolocation object { id, value }"
          }
        },
        "Mirage_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Mirage object { id, value }"
          }
        },
        "OpportunisticEncryption_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OpportunisticEncryption object { id, value }"
          }
        },
        "OriginErrorPagePassThru_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OriginErrorPagePassThru object { id, value }"
          }
        },
        "Polish_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Polish object { id, value }"
          }
        },
        "ResolveOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResolveOverride object { id, value }"
          }
        },
        "RespectStrongEtag_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RespectStrongEtag object { id, value }"
          }
        },
        "ResponseBuffering_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResponseBuffering object { id, value }"
          }
        },
        "RocketLoader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RocketLoader object { id, value }"
          }
        },
        "SecurityLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecurityLevel object { id, value }"
          }
        },
        "SortQueryStringForCache_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SortQueryStringForCache object { id, value }"
          }
        },
        "SSL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SSL object { id, value }"
          }
        },
        "TrueClientIPHeader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TrueClientIPHeader object { id, value }"
          }
        },
        "WAF_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "WAF object { id, value }"
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListResultItemActionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#ListResultItemActionsItem"
      }
    },
    "com.cloudflare.page_rules#ListResultItemStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListResultItemTargetsItemConstraintOperator": {
      "type": "enum",
      "members": {
        "MATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matches"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListResultItemTargetsItemConstraint": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.cloudflare.page_rules#ListResultItemTargetsItemConstraintOperator",
          "traits": {
            "smithy.api#documentation": "The matches operator can use asterisks and pipes as wildcard and 'or' operators.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the current request. The pattern may contain up to four asterisks ('*') as placeholders.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListResultItemTargetsItemTarget": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListResultItemTargetsItem": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "com.cloudflare.page_rules#ListResultItemTargetsItemConstraint",
          "traits": {
            "smithy.api#documentation": "String constraint."
          }
        },
        "target": {
          "target": "com.cloudflare.page_rules#ListResultItemTargetsItemTarget",
          "traits": {
            "smithy.api#documentation": "A target based on the URL of the request."
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListResultItemTargetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#ListResultItemTargetsItem"
      }
    },
    "com.cloudflare.page_rules#ListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.page_rules#ListResultItemActionsList",
          "traits": {
            "smithy.api#documentation": "The set of actions to perform if the targets of this rule match the",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was created.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the Page Rule was last modified.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule, used to define which Page Rule is processed",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.page_rules#ListResultItemStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Page Rule.",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.cloudflare.page_rules#ListResultItemTargetsList",
          "traits": {
            "smithy.api#documentation": "The rule targets to evaluate on each request.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#ListResultItem"
      }
    },
    "com.cloudflare.page_rules#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.page_rules#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.page_rules#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.page_rules#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.page_rules#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/pagerules",
          "code": 200
        },
        "smithy.api#documentation": "Fetches Page Rules in a zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.page_rules#UpdateRequestActionsItem": {
      "type": "structure",
      "members": {
        "AlwaysUseHTTPS_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AlwaysUseHTTPS object { id }"
          }
        },
        "AutomaticHTTPSRewrites_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AutomaticHTTPSRewrites object { id, value }"
          }
        },
        "BrowserCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCacheTTL object { id, value }"
          }
        },
        "BrowserCheck_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BrowserCheck object { id, value }"
          }
        },
        "BypassCacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BypassCacheOnCookie object { id, value }"
          }
        },
        "CacheByDeviceType_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheByDeviceType object { id, value }"
          }
        },
        "CacheDeceptionArmor_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheDeceptionArmor object { id, value }"
          }
        },
        "CacheKeyFields_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheKeyFields object { id, value }"
          }
        },
        "CacheLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheLevel object { id, value }"
          }
        },
        "CacheOnCookie_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheOnCookie object { id, value }"
          }
        },
        "CacheTTLByStatus_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CacheTTLByStatus object { id, value }"
          }
        },
        "DisableApps_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableApps object { id }"
          }
        },
        "DisablePerformance_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisablePerformance object { id }"
          }
        },
        "DisableSecurity_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableSecurity object { id }"
          }
        },
        "DisableZaraz_object___id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DisableZaraz object { id }"
          }
        },
        "EdgeCacheTTL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EdgeCacheTTL object { id, value }"
          }
        },
        "EmailObfuscation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "EmailObfuscation object { id, value }"
          }
        },
        "ExplicitCacheControl_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExplicitCacheControl object { id, value }"
          }
        },
        "ForwardingURL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForwardingURL object { id, value }"
          }
        },
        "HostHeaderOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "HostHeaderOverride object { id, value }"
          }
        },
        "IPGeolocation_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "IPGeolocation object { id, value }"
          }
        },
        "Mirage_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Mirage object { id, value }"
          }
        },
        "OpportunisticEncryption_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OpportunisticEncryption object { id, value }"
          }
        },
        "OriginErrorPagePassThru_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "OriginErrorPagePassThru object { id, value }"
          }
        },
        "Polish_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Polish object { id, value }"
          }
        },
        "ResolveOverride_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResolveOverride object { id, value }"
          }
        },
        "RespectStrongEtag_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RespectStrongEtag object { id, value }"
          }
        },
        "ResponseBuffering_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ResponseBuffering object { id, value }"
          }
        },
        "RocketLoader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RocketLoader object { id, value }"
          }
        },
        "SecurityLevel_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecurityLevel object { id, value }"
          }
        },
        "SortQueryStringForCache_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SortQueryStringForCache object { id, value }"
          }
        },
        "SSL_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SSL object { id, value }"
          }
        },
        "TrueClientIPHeader_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TrueClientIPHeader object { id, value }"
          }
        },
        "WAF_object___id__value__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "WAF object { id, value }"
          }
        }
      }
    },
    "com.cloudflare.page_rules#UpdateRequestActionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#UpdateRequestActionsItem"
      }
    },
    "com.cloudflare.page_rules#UpdateRequestTargetsItemConstraintOperator": {
      "type": "enum",
      "members": {
        "MATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matches"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        }
      }
    },
    "com.cloudflare.page_rules#UpdateRequestTargetsItemConstraint": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.cloudflare.page_rules#UpdateRequestTargetsItemConstraintOperator",
          "traits": {
            "smithy.api#documentation": "The matches operator can use asterisks and pipes as wildcard and 'or' operators.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the current request. The pattern may contain up to four asterisks ('*') as placeholders.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#UpdateRequestTargetsItemTarget": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#UpdateRequestTargetsItem": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "com.cloudflare.page_rules#UpdateRequestTargetsItemConstraint",
          "traits": {
            "smithy.api#documentation": "String constraint."
          }
        },
        "target": {
          "target": "com.cloudflare.page_rules#UpdateRequestTargetsItemTarget",
          "traits": {
            "smithy.api#documentation": "A target based on the URL of the request."
          }
        }
      }
    },
    "com.cloudflare.page_rules#UpdateRequestTargetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#UpdateRequestTargetsItem"
      }
    },
    "com.cloudflare.page_rules#UpdateRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#UpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
[...]
