{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.pages#AssetsCheckMissingRequestHashesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#AssetsCheckMissingRequest": {
      "type": "structure",
      "members": {
        "hashes": {
          "target": "com.cloudflare.pages#AssetsCheckMissingRequestHashesList",
          "traits": {
            "smithy.api#documentation": "List of file content hashes to check for existence in the asset store.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pages#AssetsCheckMissingResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#AssetsCheckMissingResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.pages#AssetsCheckMissingResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.pages#AssetsCheckMissing": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pages#AssetsCheckMissingRequest"
      },
      "output": {
        "target": "com.cloudflare.pages#AssetsCheckMissingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/pages/assets/check-missing",
          "code": 200
        },
        "smithy.api#documentation": "Check which of the provided file hashes are missing from the Pages asset store. Returns a list of missing hashes that need to be uploaded. Used as part of the Pages Direct Upload workflow. Authenticate with the JWT obtained from the upload-token endpoint: GET /accounts/{account_id}/pages/projects/{project_name}/upload-token"
      }
    },
    "com.cloudflare.pages#AssetsUploadRequestBodyItemMetadata": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type for the uploaded file.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#AssetsUploadRequestBodyItem": {
      "type": "structure",
      "members": {
        "base64": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether value is base64 encoded.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File content hash used as the object key in the Pages asset store.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.cloudflare.pages#AssetsUploadRequestBodyItemMetadata",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File content. When base64 is true, this value is base64 encoded.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#AssetsUploadRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pages#AssetsUploadRequestBodyItem"
      }
    },
    "com.cloudflare.pages#AssetsUploadRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.cloudflare.pages#AssetsUploadRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pages#AssetsUploadResponseContentType": {
      "type": "enum",
      "members": {
        "TEXT_PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text/plain"
          }
        }
      }
    },
    "com.cloudflare.pages#AssetsUploadResponseValue": {
      "type": "enum",
      "members": {
        "SGVSBG8SIFDVCMXKIQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SGVsbG8sIFdvcmxkIQ=="
          }
        }
      }
    },
    "com.cloudflare.pages#AssetsUploadResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.pages#AssetsUploadResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.pages#AssetsUploadResponse": {
      "type": "structure",
      "members": {
        "base64": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "com.cloudflare.pages#AssetsUploadResponseContentType",
          "traits": {
            "smithy.api#documentation": "},",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.cloudflare.pages#AssetsUploadResponseValue",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.pages#AssetsUploadResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.pages#AssetsUploadResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.pages#AssetsUpload": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pages#AssetsUploadRequest"
      },
      "output": {
        "target": "com.cloudflare.pages#AssetsUploadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/pages/assets/upload",
          "code": 200
        },
        "smithy.api#documentation": "Upload one or more files to the Pages asset store. Each file is identified by its content hash and is uploaded using the same JSON shape as the Cloudflare KV bulk write API. Used as part of the Pages Direct Upload workflow. Authenticate with the JWT obtained from the upload-token endpoint: GET /accounts/{account_id}/pages/projects/{project_name}/upload-token"
      }
    },
    "com.cloudflare.pages#AssetsUpsertHashesRequestHashesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#AssetsUpsertHashesRequest": {
      "type": "structure",
      "members": {
        "hashes": {
          "target": "com.cloudflare.pages#AssetsUpsertHashesRequestHashesList",
          "traits": {
            "smithy.api#documentation": "List of file content hashes to register in the asset store.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pages#AssetsUpsertHashesResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.pages#AssetsUpsertHashesResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.pages#AssetsUpsertHashesResponse": {
      "type": "structure",
      "members": {
        "hashes": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "\"a948904f2f0f479b8f936b8a0c5d9882\",",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.pages#AssetsUpsertHashesResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.pages#AssetsUpsertHashesResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.pages#AssetsUpsertHashes": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pages#AssetsUpsertHashesRequest"
      },
      "output": {
        "target": "com.cloudflare.pages#AssetsUpsertHashesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/pages/assets/upsert-hashes",
          "code": 200
        },
        "smithy.api#documentation": "Register the provided file hashes as recently uploaded to the Pages asset store. Used as part of the Pages Direct Upload workflow so future deployments can avoid re-uploading files that are already present. Authenticate with the JWT obtained from the upload-token endpoint: GET /accounts/{account_id}/pages/projects/{project_name}/upload-token"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentBuildConfig": {
      "type": "structure",
      "members": {
        "web_analytics_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The classifying tag for analytics.",
            "smithy.api#required": {}
          }
        },
        "web_analytics_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auth token for analytics.",
            "smithy.api#required": {}
          }
        },
        "build_caching": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable build caching for the project."
          }
        },
        "build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command used to build project."
          }
        },
        "destination_dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Assets output directory of the build."
          }
        },
        "root_dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory to run the command."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentDeploymentTriggerMetadata": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where the trigger happened.",
            "smithy.api#required": {}
          }
        },
        "commit_dirty": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the deployment trigger commit was dirty.",
            "smithy.api#required": {}
          }
        },
        "commit_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash of the deployment trigger commit.",
            "smithy.api#required": {}
          }
        },
        "commit_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message of the deployment trigger commit.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentDeploymentTriggerType": {
      "type": "enum",
      "members": {
        "GITHUB_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github: push"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentDeploymentTrigger": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentDeploymentTriggerMetadata",
          "traits": {
            "smithy.api#documentation": "Additional info about the trigger.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentDeploymentTriggerType",
          "traits": {
            "smithy.api#documentation": "What caused the deployment.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvironment": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentLatestStage": {
      "type": "structure",
      "members": {
        "ended_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage ended.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current build stage.",
            "smithy.api#required": {}
          }
        },
        "started_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage started.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of the current stage.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPathExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPathIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPreviewBranchExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPreviewBranchIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPreviewDeploymentSetting": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfig": {
      "type": "structure",
      "members": {
        "Deprecated_deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable automatic deployments when pushing to the source repository. When disabled, no deployments (production or preview) will be triggered automatically.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "Deprecated deployments_enabled"
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner of the repository.",
            "smithy.api#required": {}
          }
        },
        "owner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner ID of the repository.",
            "smithy.api#required": {}
          }
        },
        "path_excludes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPathExcludesList",
          "traits": {
            "smithy.api#documentation": "A list of paths that should be excluded from triggering a preview deployment. Wildcard syntax ( * ) is supported.",
            "smithy.api#required": {}
          }
        },
        "path_includes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPathIncludesList",
          "traits": {
            "smithy.api#documentation": "A list of paths that should be watched to trigger a preview deployment. Wildcard syntax ( * ) is supported.",
            "smithy.api#required": {}
          }
        },
        "pr_comments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable PR comments.",
            "smithy.api#required": {}
          }
        },
        "preview_branch_excludes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPreviewBranchExcludesList",
          "traits": {
            "smithy.api#documentation": "A list of branches that should not trigger a preview deployment. Wildcard syntax ( * ) is supported. Must be used with preview_deployment_setting set to custom .",
            "smithy.api#required": {}
          }
        },
        "preview_branch_includes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPreviewBranchIncludesList",
          "traits": {
            "smithy.api#documentation": "A list of branches that should trigger a preview deployment. Wildcard syntax ( * ) is supported. Must be used with preview_deployment_setting set to custom .",
            "smithy.api#required": {}
          }
        },
        "preview_deployment_setting": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPreviewDeploymentSetting",
          "traits": {
            "smithy.api#documentation": "Controls whether commits to preview branches trigger a preview deployment.",
            "smithy.api#required": {}
          }
        },
        "production_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The production branch of the repository.",
            "smithy.api#required": {}
          }
        },
        "production_deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to trigger a production deployment on commits to the production branch.",
            "smithy.api#required": {}
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the repository.",
            "smithy.api#required": {}
          }
        },
        "repo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSource": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfig",
          "traits": {
            "smithy.api#documentation": "Whether to enable automatic deployments when pushing to the source repository. When disabled, no deployments (production or preview) will be triggered automatically.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceType",
          "traits": {
            "smithy.api#documentation": "The source control management provider.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentStagesItem": {
      "type": "structure",
      "members": {
        "ended_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage ended.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current build stage.",
            "smithy.api#required": {}
          }
        },
        "started_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage started.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of the current stage.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentStagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentStagesItem"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeployment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the deployment.",
            "smithy.api#required": {}
          }
        },
        "aliases": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentAliasesList",
          "traits": {
            "smithy.api#documentation": "A list of alias URLs pointing to this deployment.",
            "smithy.api#required": {}
          }
        },
        "build_config": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentBuildConfig",
          "traits": {
            "smithy.api#documentation": "Configs for the project build process.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the deployment was created.",
            "smithy.api#required": {}
          }
        },
        "deployment_trigger": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentDeploymentTrigger",
          "traits": {
            "smithy.api#documentation": "Info about what caused the deployment.",
            "smithy.api#required": {}
          }
        },
        "env_vars": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Environment variables used for builds and Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvironment",
          "traits": {
            "smithy.api#documentation": "Type of deploy.",
            "smithy.api#required": {}
          }
        },
        "is_skipped": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the deployment has been skipped.",
            "smithy.api#required": {}
          }
        },
        "latest_stage": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentLatestStage",
          "traits": {
            "smithy.api#documentation": "The status of the deployment.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the deployment was last modified.",
            "smithy.api#required": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the project.",
            "smithy.api#required": {}
          }
        },
        "project_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the project.",
            "smithy.api#required": {}
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short Id (8 character) of the deployment.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSource",
          "traits": {
            "smithy.api#documentation": "Configs for the project source control.",
            "smithy.api#required": {}
          }
        },
        "stages": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentStagesList",
          "traits": {
            "smithy.api#documentation": "List of past stages.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The live URL to view this deployment.",
            "smithy.api#required": {}
          }
        },
        "skip_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the deployment was skipped."
          }
        },
        "uses_functions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the deployment uses functions."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewDeprecatedUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewAiBindings": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewAnalyticsEngineDatasets": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dataset.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewD1Databases": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the D1 database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewDurableObjectNamespaces": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewHyperdriveBindings": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewKvNamespaces": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the KV namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewLimits": {
      "type": "structure",
      "members": {
        "cpu_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU time limit in milliseconds.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewMtlsCertificates": {
      "type": "structure",
      "members": {
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewPlacement": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Placement mode.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewQueueProducers": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewR2Buckets": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the R2 bucket.",
            "smithy.api#required": {}
          }
        },
        "jurisdiction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Jurisdiction of the R2 bucket."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewServices": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service environment.",
            "smithy.api#required": {}
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service name.",
            "smithy.api#required": {}
          }
        },
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entrypoint to bind to."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewVectorizeBindings": {
      "type": "structure",
      "members": {
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreview": {
      "type": "structure",
      "members": {
        "always_use_latest_compatibility_date": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to always use the latest compatibility date for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "build_image_major_version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The major version of the build image to use for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Compatibility date used for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Compatibility flags used for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "env_vars": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Environment variables used for builds and Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "fail_open": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to fail open when the deployment config cannot be applied.",
            "smithy.api#required": {}
          }
        },
        "Deprecated_usage_model": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewDeprecatedUsageModel",
          "traits": {
            "smithy.api#documentation": "The usage model for Pages Functions.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "Deprecated usage_model"
          }
        },
        "ai_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewAiBindings",
          "traits": {
            "smithy.api#documentation": "Constellation bindings used for Pages Functions."
          }
        },
        "analytics_engine_datasets": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewAnalyticsEngineDatasets",
          "traits": {
            "smithy.api#documentation": "Analytics Engine bindings used for Pages Functions."
          }
        },
        "browsers": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Browser bindings used for Pages Functions."
          }
        },
        "d1_databases": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewD1Databases",
          "traits": {
            "smithy.api#documentation": "D1 databases used for Pages Functions."
          }
        },
        "durable_object_namespaces": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewDurableObjectNamespaces",
          "traits": {
            "smithy.api#documentation": "Durable Object namespaces used for Pages Functions."
          }
        },
        "hyperdrive_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewHyperdriveBindings",
          "traits": {
            "smithy.api#documentation": "Hyperdrive bindings used for Pages Functions."
          }
        },
        "kv_namespaces": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewKvNamespaces",
          "traits": {
            "smithy.api#documentation": "KV namespaces used for Pages Functions."
          }
        },
        "limits": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewLimits",
          "traits": {
            "smithy.api#documentation": "Limits for Pages Functions."
          }
        },
        "mtls_certificates": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewMtlsCertificates",
          "traits": {
            "smithy.api#documentation": "mTLS bindings used for Pages Functions."
          }
        },
        "placement": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewPlacement",
          "traits": {
            "smithy.api#documentation": "Placement setting used for Pages Functions."
          }
        },
        "queue_producers": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewQueueProducers",
          "traits": {
            "smithy.api#documentation": "Queue Producer bindings used for Pages Functions."
          }
        },
        "r2_buckets": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewR2Buckets",
          "traits": {
            "smithy.api#documentation": "R2 buckets used for Pages Functions."
          }
        },
        "services": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewServices",
          "traits": {
            "smithy.api#documentation": "Services used for Pages Functions."
          }
        },
        "vectorize_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewVectorizeBindings",
          "traits": {
            "smithy.api#documentation": "Vectorize bindings used for Pages Functions."
          }
        },
        "wrangler_config_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash of the Wrangler configuration used for the deployment."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionDeprecatedUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionAiBindings": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionAnalyticsEngineDatasets": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dataset.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionD1Databases": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the D1 database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionDurableObjectNamespaces": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionHyperdriveBindings": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionKvNamespaces": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the KV namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionLimits": {
      "type": "structure",
      "members": {
        "cpu_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU time limit in milliseconds.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionMtlsCertificates": {
      "type": "structure",
      "members": {
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionPlacement": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Placement mode.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionQueueProducers": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionR2Buckets": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the R2 bucket.",
            "smithy.api#required": {}
          }
        },
        "jurisdiction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Jurisdiction of the R2 bucket."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionServices": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service environment.",
            "smithy.api#required": {}
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service name.",
            "smithy.api#required": {}
          }
        },
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entrypoint to bind to."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionVectorizeBindings": {
      "type": "structure",
      "members": {
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProduction": {
      "type": "structure",
      "members": {
        "always_use_latest_compatibility_date": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to always use the latest compatibility date for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "build_image_major_version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The major version of the build image to use for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Compatibility date used for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Compatibility flags used for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "env_vars": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Environment variables used for builds and Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "fail_open": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to fail open when the deployment config cannot be applied.",
            "smithy.api#required": {}
          }
        },
        "Deprecated_usage_model": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionDeprecatedUsageModel",
          "traits": {
            "smithy.api#documentation": "The usage model for Pages Functions.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "Deprecated usage_model"
          }
        },
        "ai_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionAiBindings",
          "traits": {
            "smithy.api#documentation": "Constellation bindings used for Pages Functions."
          }
        },
        "analytics_engine_datasets": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionAnalyticsEngineDatasets",
          "traits": {
            "smithy.api#documentation": "Analytics Engine bindings used for Pages Functions."
          }
        },
        "browsers": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Browser bindings used for Pages Functions."
          }
        },
        "d1_databases": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionD1Databases",
          "traits": {
            "smithy.api#documentation": "D1 databases used for Pages Functions."
          }
        },
        "durable_object_namespaces": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionDurableObjectNamespaces",
          "traits": {
            "smithy.api#documentation": "Durable Object namespaces used for Pages Functions."
          }
        },
        "hyperdrive_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionHyperdriveBindings",
          "traits": {
            "smithy.api#documentation": "Hyperdrive bindings used for Pages Functions."
          }
        },
        "kv_namespaces": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionKvNamespaces",
          "traits": {
            "smithy.api#documentation": "KV namespaces used for Pages Functions."
          }
        },
        "limits": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionLimits",
          "traits": {
            "smithy.api#documentation": "Limits for Pages Functions."
          }
        },
        "mtls_certificates": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionMtlsCertificates",
          "traits": {
            "smithy.api#documentation": "mTLS bindings used for Pages Functions."
          }
        },
        "placement": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionPlacement",
          "traits": {
            "smithy.api#documentation": "Placement setting used for Pages Functions."
          }
        },
        "queue_producers": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionQueueProducers",
          "traits": {
            "smithy.api#documentation": "Queue Producer bindings used for Pages Functions."
          }
        },
        "r2_buckets": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionR2Buckets",
          "traits": {
            "smithy.api#documentation": "R2 buckets used for Pages Functions."
          }
        },
        "services": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionServices",
          "traits": {
            "smithy.api#documentation": "Services used for Pages Functions."
          }
        },
        "vectorize_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionVectorizeBindings",
          "traits": {
            "smithy.api#documentation": "Vectorize bindings used for Pages Functions."
          }
        },
        "wrangler_config_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash of the Wrangler configuration used for the deployment."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigs": {
      "type": "structure",
      "members": {
        "preview": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreview",
          "traits": {
            "smithy.api#documentation": "Configs for preview deploys.",
            "smithy.api#required": {}
          }
        },
        "production": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProduction",
          "traits": {
            "smithy.api#documentation": "Configs for production deploys.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentBuildConfig": {
      "type": "structure",
      "members": {
        "web_analytics_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The classifying tag for analytics.",
            "smithy.api#required": {}
          }
        },
        "web_analytics_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auth token for analytics.",
            "smithy.api#required": {}
          }
        },
        "build_caching": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable build caching for the project."
          }
        },
        "build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command used to build project."
          }
        },
        "destination_dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Assets output directory of the build."
          }
        },
        "root_dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory to run the command."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentDeploymentTriggerMetadata": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where the trigger happened.",
            "smithy.api#required": {}
          }
        },
        "commit_dirty": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the deployment trigger commit was dirty.",
            "smithy.api#required": {}
          }
        },
        "commit_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash of the deployment trigger commit.",
            "smithy.api#required": {}
          }
        },
        "commit_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message of the deployment trigger commit.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentDeploymentTriggerType": {
      "type": "enum",
      "members": {
        "GITHUB_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github: push"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentDeploymentTrigger": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentDeploymentTriggerMetadata",
          "traits": {
            "smithy.api#documentation": "Additional info about the trigger.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentDeploymentTriggerType",
          "traits": {
            "smithy.api#documentation": "What caused the deployment.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentEnvironment": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentLatestStage": {
      "type": "structure",
      "members": {
        "ended_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage ended.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current build stage.",
            "smithy.api#required": {}
          }
        },
        "started_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage started.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of the current stage.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceConfigPathExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceConfigPathIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceConfigPreviewBranchExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceConfigPreviewBranchIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceConfigPreviewDeploymentSetting": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceConfig": {
      "type": "structure",
      "members": {
        "Deprecated_deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable automatic deployments when pushing to the source repository. When disabled, no deployments (production or preview) will be triggered automatically.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "Deprecated deployments_enabled"
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner of the repository.",
            "smithy.api#required": {}
          }
        },
        "owner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner ID of the repository.",
            "smithy.api#required": {}
          }
        },
        "path_excludes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceConfigPathExcludesList",
          "traits": {
            "smithy.api#documentation": "A list of paths that should be excluded from triggering a preview deployment. Wildcard syntax ( * ) is supported.",
            "smithy.api#required": {}
          }
        },
        "path_includes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceConfigPathIncludesList",
          "traits": {
            "smithy.api#documentation": "A list of paths that should be watched to trigger a preview deployment. Wildcard syntax ( * ) is supported.",
            "smithy.api#required": {}
          }
        },
        "pr_comments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable PR comments.",
            "smithy.api#required": {}
          }
        },
        "preview_branch_excludes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceConfigPreviewBranchExcludesList",
          "traits": {
            "smithy.api#documentation": "A list of branches that should not trigger a preview deployment. Wildcard syntax ( * ) is supported. Must be used with preview_deployment_setting set to custom .",
            "smithy.api#required": {}
          }
        },
        "preview_branch_includes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceConfigPreviewBranchIncludesList",
          "traits": {
            "smithy.api#documentation": "A list of branches that should trigger a preview deployment. Wildcard syntax ( * ) is supported. Must be used with preview_deployment_setting set to custom .",
            "smithy.api#required": {}
          }
        },
        "preview_deployment_setting": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceConfigPreviewDeploymentSetting",
          "traits": {
            "smithy.api#documentation": "Controls whether commits to preview branches trigger a preview deployment.",
            "smithy.api#required": {}
          }
        },
        "production_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The production branch of the repository.",
            "smithy.api#required": {}
          }
        },
        "production_deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to trigger a production deployment on commits to the production branch.",
            "smithy.api#required": {}
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the repository.",
            "smithy.api#required": {}
          }
        },
        "repo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSource": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceConfig",
          "traits": {
            "smithy.api#documentation": "Whether to enable automatic deployments when pushing to the source repository. When disabled, no deployments (production or preview) will be triggered automatically.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSourceType",
          "traits": {
            "smithy.api#documentation": "The source control management provider.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentStagesItem": {
      "type": "structure",
      "members": {
        "ended_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage ended.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current build stage.",
            "smithy.api#required": {}
          }
        },
        "started_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage started.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of the current stage.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentStagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentStagesItem"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseLatestDeployment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the deployment.",
            "smithy.api#required": {}
          }
        },
        "aliases": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentAliasesList",
          "traits": {
            "smithy.api#documentation": "A list of alias URLs pointing to this deployment.",
            "smithy.api#required": {}
          }
        },
        "build_config": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentBuildConfig",
          "traits": {
            "smithy.api#documentation": "Configs for the project build process.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the deployment was created.",
            "smithy.api#required": {}
          }
        },
        "deployment_trigger": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentDeploymentTrigger",
          "traits": {
            "smithy.api#documentation": "Info about what caused the deployment.",
            "smithy.api#required": {}
          }
        },
        "env_vars": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Environment variables used for builds and Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentEnvironment",
          "traits": {
            "smithy.api#documentation": "Type of deploy.",
            "smithy.api#required": {}
          }
        },
        "is_skipped": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the deployment has been skipped.",
            "smithy.api#required": {}
          }
        },
        "latest_stage": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentLatestStage",
          "traits": {
            "smithy.api#documentation": "The status of the deployment.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the deployment was last modified.",
            "smithy.api#required": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the project.",
            "smithy.api#required": {}
          }
        },
        "project_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the project.",
            "smithy.api#required": {}
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short Id (8 character) of the deployment.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentSource",
          "traits": {
            "smithy.api#documentation": "Configs for the project source control.",
            "smithy.api#required": {}
          }
        },
        "stages": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeploymentStagesList",
          "traits": {
            "smithy.api#documentation": "List of past stages.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The live URL to view this deployment.",
            "smithy.api#required": {}
          }
        },
        "skip_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the deployment was skipped."
          }
        },
        "uses_functions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the deployment uses functions."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseBuildConfig": {
      "type": "structure",
      "members": {
        "web_analytics_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The classifying tag for analytics.",
            "smithy.api#required": {}
          }
        },
        "web_analytics_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auth token for analytics.",
            "smithy.api#required": {}
          }
        },
        "build_caching": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable build caching for the project."
          }
        },
        "build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command used to build project."
          }
        },
        "destination_dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Assets output directory of the build."
          }
        },
        "root_dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory to run the command."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseSourceConfigPathExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseSourceConfigPathIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseSourceConfigPreviewBranchExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseSourceConfigPreviewBranchIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseSourceConfigPreviewDeploymentSetting": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseSourceConfig": {
      "type": "structure",
      "members": {
        "Deprecated_deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable automatic deployments when pushing to the source repository. When disabled, no deployments (production or preview) will be triggered automatically.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "Deprecated deployments_enabled"
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner of the repository.",
            "smithy.api#required": {}
          }
        },
        "owner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner ID of the repository.",
            "smithy.api#required": {}
          }
        },
        "path_excludes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseSourceConfigPathExcludesList",
          "traits": {
            "smithy.api#documentation": "A list of paths that should be excluded from triggering a preview deployment. Wildcard syntax ( * ) is supported.",
            "smithy.api#required": {}
          }
        },
        "path_includes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseSourceConfigPathIncludesList",
          "traits": {
            "smithy.api#documentation": "A list of paths that should be watched to trigger a preview deployment. Wildcard syntax ( * ) is supported.",
            "smithy.api#required": {}
          }
        },
        "pr_comments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable PR comments.",
            "smithy.api#required": {}
          }
        },
        "preview_branch_excludes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseSourceConfigPreviewBranchExcludesList",
          "traits": {
            "smithy.api#documentation": "A list of branches that should not trigger a preview deployment. Wildcard syntax ( * ) is supported. Must be used with preview_deployment_setting set to custom .",
            "smithy.api#required": {}
          }
        },
        "preview_branch_includes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseSourceConfigPreviewBranchIncludesList",
          "traits": {
            "smithy.api#documentation": "A list of branches that should trigger a preview deployment. Wildcard syntax ( * ) is supported. Must be used with preview_deployment_setting set to custom .",
            "smithy.api#required": {}
          }
        },
        "preview_deployment_setting": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseSourceConfigPreviewDeploymentSetting",
          "traits": {
            "smithy.api#documentation": "Controls whether commits to preview branches trigger a preview deployment.",
            "smithy.api#required": {}
          }
        },
        "production_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The production branch of the repository.",
            "smithy.api#required": {}
          }
        },
        "production_deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to trigger a production deployment on commits to the production branch.",
            "smithy.api#required": {}
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the repository.",
            "smithy.api#required": {}
          }
        },
        "repo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseSourceType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseSource": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseSourceConfig",
          "traits": {
            "smithy.api#documentation": "Whether to enable automatic deployments when pushing to the source repository. When disabled, no deployments (production or preview) will be triggered automatically.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseSourceType",
          "traits": {
            "smithy.api#documentation": "The source control management provider.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the project.",
            "smithy.api#required": {}
          }
        },
        "canonical_deployment": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeployment",
          "traits": {
            "smithy.api#documentation": "Most recent production deployment of the project.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the project was created.",
            "smithy.api#required": {}
          }
        },
        "deployment_configs": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigs",
          "traits": {
            "smithy.api#documentation": "Configs for deployments in a project.",
            "smithy.api#required": {}
          }
        },
        "framework": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Framework the project is using.",
            "smithy.api#required": {}
          }
        },
        "framework_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the framework the project is using.",
            "smithy.api#required": {}
          }
        },
        "latest_deployment": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseLatestDeployment",
          "traits": {
            "smithy.api#documentation": "Most recent deployment of the project.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the project.",
            "smithy.api#required": {}
          }
        },
        "preview_script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the preview script.",
            "smithy.api#required": {}
          }
        },
        "production_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Production branch of the project. Used to identify production deployments.",
            "smithy.api#required": {}
          }
        },
        "production_script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the production script.",
            "smithy.api#required": {}
          }
        },
        "uses_functions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the project uses functions.",
            "smithy.api#required": {}
          }
        },
        "build_config": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseBuildConfig",
          "traits": {
            "smithy.api#documentation": "Configs for the project build process."
          }
        },
        "domains": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDomainsList",
          "traits": {
            "smithy.api#documentation": "A list of associated custom domains for the project."
          }
        },
        "source": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseSource",
          "traits": {
            "smithy.api#documentation": "Configs for the project source control."
          }
        },
        "subdomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloudflare subdomain associated with the project."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.pages#ProjectsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pages#ProjectsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.pages#ProjectsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/pages/projects",
          "code": 200
        },
        "smithy.api#documentation": "Create a new project."
      }
    },
    "com.cloudflare.pages#ProjectsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "project_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the project.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pages#ProjectsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.pages#ProjectsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pages#ProjectsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.pages#ProjectsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/pages/projects/{project_name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a project by name.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.pages#ProjectsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "project_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the project.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentBuildConfig": {
      "type": "structure",
      "members": {
        "web_analytics_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The classifying tag for analytics.",
            "smithy.api#required": {}
          }
        },
        "web_analytics_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auth token for analytics.",
            "smithy.api#required": {}
          }
        },
        "build_caching": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable build caching for the project."
          }
        },
        "build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command used to build project."
          }
        },
        "destination_dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Assets output directory of the build."
          }
        },
        "root_dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory to run the command."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentDeploymentTriggerMetadata": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where the trigger happened.",
            "smithy.api#required": {}
          }
        },
        "commit_dirty": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the deployment trigger commit was dirty.",
            "smithy.api#required": {}
          }
        },
        "commit_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash of the deployment trigger commit.",
            "smithy.api#required": {}
          }
        },
        "commit_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message of the deployment trigger commit.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentDeploymentTriggerType": {
      "type": "enum",
      "members": {
        "GITHUB_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github: push"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentDeploymentTrigger": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentDeploymentTriggerMetadata",
          "traits": {
            "smithy.api#documentation": "Additional info about the trigger.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentDeploymentTriggerType",
          "traits": {
            "smithy.api#documentation": "What caused the deployment.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentEnvironment": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentLatestStage": {
      "type": "structure",
      "members": {
        "ended_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage ended.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current build stage.",
            "smithy.api#required": {}
          }
        },
        "started_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage started.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of the current stage.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentSourceConfigPathExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentSourceConfigPathIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentSourceConfigPreviewBranchExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentSourceConfigPreviewBranchIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentSourceConfigPreviewDeploymentSetting": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentSourceConfig": {
      "type": "structure",
      "members": {
        "Deprecated_deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable automatic deployments when pushing to the source repository. When disabled, no deployments (production or preview) will be triggered automatically.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "Deprecated deployments_enabled"
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner of the repository.",
            "smithy.api#required": {}
          }
        },
        "owner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner ID of the repository.",
            "smithy.api#required": {}
          }
        },
        "path_excludes": {
          "target": "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentSourceConfigPathExcludesList",
          "traits": {
            "smithy.api#documentation": "A list of paths that should be excluded from triggering a preview deployment. Wildcard syntax ( * ) is supported.",
            "smithy.api#required": {}
          }
        },
        "path_includes": {
          "target": "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentSourceConfigPathIncludesList",
          "traits": {
            "smithy.api#documentation": "A list of paths that should be watched to trigger a preview deployment. Wildcard syntax ( * ) is supported.",
            "smithy.api#required": {}
          }
        },
        "pr_comments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable PR comments.",
            "smithy.api#required": {}
          }
        },
        "preview_branch_excludes": {
          "target": "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentSourceConfigPreviewBranchExcludesList",
          "traits": {
            "smithy.api#documentation": "A list of branches that should not trigger a preview deployment. Wildcard syntax ( * ) is supported. Must be used with preview_deployment_setting set to custom .",
            "smithy.api#required": {}
          }
        },
        "preview_branch_includes": {
          "target": "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentSourceConfigPreviewBranchIncludesList",
          "traits": {
            "smithy.api#documentation": "A list of branches that should trigger a preview deployment. Wildcard syntax ( * ) is supported. Must be used with preview_deployment_setting set to custom .",
            "smithy.api#required": {}
          }
        },
        "preview_deployment_setting": {
          "target": "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentSourceConfigPreviewDeploymentSetting",
          "traits": {
            "smithy.api#documentation": "Controls whether commits to preview branches trigger a preview deployment.",
            "smithy.api#required": {}
          }
        },
        "production_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The production branch of the repository.",
            "smithy.api#required": {}
          }
        },
        "production_deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to trigger a production deployment on commits to the production branch.",
            "smithy.api#required": {}
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the repository.",
            "smithy.api#required": {}
          }
        },
        "repo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentSourceType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsEditResponseCanonicalDeploymentSource": {
      "type": "structure",
      "members": {
        "config": {
[...]
