{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.pipelines#CreateRequestDestinationBatch": {
      "type": "structure",
      "members": {
        "max_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum size of files."
          }
        },
        "max_duration_s": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies duration to wait to aggregate batches files."
          }
        },
        "max_rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum number of rows per file."
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationCompressionType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "DEFLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deflate"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationCompression": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationCompressionType",
          "traits": {
            "smithy.api#documentation": "Specifies the desired compression algorithm and format."
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationCredentials": {
      "type": "structure",
      "members": {
        "access_key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket Access Key Id.",
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Endpoint.",
            "smithy.api#required": {}
          }
        },
        "secret_access_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket Secret Access Key.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationPath": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket to store files.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern to for individual data files."
          }
        },
        "filepath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern for directory."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the base directory within the bucket."
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationSourceItemFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationSourceItem": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationSourceItemFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of source data.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationSourceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#CreateRequestDestinationSourceItem"
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationCors": {
      "type": "structure",
      "members": {
        "origins": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Specifies allowed origins to allow Cross Origin HTTP Requests."
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationFormat2": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestination": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationBatch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationCompression",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "credentials": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationCredentials",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of data to deliver.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationPath",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of destination.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationSourceList",
          "traits": {
            "smithy.api#documentation": "CloudflarePipelinesWorkersPipelinesHTTPSource object { format, type, authentication, cors }",
            "smithy.api#required": {}
          }
        },
        "authentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether authentication is required to send to this pipeline via HTTP."
          }
        },
        "cors": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationCors"
        },
        "format_2": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationFormat2",
          "traits": {
            "smithy.api#documentation": "Specifies the format of source data.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "format"
          }
        },
        "type_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.pipelines#CreateRequestDestination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#CreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.pipelines#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/pipelines",
          "code": 200
        },
        "smithy.api#documentation": "[DEPRECATED] Create a new pipeline. Use the new /pipelines/v1/pipelines endpoint instead."
      }
    },
    "com.cloudflare.pipelines#CreateV1Request": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name of the Pipeline.",
            "smithy.api#required": {}
          }
        },
        "sql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies SQL for the Pipeline processing flow.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#CreateV1Response": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates a unique identifier for this pipeline.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the name of the Pipeline.",
            "smithy.api#required": {}
          }
        },
        "sql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies SQL for the Pipeline processing flow.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the current status of the Pipeline.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.pipelines#CreateV1": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#CreateV1Request"
      },
      "output": {
        "target": "com.cloudflare.pipelines#CreateV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/pipelines/v1/pipelines",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Pipeline."
      }
    },
    "com.cloudflare.pipelines#DeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pipeline_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#DeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/pipelines/{pipeline_name}",
          "code": 200
        },
        "smithy.api#documentation": "[DEPRECATED] Delete a pipeline. Use the new /pipelines/v1/pipelines endpoint instead.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.pipelines#DeleteV1Request": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the pipeline.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#DeleteV1Response": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.pipelines#DeleteV1": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#DeleteV1Request"
      },
      "output": {
        "target": "com.cloudflare.pipelines#DeleteV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/pipelines/v1/pipelines/{pipeline_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Pipeline in Account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.pipelines#GetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pipeline_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#GetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.pipelines#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/pipelines/{pipeline_name}",
          "code": 200
        },
        "smithy.api#documentation": "[DEPRECATED] Get configuration of a pipeline. Use the new /pipelines/v1/pipelines endpoint instead.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.pipelines#GetV1Request": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the pipeline.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#GetV1ResponseTablesItemType": {
      "type": "enum",
      "members": {
        "STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream"
          }
        },
        "SINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sink"
          }
        }
      }
    },
    "com.cloudflare.pipelines#GetV1ResponseTablesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the connection (stream or sink).",
            "smithy.api#required": {}
          }
        },
        "latest": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latest available version of the connection.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the connection.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#GetV1ResponseTablesItemType",
          "traits": {
            "smithy.api#documentation": "Type of the connection.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current version of the connection used by this pipeline.",
            "smithy.api#required": {}
          }
        },
        "failure_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the reason for the failure of the Pipeline."
          }
        }
      }
    },
    "com.cloudflare.pipelines#GetV1ResponseTablesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#GetV1ResponseTablesItem"
      }
    },
    "com.cloudflare.pipelines#GetV1Response": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates a unique identifier for this pipeline.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the name of the Pipeline.",
            "smithy.api#required": {}
          }
        },
        "sql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies SQL for the Pipeline processing flow.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the current status of the Pipeline.",
            "smithy.api#required": {}
          }
        },
        "tables": {
          "target": "com.cloudflare.pipelines#GetV1ResponseTablesList",
          "traits": {
            "smithy.api#documentation": "List of streams and sinks used by this pipeline.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.pipelines#GetV1": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#GetV1Request"
      },
      "output": {
        "target": "com.cloudflare.pipelines#GetV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/pipelines/v1/pipelines/{pipeline_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get Pipeline details.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.pipelines#ListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies which page to retrieve.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the number of pipelines per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the prefix of pipeline name to search.",
            "smithy.api#httpQuery": "search"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationBatch": {
      "type": "structure",
      "members": {
        "max_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum size of files.",
            "smithy.api#required": {}
          }
        },
        "max_duration_s": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies duration to wait to aggregate batches files.",
            "smithy.api#required": {}
          }
        },
        "max_rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum number of rows per file.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationCompressionType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "DEFLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deflate"
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationCompression": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationCompressionType",
          "traits": {
            "smithy.api#documentation": "Specifies the desired compression algorithm and format.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationPath": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket to store files.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern to for individual data files."
          }
        },
        "filepath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern for directory."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the base directory within the bucket."
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationSourceItemFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationSourceItem": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationSourceItemFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of source data.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationSourceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationSourceItem"
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationCors": {
      "type": "structure",
      "members": {
        "origins": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Specifies allowed origins to allow Cross Origin HTTP Requests."
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationFormat2": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestination": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationBatch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationCompression",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of data to deliver.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationPath",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of destination.",
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the endpoint URL to send traffic.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationSourceList",
          "traits": {
            "smithy.api#documentation": "CloudflarePipelinesWorkersPipelinesHTTPSource object { format, type, authentication, cors }",
            "smithy.api#required": {}
          }
        },
        "authentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether authentication is required to send to this pipeline via HTTP."
          }
        },
        "cors": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationCors"
        },
        "format_2": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationFormat2",
          "traits": {
            "smithy.api#documentation": "Specifies the format of source data.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "format"
          }
        },
        "type_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Indicates the version number of last saved configuration.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the pipeline identifier.",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#ListResponseResultsItem"
      }
    },
    "com.cloudflare.pipelines#ListResponseTotalCount": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseMaxRows": {
      "type": "intEnum",
      "members": {
        "_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 100
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseType": {
      "type": "enum",
      "members": {
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponsePrefix": {
      "type": "enum",
      "members": {
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "base"
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseType2": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseVersion": {
      "type": "intEnum",
      "members": {
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.cloudflare.pipelines#ListResponseResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "com.cloudflare.pipelines#ListResponseTotalCount",
          "traits": {
            "smithy.api#documentation": "},",
            "smithy.api#required": {}
          }
        },
        "results_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "{",
            "smithy.api#required": {},
            "smithy.api#jsonName": "results"
          }
        },
        "id": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "batch": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "max_bytes": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "max_duration_s": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "max_rows": {
          "target": "com.cloudflare.pipelines#ListResponseMaxRows",
          "traits": {
            "smithy.api#documentation": "},",
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#ListResponseType",
          "traits": {
            "smithy.api#documentation": "},",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bucket": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filepath": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "com.cloudflare.pipelines#ListResponsePrefix",
          "traits": {
            "smithy.api#documentation": "},",
            "smithy.api#required": {}
          }
        },
        "type_2": {
          "target": "com.cloudflare.pipelines#ListResponseType2",
          "traits": {
            "smithy.api#documentation": "},",
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "endpoint": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "{",
            "smithy.api#required": {}
          }
        },
        "format_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "format"
          }
        },
        "type_3": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "authentication": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cors": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "origins": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "\"*\"",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.cloudflare.pipelines#ListResponseVersion",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.pipelines#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/pipelines",
          "code": 200
        },
        "smithy.api#documentation": "[DEPRECATED] List, filter, and paginate pipelines in an account. Use the new /pipelines/v1/pipelines endpoint instead.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.pipelines#ListV1Request": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters pipelines by name (case-insensitive substring).",
            "smithy.api#httpQuery": "name"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#ListV1ResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates a unique identifier for this pipeline.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the name of the Pipeline.",
            "smithy.api#required": {}
          }
        },
        "sql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies SQL for the Pipeline processing flow.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the current status of the Pipeline.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListV1ResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#ListV1ResultItem"
      }
    },
    "com.cloudflare.pipelines#ListV1Response": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.pipelines#ListV1ResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.pipelines#ListV1": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#ListV1Request"
      },
      "output": {
        "target": "com.cloudflare.pipelines#ListV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/pipelines/v1/pipelines",
          "code": 200
        },
        "smithy.api#documentation": "List/Filter Pipelines in Account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationBatch": {
      "type": "structure",
      "members": {
        "max_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum size of files."
          }
        },
        "max_duration_s": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies duration to wait to aggregate batches files."
          }
        },
        "max_rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum number of rows per file."
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationCompressionType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "DEFLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deflate"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationCompression": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationCompressionType",
          "traits": {
            "smithy.api#documentation": "Specifies the desired compression algorithm and format."
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationPath": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket to store files.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern to for individual data files."
          }
        },
        "filepath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern for directory."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the base directory within the bucket."
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationCredentials": {
      "type": "structure",
      "members": {
        "access_key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket Access Key Id.",
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Endpoint.",
            "smithy.api#required": {}
          }
        },
        "secret_access_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket Secret Access Key.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationSourceItemFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationSourceItem": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationSourceItemFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of source data.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationSourceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#UpdateRequestDestinationSourceItem"
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationCors": {
      "type": "structure",
      "members": {
        "origins": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Specifies allowed origins to allow Cross Origin HTTP Requests."
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationFormat2": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestination": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationBatch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationCompression",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of data to deliver.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationPath",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of destination.",
            "smithy.api#required": {}
          }
        },
        "credentials": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationCredentials"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationSourceList",
          "traits": {
            "smithy.api#documentation": "CloudflarePipelinesWorkersPipelinesHTTPSource object { format, type, authentication, cors }",
            "smithy.api#required": {}
          }
        },
        "authentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether authentication is required to send to this pipeline via HTTP."
          }
        },
        "cors": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationCors"
        },
        "format_2": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationFormat2",
          "traits": {
            "smithy.api#documentation": "Specifies the format of source data.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "format"
          }
        },
        "type_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pipeline_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#UpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.pipelines#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/pipelines/{pipeline_name}",
          "code": 200
        },
        "smithy.api#documentation": "[DEPRECATED] Update an existing pipeline. Use the new /pipelines/v1/pipelines endpoint instead.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.pipelines#ValidateSqlRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies SQL to validate.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponseTablesValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponseTablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pipelines#ValidateSqlResponseTablesValue"
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponseGraphEdgesItemNodesItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint32",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parallelism": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint32",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponseGraphEdgesItemNodesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#ValidateSqlResponseGraphEdgesItemNodesItem"
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponseGraphEdgesItem": {
      "type": "structure",
      "members": {
        "dest_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint32",
            "smithy.api#required": {}
          }
        },
        "edge_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "src_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint32",
            "smithy.api#required": {}
          }
        },
        "value_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nodes": {
          "target": "com.cloudflare.pipelines#ValidateSqlResponseGraphEdgesItemNodesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponseGraphEdgesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#ValidateSqlResponseGraphEdgesItem"
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponseGraph": {
      "type": "structure",
      "members": {
        "edges": {
          "target": "com.cloudflare.pipelines#ValidateSqlResponseGraphEdgesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponse": {
      "type": "structure",
      "members": {
        "tables": {
          "target": "com.cloudflare.pipelines#ValidateSqlResponseTablesMap",
          "traits": {
            "smithy.api#documentation": "Indicates tables involved in the processing.",
            "smithy.api#required": {}
          }
        },
        "graph": {
          "target": "com.cloudflare.pipelines#ValidateSqlResponseGraph"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.pipelines#ValidateSql": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#ValidateSqlRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#ValidateSqlResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/pipelines/v1/validate_sql",
          "code": 200
        },
        "smithy.api#documentation": "Validates that the Pipelines SQL is correct."
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        },
        "R2_DATA_CATALOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_data_catalog"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseSchemaFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseSchema": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseSchemaFieldsList"
        },
        "format": {
          "target": "smithy.api#Document"
        },
        "inferred": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates a unique identifier for this sink.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the Sink.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of sink.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "R2 Data Catalog Sink"
          }
        },
        "format": {
          "target": "smithy.api#Document"
        },
        "schema": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseSchema"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.pipelines#SinksCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#SinksCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#SinksCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/pipelines/v1/sinks",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Sink."
      }
    },
    "com.cloudflare.pipelines#SinksDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sink_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the publid ID of the sink.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#SinksDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.pipelines#SinksDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#SinksDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#SinksDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/pipelines/v1/sinks/{sink_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Sink in Account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.pipelines#SinksGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sink_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the publid ID of the sink.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#SinksGetResponseType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        },
        "R2_DATA_CATALOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_data_catalog"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksGetResponseSchemaFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.pipelines#SinksGetResponseSchema": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.cloudflare.pipelines#SinksGetResponseSchemaFieldsList"
        },
        "format": {
          "target": "smithy.api#Document"
        },
        "inferred": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.pipelines#SinksGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates a unique identifier for this sink.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the Sink.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#SinksGetResponseType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of sink.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Defines the configuration of the R2 Sink."
          }
        },
        "format": {
          "target": "smithy.api#Document"
        },
        "schema": {
          "target": "com.cloudflare.pipelines#SinksGetResponseSchema"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.pipelines#SinksGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#SinksGetRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#SinksGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/pipelines/v1/sinks/{sink_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get Sink Details.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.pipelines#SinksListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#SinksListResultItemType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        },
        "R2_DATA_CATALOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_data_catalog"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksListResultItemSchemaFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.pipelines#SinksListResultItemSchema": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.cloudflare.pipelines#SinksListResultItemSchemaFieldsList"
        },
        "format": {
          "target": "smithy.api#Document"
        },
        "inferred": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.pipelines#SinksListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates a unique identifier for this sink.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the Sink.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#SinksListResultItemType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of sink.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Defines the configuration of the R2 Sink."
          }
        },
        "format": {
          "target": "smithy.api#Document"
        },
        "schema": {
          "target": "com.cloudflare.pipelines#SinksListResultItemSchema"
        }
      }
    },
    "com.cloudflare.pipelines#SinksListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#SinksListResultItem"
      }
    },
    "com.cloudflare.pipelines#SinksListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.pipelines#SinksListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.pipelines#SinksList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#SinksListRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#SinksListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/pipelines/v1/sinks",
          "code": 200
        },
        "smithy.api#documentation": "List/Filter Sinks in Account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.pipelines#StreamsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#StreamsCreateResponseHttpCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pipelines#StreamsCreateResponseHttpCors": {
      "type": "structure",
      "members": {
        "origins": {
          "target": "com.cloudflare.pipelines#StreamsCreateResponseHttpCorsOriginsList"
        }
      }
    },
    "com.cloudflare.pipelines#StreamsCreateResponseHttp": {
      "type": "structure",
      "members": {
        "authentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that authentication is required for the HTTP endpoint.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that the HTTP endpoint is enabled.",
            "smithy.api#required": {}
          }
        },
        "cors": {
          "target": "com.cloudflare.pipelines#StreamsCreateResponseHttpCors",
          "traits": {
            "smithy.api#documentation": "Specifies the CORS options for the HTTP endpoint."
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsCreateResponseWorkerBinding": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that the worker binding is enabled.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsCreateResponseSchemaFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.pipelines#StreamsCreateResponseSchema": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.cloudflare.pipelines#StreamsCreateResponseSchemaFieldsList"
        },
        "format": {
          "target": "smithy.api#Document"
        },
        "inferred": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.pipelines#StreamsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates a unique identifier for this stream.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "http": {
          "target": "com.cloudflare.pipelines#StreamsCreateResponseHttp",
          "traits": {
            "smithy.api#documentation": "Indicates that authentication is required for the HTTP endpoint.",
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the name of the Stream.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Indicates the current version of this stream.",
            "smithy.api#required": {}
          }
        },
        "worker_binding": {
          "target": "com.cloudflare.pipelines#StreamsCreateResponseWorkerBinding",
          "traits": {
            "smithy.api#documentation": "Indicates that the worker binding is enabled.",
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the endpoint URL of this stream."
          }
        },
        "format": {
          "target": "smithy.api#Document"
        },
        "schema": {
          "target": "com.cloudflare.pipelines#StreamsCreateResponseSchema"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.pipelines#StreamsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#StreamsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#StreamsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/pipelines/v1/streams",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Stream."
      }
    },
    "com.cloudflare.pipelines#StreamsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "stream_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the stream.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#StreamsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.pipelines#StreamsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#StreamsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#StreamsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/pipelines/v1/streams/{stream_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Stream in Account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.pipelines#StreamsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "stream_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the stream.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseHttpCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseHttpCors": {
      "type": "structure",
      "members": {
        "origins": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseHttpCorsOriginsList"
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseHttp": {
      "type": "structure",
      "members": {
        "authentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that authentication is required for the HTTP endpoint.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that the HTTP endpoint is enabled.",
            "smithy.api#required": {}
          }
        },
        "cors": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseHttpCors",
          "traits": {
            "smithy.api#documentation": "Specifies the CORS options for the HTTP endpoint."
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseWorkerBinding": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that the worker binding is enabled.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseFormatType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseFormat": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseFormatType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseDecimalEncoding": {
      "type": "enum",
      "members": {
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytes"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseTimestampFormat": {
      "type": "enum",
      "members": {
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        },
        "UNIX_MILLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix_millis"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseType": {
      "type": "enum",
      "members": {
        "PARQUET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parquet"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseCompression": {
      "type": "enum",
      "members": {
        "UNCOMPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uncompressed"
          }
        },
        "SNAPPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snappy"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "ZSTD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zstd"
          }
        },
        "LZ4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lz4"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType": {
      "type": "enum",
      "members": {
        "INT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "int32"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType2": {
      "type": "enum",
      "members": {
        "INT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "int64"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType3": {
      "type": "enum",
      "members": {
        "FLOAT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "float32"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType4": {
      "type": "enum",
      "members": {
        "FLOAT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "float64"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType5": {
      "type": "enum",
      "members": {
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bool"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType6": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType7": {
      "type": "enum",
      "members": {
        "BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "binary"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType8": {
      "type": "enum",
      "members": {
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timestamp"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemUnit": {
      "type": "enum",
      "members": {
        "SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "second"
          }
        },
        "MILLISECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "millisecond"
          }
        },
        "MICROSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "microsecond"
          }
        },
        "NANOSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nanosecond"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType9": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemFormatType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemFormat": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemFormatType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemDecimalEncoding": {
      "type": "enum",
      "members": {
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytes"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemTimestampFormat": {
      "type": "enum",
      "members": {
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        },
        "UNIX_MILLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix_millis"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType10": {
      "type": "enum",
      "members": {
        "PARQUET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parquet"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemCompression": {
      "type": "enum",
      "members": {
        "UNCOMPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uncompressed"
          }
        },
        "SNAPPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snappy"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "ZSTD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zstd"
          }
        },
        "LZ4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lz4"
          }
        }
      }
    },
    "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata_key": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "sql_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Int64 object { type, metadata_key, name, 2 more }"
          }
        },
        "type_2": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType2",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "metadata_key_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "metadata_key"
          }
        },
        "name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "required_2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "required"
          }
        },
        "sql_name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Float32 object { type, metadata_key, name, 2 more }",
            "smithy.api#jsonName": "sql_name"
          }
        },
        "type_3": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType3",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "metadata_key_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "metadata_key"
          }
        },
        "name_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "required_3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "required"
          }
        },
        "sql_name_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Float64 object { type, metadata_key, name, 2 more }",
            "smithy.api#jsonName": "sql_name"
          }
        },
        "type_4": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType4",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "metadata_key_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "metadata_key"
          }
        },
        "name_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "required_4": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "required"
          }
        },
        "sql_name_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bool object { type, metadata_key, name, 2 more }",
            "smithy.api#jsonName": "sql_name"
          }
        },
        "type_5": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType5",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "metadata_key_5": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "metadata_key"
          }
        },
        "name_5": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "required_5": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "required"
          }
        },
        "sql_name_5": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String object { type, metadata_key, name, 2 more }",
            "smithy.api#jsonName": "sql_name"
          }
        },
        "type_6": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType6",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "metadata_key_6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "metadata_key"
          }
        },
        "name_6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "required_6": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "required"
          }
        },
        "sql_name_6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Binary object { type, metadata_key, name, 2 more }",
            "smithy.api#jsonName": "sql_name"
          }
        },
        "type_7": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType7",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "metadata_key_7": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "metadata_key"
          }
        },
        "name_7": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "required_7": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "required"
          }
        },
        "sql_name_7": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp object { type, metadata_key, name, 3 more }",
            "smithy.api#jsonName": "sql_name"
          }
        },
        "type_8": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType8",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "metadata_key_8": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "metadata_key"
          }
        },
        "name_8": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "required_8": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "required"
          }
        },
        "sql_name_8": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "sql_name"
          }
        },
        "unit": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemUnit",
          "traits": {
            "smithy.api#documentation": "Json object { type, metadata_key, name, 2 more }"
          }
        },
        "type_9": {
          "target": "com.cloudflare.pipelines#StreamsGetResponseSchemaFieldsItemType9",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "metadata_key_9": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "metadata_key"
          }
        },
        "name_9": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "required_9": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "required"
          }
        },
        "sql_name_9": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Struct \\=",
[...]
