{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.pipelines#CreateRequestDestinationBatch": {
      "type": "structure",
      "members": {
        "max_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum size of files."
          }
        },
        "max_duration_s": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies duration to wait to aggregate batches files."
          }
        },
        "max_rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum number of rows per file."
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationCompressionType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "DEFLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deflate"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationCompression": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationCompressionType",
          "traits": {
            "smithy.api#documentation": "Specifies the desired compression algorithm and format."
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationCredentials": {
      "type": "structure",
      "members": {
        "access_key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket Access Key Id.",
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Endpoint.",
            "smithy.api#required": {}
          }
        },
        "secret_access_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket Secret Access Key.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationPath": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket to store files.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern to for individual data files."
          }
        },
        "filepath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern for directory."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the base directory within the bucket."
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestinationType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestDestination": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationBatch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationCompression",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "credentials": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationCredentials",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of data to deliver.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationPath",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#CreateRequestDestinationType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of destination.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestSourceItemFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestSourceItemCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pipelines#CreateRequestSourceItemCors": {
      "type": "structure",
      "members": {
        "origins": {
          "target": "com.cloudflare.pipelines#CreateRequestSourceItemCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Specifies allowed origins to allow Cross Origin HTTP Requests."
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestSourceItem": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.cloudflare.pipelines#CreateRequestSourceItemFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of source data."
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "authentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether authentication is required to send to this pipeline via HTTP."
          }
        },
        "cors": {
          "target": "com.cloudflare.pipelines#CreateRequestSourceItemCors"
        }
      }
    },
    "com.cloudflare.pipelines#CreateRequestSourceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#CreateRequestSourceItem"
      }
    },
    "com.cloudflare.pipelines#CreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.pipelines#CreateRequestDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.pipelines#CreateRequestSourceList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#CreateResponseDestinationBatch": {
      "type": "structure",
      "members": {
        "max_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum size of files.",
            "smithy.api#required": {}
          }
        },
        "max_duration_s": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies duration to wait to aggregate batches files.",
            "smithy.api#required": {}
          }
        },
        "max_rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum number of rows per file.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateResponseDestinationCompressionType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "DEFLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deflate"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateResponseDestinationCompression": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#CreateResponseDestinationCompressionType",
          "traits": {
            "smithy.api#documentation": "Specifies the desired compression algorithm and format.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateResponseDestinationFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateResponseDestinationPath": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket to store files.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern to for individual data files."
          }
        },
        "filepath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern for directory."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the base directory within the bucket."
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateResponseDestinationType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateResponseDestination": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.cloudflare.pipelines#CreateResponseDestinationBatch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.cloudflare.pipelines#CreateResponseDestinationCompression",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.cloudflare.pipelines#CreateResponseDestinationFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of data to deliver.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.cloudflare.pipelines#CreateResponseDestinationPath",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#CreateResponseDestinationType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of destination.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateResponseSourceItemFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateResponseSourceItemCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pipelines#CreateResponseSourceItemCors": {
      "type": "structure",
      "members": {
        "origins": {
          "target": "com.cloudflare.pipelines#CreateResponseSourceItemCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Specifies allowed origins to allow Cross Origin HTTP Requests."
          }
        }
      }
    },
    "com.cloudflare.pipelines#CreateResponseSourceItem": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.cloudflare.pipelines#CreateResponseSourceItemFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of source data."
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "authentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether authentication is required to send to this pipeline via HTTP."
          }
        },
        "cors": {
          "target": "com.cloudflare.pipelines#CreateResponseSourceItemCors"
        }
      }
    },
    "com.cloudflare.pipelines#CreateResponseSourceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#CreateResponseSourceItem"
      }
    },
    "com.cloudflare.pipelines#CreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the pipeline identifier.",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.pipelines#CreateResponseDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the endpoint URL to send traffic.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.pipelines#CreateResponseSourceList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Indicates the version number of last saved configuration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.pipelines#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/pipelines",
          "code": 200
        },
        "smithy.api#documentation": "[DEPRECATED] Create a new pipeline. Use the new /pipelines/v1/pipelines endpoint instead."
      }
    },
    "com.cloudflare.pipelines#CreateV1Request": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name of the Pipeline.",
            "smithy.api#required": {}
          }
        },
        "sql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies SQL for the Pipeline processing flow.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#CreateV1Response": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates a unique identifier for this pipeline.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the name of the Pipeline.",
            "smithy.api#required": {}
          }
        },
        "sql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies SQL for the Pipeline processing flow.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the current status of the Pipeline.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.pipelines#CreateV1": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#CreateV1Request"
      },
      "output": {
        "target": "com.cloudflare.pipelines#CreateV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/pipelines/v1/pipelines",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Pipeline."
      }
    },
    "com.cloudflare.pipelines#DeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pipeline_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#DeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/pipelines/{pipeline_name}",
          "code": 200
        },
        "smithy.api#documentation": "[DEPRECATED] Delete a pipeline. Use the new /pipelines/v1/pipelines endpoint instead.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.pipelines#DeleteV1Request": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the pipeline.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#DeleteV1Response": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.pipelines#DeleteV1": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#DeleteV1Request"
      },
      "output": {
        "target": "com.cloudflare.pipelines#DeleteV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/pipelines/v1/pipelines/{pipeline_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Pipeline in Account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.pipelines#GetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pipeline_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#GetResponseDestinationBatch": {
      "type": "structure",
      "members": {
        "max_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum size of files.",
            "smithy.api#required": {}
          }
        },
        "max_duration_s": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies duration to wait to aggregate batches files.",
            "smithy.api#required": {}
          }
        },
        "max_rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum number of rows per file.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#GetResponseDestinationCompressionType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "DEFLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deflate"
          }
        }
      }
    },
    "com.cloudflare.pipelines#GetResponseDestinationCompression": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#GetResponseDestinationCompressionType",
          "traits": {
            "smithy.api#documentation": "Specifies the desired compression algorithm and format.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#GetResponseDestinationFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#GetResponseDestinationPath": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket to store files.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern to for individual data files."
          }
        },
        "filepath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern for directory."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the base directory within the bucket."
          }
        }
      }
    },
    "com.cloudflare.pipelines#GetResponseDestinationType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        }
      }
    },
    "com.cloudflare.pipelines#GetResponseDestination": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.cloudflare.pipelines#GetResponseDestinationBatch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.cloudflare.pipelines#GetResponseDestinationCompression",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.cloudflare.pipelines#GetResponseDestinationFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of data to deliver.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.cloudflare.pipelines#GetResponseDestinationPath",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#GetResponseDestinationType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of destination.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#GetResponseSourceItemFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#GetResponseSourceItemCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pipelines#GetResponseSourceItemCors": {
      "type": "structure",
      "members": {
        "origins": {
          "target": "com.cloudflare.pipelines#GetResponseSourceItemCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Specifies allowed origins to allow Cross Origin HTTP Requests."
          }
        }
      }
    },
    "com.cloudflare.pipelines#GetResponseSourceItem": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.cloudflare.pipelines#GetResponseSourceItemFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of source data."
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "authentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether authentication is required to send to this pipeline via HTTP."
          }
        },
        "cors": {
          "target": "com.cloudflare.pipelines#GetResponseSourceItemCors"
        }
      }
    },
    "com.cloudflare.pipelines#GetResponseSourceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#GetResponseSourceItem"
      }
    },
    "com.cloudflare.pipelines#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the pipeline identifier.",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.pipelines#GetResponseDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the endpoint URL to send traffic.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.pipelines#GetResponseSourceList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Indicates the version number of last saved configuration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.pipelines#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/pipelines/{pipeline_name}",
          "code": 200
        },
        "smithy.api#documentation": "[DEPRECATED] Get configuration of a pipeline. Use the new /pipelines/v1/pipelines endpoint instead.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.pipelines#GetV1Request": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pipeline_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the pipeline.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#GetV1ResponseTablesItemType": {
      "type": "enum",
      "members": {
        "STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream"
          }
        },
        "SINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sink"
          }
        }
      }
    },
    "com.cloudflare.pipelines#GetV1ResponseTablesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the connection (stream or sink).",
            "smithy.api#required": {}
          }
        },
        "latest": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latest available version of the connection.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the connection.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#GetV1ResponseTablesItemType",
          "traits": {
            "smithy.api#documentation": "Type of the connection.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current version of the connection used by this pipeline.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#GetV1ResponseTablesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#GetV1ResponseTablesItem"
      }
    },
    "com.cloudflare.pipelines#GetV1Response": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates a unique identifier for this pipeline.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the name of the Pipeline.",
            "smithy.api#required": {}
          }
        },
        "sql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies SQL for the Pipeline processing flow.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the current status of the Pipeline.",
            "smithy.api#required": {}
          }
        },
        "tables": {
          "target": "com.cloudflare.pipelines#GetV1ResponseTablesList",
          "traits": {
            "smithy.api#documentation": "List of streams and sinks used by this pipeline.",
            "smithy.api#required": {}
          }
        },
        "failure_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the reason for the failure of the Pipeline."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.pipelines#GetV1": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#GetV1Request"
      },
      "output": {
        "target": "com.cloudflare.pipelines#GetV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/pipelines/v1/pipelines/{pipeline_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get Pipelines Details.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.pipelines#ListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies which page to retrieve.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the number of pipelines per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the prefix of pipeline name to search.",
            "smithy.api#httpQuery": "search"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationBatch": {
      "type": "structure",
      "members": {
        "max_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum size of files.",
            "smithy.api#required": {}
          }
        },
        "max_duration_s": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies duration to wait to aggregate batches files.",
            "smithy.api#required": {}
          }
        },
        "max_rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum number of rows per file.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationCompressionType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "DEFLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deflate"
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationCompression": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationCompressionType",
          "traits": {
            "smithy.api#documentation": "Specifies the desired compression algorithm and format.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationPath": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket to store files.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern to for individual data files."
          }
        },
        "filepath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern for directory."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the base directory within the bucket."
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestinationType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemDestination": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationBatch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationCompression",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of data to deliver.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationPath",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestinationType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of destination.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemSourceItemFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemSourceItemCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemSourceItemCors": {
      "type": "structure",
      "members": {
        "origins": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemSourceItemCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Specifies allowed origins to allow Cross Origin HTTP Requests."
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemSourceItem": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemSourceItemFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of source data."
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "authentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether authentication is required to send to this pipeline via HTTP."
          }
        },
        "cors": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemSourceItemCors"
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItemSourceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#ListResponseResultsItemSourceItem"
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the pipeline identifier.",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the endpoint URL to send traffic.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.pipelines#ListResponseResultsItemSourceList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Indicates the version number of last saved configuration.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#ListResponseResultsItem"
      }
    },
    "com.cloudflare.pipelines#ListResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.cloudflare.pipelines#ListResponseResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.pipelines#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/pipelines",
          "code": 200
        },
        "smithy.api#documentation": "[DEPRECATED] List, filter, and paginate pipelines in an account. Use the new /pipelines/v1/pipelines endpoint instead.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.pipelines#ListV1Request": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters pipelines by name (case-insensitive substring).",
            "smithy.api#httpQuery": "name"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#ListV1ResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates a unique identifier for this pipeline.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the name of the Pipeline.",
            "smithy.api#required": {}
          }
        },
        "sql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies SQL for the Pipeline processing flow.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the current status of the Pipeline.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ListV1ResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#ListV1ResultItem"
      }
    },
    "com.cloudflare.pipelines#ListV1Response": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.pipelines#ListV1ResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.pipelines#ListV1": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#ListV1Request"
      },
      "output": {
        "target": "com.cloudflare.pipelines#ListV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/pipelines/v1/pipelines",
          "code": 200
        },
        "smithy.api#documentation": "List/Filter Pipelines in Account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationBatch": {
      "type": "structure",
      "members": {
        "max_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum size of files."
          }
        },
        "max_duration_s": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies duration to wait to aggregate batches files."
          }
        },
        "max_rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum number of rows per file."
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationCompressionType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "DEFLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deflate"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationCompression": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationCompressionType",
          "traits": {
            "smithy.api#documentation": "Specifies the desired compression algorithm and format."
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationPath": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket to store files.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern to for individual data files."
          }
        },
        "filepath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern for directory."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the base directory within the bucket."
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestinationCredentials": {
      "type": "structure",
      "members": {
        "access_key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket Access Key Id.",
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Endpoint.",
            "smithy.api#required": {}
          }
        },
        "secret_access_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket Secret Access Key.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestDestination": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationBatch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationCompression",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of data to deliver.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationPath",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of destination.",
            "smithy.api#required": {}
          }
        },
        "credentials": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestinationCredentials"
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestSourceItemFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestSourceItemCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pipelines#UpdateRequestSourceItemCors": {
      "type": "structure",
      "members": {
        "origins": {
          "target": "com.cloudflare.pipelines#UpdateRequestSourceItemCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Specifies allowed origins to allow Cross Origin HTTP Requests."
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestSourceItem": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.cloudflare.pipelines#UpdateRequestSourceItemFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of source data."
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "authentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether authentication is required to send to this pipeline via HTTP."
          }
        },
        "cors": {
          "target": "com.cloudflare.pipelines#UpdateRequestSourceItemCors"
        }
      }
    },
    "com.cloudflare.pipelines#UpdateRequestSourceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#UpdateRequestSourceItem"
      }
    },
    "com.cloudflare.pipelines#UpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pipeline_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.pipelines#UpdateRequestDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.pipelines#UpdateRequestSourceList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#UpdateResponseDestinationBatch": {
      "type": "structure",
      "members": {
        "max_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum size of files.",
            "smithy.api#required": {}
          }
        },
        "max_duration_s": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies duration to wait to aggregate batches files.",
            "smithy.api#required": {}
          }
        },
        "max_rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies rough maximum number of rows per file.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateResponseDestinationCompressionType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        },
        "DEFLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deflate"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateResponseDestinationCompression": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#UpdateResponseDestinationCompressionType",
          "traits": {
            "smithy.api#documentation": "Specifies the desired compression algorithm and format.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateResponseDestinationFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateResponseDestinationPath": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the R2 Bucket to store files.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern to for individual data files."
          }
        },
        "filepath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the name pattern for directory."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the base directory within the bucket."
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateResponseDestinationType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateResponseDestination": {
      "type": "structure",
      "members": {
        "batch": {
          "target": "com.cloudflare.pipelines#UpdateResponseDestinationBatch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compression": {
          "target": "com.cloudflare.pipelines#UpdateResponseDestinationCompression",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.cloudflare.pipelines#UpdateResponseDestinationFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of data to deliver.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.cloudflare.pipelines#UpdateResponseDestinationPath",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#UpdateResponseDestinationType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of destination.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateResponseSourceItemFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateResponseSourceItemCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pipelines#UpdateResponseSourceItemCors": {
      "type": "structure",
      "members": {
        "origins": {
          "target": "com.cloudflare.pipelines#UpdateResponseSourceItemCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Specifies allowed origins to allow Cross Origin HTTP Requests."
          }
        }
      }
    },
    "com.cloudflare.pipelines#UpdateResponseSourceItem": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.cloudflare.pipelines#UpdateResponseSourceItemFormat",
          "traits": {
            "smithy.api#documentation": "Specifies the format of source data."
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "authentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether authentication is required to send to this pipeline via HTTP."
          }
        },
        "cors": {
          "target": "com.cloudflare.pipelines#UpdateResponseSourceItemCors"
        }
      }
    },
    "com.cloudflare.pipelines#UpdateResponseSourceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#UpdateResponseSourceItem"
      }
    },
    "com.cloudflare.pipelines#UpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the pipeline identifier.",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.pipelines#UpdateResponseDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the endpoint URL to send traffic.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the pipeline.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.pipelines#UpdateResponseSourceList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Indicates the version number of last saved configuration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.pipelines#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/pipelines/{pipeline_name}",
          "code": 200
        },
        "smithy.api#documentation": "[DEPRECATED] Update an existing pipeline. Use the new /pipelines/v1/pipelines endpoint instead.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.pipelines#ValidateSqlRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies SQL to validate.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponseTablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponseGraphEdgesItem": {
      "type": "structure",
      "members": {
        "dest_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "edge_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "src_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponseGraphEdgesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#ValidateSqlResponseGraphEdgesItem"
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponseGraphNodesItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parallelism": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponseGraphNodesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#ValidateSqlResponseGraphNodesItem"
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponseGraph": {
      "type": "structure",
      "members": {
        "edges": {
          "target": "com.cloudflare.pipelines#ValidateSqlResponseGraphEdgesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nodes": {
          "target": "com.cloudflare.pipelines#ValidateSqlResponseGraphNodesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#ValidateSqlResponse": {
      "type": "structure",
      "members": {
        "tables": {
          "target": "com.cloudflare.pipelines#ValidateSqlResponseTablesMap",
          "traits": {
            "smithy.api#documentation": "Indicates tables involved in the processing.",
            "smithy.api#required": {}
          }
        },
        "graph": {
          "target": "com.cloudflare.pipelines#ValidateSqlResponseGraph"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.pipelines#ValidateSql": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.pipelines#ValidateSqlRequest"
      },
      "output": {
        "target": "com.cloudflare.pipelines#ValidateSqlResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/pipelines/v1/validate_sql",
          "code": 200
        },
        "smithy.api#documentation": "Validate Arroyo SQL."
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        },
        "R2_DATA_CATALOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_data_catalog"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestConfigCredentials": {
      "type": "structure",
      "members": {
        "access_key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare Account ID for the bucket",
            "smithy.api#required": {}
          }
        },
        "secret_access_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare Account ID for the bucket",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestConfigFileNamingStrategy": {
      "type": "enum",
      "members": {
        "SERIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "serial"
          }
        },
        "UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uuid"
          }
        },
        "UUID_V7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uuid_v7"
          }
        },
        "ULID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ulid"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestConfigFileNaming": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix to use in file name. i.e prefix-<uuid>.parquet"
          }
        },
        "strategy": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestConfigFileNamingStrategy",
          "traits": {
            "smithy.api#documentation": "Filename generation strategy."
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This will overwrite the default file suffix. i.e .parquet, use with caution"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestConfigPartitioning": {
      "type": "structure",
      "members": {
        "time_pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pattern of the date string"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestConfigRollingPolicy": {
      "type": "structure",
      "members": {
        "file_size_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Files will be rolled after reaching this number of bytes"
          }
        },
        "inactivity_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds of inactivity to wait before rolling over to a new file"
          }
        },
        "interval_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to wait before rolling over to a new file"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestConfig": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare Account ID for the bucket"
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "R2 Bucket to write to"
          }
        },
        "credentials": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestConfigCredentials"
        },
        "file_naming": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestConfigFileNaming",
          "traits": {
            "smithy.api#documentation": "Controls filename prefix/suffix and strategy."
          }
        },
        "jurisdiction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Jurisdiction this bucket is hosted in"
          }
        },
        "partitioning": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestConfigPartitioning",
          "traits": {
            "smithy.api#documentation": "Data-layout partitioning for sinks."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subpath within the bucket to write to"
          }
        },
        "rolling_policy": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestConfigRollingPolicy",
          "traits": {
            "smithy.api#documentation": "Rolling policy for file sinks (when & why to close a file and open a new one)."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authentication token"
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table name"
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table namespace"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestFormatType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestFormatDecimalEncoding": {
      "type": "enum",
      "members": {
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytes"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestFormatTimestampFormat": {
      "type": "enum",
      "members": {
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        },
        "UNIX_MILLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix_millis"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestFormatCompression": {
      "type": "enum",
      "members": {
        "UNCOMPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uncompressed"
          }
        },
        "SNAPPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snappy"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestFormat": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestFormatType"
        },
        "decimal_encoding": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestFormatDecimalEncoding"
        },
        "timestamp_format": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestFormatTimestampFormat"
        },
        "unstructured": {
          "target": "smithy.api#Boolean"
        },
        "compression": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestFormatCompression"
        },
        "row_group_bytes": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestSchemaFieldsItemType": {
      "type": "enum",
      "members": {
        "INT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "int32"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestSchemaFieldsItemUnit": {
      "type": "enum",
      "members": {
        "SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "second"
          }
        },
        "MILLISECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "millisecond"
          }
        },
        "MICROSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "microsecond"
          }
        },
        "NANOSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nanosecond"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestSchemaFieldsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestSchemaFieldsItemType"
        },
        "metadata_key": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "sql_name": {
          "target": "smithy.api#String"
        },
        "unit": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestSchemaFieldsItemUnit"
        },
        "Struct": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "List": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestSchemaFieldsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#SinksCreateRequestSchemaFieldsItem"
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestSchemaFormatType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestSchemaFormatDecimalEncoding": {
      "type": "enum",
      "members": {
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytes"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestSchemaFormatTimestampFormat": {
      "type": "enum",
      "members": {
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        },
        "UNIX_MILLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix_millis"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestSchemaFormatCompression": {
      "type": "enum",
      "members": {
        "UNCOMPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uncompressed"
          }
        },
        "SNAPPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snappy"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestSchemaFormat": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestSchemaFormatType"
        },
        "decimal_encoding": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestSchemaFormatDecimalEncoding"
        },
        "timestamp_format": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestSchemaFormatTimestampFormat"
        },
        "unstructured": {
          "target": "smithy.api#Boolean"
        },
        "compression": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestSchemaFormatCompression"
        },
        "row_group_bytes": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequestSchema": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestSchemaFieldsList"
        },
        "format": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestSchemaFormat"
        },
        "inferred": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the public ID of the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the name of the Sink.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of sink.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestConfig",
          "traits": {
            "smithy.api#documentation": "Defines the configuration of the R2 Sink."
          }
        },
        "format": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestFormat"
        },
        "schema": {
          "target": "com.cloudflare.pipelines#SinksCreateRequestSchema"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        },
        "R2_DATA_CATALOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_data_catalog"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseConfigCredentials": {
      "type": "structure",
      "members": {
        "access_key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare Account ID for the bucket",
            "smithy.api#required": {}
          }
        },
        "secret_access_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare Account ID for the bucket",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseConfigFileNamingStrategy": {
      "type": "enum",
      "members": {
        "SERIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "serial"
          }
        },
        "UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uuid"
          }
        },
        "UUID_V7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uuid_v7"
          }
        },
        "ULID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ulid"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseConfigFileNaming": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix to use in file name. i.e prefix-<uuid>.parquet"
          }
        },
        "strategy": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseConfigFileNamingStrategy",
          "traits": {
            "smithy.api#documentation": "Filename generation strategy."
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This will overwrite the default file suffix. i.e .parquet, use with caution"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseConfigPartitioning": {
      "type": "structure",
      "members": {
        "time_pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pattern of the date string"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseConfigRollingPolicy": {
      "type": "structure",
      "members": {
        "file_size_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Files will be rolled after reaching this number of bytes"
          }
        },
        "inactivity_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds of inactivity to wait before rolling over to a new file"
          }
        },
        "interval_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to wait before rolling over to a new file"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseConfig": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare Account ID for the bucket"
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "R2 Bucket to write to"
          }
        },
        "credentials": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseConfigCredentials"
        },
        "file_naming": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseConfigFileNaming",
          "traits": {
            "smithy.api#documentation": "Controls filename prefix/suffix and strategy."
          }
        },
        "jurisdiction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Jurisdiction this bucket is hosted in"
          }
        },
        "partitioning": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseConfigPartitioning",
          "traits": {
            "smithy.api#documentation": "Data-layout partitioning for sinks."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subpath within the bucket to write to"
          }
        },
        "rolling_policy": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseConfigRollingPolicy",
          "traits": {
            "smithy.api#documentation": "Rolling policy for file sinks (when & why to close a file and open a new one)."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authentication token"
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table name"
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table namespace"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseFormatType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseFormatDecimalEncoding": {
      "type": "enum",
      "members": {
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytes"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseFormatTimestampFormat": {
      "type": "enum",
      "members": {
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        },
        "UNIX_MILLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix_millis"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseFormatCompression": {
      "type": "enum",
      "members": {
        "UNCOMPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uncompressed"
          }
        },
        "SNAPPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snappy"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseFormat": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseFormatType"
        },
        "decimal_encoding": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseFormatDecimalEncoding"
        },
        "timestamp_format": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseFormatTimestampFormat"
        },
        "unstructured": {
          "target": "smithy.api#Boolean"
        },
        "compression": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseFormatCompression"
        },
        "row_group_bytes": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseSchemaFieldsItemType": {
      "type": "enum",
      "members": {
        "INT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "int32"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseSchemaFieldsItemUnit": {
      "type": "enum",
      "members": {
        "SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "second"
          }
        },
        "MILLISECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "millisecond"
          }
        },
        "MICROSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "microsecond"
          }
        },
        "NANOSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nanosecond"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseSchemaFieldsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseSchemaFieldsItemType"
        },
        "metadata_key": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "sql_name": {
          "target": "smithy.api#String"
        },
        "unit": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseSchemaFieldsItemUnit"
        },
        "Struct": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "List": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseSchemaFieldsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pipelines#SinksCreateResponseSchemaFieldsItem"
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseSchemaFormatType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseSchemaFormatDecimalEncoding": {
      "type": "enum",
      "members": {
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytes"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseSchemaFormatTimestampFormat": {
      "type": "enum",
      "members": {
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        },
        "UNIX_MILLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix_millis"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseSchemaFormatCompression": {
      "type": "enum",
      "members": {
        "UNCOMPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uncompressed"
          }
        },
        "SNAPPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snappy"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gzip"
          }
        }
      }
    },
    "com.cloudflare.pipelines#SinksCreateResponseSchemaFormat": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseSchemaFormatType"
        },
        "decimal_encoding": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseSchemaFormatDecimalEncoding"
        },
        "timestamp_format": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseSchemaFormatTimestampFormat"
        },
        "unstructured": {
          "target": "smithy.api#Boolean"
        },
        "compression": {
          "target": "com.cloudflare.pipelines#SinksCreateResponseSchemaFormatCompression"
        },
        "row_group_bytes": {
[...]
