{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "backlogBytes": "backlog_bytes",
      "backlogCount": "backlog_count",
      "batchSize": "batch_size",
      "bucketName": "bucket_name",
      "consumerId": "consumer_id",
      "consumersTotalCount": "consumers_total_count",
      "contentType": "content_type",
      "createdAt": "created_at",
      "createdOn": "created_on",
      "deadLetterQueue": "dead_letter_queue",
      "delaySeconds": "delay_seconds",
      "deleteMessagesPermanently": "delete_messages_permanently",
      "deliveryDelay": "delivery_delay",
      "deliveryPaused": "delivery_paused",
      "documentationUrl": "documentation_url",
      "leaseId": "lease_id",
      "maxConcurrency": "max_concurrency",
      "maxRetries": "max_retries",
      "maxWaitTimeMs": "max_wait_time_ms",
      "messageBacklogCount": "message_backlog_count",
      "messageRetentionPeriod": "message_retention_period",
      "modelName": "model_name",
      "modifiedAt": "modified_at",
      "modifiedOn": "modified_on",
      "oldestMessageTimestampMs": "oldest_message_timestamp_ms",
      "perPage": "per_page",
      "producersTotalCount": "producers_total_count",
      "queueId": "queue_id",
      "queueName": "queue_name",
      "resultInfo": "result_info",
      "retryDelay": "retry_delay",
      "scriptName": ["script_name", "script"],
      "startedAt": "started_at",
      "timestampMs": "timestamp_ms",
      "totalCount": "total_count",
      "visibilityTimeoutMs": "visibility_timeout_ms",
      "workerName": "worker_name",
      "workflowName": "workflow_name"
    }
  },
  "shapes": {
    "com.cloudflare.queues#CreateResponseConsumersItemWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItemWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemWorkerType"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItemHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItemHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItemHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItem": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#CreateResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#CreateResponseProducersItemMqWorkerProducerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseProducersItemMqWorkerProducer": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#CreateResponseProducersItemMqWorkerProducerType"
        },
        "script_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseProducersItemMqR2ProducerType": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseProducersItemMqR2Producer": {
      "type": "structure",
      "members": {
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#CreateResponseProducersItemMqR2ProducerType"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseProducersItem": {
      "type": "union",
      "members": {
        "MqWorkerProducer": {
          "target": "com.cloudflare.queues#CreateResponseProducersItemMqWorkerProducer"
        },
        "MqR2Producer": {
          "target": "com.cloudflare.queues#CreateResponseProducersItemMqR2Producer"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#CreateResponseProducersItem"
      }
    },
    "com.cloudflare.queues#CreateResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#EditRequestSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemWorkerType"
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItem": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#EditResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#EditResponseProducersItemMqWorkerProducerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseProducersItemMqWorkerProducer": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#EditResponseProducersItemMqWorkerProducerType"
        },
        "script_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.queues#EditResponseProducersItemMqR2ProducerType": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseProducersItemMqR2Producer": {
      "type": "structure",
      "members": {
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#EditResponseProducersItemMqR2ProducerType"
        }
      }
    },
    "com.cloudflare.queues#EditResponseProducersItem": {
      "type": "union",
      "members": {
        "MqWorkerProducer": {
          "target": "com.cloudflare.queues#EditResponseProducersItemMqWorkerProducer"
        },
        "MqR2Producer": {
          "target": "com.cloudflare.queues#EditResponseProducersItemMqR2Producer"
        }
      }
    },
    "com.cloudflare.queues#EditResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#EditResponseProducersItem"
      }
    },
    "com.cloudflare.queues#EditResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemWorkerType"
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItem": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#GetResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#GetResponseProducersItemMqWorkerProducerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseProducersItemMqWorkerProducer": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#GetResponseProducersItemMqWorkerProducerType"
        },
        "script_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.queues#GetResponseProducersItemMqR2ProducerType": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseProducersItemMqR2Producer": {
      "type": "structure",
      "members": {
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#GetResponseProducersItemMqR2ProducerType"
        }
      }
    },
    "com.cloudflare.queues#GetResponseProducersItem": {
      "type": "union",
      "members": {
        "MqWorkerProducer": {
          "target": "com.cloudflare.queues#GetResponseProducersItemMqWorkerProducer"
        },
        "MqR2Producer": {
          "target": "com.cloudflare.queues#GetResponseProducersItemMqR2Producer"
        }
      }
    },
    "com.cloudflare.queues#GetResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#GetResponseProducersItem"
      }
    },
    "com.cloudflare.queues#GetResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemWorkerType"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItem": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#ListResultItemConsumersItem"
      }
    },
    "com.cloudflare.queues#ListResultItemProducersItemMqWorkerProducerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemProducersItemMqWorkerProducer": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#ListResultItemProducersItemMqWorkerProducerType"
        },
        "script_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemProducersItemMqR2ProducerType": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemProducersItemMqR2Producer": {
      "type": "structure",
      "members": {
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#ListResultItemProducersItemMqR2ProducerType"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemProducersItem": {
      "type": "union",
      "members": {
        "MqWorkerProducer": {
          "target": "com.cloudflare.queues#ListResultItemProducersItemMqWorkerProducer"
        },
        "MqR2Producer": {
          "target": "com.cloudflare.queues#ListResultItemProducersItemMqR2Producer"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#ListResultItemProducersItem"
      }
    },
    "com.cloudflare.queues#ListResultItemSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItem": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#ListResultItemConsumersList"
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#ListResultItemProducersList"
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ListResultItemSettings"
        }
      }
    },
    "com.cloudflare.queues#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#ListResultItem"
      }
    },
    "com.cloudflare.queues#UpdateRequestSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemWorkerType"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItem": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#UpdateResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersItemMqWorkerProducerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersItemMqWorkerProducer": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#UpdateResponseProducersItemMqWorkerProducerType"
        },
        "script_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersItemMqR2ProducerType": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersItemMqR2Producer": {
      "type": "structure",
      "members": {
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#UpdateResponseProducersItemMqR2ProducerType"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersItem": {
      "type": "union",
      "members": {
        "MqWorkerProducer": {
          "target": "com.cloudflare.queues#UpdateResponseProducersItemMqWorkerProducer"
        },
        "MqR2Producer": {
          "target": "com.cloudflare.queues#UpdateResponseProducersItemMqR2Producer"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#UpdateResponseProducersItem"
      }
    },
    "com.cloudflare.queues#UpdateResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        },
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestSettingsWorker": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestSettingsHTTPPull": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestSettings": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ConsumersCreateRequestSettingsWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ConsumersCreateRequestSettingsHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResultWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResultWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResultWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersCreateResultWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersCreateResultWorkerType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResultHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResultHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResultHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersCreateResultHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersCreateResultHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResult": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ConsumersCreateResultWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ConsumersCreateResultHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResultWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResultWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResultWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker",
            "smithy.api#jsonName": "script"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersGetResultWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersGetResultWorkerType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResultHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResultHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResultHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersGetResultHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersGetResultHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResult": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ConsumersGetResultWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ConsumersGetResultHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker",
            "smithy.api#jsonName": "script"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersListResultItemWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersListResultItemWorkerType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersListResultItemHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersListResultItemHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItem": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ConsumersListResultItemWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ConsumersListResultItemHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#ConsumersListResultItem"
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        },
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestSettingsWorker": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestSettingsHTTPPull": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestSettings": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ConsumersUpdateRequestSettingsWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ConsumersUpdateRequestSettingsHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResultWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResultWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResultWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersUpdateResultWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersUpdateResultWorkerType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResultHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResultHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResultHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersUpdateResultHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersUpdateResultHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResult": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ConsumersUpdateResultWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ConsumersUpdateResultHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#MessagesAckRequestAcksItem": {
      "type": "structure",
      "members": {
        "lease_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID that represents an \"in-flight\" message that has been pulled from a Queue. You must hold on to this ID and use it to acknowledge this message."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesAckRequestAcksList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesAckRequestAcksItem"
      }
    },
    "com.cloudflare.queues#MessagesAckRequestRetriesItem": {
      "type": "structure",
      "members": {
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "lease_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID that represents an \"in-flight\" message that has been pulled from a Queue. You must hold on to this ID and use it to acknowledge this message."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesAckRequestRetriesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesAckRequestRetriesItem"
      }
    },
    "com.cloudflare.queues#MessagesAckResponseWarningsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageTextContentType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageText": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageTextContentType"
        },
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for attempting to deliver this message to consumers"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageJsonContentType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageJson": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document"
        },
        "content_type": {
          "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageJsonContentType"
        },
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for attempting to deliver this message to consumers"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItem": {
      "type": "union",
      "members": {
        "MqQueueMessageText": {
          "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageText"
        },
        "MqQueueMessageJson": {
          "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageJson"
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesItem"
      }
    },
    "com.cloudflare.queues#MessagesBulkPushResponseMetadataMetrics": {
      "type": "structure",
      "members": {
        "backlog_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size in bytes of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "backlog_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "oldest_message_timestamp_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds of the oldest unacknowledged message in the queue. Returns 0 if unknown.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushResponseMetadata": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.cloudflare.queues#MessagesBulkPushResponseMetadataMetrics",
          "traits": {
            "smithy.api#documentation": "Best-effort metrics for the queue. Values may be approximate due to the distributed nature of queues."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPullResponseMessagesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "attempts": {
          "target": "smithy.api#Double"
        },
        "body": {
          "target": "smithy.api#String"
        },
        "lease_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID that represents an \"in-flight\" message that has been pulled from a Queue. You must hold on to this ID and use it to acknowledge this message."
          }
        },
        "metadata": {
          "target": "smithy.api#Document"
        },
        "timestamp_ms": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.queues#MessagesPullResponseMessagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesPullResponseMessagesItem"
      }
    },
    "com.cloudflare.queues#MessagesPullResponseMetadataMetrics": {
      "type": "structure",
      "members": {
        "backlog_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size in bytes of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "backlog_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "oldest_message_timestamp_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds of the oldest unacknowledged message in the queue. Returns 0 if unknown.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPullResponseMetadata": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.cloudflare.queues#MessagesPullResponseMetadataMetrics",
          "traits": {
            "smithy.api#documentation": "Best-effort metrics for the queue. Values may be approximate due to the distributed nature of queues."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPushRequestContentType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPushResponseMetadataMetrics": {
      "type": "structure",
      "members": {
        "backlog_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size in bytes of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "backlog_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "oldest_message_timestamp_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds of the oldest unacknowledged message in the queue. Returns 0 if unknown.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPushResponseMetadata": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.cloudflare.queues#MessagesPushResponseMetadataMetrics",
          "traits": {
            "smithy.api#documentation": "Best-effort metrics for the queue. Values may be approximate due to the distributed nature of queues."
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseConsumersItemWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseConsumersItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseConsumersItemWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#PurgeStartResponseConsumersItemWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#PurgeStartResponseConsumersItemWorkerType"
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseConsumersItemHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseConsumersItemHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseConsumersItemHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#PurgeStartResponseConsumersItemHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#PurgeStartResponseConsumersItemHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseConsumersItem": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#PurgeStartResponseConsumersItemWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#PurgeStartResponseConsumersItemHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#PurgeStartResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#PurgeStartResponseProducersItemMqWorkerProducerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseProducersItemMqWorkerProducer": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#PurgeStartResponseProducersItemMqWorkerProducerType"
        },
        "script_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseProducersItemMqR2ProducerType": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseProducersItemMqR2Producer": {
      "type": "structure",
      "members": {
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#PurgeStartResponseProducersItemMqR2ProducerType"
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseProducersItem": {
      "type": "union",
      "members": {
        "MqWorkerProducer": {
          "target": "com.cloudflare.queues#PurgeStartResponseProducersItemMqWorkerProducer"
        },
        "MqR2Producer": {
          "target": "com.cloudflare.queues#PurgeStartResponseProducersItemMqR2Producer"
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#PurgeStartResponseProducersItem"
      }
    },
    "com.cloudflare.queues#PurgeStartResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestDestinationType": {
      "type": "enum",
      "members": {
        "QUEUES_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queues.queue"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestDestination": {
      "type": "structure",
      "members": {
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the target queue",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestDestinationType",
          "traits": {
            "smithy.api#documentation": "Type of destination",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceImagesType": {
      "type": "enum",
      "members": {
        "IMAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "images"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceImages": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceImagesType",
          "traits": {
            "smithy.api#documentation": "Type of source"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceKVType": {
      "type": "enum",
      "members": {
        "KV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kv"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceKV": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceKVType",
          "traits": {
            "smithy.api#documentation": "Type of source"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceR2Type": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceR2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceR2Type",
          "traits": {
            "smithy.api#documentation": "Type of source"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceSuperSlurperType": {
      "type": "enum",
      "members": {
        "SUPERSLURPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "superSlurper"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceSuperSlurper": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceSuperSlurperType",
          "traits": {
            "smithy.api#documentation": "Type of source"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceVectorizeType": {
      "type": "enum",
      "members": {
        "VECTORIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vectorize"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceVectorize": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceVectorizeType",
          "traits": {
            "smithy.api#documentation": "Type of source"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceWorkersAIModelType": {
      "type": "enum",
      "members": {
        "WORKERSAI_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workersAi.model"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceWorkersAIModel": {
      "type": "structure",
      "members": {
        "model_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers AI model"
          }
        },
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceWorkersAIModelType",
          "traits": {
            "smithy.api#documentation": "Type of source"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceWorkersBuildsWorkerType": {
      "type": "enum",
      "members": {
        "WORKERSBUILDS_WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workersBuilds.worker"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceWorkersBuildsWorker": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceWorkersBuildsWorkerType",
          "traits": {
            "smithy.api#documentation": "Type of source"
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the worker"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceWorkflowsWorkflowType": {
      "type": "enum",
      "members": {
        "WORKFLOWS_WORKFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workflows.workflow"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceWorkflowsWorkflow": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceWorkflowsWorkflowType",
          "traits": {
            "smithy.api#documentation": "Type of source"
          }
        },
        "workflow_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the workflow"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSource": {
      "type": "union",
      "members": {
        "MqEventSourceImages": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceImages"
        },
        "MqEventSourceKV": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceKV"
        },
        "MqEventSourceR2": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceR2"
        },
        "MqEventSourceSuperSlurper": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceSuperSlurper"
        },
        "MqEventSourceVectorize": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceVectorize"
        },
        "MqEventSourceWorkersAIModel": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceWorkersAIModel"
        },
        "MqEventSourceWorkersBuildsWorker": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceWorkersBuildsWorker"
        },
        "MqEventSourceWorkflowsWorkflow": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceMqEventSourceWorkflowsWorkflow"
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateResponseDestinationType": {
      "type": "enum",
      "members": {
        "QUEUES_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queues.queue"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateResponseDestination": {
      "type": "structure",
      "members": {
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the target queue",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateResponseDestinationType",
          "traits": {
            "smithy.api#documentation": "Type of destination",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateResponseEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateResponseSourceMqEventSourceImagesType": {
      "type": "enum",
      "members": {
        "IMAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "images"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateResponseSourceMqEventSourceImages": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateResponseSourceMqEventSourceImagesType",
          "traits": {
            "smithy.api#documentation": "Type of source"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateResponseSourceMqEventSourceKVType": {
      "type": "enum",
      "members": {
        "KV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kv"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateResponseSourceMqEventSourceKV": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateResponseSourceMqEventSourceKVType",
          "traits": {
            "smithy.api#documentation": "Type of source"
          }
        }
      }
    },
[...]
