{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.queues#CreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItemSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItemType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItem": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemType"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#CreateResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#CreateResponseProducersItemType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseProducersItem": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#CreateResponseProducersItemType"
        },
        "bucket_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#CreateResponseProducersItem"
      }
    },
    "com.cloudflare.queues#CreateResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponse": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#CreateResponseConsumersList"
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#CreateResponseProducersList"
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#CreateResponseSettings"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues",
          "code": 200
        },
        "smithy.api#documentation": "Create a new queue"
      }
    },
    "com.cloudflare.queues#DeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#DeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a queue",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.queues#EditRequestSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#EditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#EditRequestSettings"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItem": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemType"
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#EditResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#EditResponseProducersItemType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseProducersItem": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#EditResponseProducersItemType"
        },
        "bucket_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.queues#EditResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#EditResponseProducersItem"
      }
    },
    "com.cloudflare.queues#EditResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponse": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#EditResponseConsumersList"
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#EditResponseProducersList"
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#EditResponseSettings"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#Edit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#EditRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#EditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a Queue."
      }
    },
    "com.cloudflare.queues#GetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItem": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemType"
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#GetResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#GetResponseProducersItemType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseProducersItem": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#GetResponseProducersItemType"
        },
        "bucket_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.queues#GetResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#GetResponseProducersItem"
      }
    },
    "com.cloudflare.queues#GetResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponse": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#GetResponseConsumersList"
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#GetResponseProducersList"
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#GetResponseSettings"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get details about a specific queue.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#GetMetricsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#GetMetricsResponse": {
      "type": "structure",
      "members": {
        "backlog_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size in bytes of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "backlog_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "oldest_message_timestamp_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds of the oldest unacknowledged message in the queue. Returns 0 if unknown.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#GetMetrics": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#GetMetricsRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#GetMetricsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues/{queue_id}/metrics",
          "code": 200
        },
        "smithy.api#documentation": "Return best-effort metrics for a queue. Values may be approximate due to the distributed nature of queues.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#ListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItem": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemType"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#ListResultItemConsumersItem"
      }
    },
    "com.cloudflare.queues#ListResultItemProducersItemType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemProducersItem": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#ListResultItemProducersItemType"
        },
        "bucket_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#ListResultItemProducersItem"
      }
    },
    "com.cloudflare.queues#ListResultItemSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItem": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#ListResultItemConsumersList"
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#ListResultItemProducersList"
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ListResultItemSettings"
        }
      }
    },
    "com.cloudflare.queues#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#ListResultItem"
      }
    },
    "com.cloudflare.queues#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.queues#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.queues#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues",
          "code": 200
        },
        "smithy.api#documentation": "Returns the queues owned by an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#UpdateRequestSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#UpdateRequestSettings"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItem": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemType"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#UpdateResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersItemType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersItem": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#UpdateResponseProducersItemType"
        },
        "bucket_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#UpdateResponseProducersItem"
      }
    },
    "com.cloudflare.queues#UpdateResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponse": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersList"
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#UpdateResponseProducersList"
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#UpdateResponseSettings"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a Queue. Note that this endpoint does not support partial updates. If successful, the Queue's configuration is overwritten with the supplied configuration.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestBodyType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestBodySettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestBody": {
      "type": "structure",
      "members": {
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersCreateRequestBodyType"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersCreateRequestBodySettings"
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.queues#ConsumersCreateRequestBody",
          "traits": {
            "smithy.api#documentation": "Request body for creating or updating a consumer",
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersCreateResponseSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResponseType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResponse": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersCreateResponseSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersCreateResponseType"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#ConsumersCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ConsumersCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new consumer for a Queue"
      }
    },
    "com.cloudflare.queues#ConsumersDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers/{consumer_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes the consumer for a queue.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.queues#ConsumersGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersGetResponseSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResponseType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResponse": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersGetResponseSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersGetResponseType"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#ConsumersGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersGetRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ConsumersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers/{consumer_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the consumer for a queue by consumer id",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#ConsumersListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItem": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersListResultItemSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersListResultItemType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#ConsumersListResultItem"
      }
    },
    "com.cloudflare.queues#ConsumersListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.queues#ConsumersListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.queues#ConsumersList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersListRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ConsumersListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers",
          "code": 200
        },
        "smithy.api#documentation": "Returns the consumers for a Queue",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestBodyType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestBodySettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestBody": {
      "type": "structure",
      "members": {
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersUpdateRequestBodyType"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersUpdateRequestBodySettings"
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.queues#ConsumersUpdateRequestBody",
          "traits": {
            "smithy.api#documentation": "Request body for creating or updating a consumer",
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResponseSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResponseType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResponse": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersUpdateResponseSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersUpdateResponseType"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#ConsumersUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ConsumersUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers/{consumer_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates the consumer for a queue, or creates one if it does not exist.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.queues#MessagesAckRequestAcksItem": {
      "type": "structure",
      "members": {
        "lease_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID that represents an \"in-flight\" message that has been pulled from a Queue. You must hold on to this ID and use it to acknowledge this message."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesAckRequestAcksList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesAckRequestAcksItem"
      }
    },
    "com.cloudflare.queues#MessagesAckRequestRetriesItem": {
      "type": "structure",
      "members": {
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "lease_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID that represents an \"in-flight\" message that has been pulled from a Queue. You must hold on to this ID and use it to acknowledge this message."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesAckRequestRetriesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesAckRequestRetriesItem"
      }
    },
    "com.cloudflare.queues#MessagesAckRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "acks": {
          "target": "com.cloudflare.queues#MessagesAckRequestAcksList"
        },
        "retries": {
          "target": "com.cloudflare.queues#MessagesAckRequestRetriesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#MessagesAckResponseWarningsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#MessagesAckResponse": {
      "type": "structure",
      "members": {
        "ackCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of messages that were succesfully acknowledged."
          }
        },
        "retryCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of messages that were succesfully retried."
          }
        },
        "warnings": {
          "target": "com.cloudflare.queues#MessagesAckResponseWarningsMap",
          "traits": {
            "smithy.api#documentation": "Map of lease IDs to warning messages encountered during acknowledgement."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#MessagesAck": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#MessagesAckRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#MessagesAckResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/messages/ack",
          "code": 200
        },
        "smithy.api#documentation": "Acknowledge + Retry messages from a Queue"
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemContentType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItem": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemContentType"
        },
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for attempting to deliver this message to consumers"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesItem"
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for attempting to deliver this batch to consumers"
          }
        },
        "messages": {
          "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#MessagesBulkPushResponseMetadataMetrics": {
      "type": "structure",
      "members": {
        "backlog_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size in bytes of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "backlog_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "oldest_message_timestamp_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds of the oldest unacknowledged message in the queue. Returns 0 if unknown.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushResponseMetadata": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.cloudflare.queues#MessagesBulkPushResponseMetadataMetrics",
          "traits": {
            "smithy.api#documentation": "Best-effort metrics for the queue. Values may be approximate due to the distributed nature of queues."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushResponse": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.cloudflare.queues#MessagesBulkPushResponseMetadata"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#MessagesBulkPush": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#MessagesBulkPushRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#MessagesBulkPushResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/messages/batch",
          "code": 200
        },
        "smithy.api#documentation": "Push a batch of message to a Queue"
      }
    },
    "com.cloudflare.queues#MessagesPullRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#MessagesPullResponseMessagesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "attempts": {
          "target": "smithy.api#Double"
        },
        "body": {
          "target": "smithy.api#String"
        },
        "lease_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID that represents an \"in-flight\" message that has been pulled from a Queue. You must hold on to this ID and use it to acknowledge this message."
          }
        },
        "metadata": {
          "target": "smithy.api#Document"
        },
        "timestamp_ms": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.queues#MessagesPullResponseMessagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesPullResponseMessagesItem"
      }
    },
    "com.cloudflare.queues#MessagesPullResponseMetadataMetrics": {
      "type": "structure",
      "members": {
        "backlog_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size in bytes of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "backlog_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "oldest_message_timestamp_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds of the oldest unacknowledged message in the queue. Returns 0 if unknown.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPullResponseMetadata": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.cloudflare.queues#MessagesPullResponseMetadataMetrics",
          "traits": {
            "smithy.api#documentation": "Best-effort metrics for the queue. Values may be approximate due to the distributed nature of queues."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPullResponse": {
      "type": "structure",
      "members": {
        "message_backlog_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of unacknowledged messages in the queue."
          }
        },
        "messages": {
          "target": "com.cloudflare.queues#MessagesPullResponseMessagesList"
        },
        "metadata": {
          "target": "com.cloudflare.queues#MessagesPullResponseMetadata"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#MessagesPull": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#MessagesPullRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#MessagesPullResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/messages/pull",
          "code": 200
        },
        "smithy.api#documentation": "Pull a batch of messages from a Queue"
      }
    },
    "com.cloudflare.queues#MessagesPushRequestBodyContentType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPushRequestBody": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "com.cloudflare.queues#MessagesPushRequestBodyContentType"
        },
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for attempting to deliver this message to consumers"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPushRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.queues#MessagesPushRequestBody",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#MessagesPushResponseMetadataMetrics": {
      "type": "structure",
      "members": {
        "backlog_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size in bytes of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "backlog_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "oldest_message_timestamp_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds of the oldest unacknowledged message in the queue. Returns 0 if unknown.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPushResponseMetadata": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.cloudflare.queues#MessagesPushResponseMetadataMetrics",
          "traits": {
            "smithy.api#documentation": "Best-effort metrics for the queue. Values may be approximate due to the distributed nature of queues."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPushResponse": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.cloudflare.queues#MessagesPushResponseMetadata"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#MessagesPush": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#MessagesPushRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#MessagesPushResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/messages",
          "code": 200
        },
        "smithy.api#documentation": "Push a message to a Queue"
      }
    },
    "com.cloudflare.queues#PurgeStartRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "delete_messages_permanently": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Confimation that all messages will be deleted permanently."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#PurgeStartResponseConsumersItemSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseConsumersItemType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseConsumersItem": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#PurgeStartResponseConsumersItemSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#PurgeStartResponseConsumersItemType"
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#PurgeStartResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#PurgeStartResponseProducersItemType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseProducersItem": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#PurgeStartResponseProducersItemType"
        },
        "bucket_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#PurgeStartResponseProducersItem"
      }
    },
    "com.cloudflare.queues#PurgeStartResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponse": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#PurgeStartResponseConsumersList"
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#PurgeStartResponseProducersList"
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#PurgeStartResponseSettings"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#PurgeStart": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#PurgeStartRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#PurgeStartResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/purge",
          "code": 200
        },
        "smithy.api#documentation": "Deletes all messages from the Queue."
      }
    },
    "com.cloudflare.queues#PurgeStatusRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#PurgeStatusResponse": {
      "type": "structure",
      "members": {
        "completed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates if the last purge operation completed successfully."
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the last purge operation started."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#PurgeStatus": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#PurgeStatusRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#PurgeStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues/{queue_id}/purge",
          "code": 200
        },
        "smithy.api#documentation": "Get details about a Queue's purge status.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestDestinationType": {
      "type": "enum",
      "members": {
        "QUEUES_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queues.queue"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestDestination": {
      "type": "structure",
      "members": {
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the target queue",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestDestinationType",
          "traits": {
            "smithy.api#documentation": "Type of destination",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSourceType": {
      "type": "enum",
      "members": {
        "IMAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "images"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequestSource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSourceType",
          "traits": {
            "smithy.api#documentation": "Type of source"
          }
        },
        "model_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers AI model"
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the worker"
          }
        },
        "workflow_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the workflow"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestDestination",
          "traits": {
            "smithy.api#documentation": "Destination configuration for the subscription"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the subscription is active"
          }
        },
        "events": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestEventsList",
          "traits": {
            "smithy.api#documentation": "List of event types this subscription handles"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the subscription"
          }
        },
        "source": {
          "target": "com.cloudflare.queues#SubscriptionsCreateRequestSource",
          "traits": {
            "smithy.api#documentation": "Source configuration for the subscription"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateResponseDestinationType": {
      "type": "enum",
      "members": {
        "QUEUES_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queues.queue"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateResponseDestination": {
      "type": "structure",
      "members": {
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the target queue",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateResponseDestinationType",
          "traits": {
            "smithy.api#documentation": "Type of destination",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateResponseEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateResponseSourceType": {
      "type": "enum",
      "members": {
        "IMAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "images"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateResponseSource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsCreateResponseSourceType",
          "traits": {
            "smithy.api#documentation": "Type of source"
          }
        },
        "model_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers AI model"
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the worker"
          }
        },
        "workflow_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the workflow"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the subscription",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the subscription was created",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.cloudflare.queues#SubscriptionsCreateResponseDestination",
          "traits": {
            "smithy.api#documentation": "Destination configuration for the subscription",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the subscription is active",
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.cloudflare.queues#SubscriptionsCreateResponseEventsList",
          "traits": {
            "smithy.api#documentation": "List of event types this subscription handles",
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the subscription was last modified",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the subscription",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.queues#SubscriptionsCreateResponseSource",
          "traits": {
            "smithy.api#documentation": "Source configuration for the subscription",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#SubscriptionsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#SubscriptionsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#SubscriptionsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/event_subscriptions/subscriptions",
          "code": 200
        },
        "smithy.api#documentation": "Create a new event subscription for a queue"
      }
    },
    "com.cloudflare.queues#SubscriptionsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subscription_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#SubscriptionsDeleteResponseDestinationType": {
      "type": "enum",
      "members": {
        "QUEUES_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queues.queue"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsDeleteResponseDestination": {
      "type": "structure",
      "members": {
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the target queue",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsDeleteResponseDestinationType",
          "traits": {
            "smithy.api#documentation": "Type of destination",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsDeleteResponseEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.queues#SubscriptionsDeleteResponseSourceType": {
      "type": "enum",
      "members": {
        "IMAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "images"
          }
        }
      }
    },
    "com.cloudflare.queues#SubscriptionsDeleteResponseSource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.queues#SubscriptionsDeleteResponseSourceType",
          "traits": {
            "smithy.api#documentation": "Type of source"
          }
        },
        "model_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers AI model"
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the worker"
          }
        },
        "workflow_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the workflow"
[...]
