{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.queues#CreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#CreateResponseSettingsType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseSettingsSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseSettingsType2": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseSettingsProducersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#CreateResponseSettingsType3": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseSettingsType4": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseSettingsSettings2": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform’s maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "type": {
          "target": "com.cloudflare.queues#CreateResponseSettingsType",
          "traits": {
            "smithy.api#documentation": "HTTPPull object { consumer_id, created_on, dead_letter_queue, 3 more }"
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#CreateResponseSettingsSettings"
        },
        "type_2": {
          "target": "com.cloudflare.queues#CreateResponseSettingsType2",
          "traits": {
            "smithy.api#jsonName": "type"
          }
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "created_on"
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#CreateResponseSettingsProducersList",
          "traits": {
            "smithy.api#documentation": "MqWorkerProducer object { script, type }"
          }
        },
        "script": {
          "target": "smithy.api#String"
        },
        "type_3": {
          "target": "com.cloudflare.queues#CreateResponseSettingsType3",
          "traits": {
            "smithy.api#documentation": "MqR2Producer object { bucket_name, type }",
            "smithy.api#jsonName": "type"
          }
        },
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type_4": {
          "target": "com.cloudflare.queues#CreateResponseSettingsType4",
          "traits": {
            "smithy.api#jsonName": "type"
          }
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "queue_name"
          }
        },
        "settings_2": {
          "target": "com.cloudflare.queues#CreateResponseSettingsSettings2",
          "traits": {
            "smithy.api#jsonName": "settings"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponse": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#CreateResponseConsumersList",
          "traits": {
            "smithy.api#documentation": "Worker object { consumer_id, created_on, dead_letter_queue, 4 more }"
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#CreateResponseSettings"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues",
          "code": 200
        },
        "smithy.api#documentation": "Create a new queue"
      }
    },
    "com.cloudflare.queues#DeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#DeleteResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.queues#DeleteResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.queues#DeleteResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.queues#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a queue",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.queues#EditRequestSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#EditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#EditRequestSettings"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#EditResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#EditResponseSettingsType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseSettingsSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseSettingsType2": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseSettingsProducersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#EditResponseSettingsType3": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseSettingsType4": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseSettingsSettings2": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform’s maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "type": {
          "target": "com.cloudflare.queues#EditResponseSettingsType",
          "traits": {
            "smithy.api#documentation": "HTTPPull object { consumer_id, created_on, dead_letter_queue, 3 more }"
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#EditResponseSettingsSettings"
        },
        "type_2": {
          "target": "com.cloudflare.queues#EditResponseSettingsType2",
          "traits": {
            "smithy.api#jsonName": "type"
          }
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "created_on"
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#EditResponseSettingsProducersList",
          "traits": {
            "smithy.api#documentation": "MqWorkerProducer object { script, type }"
          }
        },
        "script": {
          "target": "smithy.api#String"
        },
        "type_3": {
          "target": "com.cloudflare.queues#EditResponseSettingsType3",
          "traits": {
            "smithy.api#documentation": "MqR2Producer object { bucket_name, type }",
            "smithy.api#jsonName": "type"
          }
        },
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type_4": {
          "target": "com.cloudflare.queues#EditResponseSettingsType4",
          "traits": {
            "smithy.api#jsonName": "type"
          }
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "queue_name"
          }
        },
        "settings_2": {
          "target": "com.cloudflare.queues#EditResponseSettingsSettings2",
          "traits": {
            "smithy.api#jsonName": "settings"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponse": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#EditResponseConsumersList",
          "traits": {
            "smithy.api#documentation": "Worker object { consumer_id, created_on, dead_letter_queue, 4 more }"
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#EditResponseSettings"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#Edit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#EditRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#EditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a Queue."
      }
    },
    "com.cloudflare.queues#GetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#GetResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#GetResponseSettingsType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseSettingsSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseSettingsType2": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseSettingsProducersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#GetResponseSettingsType3": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseSettingsType4": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseSettingsSettings2": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform’s maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "type": {
          "target": "com.cloudflare.queues#GetResponseSettingsType",
          "traits": {
            "smithy.api#documentation": "HTTPPull object { consumer_id, created_on, dead_letter_queue, 3 more }"
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#GetResponseSettingsSettings"
        },
        "type_2": {
          "target": "com.cloudflare.queues#GetResponseSettingsType2",
          "traits": {
            "smithy.api#jsonName": "type"
          }
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "created_on"
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#GetResponseSettingsProducersList",
          "traits": {
            "smithy.api#documentation": "MqWorkerProducer object { script, type }"
          }
        },
        "script": {
          "target": "smithy.api#String"
        },
        "type_3": {
          "target": "com.cloudflare.queues#GetResponseSettingsType3",
          "traits": {
            "smithy.api#documentation": "MqR2Producer object { bucket_name, type }",
            "smithy.api#jsonName": "type"
          }
        },
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type_4": {
          "target": "com.cloudflare.queues#GetResponseSettingsType4",
          "traits": {
            "smithy.api#jsonName": "type"
          }
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "queue_name"
          }
        },
        "settings_2": {
          "target": "com.cloudflare.queues#GetResponseSettingsSettings2",
          "traits": {
            "smithy.api#jsonName": "settings"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponse": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#GetResponseConsumersList",
          "traits": {
            "smithy.api#documentation": "Worker object { consumer_id, created_on, dead_letter_queue, 4 more }"
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#GetResponseSettings"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get details about a specific queue.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#GetMetricsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#GetMetricsResponse": {
      "type": "structure",
      "members": {
        "backlog_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size in bytes of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "backlog_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "oldest_message_timestamp_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds of the oldest unacknowledged message in the queue. Returns 0 if unknown.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#GetMetrics": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#GetMetricsRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#GetMetricsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues/{queue_id}/metrics",
          "code": 200
        },
        "smithy.api#documentation": "Return best-effort metrics for a queue. Values may be approximate due to the distributed nature of queues.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#ListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#ListResultItemSettingsType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemSettingsSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemSettingsType2": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemSettingsProducersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#ListResultItemSettingsType3": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemSettingsType4": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemSettingsSettings2": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform’s maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "type": {
          "target": "com.cloudflare.queues#ListResultItemSettingsType",
          "traits": {
            "smithy.api#documentation": "HTTPPull object { consumer_id, created_on, dead_letter_queue, 3 more }"
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ListResultItemSettingsSettings"
        },
        "type_2": {
          "target": "com.cloudflare.queues#ListResultItemSettingsType2",
          "traits": {
            "smithy.api#jsonName": "type"
          }
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "created_on"
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#ListResultItemSettingsProducersList",
          "traits": {
            "smithy.api#documentation": "MqWorkerProducer object { script, type }"
          }
        },
        "script": {
          "target": "smithy.api#String"
        },
        "type_3": {
          "target": "com.cloudflare.queues#ListResultItemSettingsType3",
          "traits": {
            "smithy.api#documentation": "MqR2Producer object { bucket_name, type }",
            "smithy.api#jsonName": "type"
          }
        },
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type_4": {
          "target": "com.cloudflare.queues#ListResultItemSettingsType4",
          "traits": {
            "smithy.api#jsonName": "type"
          }
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "queue_name"
          }
        },
        "settings_2": {
          "target": "com.cloudflare.queues#ListResultItemSettingsSettings2",
          "traits": {
            "smithy.api#jsonName": "settings"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItem": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#ListResultItemConsumersList",
          "traits": {
            "smithy.api#documentation": "Worker object { consumer_id, created_on, dead_letter_queue, 4 more }"
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ListResultItemSettings"
        }
      }
    },
    "com.cloudflare.queues#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#ListResultItem"
      }
    },
    "com.cloudflare.queues#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.queues#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.queues#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues",
          "code": 200
        },
        "smithy.api#documentation": "Returns the queues owned by an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#UpdateRequestSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#UpdateRequestSettings"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#UpdateResponseSettingsType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseSettingsSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseSettingsType2": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseSettingsProducersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#UpdateResponseSettingsType3": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseSettingsType4": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseSettingsSettings2": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform’s maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "type": {
          "target": "com.cloudflare.queues#UpdateResponseSettingsType",
          "traits": {
            "smithy.api#documentation": "HTTPPull object { consumer_id, created_on, dead_letter_queue, 3 more }"
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#UpdateResponseSettingsSettings"
        },
        "type_2": {
          "target": "com.cloudflare.queues#UpdateResponseSettingsType2",
          "traits": {
            "smithy.api#jsonName": "type"
          }
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "created_on"
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#UpdateResponseSettingsProducersList",
          "traits": {
            "smithy.api#documentation": "MqWorkerProducer object { script, type }"
          }
        },
        "script": {
          "target": "smithy.api#String"
        },
        "type_3": {
          "target": "com.cloudflare.queues#UpdateResponseSettingsType3",
          "traits": {
            "smithy.api#documentation": "MqR2Producer object { bucket_name, type }",
            "smithy.api#jsonName": "type"
          }
        },
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type_4": {
          "target": "com.cloudflare.queues#UpdateResponseSettingsType4",
          "traits": {
            "smithy.api#jsonName": "type"
          }
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "queue_name"
          }
        },
        "settings_2": {
          "target": "com.cloudflare.queues#UpdateResponseSettingsSettings2",
          "traits": {
            "smithy.api#jsonName": "settings"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponse": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersList",
          "traits": {
            "smithy.api#documentation": "Worker object { consumer_id, created_on, dead_letter_queue, 4 more }"
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#UpdateResponseSettings"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a Queue. Note that this endpoint does not support partial updates. If successful, the Queue’s configuration is overwritten with the supplied configuration.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestSettingsType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestSettingsSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform’s maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersCreateRequestSettingsType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersCreateRequestSettingsSettings"
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Request body for creating or updating a consumer",
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersCreateRequestType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersCreateRequestSettings"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.queues#ConsumersCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ConsumersCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new consumer for a Queue"
      }
    },
    "com.cloudflare.queues#ConsumersDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersDeleteResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersDeleteResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.queues#ConsumersDeleteResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.queues#ConsumersDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ConsumersDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers/{consumer_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes the consumer for a queue.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.queues#ConsumersGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.queues#ConsumersGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersGetRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ConsumersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers/{consumer_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the consumer for a queue by consumer id",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#ConsumersListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#ConsumersListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.queues#ConsumersListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.queues#ConsumersList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersListRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ConsumersListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers",
          "code": 200
        },
        "smithy.api#documentation": "Returns the consumers for a Queue",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestSettingsType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestSettingsSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform’s maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersUpdateRequestSettingsType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersUpdateRequestSettingsSettings"
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Request body for creating or updating a consumer",
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersUpdateRequestType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersUpdateRequestSettings"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.queues#ConsumersUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ConsumersUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers/{consumer_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates the consumer for a queue, or creates one if it does not exist.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.queues#MessagesAckRequestAcksItem": {
      "type": "structure",
      "members": {
        "lease_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID that represents an “in-flight” message that has been pulled from a Queue. You must hold on to this ID and use it to acknowledge this message."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesAckRequestAcksList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesAckRequestAcksItem"
      }
    },
    "com.cloudflare.queues#MessagesAckRequestRetriesItem": {
      "type": "structure",
      "members": {
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "lease_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID that represents an “in-flight” message that has been pulled from a Queue. You must hold on to this ID and use it to acknowledge this message."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesAckRequestRetriesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesAckRequestRetriesItem"
      }
    },
    "com.cloudflare.queues#MessagesAckRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "acks": {
          "target": "com.cloudflare.queues#MessagesAckRequestAcksList"
        },
        "retries": {
          "target": "com.cloudflare.queues#MessagesAckRequestRetriesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#MessagesAckResponseWarningsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.queues#MessagesAckResponse": {
      "type": "structure",
      "members": {
        "ackCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of messages that were succesfully acknowledged."
          }
        },
        "retryCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of messages that were succesfully retried."
          }
        },
        "warnings": {
          "target": "com.cloudflare.queues#MessagesAckResponseWarningsMap",
          "traits": {
            "smithy.api#documentation": "Map of lease IDs to warning messages encountered during acknowledgement."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#MessagesAck": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#MessagesAckRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#MessagesAckResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/messages/ack",
          "code": 200
        },
        "smithy.api#documentation": "Acknowledge + Retry messages from a Queue"
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemContentType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemContentType2": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItem": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemContentType"
        },
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for attempting to deliver this message to consumers"
          }
        },
        "body_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#jsonName": "body"
          }
        },
        "content_type_2": {
          "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemContentType2",
          "traits": {
            "smithy.api#jsonName": "content_type"
          }
        },
        "delay_seconds_2": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for attempting to deliver this message to consumers",
            "smithy.api#jsonName": "delay_seconds"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesItem"
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for attempting to deliver this batch to consumers"
          }
        },
        "messages": {
          "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesList",
          "traits": {
            "smithy.api#documentation": "MqQueueMessageText object { body, content_type, delay_seconds }"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#MessagesBulkPushResponseMetadataMetrics": {
      "type": "structure",
      "members": {
        "backlog_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size in bytes of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "backlog_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "oldest_message_timestamp_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds of the oldest unacknowledged message in the queue. Returns 0 if unknown.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushResponseMetadata": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.cloudflare.queues#MessagesBulkPushResponseMetadataMetrics",
          "traits": {
            "smithy.api#documentation": "Best-effort metrics for the queue. Values may be approximate due to the distributed nature of queues."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushResponse": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.cloudflare.queues#MessagesBulkPushResponseMetadata"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#MessagesBulkPush": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#MessagesBulkPushRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#MessagesBulkPushResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/messages/batch",
          "code": 200
        },
        "smithy.api#documentation": "Push a batch of message to a Queue"
      }
    },
    "com.cloudflare.queues#MessagesPeekRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#MessagesPeek": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#MessagesPeekRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/messages/peek",
          "code": 200
        },
        "smithy.api#documentation": "Peek messages from a Queue without leasing them. Messages remain available for subsequent peek or pull operations."
      }
    },
    "com.cloudflare.queues#MessagesPullRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#MessagesPullResponse": {
      "type": "structure",
      "members": {
        "message_backlog_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of unacknowledged messages in the queue."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#MessagesPull": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#MessagesPullRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#MessagesPullResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/messages/pull",
          "code": 200
        },
        "smithy.api#documentation": "Pull a batch of messages from a Queue"
      }
    },
    "com.cloudflare.queues#MessagesPurgeRequestRefsItem": {
      "type": "structure",
      "members": {
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque reference to a peeked message. You must hold on to this value and use it to purge the message.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPurgeRequestRefsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesPurgeRequestRefsItem"
      }
    },
    "com.cloudflare.queues#MessagesPurgeRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "refs": {
          "target": "com.cloudflare.queues#MessagesPurgeRequestRefsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#MessagesPurge": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#MessagesPurgeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/messages/purge",
          "code": 200
        },
        "smithy.api#documentation": "Delete peeked messages from a Queue by their ref. Purged messages aren’t considered delivered, they are instantly deleted from this queue and do not affect metrics."
      }
    },
    "com.cloudflare.queues#MessagesPushRequestBodyContentType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPushRequestBodyContentType2": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPushRequestBody": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "com.cloudflare.queues#MessagesPushRequestBodyContentType"
        },
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for attempting to deliver this message to consumers"
          }
        },
        "body_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#jsonName": "body"
          }
        },
        "content_type_2": {
          "target": "com.cloudflare.queues#MessagesPushRequestBodyContentType2",
          "traits": {
            "smithy.api#jsonName": "content_type"
          }
        },
        "delay_seconds_2": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for attempting to deliver this message to consumers",
            "smithy.api#jsonName": "delay_seconds"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPushRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.queues#MessagesPushRequestBody",
          "traits": {
            "smithy.api#documentation": "MqQueueMessageText object { body, content_type, delay_seconds }",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#MessagesPushResponseMetadataMetrics": {
      "type": "structure",
      "members": {
        "backlog_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size in bytes of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "backlog_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "oldest_message_timestamp_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds of the oldest unacknowledged message in the queue. Returns 0 if unknown.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPushResponseMetadata": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.cloudflare.queues#MessagesPushResponseMetadataMetrics",
          "traits": {
            "smithy.api#documentation": "Best-effort metrics for the queue. Values may be approximate due to the distributed nature of queues."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesPushResponse": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.cloudflare.queues#MessagesPushResponseMetadata"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#MessagesPush": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#MessagesPushRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#MessagesPushResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/messages",
          "code": 200
        },
        "smithy.api#documentation": "Push a message to a Queue"
      }
    },
    "com.cloudflare.queues#PurgeStartRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "delete_messages_permanently": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Confimation that all messages will be deleted permanently."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#PurgeStartResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#PurgeStartResponseSettingsType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseSettingsSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseSettingsType2": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseSettingsProducersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.queues#PurgeStartResponseSettingsType3": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseSettingsType4": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseSettingsSettings2": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#PurgeStartResponseSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
[...]
