{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "creationDate": "creation_date",
      "customMetadata": "custom_metadata",
      "httpMetadata": "http_metadata",
      "lastModified": "last_modified",
      "perPage": "per_page",
      "queueId": "queue",
      "resultInfo": "result_info",
      "storageClass": "storage_class"
    },
    "opAliases": [
      {
        "alias": "deleteObject",
        "target": "deleteBucketObject"
      },
      {
        "alias": "getObject",
        "target": "getBucketObject"
      },
      {
        "alias": "listObjects",
        "target": "listBucketObjects"
      },
      {
        "alias": "putObject",
        "target": "uploadBucketObject"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.r2#BucketsCreateRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCreateRequestLocationHint": {
      "type": "enum",
      "members": {
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        },
        "EEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eeur"
          }
        },
        "ENAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enam"
          }
        },
        "WEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weur"
          }
        },
        "WNAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wnam"
          }
        },
        "OC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oc"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCreateRequestStorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCreateResponseJurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCreateResponseLocation": {
      "type": "enum",
      "members": {
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        },
        "EEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eeur"
          }
        },
        "ENAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enam"
          }
        },
        "WEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weur"
          }
        },
        "WNAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wnam"
          }
        },
        "OC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oc"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCreateResponseStorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDeleteRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEditRequestCfR2StorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEditRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEditResponseJurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEditResponseLocation": {
      "type": "enum",
      "members": {
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        },
        "EEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eeur"
          }
        },
        "ENAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enam"
          }
        },
        "WEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weur"
          }
        },
        "WNAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wnam"
          }
        },
        "OC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oc"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEditResponseStorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsGetRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsGetResponseJurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsGetResponseLocation": {
      "type": "enum",
      "members": {
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        },
        "EEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eeur"
          }
        },
        "ENAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enam"
          }
        },
        "WEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weur"
          }
        },
        "WNAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wnam"
          }
        },
        "OC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oc"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsGetResponseStorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListRequestOrder": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListResponseBucketsItemJurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListResponseBucketsItemLocation": {
      "type": "enum",
      "members": {
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        },
        "EEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eeur"
          }
        },
        "ENAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enam"
          }
        },
        "WEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weur"
          }
        },
        "WNAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wnam"
          }
        },
        "OC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oc"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListResponseBucketsItemStorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListResponseBucketsItem": {
      "type": "structure",
      "members": {
        "creation_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp."
          }
        },
        "jurisdiction": {
          "target": "com.cloudflare.r2#BucketsListResponseBucketsItemJurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored."
          }
        },
        "location": {
          "target": "com.cloudflare.r2#BucketsListResponseBucketsItemLocation",
          "traits": {
            "smithy.api#documentation": "Location of the bucket."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket."
          }
        },
        "storage_class": {
          "target": "com.cloudflare.r2#BucketsListResponseBucketsItemStorageClass",
          "traits": {
            "smithy.api#documentation": "Storage class for newly uploaded objects, unless specified otherwise."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListResponseBucketsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsListResponseBucketsItem"
      }
    },
    "com.cloudflare.r2#BucketsCorsDeleteRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsGetRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedMethodsItem": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedMethodsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedMethodsItem"
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowed": {
      "type": "structure",
      "members": {
        "methods": {
          "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedMethodsList",
          "traits": {
            "smithy.api#documentation": "Specifies the value for the Access-Control-Allow-Methods header R2 sets when requesting objects in a bucket from a browser.",
            "smithy.api#required": {}
          }
        },
        "origins": {
          "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Specifies the value for the Access-Control-Allow-Origin header R2 sets when requesting objects in a bucket from a browser.",
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedHeadersList",
          "traits": {
            "smithy.api#documentation": "Specifies the value for the Access-Control-Allow-Headers header R2 sets when requesting objects in this bucket from a browser. Cross-origin requests that include custom headers (e.g. x-user-id) should specify these headers as AllowedHeaders."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItemExposeHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItem": {
      "type": "structure",
      "members": {
        "allowed": {
          "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowed",
          "traits": {
            "smithy.api#documentation": "Object specifying allowed origins, methods and headers for this CORS rule.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for this rule."
          }
        },
        "exposeHeaders": {
          "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItemExposeHeadersList",
          "traits": {
            "smithy.api#documentation": "Specifies the headers that can be exposed back, and accessed by, the JavaScript making the cross-origin request. If you need to access headers beyond the safelisted response headers, such as Content-Encoding or cf-cache-status, you must specify it here."
          }
        },
        "maxAgeSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the amount of time (in seconds) browsers are allowed to cache CORS preflight responses. Browsers may limit this to 2 hours or less, even if the maximum value (86400) is specified."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItem"
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedMethodsItem": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedMethodsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedMethodsItem"
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowed": {
      "type": "structure",
      "members": {
        "methods": {
          "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedMethodsList",
          "traits": {
            "smithy.api#documentation": "Specifies the value for the Access-Control-Allow-Methods header R2 sets when requesting objects in a bucket from a browser.",
            "smithy.api#required": {}
          }
        },
        "origins": {
          "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Specifies the value for the Access-Control-Allow-Origin header R2 sets when requesting objects in a bucket from a browser.",
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedHeadersList",
          "traits": {
            "smithy.api#documentation": "Specifies the value for the Access-Control-Allow-Headers header R2 sets when requesting objects in this bucket from a browser. Cross-origin requests that include custom headers (e.g. x-user-id) should specify these headers as AllowedHeaders."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemExposeHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItem": {
      "type": "structure",
      "members": {
        "allowed": {
          "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowed",
          "traits": {
            "smithy.api#documentation": "Object specifying allowed origins, methods and headers for this CORS rule.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for this rule."
          }
        },
        "exposeHeaders": {
          "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemExposeHeadersList",
          "traits": {
            "smithy.api#documentation": "Specifies the headers that can be exposed back, and accessed by, the JavaScript making the cross-origin request. If you need to access headers beyond the safelisted response headers, such as Content-Encoding or cf-cache-status, you must specify it here."
          }
        },
        "maxAgeSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the amount of time (in seconds) browsers are allowed to cache CORS preflight responses. Browsers may limit this to 2 hours or less, even if the maximum value (86400) is specified."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItem"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomCreateRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomCreateRequestCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomCreateRequestMinTLS": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomCreateResponseCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomCreateResponseMinTLS": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomDeleteRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetResponseStatusOwnership": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivated"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetResponseStatusSsl": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivated"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetResponseStatus": {
      "type": "structure",
      "members": {
        "ownership": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomGetResponseStatusOwnership",
          "traits": {
            "smithy.api#documentation": "Ownership status of the domain.",
            "smithy.api#required": {}
          }
        },
        "ssl": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomGetResponseStatusSsl",
          "traits": {
            "smithy.api#documentation": "SSL certificate status.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetResponseCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetResponseMinTLS": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemStatusOwnership": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivated"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemStatusSsl": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivated"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemStatus": {
      "type": "structure",
      "members": {
        "ownership": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemStatusOwnership",
          "traits": {
            "smithy.api#documentation": "Ownership status of the domain.",
            "smithy.api#required": {}
          }
        },
        "ssl": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemStatusSsl",
          "traits": {
            "smithy.api#documentation": "SSL certificate status.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemMinTLS": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of the custom domain to be added.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this bucket is publicly accessible at the specified custom domain.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ciphers": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "minTLS": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemMinTLS",
          "traits": {
            "smithy.api#documentation": "Minimum TLS Version the custom domain will accept for incoming connections. If not set, defaults to 1.0."
          }
        },
        "zoneId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID of the custom domain resides in."
          }
        },
        "zoneName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone that the custom domain resides in."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItem"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomUpdateRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomUpdateRequestCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomUpdateRequestMinTLS": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomUpdateResponseCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomUpdateResponseMinTLS": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsManagedListRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsManagedUpdateRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsDeleteRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsGetRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesItemActionsItem": {
      "type": "enum",
      "members": {
        "PUTOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PutObject"
          }
        },
        "COPYOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CopyObject"
          }
        },
        "DELETEOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteObject"
          }
        },
        "COMPLETEMULTIPARTUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CompleteMultipartUpload"
          }
        },
        "LIFECYCLEDELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LifecycleDeletion"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesItemActionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesItemActionsItem"
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesItem": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesItemActionsList",
          "traits": {
            "smithy.api#documentation": "Array of R2 object actions that will trigger notifications.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the rule was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description that can be used to identify the event notification rule after creation."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notifications will be sent only for objects with this prefix."
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule ID."
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notifications will be sent only for objects with this suffix."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesItem"
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesItemActionsItem": {
      "type": "enum",
      "members": {
        "PUTOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PutObject"
          }
        },
        "COPYOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CopyObject"
          }
        },
        "DELETEOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteObject"
          }
        },
        "COMPLETEMULTIPARTUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CompleteMultipartUpload"
          }
        },
        "LIFECYCLEDELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LifecycleDeletion"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesItemActionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesItemActionsItem"
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesItem": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesItemActionsList",
          "traits": {
            "smithy.api#documentation": "Array of R2 object actions that will trigger notifications.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the rule was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description that can be used to identify the event notification rule after creation."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notifications will be sent only for objects with this prefix."
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule ID."
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notifications will be sent only for objects with this suffix."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesItem"
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItem": {
      "type": "structure",
      "members": {
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Queue ID."
          }
        },
        "queueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue."
          }
        },
        "rules": {
          "target": "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesList"
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItem"
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsUpdateRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsUpdateRequestRulesItemActionsItem": {
      "type": "enum",
      "members": {
        "PUTOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PutObject"
          }
        },
        "COPYOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CopyObject"
          }
        },
        "DELETEOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteObject"
          }
        },
        "COMPLETEMULTIPARTUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CompleteMultipartUpload"
          }
        },
        "LIFECYCLEDELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LifecycleDeletion"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsUpdateRequestRulesItemActionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsUpdateRequestRulesItemActionsItem"
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsUpdateRequestRulesItem": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.cloudflare.r2#BucketsEventNotificationsUpdateRequestRulesItemActionsList",
          "traits": {
            "smithy.api#documentation": "Array of R2 object actions that will trigger notifications.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description that can be used to identify the event notification rule after creation."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notifications will be sent only for objects with this prefix."
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notifications will be sent only for objects with this suffix."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsUpdateRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsUpdateRequestRulesItem"
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemConditions": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Transitions will only apply to objects/uploads in the bucket that start with the given prefix, an empty prefix can be provided to scope rule to all objects/uploads.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemAbortMultipartUploadsTransitionConditionType": {
      "type": "enum",
      "members": {
        "AGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Age"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemAbortMultipartUploadsTransitionCondition": {
      "type": "structure",
      "members": {
        "maxAge": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemAbortMultipartUploadsTransitionConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemAbortMultipartUploadsTransition": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemAbortMultipartUploadsTransitionCondition",
          "traits": {
            "smithy.api#documentation": "Condition for lifecycle transitions to apply after an object reaches an age in seconds."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemDeleteObjectsTransitionConditionR2LifecycleAgeConditionType": {
      "type": "enum",
      "members": {
        "AGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Age"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemDeleteObjectsTransitionConditionR2LifecycleAgeCondition": {
      "type": "structure",
      "members": {
        "maxAge": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemDeleteObjectsTransitionConditionR2LifecycleAgeConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemDeleteObjectsTransitionConditionR2LifecycleDateConditionType": {
      "type": "enum",
      "members": {
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Date"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemDeleteObjectsTransitionConditionR2LifecycleDateCondition": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemDeleteObjectsTransitionConditionR2LifecycleDateConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemDeleteObjectsTransitionCondition": {
      "type": "union",
      "members": {
        "R2LifecycleAgeCondition": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemDeleteObjectsTransitionConditionR2LifecycleAgeCondition"
        },
        "R2LifecycleDateCondition": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemDeleteObjectsTransitionConditionR2LifecycleDateCondition"
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemDeleteObjectsTransition": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemDeleteObjectsTransitionCondition",
          "traits": {
            "smithy.api#documentation": "Condition for lifecycle transitions to apply after an object reaches an age in seconds."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItemConditionR2LifecycleAgeConditionType": {
      "type": "enum",
      "members": {
        "AGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Age"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItemConditionR2LifecycleAgeCondition": {
      "type": "structure",
      "members": {
        "maxAge": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItemConditionR2LifecycleAgeConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItemConditionR2LifecycleDateConditionType": {
      "type": "enum",
      "members": {
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Date"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItemConditionR2LifecycleDateCondition": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItemConditionR2LifecycleDateConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItemCondition": {
      "type": "union",
      "members": {
        "R2LifecycleAgeCondition": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItemConditionR2LifecycleAgeCondition"
        },
        "R2LifecycleDateCondition": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItemConditionR2LifecycleDateCondition"
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItemStorageClass": {
      "type": "enum",
      "members": {
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItem": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItemCondition",
          "traits": {
            "smithy.api#documentation": "Condition for lifecycle transitions to apply after an object reaches an age in seconds.",
            "smithy.api#required": {}
          }
        },
        "storageClass": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItemStorageClass",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsItem"
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this rule.",
            "smithy.api#required": {}
          }
        },
        "conditions": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemConditions",
          "traits": {
            "smithy.api#documentation": "Conditions that apply to all transitions of this rule.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this rule is in effect.",
            "smithy.api#required": {}
          }
        },
        "abortMultipartUploadsTransition": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemAbortMultipartUploadsTransition",
          "traits": {
            "smithy.api#documentation": "Transition to abort ongoing multipart uploads."
          }
        },
        "deleteObjectsTransition": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemDeleteObjectsTransition",
          "traits": {
            "smithy.api#documentation": "Transition to delete objects."
          }
        },
        "storageClassTransitions": {
          "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItemStorageClassTransitionsList",
          "traits": {
            "smithy.api#documentation": "Transitions to change the storage class of objects."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleGetResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsLifecycleGetResponseRulesItem"
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemConditions": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Transitions will only apply to objects/uploads in the bucket that start with the given prefix, an empty prefix can be provided to scope rule to all objects/uploads.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemAbortMultipartUploadsTransitionConditionType": {
      "type": "enum",
      "members": {
        "AGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Age"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemAbortMultipartUploadsTransitionCondition": {
      "type": "structure",
      "members": {
        "maxAge": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemAbortMultipartUploadsTransitionConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemAbortMultipartUploadsTransition": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemAbortMultipartUploadsTransitionCondition",
          "traits": {
            "smithy.api#documentation": "Condition for lifecycle transitions to apply after an object reaches an age in seconds."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemDeleteObjectsTransitionConditionR2LifecycleAgeConditionType": {
      "type": "enum",
      "members": {
        "AGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Age"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemDeleteObjectsTransitionConditionR2LifecycleAgeCondition": {
      "type": "structure",
      "members": {
        "maxAge": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemDeleteObjectsTransitionConditionR2LifecycleAgeConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemDeleteObjectsTransitionConditionR2LifecycleDateConditionType": {
      "type": "enum",
      "members": {
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Date"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemDeleteObjectsTransitionConditionR2LifecycleDateCondition": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemDeleteObjectsTransitionConditionR2LifecycleDateConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemDeleteObjectsTransitionCondition": {
      "type": "union",
      "members": {
        "R2LifecycleAgeCondition": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemDeleteObjectsTransitionConditionR2LifecycleAgeCondition"
        },
        "R2LifecycleDateCondition": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemDeleteObjectsTransitionConditionR2LifecycleDateCondition"
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemDeleteObjectsTransition": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemDeleteObjectsTransitionCondition",
          "traits": {
            "smithy.api#documentation": "Condition for lifecycle transitions to apply after an object reaches an age in seconds."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItemConditionR2LifecycleAgeConditionType": {
      "type": "enum",
      "members": {
        "AGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Age"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItemConditionR2LifecycleAgeCondition": {
      "type": "structure",
      "members": {
        "maxAge": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItemConditionR2LifecycleAgeConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItemConditionR2LifecycleDateConditionType": {
      "type": "enum",
      "members": {
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Date"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItemConditionR2LifecycleDateCondition": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItemConditionR2LifecycleDateConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItemCondition": {
      "type": "union",
      "members": {
        "R2LifecycleAgeCondition": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItemConditionR2LifecycleAgeCondition"
        },
        "R2LifecycleDateCondition": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItemConditionR2LifecycleDateCondition"
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItemStorageClass": {
      "type": "enum",
      "members": {
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItem": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItemCondition",
          "traits": {
            "smithy.api#documentation": "Condition for lifecycle transitions to apply after an object reaches an age in seconds.",
            "smithy.api#required": {}
          }
        },
        "storageClass": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItemStorageClass",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsItem"
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this rule.",
            "smithy.api#required": {}
          }
        },
        "conditions": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemConditions",
          "traits": {
            "smithy.api#documentation": "Conditions that apply to all transitions of this rule.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this rule is in effect.",
            "smithy.api#required": {}
          }
        },
        "abortMultipartUploadsTransition": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemAbortMultipartUploadsTransition",
          "traits": {
            "smithy.api#documentation": "Transition to abort ongoing multipart uploads."
          }
        },
        "deleteObjectsTransition": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemDeleteObjectsTransition",
          "traits": {
            "smithy.api#documentation": "Transition to delete objects."
          }
        },
        "storageClassTransitions": {
          "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItemStorageClassTransitionsList",
          "traits": {
            "smithy.api#documentation": "Transitions to change the storage class of objects."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsLifecycleUpdateRequestRulesItem"
      }
    },
    "com.cloudflare.r2#BucketsLocksGetRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksGetResponseRulesItemConditionR2LockRuleAgeConditionType": {
      "type": "enum",
      "members": {
        "AGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Age"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksGetResponseRulesItemConditionR2LockRuleAgeCondition": {
      "type": "structure",
      "members": {
        "maxAgeSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLocksGetResponseRulesItemConditionR2LockRuleAgeConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksGetResponseRulesItemConditionR2LockRuleDateConditionType": {
      "type": "enum",
      "members": {
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Date"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksGetResponseRulesItemConditionR2LockRuleDateCondition": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLocksGetResponseRulesItemConditionR2LockRuleDateConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksGetResponseRulesItemConditionR2LockRuleIndefiniteConditionType": {
      "type": "enum",
      "members": {
        "INDEFINITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Indefinite"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksGetResponseRulesItemConditionR2LockRuleIndefiniteCondition": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.r2#BucketsLocksGetResponseRulesItemConditionR2LockRuleIndefiniteConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksGetResponseRulesItemCondition": {
      "type": "union",
      "members": {
        "R2LockRuleAgeCondition": {
          "target": "com.cloudflare.r2#BucketsLocksGetResponseRulesItemConditionR2LockRuleAgeCondition"
        },
        "R2LockRuleDateCondition": {
          "target": "com.cloudflare.r2#BucketsLocksGetResponseRulesItemConditionR2LockRuleDateCondition"
        },
        "R2LockRuleIndefiniteCondition": {
          "target": "com.cloudflare.r2#BucketsLocksGetResponseRulesItemConditionR2LockRuleIndefiniteCondition"
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksGetResponseRulesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this rule.",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.cloudflare.r2#BucketsLocksGetResponseRulesItemCondition",
          "traits": {
            "smithy.api#documentation": "Condition to apply a lock rule to an object for how long in seconds.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this rule is in effect.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule will only apply to objects/uploads in the bucket that start with the given prefix, an empty prefix can be provided to scope rule to all objects/uploads."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksGetResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsLocksGetResponseRulesItem"
      }
    },
    "com.cloudflare.r2#BucketsLocksUpdateRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemConditionR2LockRuleAgeConditionType": {
      "type": "enum",
      "members": {
        "AGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Age"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemConditionR2LockRuleAgeCondition": {
      "type": "structure",
      "members": {
        "maxAgeSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemConditionR2LockRuleAgeConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemConditionR2LockRuleDateConditionType": {
      "type": "enum",
      "members": {
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Date"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemConditionR2LockRuleDateCondition": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemConditionR2LockRuleDateConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemConditionR2LockRuleIndefiniteConditionType": {
      "type": "enum",
      "members": {
        "INDEFINITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Indefinite"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemConditionR2LockRuleIndefiniteCondition": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemConditionR2LockRuleIndefiniteConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemCondition": {
      "type": "union",
      "members": {
        "R2LockRuleAgeCondition": {
          "target": "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemConditionR2LockRuleAgeCondition"
        },
        "R2LockRuleDateCondition": {
          "target": "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemConditionR2LockRuleDateCondition"
        },
        "R2LockRuleIndefiniteCondition": {
          "target": "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemConditionR2LockRuleIndefiniteCondition"
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this rule.",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItemCondition",
          "traits": {
            "smithy.api#documentation": "Condition to apply a lock rule to an object for how long in seconds.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this rule is in effect.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule will only apply to objects/uploads in the bucket that start with the given prefix, an empty prefix can be provided to scope rule to all objects/uploads."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsLocksUpdateRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsLocksUpdateRequestRulesItem"
      }
    },
    "com.cloudflare.r2#BucketsMetricsListResponseInfrequentAccessPublished": {
      "type": "structure",
      "members": {
        "metadataSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of."
          }
        },
        "objects": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of objects stored."
          }
        },
        "payloadSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of storage used by object data."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsMetricsListResponseInfrequentAccessUploaded": {
      "type": "structure",
      "members": {
        "metadataSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of."
          }
        },
        "objects": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of objects stored."
          }
        },
        "payloadSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of storage used by object data."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsMetricsListResponseInfrequentAccess": {
      "type": "structure",
      "members": {
        "published": {
          "target": "com.cloudflare.r2#BucketsMetricsListResponseInfrequentAccessPublished",
          "traits": {
            "smithy.api#documentation": "Metrics on number of objects/amount of storage used."
          }
        },
        "uploaded": {
          "target": "com.cloudflare.r2#BucketsMetricsListResponseInfrequentAccessUploaded",
          "traits": {
            "smithy.api#documentation": "Metrics on number of objects/amount of storage used."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsMetricsListResponseStandardPublished": {
      "type": "structure",
      "members": {
        "metadataSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of."
          }
        },
        "objects": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of objects stored."
          }
        },
        "payloadSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of storage used by object data."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsMetricsListResponseStandardUploaded": {
      "type": "structure",
      "members": {
        "metadataSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of."
          }
        },
        "objects": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of objects stored."
          }
        },
        "payloadSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of storage used by object data."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsMetricsListResponseStandard": {
      "type": "structure",
      "members": {
        "published": {
          "target": "com.cloudflare.r2#BucketsMetricsListResponseStandardPublished",
          "traits": {
            "smithy.api#documentation": "Metrics on number of objects/amount of storage used."
          }
        },
        "uploaded": {
          "target": "com.cloudflare.r2#BucketsMetricsListResponseStandardUploaded",
          "traits": {
            "smithy.api#documentation": "Metrics on number of objects/amount of storage used."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsObjectsDeleteRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsObjectsGetRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsObjectsListRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsObjectsListResultItemCustomMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsObjectsListResultItemHttpMetadata": {
      "type": "structure",
      "members": {
        "cacheControl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies caching behavior for the object."
          }
        },
        "cacheExpiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time at which the object's cache entry expires."
          }
        },
        "contentDisposition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies presentational information for the object."
          }
        },
        "contentEncoding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the content encoding applied to the object."
          }
        },
        "contentLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language of the object content."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the object."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsObjectsListResultItemStorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsObjectsListResultItem": {
      "type": "structure",
      "members": {
        "custom_metadata": {
          "target": "com.cloudflare.r2#BucketsObjectsListResultItemCustomMetadataMap",
          "traits": {
            "smithy.api#documentation": "Custom metadata key-value pairs associated with the object."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity tag for the object. In JSON list/get responses this is the raw"
          }
        },
        "http_metadata": {
          "target": "com.cloudflare.r2#BucketsObjectsListResultItemHttpMetadata",
          "traits": {
            "smithy.api#documentation": "HTTP metadata associated with an R2 object."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object key (name)."
          }
        },
        "last_modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the object was last modified."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the object in bytes."
          }
        },
        "ssec": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the object is encrypted with a customer-supplied encryption key."
          }
        },
        "storage_class": {
          "target": "com.cloudflare.r2#BucketsObjectsListResultItemStorageClass",
          "traits": {
            "smithy.api#documentation": "Storage class for newly uploaded objects, unless specified otherwise."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsObjectsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsObjectsListResultItem"
      }
    },
    "com.cloudflare.r2#BucketsObjectsUploadRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsObjectsUploadRequestCfR2StorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsObjectsUploadResponseStorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsSippyDeleteRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsSippyGetRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsSippyGetResponseDestinationProvider": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsSippyGetResponseDestination": {
      "type": "structure",
      "members": {
        "accessKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Cloudflare API token used when writing objects to this"
          }
        },
        "account": {
          "target": "smithy.api#String"
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket on the provider."
          }
        },
        "provider": {
          "target": "com.cloudflare.r2#BucketsSippyGetResponseDestinationProvider"
        }
      }
    },
    "com.cloudflare.r2#BucketsSippyGetResponseSourceProvider": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws"
          }
        },
        "GCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcs"
          }
        },
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "s3"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsSippyGetResponseSource": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket on the provider (AWS, GCS only)."
          }
        },
        "bucketUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "S3-compatible URL (Generic S3-compatible providers only)."
          }
        },
        "provider": {
          "target": "com.cloudflare.r2#BucketsSippyGetResponseSourceProvider"
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region where the bucket resides (AWS only)."
          }
        }
      }
    },
[...]
