{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.registrar_sandbox#CheckRequestDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.registrar_sandbox#CheckRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.registrar_sandbox#CheckRequestDomainsList",
          "traits": {
            "smithy.api#documentation": "List of fully qualified domain names (FQDNs) to check for availability. Each domain must include the extension.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar_sandbox#CheckResponseDomainsItemPricing": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-4217 currency code for the prices (e.g., “USD”, “EUR”, “GBP”).",
            "smithy.api#required": {}
          }
        },
        "registration_cost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first-year cost to register this domain. For premium domains (`tier: premium`), this price is set by the registry and may be significantly higher than standard pricing. For multi-year registrations, this cost applies to the first year only; subsequent years are charged at `renewal_cost`.",
            "smithy.api#required": {}
          }
        },
        "renewal_cost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Per-year renewal cost for this domain. Applied to each year beyond the first year of a multi-year registration, and to each annual auto-renewal thereafter. May differ from `registration_cost`, especially for premium domains where initial registration often costs more than renewals.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#CheckResponseDomainsItemReason": {
      "type": "enum",
      "members": {
        "EXTENSION_NOT_SUPPORTED_VIA_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extension_not_supported_via_api"
          }
        },
        "EXTENSION_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extension_not_supported"
          }
        },
        "EXTENSION_DISALLOWS_REGISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extension_disallows_registration"
          }
        },
        "DOMAIN_PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_premium"
          }
        },
        "DOMAIN_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_unavailable"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#CheckResponseDomainsItemTier": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "premium"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#CheckResponseDomainsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified domain name (FQDN) in punycode format for internationalized domain names (IDNs).",
            "smithy.api#required": {}
          }
        },
        "registrable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this domain can be registered programmatically through this API based on a real-time registry check.",
            "smithy.api#required": {}
          }
        },
        "pricing": {
          "target": "com.cloudflare.registrar_sandbox#CheckResponseDomainsItemPricing",
          "traits": {
            "smithy.api#documentation": "Annual pricing information for a registrable domain. This object is only present when `registrable` is `true`. All prices are per year and returned as strings to preserve decimal precision."
          }
        },
        "reason": {
          "target": "com.cloudflare.registrar_sandbox#CheckResponseDomainsItemReason",
          "traits": {
            "smithy.api#documentation": "Present only when `registrable` is `false`. Explains why the domain cannot be registered via this API."
          }
        },
        "tier": {
          "target": "com.cloudflare.registrar_sandbox#CheckResponseDomainsItemTier",
          "traits": {
            "smithy.api#documentation": "The pricing tier for this domain. Always present when `registrable` is `true`; defaults to `standard` for most domains. May be absent when `registrable` is `false`."
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#CheckResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.registrar_sandbox#CheckResponseDomainsItem"
      }
    },
    "com.cloudflare.registrar_sandbox#CheckResponse": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.cloudflare.registrar_sandbox#CheckResponseDomainsList",
          "traits": {
            "smithy.api#documentation": "Array of domain availability results. Domains on unsupported extensions are included with `registrable: false` and a `reason`field. Malformed domain names may be omitted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar_sandbox#Check": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar_sandbox#CheckRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar_sandbox#CheckResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/registrar-sandbox/domain-check",
          "code": 200
        },
        "smithy.api#documentation": "Performs real-time, authoritative availability checks directly against domain registries. Use this endpoint to verify a domain is available before attempting registration via `POST /registrations`."
      }
    },
    "com.cloudflare.registrar_sandbox#SearchRequestExtensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.registrar_sandbox#SearchRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The search term to find domain suggestions. Accepts keywords, phrases, or full domain names.",
            "smithy.api#httpQuery": "q",
            "smithy.api#required": {}
          }
        },
        "extensions": {
          "target": "com.cloudflare.registrar_sandbox#SearchRequestExtensionsList",
          "traits": {
            "smithy.api#documentation": "Limits results to specific domain extensions from the supported set. If not specified, returns results across all supported extensions. Extensions not in the supported set are silently ignored.",
            "smithy.api#httpQuery": "extensions"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of domain suggestions to return. Defaults to 20 if not specified.",
            "smithy.api#httpQuery": "limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar_sandbox#SearchResponseDomainsItemPricing": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-4217 currency code for the prices (e.g., “USD”, “EUR”, “GBP”).",
            "smithy.api#required": {}
          }
        },
        "registration_cost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first-year cost to register this domain. For premium domains (`tier: premium`), this price is set by the registry and may be significantly higher than standard pricing. For multi-year registrations, this cost applies to the first year only; subsequent years are charged at `renewal_cost`.",
            "smithy.api#required": {}
          }
        },
        "renewal_cost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Per-year renewal cost for this domain. Applied to each year beyond the first year of a multi-year registration, and to each annual auto-renewal thereafter. May differ from `registration_cost`, especially for premium domains where initial registration often costs more than renewals.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#SearchResponseDomainsItemReason": {
      "type": "enum",
      "members": {
        "EXTENSION_NOT_SUPPORTED_VIA_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extension_not_supported_via_api"
          }
        },
        "EXTENSION_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extension_not_supported"
          }
        },
        "EXTENSION_DISALLOWS_REGISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extension_disallows_registration"
          }
        },
        "DOMAIN_PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_premium"
          }
        },
        "DOMAIN_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_unavailable"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#SearchResponseDomainsItemTier": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "premium"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#SearchResponseDomainsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified domain name (FQDN) in punycode format for internationalized domain names (IDNs).",
            "smithy.api#required": {}
          }
        },
        "registrable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this domain appears available based on search data. Search results are non-authoritative and may be stale. - `true`: The domain appears available. Use POST /domain-check to confirm before registration.",
            "smithy.api#required": {}
          }
        },
        "pricing": {
          "target": "com.cloudflare.registrar_sandbox#SearchResponseDomainsItemPricing",
          "traits": {
            "smithy.api#documentation": "Annual pricing information for a registrable domain. This object is only present when `registrable` is `true`. All prices are per year and returned as strings to preserve decimal precision."
          }
        },
        "reason": {
          "target": "com.cloudflare.registrar_sandbox#SearchResponseDomainsItemReason",
          "traits": {
            "smithy.api#documentation": "Present only when `registrable` is `false` on search results. Explains why the domain does not appear registrable through this API. These values are advisory; use POST /domain-check for authoritative status."
          }
        },
        "tier": {
          "target": "com.cloudflare.registrar_sandbox#SearchResponseDomainsItemTier",
          "traits": {
            "smithy.api#documentation": "The pricing tier for this domain. Always present when `registrable` is `true`; defaults to `standard` for most domains. May be absent when `registrable`is `false`."
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#SearchResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.registrar_sandbox#SearchResponseDomainsItem"
      }
    },
    "com.cloudflare.registrar_sandbox#SearchResponse": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.cloudflare.registrar_sandbox#SearchResponseDomainsList",
          "traits": {
            "smithy.api#documentation": "Array of domain suggestions sorted by relevance. May be empty if no domains match the search criteria.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar_sandbox#Search": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar_sandbox#SearchRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar_sandbox#SearchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar-sandbox/domain-search",
          "code": 200
        },
        "smithy.api#documentation": "Searches for domain name suggestions based on a keyword, phrase, or partial domain name. Returns a list of potentially available domains with pricing information. Suggestions are scoped to extensions supported for programmatic registration via this API (`POST /registrations`). Domains on unsupported extensions will not appear in results, even if they are available at the registry level.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar_sandbox#ExtensionsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "extension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar_sandbox#ExtensionsGetResponseMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the extension. For example, “co.uk”, or “uk”",
            "smithy.api#required": {}
          }
        },
        "tld": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tld of the extension. For example, for “co.uk”, it’s “uk”. For “uk”, it’s “uk”",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#ExtensionsGetResponse": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.cloudflare.registrar_sandbox#ExtensionsGetResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Extension metadata",
            "smithy.api#required": {}
          }
        },
        "registration_schema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "JSON Schema describing the expected input structure for registration operations on this extension.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar_sandbox#ExtensionsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar_sandbox#ExtensionsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar_sandbox#ExtensionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar-sandbox/extensions/{extension}",
          "code": 200
        },
        "smithy.api#documentation": "Returns metadata and JSON Schema documents describing the expected input structure for registration operations on a specific extension (TLD). Supports HTTP conditional GET via `ETag`. Include the `ETag` value from a previous response in an `If-None-Match` header to receive a `304 Not Modified` when the data has not changed.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar_sandbox#ExtensionsListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#ExtensionsListRequestSortBy": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#ExtensionsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque token from a previous response’s `result_info.cursor`. Pass this value to fetch the next page of results. Omit (or pass an empty string) for the first page.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "direction": {
          "target": "com.cloudflare.registrar_sandbox#ExtensionsListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Sort direction for results. Defaults to ascending order.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter extensions by exact name match. For example, `name=com` returns only the `com` extension.",
            "smithy.api#httpQuery": "name"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of items to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "sort_by": {
          "target": "com.cloudflare.registrar_sandbox#ExtensionsListRequestSortBy",
          "traits": {
            "smithy.api#documentation": "Column to sort results by. Defaults to `name` when omitted.",
            "smithy.api#httpQuery": "sort_by"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar_sandbox#ExtensionsListResultItemMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the extension. For example, “co.uk”, or “uk”",
            "smithy.api#required": {}
          }
        },
        "tld": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tld of the extension. For example, for “co.uk”, it’s “uk”. For “uk”, it’s “uk”",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#ExtensionsListResultItem": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.cloudflare.registrar_sandbox#ExtensionsListResultItemMetadata",
          "traits": {
            "smithy.api#documentation": "Extension metadata",
            "smithy.api#required": {}
          }
        },
        "registration_schema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "JSON Schema describing the expected input structure for registration operations on this extension.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#ExtensionsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.registrar_sandbox#ExtensionsListResultItem"
      }
    },
    "com.cloudflare.registrar_sandbox#ExtensionsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.registrar_sandbox#ExtensionsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.registrar_sandbox#ExtensionsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar_sandbox#ExtensionsListRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar_sandbox#ExtensionsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar-sandbox/extensions",
          "code": 200
        },
        "smithy.api#documentation": "Returns metadata and JSON Schema documents describing the expected input structure for registration operations on each supported extension (TLD). This endpoint uses cursor-based pagination. Results are ordered by extension name by default. To fetch the next page, pass the `cursor`value from the `result_info` object in the response as the `cursor`query parameter in your next request. An empty `cursor` string indicates there are no more pages. Supports HTTP conditional GET via `ETag`. Include the `ETag` value from a previous response in an `If-None-Match` header to receive a `304 Not Modified` when the data has not changed.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationStatusGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension (e.g., `example.com`, `mybrand.app`). The domain name uniquely identifies a registration — the same domain cannot be registered twice, making it a natural idempotency key for registration requests.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationStatusGetResponseLinks": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to this status resource.",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the domain resource."
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationStatusGetResponseState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationStatusGetResponseContextMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationStatusGetResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine-readable error code identifying the failure reason.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the failure. May include registry-specific details.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationStatusGetResponse": {
      "type": "structure",
      "members": {
        "completed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the workflow has reached a terminal state. `true` when `state` is `succeeded` or `failed`. `false` for `pending`, `in_progress`, `action_required`, and `blocked`.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationStatusGetResponseLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationStatusGetResponseState",
          "traits": {
            "smithy.api#documentation": "Workflow lifecycle state.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "context": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationStatusGetResponseContextMap",
          "traits": {
            "smithy.api#documentation": "Workflow-specific data for this workflow."
          }
        },
        "error": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationStatusGetResponseError",
          "traits": {
            "smithy.api#documentation": "Error details when a workflow reaches the `failed` state. The specific error codes and messages depend on the workflow type (registration, update, etc.) and the underlying registry response. These workflow error codes are separate from immediate HTTP error `errors[].code`values returned by non-2xx responses. Surface `error.message` to the user for context."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationStatusGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar_sandbox#RegistrationStatusGetRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar_sandbox#RegistrationStatusGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar-sandbox/registrations/{domain_name}/registration-status",
          "code": 200
        },
        "smithy.api#documentation": "Returns the current status of a domain registration workflow. Use this endpoint to poll for completion when the POST response returned `202 Accepted`. The URL is provided in the `links.self`field of the workflow status response. Poll this endpoint until the workflow reaches a terminal state or a state that requires user attention. * `action_required` has `completed: false` and will not resolve on its own. The workflow is paused pending user intervention. * `blocked` has `completed: false` and indicates the workflow is waiting on a third party such as the extension registry or losing registrar. Continue polling while informing the user of the delay. Use increasing backoff between polls. When `state: blocked`, use a longer polling interval and do not poll indefinitely. A naive polling loop that only checks `completed` can run indefinitely when `state: action_required`. Break explicitly on `action_required`: ```js let status; do { await new Promise(r => setTimeout(r, 2000)); status = await cloudflare.request({ method: 'GET', path: reg.result.links.self, }); } while ( !status.result.completed && status.result.state !== 'action_required' ); if (status.result.state === 'action_required') { // Surface context.action and context.confirmation_sent_to to the user. // Do not re-submit the registration request. } ```",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestAcknowledgementsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactExtensionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrantPostalInfoAddressTechnicalPostalInfoAddressPrivacyMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "REDACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redaction"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrantPostalInfoAddressTechnicalPostalInfoAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City or locality name.",
            "smithy.api#required": {}
          }
        },
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter country code per ISO 3166-1 alpha-2 (e.g., `US`, `GB`, `CA`, `DE`).",
            "smithy.api#required": {}
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal or ZIP code.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State, province, or region. Use the standard abbreviation where applicable (e.g., `TX` for Texas, `ON` for Ontario).",
            "smithy.api#required": {}
          }
        },
        "street": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street address including building/suite number.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full legal name of the contact, including all required name components for an individual or authorized representative. Some registries require a complete personal name that includes a family or last name where applicable. Provide the complete name in this single field, for example `Ada Lovelace`; do not send separate first-name or last-name fields.",
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization or company name. Optional for individual registrants."
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fax number in E.164 format (e.g., `+1.5555555555`). Optional. Most registrations do not require a fax number."
          }
        },
        "privacy_mode": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrantPostalInfoAddressTechnicalPostalInfoAddressPrivacyMode",
          "traits": {
            "smithy.api#documentation": "WHOIS privacy mode for the registration. Defaults to `redaction`."
          }
        },
        "years": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of years to register (1–10). If omitted, defaults to the minimum registration period required by the registry for this extension. For most extensions this is 1 year, but some extensions require longer minimum terms (e.g., `.ai` requires a minimum of 2 years)."
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrantPostalInfoAddressTechnicalPostalInfo": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrantPostalInfoAddressTechnicalPostalInfoAddress",
          "traits": {
            "smithy.api#documentation": "Physical mailing address for the registrant contact.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrantPostalInfoAddressTechnical": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address for the registrant. Used for domain-related communications from the registry, including ownership verification and renewal notices.",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number in E.164 format: `+{country_code}.{number}` with no spaces or dashes. Examples: `+1.5555555555` (US), `+44.2071234567`(UK), `+81.312345678` (Japan).",
            "smithy.api#required": {}
          }
        },
        "postal_info": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrantPostalInfoAddressTechnicalPostalInfo",
          "traits": {
            "smithy.api#documentation": "Postal/mailing information for the contact. The `name` field is the complete contact name in one string. Some registries require a complete personal name, including a family or last name where applicable, but this API does not accept separate first-name and last-name fields for registration contacts.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrantPostalInfoAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City or locality name.",
            "smithy.api#required": {}
          }
        },
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter country code per ISO 3166-1 alpha-2 (e.g., `US`, `GB`, `CA`, `DE`).",
            "smithy.api#required": {}
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal or ZIP code.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State, province, or region. Use the standard abbreviation where applicable (e.g., `TX` for Texas, `ON` for Ontario).",
            "smithy.api#required": {}
          }
        },
        "street": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street address including building/suite number.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full legal name of the contact, including all required name components for an individual or authorized representative. Some registries require a complete personal name that includes a family or last name where applicable. Provide the complete name in this single field, for example `Ada Lovelace`; do not send separate first-name or last-name fields.",
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization or company name. Optional for individual registrants."
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fax number in E.164 format (e.g., `+1.5555555555`). Optional. Most registrations do not require a fax number."
          }
        },
        "technical": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrantPostalInfoAddressTechnical",
          "traits": {
            "smithy.api#documentation": "Contact data for the domain registration. This information is submitted to the domain registry and, depending on extension and privacy settings, may appear in public WHOIS records."
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrantPostalInfo": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrantPostalInfoAddress",
          "traits": {
            "smithy.api#documentation": "Physical mailing address for the registrant contact.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrant": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address for the registrant. Used for domain-related communications from the registry, including ownership verification and renewal notices.",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number in E.164 format: `+{country_code}.{number}` with no spaces or dashes. Examples: `+1.5555555555` (US), `+44.2071234567`(UK), `+81.312345678` (Japan).",
            "smithy.api#required": {}
          }
        },
        "postal_info": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrantPostalInfo",
          "traits": {
            "smithy.api#documentation": "Postal/mailing information for the contact. The `name` field is the complete contact name in one string. Some registries require a complete personal name, including a family or last name where applicable, but this API does not accept separate first-name and last-name fields for registration contacts.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City or locality name.",
            "smithy.api#required": {}
          }
        },
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter country code per ISO 3166-1 alpha-2 (e.g., `US`, `GB`, `CA`, `DE`).",
            "smithy.api#required": {}
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal or ZIP code.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State, province, or region. Use the standard abbreviation where applicable (e.g., `TX` for Texas, `ON` for Ontario).",
            "smithy.api#required": {}
          }
        },
        "street": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street address including building/suite number.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full legal name of the contact, including all required name components for an individual or authorized representative. Some registries require a complete personal name that includes a family or last name where applicable. Provide the complete name in this single field, for example `Ada Lovelace`; do not send separate first-name or last-name fields.",
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization or company name. Optional for individual registrants."
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fax number in E.164 format (e.g., `+1.5555555555`). Optional. Most registrations do not require a fax number."
          }
        },
        "registrant": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddressRegistrant",
          "traits": {
            "smithy.api#documentation": "Contact data for the domain registration. This information is submitted to the domain registry and, depending on extension and privacy settings, may appear in public WHOIS records."
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfo": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfoAddress",
          "traits": {
            "smithy.api#documentation": "Physical mailing address for the registrant contact.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBilling": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address for the registrant. Used for domain-related communications from the registry, including ownership verification and renewal notices.",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number in E.164 format: `+{country_code}.{number}` with no spaces or dashes. Examples: `+1.5555555555` (US), `+44.2071234567`(UK), `+81.312345678` (Japan).",
            "smithy.api#required": {}
          }
        },
        "postal_info": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBillingPostalInfo",
          "traits": {
            "smithy.api#documentation": "Postal/mailing information for the contact. The `name` field is the complete contact name in one string. Some registries require a complete personal name, including a family or last name where applicable, but this API does not accept separate first-name and last-name fields for registration contacts.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City or locality name.",
            "smithy.api#required": {}
          }
        },
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter country code per ISO 3166-1 alpha-2 (e.g., `US`, `GB`, `CA`, `DE`).",
            "smithy.api#required": {}
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal or ZIP code.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State, province, or region. Use the standard abbreviation where applicable (e.g., `TX` for Texas, `ON` for Ontario).",
            "smithy.api#required": {}
          }
        },
        "street": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street address including building/suite number.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full legal name of the contact, including all required name components for an individual or authorized representative. Some registries require a complete personal name that includes a family or last name where applicable. Provide the complete name in this single field, for example `Ada Lovelace`; do not send separate first-name or last-name fields.",
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization or company name. Optional for individual registrants."
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fax number in E.164 format (e.g., `+1.5555555555`). Optional. Most registrations do not require a fax number."
          }
        },
        "billing": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddressBilling",
          "traits": {
            "smithy.api#documentation": "Contact data for the domain registration. This information is submitted to the domain registry and, depending on extension and privacy settings, may appear in public WHOIS records."
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfo": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfoAddress",
          "traits": {
            "smithy.api#documentation": "Physical mailing address for the registrant contact.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministrator": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address for the registrant. Used for domain-related communications from the registry, including ownership verification and renewal notices.",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number in E.164 format: `+{country_code}.{number}` with no spaces or dashes. Examples: `+1.5555555555` (US), `+44.2071234567`(UK), `+81.312345678` (Japan).",
            "smithy.api#required": {}
          }
        },
        "postal_info": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministratorPostalInfo",
          "traits": {
            "smithy.api#documentation": "Postal/mailing information for the contact. The `name` field is the complete contact name in one string. Some registries require a complete personal name, including a family or last name where applicable, but this API does not accept separate first-name and last-name fields for registration contacts.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContacts": {
      "type": "structure",
      "members": {
        "administrator": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactsAdministrator",
          "traits": {
            "smithy.api#documentation": "Contact data for the domain registration. This information is submitted to the domain registry and, depending on extension and privacy settings, may appear in public WHOIS records."
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Prefer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Prefer"
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension (e.g., `example.com`, `mybrand.app`). The domain name uniquely identifies a registration — the same domain cannot be registered twice, making it a natural idempotency key for registration requests.",
            "smithy.api#required": {}
          }
        },
        "acknowledgements": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestAcknowledgementsMap",
          "traits": {
            "smithy.api#documentation": "User acknowledgements required by a specific extension or premium registration flow. The expected keys are described by the extension registration schema returned by the extension discovery endpoint."
          }
        },
        "auto_renew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable or disable automatic renewal. Defaults to `false` if omitted. Setting this field to `true` is an explicit opt-in authorizing Cloudflare to charge the account’s default payment method up to 30 days before domain expiry to renew the domain automatically. Renewal pricing may change over time based on registry pricing."
          }
        },
        "contact_extensions": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContactExtensionsMap",
          "traits": {
            "smithy.api#documentation": "Registry-specific contact extension values for the registrant. The required keys and allowed values vary by extension and are described by `GET /accounts/{account_id}/registrar/extensions/{extension}` in the `registration_schema.properties.contact_extensions` object."
          }
        },
        "contacts": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequestContacts",
          "traits": {
            "smithy.api#documentation": "Contact data for the registration request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateResponseLinks": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to this status resource.",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the domain resource."
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateResponseState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateResponseContextMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine-readable error code identifying the failure reason.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the failure. May include registry-specific details.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreateResponse": {
      "type": "structure",
      "members": {
        "completed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the workflow has reached a terminal state. `true` when `state` is `succeeded` or `failed`. `false` for `pending`, `in_progress`, `action_required`, and `blocked`.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateResponseLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateResponseState",
          "traits": {
            "smithy.api#documentation": "Workflow lifecycle state.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "context": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateResponseContextMap",
          "traits": {
            "smithy.api#documentation": "Workflow-specific data for this workflow."
          }
        },
        "error": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateResponseError",
          "traits": {
            "smithy.api#documentation": "Error details when a workflow reaches the `failed` state. The specific error codes and messages depend on the workflow type (registration, update, etc.) and the underlying registry response. These workflow error codes are separate from immediate HTTP error `errors[].code`values returned by non-2xx responses. Surface `error.message` to the user for context."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar_sandbox#RegistrationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/registrar-sandbox/registrations",
          "code": 200
        },
        "smithy.api#documentation": "Starts a domain registration workflow."
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsEditRequestPrefer": {
      "type": "enum",
      "members": {
        "RESPOND_ASYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "respond-async"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension (e.g., `example.com`, `mybrand.app`). The domain name uniquely identifies a registration — the same domain cannot be registered twice, making it a natural idempotency key for registration requests.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Prefer": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsEditRequestPrefer",
          "traits": {
            "smithy.api#httpHeader": "Prefer"
          }
        },
        "auto_renew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable or disable automatic renewal. Setting this field to `true` authorizes Cloudflare to charge the account’s default payment method up to 30 days before domain expiry to renew the domain automatically. Renewal pricing may change over time based on registry pricing."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsEditResponseLinks": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to this status resource.",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the domain resource."
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsEditResponseState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsEditResponseContextMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsEditResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine-readable error code identifying the failure reason.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the failure. May include registry-specific details.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsEditResponse": {
      "type": "structure",
      "members": {
        "completed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the workflow has reached a terminal state. `true` when `state` is `succeeded` or `failed`. `false` for `pending`, `in_progress`, `action_required`, and `blocked`.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsEditResponseLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsEditResponseState",
          "traits": {
            "smithy.api#documentation": "Workflow lifecycle state.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "context": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsEditResponseContextMap",
          "traits": {
            "smithy.api#documentation": "Workflow-specific data for this workflow."
          }
        },
        "error": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsEditResponseError",
          "traits": {
            "smithy.api#documentation": "Error details when a workflow reaches the `failed` state. The specific error codes and messages depend on the workflow type (registration, update, etc.) and the underlying registry response. These workflow error codes are separate from immediate HTTP error `errors[].code`values returned by non-2xx responses. Surface `error.message` to the user for context."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar_sandbox#RegistrationsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar_sandbox#RegistrationsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/registrar-sandbox/registrations/{domain_name}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an existing domain registration. By default, the server holds the connection for a bounded, server-defined amount of time while the update completes. Most updates finish within this window and return `200 OK` with a completed workflow status. If the update is still processing after this synchronous wait window, the server returns `202 Accepted`. Poll the URL in `links.self` to track progress. To skip the wait and receive an immediate `202`, send `Prefer: respond-async`. This endpoint currently supports updating `auto_renew` only."
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension (e.g., `example.com`, `mybrand.app`). The domain name uniquely identifies a registration — the same domain cannot be registered twice, making it a natural idempotency key for registration requests.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsGetResponsePrivacyMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "REDACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redaction"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsGetResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "REGISTRATION_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registration_pending"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "REDEMPTION_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redemption_period"
          }
        },
        "PENDING_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_delete"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsGetResponse": {
      "type": "structure",
      "members": {
        "auto_renew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the domain will be automatically renewed before expiration.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain was registered. Present when the registration resource exists.",
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension (e.g., `example.com`, `mybrand.app`). The domain name uniquely identifies a registration — the same domain cannot be registered twice, making it a natural idempotency key for registration requests.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain registration expires. Present when the registration is ready; may be null only while `status` is `registration_pending`.",
            "smithy.api#required": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the domain is locked for transfer.",
            "smithy.api#required": {}
          }
        },
        "privacy_mode": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsGetResponsePrivacyMode",
          "traits": {
            "smithy.api#documentation": "Current WHOIS privacy mode for the registration.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsGetResponseStatus",
          "traits": {
            "smithy.api#documentation": "Current registration status.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar_sandbox#RegistrationsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar_sandbox#RegistrationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar-sandbox/registrations/{domain_name}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the current state of a domain registration. This is the canonical read endpoint for a domain you own. It returns the full registration resource including current settings and expiration. When the registration resource is ready, both `created_at` and `expires_at`are present in the response.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsListRequestSortBy": {
      "type": "enum",
      "members": {
        "REGISTRY_CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registry_created_at"
          }
        },
        "REGISTRY_EXPIRES_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registry_expires_at"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque token from a previous response’s `result_info.cursor`. Pass this value to fetch the next page of results. Omit (or pass an empty string) for the first page.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "direction": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Sort direction for results. Defaults to ascending order.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of items to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "sort_by": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsListRequestSortBy",
          "traits": {
            "smithy.api#documentation": "Column to sort results by. Defaults to registration date (`registry_created_at`) when omitted.",
            "smithy.api#httpQuery": "sort_by"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsListResultItemPrivacyMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "REDACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redaction"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsListResultItemStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "REGISTRATION_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registration_pending"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "REDEMPTION_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redemption_period"
          }
        },
        "PENDING_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_delete"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsListResultItem": {
      "type": "structure",
      "members": {
        "auto_renew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the domain will be automatically renewed before expiration.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain was registered. Present when the registration resource exists.",
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension (e.g., `example.com`, `mybrand.app`). The domain name uniquely identifies a registration — the same domain cannot be registered twice, making it a natural idempotency key for registration requests.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain registration expires. Present when the registration is ready; may be null only while `status` is `registration_pending`.",
            "smithy.api#required": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the domain is locked for transfer.",
            "smithy.api#required": {}
          }
        },
        "privacy_mode": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsListResultItemPrivacyMode",
          "traits": {
            "smithy.api#documentation": "Current WHOIS privacy mode for the registration.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsListResultItemStatus",
          "traits": {
            "smithy.api#documentation": "Current registration status.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.registrar_sandbox#RegistrationsListResultItem"
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrationsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar_sandbox#RegistrationsListRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar_sandbox#RegistrationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar-sandbox/registrations",
          "code": 200
        },
        "smithy.api#documentation": "Returns a paginated list of domain registrations owned by the account. This endpoint uses cursor-based pagination. Results are ordered by registration date by default. To fetch the next page, pass the `cursor` value from the `result_info` object in the response as the `cursor` query parameter in your next request. An empty `cursor` string indicates there are no more pages.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar_sandbox#UpdateStatusGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension (e.g., `example.com`, `mybrand.app`). The domain name uniquely identifies a registration — the same domain cannot be registered twice, making it a natural idempotency key for registration requests.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar_sandbox#UpdateStatusGetResponseLinks": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to this status resource.",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the domain resource."
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#UpdateStatusGetResponseState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#UpdateStatusGetResponseContextMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.registrar_sandbox#UpdateStatusGetResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine-readable error code identifying the failure reason.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the failure. May include registry-specific details.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar_sandbox#UpdateStatusGetResponse": {
      "type": "structure",
      "members": {
        "completed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the workflow has reached a terminal state. `true` when `state` is `succeeded` or `failed`. `false` for `pending`, `in_progress`, `action_required`, and `blocked`.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.cloudflare.registrar_sandbox#UpdateStatusGetResponseLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.cloudflare.registrar_sandbox#UpdateStatusGetResponseState",
          "traits": {
            "smithy.api#documentation": "Workflow lifecycle state.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "context": {
          "target": "com.cloudflare.registrar_sandbox#UpdateStatusGetResponseContextMap",
          "traits": {
            "smithy.api#documentation": "Workflow-specific data for this workflow."
          }
        },
        "error": {
          "target": "com.cloudflare.registrar_sandbox#UpdateStatusGetResponseError",
          "traits": {
            "smithy.api#documentation": "Error details when a workflow reaches the `failed` state. The specific error codes and messages depend on the workflow type (registration, update, etc.) and the underlying registry response. These workflow error codes are separate from immediate HTTP error `errors[].code`values returned by non-2xx responses. Surface `error.message` to the user for context."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar_sandbox#UpdateStatusGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar_sandbox#UpdateStatusGetRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar_sandbox#UpdateStatusGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar-sandbox/registrations/{domain_name}/update-status",
          "code": 200
        },
        "smithy.api#documentation": "Returns the current status of a domain update workflow. Use this endpoint to poll for completion when the PATCH response returned `202 Accepted`. The URL is provided in the `links.self`field of the workflow status response. Poll this endpoint until the workflow reaches a terminal state or a state that requires user attention. Use increasing backoff between polls. When the workflow remains blocked on a third party, use a longer polling interval and do not poll indefinitely.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar_sandbox#RegistrarSandbox": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.registrar_sandbox#Check"
        },
        {
          "target": "com.cloudflare.registrar_sandbox#Search"
        },
        {
          "target": "com.cloudflare.registrar_sandbox#ExtensionsGet"
        },
        {
          "target": "com.cloudflare.registrar_sandbox#ExtensionsList"
        },
        {
          "target": "com.cloudflare.registrar_sandbox#RegistrationStatusGet"
        },
        {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsCreate"
        },
        {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsEdit"
        },
        {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsGet"
        },
        {
          "target": "com.cloudflare.registrar_sandbox#RegistrationsList"
        },
        {
          "target": "com.cloudflare.registrar_sandbox#UpdateStatusGet"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare RegistrarSandbox",
        "smithy.api#documentation": "Cloudflare API — registrar_sandbox resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
