{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.resource_tagging#ListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#ListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.resource_tagging#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.resource_tagging#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.resource_tagging#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tags/resources",
          "code": 200
        },
        "smithy.api#documentation": "Lists all tagged resources for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "If_Match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP",
            "smithy.api#httpHeader": "If-Match"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#AccountTagsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Removes all tags from a specific account-level resource.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#AccountTagsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#AccountTagsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves tags for a specific account-level resource.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#AccountTagsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#AccountTagsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Creates or updates tags for a specific account-level resource.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.resource_tagging#KeysListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination.",
            "smithy.api#httpQuery": "cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#KeysListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#KeysListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.resource_tagging#KeysListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.resource_tagging#KeysList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#KeysListRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#KeysListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tags/keys",
          "code": 200
        },
        "smithy.api#documentation": "Lists all distinct tag keys used across resources in an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.resource_tagging#SummaryGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination.",
            "smithy.api#httpQuery": "cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#SummaryGetResultItemValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#SummaryGetResultItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A tag key.",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.resource_tagging#SummaryGetResultItemValuesList",
          "traits": {
            "smithy.api#documentation": "All distinct values for this tag key.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#SummaryGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.resource_tagging#SummaryGetResultItem"
      }
    },
    "com.cloudflare.resource_tagging#SummaryGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.resource_tagging#SummaryGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.resource_tagging#SummaryGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#SummaryGetRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#SummaryGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tags/summary",
          "code": 200
        },
        "smithy.api#documentation": "Lists all distinct tag keys and their distinct values across resources in an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.resource_tagging#ValuesListRequestType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        },
        "ACCESS_APPLICATION_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application_policy"
          }
        },
        "ACCESS_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_group"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "ACCOUNT_RULESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account_ruleset"
          }
        },
        "AI_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_gateway"
          }
        },
        "ALERTING_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_policy"
          }
        },
        "ALERTING_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_webhook"
          }
        },
        "API_GATEWAY_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_gateway_operation"
          }
        },
        "CLOUDFLARED_TUNNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflared_tunnel"
          }
        },
        "CUSTOM_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_certificate"
          }
        },
        "CUSTOM_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_hostname"
          }
        },
        "D1_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "d1_database"
          }
        },
        "DNS_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_record"
          }
        },
        "DURABLE_OBJECT_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "durable_object_namespace"
          }
        },
        "GATEWAY_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_list"
          }
        },
        "GATEWAY_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_rule"
          }
        },
        "HEALTHCHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "healthcheck"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "INFRASTRUCTURE_TARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "infrastructure_target"
          }
        },
        "KV_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kv_namespace"
          }
        },
        "LOAD_BALANCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load_balancer"
          }
        },
        "LOAD_BALANCER_MONITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load_balancer_monitor"
          }
        },
        "LOAD_BALANCER_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load_balancer_pool"
          }
        },
        "MANAGED_CLIENT_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_client_certificate"
          }
        },
        "PAGES_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pages_project"
          }
        },
        "QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queue"
          }
        },
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        },
        "RESOURCE_SHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource_share"
          }
        },
        "STREAM_LIVE_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream_live_input"
          }
        },
        "STREAM_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream_video"
          }
        },
        "VECTORIZE_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vectorize_index"
          }
        },
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        },
        "WORKER_ROUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker_route"
          }
        },
        "WORKER_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker_version"
          }
        },
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "ZONE_RULESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone_ruleset"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ValuesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tag_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ValuesListRequestType",
          "traits": {
            "smithy.api#documentation": "Filter by resource type.",
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#ValuesListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ValuesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.resource_tagging#ValuesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.resource_tagging#ValuesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#ValuesListRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#ValuesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tags/values/{tag_key}",
          "code": 200
        },
        "smithy.api#documentation": "Lists all distinct values for a given tag key, optionally filtered by resource type.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "If_Match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP",
            "smithy.api#httpHeader": "If-Match"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#ZoneTagsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Removes all tags from a specific zone-level resource.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#ZoneTagsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#ZoneTagsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves tags for a specific zone-level resource.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#ZoneTagsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#ZoneTagsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Creates or updates tags for a specific zone-level resource. Replaces all existing tags for the resource.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.resource_tagging#ResourceTagging": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.resource_tagging#List"
        },
        {
          "target": "com.cloudflare.resource_tagging#AccountTagsDelete"
        },
        {
          "target": "com.cloudflare.resource_tagging#AccountTagsGet"
        },
        {
          "target": "com.cloudflare.resource_tagging#AccountTagsUpdate"
        },
        {
          "target": "com.cloudflare.resource_tagging#KeysList"
        },
        {
          "target": "com.cloudflare.resource_tagging#SummaryGet"
        },
        {
          "target": "com.cloudflare.resource_tagging#ValuesList"
        },
        {
          "target": "com.cloudflare.resource_tagging#ZoneTagsDelete"
        },
        {
          "target": "com.cloudflare.resource_tagging#ZoneTagsGet"
        },
        {
          "target": "com.cloudflare.resource_tagging#ZoneTagsUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare ResourceTagging",
        "smithy.api#documentation": "Cloudflare API — resource_tagging resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
