{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.resource_tagging#ListRequestTagList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListRequestType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        },
        "ACCESS_APPLICATION_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application_policy"
          }
        },
        "ACCESS_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_group"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListRequestTypeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.resource_tagging#ListRequestType"
      }
    },
    "com.cloudflare.resource_tagging#ListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "tag": {
          "target": "com.cloudflare.resource_tagging#ListRequestTagList",
          "traits": {
            "smithy.api#documentation": "Filter resources by tag criteria. This parameter can be repeated multiple times, with AND logic between parameters.",
            "smithy.api#httpQuery": "tag"
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListRequestTypeList",
          "traits": {
            "smithy.api#documentation": "Filter by resource type. Can be repeated to filter by multiple types (OR logic). Example: ?type=zone&type=worker",
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource."
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags."
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemType"
        },
        "access_application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access application ID is required only for access_application_policy resources"
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources"
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker ID is required only for worker_version resources"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.resource_tagging#ListResultItem"
      }
    },
    "com.cloudflare.resource_tagging#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.resource_tagging#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.resource_tagging#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tags/resources",
          "code": 200
        },
        "smithy.api#documentation": "Lists all tagged resources for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "_If_Match_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "\"If-Match\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#AccountTagsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Removes all tags from a specific account-level resource.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetRequestResourceType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        },
        "ACCESS_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_group"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the resource to retrieve tags for.",
            "smithy.api#httpQuery": "resource_id",
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetRequestResourceType",
          "traits": {
            "smithy.api#documentation": "The type of the resource.",
            "smithy.api#httpQuery": "resource_type",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker identifier. Required for worker_version resources.",
            "smithy.api#httpQuery": "worker_id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResponseType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource."
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags."
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResponseType"
        },
        "access_application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access application ID is required only for access_application_policy resources"
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources"
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker ID is required only for worker_version resources"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#AccountTagsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#AccountTagsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves tags for a specific account-level resource.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsUpdateRequestBodyResourceType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        },
        "ACCESS_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_group"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsUpdateRequestBodyTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsUpdateRequestBody": {
      "type": "structure",
      "members": {
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource."
          }
        },
        "resource_type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsUpdateRequestBodyResourceType",
          "traits": {
            "smithy.api#documentation": "Enum for base account-level resource types (those with no extra required fields)."
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker ID is required only for worker_version resources"
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsUpdateRequestBodyTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags."
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "_If_Match_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "\"If-Match\""
          }
        },
        "body": {
          "target": "com.cloudflare.resource_tagging#AccountTagsUpdateRequestBody",
          "traits": {
            "smithy.api#documentation": "Request body schema for setting tags on account-level resources.",
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsUpdateResponseType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource."
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags."
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsUpdateResponseType"
        },
        "access_application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access application ID is required only for access_application_policy resources"
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources"
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker ID is required only for worker_version resources"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#AccountTagsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#AccountTagsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Creates or updates tags for a specific account-level resource.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.resource_tagging#KeysListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination.",
            "smithy.api#httpQuery": "cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#KeysListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#KeysListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.resource_tagging#KeysListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.resource_tagging#KeysList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#KeysListRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#KeysListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tags/keys",
          "code": 200
        },
        "smithy.api#documentation": "Lists all distinct tag keys used across resources in an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.resource_tagging#ValuesListRequestType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        },
        "ACCESS_APPLICATION_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application_policy"
          }
        },
        "ACCESS_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_group"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ValuesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tag_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ValuesListRequestType",
          "traits": {
            "smithy.api#documentation": "Filter by resource type.",
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#ValuesListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ValuesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.resource_tagging#ValuesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.resource_tagging#ValuesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#ValuesListRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#ValuesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tags/values/{tag_key}",
          "code": 200
        },
        "smithy.api#documentation": "Lists all distinct values for a given tag key, optionally filtered by resource type.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "_If_Match_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "\"If-Match\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#ZoneTagsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Removes all tags from a specific zone-level resource.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsGetRequestResourceType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application_policy"
          }
        },
        "API_GATEWAY_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_gateway_operation"
          }
        },
        "CUSTOM_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_certificate"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the resource to retrieve tags for.",
            "smithy.api#httpQuery": "resource_id",
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "com.cloudflare.resource_tagging#ZoneTagsGetRequestResourceType",
          "traits": {
            "smithy.api#documentation": "The type of the resource.",
            "smithy.api#httpQuery": "resource_type",
            "smithy.api#required": {}
          }
        },
        "access_application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access application ID identifier. Required for access_application_policy resources.",
            "smithy.api#httpQuery": "access_application_id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsGetResponseType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource."
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ZoneTagsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags."
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ZoneTagsGetResponseType"
        },
        "access_application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access application ID is required only for access_application_policy resources"
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources"
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker ID is required only for worker_version resources"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#ZoneTagsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#ZoneTagsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves tags for a specific zone-level resource.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsUpdateRequestBodyResourceType": {
      "type": "enum",
      "members": {
        "API_GATEWAY_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_gateway_operation"
          }
        },
        "CUSTOM_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_certificate"
          }
        },
        "CUSTOM_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_hostname"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsUpdateRequestBodyTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsUpdateRequestBody": {
      "type": "structure",
      "members": {
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource."
          }
        },
        "resource_type": {
          "target": "com.cloudflare.resource_tagging#ZoneTagsUpdateRequestBodyResourceType",
          "traits": {
            "smithy.api#documentation": "Enum for base zone-level resource types (those with no extra required fields)."
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ZoneTagsUpdateRequestBodyTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags."
          }
        },
        "access_application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access application ID is required only for access_application_policy resources"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "_If_Match_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "\"If-Match\""
          }
        },
        "body": {
          "target": "com.cloudflare.resource_tagging#ZoneTagsUpdateRequestBody",
          "traits": {
            "smithy.api#documentation": "Request body schema for setting tags on zone-level resources.",
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsUpdateResponseType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource."
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ZoneTagsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags."
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ZoneTagsUpdateResponseType"
        },
        "access_application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access application ID is required only for access_application_policy resources"
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources"
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker ID is required only for worker_version resources"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.resource_tagging#ZoneTagsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#ZoneTagsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#ZoneTagsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Creates or updates tags for a specific zone-level resource. Replaces all existing tags for the resource.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.resource_tagging#ResourceTagging": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.resource_tagging#List"
        },
        {
          "target": "com.cloudflare.resource_tagging#AccountTagsDelete"
        },
        {
          "target": "com.cloudflare.resource_tagging#AccountTagsGet"
        },
        {
          "target": "com.cloudflare.resource_tagging#AccountTagsUpdate"
        },
        {
          "target": "com.cloudflare.resource_tagging#KeysList"
        },
        {
          "target": "com.cloudflare.resource_tagging#ValuesList"
        },
        {
          "target": "com.cloudflare.resource_tagging#ZoneTagsDelete"
        },
        {
          "target": "com.cloudflare.resource_tagging#ZoneTagsGet"
        },
        {
          "target": "com.cloudflare.resource_tagging#ZoneTagsUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare ResourceTagging",
        "smithy.api#documentation": "Cloudflare API — resource_tagging resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
