{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.rulesets#CreateRequestRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#CreateRequestRulesItem"
      }
    },
    "com.cloudflare.rulesets#CreateRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#CreateRequestRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#CreateResponseRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#CreateResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#CreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#CreateResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Creates a ruleset."
      }
    },
    "com.cloudflare.rulesets#DeleteRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#DeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes all versions of an existing account or zone ruleset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#GetRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#GetResponseRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#GetResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#GetResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the latest version of an account or zone ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#ListRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor to use for the next page.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of rulesets to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#ListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      }
    },
    "com.cloudflare.rulesets#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#ListResultItem"
      }
    },
    "com.cloudflare.rulesets#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.rulesets#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Fetches all rulesets.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#UpdateRequestRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#UpdateRequestRulesItem"
      }
    },
    "com.cloudflare.rulesets#UpdateRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset."
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset."
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#UpdateRequestRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#UpdateResponseRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#UpdateResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#UpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#UpdateResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an account or zone ruleset, creating a new version.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#PhasesGetRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#PhasesGetResponseRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#PhasesGetResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#PhasesGetResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#PhasesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#PhasesGetResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#PhasesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#PhasesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#PhasesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/rulesets/phases/{ruleset_phase}/entrypoint",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the latest version of the account or zone entry point ruleset for a given phase.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#PhasesUpdateRequestRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#PhasesUpdateRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#PhasesUpdateRequestRulesItem"
      }
    },
    "com.cloudflare.rulesets#PhasesUpdateRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset."
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#PhasesUpdateRequestRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#PhasesUpdateResponseRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#PhasesUpdateResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#PhasesUpdateResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#PhasesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#PhasesUpdateResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#PhasesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#PhasesUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#PhasesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/rulesets/phases/{ruleset_phase}/entrypoint",
          "code": 200
        },
        "smithy.api#documentation": "Updates an account or zone entry point ruleset, creating a new version.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsGetRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsGetResponseRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsGetResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#PhasesVersionsGetResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#PhasesVersionsGetResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#PhasesVersionsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#PhasesVersionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/rulesets/phases/{ruleset_phase}/entrypoint/versions/{ruleset_version}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches a specific version of an account or zone entry point ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListRequest": {
      "type": "structure",
      "members": {
        "accounts_or_zones": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_or_zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#PhasesVersionsListResultItem"
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.rulesets#PhasesVersionsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#PhasesVersionsListRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#PhasesVersionsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accounts_or_zones}/{account_or_zone_id}/rulesets/phases/{ruleset_phase}/entrypoint/versions",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the versions of an account or zone entry point ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#RulesCreateRequestBodyBlockRulePosition": {
      "type": "structure",
      "members": {
        "BeforePosition_object___before__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "BeforePosition object { before }"
          }
        },
        "AfterPosition_object___after__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "AfterPosition object { after }"
          }
        },
        "IndexPosition_object___index__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "IndexPosition object { index }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#RulesCreateRequestBodyBlockRule": {
      "type": "structure",
      "members": {
        "position": {
          "target": "com.cloudflare.rulesets#RulesCreateRequestBodyBlockRulePosition",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed."
          }
        }
      }
    },
    "com.cloudflare.rulesets#RulesCreateRequestBodyResponseCompressionRulePosition": {
      "type": "structure",
      "members": {
        "BeforePosition_object___before__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "BeforePosition object { before }"
          }
        },
        "AfterPosition_object___after__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "AfterPosition object { after }"
          }
        },
        "IndexPosition_object___index__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "IndexPosition object { index }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#RulesCreateRequestBodyResponseCompressionRule": {
      "type": "structure",
      "members": {
        "position": {
          "target": "com.cloudflare.rulesets#RulesCreateRequestBodyResponseCompressionRulePosition",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed."
          }
        }
      }
    },
    "com.cloudflare.rulesets#RulesCreateRequestBodyDDoSDynamicRulePosition": {
      "type": "structure",
      "members": {
        "BeforePosition_object___before__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "BeforePosition object { before }"
          }
        },
        "AfterPosition_object___after__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "AfterPosition object { after }"
          }
        },
        "IndexPosition_object___index__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "IndexPosition object { index }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#RulesCreateRequestBodyDDoSDynamicRule": {
      "type": "structure",
      "members": {
        "position": {
          "target": "com.cloudflare.rulesets#RulesCreateRequestBodyDDoSDynamicRulePosition",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed."
          }
        }
      }
    },
    "com.cloudflare.rulesets#RulesCreateRequestBodyExecuteRulePosition": {
      "type": "structure",
      "members": {
        "BeforePosition_object___before__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "BeforePosition object { before }"
          }
        },
        "AfterPosition_object___after__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "AfterPosition object { after }"
          }
        },
        "IndexPosition_object___index__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "IndexPosition object { index }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#RulesCreateRequestBodyExecuteRule": {
      "type": "structure",
      "members": {
        "position": {
          "target": "com.cloudflare.rulesets#RulesCreateRequestBodyExecuteRulePosition",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed."
          }
        }
      }
    },
    "com.cloudflare.rulesets#RulesCreateRequestBodyForceConnectionCloseRulePosition": {
      "type": "structure",
      "members": {
        "BeforePosition_object___before__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "BeforePosition object { before }"
          }
        },
        "AfterPosition_object___after__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "AfterPosition object { after }"
          }
        },
        "IndexPosition_object___index__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "IndexPosition object { index }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#RulesCreateRequestBodyForceConnectionCloseRule": {
      "type": "structure",
      "members": {
        "position": {
          "target": "com.cloudflare.rulesets#RulesCreateRequestBodyForceConnectionCloseRulePosition",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed."
          }
        }
      }
    },
    "com.cloudflare.rulesets#RulesCreateRequestBodyLogRulePosition": {
      "type": "structure",
      "members": {
        "BeforePosition_object___before__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object configuring where the rule will be placed.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "BeforePosition object { before }"
          }
        },
        "AfterPosition_object___after__": {
[...]
