{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.rulesets#CreateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#CreateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#CreateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#CreateForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Creates a ruleset."
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#CreateForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#CreateForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#CreateForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Creates a ruleset."
      }
    },
    "com.cloudflare.rulesets#DeleteForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Validates the request without persisting changes when set to `true`. Responses that normally return 200 return `result: null`; endpoints that normally return 204 continue to return 204.",
            "smithy.api#httpQuery": "dry_run"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#DeleteForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#DeleteForAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes all versions of an existing account or zone ruleset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#DeleteForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Validates the request without persisting changes when set to `true`. Responses that normally return 200 return `result: null`; endpoints that normally return 204 continue to return 204.",
            "smithy.api#httpQuery": "dry_run"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#DeleteForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#DeleteForZoneRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes all versions of an existing account or zone ruleset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#GetForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponseRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#GetForAccountResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#GetForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#GetForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#GetForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the latest version of an account or zone ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#GetForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponseRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#GetForZoneResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#GetForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#GetForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#GetForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the latest version of an account or zone ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#ListForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor to use for the next page.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of rulesets to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#ListForAccountResultItemKind": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "ROOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "root"
          }
        },
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.rulesets#ListForAccountResultItemPhase": {
      "type": "enum",
      "members": {
        "DDOS_L4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ddos_l4"
          }
        },
        "DDOS_L7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ddos_l7"
          }
        },
        "HTTP_CONFIG_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_config_settings"
          }
        },
        "HTTP_CUSTOM_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_custom_errors"
          }
        },
        "HTTP_LOG_CUSTOM_FIELDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_log_custom_fields"
          }
        },
        "HTTP_RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_ratelimit"
          }
        },
        "HTTP_REQUEST_CACHE_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_cache_settings"
          }
        },
        "HTTP_REQUEST_DYNAMIC_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_dynamic_redirect"
          }
        },
        "HTTP_REQUEST_FIREWALL_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_firewall_custom"
          }
        },
        "HTTP_REQUEST_FIREWALL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_firewall_managed"
          }
        },
        "HTTP_REQUEST_LATE_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_late_transform"
          }
        },
        "HTTP_REQUEST_ORIGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_origin"
          }
        },
        "HTTP_REQUEST_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_redirect"
          }
        },
        "HTTP_REQUEST_SANITIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_sanitize"
          }
        },
        "HTTP_REQUEST_SBFM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_sbfm"
          }
        },
        "HTTP_REQUEST_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_transform"
          }
        },
        "HTTP_RESPONSE_CACHE_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_cache_settings"
          }
        },
        "HTTP_RESPONSE_COMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_compression"
          }
        },
        "HTTP_RESPONSE_FIREWALL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_firewall_managed"
          }
        },
        "HTTP_RESPONSE_HEADERS_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_headers_transform"
          }
        },
        "MAGIC_TRANSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit"
          }
        },
        "MAGIC_TRANSIT_IDS_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_ids_managed"
          }
        },
        "MAGIC_TRANSIT_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_managed"
          }
        },
        "MAGIC_TRANSIT_RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_ratelimit"
          }
        }
      }
    },
    "com.cloudflare.rulesets#ListForAccountResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.rulesets#ListForAccountResultItemKind",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "com.cloudflare.rulesets#ListForAccountResultItemPhase",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      }
    },
    "com.cloudflare.rulesets#ListForAccountResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#ListForAccountResultItem"
      }
    },
    "com.cloudflare.rulesets#ListForAccountResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.rulesets#ListForAccountResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#ListForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#ListForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#ListForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Fetches all rulesets.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#ListForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor to use for the next page.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of rulesets to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#ListForZoneResultItemKind": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "ROOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "root"
          }
        },
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.rulesets#ListForZoneResultItemPhase": {
      "type": "enum",
      "members": {
        "DDOS_L4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ddos_l4"
          }
        },
        "DDOS_L7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ddos_l7"
          }
        },
        "HTTP_CONFIG_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_config_settings"
          }
        },
        "HTTP_CUSTOM_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_custom_errors"
          }
        },
        "HTTP_LOG_CUSTOM_FIELDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_log_custom_fields"
          }
        },
        "HTTP_RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_ratelimit"
          }
        },
        "HTTP_REQUEST_CACHE_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_cache_settings"
          }
        },
        "HTTP_REQUEST_DYNAMIC_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_dynamic_redirect"
          }
        },
        "HTTP_REQUEST_FIREWALL_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_firewall_custom"
          }
        },
        "HTTP_REQUEST_FIREWALL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_firewall_managed"
          }
        },
        "HTTP_REQUEST_LATE_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_late_transform"
          }
        },
        "HTTP_REQUEST_ORIGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_origin"
          }
        },
        "HTTP_REQUEST_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_redirect"
          }
        },
        "HTTP_REQUEST_SANITIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_sanitize"
          }
        },
        "HTTP_REQUEST_SBFM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_sbfm"
          }
        },
        "HTTP_REQUEST_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_transform"
          }
        },
        "HTTP_RESPONSE_CACHE_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_cache_settings"
          }
        },
        "HTTP_RESPONSE_COMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_compression"
          }
        },
        "HTTP_RESPONSE_FIREWALL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_firewall_managed"
          }
        },
        "HTTP_RESPONSE_HEADERS_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_headers_transform"
          }
        },
        "MAGIC_TRANSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit"
          }
        },
        "MAGIC_TRANSIT_IDS_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_ids_managed"
          }
        },
        "MAGIC_TRANSIT_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_managed"
          }
        },
        "MAGIC_TRANSIT_RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_ratelimit"
          }
        }
      }
    },
    "com.cloudflare.rulesets#ListForZoneResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.rulesets#ListForZoneResultItemKind",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "com.cloudflare.rulesets#ListForZoneResultItemPhase",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      }
    },
    "com.cloudflare.rulesets#ListForZoneResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#ListForZoneResultItem"
      }
    },
    "com.cloudflare.rulesets#ListForZoneResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.rulesets#ListForZoneResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#ListForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#ListForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#ListForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Fetches all rulesets.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#UpdateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#UpdateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#UpdateForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an account or zone ruleset, creating a new version.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#UpdateForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#UpdateForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#UpdateForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an account or zone ruleset, creating a new version.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#PhasesGetForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#PhasesGetForAccountResponseRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.rulesets#PhasesGetForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#PhasesGetForAccountResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#PhasesGetForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#PhasesGetForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#PhasesGetForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/rulesets/phases/{ruleset_phase}/entrypoint",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the latest version of the account or zone entry point ruleset for a given phase.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#PhasesGetForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#PhasesGetForZoneResponseRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.rulesets#PhasesGetForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#PhasesGetForZoneResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#PhasesGetForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#PhasesGetForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#PhasesGetForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/rulesets/phases/{ruleset_phase}/entrypoint",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the latest version of the account or zone entry point ruleset for a given phase.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#PhasesUpdateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#PhasesUpdateForAccountResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#PhasesUpdateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#PhasesUpdateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#PhasesUpdateForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/rulesets/phases/{ruleset_phase}/entrypoint",
          "code": 200
        },
        "smithy.api#documentation": "Updates an account or zone entry point ruleset, creating a new version.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#PhasesUpdateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#PhasesUpdateForZoneResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#PhasesUpdateForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#PhasesUpdateForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#PhasesUpdateForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/rulesets/phases/{ruleset_phase}/entrypoint",
          "code": 200
        },
        "smithy.api#documentation": "Updates an account or zone entry point ruleset, creating a new version.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsGetForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsGetForAccountResponseRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsGetForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#PhasesVersionsGetForAccountResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsGetForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#PhasesVersionsGetForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#PhasesVersionsGetForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/rulesets/phases/{ruleset_phase}/entrypoint/versions/{ruleset_version}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches a specific version of an account or zone entry point ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsGetForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsGetForZoneResponseRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsGetForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#PhasesVersionsGetForZoneResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsGetForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#PhasesVersionsGetForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#PhasesVersionsGetForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/rulesets/phases/{ruleset_phase}/entrypoint/versions/{ruleset_version}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches a specific version of an account or zone entry point ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForAccountResultItemKind": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "ROOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "root"
          }
        },
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForAccountResultItemPhase": {
      "type": "enum",
      "members": {
        "DDOS_L4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ddos_l4"
          }
        },
        "DDOS_L7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ddos_l7"
          }
        },
        "HTTP_CONFIG_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_config_settings"
          }
        },
        "HTTP_CUSTOM_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_custom_errors"
          }
        },
        "HTTP_LOG_CUSTOM_FIELDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_log_custom_fields"
          }
        },
        "HTTP_RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_ratelimit"
          }
        },
        "HTTP_REQUEST_CACHE_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_cache_settings"
          }
        },
        "HTTP_REQUEST_DYNAMIC_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_dynamic_redirect"
          }
        },
        "HTTP_REQUEST_FIREWALL_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_firewall_custom"
          }
        },
        "HTTP_REQUEST_FIREWALL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_firewall_managed"
          }
        },
        "HTTP_REQUEST_LATE_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_late_transform"
          }
        },
        "HTTP_REQUEST_ORIGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_origin"
          }
        },
        "HTTP_REQUEST_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_redirect"
          }
        },
        "HTTP_REQUEST_SANITIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_sanitize"
          }
        },
        "HTTP_REQUEST_SBFM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_sbfm"
          }
        },
        "HTTP_REQUEST_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_transform"
          }
        },
        "HTTP_RESPONSE_CACHE_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_cache_settings"
          }
        },
        "HTTP_RESPONSE_COMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_compression"
          }
        },
        "HTTP_RESPONSE_FIREWALL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_firewall_managed"
          }
        },
        "HTTP_RESPONSE_HEADERS_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_headers_transform"
          }
        },
        "MAGIC_TRANSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit"
          }
        },
        "MAGIC_TRANSIT_IDS_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_ids_managed"
          }
        },
        "MAGIC_TRANSIT_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_managed"
          }
        },
        "MAGIC_TRANSIT_RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_ratelimit"
          }
        }
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForAccountResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.rulesets#PhasesVersionsListForAccountResultItemKind",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "com.cloudflare.rulesets#PhasesVersionsListForAccountResultItemPhase",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForAccountResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#PhasesVersionsListForAccountResultItem"
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForAccountResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.rulesets#PhasesVersionsListForAccountResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#PhasesVersionsListForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#PhasesVersionsListForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/rulesets/phases/{ruleset_phase}/entrypoint/versions",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the versions of an account or zone entry point ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForZoneResultItemKind": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "ROOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "root"
          }
        },
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForZoneResultItemPhase": {
      "type": "enum",
      "members": {
        "DDOS_L4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ddos_l4"
          }
        },
        "DDOS_L7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ddos_l7"
          }
        },
        "HTTP_CONFIG_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_config_settings"
          }
        },
        "HTTP_CUSTOM_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_custom_errors"
          }
        },
        "HTTP_LOG_CUSTOM_FIELDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_log_custom_fields"
          }
        },
        "HTTP_RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_ratelimit"
          }
        },
        "HTTP_REQUEST_CACHE_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_cache_settings"
          }
        },
        "HTTP_REQUEST_DYNAMIC_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_dynamic_redirect"
          }
        },
        "HTTP_REQUEST_FIREWALL_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_firewall_custom"
          }
        },
        "HTTP_REQUEST_FIREWALL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_firewall_managed"
          }
        },
        "HTTP_REQUEST_LATE_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_late_transform"
          }
        },
        "HTTP_REQUEST_ORIGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_origin"
          }
        },
        "HTTP_REQUEST_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_redirect"
          }
        },
        "HTTP_REQUEST_SANITIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_sanitize"
          }
        },
        "HTTP_REQUEST_SBFM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_sbfm"
          }
        },
        "HTTP_REQUEST_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_transform"
          }
        },
        "HTTP_RESPONSE_CACHE_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_cache_settings"
          }
        },
        "HTTP_RESPONSE_COMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_compression"
          }
        },
        "HTTP_RESPONSE_FIREWALL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_firewall_managed"
          }
        },
        "HTTP_RESPONSE_HEADERS_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_headers_transform"
          }
        },
        "MAGIC_TRANSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit"
          }
        },
        "MAGIC_TRANSIT_IDS_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_ids_managed"
          }
        },
        "MAGIC_TRANSIT_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_managed"
          }
        },
        "MAGIC_TRANSIT_RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_ratelimit"
          }
        }
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForZoneResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.rulesets#PhasesVersionsListForZoneResultItemKind",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "com.cloudflare.rulesets#PhasesVersionsListForZoneResultItemPhase",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForZoneResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#PhasesVersionsListForZoneResultItem"
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForZoneResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.rulesets#PhasesVersionsListForZoneResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#PhasesVersionsListForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#PhasesVersionsListForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#PhasesVersionsListForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/rulesets/phases/{ruleset_phase}/entrypoint/versions",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the versions of an account or zone entry point ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#RulesCreateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#RulesCreateForAccountResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#RulesCreateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#RulesCreateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#RulesCreateForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}/rules",
          "code": 200
        },
        "smithy.api#documentation": "Adds a new rule to an account or zone ruleset. The rule will be added to the end of the existing list of rules in the ruleset by default."
      }
    },
    "com.cloudflare.rulesets#RulesCreateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#RulesCreateForZoneResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#RulesCreateForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#RulesCreateForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#RulesCreateForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/rulesets/{ruleset_id}/rules",
          "code": 200
        },
        "smithy.api#documentation": "Adds a new rule to an account or zone ruleset. The rule will be added to the end of the existing list of rules in the ruleset by default."
      }
    },
    "com.cloudflare.rulesets#RulesDeleteForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#RulesDeleteForAccountResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#RulesDeleteForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#RulesDeleteForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#RulesDeleteForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing rule from an account or zone ruleset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#RulesDeleteForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#RulesDeleteForZoneResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#RulesDeleteForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#RulesDeleteForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#RulesDeleteForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/rulesets/{ruleset_id}/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing rule from an account or zone ruleset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#RulesEditForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#RulesEditForAccountResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#RulesEditForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#RulesEditForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#RulesEditForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an existing rule in an account or zone ruleset."
      }
    },
    "com.cloudflare.rulesets#RulesEditForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#RulesEditForZoneResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#RulesEditForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#RulesEditForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#RulesEditForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/rulesets/{ruleset_id}/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an existing rule in an account or zone ruleset."
      }
    },
    "com.cloudflare.rulesets#VersionsDeleteForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Validates the request without persisting changes when set to `true`. Responses that normally return 200 return `result: null`; endpoints that normally return 204 continue to return 204.",
            "smithy.api#httpQuery": "dry_run"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#VersionsDeleteForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#VersionsDeleteForAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}/versions/{ruleset_version}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing version of an account or zone ruleset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#VersionsDeleteForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Validates the request without persisting changes when set to `true`. Responses that normally return 200 return `result: null`; endpoints that normally return 204 continue to return 204.",
            "smithy.api#httpQuery": "dry_run"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#VersionsDeleteForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#VersionsDeleteForZoneRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/rulesets/{ruleset_id}/versions/{ruleset_version}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing version of an account or zone ruleset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#VersionsGetForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#VersionsGetForAccountResponseRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.rulesets#VersionsGetForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#VersionsGetForAccountResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#VersionsGetForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#VersionsGetForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#VersionsGetForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}/versions/{ruleset_version}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches a specific version of an account or zone ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#VersionsGetForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#VersionsGetForZoneResponseRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.rulesets#VersionsGetForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#VersionsGetForZoneResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#VersionsGetForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#VersionsGetForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#VersionsGetForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/rulesets/{ruleset_id}/versions/{ruleset_version}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches a specific version of an account or zone ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#VersionsListForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#VersionsListForAccountResultItemKind": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "ROOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "root"
          }
        },
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.rulesets#VersionsListForAccountResultItemPhase": {
      "type": "enum",
      "members": {
        "DDOS_L4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ddos_l4"
          }
        },
        "DDOS_L7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ddos_l7"
          }
        },
        "HTTP_CONFIG_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_config_settings"
          }
        },
        "HTTP_CUSTOM_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_custom_errors"
          }
        },
        "HTTP_LOG_CUSTOM_FIELDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_log_custom_fields"
          }
        },
        "HTTP_RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_ratelimit"
          }
        },
        "HTTP_REQUEST_CACHE_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_cache_settings"
          }
        },
        "HTTP_REQUEST_DYNAMIC_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_dynamic_redirect"
          }
        },
        "HTTP_REQUEST_FIREWALL_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_firewall_custom"
          }
        },
        "HTTP_REQUEST_FIREWALL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_firewall_managed"
          }
        },
        "HTTP_REQUEST_LATE_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_late_transform"
          }
        },
        "HTTP_REQUEST_ORIGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_origin"
          }
        },
        "HTTP_REQUEST_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_redirect"
          }
        },
        "HTTP_REQUEST_SANITIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_sanitize"
          }
        },
        "HTTP_REQUEST_SBFM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_sbfm"
          }
        },
        "HTTP_REQUEST_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_request_transform"
          }
        },
        "HTTP_RESPONSE_CACHE_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_cache_settings"
          }
        },
        "HTTP_RESPONSE_COMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_compression"
          }
        },
        "HTTP_RESPONSE_FIREWALL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_firewall_managed"
          }
        },
        "HTTP_RESPONSE_HEADERS_TRANSFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_response_headers_transform"
          }
        },
        "MAGIC_TRANSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit"
          }
        },
        "MAGIC_TRANSIT_IDS_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_ids_managed"
          }
        },
        "MAGIC_TRANSIT_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_managed"
          }
        },
        "MAGIC_TRANSIT_RATELIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_transit_ratelimit"
          }
        }
      }
    },
    "com.cloudflare.rulesets#VersionsListForAccountResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.rulesets#VersionsListForAccountResultItemKind",
          "traits": {
[...]
