{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.rulesets#CreateForAccountRequestRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#CreateForAccountRequestRulesItem"
      }
    },
    "com.cloudflare.rulesets#CreateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#CreateForAccountRequestRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponseRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#CreateForAccountResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#CreateForAccountResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#CreateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#CreateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#CreateForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Creates a ruleset."
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequestRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#CreateForZoneRequestRulesItem"
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#CreateForZoneRequestRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponseRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#CreateForZoneResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#CreateForZoneResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#CreateForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#CreateForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#CreateForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Creates a ruleset."
      }
    },
    "com.cloudflare.rulesets#DeleteForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#DeleteForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#DeleteForAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes all versions of an existing account or zone ruleset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#DeleteForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#DeleteForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#DeleteForZoneRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes all versions of an existing account or zone ruleset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#GetForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponseRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#GetForAccountResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#GetForAccountResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#GetForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#GetForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#GetForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the latest version of an account or zone ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#GetForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponseRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#GetForZoneResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#GetForZoneResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#GetForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#GetForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#GetForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the latest version of an account or zone ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#ListForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor to use for the next page.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of rulesets to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#ListForAccountResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      }
    },
    "com.cloudflare.rulesets#ListForAccountResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#ListForAccountResultItem"
      }
    },
    "com.cloudflare.rulesets#ListForAccountResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.rulesets#ListForAccountResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#ListForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#ListForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#ListForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Fetches all rulesets.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#ListForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor to use for the next page.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of rulesets to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#ListForZoneResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      }
    },
    "com.cloudflare.rulesets#ListForZoneResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#ListForZoneResultItem"
      }
    },
    "com.cloudflare.rulesets#ListForZoneResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.rulesets#ListForZoneResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#ListForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#ListForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#ListForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Fetches all rulesets.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequestRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#UpdateForAccountRequestRulesItem"
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset."
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset."
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#UpdateForAccountRequestRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponseRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#UpdateForAccountResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#UpdateForAccountResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#UpdateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#UpdateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#UpdateForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an account or zone ruleset, creating a new version.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneRequestRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#UpdateForZoneRequestRulesItem"
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset."
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset."
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#UpdateForZoneRequestRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneResponseRulesItem": {
      "type": "structure",
      "members": {
        "BlockRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "BlockRule object { last_updated, version, id, 10 more }"
          }
        },
        "Challenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Challenge object { last_updated, version, id, 10 more }"
          }
        },
        "CompressResponseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "CompressResponseRule object { last_updated, version, id, 10 more }"
          }
        },
        "DDoSDynamicRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DDoSDynamicRule object { last_updated, version, id, 10 more }"
          }
        },
        "ExecuteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ExecuteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ForceConnectionCloseRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ForceConnectionCloseRule object { last_updated, version, id, 10 more }"
          }
        },
        "JSChallenge_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "JSChallenge object { last_updated, version, id, 10 more }"
          }
        },
        "LogRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogRule object { last_updated, version, id, 10 more }"
          }
        },
        "LogCustomFieldRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "LogCustomFieldRule object { last_updated, version, id, 10 more }"
          }
        },
        "ManagedChallengeRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ManagedChallengeRule object { last_updated, version, id, 10 more }"
          }
        },
        "RedirectRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RedirectRule object { last_updated, version, id, 10 more }"
          }
        },
        "RewriteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RewriteRule object { last_updated, version, id, 10 more }"
          }
        },
        "RouteRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "RouteRule object { last_updated, version, id, 10 more }"
          }
        },
        "ScoreRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ScoreRule object { last_updated, version, id, 10 more }"
          }
        },
        "ServeErrorRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ServeErrorRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheControl_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheControl object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheSettingsRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheSettingsRule object { last_updated, version, id, 10 more }"
          }
        },
        "SetCacheTags_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetCacheTags object { last_updated, version, id, 10 more }"
          }
        },
        "SetConfigRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SetConfigRule object { last_updated, version, id, 10 more }"
          }
        },
        "SkipRule_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SkipRule object { last_updated, version, id, 10 more }"
          }
        },
        "TransformResponseHTML_object___last_updated__version__id__10_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TransformResponseHTML object { last_updated, version, id, 10 more }"
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#UpdateForZoneResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#UpdateForZoneResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#UpdateForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#UpdateForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#UpdateForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an account or zone ruleset, creating a new version.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#PhasesGetForAccountRequest": {
      "type": "structure",
      "members": {
[...]
