{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.rulesets#CreateForAccountRequestRulesItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountRequestRulesItemActionParametersResponse": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content to return.",
            "smithy.api#required": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the content to return.",
            "smithy.api#required": {}
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The status code to return.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountRequestRulesItemActionParameters": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.cloudflare.rulesets#CreateForAccountRequestRulesItemActionParametersResponse",
          "traits": {
            "smithy.api#documentation": "The response to show when the block is applied."
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountRequestRulesItemCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#CreateForAccountRequestRulesItemExposedCredentialCheck": {
      "type": "structure",
      "members": {
        "password_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the password used in the credentials check.",
            "smithy.api#required": {}
          }
        },
        "username_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the user ID used in the credentials check.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountRequestRulesItemLogging": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to generate a log when the rule matches.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountRequestRulesItemRatelimitCharacteristicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#CreateForAccountRequestRulesItemRatelimit": {
      "type": "structure",
      "members": {
        "characteristics": {
          "target": "com.cloudflare.rulesets#CreateForAccountRequestRulesItemRatelimitCharacteristicsList",
          "traits": {
            "smithy.api#documentation": "Characteristics of the request on which the rate limit counter will be incremented.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period in seconds over which the counter is being incremented.",
            "smithy.api#required": {}
          }
        },
        "counting_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that defines when the rate limit counter should be incremented. It defaults to the same as the rule's expression."
          }
        },
        "mitigation_timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period of time in seconds after which the action will be disabled following its first execution."
          }
        },
        "requests_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold of requests per period after which the action will be executed for the first time."
          }
        },
        "requests_to_origin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether counting is only performed when an origin is reached."
          }
        },
        "score_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score threshold per period for which the action will be executed the first time."
          }
        },
        "score_response_header_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A response header name provided by the origin, which contains the score to increment rate limit counter with."
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountRequestRulesItem": {
      "type": "structure",
      "members": {
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the rule."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the rule."
          }
        },
        "action": {
          "target": "com.cloudflare.rulesets#CreateForAccountRequestRulesItemAction",
          "traits": {
            "smithy.api#documentation": "The action to perform when the rule matches."
          }
        },
        "action_parameters": {
          "target": "com.cloudflare.rulesets#CreateForAccountRequestRulesItemActionParameters",
          "traits": {
            "smithy.api#documentation": "The parameters configuring the rule's action."
          }
        },
        "categories": {
          "target": "com.cloudflare.rulesets#CreateForAccountRequestRulesItemCategoriesList",
          "traits": {
            "smithy.api#documentation": "The categories of the rule."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the rule."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the rule should be executed."
          }
        },
        "exposed_credential_check": {
          "target": "com.cloudflare.rulesets#CreateForAccountRequestRulesItemExposedCredentialCheck",
          "traits": {
            "smithy.api#documentation": "Configuration for exposed credential checking."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expression defining which traffic will match the rule."
          }
        },
        "logging": {
          "target": "com.cloudflare.rulesets#CreateForAccountRequestRulesItemLogging",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's logging behavior."
          }
        },
        "ratelimit": {
          "target": "com.cloudflare.rulesets#CreateForAccountRequestRulesItemRatelimit",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's rate limit behavior."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference of the rule (the rule's ID by default)."
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#CreateForAccountRequestRulesItem"
      }
    },
    "com.cloudflare.rulesets#CreateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#CreateForAccountRequestRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponseRulesItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponseRulesItemActionParametersResponse": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content to return.",
            "smithy.api#required": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the content to return.",
            "smithy.api#required": {}
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The status code to return.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponseRulesItemActionParameters": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.cloudflare.rulesets#CreateForAccountResponseRulesItemActionParametersResponse",
          "traits": {
            "smithy.api#documentation": "The response to show when the block is applied."
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponseRulesItemCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponseRulesItemExposedCredentialCheck": {
      "type": "structure",
      "members": {
        "password_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the password used in the credentials check.",
            "smithy.api#required": {}
          }
        },
        "username_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the user ID used in the credentials check.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponseRulesItemLogging": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to generate a log when the rule matches.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponseRulesItemRatelimitCharacteristicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponseRulesItemRatelimit": {
      "type": "structure",
      "members": {
        "characteristics": {
          "target": "com.cloudflare.rulesets#CreateForAccountResponseRulesItemRatelimitCharacteristicsList",
          "traits": {
            "smithy.api#documentation": "Characteristics of the request on which the rate limit counter will be incremented.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period in seconds over which the counter is being incremented.",
            "smithy.api#required": {}
          }
        },
        "counting_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that defines when the rate limit counter should be incremented. It defaults to the same as the rule's expression."
          }
        },
        "mitigation_timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period of time in seconds after which the action will be disabled following its first execution."
          }
        },
        "requests_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold of requests per period after which the action will be executed for the first time."
          }
        },
        "requests_to_origin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether counting is only performed when an origin is reached."
          }
        },
        "score_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score threshold per period for which the action will be executed the first time."
          }
        },
        "score_response_header_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A response header name provided by the origin, which contains the score to increment rate limit counter with."
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponseRulesItem": {
      "type": "structure",
      "members": {
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the rule."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the rule."
          }
        },
        "action": {
          "target": "com.cloudflare.rulesets#CreateForAccountResponseRulesItemAction",
          "traits": {
            "smithy.api#documentation": "The action to perform when the rule matches."
          }
        },
        "action_parameters": {
          "target": "com.cloudflare.rulesets#CreateForAccountResponseRulesItemActionParameters",
          "traits": {
            "smithy.api#documentation": "The parameters configuring the rule's action."
          }
        },
        "categories": {
          "target": "com.cloudflare.rulesets#CreateForAccountResponseRulesItemCategoriesList",
          "traits": {
            "smithy.api#documentation": "The categories of the rule."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the rule."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the rule should be executed."
          }
        },
        "exposed_credential_check": {
          "target": "com.cloudflare.rulesets#CreateForAccountResponseRulesItemExposedCredentialCheck",
          "traits": {
            "smithy.api#documentation": "Configuration for exposed credential checking."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expression defining which traffic will match the rule."
          }
        },
        "logging": {
          "target": "com.cloudflare.rulesets#CreateForAccountResponseRulesItemLogging",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's logging behavior."
          }
        },
        "ratelimit": {
          "target": "com.cloudflare.rulesets#CreateForAccountResponseRulesItemRatelimit",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's rate limit behavior."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference of the rule (the rule's ID by default)."
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#CreateForAccountResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#CreateForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#CreateForAccountResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#CreateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#CreateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#CreateForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Creates a ruleset."
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequestRulesItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequestRulesItemActionParametersResponse": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content to return.",
            "smithy.api#required": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the content to return.",
            "smithy.api#required": {}
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The status code to return.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequestRulesItemActionParameters": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.cloudflare.rulesets#CreateForZoneRequestRulesItemActionParametersResponse",
          "traits": {
            "smithy.api#documentation": "The response to show when the block is applied."
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequestRulesItemCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequestRulesItemExposedCredentialCheck": {
      "type": "structure",
      "members": {
        "password_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the password used in the credentials check.",
            "smithy.api#required": {}
          }
        },
        "username_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the user ID used in the credentials check.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequestRulesItemLogging": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to generate a log when the rule matches.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequestRulesItemRatelimitCharacteristicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequestRulesItemRatelimit": {
      "type": "structure",
      "members": {
        "characteristics": {
          "target": "com.cloudflare.rulesets#CreateForZoneRequestRulesItemRatelimitCharacteristicsList",
          "traits": {
            "smithy.api#documentation": "Characteristics of the request on which the rate limit counter will be incremented.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period in seconds over which the counter is being incremented.",
            "smithy.api#required": {}
          }
        },
        "counting_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that defines when the rate limit counter should be incremented. It defaults to the same as the rule's expression."
          }
        },
        "mitigation_timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period of time in seconds after which the action will be disabled following its first execution."
          }
        },
        "requests_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold of requests per period after which the action will be executed for the first time."
          }
        },
        "requests_to_origin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether counting is only performed when an origin is reached."
          }
        },
        "score_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score threshold per period for which the action will be executed the first time."
          }
        },
        "score_response_header_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A response header name provided by the origin, which contains the score to increment rate limit counter with."
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequestRulesItem": {
      "type": "structure",
      "members": {
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the rule."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the rule."
          }
        },
        "action": {
          "target": "com.cloudflare.rulesets#CreateForZoneRequestRulesItemAction",
          "traits": {
            "smithy.api#documentation": "The action to perform when the rule matches."
          }
        },
        "action_parameters": {
          "target": "com.cloudflare.rulesets#CreateForZoneRequestRulesItemActionParameters",
          "traits": {
            "smithy.api#documentation": "The parameters configuring the rule's action."
          }
        },
        "categories": {
          "target": "com.cloudflare.rulesets#CreateForZoneRequestRulesItemCategoriesList",
          "traits": {
            "smithy.api#documentation": "The categories of the rule."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the rule."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the rule should be executed."
          }
        },
        "exposed_credential_check": {
          "target": "com.cloudflare.rulesets#CreateForZoneRequestRulesItemExposedCredentialCheck",
          "traits": {
            "smithy.api#documentation": "Configuration for exposed credential checking."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expression defining which traffic will match the rule."
          }
        },
        "logging": {
          "target": "com.cloudflare.rulesets#CreateForZoneRequestRulesItemLogging",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's logging behavior."
          }
        },
        "ratelimit": {
          "target": "com.cloudflare.rulesets#CreateForZoneRequestRulesItemRatelimit",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's rate limit behavior."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference of the rule (the rule's ID by default)."
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#CreateForZoneRequestRulesItem"
      }
    },
    "com.cloudflare.rulesets#CreateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#CreateForZoneRequestRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponseRulesItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponseRulesItemActionParametersResponse": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content to return.",
            "smithy.api#required": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the content to return.",
            "smithy.api#required": {}
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The status code to return.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponseRulesItemActionParameters": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.cloudflare.rulesets#CreateForZoneResponseRulesItemActionParametersResponse",
          "traits": {
            "smithy.api#documentation": "The response to show when the block is applied."
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponseRulesItemCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponseRulesItemExposedCredentialCheck": {
      "type": "structure",
      "members": {
        "password_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the password used in the credentials check.",
            "smithy.api#required": {}
          }
        },
        "username_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the user ID used in the credentials check.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponseRulesItemLogging": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to generate a log when the rule matches.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponseRulesItemRatelimitCharacteristicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponseRulesItemRatelimit": {
      "type": "structure",
      "members": {
        "characteristics": {
          "target": "com.cloudflare.rulesets#CreateForZoneResponseRulesItemRatelimitCharacteristicsList",
          "traits": {
            "smithy.api#documentation": "Characteristics of the request on which the rate limit counter will be incremented.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period in seconds over which the counter is being incremented.",
            "smithy.api#required": {}
          }
        },
        "counting_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that defines when the rate limit counter should be incremented. It defaults to the same as the rule's expression."
          }
        },
        "mitigation_timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period of time in seconds after which the action will be disabled following its first execution."
          }
        },
        "requests_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold of requests per period after which the action will be executed for the first time."
          }
        },
        "requests_to_origin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether counting is only performed when an origin is reached."
          }
        },
        "score_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score threshold per period for which the action will be executed the first time."
          }
        },
        "score_response_header_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A response header name provided by the origin, which contains the score to increment rate limit counter with."
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponseRulesItem": {
      "type": "structure",
      "members": {
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the rule."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the rule."
          }
        },
        "action": {
          "target": "com.cloudflare.rulesets#CreateForZoneResponseRulesItemAction",
          "traits": {
            "smithy.api#documentation": "The action to perform when the rule matches."
          }
        },
        "action_parameters": {
          "target": "com.cloudflare.rulesets#CreateForZoneResponseRulesItemActionParameters",
          "traits": {
            "smithy.api#documentation": "The parameters configuring the rule's action."
          }
        },
        "categories": {
          "target": "com.cloudflare.rulesets#CreateForZoneResponseRulesItemCategoriesList",
          "traits": {
            "smithy.api#documentation": "The categories of the rule."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the rule."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the rule should be executed."
          }
        },
        "exposed_credential_check": {
          "target": "com.cloudflare.rulesets#CreateForZoneResponseRulesItemExposedCredentialCheck",
          "traits": {
            "smithy.api#documentation": "Configuration for exposed credential checking."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expression defining which traffic will match the rule."
          }
        },
        "logging": {
          "target": "com.cloudflare.rulesets#CreateForZoneResponseRulesItemLogging",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's logging behavior."
          }
        },
        "ratelimit": {
          "target": "com.cloudflare.rulesets#CreateForZoneResponseRulesItemRatelimit",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's rate limit behavior."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference of the rule (the rule's ID by default)."
          }
        }
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#CreateForZoneResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#CreateForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#CreateForZoneResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#CreateForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#CreateForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#CreateForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Creates a ruleset."
      }
    },
    "com.cloudflare.rulesets#DeleteForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#DeleteForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#DeleteForAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes all versions of an existing account or zone ruleset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#DeleteForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#DeleteForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#DeleteForZoneRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes all versions of an existing account or zone ruleset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#GetForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponseRulesItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponseRulesItemActionParametersResponse": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content to return.",
            "smithy.api#required": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the content to return.",
            "smithy.api#required": {}
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The status code to return.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponseRulesItemActionParameters": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.cloudflare.rulesets#GetForAccountResponseRulesItemActionParametersResponse",
          "traits": {
            "smithy.api#documentation": "The response to show when the block is applied."
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponseRulesItemCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponseRulesItemExposedCredentialCheck": {
      "type": "structure",
      "members": {
        "password_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the password used in the credentials check.",
            "smithy.api#required": {}
          }
        },
        "username_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the user ID used in the credentials check.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponseRulesItemLogging": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to generate a log when the rule matches.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponseRulesItemRatelimitCharacteristicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponseRulesItemRatelimit": {
      "type": "structure",
      "members": {
        "characteristics": {
          "target": "com.cloudflare.rulesets#GetForAccountResponseRulesItemRatelimitCharacteristicsList",
          "traits": {
            "smithy.api#documentation": "Characteristics of the request on which the rate limit counter will be incremented.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period in seconds over which the counter is being incremented.",
            "smithy.api#required": {}
          }
        },
        "counting_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that defines when the rate limit counter should be incremented. It defaults to the same as the rule's expression."
          }
        },
        "mitigation_timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period of time in seconds after which the action will be disabled following its first execution."
          }
        },
        "requests_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold of requests per period after which the action will be executed for the first time."
          }
        },
        "requests_to_origin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether counting is only performed when an origin is reached."
          }
        },
        "score_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score threshold per period for which the action will be executed the first time."
          }
        },
        "score_response_header_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A response header name provided by the origin, which contains the score to increment rate limit counter with."
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponseRulesItem": {
      "type": "structure",
      "members": {
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the rule."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the rule."
          }
        },
        "action": {
          "target": "com.cloudflare.rulesets#GetForAccountResponseRulesItemAction",
          "traits": {
            "smithy.api#documentation": "The action to perform when the rule matches."
          }
        },
        "action_parameters": {
          "target": "com.cloudflare.rulesets#GetForAccountResponseRulesItemActionParameters",
          "traits": {
            "smithy.api#documentation": "The parameters configuring the rule's action."
          }
        },
        "categories": {
          "target": "com.cloudflare.rulesets#GetForAccountResponseRulesItemCategoriesList",
          "traits": {
            "smithy.api#documentation": "The categories of the rule."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the rule."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the rule should be executed."
          }
        },
        "exposed_credential_check": {
          "target": "com.cloudflare.rulesets#GetForAccountResponseRulesItemExposedCredentialCheck",
          "traits": {
            "smithy.api#documentation": "Configuration for exposed credential checking."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expression defining which traffic will match the rule."
          }
        },
        "logging": {
          "target": "com.cloudflare.rulesets#GetForAccountResponseRulesItemLogging",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's logging behavior."
          }
        },
        "ratelimit": {
          "target": "com.cloudflare.rulesets#GetForAccountResponseRulesItemRatelimit",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's rate limit behavior."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference of the rule (the rule's ID by default)."
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#GetForAccountResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#GetForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#GetForAccountResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#GetForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#GetForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#GetForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the latest version of an account or zone ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#GetForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponseRulesItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponseRulesItemActionParametersResponse": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content to return.",
            "smithy.api#required": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the content to return.",
            "smithy.api#required": {}
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The status code to return.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponseRulesItemActionParameters": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.cloudflare.rulesets#GetForZoneResponseRulesItemActionParametersResponse",
          "traits": {
            "smithy.api#documentation": "The response to show when the block is applied."
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponseRulesItemCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponseRulesItemExposedCredentialCheck": {
      "type": "structure",
      "members": {
        "password_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the password used in the credentials check.",
            "smithy.api#required": {}
          }
        },
        "username_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the user ID used in the credentials check.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponseRulesItemLogging": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to generate a log when the rule matches.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponseRulesItemRatelimitCharacteristicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponseRulesItemRatelimit": {
      "type": "structure",
      "members": {
        "characteristics": {
          "target": "com.cloudflare.rulesets#GetForZoneResponseRulesItemRatelimitCharacteristicsList",
          "traits": {
            "smithy.api#documentation": "Characteristics of the request on which the rate limit counter will be incremented.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period in seconds over which the counter is being incremented.",
            "smithy.api#required": {}
          }
        },
        "counting_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that defines when the rate limit counter should be incremented. It defaults to the same as the rule's expression."
          }
        },
        "mitigation_timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period of time in seconds after which the action will be disabled following its first execution."
          }
        },
        "requests_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold of requests per period after which the action will be executed for the first time."
          }
        },
        "requests_to_origin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether counting is only performed when an origin is reached."
          }
        },
        "score_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score threshold per period for which the action will be executed the first time."
          }
        },
        "score_response_header_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A response header name provided by the origin, which contains the score to increment rate limit counter with."
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponseRulesItem": {
      "type": "structure",
      "members": {
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the rule."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the rule."
          }
        },
        "action": {
          "target": "com.cloudflare.rulesets#GetForZoneResponseRulesItemAction",
          "traits": {
            "smithy.api#documentation": "The action to perform when the rule matches."
          }
        },
        "action_parameters": {
          "target": "com.cloudflare.rulesets#GetForZoneResponseRulesItemActionParameters",
          "traits": {
            "smithy.api#documentation": "The parameters configuring the rule's action."
          }
        },
        "categories": {
          "target": "com.cloudflare.rulesets#GetForZoneResponseRulesItemCategoriesList",
          "traits": {
            "smithy.api#documentation": "The categories of the rule."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the rule."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the rule should be executed."
          }
        },
        "exposed_credential_check": {
          "target": "com.cloudflare.rulesets#GetForZoneResponseRulesItemExposedCredentialCheck",
          "traits": {
            "smithy.api#documentation": "Configuration for exposed credential checking."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expression defining which traffic will match the rule."
          }
        },
        "logging": {
          "target": "com.cloudflare.rulesets#GetForZoneResponseRulesItemLogging",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's logging behavior."
          }
        },
        "ratelimit": {
          "target": "com.cloudflare.rulesets#GetForZoneResponseRulesItemRatelimit",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's rate limit behavior."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference of the rule (the rule's ID by default)."
          }
        }
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#GetForZoneResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#GetForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#GetForZoneResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#GetForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#GetForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#GetForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the latest version of an account or zone ruleset.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#ListForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor to use for the next page.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of rulesets to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#ListForAccountResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      }
    },
    "com.cloudflare.rulesets#ListForAccountResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#ListForAccountResultItem"
      }
    },
    "com.cloudflare.rulesets#ListForAccountResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.rulesets#ListForAccountResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#ListForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#ListForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#ListForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Fetches all rulesets.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#ListForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor to use for the next page.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of rulesets to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#ListForZoneResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      }
    },
    "com.cloudflare.rulesets#ListForZoneResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#ListForZoneResultItem"
      }
    },
    "com.cloudflare.rulesets#ListForZoneResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.rulesets#ListForZoneResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.rulesets#ListForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#ListForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#ListForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/rulesets",
          "code": 200
        },
        "smithy.api#documentation": "Fetches all rulesets.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemActionParametersResponse": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content to return.",
            "smithy.api#required": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the content to return.",
            "smithy.api#required": {}
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The status code to return.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemActionParameters": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemActionParametersResponse",
          "traits": {
            "smithy.api#documentation": "The response to show when the block is applied."
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemExposedCredentialCheck": {
      "type": "structure",
      "members": {
        "password_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the password used in the credentials check.",
            "smithy.api#required": {}
          }
        },
        "username_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the user ID used in the credentials check.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemLogging": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to generate a log when the rule matches.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemRatelimitCharacteristicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemRatelimit": {
      "type": "structure",
      "members": {
        "characteristics": {
          "target": "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemRatelimitCharacteristicsList",
          "traits": {
            "smithy.api#documentation": "Characteristics of the request on which the rate limit counter will be incremented.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period in seconds over which the counter is being incremented.",
            "smithy.api#required": {}
          }
        },
        "counting_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that defines when the rate limit counter should be incremented. It defaults to the same as the rule's expression."
          }
        },
        "mitigation_timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period of time in seconds after which the action will be disabled following its first execution."
          }
        },
        "requests_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold of requests per period after which the action will be executed for the first time."
          }
        },
        "requests_to_origin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether counting is only performed when an origin is reached."
          }
        },
        "score_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score threshold per period for which the action will be executed the first time."
          }
        },
        "score_response_header_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A response header name provided by the origin, which contains the score to increment rate limit counter with."
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequestRulesItem": {
      "type": "structure",
      "members": {
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the rule."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the rule."
          }
        },
        "action": {
          "target": "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemAction",
          "traits": {
            "smithy.api#documentation": "The action to perform when the rule matches."
          }
        },
        "action_parameters": {
          "target": "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemActionParameters",
          "traits": {
            "smithy.api#documentation": "The parameters configuring the rule's action."
          }
        },
        "categories": {
          "target": "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemCategoriesList",
          "traits": {
            "smithy.api#documentation": "The categories of the rule."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the rule."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the rule should be executed."
          }
        },
        "exposed_credential_check": {
          "target": "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemExposedCredentialCheck",
          "traits": {
            "smithy.api#documentation": "Configuration for exposed credential checking."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expression defining which traffic will match the rule."
          }
        },
        "logging": {
          "target": "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemLogging",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's logging behavior."
          }
        },
        "ratelimit": {
          "target": "com.cloudflare.rulesets#UpdateForAccountRequestRulesItemRatelimit",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's rate limit behavior."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference of the rule (the rule's ID by default)."
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#UpdateForAccountRequestRulesItem"
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset."
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset."
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#UpdateForAccountRequestRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemActionParametersResponse": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content to return.",
            "smithy.api#required": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the content to return.",
            "smithy.api#required": {}
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The status code to return.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemActionParameters": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemActionParametersResponse",
          "traits": {
            "smithy.api#documentation": "The response to show when the block is applied."
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemExposedCredentialCheck": {
      "type": "structure",
      "members": {
        "password_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the password used in the credentials check.",
            "smithy.api#required": {}
          }
        },
        "username_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the user ID used in the credentials check.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemLogging": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to generate a log when the rule matches.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemRatelimitCharacteristicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemRatelimit": {
      "type": "structure",
      "members": {
        "characteristics": {
          "target": "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemRatelimitCharacteristicsList",
          "traits": {
            "smithy.api#documentation": "Characteristics of the request on which the rate limit counter will be incremented.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period in seconds over which the counter is being incremented.",
            "smithy.api#required": {}
          }
        },
        "counting_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that defines when the rate limit counter should be incremented. It defaults to the same as the rule's expression."
          }
        },
        "mitigation_timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period of time in seconds after which the action will be disabled following its first execution."
          }
        },
        "requests_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The threshold of requests per period after which the action will be executed for the first time."
          }
        },
        "requests_to_origin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether counting is only performed when an origin is reached."
          }
        },
        "score_per_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score threshold per period for which the action will be executed the first time."
          }
        },
        "score_response_header_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A response header name provided by the origin, which contains the score to increment rate limit counter with."
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponseRulesItem": {
      "type": "structure",
      "members": {
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the rule."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the rule."
          }
        },
        "action": {
          "target": "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemAction",
          "traits": {
            "smithy.api#documentation": "The action to perform when the rule matches."
          }
        },
        "action_parameters": {
          "target": "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemActionParameters",
          "traits": {
            "smithy.api#documentation": "The parameters configuring the rule's action."
          }
        },
        "categories": {
          "target": "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemCategoriesList",
          "traits": {
            "smithy.api#documentation": "The categories of the rule."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the rule."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the rule should be executed."
          }
        },
        "exposed_credential_check": {
          "target": "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemExposedCredentialCheck",
          "traits": {
            "smithy.api#documentation": "Configuration for exposed credential checking."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expression defining which traffic will match the rule."
          }
        },
        "logging": {
          "target": "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemLogging",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's logging behavior."
          }
        },
        "ratelimit": {
          "target": "com.cloudflare.rulesets#UpdateForAccountResponseRulesItemRatelimit",
          "traits": {
            "smithy.api#documentation": "An object configuring the rule's rate limit behavior."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference of the rule (the rule's ID by default)."
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.rulesets#UpdateForAccountResponseRulesItem"
      }
    },
    "com.cloudflare.rulesets#UpdateForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The kind of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the ruleset was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "phase": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The phase of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.rulesets#UpdateForAccountResponseRulesList",
          "traits": {
            "smithy.api#documentation": "The list of rules in the ruleset.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the ruleset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative description of the ruleset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.rulesets#UpdateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.rulesets#UpdateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.rulesets#UpdateForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/rulesets/{ruleset_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an account or zone ruleset, creating a new version.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneRequestRulesItemAction": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneRequestRulesItemActionParametersResponse": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content to return.",
            "smithy.api#required": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the content to return.",
            "smithy.api#required": {}
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The status code to return.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneRequestRulesItemActionParameters": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.cloudflare.rulesets#UpdateForZoneRequestRulesItemActionParametersResponse",
          "traits": {
            "smithy.api#documentation": "The response to show when the block is applied."
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneRequestRulesItemCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneRequestRulesItemExposedCredentialCheck": {
      "type": "structure",
      "members": {
        "password_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the password used in the credentials check.",
            "smithy.api#required": {}
          }
        },
        "username_expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that selects the user ID used in the credentials check.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneRequestRulesItemLogging": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to generate a log when the rule matches.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneRequestRulesItemRatelimitCharacteristicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.rulesets#UpdateForZoneRequestRulesItemRatelimit": {
      "type": "structure",
      "members": {
        "characteristics": {
          "target": "com.cloudflare.rulesets#UpdateForZoneRequestRulesItemRatelimitCharacteristicsList",
          "traits": {
            "smithy.api#documentation": "Characteristics of the request on which the rate limit counter will be incremented.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Period in seconds over which the counter is being incremented.",
            "smithy.api#required": {}
          }
        },
        "counting_expression": {
          "target": "smithy.api#String",
[...]
