{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "createdOn": "created_on",
      "mainModule": "main_module",
      "modifiedOn": "modified_on",
      "perPage": "per_page",
      "resultInfo": "result_info",
      "snippetName": "snippet_name",
      "totalCount": "total_count"
    },
    "opAliases": [
      {
        "alias": "listRules",
        "target": "getRule"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.snippets#ListResultItem": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates when the snippet was created.",
            "smithy.api#required": {}
          }
        },
        "snippet_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identify the snippet.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates when the snippet was last modified."
          }
        }
      }
    },
    "com.cloudflare.snippets#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.snippets#ListResultItem"
      }
    },
    "com.cloudflare.snippets#ListRulesRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this field to specify the unique ID of the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.snippets#ListRulesResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.snippets#ListRules": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.snippets#ListRulesRequest"
      },
      "output": {
        "target": "com.cloudflare.snippets#ListRulesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/snippets/snippet_rules",
          "code": 200
        },
        "smithy.api#documentation": "Fetches all snippet rules belonging to the zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.snippets#RulesUpdateRequestRulesItem": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define the expression that determines which traffic matches the rule.",
            "smithy.api#required": {}
          }
        },
        "snippet_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identify the snippet.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provide an informative description of the rule."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicate whether to execute the rule."
          }
        }
      }
    },
    "com.cloudflare.snippets#RulesUpdateRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.snippets#RulesUpdateRequestRulesItem"
      }
    },
    "com.cloudflare.snippets#Snippets": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.snippets#Delete"
        },
        {
          "target": "com.cloudflare.snippets#Get"
        },
        {
          "target": "com.cloudflare.snippets#List"
        },
        {
          "target": "com.cloudflare.snippets#Update"
        },
        {
          "target": "com.cloudflare.snippets#ContentGet"
        },
        {
          "target": "com.cloudflare.snippets#RulesDelete"
        },
        {
          "target": "com.cloudflare.snippets#RulesGet"
        },
        {
          "target": "com.cloudflare.snippets#ListRules"
        },
        {
          "target": "com.cloudflare.snippets#RulesUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Snippets",
        "smithy.api#documentation": "Cloudflare API — snippets resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.snippets#Forbidden": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.cloudflare.snippets#SnippetInUse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 400,
            "message": {
              "includes": "still used"
            }
          },
          {
            "status": 409,
            "message": {
              "includes": "still used"
            }
          }
        ]
      }
    },
    "com.cloudflare.snippets#SnippetNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 400,
            "message": {
              "includes": "snippet not found"
            }
          },
          {
            "status": 404
          }
        ]
      }
    },
    "com.cloudflare.snippets#SnippetRulesNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.cloudflare.snippets#DeleteRule": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.snippets#DeleteRuleRequest"
      },
      "output": {
        "target": "com.cloudflare.snippets#DeleteRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/snippets/snippet_rules",
          "code": 200
        },
        "smithy.api#documentation": "Deletes all snippet rules belonging to the zone.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.snippets#SnippetRulesNotFound"
        },
        {
          "target": "com.cloudflare.snippets#Forbidden"
        }
      ]
    },
    "com.cloudflare.snippets#DeleteRuleRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this field to specify the unique ID of the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.snippets#DeleteRuleResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.snippets#DeleteSnippet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.snippets#DeleteSnippetRequest"
      },
      "output": {
        "target": "com.cloudflare.snippets#DeleteSnippetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/snippets/{snippet_name}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a snippet belonging to the zone.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.snippets#SnippetNotFound"
        },
        {
          "target": "com.cloudflare.snippets#SnippetInUse"
        }
      ]
    },
    "com.cloudflare.snippets#DeleteSnippetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this field to specify the unique ID of the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "snippet_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identify the snippet.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.snippets#DeleteSnippetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.snippets#GetContent": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.snippets#GetContentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/snippets/{snippet_name}/content",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the content of a snippet belonging to the zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.snippets#GetContentRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this field to specify the unique ID of the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "snippet_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identify the snippet.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.snippets#GetRule": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.snippets#GetRuleRequest"
      },
      "output": {
        "target": "com.cloudflare.snippets#GetRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/snippets/snippet_rules",
          "code": 200
        },
        "smithy.api#documentation": "Fetches all snippet rules belonging to the zone.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.snippets#SnippetRulesNotFound"
        },
        {
          "target": "com.cloudflare.snippets#Forbidden"
        }
      ]
    },
    "com.cloudflare.snippets#GetRuleRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this field to specify the unique ID of the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.snippets#GetRuleResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.snippets#GetSnippet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.snippets#GetSnippetRequest"
      },
      "output": {
        "target": "com.cloudflare.snippets#GetSnippetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/snippets/{snippet_name}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches a snippet belonging to the zone.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.snippets#SnippetNotFound"
        }
      ]
    },
    "com.cloudflare.snippets#GetSnippetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this field to specify the unique ID of the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "snippet_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identify the snippet.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.snippets#GetSnippetResponse": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates when the snippet was created.",
            "smithy.api#required": {}
          }
        },
        "snippet_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identify the snippet.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates when the snippet was last modified."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.snippets#ListSnippets": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.snippets#ListSnippetsRequest"
      },
      "output": {
        "target": "com.cloudflare.snippets#ListSnippetsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/snippets",
          "code": 200
        },
        "smithy.api#documentation": "Fetches all snippets belonging to the zone.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "resultInfo.page",
          "items": "result",
          "pageSize": "perPage"
        }
      },
      "errors": [
        {
          "target": "com.cloudflare.snippets#Forbidden"
        }
      ]
    },
    "com.cloudflare.snippets#ListSnippetsRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this field to specify the unique ID of the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the current page number.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies how many results to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.snippets#ListSnippetsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.snippets#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.snippets#PutRule": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.snippets#PutRuleRequest"
      },
      "output": {
        "target": "com.cloudflare.snippets#PutRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/snippets/snippet_rules",
          "code": 200
        },
        "smithy.api#documentation": "Updates all snippet rules belonging to the zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.snippets#PutRuleRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this field to specify the unique ID of the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.snippets#RulesUpdateRequestRulesList",
          "traits": {
            "smithy.api#documentation": "Lists snippet rules.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.snippets#PutRuleResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.snippets#PutSnippet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.snippets#PutSnippetRequest"
      },
      "output": {
        "target": "com.cloudflare.snippets#PutSnippetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/snippets/{snippet_name}",
          "code": 200,
          "contentType": "multipart"
        },
        "smithy.api#documentation": "Creates or updates a snippet belonging to the zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.snippets#PutSnippetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this field to specify the unique ID of the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "snippet_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identify the snippet.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "Snippet metadata ({ mainModule }), JSON-encoded as the multipart `metadata` part."
          }
        },
        "files": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#formDataFile": {},
            "smithy.api#documentation": "Snippet module file(s), appended under their own filenames."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.snippets#PutSnippetResponse": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates when the snippet was created.",
            "smithy.api#required": {}
          }
        },
        "snippet_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identify the snippet.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates when the snippet was last modified."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    }
  }
}
