{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.speed#AvailabilitiesListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaQuotasPerPlanValue": {
      "type": "structure",
      "members": {
        "business": {
          "target": "smithy.api#Double"
        },
        "enterprise": {
          "target": "smithy.api#Double"
        },
        "free": {
          "target": "smithy.api#Double"
        },
        "pro": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaQuotasPerPlan": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaQuotasPerPlanValue",
          "traits": {
            "smithy.api#documentation": "Counts per account plan."
          }
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaScheduleQuotasPerPlanValue": {
      "type": "structure",
      "members": {
        "business": {
          "target": "smithy.api#Double"
        },
        "enterprise": {
          "target": "smithy.api#Double"
        },
        "free": {
          "target": "smithy.api#Double"
        },
        "pro": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaScheduleQuotasPerPlan": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaScheduleQuotasPerPlanValue",
          "traits": {
            "smithy.api#documentation": "Counts per account plan."
          }
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsItemValue": {
      "type": "enum",
      "members": {
        "ASIA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-east1"
          }
        },
        "ASIA_NORTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast1"
          }
        },
        "ASIA_NORTHEAST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast2"
          }
        },
        "ASIA_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-south1"
          }
        },
        "ASIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-southeast1"
          }
        },
        "AUSTRALIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "australia-southeast1"
          }
        },
        "EUROPE_NORTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-north1"
          }
        },
        "EUROPE_SOUTHWEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-southwest1"
          }
        },
        "EUROPE_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west1"
          }
        },
        "EUROPE_WEST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west2"
          }
        },
        "EUROPE_WEST3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west3"
          }
        },
        "EUROPE_WEST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west4"
          }
        },
        "EUROPE_WEST8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west8"
          }
        },
        "EUROPE_WEST9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west9"
          }
        },
        "ME_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-west1"
          }
        },
        "SOUTHAMERICA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "southamerica-east1"
          }
        },
        "US_CENTRAL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central1"
          }
        },
        "US_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east1"
          }
        },
        "US_EAST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east4"
          }
        },
        "US_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-south1"
          }
        },
        "US_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west1"
          }
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsItemValue",
          "traits": {
            "smithy.api#documentation": "A test region."
          }
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsItem"
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanBusinessItemValue": {
      "type": "enum",
      "members": {
        "ASIA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-east1"
          }
        },
        "ASIA_NORTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast1"
          }
        },
        "ASIA_NORTHEAST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast2"
          }
        },
        "ASIA_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-south1"
          }
        },
        "ASIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-southeast1"
          }
        },
        "AUSTRALIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "australia-southeast1"
          }
        },
        "EUROPE_NORTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-north1"
          }
        },
        "EUROPE_SOUTHWEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-southwest1"
          }
        },
        "EUROPE_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west1"
          }
        },
        "EUROPE_WEST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west2"
          }
        },
        "EUROPE_WEST3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west3"
          }
        },
        "EUROPE_WEST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west4"
          }
        },
        "EUROPE_WEST8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west8"
          }
        },
        "EUROPE_WEST9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west9"
          }
        },
        "ME_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-west1"
          }
        },
        "SOUTHAMERICA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "southamerica-east1"
          }
        },
        "US_CENTRAL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central1"
          }
        },
        "US_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east1"
          }
        },
        "US_EAST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east4"
          }
        },
        "US_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-south1"
          }
        },
        "US_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west1"
          }
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanBusinessItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanBusinessItemValue",
          "traits": {
            "smithy.api#documentation": "A test region."
          }
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanBusinessList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanBusinessItem"
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanEnterpriseItemValue": {
      "type": "enum",
      "members": {
        "ASIA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-east1"
          }
        },
        "ASIA_NORTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast1"
          }
        },
        "ASIA_NORTHEAST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast2"
          }
        },
        "ASIA_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-south1"
          }
        },
        "ASIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-southeast1"
          }
        },
        "AUSTRALIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "australia-southeast1"
          }
        },
        "EUROPE_NORTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-north1"
          }
        },
        "EUROPE_SOUTHWEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-southwest1"
          }
        },
        "EUROPE_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west1"
          }
        },
        "EUROPE_WEST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west2"
          }
        },
        "EUROPE_WEST3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west3"
          }
        },
        "EUROPE_WEST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west4"
          }
        },
        "EUROPE_WEST8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west8"
          }
        },
        "EUROPE_WEST9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west9"
          }
        },
        "ME_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-west1"
          }
        },
        "SOUTHAMERICA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "southamerica-east1"
          }
        },
        "US_CENTRAL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central1"
          }
        },
        "US_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east1"
          }
        },
        "US_EAST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east4"
          }
        },
        "US_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-south1"
          }
        },
        "US_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west1"
          }
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanEnterpriseItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanEnterpriseItemValue",
          "traits": {
            "smithy.api#documentation": "A test region."
          }
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanEnterpriseList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanEnterpriseItem"
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanFreeItemValue": {
      "type": "enum",
      "members": {
        "ASIA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-east1"
          }
        },
        "ASIA_NORTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast1"
          }
        },
        "ASIA_NORTHEAST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast2"
          }
        },
        "ASIA_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-south1"
          }
        },
        "ASIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-southeast1"
          }
        },
        "AUSTRALIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "australia-southeast1"
          }
        },
        "EUROPE_NORTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-north1"
          }
        },
        "EUROPE_SOUTHWEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-southwest1"
          }
        },
        "EUROPE_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west1"
          }
        },
        "EUROPE_WEST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west2"
          }
        },
        "EUROPE_WEST3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west3"
          }
        },
        "EUROPE_WEST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west4"
          }
        },
        "EUROPE_WEST8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west8"
          }
        },
        "EUROPE_WEST9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west9"
          }
        },
        "ME_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-west1"
          }
        },
        "SOUTHAMERICA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "southamerica-east1"
          }
        },
        "US_CENTRAL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central1"
          }
        },
        "US_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east1"
          }
        },
        "US_EAST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east4"
          }
        },
        "US_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-south1"
          }
        },
        "US_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west1"
          }
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanFreeItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanFreeItemValue",
          "traits": {
            "smithy.api#documentation": "A test region."
          }
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanFreeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanFreeItem"
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanProItemValue": {
      "type": "enum",
      "members": {
        "ASIA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-east1"
          }
        },
        "ASIA_NORTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast1"
          }
        },
        "ASIA_NORTHEAST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast2"
          }
        },
        "ASIA_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-south1"
          }
        },
        "ASIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-southeast1"
          }
        },
        "AUSTRALIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "australia-southeast1"
          }
        },
        "EUROPE_NORTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-north1"
          }
        },
        "EUROPE_SOUTHWEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-southwest1"
          }
        },
        "EUROPE_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west1"
          }
        },
        "EUROPE_WEST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west2"
          }
        },
        "EUROPE_WEST3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west3"
          }
        },
        "EUROPE_WEST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west4"
          }
        },
        "EUROPE_WEST8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west8"
          }
        },
        "EUROPE_WEST9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west9"
          }
        },
        "ME_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-west1"
          }
        },
        "SOUTHAMERICA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "southamerica-east1"
          }
        },
        "US_CENTRAL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central1"
          }
        },
        "US_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east1"
          }
        },
        "US_EAST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east4"
          }
        },
        "US_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-south1"
          }
        },
        "US_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west1"
          }
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanProItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanProItemValue",
          "traits": {
            "smithy.api#documentation": "A test region."
          }
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanProList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanProItem"
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlan": {
      "type": "structure",
      "members": {
        "business": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanBusinessList"
        },
        "enterprise": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanEnterpriseList"
        },
        "free": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanFreeList"
        },
        "pro": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlanProList"
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponseQuota": {
      "type": "structure",
      "members": {
        "plan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare plan."
          }
        },
        "quotasPerPlan": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaQuotasPerPlan",
          "traits": {
            "smithy.api#documentation": "The number of tests available per plan."
          }
        },
        "remainingSchedules": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of remaining schedules available."
          }
        },
        "remainingTests": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of remaining tests available."
          }
        },
        "scheduleQuotasPerPlan": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaScheduleQuotasPerPlan",
          "traits": {
            "smithy.api#documentation": "The number of schedules available per plan."
          }
        },
        "regions": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsList"
        },
        "regionsPerPlan": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuotaRegionsPerPlan",
          "traits": {
            "smithy.api#documentation": "Available regions."
          }
        }
      }
    },
    "com.cloudflare.speed#AvailabilitiesListResponse": {
      "type": "structure",
      "members": {
        "quota": {
          "target": "com.cloudflare.speed#AvailabilitiesListResponseQuota"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.speed#AvailabilitiesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.speed#AvailabilitiesListRequest"
      },
      "output": {
        "target": "com.cloudflare.speed#AvailabilitiesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/speed_api/availabilities",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves quota for all plans, as well as the current zone quota.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.speed#PagesListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.speed#PagesListResultItemRegionValue": {
      "type": "enum",
      "members": {
        "ASIA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-east1"
          }
        },
        "ASIA_NORTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast1"
          }
        },
        "ASIA_NORTHEAST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast2"
          }
        },
        "ASIA_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-south1"
          }
        },
        "ASIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-southeast1"
          }
        },
        "AUSTRALIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "australia-southeast1"
          }
        },
        "EUROPE_NORTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-north1"
          }
        },
        "EUROPE_SOUTHWEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-southwest1"
          }
        },
        "EUROPE_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west1"
          }
        },
        "EUROPE_WEST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west2"
          }
        },
        "EUROPE_WEST3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west3"
          }
        },
        "EUROPE_WEST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west4"
          }
        },
        "EUROPE_WEST8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west8"
          }
        },
        "EUROPE_WEST9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west9"
          }
        },
        "ME_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-west1"
          }
        },
        "SOUTHAMERICA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "southamerica-east1"
          }
        },
        "US_CENTRAL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central1"
          }
        },
        "US_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east1"
          }
        },
        "US_EAST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east4"
          }
        },
        "US_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-south1"
          }
        },
        "US_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west1"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemRegion": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.cloudflare.speed#PagesListResultItemRegionValue",
          "traits": {
            "smithy.api#documentation": "A test region."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemScheduleFrequency": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportDeviceType": {
      "type": "enum",
      "members": {
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportErrorCode": {
      "type": "enum",
      "members": {
        "NOT_REACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REACHABLE"
          }
        },
        "DNS_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_FAILURE"
          }
        },
        "NOT_HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_HTML"
          }
        },
        "LIGHTHOUSE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHTHOUSE_TIMEOUT"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportErrorCode",
          "traits": {
            "smithy.api#documentation": "The error code of the Lighthouse result."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed error message."
          }
        },
        "finalDisplayedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final URL displayed to the user."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportState": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportDeviceType": {
      "type": "enum",
      "members": {
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportErrorCode": {
      "type": "enum",
      "members": {
        "NOT_REACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REACHABLE"
          }
        },
        "DNS_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_FAILURE"
          }
        },
        "NOT_HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_HTML"
          }
        },
        "LIGHTHOUSE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHTHOUSE_TIMEOUT"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportErrorCode",
          "traits": {
            "smithy.api#documentation": "The error code of the Lighthouse result."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed error message."
          }
        },
        "finalDisplayedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final URL displayed to the user."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportState": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportRegionValue": {
      "type": "enum",
      "members": {
        "ASIA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-east1"
          }
        },
        "ASIA_NORTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast1"
          }
        },
        "ASIA_NORTHEAST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast2"
          }
        },
        "ASIA_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-south1"
          }
        },
        "ASIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-southeast1"
          }
        },
        "AUSTRALIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "australia-southeast1"
          }
        },
        "EUROPE_NORTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-north1"
          }
        },
        "EUROPE_SOUTHWEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-southwest1"
          }
        },
        "EUROPE_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west1"
          }
        },
        "EUROPE_WEST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west2"
          }
        },
        "EUROPE_WEST3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west3"
          }
        },
        "EUROPE_WEST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west4"
          }
        },
        "EUROPE_WEST8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west8"
          }
        },
        "EUROPE_WEST9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west9"
          }
        },
        "ME_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-west1"
          }
        },
        "SOUTHAMERICA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "southamerica-east1"
          }
        },
        "US_CENTRAL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central1"
          }
        },
        "US_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east1"
          }
        },
        "US_EAST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east4"
          }
        },
        "US_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-south1"
          }
        },
        "US_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west1"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportRegion": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportRegionValue",
          "traits": {
            "smithy.api#documentation": "A test region."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportScheduleFrequency": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReport": {
      "type": "structure",
      "members": {
        "cls": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative Layout Shift."
          }
        },
        "deviceType": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportDeviceType",
          "traits": {
            "smithy.api#documentation": "The type of device."
          }
        },
        "error": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportError"
        },
        "fcp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "First Contentful Paint."
          }
        },
        "jsonReportUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the full Lighthouse JSON report."
          }
        },
        "lcp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Largest Contentful Paint."
          }
        },
        "performanceScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Lighthouse performance score."
          }
        },
        "si": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Speed Index."
          }
        },
        "state": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportState",
          "traits": {
            "smithy.api#documentation": "The state of the Lighthouse report."
          }
        },
        "tbt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total Blocking Time."
          }
        },
        "ttfb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To First Byte."
          }
        },
        "tti": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Interactive."
          }
        },
        "region": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportRegion",
          "traits": {
            "smithy.api#documentation": "A test region with a label."
          }
        },
        "scheduleFrequency": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReportScheduleFrequency",
          "traits": {
            "smithy.api#documentation": "The frequency of the test."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL."
          }
        },
        "url_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL.",
            "smithy.api#jsonName": "url"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReport": {
      "type": "structure",
      "members": {
        "cls": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative Layout Shift."
          }
        },
        "deviceType": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportDeviceType",
          "traits": {
            "smithy.api#documentation": "The type of device."
          }
        },
        "error": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportError"
        },
        "fcp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "First Contentful Paint."
          }
        },
        "jsonReportUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the full Lighthouse JSON report."
          }
        },
        "lcp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Largest Contentful Paint."
          }
        },
        "performanceScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Lighthouse performance score."
          }
        },
        "si": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Speed Index."
          }
        },
        "state": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportState",
          "traits": {
            "smithy.api#documentation": "The state of the Lighthouse report."
          }
        },
        "tbt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total Blocking Time."
          }
        },
        "ttfb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To First Byte."
          }
        },
        "tti": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Interactive."
          }
        },
        "mobileReport": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReportMobileReport",
          "traits": {
            "smithy.api#documentation": "The Lighthouse report."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID."
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "desktopReport": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsItemDesktopReport",
          "traits": {
            "smithy.api#documentation": "The Lighthouse report."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesListResultItemTestsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.speed#PagesListResultItemTestsItem"
      }
    },
    "com.cloudflare.speed#PagesListResultItem": {
      "type": "structure",
      "members": {
        "region": {
          "target": "com.cloudflare.speed#PagesListResultItemRegion",
          "traits": {
            "smithy.api#documentation": "A test region with a label."
          }
        },
        "scheduleFrequency": {
          "target": "com.cloudflare.speed#PagesListResultItemScheduleFrequency",
          "traits": {
            "smithy.api#documentation": "The frequency of the test."
          }
        },
        "tests": {
          "target": "com.cloudflare.speed#PagesListResultItemTestsList"
        }
      }
    },
    "com.cloudflare.speed#PagesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.speed#PagesListResultItem"
      }
    },
    "com.cloudflare.speed#PagesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.speed#PagesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.speed#PagesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.speed#PagesListRequest"
      },
      "output": {
        "target": "com.cloudflare.speed#PagesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/speed_api/pages",
          "code": 200
        },
        "smithy.api#documentation": "Lists all webpages which have been tested.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.speed#PagesTrendRequestDeviceType": {
      "type": "enum",
      "members": {
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTrendRequestRegion": {
      "type": "enum",
      "members": {
        "ASIA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-east1"
          }
        },
        "ASIA_NORTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast1"
          }
        },
        "ASIA_NORTHEAST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast2"
          }
        },
        "ASIA_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-south1"
          }
        },
        "ASIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-southeast1"
          }
        },
        "AUSTRALIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "australia-southeast1"
          }
        },
        "EUROPE_NORTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-north1"
          }
        },
        "EUROPE_SOUTHWEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-southwest1"
          }
        },
        "EUROPE_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west1"
          }
        },
        "EUROPE_WEST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west2"
          }
        },
        "EUROPE_WEST3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west3"
          }
        },
        "EUROPE_WEST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west4"
          }
        },
        "EUROPE_WEST8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west8"
          }
        },
        "EUROPE_WEST9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west9"
          }
        },
        "ME_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-west1"
          }
        },
        "SOUTHAMERICA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "southamerica-east1"
          }
        },
        "US_CENTRAL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central1"
          }
        },
        "US_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east1"
          }
        },
        "US_EAST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east4"
          }
        },
        "US_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-south1"
          }
        },
        "US_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west1"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTrendRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deviceType": {
          "target": "com.cloudflare.speed#PagesTrendRequestDeviceType",
          "traits": {
            "smithy.api#documentation": "The type of device.",
            "smithy.api#httpQuery": "deviceType",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of metrics to include in the results.",
            "smithy.api#httpQuery": "metrics",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.cloudflare.speed#PagesTrendRequestRegion",
          "traits": {
            "smithy.api#documentation": "A test region.",
            "smithy.api#httpQuery": "region",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#httpQuery": "start",
            "smithy.api#required": {}
          }
        },
        "tz": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timezone of the start and end timestamps.",
            "smithy.api#httpQuery": "tz",
            "smithy.api#required": {}
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#httpQuery": "end"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.speed#PagesTrendResponseClsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.speed#PagesTrendResponseFcpList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.speed#PagesTrendResponseLcpList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.speed#PagesTrendResponsePerformanceScoreList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.speed#PagesTrendResponseSiList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.speed#PagesTrendResponseTbtList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.speed#PagesTrendResponseTtfbList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.speed#PagesTrendResponseTtiList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.speed#PagesTrendResponse": {
      "type": "structure",
      "members": {
        "cls": {
          "target": "com.cloudflare.speed#PagesTrendResponseClsList",
          "traits": {
            "smithy.api#documentation": "Cumulative Layout Shift trend."
          }
        },
        "fcp": {
          "target": "com.cloudflare.speed#PagesTrendResponseFcpList",
          "traits": {
            "smithy.api#documentation": "First Contentful Paint trend."
          }
        },
        "lcp": {
          "target": "com.cloudflare.speed#PagesTrendResponseLcpList",
          "traits": {
            "smithy.api#documentation": "Largest Contentful Paint trend."
          }
        },
        "performanceScore": {
          "target": "com.cloudflare.speed#PagesTrendResponsePerformanceScoreList",
          "traits": {
            "smithy.api#documentation": "The Lighthouse score trend."
          }
        },
        "si": {
          "target": "com.cloudflare.speed#PagesTrendResponseSiList",
          "traits": {
            "smithy.api#documentation": "Speed Index trend."
          }
        },
        "tbt": {
          "target": "com.cloudflare.speed#PagesTrendResponseTbtList",
          "traits": {
            "smithy.api#documentation": "Total Blocking Time trend."
          }
        },
        "ttfb": {
          "target": "com.cloudflare.speed#PagesTrendResponseTtfbList",
          "traits": {
            "smithy.api#documentation": "Time To First Byte trend."
          }
        },
        "tti": {
          "target": "com.cloudflare.speed#PagesTrendResponseTtiList",
          "traits": {
            "smithy.api#documentation": "Time To Interactive trend."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.speed#PagesTrend": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.speed#PagesTrendRequest"
      },
      "output": {
        "target": "com.cloudflare.speed#PagesTrendResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/speed_api/pages/{url}/trend",
          "code": 200
        },
        "smithy.api#documentation": "Lists the core web vital metrics trend over time for a specific page.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.speed#PagesTestsCreateRequestRegion": {
      "type": "enum",
      "members": {
        "ASIA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-east1"
          }
        },
        "ASIA_NORTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast1"
          }
        },
        "ASIA_NORTHEAST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast2"
          }
        },
        "ASIA_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-south1"
          }
        },
        "ASIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-southeast1"
          }
        },
        "AUSTRALIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "australia-southeast1"
          }
        },
        "EUROPE_NORTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-north1"
          }
        },
        "EUROPE_SOUTHWEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-southwest1"
          }
        },
        "EUROPE_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west1"
          }
        },
        "EUROPE_WEST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west2"
          }
        },
        "EUROPE_WEST3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west3"
          }
        },
        "EUROPE_WEST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west4"
          }
        },
        "EUROPE_WEST8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west8"
          }
        },
        "EUROPE_WEST9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west9"
          }
        },
        "ME_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-west1"
          }
        },
        "SOUTHAMERICA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "southamerica-east1"
          }
        },
        "US_CENTRAL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central1"
          }
        },
        "US_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east1"
          }
        },
        "US_EAST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east4"
          }
        },
        "US_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-south1"
          }
        },
        "US_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west1"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.cloudflare.speed#PagesTestsCreateRequestRegion",
          "traits": {
            "smithy.api#documentation": "A test region."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportDeviceType": {
      "type": "enum",
      "members": {
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportErrorCode": {
      "type": "enum",
      "members": {
        "NOT_REACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REACHABLE"
          }
        },
        "DNS_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_FAILURE"
          }
        },
        "NOT_HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_HTML"
          }
        },
        "LIGHTHOUSE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHTHOUSE_TIMEOUT"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportErrorCode",
          "traits": {
            "smithy.api#documentation": "The error code of the Lighthouse result."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed error message."
          }
        },
        "finalDisplayedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final URL displayed to the user."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportState": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportDeviceType": {
      "type": "enum",
      "members": {
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportErrorCode": {
      "type": "enum",
      "members": {
        "NOT_REACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REACHABLE"
          }
        },
        "DNS_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_FAILURE"
          }
        },
        "NOT_HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_HTML"
          }
        },
        "LIGHTHOUSE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHTHOUSE_TIMEOUT"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportErrorCode",
          "traits": {
            "smithy.api#documentation": "The error code of the Lighthouse result."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed error message."
          }
        },
        "finalDisplayedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final URL displayed to the user."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportState": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportRegionValue": {
      "type": "enum",
      "members": {
        "ASIA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-east1"
          }
        },
        "ASIA_NORTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast1"
          }
        },
        "ASIA_NORTHEAST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast2"
          }
        },
        "ASIA_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-south1"
          }
        },
        "ASIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-southeast1"
          }
        },
        "AUSTRALIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "australia-southeast1"
          }
        },
        "EUROPE_NORTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-north1"
          }
        },
        "EUROPE_SOUTHWEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-southwest1"
          }
        },
        "EUROPE_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west1"
          }
        },
        "EUROPE_WEST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west2"
          }
        },
        "EUROPE_WEST3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west3"
          }
        },
        "EUROPE_WEST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west4"
          }
        },
        "EUROPE_WEST8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west8"
          }
        },
        "EUROPE_WEST9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west9"
          }
        },
        "ME_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-west1"
          }
        },
        "SOUTHAMERICA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "southamerica-east1"
          }
        },
        "US_CENTRAL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central1"
          }
        },
        "US_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east1"
          }
        },
        "US_EAST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east4"
          }
        },
        "US_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-south1"
          }
        },
        "US_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west1"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportRegion": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportRegionValue",
          "traits": {
            "smithy.api#documentation": "A test region."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportScheduleFrequency": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReport": {
      "type": "structure",
      "members": {
        "cls": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative Layout Shift."
          }
        },
        "deviceType": {
          "target": "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportDeviceType",
          "traits": {
            "smithy.api#documentation": "The type of device."
          }
        },
        "error": {
          "target": "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportError"
        },
        "fcp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "First Contentful Paint."
          }
        },
        "jsonReportUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the full Lighthouse JSON report."
          }
        },
        "lcp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Largest Contentful Paint."
          }
        },
        "performanceScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Lighthouse performance score."
          }
        },
        "si": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Speed Index."
          }
        },
        "state": {
          "target": "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportState",
          "traits": {
            "smithy.api#documentation": "The state of the Lighthouse report."
          }
        },
        "tbt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total Blocking Time."
          }
        },
        "ttfb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To First Byte."
          }
        },
        "tti": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Interactive."
          }
        },
        "region": {
          "target": "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportRegion",
          "traits": {
            "smithy.api#documentation": "A test region with a label."
          }
        },
        "scheduleFrequency": {
          "target": "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReportScheduleFrequency",
          "traits": {
            "smithy.api#documentation": "The frequency of the test."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponseDesktopReport": {
      "type": "structure",
      "members": {
        "cls": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative Layout Shift."
          }
        },
        "deviceType": {
          "target": "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportDeviceType",
          "traits": {
            "smithy.api#documentation": "The type of device."
          }
        },
        "error": {
          "target": "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportError"
        },
        "fcp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "First Contentful Paint."
          }
        },
        "jsonReportUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the full Lighthouse JSON report."
          }
        },
        "lcp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Largest Contentful Paint."
          }
        },
        "performanceScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Lighthouse performance score."
          }
        },
        "si": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Speed Index."
          }
        },
        "state": {
          "target": "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportState",
          "traits": {
            "smithy.api#documentation": "The state of the Lighthouse report."
          }
        },
        "tbt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total Blocking Time."
          }
        },
        "ttfb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To First Byte."
          }
        },
        "tti": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Interactive."
          }
        },
        "mobileReport": {
          "target": "com.cloudflare.speed#PagesTestsCreateResponseDesktopReportMobileReport",
          "traits": {
            "smithy.api#documentation": "The Lighthouse report."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID."
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "desktopReport": {
          "target": "com.cloudflare.speed#PagesTestsCreateResponseDesktopReport",
          "traits": {
            "smithy.api#documentation": "The Lighthouse report."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.speed#PagesTestsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.speed#PagesTestsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.speed#PagesTestsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/speed_api/pages/{url}/tests",
          "code": 200
        },
        "smithy.api#documentation": "Starts a test for a specific webpage, in a specific region."
      }
    },
    "com.cloudflare.speed#PagesTestsDeleteRequestRegion": {
      "type": "enum",
      "members": {
        "ASIA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-east1"
          }
        },
        "ASIA_NORTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast1"
          }
        },
        "ASIA_NORTHEAST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast2"
          }
        },
        "ASIA_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-south1"
          }
        },
        "ASIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-southeast1"
          }
        },
        "AUSTRALIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "australia-southeast1"
          }
        },
        "EUROPE_NORTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-north1"
          }
        },
        "EUROPE_SOUTHWEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-southwest1"
          }
        },
        "EUROPE_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west1"
          }
        },
        "EUROPE_WEST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west2"
          }
        },
        "EUROPE_WEST3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west3"
          }
        },
        "EUROPE_WEST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west4"
          }
        },
        "EUROPE_WEST8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west8"
          }
        },
        "EUROPE_WEST9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west9"
          }
        },
        "ME_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-west1"
          }
        },
        "SOUTHAMERICA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "southamerica-east1"
          }
        },
        "US_CENTRAL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central1"
          }
        },
        "US_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east1"
          }
        },
        "US_EAST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east4"
          }
        },
        "US_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-south1"
          }
        },
        "US_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west1"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.cloudflare.speed#PagesTestsDeleteRequestRegion",
          "traits": {
            "smithy.api#documentation": "A test region.",
            "smithy.api#httpQuery": "region"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.speed#PagesTestsDeleteResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of items affected."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.speed#PagesTestsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.speed#PagesTestsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.speed#PagesTestsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/speed_api/pages/{url}/tests",
          "code": 200
        },
        "smithy.api#documentation": "Deletes all tests for a specific webpage from a specific region. Deleted tests are still counted as part of the quota.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.speed#PagesTestsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "test_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.speed#PagesTestsGetResponseDesktopReportDeviceType": {
      "type": "enum",
      "members": {
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsGetResponseDesktopReportErrorCode": {
      "type": "enum",
      "members": {
        "NOT_REACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REACHABLE"
          }
        },
        "DNS_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_FAILURE"
          }
        },
        "NOT_HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_HTML"
          }
        },
        "LIGHTHOUSE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHTHOUSE_TIMEOUT"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsGetResponseDesktopReportError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.cloudflare.speed#PagesTestsGetResponseDesktopReportErrorCode",
          "traits": {
            "smithy.api#documentation": "The error code of the Lighthouse result."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed error message."
          }
        },
        "finalDisplayedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final URL displayed to the user."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsGetResponseDesktopReportState": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportDeviceType": {
      "type": "enum",
      "members": {
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportErrorCode": {
      "type": "enum",
      "members": {
        "NOT_REACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REACHABLE"
          }
        },
        "DNS_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_FAILURE"
          }
        },
        "NOT_HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_HTML"
          }
        },
        "LIGHTHOUSE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHTHOUSE_TIMEOUT"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportErrorCode",
          "traits": {
            "smithy.api#documentation": "The error code of the Lighthouse result."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed error message."
          }
        },
        "finalDisplayedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final URL displayed to the user."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportState": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportRegionValue": {
      "type": "enum",
      "members": {
        "ASIA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-east1"
          }
        },
        "ASIA_NORTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast1"
          }
        },
        "ASIA_NORTHEAST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-northeast2"
          }
        },
        "ASIA_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-south1"
          }
        },
        "ASIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asia-southeast1"
          }
        },
        "AUSTRALIA_SOUTHEAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "australia-southeast1"
          }
        },
        "EUROPE_NORTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-north1"
          }
        },
        "EUROPE_SOUTHWEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-southwest1"
          }
        },
        "EUROPE_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west1"
          }
        },
        "EUROPE_WEST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west2"
          }
        },
        "EUROPE_WEST3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west3"
          }
        },
        "EUROPE_WEST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west4"
          }
        },
        "EUROPE_WEST8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west8"
          }
        },
        "EUROPE_WEST9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe-west9"
          }
        },
        "ME_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-west1"
          }
        },
        "SOUTHAMERICA_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "southamerica-east1"
          }
        },
        "US_CENTRAL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central1"
          }
        },
        "US_EAST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east1"
          }
        },
        "US_EAST4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east4"
          }
        },
        "US_SOUTH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-south1"
          }
        },
        "US_WEST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west1"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportRegion": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportRegionValue",
          "traits": {
            "smithy.api#documentation": "A test region."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportScheduleFrequency": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReport": {
      "type": "structure",
      "members": {
        "cls": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative Layout Shift."
          }
        },
        "deviceType": {
          "target": "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportDeviceType",
          "traits": {
            "smithy.api#documentation": "The type of device."
          }
        },
        "error": {
          "target": "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportError"
        },
        "fcp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "First Contentful Paint."
          }
        },
        "jsonReportUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the full Lighthouse JSON report."
          }
        },
        "lcp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Largest Contentful Paint."
          }
        },
        "performanceScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Lighthouse performance score."
          }
        },
        "si": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Speed Index."
          }
        },
        "state": {
          "target": "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportState",
          "traits": {
            "smithy.api#documentation": "The state of the Lighthouse report."
          }
        },
        "tbt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total Blocking Time."
          }
        },
        "ttfb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To First Byte."
          }
        },
        "tti": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Interactive."
          }
        },
        "region": {
          "target": "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportRegion",
          "traits": {
            "smithy.api#documentation": "A test region with a label."
          }
        },
        "scheduleFrequency": {
          "target": "com.cloudflare.speed#PagesTestsGetResponseDesktopReportMobileReportScheduleFrequency",
          "traits": {
            "smithy.api#documentation": "The frequency of the test."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL."
          }
        }
      }
    },
    "com.cloudflare.speed#PagesTestsGetResponseDesktopReport": {
      "type": "structure",
      "members": {
        "cls": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative Layout Shift."
          }
        },
        "deviceType": {
          "target": "com.cloudflare.speed#PagesTestsGetResponseDesktopReportDeviceType",
          "traits": {
            "smithy.api#documentation": "The type of device."
          }
        },
        "error": {
          "target": "com.cloudflare.speed#PagesTestsGetResponseDesktopReportError"
        },
        "fcp": {
          "target": "smithy.api#Double",
          "traits": {
[...]
