{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.ssl#AnalyzeCreateRequestBundleMethod": {
      "type": "enum",
      "members": {
        "UBIQUITOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ubiquitous"
          }
        },
        "OPTIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optimal"
          }
        },
        "FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "force"
          }
        }
      }
    },
    "com.cloudflare.ssl#AnalyzeCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bundle_method": {
          "target": "com.cloudflare.ssl#AnalyzeCreateRequestBundleMethod",
          "traits": {
            "smithy.api#documentation": "A ubiquitous bundle has the highest probability of being verified everywhere, even by clients using outdated or unusual trust stores. An optimal bundle uses the shortest chain and newest intermediates. And the force bundle verifies the chain, but does not otherwise modify it."
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The zone’s SSL certificate or certificate and the intermediate(s)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ssl#AnalyzeCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.ssl#AnalyzeCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ssl#AnalyzeCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.ssl#AnalyzeCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/ssl/analyze",
          "code": 200
        },
        "smithy.api#documentation": "Returns the set of hostnames, the signature algorithm, and the expiration date of the certificate."
      }
    },
    "com.cloudflare.ssl#AutoOriginTlsKexEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength32",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls enablement of Auto-Origin TLS KEX selection for the zone.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ssl#AutoOriginTlsKexEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Auto-Origin TLS KEX selection is enabled for the zone.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this setting was modified.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ssl#AutoOriginTlsKexEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ssl#AutoOriginTlsKexEditRequest"
      },
      "output": {
        "target": "com.cloudflare.ssl#AutoOriginTlsKexEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/settings/auto_origin_tls_kex",
          "code": 200
        },
        "smithy.api#documentation": "Enable or disable Auto-Origin TLS KEX selection for the zone by sending `{\"enabled\": true}` or `{\"enabled\": false}`. When enabled, Cloudflare runs a periodic scan of the zone’s origins to determine the preferred key-exchange algorithm and writes that preference to the edge so it is sent first in the TLS ClientHello to the origin."
      }
    },
    "com.cloudflare.ssl#AutoOriginTlsKexGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength32",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ssl#AutoOriginTlsKexGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Auto-Origin TLS KEX selection is enabled for the zone.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this setting was modified.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ssl#AutoOriginTlsKexGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ssl#AutoOriginTlsKexGetRequest"
      },
      "output": {
        "target": "com.cloudflare.ssl#AutoOriginTlsKexGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/settings/auto_origin_tls_kex",
          "code": 200
        },
        "smithy.api#documentation": "When enabled, Cloudflare automatically selects the preferred TLS key-exchange algorithm to use when establishing the TLS connection to the zone’s origin, picking from the algorithms permitted by the zone’s `origin_tls_compliance_modes` setting. When disabled, the default key-exchange ordering is used.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ssl#AutomaticUpgraderGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength32",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ssl#AutomaticUpgraderGetResponseValue": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      }
    },
    "com.cloudflare.ssl#AutomaticUpgraderGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this setting can be updated or not.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this setting was modified.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.cloudflare.ssl#AutomaticUpgraderGetResponseValue",
          "traits": {
            "smithy.api#documentation": "Current setting of the automatic SSL/TLS.",
            "smithy.api#required": {}
          }
        },
        "next_scheduled_scan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next time this zone will be scanned by the Automatic SSL/TLS."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ssl#AutomaticUpgraderGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ssl#AutomaticUpgraderGetRequest"
      },
      "output": {
        "target": "com.cloudflare.ssl#AutomaticUpgraderGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/settings/ssl_automatic_mode",
          "code": 200
        },
        "smithy.api#documentation": "If the system is enabled, the response will include next_scheduled_scan, representing the next time this zone will be scanned and the zone’s ssl/tls encryption mode is potentially upgraded by the system. If the system is disabled, next_scheduled_scan will not be present in the response body.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ssl#AutomaticUpgraderPatchRequestValue": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      }
    },
    "com.cloudflare.ssl#AutomaticUpgraderPatchRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength32",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.cloudflare.ssl#AutomaticUpgraderPatchRequestValue",
          "traits": {
            "smithy.api#documentation": "Controls enablement of Automatic SSL/TLS.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ssl#AutomaticUpgraderPatchResponseValue": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      }
    },
    "com.cloudflare.ssl#AutomaticUpgraderPatchResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "editable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this setting can be updated or not.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this setting was modified.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.cloudflare.ssl#AutomaticUpgraderPatchResponseValue",
          "traits": {
            "smithy.api#documentation": "Current setting of the automatic SSL/TLS.",
            "smithy.api#required": {}
          }
        },
        "next_scheduled_scan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next time this zone will be scanned by the Automatic SSL/TLS."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ssl#AutomaticUpgraderPatch": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ssl#AutomaticUpgraderPatchRequest"
      },
      "output": {
        "target": "com.cloudflare.ssl#AutomaticUpgraderPatchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/settings/ssl_automatic_mode",
          "code": 200
        },
        "smithy.api#documentation": "The automatic system is enabled when this endpoint is hit with value in the request body is set to “auto”, and disabled when the request body value is set to “custom”."
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateRequestCertificateAuthority": {
      "type": "enum",
      "members": {
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google"
          }
        },
        "LETS_ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lets_encrypt"
          }
        },
        "SSL_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssl_com"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateRequestHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateRequestType": {
      "type": "enum",
      "members": {
        "ADVANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advanced"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateRequestValidationMethod": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateRequestValidityDays": {
      "type": "intEnum",
      "members": {
        "_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 14
          }
        },
        "_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 30
          }
        },
        "_90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 90
          }
        },
        "_365": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 365
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "certificate_authority": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateRequestCertificateAuthority",
          "traits": {
            "smithy.api#documentation": "Certificate Authority selected for the order. For information on any certificate authority specific details or restrictions see this page for more details.",
            "smithy.api#required": {}
          }
        },
        "hosts": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateRequestHostsList",
          "traits": {
            "smithy.api#documentation": "Comma separated list of valid host names for the certificate packs. Must contain the zone apex, may not contain more than 50 hosts, and may not be empty.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateRequestType",
          "traits": {
            "smithy.api#documentation": "Type of certificate pack.",
            "smithy.api#required": {}
          }
        },
        "validation_method": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateRequestValidationMethod",
          "traits": {
            "smithy.api#documentation": "Validation Method selected for the order.",
            "smithy.api#required": {}
          }
        },
        "validity_days": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateRequestValidityDays",
          "traits": {
            "smithy.api#documentation": "Validity Days selected for the order.",
            "smithy.api#required": {}
          }
        },
        "cloudflare_branding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to add Cloudflare Branding for the order. This will add a subdomain of sni.cloudflaressl.com as the Common Name if set to true."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemGeoRestrictionsLabel": {
      "type": "enum",
      "members": {
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "HIGHEST_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "highest_security"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemGeoRestrictions": {
      "type": "structure",
      "members": {
        "label": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemGeoRestrictionsLabel"
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemHostsList2": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemStatus": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_validation"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "PENDING_ISSUANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_issuance"
          }
        },
        "PENDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deployment"
          }
        },
        "PENDING_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deletion"
          }
        },
        "PENDING_EXPIRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_expiration"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INITIALIZING_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing_timed_out"
          }
        },
        "VALIDATION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "validation_timed_out"
          }
        },
        "ISSUANCE_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issuance_timed_out"
          }
        },
        "DEPLOYMENT_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment_timed_out"
          }
        },
        "DELETION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deletion_timed_out"
          }
        },
        "PENDING_CLEANUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_cleanup"
          }
        },
        "STAGING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_deployment"
          }
        },
        "STAGING_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_active"
          }
        },
        "DEACTIVATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivating"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "BACKUP_ISSUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backup_issued"
          }
        },
        "HOLDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "holding_deployment"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemType": {
      "type": "enum",
      "members": {
        "MH_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mh_custom"
          }
        },
        "MANAGED_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_hostname"
          }
        },
        "SNI_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sni_custom"
          }
        },
        "UNIVERSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "universal"
          }
        },
        "ADVANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advanced"
          }
        },
        "TOTAL_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total_tls"
          }
        },
        "KEYLESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keyless"
          }
        },
        "LEGACY_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy_custom"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemCertificateAuthority": {
      "type": "enum",
      "members": {
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google"
          }
        },
        "LETS_ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lets_encrypt"
          }
        },
        "SSL_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssl_com"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationErrorsItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain validation error."
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationErrorsItem"
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationMethod": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemValidityDays": {
      "type": "intEnum",
      "members": {
        "_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 14
          }
        },
        "_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 30
          }
        },
        "_90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 90
          }
        },
        "_365": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 365
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemValidityDays2": {
      "type": "intEnum",
      "members": {
        "_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 14
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        },
        "validity_days": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemValidityDays",
          "traits": {
            "smithy.api#documentation": "Validity Days selected for the order."
          }
        },
        "certificate_authority": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hosts": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "\"example.com\",",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validation_method": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validity_days_2": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemValidityDays2",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {},
            "smithy.api#jsonName": "validity_days"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItem"
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        },
        "primary_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the primary certificate in a pack."
          }
        },
        "validation_errors": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationErrorsList",
          "traits": {
            "smithy.api#documentation": "Domain validation errors that have been received by the certificate authority (CA)."
          }
        },
        "validation_method": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationMethod",
          "traits": {
            "smithy.api#documentation": "Validation Method selected for the order."
          }
        },
        "validation_records": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsList",
          "traits": {
            "smithy.api#documentation": "Certificates’ validation records."
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsItem"
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate identifier.",
            "smithy.api#required": {}
          }
        },
        "hosts": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemHostsList",
          "traits": {
            "smithy.api#documentation": "Hostnames covered by this certificate.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate status.",
            "smithy.api#required": {}
          }
        },
        "bundle_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate bundle method."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate from the authority expires."
          }
        },
        "geo_restrictions": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemGeoRestrictions",
          "traits": {
            "smithy.api#documentation": "Specify the region where your private key can be held locally."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate authority that issued the certificate."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate was last modified."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The order/priority in which the certificate will be used."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of hash used for the certificate."
          }
        },
        "uploaded_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate was uploaded to Cloudflare."
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "hosts_2": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemHostsList2",
          "traits": {
            "smithy.api#documentation": "Comma separated list of valid host names for the certificate packs. Must contain the zone apex, may not contain more than 50 hosts, and may not be empty.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "hosts"
          }
        },
        "status_2": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemStatus",
          "traits": {
            "smithy.api#documentation": "Status of certificate pack.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "status"
          }
        },
        "type": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemType",
          "traits": {
            "smithy.api#documentation": "Type of certificate pack.",
            "smithy.api#required": {}
          }
        },
        "certificate_authority": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemCertificateAuthority",
          "traits": {
            "smithy.api#documentation": "Certificate Authority selected for the order. For information on any certificate authority specific details or restrictions see this page for more details."
          }
        },
        "cloudflare_branding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to add Cloudflare Branding for the order. This will add a subdomain of sni.cloudflaressl.com as the Common Name if set to true."
          }
        },
        "dcv_delegation_records": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItemDcvDelegationRecordsList",
          "traits": {
            "smithy.api#documentation": "DCV Delegation records for domain validation."
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesItem"
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "certificates": {
          "target": "com.cloudflare.ssl#CertificatePacksCreateResponseCertificatesList",
          "traits": {
            "smithy.api#documentation": "Array of certificates in this pack.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ssl#CertificatePacksCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ssl#CertificatePacksCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.ssl#CertificatePacksCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/ssl/certificate_packs/order",
          "code": 200
        },
        "smithy.api#documentation": "For a given zone, order an advanced certificate pack."
      }
    },
    "com.cloudflare.ssl#CertificatePacksDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "certificate_pack_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ssl#CertificatePacksDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ssl#CertificatePacksDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ssl#CertificatePacksDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.ssl#CertificatePacksDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/ssl/certificate_packs/{certificate_pack_id}",
          "code": 200
        },
        "smithy.api#documentation": "For a given zone, delete an advanced certificate pack.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "certificate_pack_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cloudflare_branding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to add Cloudflare Branding for the order. This will add a subdomain of sni.cloudflaressl.com as the Common Name if set to true."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemGeoRestrictionsLabel": {
      "type": "enum",
      "members": {
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "HIGHEST_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "highest_security"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemGeoRestrictions": {
      "type": "structure",
      "members": {
        "label": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemGeoRestrictionsLabel"
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemHostsList2": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemStatus": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_validation"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "PENDING_ISSUANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_issuance"
          }
        },
        "PENDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deployment"
          }
        },
        "PENDING_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deletion"
          }
        },
        "PENDING_EXPIRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_expiration"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INITIALIZING_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing_timed_out"
          }
        },
        "VALIDATION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "validation_timed_out"
          }
        },
        "ISSUANCE_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issuance_timed_out"
          }
        },
        "DEPLOYMENT_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment_timed_out"
          }
        },
        "DELETION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deletion_timed_out"
          }
        },
        "PENDING_CLEANUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_cleanup"
          }
        },
        "STAGING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_deployment"
          }
        },
        "STAGING_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_active"
          }
        },
        "DEACTIVATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivating"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "BACKUP_ISSUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backup_issued"
          }
        },
        "HOLDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "holding_deployment"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemType": {
      "type": "enum",
      "members": {
        "MH_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mh_custom"
          }
        },
        "MANAGED_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_hostname"
          }
        },
        "SNI_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sni_custom"
          }
        },
        "UNIVERSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "universal"
          }
        },
        "ADVANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advanced"
          }
        },
        "TOTAL_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total_tls"
          }
        },
        "KEYLESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keyless"
          }
        },
        "LEGACY_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy_custom"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemCertificateAuthority": {
      "type": "enum",
      "members": {
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google"
          }
        },
        "LETS_ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lets_encrypt"
          }
        },
        "SSL_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssl_com"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationErrorsItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain validation error."
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationErrorsItem"
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationMethod": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemValidityDays": {
      "type": "intEnum",
      "members": {
        "_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 14
          }
        },
        "_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 30
          }
        },
        "_90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 90
          }
        },
        "_365": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 365
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        },
        "validity_days": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemValidityDays",
          "traits": {
            "smithy.api#documentation": "Validity Days selected for the order."
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItem"
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        },
        "primary_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the primary certificate in a pack."
          }
        },
        "validation_errors": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationErrorsList",
          "traits": {
            "smithy.api#documentation": "Domain validation errors that have been received by the certificate authority (CA)."
          }
        },
        "validation_method": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationMethod",
          "traits": {
            "smithy.api#documentation": "Validation Method selected for the order."
          }
        },
        "validation_records": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsList",
          "traits": {
            "smithy.api#documentation": "Certificates’ validation records."
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsItem"
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate identifier.",
            "smithy.api#required": {}
          }
        },
        "hosts": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemHostsList",
          "traits": {
            "smithy.api#documentation": "Hostnames covered by this certificate.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate status.",
            "smithy.api#required": {}
          }
        },
        "bundle_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate bundle method."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate from the authority expires."
          }
        },
        "geo_restrictions": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemGeoRestrictions",
          "traits": {
            "smithy.api#documentation": "Specify the region where your private key can be held locally."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate authority that issued the certificate."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate was last modified."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The order/priority in which the certificate will be used."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of hash used for the certificate."
          }
        },
        "uploaded_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate was uploaded to Cloudflare."
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "hosts_2": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemHostsList2",
          "traits": {
            "smithy.api#documentation": "Comma separated list of valid host names for the certificate packs. Must contain the zone apex, may not contain more than 50 hosts, and may not be empty.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "hosts"
          }
        },
        "status_2": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemStatus",
          "traits": {
            "smithy.api#documentation": "Status of certificate pack.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "status"
          }
        },
        "type": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemType",
          "traits": {
            "smithy.api#documentation": "Type of certificate pack.",
            "smithy.api#required": {}
          }
        },
        "certificate_authority": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemCertificateAuthority",
          "traits": {
            "smithy.api#documentation": "Certificate Authority selected for the order. For information on any certificate authority specific details or restrictions see this page for more details."
          }
        },
        "cloudflare_branding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to add Cloudflare Branding for the order. This will add a subdomain of sni.cloudflaressl.com as the Common Name if set to true."
          }
        },
        "dcv_delegation_records": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItemDcvDelegationRecordsList",
          "traits": {
            "smithy.api#documentation": "DCV Delegation records for domain validation."
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesItem"
      }
    },
    "com.cloudflare.ssl#CertificatePacksEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "certificates": {
          "target": "com.cloudflare.ssl#CertificatePacksEditResponseCertificatesList",
          "traits": {
            "smithy.api#documentation": "Array of certificates in this pack.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ssl#CertificatePacksEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ssl#CertificatePacksEditRequest"
      },
      "output": {
        "target": "com.cloudflare.ssl#CertificatePacksEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/ssl/certificate_packs/{certificate_pack_id}",
          "code": 200
        },
        "smithy.api#documentation": "For a given zone, restart validation or add cloudflare branding for an advanced certificate pack. The former is only a validation operation for a Certificate Pack in a validation_timed_out status."
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "certificate_pack_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemGeoRestrictionsLabel": {
      "type": "enum",
      "members": {
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "HIGHEST_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "highest_security"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemGeoRestrictions": {
      "type": "structure",
      "members": {
        "label": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemGeoRestrictionsLabel"
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemHostsList2": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemStatus": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_validation"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "PENDING_ISSUANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_issuance"
          }
        },
        "PENDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deployment"
          }
        },
        "PENDING_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deletion"
          }
        },
        "PENDING_EXPIRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_expiration"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INITIALIZING_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing_timed_out"
          }
        },
        "VALIDATION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "validation_timed_out"
          }
        },
        "ISSUANCE_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issuance_timed_out"
          }
        },
        "DEPLOYMENT_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment_timed_out"
          }
        },
        "DELETION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deletion_timed_out"
          }
        },
        "PENDING_CLEANUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_cleanup"
          }
        },
        "STAGING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_deployment"
          }
        },
        "STAGING_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_active"
          }
        },
        "DEACTIVATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivating"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "BACKUP_ISSUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backup_issued"
          }
        },
        "HOLDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "holding_deployment"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemType": {
      "type": "enum",
      "members": {
        "MH_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mh_custom"
          }
        },
        "MANAGED_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_hostname"
          }
        },
        "SNI_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sni_custom"
          }
        },
        "UNIVERSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "universal"
          }
        },
        "ADVANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advanced"
          }
        },
        "TOTAL_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total_tls"
          }
        },
        "KEYLESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keyless"
          }
        },
        "LEGACY_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy_custom"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemCertificateAuthority": {
      "type": "enum",
      "members": {
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google"
          }
        },
        "LETS_ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lets_encrypt"
          }
        },
        "SSL_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssl_com"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationErrorsItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain validation error."
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationErrorsItem"
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationMethod": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemValidityDays": {
      "type": "intEnum",
      "members": {
        "_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 14
          }
        },
        "_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 30
          }
        },
        "_90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 90
          }
        },
        "_365": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 365
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        },
        "validity_days": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItemValidityDays",
          "traits": {
            "smithy.api#documentation": "Validity Days selected for the order."
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsItem"
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        },
        "primary_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the primary certificate in a pack."
          }
        },
        "validation_errors": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationErrorsList",
          "traits": {
            "smithy.api#documentation": "Domain validation errors that have been received by the certificate authority (CA)."
          }
        },
        "validation_method": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationMethod",
          "traits": {
            "smithy.api#documentation": "Validation Method selected for the order."
          }
        },
        "validation_records": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItemValidationRecordsList",
          "traits": {
            "smithy.api#documentation": "Certificates’ validation records."
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsItem"
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate identifier.",
            "smithy.api#required": {}
          }
        },
        "hosts": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemHostsList",
          "traits": {
            "smithy.api#documentation": "Hostnames covered by this certificate.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate status.",
            "smithy.api#required": {}
          }
        },
        "bundle_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate bundle method."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate from the authority expires."
          }
        },
        "geo_restrictions": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemGeoRestrictions",
          "traits": {
            "smithy.api#documentation": "Specify the region where your private key can be held locally."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate authority that issued the certificate."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate was last modified."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The order/priority in which the certificate will be used."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of hash used for the certificate."
          }
        },
        "uploaded_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate was uploaded to Cloudflare."
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "hosts_2": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemHostsList2",
          "traits": {
            "smithy.api#documentation": "Comma separated list of valid host names for the certificate packs. Must contain the zone apex, may not contain more than 50 hosts, and may not be empty.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "hosts"
          }
        },
        "status_2": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemStatus",
          "traits": {
            "smithy.api#documentation": "Status of certificate pack.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "status"
          }
        },
        "type": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemType",
          "traits": {
            "smithy.api#documentation": "Type of certificate pack.",
            "smithy.api#required": {}
          }
        },
        "certificate_authority": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemCertificateAuthority",
          "traits": {
            "smithy.api#documentation": "Certificate Authority selected for the order. For information on any certificate authority specific details or restrictions see this page for more details."
          }
        },
        "cloudflare_branding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to add Cloudflare Branding for the order. This will add a subdomain of sni.cloudflaressl.com as the Common Name if set to true."
          }
        },
        "dcv_delegation_records": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItemDcvDelegationRecordsList",
          "traits": {
            "smithy.api#documentation": "DCV Delegation records for domain validation."
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesItem"
      }
    },
    "com.cloudflare.ssl#CertificatePacksGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "certificates": {
          "target": "com.cloudflare.ssl#CertificatePacksGetResponseCertificatesList",
          "traits": {
            "smithy.api#documentation": "Array of certificates in this pack.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ssl#CertificatePacksGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ssl#CertificatePacksGetRequest"
      },
      "output": {
        "target": "com.cloudflare.ssl#CertificatePacksGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/ssl/certificate_packs/{certificate_pack_id}",
          "code": 200
        },
        "smithy.api#documentation": "For a given zone, get a certificate pack.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ssl#CertificatePacksListRequestDeploy": {
      "type": "enum",
      "members": {
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksListRequestStatus": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deploy": {
          "target": "com.cloudflare.ssl#CertificatePacksListRequestDeploy",
          "traits": {
            "smithy.api#documentation": "Specify the deployment environment for the certificate packs.",
            "smithy.api#httpQuery": "deploy"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of certificate packs per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "status": {
          "target": "com.cloudflare.ssl#CertificatePacksListRequestStatus",
          "traits": {
            "smithy.api#documentation": "Include Certificate Packs of all statuses, not just active ones.",
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemGeoRestrictionsLabel": {
      "type": "enum",
      "members": {
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "HIGHEST_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "highest_security"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemGeoRestrictions": {
      "type": "structure",
      "members": {
        "label": {
          "target": "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemGeoRestrictionsLabel"
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemHostsList2": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemStatus": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_validation"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "PENDING_ISSUANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_issuance"
          }
        },
        "PENDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deployment"
          }
        },
        "PENDING_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deletion"
          }
        },
        "PENDING_EXPIRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_expiration"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INITIALIZING_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing_timed_out"
          }
        },
        "VALIDATION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "validation_timed_out"
          }
        },
        "ISSUANCE_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issuance_timed_out"
          }
        },
        "DEPLOYMENT_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment_timed_out"
          }
        },
        "DELETION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deletion_timed_out"
          }
        },
        "PENDING_CLEANUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_cleanup"
          }
        },
        "STAGING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_deployment"
          }
        },
        "STAGING_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_active"
          }
        },
        "DEACTIVATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivating"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "BACKUP_ISSUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backup_issued"
          }
        },
        "HOLDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "holding_deployment"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemType": {
      "type": "enum",
      "members": {
        "MH_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mh_custom"
          }
        },
        "MANAGED_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_hostname"
          }
        },
        "SNI_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sni_custom"
          }
        },
        "UNIVERSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "universal"
          }
        },
        "ADVANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advanced"
          }
        },
        "TOTAL_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total_tls"
          }
        },
        "KEYLESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keyless"
          }
        },
        "LEGACY_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy_custom"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemCertificateAuthority": {
      "type": "enum",
      "members": {
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google"
          }
        },
        "LETS_ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lets_encrypt"
          }
        },
        "SSL_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssl_com"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemDcvDelegationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemDcvDelegationRecordsItemValidationErrorsItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain validation error."
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemDcvDelegationRecordsItemValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemDcvDelegationRecordsItemValidationErrorsItem"
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemDcvDelegationRecordsItemValidationMethod": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemDcvDelegationRecordsItemValidationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemDcvDelegationRecordsItemValidationRecordsItemValidityDays": {
      "type": "intEnum",
      "members": {
        "_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 14
          }
        },
        "_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 30
          }
        },
        "_90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 90
          }
        },
        "_365": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 365
          }
        }
      }
    },
    "com.cloudflare.ssl#CertificatePacksListResultItemCertificatesItemDcvDelegationRecordsItemValidationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
[...]
