{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "channelLink": "channel_link",
      "keyId": "key_id",
      "mediaId": "media_id",
      "shareLink": "share_link"
    }
  },
  "shapes": {
    "com.cloudflare.stream#CreateRequestTusResumable": {
      "type": "enum",
      "members": {
        "_1_0_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0.0"
          }
        }
      }
    },
    "com.cloudflare.stream#EditRequestAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#EditRequestPublicDetails": {
      "type": "structure",
      "members": {
        "channel_link": {
          "target": "smithy.api#String"
        },
        "logo": {
          "target": "smithy.api#String"
        },
        "share_link": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.stream#EditResponseAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#EditResponseInput": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video height in pixels. A value of `-1` means the height is unknown. The value becomes available after the upload and before the video is ready."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video width in pixels. A value of `-1` means the width is unknown. The value becomes available after the upload and before the video is ready."
          }
        }
      }
    },
    "com.cloudflare.stream#EditResponsePlayback": {
      "type": "structure",
      "members": {
        "dash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DASH Media Presentation Description for the video."
          }
        },
        "hls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HLS manifest for the video."
          }
        }
      }
    },
    "com.cloudflare.stream#EditResponsePublicDetails": {
      "type": "structure",
      "members": {
        "channel_link": {
          "target": "smithy.api#String"
        },
        "logo": {
          "target": "smithy.api#String"
        },
        "media_id": {
          "target": "smithy.api#Double"
        },
        "share_link": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.stream#EditResponseStatusState": {
      "type": "enum",
      "members": {
        "PENDINGUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingupload"
          }
        },
        "DOWNLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "downloading"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "LIVE_INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live-inprogress"
          }
        }
      }
    },
    "com.cloudflare.stream#EditResponseStatus": {
      "type": "structure",
      "members": {
        "errorReasonCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode. This field is empty if the video is not in an `error` state. Preferred for programmatic use."
          }
        },
        "errorReasonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode using a human readable error message in English. This field is empty if the video is not in an `error` state."
          }
        },
        "pctComplete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the progress as a percentage between 0 and 100."
          }
        },
        "state": {
          "target": "com.cloudflare.stream#EditResponseStatusState",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status for all quality levels for a video."
          }
        }
      }
    },
    "com.cloudflare.stream#EditResponseWatermark": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and a time a watermark profile was created."
          }
        },
        "downloadedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source URL for a downloaded image. If the watermark profile was created via direct upload, this field is null."
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The height of the image in pixels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the watermark profile."
          }
        },
        "opacity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The translucency of the image. A value of `0.0` makes the image completely transparent, and `1.0` makes the image completely opaque. Note that if the image is already semi-transparent, setting this to `1.0` will not make the image completely opaque."
          }
        },
        "padding": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The whitespace between the adjacent edges (determined by position) of the video and the image. `0.0` indicates no padding, and `1.0` indicates a fully padded video width or length, as determined by the algorithm."
          }
        },
        "position": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the image. Valid positions are: `upperRight`, `upperLeft`, `lowerLeft`, `lowerRight`, and `center`. Note that `center` ignores the `padding` parameter."
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image relative to the overall size of the video. This parameter will adapt to horizontal and vertical videos automatically. `0.0` indicates no scaling (use the size of the image as-is), and `1.0`fills the entire video."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image in bytes."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for a watermark profile."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the image in pixels."
          }
        }
      }
    },
    "com.cloudflare.stream#GetResponseAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#GetResponseInput": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video height in pixels. A value of `-1` means the height is unknown. The value becomes available after the upload and before the video is ready."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video width in pixels. A value of `-1` means the width is unknown. The value becomes available after the upload and before the video is ready."
          }
        }
      }
    },
    "com.cloudflare.stream#GetResponsePlayback": {
      "type": "structure",
      "members": {
        "dash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DASH Media Presentation Description for the video."
          }
        },
        "hls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HLS manifest for the video."
          }
        }
      }
    },
    "com.cloudflare.stream#GetResponsePublicDetails": {
      "type": "structure",
      "members": {
        "channel_link": {
          "target": "smithy.api#String"
        },
        "logo": {
          "target": "smithy.api#String"
        },
        "media_id": {
          "target": "smithy.api#Double"
        },
        "share_link": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.stream#GetResponseStatusState": {
      "type": "enum",
      "members": {
        "PENDINGUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingupload"
          }
        },
        "DOWNLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "downloading"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "LIVE_INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live-inprogress"
          }
        }
      }
    },
    "com.cloudflare.stream#GetResponseStatus": {
      "type": "structure",
      "members": {
        "errorReasonCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode. This field is empty if the video is not in an `error` state. Preferred for programmatic use."
          }
        },
        "errorReasonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode using a human readable error message in English. This field is empty if the video is not in an `error` state."
          }
        },
        "pctComplete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the progress as a percentage between 0 and 100."
          }
        },
        "state": {
          "target": "com.cloudflare.stream#GetResponseStatusState",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status for all quality levels for a video."
          }
        }
      }
    },
    "com.cloudflare.stream#GetResponseWatermark": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and a time a watermark profile was created."
          }
        },
        "downloadedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source URL for a downloaded image. If the watermark profile was created via direct upload, this field is null."
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The height of the image in pixels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the watermark profile."
          }
        },
        "opacity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The translucency of the image. A value of `0.0` makes the image completely transparent, and `1.0` makes the image completely opaque. Note that if the image is already semi-transparent, setting this to `1.0` will not make the image completely opaque."
          }
        },
        "padding": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The whitespace between the adjacent edges (determined by position) of the video and the image. `0.0` indicates no padding, and `1.0` indicates a fully padded video width or length, as determined by the algorithm."
          }
        },
        "position": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the image. Valid positions are: `upperRight`, `upperLeft`, `lowerLeft`, `lowerRight`, and `center`. Note that `center` ignores the `padding` parameter."
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image relative to the overall size of the video. This parameter will adapt to horizontal and vertical videos automatically. `0.0` indicates no scaling (use the size of the image as-is), and `1.0`fills the entire video."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image in bytes."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for a watermark profile."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the image in pixels."
          }
        }
      }
    },
    "com.cloudflare.stream#ListRequestStatus": {
      "type": "enum",
      "members": {
        "PENDINGUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingupload"
          }
        },
        "DOWNLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "downloading"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "LIVE_INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live-inprogress"
          }
        }
      }
    },
    "com.cloudflare.stream#ListResultItemAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#ListResultItemInput": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video height in pixels. A value of `-1` means the height is unknown. The value becomes available after the upload and before the video is ready."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video width in pixels. A value of `-1` means the width is unknown. The value becomes available after the upload and before the video is ready."
          }
        }
      }
    },
    "com.cloudflare.stream#ListResultItemPlayback": {
      "type": "structure",
      "members": {
        "dash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DASH Media Presentation Description for the video."
          }
        },
        "hls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HLS manifest for the video."
          }
        }
      }
    },
    "com.cloudflare.stream#ListResultItemPublicDetails": {
      "type": "structure",
      "members": {
        "channel_link": {
          "target": "smithy.api#String"
        },
        "logo": {
          "target": "smithy.api#String"
        },
        "media_id": {
          "target": "smithy.api#Double"
        },
        "share_link": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.stream#ListResultItemStatusState": {
      "type": "enum",
      "members": {
        "PENDINGUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingupload"
          }
        },
        "DOWNLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "downloading"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "LIVE_INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live-inprogress"
          }
        }
      }
    },
    "com.cloudflare.stream#ListResultItemStatus": {
      "type": "structure",
      "members": {
        "errorReasonCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode. This field is empty if the video is not in an `error` state. Preferred for programmatic use."
          }
        },
        "errorReasonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode using a human readable error message in English. This field is empty if the video is not in an `error` state."
          }
        },
        "pctComplete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the progress as a percentage between 0 and 100."
          }
        },
        "state": {
          "target": "com.cloudflare.stream#ListResultItemStatusState",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status for all quality levels for a video."
          }
        }
      }
    },
    "com.cloudflare.stream#ListResultItemWatermark": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and a time a watermark profile was created."
          }
        },
        "downloadedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source URL for a downloaded image. If the watermark profile was created via direct upload, this field is null."
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The height of the image in pixels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the watermark profile."
          }
        },
        "opacity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The translucency of the image. A value of `0.0` makes the image completely transparent, and `1.0` makes the image completely opaque. Note that if the image is already semi-transparent, setting this to `1.0` will not make the image completely opaque."
          }
        },
        "padding": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The whitespace between the adjacent edges (determined by position) of the video and the image. `0.0` indicates no padding, and `1.0` indicates a fully padded video width or length, as determined by the algorithm."
          }
        },
        "position": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the image. Valid positions are: `upperRight`, `upperLeft`, `lowerLeft`, `lowerRight`, and `center`. Note that `center` ignores the `padding` parameter."
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image relative to the overall size of the video. This parameter will adapt to horizontal and vertical videos automatically. `0.0` indicates no scaling (use the size of the image as-is), and `1.0`fills the entire video."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image in bytes."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for a watermark profile."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the image in pixels."
          }
        }
      }
    },
    "com.cloudflare.stream#ListResultItem": {
      "type": "structure",
      "members": {
        "allowedOrigins": {
          "target": "com.cloudflare.stream#ListResultItemAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Lists the origins allowed to display the video. Enter allowed origin domains in an array and use `*` for wildcard subdomains. Empty arrays allow the video to be viewed on any origin."
          }
        },
        "clippedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the source video this video was clipped from."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the media item was created."
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-defined identifier for the media creator."
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The duration of the video in seconds. A value of `-1` means the duration is unknown. The duration becomes available after the upload and before the video is ready."
          }
        },
        "input": {
          "target": "com.cloudflare.stream#ListResultItemInput"
        },
        "liveInput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The live input ID used to upload a video with Stream Live."
          }
        },
        "maxDurationSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum duration in seconds for a video upload. Can be set for a video that is not yet uploaded to limit its duration. Uploads that exceed the specified duration will fail during processing. A value of `-1` means the value is unknown."
          }
        },
        "maxSizeBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum size in bytes for the video upload."
          }
        },
        "meta": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A user modifiable key-value store used to reference other systems of record for managing videos."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the media item was last modified."
          }
        },
        "playback": {
          "target": "com.cloudflare.stream#ListResultItemPlayback"
        },
        "preview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The video's preview page URI. This field is omitted until encoding is complete."
          }
        },
        "publicDetails": {
          "target": "com.cloudflare.stream#ListResultItemPublicDetails",
          "traits": {
            "smithy.api#documentation": "Public details for the video including title, share link, channel link, and logo."
          }
        },
        "readyToStream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the video is playable. The field is empty if the video is not ready for viewing or the live stream is still in progress."
          }
        },
        "readyToStreamAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the time at which the video became playable. The field is empty if the video is not ready for viewing or the live stream is still in progress."
          }
        },
        "requireSignedURLs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the video can be a accessed using the UID. When set to `true`, a signed token must be generated with a signing key to view the video."
          }
        },
        "scheduledDeletion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the date and time at which the video will be deleted. Omit the field to indicate no change, or include with a `null` value to remove an existing scheduled deletion. If specified, must be at least 30 days from upload time."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the media item in bytes."
          }
        },
        "status": {
          "target": "com.cloudflare.stream#ListResultItemStatus",
          "traits": {
            "smithy.api#documentation": "Specifies a detailed status for a video. If the `state` is `inprogress` or `error`, the `step` field returns `encoding` or `manifest`. If the `state` is `inprogress`, `pctComplete` returns a number between 0 and 100 to indicate the approximate percent of completion. If the `state` is `error`, `errorReasonCode` and `errorReasonText` provide additional details."
          }
        },
        "thumbnail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media item's thumbnail URI. This field is omitted until encoding is complete."
          }
        },
        "thumbnailTimestampPct": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The timestamp for a thumbnail image calculated as a percentage value of the video's duration. To convert from a second-wise timestamp to a percentage, divide the desired timestamp by the total duration of the video.  If this value is not set, the default thumbnail image is taken from 0s of the video."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item."
          }
        },
        "uploaded": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the media item was uploaded."
          }
        },
        "uploadExpiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the video upload URL is no longer valid for direct user uploads."
          }
        },
        "watermark": {
          "target": "com.cloudflare.stream#ListResultItemWatermark"
        }
      }
    },
    "com.cloudflare.stream#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.stream#ListResultItem"
      }
    },
    "com.cloudflare.stream#AudioTracksCopyResponseStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#AudioTracksEditResponseStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#AudioTracksGetResponseAudioItemStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#AudioTracksGetResponseAudioItem": {
      "type": "structure",
      "members": {
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Denotes whether the audio track will be played by default in a player."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string to uniquely identify the track amongst other audio track labels for the specified video."
          }
        },
        "status": {
          "target": "com.cloudflare.stream#AudioTracksGetResponseAudioItemStatus",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status of the video."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item."
          }
        }
      }
    },
    "com.cloudflare.stream#AudioTracksGetResponseAudioList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.stream#AudioTracksGetResponseAudioItem"
      }
    },
    "com.cloudflare.stream#CaptionsGetResultItemStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#CaptionsGetResultItem": {
      "type": "structure",
      "members": {
        "generated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the caption was generated via AI."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language label displayed in the native language to users."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language tag in BCP 47 format."
          }
        },
        "status": {
          "target": "com.cloudflare.stream#CaptionsGetResultItemStatus",
          "traits": {
            "smithy.api#documentation": "The status of a generated caption."
          }
        }
      }
    },
    "com.cloudflare.stream#CaptionsGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.stream#CaptionsGetResultItem"
      }
    },
    "com.cloudflare.stream#CaptionsLanguageCreateResponseStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#CaptionsLanguageGetResponseStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#CaptionsLanguageUpdateResponseStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#ClipCreateRequestAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#ClipCreateRequestWatermark": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the watermark profile."
          }
        }
      }
    },
    "com.cloudflare.stream#ClipCreateResponseAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#ClipCreateResponseInput": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video height in pixels. A value of `-1` means the height is unknown. The value becomes available after the upload and before the video is ready."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video width in pixels. A value of `-1` means the width is unknown. The value becomes available after the upload and before the video is ready."
          }
        }
      }
    },
    "com.cloudflare.stream#ClipCreateResponsePlayback": {
      "type": "structure",
      "members": {
        "dash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DASH Media Presentation Description for the video."
          }
        },
        "hls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HLS manifest for the video."
          }
        }
      }
    },
    "com.cloudflare.stream#ClipCreateResponsePublicDetails": {
      "type": "structure",
      "members": {
        "channel_link": {
          "target": "smithy.api#String"
        },
        "logo": {
          "target": "smithy.api#String"
        },
        "media_id": {
          "target": "smithy.api#Double"
        },
        "share_link": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.stream#ClipCreateResponseStatusState": {
      "type": "enum",
      "members": {
        "PENDINGUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingupload"
          }
        },
        "DOWNLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "downloading"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "LIVE_INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live-inprogress"
          }
        }
      }
    },
    "com.cloudflare.stream#ClipCreateResponseStatus": {
      "type": "structure",
      "members": {
        "errorReasonCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode. This field is empty if the video is not in an `error` state. Preferred for programmatic use."
          }
        },
        "errorReasonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode using a human readable error message in English. This field is empty if the video is not in an `error` state."
          }
        },
        "pctComplete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the progress as a percentage between 0 and 100."
          }
        },
        "state": {
          "target": "com.cloudflare.stream#ClipCreateResponseStatusState",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status for all quality levels for a video."
          }
        }
      }
    },
    "com.cloudflare.stream#ClipCreateResponseWatermark": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and a time a watermark profile was created."
          }
        },
        "downloadedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source URL for a downloaded image. If the watermark profile was created via direct upload, this field is null."
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The height of the image in pixels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the watermark profile."
          }
        },
        "opacity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The translucency of the image. A value of `0.0` makes the image completely transparent, and `1.0` makes the image completely opaque. Note that if the image is already semi-transparent, setting this to `1.0` will not make the image completely opaque."
          }
        },
        "padding": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The whitespace between the adjacent edges (determined by position) of the video and the image. `0.0` indicates no padding, and `1.0` indicates a fully padded video width or length, as determined by the algorithm."
          }
        },
        "position": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the image. Valid positions are: `upperRight`, `upperLeft`, `lowerLeft`, `lowerRight`, and `center`. Note that `center` ignores the `padding` parameter."
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image relative to the overall size of the video. This parameter will adapt to horizontal and vertical videos automatically. `0.0` indicates no scaling (use the size of the image as-is), and `1.0`fills the entire video."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image in bytes."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for a watermark profile."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the image in pixels."
          }
        }
      }
    },
    "com.cloudflare.stream#CopyCreateRequestAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#CopyCreateRequestWatermark": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the watermark profile."
          }
        }
      }
    },
    "com.cloudflare.stream#CopyCreateResponseAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#CopyCreateResponseInput": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video height in pixels. A value of `-1` means the height is unknown. The value becomes available after the upload and before the video is ready."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video width in pixels. A value of `-1` means the width is unknown. The value becomes available after the upload and before the video is ready."
          }
        }
      }
    },
    "com.cloudflare.stream#CopyCreateResponsePlayback": {
      "type": "structure",
      "members": {
        "dash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DASH Media Presentation Description for the video."
          }
        },
        "hls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HLS manifest for the video."
          }
        }
      }
    },
    "com.cloudflare.stream#CopyCreateResponsePublicDetails": {
      "type": "structure",
      "members": {
        "channel_link": {
          "target": "smithy.api#String"
        },
        "logo": {
          "target": "smithy.api#String"
        },
        "media_id": {
          "target": "smithy.api#Double"
        },
        "share_link": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.stream#CopyCreateResponseStatusState": {
      "type": "enum",
      "members": {
        "PENDINGUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingupload"
          }
        },
        "DOWNLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "downloading"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "LIVE_INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live-inprogress"
          }
        }
      }
    },
    "com.cloudflare.stream#CopyCreateResponseStatus": {
      "type": "structure",
      "members": {
        "errorReasonCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode. This field is empty if the video is not in an `error` state. Preferred for programmatic use."
          }
        },
        "errorReasonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode using a human readable error message in English. This field is empty if the video is not in an `error` state."
          }
        },
        "pctComplete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the progress as a percentage between 0 and 100."
          }
        },
        "state": {
          "target": "com.cloudflare.stream#CopyCreateResponseStatusState",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status for all quality levels for a video."
          }
        }
      }
    },
    "com.cloudflare.stream#CopyCreateResponseWatermark": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and a time a watermark profile was created."
          }
        },
        "downloadedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source URL for a downloaded image. If the watermark profile was created via direct upload, this field is null."
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The height of the image in pixels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the watermark profile."
          }
        },
        "opacity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The translucency of the image. A value of `0.0` makes the image completely transparent, and `1.0` makes the image completely opaque. Note that if the image is already semi-transparent, setting this to `1.0` will not make the image completely opaque."
          }
        },
        "padding": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The whitespace between the adjacent edges (determined by position) of the video and the image. `0.0` indicates no padding, and `1.0` indicates a fully padded video width or length, as determined by the algorithm."
          }
        },
        "position": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the image. Valid positions are: `upperRight`, `upperLeft`, `lowerLeft`, `lowerRight`, and `center`. Note that `center` ignores the `padding` parameter."
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image relative to the overall size of the video. This parameter will adapt to horizontal and vertical videos automatically. `0.0` indicates no scaling (use the size of the image as-is), and `1.0`fills the entire video."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image in bytes."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for a watermark profile."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the image in pixels."
          }
        }
      }
    },
    "com.cloudflare.stream#DirectUploadCreateRequestAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#DirectUploadCreateRequestWatermark": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the watermark profile."
          }
        }
      }
    },
    "com.cloudflare.stream#DirectUploadCreateResponseWatermark": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and a time a watermark profile was created."
          }
        },
        "downloadedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source URL for a downloaded image. If the watermark profile was created via direct upload, this field is null."
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The height of the image in pixels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the watermark profile."
          }
        },
        "opacity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The translucency of the image. A value of `0.0` makes the image completely transparent, and `1.0` makes the image completely opaque. Note that if the image is already semi-transparent, setting this to `1.0` will not make the image completely opaque."
          }
        },
        "padding": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The whitespace between the adjacent edges (determined by position) of the video and the image. `0.0` indicates no padding, and `1.0` indicates a fully padded video width or length, as determined by the algorithm."
          }
        },
        "position": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the image. Valid positions are: `upperRight`, `upperLeft`, `lowerLeft`, `lowerRight`, and `center`. Note that `center` ignores the `padding` parameter."
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image relative to the overall size of the video. This parameter will adapt to horizontal and vertical videos automatically. `0.0` indicates no scaling (use the size of the image as-is), and `1.0`fills the entire video."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image in bytes."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for a watermark profile."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the image in pixels."
          }
        }
      }
    },
    "com.cloudflare.stream#DownloadsCreateResponseAudioStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#DownloadsCreateResponseAudio": {
      "type": "structure",
      "members": {
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Indicates the progress as a percentage between 0 and 100.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.stream#DownloadsCreateResponseAudioStatus",
          "traits": {
            "smithy.api#documentation": "The status of a generated download.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to access the generated download."
          }
        }
      }
    },
    "com.cloudflare.stream#DownloadsCreateResponseDefaultStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#DownloadsCreateResponseDefault": {
      "type": "structure",
      "members": {
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Indicates the progress as a percentage between 0 and 100.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.stream#DownloadsCreateResponseDefaultStatus",
          "traits": {
            "smithy.api#documentation": "The status of a generated download.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to access the generated download."
          }
        }
      }
    },
    "com.cloudflare.stream#DownloadsGetResponseAudioStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#DownloadsGetResponseAudio": {
      "type": "structure",
      "members": {
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Indicates the progress as a percentage between 0 and 100.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.stream#DownloadsGetResponseAudioStatus",
          "traits": {
            "smithy.api#documentation": "The status of a generated download.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to access the generated download."
          }
        }
      }
    },
    "com.cloudflare.stream#DownloadsGetResponseDefaultStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#DownloadsGetResponseDefault": {
      "type": "structure",
      "members": {
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Indicates the progress as a percentage between 0 and 100.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.stream#DownloadsGetResponseDefaultStatus",
          "traits": {
            "smithy.api#documentation": "The status of a generated download.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to access the generated download."
          }
        }
      }
    },
    "com.cloudflare.stream#KeysGetResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time a signing key was created."
          }
        },
        "key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the signing key."
          }
        }
      }
    },
    "com.cloudflare.stream#KeysGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.stream#KeysGetResultItem"
      }
    },
    "com.cloudflare.stream#LiveInputsCreateRequestRecordingAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.stream#LiveInputsCreateRequestRecordingMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsCreateRequestRecording": {
      "type": "structure",
      "members": {
        "allowedOrigins": {
          "target": "com.cloudflare.stream#LiveInputsCreateRequestRecordingAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Lists the origins allowed to display videos created with this input. Enter allowed origin domains in an array and use `*` for wildcard subdomains. An empty array allows videos to be viewed on any origin."
          }
        },
        "hideLiveViewerCount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disables reporting the number of live viewers when this property is set to `true`."
          }
        },
        "mode": {
          "target": "com.cloudflare.stream#LiveInputsCreateRequestRecordingMode",
          "traits": {
            "smithy.api#documentation": "Specifies the recording behavior for the live input. Set this value to `off` to prevent a recording. Set the value to `automatic` to begin a recording and transition to on-demand after Stream Live stops receiving input."
          }
        },
        "requireSignedURLs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if a video using the live input has the `requireSignedURLs` property set. Also enforces access controls on any video recording of the livestream with the live input."
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Determines the amount of time a live input configured in `automatic` mode should wait before a recording transitions from live to on-demand. `0` is recommended for most use cases and indicates the platform default should be used."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsCreateResponseRecordingAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.stream#LiveInputsCreateResponseRecordingMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsCreateResponseRecording": {
      "type": "structure",
      "members": {
        "allowedOrigins": {
          "target": "com.cloudflare.stream#LiveInputsCreateResponseRecordingAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Lists the origins allowed to display videos created with this input. Enter allowed origin domains in an array and use `*` for wildcard subdomains. An empty array allows videos to be viewed on any origin."
          }
        },
        "hideLiveViewerCount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disables reporting the number of live viewers when this property is set to `true`."
          }
        },
        "mode": {
          "target": "com.cloudflare.stream#LiveInputsCreateResponseRecordingMode",
          "traits": {
            "smithy.api#documentation": "Specifies the recording behavior for the live input. Set this value to `off` to prevent a recording. Set the value to `automatic` to begin a recording and transition to on-demand after Stream Live stops receiving input."
          }
        },
        "requireSignedURLs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if a video using the live input has the `requireSignedURLs` property set. Also enforces access controls on any video recording of the livestream with the live input."
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Determines the amount of time a live input configured in `automatic` mode should wait before a recording transitions from live to on-demand. `0` is recommended for most use cases and indicates the platform default should be used."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsCreateResponseRtmps": {
      "type": "structure",
      "members": {
        "streamKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key to use when streaming via RTMPS to a live input."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The RTMPS URL you provide to the broadcaster, which they stream live video to."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsCreateResponseRtmpsPlayback": {
      "type": "structure",
      "members": {
        "streamKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key to use for playback via RTMPS."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL used to play live video over RTMPS."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsCreateResponseSrt": {
      "type": "structure",
      "members": {
        "passphrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key to use when streaming via SRT to a live input."
          }
        },
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the live input to use when streaming via SRT."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SRT URL you provide to the broadcaster, which they stream live video to."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsCreateResponseSrtPlayback": {
      "type": "structure",
      "members": {
        "passphrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key to use for playback via SRT."
          }
        },
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the live input to use for playback via SRT."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL used to play live video over SRT."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsCreateResponseStatus": {
      "type": "enum",
      "members": {
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connected"
          }
        },
        "RECONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reconnected"
          }
        },
        "RECONNECTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reconnecting"
          }
        },
        "CLIENT_DISCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_disconnect"
          }
        },
        "TTL_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ttl_exceeded"
          }
        },
        "FAILED_TO_CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed_to_connect"
          }
        },
        "FAILED_TO_RECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed_to_reconnect"
          }
        },
        "NEW_CONFIGURATION_ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "new_configuration_accepted"
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsCreateResponseWebRTC": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The WebRTC URL you provide to the broadcaster, which they stream live video to."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsCreateResponseWebRTCPlayback": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL used to play live video over WebRTC."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsGetResponseRecordingAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.stream#LiveInputsGetResponseRecordingMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsGetResponseRecording": {
      "type": "structure",
      "members": {
        "allowedOrigins": {
          "target": "com.cloudflare.stream#LiveInputsGetResponseRecordingAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Lists the origins allowed to display videos created with this input. Enter allowed origin domains in an array and use `*` for wildcard subdomains. An empty array allows videos to be viewed on any origin."
          }
        },
        "hideLiveViewerCount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disables reporting the number of live viewers when this property is set to `true`."
          }
        },
        "mode": {
          "target": "com.cloudflare.stream#LiveInputsGetResponseRecordingMode",
          "traits": {
            "smithy.api#documentation": "Specifies the recording behavior for the live input. Set this value to `off` to prevent a recording. Set the value to `automatic` to begin a recording and transition to on-demand after Stream Live stops receiving input."
          }
        },
        "requireSignedURLs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if a video using the live input has the `requireSignedURLs` property set. Also enforces access controls on any video recording of the livestream with the live input."
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Determines the amount of time a live input configured in `automatic` mode should wait before a recording transitions from live to on-demand. `0` is recommended for most use cases and indicates the platform default should be used."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsGetResponseRtmps": {
      "type": "structure",
      "members": {
        "streamKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key to use when streaming via RTMPS to a live input."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The RTMPS URL you provide to the broadcaster, which they stream live video to."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsGetResponseRtmpsPlayback": {
      "type": "structure",
      "members": {
        "streamKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key to use for playback via RTMPS."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL used to play live video over RTMPS."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsGetResponseSrt": {
      "type": "structure",
      "members": {
        "passphrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key to use when streaming via SRT to a live input."
          }
        },
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the live input to use when streaming via SRT."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SRT URL you provide to the broadcaster, which they stream live video to."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsGetResponseSrtPlayback": {
      "type": "structure",
      "members": {
        "passphrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key to use for playback via SRT."
          }
        },
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the live input to use for playback via SRT."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL used to play live video over SRT."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsGetResponseStatus": {
      "type": "enum",
      "members": {
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connected"
          }
        },
        "RECONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reconnected"
          }
        },
        "RECONNECTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reconnecting"
          }
        },
        "CLIENT_DISCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_disconnect"
          }
        },
        "TTL_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ttl_exceeded"
          }
        },
        "FAILED_TO_CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed_to_connect"
          }
        },
        "FAILED_TO_RECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed_to_reconnect"
          }
        },
        "NEW_CONFIGURATION_ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "new_configuration_accepted"
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsGetResponseWebRTC": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The WebRTC URL you provide to the broadcaster, which they stream live video to."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsGetResponseWebRTCPlayback": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL used to play live video over WebRTC."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsListResponseLiveInputsItem": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the live input was created."
          }
        },
        "deleteRecordingAfterDays": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Indicates the number of days after which the live inputs recordings will be deleted. When a stream completes and the recording is ready, the value is used to calculate a scheduled deletion date for that recording. Omit the field to indicate no change, or include with a `null` value to remove an existing scheduled deletion."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the live input is enabled and can accept streams."
          }
        },
        "meta": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A user modifiable key-value store used to reference other systems of record for managing live inputs."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the live input was last modified."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for a live input."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsListResponseLiveInputsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.stream#LiveInputsListResponseLiveInputsItem"
      }
    },
    "com.cloudflare.stream#LiveInputsUpdateRequestRecordingAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.stream#LiveInputsUpdateRequestRecordingMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsUpdateRequestRecording": {
      "type": "structure",
      "members": {
        "allowedOrigins": {
          "target": "com.cloudflare.stream#LiveInputsUpdateRequestRecordingAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Lists the origins allowed to display videos created with this input. Enter allowed origin domains in an array and use `*` for wildcard subdomains. An empty array allows videos to be viewed on any origin."
          }
        },
        "hideLiveViewerCount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disables reporting the number of live viewers when this property is set to `true`."
          }
        },
        "mode": {
          "target": "com.cloudflare.stream#LiveInputsUpdateRequestRecordingMode",
          "traits": {
            "smithy.api#documentation": "Specifies the recording behavior for the live input. Set this value to `off` to prevent a recording. Set the value to `automatic` to begin a recording and transition to on-demand after Stream Live stops receiving input."
          }
        },
        "requireSignedURLs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if a video using the live input has the `requireSignedURLs` property set. Also enforces access controls on any video recording of the livestream with the live input."
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Determines the amount of time a live input configured in `automatic` mode should wait before a recording transitions from live to on-demand. `0` is recommended for most use cases and indicates the platform default should be used."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsUpdateResponseRecordingAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.stream#LiveInputsUpdateResponseRecordingMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsUpdateResponseRecording": {
      "type": "structure",
      "members": {
        "allowedOrigins": {
          "target": "com.cloudflare.stream#LiveInputsUpdateResponseRecordingAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Lists the origins allowed to display videos created with this input. Enter allowed origin domains in an array and use `*` for wildcard subdomains. An empty array allows videos to be viewed on any origin."
          }
        },
        "hideLiveViewerCount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disables reporting the number of live viewers when this property is set to `true`."
          }
        },
        "mode": {
          "target": "com.cloudflare.stream#LiveInputsUpdateResponseRecordingMode",
          "traits": {
            "smithy.api#documentation": "Specifies the recording behavior for the live input. Set this value to `off` to prevent a recording. Set the value to `automatic` to begin a recording and transition to on-demand after Stream Live stops receiving input."
          }
        },
        "requireSignedURLs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if a video using the live input has the `requireSignedURLs` property set. Also enforces access controls on any video recording of the livestream with the live input."
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Determines the amount of time a live input configured in `automatic` mode should wait before a recording transitions from live to on-demand. `0` is recommended for most use cases and indicates the platform default should be used."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsUpdateResponseRtmps": {
      "type": "structure",
      "members": {
        "streamKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key to use when streaming via RTMPS to a live input."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The RTMPS URL you provide to the broadcaster, which they stream live video to."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsUpdateResponseRtmpsPlayback": {
      "type": "structure",
      "members": {
        "streamKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key to use for playback via RTMPS."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL used to play live video over RTMPS."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsUpdateResponseSrt": {
      "type": "structure",
      "members": {
        "passphrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key to use when streaming via SRT to a live input."
          }
        },
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the live input to use when streaming via SRT."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SRT URL you provide to the broadcaster, which they stream live video to."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsUpdateResponseSrtPlayback": {
      "type": "structure",
      "members": {
        "passphrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key to use for playback via SRT."
          }
        },
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the live input to use for playback via SRT."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL used to play live video over SRT."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsUpdateResponseStatus": {
      "type": "enum",
      "members": {
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connected"
          }
        },
        "RECONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reconnected"
          }
        },
        "RECONNECTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reconnecting"
          }
        },
        "CLIENT_DISCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_disconnect"
          }
        },
        "TTL_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ttl_exceeded"
          }
        },
        "FAILED_TO_CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed_to_connect"
          }
        },
        "FAILED_TO_RECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed_to_reconnect"
          }
        },
        "NEW_CONFIGURATION_ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "new_configuration_accepted"
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsUpdateResponseWebRTC": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The WebRTC URL you provide to the broadcaster, which they stream live video to."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsUpdateResponseWebRTCPlayback": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL used to play live video over WebRTC."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsOutputsListResultItem": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, live video streamed to the associated live input will be sent to the output URL. When disabled, live video will not be sent to the output URL, even when streaming to the associated live input. Use this to control precisely when you start and stop simulcasting to specific destinations like YouTube and Twitch."
          }
        },
        "streamKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The streamKey used to authenticate against an output's target."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the output."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL an output uses to restream."
          }
        }
      }
    },
    "com.cloudflare.stream#LiveInputsOutputsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.stream#LiveInputsOutputsListResultItem"
      }
    },
    "com.cloudflare.stream#TokenCreateRequestAccessRulesItemAction": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.stream#TokenCreateRequestAccessRulesItemCountryList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.stream#TokenCreateRequestAccessRulesItemIpList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.stream#TokenCreateRequestAccessRulesItemType": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "IP_SRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip.src"
          }
        },
        "IP_GEOIP_COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip.geoip.country"
          }
        }
      }
    },
    "com.cloudflare.stream#TokenCreateRequestAccessRulesItem": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.cloudflare.stream#TokenCreateRequestAccessRulesItemAction",
          "traits": {
            "smithy.api#documentation": "The action to take when a request matches a rule. If the action is `block`, the signed token blocks views for viewers matching the rule."
          }
        },
        "country": {
          "target": "com.cloudflare.stream#TokenCreateRequestAccessRulesItemCountryList",
          "traits": {
            "smithy.api#documentation": "An array of 2-letter country codes in ISO 3166-1 Alpha-2 format used to match requests."
          }
        },
        "ip": {
          "target": "com.cloudflare.stream#TokenCreateRequestAccessRulesItemIpList",
          "traits": {
            "smithy.api#documentation": "An array of IPv4 or IPV6 addresses or CIDRs used to match requests."
          }
        },
        "type": {
          "target": "com.cloudflare.stream#TokenCreateRequestAccessRulesItemType",
          "traits": {
            "smithy.api#documentation": "Lists available rule types to match for requests. An `any` type matches all requests and can be used as a wildcard to apply default actions after other rules."
          }
        }
      }
    },
    "com.cloudflare.stream#TokenCreateRequestAccessRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.stream#TokenCreateRequestAccessRulesItem"
      }
    },
    "com.cloudflare.stream#TokenCreateRequestFlags": {
      "type": "structure",
      "members": {
        "original": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to return the original video without transformations."
          }
        }
      }
    },
    "com.cloudflare.stream#WatermarksListResultItem": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and a time a watermark profile was created."
          }
        },
        "downloadedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source URL for a downloaded image. If the watermark profile was created via direct upload, this field is null."
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The height of the image in pixels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the watermark profile."
          }
        },
        "opacity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The translucency of the image. A value of `0.0` makes the image completely transparent, and `1.0` makes the image completely opaque. Note that if the image is already semi-transparent, setting this to `1.0` will not make the image completely opaque."
          }
        },
        "padding": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The whitespace between the adjacent edges (determined by position) of the video and the image. `0.0` indicates no padding, and `1.0` indicates a fully padded video width or length, as determined by the algorithm."
          }
        },
        "position": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the image. Valid positions are: `upperRight`, `upperLeft`, `lowerLeft`, `lowerRight`, and `center`. Note that `center` ignores the `padding` parameter."
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image relative to the overall size of the video. This parameter will adapt to horizontal and vertical videos automatically. `0.0` indicates no scaling (use the size of the image as-is), and `1.0`fills the entire video."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image in bytes."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for a watermark profile."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the image in pixels."
          }
        }
      }
    },
    "com.cloudflare.stream#WatermarksListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.stream#WatermarksListResultItem"
      }
    },
    "com.cloudflare.stream#Stream": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.stream#Create"
        },
        {
          "target": "com.cloudflare.stream#Delete"
        },
        {
          "target": "com.cloudflare.stream#Edit"
        },
        {
          "target": "com.cloudflare.stream#Get"
        },
        {
          "target": "com.cloudflare.stream#List"
        },
        {
          "target": "com.cloudflare.stream#AudioTracksCopy"
        },
        {
          "target": "com.cloudflare.stream#AudioTracksDelete"
        },
        {
          "target": "com.cloudflare.stream#AudioTracksEdit"
        },
        {
          "target": "com.cloudflare.stream#AudioTracksGet"
        },
        {
          "target": "com.cloudflare.stream#CaptionsGet"
        },
        {
          "target": "com.cloudflare.stream#CaptionsLanguageCreate"
        },
        {
          "target": "com.cloudflare.stream#CaptionsLanguageDelete"
        },
        {
          "target": "com.cloudflare.stream#CaptionsLanguageGet"
        },
        {
          "target": "com.cloudflare.stream#CaptionsLanguageUpdate"
        },
        {
          "target": "com.cloudflare.stream#CaptionsLanguageVttGet"
        },
        {
[...]
