{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.tenants#GetRequest": {
      "type": "structure",
      "members": {
        "tenant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.tenants#GetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.tenants#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.tenants#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.tenants#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tenants/{tenant_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a Tenant by Tenant ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.tenants#AccountTypesListRequest": {
      "type": "structure",
      "members": {
        "tenant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.tenants#AccountTypesListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.tenants#AccountTypesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.tenants#AccountTypesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.tenants#AccountTypesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.tenants#AccountTypesListRequest"
      },
      "output": {
        "target": "com.cloudflare.tenants#AccountTypesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tenants/{tenant_id}/account_types",
          "code": 200
        },
        "smithy.api#documentation": "List of account types available for the Tenant to provision accounts.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.tenants#AccountsListRequest": {
      "type": "structure",
      "members": {
        "tenant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.tenants#AccountsListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.tenants#AccountsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.tenants#AccountsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.tenants#AccountsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.tenants#AccountsListRequest"
      },
      "output": {
        "target": "com.cloudflare.tenants#AccountsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tenants/{tenant_id}/accounts",
          "code": 200
        },
        "smithy.api#documentation": "List of accounts for the Tenant.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.tenants#EntitlementsGetRequest": {
      "type": "structure",
      "members": {
        "tenant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.tenants#EntitlementsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.tenants#EntitlementsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.tenants#EntitlementsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.tenants#EntitlementsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tenants/{tenant_id}/entitlements",
          "code": 200
        },
        "smithy.api#documentation": "List of innate entitlements available for the Tenant.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.tenants#MembershipsListRequest": {
      "type": "structure",
      "members": {
        "tenant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.tenants#MembershipsListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.tenants#MembershipsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.tenants#MembershipsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.tenants#MembershipsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.tenants#MembershipsListRequest"
      },
      "output": {
        "target": "com.cloudflare.tenants#MembershipsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tenants/{tenant_id}/memberships",
          "code": 200
        },
        "smithy.api#documentation": "List of active members (Cloudflare users) for the Tenant.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.tenants#Tenants": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.tenants#Get"
        },
        {
          "target": "com.cloudflare.tenants#AccountTypesList"
        },
        {
          "target": "com.cloudflare.tenants#AccountsList"
        },
        {
          "target": "com.cloudflare.tenants#EntitlementsGet"
        },
        {
          "target": "com.cloudflare.tenants#MembershipsList"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Tenants",
        "smithy.api#documentation": "Cloudflare API — tenants resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
