{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.token_validation#ConfigurationCreateRequestCredentialsKeysItemAlg": {
      "type": "enum",
      "members": {
        "RS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS256"
          }
        },
        "RS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS384"
          }
        },
        "RS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS512"
          }
        },
        "PS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS256"
          }
        },
        "PS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS384"
          }
        },
        "PS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestCredentialsKeysItem": {
      "type": "structure",
      "members": {
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestCredentialsKeysItemAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestCredentialsKeysList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#ConfigurationCreateRequestCredentialsKeysItem"
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestCredentials": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestCredentialsKeysList",
          "traits": {
            "smithy.api#documentation": "APIShieldCredentialsJWTKeyRSA object { alg, e, kid, 2 more }",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestKty": {
      "type": "enum",
      "members": {
        "RSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestAlg": {
      "type": "enum",
      "members": {
        "ES256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES256"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestCrv": {
      "type": "enum",
      "members": {
        "P_256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-256"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestKty2": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestAlg2": {
      "type": "enum",
      "members": {
        "ES384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES384"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestCrv2": {
      "type": "enum",
      "members": {
        "P_384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-384"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestKty3": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestAlg3": {
      "type": "enum",
      "members": {
        "HS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS256"
          }
        },
        "HS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS384"
          }
        },
        "HS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestKty4": {
      "type": "enum",
      "members": {
        "OCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oct"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestTokenSourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequestTokenType": {
      "type": "enum",
      "members": {
        "JWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JWT"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credentials": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestCredentials",
          "traits": {
            "smithy.api#documentation": "Request payload for create and PUT credentials operations. Provided keys define the complete stored key set. Key identities (`{alg,kid}`) must be unique.",
            "smithy.api#required": {}
          }
        },
        "e": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RSA exponent",
            "smithy.api#required": {}
          }
        },
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {}
          }
        },
        "kty": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestKty",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {}
          }
        },
        "n": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RSA modulus",
            "smithy.api#required": {}
          }
        },
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        },
        "crv": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestCrv",
          "traits": {
            "smithy.api#documentation": "Curve",
            "smithy.api#required": {}
          }
        },
        "kid_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_2": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestKty2",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X EC coordinate",
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Y EC coordinate",
            "smithy.api#required": {}
          }
        },
        "alg_2": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestAlg2",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {},
            "smithy.api#jsonName": "alg"
          }
        },
        "crv_2": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestCrv2",
          "traits": {
            "smithy.api#documentation": "Curve",
            "smithy.api#required": {},
            "smithy.api#jsonName": "crv"
          }
        },
        "kid_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_3": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestKty3",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "x_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X EC coordinate",
            "smithy.api#required": {},
            "smithy.api#jsonName": "x"
          }
        },
        "y_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Y EC coordinate",
            "smithy.api#required": {},
            "smithy.api#jsonName": "y"
          }
        },
        "alg_3": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestAlg3",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {},
            "smithy.api#jsonName": "alg"
          }
        },
        "k": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Symmetric key material. Required for create and PUT update requests.",
            "smithy.api#required": {}
          }
        },
        "kid_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_4": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestKty4",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength500",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength50",
            "smithy.api#required": {}
          }
        },
        "token_sources": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestTokenSourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "token_type": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateRequestTokenType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseCredentialsKeysItemAlg": {
      "type": "enum",
      "members": {
        "RS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS256"
          }
        },
        "RS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS384"
          }
        },
        "RS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS512"
          }
        },
        "PS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS256"
          }
        },
        "PS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS384"
          }
        },
        "PS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseCredentialsKeysItem": {
      "type": "structure",
      "members": {
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseCredentialsKeysItemAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseCredentialsKeysList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#ConfigurationCreateResponseCredentialsKeysItem"
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseCredentials": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseCredentialsKeysList",
          "traits": {
            "smithy.api#documentation": "APIShieldCredentialsJWTKeyRSA object { alg, e, kid, 2 more }",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseKty": {
      "type": "enum",
      "members": {
        "RSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseAlg": {
      "type": "enum",
      "members": {
        "ES256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES256"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseCrv": {
      "type": "enum",
      "members": {
        "P_256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-256"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseKty2": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseAlg2": {
      "type": "enum",
      "members": {
        "ES384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES384"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseCrv2": {
      "type": "enum",
      "members": {
        "P_384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-384"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseKty3": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseAlg3": {
      "type": "enum",
      "members": {
        "HS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS256"
          }
        },
        "HS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS384"
          }
        },
        "HS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseKty4": {
      "type": "enum",
      "members": {
        "OCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oct"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseTokenSourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponseTokenType": {
      "type": "enum",
      "members": {
        "JWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JWT"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "credentials": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseCredentials",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "e": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RSA exponent",
            "smithy.api#required": {}
          }
        },
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {}
          }
        },
        "kty": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseKty",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {}
          }
        },
        "n": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RSA modulus",
            "smithy.api#required": {}
          }
        },
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        },
        "crv": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseCrv",
          "traits": {
            "smithy.api#documentation": "Curve",
            "smithy.api#required": {}
          }
        },
        "kid_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_2": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseKty2",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X EC coordinate",
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Y EC coordinate",
            "smithy.api#required": {}
          }
        },
        "alg_2": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseAlg2",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {},
            "smithy.api#jsonName": "alg"
          }
        },
        "crv_2": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseCrv2",
          "traits": {
            "smithy.api#documentation": "Curve",
            "smithy.api#required": {},
            "smithy.api#jsonName": "crv"
          }
        },
        "kid_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_3": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseKty3",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "x_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X EC coordinate",
            "smithy.api#required": {},
            "smithy.api#jsonName": "x"
          }
        },
        "y_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Y EC coordinate",
            "smithy.api#required": {},
            "smithy.api#jsonName": "y"
          }
        },
        "alg_3": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseAlg3",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {},
            "smithy.api#jsonName": "alg"
          }
        },
        "kid_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_4": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseKty4",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength500",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength50",
            "smithy.api#required": {}
          }
        },
        "token_sources": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseTokenSourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "token_type": {
          "target": "com.cloudflare.token_validation#ConfigurationCreateResponseTokenType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.token_validation#ConfigurationCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.token_validation#ConfigurationCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.token_validation#ConfigurationCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/token_validation/config",
          "code": 200
        },
        "smithy.api#documentation": "Creates a JWT validation configuration for the zone."
      }
    },
    "com.cloudflare.token_validation#ConfigurationDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "config_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.token_validation#ConfigurationDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.token_validation#ConfigurationDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.token_validation#ConfigurationDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.token_validation#ConfigurationDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/token_validation/config/{config_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a JWT validation configuration from the zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.token_validation#ConfigurationEditRequestTokenSourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.token_validation#ConfigurationEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "config_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength500"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength50"
          }
        },
        "token_sources": {
          "target": "com.cloudflare.token_validation#ConfigurationEditRequestTokenSourcesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.token_validation#ConfigurationEditResponseTokenSourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.token_validation#ConfigurationEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength500"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength50"
          }
        },
        "token_sources": {
          "target": "com.cloudflare.token_validation#ConfigurationEditResponseTokenSourcesList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.token_validation#ConfigurationEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.token_validation#ConfigurationEditRequest"
      },
      "output": {
        "target": "com.cloudflare.token_validation#ConfigurationEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/token_validation/config/{config_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates only the supplied fields on a JWT validation configuration."
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "config_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseCredentialsKeysItemAlg": {
      "type": "enum",
      "members": {
        "RS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS256"
          }
        },
        "RS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS384"
          }
        },
        "RS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS512"
          }
        },
        "PS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS256"
          }
        },
        "PS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS384"
          }
        },
        "PS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseCredentialsKeysItem": {
      "type": "structure",
      "members": {
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseCredentialsKeysItemAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseCredentialsKeysList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#ConfigurationGetResponseCredentialsKeysItem"
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseCredentials": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseCredentialsKeysList",
          "traits": {
            "smithy.api#documentation": "APIShieldCredentialsJWTKeyRSA object { alg, e, kid, 2 more }",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseKty": {
      "type": "enum",
      "members": {
        "RSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseAlg": {
      "type": "enum",
      "members": {
        "ES256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES256"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseCrv": {
      "type": "enum",
      "members": {
        "P_256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-256"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseKty2": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseAlg2": {
      "type": "enum",
      "members": {
        "ES384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES384"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseCrv2": {
      "type": "enum",
      "members": {
        "P_384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-384"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseKty3": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseAlg3": {
      "type": "enum",
      "members": {
        "HS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS256"
          }
        },
        "HS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS384"
          }
        },
        "HS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseKty4": {
      "type": "enum",
      "members": {
        "OCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oct"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseTokenSourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponseTokenType": {
      "type": "enum",
      "members": {
        "JWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JWT"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "credentials": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseCredentials",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "e": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RSA exponent",
            "smithy.api#required": {}
          }
        },
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {}
          }
        },
        "kty": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseKty",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {}
          }
        },
        "n": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RSA modulus",
            "smithy.api#required": {}
          }
        },
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        },
        "crv": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseCrv",
          "traits": {
            "smithy.api#documentation": "Curve",
            "smithy.api#required": {}
          }
        },
        "kid_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_2": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseKty2",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X EC coordinate",
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Y EC coordinate",
            "smithy.api#required": {}
          }
        },
        "alg_2": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseAlg2",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {},
            "smithy.api#jsonName": "alg"
          }
        },
        "crv_2": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseCrv2",
          "traits": {
            "smithy.api#documentation": "Curve",
            "smithy.api#required": {},
            "smithy.api#jsonName": "crv"
          }
        },
        "kid_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_3": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseKty3",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "x_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X EC coordinate",
            "smithy.api#required": {},
            "smithy.api#jsonName": "x"
          }
        },
        "y_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Y EC coordinate",
            "smithy.api#required": {},
            "smithy.api#jsonName": "y"
          }
        },
        "alg_3": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseAlg3",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {},
            "smithy.api#jsonName": "alg"
          }
        },
        "kid_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_4": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseKty4",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength500",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength50",
            "smithy.api#required": {}
          }
        },
        "token_sources": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseTokenSourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "token_type": {
          "target": "com.cloudflare.token_validation#ConfigurationGetResponseTokenType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.token_validation#ConfigurationGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.token_validation#ConfigurationGetRequest"
      },
      "output": {
        "target": "com.cloudflare.token_validation#ConfigurationGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/token_validation/config/{config_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns a JWT validation configuration by ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.token_validation#ConfigurationListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemCredentialsKeysItemAlg": {
      "type": "enum",
      "members": {
        "RS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS256"
          }
        },
        "RS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS384"
          }
        },
        "RS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS512"
          }
        },
        "PS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS256"
          }
        },
        "PS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS384"
          }
        },
        "PS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemCredentialsKeysItem": {
      "type": "structure",
      "members": {
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemCredentialsKeysItemAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemCredentialsKeysList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#ConfigurationListResultItemCredentialsKeysItem"
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemCredentials": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemCredentialsKeysList",
          "traits": {
            "smithy.api#documentation": "APIShieldCredentialsJWTKeyRSA object { alg, e, kid, 2 more }",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemKty": {
      "type": "enum",
      "members": {
        "RSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemAlg": {
      "type": "enum",
      "members": {
        "ES256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES256"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemCrv": {
      "type": "enum",
      "members": {
        "P_256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-256"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemKty2": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemAlg2": {
      "type": "enum",
      "members": {
        "ES384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES384"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemCrv2": {
      "type": "enum",
      "members": {
        "P_384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-384"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemKty3": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemAlg3": {
      "type": "enum",
      "members": {
        "HS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS256"
          }
        },
        "HS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS384"
          }
        },
        "HS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemKty4": {
      "type": "enum",
      "members": {
        "OCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oct"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemTokenSourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItemTokenType": {
      "type": "enum",
      "members": {
        "JWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JWT"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "credentials": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemCredentials",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "e": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RSA exponent",
            "smithy.api#required": {}
          }
        },
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {}
          }
        },
        "kty": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemKty",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {}
          }
        },
        "n": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RSA modulus",
            "smithy.api#required": {}
          }
        },
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        },
        "crv": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemCrv",
          "traits": {
            "smithy.api#documentation": "Curve",
            "smithy.api#required": {}
          }
        },
        "kid_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_2": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemKty2",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X EC coordinate",
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Y EC coordinate",
            "smithy.api#required": {}
          }
        },
        "alg_2": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemAlg2",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {},
            "smithy.api#jsonName": "alg"
          }
        },
        "crv_2": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemCrv2",
          "traits": {
            "smithy.api#documentation": "Curve",
            "smithy.api#required": {},
            "smithy.api#jsonName": "crv"
          }
        },
        "kid_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_3": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemKty3",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "x_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X EC coordinate",
            "smithy.api#required": {},
            "smithy.api#jsonName": "x"
          }
        },
        "y_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Y EC coordinate",
            "smithy.api#required": {},
            "smithy.api#jsonName": "y"
          }
        },
        "alg_3": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemAlg3",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {},
            "smithy.api#jsonName": "alg"
          }
        },
        "kid_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_4": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemKty4",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength500",
            "smithy.api#required": {}
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "maxLength50",
            "smithy.api#required": {}
          }
        },
        "token_sources": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemTokenSourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "token_type": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultItemTokenType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#ConfigurationListResultItem"
      }
    },
    "com.cloudflare.token_validation#ConfigurationListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.token_validation#ConfigurationListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.token_validation#ConfigurationList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.token_validation#ConfigurationListRequest"
      },
      "output": {
        "target": "com.cloudflare.token_validation#ConfigurationListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/token_validation/config",
          "code": 200
        },
        "smithy.api#documentation": "Lists the JWT validation configurations defined for the zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKeysItemAlg": {
      "type": "enum",
      "members": {
        "RS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS256"
          }
        },
        "RS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS384"
          }
        },
        "RS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS512"
          }
        },
        "PS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS256"
          }
        },
        "PS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS384"
          }
        },
        "PS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKeysItem": {
      "type": "structure",
      "members": {
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKeysItemAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKeysList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKeysItem"
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKty": {
      "type": "enum",
      "members": {
        "RSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestAlg": {
      "type": "enum",
      "members": {
        "ES256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES256"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestCrv": {
      "type": "enum",
      "members": {
        "P_256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-256"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKty2": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestAlg2": {
      "type": "enum",
      "members": {
        "ES384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES384"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestCrv2": {
      "type": "enum",
      "members": {
        "P_384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-384"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKty3": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestAlg3": {
      "type": "enum",
      "members": {
        "HS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS256"
          }
        },
        "HS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS384"
          }
        },
        "HS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKty4": {
      "type": "enum",
      "members": {
        "OCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oct"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "config_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKeysList",
          "traits": {
            "smithy.api#documentation": "APIShieldCredentialsJWTKeyRSA object { alg, e, kid, 2 more }",
            "smithy.api#required": {}
          }
        },
        "e": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RSA exponent",
            "smithy.api#required": {}
          }
        },
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {}
          }
        },
        "kty": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKty",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {}
          }
        },
        "n": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RSA modulus",
            "smithy.api#required": {}
          }
        },
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        },
        "crv": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestCrv",
          "traits": {
            "smithy.api#documentation": "Curve",
            "smithy.api#required": {}
          }
        },
        "kid_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_2": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKty2",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X EC coordinate",
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Y EC coordinate",
            "smithy.api#required": {}
          }
        },
        "alg_2": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestAlg2",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {},
            "smithy.api#jsonName": "alg"
          }
        },
        "crv_2": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestCrv2",
          "traits": {
            "smithy.api#documentation": "Curve",
            "smithy.api#required": {},
            "smithy.api#jsonName": "crv"
          }
        },
        "kid_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_3": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKty3",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "x_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X EC coordinate",
            "smithy.api#required": {},
            "smithy.api#jsonName": "x"
          }
        },
        "y_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Y EC coordinate",
            "smithy.api#required": {},
            "smithy.api#jsonName": "y"
          }
        },
        "alg_3": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestAlg3",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {},
            "smithy.api#jsonName": "alg"
          }
        },
        "kid_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_4": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditRequestKty4",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "k": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Symmetric key material. Optional for PATCH: omit to preserve existing secret for matching `{alg,kid}`; send a string to rotate. `k: null` is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditResponseKeysItemAlg": {
      "type": "enum",
      "members": {
        "RS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS256"
          }
        },
        "RS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS384"
          }
        },
        "RS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS512"
          }
        },
        "PS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS256"
          }
        },
        "PS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS384"
          }
        },
        "PS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditResponseKeysItem": {
      "type": "structure",
      "members": {
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditResponseKeysItemAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditResponseKeysList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditResponseKeysItem"
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEditResponse": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditResponseKeysList",
          "traits": {
            "smithy.api#documentation": "APIShieldCredentialsJWTKeyRSA object { alg, e, kid, 2 more }",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.token_validation#ConfigurationCredentialsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/token_validation/config/{config_id}/credentials",
          "code": 200
        },
        "smithy.api#documentation": "Updates the configuration’s complete key set while allowing omitted fields on existing keys to retain stored values. Omitted key identities are removed."
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKeysItemAlg": {
      "type": "enum",
      "members": {
        "RS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS256"
          }
        },
        "RS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS384"
          }
        },
        "RS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS512"
          }
        },
        "PS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS256"
          }
        },
        "PS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS384"
          }
        },
        "PS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKeysItem": {
      "type": "structure",
      "members": {
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKeysItemAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKeysList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKeysItem"
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKty": {
      "type": "enum",
      "members": {
        "RSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestAlg": {
      "type": "enum",
      "members": {
        "ES256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES256"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestCrv": {
      "type": "enum",
      "members": {
        "P_256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-256"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKty2": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestAlg2": {
      "type": "enum",
      "members": {
        "ES384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES384"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestCrv2": {
      "type": "enum",
      "members": {
        "P_384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-384"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKty3": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestAlg3": {
      "type": "enum",
      "members": {
        "HS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS256"
          }
        },
        "HS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS384"
          }
        },
        "HS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKty4": {
      "type": "enum",
      "members": {
        "OCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oct"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "config_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keys": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKeysList",
          "traits": {
            "smithy.api#documentation": "APIShieldCredentialsJWTKeyRSA object { alg, e, kid, 2 more }",
            "smithy.api#required": {}
          }
        },
        "e": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RSA exponent",
            "smithy.api#required": {}
          }
        },
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {}
          }
        },
        "kty": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKty",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {}
          }
        },
        "n": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RSA modulus",
            "smithy.api#required": {}
          }
        },
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        },
        "crv": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestCrv",
          "traits": {
            "smithy.api#documentation": "Curve",
            "smithy.api#required": {}
          }
        },
        "kid_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_2": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKty2",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "x": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X EC coordinate",
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Y EC coordinate",
            "smithy.api#required": {}
          }
        },
        "alg_2": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestAlg2",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {},
            "smithy.api#jsonName": "alg"
          }
        },
        "crv_2": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestCrv2",
          "traits": {
            "smithy.api#documentation": "Curve",
            "smithy.api#required": {},
            "smithy.api#jsonName": "crv"
          }
        },
        "kid_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_3": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKty3",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        },
        "x_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X EC coordinate",
            "smithy.api#required": {},
            "smithy.api#jsonName": "x"
          }
        },
        "y_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Y EC coordinate",
            "smithy.api#required": {},
            "smithy.api#jsonName": "y"
          }
        },
        "alg_3": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestAlg3",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {},
            "smithy.api#jsonName": "alg"
          }
        },
        "k": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Symmetric key material. Required for create and PUT update requests.",
            "smithy.api#required": {}
          }
        },
        "kid_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kid"
          }
        },
        "kty_4": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequestKty4",
          "traits": {
            "smithy.api#documentation": "Key Type",
            "smithy.api#required": {},
            "smithy.api#jsonName": "kty"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateResponseKeysItemAlg": {
      "type": "enum",
      "members": {
        "RS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS256"
          }
        },
        "RS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS384"
          }
        },
        "RS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS512"
          }
        },
        "PS256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS256"
          }
        },
        "PS384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS384"
          }
        },
        "PS512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS512"
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateResponseKeysItem": {
      "type": "structure",
      "members": {
        "alg": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateResponseKeysItemAlg",
          "traits": {
            "smithy.api#documentation": "Algorithm",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateResponseKeysList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateResponseKeysItem"
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdateResponse": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateResponseKeysList",
          "traits": {
            "smithy.api#documentation": "APIShieldCredentialsJWTKeyRSA object { alg, e, kid, 2 more }",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.token_validation#ConfigurationCredentialsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.token_validation#ConfigurationCredentialsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/token_validation/config/{config_id}/credentials",
          "code": 200
        },
        "smithy.api#documentation": "Replaces the configuration’s complete key set. Symmetric keys must include their key material.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemAction": {
      "type": "enum",
      "members": {
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelectorExcludeItemOperationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelectorExcludeItem": {
      "type": "structure",
      "members": {
        "operation_ids": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelectorExcludeItemOperationIdsList",
          "traits": {
            "smithy.api#documentation": "Excluded operation IDs."
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelectorExcludeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelectorExcludeItem"
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelectorIncludeItemHostList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelectorIncludeItem": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelectorIncludeItemHostList",
          "traits": {
            "smithy.api#documentation": "Included hostnames."
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelectorIncludeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelectorIncludeItem"
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelector": {
      "type": "structure",
      "members": {
        "exclude": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelectorExcludeList",
          "traits": {
            "smithy.api#documentation": "Ignore operations that were otherwise included by `include`."
          }
        },
        "include": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelectorIncludeList",
          "traits": {
            "smithy.api#documentation": "Select all matching operations."
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItem": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemAction",
          "traits": {
            "smithy.api#documentation": "Action to take on requests that match operations included in `selector` and fail `expression`.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description that gives more details than `title`.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Toggle rule on or off.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule expression. Requests that fail to match this expression will be subject to `action`.",
            "smithy.api#required": {}
          }
        },
        "selector": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItemSelector",
          "traits": {
            "smithy.api#documentation": "Select operations covered by this rule.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable name for the rule.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#RulesBulkCreateRequestBodyItem"
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateResultItemAction": {
      "type": "enum",
      "members": {
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateResultItemSelectorExcludeItemOperationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateResultItemSelectorExcludeItem": {
      "type": "structure",
      "members": {
        "operation_ids": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateResultItemSelectorExcludeItemOperationIdsList",
          "traits": {
            "smithy.api#documentation": "Excluded operation IDs."
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateResultItemSelectorExcludeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#RulesBulkCreateResultItemSelectorExcludeItem"
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateResultItemSelectorIncludeItemHostList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateResultItemSelectorIncludeItem": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateResultItemSelectorIncludeItemHostList",
          "traits": {
            "smithy.api#documentation": "Included hostnames."
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateResultItemSelectorIncludeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#RulesBulkCreateResultItemSelectorIncludeItem"
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateResultItemSelector": {
      "type": "structure",
      "members": {
        "exclude": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateResultItemSelectorExcludeList",
          "traits": {
            "smithy.api#documentation": "Ignore operations that were otherwise included by `include`."
          }
        },
        "include": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateResultItemSelectorIncludeList",
          "traits": {
            "smithy.api#documentation": "Select all matching operations."
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateResultItem": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateResultItemAction",
          "traits": {
            "smithy.api#documentation": "Action to take on requests that match operations included in `selector` and fail `expression`.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description that gives more details than `title`.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Toggle rule on or off.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule expression. Requests that fail to match this expression will be subject to `action`.",
            "smithy.api#required": {}
          }
        },
        "selector": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateResultItemSelector",
          "traits": {
            "smithy.api#documentation": "Select operations covered by this rule.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable name for the rule.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#RulesBulkCreateResultItem"
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.token_validation#RulesBulkCreateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.token_validation#RulesBulkCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.token_validation#RulesBulkCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.token_validation#RulesBulkCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/token_validation/rules/bulk",
          "code": 200
        },
        "smithy.api#documentation": "Creates multiple token validation rules for the zone in one request."
      }
    },
    "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemAction": {
      "type": "enum",
      "members": {
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelectorExcludeItemOperationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelectorExcludeItem": {
      "type": "structure",
      "members": {
        "operation_ids": {
          "target": "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelectorExcludeItemOperationIdsList",
          "traits": {
            "smithy.api#documentation": "Excluded operation IDs."
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelectorExcludeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelectorExcludeItem"
      }
    },
    "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelectorIncludeItemHostList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelectorIncludeItem": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelectorIncludeItemHostList",
          "traits": {
            "smithy.api#documentation": "Included hostnames."
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelectorIncludeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelectorIncludeItem"
      }
    },
    "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelector": {
      "type": "structure",
      "members": {
        "exclude": {
          "target": "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelectorExcludeList",
          "traits": {
            "smithy.api#documentation": "Ignore operations that were otherwise included by `include`."
          }
        },
        "include": {
          "target": "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelectorIncludeList",
          "traits": {
            "smithy.api#documentation": "Select all matching operations."
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkEditRequestBodyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule ID this patch applies to",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemAction",
          "traits": {
            "smithy.api#documentation": "Action to take on requests that match operations included in `selector` and fail `expression`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description that gives more details than `title`."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Toggle rule on or off."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule expression. Requests that fail to match this expression will be subject to `action`."
          }
        },
        "position": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Update rule order among zone rules."
          }
        },
        "index": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Move rule to this position",
            "smithy.api#required": {}
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Move rule to before rule with this ID."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Move rule to after rule with this ID."
          }
        },
        "selector": {
          "target": "com.cloudflare.token_validation#RulesBulkEditRequestBodyItemSelector",
          "traits": {
            "smithy.api#documentation": "Select operations covered by this rule."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable name for the rule."
          }
        }
      }
    },
    "com.cloudflare.token_validation#RulesBulkEditRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.token_validation#RulesBulkEditRequestBodyItem"
      }
    },
    "com.cloudflare.token_validation#RulesBulkEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
[...]
