{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.user#EditRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country in which the user lives."
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's first name"
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's last name"
          }
        },
        "telephone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's telephone number"
          }
        },
        "zipcode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The zipcode or postal code where the user lives."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#EditResponseBetasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.user#EditResponseOrganizationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#EditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the user.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current email address of the user.",
            "smithy.api#required": {}
          }
        },
        "betas": {
          "target": "com.cloudflare.user#EditResponseBetasList",
          "traits": {
            "smithy.api#documentation": "Lists the betas that the user is participating in."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country in which the user lives."
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's first name"
          }
        },
        "has_business_zones": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether user has any business zones"
          }
        },
        "has_enterprise_zones": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether user has any enterprise zones"
          }
        },
        "has_pro_zones": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether user has any pro zones"
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's last name"
          }
        },
        "organizations": {
          "target": "com.cloudflare.user#EditResponseOrganizationsList"
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether user has been suspended"
          }
        },
        "telephone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's telephone number"
          }
        },
        "two_factor_authentication_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether two-factor authentication is enabled for the user account. Does not apply to API authentication."
          }
        },
        "two_factor_authentication_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether two-factor authentication is required by one of the accounts that the user is a member of."
          }
        },
        "zipcode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The zipcode or postal code where the user lives."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.user#Edit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#EditRequest"
      },
      "output": {
        "target": "com.cloudflare.user#EditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/user",
          "code": 200
        },
        "smithy.api#documentation": "Edit part of your user details."
      }
    },
    "com.cloudflare.user#GetResponseBetasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.user#GetResponseOrganizationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the user.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current email address of the user.",
            "smithy.api#required": {}
          }
        },
        "betas": {
          "target": "com.cloudflare.user#GetResponseBetasList",
          "traits": {
            "smithy.api#documentation": "Lists the betas that the user is participating in."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country in which the user lives."
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's first name"
          }
        },
        "has_business_zones": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether user has any business zones"
          }
        },
        "has_enterprise_zones": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether user has any enterprise zones"
          }
        },
        "has_pro_zones": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether user has any pro zones"
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's last name"
          }
        },
        "organizations": {
          "target": "com.cloudflare.user#GetResponseOrganizationsList"
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether user has been suspended"
          }
        },
        "telephone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's telephone number"
          }
        },
        "two_factor_authentication_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether two-factor authentication is enabled for the user account. Does not apply to API authentication."
          }
        },
        "two_factor_authentication_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether two-factor authentication is required by one of the accounts that the user is a member of."
          }
        },
        "zipcode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The zipcode or postal code where the user lives."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.user#Get": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.cloudflare.user#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves detailed information about the currently authenticated user, including email, name, and account memberships.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#AuditLogsListRequestDirection": {
      "type": "enum",
      "members": {
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        },
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        }
      }
    },
    "com.cloudflare.user#AuditLogsListRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Finds a specific log by its ID.",
            "smithy.api#httpQuery": "id"
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "action"
          }
        },
        "actor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "actor"
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limits the returned results to logs older than the specified date. A `full-date` that conforms to RFC3339.",
            "smithy.api#httpQuery": "before"
          }
        },
        "direction": {
          "target": "com.cloudflare.user#AuditLogsListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Changes the direction of the chronological sorting.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "export": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that this request is an export of logs in CSV format.",
            "smithy.api#httpQuery": "export"
          }
        },
        "hide_user_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not to hide user level audit logs.",
            "smithy.api#httpQuery": "hide_user_logs"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines which page of results to return.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sets the number of results to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limits the returned results to logs newer than the specified date. A `full-date` that conforms to RFC3339.",
            "smithy.api#httpQuery": "since"
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "zone"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#AuditLogsListResponse": {
      "type": "structure",
      "members": {
        "object___errors__messages__result__success__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { errors, messages, result, success }"
          }
        },
        "AaaAPIResponseCommon_object___errors__messages__success__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AaaAPIResponseCommon object { errors, messages, success }"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.user#AuditLogsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#AuditLogsListRequest"
      },
      "output": {
        "target": "com.cloudflare.user#AuditLogsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/audit_logs",
          "code": 200
        },
        "smithy.api#documentation": "Gets a list of audit logs for a user account. Can be filtered by who made the change, on which zone, and the timeframe of the change.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#BillingHistoryListRequestOrder": {
      "type": "enum",
      "members": {
        "TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "type"
          }
        },
        "OCCURRED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "occurred_at"
          }
        },
        "ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action"
          }
        }
      }
    },
    "com.cloudflare.user#BillingHistoryListRequest": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing item action.",
            "smithy.api#httpQuery": "action"
          }
        },
        "occurred_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the billing item was created.",
            "smithy.api#httpQuery": "occurred_at"
          }
        },
        "order": {
          "target": "com.cloudflare.user#BillingHistoryListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Field to order billing history by.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of items per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing item type.",
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#BillingHistoryListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#BillingHistoryListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.user#BillingHistoryListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#BillingHistoryList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#BillingHistoryListRequest"
      },
      "output": {
        "target": "com.cloudflare.user#BillingHistoryListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/billing/history",
          "code": 200
        },
        "smithy.api#documentation": "Accesses your billing history object.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#BillingProfileGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing item identifier tag."
          }
        },
        "account_type": {
          "target": "smithy.api#String"
        },
        "address": {
          "target": "smithy.api#String"
        },
        "address2": {
          "target": "smithy.api#String"
        },
        "balance": {
          "target": "smithy.api#String"
        },
        "card_expiry_month": {
          "target": "smithy.api#Double"
        },
        "card_expiry_year": {
          "target": "smithy.api#Double"
        },
        "card_number": {
          "target": "smithy.api#String"
        },
        "city": {
          "target": "smithy.api#String"
        },
        "company": {
          "target": "smithy.api#String"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "device_data": {
          "target": "smithy.api#String"
        },
        "edited_on": {
          "target": "smithy.api#String"
        },
        "enterprise_billing_email": {
          "target": "smithy.api#String"
        },
        "enterprise_primary_email": {
          "target": "smithy.api#String"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "is_partner": {
          "target": "smithy.api#Boolean"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "next_bill_date": {
          "target": "smithy.api#String"
        },
        "payment_address": {
          "target": "smithy.api#String"
        },
        "payment_address2": {
          "target": "smithy.api#String"
        },
        "payment_city": {
          "target": "smithy.api#String"
        },
        "payment_country": {
          "target": "smithy.api#String"
        },
        "payment_email": {
          "target": "smithy.api#String"
        },
        "payment_first_name": {
          "target": "smithy.api#String"
        },
        "payment_gateway": {
          "target": "smithy.api#String"
        },
        "payment_last_name": {
          "target": "smithy.api#String"
        },
        "payment_nonce": {
          "target": "smithy.api#String"
        },
        "payment_state": {
          "target": "smithy.api#String"
        },
        "payment_zipcode": {
          "target": "smithy.api#String"
        },
        "primary_email": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "smithy.api#String"
        },
        "tax_id_type": {
          "target": "smithy.api#String"
        },
        "telephone": {
          "target": "smithy.api#String"
        },
        "use_legacy": {
          "target": "smithy.api#Boolean"
        },
        "validation_code": {
          "target": "smithy.api#String"
        },
        "vat": {
          "target": "smithy.api#String"
        },
        "zipcode": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.user#BillingProfileGet": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.cloudflare.user#BillingProfileGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/billing/profile",
          "code": 200
        },
        "smithy.api#documentation": "Accesses your billing profile object.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#InvitesEditRequestStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        }
      }
    },
    "com.cloudflare.user#InvitesEditRequest": {
      "type": "structure",
      "members": {
        "invite_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Invite identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.user#InvitesEditRequestStatus",
          "traits": {
            "smithy.api#documentation": "Status of your response to the invitation (rejected or accepted).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#InvitesEditResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#InvitesEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#InvitesEditRequest"
      },
      "output": {
        "target": "com.cloudflare.user#InvitesEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/user/invites/{invite_id}",
          "code": 200
        },
        "smithy.api#documentation": "Responds to an invitation."
      }
    },
    "com.cloudflare.user#InvitesGetRequest": {
      "type": "structure",
      "members": {
        "invite_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Invite identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#InvitesGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#InvitesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#InvitesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.user#InvitesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/invites/{invite_id}",
          "code": 200
        },
        "smithy.api#documentation": "Gets the details of an invitation.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#InvitesListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#InvitesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.user#InvitesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#InvitesList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.cloudflare.user#InvitesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/invites",
          "code": 200
        },
        "smithy.api#documentation": "Lists all invitations associated with my user.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#OrganizationsDeleteRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#OrganizationsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.user#OrganizationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#OrganizationsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.user#OrganizationsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/user/organizations/{organization_id}",
          "code": 200
        },
        "smithy.api#documentation": "Removes association to an organization.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.user#OrganizationsGetRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#OrganizationsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#OrganizationsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#OrganizationsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.user#OrganizationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/organizations/{organization_id}",
          "code": 200
        },
        "smithy.api#documentation": "Gets a specific organization the user is associated with.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#OrganizationsListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.user#OrganizationsListRequestMatch": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.cloudflare.user#OrganizationsListRequestOrder": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      }
    },
    "com.cloudflare.user#OrganizationsListRequestStatus": {
      "type": "enum",
      "members": {
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "member"
          }
        },
        "INVITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invited"
          }
        }
      }
    },
    "com.cloudflare.user#OrganizationsListRequest": {
      "type": "structure",
      "members": {
        "direction": {
          "target": "com.cloudflare.user#OrganizationsListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order organizations.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "match": {
          "target": "com.cloudflare.user#OrganizationsListRequestMatch",
          "traits": {
            "smithy.api#documentation": "Whether to match all search requirements or at least one (any).",
            "smithy.api#httpQuery": "match"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization name.",
            "smithy.api#httpQuery": "name"
          }
        },
        "order": {
          "target": "com.cloudflare.user#OrganizationsListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Field to order organizations by.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of organizations per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "status": {
          "target": "com.cloudflare.user#OrganizationsListRequestStatus",
          "traits": {
            "smithy.api#documentation": "Whether the user is a member of the organization or has an inivitation pending.",
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#OrganizationsListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#OrganizationsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.user#OrganizationsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#OrganizationsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#OrganizationsListRequest"
      },
      "output": {
        "target": "com.cloudflare.user#OrganizationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/organizations",
          "code": 200
        },
        "smithy.api#documentation": "Lists organizations the user is associated with.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#SubscriptionsDeleteRequest": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#SubscriptionsDeleteResponse": {
      "type": "structure",
      "members": {
        "subscription_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription identifier tag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.user#SubscriptionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#SubscriptionsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.user#SubscriptionsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/user/subscriptions/{identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a user's subscription.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.user#SubscriptionsGetResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#SubscriptionsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.user#SubscriptionsGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#SubscriptionsGet": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.cloudflare.user#SubscriptionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/subscriptions",
          "code": 200
        },
        "smithy.api#documentation": "Lists all of a user's subscriptions.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#SubscriptionsUpdateRequestFrequency": {
      "type": "enum",
      "members": {
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weekly"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        },
        "QUARTERLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarterly"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yearly"
          }
        }
      }
    },
    "com.cloudflare.user#SubscriptionsUpdateRequest": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "frequency": {
          "target": "com.cloudflare.user#SubscriptionsUpdateRequestFrequency",
          "traits": {
            "smithy.api#documentation": "How often the subscription is renewed automatically."
          }
        },
        "rate_plan": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The rate plan applied to the subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#SubscriptionsUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#SubscriptionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#SubscriptionsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.user#SubscriptionsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/user/subscriptions/{identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a user's subscriptions.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.user#TenantsListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#TenantsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.user#TenantsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#TenantsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.cloudflare.user#TenantsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/tenants",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves list of tenants the authenticated user / method has access to.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#TokensCreateRequestPoliciesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#TokensCreateRequestConditionRequestIpInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#TokensCreateRequestConditionRequestIpNotInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#TokensCreateRequestConditionRequestIp": {
      "type": "structure",
      "members": {
        "in": {
          "target": "com.cloudflare.user#TokensCreateRequestConditionRequestIpInList",
          "traits": {
            "smithy.api#documentation": "List of IPv4/IPv6 CIDR addresses."
          }
        },
        "not_in": {
          "target": "com.cloudflare.user#TokensCreateRequestConditionRequestIpNotInList",
          "traits": {
            "smithy.api#documentation": "List of IPv4/IPv6 CIDR addresses."
          }
        }
      }
    },
    "com.cloudflare.user#TokensCreateRequestCondition": {
      "type": "structure",
      "members": {
        "request_ip": {
          "target": "com.cloudflare.user#TokensCreateRequestConditionRequestIp",
          "traits": {
            "smithy.api#documentation": "Client IP restrictions."
          }
        }
      }
    },
    "com.cloudflare.user#TokensCreateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token name.",
            "smithy.api#required": {}
          }
        },
        "policies": {
          "target": "com.cloudflare.user#TokensCreateRequestPoliciesList",
          "traits": {
            "smithy.api#documentation": "List of access policies assigned to the token.",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.cloudflare.user#TokensCreateRequestCondition"
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time on or after which the JWT MUST NOT be accepted for processing."
          }
        },
        "not_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time before which the token MUST NOT be accepted for processing."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#TokensCreateResponseConditionRequestIpInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#TokensCreateResponseConditionRequestIpNotInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#TokensCreateResponseConditionRequestIp": {
      "type": "structure",
      "members": {
        "in": {
          "target": "com.cloudflare.user#TokensCreateResponseConditionRequestIpInList",
          "traits": {
            "smithy.api#documentation": "List of IPv4/IPv6 CIDR addresses."
          }
        },
        "not_in": {
          "target": "com.cloudflare.user#TokensCreateResponseConditionRequestIpNotInList",
          "traits": {
            "smithy.api#documentation": "List of IPv4/IPv6 CIDR addresses."
          }
        }
      }
    },
    "com.cloudflare.user#TokensCreateResponseCondition": {
      "type": "structure",
      "members": {
        "request_ip": {
          "target": "com.cloudflare.user#TokensCreateResponseConditionRequestIp",
          "traits": {
            "smithy.api#documentation": "Client IP restrictions."
          }
        }
      }
    },
    "com.cloudflare.user#TokensCreateResponsePoliciesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#TokensCreateResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      }
    },
    "com.cloudflare.user#TokensCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifier tag."
          }
        },
        "condition": {
          "target": "com.cloudflare.user#TokensCreateResponseCondition"
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time on or after which the JWT MUST NOT be accepted for processing."
          }
        },
        "issued_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time on which the token was created."
          }
        },
        "last_used_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the token was used."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the token was modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token name."
          }
        },
        "not_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time before which the token MUST NOT be accepted for processing."
          }
        },
        "policies": {
          "target": "com.cloudflare.user#TokensCreateResponsePoliciesList",
          "traits": {
            "smithy.api#documentation": "List of access policies assigned to the token."
          }
        },
        "status": {
          "target": "com.cloudflare.user#TokensCreateResponseStatus",
          "traits": {
            "smithy.api#documentation": "Status of the token."
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The token value."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.user#TokensCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#TokensCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.user#TokensCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user/tokens",
          "code": 200
        },
        "smithy.api#documentation": "Create a new access token."
      }
    },
    "com.cloudflare.user#TokensDeleteRequest": {
      "type": "structure",
      "members": {
        "token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#TokensDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.user#TokensDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#TokensDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.user#TokensDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/user/tokens/{token_id}",
          "code": 200
        },
        "smithy.api#documentation": "Destroy a token.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.user#TokensGetRequest": {
      "type": "structure",
      "members": {
        "token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#TokensGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#TokensGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#TokensGetRequest"
      },
      "output": {
        "target": "com.cloudflare.user#TokensGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/tokens/{token_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get information about a specific token.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#TokensListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.user#TokensListRequest": {
      "type": "structure",
      "members": {
        "direction": {
          "target": "com.cloudflare.user#TokensListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order results.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#TokensListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#TokensListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.user#TokensListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#TokensList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#TokensListRequest"
      },
      "output": {
        "target": "com.cloudflare.user#TokensListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/tokens",
          "code": 200
        },
        "smithy.api#documentation": "List all access tokens you created.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#TokensUpdateRequestPoliciesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#TokensUpdateRequestConditionRequestIpInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#TokensUpdateRequestConditionRequestIpNotInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.user#TokensUpdateRequestConditionRequestIp": {
      "type": "structure",
      "members": {
        "in": {
          "target": "com.cloudflare.user#TokensUpdateRequestConditionRequestIpInList",
          "traits": {
            "smithy.api#documentation": "List of IPv4/IPv6 CIDR addresses."
          }
        },
        "not_in": {
          "target": "com.cloudflare.user#TokensUpdateRequestConditionRequestIpNotInList",
          "traits": {
            "smithy.api#documentation": "List of IPv4/IPv6 CIDR addresses."
          }
        }
      }
    },
    "com.cloudflare.user#TokensUpdateRequestCondition": {
      "type": "structure",
      "members": {
        "request_ip": {
          "target": "com.cloudflare.user#TokensUpdateRequestConditionRequestIp",
          "traits": {
            "smithy.api#documentation": "Client IP restrictions."
          }
        }
      }
    },
    "com.cloudflare.user#TokensUpdateRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      }
    },
    "com.cloudflare.user#TokensUpdateRequest": {
      "type": "structure",
      "members": {
        "token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token name.",
            "smithy.api#required": {}
          }
        },
        "policies": {
          "target": "com.cloudflare.user#TokensUpdateRequestPoliciesList",
          "traits": {
            "smithy.api#documentation": "List of access policies assigned to the token.",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.cloudflare.user#TokensUpdateRequestCondition"
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time on or after which the JWT MUST NOT be accepted for processing."
          }
        },
        "not_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time before which the token MUST NOT be accepted for processing."
          }
        },
        "status": {
          "target": "com.cloudflare.user#TokensUpdateRequestStatus",
          "traits": {
            "smithy.api#documentation": "Status of the token."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#TokensUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#TokensUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#TokensUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.user#TokensUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/user/tokens/{token_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing token.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.user#TokensVerifyResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      }
    },
    "com.cloudflare.user#TokensVerifyResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifier tag.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.user#TokensVerifyResponseStatus",
          "traits": {
            "smithy.api#documentation": "Status of the token.",
            "smithy.api#required": {}
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time on or after which the JWT MUST NOT be accepted for processing."
          }
        },
        "not_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time before which the token MUST NOT be accepted for processing."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.user#TokensVerify": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.cloudflare.user#TokensVerifyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/tokens/verify",
          "code": 200
        },
        "smithy.api#documentation": "Test whether a token works.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#TokensPermissionGroupsListRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by the name of the permission group.",
            "smithy.api#httpQuery": "name"
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by the scope of the permission group.",
            "smithy.api#httpQuery": "scope"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#TokensPermissionGroupsListResultItemCategory": {
      "type": "enum",
      "members": {
        "DEVELOPER_PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer_platform"
          }
        },
        "AI_AND_MACHINE_LEARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_and_machine_learning"
          }
        },
        "DNS_AND_ZONES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_and_zones"
          }
        }
      }
    },
    "com.cloudflare.user#TokensPermissionGroupsListResultItemScopesItem": {
      "type": "enum",
      "members": {
        "COM_CLOUDFLARE_API_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "com.cloudflare.api.account"
          }
        },
        "COM_CLOUDFLARE_API_ACCOUNT_ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "com.cloudflare.api.account.zone"
          }
        },
        "COM_CLOUDFLARE_API_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "com.cloudflare.api.user"
          }
        },
        "COM_CLOUDFLARE_EDGE_R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "com.cloudflare.edge.r2.bucket"
          }
        }
      }
    },
    "com.cloudflare.user#TokensPermissionGroupsListResultItemScopesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.user#TokensPermissionGroupsListResultItemScopesItem"
      }
    },
    "com.cloudflare.user#TokensPermissionGroupsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public ID."
          }
        },
        "category": {
          "target": "com.cloudflare.user#TokensPermissionGroupsListResultItemCategory",
          "traits": {
            "smithy.api#documentation": "Product category that this permission group belongs to."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Permission Group Name"
          }
        },
        "scopes": {
          "target": "com.cloudflare.user#TokensPermissionGroupsListResultItemScopesList",
          "traits": {
            "smithy.api#documentation": "Resources to which the Permission Group is scoped"
          }
        }
      }
    },
    "com.cloudflare.user#TokensPermissionGroupsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.user#TokensPermissionGroupsListResultItem"
      }
    },
    "com.cloudflare.user#TokensPermissionGroupsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.user#TokensPermissionGroupsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#TokensPermissionGroupsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#TokensPermissionGroupsListRequest"
      },
      "output": {
        "target": "com.cloudflare.user#TokensPermissionGroupsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/tokens/permission_groups",
          "code": 200
        },
        "smithy.api#documentation": "Find all available permission groups for API Tokens.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.user#TokensValueUpdateRequest": {
      "type": "structure",
      "members": {
        "token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.user#TokensValueUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.user#TokensValueUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.user#TokensValueUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.user#TokensValueUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/user/tokens/{token_id}/value",
          "code": 200
        },
        "smithy.api#documentation": "Roll the token secret.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.user#User": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.user#Edit"
        },
        {
          "target": "com.cloudflare.user#Get"
        },
        {
          "target": "com.cloudflare.user#AuditLogsList"
        },
        {
          "target": "com.cloudflare.user#BillingHistoryList"
        },
        {
          "target": "com.cloudflare.user#BillingProfileGet"
        },
        {
          "target": "com.cloudflare.user#InvitesEdit"
        },
        {
          "target": "com.cloudflare.user#InvitesGet"
        },
        {
          "target": "com.cloudflare.user#InvitesList"
        },
        {
          "target": "com.cloudflare.user#OrganizationsDelete"
        },
        {
          "target": "com.cloudflare.user#OrganizationsGet"
        },
        {
          "target": "com.cloudflare.user#OrganizationsList"
        },
        {
          "target": "com.cloudflare.user#SubscriptionsDelete"
        },
        {
          "target": "com.cloudflare.user#SubscriptionsGet"
        },
        {
          "target": "com.cloudflare.user#SubscriptionsUpdate"
        },
        {
          "target": "com.cloudflare.user#TenantsList"
        },
        {
          "target": "com.cloudflare.user#TokensCreate"
        },
        {
          "target": "com.cloudflare.user#TokensDelete"
        },
        {
          "target": "com.cloudflare.user#TokensGet"
        },
        {
          "target": "com.cloudflare.user#TokensList"
        },
        {
          "target": "com.cloudflare.user#TokensUpdate"
        },
        {
          "target": "com.cloudflare.user#TokensVerify"
        },
        {
          "target": "com.cloudflare.user#TokensPermissionGroupsList"
        },
        {
          "target": "com.cloudflare.user#TokensValueUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare User",
        "smithy.api#documentation": "Cloudflare API — user resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
