{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "createdOn": "created_on",
      "modifiedOn": "modified_on"
    }
  },
  "shapes": {
    "com.cloudflare.vectorize#IndexesCreateRequestConfigIndexDimensionConfigurationMetric": {
      "type": "enum",
      "members": {
        "COSINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cosine"
          }
        },
        "EUCLIDEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "euclidean"
          }
        },
        "DOT_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dot-product"
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesCreateRequestConfigIndexDimensionConfiguration": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the number of dimensions for the index",
            "smithy.api#required": {}
          }
        },
        "metric": {
          "target": "com.cloudflare.vectorize#IndexesCreateRequestConfigIndexDimensionConfigurationMetric",
          "traits": {
            "smithy.api#documentation": "Specifies the type of metric to use calculating distance.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesCreateRequestConfigVectorizeIndexPresetConfigurationPreset": {
      "type": "enum",
      "members": {
        "CF_BAAI_BGE_SMALL_EN_V1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/baai/bge-small-en-v1.5"
          }
        },
        "CF_BAAI_BGE_BASE_EN_V1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/baai/bge-base-en-v1.5"
          }
        },
        "CF_BAAI_BGE_LARGE_EN_V1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/baai/bge-large-en-v1.5"
          }
        },
        "OPENAI_TEXT_EMBEDDING_ADA_002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/text-embedding-ada-002"
          }
        },
        "COHERE_EMBED_MULTILINGUAL_V2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohere/embed-multilingual-v2.0"
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesCreateRequestConfigVectorizeIndexPresetConfiguration": {
      "type": "structure",
      "members": {
        "preset": {
          "target": "com.cloudflare.vectorize#IndexesCreateRequestConfigVectorizeIndexPresetConfigurationPreset",
          "traits": {
            "smithy.api#documentation": "Specifies the preset to use for the index.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesCreateRequestConfig": {
      "type": "union",
      "members": {
        "IndexDimensionConfiguration": {
          "target": "com.cloudflare.vectorize#IndexesCreateRequestConfigIndexDimensionConfiguration"
        },
        "VectorizeIndexPresetConfiguration": {
          "target": "com.cloudflare.vectorize#IndexesCreateRequestConfigVectorizeIndexPresetConfiguration"
        }
      }
    },
    "com.cloudflare.vectorize#IndexesCreateResponseConfigMetric": {
      "type": "enum",
      "members": {
        "COSINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cosine"
          }
        },
        "EUCLIDEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "euclidean"
          }
        },
        "DOT_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dot-product"
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesCreateResponseConfig": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the number of dimensions for the index",
            "smithy.api#required": {}
          }
        },
        "metric": {
          "target": "com.cloudflare.vectorize#IndexesCreateResponseConfigMetric",
          "traits": {
            "smithy.api#documentation": "Specifies the type of metric to use calculating distance.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesDeleteByIdsRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.vectorize#IndexesGetResponseConfigMetric": {
      "type": "enum",
      "members": {
        "COSINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cosine"
          }
        },
        "EUCLIDEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "euclidean"
          }
        },
        "DOT_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dot-product"
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesGetResponseConfig": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the number of dimensions for the index",
            "smithy.api#required": {}
          }
        },
        "metric": {
          "target": "com.cloudflare.vectorize#IndexesGetResponseConfigMetric",
          "traits": {
            "smithy.api#documentation": "Specifies the type of metric to use calculating distance.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesGetByIdsRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.vectorize#IndexesInsertRequestUnparsableBehavior": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "DISCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discard"
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesListResultItemConfigMetric": {
      "type": "enum",
      "members": {
        "COSINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cosine"
          }
        },
        "EUCLIDEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "euclidean"
          }
        },
        "DOT_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dot-product"
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesListResultItemConfig": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the number of dimensions for the index",
            "smithy.api#required": {}
          }
        },
        "metric": {
          "target": "com.cloudflare.vectorize#IndexesListResultItemConfigMetric",
          "traits": {
            "smithy.api#documentation": "Specifies the type of metric to use calculating distance.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesListResultItem": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.cloudflare.vectorize#IndexesListResultItemConfig"
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the timestamp the resource was created as an ISO8601 string."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the description of the index."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the timestamp the resource was modified as an ISO8601 string."
          }
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.vectorize#IndexesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vectorize#IndexesListResultItem"
      }
    },
    "com.cloudflare.vectorize#IndexesListVectorsResponseVectorsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for a Vector",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesListVectorsResponseVectorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vectorize#IndexesListVectorsResponseVectorsItem"
      }
    },
    "com.cloudflare.vectorize#IndexesQueryRequestVectorList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.vectorize#IndexesQueryRequestReturnMetadata": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "INDEXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "indexed"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesQueryResponseMatchesItemValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.vectorize#IndexesQueryResponseMatchesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for a Vector"
          }
        },
        "metadata": {
          "target": "smithy.api#Document"
        },
        "namespace": {
          "target": "smithy.api#String"
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score of the vector according to the index's distance metric"
          }
        },
        "values": {
          "target": "com.cloudflare.vectorize#IndexesQueryResponseMatchesItemValuesList"
        }
      }
    },
    "com.cloudflare.vectorize#IndexesQueryResponseMatchesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vectorize#IndexesQueryResponseMatchesItem"
      }
    },
    "com.cloudflare.vectorize#IndexesUpsertRequestUnparsableBehavior": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "DISCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discard"
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesMetadataIndexCreateRequestIndexType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesMetadataIndexListResponseMetadataIndexesItemIndexType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesMetadataIndexListResponseMetadataIndexesItem": {
      "type": "structure",
      "members": {
        "indexType": {
          "target": "com.cloudflare.vectorize#IndexesMetadataIndexListResponseMetadataIndexesItemIndexType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of indexed metadata property."
          }
        },
        "propertyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the indexed metadata property."
          }
        }
      }
    },
    "com.cloudflare.vectorize#IndexesMetadataIndexListResponseMetadataIndexesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vectorize#IndexesMetadataIndexListResponseMetadataIndexesItem"
      }
    },
    "com.cloudflare.vectorize#Vectorize": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.vectorize#IndexesCreate"
        },
        {
          "target": "com.cloudflare.vectorize#IndexesDelete"
        },
        {
          "target": "com.cloudflare.vectorize#IndexesDeleteByIds"
        },
        {
          "target": "com.cloudflare.vectorize#IndexesGet"
        },
        {
          "target": "com.cloudflare.vectorize#IndexesGetByIds"
        },
        {
          "target": "com.cloudflare.vectorize#IndexesInfo"
        },
        {
          "target": "com.cloudflare.vectorize#IndexesInsert"
        },
        {
          "target": "com.cloudflare.vectorize#IndexesList"
        },
        {
          "target": "com.cloudflare.vectorize#IndexesListVectors"
        },
        {
          "target": "com.cloudflare.vectorize#IndexesQuery"
        },
        {
          "target": "com.cloudflare.vectorize#IndexesUpsert"
        },
        {
          "target": "com.cloudflare.vectorize#IndexesMetadataIndexCreate"
        },
        {
          "target": "com.cloudflare.vectorize#IndexesMetadataIndexDelete"
        },
        {
          "target": "com.cloudflare.vectorize#IndexesMetadataIndexList"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Vectorize",
        "smithy.api#documentation": "Cloudflare API — vectorize resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    },
    "com.cloudflare.vectorize#Gone": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 3005
          },
          {
            "message": {
              "includes": "index deleted"
            }
          }
        ]
      }
    },
    "com.cloudflare.vectorize#IndexAlreadyExists": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 3002
          }
        ]
      }
    },
    "com.cloudflare.vectorize#IndexInvalidConfig": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 3003
          }
        ]
      }
    },
    "com.cloudflare.vectorize#IndexInvalidName": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 3001
          }
        ]
      }
    },
    "com.cloudflare.vectorize#MetadataIndexAlreadyExists": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 40004
          }
        ]
      }
    },
    "com.cloudflare.vectorize#MetadataIndexInvalidType": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 40026
          }
        ]
      }
    },
    "com.cloudflare.vectorize#MetadataIndexNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 40005
          }
        ]
      }
    },
    "com.cloudflare.vectorize#NotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.cloudflare.protocols#errorMatchers": [
          {
            "code": 3000
          }
        ]
      }
    },
    "com.cloudflare.vectorize#CreateIndex": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#CreateIndexRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#CreateIndexResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes",
          "code": 200
        },
        "smithy.api#documentation": "Creates and returns a new Vectorize Index."
      },
      "errors": [
        {
          "target": "com.cloudflare.vectorize#IndexAlreadyExists"
        },
        {
          "target": "com.cloudflare.vectorize#IndexInvalidName"
        },
        {
          "target": "com.cloudflare.vectorize#IndexInvalidConfig"
        }
      ]
    },
    "com.cloudflare.vectorize#CreateIndexRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "com.cloudflare.vectorize#IndexesCreateRequestConfig",
          "traits": {
            "smithy.api#documentation": "Specifies the type of configuration to use for the index.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the description of the index."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#CreateIndexResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.cloudflare.vectorize#IndexesCreateResponseConfig"
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the timestamp the resource was created as an ISO8601 string."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the description of the index."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the timestamp the resource was modified as an ISO8601 string."
          }
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vectorize#CreateIndexMetadataIndex": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#CreateIndexMetadataIndexRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#CreateIndexMetadataIndexResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/metadata_index/create",
          "code": 200
        },
        "smithy.api#documentation": "Enable metadata filtering based on metadata property. Limited to 10 properties."
      },
      "errors": [
        {
          "target": "com.cloudflare.vectorize#NotFound"
        },
        {
          "target": "com.cloudflare.vectorize#MetadataIndexAlreadyExists"
        },
        {
          "target": "com.cloudflare.vectorize#MetadataIndexInvalidType"
        }
      ]
    },
    "com.cloudflare.vectorize#CreateIndexMetadataIndexRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "indexType": {
          "target": "com.cloudflare.vectorize#IndexesMetadataIndexCreateRequestIndexType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of metadata property to index.",
            "smithy.api#required": {}
          }
        },
        "propertyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the metadata property to index.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#CreateIndexMetadataIndexResponse": {
      "type": "structure",
      "members": {
        "mutationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the async mutation operation containing the changeset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vectorize#DeleteByIdsIndex": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#DeleteByIdsIndexRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#DeleteByIdsIndexResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/delete_by_ids",
          "code": 200
        },
        "smithy.api#documentation": "Delete a set of vectors from an index by their vector identifiers."
      }
    },
    "com.cloudflare.vectorize#DeleteByIdsIndexRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ids": {
          "target": "com.cloudflare.vectorize#IndexesDeleteByIdsRequestIdsList",
          "traits": {
            "smithy.api#documentation": "A list of vector identifiers to delete from the index indicated by the path."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#DeleteByIdsIndexResponse": {
      "type": "structure",
      "members": {
        "mutationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the async mutation operation containing the changeset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vectorize#DeleteIndex": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#DeleteIndexRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#DeleteIndexResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes/{index_name}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes the specified Vectorize Index.",
        "smithy.api#idempotent": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.vectorize#NotFound"
        },
        {
          "target": "com.cloudflare.vectorize#Gone"
        }
      ]
    },
    "com.cloudflare.vectorize#DeleteIndexRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#DeleteIndexResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vectorize#DeleteIndexMetadataIndex": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#DeleteIndexMetadataIndexRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#DeleteIndexMetadataIndexResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/metadata_index/delete",
          "code": 200
        },
        "smithy.api#documentation": "Allow Vectorize to delete the specified metadata index."
      },
      "errors": [
        {
          "target": "com.cloudflare.vectorize#NotFound"
        },
        {
          "target": "com.cloudflare.vectorize#Gone"
        },
        {
          "target": "com.cloudflare.vectorize#MetadataIndexNotFound"
        }
      ]
    },
    "com.cloudflare.vectorize#DeleteIndexMetadataIndexRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "propertyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the metadata property for which the index must be deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#DeleteIndexMetadataIndexResponse": {
      "type": "structure",
      "members": {
        "mutationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the async mutation operation containing the changeset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vectorize#GetByIdsIndex": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#GetByIdsIndexRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#GetByIdsIndexResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/get_by_ids",
          "code": 200
        },
        "smithy.api#documentation": "Get a set of vectors from an index by their vector identifiers."
      }
    },
    "com.cloudflare.vectorize#GetByIdsIndexRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ids": {
          "target": "com.cloudflare.vectorize#IndexesGetByIdsRequestIdsList",
          "traits": {
            "smithy.api#documentation": "A list of vector identifiers to retrieve from the index indicated by the path."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#GetByIdsIndexResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vectorize#GetIndex": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#GetIndexRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#GetIndexResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes/{index_name}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the specified Vectorize Index.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.vectorize#NotFound"
        },
        {
          "target": "com.cloudflare.vectorize#Gone"
        }
      ]
    },
    "com.cloudflare.vectorize#GetIndexRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#GetIndexResponse": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.cloudflare.vectorize#IndexesGetResponseConfig"
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the timestamp the resource was created as an ISO8601 string."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the description of the index."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the timestamp the resource was modified as an ISO8601 string."
          }
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vectorize#InfoIndex": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#InfoIndexRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#InfoIndexResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/info",
          "code": 200
        },
        "smithy.api#documentation": "Get information about a vectorize index.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vectorize#InfoIndexRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#InfoIndexResponse": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the number of dimensions for the index"
          }
        },
        "processedUpToDatetime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the timestamp the last mutation batch was processed as an ISO8601 string."
          }
        },
        "processedUpToMutation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the async mutation operation containing the changeset."
          }
        },
        "vectorCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the number of vectors present in the index"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vectorize#InsertIndex": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#InsertIndexRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#InsertIndexResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/insert",
          "code": 200,
          "bodyMediaType": "application/x-ndjson"
        },
        "smithy.api#documentation": "Inserts vectors into the specified index and returns a mutation id corresponding to the vectors enqueued for insertion."
      }
    },
    "com.cloudflare.vectorize#InsertIndexRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "unparsable_behavior": {
          "target": "com.cloudflare.vectorize#IndexesInsertRequestUnparsableBehavior",
          "traits": {
            "smithy.api#documentation": "Behavior for ndjson parse failures.",
            "smithy.api#httpQuery": "unparsable-behavior"
          }
        },
        "body": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Vectors as newline-delimited JSON (application/x-ndjson), one vector object per line."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#InsertIndexResponse": {
      "type": "structure",
      "members": {
        "mutationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the async mutation operation containing the changeset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vectorize#ListIndexes": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#ListIndexesRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#ListIndexesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes",
          "code": 200
        },
        "smithy.api#documentation": "Returns a list of Vectorize Indexes",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "single",
          "items": "result"
        }
      },
      "errors": [
        {
          "target": "com.cloudflare.vectorize#NotFound"
        },
        {
          "target": "com.cloudflare.vectorize#Gone"
        }
      ]
    },
    "com.cloudflare.vectorize#ListIndexesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#ListIndexesResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.vectorize#IndexesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vectorize#ListIndexMetadataIndexes": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#ListIndexMetadataIndexesRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#ListIndexMetadataIndexesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/metadata_index/list",
          "code": 200
        },
        "smithy.api#documentation": "List Metadata Indexes for the specified Vectorize Index.",
        "smithy.api#readonly": {}
      },
      "errors": [
        {
          "target": "com.cloudflare.vectorize#NotFound"
        },
        {
          "target": "com.cloudflare.vectorize#Gone"
        }
      ]
    },
    "com.cloudflare.vectorize#ListIndexMetadataIndexesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#ListIndexMetadataIndexesResponse": {
      "type": "structure",
      "members": {
        "metadataIndexes": {
          "target": "com.cloudflare.vectorize#IndexesMetadataIndexListResponseMetadataIndexesList",
          "traits": {
            "smithy.api#documentation": "Array of indexed metadata properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vectorize#ListVectorsIndex": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#ListVectorsIndexRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#ListVectorsIndexResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/list",
          "code": 200
        },
        "smithy.api#documentation": "Returns a paginated list of vector identifiers from the specified index.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vectorize#ListVectorsIndexRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of vectors to return",
            "smithy.api#httpQuery": "count"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination to get the next page of results",
            "smithy.api#httpQuery": "cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#ListVectorsIndexResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of vectors returned in this response",
            "smithy.api#required": {}
          }
        },
        "isTruncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there are more vectors available beyond this response",
            "smithy.api#required": {}
          }
        },
        "totalCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of vectors in the index",
            "smithy.api#required": {}
          }
        },
        "vectors": {
          "target": "com.cloudflare.vectorize#IndexesListVectorsResponseVectorsList",
          "traits": {
            "smithy.api#documentation": "Array of vector items",
            "smithy.api#required": {}
          }
        },
        "cursorExpirationTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the cursor expires as an ISO8601 string"
          }
        },
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for the next page of results"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vectorize#QueryIndex": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#QueryIndexRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#QueryIndexResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/query",
          "code": 200
        },
        "smithy.api#documentation": "Finds vectors closest to a given vector in an index."
      }
    },
    "com.cloudflare.vectorize#QueryIndexRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vector": {
          "target": "com.cloudflare.vectorize#IndexesQueryRequestVectorList",
          "traits": {
            "smithy.api#documentation": "The search vector that will be used to find the nearest neighbors.",
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A metadata filter expression used to limit nearest neighbor results."
          }
        },
        "returnMetadata": {
          "target": "com.cloudflare.vectorize#IndexesQueryRequestReturnMetadata",
          "traits": {
            "smithy.api#documentation": "Whether to return no metadata, indexed metadata or all metadata associated with the closest vectors."
          }
        },
        "returnValues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to return the values associated with the closest vectors."
          }
        },
        "topK": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of nearest neighbors to find."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#QueryIndexResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the count of vectors returned by the search"
          }
        },
        "matches": {
          "target": "com.cloudflare.vectorize#IndexesQueryResponseMatchesList",
          "traits": {
            "smithy.api#documentation": "Array of vectors matched by the search"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vectorize#UpsertIndex": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vectorize#UpsertIndexRequest"
      },
      "output": {
        "target": "com.cloudflare.vectorize#UpsertIndexResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vectorize/v2/indexes/{index_name}/upsert",
          "code": 200,
          "bodyMediaType": "application/x-ndjson"
        },
        "smithy.api#documentation": "Upserts vectors into the specified index, creating them if they do not exist and returns a mutation id corresponding to the vectors enqueued for upsertion."
      }
    },
    "com.cloudflare.vectorize#UpsertIndexRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "unparsable_behavior": {
          "target": "com.cloudflare.vectorize#IndexesUpsertRequestUnparsableBehavior",
          "traits": {
            "smithy.api#documentation": "Behavior for ndjson parse failures.",
            "smithy.api#httpQuery": "unparsable-behavior"
          }
        },
        "body": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Vectors as newline-delimited JSON (application/x-ndjson), one vector object per line."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vectorize#UpsertIndexResponse": {
      "type": "structure",
      "members": {
        "mutationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the async mutation operation containing the changeset."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    }
  }
}
