{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.vulnerability_scanner#CredentialSetsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new credential set."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a credential set and all of its credentials.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a credential set with only the provided fields; omitted fields remain unchanged."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns a single credential set by ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsListResultItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsListRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets",
          "code": 200
        },
        "smithy.api#documentation": "Returns all credential sets for the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}",
          "code": 200
        },
        "smithy.api#documentation": "Replaces a credential set. All fields must be provided.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateRequestLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateRequestLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credential value (e.g. API key, session token). Write-only. Never returned in responses.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateResponseLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential identifier.",
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateResponseLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}/credentials",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new credential within a credential set."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}/credentials/{credential_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a credential.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditRequestLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditRequestLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests."
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credential value. Write-only. Never returned in responses."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditResponseLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential identifier.",
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditResponseLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}/credentials/{credential_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a credential with only the provided fields; omitted fields remain unchanged."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGetResponseLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential identifier.",
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGetResponseLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}/credentials/{credential_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns a single credential by ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResultItemLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential identifier.",
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResultItemLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResultItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}/credentials",
          "code": 200
        },
        "smithy.api#documentation": "Returns all credentials within a credential set.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateRequestLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateRequestLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credential value. Write-only. Never returned in responses.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateResponseLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential identifier.",
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateResponseLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}/credentials/{credential_id}",
          "code": 200
        },
        "smithy.api#documentation": "Replaces a credential. All fields must be provided.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateRequestCredentialSets": {
      "type": "structure",
      "members": {
        "attacker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set ID for the attacker.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set ID for the resource owner.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateRequestScanType": {
      "type": "enum",
      "members": {
        "BOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bola"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_sets": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateRequestCredentialSets",
          "traits": {
            "smithy.api#documentation": "Credential set references for a BOLA scan. The scanner uses the `owner` credentials for legitimate requests and the `attacker`credentials to attempt unauthorized access.",
            "smithy.api#required": {}
          }
        },
        "open_api": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OpenAPI schema definition for the API under test. The scanner uses this to discover endpoints and construct requests.",
            "smithy.api#required": {}
          }
        },
        "scan_type": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateRequestScanType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "target_environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target environment to scan.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseScanType": {
      "type": "enum",
      "members": {
        "BOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bola"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseStatus": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "PLANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planning"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportSummaryVerdict": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportSummary": {
      "type": "structure",
      "members": {
        "verdict": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportSummaryVerdict",
          "traits": {
            "smithy.api#documentation": "Overall verdict of the vulnerability scan.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemKindParameters": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum (inclusive) status code of the range.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum (inclusive) status code of the range.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemKindType": {
      "type": "enum",
      "members": {
        "HTTP_STATUS_WITHIN_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_status_within_range"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemKind": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemKindParameters",
          "traits": {
            "smithy.api#documentation": "Range of HTTP status codes.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemKindType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemOutcome": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the assertion, explaining what was checked.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemKind",
          "traits": {
            "smithy.api#documentation": "Kind of assertion.",
            "smithy.api#required": {}
          }
        },
        "observed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Observed value on which the assertion was made.",
            "smithy.api#required": {}
          }
        },
        "outcome": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemOutcome",
          "traits": {
            "smithy.api#documentation": "Outcome of the assertion.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItem": {
      "type": "structure",
      "members": {
        "assertions": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsList",
          "traits": {
            "smithy.api#documentation": "Assertions that were made against the received response.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItem": {
      "type": "structure",
      "members": {
        "steps": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsList",
          "traits": {
            "smithy.api#documentation": "Steps that were executed.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReport": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportSummary",
          "traits": {
            "smithy.api#documentation": "Summary of all steps and findings.",
            "smithy.api#required": {}
          }
        },
        "tests": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsList",
          "traits": {
            "smithy.api#documentation": "List of tests that were run.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReport": {
      "type": "structure",
      "members": {
        "report": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReport",
          "traits": {
            "smithy.api#documentation": "Version 1 of the BOLA vulnerability scan report.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scan identifier.",
            "smithy.api#required": {}
          }
        },
        "scan_type": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseScanType",
          "traits": {
            "smithy.api#documentation": "The type of vulnerability scan.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseStatus",
          "traits": {
            "smithy.api#documentation": "Current lifecycle status of the scan.",
            "smithy.api#required": {}
          }
        },
        "target_environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target environment this scan runs against.",
            "smithy.api#required": {}
          }
        },
        "report": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReport",
          "traits": {
            "smithy.api#documentation": "Vulnerability report produced after the scan completes. The shape depends on the scan type. Present only for finished scans."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#ScansCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vuln_scanner/scans",
          "code": 200
        },
        "smithy.api#documentation": "Creates and starts a new vulnerability scan. The response may include non-fatal warnings in the `messages` array."
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "scan_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseScanType": {
      "type": "enum",
      "members": {
        "BOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bola"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseStatus": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "PLANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planning"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportSummaryVerdict": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportSummary": {
      "type": "structure",
      "members": {
        "verdict": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportSummaryVerdict",
          "traits": {
            "smithy.api#documentation": "Overall verdict of the vulnerability scan.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemKindParameters": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum (inclusive) status code of the range.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum (inclusive) status code of the range.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemKindType": {
      "type": "enum",
      "members": {
        "HTTP_STATUS_WITHIN_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_status_within_range"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemKind": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemKindParameters",
          "traits": {
            "smithy.api#documentation": "Range of HTTP status codes.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemKindType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemOutcome": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the assertion, explaining what was checked.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemKind",
          "traits": {
            "smithy.api#documentation": "Kind of assertion.",
            "smithy.api#required": {}
          }
        },
        "observed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Observed value on which the assertion was made.",
            "smithy.api#required": {}
          }
        },
        "outcome": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemOutcome",
          "traits": {
            "smithy.api#documentation": "Outcome of the assertion.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItem": {
      "type": "structure",
      "members": {
        "assertions": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsList",
          "traits": {
            "smithy.api#documentation": "Assertions that were made against the received response.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItem": {
      "type": "structure",
      "members": {
        "steps": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsList",
          "traits": {
            "smithy.api#documentation": "Steps that were executed.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReport": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportSummary",
          "traits": {
            "smithy.api#documentation": "Summary of all steps and findings.",
            "smithy.api#required": {}
          }
        },
        "tests": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsList",
          "traits": {
            "smithy.api#documentation": "List of tests that were run.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReport": {
      "type": "structure",
      "members": {
        "report": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReport",
          "traits": {
            "smithy.api#documentation": "Version 1 of the BOLA vulnerability scan report.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scan identifier.",
            "smithy.api#required": {}
          }
        },
        "scan_type": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseScanType",
          "traits": {
            "smithy.api#documentation": "The type of vulnerability scan.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseStatus",
          "traits": {
            "smithy.api#documentation": "Current lifecycle status of the scan.",
            "smithy.api#required": {}
          }
        },
        "target_environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target environment this scan runs against.",
            "smithy.api#required": {}
          }
        },
        "report": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReport",
          "traits": {
            "smithy.api#documentation": "Vulnerability report produced after the scan completes. The shape depends on the scan type. Present only for finished scans."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#ScansGetRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#ScansGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vuln_scanner/scans/{scan_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns a single scan by ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemScanType": {
      "type": "enum",
      "members": {
        "BOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bola"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemStatus": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "PLANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planning"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportSummaryVerdict": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportSummary": {
      "type": "structure",
      "members": {
        "verdict": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportSummaryVerdict",
          "traits": {
            "smithy.api#documentation": "Overall verdict of the vulnerability scan.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemKindParameters": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum (inclusive) status code of the range.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum (inclusive) status code of the range.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemKindType": {
      "type": "enum",
      "members": {
        "HTTP_STATUS_WITHIN_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_status_within_range"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemKind": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemKindParameters",
          "traits": {
            "smithy.api#documentation": "Range of HTTP status codes.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemKindType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemOutcome": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the assertion, explaining what was checked.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemKind",
          "traits": {
            "smithy.api#documentation": "Kind of assertion.",
            "smithy.api#required": {}
          }
        },
        "observed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Observed value on which the assertion was made.",
            "smithy.api#required": {}
          }
        },
        "outcome": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemOutcome",
          "traits": {
            "smithy.api#documentation": "Outcome of the assertion.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItem": {
      "type": "structure",
      "members": {
        "assertions": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsList",
          "traits": {
            "smithy.api#documentation": "Assertions that were made against the received response.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItem": {
      "type": "structure",
      "members": {
        "steps": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsList",
          "traits": {
            "smithy.api#documentation": "Steps that were executed.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReport": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportSummary",
          "traits": {
            "smithy.api#documentation": "Summary of all steps and findings.",
            "smithy.api#required": {}
          }
        },
        "tests": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsList",
          "traits": {
            "smithy.api#documentation": "List of tests that were run.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReport": {
      "type": "structure",
      "members": {
        "report": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReport",
          "traits": {
            "smithy.api#documentation": "Version 1 of the BOLA vulnerability scan report.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scan identifier.",
            "smithy.api#required": {}
          }
        },
        "scan_type": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemScanType",
          "traits": {
            "smithy.api#documentation": "The type of vulnerability scan.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemStatus",
          "traits": {
            "smithy.api#documentation": "Current lifecycle status of the scan.",
            "smithy.api#required": {}
          }
        },
        "target_environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target environment this scan runs against.",
            "smithy.api#required": {}
          }
        },
        "report": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReport",
          "traits": {
            "smithy.api#documentation": "Vulnerability report produced after the scan completes. The shape depends on the scan type. Present only for finished scans."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansListResultItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#ScansListRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#ScansListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vuln_scanner/scans",
          "code": 200
        },
        "smithy.api#documentation": "Returns all scans for the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsCreateRequestTargetType": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsCreateRequestTarget": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsCreateRequestTargetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare zone tag. The zone must belong to the account.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsCreateRequestTarget",
          "traits": {
            "smithy.api#documentation": "Identifies the Cloudflare asset to scan. Uses a `type` discriminator. Currently the service supports only `zone` targets.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsCreateResponseTargetType": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsCreateResponseTarget": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsCreateResponseTargetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare zone tag. The zone must belong to the account.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target environment identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsCreateResponseTarget",
          "traits": {
            "smithy.api#documentation": "Identifies the Cloudflare asset to scan. Uses a `type` discriminator. Currently the service supports only `zone` targets.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description providing additional context."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vuln_scanner/target_environments",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new target environment for the account."
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/vuln_scanner/target_environments/{target_environment_id}",
          "code": 200
        },
        "smithy.api#documentation": "Removes a target environment.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsEditRequestTargetType": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsEditRequestTarget": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsEditRequestTargetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare zone tag. The zone must belong to the account.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description. Omit to leave unchanged, set to `null`to clear, or provide a string to update."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name."
          }
        },
        "target": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsEditRequestTarget",
          "traits": {
            "smithy.api#documentation": "Identifies the Cloudflare asset to scan. Uses a `type` discriminator. Currently the service supports only `zone` targets."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsEditResponseTargetType": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsEditResponseTarget": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsEditResponseTargetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare zone tag. The zone must belong to the account.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target environment identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsEditResponseTarget",
          "traits": {
            "smithy.api#documentation": "Identifies the Cloudflare asset to scan. Uses a `type` discriminator. Currently the service supports only `zone` targets.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description providing additional context."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/vuln_scanner/target_environments/{target_environment_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a target environment with only the provided fields; omitted fields remain unchanged."
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsGetResponseTargetType": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsGetResponseTarget": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsGetResponseTargetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare zone tag. The zone must belong to the account.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target environment identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsGetResponseTarget",
          "traits": {
            "smithy.api#documentation": "Identifies the Cloudflare asset to scan. Uses a `type` discriminator. Currently the service supports only `zone` targets.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description providing additional context."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vuln_scanner/target_environments/{target_environment_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns a single target environment by ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsListResultItemTargetType": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsListResultItemTarget": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsListResultItemTargetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare zone tag. The zone must belong to the account.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target environment identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsListResultItemTarget",
          "traits": {
            "smithy.api#documentation": "Identifies the Cloudflare asset to scan. Uses a `type` discriminator. Currently the service supports only `zone` targets.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description providing additional context."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsListResultItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsListRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vuln_scanner/target_environments",
          "code": 200
        },
        "smithy.api#documentation": "Returns all target environments for the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsUpdateRequestTargetType": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsUpdateRequestTarget": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsUpdateRequestTargetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare zone tag. The zone must belong to the account.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatuuid",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsUpdateRequestTarget",
          "traits": {
            "smithy.api#documentation": "Identifies the Cloudflare asset to scan. Uses a `type` discriminator. Currently the service supports only `zone` targets.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsUpdateResponseTargetType": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsUpdateResponseTarget": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsUpdateResponseTargetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare zone tag. The zone must belong to the account.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target environment identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsUpdateResponseTarget",
          "traits": {
            "smithy.api#documentation": "Identifies the Cloudflare asset to scan. Uses a `type` discriminator. Currently the service supports only `zone` targets.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description providing additional context."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#TargetEnvironmentsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#TargetEnvironmentsUpdateRequest"
      },
[...]
