{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.workers#AccountSettingsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#AccountSettingsGetResponse": {
      "type": "structure",
      "members": {
        "default_usage_model": {
          "target": "smithy.api#String"
        },
        "green_compute": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#AccountSettingsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#AccountSettingsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#AccountSettingsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/account-settings",
          "code": 200
        },
        "smithy.api#documentation": "Fetches Worker account settings for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers#AccountSettingsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "default_usage_model": {
          "target": "smithy.api#String"
        },
        "green_compute": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#AccountSettingsUpdateResponse": {
      "type": "structure",
      "members": {
        "default_usage_model": {
          "target": "smithy.api#String"
        },
        "green_compute": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#AccountSettingsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#AccountSettingsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#AccountSettingsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/workers/account-settings",
          "code": 200
        },
        "smithy.api#documentation": "Creates Worker account settings for an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers#AssetsUploadCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "base64": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the file contents are base64-encoded. Must be `true`.",
            "smithy.api#httpQuery": "base64",
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "body",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#AssetsUploadCreateResponse": {
      "type": "structure",
      "members": {
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A “completion” JWT which can be redeemed when creating a Worker version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#AssetsUploadCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#AssetsUploadCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#AssetsUploadCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/assets/upload",
          "code": 200
        },
        "smithy.api#documentation": "Upload assets ahead of creating a Worker version. To learn more about the direct uploads of assets, see <https://developers.cloudflare.com/workers/static-assets/direct-upload/>."
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTracesSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "preview_url_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prepend a version or preview prefix to this host suffix to form the *.workers.dev preview URL the Worker would serve on once previews are enabled, e.g. `https://<prefix>-my-worker.my-subdomain.workers.dev`. Present whenever the account owns a workers.dev subdomain, regardless of whether `previews_enabled` is true, so presence does not imply preview URLs are currently live. Absent only when the account owns no workers.dev subdomain."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether preview URLs are enabled for the Worker."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address the Worker would serve on once its *.workers.dev subdomain is enabled. Present whenever the account owns a workers.dev subdomain, regardless of whether `enabled` is true, so presence does not imply the Worker is currently live at this URL. Absent only when the account owns no workers.dev subdomain."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTracesTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTracesTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTracesTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTracesTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. “authenticated” honors inbound trace context only when accompanied by a valid trace auth token. “accept” unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTracesSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker."
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTracesTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTracesTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether invocation logs are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "preview_url_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prepend a version or preview prefix to this host suffix to form the *.workers.dev preview URL the Worker would serve on once previews are enabled, e.g. `https://<prefix>-my-worker.my-subdomain.workers.dev`. Present whenever the account owns a workers.dev subdomain, regardless of whether `previews_enabled` is true, so presence does not imply preview URLs are currently live. Absent only when the account owns no workers.dev subdomain."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether preview URLs are enabled for the Worker."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address the Worker would serve on once its *.workers.dev subdomain is enabled. Present whenever the account owns a workers.dev subdomain, regardless of whether `enabled` is true, so presence does not imply the Worker is currently live at this URL. Absent only when the account owns no workers.dev subdomain."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
            "smithy.api#required": {}
          }
        },
        "queues": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemQueuesList",
          "traits": {
            "smithy.api#documentation": "Queues that send messages to the Worker.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemWorkersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker using service bindings.",
            "smithy.api#required": {}
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker.",
            "smithy.api#required": {}
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItemTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker.",
            "smithy.api#required": {}
          }
        },
        "updated_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was most recently updated.",
            "smithy.api#required": {}
          }
        },
        "deployed_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker’s most recent deployment was created. `null` if the Worker has never been deployed."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferences": {
      "type": "structure",
      "members": {
        "dispatch_namespace_outbounds": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDispatchNamespaceOutboundsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker as an outbound for a dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferencesDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domains connected to the Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. “authenticated” honors inbound trace context only when accompanied by a valid trace auth token. “accept” unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        },
        "references": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTracesReferences",
          "traits": {
            "smithy.api#documentation": "Other resources that reference the Worker and depend on it existing.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether invocation logs are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the Worker.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was created.",
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#BetaWorkersCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/workers",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Worker."
      }
    },
    "com.cloudflare.workers#BetaWorkersDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersDeleteResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersDeleteResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersDeleteResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.workers#BetaWorkersDeleteResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.workers#BetaWorkersDeleteResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.workers#BetaWorkersDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Worker and all its associated resources (versions, deployments, etc.).",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTracesSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "preview_url_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prepend a version or preview prefix to this host suffix to form the *.workers.dev preview URL the Worker would serve on once previews are enabled, e.g. `https://<prefix>-my-worker.my-subdomain.workers.dev`. Present whenever the account owns a workers.dev subdomain, regardless of whether `previews_enabled` is true, so presence does not imply preview URLs are currently live. Absent only when the account owns no workers.dev subdomain."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether preview URLs are enabled for the Worker."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address the Worker would serve on once its *.workers.dev subdomain is enabled. Present whenever the account owns a workers.dev subdomain, regardless of whether `enabled` is true, so presence does not imply the Worker is currently live at this URL. Absent only when the account owns no workers.dev subdomain."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTracesTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTracesTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTracesTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTracesTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. “authenticated” honors inbound trace context only when accompanied by a valid trace auth token. “accept” unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTracesSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTracesTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker.",
            "smithy.api#required": {}
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTracesTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether invocation logs are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "preview_url_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prepend a version or preview prefix to this host suffix to form the *.workers.dev preview URL the Worker would serve on once previews are enabled, e.g. `https://<prefix>-my-worker.my-subdomain.workers.dev`. Present whenever the account owns a workers.dev subdomain, regardless of whether `previews_enabled` is true, so presence does not imply preview URLs are currently live. Absent only when the account owns no workers.dev subdomain."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether preview URLs are enabled for the Worker."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address the Worker would serve on once its *.workers.dev subdomain is enabled. Present whenever the account owns a workers.dev subdomain, regardless of whether `enabled` is true, so presence does not imply the Worker is currently live at this URL. Absent only when the account owns no workers.dev subdomain."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
            "smithy.api#required": {}
          }
        },
        "queues": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemQueuesList",
          "traits": {
            "smithy.api#documentation": "Queues that send messages to the Worker.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemWorkersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker using service bindings.",
            "smithy.api#required": {}
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker.",
            "smithy.api#required": {}
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItemTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker.",
            "smithy.api#required": {}
          }
        },
        "updated_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was most recently updated.",
            "smithy.api#required": {}
          }
        },
        "deployed_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker’s most recent deployment was created. `null` if the Worker has never been deployed."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferences": {
      "type": "structure",
      "members": {
        "dispatch_namespace_outbounds": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDispatchNamespaceOutboundsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker as an outbound for a dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferencesDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domains connected to the Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. “authenticated” honors inbound trace context only when accompanied by a valid trace auth token. “accept” unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        },
        "references": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTracesReferences",
          "traits": {
            "smithy.api#documentation": "Other resources that reference the Worker and depend on it existing.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether invocation logs are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the Worker.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was created.",
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#BetaWorkersEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersEditRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}",
          "code": 200
        },
        "smithy.api#documentation": "Perform a partial update on a Worker, where omitted properties are left unchanged from their current values."
      }
    },
    "com.cloudflare.workers#BetaWorkersGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "preview_url_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prepend a version or preview prefix to this host suffix to form the *.workers.dev preview URL the Worker would serve on once previews are enabled, e.g. `https://<prefix>-my-worker.my-subdomain.workers.dev`. Present whenever the account owns a workers.dev subdomain, regardless of whether `previews_enabled` is true, so presence does not imply preview URLs are currently live. Absent only when the account owns no workers.dev subdomain."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether preview URLs are enabled for the Worker."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address the Worker would serve on once its *.workers.dev subdomain is enabled. Present whenever the account owns a workers.dev subdomain, regardless of whether `enabled` is true, so presence does not imply the Worker is currently live at this URL. Absent only when the account owns no workers.dev subdomain."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
            "smithy.api#required": {}
          }
        },
        "queues": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemQueuesList",
          "traits": {
            "smithy.api#documentation": "Queues that send messages to the Worker.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemWorkersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker using service bindings.",
            "smithy.api#required": {}
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker.",
            "smithy.api#required": {}
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItemTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker.",
            "smithy.api#required": {}
          }
        },
        "updated_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was most recently updated.",
            "smithy.api#required": {}
          }
        },
        "deployed_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker’s most recent deployment was created. `null` if the Worker has never been deployed."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferences": {
      "type": "structure",
      "members": {
        "dispatch_namespace_outbounds": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDispatchNamespaceOutboundsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker as an outbound for a dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferencesDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domains connected to the Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. “authenticated” honors inbound trace context only when accompanied by a valid trace auth token. “accept” unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        },
        "references": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTracesReferences",
          "traits": {
            "smithy.api#documentation": "Other resources that reference the Worker and depend on it existing.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether invocation logs are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the Worker.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was created.",
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#BetaWorkersGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get details about a specific Worker.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersListRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListRequestOrderBy": {
      "type": "enum",
      "members": {
        "DEPLOYED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployed_on"
          }
        },
        "UPDATED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_on"
          }
        },
        "CREATED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_on"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.cloudflare.workers#BetaWorkersListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Sort direction.",
            "smithy.api#httpQuery": "order"
          }
        },
        "order_by": {
          "target": "com.cloudflare.workers#BetaWorkersListRequestOrderBy",
          "traits": {
            "smithy.api#documentation": "Property to sort results by.",
            "smithy.api#httpQuery": "order_by"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current page.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Items per-page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "preview_url_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prepend a version or preview prefix to this host suffix to form the *.workers.dev preview URL the Worker would serve on once previews are enabled, e.g. `https://<prefix>-my-worker.my-subdomain.workers.dev`. Present whenever the account owns a workers.dev subdomain, regardless of whether `previews_enabled` is true, so presence does not imply preview URLs are currently live. Absent only when the account owns no workers.dev subdomain."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether preview URLs are enabled for the Worker."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address the Worker would serve on once its *.workers.dev subdomain is enabled. Present whenever the account owns a workers.dev subdomain, regardless of whether `enabled` is true, so presence does not imply the Worker is currently live at this URL. Absent only when the account owns no workers.dev subdomain."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsTracesReferencesDomainsItemDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
[...]
