{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "keyDictionary": {
      "abrLevel": "abr_level",
      "allowedDestinationAddresses": "allowed_destination_addresses",
      "allowedSenderAddresses": "allowed_sender_addresses",
      "appId": "app_id",
      "authorEmail": "author_email",
      "authorId": "author_id",
      "bodyPart": "body_part",
      "bucketName": "bucket_name",
      "bytesRead": "bytes_read",
      "cache": "cache_options",
      "capnpSchema": "capnp_schema",
      "certId": "cert_id",
      "certificateId": "certificate_id",
      "className": "class_name",
      "compatibilityDate": "compatibility_date",
      "compatibilityFlags": "compatibility_flags",
      "contentBase64": "content_base64",
      "contentType": "content_type",
      "cpuMs": "cpu_ms",
      "createdOn": "created_on",
      "crossAccountGrant": "cross_account_grant",
      "crossVersionCache": "cross_version_cache",
      "databaseId": "database_id",
      "defaultUsageModel": "default_usage_model",
      "deletedClasses": "deleted_classes",
      "deliveryDelay": "delivery_delay",
      "destinationAddress": "destination_address",
      "destinationConf": "destination_conf",
      "dispatchNamespace": "dispatch_namespace",
      "documentationUrl": "documentation_url",
      "enableTimer": "enable_timer",
      "entryPoint": "entry_point",
      "environmentIsDefault": "environment_is_default",
      "environmentName": "environment_name",
      "errorMessage": "error_message",
      "exchangeUrl": "exchange_url",
      "expiresAt": "expires_at",
      "fromScript": "from_script",
      "greenCompute": "green_compute",
      "hasAssets": "has_assets",
      "hasModules": "has_modules",
      "headSamplingRate": "head_sampling_rate",
      "htmlHandling": "html_handling",
      "indexName": "index_name",
      "instanceName": "instance_name",
      "invocationLogs": "invocation_logs",
      "keepAssets": "keep_assets",
      "keepBindings": "keep_bindings",
      "keyBase64": "key_base64",
      "keyJwk": "key_jwk",
      "lastAnalyzedAt": "last_analyzed_at",
      "lastComplete": "last_complete",
      "lastDeployedFrom": "last_deployed_from",
      "lastError": "last_error",
      "mainModule": "main_module",
      "migrationTag": "migration_tag",
      "minimalMode": "minimal_mode",
      "mitigationTimeout": "mitigation_timeout",
      "modifiedOn": "modified_on",
      "namedHandlers": "named_handlers",
      "namespaceId": "namespace_id",
      "networkId": "network_id",
      "newClasses": "new_classes",
      "newSqliteClasses": "new_sqlite_classes",
      "newTag": "new_tag",
      "notFoundHandling": "not_found_handling",
      "oldName": "old_name",
      "oldTag": "old_tag",
      "perPage": "per_page",
      "placementMode": "placement_mode",
      "placementStatus": "placement_status",
      "previewToken": "preview_token",
      "previewsEnabled": "previews_enabled",
      "propagationPolicy": "propagation_policy",
      "queueName": "queue_name",
      "renamedClasses": "renamed_classes",
      "resultInfo": "result_info",
      "rowsRead": "rows_read",
      "runWorkerFirst": "run_worker_first",
      "scriptName": "script_name",
      "scriptRuntime": "script_runtime",
      "secretName": "secret_name",
      "serveDirectly": "serve_directly",
      "serviceId": "service_id",
      "serviceName": "service_name",
      "startupTimeMs": "startup_time_ms",
      "storeId": "store_id",
      "streamingTailConsumers": "streaming_tail_consumers",
      "tailConsumers": "tail_consumers",
      "tailUrl": "tail_url",
      "totalCount": "total_count",
      "transferredClasses": "transferred_classes",
      "tunnelId": "tunnel_id",
      "usageModel": "usage_model",
      "versionId": "version_id",
      "versionTags": "version_tags",
      "workersAlias": "workers/alias",
      "workersDev": "workers_dev",
      "workersMessage": "workers/message",
      "workersTag": "workers/tag",
      "workersTriggeredBy": "workers/triggered_by",
      "workflowName": "workflow_name",
      "wranglerSessionConfig": "wrangler-session-config",
      "zoneId": "zone_id",
      "zoneName": "zone_name"
    }
  },
  "shapes": {
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDomainsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferences": {
      "type": "structure",
      "members": {
        "dispatch_namespace_outbounds": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDispatchNamespaceOutboundsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker as an outbound for a dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domains connected to the Worker.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
            "smithy.api#required": {}
          }
        },
        "queues": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesQueuesList",
          "traits": {
            "smithy.api#documentation": "Queues that send messages to the Worker.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesWorkersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker using [service bindings](https://developers.cloudflare.com/workers/runtime-apis/bindings/service-bindings/).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesDomainsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferences": {
      "type": "structure",
      "members": {
        "dispatch_namespace_outbounds": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesDispatchNamespaceOutboundsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker as an outbound for a dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domains connected to the Worker.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
            "smithy.api#required": {}
          }
        },
        "queues": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesQueuesList",
          "traits": {
            "smithy.api#documentation": "Queues that send messages to the Worker.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesWorkersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker using [service bindings](https://developers.cloudflare.com/workers/runtime-apis/bindings/service-bindings/).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesDomainsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferences": {
      "type": "structure",
      "members": {
        "dispatch_namespace_outbounds": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesDispatchNamespaceOutboundsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker as an outbound for a dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domains connected to the Worker.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
            "smithy.api#required": {}
          }
        },
        "queues": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesQueuesList",
          "traits": {
            "smithy.api#documentation": "Queues that send messages to the Worker.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesWorkersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker using [service bindings](https://developers.cloudflare.com/workers/runtime-apis/bindings/service-bindings/).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListRequestOrderBy": {
      "type": "enum",
      "members": {
        "DEPLOYED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployed_on"
          }
        },
        "UPDATED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_on"
          }
        },
        "CREATED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_on"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesDomainsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferences": {
      "type": "structure",
      "members": {
        "dispatch_namespace_outbounds": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesDispatchNamespaceOutboundsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker as an outbound for a dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domains connected to the Worker.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
            "smithy.api#required": {}
          }
        },
        "queues": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesQueuesList",
          "traits": {
            "smithy.api#documentation": "Queues that send messages to the Worker.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesWorkersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker using [service bindings](https://developers.cloudflare.com/workers/runtime-apis/bindings/service-bindings/).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the Worker.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was created.",
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "references": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemReferences",
          "traits": {
            "smithy.api#documentation": "Other resources that reference the Worker and depend on it existing.",
            "smithy.api#required": {}
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker.",
            "smithy.api#required": {}
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker.",
            "smithy.api#required": {}
          }
        },
        "updated_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was most recently updated.",
            "smithy.api#required": {}
          }
        },
        "deployed_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker's most recent deployment was created. `null` if the Worker has never been deployed."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersUpdateRequestTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesDomainsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseReferences": {
      "type": "structure",
      "members": {
        "dispatch_namespace_outbounds": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesDispatchNamespaceOutboundsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker as an outbound for a dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domains connected to the Worker.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
            "smithy.api#required": {}
          }
        },
        "queues": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesQueuesList",
          "traits": {
            "smithy.api#documentation": "Queues that send messages to the Worker.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateResponseReferencesWorkersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker using [service bindings](https://developers.cloudflare.com/workers/runtime-apis/bindings/service-bindings/).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponseTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersUpdateResponseTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAnnotations": {
      "type": "structure",
      "members": {
        "workers_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable message about the version. Truncated to 1000 bytes if longer.",
            "smithy.api#jsonName": "workers/message"
          }
        },
        "workers_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided identifier for the version. Maximum 100 bytes.",
            "smithy.api#jsonName": "workers/tag"
          }
        },
        "workers_triggered_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation that triggered the creation of the version.",
            "smithy.api#jsonName": "workers/triggered_by"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigHtmlHandling": {
      "type": "enum",
      "members": {
        "AUTO_TRAILING_SLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto-trailing-slash"
          }
        },
        "FORCE_TRAILING_SLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "force-trailing-slash"
          }
        },
        "DROP_TRAILING_SLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drop-trailing-slash"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigNotFoundHandling": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "_404_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "404-page"
          }
        },
        "SINGLE_PAGE_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single-page-application"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigRunWorkerFirstCase0List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigRunWorkerFirst": {
      "type": "union",
      "members": {
        "Boolean": {
          "target": "smithy.api#Boolean"
        },
        "BetaWorkersVersionsCreateRequestAssetsConfigRunWorkerFirstCase0List": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigRunWorkerFirstCase0List"
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfig": {
      "type": "structure",
      "members": {
        "html_handling": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigHtmlHandling",
          "traits": {
            "smithy.api#documentation": "Determines the redirects and rewrites of requests for HTML content."
          }
        },
        "not_found_handling": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigNotFoundHandling",
          "traits": {
            "smithy.api#documentation": "Determines the response when a request does not match a static asset, and there is no Worker script."
          }
        },
        "run_worker_first": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigRunWorkerFirst",
          "traits": {
[...]
