{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dispatch namespace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateResponseName": {
      "type": "enum",
      "members": {
        "MY_DISPATCH_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "my-dispatch-namespace"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateResponse": {
      "type": "structure",
      "members": {
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "modified_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Resource UUID tag."
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace."
          }
        },
        "script_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current number of scripts in this Dispatch Namespace."
          }
        },
        "trusted_workers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Workers in the namespace are executed in a “trusted” manner. When a Worker is trusted, it has access to the shared caches for the zone in the Cache API, and has access to the `request.cf` object on incoming Requests. When a Worker is untrusted, caches are not shared across the zone, and `request.cf` is undefined. By default, Workers in a namespace are “untrusted”."
          }
        },
        "name": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateResponseName",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Workers for Platforms namespace."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Workers for Platforms namespace.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesGetResponse": {
      "type": "structure",
      "members": {
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "modified_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Resource UUID tag."
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace."
          }
        },
        "script_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current number of scripts in this Dispatch Namespace."
          }
        },
        "trusted_workers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Workers in the namespace are executed in a “trusted” manner. When a Worker is trusted, it has access to the shared caches for the zone in the Cache API, and has access to the `request.cf` object on incoming Requests. When a Worker is untrusted, caches are not shared across the zone, and `request.cf` is undefined. By default, Workers in a namespace are “untrusted”."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}",
          "code": 200
        },
        "smithy.api#documentation": "Get a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultItem": {
      "type": "structure",
      "members": {
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "modified_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Resource UUID tag."
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace."
          }
        },
        "script_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current number of scripts in this Dispatch Namespace."
          }
        },
        "trusted_workers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Workers in the namespace are executed in a “trusted” manner. When a Worker is trusted, it has access to the shared caches for the zone in the Cache API, and has access to the `request.cf` object on incoming Requests. When a Worker is untrusted, caches are not shared across the zone, and `request.cf` is undefined. By default, Workers in a namespace are “untrusted”."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesListRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "Fetch a list of Workers for Platforms namespaces.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, delete will not be stopped by associated service binding, durable object, or other binding. Any of these associated bindings/durable objects will be deleted along with the script.",
            "smithy.api#httpQuery": "force"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a worker from a Workers for Platforms namespace. This call has no response body on a successful delete.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptCacheOptions": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether caching is enabled for this Worker.",
            "smithy.api#required": {}
          }
        },
        "cross_version_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether cached responses are shared across Worker version uploads. This is independent of enabled . It can stay true while caching is off, so the preference survives turning caching off and back on."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersItemHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersItem": {
      "type": "structure",
      "members": {
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersItemHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the named export."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the export."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityLogs": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether invocation logs are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. “authenticated” honors inbound trace context only when accompanied by a valid trace auth token. “accept” unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for incoming requests. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptDeprecatedPlacementMode": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        },
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptDeprecatedPlacementStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTailConsumersItem": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of Worker that is to be the consumer.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional environment if the Worker utilizes one."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional dispatch namespace the script belongs to."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTailConsumersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScript": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name used to identify the script."
          }
        },
        "cache_options": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptCacheOptions",
          "traits": {
            "smithy.api#documentation": "Global CacheW configuration for the Worker. When caching is on, the platform provisions a cloudflare.app zone for the Worker. A type: worker entry in the exports map can override this value for a single entrypoint."
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date indicating targeted support in the Workers runtime. Backwards incompatible fixes to the runtime following this date will not affect this Worker."
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Flags that enable or disable certain features in the Workers runtime. Used to enable upcoming features or opt in or out of specific changes not included in a compatibility_date ."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hashed script content, can be used in a If-None-Match header when updating."
          }
        },
        "exports": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Declarative exports for the Worker’s most recent version, including Durable Object classes (with their storage backend) and named Worker entrypoints. Tombstoned lifecycle entries are omitted, so only live exports ( created and expecting-transfer ) are returned."
          }
        },
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the default export."
          }
        },
        "has_assets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains assets."
          }
        },
        "has_modules": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains modules."
          }
        },
        "last_deployed_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client most recently used to deploy this Worker."
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Logpush is turned on for the Worker."
          }
        },
        "migration_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tag of the Durable Object migration that was most recently applied for this Worker."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "named_handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersList",
          "traits": {
            "smithy.api#documentation": "Named exports, such as Durable Object class implementations and named entrypoints."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker."
          }
        },
        "placement": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Configuration for Smart Placement . Specify mode=‘smart’ for Smart Placement, or one of region/hostname/host."
          }
        },
        "Deprecated_placement_mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptDeprecatedPlacementMode",
          "traits": {
            "smithy.api#documentation": "Configuration for Smart Placement . Specify mode=‘smart’ for Smart Placement, or one of region/hostname/host.",
            "smithy.api#jsonName": "Deprecated placement_mode"
          }
        },
        "Deprecated_placement_status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptDeprecatedPlacementStatus",
          "traits": {
            "smithy.api#documentation": "Status of Smart Placement .",
            "smithy.api#jsonName": "Deprecated placement_status"
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the script."
          }
        },
        "tags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTailConsumersList",
          "traits": {
            "smithy.api#documentation": "List of Workers that will consume logs from the attached Worker."
          }
        },
        "usage_model": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptUsageModel",
          "traits": {
            "smithy.api#documentation": "Usage model for the Worker invocations."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponse": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "script": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScript",
          "traits": {
            "smithy.api#documentation": "The name used to identify the script."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}",
          "code": 200
        },
        "smithy.api#documentation": "Fetch information about a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseCacheOptions": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether caching is enabled for this Worker.",
            "smithy.api#required": {}
          }
        },
        "cross_version_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether cached responses are shared across Worker version uploads. This is independent of enabled . It can stay true while caching is off, so the preference survives turning caching off and back on."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersItemHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersItem": {
      "type": "structure",
      "members": {
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersItemHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the named export."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the export."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether invocation logs are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. “authenticated” honors inbound trace context only when accompanied by a valid trace auth token. “accept” unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for incoming requests. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseDeprecatedPlacementMode": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        },
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseDeprecatedPlacementStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTailConsumersItem": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of Worker that is to be the consumer.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional environment if the Worker utilizes one."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional dispatch namespace the script belongs to."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTailConsumersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponse": {
      "type": "structure",
      "members": {
        "startup_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name used to identify the script."
          }
        },
        "cache_options": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseCacheOptions",
          "traits": {
            "smithy.api#documentation": "Global CacheW configuration for the Worker. When caching is on, the platform provisions a cloudflare.app zone for the Worker. A type: worker entry in the exports map can override this value for a single entrypoint."
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date indicating targeted support in the Workers runtime. Backwards incompatible fixes to the runtime following this date will not affect this Worker."
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Flags that enable or disable certain features in the Workers runtime. Used to enable upcoming features or opt in or out of specific changes not included in a compatibility_date ."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "entry_point": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entry point for the script."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hashed script content, can be used in a If-None-Match header when updating."
          }
        },
        "exports": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Declarative exports for the Worker’s most recent version, including Durable Object classes (with their storage backend) and named Worker entrypoints. Tombstoned lifecycle entries are omitted, so only live exports ( created and expecting-transfer ) are returned."
          }
        },
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the default export."
          }
        },
        "has_assets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains assets."
          }
        },
        "has_modules": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains modules."
          }
        },
        "last_deployed_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client most recently used to deploy this Worker."
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Logpush is turned on for the Worker."
          }
        },
        "migration_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tag of the Durable Object migration that was most recently applied for this Worker."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "named_handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersList",
          "traits": {
            "smithy.api#documentation": "Named exports, such as Durable Object class implementations and named entrypoints."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker."
          }
        },
        "placement": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Configuration for Smart Placement . Specify mode=‘smart’ for Smart Placement, or one of region/hostname/host."
          }
        },
        "Deprecated_placement_mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseDeprecatedPlacementMode",
          "traits": {
            "smithy.api#jsonName": "Deprecated placement_mode"
          }
        },
        "Deprecated_placement_status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseDeprecatedPlacementStatus",
          "traits": {
            "smithy.api#jsonName": "Deprecated placement_status"
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the script."
          }
        },
        "tags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTailConsumersList",
          "traits": {
            "smithy.api#documentation": "List of Workers that will consume logs from the attached Worker."
          }
        },
        "usage_model": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseUsageModel",
          "traits": {
            "smithy.api#documentation": "Usage model for the Worker invocations."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}",
          "code": 200
        },
        "smithy.api#documentation": "Upload a worker module to a Workers for Platforms namespace. You can find more about the multipart metadata on our docs: https://developers.cloudflare.com/workers/configuration/multipart-upload-metadata/ .",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequestManifestValue": {
      "type": "structure",
      "members": {
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash of the file.",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the file in bytes.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequestManifestMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequestManifestValue"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "manifest": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequestManifestMap",
          "traits": {
            "smithy.api#documentation": "A manifest ([path]: {hash, size}) map of files to upload. As an example, `/blog/hello-world.html` would be a valid path key.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponseBucketsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponseBucketsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponseBucketsItemList"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponse": {
      "type": "structure",
      "members": {
        "buckets": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponseBucketsList",
          "traits": {
            "smithy.api#documentation": "The requests to make to upload assets."
          }
        },
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JWT to use as authentication for uploading assets."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/assets-upload-session",
          "code": 200
        },
        "smithy.api#documentation": "Start uploading a collection of assets for use in a Worker version. To learn more about the direct uploads of assets, see <https://developers.cloudflare.com/workers/static-assets/direct-upload/>."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/bindings",
          "code": 200
        },
        "smithy.api#documentation": "Fetch script bindings from a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentGetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/content",
          "code": 200
        },
        "smithy.api#documentation": "Fetch script content from a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseCacheOptions": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether caching is enabled for this Worker.",
            "smithy.api#required": {}
          }
        },
        "cross_version_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether cached responses are shared across Worker version uploads. This is independent of enabled . It can stay true while caching is off, so the preference survives turning caching off and back on."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseNamedHandlersItemHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseNamedHandlersItem": {
      "type": "structure",
      "members": {
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseNamedHandlersItemHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the named export."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the export."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseNamedHandlersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseNamedHandlersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether invocation logs are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. “authenticated” honors inbound trace context only when accompanied by a valid trace auth token. “accept” unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled. Returns null when the trace propagation feature is not enabled for the account."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for incoming requests. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "redact_query_string": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether query strings are removed from request URLs in logs and traces."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseDeprecatedPlacementMode": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        },
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseDeprecatedPlacementStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseTailConsumersItem": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of Worker that is to be the consumer.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional environment if the Worker utilizes one."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional dispatch namespace the script belongs to."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseTailConsumersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name used to identify the script."
          }
        },
        "cache_options": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseCacheOptions",
          "traits": {
            "smithy.api#documentation": "Global CacheW configuration for the Worker. When caching is on, the platform provisions a cloudflare.app zone for the Worker. A type: worker entry in the exports map can override this value for a single entrypoint."
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date indicating targeted support in the Workers runtime. Backwards incompatible fixes to the runtime following this date will not affect this Worker."
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Flags that enable or disable certain features in the Workers runtime. Used to enable upcoming features or opt in or out of specific changes not included in a compatibility_date ."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hashed script content, can be used in a If-None-Match header when updating."
          }
        },
        "exports": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Declarative exports for the Worker’s most recent version, including Durable Object classes (with their storage backend) and named Worker entrypoints. Tombstoned lifecycle entries are omitted, so only live exports ( created and expecting-transfer ) are returned."
          }
        },
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the default export."
          }
        },
        "has_assets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains assets."
          }
        },
        "has_modules": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains modules."
          }
        },
        "last_deployed_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client most recently used to deploy this Worker."
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Logpush is turned on for the Worker."
          }
        },
        "migration_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tag of the Durable Object migration that was most recently applied for this Worker."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "named_handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseNamedHandlersList",
          "traits": {
            "smithy.api#documentation": "Named exports, such as Durable Object class implementations and named entrypoints."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker."
          }
        },
        "placement": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Configuration for Smart Placement . Specify mode=‘smart’ for Smart Placement, or one of region/hostname/host."
          }
        },
        "Deprecated_placement_mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseDeprecatedPlacementMode",
          "traits": {
            "smithy.api#documentation": "Configuration for Smart Placement . Specify mode=‘smart’ for Smart Placement, or one of region/hostname/host.",
            "smithy.api#jsonName": "Deprecated placement_mode"
          }
        },
        "Deprecated_placement_status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseDeprecatedPlacementStatus",
          "traits": {
            "smithy.api#documentation": "Status of Smart Placement .",
            "smithy.api#jsonName": "Deprecated placement_status"
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the script."
          }
        },
        "tags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseTailConsumersList",
          "traits": {
            "smithy.api#documentation": "List of Workers that will consume logs from the attached Worker."
          }
        },
        "usage_model": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseUsageModel",
          "traits": {
            "smithy.api#documentation": "Usage model for the Worker invocations."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/content",
          "code": 200
        },
        "smithy.api#documentation": "Put script content for a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValueType": {
      "type": "enum",
      "members": {
        "SECRET_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret_text"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValueFormat": {
      "type": "enum",
      "members": {
        "RAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "raw"
          }
        },
        "PKCS8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pkcs8"
          }
        },
        "SPKI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spki"
          }
        },
        "JWK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jwk"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValueType2": {
      "type": "enum",
      "members": {
        "SECRET_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret_key"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValueUsagesItem": {
      "type": "enum",
      "members": {
        "ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypt"
          }
        },
        "DECRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decrypt"
          }
        },
        "SIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sign"
          }
        },
        "VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verify"
          }
        },
        "DERIVEKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deriveKey"
          }
        },
        "DERIVEBITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deriveBits"
          }
        },
        "WRAPKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wrapKey"
          }
        },
        "UNWRAPKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unwrapKey"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValueUsagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValueUsagesItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValueVersionTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret value to use.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValueType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        },
        "algorithm": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Algorithm-specific key parameters. Learn more.",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValueFormat",
          "traits": {
            "smithy.api#documentation": "Data format of the key. Learn more.",
            "smithy.api#required": {}
          }
        },
        "name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "name"
          }
        },
        "type_2": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValueType2",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "usages": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValueUsagesList",
          "traits": {
            "smithy.api#documentation": "Allowed operations with the key. Learn more.",
            "smithy.api#required": {}
          }
        },
        "key_base64": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded key data. Required if `format` is “raw”, “pkcs8”, or “spki”."
          }
        },
        "key_jwk": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Key data in JSON Web Key format. Required if `format` is “jwk”."
          }
        },
        "version_tags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValueVersionTagsMap",
          "traits": {
            "smithy.api#documentation": "Optional version tags to apply to the new script version."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsValue"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "secrets": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsMap",
          "traits": {
            "smithy.api#documentation": "Map of secret names to secret values:"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultValueType": {
      "type": "enum",
      "members": {
        "SECRET_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret_text"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultValueFormat": {
      "type": "enum",
      "members": {
        "RAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "raw"
          }
        },
        "PKCS8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pkcs8"
          }
        },
        "SPKI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spki"
          }
        },
        "JWK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jwk"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultValueType2": {
      "type": "enum",
      "members": {
        "SECRET_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret_key"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultValueUsagesItem": {
      "type": "enum",
      "members": {
        "ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypt"
          }
        },
        "DECRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decrypt"
          }
        },
        "SIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sign"
          }
        },
        "VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verify"
          }
        },
        "DERIVEKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deriveKey"
          }
        },
        "DERIVEBITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deriveBits"
          }
        },
        "WRAPKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wrapKey"
          }
        },
        "UNWRAPKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unwrapKey"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultValueUsagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultValueUsagesItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret value to use.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultValueType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {}
          }
        },
        "algorithm": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Algorithm-specific key parameters. Learn more.",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultValueFormat",
          "traits": {
            "smithy.api#documentation": "Data format of the key. Learn more.",
            "smithy.api#required": {}
          }
        },
        "name_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "name"
          }
        },
        "type_2": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultValueType2",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "usages": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultValueUsagesList",
          "traits": {
            "smithy.api#documentation": "Allowed operations with the key. Learn more.",
            "smithy.api#required": {}
          }
        },
        "key_base64": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded key data. Required if `format` is “raw”, “pkcs8”, or “spki”."
          }
        },
        "key_jwk": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Key data in JSON Web Key format. Required if `format` is “jwk”."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultValue"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultMap",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/secrets-bulk",
          "code": 200
        },
        "smithy.api#documentation": "Create, update, or delete multiple secrets on a script in a single operation using JSON Merge Patch (RFC 7396). Usage: * To create or update a secret, set its value to a secret object. * To delete a secret, set its value to `null`. * Secrets not included in the request are left unchanged."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
[...]
