{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.workers#AccountSettingsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#AccountSettingsGetResponse": {
      "type": "structure",
      "members": {
        "default_usage_model": {
          "target": "smithy.api#String"
        },
        "green_compute": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#AccountSettingsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#AccountSettingsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#AccountSettingsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/account-settings",
          "code": 200
        },
        "smithy.api#documentation": "Fetches Worker account settings for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers#AccountSettingsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "default_usage_model": {
          "target": "smithy.api#String"
        },
        "green_compute": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#AccountSettingsUpdateResponse": {
      "type": "structure",
      "members": {
        "default_usage_model": {
          "target": "smithy.api#String"
        },
        "green_compute": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#AccountSettingsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#AccountSettingsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#AccountSettingsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/workers/account-settings",
          "code": 200
        },
        "smithy.api#documentation": "Creates Worker account settings for an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers#AssetsUploadCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "base64": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the file contents are base64-encoded. Must be `true`.",
            "smithy.api#httpQuery": "base64",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#AssetsUploadCreateResponse": {
      "type": "structure",
      "members": {
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A \"completion\" JWT which can be redeemed when creating a Worker version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#AssetsUploadCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#AssetsUploadCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#AssetsUploadCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/assets/upload",
          "code": 200
        },
        "smithy.api#documentation": "Upload assets ahead of creating a Worker version.  To learn more about the direct uploads of assets, see https://developers.cloudflare.com/workers/static-assets/direct-upload/."
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker."
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker."
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/workers",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Worker."
      }
    },
    "com.cloudflare.workers#BetaWorkersDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Worker and all its associated resources (versions, deployments, etc.).",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker.",
            "smithy.api#required": {}
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersEditRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}",
          "code": 200
        },
        "smithy.api#documentation": "Perform a partial update on a Worker, where omitted properties are left unchanged from their current values."
      }
    },
    "com.cloudflare.workers#BetaWorkersGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get details about a specific Worker.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersListRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListRequestOrderBy": {
      "type": "enum",
      "members": {
        "DEPLOYED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployed_on"
          }
        },
        "UPDATED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_on"
          }
        },
        "CREATED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_on"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.cloudflare.workers#BetaWorkersListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Sort direction.",
            "smithy.api#httpQuery": "order"
          }
        },
        "order_by": {
          "target": "com.cloudflare.workers#BetaWorkersListRequestOrderBy",
          "traits": {
            "smithy.api#documentation": "Property to sort results by.",
            "smithy.api#httpQuery": "order_by"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current page.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Items per-page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers#BetaWorkersListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersListRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/workers",
          "code": 200
        },
        "smithy.api#documentation": "List all Workers for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersUpdateRequestTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker."
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker."
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}",
          "code": 200
        },
        "smithy.api#documentation": "Perform a complete replacement of a Worker, where omitted properties are set to their default values. This is the exact same as the Create Worker endpoint, but operates on an existing Worker. To perform a partial update instead, use the Edit Worker endpoint.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAnnotations": {
      "type": "structure",
      "members": {
        "_workers_message_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable message about the version. Truncated to 1000 bytes if longer.",
            "smithy.api#jsonName": "\"workers/message\""
          }
        },
        "_workers_tag_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided identifier for the version. Maximum 100 bytes.",
            "smithy.api#jsonName": "\"workers/tag\""
          }
        },
        "_workers_triggered_by_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation that triggered the creation of the version.",
            "smithy.api#jsonName": "\"workers/triggered_by\""
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigHtmlHandling": {
      "type": "enum",
      "members": {
        "AUTO_TRAILING_SLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto-trailing-slash"
          }
        },
        "FORCE_TRAILING_SLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "force-trailing-slash"
          }
        },
        "DROP_TRAILING_SLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drop-trailing-slash"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigNotFoundHandling": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "_404_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "404-page"
          }
        },
        "SINGLE_PAGE_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "single-page-application"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigRunWorkerFirstList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfig": {
      "type": "structure",
      "members": {
        "html_handling": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigHtmlHandling",
          "traits": {
            "smithy.api#documentation": "Determines the redirects and rewrites of requests for HTML content."
          }
        },
        "not_found_handling": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigNotFoundHandling",
          "traits": {
            "smithy.api#documentation": "Determines the response when a request does not match a static asset, and there is no Worker script."
          }
        },
        "run_worker_first": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfigRunWorkerFirstList",
          "traits": {
            "smithy.api#documentation": "Contains a list path rules to control routing to either the Worker or assets. Glob (*) and negative (!) rules are supported. Rules must start with either '/' or '!/'. At least one non-negative rule must be provided, and negative rules have higher precedence than non-negative rules."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssets": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssetsConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for assets within a Worker."
          }
        },
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token provided upon successful upload of all files from a registered manifest."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestBindingsItem": {
      "type": "structure",
      "members": {
        "AI_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AI object { name, type }"
          }
        },
        "AISearch_object___instance_name__name__type__namespace__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AISearch object { instance_name, name, type, namespace }"
          }
        },
        "AISearchNamespace_object___name__namespace__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AISearchNamespace object { name, namespace, type }"
          }
        },
        "AnalyticsEngine_object___dataset__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AnalyticsEngine object { dataset, name, type }"
          }
        },
        "Assets_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Assets object { name, type }"
          }
        },
        "Browser_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Browser object { name, type }"
          }
        },
        "D1_object___database_id__name__type__id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "D1 object { database_id, name, type, id }"
          }
        },
        "DataBlob_object___name__part__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DataBlob object { name, part, type }"
          }
        },
        "DispatchNamespace_object___name__namespace__type__outbound__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DispatchNamespace object { name, namespace, type, outbound }"
          }
        },
        "DurableObjectNamespace_object___name__type__class_name__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DurableObjectNamespace object { name, type, class_name, 4 more }"
          }
        },
        "Hyperdrive_object___id__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Hyperdrive object { id, name, type }"
          }
        },
        "Inherit_object___name__type__old_name__version_id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Inherit object { name, type, old_name, version_id }"
          }
        },
        "Images_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Images object { name, type }"
          }
        },
        "Json_object___json__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Json object { json, name, type }"
          }
        },
        "KVNamespace_object___name__namespace_id__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "KVNamespace object { name, namespace_id, type }"
          }
        },
        "Media_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Media object { name, type }"
          }
        },
        "MTLSCertificate_object___certificate_id__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "MTLSCertificate object { certificate_id, name, type }"
          }
        },
        "PlainText_object___name__text__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "PlainText object { name, text, type }"
          }
        },
        "Pipelines_object___name__pipeline__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Pipelines object { name, pipeline, type }"
          }
        },
        "Queue_object___name__queue_name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Queue object { name, queue_name, type }"
          }
        },
        "Ratelimit_object___name__namespace_id__simple__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Ratelimit object { name, namespace_id, simple, type }"
          }
        },
        "R2Bucket_object___bucket_name__name__type__jurisdiction__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "R2Bucket object { bucket_name, name, type, jurisdiction }"
          }
        },
        "SecretText_object___name__text__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretText object { name, text, type }"
          }
        },
        "SendEmail_object___name__type__allowed_destination_addresses__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SendEmail object { name, type, allowed_destination_addresses, 2 more }"
          }
        },
        "Service_object___name__service__type__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Service object { name, service, type, 2 more }"
          }
        },
        "TextBlob_object___name__part__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TextBlob object { name, part, type }"
          }
        },
        "Vectorize_object___index_name__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Vectorize object { index_name, name, type }"
          }
        },
        "VersionMetadata_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "VersionMetadata object { name, type }"
          }
        },
        "SecretsStoreSecret_object___name__secret_name__store_id__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretsStoreSecret object { name, secret_name, store_id, type }"
          }
        },
        "Flagship_object___app_id__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Flagship object { app_id, name, type }"
          }
        },
        "SecretKey_object___algorithm__format__name__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretKey object { algorithm, format, name, 4 more }"
          }
        },
        "Workflow_object___name__type__workflow_name__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Workflow object { name, type, workflow_name, 2 more }"
          }
        },
        "WasmModule_object___name__part__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "WasmModule object { name, part, type }"
          }
        },
        "VPCService_object___name__service_id__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "VPCService object { name, service_id, type }"
          }
        },
        "VPCNetwork_object___name__type__network_id__tunnel_id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "VPCNetwork object { name, type, network_id, tunnel_id }"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestBindingsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestBindingsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestContainersItem": {
      "type": "structure",
      "members": {
        "class_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Select which Durable Object class should get this container attached.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestContainersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestContainersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestLimits": {
      "type": "structure",
      "members": {
        "cpu_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU time limit in milliseconds."
          }
        },
        "subrequests": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Subrequest limit per request."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestModulesItem": {
      "type": "structure",
      "members": {
        "content_base64": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base64-encoded module content.",
            "smithy.api#required": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the module.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the module.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestModulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestModulesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestPlacement": {
      "type": "structure",
      "members": {
        "Mode_object___mode__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Mode object { mode }"
          }
        },
        "Region_object___region__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Region object { region }"
          }
        },
        "Hostname_object___hostname__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Hostname object { hostname }"
          }
        },
        "Host_object___host__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Host object { host }"
          }
        },
        "object___mode__region__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { mode, region }"
          }
        },
        "object___hostname__mode__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { hostname, mode }"
          }
        },
        "object___host__mode__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { host, mode }"
          }
        },
        "object___mode__target__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { mode, target }"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequestUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, a deployment will be created that sends 100% of traffic to the new version.",
            "smithy.api#httpQuery": "deploy"
          }
        },
        "annotations": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAnnotations",
          "traits": {
            "smithy.api#documentation": "Metadata about the version."
          }
        },
        "assets": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestAssets",
          "traits": {
            "smithy.api#documentation": "Configuration for assets within a Worker."
          }
        },
        "bindings": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestBindingsList",
          "traits": {
            "smithy.api#documentation": "List of bindings attached to a Worker. You can find more about bindings on our docs: https://developers.cloudflare.com/workers/configuration/multipart-upload-metadata/#bindings."
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date indicating targeted support in the Workers runtime. Backwards incompatible fixes to the runtime following this date will not affect this Worker."
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Flags that enable or disable certain features in the Workers runtime. Used to enable upcoming features or opt in or out of specific changes not included in a `compatibility_date`."
          }
        },
        "containers": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestContainersList",
          "traits": {
            "smithy.api#documentation": "List of containers attached to a Worker. Containers can only be attached to Durable Object classes of this Worker script."
          }
        },
        "limits": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestLimits",
          "traits": {
            "smithy.api#documentation": "Resource limits enforced at runtime."
          }
        },
        "main_module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the main module in the `modules` array (e.g. the name of the module that exports a `fetch` handler)."
          }
        },
        "migrations": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Migrations for Durable Objects associated with the version. Migrations are applied when the version is deployed."
          }
        },
        "modules": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestModulesList",
          "traits": {
            "smithy.api#documentation": "Code, sourcemaps, and other content used at runtime."
          }
        },
        "placement": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestPlacement",
          "traits": {
            "smithy.api#documentation": "Configuration for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement). Specify mode='smart' for Smart Placement, or one of region/hostname/host."
          }
        },
        "usage_model": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequestUsageModel",
          "traits": {
            "smithy.api#documentation": "Usage model for the version."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersVersionsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersVersionsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}/versions",
          "code": 200
        },
        "smithy.api#documentation": "Create a new version."
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "version_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the version, which can be a UUID, a UUID prefix (minimum length 8), or the literal \"latest\" to operate on the most recently created version.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersVersionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}/versions/{version_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a version.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsGetRequestInclude": {
      "type": "enum",
      "members": {
        "MODULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modules"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "version_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the version, which can be a UUID, a UUID prefix (minimum length 8), or the literal \"latest\" to operate on the most recently created version.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "include": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsGetRequestInclude",
          "traits": {
            "smithy.api#documentation": "Whether to include the `modules` property of the version in the response, which contains code and sourcemap content and may add several megabytes to the response size.",
            "smithy.api#httpQuery": "include"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersVersionsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersVersionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}/versions/{version_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get details about a specific version.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current page.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Items per-page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers#BetaWorkersVersionsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersVersionsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersVersionsListRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersVersionsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}/versions",
          "code": 200
        },
        "smithy.api#documentation": "List all versions for a Worker.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers#DomainsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the domain.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#DomainsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#DomainsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/workers/domains/{domain_id}",
          "code": 200
        },
        "smithy.api#documentation": "Detaches a domain from a Worker. Both the Worker and all of its previews are no longer routable using this domain.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers#DomainsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the domain.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#DomainsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the domain.",
            "smithy.api#required": {}
          }
        },
        "cert_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the domain.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker environment associated with the domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname of the domain. Can be either the zone apex or a subdomain of the zone. Requests to this hostname will be routed to the configured Worker.",
            "smithy.api#required": {}
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker associated with the domain. Requests to the configured hostname will be routed to this Worker.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone containing the domain hostname.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone containing the domain hostname.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#DomainsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#DomainsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#DomainsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/domains/{domain_id}",
          "code": 200
        },
        "smithy.api#documentation": "Gets information about a domain.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers#DomainsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker environment associated with the domain.",
            "smithy.api#httpQuery": "environment"
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname of the domain.",
            "smithy.api#httpQuery": "hostname"
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker associated with the domain.",
            "smithy.api#httpQuery": "service"
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone containing the domain hostname.",
            "smithy.api#httpQuery": "zone_id"
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone containing the domain hostname.",
            "smithy.api#httpQuery": "zone_name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#DomainsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the domain.",
            "smithy.api#required": {}
          }
        },
        "cert_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the domain.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker environment associated with the domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname of the domain. Can be either the zone apex or a subdomain of the zone. Requests to this hostname will be routed to the configured Worker.",
            "smithy.api#required": {}
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker associated with the domain. Requests to the configured hostname will be routed to this Worker.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone containing the domain hostname.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone containing the domain hostname.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#DomainsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#DomainsListResultItem"
      }
    },
    "com.cloudflare.workers#DomainsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers#DomainsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers#DomainsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#DomainsListRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#DomainsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/domains",
          "code": 200
        },
        "smithy.api#documentation": "Lists all domains for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers#DomainsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname of the domain. Can be either the zone apex or a subdomain of the zone. Requests to this hostname will be routed to the configured Worker.",
            "smithy.api#required": {}
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker associated with the domain. Requests to the configured hostname will be routed to this Worker.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker environment associated with the domain."
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone containing the domain hostname."
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone containing the domain hostname."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#DomainsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the domain.",
            "smithy.api#required": {}
          }
        },
        "cert_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the domain.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker environment associated with the domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname of the domain. Can be either the zone apex or a subdomain of the zone. Requests to this hostname will be routed to the configured Worker.",
            "smithy.api#required": {}
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker associated with the domain. Requests to the configured hostname will be routed to this Worker.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone containing the domain hostname.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone containing the domain hostname.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#DomainsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#DomainsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#DomainsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/workers/domains",
          "code": 200
        },
        "smithy.api#documentation": "Attaches a domain that routes traffic to a Worker.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsCreateRequestConfigurationHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsCreateRequestConfigurationLogpushDataset": {
      "type": "enum",
      "members": {
        "OPENTELEMETRY_TRACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opentelemetry-traces"
          }
        },
        "OPENTELEMETRY_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opentelemetry-logs"
          }
        },
        "OPENTELEMETRY_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opentelemetry-metrics"
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsCreateRequestConfigurationType": {
      "type": "enum",
      "members": {
        "LOGPUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logpush"
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsCreateRequestConfiguration": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsCreateRequestConfigurationHeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logpushDataset": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsCreateRequestConfigurationLogpushDataset",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsCreateRequestConfigurationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsCreateRequestConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "skipPreflightCheck": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsCreateResponseConfigurationLogpushDataset": {
      "type": "enum",
      "members": {
        "OPENTELEMETRY_TRACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opentelemetry-traces"
          }
        },
        "OPENTELEMETRY_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opentelemetry-logs"
          }
        },
        "OPENTELEMETRY_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opentelemetry-metrics"
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsCreateResponseConfigurationType": {
      "type": "enum",
      "members": {
        "LOGPUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logpush"
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsCreateResponseConfiguration": {
      "type": "structure",
      "members": {
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logpushDataset": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsCreateResponseConfigurationLogpushDataset",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logpushJob": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsCreateResponseConfigurationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsCreateResponseScriptsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsCreateResponse": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsCreateResponseConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scripts": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsCreateResponseScriptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#ObservabilityDestinationsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#ObservabilityDestinationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/observability/destinations",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Workers Observability Telemetry Destination."
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsDeleteResponseConfigurationLogpushDataset": {
      "type": "enum",
      "members": {
        "OPENTELEMETRY_TRACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opentelemetry-traces"
          }
        },
        "OPENTELEMETRY_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opentelemetry-logs"
          }
        },
        "OPENTELEMETRY_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opentelemetry-metrics"
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsDeleteResponseConfigurationType": {
      "type": "enum",
      "members": {
        "LOGPUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logpush"
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsDeleteResponseConfiguration": {
      "type": "structure",
      "members": {
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logpushDataset": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsDeleteResponseConfigurationLogpushDataset",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logpushJob": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsDeleteResponseConfigurationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsDeleteResponseScriptsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsDeleteResponse": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsDeleteResponseConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scripts": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsDeleteResponseScriptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#ObservabilityDestinationsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#ObservabilityDestinationsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/workers/observability/destinations/{slug}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Workers Observability Telemetry Destination.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsListRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsListRequestOrderBy": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsListRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order"
          }
        },
        "orderBy": {
          "target": "com.cloudflare.workers#ObservabilityDestinationsListRequestOrderBy",
          "traits": {
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "page"
          }
        },
        "perPage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "perPage"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsListResultItemConfigurationHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsListResultItemConfigurationJobStatus": {
      "type": "structure",
      "members": {
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_complete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsListResultItemConfigurationLogpushDataset": {
      "type": "enum",
      "members": {
        "OPENTELEMETRY_TRACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opentelemetry-traces"
          }
        },
        "OPENTELEMETRY_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opentelemetry-logs"
          }
        },
        "OPENTELEMETRY_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opentelemetry-metrics"
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsListResultItemConfigurationType": {
      "type": "enum",
      "members": {
        "LOGPUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logpush"
          }
        }
      }
    },
    "com.cloudflare.workers#ObservabilityDestinationsListResultItemConfiguration": {
      "type": "structure",
      "members": {
        "destination_conf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
[...]
