{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dispatch namespace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateResponse": {
      "type": "structure",
      "members": {
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "modified_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Resource UUID tag."
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace."
          }
        },
        "script_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current number of scripts in this Dispatch Namespace."
          }
        },
        "trusted_workers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Workers in the namespace are executed in a \"trusted\" manner. When a Worker is trusted, it has access to the shared caches for the zone in the Cache API, and has access to the `request.cf` object on incoming Requests. When a Worker is untrusted, caches are not shared across the zone, and `request.cf` is undefined. By default, Workers in a namespace are \"untrusted\"."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Workers for Platforms namespace."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Workers for Platforms namespace.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesGetResponse": {
      "type": "structure",
      "members": {
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "modified_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Resource UUID tag."
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace."
          }
        },
        "script_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current number of scripts in this Dispatch Namespace."
          }
        },
        "trusted_workers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Workers in the namespace are executed in a \"trusted\" manner. When a Worker is trusted, it has access to the shared caches for the zone in the Cache API, and has access to the `request.cf` object on incoming Requests. When a Worker is untrusted, caches are not shared across the zone, and `request.cf` is undefined. By default, Workers in a namespace are \"untrusted\"."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}",
          "code": 200
        },
        "smithy.api#documentation": "Get a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultItem": {
      "type": "structure",
      "members": {
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "modified_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Resource UUID tag."
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace."
          }
        },
        "script_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current number of scripts in this Dispatch Namespace."
          }
        },
        "trusted_workers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Workers in the namespace are executed in a \"trusted\" manner. When a Worker is trusted, it has access to the shared caches for the zone in the Cache API, and has access to the `request.cf` object on incoming Requests. When a Worker is untrusted, caches are not shared across the zone, and `request.cf` is undefined. By default, Workers in a namespace are \"untrusted\"."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesListRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "Fetch a list of Workers for Platforms namespaces.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, delete will not be stopped by associated service binding, durable object, or other binding. Any of these associated bindings/durable objects will be deleted along with the script.",
            "smithy.api#httpQuery": "force"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a worker from a Workers for Platforms namespace. This call has no response body on a successful delete.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptCacheOptions": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether caching is enabled for this Worker.",
            "smithy.api#required": {}
          }
        },
        "cross_version_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether cached responses are shared across Worker version"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersItemHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersItem": {
      "type": "structure",
      "members": {
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersItemHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the named export."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the export."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityLogs": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for incoming requests. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementMode": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementTargetItem": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region in format 'provider:region'."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host:port for targeted placement."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementTargetList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementTargetItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacement": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementMode",
          "traits": {
            "smithy.api#documentation": "Enables [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "last_analyzed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the script was analyzed for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementStatus",
          "traits": {
            "smithy.api#documentation": "Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region for targeted placement in format 'provider:region'."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host and port for targeted placement."
          }
        },
        "target": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementTargetList",
          "traits": {
            "smithy.api#documentation": "Array of placement targets (currently limited to single target)."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementMode2": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        },
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementStatus2": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTailConsumersItem": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of Worker that is to be the consumer.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional environment if the Worker utilizes one."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional dispatch namespace the script belongs to."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTailConsumersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScript": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name used to identify the script."
          }
        },
        "cache_options": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptCacheOptions",
          "traits": {
            "smithy.api#documentation": "Global CacheW configuration for the Worker. When caching is on,"
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date indicating targeted support in the Workers runtime. Backwards incompatible fixes to the runtime following this date will not affect this Worker."
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Flags that enable or disable certain features in the Workers runtime. Used to enable upcoming features or opt in or out of specific changes not included in a `compatibility_date`."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hashed script content, can be used in a If-None-Match header when updating."
          }
        },
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the default export."
          }
        },
        "has_assets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains assets."
          }
        },
        "has_modules": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains modules."
          }
        },
        "last_deployed_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client most recently used to deploy this Worker."
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Logpush is turned on for the Worker."
          }
        },
        "migration_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tag of the Durable Object migration that was most recently applied for this Worker."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "named_handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptNamedHandlersList",
          "traits": {
            "smithy.api#documentation": "Named exports, such as Durable Object class implementations and named entrypoints."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker."
          }
        },
        "placement": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacement",
          "traits": {
            "smithy.api#documentation": "Configuration for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement). Specify mode='smart' for Smart Placement, or one of region/hostname/host."
          }
        },
        "placement_mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementMode2",
          "traits": {
            "smithy.api#documentation": "Configuration for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement). Specify mode='smart' for Smart Placement, or one of region/hostname/host."
          }
        },
        "placement_status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptPlacementStatus2",
          "traits": {
            "smithy.api#documentation": "Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the script."
          }
        },
        "tags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptTailConsumersList",
          "traits": {
            "smithy.api#documentation": "List of Workers that will consume logs from the attached Worker."
          }
        },
        "usage_model": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScriptUsageModel",
          "traits": {
            "smithy.api#documentation": "Usage model for the Worker invocations."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponse": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "script": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponseScript"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}",
          "code": 200
        },
        "smithy.api#documentation": "Fetch information about a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestBindingsInherit": {
      "type": "enum",
      "members": {
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "strict"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bindings_inherit": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestBindingsInherit",
          "traits": {
            "smithy.api#documentation": "When set to \"strict\", the upload will fail if any `inherit` type bindings cannot be resolved against the previous version of the script. Without this, unresolvable inherit bindings are silently dropped.",
            "smithy.api#httpQuery": "bindings_inherit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseCacheOptions": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether caching is enabled for this Worker.",
            "smithy.api#required": {}
          }
        },
        "cross_version_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether cached responses are shared across Worker version"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersItemHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersItem": {
      "type": "structure",
      "members": {
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersItemHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the named export."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the export."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for incoming requests. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementMode": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementTargetItem": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region in format 'provider:region'."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host:port for targeted placement."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementTargetList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementTargetItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacement": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementMode",
          "traits": {
            "smithy.api#documentation": "Enables [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "last_analyzed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the script was analyzed for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementStatus",
          "traits": {
            "smithy.api#documentation": "Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region for targeted placement in format 'provider:region'."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host and port for targeted placement."
          }
        },
        "target": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementTargetList",
          "traits": {
            "smithy.api#documentation": "Array of placement targets (currently limited to single target)."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementMode2": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        },
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementStatus2": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTailConsumersItem": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of Worker that is to be the consumer.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional environment if the Worker utilizes one."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional dispatch namespace the script belongs to."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTailConsumersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponse": {
      "type": "structure",
      "members": {
        "startup_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name used to identify the script."
          }
        },
        "cache_options": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseCacheOptions",
          "traits": {
            "smithy.api#documentation": "Global CacheW configuration for the Worker. When caching is on,"
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date indicating targeted support in the Workers runtime. Backwards incompatible fixes to the runtime following this date will not affect this Worker."
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Flags that enable or disable certain features in the Workers runtime. Used to enable upcoming features or opt in or out of specific changes not included in a `compatibility_date`."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "entry_point": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entry point for the script."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hashed script content, can be used in a If-None-Match header when updating."
          }
        },
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the default export."
          }
        },
        "has_assets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains assets."
          }
        },
        "has_modules": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains modules."
          }
        },
        "last_deployed_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client most recently used to deploy this Worker."
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Logpush is turned on for the Worker."
          }
        },
        "migration_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tag of the Durable Object migration that was most recently applied for this Worker."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "named_handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersList",
          "traits": {
            "smithy.api#documentation": "Named exports, such as Durable Object class implementations and named entrypoints."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker."
          }
        },
        "placement": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacement",
          "traits": {
            "smithy.api#documentation": "Configuration for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement). Specify mode='smart' for Smart Placement, or one of region/hostname/host."
          }
        },
        "placement_mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementMode2"
        },
        "placement_status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementStatus2"
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the script."
          }
        },
        "tags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTailConsumersList",
          "traits": {
            "smithy.api#documentation": "List of Workers that will consume logs from the attached Worker."
          }
        },
        "usage_model": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseUsageModel",
          "traits": {
            "smithy.api#documentation": "Usage model for the Worker invocations."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}",
          "code": 200
        },
        "smithy.api#documentation": "Upload a worker module to a Workers for Platforms namespace. You can find more about the multipart metadata on our docs: https://developers.cloudflare.com/workers/configuration/multipart-upload-metadata/.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequestManifestMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "manifest": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequestManifestMap",
          "traits": {
            "smithy.api#documentation": "A manifest ([path]: {hash, size}) map of files to upload. As an example, `/blog/hello-world.html` would be a valid path key.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponseBucketsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponse": {
      "type": "structure",
      "members": {
        "buckets": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponseBucketsList",
          "traits": {
            "smithy.api#documentation": "The requests to make to upload assets."
          }
        },
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JWT to use as authentication for uploading assets."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/assets-upload-session",
          "code": 200
        },
        "smithy.api#documentation": "Start uploading a collection of assets for use in a Worker version. To learn more about the direct uploads of assets, see https://developers.cloudflare.com/workers/static-assets/direct-upload/."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemType": {
      "type": "enum",
      "members": {
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemOutboundParamsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parameter.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemOutboundParamsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemOutboundParamsItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemOutboundWorker": {
      "type": "structure",
      "members": {
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Entrypoint to invoke on the outbound worker."
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment of the outbound worker."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the outbound worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemOutbound": {
      "type": "structure",
      "members": {
        "params": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemOutboundParamsList",
          "traits": {
            "smithy.api#documentation": "Pass information from the Dispatch Worker to the Outbound Worker through the parameters."
          }
        },
        "worker": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemOutboundWorker",
          "traits": {
            "smithy.api#documentation": "Outbound worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemSimple": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The limit (requests per period).",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The period in seconds.",
            "smithy.api#required": {}
          }
        },
        "mitigation_timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Duration in seconds to apply the mitigation action after the rate limit is exceeded. Valid values are 0 (disabled), 10, or multiples of 60 up to 86400. Must be greater than or equal to the period when non-zero."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemJurisdiction": {
      "type": "enum",
      "members": {
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        },
        "FEDRAMP_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp-high"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemAllowedDestinationAddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemAllowedSenderAddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemFormat": {
      "type": "enum",
      "members": {
        "RAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "raw"
          }
        },
        "PKCS8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pkcs8"
          }
        },
        "SPKI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spki"
          }
        },
        "JWK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jwk"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemUsagesItem": {
      "type": "enum",
      "members": {
        "ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypt"
          }
        },
        "DECRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decrypt"
          }
        },
        "SIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sign"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemUsagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemUsagesItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the binding."
          }
        },
        "type": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemType",
          "traits": {
            "smithy.api#documentation": "The kind of resource that the binding provides."
          }
        },
        "instance_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-chosen instance name. Must exist at deploy time. The worker can search, chat, update, and manage items/jobs on this instance."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace the instance belongs to. Defaults to \"default\" if omitted. Customers who don't use namespaces can simply omit this field."
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dataset to bind to."
          }
        },
        "database_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the D1 database to bind to."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the D1 database to bind to."
          }
        },
        "part": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file containing the data content. Only accepted for `service worker syntax` Workers."
          }
        },
        "outbound": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemOutbound",
          "traits": {
            "smithy.api#documentation": "Outbound worker."
          }
        },
        "class_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exported class name of the Durable Object."
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The dispatch namespace the Durable Object script belongs to."
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment of the script_name to bind to."
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace identifier tag."
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The script where the Durable Object is defined, if it is external to this Worker."
          }
        },
        "old_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The old name of the inherited binding. If set, the binding will be renamed from `old_name` to `name` in the new version. If not set, the binding will keep the same name between versions."
          }
        },
        "version_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the version to inherit the binding from, which can be the version ID or the literal \"latest\" to inherit from the latest version. Defaults to inheriting the binding from the latest version."
          }
        },
        "json": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "JSON data to use."
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the certificate to bind to."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text value to use."
          }
        },
        "pipeline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Pipeline to bind to."
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Queue to bind to."
          }
        },
        "simple": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemSimple",
          "traits": {
            "smithy.api#documentation": "The rate limit configuration."
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "R2 bucket to bind to."
          }
        },
        "jurisdiction": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemJurisdiction",
          "traits": {
            "smithy.api#documentation": "The [jurisdiction](https://developers.cloudflare.com/r2/reference/data-location/#jurisdictional-restrictions) of the R2 bucket."
          }
        },
        "allowed_destination_addresses": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemAllowedDestinationAddressesList",
          "traits": {
            "smithy.api#documentation": "List of allowed destination addresses."
          }
        },
        "allowed_sender_addresses": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemAllowedSenderAddressesList",
          "traits": {
            "smithy.api#documentation": "List of allowed sender addresses."
          }
        },
        "destination_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination address for the email."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of Worker to bind to."
          }
        },
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Entrypoint to invoke on the target Worker."
          }
        },
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Vectorize index to bind to."
          }
        },
        "secret_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the secret in the store."
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the store containing the secret."
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Flagship app to bind to for feature flag evaluation."
          }
        },
        "algorithm": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Algorithm-specific key parameters. [Learn more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#algorithm)."
          }
        },
        "format": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemFormat",
          "traits": {
            "smithy.api#documentation": "Data format of the key. [Learn more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#format)."
          }
        },
        "usages": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItemUsagesList",
          "traits": {
            "smithy.api#documentation": "Allowed operations with the key. [Learn more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#keyUsages)."
          }
        },
        "key_base64": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded key data. Required if `format` is \"raw\", \"pkcs8\", or \"spki\"."
          }
        },
        "key_jwk": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Key data in [JSON Web Key](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#json_web_key) format. Required if `format` is \"jwk\"."
          }
        },
        "workflow_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workflow to bind to."
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the VPC service to bind to."
          }
        },
        "network_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the network to bind to. Only \"cf1:network\" is currently supported. Mutually exclusive with tunnel_id."
          }
        },
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the Cloudflare Tunnel to bind to. Mutually exclusive with network_id."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/bindings",
          "code": 200
        },
        "smithy.api#documentation": "Fetch script bindings from a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentGetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/content",
          "code": 200
        },
        "smithy.api#documentation": "Fetch script content from a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "_CF_WORKER_BODY_PART_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "\"CF-WORKER-BODY-PART\""
          }
        },
        "_CF_WORKER_MAIN_MODULE_PART_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "\"CF-WORKER-MAIN-MODULE-PART\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseCacheOptions": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether caching is enabled for this Worker.",
            "smithy.api#required": {}
          }
        },
        "cross_version_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether cached responses are shared across Worker version"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseNamedHandlersItemHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseNamedHandlersItem": {
      "type": "structure",
      "members": {
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseNamedHandlersItemHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the named export."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the export."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseNamedHandlersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseNamedHandlersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for incoming requests. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponsePlacementMode": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponsePlacementStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponsePlacementTargetItem": {
      "type": "structure",
      "members": {
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region in format 'provider:region'."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host:port for targeted placement."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponsePlacementTargetList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponsePlacementTargetItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponsePlacement": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponsePlacementMode",
          "traits": {
            "smithy.api#documentation": "Enables [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "last_analyzed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the script was analyzed for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponsePlacementStatus",
          "traits": {
            "smithy.api#documentation": "Status of [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement)."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud region for targeted placement in format 'provider:region'."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP hostname for targeted placement."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP host and port for targeted placement."
          }
        },
        "target": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponsePlacementTargetList",
          "traits": {
            "smithy.api#documentation": "Array of placement targets (currently limited to single target)."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponsePlacementMode2": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        },
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponsePlacementStatus2": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponseTailConsumersItem": {
      "type": "structure",
[...]
