{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.zaraz#UpdateRequestWorkflow": {
      "type": "enum",
      "members": {
        "REALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "realtime"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      }
    },
    "com.cloudflare.zaraz#UpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "workflow": {
          "target": "com.cloudflare.zaraz#UpdateRequestWorkflow",
          "traits": {
            "smithy.api#documentation": "Zaraz workflow.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zaraz#UpdateResult": {
      "type": "enum",
      "members": {
        "REALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "realtime"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      }
    },
    "com.cloudflare.zaraz#UpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.zaraz#UpdateResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.zaraz#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zaraz#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.zaraz#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/settings/zaraz/workflow",
          "code": 200
        },
        "smithy.api#documentation": "Updates Zaraz workflow for a zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.zaraz#ConfigGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseSettingsContextEnricher": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseSettings": {
      "type": "structure",
      "members": {
        "autoInjectScript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Automatic injection of Zaraz scripts enabled.",
            "smithy.api#required": {}
          }
        },
        "contextEnricher": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseSettingsContextEnricher",
          "traits": {
            "smithy.api#documentation": "Details of the worker that receives and edits Zaraz Context object."
          }
        },
        "cookieDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain Zaraz will use for writing and reading its cookies."
          }
        },
        "ecommerce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ecommerce API enabled."
          }
        },
        "eventsApiPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for server-side track events."
          }
        },
        "hideExternalReferer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hiding external referrer URL enabled."
          }
        },
        "hideIPAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Trimming IP address enabled."
          }
        },
        "hideQueryParams": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing URL query params enabled."
          }
        },
        "hideUserAgent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing sensitive data from User Agent string enabled."
          }
        },
        "initPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz init script."
          }
        },
        "injectIframes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Injection of Zaraz scripts into iframes enabled."
          }
        },
        "mcRootPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom path for Managed Components server functionalities."
          }
        },
        "scriptPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz main script."
          }
        },
        "trackPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz tracking requests."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersExcludeRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersLoadRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersSystem": {
      "type": "enum",
      "members": {
        "PAGELOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pageload"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggers": {
      "type": "structure",
      "members": {
        "excludeRules": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersExcludeRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is not fired.",
            "smithy.api#required": {}
          }
        },
        "loadRules": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersLoadRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is fired.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger description."
          }
        },
        "system": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersSystem"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseAnalytics": {
      "type": "structure",
      "members": {
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consent purpose assigned to Monitoring."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Advanced Monitoring reports are enabled."
          }
        },
        "sessionExpTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session expiration time (seconds)."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslations": {
      "type": "structure",
      "members": {
        "accept_all": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "confirm_my_choices": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "reject_all": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposes": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslations": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsent": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buttonTextTranslations": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslations",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes."
          }
        },
        "companyEmail": {
          "target": "smithy.api#String"
        },
        "companyName": {
          "target": "smithy.api#String"
        },
        "companyStreetAddress": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTML": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTMLWithTranslations": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes."
          }
        },
        "cookieName": {
          "target": "smithy.api#String"
        },
        "customCSS": {
          "target": "smithy.api#String"
        },
        "customIntroDisclaimerDismissed": {
          "target": "smithy.api#Boolean"
        },
        "defaultLanguage": {
          "target": "smithy.api#String"
        },
        "hideModal": {
          "target": "smithy.api#Boolean"
        },
        "purposes": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposes",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "purposesWithTranslations": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslations",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "tcfCompliant": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponse": {
      "type": "structure",
      "members": {
        "dataLayer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Data layer compatibility mode enabled.",
            "smithy.api#required": {}
          }
        },
        "debugKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for Zaraz debug mode.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseSettings",
          "traits": {
            "smithy.api#documentation": "General Zaraz settings.",
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Tools set up under Zaraz configuration, where key is the alpha-numeric tool ID and value is the tool configuration object.",
            "smithy.api#required": {}
          }
        },
        "triggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggers",
          "traits": {
            "smithy.api#documentation": "Triggers set up under Zaraz configuration, where key is the trigger alpha-numeric ID and value is the trigger configuration.",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Variables set up under Zaraz configuration, where key is the variable alpha-numeric ID and value is the variable configuration. Values of variables of type secret are not included.",
            "smithy.api#required": {}
          }
        },
        "zarazVersion": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Zaraz internal version of the config.",
            "smithy.api#required": {}
          }
        },
        "analytics": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseAnalytics",
          "traits": {
            "smithy.api#documentation": "Cloudflare Monitoring settings."
          }
        },
        "consent": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsent",
          "traits": {
            "smithy.api#documentation": "Consent management configuration."
          }
        },
        "historyChange": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Single Page Application support enabled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zaraz#ConfigGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zaraz#ConfigGetRequest"
      },
      "output": {
        "target": "com.cloudflare.zaraz#ConfigGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/settings/zaraz/config",
          "code": 200
        },
        "smithy.api#documentation": "Gets latest Zaraz configuration for a zone. It can be preview or published configuration, whichever was the last updated. Secret variables values will not be included.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateResponseSettingsContextEnricher": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateResponseSettings": {
      "type": "structure",
      "members": {
        "autoInjectScript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Automatic injection of Zaraz scripts enabled.",
            "smithy.api#required": {}
          }
        },
        "contextEnricher": {
          "target": "com.cloudflare.zaraz#ConfigUpdateResponseSettingsContextEnricher",
          "traits": {
            "smithy.api#documentation": "Details of the worker that receives and edits Zaraz Context object."
          }
        },
        "cookieDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain Zaraz will use for writing and reading its cookies."
          }
        },
        "ecommerce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ecommerce API enabled."
          }
        },
        "eventsApiPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for server-side track events."
          }
        },
        "hideExternalReferer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hiding external referrer URL enabled."
          }
        },
        "hideIPAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Trimming IP address enabled."
          }
        },
        "hideQueryParams": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing URL query params enabled."
          }
        },
        "hideUserAgent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing sensitive data from User Agent string enabled."
          }
        },
        "initPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz init script."
          }
        },
        "injectIframes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Injection of Zaraz scripts into iframes enabled."
          }
        },
        "mcRootPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom path for Managed Components server functionalities."
          }
        },
        "scriptPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz main script."
          }
        },
        "trackPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz tracking requests."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateResponseTriggersExcludeRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateResponseTriggersLoadRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateResponseTriggersSystem": {
      "type": "enum",
      "members": {
        "PAGELOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pageload"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateResponseTriggers": {
      "type": "structure",
      "members": {
        "excludeRules": {
          "target": "com.cloudflare.zaraz#ConfigUpdateResponseTriggersExcludeRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is not fired.",
            "smithy.api#required": {}
          }
        },
        "loadRules": {
          "target": "com.cloudflare.zaraz#ConfigUpdateResponseTriggersLoadRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is fired.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger description."
          }
        },
        "system": {
          "target": "com.cloudflare.zaraz#ConfigUpdateResponseTriggersSystem"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateResponseAnalytics": {
      "type": "structure",
      "members": {
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consent purpose assigned to Monitoring."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Advanced Monitoring reports are enabled."
          }
        },
        "sessionExpTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session expiration time (seconds)."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateResponseConsentButtonTextTranslations": {
      "type": "structure",
      "members": {
        "accept_all": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "confirm_my_choices": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "reject_all": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateResponseConsentPurposes": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateResponseConsentPurposesWithTranslations": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateResponseConsent": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buttonTextTranslations": {
          "target": "com.cloudflare.zaraz#ConfigUpdateResponseConsentButtonTextTranslations",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes."
          }
        },
        "companyEmail": {
          "target": "smithy.api#String"
        },
        "companyName": {
          "target": "smithy.api#String"
        },
        "companyStreetAddress": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTML": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTMLWithTranslations": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes."
          }
        },
        "cookieName": {
          "target": "smithy.api#String"
        },
        "customCSS": {
          "target": "smithy.api#String"
        },
        "customIntroDisclaimerDismissed": {
          "target": "smithy.api#Boolean"
        },
        "defaultLanguage": {
          "target": "smithy.api#String"
        },
        "hideModal": {
          "target": "smithy.api#Boolean"
        },
        "purposes": {
          "target": "com.cloudflare.zaraz#ConfigUpdateResponseConsentPurposes",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "purposesWithTranslations": {
          "target": "com.cloudflare.zaraz#ConfigUpdateResponseConsentPurposesWithTranslations",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "tcfCompliant": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateResponse": {
      "type": "structure",
      "members": {
        "dataLayer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Data layer compatibility mode enabled.",
            "smithy.api#required": {}
          }
        },
        "debugKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for Zaraz debug mode.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateResponseSettings",
          "traits": {
            "smithy.api#documentation": "General Zaraz settings.",
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Tools set up under Zaraz configuration, where key is the alpha-numeric tool ID and value is the tool configuration object.",
            "smithy.api#required": {}
          }
        },
        "triggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateResponseTriggers",
          "traits": {
            "smithy.api#documentation": "Triggers set up under Zaraz configuration, where key is the trigger alpha-numeric ID and value is the trigger configuration.",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Variables set up under Zaraz configuration, where key is the variable alpha-numeric ID and value is the variable configuration. Values of variables of type secret are not included.",
            "smithy.api#required": {}
          }
        },
        "zarazVersion": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Zaraz internal version of the config.",
            "smithy.api#required": {}
          }
        },
        "analytics": {
          "target": "com.cloudflare.zaraz#ConfigUpdateResponseAnalytics",
          "traits": {
            "smithy.api#documentation": "Cloudflare Monitoring settings."
          }
        },
        "consent": {
          "target": "com.cloudflare.zaraz#ConfigUpdateResponseConsent",
          "traits": {
            "smithy.api#documentation": "Consent management configuration."
          }
        },
        "historyChange": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Single Page Application support enabled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zaraz#ConfigUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.zaraz#ConfigUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/settings/zaraz/config",
          "code": 200
        },
        "smithy.api#documentation": "Updates Zaraz configuration for a zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.zaraz#DefaultGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zaraz#DefaultGetResponseSettingsContextEnricher": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#DefaultGetResponseSettings": {
      "type": "structure",
      "members": {
        "autoInjectScript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Automatic injection of Zaraz scripts enabled.",
            "smithy.api#required": {}
          }
        },
        "contextEnricher": {
          "target": "com.cloudflare.zaraz#DefaultGetResponseSettingsContextEnricher",
          "traits": {
            "smithy.api#documentation": "Details of the worker that receives and edits Zaraz Context object."
          }
        },
        "cookieDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain Zaraz will use for writing and reading its cookies."
          }
        },
        "ecommerce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ecommerce API enabled."
          }
        },
        "eventsApiPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for server-side track events."
          }
        },
        "hideExternalReferer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hiding external referrer URL enabled."
          }
        },
        "hideIPAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Trimming IP address enabled."
          }
        },
        "hideQueryParams": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing URL query params enabled."
          }
        },
        "hideUserAgent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing sensitive data from User Agent string enabled."
          }
        },
        "initPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz init script."
          }
        },
        "injectIframes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Injection of Zaraz scripts into iframes enabled."
          }
        },
        "mcRootPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom path for Managed Components server functionalities."
          }
        },
        "scriptPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz main script."
          }
        },
        "trackPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz tracking requests."
          }
        }
      }
    },
    "com.cloudflare.zaraz#DefaultGetResponseTriggersExcludeRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zaraz#DefaultGetResponseTriggersLoadRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zaraz#DefaultGetResponseTriggersSystem": {
      "type": "enum",
      "members": {
        "PAGELOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pageload"
          }
        }
      }
    },
    "com.cloudflare.zaraz#DefaultGetResponseTriggers": {
      "type": "structure",
      "members": {
        "excludeRules": {
          "target": "com.cloudflare.zaraz#DefaultGetResponseTriggersExcludeRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is not fired.",
            "smithy.api#required": {}
          }
        },
        "loadRules": {
          "target": "com.cloudflare.zaraz#DefaultGetResponseTriggersLoadRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is fired.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger description."
          }
        },
        "system": {
          "target": "com.cloudflare.zaraz#DefaultGetResponseTriggersSystem"
        }
      }
    },
    "com.cloudflare.zaraz#DefaultGetResponseAnalytics": {
      "type": "structure",
      "members": {
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consent purpose assigned to Monitoring."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Advanced Monitoring reports are enabled."
          }
        },
        "sessionExpTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session expiration time (seconds)."
          }
        }
      }
    },
    "com.cloudflare.zaraz#DefaultGetResponseConsentButtonTextTranslations": {
      "type": "structure",
      "members": {
        "accept_all": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "confirm_my_choices": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "reject_all": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#DefaultGetResponseConsentPurposes": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#DefaultGetResponseConsentPurposesWithTranslations": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#DefaultGetResponseConsent": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buttonTextTranslations": {
          "target": "com.cloudflare.zaraz#DefaultGetResponseConsentButtonTextTranslations",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes."
          }
        },
        "companyEmail": {
          "target": "smithy.api#String"
        },
        "companyName": {
          "target": "smithy.api#String"
        },
        "companyStreetAddress": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTML": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTMLWithTranslations": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes."
          }
        },
        "cookieName": {
          "target": "smithy.api#String"
        },
        "customCSS": {
          "target": "smithy.api#String"
        },
        "customIntroDisclaimerDismissed": {
          "target": "smithy.api#Boolean"
        },
        "defaultLanguage": {
          "target": "smithy.api#String"
        },
        "hideModal": {
          "target": "smithy.api#Boolean"
        },
        "purposes": {
          "target": "com.cloudflare.zaraz#DefaultGetResponseConsentPurposes",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "purposesWithTranslations": {
          "target": "com.cloudflare.zaraz#DefaultGetResponseConsentPurposesWithTranslations",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "tcfCompliant": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#DefaultGetResponse": {
      "type": "structure",
      "members": {
        "dataLayer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Data layer compatibility mode enabled.",
            "smithy.api#required": {}
          }
        },
        "debugKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for Zaraz debug mode.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#DefaultGetResponseSettings",
          "traits": {
            "smithy.api#documentation": "General Zaraz settings.",
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Tools set up under Zaraz configuration, where key is the alpha-numeric tool ID and value is the tool configuration object.",
            "smithy.api#required": {}
          }
        },
        "triggers": {
          "target": "com.cloudflare.zaraz#DefaultGetResponseTriggers",
          "traits": {
            "smithy.api#documentation": "Triggers set up under Zaraz configuration, where key is the trigger alpha-numeric ID and value is the trigger configuration.",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Variables set up under Zaraz configuration, where key is the variable alpha-numeric ID and value is the variable configuration. Values of variables of type secret are not included.",
            "smithy.api#required": {}
          }
        },
        "zarazVersion": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Zaraz internal version of the config.",
            "smithy.api#required": {}
          }
        },
        "analytics": {
          "target": "com.cloudflare.zaraz#DefaultGetResponseAnalytics",
          "traits": {
            "smithy.api#documentation": "Cloudflare Monitoring settings."
          }
        },
        "consent": {
          "target": "com.cloudflare.zaraz#DefaultGetResponseConsent",
          "traits": {
            "smithy.api#documentation": "Consent management configuration."
          }
        },
        "historyChange": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Single Page Application support enabled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zaraz#DefaultGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zaraz#DefaultGetRequest"
      },
      "output": {
        "target": "com.cloudflare.zaraz#DefaultGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/settings/zaraz/default",
          "code": 200
        },
        "smithy.api#documentation": "Gets default Zaraz configuration for a zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zaraz#ExportGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zaraz#ExportGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zaraz#ExportGetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/settings/zaraz/export",
          "code": 200
        },
        "smithy.api#documentation": "Exports full current published Zaraz configuration for a zone, secret variables included.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zaraz#HistoryListRequestSortField": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "USER_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_id"
          }
        },
        "DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "description"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryListRequestSortOrder": {
      "type": "enum",
      "members": {
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESC"
          }
        },
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASC"
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum amount of results to list. Default value is 10.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "offset": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Ordinal number to start listing the results with. Default value is 0.",
            "smithy.api#httpQuery": "offset"
          }
        },
        "sortField": {
          "target": "com.cloudflare.zaraz#HistoryListRequestSortField",
          "traits": {
            "smithy.api#documentation": "The field to sort by. Default is updated_at.",
            "smithy.api#httpQuery": "sortField"
          }
        },
        "sortOrder": {
          "target": "com.cloudflare.zaraz#HistoryListRequestSortOrder",
          "traits": {
            "smithy.api#documentation": "Sorting order. Default is DESC.",
            "smithy.api#httpQuery": "sortOrder"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zaraz#HistoryListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "ID of the configuration.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time the configuration was created.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration description provided by the user who published this configuration.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time the configuration was last updated.",
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alpha-numeric ID of the account user who published the configuration.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#HistoryListResultItem"
      }
    },
    "com.cloudflare.zaraz#HistoryListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.zaraz#HistoryListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.zaraz#HistoryList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zaraz#HistoryListRequest"
      },
      "output": {
        "target": "com.cloudflare.zaraz#HistoryListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/settings/zaraz/history",
          "code": 200
        },
        "smithy.api#documentation": "Lists a history of published Zaraz configuration records for a zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zaraz#HistoryUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zaraz#HistoryUpdateResponseSettingsContextEnricher": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryUpdateResponseSettings": {
      "type": "structure",
      "members": {
        "autoInjectScript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Automatic injection of Zaraz scripts enabled.",
            "smithy.api#required": {}
          }
        },
        "contextEnricher": {
          "target": "com.cloudflare.zaraz#HistoryUpdateResponseSettingsContextEnricher",
          "traits": {
            "smithy.api#documentation": "Details of the worker that receives and edits Zaraz Context object."
          }
        },
        "cookieDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain Zaraz will use for writing and reading its cookies."
          }
        },
        "ecommerce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ecommerce API enabled."
          }
        },
        "eventsApiPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for server-side track events."
          }
        },
        "hideExternalReferer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hiding external referrer URL enabled."
          }
        },
        "hideIPAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Trimming IP address enabled."
          }
        },
        "hideQueryParams": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing URL query params enabled."
          }
        },
        "hideUserAgent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing sensitive data from User Agent string enabled."
          }
        },
        "initPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz init script."
          }
        },
        "injectIframes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Injection of Zaraz scripts into iframes enabled."
          }
        },
        "mcRootPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom path for Managed Components server functionalities."
          }
        },
        "scriptPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz main script."
          }
        },
        "trackPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz tracking requests."
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryUpdateResponseTriggersExcludeRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zaraz#HistoryUpdateResponseTriggersLoadRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zaraz#HistoryUpdateResponseTriggersSystem": {
      "type": "enum",
      "members": {
        "PAGELOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pageload"
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryUpdateResponseTriggers": {
      "type": "structure",
      "members": {
        "excludeRules": {
          "target": "com.cloudflare.zaraz#HistoryUpdateResponseTriggersExcludeRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is not fired.",
            "smithy.api#required": {}
          }
        },
        "loadRules": {
          "target": "com.cloudflare.zaraz#HistoryUpdateResponseTriggersLoadRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is fired.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger description."
          }
        },
        "system": {
          "target": "com.cloudflare.zaraz#HistoryUpdateResponseTriggersSystem"
        }
      }
    },
    "com.cloudflare.zaraz#HistoryUpdateResponseAnalytics": {
      "type": "structure",
      "members": {
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consent purpose assigned to Monitoring."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Advanced Monitoring reports are enabled."
          }
        },
        "sessionExpTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session expiration time (seconds)."
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryUpdateResponseConsentButtonTextTranslations": {
      "type": "structure",
      "members": {
        "accept_all": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "confirm_my_choices": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "reject_all": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryUpdateResponseConsentPurposes": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryUpdateResponseConsentPurposesWithTranslations": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryUpdateResponseConsent": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buttonTextTranslations": {
          "target": "com.cloudflare.zaraz#HistoryUpdateResponseConsentButtonTextTranslations",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes."
          }
        },
        "companyEmail": {
          "target": "smithy.api#String"
        },
        "companyName": {
          "target": "smithy.api#String"
        },
        "companyStreetAddress": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTML": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTMLWithTranslations": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes."
          }
        },
        "cookieName": {
          "target": "smithy.api#String"
        },
        "customCSS": {
          "target": "smithy.api#String"
        },
        "customIntroDisclaimerDismissed": {
          "target": "smithy.api#Boolean"
        },
        "defaultLanguage": {
          "target": "smithy.api#String"
        },
        "hideModal": {
          "target": "smithy.api#Boolean"
        },
        "purposes": {
          "target": "com.cloudflare.zaraz#HistoryUpdateResponseConsentPurposes",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "purposesWithTranslations": {
          "target": "com.cloudflare.zaraz#HistoryUpdateResponseConsentPurposesWithTranslations",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "tcfCompliant": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#HistoryUpdateResponse": {
      "type": "structure",
      "members": {
        "dataLayer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Data layer compatibility mode enabled.",
            "smithy.api#required": {}
          }
        },
        "debugKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for Zaraz debug mode.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#HistoryUpdateResponseSettings",
          "traits": {
            "smithy.api#documentation": "General Zaraz settings.",
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Tools set up under Zaraz configuration, where key is the alpha-numeric tool ID and value is the tool configuration object.",
            "smithy.api#required": {}
          }
        },
        "triggers": {
          "target": "com.cloudflare.zaraz#HistoryUpdateResponseTriggers",
          "traits": {
            "smithy.api#documentation": "Triggers set up under Zaraz configuration, where key is the trigger alpha-numeric ID and value is the trigger configuration.",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Variables set up under Zaraz configuration, where key is the variable alpha-numeric ID and value is the variable configuration. Values of variables of type secret are not included.",
            "smithy.api#required": {}
          }
        },
        "zarazVersion": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Zaraz internal version of the config.",
            "smithy.api#required": {}
          }
        },
        "analytics": {
          "target": "com.cloudflare.zaraz#HistoryUpdateResponseAnalytics",
          "traits": {
            "smithy.api#documentation": "Cloudflare Monitoring settings."
          }
        },
        "consent": {
          "target": "com.cloudflare.zaraz#HistoryUpdateResponseConsent",
          "traits": {
            "smithy.api#documentation": "Consent management configuration."
          }
        },
        "historyChange": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Single Page Application support enabled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zaraz#HistoryUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zaraz#HistoryUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.zaraz#HistoryUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/settings/zaraz/history",
          "code": 200
        },
        "smithy.api#documentation": "Restores a historical published Zaraz configuration by ID for a zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigSettingsContextEnricher": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigSettings": {
      "type": "structure",
      "members": {
        "autoInjectScript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Automatic injection of Zaraz scripts enabled.",
            "smithy.api#required": {}
          }
        },
        "contextEnricher": {
          "target": "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigSettingsContextEnricher",
          "traits": {
            "smithy.api#documentation": "Details of the worker that receives and edits Zaraz Context object."
          }
        },
        "cookieDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain Zaraz will use for writing and reading its cookies."
          }
        },
        "ecommerce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ecommerce API enabled."
          }
        },
        "eventsApiPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for server-side track events."
          }
        },
        "hideExternalReferer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hiding external referrer URL enabled."
          }
        },
        "hideIPAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Trimming IP address enabled."
          }
        },
        "hideQueryParams": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing URL query params enabled."
          }
        },
        "hideUserAgent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing sensitive data from User Agent string enabled."
          }
        },
        "initPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz init script."
          }
        },
        "injectIframes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Injection of Zaraz scripts into iframes enabled."
          }
        },
        "mcRootPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom path for Managed Components server functionalities."
          }
        },
        "scriptPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz main script."
          }
        },
        "trackPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz tracking requests."
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigTriggersExcludeRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigTriggersLoadRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigTriggersSystem": {
      "type": "enum",
      "members": {
        "PAGELOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pageload"
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigTriggers": {
      "type": "structure",
      "members": {
        "excludeRules": {
          "target": "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigTriggersExcludeRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is not fired.",
            "smithy.api#required": {}
          }
        },
        "loadRules": {
          "target": "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigTriggersLoadRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is fired.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger description."
          }
        },
        "system": {
          "target": "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigTriggersSystem"
        }
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigAnalytics": {
      "type": "structure",
      "members": {
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consent purpose assigned to Monitoring."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Advanced Monitoring reports are enabled."
          }
        },
        "sessionExpTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session expiration time (seconds)."
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigConsentButtonTextTranslations": {
      "type": "structure",
      "members": {
        "accept_all": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "confirm_my_choices": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "reject_all": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigConsentPurposes": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigConsentPurposesWithTranslations": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigConsent": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buttonTextTranslations": {
          "target": "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigConsentButtonTextTranslations",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes."
          }
        },
        "companyEmail": {
          "target": "smithy.api#String"
        },
        "companyName": {
          "target": "smithy.api#String"
        },
        "companyStreetAddress": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTML": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTMLWithTranslations": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes."
          }
        },
        "cookieName": {
          "target": "smithy.api#String"
        },
        "customCSS": {
          "target": "smithy.api#String"
        },
        "customIntroDisclaimerDismissed": {
          "target": "smithy.api#Boolean"
        },
        "defaultLanguage": {
          "target": "smithy.api#String"
        },
        "hideModal": {
          "target": "smithy.api#Boolean"
        },
        "purposes": {
          "target": "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigConsentPurposes",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "purposesWithTranslations": {
          "target": "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigConsentPurposesWithTranslations",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "tcfCompliant": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetResponseConfig": {
      "type": "structure",
      "members": {
        "dataLayer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Data layer compatibility mode enabled.",
            "smithy.api#required": {}
          }
        },
        "debugKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for Zaraz debug mode.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigSettings",
          "traits": {
            "smithy.api#documentation": "General Zaraz settings.",
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Tools set up under Zaraz configuration, where key is the alpha-numeric tool ID and value is the tool configuration object.",
            "smithy.api#required": {}
          }
        },
        "triggers": {
          "target": "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigTriggers",
          "traits": {
            "smithy.api#documentation": "Triggers set up under Zaraz configuration, where key is the trigger alpha-numeric ID and value is the trigger configuration.",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Variables set up under Zaraz configuration, where key is the variable alpha-numeric ID and value is the variable configuration. Values of variables of type secret are not included.",
            "smithy.api#required": {}
          }
        },
        "zarazVersion": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Zaraz internal version of the config.",
            "smithy.api#required": {}
          }
        },
        "analytics": {
          "target": "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigAnalytics",
          "traits": {
            "smithy.api#documentation": "Cloudflare Monitoring settings."
          }
        },
        "consent": {
          "target": "com.cloudflare.zaraz#HistoryConfigsGetResponseConfigConsent",
          "traits": {
            "smithy.api#documentation": "Consent management configuration."
          }
        },
        "historyChange": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Single Page Application support enabled."
          }
        }
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "ID of the configuration.",
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "com.cloudflare.zaraz#HistoryConfigsGetResponseConfig",
          "traits": {
            "smithy.api#documentation": "Zaraz configuration.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time the configuration was created.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time the configuration was last updated.",
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alpha-numeric ID of the account user who published the configuration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zaraz#HistoryConfigsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zaraz#HistoryConfigsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.zaraz#HistoryConfigsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/settings/zaraz/history/configs",
          "code": 200
        },
        "smithy.api#documentation": "Gets a history of published Zaraz configurations by ID(s) for a zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zaraz#PublishCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zaraz configuration description.",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zaraz#PublishCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.zaraz#PublishCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zaraz#PublishCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.zaraz#PublishCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/settings/zaraz/publish",
          "code": 200
        },
        "smithy.api#documentation": "Publish current Zaraz preview configuration for a zone."
      }
    },
    "com.cloudflare.zaraz#WorkflowGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zaraz#WorkflowGetResult": {
      "type": "enum",
      "members": {
        "REALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "realtime"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      }
    },
    "com.cloudflare.zaraz#WorkflowGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.zaraz#WorkflowGetResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.zaraz#WorkflowGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zaraz#WorkflowGetRequest"
      },
      "output": {
        "target": "com.cloudflare.zaraz#WorkflowGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/settings/zaraz/workflow",
          "code": 200
        },
        "smithy.api#documentation": "Gets Zaraz workflow for a zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zaraz#Zaraz": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.zaraz#Update"
        },
        {
          "target": "com.cloudflare.zaraz#ConfigGet"
        },
        {
          "target": "com.cloudflare.zaraz#ConfigUpdate"
        },
        {
          "target": "com.cloudflare.zaraz#DefaultGet"
        },
        {
          "target": "com.cloudflare.zaraz#ExportGet"
        },
        {
          "target": "com.cloudflare.zaraz#HistoryList"
        },
        {
          "target": "com.cloudflare.zaraz#HistoryUpdate"
        },
        {
          "target": "com.cloudflare.zaraz#HistoryConfigsGet"
        },
        {
          "target": "com.cloudflare.zaraz#PublishCreate"
        },
        {
          "target": "com.cloudflare.zaraz#WorkflowGet"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Zaraz",
        "smithy.api#documentation": "Cloudflare API — zaraz resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
