{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestCodeMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "OPT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opt_in"
          }
        },
        "DEFAULT_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default_on"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforced"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the tool or prompt capability to override.",
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom name exposed for the capability."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom description exposed for the capability."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the capability is available through the MCP server."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the tool or prompt capability to override.",
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom name exposed for the capability."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom description exposed for the capability."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the capability is available through the MCP server."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItem": {
      "type": "structure",
      "members": {
        "server_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "default_disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable this server by default for clients connecting through the portal."
          }
        },
        "on_behalf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use end-user OAuth credentials when connecting this server to the portal."
          }
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedPromptsList",
          "traits": {
            "smithy.api#documentation": "Portal-specific prompt overrides."
          }
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedToolsList",
          "traits": {
            "smithy.api#documentation": "Portal-specific tool overrides."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP portal.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname where the MCP portal is available.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the MCP portal.",
            "smithy.api#required": {}
          }
        },
        "Deprecatedallow_code_mode": {
          "target": "smithy.api#Boolean"
        },
        "Deprecated": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code_mode": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestCodeMode",
          "traits": {
            "smithy.api#documentation": "Code Mode policy for this portal. `off`: Code Mode is unavailable; query parameters are ignored. `opt_in`: Code Mode is off by default; clients turn it on with `?codemode=search_and_execute`. `default_on`: Code Mode is on by default; clients can opt out with `?codemode=off`. `enforced`: Code Mode is always on; query parameters are ignored. Defaults to `opt_in` when omitted on create. If both `code_mode` and `allow_code_mode` are sent, they must be consistent or the request returns a 400."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the MCP portal."
          }
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway."
          }
        },
        "servers": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersList",
          "traits": {
            "smithy.api#documentation": "MCP servers attached to the portal and their portal-specific settings."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bearer"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthenticated"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemPromptsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemPromptsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemToolsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemToolsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryAuthMode": {
      "type": "enum",
      "members": {
        "DCR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dcr"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigRegistrationInfoRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigRegistrationInfo": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String"
        },
        "redirect_uris": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigRegistrationInfoRedirectUrisList"
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "token_endpoint_auth_method": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigAuthenticationStatus": {
      "type": "enum",
      "members": {
        "NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_required"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connected"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetailsStatus": {
      "type": "enum",
      "members": {
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItemCodeMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "OPT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opt_in"
          }
        },
        "DEFAULT_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default_on"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforced"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        },
        "Deprecatedallow_code_mode": {
          "target": "smithy.api#Boolean"
        },
        "Deprecated": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code_mode": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItemCodeMode",
          "traits": {
            "smithy.api#documentation": "Code Mode policy for this portal. `off`: Code Mode is unavailable; query parameters are ignored. `opt_in`: Code Mode is off by default; clients turn it on with `?codemode=search_and_execute`. `default_on`: Code Mode is on by default; clients can opt out with `?codemode=off`. `enforced`: Code Mode is always on; query parameters are ignored. Defaults to `opt_in` when omitted on create. If both `code_mode` and `allow_code_mode` are sent, they must be consistent or the request returns a 400."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the MCP portal."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetails": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying error message"
          }
        },
        "is_upstream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True = MCP server returned an error. False = couldn’t reach the server"
          }
        },
        "mcp_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MCP protocol error code"
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the error is transient and worth retrying"
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code from the server"
          }
        },
        "is_shared_oauth_callback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the gateway worker uses the shared Cloudflare-owned OAuth callback endpoint as the redirect_uri for upstream on-behalf OAuth, instead of the customer portal hostname. Defaults to false (off); opt in per server by setting true."
          }
        },
        "last_successful_sync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "last_synced": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "on_behalf": {
          "target": "smithy.api#Boolean"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound traffic to this MCP server through Zero Trust Secure Web Gateway."
          }
        },
        "status": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetailsStatus",
          "traits": {
            "smithy.api#documentation": "Current sync state of the server"
          }
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfig": {
      "type": "structure",
      "members": {
        "authorization_endpoint": {
          "target": "smithy.api#String"
        },
        "issuer": {
          "target": "smithy.api#String"
        },
        "resource": {
          "target": "smithy.api#String"
        },
        "revocation_endpoint": {
          "target": "smithy.api#String"
        },
        "token_endpoint": {
          "target": "smithy.api#String"
        },
        "has_client_secret": {
          "target": "smithy.api#Boolean"
        },
        "registration_info": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigRegistrationInfo"
        },
        "authentication_status": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigAuthenticationStatus",
          "traits": {
            "smithy.api#documentation": "Whether administrative authentication is required before capabilities can be synced. Manual OAuth is user-managed and has no administrative authentication flow."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "default_disabled": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the MCP server."
          }
        },
        "error": {
          "target": "smithy.api#String"
        },
        "error_details": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfigErrorDetails"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummary": {
      "type": "structure",
      "members": {
        "auth_mode": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryAuthMode"
        },
        "client_secret_version": {
          "target": "smithy.api#Double"
        },
        "config": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummaryConfig"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthType",
          "traits": {
            "smithy.api#documentation": "Authentication method used to connect to the upstream MCP server.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the upstream MCP endpoint.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemPromptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "server_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "auth_config_summary": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthConfigSummary",
          "traits": {
            "smithy.api#documentation": "Safe subset of auth_credentials surfaced to the dashboard. Includes auth_mode (dcr|manual), has_client_secret, client_secret_version, and the OAuth endpoints + client_id for manual servers. Never includes the secret value."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP portal.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname where the MCP portal is available.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the MCP portal.",
            "smithy.api#required": {}
          }
        },
        "servers": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/portals",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new MCP portal for managing AI tool access through Cloudflare Access."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP portal.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsDeleteResponseCodeMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "OPT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opt_in"
          }
        },
        "DEFAULT_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default_on"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforced"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP portal.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname where the MCP portal is available.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the MCP portal.",
            "smithy.api#required": {}
          }
        },
        "Deprecatedallow_code_mode": {
          "target": "smithy.api#Boolean"
        },
        "Deprecated": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code_mode": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsDeleteResponseCodeMode",
          "traits": {
            "smithy.api#documentation": "Code Mode policy for this portal. `off`: Code Mode is unavailable; query parameters are ignored. `opt_in`: Code Mode is off by default; clients turn it on with `?codemode=search_and_execute`. `default_on`: Code Mode is on by default; clients can opt out with `?codemode=off`. `enforced`: Code Mode is always on; query parameters are ignored. Defaults to `opt_in` when omitted on create. If both `code_mode` and `allow_code_mode` are sent, they must be consistent or the request returns a 400."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the MCP portal."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/portals/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an MCP portal from the account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "minimum1",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "maximum100",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search by id, name, hostname",
            "smithy.api#httpQuery": "search"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bearer"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthenticated"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemPromptsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemPromptsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemToolsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemToolsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryAuthMode": {
      "type": "enum",
      "members": {
        "DCR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dcr"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigRegistrationInfoRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigRegistrationInfo": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String"
        },
        "redirect_uris": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigRegistrationInfoRedirectUrisList"
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "token_endpoint_auth_method": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigAuthenticationStatus": {
      "type": "enum",
      "members": {
        "NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_required"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connected"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetailsStatus": {
      "type": "enum",
      "members": {
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItemCodeMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "OPT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opt_in"
          }
        },
        "DEFAULT_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default_on"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforced"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        },
        "Deprecatedallow_code_mode": {
          "target": "smithy.api#Boolean"
        },
        "Deprecated": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code_mode": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItemCodeMode",
          "traits": {
            "smithy.api#documentation": "Code Mode policy for this portal. `off`: Code Mode is unavailable; query parameters are ignored. `opt_in`: Code Mode is off by default; clients turn it on with `?codemode=search_and_execute`. `default_on`: Code Mode is on by default; clients can opt out with `?codemode=off`. `enforced`: Code Mode is always on; query parameters are ignored. Defaults to `opt_in` when omitted on create. If both `code_mode` and `allow_code_mode` are sent, they must be consistent or the request returns a 400."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the MCP portal."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetails": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying error message"
          }
        },
        "is_upstream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True = MCP server returned an error. False = couldn’t reach the server"
          }
        },
        "mcp_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MCP protocol error code"
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the error is transient and worth retrying"
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code from the server"
          }
        },
        "is_shared_oauth_callback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the gateway worker uses the shared Cloudflare-owned OAuth callback endpoint as the redirect_uri for upstream on-behalf OAuth, instead of the customer portal hostname. Defaults to false (off); opt in per server by setting true."
          }
        },
        "last_successful_sync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "last_synced": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "on_behalf": {
          "target": "smithy.api#Boolean"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound traffic to this MCP server through Zero Trust Secure Web Gateway."
          }
        },
        "status": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetailsStatus",
          "traits": {
            "smithy.api#documentation": "Current sync state of the server"
          }
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfig": {
      "type": "structure",
      "members": {
        "authorization_endpoint": {
          "target": "smithy.api#String"
        },
        "issuer": {
          "target": "smithy.api#String"
        },
        "resource": {
          "target": "smithy.api#String"
        },
        "revocation_endpoint": {
          "target": "smithy.api#String"
        },
        "token_endpoint": {
          "target": "smithy.api#String"
        },
        "has_client_secret": {
          "target": "smithy.api#Boolean"
        },
        "registration_info": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigRegistrationInfo"
        },
        "authentication_status": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigAuthenticationStatus",
          "traits": {
            "smithy.api#documentation": "Whether administrative authentication is required before capabilities can be synced. Manual OAuth is user-managed and has no administrative authentication flow."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "default_disabled": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the MCP server."
          }
        },
        "error": {
          "target": "smithy.api#String"
        },
        "error_details": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfigErrorDetails"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummary": {
      "type": "structure",
      "members": {
        "auth_mode": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryAuthMode"
        },
        "client_secret_version": {
          "target": "smithy.api#Double"
        },
        "config": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummaryConfig"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthType",
          "traits": {
            "smithy.api#documentation": "Authentication method used to connect to the upstream MCP server.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the upstream MCP endpoint.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemPromptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "server_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "auth_config_summary": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthConfigSummary",
          "traits": {
            "smithy.api#documentation": "Safe subset of auth_credentials surfaced to the dashboard. Includes auth_mode (dcr|manual), has_client_secret, client_secret_version, and the OAuth endpoints + client_id for manual servers. Never includes the secret value."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP portal.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname where the MCP portal is available.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the MCP portal.",
            "smithy.api#required": {}
          }
        },
        "servers": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/portals",
          "code": 200
        },
        "smithy.api#documentation": "Lists all MCP portals configured for the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP portal.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bearer"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthenticated"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemPromptsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemPromptsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemToolsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemToolsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryAuthMode": {
      "type": "enum",
      "members": {
        "DCR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dcr"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigRegistrationInfoRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigRegistrationInfo": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String"
        },
        "redirect_uris": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigRegistrationInfoRedirectUrisList"
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "token_endpoint_auth_method": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigAuthenticationStatus": {
      "type": "enum",
      "members": {
        "NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_required"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connected"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetailsStatus": {
      "type": "enum",
      "members": {
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItemCodeMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "OPT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opt_in"
          }
        },
        "DEFAULT_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default_on"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforced"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        },
        "Deprecatedallow_code_mode": {
          "target": "smithy.api#Boolean"
        },
        "Deprecated": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code_mode": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItemCodeMode",
          "traits": {
            "smithy.api#documentation": "Code Mode policy for this portal. `off`: Code Mode is unavailable; query parameters are ignored. `opt_in`: Code Mode is off by default; clients turn it on with `?codemode=search_and_execute`. `default_on`: Code Mode is on by default; clients can opt out with `?codemode=off`. `enforced`: Code Mode is always on; query parameters are ignored. Defaults to `opt_in` when omitted on create. If both `code_mode` and `allow_code_mode` are sent, they must be consistent or the request returns a 400."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the MCP portal."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetails": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying error message"
          }
        },
        "is_upstream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True = MCP server returned an error. False = couldn’t reach the server"
          }
        },
        "mcp_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MCP protocol error code"
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the error is transient and worth retrying"
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code from the server"
          }
        },
        "is_shared_oauth_callback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the gateway worker uses the shared Cloudflare-owned OAuth callback endpoint as the redirect_uri for upstream on-behalf OAuth, instead of the customer portal hostname. Defaults to false (off); opt in per server by setting true."
          }
        },
        "last_successful_sync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "last_synced": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "on_behalf": {
          "target": "smithy.api#Boolean"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound traffic to this MCP server through Zero Trust Secure Web Gateway."
          }
        },
        "status": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetailsStatus",
          "traits": {
            "smithy.api#documentation": "Current sync state of the server"
          }
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfig": {
      "type": "structure",
      "members": {
        "authorization_endpoint": {
          "target": "smithy.api#String"
        },
        "issuer": {
          "target": "smithy.api#String"
        },
        "resource": {
          "target": "smithy.api#String"
        },
        "revocation_endpoint": {
          "target": "smithy.api#String"
        },
        "token_endpoint": {
          "target": "smithy.api#String"
        },
        "has_client_secret": {
          "target": "smithy.api#Boolean"
        },
        "registration_info": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigRegistrationInfo"
        },
        "authentication_status": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigAuthenticationStatus",
          "traits": {
            "smithy.api#documentation": "Whether administrative authentication is required before capabilities can be synced. Manual OAuth is user-managed and has no administrative authentication flow."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "default_disabled": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the MCP server."
          }
        },
        "error": {
          "target": "smithy.api#String"
        },
        "error_details": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfigErrorDetails"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummary": {
      "type": "structure",
      "members": {
        "auth_mode": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryAuthMode"
        },
        "client_secret_version": {
          "target": "smithy.api#Double"
        },
        "config": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummaryConfig"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthType",
          "traits": {
            "smithy.api#documentation": "Authentication method used to connect to the upstream MCP server.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the upstream MCP endpoint.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemPromptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "server_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "auth_config_summary": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthConfigSummary",
          "traits": {
            "smithy.api#documentation": "Safe subset of auth_credentials surfaced to the dashboard. Includes auth_mode (dcr|manual), has_client_secret, client_secret_version, and the OAuth endpoints + client_id for manual servers. Never includes the secret value."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP portal.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname where the MCP portal is available.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the MCP portal.",
            "smithy.api#required": {}
          }
        },
        "servers": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsRead": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/portals/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Read the details of a single MCP Portal, including its configured servers.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestCodeMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "OPT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opt_in"
          }
        },
        "DEFAULT_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default_on"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforced"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the tool or prompt capability to override.",
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom name exposed for the capability."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom description exposed for the capability."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the capability is available through the MCP server."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the tool or prompt capability to override.",
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom name exposed for the capability."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom description exposed for the capability."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the capability is available through the MCP server."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItem": {
      "type": "structure",
      "members": {
        "server_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "default_disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable this server by default for clients connecting through the portal."
          }
        },
        "on_behalf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use end-user OAuth credentials when connecting this server to the portal."
          }
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedPromptsList",
          "traits": {
            "smithy.api#documentation": "Portal-specific prompt overrides."
          }
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedToolsList",
          "traits": {
            "smithy.api#documentation": "Portal-specific tool overrides."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP portal.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Deprecatedallow_code_mode": {
          "target": "smithy.api#Boolean"
        },
        "Deprecated": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code_mode": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestCodeMode",
          "traits": {
            "smithy.api#documentation": "Code Mode policy for this portal. `off`: Code Mode is unavailable; query parameters are ignored. `opt_in`: Code Mode is off by default; clients turn it on with `?codemode=search_and_execute`. `default_on`: Code Mode is on by default; clients can opt out with `?codemode=off`. `enforced`: Code Mode is always on; query parameters are ignored. Defaults to `opt_in` when omitted on create. If both `code_mode` and `allow_code_mode` are sent, they must be consistent or the request returns a 400."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the MCP portal."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname where the MCP portal is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the MCP portal."
          }
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway."
          }
        },
        "servers": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersList",
          "traits": {
            "smithy.api#documentation": "MCP servers attached to the portal and their portal-specific settings."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bearer"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthenticated"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemPromptsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemPromptsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemToolsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemToolsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryAuthMode": {
      "type": "enum",
      "members": {
        "DCR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dcr"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigRegistrationInfoRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigRegistrationInfo": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String"
        },
        "redirect_uris": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigRegistrationInfoRedirectUrisList"
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "token_endpoint_auth_method": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigAuthenticationStatus": {
      "type": "enum",
      "members": {
        "NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_required"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connected"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetailsStatus": {
      "type": "enum",
      "members": {
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItemCodeMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "OPT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opt_in"
          }
        },
        "DEFAULT_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default_on"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforced"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        },
        "Deprecatedallow_code_mode": {
          "target": "smithy.api#Boolean"
        },
        "Deprecated": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "code_mode": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItemCodeMode",
          "traits": {
            "smithy.api#documentation": "Code Mode policy for this portal. `off`: Code Mode is unavailable; query parameters are ignored. `opt_in`: Code Mode is off by default; clients turn it on with `?codemode=search_and_execute`. `default_on`: Code Mode is on by default; clients can opt out with `?codemode=off`. `enforced`: Code Mode is always on; query parameters are ignored. Defaults to `opt_in` when omitted on create. If both `code_mode` and `allow_code_mode` are sent, they must be consistent or the request returns a 400."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the MCP portal."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItemUpdatedToolsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetails": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying error message"
          }
        },
        "is_upstream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True = MCP server returned an error. False = couldn’t reach the server"
          }
        },
        "mcp_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MCP protocol error code"
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the error is transient and worth retrying"
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code from the server"
          }
        },
        "is_shared_oauth_callback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the gateway worker uses the shared Cloudflare-owned OAuth callback endpoint as the redirect_uri for upstream on-behalf OAuth, instead of the customer portal hostname. Defaults to false (off); opt in per server by setting true."
          }
        },
        "last_successful_sync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "last_synced": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "on_behalf": {
          "target": "smithy.api#Boolean"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound traffic to this MCP server through Zero Trust Secure Web Gateway."
          }
        },
        "status": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetailsStatus",
          "traits": {
            "smithy.api#documentation": "Current sync state of the server"
          }
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetailsUpdatedPromptsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfig": {
      "type": "structure",
      "members": {
        "authorization_endpoint": {
          "target": "smithy.api#String"
        },
        "issuer": {
          "target": "smithy.api#String"
        },
        "resource": {
          "target": "smithy.api#String"
        },
        "revocation_endpoint": {
          "target": "smithy.api#String"
        },
        "token_endpoint": {
          "target": "smithy.api#String"
        },
        "has_client_secret": {
          "target": "smithy.api#Boolean"
        },
        "registration_info": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigRegistrationInfo"
        },
        "authentication_status": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigAuthenticationStatus",
          "traits": {
            "smithy.api#documentation": "Whether administrative authentication is required before capabilities can be synced. Manual OAuth is user-managed and has no administrative authentication flow."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "default_disabled": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the MCP server."
          }
        },
        "error": {
          "target": "smithy.api#String"
        },
        "error_details": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfigErrorDetails"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummary": {
      "type": "structure",
      "members": {
        "auth_mode": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryAuthMode"
        },
        "client_secret_version": {
          "target": "smithy.api#Double"
        },
        "config": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummaryConfig"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthType",
          "traits": {
            "smithy.api#documentation": "Authentication method used to connect to the upstream MCP server.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the upstream MCP endpoint.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemPromptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "server_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP server.",
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "auth_config_summary": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthConfigSummary",
          "traits": {
            "smithy.api#documentation": "Safe subset of auth_credentials surfaced to the dashboard. Includes auth_mode (dcr|manual), has_client_secret, client_secret_version, and the OAuth endpoints + client_id for manual servers. Never includes the secret value."
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the MCP portal.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname where the MCP portal is available.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
[...]
