{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItem": {
      "type": "structure",
      "members": {
        "server_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "server id",
            "smithy.api#required": {}
          }
        },
        "default_disabled": {
          "target": "smithy.api#Boolean"
        },
        "on_behalf": {
          "target": "smithy.api#Boolean"
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedPromptsList"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItemUpdatedToolsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "portal id",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allow_code_mode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow remote code execution in Dynamic Workers (beta)"
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway"
          }
        },
        "servers": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequestServersList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bearer"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthenticated"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemPromptsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemPromptsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemToolsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemToolsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemErrorDetails": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying error message"
          }
        },
        "is_upstream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True = MCP server returned an error. False = couldn't reach the server"
          }
        },
        "mcp_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MCP protocol error code"
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the error is transient and worth retrying"
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code from the server"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "server id",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemAuthType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemPromptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "default_disabled": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "smithy.api#String"
        },
        "error_details": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemErrorDetails"
        },
        "is_shared_oauth_callback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the gateway worker uses the shared Cloudflare-owned OAuth callback endpoint as the redirect_uri for upstream on-behalf OAuth, instead of the customer portal hostname. New public server creates default to true; existing servers default to false from migration until explicitly updated. Effective behavior is gated by the gateway worker's per-env rollout mode KV key."
          }
        },
        "last_successful_sync": {
          "target": "smithy.api#String"
        },
        "last_synced": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "on_behalf": {
          "target": "smithy.api#Boolean"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound traffic to this MCP server through Zero Trust Secure Web Gateway"
          }
        },
        "status": {
          "target": "smithy.api#String"
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemUpdatedPromptsList"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItemUpdatedToolsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "portal id",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "servers": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponseServersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allow_code_mode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow remote code execution in Dynamic Workers (beta)"
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/portals",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new MCP portal for managing AI tool access through Cloudflare Access."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "portal id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "portal id",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allow_code_mode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow remote code execution in Dynamic Workers (beta)"
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/portals/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an MCP portal from the account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "per_page"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search by id, name, hostname",
            "smithy.api#httpQuery": "search"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bearer"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthenticated"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemPromptsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemPromptsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemToolsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemToolsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemErrorDetails": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying error message"
          }
        },
        "is_upstream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True = MCP server returned an error. False = couldn't reach the server"
          }
        },
        "mcp_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MCP protocol error code"
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the error is transient and worth retrying"
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code from the server"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "server id",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemAuthType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemPromptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "default_disabled": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "smithy.api#String"
        },
        "error_details": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemErrorDetails"
        },
        "is_shared_oauth_callback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the gateway worker uses the shared Cloudflare-owned OAuth callback endpoint as the redirect_uri for upstream on-behalf OAuth, instead of the customer portal hostname. New public server creates default to true; existing servers default to false from migration until explicitly updated. Effective behavior is gated by the gateway worker's per-env rollout mode KV key."
          }
        },
        "last_successful_sync": {
          "target": "smithy.api#String"
        },
        "last_synced": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "on_behalf": {
          "target": "smithy.api#Boolean"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound traffic to this MCP server through Zero Trust Secure Web Gateway"
          }
        },
        "status": {
          "target": "smithy.api#String"
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemUpdatedPromptsList"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItemUpdatedToolsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "portal id",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "servers": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItemServersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allow_code_mode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow remote code execution in Dynamic Workers (beta)"
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/portals",
          "code": 200
        },
        "smithy.api#documentation": "Lists all MCP portals configured for the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "portal id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bearer"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthenticated"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemPromptsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemPromptsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemToolsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemToolsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemErrorDetails": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying error message"
          }
        },
        "is_upstream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True = MCP server returned an error. False = couldn't reach the server"
          }
        },
        "mcp_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MCP protocol error code"
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the error is transient and worth retrying"
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code from the server"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "server id",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemAuthType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemPromptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "default_disabled": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "smithy.api#String"
        },
        "error_details": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemErrorDetails"
        },
        "is_shared_oauth_callback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the gateway worker uses the shared Cloudflare-owned OAuth callback endpoint as the redirect_uri for upstream on-behalf OAuth, instead of the customer portal hostname. New public server creates default to true; existing servers default to false from migration until explicitly updated. Effective behavior is gated by the gateway worker's per-env rollout mode KV key."
          }
        },
        "last_successful_sync": {
          "target": "smithy.api#String"
        },
        "last_synced": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "on_behalf": {
          "target": "smithy.api#Boolean"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound traffic to this MCP server through Zero Trust Secure Web Gateway"
          }
        },
        "status": {
          "target": "smithy.api#String"
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemUpdatedPromptsList"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItemUpdatedToolsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "portal id",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "servers": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponseServersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allow_code_mode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow remote code execution in Dynamic Workers (beta)"
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsRead": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsReadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/portals/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Read details of an MCP Portal",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItem": {
      "type": "structure",
      "members": {
        "server_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "server id",
            "smithy.api#required": {}
          }
        },
        "default_disabled": {
          "target": "smithy.api#Boolean"
        },
        "on_behalf": {
          "target": "smithy.api#Boolean"
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedPromptsList"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItemUpdatedToolsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "portal id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "allow_code_mode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow remote code execution in Dynamic Workers (beta)"
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "hostname": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway"
          }
        },
        "servers": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequestServersList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bearer"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthenticated"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemPromptsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemPromptsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemToolsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemToolsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemErrorDetails": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying error message"
          }
        },
        "is_upstream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True = MCP server returned an error. False = couldn't reach the server"
          }
        },
        "mcp_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MCP protocol error code"
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the error is transient and worth retrying"
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code from the server"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "portal_alias": {
          "target": "smithy.api#String"
        },
        "portal_description": {
          "target": "smithy.api#String"
        },
        "server_alias": {
          "target": "smithy.api#String"
        },
        "server_description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "server id",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemAuthType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemPromptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "default_disabled": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "smithy.api#String"
        },
        "error_details": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemErrorDetails"
        },
        "is_shared_oauth_callback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the gateway worker uses the shared Cloudflare-owned OAuth callback endpoint as the redirect_uri for upstream on-behalf OAuth, instead of the customer portal hostname. New public server creates default to true; existing servers default to false from migration until explicitly updated. Effective behavior is gated by the gateway worker's per-env rollout mode KV key."
          }
        },
        "last_successful_sync": {
          "target": "smithy.api#String"
        },
        "last_synced": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "on_behalf": {
          "target": "smithy.api#Boolean"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound traffic to this MCP server through Zero Trust Secure Web Gateway"
          }
        },
        "status": {
          "target": "smithy.api#String"
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemUpdatedPromptsList"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItemUpdatedToolsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "portal id",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "servers": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponseServersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allow_code_mode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow remote code execution in Dynamic Workers (beta)"
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound MCP traffic through Zero Trust Secure Web Gateway"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpPortalsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/portals/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an MCP portal configuration.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateRequestAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bearer"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthenticated"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateRequestUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateRequestUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateRequestUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateRequestUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateRequestUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateRequestUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "server id",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateRequestAuthType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "auth_credentials": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "is_shared_oauth_callback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the gateway worker uses the shared Cloudflare-owned OAuth callback endpoint as the redirect_uri for upstream on-behalf OAuth, instead of the customer portal hostname. New public server creates default to true; existing servers default to false from migration until explicitly updated. Effective behavior is gated by the gateway worker's per-env rollout mode KV key."
          }
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound traffic to this MCP server through Zero Trust Secure Web Gateway"
          }
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateRequestUpdatedPromptsList"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateRequestUpdatedToolsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bearer"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthenticated"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponsePromptsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponsePromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponsePromptsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseToolsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseToolsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseErrorDetails": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying error message"
          }
        },
        "is_upstream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True = MCP server returned an error. False = couldn't reach the server"
          }
        },
        "mcp_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MCP protocol error code"
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the error is transient and worth retrying"
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code from the server"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "server id",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseAuthType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponsePromptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "smithy.api#String"
        },
        "error_details": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseErrorDetails"
        },
        "is_shared_oauth_callback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the gateway worker uses the shared Cloudflare-owned OAuth callback endpoint as the redirect_uri for upstream on-behalf OAuth, instead of the customer portal hostname. New public server creates default to true; existing servers default to false from migration until explicitly updated. Effective behavior is gated by the gateway worker's per-env rollout mode KV key."
          }
        },
        "last_successful_sync": {
          "target": "smithy.api#String"
        },
        "last_synced": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound traffic to this MCP server through Zero Trust Secure Web Gateway"
          }
        },
        "status": {
          "target": "smithy.api#String"
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseUpdatedPromptsList"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponseUpdatedToolsList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/servers",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new MCP portal for managing AI tool access through Cloudflare Access."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "server id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bearer"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthenticated"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponsePromptsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponsePromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponsePromptsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseToolsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseToolsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseErrorDetails": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying error message"
          }
        },
        "is_upstream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True = MCP server returned an error. False = couldn't reach the server"
          }
        },
        "mcp_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MCP protocol error code"
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the error is transient and worth retrying"
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code from the server"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "server id",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseAuthType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponsePromptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "smithy.api#String"
        },
        "error_details": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseErrorDetails"
        },
        "is_shared_oauth_callback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the gateway worker uses the shared Cloudflare-owned OAuth callback endpoint as the redirect_uri for upstream on-behalf OAuth, instead of the customer portal hostname. New public server creates default to true; existing servers default to false from migration until explicitly updated. Effective behavior is gated by the gateway worker's per-env rollout mode KV key."
          }
        },
        "last_successful_sync": {
          "target": "smithy.api#String"
        },
        "last_synced": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound traffic to this MCP server through Zero Trust Secure Web Gateway"
          }
        },
        "status": {
          "target": "smithy.api#String"
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseUpdatedPromptsList"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponseUpdatedToolsList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/servers/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an MCP portal from the account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "per_page"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search by id, name",
            "smithy.api#httpQuery": "search"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bearer"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthenticated"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemPromptsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemPromptsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemToolsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemToolsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemErrorDetails": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying error message"
          }
        },
        "is_upstream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True = MCP server returned an error. False = couldn't reach the server"
          }
        },
        "mcp_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MCP protocol error code"
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the error is transient and worth retrying"
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code from the server"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "server id",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemAuthType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemPromptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "smithy.api#String"
        },
        "error_details": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemErrorDetails"
        },
        "is_shared_oauth_callback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the gateway worker uses the shared Cloudflare-owned OAuth callback endpoint as the redirect_uri for upstream on-behalf OAuth, instead of the customer portal hostname. New public server creates default to true; existing servers default to false from migration until explicitly updated. Effective behavior is gated by the gateway worker's per-env rollout mode KV key."
          }
        },
        "last_successful_sync": {
          "target": "smithy.api#String"
        },
        "last_synced": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound traffic to this MCP server through Zero Trust Secure Web Gateway"
          }
        },
        "status": {
          "target": "smithy.api#String"
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemUpdatedPromptsList"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItemUpdatedToolsList"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/servers",
          "code": 200
        },
        "smithy.api#documentation": "Lists all MCP portals configured for the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "server id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "BEARER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bearer"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthenticated"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponsePromptsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponsePromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponsePromptsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseToolsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseToolsItemMap"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseErrorDetails": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying error message"
          }
        },
        "is_upstream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True = MCP server returned an error. False = couldn't reach the server"
          }
        },
        "mcp_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MCP protocol error code"
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the error is transient and worth retrying"
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code from the server"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseUpdatedToolsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseUpdatedToolsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "server id",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseAuthType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponsePromptsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseToolsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "smithy.api#String"
        },
        "error_details": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseErrorDetails"
        },
        "is_shared_oauth_callback_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the gateway worker uses the shared Cloudflare-owned OAuth callback endpoint as the redirect_uri for upstream on-behalf OAuth, instead of the customer portal hostname. New public server creates default to true; existing servers default to false from migration until explicitly updated. Effective behavior is gated by the gateway worker's per-env rollout mode KV key."
          }
        },
        "last_successful_sync": {
          "target": "smithy.api#String"
        },
        "last_synced": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "modified_by": {
          "target": "smithy.api#String"
        },
        "secure_web_gateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Route outbound traffic to this MCP server through Zero Trust Secure Web Gateway"
          }
        },
        "status": {
          "target": "smithy.api#String"
        },
        "updated_prompts": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseUpdatedPromptsList"
        },
        "updated_tools": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponseUpdatedToolsList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersRead": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersReadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/servers/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves gateway configuration for MCP portals.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersSyncRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "portal id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersSyncResponseErrorDetails": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying error message"
          }
        },
        "is_upstream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True = MCP server returned an error. False = couldn't reach the server"
          }
        },
        "mcp_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MCP protocol error code"
          }
        },
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the error is transient and worth retrying"
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code from the server"
          }
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersSyncResponse": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#String"
        },
        "error_details": {
          "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersSyncResponseErrorDetails"
        },
        "status": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersSync": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersSyncRequest"
      },
      "output": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersSyncResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/access/ai-controls/mcp/servers/{id}/sync",
          "code": 200
        },
        "smithy.api#documentation": "Syncs an MCP server's capabilities and returns the updated server state, including any connection errors."
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersUpdateRequestUpdatedPromptsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersUpdateRequestUpdatedPromptsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zero_trust#AccessAiControlsMcpServersUpdateRequestUpdatedPromptsItem"
      }
    },
    "com.cloudflare.zero_trust#AccessAiControlsMcpServersUpdateRequestUpdatedToolsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
[...]
