{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.zones#CreateRequestAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        }
      }
    },
    "com.cloudflare.zones#CreateRequestType": {
      "type": "enum",
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      }
    },
    "com.cloudflare.zones#CreateRequest": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.cloudflare.zones#CreateRequestAccount",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name. Per RFC 1035 the overall zone name can be up to 253 characters, with each segment (“label”) not exceeding 63 characters.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zones#CreateRequestType",
          "traits": {
            "smithy.api#documentation": "A full zone implies that DNS is hosted with Cloudflare. A partial zone is typically a partner-hosted zone or a CNAME setup."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zones#CreateResponseAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the account."
          }
        }
      }
    },
    "com.cloudflare.zones#CreateResponseMetaNameServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#CreateResponseMetaOriginalNameServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#CreateResponseMetaOwner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the owner."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of owner."
          }
        }
      }
    },
    "com.cloudflare.zones#CreateResponseMetaDeprecatedplanDeprecatedpermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#CreateResponseMetaDeprecatedplanStatus": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        }
      }
    },
    "com.cloudflare.zones#CreateResponseMetaDeprecatedplanTenant": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Tenant account."
          }
        }
      }
    },
    "com.cloudflare.zones#CreateResponseMetaDeprecatedplanTenantUnit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        }
      }
    },
    "com.cloudflare.zones#CreateResponseMetaDeprecatedplanType": {
      "type": "enum",
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      }
    },
    "com.cloudflare.zones#CreateResponseMetaDeprecatedplanVanityNameServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#CreateResponseMetaDeprecatedplanType2": {
      "type": "enum",
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        }
      }
    },
    "com.cloudflare.zones#CreateResponseMetaDeprecatedplan": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "can_subscribe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "States if the subscription can be activated."
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The denomination of the customer."
          }
        },
        "externally_managed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this Zone is managed by another company."
          }
        },
        "frequency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How often the customer is billed."
          }
        },
        "is_subscribed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "States if the subscription active."
          }
        },
        "legacy_discount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the legacy discount applies to this Zone."
          }
        },
        "legacy_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The legacy name of the plan."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the owner."
          }
        },
        "price": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How much the customer is paying."
          }
        },
        "cname_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Allows the customer to use a custom apex. _Tenants Only Configuration_."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the zone is only using Cloudflare DNS services. A true value means the zone will not receive security or performance benefits."
          }
        },
        "Deprecatedpermissions": {
          "target": "com.cloudflare.zones#CreateResponseMetaDeprecatedplanDeprecatedpermissionsList",
          "traits": {
            "smithy.api#documentation": "This has been replaced by Account memberships."
          }
        },
        "status": {
          "target": "com.cloudflare.zones#CreateResponseMetaDeprecatedplanStatus",
          "traits": {
            "smithy.api#documentation": "The zone status on Cloudflare."
          }
        },
        "tenant": {
          "target": "com.cloudflare.zones#CreateResponseMetaDeprecatedplanTenant",
          "traits": {
            "smithy.api#documentation": "The root organizational unit that this zone belongs to (such as a tenant or organization)."
          }
        },
        "tenant_unit": {
          "target": "com.cloudflare.zones#CreateResponseMetaDeprecatedplanTenantUnit",
          "traits": {
            "smithy.api#documentation": "The immediate parent organizational unit that this zone belongs to (such as under a tenant or sub-organization)."
          }
        },
        "type": {
          "target": "com.cloudflare.zones#CreateResponseMetaDeprecatedplanType",
          "traits": {
            "smithy.api#documentation": "A full zone implies that DNS is hosted with Cloudflare. A partial zone is typically a partner-hosted zone or a CNAME setup."
          }
        },
        "vanity_name_servers": {
          "target": "com.cloudflare.zones#CreateResponseMetaDeprecatedplanVanityNameServersList",
          "traits": {
            "smithy.api#documentation": "An array of domains used for custom name servers. This is only available for Business and Enterprise plans."
          }
        },
        "verification_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Verification key for partial zone setup."
          }
        },
        "account": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "name"
          }
        },
        "type_2": {
          "target": "com.cloudflare.zones#CreateResponseMetaDeprecatedplanType2",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        }
      }
    },
    "com.cloudflare.zones#CreateResponseMeta": {
      "type": "structure",
      "members": {
        "cdn_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone is only configured for CDN."
          }
        },
        "custom_certificate_quota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of Custom Certificates the zone can have."
          }
        },
        "dns_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone is only configured for DNS."
          }
        },
        "foundation_dns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone is setup with Foundation DNS."
          }
        },
        "page_rule_quota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of Page Rules a zone can have."
          }
        },
        "phishing_detected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone has been flagged for phishing."
          }
        },
        "step": {
          "target": "smithy.api#Double"
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the zone was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name. Per RFC 1035 the overall zone name can be up to 253 characters, with each segment (“label”) not exceeding 63 characters.",
            "smithy.api#required": {}
          }
        },
        "name_servers": {
          "target": "com.cloudflare.zones#CreateResponseMetaNameServersList",
          "traits": {
            "smithy.api#documentation": "The name servers Cloudflare assigns to a zone.",
            "smithy.api#required": {}
          }
        },
        "original_dnshost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS host at the time of switching to Cloudflare.",
            "smithy.api#required": {}
          }
        },
        "original_name_servers": {
          "target": "com.cloudflare.zones#CreateResponseMetaOriginalNameServersList",
          "traits": {
            "smithy.api#documentation": "Original name servers before moving to Cloudflare.",
            "smithy.api#required": {}
          }
        },
        "original_registrar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Registrar for the domain at the time of switching to Cloudflare.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.cloudflare.zones#CreateResponseMetaOwner",
          "traits": {
            "smithy.api#documentation": "The owner of the zone.",
            "smithy.api#required": {}
          }
        },
        "Deprecatedplan": {
          "target": "com.cloudflare.zones#CreateResponseMetaDeprecatedplan",
          "traits": {
            "smithy.api#documentation": "Please use the `/zones/{zone_id}/subscription` API to update a zone’s plan. Changing this value will create/cancel associated subscriptions. To view available plans for this zone, see Zone Plans.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zones#CreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "com.cloudflare.zones#CreateResponseAccount",
          "traits": {
            "smithy.api#documentation": "The account the zone belongs to.",
            "smithy.api#required": {}
          }
        },
        "activated_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time proof of ownership was detected and the zone was made active.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the zone was created.",
            "smithy.api#required": {}
          }
        },
        "development_mode": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The interval (in seconds) from when development mode expires (positive integer) or last expired (negative integer) for the domain. If development mode has never been enabled, this value is 0.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.zones#CreateResponseMeta",
          "traits": {
            "smithy.api#documentation": "Metadata about the zone.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zones#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zones#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.zones#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new zone (domain) in your Cloudflare account. The zone is created in a pending state and must be activated by updating your domain’s nameservers to point to Cloudflare, or by completing the verification process for partial (CNAME) setups."
      }
    },
    "com.cloudflare.zones#DeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zones#DeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zones#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zones#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.zones#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.zones#EditRequestType": {
      "type": "enum",
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      }
    },
    "com.cloudflare.zones#EditRequestVanityNameServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#EditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the zone is only using Cloudflare DNS services. A true value means the zone will not receive security or performance benefits."
          }
        },
        "type": {
          "target": "com.cloudflare.zones#EditRequestType",
          "traits": {
            "smithy.api#documentation": "A full zone implies that DNS is hosted with Cloudflare. A partial zone is typically a partner-hosted zone or a CNAME setup. This parameter is only available to Enterprise customers or if it has been explicitly enabled on a zone."
          }
        },
        "vanity_name_servers": {
          "target": "com.cloudflare.zones#EditRequestVanityNameServersList",
          "traits": {
            "smithy.api#documentation": "An array of domains used for custom name servers. This is only available for Business and Enterprise plans."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zones#EditResponseAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the account."
          }
        }
      }
    },
    "com.cloudflare.zones#EditResponseMetaNameServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#EditResponseMetaOriginalNameServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#EditResponseMetaOwner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the owner."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of owner."
          }
        }
      }
    },
    "com.cloudflare.zones#EditResponseMetaDeprecatedplanDeprecatedpermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#EditResponseMetaDeprecatedplanStatus": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        }
      }
    },
    "com.cloudflare.zones#EditResponseMetaDeprecatedplanTenant": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Tenant account."
          }
        }
      }
    },
    "com.cloudflare.zones#EditResponseMetaDeprecatedplanTenantUnit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        }
      }
    },
    "com.cloudflare.zones#EditResponseMetaDeprecatedplanType": {
      "type": "enum",
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      }
    },
    "com.cloudflare.zones#EditResponseMetaDeprecatedplanVanityNameServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#EditResponseMetaDeprecatedplan": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "can_subscribe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "States if the subscription can be activated."
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The denomination of the customer."
          }
        },
        "externally_managed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this Zone is managed by another company."
          }
        },
        "frequency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How often the customer is billed."
          }
        },
        "is_subscribed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "States if the subscription active."
          }
        },
        "legacy_discount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the legacy discount applies to this Zone."
          }
        },
        "legacy_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The legacy name of the plan."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the owner."
          }
        },
        "price": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How much the customer is paying."
          }
        },
        "cname_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Allows the customer to use a custom apex. _Tenants Only Configuration_."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the zone is only using Cloudflare DNS services. A true value means the zone will not receive security or performance benefits."
          }
        },
        "Deprecatedpermissions": {
          "target": "com.cloudflare.zones#EditResponseMetaDeprecatedplanDeprecatedpermissionsList",
          "traits": {
            "smithy.api#documentation": "This has been replaced by Account memberships."
          }
        },
        "status": {
          "target": "com.cloudflare.zones#EditResponseMetaDeprecatedplanStatus",
          "traits": {
            "smithy.api#documentation": "The zone status on Cloudflare."
          }
        },
        "tenant": {
          "target": "com.cloudflare.zones#EditResponseMetaDeprecatedplanTenant",
          "traits": {
            "smithy.api#documentation": "The root organizational unit that this zone belongs to (such as a tenant or organization)."
          }
        },
        "tenant_unit": {
          "target": "com.cloudflare.zones#EditResponseMetaDeprecatedplanTenantUnit",
          "traits": {
            "smithy.api#documentation": "The immediate parent organizational unit that this zone belongs to (such as under a tenant or sub-organization)."
          }
        },
        "type": {
          "target": "com.cloudflare.zones#EditResponseMetaDeprecatedplanType",
          "traits": {
            "smithy.api#documentation": "A full zone implies that DNS is hosted with Cloudflare. A partial zone is typically a partner-hosted zone or a CNAME setup."
          }
        },
        "vanity_name_servers": {
          "target": "com.cloudflare.zones#EditResponseMetaDeprecatedplanVanityNameServersList",
          "traits": {
            "smithy.api#documentation": "An array of domains used for custom name servers. This is only available for Business and Enterprise plans."
          }
        },
        "verification_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Verification key for partial zone setup."
          }
        },
        "type_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "type"
          }
        },
        "vanity_name_servers_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "\"ns1.example.com\",",
            "smithy.api#required": {},
            "smithy.api#jsonName": "vanity_name_servers"
          }
        }
      }
    },
    "com.cloudflare.zones#EditResponseMeta": {
      "type": "structure",
      "members": {
        "cdn_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone is only configured for CDN."
          }
        },
        "custom_certificate_quota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of Custom Certificates the zone can have."
          }
        },
        "dns_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone is only configured for DNS."
          }
        },
        "foundation_dns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone is setup with Foundation DNS."
          }
        },
        "page_rule_quota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of Page Rules a zone can have."
          }
        },
        "phishing_detected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone has been flagged for phishing."
          }
        },
        "step": {
          "target": "smithy.api#Double"
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the zone was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name. Per RFC 1035 the overall zone name can be up to 253 characters, with each segment (“label”) not exceeding 63 characters.",
            "smithy.api#required": {}
          }
        },
        "name_servers": {
          "target": "com.cloudflare.zones#EditResponseMetaNameServersList",
          "traits": {
            "smithy.api#documentation": "The name servers Cloudflare assigns to a zone.",
            "smithy.api#required": {}
          }
        },
        "original_dnshost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS host at the time of switching to Cloudflare.",
            "smithy.api#required": {}
          }
        },
        "original_name_servers": {
          "target": "com.cloudflare.zones#EditResponseMetaOriginalNameServersList",
          "traits": {
            "smithy.api#documentation": "Original name servers before moving to Cloudflare.",
            "smithy.api#required": {}
          }
        },
        "original_registrar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Registrar for the domain at the time of switching to Cloudflare.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.cloudflare.zones#EditResponseMetaOwner",
          "traits": {
            "smithy.api#documentation": "The owner of the zone.",
            "smithy.api#required": {}
          }
        },
        "Deprecatedplan": {
          "target": "com.cloudflare.zones#EditResponseMetaDeprecatedplan",
          "traits": {
            "smithy.api#documentation": "Please use the `/zones/{zone_id}/subscription` API to update a zone’s plan. Changing this value will create/cancel associated subscriptions. To view available plans for this zone, see Zone Plans.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zones#EditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "com.cloudflare.zones#EditResponseAccount",
          "traits": {
            "smithy.api#documentation": "The account the zone belongs to.",
            "smithy.api#required": {}
          }
        },
        "activated_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time proof of ownership was detected and the zone was made active.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the zone was created.",
            "smithy.api#required": {}
          }
        },
        "development_mode": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The interval (in seconds) from when development mode expires (positive integer) or last expired (negative integer) for the domain. If development mode has never been enabled, this value is 0.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.zones#EditResponseMeta",
          "traits": {
            "smithy.api#documentation": "Metadata about the zone.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zones#Edit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zones#EditRequest"
      },
      "output": {
        "target": "com.cloudflare.zones#EditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}",
          "code": 200
        },
        "smithy.api#documentation": "Edits a zone. Only one zone property can be changed at a time."
      }
    },
    "com.cloudflare.zones#GetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zones#GetResponseAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the account."
          }
        }
      }
    },
    "com.cloudflare.zones#GetResponseMetaNameServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#GetResponseMetaOriginalNameServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#GetResponseMetaOwner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the owner."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of owner."
          }
        }
      }
    },
    "com.cloudflare.zones#GetResponseMetaDeprecatedplanDeprecatedpermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#GetResponseMetaDeprecatedplanStatus": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        }
      }
    },
    "com.cloudflare.zones#GetResponseMetaDeprecatedplanTenant": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Tenant account."
          }
        }
      }
    },
    "com.cloudflare.zones#GetResponseMetaDeprecatedplanTenantUnit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        }
      }
    },
    "com.cloudflare.zones#GetResponseMetaDeprecatedplanType": {
      "type": "enum",
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      }
    },
    "com.cloudflare.zones#GetResponseMetaDeprecatedplanVanityNameServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#GetResponseMetaDeprecatedplan": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "can_subscribe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "States if the subscription can be activated."
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The denomination of the customer."
          }
        },
        "externally_managed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this Zone is managed by another company."
          }
        },
        "frequency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How often the customer is billed."
          }
        },
        "is_subscribed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "States if the subscription active."
          }
        },
        "legacy_discount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the legacy discount applies to this Zone."
          }
        },
        "legacy_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The legacy name of the plan."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the owner."
          }
        },
        "price": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How much the customer is paying."
          }
        },
        "cname_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Allows the customer to use a custom apex. _Tenants Only Configuration_."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the zone is only using Cloudflare DNS services. A true value means the zone will not receive security or performance benefits."
          }
        },
        "Deprecatedpermissions": {
          "target": "com.cloudflare.zones#GetResponseMetaDeprecatedplanDeprecatedpermissionsList",
          "traits": {
            "smithy.api#documentation": "This has been replaced by Account memberships."
          }
        },
        "status": {
          "target": "com.cloudflare.zones#GetResponseMetaDeprecatedplanStatus",
          "traits": {
            "smithy.api#documentation": "The zone status on Cloudflare."
          }
        },
        "tenant": {
          "target": "com.cloudflare.zones#GetResponseMetaDeprecatedplanTenant",
          "traits": {
            "smithy.api#documentation": "The root organizational unit that this zone belongs to (such as a tenant or organization)."
          }
        },
        "tenant_unit": {
          "target": "com.cloudflare.zones#GetResponseMetaDeprecatedplanTenantUnit",
          "traits": {
            "smithy.api#documentation": "The immediate parent organizational unit that this zone belongs to (such as under a tenant or sub-organization)."
          }
        },
        "type": {
          "target": "com.cloudflare.zones#GetResponseMetaDeprecatedplanType",
          "traits": {
            "smithy.api#documentation": "A full zone implies that DNS is hosted with Cloudflare. A partial zone is typically a partner-hosted zone or a CNAME setup."
          }
        },
        "vanity_name_servers": {
          "target": "com.cloudflare.zones#GetResponseMetaDeprecatedplanVanityNameServersList",
          "traits": {
            "smithy.api#documentation": "An array of domains used for custom name servers. This is only available for Business and Enterprise plans."
          }
        },
        "verification_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Verification key for partial zone setup."
          }
        }
      }
    },
    "com.cloudflare.zones#GetResponseMeta": {
      "type": "structure",
      "members": {
        "cdn_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone is only configured for CDN."
          }
        },
        "custom_certificate_quota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of Custom Certificates the zone can have."
          }
        },
        "dns_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone is only configured for DNS."
          }
        },
        "foundation_dns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone is setup with Foundation DNS."
          }
        },
        "page_rule_quota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of Page Rules a zone can have."
          }
        },
        "phishing_detected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone has been flagged for phishing."
          }
        },
        "step": {
          "target": "smithy.api#Double"
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the zone was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name. Per RFC 1035 the overall zone name can be up to 253 characters, with each segment (“label”) not exceeding 63 characters.",
            "smithy.api#required": {}
          }
        },
        "name_servers": {
          "target": "com.cloudflare.zones#GetResponseMetaNameServersList",
          "traits": {
            "smithy.api#documentation": "The name servers Cloudflare assigns to a zone.",
            "smithy.api#required": {}
          }
        },
        "original_dnshost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS host at the time of switching to Cloudflare.",
            "smithy.api#required": {}
          }
        },
        "original_name_servers": {
          "target": "com.cloudflare.zones#GetResponseMetaOriginalNameServersList",
          "traits": {
            "smithy.api#documentation": "Original name servers before moving to Cloudflare.",
            "smithy.api#required": {}
          }
        },
        "original_registrar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Registrar for the domain at the time of switching to Cloudflare.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.cloudflare.zones#GetResponseMetaOwner",
          "traits": {
            "smithy.api#documentation": "The owner of the zone.",
            "smithy.api#required": {}
          }
        },
        "Deprecatedplan": {
          "target": "com.cloudflare.zones#GetResponseMetaDeprecatedplan",
          "traits": {
            "smithy.api#documentation": "Please use the `/zones/{zone_id}/subscription` API to update a zone’s plan. Changing this value will create/cancel associated subscriptions. To view available plans for this zone, see Zone Plans.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zones#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "com.cloudflare.zones#GetResponseAccount",
          "traits": {
            "smithy.api#documentation": "The account the zone belongs to.",
            "smithy.api#required": {}
          }
        },
        "activated_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time proof of ownership was detected and the zone was made active.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the zone was created.",
            "smithy.api#required": {}
          }
        },
        "development_mode": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The interval (in seconds) from when development mode expires (positive integer) or last expired (negative integer) for the domain. If development mode has never been enabled, this value is 0.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.zones#GetResponseMeta",
          "traits": {
            "smithy.api#documentation": "Metadata about the zone.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zones#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zones#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.zones#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves detailed information about a specific zone identified by its zone ID. Returns zone configuration, status, nameservers, and associated metadata.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zones#ListRequestAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by an account ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An account Name. Optional filter operators can be provided to extend refine the search:"
          }
        }
      }
    },
    "com.cloudflare.zones#ListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.zones#ListRequestMatch": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.cloudflare.zones#ListRequestOrder": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        },
        "ACCOUNT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account.id"
          }
        },
        "ACCOUNT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account.name"
          }
        },
        "PLAN_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plan.id"
          }
        }
      }
    },
    "com.cloudflare.zones#ListRequestStatus": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        }
      }
    },
    "com.cloudflare.zones#ListRequestType": {
      "type": "enum",
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      }
    },
    "com.cloudflare.zones#ListRequestTypeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zones#ListRequestType"
      }
    },
    "com.cloudflare.zones#ListRequest": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.cloudflare.zones#ListRequestAccount",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "account"
          }
        },
        "direction": {
          "target": "com.cloudflare.zones#ListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order zones.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "match": {
          "target": "com.cloudflare.zones#ListRequestMatch",
          "traits": {
            "smithy.api#documentation": "Whether to match all search requirements or at least one (any).",
            "smithy.api#httpQuery": "match"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain name. Optional filter operators can be provided to extend refine the search:",
            "smithy.api#httpQuery": "name"
          }
        },
        "order": {
          "target": "com.cloudflare.zones#ListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Field to order zones by.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of zones per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "status": {
          "target": "com.cloudflare.zones#ListRequestStatus",
          "traits": {
            "smithy.api#documentation": "Specify a zone status to filter by.",
            "smithy.api#httpQuery": "status"
          }
        },
        "type": {
          "target": "com.cloudflare.zones#ListRequestTypeList",
          "traits": {
            "smithy.api#documentation": "Zone types to filter by. Multiple types can be specified as a comma-separated list (e.g., ?type=full,partial,secondary). When this parameter is not provided, zones with type “internal” are excluded from the results.",
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zones#ListResultItemAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the account."
          }
        }
      }
    },
    "com.cloudflare.zones#ListResultItemMetaNameServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#ListResultItemMetaOriginalNameServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#ListResultItemMetaOwner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the owner."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of owner."
          }
        }
      }
    },
    "com.cloudflare.zones#ListResultItemMetaDeprecatedplanDeprecatedpermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#ListResultItemMetaDeprecatedplanStatus": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        }
      }
    },
    "com.cloudflare.zones#ListResultItemMetaDeprecatedplanTenant": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Tenant account."
          }
        }
      }
    },
    "com.cloudflare.zones#ListResultItemMetaDeprecatedplanTenantUnit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        }
      }
    },
    "com.cloudflare.zones#ListResultItemMetaDeprecatedplanType": {
      "type": "enum",
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      }
    },
    "com.cloudflare.zones#ListResultItemMetaDeprecatedplanVanityNameServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#ListResultItemMetaDeprecatedplan": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "can_subscribe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "States if the subscription can be activated."
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The denomination of the customer."
          }
        },
        "externally_managed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this Zone is managed by another company."
          }
        },
        "frequency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How often the customer is billed."
          }
        },
        "is_subscribed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "States if the subscription active."
          }
        },
        "legacy_discount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the legacy discount applies to this Zone."
          }
        },
        "legacy_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The legacy name of the plan."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the owner."
          }
        },
        "price": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How much the customer is paying."
          }
        },
        "cname_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Allows the customer to use a custom apex. _Tenants Only Configuration_."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the zone is only using Cloudflare DNS services. A true value means the zone will not receive security or performance benefits."
          }
        },
        "Deprecatedpermissions": {
          "target": "com.cloudflare.zones#ListResultItemMetaDeprecatedplanDeprecatedpermissionsList",
          "traits": {
            "smithy.api#documentation": "This has been replaced by Account memberships."
          }
        },
        "status": {
          "target": "com.cloudflare.zones#ListResultItemMetaDeprecatedplanStatus",
          "traits": {
            "smithy.api#documentation": "The zone status on Cloudflare."
          }
        },
        "tenant": {
          "target": "com.cloudflare.zones#ListResultItemMetaDeprecatedplanTenant",
          "traits": {
            "smithy.api#documentation": "The root organizational unit that this zone belongs to (such as a tenant or organization)."
          }
        },
        "tenant_unit": {
          "target": "com.cloudflare.zones#ListResultItemMetaDeprecatedplanTenantUnit",
          "traits": {
            "smithy.api#documentation": "The immediate parent organizational unit that this zone belongs to (such as under a tenant or sub-organization)."
          }
        },
        "type": {
          "target": "com.cloudflare.zones#ListResultItemMetaDeprecatedplanType",
          "traits": {
            "smithy.api#documentation": "A full zone implies that DNS is hosted with Cloudflare. A partial zone is typically a partner-hosted zone or a CNAME setup."
          }
        },
        "vanity_name_servers": {
          "target": "com.cloudflare.zones#ListResultItemMetaDeprecatedplanVanityNameServersList",
          "traits": {
            "smithy.api#documentation": "An array of domains used for custom name servers. This is only available for Business and Enterprise plans."
          }
        },
        "verification_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Verification key for partial zone setup."
          }
        }
      }
    },
    "com.cloudflare.zones#ListResultItemMeta": {
      "type": "structure",
      "members": {
        "cdn_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone is only configured for CDN."
          }
        },
        "custom_certificate_quota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of Custom Certificates the zone can have."
          }
        },
        "dns_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone is only configured for DNS."
          }
        },
        "foundation_dns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone is setup with Foundation DNS."
          }
        },
        "page_rule_quota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of Page Rules a zone can have."
          }
        },
        "phishing_detected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The zone has been flagged for phishing."
          }
        },
        "step": {
          "target": "smithy.api#Double"
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the zone was last modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name. Per RFC 1035 the overall zone name can be up to 253 characters, with each segment (“label”) not exceeding 63 characters.",
            "smithy.api#required": {}
          }
        },
        "name_servers": {
          "target": "com.cloudflare.zones#ListResultItemMetaNameServersList",
          "traits": {
            "smithy.api#documentation": "The name servers Cloudflare assigns to a zone.",
            "smithy.api#required": {}
          }
        },
        "original_dnshost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS host at the time of switching to Cloudflare.",
            "smithy.api#required": {}
          }
        },
        "original_name_servers": {
          "target": "com.cloudflare.zones#ListResultItemMetaOriginalNameServersList",
          "traits": {
            "smithy.api#documentation": "Original name servers before moving to Cloudflare.",
            "smithy.api#required": {}
          }
        },
        "original_registrar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Registrar for the domain at the time of switching to Cloudflare.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.cloudflare.zones#ListResultItemMetaOwner",
          "traits": {
            "smithy.api#documentation": "The owner of the zone.",
            "smithy.api#required": {}
          }
        },
        "Deprecatedplan": {
          "target": "com.cloudflare.zones#ListResultItemMetaDeprecatedplan",
          "traits": {
            "smithy.api#documentation": "Please use the `/zones/{zone_id}/subscription` API to update a zone’s plan. Changing this value will create/cancel associated subscriptions. To view available plans for this zone, see Zone Plans.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zones#ListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "com.cloudflare.zones#ListResultItemAccount",
          "traits": {
            "smithy.api#documentation": "The account the zone belongs to.",
            "smithy.api#required": {}
          }
        },
        "activated_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time proof of ownership was detected and the zone was made active.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the zone was created.",
            "smithy.api#required": {}
          }
        },
        "development_mode": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The interval (in seconds) from when development mode expires (positive integer) or last expired (negative integer) for the domain. If development mode has never been enabled, this value is 0.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.zones#ListResultItemMeta",
          "traits": {
            "smithy.api#documentation": "Metadata about the zone.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zones#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zones#ListResultItem"
      }
    },
    "com.cloudflare.zones#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.zones#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.zones#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zones#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.zones#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones",
          "code": 200
        },
        "smithy.api#documentation": "Lists, searches, sorts, and filters your zones. Listing zones across more than 500 accounts is currently not allowed.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zones#ActivationCheckTriggerRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zones#ActivationCheckTriggerResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zones#ActivationCheckTrigger": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zones#ActivationCheckTriggerRequest"
      },
      "output": {
        "target": "com.cloudflare.zones#ActivationCheckTriggerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/activation_check",
          "code": 200
        },
        "smithy.api#documentation": "Triggeres a new activation check for a PENDING Zone. This can be triggered every 5 min for paygo/ent customers, every hour for FREE Zones.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.zones#CtAlertingEditRequestEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#CtAlertingEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether CT alerting is enabled for the zone.",
            "smithy.api#required": {}
          }
        },
        "emails": {
          "target": "com.cloudflare.zones#CtAlertingEditRequestEmailsList",
          "traits": {
            "smithy.api#documentation": "Email addresses that receive CT alert notifications for the zone. A maximum of 100 addresses may be configured. Each address must be a valid RFC 5322 email address and must not contain a comma."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zones#CtAlertingEditResponseEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#CtAlertingEditResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether CT alerting is enabled for the zone.",
            "smithy.api#required": {}
          }
        },
        "emails": {
          "target": "com.cloudflare.zones#CtAlertingEditResponseEmailsList",
          "traits": {
            "smithy.api#documentation": "Email addresses that receive CT alert notifications for the zone. A maximum of 100 addresses may be configured. Each address must be a valid RFC 5322 email address and must not contain a comma."
          }
        },
        "enabled_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "enabled"
          }
        },
        "emails_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "\"security@example.com\",",
            "smithy.api#required": {},
            "smithy.api#jsonName": "emails"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zones#CtAlertingEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zones#CtAlertingEditRequest"
      },
      "output": {
        "target": "com.cloudflare.zones#CtAlertingEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/ct/alerting",
          "code": 200
        },
        "smithy.api#documentation": "Create or update the Certificate Transparency alerting subscription for a zone. Enables or disables email notifications when certificates are issued for the zone’s domains. The `enabled` field is required on every request and controls whether the subscription is active. The `emails` field is optional and, when provided, replaces the stored recipient list for the zone. When `emails` is omitted, the stored recipient list is preserved and only the enabled state is toggled. A maximum of 100 email addresses may be configured per zone. Requests that omit `enabled` are rejected with error code 1008. Subscribe and unsubscribe notification emails are only sent for recipients whose effective subscription state changes. Idempotent requests (no state change) send no notification email."
      }
    },
    "com.cloudflare.zones#CtAlertingGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zones#CtAlertingGetResponseEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#CtAlertingGetResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether CT alerting is enabled for the zone.",
            "smithy.api#required": {}
          }
        },
        "emails": {
          "target": "com.cloudflare.zones#CtAlertingGetResponseEmailsList",
          "traits": {
            "smithy.api#documentation": "Email addresses that receive CT alert notifications for the zone. A maximum of 100 addresses may be configured. Each address must be a valid RFC 5322 email address and must not contain a comma."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zones#CtAlertingGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zones#CtAlertingGetRequest"
      },
      "output": {
        "target": "com.cloudflare.zones#CtAlertingGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/ct/alerting",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve the Certificate Transparency alerting subscription settings for a zone. Returns whether CT monitoring is enabled and the list of email addresses that receive alerts, if any have been configured.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zones#CustomNameserversGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zones#CustomNameserversGetResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.zones#CustomNameserversGetResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.zones#CustomNameserversGetResponseTotalPages": {
      "type": "intEnum",
      "members": {
        "_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 100
          }
        }
      }
    },
    "com.cloudflare.zones#CustomNameserversGetResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether zone uses account-level custom nameservers."
          }
        },
        "ns_set": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of the name server set to assign to the zone."
          }
        },
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.zones#CustomNameserversGetResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.zones#CustomNameserversGetResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        },
        "enabled_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "enabled"
          }
        },
        "ns_set_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "ns_set"
          }
        },
        "count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_pages": {
          "target": "com.cloudflare.zones#CustomNameserversGetResponseTotalPages",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.zones#CustomNameserversGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zones#CustomNameserversGetRequest"
      },
      "output": {
        "target": "com.cloudflare.zones#CustomNameserversGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/custom_ns",
          "code": 200
        },
        "smithy.api#documentation": "Get metadata for account-level custom nameservers on a zone. Deprecated in favor of [Show DNS Settings](https://developers.cloudflare.com/api/operations/dns-settings-for-a-zone-list-dns-settings).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zones#CustomNameserversUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether zone uses account-level custom nameservers."
          }
        },
        "ns_set": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of the name server set to assign to the zone."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zones#CustomNameserversUpdateResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zones#CustomNameserversUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.zones#CustomNameserversUpdateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.zones#CustomNameserversUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zones#CustomNameserversUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.zones#CustomNameserversUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/custom_ns",
          "code": 200
        },
        "smithy.api#documentation": "Set metadata for account-level custom nameservers on a zone. If you would like new zones in the account to use account custom nameservers by default, use PUT /accounts/:identifier to set the account setting use_account_custom_ns_by_default to true. Deprecated in favor of [Update DNS Settings](https://developers.cloudflare.com/api/operations/dns-settings-for-a-zone-update-dns-settings).",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.zones#EnvironmentsCreateRequestEnvironmentsItemPosition": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zones#EnvironmentsCreateRequestEnvironmentsItem": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "locked_on_deployment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "com.cloudflare.zones#EnvironmentsCreateRequestEnvironmentsItemPosition",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint64",
            "smithy.api#required": {}
          }
        },
        "http_application_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zones#EnvironmentsCreateRequestEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zones#EnvironmentsCreateRequestEnvironmentsItem"
      }
    },
    "com.cloudflare.zones#EnvironmentsCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environments": {
          "target": "com.cloudflare.zones#EnvironmentsCreateRequestEnvironmentsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zones#EnvironmentsCreateResponseEnvironmentsItemPosition": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zones#EnvironmentsCreateResponseEnvironmentsItem": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "locked_on_deployment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "com.cloudflare.zones#EnvironmentsCreateResponseEnvironmentsItemPosition",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint64",
            "smithy.api#required": {}
          }
        },
        "http_application_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zones#EnvironmentsCreateResponseEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zones#EnvironmentsCreateResponseEnvironmentsItem"
      }
    },
    "com.cloudflare.zones#EnvironmentsCreateResponse": {
      "type": "structure",
      "members": {
        "environments": {
          "target": "com.cloudflare.zones#EnvironmentsCreateResponseEnvironmentsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zones#EnvironmentsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zones#EnvironmentsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.zones#EnvironmentsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/environments",
          "code": 200
        },
        "smithy.api#documentation": "Creates environments for a zone."
      }
    },
    "com.cloudflare.zones#EnvironmentsDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zones#EnvironmentsDeleteResponseEnvironmentsItemPosition": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zones#EnvironmentsDeleteResponseEnvironmentsItem": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "locked_on_deployment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "com.cloudflare.zones#EnvironmentsDeleteResponseEnvironmentsItemPosition",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint64",
            "smithy.api#required": {}
          }
        },
        "http_application_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zones#EnvironmentsDeleteResponseEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zones#EnvironmentsDeleteResponseEnvironmentsItem"
      }
    },
    "com.cloudflare.zones#EnvironmentsDeleteResponse": {
      "type": "structure",
      "members": {
        "environments": {
          "target": "com.cloudflare.zones#EnvironmentsDeleteResponseEnvironmentsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zones#EnvironmentsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zones#EnvironmentsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.zones#EnvironmentsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/environments/{environment_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a zone environment by reference identifier.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.zones#EnvironmentsEditRequestEnvironmentsItemPosition": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zones#EnvironmentsEditRequestEnvironmentsItem": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "locked_on_deployment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "com.cloudflare.zones#EnvironmentsEditRequestEnvironmentsItemPosition",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint64",
            "smithy.api#required": {}
          }
        },
        "http_application_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zones#EnvironmentsEditRequestEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zones#EnvironmentsEditRequestEnvironmentsItem"
      }
    },
    "com.cloudflare.zones#EnvironmentsEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environments": {
          "target": "com.cloudflare.zones#EnvironmentsEditRequestEnvironmentsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zones#EnvironmentsEditResponseEnvironmentsItemPosition": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zones#EnvironmentsEditResponseEnvironmentsItem": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "locked_on_deployment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "com.cloudflare.zones#EnvironmentsEditResponseEnvironmentsItemPosition",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "formatint64",
            "smithy.api#required": {}
          }
        },
        "http_application_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.zones#EnvironmentsEditResponseEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zones#EnvironmentsEditResponseEnvironmentsItem"
      }
    },
    "com.cloudflare.zones#EnvironmentsEditResponse": {
      "type": "structure",
      "members": {
        "environments": {
          "target": "com.cloudflare.zones#EnvironmentsEditResponseEnvironmentsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
[...]
