{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel access-groups",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/access_groups/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/access-groups/{idOrName}": {
      "get": {
        "operationId": "readsAnAccessGroup",
        "summary": "Reads an access group",
        "description": "Allows to read an access group",
        "tags": ["access-groups"],
        "x-docs-url": "https://vercel.com/docs/rest-api/access-groups/reads-an-access-group",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessGroupId",
                    "createdAt",
                    "isDsyncManaged",
                    "membersCount",
                    "name",
                    "projectsCount",
                    "teamId",
                    "updatedAt"
                  ],
                  "properties": {
                    "teamPermissions": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "AiGatewayApiKeyOwnedBySelf",
                          "AiGatewayBudgetManager",
                          "AiGatewayCredits",
                          "AiGatewaySettings",
                          "ConnectorManager",
                          "CreateProject",
                          "EnvVariableManager",
                          "EnvironmentManager",
                          "FullProductionDeployment",
                          "IntegrationManager",
                          "OrgAdmin",
                          "OrgViewer",
                          "UsageViewer",
                          "V0Builder",
                          "V0Chatter",
                          "V0Viewer"
                        ]
                      }
                    },
                    "entitlements": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": ["v0"]
                      }
                    },
                    "isDsyncManaged": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of this access group."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Timestamp in milliseconds when the access group was created."
                    },
                    "teamId": {
                      "type": "string",
                      "description": "ID of the team that this access group belongs to."
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "Timestamp in milliseconds when the access group was last updated."
                    },
                    "accessGroupId": {
                      "type": "string",
                      "description": "ID of the access group."
                    },
                    "membersCount": {
                      "type": "number",
                      "description": "Number of members in the access group."
                    },
                    "projectsCount": {
                      "type": "number",
                      "description": "Number of projects in the access group."
                    },
                    "teamRoles": {
                      "type": "array",
                      "description": "Roles that the team has in the access group.",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "updateAnAccessGroup",
        "summary": "Update an access group",
        "description": "Allows to update an access group metadata",
        "tags": ["access-groups"],
        "x-docs-url": "https://vercel.com/docs/rest-api/access-groups/update-an-access-group",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the access group",
                    "pattern": "^[A-z0-9_ -]+$",
                    "maxLength": 50
                  },
                  "projects": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["role", "projectId"],
                      "properties": {
                        "projectId": {
                          "type": "string",
                          "description": "The ID of the project.",
                          "maxLength": 256
                        },
                        "role": {
                          "type": "string",
                          "description": "The project role that will be added to this Access Group. \"null\" will remove this project level role.",
                          "enum": [
                            "ADMIN",
                            "PROJECT_VIEWER",
                            "PROJECT_DEVELOPER",
                            null
                          ],
                          "nullable": true
                        }
                      }
                    }
                  },
                  "membersToAdd": {
                    "type": "array",
                    "description": "List of members to add to the access group.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "membersToRemove": {
                    "type": "array",
                    "description": "List of members to remove from the access group.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessGroupId",
                    "createdAt",
                    "entitlements",
                    "membersCount",
                    "name",
                    "projectsCount",
                    "teamId",
                    "updatedAt"
                  ],
                  "properties": {
                    "entitlements": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": ["v0"]
                      }
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of this access group."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Timestamp in milliseconds when the access group was created."
                    },
                    "teamId": {
                      "type": "string",
                      "description": "ID of the team that this access group belongs to."
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "Timestamp in milliseconds when the access group was last updated."
                    },
                    "accessGroupId": {
                      "type": "string",
                      "description": "ID of the access group."
                    },
                    "membersCount": {
                      "type": "number",
                      "description": "Number of members in the access group."
                    },
                    "projectsCount": {
                      "type": "number",
                      "description": "Number of projects in the access group."
                    },
                    "teamRoles": {
                      "type": "array",
                      "description": "Roles that the team has in the access group.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "teamPermissions": {
                      "type": "array",
                      "description": "Permissions that the team has in the access group.",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deletesAnAccessGroup",
        "summary": "Deletes an access group",
        "description": "Allows to delete an access group",
        "tags": ["access-groups"],
        "x-docs-url": "https://vercel.com/docs/rest-api/access-groups/deletes-an-access-group",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/access-groups/{idOrName}/members": {
      "get": {
        "operationId": "listMembersOfAnAccessGroup",
        "summary": "List members of an access group",
        "description": "List members of an access group",
        "tags": ["access-groups"],
        "x-docs-url": "https://vercel.com/docs/rest-api/access-groups/list-members-of-an-access-group",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "The ID or name of the Access Group.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit how many access group members should be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "next",
            "in": "query",
            "description": "Continuation cursor to retrieve the next page of results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search project members by their name, username, and email.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["members", "pagination"],
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["email", "teamRole", "uid", "username"],
                        "properties": {
                          "avatar": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "teamRole": {
                            "type": "string",
                            "enum": [
                              "BILLING",
                              "CONTRIBUTOR",
                              "DEVELOPER",
                              "MEMBER",
                              "OWNER",
                              "SECURITY",
                              "VIEWER",
                              "VIEWER_FOR_PLUS"
                            ]
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "required": ["count", "next"],
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/access-groups": {
      "get": {
        "operationId": "listAccessGroupsForATeamProjectOrMember",
        "summary": "List access groups for a team, project or member",
        "description": "List access groups",
        "tags": ["access-groups"],
        "x-docs-url": "https://vercel.com/docs/rest-api/access-groups/list-access-groups-for-a-team-project-or-member",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Filter access groups by project.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search for access groups by name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "membersLimit",
            "in": "query",
            "description": "Number of members to include in the response.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "projectsLimit",
            "in": "query",
            "description": "Number of projects to include in the response.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit how many access group should be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "next",
            "in": "query",
            "description": "Continuation cursor to retrieve the next page of results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object"
                    },
                    {
                      "type": "object",
                      "required": ["accessGroups", "pagination"],
                      "properties": {
                        "accessGroups": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "accessGroupId",
                              "createdAt",
                              "isDsyncManaged",
                              "membersCount",
                              "name",
                              "projectsCount",
                              "teamId",
                              "updatedAt"
                            ]
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "required": ["count", "next"],
                          "properties": {
                            "count": {
                              "type": "number"
                            },
                            "next": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createsAnAccessGroup",
        "summary": "Creates an access group",
        "description": "Allows to create an access group",
        "tags": ["access-groups"],
        "x-docs-url": "https://vercel.com/docs/rest-api/access-groups/creates-an-access-group",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the access group",
                    "pattern": "^[A-z0-9_ -]+$",
                    "maxLength": 50
                  },
                  "projects": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["role", "projectId"],
                      "properties": {
                        "projectId": {
                          "type": "string",
                          "description": "The ID of the project.",
                          "maxLength": 256
                        },
                        "role": {
                          "type": "string",
                          "description": "The project role that will be added to this Access Group. \"null\" will remove this project level role.",
                          "enum": [
                            "ADMIN",
                            "PROJECT_VIEWER",
                            "PROJECT_DEVELOPER",
                            null
                          ],
                          "nullable": true
                        }
                      }
                    }
                  },
                  "membersToAdd": {
                    "type": "array",
                    "description": "List of members to add to the access group.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessGroupId",
                    "createdAt",
                    "entitlements",
                    "membersCount",
                    "name",
                    "projectsCount",
                    "teamId",
                    "updatedAt"
                  ],
                  "properties": {
                    "entitlements": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": ["v0"]
                      }
                    },
                    "membersCount": {
                      "type": "number"
                    },
                    "projectsCount": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of this access group."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Timestamp in milliseconds when the access group was created."
                    },
                    "teamId": {
                      "type": "string",
                      "description": "ID of the team that this access group belongs to."
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "Timestamp in milliseconds when the access group was last updated."
                    },
                    "accessGroupId": {
                      "type": "string",
                      "description": "ID of the access group."
                    },
                    "teamRoles": {
                      "type": "array",
                      "description": "Roles that the team has in the access group.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "teamPermissions": {
                      "type": "array",
                      "description": "Permissions that the team has in the access group.",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/access-groups/{idOrName}/projects": {
      "get": {
        "operationId": "listProjectsOfAnAccessGroup",
        "summary": "List projects of an access group",
        "description": "List projects of an access group",
        "tags": ["access-groups"],
        "x-docs-url": "https://vercel.com/docs/rest-api/access-groups/list-projects-of-an-access-group",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "The ID or name of the Access Group.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit how many access group projects should be returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "next",
            "in": "query",
            "description": "Continuation cursor to retrieve the next page of results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["pagination", "projects"],
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "createdAt",
                          "project",
                          "projectId",
                          "role",
                          "updatedAt"
                        ],
                        "properties": {
                          "projectId": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "ADMIN",
                              "PROJECT_DEVELOPER",
                              "PROJECT_GUEST",
                              "PROJECT_VIEWER"
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "project": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "required": ["count", "next"],
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/access-groups/{accessGroupIdOrName}/projects": {
      "post": {
        "operationId": "createAnAccessGroupProject",
        "summary": "Create an access group project",
        "description": "Allows creation of an access group project",
        "tags": ["access-groups"],
        "x-docs-url": "https://vercel.com/docs/rest-api/access-groups/create-an-access-group-project",
        "parameters": [
          {
            "name": "accessGroupIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["role", "projectId"],
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "The ID of the project.",
                    "maxLength": 256
                  },
                  "role": {
                    "type": "string",
                    "description": "The project role that will be added to this Access Group.",
                    "enum": ["ADMIN", "PROJECT_VIEWER", "PROJECT_DEVELOPER"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessGroupId",
                    "createdAt",
                    "projectId",
                    "role",
                    "teamId",
                    "updatedAt"
                  ],
                  "properties": {
                    "teamId": {
                      "type": "string"
                    },
                    "accessGroupId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "ADMIN",
                        "PROJECT_DEVELOPER",
                        "PROJECT_GUEST",
                        "PROJECT_VIEWER"
                      ]
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/access-groups/{accessGroupIdOrName}/projects/{projectId}": {
      "get": {
        "operationId": "readsAnAccessGroupProject",
        "summary": "Reads an access group project",
        "description": "Allows reading an access group project",
        "tags": ["access-groups"],
        "x-docs-url": "https://vercel.com/docs/rest-api/access-groups/reads-an-access-group-project",
        "parameters": [
          {
            "name": "accessGroupIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessGroupId",
                    "createdAt",
                    "projectId",
                    "role",
                    "teamId",
                    "updatedAt"
                  ],
                  "properties": {
                    "teamId": {
                      "type": "string"
                    },
                    "accessGroupId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "ADMIN",
                        "PROJECT_DEVELOPER",
                        "PROJECT_GUEST",
                        "PROJECT_VIEWER"
                      ]
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateAnAccessGroupProject",
        "summary": "Update an access group project",
        "description": "Allows update of an access group project",
        "tags": ["access-groups"],
        "x-docs-url": "https://vercel.com/docs/rest-api/access-groups/update-an-access-group-project",
        "parameters": [
          {
            "name": "accessGroupIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["role"],
                "properties": {
                  "role": {
                    "type": "string",
                    "description": "The project role that will be added to this Access Group.",
                    "enum": [
                      "ADMIN",
                      "PROJECT_VIEWER",
                      "PROJECT_DEVELOPER",
                      null
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessGroupId",
                    "createdAt",
                    "projectId",
                    "role",
                    "teamId",
                    "updatedAt"
                  ],
                  "properties": {
                    "teamId": {
                      "type": "string"
                    },
                    "accessGroupId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "ADMIN",
                        "PROJECT_DEVELOPER",
                        "PROJECT_GUEST",
                        "PROJECT_VIEWER"
                      ]
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteAnAccessGroupProject",
        "summary": "Delete an access group project",
        "description": "Allows deletion of an access group project",
        "tags": ["access-groups"],
        "x-docs-url": "https://vercel.com/docs/rest-api/access-groups/delete-an-access-group-project",
        "parameters": [
          {
            "name": "accessGroupIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
