{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel ai-gateway",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/ai_gateway/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/ai-gateway/rules": {
      "get": {
        "operationId": "listRules",
        "summary": "List rules",
        "description": "List the authenticated team's routing rules",
        "tags": ["ai-gateway"],
        "x-docs-url": "https://vercel.com/docs/rest-api/ai-gateway/list-rules",
        "parameters": [
          {
            "name": "includeDisabled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["rules"],
                  "properties": {
                    "rules": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Public response shape for AI Gateway routing rules. Used so OpenAPI generation can avoid ElectroDB's recursive EntityItem types.",
                        "required": [
                          "createdAt",
                          "enabled",
                          "ownerId",
                          "ruleId",
                          "type",
                          "updatedAt"
                        ],
                        "properties": {
                          "ownerId": {
                            "type": "string"
                          },
                          "ruleId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": ["deny", "rewrite"]
                          },
                          "match": {
                            "type": "object"
                          },
                          "action": {
                            "type": "object"
                          },
                          "enabled": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "deleted": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "description": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "updatedBy": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createRule",
        "summary": "Create rule",
        "description": "Create a routing rule",
        "tags": ["ai-gateway"],
        "x-docs-url": "https://vercel.com/docs/rest-api/ai-gateway/create-rule",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Public response shape for AI Gateway routing rules. Used so OpenAPI generation can avoid ElectroDB's recursive EntityItem types.",
                  "required": [
                    "createdAt",
                    "enabled",
                    "ownerId",
                    "ruleId",
                    "type",
                    "updatedAt"
                  ],
                  "properties": {
                    "ownerId": {
                      "type": "string"
                    },
                    "ruleId": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": ["deny", "rewrite"]
                    },
                    "match": {
                      "type": "object",
                      "properties": {
                        "model": {
                          "type": "string"
                        }
                      }
                    },
                    "action": {
                      "type": "object",
                      "properties": {
                        "rewriteModel": {
                          "type": "string"
                        },
                        "reason": {
                          "type": "string"
                        }
                      }
                    },
                    "enabled": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "description": {
                      "type": "string"
                    },
                    "createdBy": {
                      "type": "string"
                    },
                    "updatedBy": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateRule",
        "summary": "Update rule",
        "description": "Update a routing rule (enabled, action, or description)",
        "tags": ["ai-gateway"],
        "x-docs-url": "https://vercel.com/docs/rest-api/ai-gateway/update-rule",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Public response shape for AI Gateway routing rules. Used so OpenAPI generation can avoid ElectroDB's recursive EntityItem types.",
                  "required": [
                    "createdAt",
                    "enabled",
                    "ownerId",
                    "ruleId",
                    "type",
                    "updatedAt"
                  ],
                  "properties": {
                    "ownerId": {
                      "type": "string"
                    },
                    "ruleId": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": ["deny", "rewrite"]
                    },
                    "match": {
                      "type": "object",
                      "properties": {
                        "model": {
                          "type": "string"
                        }
                      }
                    },
                    "action": {
                      "type": "object",
                      "properties": {
                        "rewriteModel": {
                          "type": "string"
                        },
                        "reason": {
                          "type": "string"
                        }
                      }
                    },
                    "enabled": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "description": {
                      "type": "string"
                    },
                    "createdBy": {
                      "type": "string"
                    },
                    "updatedBy": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteRule",
        "summary": "Delete rule",
        "description": "Delete a routing rule (soft delete)",
        "tags": ["ai-gateway"],
        "x-docs-url": "https://vercel.com/docs/rest-api/ai-gateway/delete-rule",
        "parameters": [
          {
            "name": "ruleId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    }
  }
}
