{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel aliases",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/aliases/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v2/deployments/{id}/aliases": {
      "get": {
        "operationId": "listDeploymentAliases",
        "summary": "List Deployment Aliases",
        "description": "Retrieves all Aliases for the Deployment with the given ID. The authenticated user or team must own the deployment.",
        "tags": ["aliases"],
        "x-docs-url": "https://vercel.com/docs/rest-api/aliases/list-deployment-aliases",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the deployment the aliases should be listed for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of aliases assigned to the deployment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["aliases"],
                  "properties": {
                    "aliases": {
                      "type": "array",
                      "description": "A list of the aliases assigned to the deployment",
                      "items": {
                        "type": "object",
                        "description": "A list of the aliases assigned to the deployment",
                        "required": ["alias", "created", "uid"],
                        "properties": {
                          "uid": {
                            "type": "string",
                            "description": "The unique identifier of the alias"
                          },
                          "alias": {
                            "type": "string",
                            "description": "The alias name, it could be a `.vercel.app` subdomain or a custom domain"
                          },
                          "created": {
                            "type": "string",
                            "description": "The date when the alias was created",
                            "format": "date-time"
                          },
                          "redirect": {
                            "type": "string",
                            "description": "Target destination domain for redirect when the alias is a redirect",
                            "nullable": true
                          },
                          "protectionBypass": {
                            "type": "object",
                            "description": "The protection bypass for the alias"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": "The deployment was not found"
          },
          "410": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "assignAnAlias",
        "summary": "Assign an Alias",
        "description": "Creates a new alias for the deployment resolved from the given deployment or alias ID or URL. The authenticated user or team must own this deployment. If the desired alias is already assigned to another deployment, then it will be removed from the old deployment and assigned to the new one.",
        "tags": ["aliases"],
        "x-docs-url": "https://vercel.com/docs/rest-api/aliases/assign-an-alias",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The deployment or alias ID or URL to assign from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "alias": {
                    "type": "string",
                    "description": "The alias we want to assign to the deployment defined in the URL"
                  },
                  "redirect": {
                    "type": "string",
                    "description": "The redirect property will take precedence over the deployment id from the URL and consists of a hostname (like test.com) to which the alias should redirect using status code 307",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The alias was successfully assigned to the deployment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["alias", "created", "uid"],
                  "properties": {
                    "uid": {
                      "type": "string",
                      "description": "The unique identifier of the alias"
                    },
                    "alias": {
                      "type": "string",
                      "description": "The assigned alias name"
                    },
                    "created": {
                      "type": "string",
                      "description": "The date when the alias was created",
                      "format": "date-time"
                    },
                    "oldDeploymentId": {
                      "type": "string",
                      "description": "The unique identifier of the previously aliased deployment, only received when the alias was used before",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid.\nThe cert for the provided alias is not ready\nThe deployment is not READY and can not be aliased\nThe supplied alias is invalid"
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource.\nIf no .vercel.app alias exists then we fail (nothing to mirror)"
          },
          "404": {
            "description": "The domain used for the alias was not found\nThe deployment was not found"
          },
          "409": {
            "description": "The provided alias is already assigned to the given deployment\nThe domain is not allowed to be used"
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v4/aliases": {
      "get": {
        "operationId": "listAliases",
        "summary": "List aliases",
        "description": "Retrieves a list of aliases for the authenticated User or Team. When `domain` is provided, only aliases for that domain will be returned. When `projectId` is provided, it will only return the given project aliases.",
        "tags": ["aliases"],
        "x-docs-url": "https://vercel.com/docs/rest-api/aliases/list-aliases",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Get only aliases of the given domain name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Get only aliases created after the provided timestamp",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of aliases to list from a request",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Filter aliases from the given `projectId`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Get aliases created after this JavaScript timestamp",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Get aliases created before this JavaScript timestamp",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "rollbackDeploymentId",
            "in": "query",
            "description": "Get aliases that would be rolled back for the given deployment",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The paginated list of aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["aliases", "pagination"],
                  "properties": {
                    "aliases": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "alias",
                          "created",
                          "deploymentId",
                          "projectId",
                          "uid"
                        ],
                        "properties": {
                          "alias": {
                            "type": "string",
                            "description": "The alias name, it could be a `.vercel.app` subdomain or a custom domain"
                          },
                          "created": {
                            "type": "string",
                            "description": "The date when the alias was created",
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The date when the alias was created in milliseconds since the UNIX epoch"
                          },
                          "creator": {
                            "type": "object",
                            "description": "Information of the user who created the alias",
                            "required": ["email", "uid", "username"]
                          },
                          "deletedAt": {
                            "type": "number",
                            "description": "The date when the alias was deleted in milliseconds since the UNIX epoch",
                            "nullable": true
                          },
                          "deployment": {
                            "type": "object",
                            "description": "A map with the deployment ID, URL and metadata",
                            "required": ["id", "url"]
                          },
                          "deploymentId": {
                            "type": "string",
                            "description": "The deployment ID",
                            "nullable": true
                          },
                          "projectId": {
                            "type": "string",
                            "description": "The unique identifier of the project",
                            "nullable": true
                          },
                          "redirect": {
                            "type": "string",
                            "description": "Target destination domain for redirect when the alias is a redirect",
                            "nullable": true
                          },
                          "redirectStatusCode": {
                            "type": "number",
                            "description": "Status code to be used on redirect",
                            "enum": [301, 302, 307, 308, null],
                            "nullable": true
                          },
                          "uid": {
                            "type": "string",
                            "description": "The unique identifier of the alias"
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The date when the alias was updated in milliseconds since the UNIX epoch"
                          },
                          "protectionBypass": {
                            "type": "object",
                            "description": "The protection bypass for the alias"
                          },
                          "microfrontends": {
                            "type": "object",
                            "description": "The microfrontends for the alias including the routing configuration",
                            "required": ["applications", "defaultApp"]
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "description": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data.",
                      "required": ["count", "next", "prev"],
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "Amount of items in the current page."
                        },
                        "next": {
                          "type": "number",
                          "description": "Timestamp that must be used to request the next page.",
                          "nullable": true
                        },
                        "prev": {
                          "type": "number",
                          "description": "Timestamp that must be used to request the previous page.",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v4/aliases/{idOrAlias}": {
      "get": {
        "operationId": "getAnAlias",
        "summary": "Get an Alias",
        "description": "Retrieves an Alias for the given host name or alias ID.",
        "tags": ["aliases"],
        "x-docs-url": "https://vercel.com/docs/rest-api/aliases/get-an-alias",
        "parameters": [
          {
            "name": "idOrAlias",
            "in": "path",
            "description": "The alias or alias ID to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Get the alias only if it was created after the provided timestamp",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Get the alias only if it is assigned to the provided project ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Get the alias only if it was created after this JavaScript timestamp",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Get the alias only if it was created before this JavaScript timestamp",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The alias information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "alias",
                    "created",
                    "deploymentId",
                    "projectId",
                    "uid"
                  ],
                  "properties": {
                    "alias": {
                      "type": "string",
                      "description": "The alias name, it could be a `.vercel.app` subdomain or a custom domain"
                    },
                    "created": {
                      "type": "string",
                      "description": "The date when the alias was created",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "The date when the alias was created in milliseconds since the UNIX epoch",
                      "nullable": true
                    },
                    "creator": {
                      "type": "object",
                      "description": "Information of the user who created the alias",
                      "required": ["email", "uid", "username"],
                      "properties": {
                        "uid": {
                          "type": "string",
                          "description": "ID of the user who created the alias"
                        },
                        "email": {
                          "type": "string",
                          "description": "Email of the user who created the alias"
                        },
                        "username": {
                          "type": "string",
                          "description": "Username of the user who created the alias"
                        }
                      }
                    },
                    "deletedAt": {
                      "type": "number",
                      "description": "The date when the alias was deleted in milliseconds since the UNIX epoch",
                      "nullable": true
                    },
                    "deployment": {
                      "type": "object",
                      "description": "A map with the deployment ID, URL and metadata",
                      "required": ["id", "url"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The deployment unique identifier"
                        },
                        "url": {
                          "type": "string",
                          "description": "The deployment unique URL"
                        },
                        "meta": {
                          "type": "string",
                          "description": "The deployment metadata"
                        }
                      }
                    },
                    "deploymentId": {
                      "type": "string",
                      "description": "The deployment ID",
                      "nullable": true
                    },
                    "projectId": {
                      "type": "string",
                      "description": "The unique identifier of the project",
                      "nullable": true
                    },
                    "redirect": {
                      "type": "string",
                      "description": "Target destination domain for redirect when the alias is a redirect",
                      "nullable": true
                    },
                    "redirectStatusCode": {
                      "type": "number",
                      "description": "Status code to be used on redirect",
                      "enum": [301, 302, 307, 308, null],
                      "nullable": true
                    },
                    "uid": {
                      "type": "string",
                      "description": "The unique identifier of the alias"
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "The date when the alias was updated in milliseconds since the UNIX epoch",
                      "nullable": true
                    },
                    "protectionBypass": {
                      "type": "object",
                      "description": "The protection bypass for the alias",
                      "additionalProperties": {
                        "oneOf": [
                          {
                            "type": "object",
                            "description": "The protection bypass for the alias",
                            "required": ["createdAt", "createdBy", "scope"]
                          },
                          {
                            "type": "object",
                            "description": "The protection bypass for the alias",
                            "required": [
                              "access",
                              "createdAt",
                              "lastUpdatedAt",
                              "lastUpdatedBy",
                              "scope"
                            ]
                          },
                          {
                            "type": "object",
                            "description": "The protection bypass for the alias",
                            "required": ["createdAt", "createdBy", "scope"]
                          },
                          {
                            "type": "object",
                            "description": "The protection bypass for the alias",
                            "required": [
                              "createdAt",
                              "lastUpdatedAt",
                              "lastUpdatedBy",
                              "scope"
                            ]
                          }
                        ]
                      }
                    },
                    "microfrontends": {
                      "type": "object",
                      "description": "The microfrontends for the alias including the routing configuration",
                      "required": ["applications", "defaultApp"],
                      "properties": {
                        "defaultApp": {
                          "type": "object",
                          "required": ["projectId"],
                          "properties": {
                            "projectId": {
                              "type": "string"
                            }
                          }
                        },
                        "applications": {
                          "oneOf": [
                            {
                              "type": "array",
                              "description": "A list of the deployment routing information for each project."
                            },
                            {
                              "type": "array",
                              "description": "A list of the deployment routing information for each project."
                            },
                            {
                              "type": "array",
                              "description": "A list of the deployment routing information for each project."
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": "The alias was not found"
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v2/aliases/{aliasId}": {
      "delete": {
        "operationId": "deleteAnAlias",
        "summary": "Delete an Alias",
        "description": "Delete an Alias with the specified ID.",
        "tags": ["aliases"],
        "x-docs-url": "https://vercel.com/docs/rest-api/aliases/delete-an-alias",
        "parameters": [
          {
            "name": "aliasId",
            "in": "path",
            "description": "The ID or alias that will be removed",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The alias was successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["SUCCESS"]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": "The alias was not found"
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/aliases/{id}/protection-bypass": {
      "patch": {
        "operationId": "updateTheProtectionBypassForAUrl",
        "summary": "Update the protection bypass for a URL",
        "description": "Update the protection bypass for the alias or deployment URL (used for user access & comment access for deployments). Used as shareable links and user scoped access for Vercel Authentication and also to allow external (logged in) people to comment on previews for Preview Comments (next-live-mode).",
        "tags": ["aliases"],
        "x-docs-url": "https://vercel.com/docs/rest-api/aliases/update-the-protection-bypass-for-a-url",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The alias or deployment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "ttl": {
                        "type": "number",
                        "description": "Optional time the shareable link is valid for in seconds. If not provided, the shareable link will never expire.",
                        "maximum": 63072000
                      },
                      "revoke": {
                        "type": "object",
                        "description": "Optional instructions for revoking and regenerating a shareable link",
                        "required": ["secret", "regenerate"],
                        "properties": {
                          "secret": {
                            "type": "string",
                            "description": "Sharebale link to revoked"
                          },
                          "regenerate": {
                            "type": "boolean",
                            "description": "Whether or not a new shareable link should be created after the provided secret is revoked"
                          }
                        }
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["scope"],
                    "properties": {
                      "scope": {
                        "type": "object",
                        "description": "Instructions for creating a user scoped protection bypass",
                        "properties": {
                          "userId": {
                            "type": "string",
                            "description": "Specified user id for the scoped bypass."
                          },
                          "email": {
                            "type": "string",
                            "description": "Specified email for the scoped bypass.",
                            "format": "email"
                          },
                          "access": {
                            "description": "Invitation status for the user scoped bypass.",
                            "enum": ["denied", "granted"]
                          }
                        },
                        "allOf": [
                          {},
                          {
                            "required": ["access"]
                          }
                        ]
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["override"],
                    "properties": {
                      "override": {
                        "type": "object",
                        "required": ["scope", "action"],
                        "properties": {
                          "scope": {
                            "enum": ["alias-protection-override"]
                          },
                          "action": {
                            "enum": ["create", "revoke"]
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "428": {
            "description": ""
          }
        }
      }
    }
  }
}
