{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel artifacts",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/artifacts/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v8/artifacts/events": {
      "post": {
        "operationId": "recordAnArtifactsCacheUsageEvent",
        "summary": "Record an artifacts cache usage event",
        "description": "Records an artifacts cache usage event. The body of this request is an array of cache usage events. The supported event types are `HIT` and `MISS`. The source is either `LOCAL` the cache event was on the users filesystem cache or `REMOTE` if the cache event is for a remote cache. When the event is a `HIT` the request also accepts a number `duration` which is the time taken to generate the artifact in the cache.",
        "tags": ["artifacts"],
        "x-docs-url": "https://vercel.com/docs/rest-api/artifacts/record-an-artifacts-cache-usage-event",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-Artifact-Client-Ci",
            "in": "header",
            "description": "The continuous integration or delivery environment where this artifact is downloaded.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "x-Artifact-Client-Interactive",
            "in": "header",
            "description": "1 if the client is an interactive shell. Otherwise 0",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["sessionId", "source", "hash", "event"],
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "A UUID (universally unique identifer) for the session that generated this event."
                    },
                    "source": {
                      "type": "string",
                      "description": "One of `LOCAL` or `REMOTE`. `LOCAL` specifies that the cache event was from the user's filesystem cache. `REMOTE` specifies that the cache event is from a remote cache.",
                      "enum": ["LOCAL", "REMOTE"]
                    },
                    "event": {
                      "type": "string",
                      "description": "One of `HIT` or `MISS`. `HIT` specifies that a cached artifact for `hash` was found in the cache. `MISS` specifies that a cached artifact with `hash` was not found.",
                      "enum": ["HIT", "MISS"]
                    },
                    "hash": {
                      "type": "string",
                      "description": "The artifact hash"
                    },
                    "duration": {
                      "type": "number",
                      "description": "The time taken to generate the artifact. This should be sent as a body parameter on `HIT` events."
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Event recorded."
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the headers is invalid"
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "The customer has reached their spend cap limit and has been paused. An owner can disable the cap or raise the limit in settings.\nThe Remote Caching usage limit has been reached for this account for this billing cycle.\nRemote Caching has been disabled for this team or user. An owner can enable it in the billing settings.\nYou do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v8/artifacts/status": {
      "get": {
        "operationId": "getStatusOfRemoteCachingForThisPrincipal",
        "summary": "Get status of Remote Caching for this principal",
        "description": "Check the status of Remote Caching for this principal. Returns a JSON-encoded status indicating if Remote Caching is enabled, disabled, or disabled due to usage limits.",
        "tags": ["artifacts"],
        "x-docs-url": "https://vercel.com/docs/rest-api/artifacts/get-status-of-remote-caching-for-this-principal",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": ["status"],
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["status"],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "disabled",
                            "enabled",
                            "over_limit",
                            "paused"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v8/artifacts/{hash}": {
      "get": {
        "operationId": "downloadACacheArtifact",
        "summary": "Download a cache artifact",
        "description": "Downloads a cache artifact indentified by its `hash` specified on the request path. The artifact is downloaded as an octet-stream. The client should verify the content-length header and response body.",
        "tags": ["artifacts"],
        "x-docs-url": "https://vercel.com/docs/rest-api/artifacts/download-a-cache-artifact",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "The artifact hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-Artifact-Client-Ci",
            "in": "header",
            "description": "The continuous integration or delivery environment where this artifact is downloaded.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "x-Artifact-Client-Interactive",
            "in": "header",
            "description": "1 if the client is an interactive shell. Otherwise 0",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The artifact was found and is downloaded as a stream. Content-Length should be verified.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "An octet stream response that will be piped to the response stream.",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid.\nOne of the provided values in the headers is invalid"
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "The customer has reached their spend cap limit and has been paused. An owner can disable the cap or raise the limit in settings.\nThe Remote Caching usage limit has been reached for this account for this billing cycle.\nRemote Caching has been disabled for this team or user. An owner can enable it in the billing settings.\nYou do not have permission to access this resource."
          },
          "404": {
            "description": "The artifact was not found"
          },
          "410": {
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "uploadACacheArtifact",
        "summary": "Upload a cache artifact",
        "description": "Uploads a cache artifact identified by the `hash` specified on the path. The cache artifact can then be downloaded with the provided `hash`.",
        "tags": ["artifacts"],
        "x-docs-url": "https://vercel.com/docs/rest-api/artifacts/upload-a-cache-artifact",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "The artifact hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-Length",
            "in": "header",
            "description": "The artifact size in bytes",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-Artifact-Duration",
            "in": "header",
            "description": "The time taken to generate the uploaded artifact in milliseconds.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-Artifact-Client-Ci",
            "in": "header",
            "description": "The continuous integration or delivery environment where this artifact was generated.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "x-Artifact-Client-Interactive",
            "in": "header",
            "description": "1 if the client is an interactive shell. Otherwise 0",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "name": "x-Artifact-Tag",
            "in": "header",
            "description": "The base64 encoded tag for this artifact. The value is sent back to clients when the artifact is downloaded as the header `x-artifact-tag`",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 600
            }
          },
          {
            "name": "x-Artifact-Sha",
            "in": "header",
            "description": "The SHA of the source control revision that generated this artifact.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "x-Artifact-Dirty-Hash",
            "in": "header",
            "description": "A hash representing uncommitted changes in the working directory when this artifact was generated.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "File successfully uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["urls"],
                  "properties": {
                    "urls": {
                      "type": "array",
                      "description": "Array of URLs where the artifact was updated",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid.\nOne of the provided values in the headers is invalid\nFile size is not valid"
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "The customer has reached their spend cap limit and has been paused. An owner can disable the cap or raise the limit in settings.\nThe Remote Caching usage limit has been reached for this account for this billing cycle.\nRemote Caching has been disabled for this team or user. An owner can enable it in the billing settings.\nYou do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "head": {
        "operationId": "checkIfACacheArtifactExists",
        "summary": "Check if a cache artifact exists",
        "description": "Check that a cache artifact with the given `hash` exists. This request returns response headers only and is equivalent to a `GET` request to this endpoint where the response contains no body.",
        "tags": ["artifacts"],
        "x-docs-url": "https://vercel.com/docs/rest-api/artifacts/check-if-a-cache-artifact-exists",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "The artifact hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The artifact was found and headers are returned"
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "The customer has reached their spend cap limit and has been paused. An owner can disable the cap or raise the limit in settings.\nThe Remote Caching usage limit has been reached for this account for this billing cycle.\nRemote Caching has been disabled for this team or user. An owner can enable it in the billing settings.\nYou do not have permission to access this resource."
          },
          "404": {
            "description": "The artifact was not found"
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v8/artifacts": {
      "post": {
        "operationId": "queryInformationAboutAnArtifact",
        "summary": "Query information about an artifact",
        "description": "Query information about an array of artifacts.",
        "tags": ["artifacts"],
        "x-docs-url": "https://vercel.com/docs/rest-api/artifacts/query-information-about-an-artifact",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hashes"],
                "properties": {
                  "hashes": {
                    "type": "array",
                    "description": "artifact hashes",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true,
                    "oneOf": [
                      {
                        "type": "object",
                        "required": ["size", "taskDurationMs"],
                        "properties": {
                          "size": {
                            "type": "number"
                          },
                          "taskDurationMs": {
                            "type": "number"
                          },
                          "tag": {
                            "type": "string"
                          },
                          "sha": {
                            "type": "string"
                          },
                          "dirtyHash": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": ["error"],
                        "properties": {
                          "error": {
                            "type": "object",
                            "required": ["message"]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "The customer has reached their spend cap limit and has been paused. An owner can disable the cap or raise the limit in settings.\nThe Remote Caching usage limit has been reached for this account for this billing cycle.\nRemote Caching has been disabled for this team or user. An owner can enable it in the billing settings.\nYou do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteAllCacheArtifacts",
        "summary": "Delete all cache artifacts",
        "description": "Deletes all cache artifacts stored for the authenticated team or user, clearing the Remote Cache. Subsequent builds will re-populate the cache.",
        "tags": ["artifacts"],
        "x-docs-url": "https://vercel.com/docs/rest-api/artifacts/delete-all-cache-artifacts",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. All cache artifacts for the account were deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["deletedCount"],
                  "properties": {
                    "deletedCount": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
