{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel authentication",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/authentication/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/integrations/sso/token": {
      "post": {
        "operationId": "ssoTokenExchange",
        "summary": "SSO Token Exchange",
        "description": "During the autorization process, Vercel sends the user to the provider [redirectLoginUrl](https://vercel.com/docs/integrations/create-integration/submit-integration#redirect-login-url), that includes the OAuth authorization `code` parameter. The provider then calls the SSO Token Exchange endpoint with the sent code and receives the OIDC token. They log the user in based on this token and redirects the user back to the Vercel account using deep-link parameters included the redirectLoginUrl. Providers should not persist the returned `id_token` in a database since the token will expire. See [**Authentication with SSO**](https://vercel.com/docs/integrations/create-integration/marketplace-api#authentication-with-sso) for more details.",
        "tags": ["authentication"],
        "x-docs-url": "https://vercel.com/docs/rest-api/authentication/sso-token-exchange",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "code",
                      "client_id",
                      "client_secret",
                      "grant_type"
                    ],
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "The sensitive code received from Vercel"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state received from the initialization request"
                      },
                      "client_id": {
                        "type": "string",
                        "description": "The integration client id"
                      },
                      "client_secret": {
                        "type": "string",
                        "description": "The integration client secret"
                      },
                      "redirect_uri": {
                        "type": "string",
                        "description": "The integration redirect URI"
                      },
                      "grant_type": {
                        "type": "string",
                        "description": "The grant type, when using x-www-form-urlencoded content type",
                        "enum": ["authorization_code"]
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "refresh_token",
                      "client_id",
                      "client_secret",
                      "grant_type"
                    ],
                    "properties": {
                      "refresh_token": {
                        "type": "string",
                        "description": "The refresh token received from previous token exchange"
                      },
                      "client_id": {
                        "type": "string",
                        "description": "The integration client id"
                      },
                      "client_secret": {
                        "type": "string",
                        "description": "The integration client secret"
                      },
                      "grant_type": {
                        "type": "string",
                        "description": "The grant type, when using x-www-form-urlencoded content type",
                        "enum": ["refresh_token"]
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": ["access_token", "id_token", "token_type"],
                      "properties": {
                        "id_token": {
                          "type": "string"
                        },
                        "token_type": {
                          "type": "string",
                          "nullable": true
                        },
                        "expires_in": {
                          "type": "number"
                        },
                        "access_token": {
                          "type": "string",
                          "nullable": true
                        },
                        "refresh_token": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "access_token",
                        "expires_in",
                        "id_token",
                        "refresh_token",
                        "token_type"
                      ],
                      "properties": {
                        "id_token": {
                          "type": "string"
                        },
                        "token_type": {
                          "type": "string"
                        },
                        "access_token": {
                          "type": "string"
                        },
                        "refresh_token": {
                          "type": "string"
                        },
                        "expires_in": {
                          "type": "number"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "403": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v6/user/tokens": {
      "get": {
        "operationId": "listAuthTokens",
        "summary": "List Auth Tokens",
        "description": "Retrieve a list of the current User's authentication tokens.",
        "tags": ["authentication"],
        "x-docs-url": "https://vercel.com/docs/rest-api/authentication/list-auth-tokens",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": ["pagination", "tokens"],
                      "properties": {
                        "tokens": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "Authentication token metadata.",
                            "required": [
                              "activeAt",
                              "createdAt",
                              "id",
                              "name",
                              "type"
                            ]
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "required": ["count", "next", "prev"],
                          "properties": {
                            "count": {
                              "type": "number"
                            },
                            "next": {
                              "type": "string",
                              "nullable": true
                            },
                            "prev": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["pagination", "tokens"],
                      "properties": {
                        "tokens": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "Authentication token metadata.",
                            "required": [
                              "activeAt",
                              "createdAt",
                              "id",
                              "name",
                              "type"
                            ]
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "description": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data.",
                          "required": ["count", "next", "prev"],
                          "properties": {
                            "count": {
                              "type": "number",
                              "description": "Amount of items in the current page."
                            },
                            "next": {
                              "type": "number",
                              "description": "Timestamp that must be used to request the next page.",
                              "nullable": true
                            },
                            "prev": {
                              "type": "number",
                              "description": "Timestamp that must be used to request the previous page.",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v3/user/tokens": {
      "post": {
        "operationId": "createAnAuthToken",
        "summary": "Create an Auth Token",
        "description": "Creates and returns a new authentication token for the currently authenticated User. The `bearerToken` property is only provided once, in the response body, so be sure to save it on the client for use with API requests.",
        "tags": ["authentication"],
        "x-docs-url": "https://vercel.com/docs/rest-api/authentication/create-an-auth-token",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "expiresAt": {
                    "type": "number"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "The ID of the project to scope this token to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Successful response.",
                  "required": ["bearerToken", "token"],
                  "properties": {
                    "token": {
                      "type": "object",
                      "description": "Authentication token metadata.",
                      "required": [
                        "activeAt",
                        "createdAt",
                        "id",
                        "name",
                        "type"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the token."
                        },
                        "name": {
                          "type": "string",
                          "description": "The human-readable name of the token."
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of the token."
                        },
                        "prefix": {
                          "type": "string",
                          "description": "The token's prefix, for identification purposes."
                        },
                        "suffix": {
                          "type": "string",
                          "description": "The last few characters of the token, for identification purposes."
                        },
                        "origin": {
                          "type": "string",
                          "description": "The origin of how the token was created."
                        },
                        "scopes": {
                          "type": "array",
                          "description": "The access scopes granted to the token.",
                          "items": {}
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the token was created."
                        },
                        "activeAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the token was most recently used."
                        },
                        "expiresAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the token expires."
                        },
                        "revokedAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the token was revoked."
                        },
                        "leakedAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the token was marked as leaked."
                        },
                        "leakedUrl": {
                          "type": "string",
                          "description": "URL where the token was discovered as leaked."
                        }
                      }
                    },
                    "bearerToken": {
                      "type": "string",
                      "description": "The authentication token's actual value. This token is only provided in this response, and can never be retrieved again in the future. Be sure to save it somewhere safe!"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v5/user/tokens/{tokenId}": {
      "get": {
        "operationId": "getAuthTokenMetadata",
        "summary": "Get Auth Token Metadata",
        "description": "Retrieve metadata about an authentication token belonging to the currently authenticated User.",
        "tags": ["authentication"],
        "x-docs-url": "https://vercel.com/docs/rest-api/authentication/get-auth-token-metadata",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "description": "The identifier of the token to retrieve. The special value \"current\" may be supplied, which returns the metadata for the token that the current HTTP request is authenticated with.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Successful response.",
                  "required": ["token"],
                  "properties": {
                    "token": {
                      "type": "object",
                      "description": "Authentication token metadata.",
                      "required": [
                        "activeAt",
                        "createdAt",
                        "id",
                        "name",
                        "type"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the token."
                        },
                        "name": {
                          "type": "string",
                          "description": "The human-readable name of the token."
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of the token."
                        },
                        "prefix": {
                          "type": "string",
                          "description": "The token's prefix, for identification purposes."
                        },
                        "suffix": {
                          "type": "string",
                          "description": "The last few characters of the token, for identification purposes."
                        },
                        "origin": {
                          "type": "string",
                          "description": "The origin of how the token was created."
                        },
                        "scopes": {
                          "type": "array",
                          "description": "The access scopes granted to the token.",
                          "items": {}
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the token was created."
                        },
                        "activeAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the token was most recently used."
                        },
                        "expiresAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the token expires."
                        },
                        "revokedAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the token was revoked."
                        },
                        "leakedAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the token was marked as leaked."
                        },
                        "leakedUrl": {
                          "type": "string",
                          "description": "URL where the token was discovered as leaked."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": "Token not found with the requested `tokenId`."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v3/user/tokens/{tokenId}": {
      "delete": {
        "operationId": "deleteAnAuthenticationToken",
        "summary": "Delete an authentication token",
        "description": "Invalidate an authentication token, such that it will no longer be valid for future HTTP requests.",
        "tags": ["authentication"],
        "x-docs-url": "https://vercel.com/docs/rest-api/authentication/delete-an-authentication-token",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "description": "The identifier of the token to invalidate. The special value \"current\" may be supplied, which invalidates the token that the HTTP request was authenticated with.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication token successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Authentication token successfully deleted.",
                  "required": ["tokenId"],
                  "properties": {
                    "tokenId": {
                      "type": "string",
                      "description": "The unique identifier of the token that was deleted."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": "Token not found with the requested `tokenId`."
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
