{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel billing",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/billing/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/billing/charges": {
      "get": {
        "operationId": "listFocusBillingCharges",
        "summary": "List FOCUS billing charges",
        "description": "Returns the billing charge data in FOCUS v1.3 JSONL format for a specified Vercel team, within a date range specified by `from` and `to` query parameters. Supports 1-day granularity with a maximum date range of 1 year. The response is streamed as newline-delimited JSON (JSONL) and can be optionally compressed with gzip if the `Accept-Encoding: gzip` header is provided. This is only available for Owner, Member, Developer, Security, Billing, and Enterprise Viewer roles for the supplied team.",
        "tags": ["billing"],
        "x-docs-url": "https://vercel.com/docs/rest-api/billing/list-focus-billing-charges",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Inclusive start of the date range as an ISO 8601 date-time string in UTC.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Exclusive end of the date range as an ISO 8601 date-time string in UTC.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/jsonl": {
                "schema": {
                  "type": "object",
                  "description": "Extension of the base schema for Focus charges. Includes pricing information for all customers.",
                  "required": [
                    "BilledCost",
                    "BillingCurrency",
                    "ChargeCategory",
                    "ChargePeriodEnd",
                    "ChargePeriodStart",
                    "ConsumedQuantity",
                    "ConsumedUnit",
                    "EffectiveCost",
                    "PricingCategory",
                    "PricingCurrency",
                    "PricingQuantity",
                    "PricingUnit",
                    "ServiceName",
                    "ServiceProviderName",
                    "Tags"
                  ],
                  "properties": {
                    "BilledCost": {
                      "type": "number",
                      "description": "Charge amount serving as the basis for invoicing"
                    },
                    "BillingCurrency": {
                      "type": "string",
                      "description": "Currency used for billing (ISO 4217)",
                      "enum": ["USD"]
                    },
                    "ChargeCategory": {
                      "type": "string",
                      "description": "Classification of the charge",
                      "enum": [
                        "Adjustment",
                        "Credit",
                        "Purchase",
                        "Tax",
                        "Usage"
                      ]
                    },
                    "ChargePeriodStart": {
                      "type": "string",
                      "description": "Inclusive start of the charge period (ISO 8601 UTC)"
                    },
                    "ChargePeriodEnd": {
                      "type": "string",
                      "description": "Exclusive end of the charge period (ISO 8601 UTC) - Required in v1.3"
                    },
                    "ConsumedQuantity": {
                      "type": "number",
                      "description": "Volume of resource consumed. Null when a charge does not involve measurable consumption quantity.",
                      "nullable": true
                    },
                    "ConsumedUnit": {
                      "type": "string",
                      "description": "Unit of measurement for consumed quantity. Null when the charge is not measured in units.",
                      "nullable": true
                    },
                    "EffectiveCost": {
                      "type": "number",
                      "description": "Amortized cost representation including discounts, pre-commitment credit purchase amount, etc."
                    },
                    "RegionId": {
                      "type": "string",
                      "description": "Provider-assigned region identifier"
                    },
                    "RegionName": {
                      "type": "string",
                      "description": "Display name for the region"
                    },
                    "ServiceName": {
                      "type": "string",
                      "description": "Display name for the service/product"
                    },
                    "ServiceCategory": {
                      "type": "string",
                      "description": "High-level category of the service",
                      "enum": [
                        "AI and Machine Learning",
                        "Analytics",
                        "Business Applications",
                        "Compute",
                        "Databases",
                        "Developer Tools",
                        "Identity",
                        "Integration",
                        "Internet of Things",
                        "Management and Governance",
                        "Media",
                        "Migration",
                        "Mobile",
                        "Multicloud",
                        "Networking",
                        "Other",
                        "Security",
                        "Storage",
                        "Web"
                      ]
                    },
                    "ServiceProviderName": {
                      "type": "string",
                      "description": "Entity making the resource/service available for purchase (v1.3)"
                    },
                    "Tags": {
                      "type": "object",
                      "description": "Charge metadata including the Vercel ProjectId and ProjectName information",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "PricingCategory": {
                      "type": "string",
                      "description": "Pricing model used for the charge.",
                      "enum": ["Committed", "Dynamic", "Other", "Standard"]
                    },
                    "PricingCurrency": {
                      "type": "string",
                      "enum": ["USD"]
                    },
                    "PricingQuantity": {
                      "type": "number"
                    },
                    "PricingUnit": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          },
          "503": {
            "description": ""
          }
        }
      }
    },
    "/v1/billing/contract-commitments": {
      "get": {
        "operationId": "listFocusContractCommitments",
        "summary": "List FOCUS contract commitments",
        "description": "Returns commitment allocations per contract period in FOCUS v1.3 JSONL format for a specified Vercel team. The response is streamed as newline-delimited JSON (JSONL). This endpoint is only applicable to Enterprise Vercel customers. An empty response is returned for non-Enterprise (Pro/Flex) customers.",
        "tags": ["billing"],
        "x-docs-url": "https://vercel.com/docs/rest-api/billing/list-focus-contract-commitments",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/jsonl": {
                "schema": {
                  "type": "object",
                  "description": "Contract commitment information describing terms within a contract. New in FOCUS v1.3 - tracks commitment terms separate from cost/usage rows. For Vercel: - Pro: $20 monthly spend commitment - Enterprise: MIU allocation per period (usage commitment)",
                  "required": [
                    "BillingCurrency",
                    "ContractCommitmentCategory",
                    "ContractCommitmentId",
                    "ContractCommitmentPeriodEnd",
                    "ContractCommitmentPeriodStart",
                    "ContractCommitmentType",
                    "ContractCommitmentUnit",
                    "ContractId",
                    "ContractPeriodEnd",
                    "ContractPeriodStart"
                  ],
                  "properties": {
                    "ContractCommitmentCategory": {
                      "type": "string",
                      "description": "Highest-level classification of the contract commitment. 'Spend' for Pro ($20/month), 'Usage' for Enterprise (MIU allocation).",
                      "enum": ["Spend", "Usage"]
                    },
                    "ContractCommitmentCost": {
                      "type": "number",
                      "description": "Monetary value of the contract commitment (in BillingCurrency). Required when ContractCommitmentCategory is 'Spend'. For Pro: 20 (USD)"
                    },
                    "ContractCommitmentDescription": {
                      "type": "string",
                      "description": "Self-contained summary of the contract commitment's terms"
                    },
                    "ContractCommitmentId": {
                      "type": "string",
                      "description": "Unique identifier for a single contract term within a contract. Maps to specific commitment period or allocation ID."
                    },
                    "ContractCommitmentPeriodStart": {
                      "type": "string",
                      "description": "Inclusive start of the commitment term period (ISO 8601 UTC)"
                    },
                    "ContractCommitmentPeriodEnd": {
                      "type": "string",
                      "description": "Exclusive end of the commitment term period (ISO 8601 UTC)"
                    },
                    "ContractCommitmentQuantity": {
                      "type": "number",
                      "description": "Amount associated with the commitment (in ContractCommitmentUnit). Required when ContractCommitmentCategory is 'Usage'. For Enterprise: MIU allocation amount."
                    },
                    "ContractCommitmentType": {
                      "type": "string",
                      "description": "Service-provider-assigned name identifying the commitment type. 'Pro' or 'Enterprise' for Vercel."
                    },
                    "ContractCommitmentUnit": {
                      "type": "string",
                      "description": "Measurement unit for ContractCommitmentQuantity. 'MIUs' for Enterprise, 'USD' for Pro spend commitments."
                    },
                    "ContractId": {
                      "type": "string",
                      "description": "Service-provider-assigned identifier for a contract. Maps to Orb Subscription ID for Vercel."
                    },
                    "ContractPeriodStart": {
                      "type": "string",
                      "description": "Inclusive start of the overall contract period (ISO 8601 UTC)"
                    },
                    "ContractPeriodEnd": {
                      "type": "string",
                      "description": "Exclusive end of the overall contract period (ISO 8601 UTC)"
                    },
                    "BillingCurrency": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/billing/buy": {
      "post": {
        "operationId": "purchaseCredits",
        "summary": "Purchase credits",
        "description": "Purchases credits for a Vercel team using the default payment method on file. The purchase is charged immediately via Stripe invoice. Supported credit types are `v0`, `gateway`, and `agent`. The `amount` field specifies the number of credits to purchase and must be a positive integer. An optional `source` query parameter can be provided to identify the caller. Defaults to `api` if not specified. This is only available for Owner, Member, Developer, Security, and Billing roles for the supplied team.",
        "tags": ["billing"],
        "x-docs-url": "https://vercel.com/docs/rest-api/billing/purchase-credits",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "description": "The source of the purchase request. Defaults to `api` if not specified.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["item"],
                "properties": {
                  "item": {
                    "type": "object",
                    "required": ["type", "creditType", "amount"],
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of item to purchase.",
                        "enum": ["credits"]
                      },
                      "creditType": {
                        "type": "string",
                        "description": "The type of credits to purchase.",
                        "enum": ["v0", "gateway", "agent"]
                      },
                      "amount": {
                        "type": "integer",
                        "description": "The amount of credits to purchase.",
                        "minimum": 1
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": ["checkoutSessionId", "checkoutSessionUrl"],
                      "properties": {
                        "checkoutSessionId": {
                          "type": "string"
                        },
                        "checkoutSessionUrl": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["purchaseIntent"],
                      "properties": {
                        "purchaseIntent": {
                          "type": "object",
                          "description": "The created purchase intent",
                          "required": [
                            "configuration",
                            "createdAt",
                            "currency",
                            "id",
                            "ownerId",
                            "provider",
                            "status",
                            "subtotal",
                            "tax",
                            "total",
                            "updatedAt"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique ID of a Purchase Intent. Uses the format `pur_*`"
                            },
                            "configuration": {},
                            "createdAt": {
                              "type": "string",
                              "description": "The datetime when the Purchase Intent was created."
                            },
                            "currency": {
                              "type": "string",
                              "description": "The currency for the purchase intent",
                              "enum": ["miu", "usd"]
                            },
                            "ownerId": {
                              "type": "string",
                              "description": "The ID of the owner of the Purchase Intent."
                            },
                            "provider": {
                              "type": "object",
                              "required": ["resourceId", "type"]
                            },
                            "status": {
                              "type": "string",
                              "description": "The status of the Purchase Intent.",
                              "enum": ["failed", "pending", "succeeded"]
                            },
                            "subtotal": {
                              "type": "string",
                              "description": "The subtotal of the Purchase Intent."
                            },
                            "tax": {
                              "type": "string",
                              "description": "The tax due on the Purchase Intent."
                            },
                            "total": {
                              "type": "string",
                              "description": "The total balance due on the Purchase Intent."
                            },
                            "updatedAt": {
                              "type": "string",
                              "description": "The datetime when the Purchase Intent was last updated."
                            },
                            "dispute": {
                              "type": "object",
                              "description": "The dispute details, if any.",
                              "required": [
                                "amount",
                                "createdAt",
                                "currency",
                                "id",
                                "providerId",
                                "reason",
                                "status",
                                "updatedAt"
                              ]
                            },
                            "lineItems": {
                              "type": "array",
                              "description": "The line items that make up the Purchase Intent."
                            },
                            "metadata": {
                              "type": "object",
                              "description": "Optional metadata associated with the purchase intent"
                            },
                            "refund": {
                              "type": "string",
                              "description": "The amount of the purchase intent that has been refunded"
                            },
                            "returnUrl": {
                              "type": "string",
                              "description": "The URL to redirect to after the purchase is complete"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["orbSubscriptionIntent"],
                      "properties": {
                        "orbSubscriptionIntent": {
                          "type": "object",
                          "required": [
                            "configuration",
                            "createdAt",
                            "id",
                            "orbSubscriptionId",
                            "ownerId",
                            "status",
                            "updatedAt"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The ID of the Orb subscription intent with the format `orbsubint_`."
                            },
                            "configuration": {},
                            "createdAt": {
                              "type": "string",
                              "description": "The ISO 8601 date-time that the intent was created."
                            },
                            "orbSubscriptionId": {
                              "type": "string",
                              "description": "The Orb subscription ID this intent is associated with."
                            },
                            "ownerId": {
                              "type": "string",
                              "description": "The owner ID for this intent (e.g., team or user ID)."
                            },
                            "status": {
                              "type": "string",
                              "description": "The status of the Orb subscription intent.",
                              "enum": ["failed", "pending", "succeeded"]
                            },
                            "updatedAt": {
                              "type": "string",
                              "description": "The ISO 8601 date-time that the intent was last updated."
                            },
                            "purchaseIntentId": {
                              "type": "string",
                              "description": "Optional purchase intent ID if this is associated with a purchase."
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    }
  }
}
