{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel bulk-redirects",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/bulk_redirects/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/bulk-redirects": {
      "get": {
        "operationId": "getsProjectLevelRedirects",
        "summary": "Gets project-level redirects.",
        "description": "Get the version history for a project's bulk redirects",
        "tags": ["bulk-redirects"],
        "x-docs-url": "https://vercel.com/docs/rest-api/bulk-redirects/gets-project-level-redirects",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "diff",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 250
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["source", "destination", "statusCode"]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "additionalProperties": true
                    },
                    {
                      "type": "object",
                      "required": ["pagination", "redirects", "version"],
                      "properties": {
                        "version": {
                          "type": "object",
                          "required": [
                            "createdBy",
                            "id",
                            "key",
                            "lastModified"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique identifier for the version."
                            },
                            "key": {
                              "type": "string",
                              "description": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version."
                            },
                            "lastModified": {
                              "type": "number"
                            },
                            "createdBy": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "description": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
                            },
                            "isStaging": {
                              "type": "boolean",
                              "description": "Whether this version has not been promoted to production yet and is not serving end users.",
                              "enum": [false, true]
                            },
                            "isLive": {
                              "type": "boolean",
                              "description": "Whether this version is currently live in production.",
                              "enum": [false, true]
                            },
                            "redirectCount": {
                              "type": "number",
                              "description": "The number of redirects in this version."
                            },
                            "alias": {
                              "type": "string",
                              "description": "The staging link for previewing redirects in this version."
                            }
                          }
                        },
                        "redirects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["destination", "source"]
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "required": ["numPages", "page", "per_page"],
                          "properties": {
                            "page": {
                              "type": "number"
                            },
                            "per_page": {
                              "type": "number"
                            },
                            "numPages": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["pagination", "redirects"],
                      "properties": {
                        "redirects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["destination", "source"]
                          }
                        },
                        "version": {
                          "type": "object",
                          "required": [
                            "createdBy",
                            "id",
                            "key",
                            "lastModified"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique identifier for the version."
                            },
                            "key": {
                              "type": "string",
                              "description": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version."
                            },
                            "lastModified": {
                              "type": "number"
                            },
                            "createdBy": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "description": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
                            },
                            "isStaging": {
                              "type": "boolean",
                              "description": "Whether this version has not been promoted to production yet and is not serving end users.",
                              "enum": [false, true]
                            },
                            "isLive": {
                              "type": "boolean",
                              "description": "Whether this version is currently live in production.",
                              "enum": [false, true]
                            },
                            "redirectCount": {
                              "type": "number",
                              "description": "The number of redirects in this version."
                            },
                            "alias": {
                              "type": "string",
                              "description": "The staging link for previewing redirects in this version."
                            }
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "required": ["numPages", "page", "per_page"],
                          "properties": {
                            "page": {
                              "type": "number"
                            },
                            "per_page": {
                              "type": "number"
                            },
                            "numPages": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "stagesNewRedirectsForAProject",
        "summary": "Stages new redirects for a project.",
        "description": "Stages new redirects for a project and returns the new version.",
        "tags": ["bulk-redirects"],
        "x-docs-url": "https://vercel.com/docs/rest-api/bulk-redirects/stages-new-redirects-for-a-project",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["projectId", "teamId"],
                "properties": {
                  "projectId": {
                    "type": "string"
                  },
                  "teamId": {
                    "type": "string"
                  },
                  "overwrite": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 256
                  },
                  "redirects": {
                    "type": "array",
                    "default": [],
                    "items": {
                      "type": "object",
                      "required": ["source", "destination"],
                      "properties": {
                        "source": {
                          "type": "string",
                          "maxLength": 2048
                        },
                        "destination": {
                          "type": "string",
                          "maxLength": 2048
                        },
                        "statusCode": {},
                        "permanent": {
                          "type": "boolean"
                        },
                        "caseSensitive": {
                          "type": "boolean"
                        },
                        "query": {
                          "type": "boolean"
                        },
                        "preserveQueryParams": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["alias", "version"],
                  "properties": {
                    "alias": {
                      "type": "string",
                      "nullable": true
                    },
                    "version": {
                      "type": "object",
                      "required": ["createdBy", "id", "key", "lastModified"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier for the version."
                        },
                        "key": {
                          "type": "string",
                          "description": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version."
                        },
                        "lastModified": {
                          "type": "number"
                        },
                        "createdBy": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "description": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
                        },
                        "isStaging": {
                          "type": "boolean",
                          "description": "Whether this version has not been promoted to production yet and is not serving end users.",
                          "enum": [false, true]
                        },
                        "isLive": {
                          "type": "boolean",
                          "description": "Whether this version is currently live in production.",
                          "enum": [false, true]
                        },
                        "redirectCount": {
                          "type": "number",
                          "description": "The number of redirects in this version."
                        },
                        "alias": {
                          "type": "string",
                          "description": "The staging link for previewing redirects in this version."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "editAProjectLevelRedirect",
        "summary": "Edit a project-level redirect.",
        "description": "Edits a single redirect identified by its source path. Stages a new change with the modified redirect and returns the alias for the new version in the response.",
        "tags": ["bulk-redirects"],
        "x-docs-url": "https://vercel.com/docs/rest-api/bulk-redirects/edit-a-project-level-redirect",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["redirect"],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 256
                  },
                  "redirect": {
                    "type": "object",
                    "description": "The redirect object to edit. The source field is used to match the redirect to modify.",
                    "required": ["source"],
                    "properties": {
                      "source": {
                        "type": "string"
                      },
                      "destination": {
                        "type": "string"
                      },
                      "statusCode": {
                        "type": "number"
                      },
                      "permanent": {
                        "type": "boolean"
                      },
                      "caseSensitive": {
                        "type": "boolean"
                      },
                      "query": {
                        "type": "boolean"
                      },
                      "preserveQueryParams": {
                        "type": "boolean"
                      }
                    }
                  },
                  "restore": {
                    "type": "boolean",
                    "description": "If true, restores the redirect from the latest production version to staging."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["alias", "version"],
                  "properties": {
                    "alias": {
                      "type": "string",
                      "nullable": true
                    },
                    "version": {
                      "type": "object",
                      "required": ["createdBy", "id", "key", "lastModified"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier for the version."
                        },
                        "key": {
                          "type": "string",
                          "description": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version."
                        },
                        "lastModified": {
                          "type": "number"
                        },
                        "createdBy": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "description": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
                        },
                        "isStaging": {
                          "type": "boolean",
                          "description": "Whether this version has not been promoted to production yet and is not serving end users.",
                          "enum": [false, true]
                        },
                        "isLive": {
                          "type": "boolean",
                          "description": "Whether this version is currently live in production.",
                          "enum": [false, true]
                        },
                        "redirectCount": {
                          "type": "number",
                          "description": "The number of redirects in this version."
                        },
                        "alias": {
                          "type": "string",
                          "description": "The staging link for previewing redirects in this version."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteProjectLevelRedirects",
        "summary": "Delete project-level redirects.",
        "description": "Deletes the provided redirects from the latest version of the projects' bulk redirects. Stages a new change with the new redirects and returns the alias for the new version in the response.",
        "tags": ["bulk-redirects"],
        "x-docs-url": "https://vercel.com/docs/rest-api/bulk-redirects/delete-project-level-redirects",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["redirects"],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 256
                  },
                  "redirects": {
                    "type": "array",
                    "description": "The redirects to delete. The source of the redirect is used to match the redirect to delete.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": ["version"],
                      "properties": {
                        "alias": {
                          "type": "string"
                        },
                        "version": {
                          "type": "object",
                          "required": [
                            "createdBy",
                            "id",
                            "key",
                            "lastModified"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique identifier for the version."
                            },
                            "key": {
                              "type": "string",
                              "description": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version."
                            },
                            "lastModified": {
                              "type": "number"
                            },
                            "createdBy": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "description": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
                            },
                            "isStaging": {
                              "type": "boolean",
                              "description": "Whether this version has not been promoted to production yet and is not serving end users.",
                              "enum": [false, true]
                            },
                            "isLive": {
                              "type": "boolean",
                              "description": "Whether this version is currently live in production.",
                              "enum": [false, true]
                            },
                            "redirectCount": {
                              "type": "number",
                              "description": "The number of redirects in this version."
                            },
                            "alias": {
                              "type": "string",
                              "description": "The staging link for previewing redirects in this version."
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["alias", "version"],
                      "properties": {
                        "alias": {
                          "nullable": true
                        },
                        "version": {
                          "type": "object",
                          "required": [
                            "createdBy",
                            "id",
                            "key",
                            "lastModified"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique identifier for the version."
                            },
                            "key": {
                              "type": "string",
                              "description": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version."
                            },
                            "lastModified": {
                              "type": "number"
                            },
                            "createdBy": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "description": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
                            },
                            "isStaging": {
                              "type": "boolean",
                              "description": "Whether this version has not been promoted to production yet and is not serving end users.",
                              "enum": [false, true]
                            },
                            "isLive": {
                              "type": "boolean",
                              "description": "Whether this version is currently live in production.",
                              "enum": [false, true]
                            },
                            "redirectCount": {
                              "type": "number",
                              "description": "The number of redirects in this version."
                            },
                            "alias": {
                              "type": "string",
                              "description": "The staging link for previewing redirects in this version."
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["alias", "version"],
                      "properties": {
                        "alias": {
                          "type": "string",
                          "nullable": true
                        },
                        "version": {
                          "type": "object",
                          "required": [
                            "createdBy",
                            "id",
                            "key",
                            "lastModified"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique identifier for the version."
                            },
                            "key": {
                              "type": "string",
                              "description": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version."
                            },
                            "lastModified": {
                              "type": "number"
                            },
                            "createdBy": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "description": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
                            },
                            "isStaging": {
                              "type": "boolean",
                              "description": "Whether this version has not been promoted to production yet and is not serving end users.",
                              "enum": [false, true]
                            },
                            "isLive": {
                              "type": "boolean",
                              "description": "Whether this version is currently live in production.",
                              "enum": [false, true]
                            },
                            "redirectCount": {
                              "type": "number",
                              "description": "The number of redirects in this version."
                            },
                            "alias": {
                              "type": "string",
                              "description": "The staging link for previewing redirects in this version."
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/bulk-redirects/restore": {
      "post": {
        "operationId": "restoreStagedProjectLevelRedirectsToTheirProductionVersion",
        "summary": "Restore staged project-level redirects to their production version.",
        "description": "Restores the provided redirects in the staging version to the value in the production version. If no production version exists, removes the redirects from staging.",
        "tags": ["bulk-redirects"],
        "x-docs-url": "https://vercel.com/docs/rest-api/bulk-redirects/restore-staged-project-level-redirects-to-their-production-version",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["redirects"],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 256
                  },
                  "redirects": {
                    "type": "array",
                    "description": "The redirects to restore. The source of the redirect is used to match the redirect to restore.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["failedToRestore", "restored", "version"],
                  "properties": {
                    "version": {
                      "type": "object",
                      "required": ["createdBy", "id", "key", "lastModified"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier for the version."
                        },
                        "key": {
                          "type": "string",
                          "description": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version."
                        },
                        "lastModified": {
                          "type": "number"
                        },
                        "createdBy": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "description": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
                        },
                        "isStaging": {
                          "type": "boolean",
                          "description": "Whether this version has not been promoted to production yet and is not serving end users.",
                          "enum": [false, true]
                        },
                        "isLive": {
                          "type": "boolean",
                          "description": "Whether this version is currently live in production.",
                          "enum": [false, true]
                        },
                        "redirectCount": {
                          "type": "number",
                          "description": "The number of redirects in this version."
                        },
                        "alias": {
                          "type": "string",
                          "description": "The staging link for previewing redirects in this version."
                        }
                      }
                    },
                    "restored": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "failedToRestore": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/bulk-redirects/versions": {
      "get": {
        "operationId": "getTheVersionHistoryForAProjectSRedirects",
        "summary": "Get the version history for a project's redirects.",
        "description": "Get the version history for a project's bulk redirects",
        "tags": ["bulk-redirects"],
        "x-docs-url": "https://vercel.com/docs/rest-api/bulk-redirects/get-the-version-history-for-a-project-s-redirects",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["versions"],
                  "properties": {
                    "versions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["createdBy", "id", "key", "lastModified"],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier for the version."
                          },
                          "key": {
                            "type": "string",
                            "description": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version."
                          },
                          "lastModified": {
                            "type": "number"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string",
                            "description": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
                          },
                          "isStaging": {
                            "type": "boolean",
                            "description": "Whether this version has not been promoted to production yet and is not serving end users.",
                            "enum": [false, true]
                          },
                          "isLive": {
                            "type": "boolean",
                            "description": "Whether this version is currently live in production.",
                            "enum": [false, true]
                          },
                          "redirectCount": {
                            "type": "number",
                            "description": "The number of redirects in this version."
                          },
                          "alias": {
                            "type": "string",
                            "description": "The staging link for previewing redirects in this version."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "promoteAStagingVersionToProductionOrRestoreAPreviousProductionVersion",
        "summary": "Promote a staging version to production or restore a previous production version.",
        "description": "Update a version by promoting staging to production or restoring a previous production version",
        "tags": ["bulk-redirects"],
        "x-docs-url": "https://vercel.com/docs/rest-api/bulk-redirects/promote-a-staging-version-to-production-or-restore-a-previous-production-version",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "action"],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "action": {
                    "type": "string",
                    "enum": ["promote", "restore", "discard"]
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 256
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["version"],
                  "properties": {
                    "version": {
                      "type": "object",
                      "required": ["createdBy", "id", "key", "lastModified"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier for the version."
                        },
                        "key": {
                          "type": "string",
                          "description": "The key of the version. The key may be duplicated across versions if the contents are the same as a different version."
                        },
                        "lastModified": {
                          "type": "number"
                        },
                        "createdBy": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "description": "Optional name for the version. If not provided, defaults to an ISO timestamp string."
                        },
                        "isStaging": {
                          "type": "boolean",
                          "description": "Whether this version has not been promoted to production yet and is not serving end users.",
                          "enum": [false, true]
                        },
                        "isLive": {
                          "type": "boolean",
                          "description": "Whether this version is currently live in production.",
                          "enum": [false, true]
                        },
                        "redirectCount": {
                          "type": "number",
                          "description": "The number of redirects in this version."
                        },
                        "alias": {
                          "type": "string",
                          "description": "The staging link for previewing redirects in this version."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    }
  }
}
