{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel certs",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/certs/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v8/certs/{id}": {
      "get": {
        "operationId": "getCertById",
        "summary": "Get cert by id",
        "description": "Get cert by id",
        "tags": ["certs"],
        "x-docs-url": "https://vercel.com/docs/rest-api/certs/get-cert-by-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The cert id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "autoRenew",
                    "cns",
                    "createdAt",
                    "expiresAt",
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "expiresAt": {
                      "type": "number"
                    },
                    "autoRenew": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "cns": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "removeCert",
        "summary": "Remove cert",
        "description": "Remove cert",
        "tags": ["certs"],
        "x-docs-url": "https://vercel.com/docs/rest-api/certs/remove-cert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The cert id to remove",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v8/certs": {
      "get": {
        "operationId": "getCerts",
        "summary": "Get certs",
        "description": "Get certs",
        "tags": ["certs"],
        "x-docs-url": "https://vercel.com/docs/rest-api/certs/get-certs",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["certs", "pagination"],
                  "properties": {
                    "certs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "autoRenew",
                          "cns",
                          "createdAt",
                          "expiresAt",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "expiresAt": {
                            "type": "number"
                          },
                          "autoRenew": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "cns": {
                            "type": "array"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "description": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data.",
                      "required": ["count", "next", "prev"],
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "Amount of items in the current page."
                        },
                        "next": {
                          "type": "number",
                          "description": "Timestamp that must be used to request the next page.",
                          "nullable": true
                        },
                        "prev": {
                          "type": "number",
                          "description": "Timestamp that must be used to request the previous page.",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "issueANewCert",
        "summary": "Issue a new cert",
        "description": "Issue a new cert",
        "tags": ["certs"],
        "x-docs-url": "https://vercel.com/docs/rest-api/certs/issue-a-new-cert",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cns": {
                    "type": "array",
                    "description": "The common names the cert should be issued for",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "autoRenew",
                    "cns",
                    "createdAt",
                    "expiresAt",
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "expiresAt": {
                      "type": "number"
                    },
                    "autoRenew": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "cns": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "449": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "uploadACert",
        "summary": "Upload a cert",
        "description": "Upload a cert",
        "tags": ["certs"],
        "x-docs-url": "https://vercel.com/docs/rest-api/certs/upload-a-cert",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ca", "key", "cert"],
                "properties": {
                  "ca": {
                    "type": "string",
                    "description": "The certificate authority"
                  },
                  "key": {
                    "type": "string",
                    "description": "The certificate key"
                  },
                  "cert": {
                    "type": "string",
                    "description": "The certificate"
                  },
                  "skipValidation": {
                    "type": "boolean",
                    "description": "Skip validation of the certificate"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "autoRenew",
                    "cns",
                    "createdAt",
                    "expiresAt",
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "expiresAt": {
                      "type": "number"
                    },
                    "autoRenew": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "cns": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "This feature is only available for Enterprise customers."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
