{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel checks-v2",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/checks_v2/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v2/projects/{projectIdOrName}/checks": {
      "get": {
        "operationId": "listAllChecksForAProject",
        "summary": "List all checks for a project",
        "description": "List all checks for a project, optionally filtered by target.",
        "tags": ["checks-v2"],
        "x-docs-url": "https://vercel.com/docs/rest-api/checks-v2/list-all-checks-for-a-project",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blocks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "build-start",
                "deployment-start",
                "deployment-alias",
                "deployment-promotion",
                "none"
              ]
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["checks"],
                  "properties": {
                    "checks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "blocks",
                          "createdAt",
                          "id",
                          "isRerequestable",
                          "name",
                          "ownerId",
                          "projectId",
                          "requires",
                          "source",
                          "sourceKind",
                          "targets",
                          "timeout",
                          "updatedAt"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "isRerequestable": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "requires": {
                            "type": "string",
                            "enum": ["build-ready", "deployment-url", "none"]
                          },
                          "source": {},
                          "blocks": {
                            "type": "string",
                            "enum": [
                              "build-start",
                              "deployment-alias",
                              "deployment-promotion",
                              "deployment-start",
                              "none"
                            ]
                          },
                          "targets": {
                            "type": "array"
                          },
                          "sourceKind": {
                            "type": "string",
                            "enum": [
                              "git-provider",
                              "integration",
                              "vercel",
                              "webhook",
                              "integration",
                              "webhook",
                              "git-provider"
                            ]
                          },
                          "sourceIntegrationConfigurationId": {
                            "type": "string"
                          },
                          "timeout": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "deletedAt": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createACheck",
        "summary": "Create a check",
        "description": "Creates a new check for a project.",
        "tags": ["checks-v2"],
        "x-docs-url": "https://vercel.com/docs/rest-api/checks-v2/create-a-check",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "requires"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "isRerequestable": {
                    "type": "boolean"
                  },
                  "requires": {
                    "type": "string",
                    "enum": ["build-ready", "deployment-url", "none"],
                    "default": "deployment-url"
                  },
                  "targets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "blocks": {
                    "type": "string",
                    "enum": [
                      "build-start",
                      "deployment-start",
                      "deployment-alias",
                      "deployment-promotion",
                      "none"
                    ],
                    "default": "deployment-alias"
                  },
                  "source": {
                    "type": "object",
                    "oneOf": [
                      {
                        "properties": {
                          "kind": {
                            "type": "string",
                            "default": "integration"
                          },
                          "externalResourceId": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "required": ["kind"],
                        "properties": {
                          "kind": {
                            "type": "string"
                          },
                          "webhookId": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "required": ["kind", "externalCheckName", "provider"],
                        "properties": {
                          "kind": {
                            "type": "string"
                          },
                          "externalCheckName": {
                            "type": "string"
                          },
                          "provider": {
                            "type": "string",
                            "enum": ["github"]
                          }
                        }
                      }
                    ]
                  },
                  "timeout": {
                    "type": "number",
                    "default": 300
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "blocks",
                    "createdAt",
                    "id",
                    "isRerequestable",
                    "name",
                    "ownerId",
                    "projectId",
                    "requires",
                    "source",
                    "sourceKind",
                    "targets",
                    "timeout",
                    "updatedAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "isRerequestable": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "requires": {
                      "type": "string",
                      "enum": ["build-ready", "deployment-url", "none"]
                    },
                    "source": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": [
                            "integrationConfigurationId",
                            "integrationId",
                            "kind"
                          ],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": ["integration"]
                            },
                            "integrationId": {
                              "type": "string"
                            },
                            "integrationConfigurationId": {
                              "type": "string"
                            },
                            "resourceId": {
                              "type": "string"
                            },
                            "externalResourceId": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["kind"],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": ["webhook"]
                            },
                            "webhookId": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["externalCheckName", "kind", "provider"],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": ["git-provider"]
                            },
                            "provider": {
                              "type": "string",
                              "enum": ["bitbucket", "github", "gitlab"]
                            },
                            "externalCheckName": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "blocks": {
                      "type": "string",
                      "enum": [
                        "build-start",
                        "deployment-alias",
                        "deployment-promotion",
                        "deployment-start",
                        "none"
                      ]
                    },
                    "targets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "sourceKind": {
                      "type": "string",
                      "enum": [
                        "git-provider",
                        "integration",
                        "vercel",
                        "webhook",
                        "integration",
                        "webhook",
                        "git-provider"
                      ]
                    },
                    "sourceIntegrationConfigurationId": {
                      "type": "string"
                    },
                    "timeout": {
                      "type": "number"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "deletedAt": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v2/projects/{projectIdOrName}/checks/{checkId}": {
      "get": {
        "operationId": "getACheck",
        "summary": "Get a check",
        "description": "Return a detailed response for a single check.",
        "tags": ["checks-v2"],
        "x-docs-url": "https://vercel.com/docs/rest-api/checks-v2/get-a-check",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkId",
            "in": "path",
            "description": "The ID of the resource that will be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "blocks",
                    "createdAt",
                    "id",
                    "isRerequestable",
                    "name",
                    "ownerId",
                    "projectId",
                    "requires",
                    "source",
                    "sourceKind",
                    "targets",
                    "timeout",
                    "updatedAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "isRerequestable": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "requires": {
                      "type": "string",
                      "enum": ["build-ready", "deployment-url", "none"]
                    },
                    "source": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": [
                            "integrationConfigurationId",
                            "integrationId",
                            "kind"
                          ],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": ["integration"]
                            },
                            "integrationId": {
                              "type": "string"
                            },
                            "integrationConfigurationId": {
                              "type": "string"
                            },
                            "resourceId": {
                              "type": "string"
                            },
                            "externalResourceId": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["kind"],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": ["webhook"]
                            },
                            "webhookId": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["externalCheckName", "kind", "provider"],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": ["git-provider"]
                            },
                            "provider": {
                              "type": "string",
                              "enum": ["bitbucket", "github", "gitlab"]
                            },
                            "externalCheckName": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "blocks": {
                      "type": "string",
                      "enum": [
                        "build-start",
                        "deployment-alias",
                        "deployment-promotion",
                        "deployment-start",
                        "none"
                      ]
                    },
                    "targets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "sourceKind": {
                      "type": "string",
                      "enum": [
                        "git-provider",
                        "integration",
                        "vercel",
                        "webhook",
                        "integration",
                        "webhook",
                        "git-provider"
                      ]
                    },
                    "sourceIntegrationConfigurationId": {
                      "type": "string"
                    },
                    "timeout": {
                      "type": "number"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "deletedAt": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateACheck",
        "summary": "Update a check",
        "description": "Update an existing check.",
        "tags": ["checks-v2"],
        "x-docs-url": "https://vercel.com/docs/rest-api/checks-v2/update-a-check",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "isRerequestable": {
                    "type": "boolean"
                  },
                  "requires": {
                    "type": "string",
                    "enum": ["build-ready", "deployment-url"],
                    "default": "deployment-url"
                  },
                  "targets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "blocks": {
                    "type": "string",
                    "enum": [
                      "build-start",
                      "deployment-start",
                      "deployment-alias",
                      "deployment-promotion",
                      "none"
                    ],
                    "default": "deployment-alias"
                  },
                  "timeout": {
                    "type": "number",
                    "default": 300
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "blocks",
                    "createdAt",
                    "id",
                    "isRerequestable",
                    "name",
                    "ownerId",
                    "projectId",
                    "requires",
                    "source",
                    "sourceKind",
                    "targets",
                    "timeout",
                    "updatedAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "isRerequestable": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "requires": {
                      "type": "string",
                      "enum": ["build-ready", "deployment-url", "none"]
                    },
                    "source": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": [
                            "integrationConfigurationId",
                            "integrationId",
                            "kind"
                          ],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": ["integration"]
                            },
                            "integrationId": {
                              "type": "string"
                            },
                            "integrationConfigurationId": {
                              "type": "string"
                            },
                            "resourceId": {
                              "type": "string"
                            },
                            "externalResourceId": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["kind"],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": ["webhook"]
                            },
                            "webhookId": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["externalCheckName", "kind", "provider"],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": ["git-provider"]
                            },
                            "provider": {
                              "type": "string",
                              "enum": ["bitbucket", "github", "gitlab"]
                            },
                            "externalCheckName": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "blocks": {
                      "type": "string",
                      "enum": [
                        "build-start",
                        "deployment-alias",
                        "deployment-promotion",
                        "deployment-start",
                        "none"
                      ]
                    },
                    "targets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "sourceKind": {
                      "type": "string",
                      "enum": [
                        "git-provider",
                        "integration",
                        "vercel",
                        "webhook",
                        "integration",
                        "webhook",
                        "git-provider"
                      ]
                    },
                    "sourceIntegrationConfigurationId": {
                      "type": "string"
                    },
                    "timeout": {
                      "type": "number"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "deletedAt": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteACheck",
        "summary": "Delete a check",
        "description": "Delete an existing check and all of its runs.",
        "tags": ["checks-v2"],
        "x-docs-url": "https://vercel.com/docs/rest-api/checks-v2/delete-a-check",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v2/projects/{projectIdOrName}/checks/{checkId}/runs": {
      "get": {
        "operationId": "listRunsForACheck",
        "summary": "List runs for a check",
        "description": "List all runs associated with a given check.",
        "tags": ["checks-v2"],
        "x-docs-url": "https://vercel.com/docs/rest-api/checks-v2/list-runs-for-a-check",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkId",
            "in": "path",
            "description": "The ID of the resource that will be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["runs"],
                  "properties": {
                    "runs": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "description": "Check run backed by a project-level `check` definition.",
                            "required": [
                              "checkId",
                              "createdAt",
                              "deploymentId",
                              "id",
                              "name",
                              "ownerId",
                              "source",
                              "status",
                              "timeout",
                              "updatedAt"
                            ]
                          },
                          {
                            "type": "object",
                            "description": "Vercel CI check run without a parent `check` (no `checkId` field).",
                            "required": [
                              "createdAt",
                              "deploymentId",
                              "id",
                              "name",
                              "ownerId",
                              "source",
                              "status",
                              "timeout",
                              "updatedAt"
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v2/deployments/{deploymentId}/check-runs": {
      "get": {
        "operationId": "listCheckRunsForADeployment",
        "summary": "List check runs for a deployment",
        "description": "List all check runs for a deployment.",
        "tags": ["checks-v2"],
        "x-docs-url": "https://vercel.com/docs/rest-api/checks-v2/list-check-runs-for-a-deployment",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["runs"],
                  "properties": {
                    "runs": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "description": "Check run backed by a project-level `check` definition.",
                            "required": [
                              "checkId",
                              "createdAt",
                              "deploymentId",
                              "id",
                              "name",
                              "ownerId",
                              "source",
                              "status",
                              "timeout",
                              "updatedAt"
                            ]
                          },
                          {
                            "type": "object",
                            "description": "Vercel CI check run without a parent `check` (no `checkId` field).",
                            "required": [
                              "createdAt",
                              "deploymentId",
                              "id",
                              "name",
                              "ownerId",
                              "source",
                              "status",
                              "timeout",
                              "updatedAt"
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createACheckRun",
        "summary": "Create a check run",
        "description": "Creates a new check run for a deployment.",
        "tags": ["checks-v2"],
        "x-docs-url": "https://vercel.com/docs/rest-api/checks-v2/create-a-check-run",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["checkId"],
                "properties": {
                  "checkId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Check run backed by a project-level `check` definition.",
                      "required": [
                        "checkId",
                        "createdAt",
                        "deploymentId",
                        "id",
                        "name",
                        "ownerId",
                        "source",
                        "status",
                        "timeout",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "deploymentId": {
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "requires": {
                          "type": "string",
                          "enum": ["build-ready", "deployment-url", "none"]
                        },
                        "blocks": {
                          "type": "string",
                          "enum": [
                            "build-start",
                            "deployment-alias",
                            "deployment-promotion",
                            "deployment-start",
                            "none"
                          ]
                        },
                        "targets": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": ["completed", "queued", "running"]
                        },
                        "conclusion": {
                          "type": "string",
                          "enum": [
                            "canceled",
                            "failed",
                            "neutral",
                            "skipped",
                            "succeeded",
                            "timeout"
                          ]
                        },
                        "conclusionText": {
                          "type": "string"
                        },
                        "externalId": {
                          "type": "string"
                        },
                        "externalUrl": {
                          "type": "string"
                        },
                        "output": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "timeout": {
                          "type": "number"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "completedAt": {
                          "type": "number"
                        },
                        "checkId": {
                          "type": "string"
                        },
                        "source": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "integrationConfigurationId",
                                "integrationId",
                                "kind"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["kind"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "externalCheckName",
                                "kind",
                                "provider"
                              ]
                            },
                            {
                              "type": "object",
                              "description": "Native Vercel checks — check definition and check run `source`."
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Vercel CI check run without a parent `check` (no `checkId` field).",
                      "required": [
                        "createdAt",
                        "deploymentId",
                        "id",
                        "name",
                        "ownerId",
                        "source",
                        "status",
                        "timeout",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "deploymentId": {
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "requires": {
                          "type": "string",
                          "enum": ["build-ready", "deployment-url", "none"]
                        },
                        "blocks": {
                          "type": "string",
                          "enum": [
                            "build-start",
                            "deployment-alias",
                            "deployment-promotion",
                            "deployment-start",
                            "none"
                          ]
                        },
                        "targets": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": ["completed", "queued", "running"]
                        },
                        "conclusion": {
                          "type": "string",
                          "enum": [
                            "canceled",
                            "failed",
                            "neutral",
                            "skipped",
                            "succeeded",
                            "timeout"
                          ]
                        },
                        "conclusionText": {
                          "type": "string"
                        },
                        "externalId": {
                          "type": "string"
                        },
                        "externalUrl": {
                          "type": "string"
                        },
                        "output": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "timeout": {
                          "type": "number"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "completedAt": {
                          "type": "number"
                        },
                        "source": {
                          "oneOf": [
                            {
                              "type": "object",
                              "description": "Config-driven CI task — check run `source` only (no parent check).",
                              "required": [
                                "invocationId",
                                "jobDefinitionId",
                                "origin",
                                "subKind"
                              ]
                            },
                            {
                              "type": "object",
                              "description": "CI sentinel — check run `source` only (no parent check).",
                              "required": ["origin", "subKind"]
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v2/deployments/{deploymentId}/check-runs/{checkRunId}": {
      "get": {
        "operationId": "getACheckRun",
        "summary": "Get a check run",
        "description": "Return a detailed response for a single check run.",
        "tags": ["checks-v2"],
        "x-docs-url": "https://vercel.com/docs/rest-api/checks-v2/get-a-check-run",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkRunId",
            "in": "path",
            "description": "The ID of the resource that will be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Check run backed by a project-level `check` definition.",
                      "required": [
                        "checkId",
                        "createdAt",
                        "deploymentId",
                        "id",
                        "name",
                        "ownerId",
                        "source",
                        "status",
                        "timeout",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "deploymentId": {
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "requires": {
                          "type": "string",
                          "enum": ["build-ready", "deployment-url", "none"]
                        },
                        "blocks": {
                          "type": "string",
                          "enum": [
                            "build-start",
                            "deployment-alias",
                            "deployment-promotion",
                            "deployment-start",
                            "none"
                          ]
                        },
                        "targets": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": ["completed", "queued", "running"]
                        },
                        "conclusion": {
                          "type": "string",
                          "enum": [
                            "canceled",
                            "failed",
                            "neutral",
                            "skipped",
                            "succeeded",
                            "timeout"
                          ]
                        },
                        "conclusionText": {
                          "type": "string"
                        },
                        "externalId": {
                          "type": "string"
                        },
                        "externalUrl": {
                          "type": "string"
                        },
                        "output": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "timeout": {
                          "type": "number"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "completedAt": {
                          "type": "number"
                        },
                        "checkId": {
                          "type": "string"
                        },
                        "source": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "integrationConfigurationId",
                                "integrationId",
                                "kind"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["kind"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "externalCheckName",
                                "kind",
                                "provider"
                              ]
                            },
                            {
                              "type": "object",
                              "description": "Native Vercel checks — check definition and check run `source`."
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Vercel CI check run without a parent `check` (no `checkId` field).",
                      "required": [
                        "createdAt",
                        "deploymentId",
                        "id",
                        "name",
                        "ownerId",
                        "source",
                        "status",
                        "timeout",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "deploymentId": {
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "requires": {
                          "type": "string",
                          "enum": ["build-ready", "deployment-url", "none"]
                        },
                        "blocks": {
                          "type": "string",
                          "enum": [
                            "build-start",
                            "deployment-alias",
                            "deployment-promotion",
                            "deployment-start",
                            "none"
                          ]
                        },
                        "targets": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": ["completed", "queued", "running"]
                        },
                        "conclusion": {
                          "type": "string",
                          "enum": [
                            "canceled",
                            "failed",
                            "neutral",
                            "skipped",
                            "succeeded",
                            "timeout"
                          ]
                        },
                        "conclusionText": {
                          "type": "string"
                        },
                        "externalId": {
                          "type": "string"
                        },
                        "externalUrl": {
                          "type": "string"
                        },
                        "output": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "timeout": {
                          "type": "number"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "completedAt": {
                          "type": "number"
                        },
                        "source": {
                          "oneOf": [
                            {
                              "type": "object",
                              "description": "Config-driven CI task — check run `source` only (no parent check).",
                              "required": [
                                "invocationId",
                                "jobDefinitionId",
                                "origin",
                                "subKind"
                              ]
                            },
                            {
                              "type": "object",
                              "description": "CI sentinel — check run `source` only (no parent check).",
                              "required": ["origin", "subKind"]
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateACheckRun",
        "summary": "Update a check run",
        "description": "Update an existing check run for a deployment.",
        "tags": ["checks-v2"],
        "x-docs-url": "https://vercel.com/docs/rest-api/checks-v2/update-a-check-run",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "externalId": {
                    "type": "string"
                  },
                  "externalUrl": {
                    "type": "string",
                    "format": "uri",
                    "pattern": "^https?://|^sso:"
                  },
                  "status": {
                    "type": "string",
                    "enum": ["queued", "running", "completed"]
                  },
                  "output": {
                    "type": "object"
                  },
                  "completedAt": {
                    "type": "number"
                  },
                  "conclusion": {
                    "type": "string",
                    "enum": [
                      "canceled",
                      "skipped",
                      "timeout",
                      "failed",
                      "neutral",
                      "succeeded"
                    ]
                  },
                  "conclusionText": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Check run backed by a project-level `check` definition.",
                      "required": [
                        "checkId",
                        "createdAt",
                        "deploymentId",
                        "id",
                        "name",
                        "ownerId",
                        "source",
                        "status",
                        "timeout",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "deploymentId": {
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "requires": {
                          "type": "string",
                          "enum": ["build-ready", "deployment-url", "none"]
                        },
                        "blocks": {
                          "type": "string",
                          "enum": [
                            "build-start",
                            "deployment-alias",
                            "deployment-promotion",
                            "deployment-start",
                            "none"
                          ]
                        },
                        "targets": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": ["completed", "queued", "running"]
                        },
                        "conclusion": {
                          "type": "string",
                          "enum": [
                            "canceled",
                            "failed",
                            "neutral",
                            "skipped",
                            "succeeded",
                            "timeout"
                          ]
                        },
                        "conclusionText": {
                          "type": "string"
                        },
                        "externalId": {
                          "type": "string"
                        },
                        "externalUrl": {
                          "type": "string"
                        },
                        "output": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "timeout": {
                          "type": "number"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "completedAt": {
                          "type": "number"
                        },
                        "checkId": {
                          "type": "string"
                        },
                        "source": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "integrationConfigurationId",
                                "integrationId",
                                "kind"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["kind"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "externalCheckName",
                                "kind",
                                "provider"
                              ]
                            },
                            {
                              "type": "object",
                              "description": "Native Vercel checks — check definition and check run `source`."
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Vercel CI check run without a parent `check` (no `checkId` field).",
                      "required": [
                        "createdAt",
                        "deploymentId",
                        "id",
                        "name",
                        "ownerId",
                        "source",
                        "status",
                        "timeout",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "deploymentId": {
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "requires": {
                          "type": "string",
                          "enum": ["build-ready", "deployment-url", "none"]
                        },
                        "blocks": {
                          "type": "string",
                          "enum": [
                            "build-start",
                            "deployment-alias",
                            "deployment-promotion",
                            "deployment-start",
                            "none"
                          ]
                        },
                        "targets": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": ["completed", "queued", "running"]
                        },
                        "conclusion": {
                          "type": "string",
                          "enum": [
                            "canceled",
                            "failed",
                            "neutral",
                            "skipped",
                            "succeeded",
                            "timeout"
                          ]
                        },
                        "conclusionText": {
                          "type": "string"
                        },
                        "externalId": {
                          "type": "string"
                        },
                        "externalUrl": {
                          "type": "string"
                        },
                        "output": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "timeout": {
                          "type": "number"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "completedAt": {
                          "type": "number"
                        },
                        "source": {
                          "oneOf": [
                            {
                              "type": "object",
                              "description": "Config-driven CI task — check run `source` only (no parent check).",
                              "required": [
                                "invocationId",
                                "jobDefinitionId",
                                "origin",
                                "subKind"
                              ]
                            },
                            {
                              "type": "object",
                              "description": "CI sentinel — check run `source` only (no parent check).",
                              "required": ["origin", "subKind"]
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "413": {
            "description": "The output provided is too large"
          },
          "500": {
            "description": ""
          }
        }
      }
    }
  }
}
