{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel connect",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/connect/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/connect/connectors": {
      "post": {
        "operationId": "createAConnector",
        "summary": "Create a connector",
        "description": "Create a connector from type-specific configuration and optionally link it to a project during creation.",
        "tags": ["connect"],
        "x-docs-url": "https://vercel.com/docs/rest-api/connect/create-a-connector",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "data": {
                    "anyOf": [
                      {
                        "type": "object",
                        "required": ["clientId"],
                        "properties": {
                          "serverUrl": {
                            "type": "string"
                          },
                          "serverConfig": {
                            "type": "object",
                            "default": {}
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "clientName": {
                            "type": "string"
                          },
                          "clientSecret": {
                            "type": "string"
                          },
                          "tokenEndpointAuthMethod": {
                            "type": "string"
                          },
                          "responseType": {
                            "type": "string"
                          },
                          "pkceRequired": {
                            "type": "boolean"
                          },
                          "codeChallengeMethod": {
                            "type": "string"
                          },
                          "userAuthorization": {
                            "type": "object",
                            "required": ["enabled"]
                          },
                          "refreshTokens": {
                            "type": "object",
                            "required": ["enabled"]
                          },
                          "clientCredentials": {
                            "type": "object",
                            "required": ["enabled"]
                          },
                          "forwardedClaims": {
                            "type": "object",
                            "description": "Allow-list of extra claims to propagate, keyed by source (idToken). Only claims named here and present in that source are exposed."
                          },
                          "defaultAudience": {
                            "type": "string"
                          },
                          "defaultTokenExpiresIn": {
                            "type": "number",
                            "description": "Default token lifetime in seconds to use when the token response omits expires_in.",
                            "minimum": 60
                          },
                          "authorizationUrlParams": {
                            "type": "object"
                          },
                          "jwtBearer": {
                            "type": "object"
                          },
                          "clientAssertion": {
                            "type": "object"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "subjectType": {
                            "type": "string",
                            "enum": ["app", "user"]
                          },
                          "values": {
                            "type": "array"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": ["appId", "appSlug", "appName", "clientId"],
                        "properties": {
                          "appId": {
                            "type": "integer"
                          },
                          "appSlug": {
                            "type": "string"
                          },
                          "appName": {
                            "type": "string"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "object",
                            "required": ["type", "id", "slug"]
                          },
                          "clientSecret": {
                            "type": "string"
                          },
                          "privateKeyPem": {
                            "type": "string"
                          },
                          "webhookSecret": {
                            "type": "string"
                          },
                          "extras": {
                            "type": "object"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": ["clientId", "clientSecret"],
                        "properties": {
                          "appId": {
                            "type": "string"
                          },
                          "appName": {
                            "type": "string"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "clientSecret": {
                            "type": "string"
                          },
                          "webhookSecret": {
                            "type": "string"
                          },
                          "appScopes": {
                            "type": "array"
                          },
                          "userScopes": {
                            "type": "array"
                          },
                          "ownerOrganization": {
                            "type": "object",
                            "required": ["id", "slug", "name"]
                          },
                          "application": {
                            "type": "object",
                            "required": ["id", "clientId", "name"]
                          },
                          "extras": {
                            "type": "object"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "consumerKey",
                          "consumerSecret",
                          "loginHost"
                        ],
                        "properties": {
                          "consumerKey": {
                            "type": "string"
                          },
                          "consumerSecret": {
                            "type": "string"
                          },
                          "loginHost": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "description": "(5 more variants — see OpenAPI spec)"
                      }
                    ]
                  },
                  "icon": {
                    "type": "string"
                  },
                  "backgroundColor": {
                    "type": "string"
                  },
                  "accentColor": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "description": "Known types: api-key, github, linear, oauth, photon, salesforce, slack, snowflake. Optional when \\\"connectionMethod\\\" is set."
                  },
                  "service": {
                    "type": "string",
                    "description": "Service slug or URL for which the connector is used."
                  },
                  "connectionMethod": {
                    "type": "string",
                    "description": "Connection method slug of the service.",
                    "maxLength": 64
                  },
                  "params": {
                    "type": "object",
                    "description": "Values for the connection method's templateFields.",
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 256
                    }
                  },
                  "target": {
                    "type": "string",
                    "description": "Which of the service's targets this connector is for. Requires \\\"connectionMethod\\\" and must be one that method serves. Optional.",
                    "maxLength": 64
                  },
                  "uid": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "Link to the specified project when specified. See environments."
                  },
                  "environments": {
                    "type": "array",
                    "description": "Use these built-in environment names or stable custom environment IDs when linking to projectId.",
                    "items": {
                      "description": "A built-in environment name or the stable env_* ID of a custom environment.",
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "string",
                          "pattern": "^env_"
                        }
                      ]
                    }
                  },
                  "triggers": {
                    "type": "boolean",
                    "description": "Whether the triggers are enabled for this connector."
                  },
                  "triggerDestination": {
                    "type": "object",
                    "description": "Initial trigger destination routing for the linked project.",
                    "properties": {
                      "projectId": {
                        "type": "string"
                      },
                      "path": {
                        "type": "string",
                        "description": "Route path on the linked project that receives forwarded trigger requests.",
                        "maxLength": 2048
                      },
                      "branch": {
                        "type": "string",
                        "maxLength": 250
                      },
                      "customEnvironmentId": {
                        "type": "string",
                        "description": "The stable env_* ID of a custom environment.",
                        "pattern": "^env_"
                      }
                    }
                  },
                  "events": {
                    "type": "array",
                    "description": "The list of the defaults trigger events for this connector.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "createdAt",
                    "data",
                    "id",
                    "name",
                    "ownerId",
                    "public",
                    "service",
                    "supportedSubjectTypes",
                    "supportsIcon",
                    "supportsInstallation",
                    "supportsRevocation",
                    "supportsTriggers",
                    "type",
                    "typeName",
                    "uid",
                    "updatedAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "deletedAt": {
                      "type": "number"
                    },
                    "reinstallAt": {
                      "type": "number",
                      "description": "Time when this connector started requiring reinstallation because an installation-affecting app-token grant changed."
                    },
                    "createdBy": {
                      "oneOf": [
                        {
                          "type": "object",
                          "description": "Principal that originally created the connector — either a Vercel user (interactive dashboard / CLI flow) or a Vercel deployment (OIDC-authenticated project, used by runtime auto-provisioning). See {@link ConnexPrincipal}. Optional: pre-existing rows from before this shape was introduced may carry no attribution at all.",
                          "required": ["id", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["user"]
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "description": "Principal that originally created the connector — either a Vercel user (interactive dashboard / CLI flow) or a Vercel deployment (OIDC-authenticated project, used by runtime auto-provisioning). See {@link ConnexPrincipal}. Optional: pre-existing rows from before this shape was introduced may carry no attribution at all.",
                          "required": ["environment", "id", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["project"]
                            },
                            "id": {
                              "type": "string"
                            },
                            "environment": {}
                          }
                        }
                      ]
                    },
                    "updatedBy": {
                      "oneOf": [
                        {
                          "type": "object",
                          "description": "Principal that most recently mutated the connector. Same shape as {@link createdBy} but tracks the most recent updater, not the original creator. At create time the two fields point at the same principal; they diverge on the first subsequent update.",
                          "required": ["id", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["user"]
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "description": "Principal that most recently mutated the connector. Same shape as {@link createdBy} but tracks the most recent updater, not the original creator. At create time the two fields point at the same principal; they diverge on the first subsequent update.",
                          "required": ["environment", "id", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["project"]
                            },
                            "id": {
                              "type": "string"
                            },
                            "environment": {}
                          }
                        }
                      ]
                    },
                    "creationMode": {
                      "type": "string",
                      "description": "How the connector row was originally created. New create paths stamp this explicitly; older rows may omit it.",
                      "enum": ["managed", "manual"]
                    },
                    "managed": {
                      "type": "object",
                      "description": "Managed-client metadata exposed without leaking the manager client or installation identifiers.",
                      "properties": {
                        "sync": {
                          "type": "boolean",
                          "enum": [false, true]
                        }
                      }
                    },
                    "public": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "uid": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "api-key",
                        "custom",
                        "discord",
                        "github",
                        "linear",
                        "microsoft-entra",
                        "oauth",
                        "photon",
                        "salesforce",
                        "slack",
                        "snowflake",
                        "snowflake-wif"
                      ]
                    },
                    "service": {
                      "type": "string",
                      "description": "Best-effort identifier of the third-party service this client represents, independent of `type`. Examples: `'slack'`, `'mcp.linear.app'`, `'auth.example.com'`. Always non-empty on the API response — falls back through `storedClient.service ?? typeDef.service ?? typeDef.type`."
                    },
                    "connectionMethod": {
                      "type": "string",
                      "description": "The connection method this connector was created from, when the create request named one."
                    },
                    "target": {
                      "type": "string",
                      "description": "Which of the service's products/surfaces this connector points at."
                    },
                    "name": {
                      "type": "string"
                    },
                    "clientUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "redirectUri": {
                      "type": "string",
                      "description": "Redirect URI registered with the third-party service for this client, if any. Used by `startAuthorization`/`startInstallation` to replay the exact URI back to the provider's token endpoint. Absent on clients created before this field was introduced; those callers fall back to the `https://connect.vercel.com/callback` default."
                    },
                    "defaultInstallationId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "typeName": {
                      "type": "string"
                    },
                    "typeIcon": {
                      "type": "string"
                    },
                    "website": {
                      "type": "string"
                    },
                    "devsite": {
                      "type": "string"
                    },
                    "docsite": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string",
                      "description": "Client branding icon. SHA-1 hash that resolves to the uploaded icon via the Vercel avatar service. Clients render this with `https://vercel.com/api/www/avatar/{icon}`."
                    },
                    "backgroundColor": {
                      "type": "string",
                      "description": "Hex background color (e.g., `#000000`) for branding."
                    },
                    "accentColor": {
                      "type": "string",
                      "description": "Hex accent color (e.g., `#000000`) for branding."
                    },
                    "supportedSubjectTypes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "appTokens": {
                      "type": "object",
                      "required": ["crossInstallation", "supportsRefinement"],
                      "properties": {
                        "crossInstallation": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "supportsRefinement": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "requiresReinstallation": {
                          "type": "boolean",
                          "description": "True when changing app token grants requires reinstalling the app, so tokens cannot be partitioned independently by requester environment.",
                          "enum": [false, true]
                        },
                        "scopes": {
                          "type": "array",
                          "description": "Known allowed app-level scopes. For Slack this is the bot scope set configured on the app; for OAuth it is `scopes_supported` from the server's discovery document.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "supportedAuthorizationDetails": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "permissionsUrl": {
                          "type": "string",
                          "description": "Link to the page on the service where this client's app-level permissions are declared and granted, when the service has one and it differs from `clientUrl`."
                        }
                      }
                    },
                    "userTokens": {
                      "type": "object",
                      "required": ["crossInstallation", "supportsRefinement"],
                      "properties": {
                        "crossInstallation": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "supportsRefinement": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "scopes": {
                          "type": "array",
                          "description": "Known allowed user-level scopes. For Slack this is the user scope set configured on the app; for OAuth it is `scopes_supported` from the server's discovery document.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "supportedAuthorizationDetails": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "manualCredentialInput": {
                          "type": "boolean",
                          "description": "User authorization is completed by the Connect consent screen submitting a credential instead of an OAuth redirect.",
                          "enum": [false, true]
                        }
                      }
                    },
                    "supportsInstallation": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "supportsRevocation": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "ownerTenantId": {
                      "type": "string"
                    },
                    "supportsTriggers": {
                      "type": "boolean",
                      "description": "Whether this client type supports trigger webhooks. Derived from the type definition; indicates that `triggers` and `triggerDestinations` may be meaningful for this client.",
                      "enum": [false, true]
                    },
                    "supportsIcon": {
                      "enum": [false, "maybe", true]
                    },
                    "triggers": {
                      "type": "object",
                      "description": "Incoming trigger configuration. Only present when enabled.",
                      "required": ["enabled"],
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        }
                      }
                    },
                    "events": {
                      "type": "array",
                      "description": "Known events this client subscribes to (e.g. Slack bot events, GitHub webhook events). Names are type-specific and validated by the managed-create flow when forwarded to the third-party service.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "triggerDestinations": {
                      "type": "array",
                      "description": "Destinations that incoming triggers should be forwarded to. Limited to `MAX_CONNEX_TRIGGER_DESTINATIONS` entries.",
                      "items": {
                        "type": "object",
                        "description": "Destinations that incoming triggers should be forwarded to. Limited to `MAX_CONNEX_TRIGGER_DESTINATIONS` entries.",
                        "required": ["projectId"],
                        "properties": {
                          "projectId": {
                            "type": "string"
                          },
                          "customEnvironmentId": {
                            "type": "string",
                            "description": "Stable custom-environment ID to route this destination to. Mutually exclusive with `branch`; omitted destinations keep the legacy production behavior."
                          },
                          "branch": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "isConnectedToPrioritizedProject": {
                      "type": "boolean",
                      "description": "Whether this connector is linked to the project supplied through `prioritizedProjectId`. Only present on prioritized list responses.",
                      "enum": [false, true]
                    },
                    "includes": {
                      "type": "object",
                      "description": "Optional expansions populated by `?include=...` on the list endpoint.",
                      "properties": {
                        "projects": {
                          "type": "object",
                          "description": "Set by `?include=projects`. Capped at 100 per client.",
                          "required": ["hasMore", "items"],
                          "properties": {
                            "items": {
                              "type": "array"
                            },
                            "hasMore": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "cursor": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "422": {
            "description": ""
          },
          "500": {
            "description": ""
          },
          "502": {
            "description": ""
          }
        }
      }
    },
    "/v1/connect/token/{connector}": {
      "post": {
        "operationId": "getAConnectToken",
        "summary": "Get a Connect token",
        "description": "Get an access token for a connector identified by the path parameter and scoped to the requester.",
        "tags": ["connect"],
        "x-docs-url": "https://vercel.com/docs/rest-api/connect/get-a-connect-token",
        "parameters": [
          {
            "name": "connector",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subject": {
                    "anyOf": [
                      {
                        "type": "object",
                        "required": ["type"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["app"]
                          }
                        },
                        "additionalProperties": true
                      },
                      {
                        "type": "object",
                        "required": ["type"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["user"]
                          },
                          "id": {
                            "type": "string"
                          },
                          "issuer": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": true
                      },
                      {
                        "type": "object",
                        "required": ["type"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["jwt-bearer"]
                          },
                          "sub": {
                            "type": "string"
                          },
                          "iss": {
                            "type": "string"
                          },
                          "aud": {
                            "type": "string"
                          },
                          "additionalClaims": {
                            "type": "object"
                          }
                        },
                        "additionalProperties": true
                      },
                      {
                        "type": "object",
                        "required": ["type", "token"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["token"]
                          },
                          "token": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": ["type"],
                        "properties": {
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": true
                      }
                    ]
                  },
                  "installationId": {
                    "type": "string"
                  },
                  "audience": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "resources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "authorizationDetails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    }
                  },
                  "validityBufferMs": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["connector", "expiresAt", "token", "tokenId"],
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "tokenId": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "number"
                    },
                    "connector": {
                      "type": "object",
                      "required": ["id", "type", "uid"],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "uid": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "name": {
                      "type": "string"
                    },
                    "installationId": {
                      "type": "string"
                    },
                    "tenantId": {
                      "type": "string"
                    },
                    "externalSubject": {
                      "type": "string"
                    },
                    "authorizationId": {
                      "type": "string",
                      "description": "Stable id correlating all tokens (including refreshes) back to the original authorization."
                    },
                    "tokenGroupId": {
                      "type": "string",
                      "description": "Stable id that groups all tokens with the same parameters across refreshes."
                    },
                    "claims": {
                      "type": "object",
                      "description": "Claims extracted from the provider's tokens per the connector's `ForwardedClaims` allow-list. Currently sourced from the OIDC id_token only.",
                      "additionalProperties": true
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Driver-specific metadata (e.g., botUserId for Slack).",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "422": {
            "description": ""
          },
          "429": {
            "description": ""
          }
        }
      }
    },
    "/v1/connect/token/{connector}/import": {
      "post": {
        "operationId": "importConnectTokens",
        "summary": "Import Connect tokens",
        "description": "Import access and refresh tokens for a connector identified by the path parameter.",
        "tags": ["connect"],
        "x-docs-url": "https://vercel.com/docs/rest-api/connect/import-connect-tokens",
        "parameters": [
          {
            "name": "connector",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tokens"],
                "properties": {
                  "tokens": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "accessToken",
                        "expiresAt",
                        "subject",
                        "environment"
                      ],
                      "properties": {
                        "accessToken": {
                          "type": "string"
                        },
                        "expiresAt": {
                          "type": "number"
                        },
                        "refreshToken": {
                          "type": "string"
                        },
                        "refreshTokenExpiresAt": {
                          "type": "number"
                        },
                        "subject": {},
                        "environment": {
                          "description": "A built-in environment name or the stable env_* ID of a custom environment."
                        },
                        "installationId": {
                          "type": "string"
                        },
                        "audience": {
                          "type": "array"
                        },
                        "scopes": {
                          "type": "array"
                        },
                        "resources": {
                          "type": "array"
                        },
                        "authorizationDetails": {
                          "type": "array"
                        },
                        "name": {
                          "type": "string"
                        },
                        "externalSubject": {
                          "type": "string"
                        },
                        "installation": {
                          "type": "object",
                          "required": ["id"]
                        },
                        "tenant": {
                          "type": "object",
                          "required": ["id"]
                        },
                        "data": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["accepted", "imported", "tokens"],
                  "properties": {
                    "accepted": {
                      "type": "number"
                    },
                    "imported": {
                      "type": "number"
                    },
                    "tokens": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "environment",
                          "expiresAt",
                          "subject",
                          "succeeded"
                        ],
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "data": {
                            "type": "object"
                          },
                          "installationId": {
                            "type": "string"
                          },
                          "audience": {
                            "type": "array"
                          },
                          "scopes": {
                            "type": "array"
                          },
                          "resources": {
                            "type": "array"
                          },
                          "authorizationDetails": {
                            "type": "array"
                          },
                          "expiresAt": {
                            "type": "number"
                          },
                          "expiresIn": {
                            "type": "number"
                          },
                          "refreshTokenExpiresAt": {
                            "type": "number"
                          },
                          "externalSubject": {
                            "type": "string"
                          },
                          "claims": {
                            "type": "object",
                            "description": "Claims extracted from the provider's tokens per the connector's `ForwardedClaims` allow-list. Currently sourced from the OIDC id_token only."
                          },
                          "installation": {
                            "type": "object",
                            "required": ["id"]
                          },
                          "tenant": {
                            "type": "object",
                            "required": ["id"]
                          },
                          "subject": {},
                          "environment": {},
                          "succeeded": {
                            "type": "boolean",
                            "enum": [false, true]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "422": {
            "description": ""
          }
        }
      }
    },
    "/v1/connect/authorize/{connector}": {
      "post": {
        "operationId": "createAConnectAuthorizationRequest",
        "summary": "Create a Connect authorization request",
        "description": "Create an authorization request for a connector and return the URL and verifier details needed to complete the flow.",
        "tags": ["connect"],
        "x-docs-url": "https://vercel.com/docs/rest-api/connect/create-a-connect-authorization-request",
        "parameters": [
          {
            "name": "connector",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subject": {
                    "anyOf": [
                      {
                        "type": "object",
                        "required": ["type"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["app"]
                          }
                        },
                        "additionalProperties": true
                      },
                      {
                        "type": "object",
                        "required": ["type"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["user"]
                          },
                          "id": {
                            "type": "string"
                          },
                          "issuer": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": true
                      },
                      {
                        "type": "object",
                        "required": ["type"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["jwt-bearer"]
                          },
                          "sub": {
                            "type": "string"
                          },
                          "iss": {
                            "type": "string"
                          },
                          "aud": {
                            "type": "string"
                          },
                          "additionalClaims": {
                            "type": "object"
                          }
                        },
                        "additionalProperties": true
                      },
                      {
                        "type": "object",
                        "required": ["type", "token"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["token"]
                          },
                          "token": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": ["type"],
                        "properties": {
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": true
                      }
                    ]
                  },
                  "installationId": {
                    "type": "string"
                  },
                  "audience": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "resources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "authorizationDetails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    }
                  },
                  "validityBufferMs": {
                    "type": "number"
                  },
                  "returnUrl": {
                    "type": "string"
                  },
                  "webhook": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "deviceCode": {
                    "type": "boolean"
                  },
                  "expiresInMs": {
                    "type": "number"
                  },
                  "additionalParams": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "connector",
                    "expiresAt",
                    "request",
                    "url",
                    "verifier"
                  ],
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "request": {
                      "type": "string"
                    },
                    "verifier": {
                      "type": "string"
                    },
                    "deviceCode": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "number"
                    },
                    "connector": {
                      "type": "object",
                      "required": ["id", "name", "type", "uid"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Client id (e.g. `scl_…`)."
                        },
                        "uid": {
                          "type": "string",
                          "description": "Client uid (e.g. `salesforce/my-org`)."
                        },
                        "type": {
                          "type": "string",
                          "description": "Client type (e.g. `oauth`, `salesforce`)."
                        },
                        "service": {
                          "type": "string",
                          "description": "Resolved service id when known (e.g. `salesforce`), following the `stored.service ?? typeDef.service ?? stored.type` convention."
                        },
                        "serviceName": {
                          "type": "string",
                          "description": "Curated display name of the resolved service (e.g. \"Salesforce\"), present when the service is a known service. Suited for end-user surfaces like \"Sign in with {serviceName}\"."
                        },
                        "name": {
                          "type": "string",
                          "description": "The connector's own name: the operator-given client name, falling back to the client type's name for legacy rows without one."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/connect/install/{connector}": {
      "post": {
        "operationId": "createAConnectInstallationRequest",
        "summary": "Create a Connect installation request",
        "description": "Create an installation request for a connector and return the URL and verifier details needed to complete the flow.",
        "tags": ["connect"],
        "x-docs-url": "https://vercel.com/docs/rest-api/connect/create-a-connect-installation-request",
        "parameters": [
          {
            "name": "connector",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string"
                  },
                  "audience": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "resources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "authorizationDetails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": true
                    }
                  },
                  "validityBufferMs": {
                    "type": "number"
                  },
                  "returnUrl": {
                    "type": "string"
                  },
                  "webhook": {
                    "type": "string"
                  },
                  "tenantId": {
                    "type": "string"
                  },
                  "deviceCode": {
                    "type": "boolean"
                  },
                  "expiresInMs": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "connector",
                    "expiresAt",
                    "request",
                    "url",
                    "verifier"
                  ],
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "request": {
                      "type": "string"
                    },
                    "verifier": {
                      "type": "string"
                    },
                    "deviceCode": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "number"
                    },
                    "connector": {
                      "type": "object",
                      "required": ["id", "name", "type", "uid"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Client id (e.g. `scl_…`)."
                        },
                        "uid": {
                          "type": "string",
                          "description": "Client uid (e.g. `salesforce/my-org`)."
                        },
                        "type": {
                          "type": "string",
                          "description": "Client type (e.g. `oauth`, `salesforce`)."
                        },
                        "service": {
                          "type": "string",
                          "description": "Resolved service id when known (e.g. `salesforce`), following the `stored.service ?? typeDef.service ?? stored.type` convention."
                        },
                        "serviceName": {
                          "type": "string",
                          "description": "Curated display name of the resolved service (e.g. \"Salesforce\"), present when the service is a known service. Suited for end-user surfaces like \"Sign in with {serviceName}\"."
                        },
                        "name": {
                          "type": "string",
                          "description": "The connector's own name: the operator-given client name, falling back to the client type's name for legacy rows without one."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "422": {
            "description": ""
          }
        }
      }
    }
  }
}
