{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel dns",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/dns/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v5/domains/{domain}/records": {
      "get": {
        "operationId": "listExistingDnsRecords",
        "summary": "List existing DNS records",
        "description": "Retrieves a list of DNS records created for a domain name. By default it returns 20 records if no limit is provided. The rest can be retrieved using the pagination options.",
        "tags": ["dns"],
        "x-docs-url": "https://vercel.com/docs/rest-api/dns/list-existing-dns-records",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to list from a request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Get records created after this JavaScript timestamp.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Get records created before this JavaScript timestamp.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response retrieving a list of paginated DNS records.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "required": ["records"],
                      "properties": {
                        "records": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "created",
                              "createdAt",
                              "creator",
                              "id",
                              "name",
                              "slug",
                              "type",
                              "updated",
                              "updatedAt",
                              "value"
                            ]
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Successful response retrieving a list of paginated DNS records.",
                      "required": ["pagination", "records"],
                      "properties": {
                        "records": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "created",
                              "createdAt",
                              "creator",
                              "id",
                              "name",
                              "slug",
                              "type",
                              "updated",
                              "updatedAt",
                              "value"
                            ]
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "description": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data.",
                          "required": ["count", "next", "prev"],
                          "properties": {
                            "count": {
                              "type": "number",
                              "description": "Amount of items in the current page."
                            },
                            "next": {
                              "type": "number",
                              "description": "Timestamp that must be used to request the next page.",
                              "nullable": true
                            },
                            "prev": {
                              "type": "number",
                              "description": "Timestamp that must be used to request the previous page.",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v2/domains/{domain}/records": {
      "post": {
        "operationId": "createADnsRecord",
        "summary": "Create a DNS record",
        "description": "Creates a DNS record for a domain.",
        "tags": ["dns"],
        "x-docs-url": "https://vercel.com/docs/rest-api/dns/create-a-dns-record",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "The domain used to create the DNS record.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": ["type"],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type of record, it could be one of the valid DNS records.",
                    "enum": [
                      "A",
                      "AAAA",
                      "ALIAS",
                      "CAA",
                      "CNAME",
                      "HTTPS",
                      "MX",
                      "SRV",
                      "TXT",
                      "NS"
                    ]
                  }
                },
                "anyOf": [
                  {
                    "type": "object",
                    "required": ["type", "value", "name"],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "A subdomain name or an empty string for the root domain."
                      },
                      "type": {
                        "type": "string",
                        "description": "Must be of type `A`.",
                        "enum": ["A"]
                      },
                      "ttl": {
                        "type": "number",
                        "description": "The TTL value. Must be a number between 60 and 2147483647. Default value is 60.",
                        "minimum": 60,
                        "maximum": 2147483647
                      },
                      "value": {
                        "type": "string",
                        "description": "The record value must be a valid IPv4 address.",
                        "format": "ipv4"
                      },
                      "comment": {
                        "type": "string",
                        "description": "A comment to add context on what this DNS record is for",
                        "maxLength": 500
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["type", "value", "name"],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "A subdomain name or an empty string for the root domain."
                      },
                      "type": {
                        "type": "string",
                        "description": "Must be of type `AAAA`.",
                        "enum": ["AAAA"]
                      },
                      "ttl": {
                        "type": "number",
                        "description": "The TTL value. Must be a number between 60 and 2147483647. Default value is 60.",
                        "minimum": 60,
                        "maximum": 2147483647
                      },
                      "value": {
                        "type": "string",
                        "description": "An AAAA record pointing to an IPv6 address.",
                        "format": "ipv6"
                      },
                      "comment": {
                        "type": "string",
                        "description": "A comment to add context on what this DNS record is for",
                        "maxLength": 500
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["type", "value", "name"],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "A subdomain name or an empty string for the root domain."
                      },
                      "type": {
                        "type": "string",
                        "description": "Must be of type `ALIAS`.",
                        "enum": ["ALIAS"]
                      },
                      "ttl": {
                        "type": "number",
                        "description": "The TTL value. Must be a number between 60 and 2147483647. Default value is 60.",
                        "minimum": 60,
                        "maximum": 2147483647
                      },
                      "value": {
                        "type": "string",
                        "description": "An ALIAS virtual record pointing to a hostname resolved to an A record on server side."
                      },
                      "comment": {
                        "type": "string",
                        "description": "A comment to add context on what this DNS record is for",
                        "maxLength": 500
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["type", "value", "name"],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "A subdomain name or an empty string for the root domain."
                      },
                      "type": {
                        "type": "string",
                        "description": "Must be of type `CAA`.",
                        "enum": ["CAA"]
                      },
                      "ttl": {
                        "type": "number",
                        "description": "The TTL value. Must be a number between 60 and 2147483647. Default value is 60.",
                        "minimum": 60,
                        "maximum": 2147483647
                      },
                      "value": {
                        "type": "string",
                        "description": "A CAA record to specify which Certificate Authorities (CAs) are allowed to issue certificates for the domain."
                      },
                      "comment": {
                        "type": "string",
                        "description": "A comment to add context on what this DNS record is for",
                        "maxLength": 500
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["type", "name"],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "A subdomain name or an empty string for the root domain."
                      },
                      "type": {
                        "type": "string",
                        "description": "Must be of type `CNAME`.",
                        "enum": ["CNAME"]
                      },
                      "ttl": {
                        "type": "number",
                        "description": "The TTL value. Must be a number between 60 and 2147483647. Default value is 60.",
                        "minimum": 60,
                        "maximum": 2147483647
                      },
                      "value": {
                        "type": "string",
                        "description": "A CNAME record mapping to another domain name."
                      },
                      "comment": {
                        "type": "string",
                        "description": "A comment to add context on what this DNS record is for",
                        "maxLength": 500
                      }
                    }
                  },
                  {
                    "description": "(5 more variants — see OpenAPI spec)"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response showing the uid of the newly created DNS record.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": ["uid", "updated"],
                      "properties": {
                        "uid": {
                          "type": "string"
                        },
                        "updated": {
                          "type": "number"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["uid"],
                      "properties": {
                        "uid": {
                          "type": "string",
                          "description": "The id of the newly created DNS record"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/domains/records/{recordId}": {
      "patch": {
        "operationId": "updateAnExistingDnsRecord",
        "summary": "Update an existing DNS record",
        "description": "Updates an existing DNS record for a domain name.",
        "tags": ["dns"],
        "x-docs-url": "https://vercel.com/docs/rest-api/dns/update-an-existing-dns-record",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "description": "The id of the DNS record",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the DNS record",
                    "nullable": true
                  },
                  "value": {
                    "type": "string",
                    "description": "The value of the DNS record",
                    "nullable": true
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of the DNS record",
                    "enum": [
                      "A",
                      "AAAA",
                      "ALIAS",
                      "CAA",
                      "CNAME",
                      "HTTPS",
                      "MX",
                      "SRV",
                      "TXT",
                      "NS",
                      null
                    ],
                    "maxLength": 255,
                    "nullable": true
                  },
                  "ttl": {
                    "type": "integer",
                    "description": "The Time to live (TTL) value of the DNS record",
                    "minimum": 60,
                    "maximum": 2147483647,
                    "nullable": true
                  },
                  "mxPriority": {
                    "type": "integer",
                    "description": "The MX priority value of the DNS record",
                    "nullable": true
                  },
                  "srv": {
                    "type": "object",
                    "nullable": true,
                    "required": ["target", "weight", "port", "priority"],
                    "properties": {
                      "target": {
                        "type": "string",
                        "maxLength": 255,
                        "nullable": true
                      },
                      "weight": {
                        "type": "integer",
                        "nullable": true
                      },
                      "port": {
                        "type": "integer",
                        "nullable": true
                      },
                      "priority": {
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  },
                  "https": {
                    "type": "object",
                    "nullable": true,
                    "required": ["priority", "target"],
                    "properties": {
                      "priority": {
                        "type": "integer",
                        "nullable": true
                      },
                      "target": {
                        "type": "string",
                        "maxLength": 255,
                        "nullable": true
                      },
                      "params": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  },
                  "comment": {
                    "type": "string",
                    "description": "A comment to add context on what this DNS record is for",
                    "maxLength": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "creator",
                    "domain",
                    "id",
                    "name",
                    "recordType",
                    "type",
                    "value"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": ["record", "record-sys"]
                    },
                    "value": {
                      "type": "string"
                    },
                    "creator": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "ttl": {
                      "type": "number"
                    },
                    "comment": {
                      "type": "string"
                    },
                    "recordType": {
                      "type": "string",
                      "enum": [
                        "A",
                        "AAAA",
                        "ALIAS",
                        "CAA",
                        "CNAME",
                        "HTTPS",
                        "MX",
                        "NS",
                        "SRV",
                        "TXT"
                      ]
                    },
                    "createdAt": {
                      "type": "number",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v2/domains/{domain}/records/{recordId}": {
      "delete": {
        "operationId": "deleteADnsRecord",
        "summary": "Delete a DNS record",
        "description": "Removes an existing DNS record from a domain name.",
        "tags": ["dns"],
        "x-docs-url": "https://vercel.com/docs/rest-api/dns/delete-a-dns-record",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response by removing the specified DNS record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
