{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel domains-registrar",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/domains_registrar/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/registrar/tlds/supported": {
      "get": {
        "operationId": "getSupportedTlds",
        "summary": "Get supported TLDs",
        "description": "Get a list of TLDs supported by Vercel",
        "tags": ["domains-registrar"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains-registrar/get-supported-tlds",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of the TLDs supported by Vercel.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "A list of the TLDs supported by Vercel.",
                  "items": {
                    "type": "string",
                    "description": "A valid TLD name"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was something wrong with the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The request did not match the expected schema",
                  "required": ["issues", "message"],
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Represents an error encountered while parsing a value to match the schema",
                        "required": ["path", "message"],
                        "properties": {
                          "path": {
                            "type": "array",
                            "description": "The path to the property where the issue occurred"
                          },
                          "message": {
                            "type": "string",
                            "description": "A descriptive message explaining the issue"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "NotAuthorizedForScope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [403]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["not_authorized_for_scope"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message",
                    "retryAfter",
                    "limit"
                  ],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [429]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["too_many_requests"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "retryAfter": {
                      "type": "object",
                      "required": ["value", "str"],
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "str": {
                          "type": "string"
                        }
                      }
                    },
                    "limit": {
                      "type": "object",
                      "required": ["total", "remaining", "reset"],
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "remaining": {
                          "type": "number"
                        },
                        "reset": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [500]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["internal_server_error"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrar/tlds/{tld}": {
      "get": {
        "operationId": "getTld",
        "summary": "Get TLD",
        "description": "Get the metadata for a specific TLD.",
        "tags": ["domains-registrar"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains-registrar/get-tld",
        "parameters": [
          {
            "name": "tld",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["supportedLanguageCodes"],
                  "properties": {
                    "supportedLanguageCodes": {
                      "type": "object",
                      "description": "The language codes that are supported for the TLD. The key is the language code, and the value is the name of the language.",
                      "properties": {},
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was something wrong with the request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "description": "The TLD is not currently supported.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["tld_not_supported"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "The request did not match the expected schema",
                      "required": ["issues", "message"],
                      "properties": {
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "Represents an error encountered while parsing a value to match the schema",
                            "required": ["path", "message"]
                          }
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "NotAuthorizedForScope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [403]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["not_authorized_for_scope"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message",
                    "retryAfter",
                    "limit"
                  ],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [429]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["too_many_requests"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "retryAfter": {
                      "type": "object",
                      "required": ["value", "str"],
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "str": {
                          "type": "string"
                        }
                      }
                    },
                    "limit": {
                      "type": "object",
                      "required": ["total", "remaining", "reset"],
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "remaining": {
                          "type": "number"
                        },
                        "reset": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [500]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["internal_server_error"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrar/tlds/{tld}/price": {
      "get": {
        "operationId": "getTldPriceData",
        "summary": "Get TLD price data",
        "description": "Get price data for a specific TLD. This only reflects base prices for the given TLD. Premium domains may have different prices. Use the [Get price data for a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/get-price-data-for-a-domain) endpoint to get the price data for a specific domain.",
        "tags": ["domains-registrar"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains-registrar/get-tld-price-data",
        "parameters": [
          {
            "name": "tld",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "years",
            "in": "query",
            "description": "The number of years to get the price for. If not provided, the minimum number of years for the TLD will be used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "years",
                    "purchasePrice",
                    "renewalPrice",
                    "transferPrice"
                  ],
                  "properties": {
                    "years": {
                      "type": "number",
                      "description": "The number of years the returned price is for."
                    },
                    "purchasePrice": {
                      "anyOf": [
                        {
                          "type": "number",
                          "minimum": 0.01
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "renewalPrice": {
                      "anyOf": [
                        {
                          "type": "number",
                          "minimum": 0.01
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "transferPrice": {
                      "anyOf": [
                        {
                          "type": "number",
                          "minimum": 0.01
                        },
                        {
                          "type": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was something wrong with the request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "description": "The TLD is not currently supported.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["tld_not_supported"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "The request did not match the expected schema",
                      "required": ["issues", "message"],
                      "properties": {
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "Represents an error encountered while parsing a value to match the schema",
                            "required": ["path", "message"]
                          }
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "NotAuthorizedForScope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [403]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["not_authorized_for_scope"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message",
                    "retryAfter",
                    "limit"
                  ],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [429]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["too_many_requests"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "retryAfter": {
                      "type": "object",
                      "required": ["value", "str"],
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "str": {
                          "type": "string"
                        }
                      }
                    },
                    "limit": {
                      "type": "object",
                      "required": ["total", "remaining", "reset"],
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "remaining": {
                          "type": "number"
                        },
                        "reset": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [500]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["internal_server_error"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrar/domains/{domain}/availability": {
      "get": {
        "operationId": "getAvailabilityForADomain",
        "summary": "Get availability for a domain",
        "description": "Get availability for a specific domain. If the domain is available, it can be purchased using the [Buy a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/buy-a-domain) endpoint or the [Buy multiple domains](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/buy-multiple-domains) endpoint.",
        "tags": ["domains-registrar"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains-registrar/get-availability-for-a-domain",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["available"],
                  "properties": {
                    "available": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was something wrong with the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The request did not match the expected schema",
                  "required": ["issues", "message"],
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Represents an error encountered while parsing a value to match the schema",
                        "required": ["path", "message"],
                        "properties": {
                          "path": {
                            "type": "array",
                            "description": "The path to the property where the issue occurred"
                          },
                          "message": {
                            "type": "string",
                            "description": "A descriptive message explaining the issue"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "NotAuthorizedForScope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [403]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["not_authorized_for_scope"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [404]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["not_found"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message",
                    "retryAfter",
                    "limit"
                  ],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [429]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["too_many_requests"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "retryAfter": {
                      "type": "object",
                      "required": ["value", "str"],
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "str": {
                          "type": "string"
                        }
                      }
                    },
                    "limit": {
                      "type": "object",
                      "required": ["total", "remaining", "reset"],
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "remaining": {
                          "type": "number"
                        },
                        "reset": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [500]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["internal_server_error"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrar/domains/{domain}/price": {
      "get": {
        "operationId": "getPriceDataForADomain",
        "summary": "Get price data for a domain",
        "description": "Get price data for a specific domain",
        "tags": ["domains-registrar"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains-registrar/get-price-data-for-a-domain",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "years",
            "in": "query",
            "description": "The number of years to get the price for. If not provided, the minimum number of years for the TLD will be used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "years",
                    "purchasePrice",
                    "renewalPrice",
                    "transferPrice"
                  ],
                  "properties": {
                    "years": {
                      "type": "number"
                    },
                    "purchasePrice": {
                      "anyOf": [
                        {
                          "type": "number",
                          "minimum": 0.01
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "renewalPrice": {
                      "anyOf": [
                        {
                          "type": "number",
                          "minimum": 0.01
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "transferPrice": {
                      "anyOf": [
                        {
                          "type": "number",
                          "minimum": 0.01
                        },
                        {
                          "type": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was something wrong with the request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["bad_request"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "The domain name (excluding the TLD) is too short.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["domain_too_short"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "The TLD is not currently supported.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["tld_not_supported"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "The request did not match the expected schema",
                      "required": ["issues", "message"],
                      "properties": {
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "Represents an error encountered while parsing a value to match the schema",
                            "required": ["path", "message"]
                          }
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "NotAuthorizedForScope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [403]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["not_authorized_for_scope"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message",
                    "retryAfter",
                    "limit"
                  ],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [429]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["too_many_requests"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "retryAfter": {
                      "type": "object",
                      "required": ["value", "str"],
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "str": {
                          "type": "string"
                        }
                      }
                    },
                    "limit": {
                      "type": "object",
                      "required": ["total", "remaining", "reset"],
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "remaining": {
                          "type": "number"
                        },
                        "reset": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [500]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["internal_server_error"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrar/domains/availability": {
      "post": {
        "operationId": "getAvailabilityForMultipleDomains",
        "summary": "Get availability for multiple domains",
        "description": "Get availability for multiple domains. If the domains are available, they can be purchased using the [Buy a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/buy-a-domain) endpoint or the [Buy multiple domains](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/buy-multiple-domains) endpoint.",
        "tags": ["domains-registrar"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains-registrar/get-availability-for-multiple-domains",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["domains"],
                "properties": {
                  "domains": {
                    "type": "array",
                    "description": "an array of at most 50 item(s)",
                    "items": {
                      "type": "string",
                      "description": "A valid domain name"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["results"],
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["domain", "available"],
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "A valid domain name"
                          },
                          "available": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was something wrong with the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The request did not match the expected schema",
                  "required": ["issues", "message"],
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Represents an error encountered while parsing a value to match the schema",
                        "required": ["path", "message"],
                        "properties": {
                          "path": {
                            "type": "array",
                            "description": "The path to the property where the issue occurred"
                          },
                          "message": {
                            "type": "string",
                            "description": "A descriptive message explaining the issue"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "NotAuthorizedForScope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [403]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["not_authorized_for_scope"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message",
                    "retryAfter",
                    "limit"
                  ],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [429]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["too_many_requests"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "retryAfter": {
                      "type": "object",
                      "required": ["value", "str"],
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "str": {
                          "type": "string"
                        }
                      }
                    },
                    "limit": {
                      "type": "object",
                      "required": ["total", "remaining", "reset"],
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "remaining": {
                          "type": "number"
                        },
                        "reset": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [500]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["internal_server_error"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrar/domains/{domain}/auth-code": {
      "get": {
        "operationId": "getTheAuthCodeForADomain",
        "summary": "Get the auth code for a domain",
        "description": "Get the auth code for a domain. This is required to transfer a domain from Vercel to another registrar.",
        "tags": ["domains-registrar"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains-registrar/get-the-auth-code-for-a-domain",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["authCode"],
                  "properties": {
                    "authCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was something wrong with the request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "description": "The domain is not registered with Vercel.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["domain_not_registered"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "The request did not match the expected schema",
                      "required": ["issues", "message"],
                      "properties": {
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "Represents an error encountered while parsing a value to match the schema",
                            "required": ["path", "message"]
                          }
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "NotAuthorizedForScope",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [403]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["not_authorized_for_scope"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [403]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["forbidden"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The domain was not found in our system.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The domain was not found in our system.",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [404]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["domain_not_found"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The domain cannot be transfered out until the specified date.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The domain cannot be transfered out until the specified date.",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [409]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["domain_cannot_be_transfered_out_until"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message",
                    "retryAfter",
                    "limit"
                  ],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [429]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["too_many_requests"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "retryAfter": {
                      "type": "object",
                      "required": ["value", "str"],
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "str": {
                          "type": "string"
                        }
                      }
                    },
                    "limit": {
                      "type": "object",
                      "required": ["total", "remaining", "reset"],
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "remaining": {
                          "type": "number"
                        },
                        "reset": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [500]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["internal_server_error"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrar/domains/{domain}/buy": {
      "post": {
        "operationId": "buyADomain",
        "summary": "Buy a domain",
        "description": "Buy a domain",
        "tags": ["domains-registrar"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains-registrar/buy-a-domain",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "autoRenew",
                  "years",
                  "expectedPrice",
                  "contactInformation"
                ],
                "properties": {
                  "autoRenew": {
                    "type": "boolean",
                    "description": "Whether the domain should be auto-renewed before it expires. This can be configured later through the Vercel Dashboard or the [Update auto-renew for a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/update-auto-renew-for-a-domain) endpoint."
                  },
                  "years": {
                    "type": "number",
                    "description": "The number of years to purchase the domain for."
                  },
                  "expectedPrice": {
                    "type": "number",
                    "minimum": 0.01
                  },
                  "contactInformation": {
                    "type": "object",
                    "description": "The contact information for the domain. Some TLDs require additional contact information. Use the [Get contact info schema](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/get-contact-info-schema) endpoint to retrieve the required fields.",
                    "required": [
                      "firstName",
                      "lastName",
                      "email",
                      "phone",
                      "address1",
                      "city",
                      "state",
                      "zip",
                      "country"
                    ],
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "lastName": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "email": {
                        "type": "string",
                        "description": "A valid RFC 5322 email address",
                        "minLength": 1
                      },
                      "phone": {
                        "type": "string",
                        "description": "A valid E.164 phone number",
                        "pattern": "^(?=(?:\\D*\\d){8,15}$)\\+[1-9]\\d{0,2}\\.?\\d+$",
                        "minLength": 1
                      },
                      "address1": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "address2": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "city": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "state": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "zip": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "country": {
                        "type": "string",
                        "description": "A valid ISO 3166-1 alpha-2 country code"
                      },
                      "companyName": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "fax": {
                        "type": "string",
                        "description": "A valid E.164 phone number",
                        "pattern": "^(?=(?:\\D*\\d){8,15}$)\\+[1-9]\\d{0,2}\\.?\\d+$",
                        "minLength": 1
                      },
                      "additional": {
                        "type": "object",
                        "properties": {}
                      }
                    }
                  },
                  "languageCode": {
                    "type": "string",
                    "description": "The language code for the domain. For punycode domains, this must be provided. The list of supported language codes for a TLD can be retrieved from the [Get TLD](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/get-tld) endpoint."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["orderId", "_links"],
                  "properties": {
                    "orderId": {
                      "type": "string",
                      "description": "A valid order ID"
                    },
                    "_links": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "required": ["href", "method"],
                        "properties": {
                          "href": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string",
                            "enum": ["GET", "POST", "PUT", "DELETE", "PATCH"]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was something wrong with the request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "description": "The domain name (excluding the TLD) is too short.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["domain_too_short"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "The total price of the order is too high.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["order_too_expensive"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Additional contact information provided for the TLD is invalid.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["invalid_additional_contact_info"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Additional contact information is required for the TLD.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["additional_contact_info_required"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "The expected price passed does not match the actual price.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["expected_price_mismatch"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "description": "(4 more variants — see OpenAPI spec)"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "NotAuthorizedForScope",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [403]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["not_authorized_for_scope"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [403]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["forbidden"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message",
                    "retryAfter",
                    "limit"
                  ],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [429]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["too_many_requests"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "retryAfter": {
                      "type": "object",
                      "required": ["value", "str"],
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "str": {
                          "type": "string"
                        }
                      }
                    },
                    "limit": {
                      "type": "object",
                      "required": ["total", "remaining", "reset"],
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "remaining": {
                          "type": "number"
                        },
                        "reset": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [500]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["internal_server_error"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrar/domains/buy": {
      "post": {
        "operationId": "buyMultipleDomains",
        "summary": "Buy multiple domains",
        "description": "Buy multiple domains at once",
        "tags": ["domains-registrar"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains-registrar/buy-multiple-domains",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["domains", "contactInformation"],
                "properties": {
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "domainName",
                        "autoRenew",
                        "years",
                        "expectedPrice"
                      ],
                      "properties": {
                        "domainName": {
                          "type": "string",
                          "description": "A valid domain name"
                        },
                        "autoRenew": {
                          "type": "boolean",
                          "description": "Whether the domain should be auto-renewed before it expires. This can be configured later through the Vercel Dashboard or the [Update auto-renew for a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/update-auto-renew-for-a-domain) endpoint."
                        },
                        "years": {
                          "type": "number",
                          "description": "The number of years to purchase the domain for."
                        },
                        "expectedPrice": {
                          "type": "number",
                          "minimum": 0.01
                        },
                        "languageCode": {
                          "type": "string",
                          "description": "The language code for the domain. For punycode domains, this must be provided. The list of supported language codes for a TLD can be retrieved from the [Get TLD](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/get-tld) endpoint."
                        }
                      }
                    }
                  },
                  "contactInformation": {
                    "type": "object",
                    "description": "The contact information for the domain. Some TLDs require additional contact information. Use the [Get contact info schema](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/get-contact-info-schema) endpoint to retrieve the required fields.",
                    "required": [
                      "firstName",
                      "lastName",
                      "email",
                      "phone",
                      "address1",
                      "city",
                      "state",
                      "zip",
                      "country"
                    ],
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "lastName": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "email": {
                        "type": "string",
                        "description": "A valid RFC 5322 email address",
                        "minLength": 1
                      },
                      "phone": {
                        "type": "string",
                        "description": "A valid E.164 phone number",
                        "pattern": "^(?=(?:\\D*\\d){8,15}$)\\+[1-9]\\d{0,2}\\.?\\d+$",
                        "minLength": 1
                      },
                      "address1": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "address2": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "city": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "state": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "zip": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "country": {
                        "type": "string",
                        "description": "A valid ISO 3166-1 alpha-2 country code"
                      },
                      "companyName": {
                        "type": "string",
                        "description": "a non empty string",
                        "pattern": "^\\S[\\s\\S]*\\S$|^\\S$|^$",
                        "minLength": 1
                      },
                      "fax": {
                        "type": "string",
                        "description": "A valid E.164 phone number",
                        "pattern": "^(?=(?:\\D*\\d){8,15}$)\\+[1-9]\\d{0,2}\\.?\\d+$",
                        "minLength": 1
                      },
                      "additional": {
                        "type": "object",
                        "properties": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["orderId", "_links"],
                  "properties": {
                    "orderId": {
                      "type": "string",
                      "description": "A valid order ID"
                    },
                    "_links": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "required": ["href", "method"],
                        "properties": {
                          "href": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string",
                            "enum": ["GET", "POST", "PUT", "DELETE", "PATCH"]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was something wrong with the request",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "description": "The domain name (excluding the TLD) is too short.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["domain_too_short"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "The total price of the order is too high.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["order_too_expensive"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "The number of domains in the order is too high.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["too_many_domains"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Additional contact information provided for the TLD is invalid.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["invalid_additional_contact_info"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Additional contact information is required for the TLD.",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [400]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["additional_contact_info_required"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "description": "(6 more variants — see OpenAPI spec)"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "NotAuthorizedForScope",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [403]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["not_authorized_for_scope"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [403]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["forbidden"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message",
                    "retryAfter",
                    "limit"
                  ],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [429]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["too_many_requests"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "retryAfter": {
                      "type": "object",
                      "required": ["value", "str"],
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "str": {
                          "type": "string"
                        }
                      }
                    },
                    "limit": {
                      "type": "object",
                      "required": ["total", "remaining", "reset"],
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "remaining": {
                          "type": "number"
                        },
                        "reset": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [500]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["internal_server_error"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/registrar/domains/{domain}/transfer": {
      "get": {
        "operationId": "getADomainSTransferStatus",
        "summary": "Get a domain's transfer status",
        "description": "Get the transfer status for a domain",
        "tags": ["domains-registrar"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains-registrar/get-a-domain-s-transfer-status",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "canceled",
                        "canceled_pending_refund",
                        "completed",
                        "created",
                        "failed",
                        "pending",
                        "pending_insert",
                        "pending_new_auth_code",
                        "pending_transfer",
                        "pending_unlock",
                        "pending_registry_unlock",
                        "rejected",
                        "submitting_transfer"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "There was something wrong with the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The request did not match the expected schema",
                  "required": ["issues", "message"],
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Represents an error encountered while parsing a value to match the schema",
                        "required": ["path", "message"],
                        "properties": {
                          "path": {
                            "type": "array",
                            "description": "The path to the property where the issue occurred"
                          },
                          "message": {
                            "type": "string",
                            "description": "A descriptive message explaining the issue"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [401]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "NotAuthorizedForScope",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [403]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["not_authorized_for_scope"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["status", "code", "message"],
                      "properties": {
                        "status": {
                          "type": "number",
                          "enum": [403]
                        },
                        "code": {
                          "type": "string",
                          "enum": ["forbidden"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "code", "message"],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [404]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["not_found"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "code",
                    "message",
                    "retryAfter",
                    "limit"
                  ],
                  "properties": {
                    "status": {
                      "type": "number",
                      "enum": [429]
                    },
                    "code": {
                      "type": "string",
                      "enum": ["too_many_requests"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "retryAfter": {
                      "type": "object",
                      "required": ["value", "str"],
                      "properties": {
                        "value": {
                          "type": "number"
[...]
