{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel domains",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/domains/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v6/domains/{domain}/config": {
      "get": {
        "operationId": "getADomainSConfiguration",
        "summary": "Get a Domain's configuration",
        "description": "Get a Domain's configuration.",
        "tags": ["domains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains/get-a-domain-s-configuration",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "The name of the domain.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectIdOrName",
            "in": "query",
            "description": "The project id or name that will be associated with the domain. Use this when the domain is not yet associated with a project.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "strict",
            "in": "query",
            "description": "When true, the response will only include the nameservers assigned directly to the specified domain. When false and there are no nameservers assigned directly to the specified domain, the response will include the nameservers of the domain's parent zone.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "acceptedChallenges",
                    "configuredBy",
                    "misconfigured",
                    "recommendedCNAME",
                    "recommendedIPv4"
                  ],
                  "properties": {
                    "configuredBy": {
                      "type": "string",
                      "description": "How we see the domain's configuration. - `CNAME`: Domain has a CNAME pointing to Vercel. - `A`: Domain's A record is resolving to Vercel. - `http`: Domain is resolving to Vercel but may be behind a Proxy. - `dns-01`: Domain is not resolving to Vercel but dns-01 challenge is enabled. - `null`: Domain is not resolving to Vercel.",
                      "enum": ["A", "CNAME", "dns-01", "http", null],
                      "nullable": true
                    },
                    "acceptedChallenges": {
                      "type": "array",
                      "description": "Which challenge types the domain can use for issuing certs.",
                      "items": {
                        "type": "string",
                        "description": "Which challenge types the domain can use for issuing certs.",
                        "enum": ["dns-01", "http-01"]
                      }
                    },
                    "recommendedIPv4": {
                      "type": "array",
                      "description": "Recommended IPv4s for the domain. rank=1 is the preferred value(s) to use. Only using 1 ip value is acceptable.",
                      "items": {
                        "type": "object",
                        "description": "Recommended IPv4s for the domain. rank=1 is the preferred value(s) to use. Only using 1 ip value is acceptable.",
                        "required": ["rank", "value"],
                        "properties": {
                          "rank": {
                            "type": "number"
                          },
                          "value": {
                            "type": "array"
                          }
                        }
                      }
                    },
                    "recommendedCNAME": {
                      "type": "array",
                      "description": "Recommended CNAMEs for the domain. rank=1 is the preferred value to use.",
                      "items": {
                        "type": "object",
                        "description": "Recommended CNAMEs for the domain. rank=1 is the preferred value to use.",
                        "required": ["rank", "value"],
                        "properties": {
                          "rank": {
                            "type": "number"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "misconfigured": {
                      "type": "boolean",
                      "description": "Whether or not the domain is configured AND we can automatically generate a TLS certificate.",
                      "enum": [false, true]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v9/domains/{domain}/verification": {
      "get": {
        "operationId": "getDomainVerificationRecord",
        "summary": "Get Domain Verification Record",
        "description": "Get the TXT verification record needed to claim ownership of a domain for the authenticated team. The caller must add this TXT record to `_vercel.{domain}` in their DNS configuration, then call POST /domains/:domain/claim to complete the ownership transfer.",
        "tags": ["domains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains/get-domain-verification-record",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "The domain name to get the verification record for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the TXT record needed to verify domain ownership.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["txtRecord", "verificationDomain"],
                  "properties": {
                    "txtRecord": {
                      "type": "string"
                    },
                    "verificationDomain": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v9/domains/{domain}/claim": {
      "post": {
        "operationId": "claimDomainOwnership",
        "summary": "Claim Domain Ownership",
        "description": "Claim ownership of a domain for the authenticated team by verifying a TXT record. The caller must first add a TXT record to `_vercel.{domain}` (obtained from GET /domains/:domain/verification), then call this endpoint to complete the ownership transfer. If the TXT record is verified, the domain ownership will be transferred to the caller's team, even if the domain is currently owned by another user or team.",
        "tags": ["domains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains/claim-domain-ownership",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "The domain name to claim ownership of",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain ownership successfully claimed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["domain"],
                  "properties": {
                    "domain": {
                      "type": "object",
                      "required": [
                        "boughtAt",
                        "createdAt",
                        "creator",
                        "expiresAt",
                        "id",
                        "intendedNameservers",
                        "name",
                        "nameservers",
                        "serviceType",
                        "teamId",
                        "userId",
                        "verified"
                      ],
                      "properties": {
                        "expiresAt": {
                          "type": "number",
                          "description": "Timestamp in milliseconds at which the domain is set to expire. null if not bought with Vercel.",
                          "nullable": true
                        },
                        "verified": {
                          "type": "boolean",
                          "description": "If the domain has the ownership verified.",
                          "enum": [false, true]
                        },
                        "nameservers": {
                          "type": "array",
                          "description": "A list of the current nameservers of the domain.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "intendedNameservers": {
                          "type": "array",
                          "description": "A list of the intended nameservers for the domain to point to Vercel DNS.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "customNameservers": {
                          "type": "array",
                          "description": "A list of custom nameservers for the domain to point to. Only applies to domains purchased with Vercel.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "creator": {
                          "type": "object",
                          "description": "An object containing information of the domain creator, including the user's id, username, and email.",
                          "required": ["email", "id", "username"],
                          "properties": {
                            "username": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "customerId": {
                              "type": "string",
                              "nullable": true
                            },
                            "isDomainReseller": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        "name": {
                          "type": "string",
                          "description": "The domain name."
                        },
                        "teamId": {
                          "type": "string",
                          "nullable": true
                        },
                        "boughtAt": {
                          "type": "number",
                          "description": "If it was purchased through Vercel, the timestamp in milliseconds when it was purchased.",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "Timestamp in milliseconds when the domain was created in the registry."
                        },
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the domain."
                        },
                        "renew": {
                          "type": "boolean",
                          "description": "Indicates whether the domain is set to automatically renew.",
                          "enum": [false, true]
                        },
                        "serviceType": {
                          "type": "string",
                          "description": "The type of service the domain is handled by. `external` if the DNS is externally handled, `zeit.world` if handled with Vercel, or `na` if the service is not available.",
                          "enum": ["external", "na", "zeit.world"]
                        },
                        "transferredAt": {
                          "type": "number",
                          "description": "Timestamp in milliseconds at which the domain was successfully transferred into Vercel. `null` if the transfer is still processing or was never transferred in.",
                          "nullable": true
                        },
                        "transferStartedAt": {
                          "type": "number",
                          "description": "If transferred into Vercel, timestamp in milliseconds when the domain transfer was initiated."
                        },
                        "userId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/domains/{domain}/project-domains": {
      "get": {
        "operationId": "listProjectDomainsByApexDomain",
        "summary": "List Project Domains by Apex Domain",
        "description": "List all project domains associated with an apex domain owned by the authenticated account.",
        "tags": ["domains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains/list-project-domains-by-apex-domain",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "The apex domain name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of project domains to list from a request.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Get project domains created after this JavaScript timestamp.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Get project domains created before this JavaScript timestamp.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response retrieving project domains for an apex domain.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["pagination", "projectDomains"],
                  "properties": {
                    "projectDomains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "apexName",
                          "name",
                          "projectId",
                          "verified"
                        ],
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "apexName": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "redirect": {
                            "type": "string",
                            "nullable": true
                          },
                          "redirectStatusCode": {
                            "type": "number",
                            "enum": [301, 302, 307, 308, null],
                            "nullable": true
                          },
                          "gitBranch": {
                            "type": "string",
                            "nullable": true
                          },
                          "customEnvironmentId": {
                            "type": "string",
                            "nullable": true
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "verified": {
                            "type": "boolean",
                            "description": "`true` if the domain is verified for use with the project. If `false` it will not be used as an alias on this project until the challenge in `verification` is completed.",
                            "enum": [false, true]
                          },
                          "verification": {
                            "type": "array",
                            "description": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "description": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data.",
                      "required": ["count", "next", "prev"],
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "Amount of items in the current page."
                        },
                        "next": {
                          "type": "number",
                          "description": "Timestamp that must be used to request the next page.",
                          "nullable": true
                        },
                        "prev": {
                          "type": "number",
                          "description": "Timestamp that must be used to request the previous page.",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v5/domains/{domain}": {
      "get": {
        "operationId": "getInformationForASingleDomain",
        "summary": "Get Information for a Single Domain",
        "description": "Get information for a single domain in an account or team.",
        "tags": ["domains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains/get-information-for-a-single-domain",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "The name of the domain.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response retrieving an information for a specific domains.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["domain"],
                  "properties": {
                    "domain": {
                      "type": "object",
                      "required": [
                        "boughtAt",
                        "createdAt",
                        "creator",
                        "expiresAt",
                        "id",
                        "intendedNameservers",
                        "name",
                        "nameservers",
                        "serviceType",
                        "suffix",
                        "teamId",
                        "userId",
                        "verified"
                      ],
                      "properties": {
                        "suffix": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "expiresAt": {
                          "type": "number",
                          "description": "Timestamp in milliseconds at which the domain is set to expire. null if not bought with Vercel.",
                          "nullable": true
                        },
                        "verified": {
                          "type": "boolean",
                          "description": "If the domain has the ownership verified.",
                          "enum": [false, true]
                        },
                        "nameservers": {
                          "type": "array",
                          "description": "A list of the current nameservers of the domain.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "intendedNameservers": {
                          "type": "array",
                          "description": "A list of the intended nameservers for the domain to point to Vercel DNS.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "customNameservers": {
                          "type": "array",
                          "description": "A list of custom nameservers for the domain to point to. Only applies to domains purchased with Vercel.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "creator": {
                          "type": "object",
                          "description": "An object containing information of the domain creator, including the user's id, username, and email.",
                          "required": ["email", "id", "username"],
                          "properties": {
                            "username": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "customerId": {
                              "type": "string",
                              "nullable": true
                            },
                            "isDomainReseller": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        "name": {
                          "type": "string",
                          "description": "The domain name."
                        },
                        "teamId": {
                          "type": "string",
                          "nullable": true
                        },
                        "boughtAt": {
                          "type": "number",
                          "description": "If it was purchased through Vercel, the timestamp in milliseconds when it was purchased.",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "Timestamp in milliseconds when the domain was created in the registry."
                        },
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the domain."
                        },
                        "renew": {
                          "type": "boolean",
                          "description": "Indicates whether the domain is set to automatically renew.",
                          "enum": [false, true]
                        },
                        "serviceType": {
                          "type": "string",
                          "description": "The type of service the domain is handled by. `external` if the DNS is externally handled, `zeit.world` if handled with Vercel, or `na` if the service is not available.",
                          "enum": ["external", "na", "zeit.world"]
                        },
                        "transferredAt": {
                          "type": "number",
                          "description": "Timestamp in milliseconds at which the domain was successfully transferred into Vercel. `null` if the transfer is still processing or was never transferred in.",
                          "nullable": true
                        },
                        "transferStartedAt": {
                          "type": "number",
                          "description": "If transferred into Vercel, timestamp in milliseconds when the domain transfer was initiated."
                        },
                        "userId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v5/domains": {
      "get": {
        "operationId": "listAllTheDomains",
        "summary": "List all the domains",
        "description": "Retrieves a list of domains registered for the authenticated user or team. By default it returns the last 20 domains if no limit is provided.",
        "tags": ["domains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains/list-all-the-domains",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of domains to list from a request.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Get domains created after this JavaScript timestamp.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Get domains created before this JavaScript timestamp.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response retrieving a list of domains.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["domains", "pagination"],
                  "properties": {
                    "domains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "boughtAt",
                          "createdAt",
                          "creator",
                          "expiresAt",
                          "id",
                          "intendedNameservers",
                          "name",
                          "nameservers",
                          "serviceType",
                          "teamId",
                          "userId",
                          "verified"
                        ],
                        "properties": {
                          "expiresAt": {
                            "type": "number",
                            "description": "Timestamp in milliseconds at which the domain is set to expire. null if not bought with Vercel.",
                            "nullable": true
                          },
                          "verified": {
                            "type": "boolean",
                            "description": "If the domain has the ownership verified.",
                            "enum": [false, true]
                          },
                          "nameservers": {
                            "type": "array",
                            "description": "A list of the current nameservers of the domain."
                          },
                          "intendedNameservers": {
                            "type": "array",
                            "description": "A list of the intended nameservers for the domain to point to Vercel DNS."
                          },
                          "customNameservers": {
                            "type": "array",
                            "description": "A list of custom nameservers for the domain to point to. Only applies to domains purchased with Vercel."
                          },
                          "creator": {
                            "type": "object",
                            "description": "An object containing information of the domain creator, including the user's id, username, and email.",
                            "required": ["email", "id", "username"]
                          },
                          "name": {
                            "type": "string",
                            "description": "The domain name."
                          },
                          "teamId": {
                            "type": "string",
                            "nullable": true
                          },
                          "boughtAt": {
                            "type": "number",
                            "description": "If it was purchased through Vercel, the timestamp in milliseconds when it was purchased.",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Timestamp in milliseconds when the domain was created in the registry."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique identifier of the domain."
                          },
                          "renew": {
                            "type": "boolean",
                            "description": "Indicates whether the domain is set to automatically renew.",
                            "enum": [false, true]
                          },
                          "serviceType": {
                            "type": "string",
                            "description": "The type of service the domain is handled by. `external` if the DNS is externally handled, `zeit.world` if handled with Vercel, or `na` if the service is not available.",
                            "enum": ["external", "na", "zeit.world"]
                          },
                          "transferredAt": {
                            "type": "number",
                            "description": "Timestamp in milliseconds at which the domain was successfully transferred into Vercel. `null` if the transfer is still processing or was never transferred in.",
                            "nullable": true
                          },
                          "transferStartedAt": {
                            "type": "number",
                            "description": "If transferred into Vercel, timestamp in milliseconds when the domain transfer was initiated."
                          },
                          "userId": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "description": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data.",
                      "required": ["count", "next", "prev"],
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "Amount of items in the current page."
                        },
                        "next": {
                          "type": "number",
                          "description": "Timestamp that must be used to request the next page.",
                          "nullable": true
                        },
                        "prev": {
                          "type": "number",
                          "description": "Timestamp that must be used to request the previous page.",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v7/domains": {
      "post": {
        "operationId": "addAnExistingDomainToTheVercelPlatform",
        "summary": "Add an existing domain to the Vercel platform",
        "description": "This endpoint is used for adding a new apex domain name with Vercel for the authenticating user. Note: This endpoint is no longer used for initiating domain transfers from external registrars to Vercel. For this, please use the endpoint [Transfer-in a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/transfer-in-a-domain).",
        "tags": ["domains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains/add-an-existing-domain-to-the-vercel-platform",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "method": {
                    "type": "string",
                    "description": "The domain operation to perform. It can be either `add` or `move-in`."
                  }
                },
                "oneOf": [
                  {
                    "type": "object",
                    "description": "add",
                    "required": ["name"],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The domain name you want to add."
                      },
                      "cdnEnabled": {
                        "type": "boolean",
                        "description": "Whether the domain has the Vercel Edge Network enabled or not."
                      },
                      "zone": {
                        "type": "boolean",
                        "description": "Whether to create a DNS zone on Vercel. Set `true` if using Vercel nameservers."
                      },
                      "method": {
                        "type": "string",
                        "description": "The domain operation to perform."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "description": "move-in",
                    "required": ["method", "name"],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The domain name you want to add."
                      },
                      "method": {
                        "type": "string",
                        "description": "The domain operation to perform."
                      },
                      "token": {
                        "type": "string",
                        "description": "The move-in token from Move Requested email."
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["domain"],
                  "properties": {
                    "domain": {
                      "type": "object",
                      "required": [
                        "boughtAt",
                        "createdAt",
                        "creator",
                        "expiresAt",
                        "id",
                        "intendedNameservers",
                        "name",
                        "nameservers",
                        "serviceType",
                        "teamId",
                        "userId",
                        "verified"
                      ],
                      "properties": {
                        "expiresAt": {
                          "type": "number",
                          "description": "Timestamp in milliseconds at which the domain is set to expire. null if not bought with Vercel.",
                          "nullable": true
                        },
                        "verified": {
                          "type": "boolean",
                          "description": "If the domain has the ownership verified.",
                          "enum": [false, true]
                        },
                        "nameservers": {
                          "type": "array",
                          "description": "A list of the current nameservers of the domain.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "intendedNameservers": {
                          "type": "array",
                          "description": "A list of the intended nameservers for the domain to point to Vercel DNS.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "customNameservers": {
                          "type": "array",
                          "description": "A list of custom nameservers for the domain to point to. Only applies to domains purchased with Vercel.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "creator": {
                          "type": "object",
                          "description": "An object containing information of the domain creator, including the user's id, username, and email.",
                          "required": ["email", "id", "username"],
                          "properties": {
                            "username": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "customerId": {
                              "type": "string",
                              "nullable": true
                            },
                            "isDomainReseller": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        "name": {
                          "type": "string",
                          "description": "The domain name."
                        },
                        "teamId": {
                          "type": "string",
                          "nullable": true
                        },
                        "boughtAt": {
                          "type": "number",
                          "description": "If it was purchased through Vercel, the timestamp in milliseconds when it was purchased.",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "Timestamp in milliseconds when the domain was created in the registry."
                        },
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the domain."
                        },
                        "renew": {
                          "type": "boolean",
                          "description": "Indicates whether the domain is set to automatically renew.",
                          "enum": [false, true]
                        },
                        "serviceType": {
                          "type": "string",
                          "description": "The type of service the domain is handled by. `external` if the DNS is externally handled, `zeit.world` if handled with Vercel, or `na` if the service is not available.",
                          "enum": ["external", "na", "zeit.world"]
                        },
                        "transferredAt": {
                          "type": "number",
                          "description": "Timestamp in milliseconds at which the domain was successfully transferred into Vercel. `null` if the transfer is still processing or was never transferred in.",
                          "nullable": true
                        },
                        "transferStartedAt": {
                          "type": "number",
                          "description": "If transferred into Vercel, timestamp in milliseconds when the domain transfer was initiated."
                        },
                        "userId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": "The domain is not allowed to be used"
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v3/domains/{domain}": {
      "patch": {
        "operationId": "updateOrMoveApexDomain",
        "summary": "Update or move apex domain",
        "description": "Update or move apex domain. Note: This endpoint is no longer used for updating auto-renew or nameservers. For this, please use the endpoints [Update auto-renew for a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/update-auto-renew-for-a-domain) and [Update nameservers for a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/update-nameservers-for-a-domain).",
        "tags": ["domains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains/update-or-move-apex-domain",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "description": "update",
                    "properties": {
                      "op": {
                        "type": "string"
                      },
                      "renew": {
                        "type": "boolean",
                        "description": "This field is deprecated. Please use PATCH /v1/registrar/domains/{domainName}/auto-renew instead."
                      },
                      "customNameservers": {
                        "type": "array",
                        "description": "This field is deprecated. Please use PATCH /v1/registrar/domains/{domainName}/nameservers instead.",
                        "items": {
                          "type": "string"
                        }
                      },
                      "zone": {
                        "type": "boolean",
                        "description": "Specifies whether this is a DNS zone that intends to use Vercel's nameservers."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "description": "move-out",
                    "properties": {
                      "op": {
                        "type": "string"
                      },
                      "destination": {
                        "type": "string",
                        "description": "User or team to move domain to"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": ["moved"],
                      "properties": {
                        "moved": {
                          "type": "boolean",
                          "enum": [false, true]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["moved", "token"],
                      "properties": {
                        "moved": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "renew": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "customNameservers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "zone": {
                          "type": "boolean",
                          "enum": [false, true]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v6/domains/{domain}": {
      "delete": {
        "operationId": "removeADomainByName",
        "summary": "Remove a domain by name",
        "description": "Delete a previously registered domain name from Vercel. Deleting a domain will automatically remove any associated aliases.",
        "tags": ["domains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/domains/remove-a-domain-by-name",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "The name of the domain.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response removing a domain.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["uid"],
                  "properties": {
                    "uid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
