{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel drains",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/drains/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/drains": {
      "get": {
        "operationId": "retrieveAListOfAllDrains",
        "summary": "Retrieve a list of all Drains",
        "description": "Allows to retrieve the list of Drains of the authenticated team.",
        "tags": ["drains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/drains/retrieve-a-list-of-all-drains",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeMetadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["drains"],
                  "properties": {
                    "drains": {
                      "oneOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "createdAt",
                              "delivery",
                              "id",
                              "name",
                              "ownerId",
                              "schemas",
                              "source",
                              "updatedAt"
                            ]
                          }
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "createdAt",
                              "delivery",
                              "id",
                              "name",
                              "ownerId",
                              "schemas",
                              "source",
                              "updatedAt"
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createANewDrain",
        "summary": "Create a new Drain",
        "description": "Create a new Drain with the provided configuration.",
        "tags": ["drains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/drains/create-a-new-drain",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "projects", "schemas"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "projects": {
                    "type": "string",
                    "enum": ["some", "all"]
                  },
                  "projectIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "filter": {
                    "type": "object",
                    "required": ["version", "filter"],
                    "properties": {
                      "version": {
                        "type": "string"
                      },
                      "filter": {
                        "oneOf": [
                          {
                            "type": "object",
                            "required": ["type"]
                          },
                          {
                            "type": "object",
                            "required": ["type", "text"]
                          }
                        ]
                      }
                    }
                  },
                  "schemas": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "required": ["version"],
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "delivery": {
                    "type": "object",
                    "oneOf": [
                      {
                        "type": "object",
                        "required": ["type", "endpoint", "encoding", "headers"],
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "endpoint": {
                            "type": "string"
                          },
                          "compression": {
                            "type": "string",
                            "enum": ["gzip", "none"]
                          },
                          "encoding": {
                            "type": "string",
                            "enum": ["json", "ndjson"]
                          },
                          "headers": {
                            "type": "object"
                          },
                          "secret": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": ["type", "endpoint", "encoding", "headers"],
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "endpoint": {},
                          "encoding": {
                            "type": "string",
                            "enum": ["proto", "json"]
                          },
                          "headers": {
                            "type": "object"
                          },
                          "secret": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "endpoint",
                          "encoding",
                          "compression",
                          "fileStructure",
                          "roleArn",
                          "region"
                        ],
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "endpoint": {
                            "type": "string"
                          },
                          "encoding": {
                            "type": "string",
                            "enum": ["json", "ndjson"]
                          },
                          "compression": {
                            "type": "string",
                            "enum": ["none"]
                          },
                          "fileStructure": {
                            "type": "string",
                            "enum": ["hive"]
                          },
                          "roleArn": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "serverSideEncryption": {
                            "type": "string",
                            "enum": ["AES256", "aws:kms", "aws:kms:dsse"],
                            "default": "AES256"
                          },
                          "objectAcl": {
                            "type": "string",
                            "enum": [
                              "private",
                              "bucket-owner-read",
                              "bucket-owner-full-control"
                            ]
                          }
                        }
                      }
                    ]
                  },
                  "sampling": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["type", "rate"],
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "rate": {
                          "type": "number",
                          "description": "Sampling rate from 0 to 1 (e.g., 0.1 for 10%)",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "env": {
                          "type": "string",
                          "description": "Environment to apply sampling to",
                          "enum": ["production", "preview"]
                        },
                        "requestPath": {
                          "type": "string",
                          "description": "Request path prefix to apply the sampling rule to"
                        }
                      }
                    }
                  },
                  "transforms": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["id"],
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "source": {
                    "type": "object",
                    "oneOf": [
                      {
                        "oneOf": [
                          {
                            "required": ["externalResourceId"]
                          },
                          {
                            "required": ["resourceId"]
                          },
                          {
                            "required": ["kind"]
                          }
                        ]
                      },
                      {
                        "required": ["kind"],
                        "properties": {
                          "kind": {
                            "type": "string",
                            "default": "self-served"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "createdAt",
                        "delivery",
                        "id",
                        "name",
                        "ownerId",
                        "schemas",
                        "source",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "projectIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "name": {
                          "type": "string"
                        },
                        "teamId": {
                          "type": "string",
                          "nullable": true
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["disabled", "enabled", "errored"]
                        },
                        "firstErrorTimestamp": {
                          "type": "number"
                        },
                        "disabledAt": {
                          "type": "number"
                        },
                        "disabledBy": {
                          "type": "string"
                        },
                        "disabledReason": {
                          "type": "string",
                          "enum": [
                            "account-plan-downgrade",
                            "disabled-by-admin",
                            "disabled-by-owner",
                            "feature-not-available"
                          ]
                        },
                        "schemas": {
                          "type": "object",
                          "properties": {
                            "log": {
                              "type": "object"
                            },
                            "trace": {
                              "type": "object"
                            },
                            "analytics": {
                              "type": "object"
                            },
                            "speed_insights": {
                              "type": "object"
                            },
                            "ai_gateway": {
                              "type": "object"
                            },
                            "audit_log": {
                              "type": "object"
                            },
                            "connect": {
                              "type": "object"
                            }
                          }
                        },
                        "delivery": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "encoding",
                                "endpoint",
                                "headers",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": [
                                "encoding",
                                "endpoint",
                                "headers",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["endpoint", "table", "type"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "compression",
                                "encoding",
                                "endpoint",
                                "fileStructure",
                                "region",
                                "roleArn",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["target", "type"]
                            }
                          ]
                        },
                        "sampling": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["rate", "type"]
                          }
                        },
                        "source": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": ["kind"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "integrationConfigurationId",
                                "integrationId",
                                "kind"
                              ]
                            }
                          ]
                        },
                        "filterV2": {
                          "type": "object",
                          "required": ["filter", "version"],
                          "properties": {
                            "version": {
                              "type": "string",
                              "enum": ["v2"]
                            },
                            "filter": {}
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "createdAt",
                        "delivery",
                        "id",
                        "name",
                        "ownerId",
                        "schemas",
                        "source",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "projectIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "name": {
                          "type": "string"
                        },
                        "teamId": {
                          "type": "string",
                          "nullable": true
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["disabled", "enabled", "errored"]
                        },
                        "firstErrorTimestamp": {
                          "type": "number"
                        },
                        "disabledAt": {
                          "type": "number"
                        },
                        "disabledBy": {
                          "type": "string"
                        },
                        "disabledReason": {
                          "type": "string",
                          "enum": [
                            "account-plan-downgrade",
                            "disabled-by-admin",
                            "disabled-by-owner",
                            "feature-not-available"
                          ]
                        },
                        "schemas": {
                          "type": "object",
                          "properties": {
                            "log": {
                              "type": "object"
                            },
                            "trace": {
                              "type": "object"
                            },
                            "analytics": {
                              "type": "object"
                            },
                            "speed_insights": {
                              "type": "object"
                            },
                            "ai_gateway": {
                              "type": "object"
                            },
                            "audit_log": {
                              "type": "object"
                            },
                            "connect": {
                              "type": "object"
                            }
                          }
                        },
                        "delivery": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "encoding",
                                "endpoint",
                                "headers",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": [
                                "encoding",
                                "endpoint",
                                "headers",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["endpoint", "table", "type"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "compression",
                                "encoding",
                                "endpoint",
                                "fileStructure",
                                "region",
                                "roleArn",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["target", "type"]
                            }
                          ]
                        },
                        "sampling": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["rate", "type"]
                          }
                        },
                        "source": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": ["kind"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "integrationConfigurationId",
                                "integrationId",
                                "kind"
                              ]
                            }
                          ]
                        },
                        "filterV2": {
                          "type": "object",
                          "required": ["filter", "version"],
                          "properties": {
                            "version": {
                              "type": "string",
                              "enum": ["v2"]
                            },
                            "filter": {}
                          }
                        },
                        "integrationIcon": {
                          "type": "string"
                        },
                        "integrationConfigurationUri": {
                          "type": "string"
                        },
                        "integrationWebsite": {
                          "type": "string"
                        },
                        "projectAccess": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": ["access", "managedBy"]
                            },
                            {
                              "type": "object",
                              "required": ["access", "managedBy", "projectIds"]
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/drains/{id}": {
      "get": {
        "operationId": "findADrainById",
        "summary": "Find a Drain by id",
        "description": "Get the information for a specific Drain by passing the drain id in the URL.",
        "tags": ["drains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/drains/find-a-drain-by-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "createdAt",
                        "delivery",
                        "id",
                        "name",
                        "ownerId",
                        "schemas",
                        "source",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "projectIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "name": {
                          "type": "string"
                        },
                        "teamId": {
                          "type": "string",
                          "nullable": true
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["disabled", "enabled", "errored"]
                        },
                        "firstErrorTimestamp": {
                          "type": "number"
                        },
                        "disabledAt": {
                          "type": "number"
                        },
                        "disabledBy": {
                          "type": "string"
                        },
                        "disabledReason": {
                          "type": "string",
                          "enum": [
                            "account-plan-downgrade",
                            "disabled-by-admin",
                            "disabled-by-owner",
                            "feature-not-available"
                          ]
                        },
                        "schemas": {
                          "type": "object",
                          "properties": {
                            "log": {
                              "type": "object"
                            },
                            "trace": {
                              "type": "object"
                            },
                            "analytics": {
                              "type": "object"
                            },
                            "speed_insights": {
                              "type": "object"
                            },
                            "ai_gateway": {
                              "type": "object"
                            },
                            "audit_log": {
                              "type": "object"
                            },
                            "connect": {
                              "type": "object"
                            }
                          }
                        },
                        "delivery": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "encoding",
                                "endpoint",
                                "headers",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": [
                                "encoding",
                                "endpoint",
                                "headers",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["endpoint", "table", "type"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "compression",
                                "encoding",
                                "endpoint",
                                "fileStructure",
                                "region",
                                "roleArn",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["target", "type"]
                            }
                          ]
                        },
                        "sampling": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["rate", "type"]
                          }
                        },
                        "source": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": ["kind"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "integrationConfigurationId",
                                "integrationId",
                                "kind"
                              ]
                            }
                          ]
                        },
                        "filterV2": {
                          "type": "object",
                          "required": ["filter", "version"],
                          "properties": {
                            "version": {
                              "type": "string",
                              "enum": ["v2"]
                            },
                            "filter": {}
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "createdAt",
                        "delivery",
                        "id",
                        "name",
                        "ownerId",
                        "schemas",
                        "source",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "projectIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "name": {
                          "type": "string"
                        },
                        "teamId": {
                          "type": "string",
                          "nullable": true
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["disabled", "enabled", "errored"]
                        },
                        "firstErrorTimestamp": {
                          "type": "number"
                        },
                        "disabledAt": {
                          "type": "number"
                        },
                        "disabledBy": {
                          "type": "string"
                        },
                        "disabledReason": {
                          "type": "string",
                          "enum": [
                            "account-plan-downgrade",
                            "disabled-by-admin",
                            "disabled-by-owner",
                            "feature-not-available"
                          ]
                        },
                        "schemas": {
                          "type": "object",
                          "properties": {
                            "log": {
                              "type": "object"
                            },
                            "trace": {
                              "type": "object"
                            },
                            "analytics": {
                              "type": "object"
                            },
                            "speed_insights": {
                              "type": "object"
                            },
                            "ai_gateway": {
                              "type": "object"
                            },
                            "audit_log": {
                              "type": "object"
                            },
                            "connect": {
                              "type": "object"
                            }
                          }
                        },
                        "delivery": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "encoding",
                                "endpoint",
                                "headers",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": [
                                "encoding",
                                "endpoint",
                                "headers",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["endpoint", "table", "type"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "compression",
                                "encoding",
                                "endpoint",
                                "fileStructure",
                                "region",
                                "roleArn",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["target", "type"]
                            }
                          ]
                        },
                        "sampling": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["rate", "type"]
                          }
                        },
                        "source": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": ["kind"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "integrationConfigurationId",
                                "integrationId",
                                "kind"
                              ]
                            }
                          ]
                        },
                        "filterV2": {
                          "type": "object",
                          "required": ["filter", "version"],
                          "properties": {
                            "version": {
                              "type": "string",
                              "enum": ["v2"]
                            },
                            "filter": {}
                          }
                        },
                        "integrationIcon": {
                          "type": "string"
                        },
                        "integrationConfigurationUri": {
                          "type": "string"
                        },
                        "integrationWebsite": {
                          "type": "string"
                        },
                        "projectAccess": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": ["access", "managedBy"]
                            },
                            {
                              "type": "object",
                              "required": ["access", "managedBy", "projectIds"]
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateAnExistingDrain",
        "summary": "Update an existing Drain",
        "description": "Update the configuration of an existing drain.",
        "tags": ["drains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/drains/update-an-existing-drain",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "projects": {
                    "type": "string",
                    "enum": ["some", "all"]
                  },
                  "projectIds": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filter": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "required": ["version", "filter"],
                        "properties": {
                          "version": {
                            "type": "string"
                          },
                          "filter": {}
                        }
                      }
                    ]
                  },
                  "schemas": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "required": ["version"],
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "delivery": {
                    "type": "object",
                    "oneOf": [
                      {
                        "type": "object",
                        "required": ["type", "endpoint", "encoding", "headers"],
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "endpoint": {
                            "type": "string"
                          },
                          "compression": {
                            "type": "string",
                            "enum": ["gzip", "none"]
                          },
                          "encoding": {
                            "type": "string",
                            "enum": ["json", "ndjson"]
                          },
                          "headers": {
                            "type": "object"
                          },
                          "secret": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": ["type", "endpoint", "encoding", "headers"],
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "endpoint": {},
                          "encoding": {
                            "type": "string",
                            "enum": ["proto", "json"]
                          },
                          "headers": {
                            "type": "object"
                          },
                          "secret": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "endpoint",
                          "encoding",
                          "compression",
                          "fileStructure",
                          "roleArn",
                          "region"
                        ],
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "endpoint": {
                            "type": "string"
                          },
                          "encoding": {
                            "type": "string",
                            "enum": ["json", "ndjson"]
                          },
                          "compression": {
                            "type": "string",
                            "enum": ["none"]
                          },
                          "fileStructure": {
                            "type": "string",
                            "enum": ["hive"]
                          },
                          "roleArn": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "serverSideEncryption": {
                            "type": "string",
                            "enum": ["AES256", "aws:kms", "aws:kms:dsse"],
                            "default": "AES256"
                          },
                          "objectAcl": {
                            "type": "string",
                            "enum": [
                              "private",
                              "bucket-owner-read",
                              "bucket-owner-full-control"
                            ]
                          }
                        }
                      }
                    ]
                  },
                  "sampling": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "required": ["type", "rate"],
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "rate": {
                          "type": "number",
                          "description": "Sampling rate from 0 to 1 (e.g., 0.1 for 10%)",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "env": {
                          "type": "string",
                          "description": "Environment to apply sampling to",
                          "enum": ["production", "preview"]
                        },
                        "requestPath": {
                          "type": "string",
                          "description": "Request path prefix to apply the sampling rule to"
                        }
                      }
                    }
                  },
                  "transforms": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "required": ["id"],
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": ["enabled", "disabled"]
                  },
                  "source": {
                    "type": "object",
                    "oneOf": [
                      {
                        "oneOf": [
                          {
                            "required": ["externalResourceId"]
                          },
                          {
                            "required": ["resourceId"]
                          },
                          {
                            "required": ["kind"]
                          }
                        ]
                      },
                      {
                        "required": ["kind"],
                        "properties": {
                          "kind": {
                            "type": "string",
                            "default": "self-served"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "createdAt",
                        "delivery",
                        "id",
                        "name",
                        "ownerId",
                        "schemas",
                        "source",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "projectIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "name": {
                          "type": "string"
                        },
                        "teamId": {
                          "type": "string",
                          "nullable": true
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["disabled", "enabled", "errored"]
                        },
                        "firstErrorTimestamp": {
                          "type": "number"
                        },
                        "disabledAt": {
                          "type": "number"
                        },
                        "disabledBy": {
                          "type": "string"
                        },
                        "disabledReason": {
                          "type": "string",
                          "enum": [
                            "account-plan-downgrade",
                            "disabled-by-admin",
                            "disabled-by-owner",
                            "feature-not-available"
                          ]
                        },
                        "schemas": {
                          "type": "object",
                          "properties": {
                            "log": {
                              "type": "object"
                            },
                            "trace": {
                              "type": "object"
                            },
                            "analytics": {
                              "type": "object"
                            },
                            "speed_insights": {
                              "type": "object"
                            },
                            "ai_gateway": {
                              "type": "object"
                            },
                            "audit_log": {
                              "type": "object"
                            },
                            "connect": {
                              "type": "object"
                            }
                          }
                        },
                        "delivery": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "encoding",
                                "endpoint",
                                "headers",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": [
                                "encoding",
                                "endpoint",
                                "headers",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["endpoint", "table", "type"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "compression",
                                "encoding",
                                "endpoint",
                                "fileStructure",
                                "region",
                                "roleArn",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["target", "type"]
                            }
                          ]
                        },
                        "sampling": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["rate", "type"]
                          }
                        },
                        "source": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": ["kind"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "integrationConfigurationId",
                                "integrationId",
                                "kind"
                              ]
                            }
                          ]
                        },
                        "filterV2": {
                          "type": "object",
                          "required": ["filter", "version"],
                          "properties": {
                            "version": {
                              "type": "string",
                              "enum": ["v2"]
                            },
                            "filter": {}
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "createdAt",
                        "delivery",
                        "id",
                        "name",
                        "ownerId",
                        "schemas",
                        "source",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "projectIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "name": {
                          "type": "string"
                        },
                        "teamId": {
                          "type": "string",
                          "nullable": true
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["disabled", "enabled", "errored"]
                        },
                        "firstErrorTimestamp": {
                          "type": "number"
                        },
                        "disabledAt": {
                          "type": "number"
                        },
                        "disabledBy": {
                          "type": "string"
                        },
                        "disabledReason": {
                          "type": "string",
                          "enum": [
                            "account-plan-downgrade",
                            "disabled-by-admin",
                            "disabled-by-owner",
                            "feature-not-available"
                          ]
                        },
                        "schemas": {
                          "type": "object",
                          "properties": {
                            "log": {
                              "type": "object"
                            },
                            "trace": {
                              "type": "object"
                            },
                            "analytics": {
                              "type": "object"
                            },
                            "speed_insights": {
                              "type": "object"
                            },
                            "ai_gateway": {
                              "type": "object"
                            },
                            "audit_log": {
                              "type": "object"
                            },
                            "connect": {
                              "type": "object"
                            }
                          }
                        },
                        "delivery": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "encoding",
                                "endpoint",
                                "headers",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": [
                                "encoding",
                                "endpoint",
                                "headers",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["endpoint", "table", "type"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "compression",
                                "encoding",
                                "endpoint",
                                "fileStructure",
                                "region",
                                "roleArn",
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "required": ["target", "type"]
                            }
                          ]
                        },
                        "sampling": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["rate", "type"]
                          }
                        },
                        "source": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": ["kind"]
                            },
                            {
                              "type": "object",
                              "required": [
                                "integrationConfigurationId",
                                "integrationId",
                                "kind"
                              ]
                            }
                          ]
                        },
                        "filterV2": {
                          "type": "object",
                          "required": ["filter", "version"],
                          "properties": {
                            "version": {
                              "type": "string",
                              "enum": ["v2"]
                            },
                            "filter": {}
                          }
                        },
                        "integrationIcon": {
                          "type": "string"
                        },
                        "integrationConfigurationUri": {
                          "type": "string"
                        },
                        "integrationWebsite": {
                          "type": "string"
                        },
                        "projectAccess": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": ["access", "managedBy"]
                            },
                            {
                              "type": "object",
                              "required": ["access", "managedBy", "projectIds"]
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteADrain",
        "summary": "Delete a drain",
        "description": "Delete a specific Drain by passing the drain id in the URL.",
        "tags": ["drains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/drains/delete-a-drain",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/drains/test": {
      "post": {
        "operationId": "validateDrainDeliveryConfiguration",
        "summary": "Validate Drain delivery configuration",
        "description": "Validate the delivery configuration of a Drain using sample events.",
        "tags": ["drains"],
        "x-docs-url": "https://vercel.com/docs/rest-api/drains/validate-drain-delivery-configuration",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["schemas", "delivery"],
                "properties": {
                  "schemas": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "required": ["version"],
                      "properties": {
                        "version": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "delivery": {
                    "type": "object",
                    "oneOf": [
                      {
                        "type": "object",
                        "required": ["type", "endpoint", "encoding", "headers"],
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "endpoint": {
                            "type": "string"
                          },
                          "compression": {
                            "type": "string",
                            "enum": ["gzip", "none"]
                          },
                          "encoding": {
                            "type": "string",
                            "enum": ["json", "ndjson"]
                          },
                          "headers": {
                            "type": "object"
                          },
                          "secret": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": ["type", "endpoint", "encoding", "headers"],
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "endpoint": {},
                          "encoding": {
                            "type": "string",
                            "enum": ["proto", "json"]
                          },
                          "headers": {
                            "type": "object"
                          },
                          "secret": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "endpoint",
                          "encoding",
                          "compression",
                          "fileStructure",
                          "roleArn",
                          "region"
                        ],
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "endpoint": {
                            "type": "string"
                          },
                          "encoding": {
                            "type": "string",
                            "enum": ["json", "ndjson"]
                          },
                          "compression": {
                            "type": "string",
                            "enum": ["none"]
                          },
                          "fileStructure": {
                            "type": "string",
                            "enum": ["hive"]
                          },
                          "roleArn": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "serverSideEncryption": {
                            "type": "string",
                            "enum": ["AES256", "aws:kms", "aws:kms:dsse"],
                            "default": "AES256"
                          },
                          "objectAcl": {
                            "type": "string",
                            "enum": [
                              "private",
                              "bucket-owner-read",
                              "bucket-owner-full-control"
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object"
                    },
                    {
                      "type": "object",
                      "required": ["endpoint", "error", "status"],
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "error": {
                          "type": "string"
                        },
                        "endpoint": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
