{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel edge-cache",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/edge_cache/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/edge-cache/invalidate-by-tags": {
      "post": {
        "operationId": "invalidateByTag",
        "summary": "Invalidate by tag",
        "description": "Marks a cache tag as stale, causing cache entries associated with that tag to be revalidated in the background on the next request.",
        "tags": ["edge-cache"],
        "x-docs-url": "https://vercel.com/docs/rest-api/edge-cache/invalidate-by-tag",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tags"],
                "properties": {
                  "tags": {
                    "oneOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "maxLength": 256
                        }
                      },
                      {
                        "type": "string",
                        "maxLength": 8196
                      }
                    ]
                  },
                  "target": {
                    "type": "string",
                    "enum": ["production", "preview"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/edge-cache/dangerously-delete-by-tags": {
      "post": {
        "operationId": "dangerouslyDeleteByTag",
        "summary": "Dangerously delete by tag",
        "description": "Marks a cache tag as deleted, causing cache entries associated with that tag to be revalidated in the foreground on the next request. Use this method with caution because one tag can be associated with many paths and deleting the cache can cause many concurrent requests to the origin leading to cache stampede problem. This method is for advanced use cases and is not recommended; prefer using `invalidateByTag` instead.",
        "tags": ["edge-cache"],
        "x-docs-url": "https://vercel.com/docs/rest-api/edge-cache/dangerously-delete-by-tag",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tags"],
                "properties": {
                  "revalidationDeadlineSeconds": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 31536000
                  },
                  "tags": {
                    "oneOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "maxLength": 256
                        }
                      },
                      {
                        "type": "string",
                        "maxLength": 8196
                      }
                    ]
                  },
                  "target": {
                    "type": "string",
                    "enum": ["production", "preview"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/edge-cache/invalidate-by-src-images": {
      "post": {
        "operationId": "invalidateBySourceImage",
        "summary": "Invalidate by source image",
        "description": "Marks a source image as stale, causing its corresponding transformed images to be revalidated in the background on the next request.",
        "tags": ["edge-cache"],
        "x-docs-url": "https://vercel.com/docs/rest-api/edge-cache/invalidate-by-source-image",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["srcImages"],
                "properties": {
                  "srcImages": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 8192
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/edge-cache/dangerously-delete-by-src-images": {
      "post": {
        "operationId": "dangerouslyDeleteBySourceImage",
        "summary": "Dangerously delete by source image",
        "description": "Marks a source image as deleted, causing cache entries associated with that source image to be revalidated in the foreground on the next request. Use this method with caution because one source image can be associated with many paths and deleting the cache can cause many concurrent requests to the origin leading to cache stampede problem. This method is for advanced use cases and is not recommended; prefer using `invalidateBySrcImage` instead.",
        "tags": ["edge-cache"],
        "x-docs-url": "https://vercel.com/docs/rest-api/edge-cache/dangerously-delete-by-source-image",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["srcImages"],
                "properties": {
                  "revalidationDeadlineSeconds": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 31536000
                  },
                  "srcImages": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 8192
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
