{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel environment",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/environment/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/env": {
      "get": {
        "operationId": "listsAllSharedEnvironmentVariablesForATeam",
        "summary": "Lists all Shared Environment Variables for a team",
        "description": "Lists all Shared Environment Variables for a team, taking into account optional filters.",
        "tags": ["environment"],
        "x-docs-url": "https://vercel.com/docs/rest-api/environment/lists-all-shared-environment-variables-for-a-team",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Filter SharedEnvVariables that belong to a project",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter SharedEnvVariables based on comma separated ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_ids",
            "in": "query",
            "description": "Filter SharedEnvVariables based on comma separated ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude-ids",
            "in": "query",
            "description": "Filter SharedEnvVariables based on comma separated ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_projectId",
            "in": "query",
            "description": "Filter SharedEnvVariables that belong to a project",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude-projectId",
            "in": "query",
            "description": "Filter SharedEnvVariables that belong to a project",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "description": "The date when the Shared Env Var was created.",
                            "format": "date-time"
                          },
                          "key": {
                            "type": "string",
                            "description": "The name of the Shared Env Var."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "The unique identifier of the owner (team) the Shared Env Var was created for.",
                            "nullable": true
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique identifier of the Shared Env Var."
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "The unique identifier of the user who created the Shared Env Var.",
                            "nullable": true
                          },
                          "deletedBy": {
                            "type": "string",
                            "description": "The unique identifier of the user who deleted the Shared Env Var.",
                            "nullable": true
                          },
                          "updatedBy": {
                            "type": "string",
                            "description": "The unique identifier of the user who last updated the Shared Env Var.",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Timestamp for when the Shared Env Var was created."
                          },
                          "deletedAt": {
                            "type": "number",
                            "description": "Timestamp for when the Shared Env Var was (soft) deleted."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Timestamp for when the Shared Env Var was last updated."
                          },
                          "value": {
                            "type": "string",
                            "description": "The value of the Shared Env Var."
                          },
                          "projectId": {
                            "type": "array",
                            "description": "The unique identifiers of the projects which the Shared Env Var is linked to."
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of this cosmos doc instance, if blank, assume secret.",
                            "enum": [
                              "encrypted",
                              "plain",
                              "sensitive",
                              "system"
                            ]
                          },
                          "target": {
                            "type": "array",
                            "description": "environments this env variable targets"
                          },
                          "applyToAllCustomEnvironments": {
                            "type": "boolean",
                            "description": "whether or not this env varible applies to custom environments",
                            "enum": [false, true]
                          },
                          "customEnvironmentIds": {
                            "type": "array",
                            "description": "The custom environment IDs that this Shared Env Var is scoped to."
                          },
                          "decrypted": {
                            "type": "boolean",
                            "description": "whether or not this env variable is decrypted",
                            "enum": [false, true]
                          },
                          "comment": {
                            "type": "string",
                            "description": "A user provided comment that describes what this Shared Env Var is for."
                          },
                          "lastEditedByDisplayName": {
                            "type": "string",
                            "description": "The last editor full name or username."
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "description": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data.",
                      "required": ["count", "next", "prev"],
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "Amount of items in the current page."
                        },
                        "next": {
                          "type": "number",
                          "description": "Timestamp that must be used to request the next page.",
                          "nullable": true
                        },
                        "prev": {
                          "type": "number",
                          "description": "Timestamp that must be used to request the previous page.",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createOneOrMoreSharedEnvironmentVariables",
        "summary": "Create one or more shared environment variables",
        "description": "Creates shared environment variable(s) for a team.",
        "tags": ["environment"],
        "x-docs-url": "https://vercel.com/docs/rest-api/environment/create-one-or-more-shared-environment-variables",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["evs"],
                "properties": {
                  "evs": {
                    "type": "array",
                    "minimum": 1,
                    "maximum": 50,
                    "items": {
                      "type": "object",
                      "required": ["key", "value"],
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The name of the Shared Environment Variable"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value of the Shared Environment Variable"
                        },
                        "comment": {
                          "type": "string",
                          "description": "A comment to add context on what this Shared Environment Variable is for",
                          "maxLength": 500
                        }
                      }
                    }
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of environment variable",
                    "enum": ["encrypted", "sensitive"]
                  },
                  "target": {
                    "type": "array",
                    "description": "The target environment of the Shared Environment Variable",
                    "items": {
                      "enum": ["production", "preview", "development"]
                    }
                  },
                  "projectId": {
                    "type": "array",
                    "description": "Associate a Shared Environment Variable to projects.",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "anyOf": [
                  {
                    "required": ["target"]
                  },
                  {
                    "required": ["applyToAllCustomEnvironments"]
                  },
                  {
                    "required": ["customEnvironmentIds"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["created", "failed"],
                  "properties": {
                    "created": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "description": "The date when the Shared Env Var was created.",
                            "format": "date-time"
                          },
                          "key": {
                            "type": "string",
                            "description": "The name of the Shared Env Var."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "The unique identifier of the owner (team) the Shared Env Var was created for.",
                            "nullable": true
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique identifier of the Shared Env Var."
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "The unique identifier of the user who created the Shared Env Var.",
                            "nullable": true
                          },
                          "deletedBy": {
                            "type": "string",
                            "description": "The unique identifier of the user who deleted the Shared Env Var.",
                            "nullable": true
                          },
                          "updatedBy": {
                            "type": "string",
                            "description": "The unique identifier of the user who last updated the Shared Env Var.",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Timestamp for when the Shared Env Var was created."
                          },
                          "deletedAt": {
                            "type": "number",
                            "description": "Timestamp for when the Shared Env Var was (soft) deleted."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Timestamp for when the Shared Env Var was last updated."
                          },
                          "value": {
                            "type": "string",
                            "description": "The value of the Shared Env Var."
                          },
                          "projectId": {
                            "type": "array",
                            "description": "The unique identifiers of the projects which the Shared Env Var is linked to."
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of this cosmos doc instance, if blank, assume secret.",
                            "enum": [
                              "encrypted",
                              "plain",
                              "sensitive",
                              "system"
                            ]
                          },
                          "target": {
                            "type": "array",
                            "description": "environments this env variable targets"
                          },
                          "applyToAllCustomEnvironments": {
                            "type": "boolean",
                            "description": "whether or not this env varible applies to custom environments",
                            "enum": [false, true]
                          },
                          "customEnvironmentIds": {
                            "type": "array",
                            "description": "The custom environment IDs that this Shared Env Var is scoped to."
                          },
                          "decrypted": {
                            "type": "boolean",
                            "description": "whether or not this env variable is decrypted",
                            "enum": [false, true]
                          },
                          "comment": {
                            "type": "string",
                            "description": "A user provided comment that describes what this Shared Env Var is for."
                          },
                          "lastEditedByDisplayName": {
                            "type": "string",
                            "description": "The last editor full name or username."
                          }
                        }
                      }
                    },
                    "failed": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["error"],
                        "properties": {
                          "error": {
                            "type": "object",
                            "required": ["code", "message"]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updatesOneOrMoreSharedEnvironmentVariables",
        "summary": "Updates one or more shared environment variables",
        "description": "Updates a given Shared Environment Variable for a Team.",
        "tags": ["environment"],
        "x-docs-url": "https://vercel.com/docs/rest-api/environment/updates-one-or-more-shared-environment-variables",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["updates"],
                "properties": {
                  "updates": {
                    "type": "object",
                    "description": "An object where each key is an environment variable ID (not the key name) and the value is the update to apply",
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The name of the Shared Environment Variable"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value of the Shared Environment Variable"
                        },
                        "target": {
                          "type": "array",
                          "description": "The target environment of the Shared Environment Variable"
                        },
                        "projectId": {
                          "type": "array",
                          "description": "Associate a Shared Environment Variable to projects."
                        },
                        "projectIdUpdates": {
                          "type": "object",
                          "description": "Incrementally update project linking without specifying the full list"
                        },
                        "type": {
                          "type": "string",
                          "description": "The new type of the Shared Environment Variable",
                          "enum": ["encrypted", "sensitive"]
                        },
                        "comment": {
                          "type": "string",
                          "description": "A comment to add context on what this Shared Environment Variable is for",
                          "maxLength": 500
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["failed", "updated"],
                  "properties": {
                    "updated": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "description": "The date when the Shared Env Var was created.",
                            "format": "date-time"
                          },
                          "key": {
                            "type": "string",
                            "description": "The name of the Shared Env Var."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "The unique identifier of the owner (team) the Shared Env Var was created for.",
                            "nullable": true
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique identifier of the Shared Env Var."
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "The unique identifier of the user who created the Shared Env Var.",
                            "nullable": true
                          },
                          "deletedBy": {
                            "type": "string",
                            "description": "The unique identifier of the user who deleted the Shared Env Var.",
                            "nullable": true
                          },
                          "updatedBy": {
                            "type": "string",
                            "description": "The unique identifier of the user who last updated the Shared Env Var.",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Timestamp for when the Shared Env Var was created."
                          },
                          "deletedAt": {
                            "type": "number",
                            "description": "Timestamp for when the Shared Env Var was (soft) deleted."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Timestamp for when the Shared Env Var was last updated."
                          },
                          "value": {
                            "type": "string",
                            "description": "The value of the Shared Env Var."
                          },
                          "projectId": {
                            "type": "array",
                            "description": "The unique identifiers of the projects which the Shared Env Var is linked to."
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of this cosmos doc instance, if blank, assume secret.",
                            "enum": [
                              "encrypted",
                              "plain",
                              "sensitive",
                              "system"
                            ]
                          },
                          "target": {
                            "type": "array",
                            "description": "environments this env variable targets"
                          },
                          "applyToAllCustomEnvironments": {
                            "type": "boolean",
                            "description": "whether or not this env varible applies to custom environments",
                            "enum": [false, true]
                          },
                          "customEnvironmentIds": {
                            "type": "array",
                            "description": "The custom environment IDs that this Shared Env Var is scoped to."
                          },
                          "decrypted": {
                            "type": "boolean",
                            "description": "whether or not this env variable is decrypted",
                            "enum": [false, true]
                          },
                          "comment": {
                            "type": "string",
                            "description": "A user provided comment that describes what this Shared Env Var is for."
                          },
                          "lastEditedByDisplayName": {
                            "type": "string",
                            "description": "The last editor full name or username."
                          }
                        }
                      }
                    },
                    "failed": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["error"],
                        "properties": {
                          "error": {
                            "type": "object",
                            "required": ["code", "message"]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteOneOrMoreEnvVar",
        "summary": "Delete one or more Env Var",
        "description": "Deletes one or many Shared Environment Variables for a given team.",
        "tags": ["environment"],
        "x-docs-url": "https://vercel.com/docs/rest-api/environment/delete-one-or-more-env-var",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ids"],
                "properties": {
                  "ids": {
                    "type": "array",
                    "description": "IDs of the Shared Environment Variables to delete",
                    "minimum": 1,
                    "maximum": 50,
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["deleted", "failed"],
                  "properties": {
                    "deleted": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "failed": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["error"],
                        "properties": {
                          "error": {
                            "type": "object",
                            "required": ["code", "message"]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/env/{id}": {
      "get": {
        "operationId": "retrieveTheDecryptedValueOfASharedEnvironmentVariableById",
        "summary": "Retrieve the decrypted value of a Shared Environment Variable by id.",
        "description": "Retrieve the decrypted value of a Shared Environment Variable by id.",
        "tags": ["environment"],
        "x-docs-url": "https://vercel.com/docs/rest-api/environment/retrieve-the-decrypted-value-of-a-shared-environment-variable-by-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID for the Shared Environment Variable to get the decrypted value.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created": {
                      "type": "string",
                      "description": "The date when the Shared Env Var was created.",
                      "format": "date-time"
                    },
                    "key": {
                      "type": "string",
                      "description": "The name of the Shared Env Var."
                    },
                    "ownerId": {
                      "type": "string",
                      "description": "The unique identifier of the owner (team) the Shared Env Var was created for.",
                      "nullable": true
                    },
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the Shared Env Var."
                    },
                    "createdBy": {
                      "type": "string",
                      "description": "The unique identifier of the user who created the Shared Env Var.",
                      "nullable": true
                    },
                    "deletedBy": {
                      "type": "string",
                      "description": "The unique identifier of the user who deleted the Shared Env Var.",
                      "nullable": true
                    },
                    "updatedBy": {
                      "type": "string",
                      "description": "The unique identifier of the user who last updated the Shared Env Var.",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "Timestamp for when the Shared Env Var was created."
                    },
                    "deletedAt": {
                      "type": "number",
                      "description": "Timestamp for when the Shared Env Var was (soft) deleted."
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "Timestamp for when the Shared Env Var was last updated."
                    },
                    "value": {
                      "type": "string",
                      "description": "The value of the Shared Env Var."
                    },
                    "projectId": {
                      "type": "array",
                      "description": "The unique identifiers of the projects which the Shared Env Var is linked to.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of this cosmos doc instance, if blank, assume secret.",
                      "enum": ["encrypted", "plain", "sensitive", "system"]
                    },
                    "target": {
                      "type": "array",
                      "description": "environments this env variable targets",
                      "items": {
                        "type": "string",
                        "description": "environments this env variable targets",
                        "enum": ["development", "preview", "production"]
                      }
                    },
                    "applyToAllCustomEnvironments": {
                      "type": "boolean",
                      "description": "whether or not this env varible applies to custom environments",
                      "enum": [false, true]
                    },
                    "customEnvironmentIds": {
                      "type": "array",
                      "description": "The custom environment IDs that this Shared Env Var is scoped to.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "decrypted": {
                      "type": "boolean",
                      "description": "whether or not this env variable is decrypted",
                      "enum": [false, true]
                    },
                    "comment": {
                      "type": "string",
                      "description": "A user provided comment that describes what this Shared Env Var is for."
                    },
                    "lastEditedByDisplayName": {
                      "type": "string",
                      "description": "The last editor full name or username."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/env/{id}/unlink/{projectId}": {
      "patch": {
        "operationId": "disconnectsASharedEnvironmentVariableForAGivenProject",
        "summary": "Disconnects a shared environment variable for a given project",
        "description": "Disconnects a shared environment variable for a given project",
        "tags": ["environment"],
        "x-docs-url": "https://vercel.com/docs/rest-api/environment/disconnects-a-shared-environment-variable-for-a-given-project",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID for the Shared Environment Variable to unlink from the project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id"],
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v9/projects/{idOrName}/custom-environments": {
      "get": {
        "operationId": "retrieveCustomEnvironments",
        "summary": "Retrieve custom environments",
        "description": "Retrieve custom environments for the project. Must not be named 'Production' or 'Preview'.",
        "tags": ["environment"],
        "x-docs-url": "https://vercel.com/docs/rest-api/environment/retrieve-custom-environments",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "The unique project identifier or the project name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gitBranch",
            "in": "query",
            "description": "Fetch custom environments for a specific git branch",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["accountLimit", "environments"],
                  "properties": {
                    "accountLimit": {
                      "type": "object",
                      "description": "The maximum number of custom environments allowed either by the team's plan type or a custom override.",
                      "required": ["total"],
                      "properties": {
                        "total": {
                          "type": "number"
                        }
                      }
                    },
                    "environments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "createdAt",
                          "id",
                          "slug",
                          "type",
                          "updatedAt"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of environment (production, preview, or development)",
                            "enum": ["development", "preview", "production"]
                          },
                          "description": {
                            "type": "string",
                            "description": "Optional description of the environment's purpose"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Timestamp when the environment was created"
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Timestamp when the environment was last updated"
                          },
                          "slug": {
                            "type": "string",
                            "description": "URL-friendly name of the environment"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the custom environment (format: env_*)"
                          },
                          "domains": {
                            "type": "array",
                            "description": "List of domains associated with this environment"
                          },
                          "branchMatcher": {
                            "type": "object",
                            "description": "Configuration for matching git branches to this environment",
                            "required": ["pattern", "type"]
                          },
                          "currentDeploymentAliases": {
                            "type": "array",
                            "description": "List of aliases for the current deployment"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createACustomEnvironmentForTheCurrentProject",
        "summary": "Create a custom environment for the current project.",
        "description": "Creates a custom environment for the current project. Cannot be named 'Production' or 'Preview'.",
        "tags": ["environment"],
        "x-docs-url": "https://vercel.com/docs/rest-api/environment/create-a-custom-environment-for-the-current-project",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "The unique project identifier or the project name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string",
                    "description": "The slug of the custom environment to create.",
                    "maxLength": 32
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the custom environment. This is optional.",
                    "maxLength": 256
                  },
                  "branchMatcher": {
                    "type": "object",
                    "description": "How we want to determine a matching branch. This is optional.",
                    "required": ["type", "pattern"],
                    "properties": {
                      "type": {
                        "description": "Type of matcher. One of \"equals\", \"startsWith\", or \"endsWith\".",
                        "enum": ["equals", "startsWith", "endsWith"]
                      },
                      "pattern": {
                        "type": "string",
                        "description": "Git branch name or portion thereof.",
                        "maxLength": 100
                      }
                    }
                  },
                  "copyEnvVarsFrom": {
                    "type": "string",
                    "description": "Where to copy environment variables from. This is optional."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Internal representation of a custom environment with all required properties",
                  "required": ["createdAt", "id", "slug", "type", "updatedAt"],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the custom environment (format: env_*)"
                    },
                    "slug": {
                      "type": "string",
                      "description": "URL-friendly name of the environment"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of environment (production, preview, or development)",
                      "enum": ["development", "preview", "production"]
                    },
                    "description": {
                      "type": "string",
                      "description": "Optional description of the environment's purpose"
                    },
                    "branchMatcher": {
                      "type": "object",
                      "description": "Configuration for matching git branches to this environment",
                      "required": ["pattern", "type"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type of matching to perform",
                          "enum": ["endsWith", "equals", "startsWith"]
                        },
                        "pattern": {
                          "type": "string",
                          "description": "The pattern to match against branch names"
                        }
                      }
                    },
                    "domains": {
                      "type": "array",
                      "description": "List of domains associated with this environment",
                      "items": {
                        "type": "object",
                        "description": "List of domains associated with this environment",
                        "required": [
                          "apexName",
                          "name",
                          "projectId",
                          "verified"
                        ],
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "apexName": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "redirect": {
                            "type": "string",
                            "nullable": true
                          },
                          "redirectStatusCode": {
                            "type": "number",
                            "enum": [301, 302, 307, 308, null],
                            "nullable": true
                          },
                          "gitBranch": {
                            "type": "string",
                            "nullable": true
                          },
                          "customEnvironmentId": {
                            "type": "string",
                            "nullable": true
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "verified": {
                            "type": "boolean",
                            "description": "`true` if the domain is verified for use with the project. If `false` it will not be used as an alias on this project until the challenge in `verification` is completed.",
                            "enum": [false, true]
                          },
                          "verification": {
                            "type": "array",
                            "description": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
                          }
                        }
                      }
                    },
                    "currentDeploymentAliases": {
                      "type": "array",
                      "description": "List of aliases for the current deployment",
                      "items": {
                        "type": "string"
                      }
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "Timestamp when the environment was created"
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "Timestamp when the environment was last updated"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v9/projects/{idOrName}/custom-environments/{environmentSlugOrId}": {
      "get": {
        "operationId": "retrieveACustomEnvironment",
        "summary": "Retrieve a custom environment",
        "description": "Retrieve a custom environment for the project. Must not be named 'Production' or 'Preview'.",
        "tags": ["environment"],
        "x-docs-url": "https://vercel.com/docs/rest-api/environment/retrieve-a-custom-environment",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "The unique project identifier or the project name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environmentSlugOrId",
            "in": "path",
            "description": "The unique custom environment identifier within the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Internal representation of a custom environment with all required properties",
                  "required": ["createdAt", "id", "slug", "type", "updatedAt"],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the custom environment (format: env_*)"
                    },
                    "slug": {
                      "type": "string",
                      "description": "URL-friendly name of the environment"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of environment (production, preview, or development)",
                      "enum": ["development", "preview", "production"]
                    },
                    "description": {
                      "type": "string",
                      "description": "Optional description of the environment's purpose"
                    },
                    "branchMatcher": {
                      "type": "object",
                      "description": "Configuration for matching git branches to this environment",
                      "required": ["pattern", "type"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type of matching to perform",
                          "enum": ["endsWith", "equals", "startsWith"]
                        },
                        "pattern": {
                          "type": "string",
                          "description": "The pattern to match against branch names"
                        }
                      }
                    },
                    "domains": {
                      "type": "array",
                      "description": "List of domains associated with this environment",
                      "items": {
                        "type": "object",
                        "description": "List of domains associated with this environment",
                        "required": [
                          "apexName",
                          "name",
                          "projectId",
                          "verified"
                        ],
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "apexName": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "redirect": {
                            "type": "string",
                            "nullable": true
                          },
                          "redirectStatusCode": {
                            "type": "number",
                            "enum": [301, 302, 307, 308, null],
                            "nullable": true
                          },
                          "gitBranch": {
                            "type": "string",
                            "nullable": true
                          },
                          "customEnvironmentId": {
                            "type": "string",
                            "nullable": true
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "verified": {
                            "type": "boolean",
                            "description": "`true` if the domain is verified for use with the project. If `false` it will not be used as an alias on this project until the challenge in `verification` is completed.",
                            "enum": [false, true]
                          },
                          "verification": {
                            "type": "array",
                            "description": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
                          }
                        }
                      }
                    },
                    "currentDeploymentAliases": {
                      "type": "array",
                      "description": "List of aliases for the current deployment",
                      "items": {
                        "type": "string"
                      }
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "Timestamp when the environment was created"
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "Timestamp when the environment was last updated"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateACustomEnvironment",
        "summary": "Update a custom environment",
        "description": "Update a custom environment for the project. Must not be named 'Production' or 'Preview'.",
        "tags": ["environment"],
        "x-docs-url": "https://vercel.com/docs/rest-api/environment/update-a-custom-environment",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "The unique project identifier or the project name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environmentSlugOrId",
            "in": "path",
            "description": "The unique custom environment identifier within the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string",
                    "description": "The slug of the custom environment.",
                    "maxLength": 32
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the custom environment. This is optional.",
                    "maxLength": 256
                  },
                  "branchMatcher": {
                    "type": "object",
                    "description": "How we want to determine a matching branch. This is optional.",
                    "nullable": true,
                    "required": ["type", "pattern"],
                    "properties": {
                      "type": {
                        "description": "Type of matcher. One of \"equals\", \"startsWith\", or \"endsWith\".",
                        "enum": ["equals", "startsWith", "endsWith"]
                      },
                      "pattern": {
                        "type": "string",
                        "description": "Git branch name or portion thereof.",
                        "maxLength": 100
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Internal representation of a custom environment with all required properties",
                  "required": ["createdAt", "id", "slug", "type", "updatedAt"],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the custom environment (format: env_*)"
                    },
                    "slug": {
                      "type": "string",
                      "description": "URL-friendly name of the environment"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of environment (production, preview, or development)",
                      "enum": ["development", "preview", "production"]
                    },
                    "description": {
                      "type": "string",
                      "description": "Optional description of the environment's purpose"
                    },
                    "branchMatcher": {
                      "type": "object",
                      "description": "Configuration for matching git branches to this environment",
                      "required": ["pattern", "type"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type of matching to perform",
                          "enum": ["endsWith", "equals", "startsWith"]
                        },
                        "pattern": {
                          "type": "string",
                          "description": "The pattern to match against branch names"
                        }
                      }
                    },
                    "domains": {
                      "type": "array",
                      "description": "List of domains associated with this environment",
                      "items": {
                        "type": "object",
                        "description": "List of domains associated with this environment",
                        "required": [
                          "apexName",
                          "name",
                          "projectId",
                          "verified"
                        ],
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "apexName": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "redirect": {
                            "type": "string",
                            "nullable": true
                          },
                          "redirectStatusCode": {
                            "type": "number",
                            "enum": [301, 302, 307, 308, null],
                            "nullable": true
                          },
                          "gitBranch": {
                            "type": "string",
                            "nullable": true
                          },
                          "customEnvironmentId": {
                            "type": "string",
                            "nullable": true
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "verified": {
                            "type": "boolean",
                            "description": "`true` if the domain is verified for use with the project. If `false` it will not be used as an alias on this project until the challenge in `verification` is completed.",
                            "enum": [false, true]
                          },
                          "verification": {
                            "type": "array",
                            "description": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
                          }
                        }
                      }
                    },
                    "currentDeploymentAliases": {
                      "type": "array",
                      "description": "List of aliases for the current deployment",
                      "items": {
                        "type": "string"
                      }
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "Timestamp when the environment was created"
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "Timestamp when the environment was last updated"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "removeACustomEnvironment",
        "summary": "Remove a custom environment",
        "description": "Remove a custom environment for the project. Must not be named 'Production' or 'Preview'.",
        "tags": ["environment"],
        "x-docs-url": "https://vercel.com/docs/rest-api/environment/remove-a-custom-environment",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "The unique project identifier or the project name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environmentSlugOrId",
            "in": "path",
            "description": "The unique custom environment identifier within the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deleteUnassignedEnvironmentVariables": {
                    "type": "boolean",
                    "description": "Delete Environment Variables that are not assigned to any environments."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Internal representation of a custom environment with all required properties",
                  "required": ["createdAt", "id", "slug", "type", "updatedAt"],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the custom environment (format: env_*)"
                    },
                    "slug": {
                      "type": "string",
                      "description": "URL-friendly name of the environment"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of environment (production, preview, or development)",
                      "enum": ["development", "preview", "production"]
                    },
                    "description": {
                      "type": "string",
                      "description": "Optional description of the environment's purpose"
                    },
                    "branchMatcher": {
                      "type": "object",
                      "description": "Configuration for matching git branches to this environment",
                      "required": ["pattern", "type"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type of matching to perform",
                          "enum": ["endsWith", "equals", "startsWith"]
                        },
                        "pattern": {
                          "type": "string",
                          "description": "The pattern to match against branch names"
                        }
                      }
                    },
                    "domains": {
                      "type": "array",
                      "description": "List of domains associated with this environment",
                      "items": {
                        "type": "object",
                        "description": "List of domains associated with this environment",
                        "required": [
                          "apexName",
                          "name",
                          "projectId",
                          "verified"
                        ],
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "apexName": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "redirect": {
                            "type": "string",
                            "nullable": true
                          },
                          "redirectStatusCode": {
                            "type": "number",
                            "enum": [301, 302, 307, 308, null],
                            "nullable": true
                          },
                          "gitBranch": {
                            "type": "string",
                            "nullable": true
                          },
                          "customEnvironmentId": {
                            "type": "string",
                            "nullable": true
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "verified": {
                            "type": "boolean",
                            "description": "`true` if the domain is verified for use with the project. If `false` it will not be used as an alias on this project until the challenge in `verification` is completed.",
                            "enum": [false, true]
                          },
                          "verification": {
                            "type": "array",
                            "description": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
                          }
                        }
                      }
                    },
                    "currentDeploymentAliases": {
                      "type": "array",
                      "description": "List of aliases for the current deployment",
                      "items": {
                        "type": "string"
                      }
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "Timestamp when the environment was created"
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "Timestamp when the environment was last updated"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
