{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel feature-flags",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/feature_flags/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v2/projects/{projectIdOrName}/feature-flags/flags": {
      "get": {
        "operationId": "listFlags",
        "summary": "List flags",
        "description": "Retrieve feature flags for a project. Returns an opaque cursor for pagination.",
        "tags": ["feature-flags"],
        "x-docs-url": "https://vercel.com/docs/rest-api/feature-flags/list-flags",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "description": "The project id or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "The state of the flags to retrieve. Defaults to `active`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "archived"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of flags to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor to continue from.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search flags by their slug or description. Case-insensitive.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter flags by tag. Repeat the parameter for multiple tags (all must match).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "description": "Filter flags by the id of the entity that created them (a user or team id).",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "maintainerIds",
            "in": "query",
            "description": "Filter flags by maintainer user id. Repeat the parameter for multiple maintainers (any may match).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeMarketplaceFlags",
            "in": "query",
            "description": "Whether to include Marketplace experimentation items in the paginated response. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "required": ["next"],
                      "properties": {
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "required": [
                              "createdAt",
                              "createdBy",
                              "environments",
                              "id",
                              "kind",
                              "ownerId",
                              "projectId",
                              "revision",
                              "seed",
                              "slug",
                              "state",
                              "typeName",
                              "updatedAt",
                              "variants"
                            ]
                          },
                          {
                            "type": "object",
                            "required": [
                              "externalId",
                              "id",
                              "integrationConfigurationId",
                              "origin",
                              "ownerId",
                              "projectId",
                              "resourceId",
                              "slug",
                              "state",
                              "typeName"
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{projectIdOrName}/feature-flags/flags": {
      "get": {
        "operationId": "listFlags1",
        "summary": "List flags",
        "description": "Retrieve feature flags for a project. The list can be filtered by state and supports pagination.",
        "tags": ["feature-flags"],
        "x-docs-url": "https://vercel.com/docs/rest-api/feature-flags/list-flags-1",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "description": "The project id or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "The state of the flags to retrieve. Defaults to `active`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "archived"]
            }
          },
          {
            "name": "withMetadata",
            "in": "query",
            "description": "Deprecated. Whether to include creator metadata in each flag in the response. Resolve creator identity client-side (e.g. via the team members endpoint) instead; this parameter will be removed in a future release. Use `GET /v1/projects/:id/feature-flags/flags/:flagIdOrSlug?withMetadata=true` for single-flag lookups that need creator metadata.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of flags to return. When not set, all flags are returned.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor to continue from.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search flags by their slug or description. Case-insensitive.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter flags by tag. Repeat the parameter for multiple tags (all must match).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "createdAt",
                          "createdBy",
                          "environments",
                          "id",
                          "kind",
                          "ownerId",
                          "projectId",
                          "revision",
                          "seed",
                          "slug",
                          "state",
                          "typeName",
                          "updatedAt",
                          "variants"
                        ],
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "maintainerIds": {
                            "type": "array"
                          },
                          "permanent": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "tags": {
                            "type": "array"
                          },
                          "experiment": {
                            "type": "object",
                            "required": [
                              "allocationUnit",
                              "primaryMetrics",
                              "status"
                            ]
                          },
                          "updatedBy": {
                            "type": "string"
                          },
                          "variants": {
                            "type": "array"
                          },
                          "id": {
                            "type": "string"
                          },
                          "environments": {
                            "type": "object"
                          },
                          "kind": {
                            "type": "string",
                            "enum": ["boolean", "json", "number", "string"]
                          },
                          "revision": {
                            "type": "number"
                          },
                          "seed": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string",
                            "enum": ["active", "archived"]
                          },
                          "slug": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "typeName": {
                            "type": "string",
                            "enum": ["flag"]
                          },
                          "metadata": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "required": ["next"],
                      "properties": {
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "createAFlag",
        "summary": "Create a flag",
        "description": "Create a new feature flag for a project. The flag must have a unique slug within the project and specify its kind (boolean, string, number, or json).",
        "tags": ["feature-flags"],
        "x-docs-url": "https://vercel.com/docs/rest-api/feature-flags/create-a-flag",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "description": "The project id or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["slug", "kind", "environments"],
                "properties": {
                  "slug": {
                    "type": "string",
                    "description": "A unique (per project) key for the flag, composed of letters, numbers, dashes, and underscores",
                    "pattern": "^[a-zA-Z0-9_-]{1,512}$"
                  },
                  "kind": {
                    "description": "The kind of flag",
                    "enum": ["boolean", "string", "number", "json"]
                  },
                  "variants": {
                    "type": "array",
                    "description": "The variants of the flag",
                    "items": {
                      "type": "object",
                      "required": ["id", "value"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The id of the variant"
                        },
                        "label": {
                          "type": "string",
                          "description": "A label for the variant"
                        },
                        "description": {
                          "type": "string",
                          "description": "A description of the variant"
                        },
                        "value": {}
                      }
                    }
                  },
                  "environments": {
                    "type": "object",
                    "description": "The configuration for the flag in different environments",
                    "additionalProperties": {
                      "type": "object",
                      "required": [
                        "active",
                        "pausedOutcome",
                        "rules",
                        "fallthrough"
                      ],
                      "properties": {
                        "active": {
                          "type": "boolean"
                        },
                        "reuse": {
                          "type": "object",
                          "description": "Allows linking this environment to another environment so this flag will be evaluated with the other flag's configuration",
                          "required": ["active", "environment"]
                        },
                        "targets": {
                          "type": "object",
                          "description": "Allows assigning targets to variants while bypassing the flag's rules"
                        },
                        "pausedOutcome": {
                          "type": "object",
                          "required": ["type", "variantId"]
                        },
                        "rules": {
                          "type": "array"
                        },
                        "fallthrough": {},
                        "revision": {
                          "type": "number",
                          "description": "The revision of the environment config"
                        }
                      }
                    }
                  },
                  "seed": {
                    "type": "number",
                    "description": "A random seed to prevent split points in different flags from having the same targets",
                    "minimum": 0,
                    "maximum": 100000
                  },
                  "description": {
                    "type": "string",
                    "description": "A description of the flag"
                  },
                  "state": {
                    "type": "string",
                    "enum": ["active", "archived"]
                  },
                  "maintainerIds": {
                    "type": "array",
                    "description": "The user ids of the maintainers of the flag",
                    "items": {
                      "type": "string",
                      "maxLength": 24
                    }
                  },
                  "permanent": {
                    "type": "boolean",
                    "description": "Whether this flag is marked as permanent, indicating it should not be removed"
                  },
                  "tags": {
                    "type": "array",
                    "description": "Tags for categorizing the flag",
                    "items": {
                      "type": "string",
                      "maxLength": 64
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "createdAt",
                    "createdBy",
                    "environments",
                    "id",
                    "kind",
                    "ownerId",
                    "projectId",
                    "revision",
                    "seed",
                    "slug",
                    "state",
                    "typeName",
                    "updatedAt",
                    "variants"
                  ],
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "maintainerIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "permanent": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "experiment": {
                      "type": "object",
                      "required": [
                        "allocationUnit",
                        "primaryMetrics",
                        "status"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "numVariants": {
                          "type": "number"
                        },
                        "surfaceArea": {
                          "type": "string"
                        },
                        "stickyRequirement": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "layer": {
                          "type": "string"
                        },
                        "guardrailMetrics": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "directionality",
                              "metricType",
                              "metricUnit",
                              "name"
                            ]
                          }
                        },
                        "hypothesis": {
                          "type": "string"
                        },
                        "device": {
                          "type": "string",
                          "enum": ["android", "desktop", "ios", "mweb"]
                        },
                        "controlVariantId": {
                          "type": "string"
                        },
                        "startedAt": {
                          "type": "number"
                        },
                        "endedAt": {
                          "type": "number"
                        },
                        "decision": {
                          "type": "string"
                        },
                        "decisionReason": {
                          "type": "string"
                        },
                        "duration": {
                          "type": "number"
                        },
                        "durationUnit": {
                          "type": "string",
                          "enum": ["days", "exposures"]
                        },
                        "allocationPercent": {
                          "type": "number"
                        },
                        "allocationUnit": {
                          "type": "string",
                          "enum": ["cookieId", "userId", "visitorId"]
                        },
                        "primaryMetrics": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "directionality",
                              "metricType",
                              "metricUnit",
                              "name"
                            ]
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": ["closed", "draft", "paused", "running"]
                        }
                      }
                    },
                    "updatedBy": {
                      "type": "string"
                    },
                    "variants": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "environments": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "active",
                          "fallthrough",
                          "pausedOutcome",
                          "rules"
                        ],
                        "properties": {
                          "reuse": {
                            "type": "object",
                            "required": ["active", "environment"]
                          },
                          "targets": {
                            "type": "object"
                          },
                          "revision": {
                            "type": "number"
                          },
                          "pausedOutcome": {
                            "type": "object",
                            "required": ["type", "variantId"]
                          },
                          "fallthrough": {},
                          "active": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "rules": {
                            "type": "array"
                          }
                        }
                      }
                    },
                    "kind": {
                      "type": "string",
                      "enum": ["boolean", "json", "number", "string"]
                    },
                    "revision": {
                      "type": "number"
                    },
                    "seed": {
                      "type": "number"
                    },
                    "state": {
                      "type": "string",
                      "enum": ["active", "archived"]
                    },
                    "slug": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "createdBy": {
                      "type": "string"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "typeName": {
                      "type": "string",
                      "enum": ["flag"]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{projectIdOrName}/feature-flags/flags/{flagIdOrSlug}": {
      "get": {
        "operationId": "getAFlag",
        "summary": "Get a flag",
        "description": "Retrieve a specific feature flag by its ID or slug.",
        "tags": ["feature-flags"],
        "x-docs-url": "https://vercel.com/docs/rest-api/feature-flags/get-a-flag",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "description": "The project id or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flagIdOrSlug",
            "in": "path",
            "description": "The flag id or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ifMatch",
            "in": "query",
            "description": "Etag to match, can be used interchangeably with the `if-match` header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withMetadata",
            "in": "query",
            "description": "Whether to include metadata in the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "createdAt",
                    "createdBy",
                    "environments",
                    "id",
                    "kind",
                    "ownerId",
                    "projectId",
                    "revision",
                    "seed",
                    "slug",
                    "state",
                    "typeName",
                    "updatedAt",
                    "variants"
                  ],
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "maintainerIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "permanent": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "experiment": {
                      "type": "object",
                      "required": [
                        "allocationUnit",
                        "primaryMetrics",
                        "status"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "numVariants": {
                          "type": "number"
                        },
                        "surfaceArea": {
                          "type": "string"
                        },
                        "stickyRequirement": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "layer": {
                          "type": "string"
                        },
                        "guardrailMetrics": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "directionality",
                              "metricType",
                              "metricUnit",
                              "name"
                            ]
                          }
                        },
                        "hypothesis": {
                          "type": "string"
                        },
                        "device": {
                          "type": "string",
                          "enum": ["android", "desktop", "ios", "mweb"]
                        },
                        "controlVariantId": {
                          "type": "string"
                        },
                        "startedAt": {
                          "type": "number"
                        },
                        "endedAt": {
                          "type": "number"
                        },
                        "decision": {
                          "type": "string"
                        },
                        "decisionReason": {
                          "type": "string"
                        },
                        "duration": {
                          "type": "number"
                        },
                        "durationUnit": {
                          "type": "string",
                          "enum": ["days", "exposures"]
                        },
                        "allocationPercent": {
                          "type": "number"
                        },
                        "allocationUnit": {
                          "type": "string",
                          "enum": ["cookieId", "userId", "visitorId"]
                        },
                        "primaryMetrics": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "directionality",
                              "metricType",
                              "metricUnit",
                              "name"
                            ]
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": ["closed", "draft", "paused", "running"]
                        }
                      }
                    },
                    "updatedBy": {
                      "type": "string"
                    },
                    "variants": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "environments": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "active",
                          "fallthrough",
                          "pausedOutcome",
                          "rules"
                        ],
                        "properties": {
                          "reuse": {
                            "type": "object",
                            "required": ["active", "environment"]
                          },
                          "targets": {
                            "type": "object"
                          },
                          "revision": {
                            "type": "number"
                          },
                          "pausedOutcome": {
                            "type": "object",
                            "required": ["type", "variantId"]
                          },
                          "fallthrough": {},
                          "active": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "rules": {
                            "type": "array"
                          }
                        }
                      }
                    },
                    "kind": {
                      "type": "string",
                      "enum": ["boolean", "json", "number", "string"]
                    },
                    "revision": {
                      "type": "number"
                    },
                    "seed": {
                      "type": "number"
                    },
                    "state": {
                      "type": "string",
                      "enum": ["active", "archived"]
                    },
                    "slug": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "createdBy": {
                      "type": "string"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "typeName": {
                      "type": "string",
                      "enum": ["flag"]
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "creator": {
                          "type": "object",
                          "required": ["id", "name"],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateAFlag",
        "summary": "Update a flag",
        "description": "Update an existing feature flag. This endpoint supports partial updates, allowing you to modify specific properties like variants, environments, or state without providing the full flag configuration.",
        "tags": ["feature-flags"],
        "x-docs-url": "https://vercel.com/docs/rest-api/feature-flags/update-a-flag",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "description": "The project id or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flagIdOrSlug",
            "in": "path",
            "description": "The flag id or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ifMatch",
            "in": "query",
            "description": "Etag to match, can be used interchangeably with the `if-match` header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withMetadata",
            "in": "query",
            "description": "Whether to include metadata in the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "createdBy": {
                    "type": "string",
                    "description": "The user who created this patch"
                  },
                  "message": {
                    "type": "string",
                    "description": "Additional message for this version"
                  },
                  "variants": {
                    "type": "array",
                    "description": "The variants of the flag",
                    "items": {
                      "type": "object",
                      "required": ["id", "value"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The id of the variant"
                        },
                        "label": {
                          "type": "string",
                          "description": "A label for the variant"
                        },
                        "description": {
                          "type": "string",
                          "description": "A description of the variant"
                        },
                        "value": {}
                      }
                    }
                  },
                  "environments": {
                    "type": "object",
                    "description": "The configuration for the flag in different environments",
                    "additionalProperties": {
                      "type": "object",
                      "required": [
                        "active",
                        "pausedOutcome",
                        "rules",
                        "fallthrough"
                      ],
                      "properties": {
                        "active": {
                          "type": "boolean"
                        },
                        "reuse": {
                          "type": "object",
                          "description": "Allows linking this environment to another environment so this flag will be evaluated with the other flag's configuration",
                          "required": ["active", "environment"]
                        },
                        "targets": {
                          "type": "object",
                          "description": "Allows assigning targets to variants while bypassing the flag's rules"
                        },
                        "pausedOutcome": {
                          "type": "object",
                          "required": ["type", "variantId"]
                        },
                        "rules": {
                          "type": "array"
                        },
                        "fallthrough": {},
                        "revision": {
                          "type": "number",
                          "description": "The revision of the environment config"
                        }
                      }
                    }
                  },
                  "seed": {
                    "type": "number",
                    "description": "A random seed to prevent split points in different flags from having the same targets",
                    "minimum": 0,
                    "maximum": 100000
                  },
                  "description": {
                    "type": "string",
                    "description": "A description of the flag"
                  },
                  "state": {
                    "type": "string",
                    "enum": ["active", "archived"]
                  },
                  "maintainerIds": {
                    "type": "array",
                    "description": "The user ids of the maintainers of the flag",
                    "items": {
                      "type": "string",
                      "maxLength": 24
                    }
                  },
                  "permanent": {
                    "type": "boolean",
                    "description": "Whether this flag is marked as permanent, indicating it should not be removed"
                  },
                  "tags": {
                    "type": "array",
                    "description": "Tags for categorizing the flag",
                    "items": {
                      "type": "string",
                      "maxLength": 64
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "createdAt",
                        "createdBy",
                        "environments",
                        "id",
                        "kind",
                        "ownerId",
                        "projectId",
                        "revision",
                        "seed",
                        "slug",
                        "state",
                        "typeName",
                        "updatedAt",
                        "variants"
                      ],
                      "properties": {
                        "description": {
                          "type": "string"
                        },
                        "maintainerIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "permanent": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "experiment": {
                          "type": "object",
                          "required": [
                            "allocationUnit",
                            "primaryMetrics",
                            "status"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "numVariants": {
                              "type": "number"
                            },
                            "surfaceArea": {
                              "type": "string"
                            },
                            "stickyRequirement": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "layer": {
                              "type": "string"
                            },
                            "guardrailMetrics": {
                              "type": "array"
                            },
                            "hypothesis": {
                              "type": "string"
                            },
                            "device": {
                              "type": "string",
                              "enum": ["android", "desktop", "ios", "mweb"]
                            },
                            "controlVariantId": {
                              "type": "string"
                            },
                            "startedAt": {
                              "type": "number"
                            },
                            "endedAt": {
                              "type": "number"
                            },
                            "decision": {
                              "type": "string"
                            },
                            "decisionReason": {
                              "type": "string"
                            },
                            "duration": {
                              "type": "number"
                            },
                            "durationUnit": {
                              "type": "string",
                              "enum": ["days", "exposures"]
                            },
                            "allocationPercent": {
                              "type": "number"
                            },
                            "allocationUnit": {
                              "type": "string",
                              "enum": ["cookieId", "userId", "visitorId"]
                            },
                            "primaryMetrics": {
                              "type": "array"
                            },
                            "status": {
                              "type": "string",
                              "enum": ["closed", "draft", "paused", "running"]
                            }
                          }
                        },
                        "updatedBy": {
                          "type": "string"
                        },
                        "variants": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "id": {
                          "type": "string"
                        },
                        "environments": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "required": [
                              "active",
                              "fallthrough",
                              "pausedOutcome",
                              "rules"
                            ]
                          }
                        },
                        "kind": {
                          "type": "string",
                          "enum": ["boolean", "json", "number", "string"]
                        },
                        "revision": {
                          "type": "number"
                        },
                        "seed": {
                          "type": "number"
                        },
                        "state": {
                          "type": "string",
                          "enum": ["active", "archived"]
                        },
                        "slug": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "createdBy": {
                          "type": "string"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "typeName": {
                          "type": "string",
                          "enum": ["flag"]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "createdAt",
                        "createdBy",
                        "environments",
                        "id",
                        "kind",
                        "ownerId",
                        "projectId",
                        "revision",
                        "seed",
                        "slug",
                        "state",
                        "typeName",
                        "updatedAt",
                        "variants"
                      ],
                      "properties": {
                        "description": {
                          "type": "string"
                        },
                        "maintainerIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "permanent": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "experiment": {
                          "type": "object",
                          "required": [
                            "allocationUnit",
                            "primaryMetrics",
                            "status"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "numVariants": {
                              "type": "number"
                            },
                            "surfaceArea": {
                              "type": "string"
                            },
                            "stickyRequirement": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "layer": {
                              "type": "string"
                            },
                            "guardrailMetrics": {
                              "type": "array"
                            },
                            "hypothesis": {
                              "type": "string"
                            },
                            "device": {
                              "type": "string",
                              "enum": ["android", "desktop", "ios", "mweb"]
                            },
                            "controlVariantId": {
                              "type": "string"
                            },
                            "startedAt": {
                              "type": "number"
                            },
                            "endedAt": {
                              "type": "number"
                            },
                            "decision": {
                              "type": "string"
                            },
                            "decisionReason": {
                              "type": "string"
                            },
                            "duration": {
                              "type": "number"
                            },
                            "durationUnit": {
                              "type": "string",
                              "enum": ["days", "exposures"]
                            },
                            "allocationPercent": {
                              "type": "number"
                            },
                            "allocationUnit": {
                              "type": "string",
                              "enum": ["cookieId", "userId", "visitorId"]
                            },
                            "primaryMetrics": {
                              "type": "array"
                            },
                            "status": {
                              "type": "string",
                              "enum": ["closed", "draft", "paused", "running"]
                            }
                          }
                        },
                        "updatedBy": {
                          "type": "string"
                        },
                        "variants": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "id": {
                          "type": "string"
                        },
                        "environments": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "required": [
                              "active",
                              "fallthrough",
                              "pausedOutcome",
                              "rules"
                            ]
                          }
                        },
                        "kind": {
                          "type": "string",
                          "enum": ["boolean", "json", "number", "string"]
                        },
                        "revision": {
                          "type": "number"
                        },
                        "seed": {
                          "type": "number"
                        },
                        "state": {
                          "type": "string",
                          "enum": ["active", "archived"]
                        },
                        "slug": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "createdBy": {
                          "type": "string"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string"
                        },
                        "typeName": {
                          "type": "string",
                          "enum": ["flag"]
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "creator": {
                              "type": "object",
                              "required": ["id", "name"]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "304": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteAFlag",
        "summary": "Delete a flag",
        "description": "Permanently delete a feature flag from the project. This action cannot be undone. Consider archiving the flag instead if you may need it in the future.",
        "tags": ["feature-flags"],
        "x-docs-url": "https://vercel.com/docs/rest-api/feature-flags/delete-a-flag",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "description": "The project id or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flagIdOrSlug",
            "in": "path",
            "description": "The flag id or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ifMatch",
            "in": "query",
            "description": "Etag to match, can be used interchangeably with the `if-match` header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withMetadata",
            "in": "query",
            "description": "Whether to include metadata in the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "304": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{projectIdOrName}/feature-flags/flags/{flagIdOrSlug}/versions": {
      "get": {
        "operationId": "listFlagVersions",
        "summary": "List flag versions",
        "description": "Lists flag versions for a given flag.",
        "tags": ["feature-flags"],
        "x-docs-url": "https://vercel.com/docs/rest-api/feature-flags/list-flag-versions",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flagIdOrSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "description": "Environment to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withMetadata",
            "in": "query",
            "description": "Whether to include metadata",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["pagination", "versions"],
                  "properties": {
                    "versions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "changedEnvironments",
                          "createdAt",
                          "data",
                          "flagId",
                          "id",
                          "revision"
                        ],
                        "properties": {
                          "createdBy": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {
                            "type": "object",
                            "required": [
                              "environments",
                              "seed",
                              "state",
                              "variants"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "revision": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "flagId": {
                            "type": "string"
                          },
                          "changedEnvironments": {
                            "type": "array"
                          },
                          "metadata": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{projectIdOrName}/feature-flags/settings": {
      "get": {
        "operationId": "getProjectFlagSettings",
        "summary": "Get project flag settings",
        "description": "Retrieve feature flag settings for a project.",
        "tags": ["feature-flags"],
        "x-docs-url": "https://vercel.com/docs/rest-api/feature-flags/get-project-flag-settings",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "description": "The project id or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "enabled",
                    "entities",
                    "environments",
                    "metadata",
                    "projectId",
                    "typeName"
                  ],
                  "properties": {
                    "typeName": {
                      "type": "string",
                      "enum": ["settings"]
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "environments": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "entities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["attributes", "kind", "label"],
                        "properties": {
                          "kind": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "array"
                          }
                        }
                      }
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "metadata": {
                      "type": "object",
                      "required": [
                        "activeFlagCount",
                        "archivedFlagCount",
                        "packSizeInBytes",
                        "segmentCount"
                      ],
                      "properties": {
                        "activeFlagCount": {
                          "type": "number"
                        },
                        "archivedFlagCount": {
                          "type": "number"
                        },
                        "segmentCount": {
                          "type": "number"
                        },
                        "packSizeInBytes": {
                          "type": "number"
                        },
                        "packRevision": {
                          "type": "number"
                        },
                        "configUpdatedAt": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateProjectFlagSettings",
        "summary": "Update project flag settings",
        "description": "Update feature flag settings for a project.",
        "tags": ["feature-flags"],
        "x-docs-url": "https://vercel.com/docs/rest-api/feature-flags/update-project-flag-settings",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "description": "The project id or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  },
                  "entities": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["kind", "label", "attributes"],
                      "properties": {
                        "kind": {
                          "type": "string",
                          "maxLength": 128
                        },
                        "label": {
                          "type": "string",
                          "maxLength": 128
                        },
                        "attributes": {
                          "type": "array"
                        }
                      }
                    }
                  },
                  "environments": {
                    "type": "array",
                    "description": "The environments to sync",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "enabled",
                    "entities",
                    "environments",
                    "metadata",
                    "projectId",
                    "typeName"
                  ],
                  "properties": {
                    "typeName": {
                      "type": "string",
                      "enum": ["settings"]
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "environments": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "entities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["attributes", "kind", "label"],
                        "properties": {
                          "kind": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "array"
                          }
                        }
                      }
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "metadata": {
                      "type": "object",
                      "required": [
                        "activeFlagCount",
                        "archivedFlagCount",
                        "packSizeInBytes",
                        "segmentCount"
                      ],
                      "properties": {
                        "activeFlagCount": {
                          "type": "number"
                        },
                        "archivedFlagCount": {
                          "type": "number"
                        },
                        "segmentCount": {
                          "type": "number"
                        },
                        "packSizeInBytes": {
                          "type": "number"
                        },
                        "packRevision": {
                          "type": "number"
                        },
                        "configUpdatedAt": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "enabled",
                    "entities",
                    "environments",
                    "metadata",
                    "projectId",
                    "typeName"
                  ],
                  "properties": {
                    "typeName": {
                      "type": "string",
                      "enum": ["settings"]
                    },
                    "projectId": {
                      "type": "string"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "environments": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "entities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["attributes", "kind", "label"],
                        "properties": {
                          "kind": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "array"
                          }
                        }
                      }
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "metadata": {
                      "type": "object",
                      "required": [
                        "activeFlagCount",
                        "archivedFlagCount",
                        "packSizeInBytes",
                        "segmentCount"
                      ],
                      "properties": {
                        "activeFlagCount": {
                          "type": "number"
                        },
                        "archivedFlagCount": {
                          "type": "number"
                        },
                        "segmentCount": {
                          "type": "number"
                        },
                        "packSizeInBytes": {
                          "type": "number"
                        },
                        "packRevision": {
                          "type": "number"
                        },
                        "configUpdatedAt": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/teams/{teamId}/feature-flags/settings": {
      "get": {
        "operationId": "listTeamProjectFlagSettings",
        "summary": "List team project flag settings",
        "description": "Retrieve feature flag settings for projects in a team.",
        "tags": ["feature-flags"],
        "x-docs-url": "https://vercel.com/docs/rest-api/feature-flags/list-team-project-flag-settings",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of settings to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor to continue from.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object"
                    },
                    {
                      "type": "object",
                      "required": ["data", "pagination"],
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "enabled",
                              "entities",
                              "environments",
                              "metadata",
                              "projectId",
                              "typeName"
                            ]
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "required": ["next"],
                          "properties": {
                            "next": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v2/teams/{teamId}/feature-flags/flags": {
      "get": {
        "operationId": "listAllFlagsForATeam",
        "summary": "List all flags for a team",
        "description": "Retrieve all feature flags for a team across all projects. Returns an opaque cursor for pagination.",
        "tags": ["feature-flags"],
        "x-docs-url": "https://vercel.com/docs/rest-api/feature-flags/list-all-flags-for-a-team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "The state of the flags to retrieve. Defaults to `active`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "archived"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of flags to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor to continue from.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search flags by their slug or description. Case-insensitive.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "The kind of flags to retrieve.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["boolean", "string", "number", "json"]
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter flags by tag. Repeat the parameter for multiple tags (all must match).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "description": "Filter flags by the id of the entity that created them (a user or team id).",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "maintainerIds",
            "in": "query",
            "description": "Filter flags by maintainer user id. Repeat the parameter for multiple maintainers (any may match).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeMarketplaceFlags",
            "in": "query",
            "description": "Whether to include Marketplace experimentation items in the paginated response. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "required": ["next"],
                      "properties": {
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "required": [
                              "createdAt",
                              "createdBy",
                              "environments",
                              "id",
                              "kind",
                              "ownerId",
                              "projectId",
                              "revision",
                              "seed",
                              "slug",
                              "state",
                              "typeName",
                              "updatedAt",
                              "variants"
                            ]
                          },
                          {
                            "type": "object",
                            "required": [
                              "externalId",
                              "id",
                              "integrationConfigurationId",
                              "origin",
                              "ownerId",
                              "projectId",
                              "resourceId",
                              "slug",
                              "state",
                              "typeName"
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/teams/{teamId}/feature-flags/flags": {
      "get": {
        "operationId": "listAllFlagsForATeam1",
        "summary": "List all flags for a team",
        "description": "Retrieve all feature flags for a team across all projects. The list can be filtered by state and supports pagination.",
        "tags": ["feature-flags"],
        "x-docs-url": "https://vercel.com/docs/rest-api/feature-flags/list-all-flags-for-a-team-1",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "The state of the flags to retrieve. Defaults to `active`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "archived"]
            }
          },
          {
            "name": "withMetadata",
            "in": "query",
            "description": "Deprecated. Whether to include creator metadata in each flag in the response. Resolve creator identity client-side (e.g. via the team members endpoint) instead; this parameter will be removed in a future release.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of flags to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor to continue from.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search flags by their slug or description. Case-insensitive.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "The kind of flags to retrieve.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["boolean", "string", "number", "json"]
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter flags by tag. Repeat the parameter for multiple tags (all must match).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "createdAt",
                          "createdBy",
                          "environments",
                          "id",
                          "kind",
                          "ownerId",
                          "projectId",
                          "revision",
                          "seed",
                          "slug",
                          "state",
                          "typeName",
                          "updatedAt",
                          "variants"
                        ],
                        "properties": {
[...]
