{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel global-config",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/global_config/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/global-config": {
      "get": {
        "operationId": "getGlobalConfigs",
        "summary": "Get Global Configs",
        "description": "Returns all Global Configs.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/get-global-configs",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all global configs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "List of all global configs.",
                  "required": [
                    "createdAt",
                    "digest",
                    "id",
                    "itemCount",
                    "ownerId",
                    "sizeInBytes",
                    "slug",
                    "updatedAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "createdBy": {
                      "type": "string",
                      "description": "The ID of the user who created the Edge Config, optional because it is not always set."
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Name for the Edge Config Names are not unique. Must start with an alphabetic character and can contain only alphanumeric characters and underscores)."
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "digest": {
                      "type": "string"
                    },
                    "purpose": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": ["projectId", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["flags"]
                            },
                            "projectId": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["resourceId", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["experimentation"]
                            },
                            "resourceId": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "deletedAt": {
                      "type": "number",
                      "nullable": true
                    },
                    "transfer": {
                      "type": "object",
                      "description": "Keeps track of the current state of the Edge Config while it gets transferred.",
                      "required": ["doneAt", "fromAccountId", "startedAt"],
                      "properties": {
                        "fromAccountId": {
                          "type": "string"
                        },
                        "startedAt": {
                          "type": "number"
                        },
                        "doneAt": {
                          "type": "number",
                          "nullable": true
                        }
                      }
                    },
                    "schema": {
                      "type": "object"
                    },
                    "syncedToDynamoAt": {
                      "type": "number",
                      "description": "Timestamp of when the Edge Config was synced to DynamoDB initially. It is only set when syncing the entire Edge Config, not when updating."
                    },
                    "sizeInBytes": {
                      "type": "number"
                    },
                    "itemCount": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createAGlobalConfig",
        "summary": "Create a Global Config",
        "description": "Creates a Global Config.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/create-a-global-config",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["slug"],
                "properties": {
                  "slug": {
                    "type": "string",
                    "pattern": "^[\\w-]+$",
                    "maxLength": 64
                  },
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An Edge Config",
                  "required": [
                    "createdAt",
                    "digest",
                    "id",
                    "itemCount",
                    "ownerId",
                    "sizeInBytes",
                    "slug",
                    "updatedAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "createdBy": {
                      "type": "string",
                      "description": "The ID of the user who created the Edge Config, optional because it is not always set."
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Name for the Edge Config Names are not unique. Must start with an alphabetic character and can contain only alphanumeric characters and underscores)."
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "digest": {
                      "type": "string"
                    },
                    "purpose": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": ["projectId", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["flags"]
                            },
                            "projectId": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["resourceId", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["experimentation"]
                            },
                            "resourceId": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "deletedAt": {
                      "type": "number",
                      "nullable": true
                    },
                    "transfer": {
                      "type": "object",
                      "description": "Keeps track of the current state of the Edge Config while it gets transferred.",
                      "required": ["doneAt", "fromAccountId", "startedAt"],
                      "properties": {
                        "fromAccountId": {
                          "type": "string"
                        },
                        "startedAt": {
                          "type": "number"
                        },
                        "doneAt": {
                          "type": "number",
                          "nullable": true
                        }
                      }
                    },
                    "schema": {
                      "type": "object"
                    },
                    "syncedToDynamoAt": {
                      "type": "number",
                      "description": "Timestamp of when the Edge Config was synced to DynamoDB initially. It is only set when syncing the entire Edge Config, not when updating."
                    },
                    "sizeInBytes": {
                      "type": "number"
                    },
                    "itemCount": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/global-config/{edgeConfigId}": {
      "get": {
        "operationId": "getAGlobalConfig",
        "summary": "Get a Global Config",
        "description": "Returns a Global Config.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/get-a-global-config",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Global Config.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The Global Config.",
                  "required": [
                    "createdAt",
                    "digest",
                    "id",
                    "itemCount",
                    "ownerId",
                    "sizeInBytes",
                    "slug",
                    "updatedAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "createdBy": {
                      "type": "string",
                      "description": "The ID of the user who created the Edge Config, optional because it is not always set."
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Name for the Edge Config Names are not unique. Must start with an alphabetic character and can contain only alphanumeric characters and underscores)."
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "digest": {
                      "type": "string"
                    },
                    "purpose": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": ["projectId", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["flags"]
                            },
                            "projectId": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["resourceId", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["experimentation"]
                            },
                            "resourceId": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "deletedAt": {
                      "type": "number",
                      "nullable": true
                    },
                    "transfer": {
                      "type": "object",
                      "description": "Keeps track of the current state of the Edge Config while it gets transferred.",
                      "required": ["doneAt", "fromAccountId", "startedAt"],
                      "properties": {
                        "fromAccountId": {
                          "type": "string"
                        },
                        "startedAt": {
                          "type": "number"
                        },
                        "doneAt": {
                          "type": "number",
                          "nullable": true
                        }
                      }
                    },
                    "schema": {
                      "type": "object"
                    },
                    "syncedToDynamoAt": {
                      "type": "number",
                      "description": "Timestamp of when the Edge Config was synced to DynamoDB initially. It is only set when syncing the entire Edge Config, not when updating."
                    },
                    "sizeInBytes": {
                      "type": "number"
                    },
                    "itemCount": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "updateAGlobalConfig",
        "summary": "Update a Global Config",
        "description": "Updates a Global Config.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/update-a-global-config",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["slug"],
                "properties": {
                  "slug": {
                    "type": "string",
                    "pattern": "^[\\w-]+$",
                    "maxLength": 64
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An Edge Config",
                  "required": [
                    "createdAt",
                    "digest",
                    "id",
                    "itemCount",
                    "ownerId",
                    "sizeInBytes",
                    "slug",
                    "updatedAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "createdBy": {
                      "type": "string",
                      "description": "The ID of the user who created the Edge Config, optional because it is not always set."
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Name for the Edge Config Names are not unique. Must start with an alphabetic character and can contain only alphanumeric characters and underscores)."
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "digest": {
                      "type": "string"
                    },
                    "purpose": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": ["projectId", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["flags"]
                            },
                            "projectId": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["resourceId", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["experimentation"]
                            },
                            "resourceId": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "deletedAt": {
                      "type": "number",
                      "nullable": true
                    },
                    "transfer": {
                      "type": "object",
                      "description": "Keeps track of the current state of the Edge Config while it gets transferred.",
                      "required": ["doneAt", "fromAccountId", "startedAt"],
                      "properties": {
                        "fromAccountId": {
                          "type": "string"
                        },
                        "startedAt": {
                          "type": "number"
                        },
                        "doneAt": {
                          "type": "number",
                          "nullable": true
                        }
                      }
                    },
                    "schema": {
                      "type": "object"
                    },
                    "syncedToDynamoAt": {
                      "type": "number",
                      "description": "Timestamp of when the Edge Config was synced to DynamoDB initially. It is only set when syncing the entire Edge Config, not when updating."
                    },
                    "sizeInBytes": {
                      "type": "number"
                    },
                    "itemCount": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteAGlobalConfig",
        "summary": "Delete a Global Config",
        "description": "Delete a Global Config by id.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/delete-a-global-config",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/global-config/{edgeConfigId}/items": {
      "get": {
        "operationId": "getGlobalConfigItems",
        "summary": "Get Global Config items",
        "description": "Returns all items of a Global Config.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/get-global-config-items",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all Global Config items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "The Global Config.",
                    "required": [
                      "createdAt",
                      "edgeConfigId",
                      "key",
                      "updatedAt",
                      "value"
                    ],
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "value": {
                        "nullable": true,
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "object"
                          },
                          {
                            "type": "array"
                          },
                          {
                            "type": "boolean",
                            "enum": [false, true]
                          }
                        ]
                      },
                      "description": {
                        "type": "string"
                      },
                      "edgeConfigId": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "updatedAt": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateGlobalConfigItemsInBatch",
        "summary": "Update Global Config items in batch",
        "description": "Update multiple Global Config Items in batch.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/update-global-config-items-in-batch",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["items"],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "412": {
            "description": ""
          }
        }
      }
    },
    "/v1/global-config/{edgeConfigId}/schema": {
      "get": {
        "operationId": "getGlobalConfigSchema",
        "summary": "Get Global Config schema",
        "description": "Returns the schema of a Global Config.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/get-global-config-schema",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Global Config.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The Global Config.",
                  "nullable": true
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "updateGlobalConfigSchema",
        "summary": "Update Global Config schema",
        "description": "Update a Global Config's schema.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/update-global-config-schema",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dryRun",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["definition"],
                "properties": {
                  "definition": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The JSON schema uploaded by the user",
                  "nullable": true
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteAGlobalConfigSSchema",
        "summary": "Delete a Global Config's schema",
        "description": "Deletes the schema of existing Global Config.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/delete-a-global-config-s-schema",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/global-config/{edgeConfigId}/item/{edgeConfigItemKey}": {
      "get": {
        "operationId": "getAGlobalConfigItem",
        "summary": "Get a Global Config item",
        "description": "Returns a specific Global Config Item.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/get-a-global-config-item",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edgeConfigItemKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Global Config.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The Global Config.",
                  "required": [
                    "createdAt",
                    "edgeConfigId",
                    "key",
                    "updatedAt",
                    "value"
                  ],
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "value": {
                      "nullable": true,
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "description": "(circular reference)"
                          }
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "(circular reference)"
                          }
                        },
                        {
                          "type": "boolean",
                          "enum": [false, true]
                        }
                      ]
                    },
                    "description": {
                      "type": "string"
                    },
                    "edgeConfigId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/global-config/{edgeConfigId}/tokens": {
      "get": {
        "operationId": "getAllTokensOfAGlobalConfig",
        "summary": "Get all tokens of a Global Config",
        "description": "Returns all tokens of a Global Config.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/get-all-tokens-of-a-global-config",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Global Config.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The Global Config.",
                  "required": [
                    "createdAt",
                    "edgeConfigId",
                    "id",
                    "label",
                    "partialToken"
                  ],
                  "properties": {
                    "partialToken": {
                      "type": "string",
                      "description": "A partially-masked representation of the token, safe to display in UIs. The format is the first 3 characters of the token followed by a fixed 8-character `*` mask (e.g. `550e8400-e29b-41d4-a716-446655440000` → `550********`). The mask length is intentionally fixed (not proportional to the original token length) to avoid leaking the token length. Prefer this field for display/reference in UIs and logs. The full, plaintext token is only disclosed once at creation time via `POST /v1/edge-config/:edgeConfigId/token`; use `id` to reference a token in subsequent calls (e.g. when deleting)."
                    },
                    "label": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "description": "This is not the token itself, but rather an id to identify the token by"
                    },
                    "edgeConfigId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "token": {
                      "type": "string",
                      "description": "Deprecated: the full, plaintext token. - Returned once by `POST /v1/edge-config/:edgeConfigId/token` (create). - Still returned by `GET /v1/edge-config/:edgeConfigId/token/:token` (detail) for backwards compatibility, but scheduled for removal. - **Not** returned by `GET /v1/edge-config/:edgeConfigId/tokens` (list); use `partialToken` for display and `id` to reference tokens. Do not rely on this field being present on read operations. Prefer `partialToken` for display and `id` for references."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteOneOrMoreGlobalConfigTokens",
        "summary": "Delete one or more Global Config tokens",
        "description": "Deletes one or more tokens of an existing Global Config.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/delete-one-or-more-global-config-tokens",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tokens": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "anyOf": [
                  {
                    "required": ["tokens"]
                  },
                  {
                    "required": ["ids"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/global-config/{edgeConfigId}/token/{token}": {
      "get": {
        "operationId": "getGlobalConfigTokenMetaData",
        "summary": "Get Global Config token meta data",
        "description": "Return meta data about a Global Config token.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/get-global-config-token-meta-data",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Global Config.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The Global Config.",
                  "required": [
                    "createdAt",
                    "edgeConfigId",
                    "id",
                    "label",
                    "partialToken"
                  ],
                  "properties": {
                    "partialToken": {
                      "type": "string",
                      "description": "A partially-masked representation of the token, safe to display in UIs. The format is the first 3 characters of the token followed by a fixed 8-character `*` mask (e.g. `550e8400-e29b-41d4-a716-446655440000` → `550********`). The mask length is intentionally fixed (not proportional to the original token length) to avoid leaking the token length. Prefer this field for display/reference in UIs and logs. The full, plaintext token is only disclosed once at creation time via `POST /v1/edge-config/:edgeConfigId/token`; use `id` to reference a token in subsequent calls (e.g. when deleting)."
                    },
                    "label": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "description": "This is not the token itself, but rather an id to identify the token by"
                    },
                    "edgeConfigId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "token": {
                      "type": "string",
                      "description": "Deprecated: the full, plaintext token. - Returned once by `POST /v1/edge-config/:edgeConfigId/token` (create). - Still returned by `GET /v1/edge-config/:edgeConfigId/token/:token` (detail) for backwards compatibility, but scheduled for removal. - **Not** returned by `GET /v1/edge-config/:edgeConfigId/tokens` (list); use `partialToken` for display and `id` to reference tokens. Do not rely on this field being present on read operations. Prefer `partialToken` for display and `id` for references."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/global-config/{edgeConfigId}/token": {
      "post": {
        "operationId": "createAGlobalConfigToken",
        "summary": "Create a Global Config token",
        "description": "Adds a token to an existing Global Config.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/create-a-global-config-token",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["label"],
                "properties": {
                  "label": {
                    "type": "string",
                    "maxLength": 52
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id", "token"],
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/global-config/{edgeConfigId}/backups/{edgeConfigBackupVersionId}": {
      "get": {
        "operationId": "getGlobalConfigBackup",
        "summary": "Get Global Config backup",
        "description": "Retrieves a specific version of a Global Config from backup storage.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/get-global-config-backup",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edgeConfigBackupVersionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "The object the API responds with when requesting an Edge Config backup",
                      "required": ["backup", "id", "lastModified", "metadata"],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "lastModified": {
                          "type": "number"
                        },
                        "backup": {
                          "type": "object",
                          "required": ["digest", "items", "slug", "updatedAt"],
                          "properties": {
                            "slug": {
                              "type": "string",
                              "description": "Name for the Edge Config Names are not unique. Must start with an alphabetic character and can contain only alphanumeric characters and underscores)."
                            },
                            "updatedAt": {
                              "type": "number"
                            },
                            "items": {
                              "type": "object"
                            },
                            "digest": {
                              "type": "string"
                            }
                          }
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "updatedAt": {
                              "type": "string"
                            },
                            "updatedBy": {
                              "type": "string"
                            },
                            "itemsCount": {
                              "type": "number"
                            },
                            "itemsBytes": {
                              "type": "number"
                            }
                          }
                        },
                        "user": {
                          "type": "object",
                          "required": ["email", "id", "username"],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "avatar": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "backup",
                        "id",
                        "lastModified",
                        "metadata",
                        "user"
                      ],
                      "properties": {
                        "user": {
                          "type": "object",
                          "required": ["email", "id", "username"],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "avatar": {
                              "type": "string"
                            }
                          }
                        },
                        "id": {
                          "type": "string"
                        },
                        "lastModified": {
                          "type": "number"
                        },
                        "backup": {
                          "type": "object",
                          "required": ["digest", "items", "slug", "updatedAt"],
                          "properties": {
                            "slug": {
                              "type": "string",
                              "description": "Name for the Edge Config Names are not unique. Must start with an alphabetic character and can contain only alphanumeric characters and underscores)."
                            },
                            "updatedAt": {
                              "type": "number"
                            },
                            "items": {
                              "type": "object"
                            },
                            "digest": {
                              "type": "string"
                            }
                          }
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "updatedAt": {
                              "type": "string"
                            },
                            "updatedBy": {
                              "type": "string"
                            },
                            "itemsCount": {
                              "type": "number"
                            },
                            "itemsBytes": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/global-config/{edgeConfigId}/backups/{edgeConfigBackupVersionId}/restore": {
      "post": {
        "operationId": "restoreGlobalConfigBackup",
        "summary": "Restore Global Config backup",
        "description": "Restores a Global Config backup.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/restore-global-config-backup",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edgeConfigBackupVersionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "digest",
                    "previousDigest",
                    "restoredFrom",
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["ok"]
                    },
                    "restoredFrom": {
                      "type": "string"
                    },
                    "previousDigest": {
                      "type": "string"
                    },
                    "digest": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "412": {
            "description": ""
          }
        }
      }
    },
    "/v1/global-config/{edgeConfigId}/backups": {
      "get": {
        "operationId": "getGlobalConfigBackups",
        "summary": "Get Global Config backups",
        "description": "Returns backups of a Global Config.",
        "tags": ["global-config"],
        "x-docs-url": "https://vercel.com/docs/rest-api/global-config/get-global-config-backups",
        "parameters": [
          {
            "name": "edgeConfigId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 50
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["backups", "pagination"],
                  "properties": {
                    "backups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["id", "lastModified"],
                        "properties": {
                          "metadata": {
                            "type": "object"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastModified": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "required": ["hasNext"],
                      "properties": {
                        "hasNext": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
