{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel integrations",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/integrations/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/integrations/git-namespaces": {
      "get": {
        "operationId": "listGitNamespacesByProvider",
        "summary": "List git namespaces by provider",
        "description": "Lists git namespaces for a supported provider. Supported providers are `github`, `gitlab` and `bitbucket`. If the provider is not provided, it will try to obtain it from the user that authenticated the request.",
        "tags": ["integrations"],
        "x-docs-url": "https://vercel.com/docs/rest-api/integrations/list-git-namespaces-by-provider",
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "description": "The custom Git host if using a custom Git provider, like GitHub Enterprise Server",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "github-limited",
                "github-custom-host",
                "gitlab",
                "bitbucket"
              ]
            }
          },
          {
            "name": "viewerMetadata",
            "in": "query",
            "description": "When true, includes the viewer object for each namespace.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": ["id", "ownerType", "provider", "slug"],
                    "properties": {
                      "provider": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "id": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      },
                      "ownerType": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "isAccessRestricted": {
                        "type": "boolean",
                        "enum": [false, true]
                      },
                      "installationId": {
                        "type": "number"
                      },
                      "requireReauth": {
                        "type": "boolean",
                        "enum": [false, true]
                      },
                      "viewer": {
                        "type": "object",
                        "properties": {
                          "canCreateApp": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "role": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/integrations/search-repo": {
      "get": {
        "operationId": "listGitRepositoriesLinkedToNamespaceByProvider",
        "summary": "List git repositories linked to namespace by provider",
        "description": "Lists git repositories linked to a namespace `id` for a supported provider. A specific namespace `id` can be obtained via the `git-namespaces`  endpoint. Supported providers are `github`, `gitlab` and `bitbucket`. If the provider or namespace is not provided, it will try to obtain it from the user that authenticated the request.",
        "tags": ["integrations"],
        "x-docs-url": "https://vercel.com/docs/rest-api/integrations/list-git-repositories-linked-to-namespace-by-provider",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespaceId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "github-limited",
                "github-custom-host",
                "gitlab",
                "bitbucket",
                "cursor-origin"
              ]
            }
          },
          {
            "name": "installationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "query",
            "description": "The custom Git host if using a custom Git provider, like GitHub Enterprise Server",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object"
                    },
                    {
                      "type": "object",
                      "required": ["error"],
                      "properties": {
                        "error": {
                          "type": "object",
                          "required": ["code", "message"],
                          "properties": {
                            "code": {
                              "type": "string",
                              "enum": ["installation_not_found"]
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["gitAccount", "repos"],
                      "properties": {
                        "gitAccount": {
                          "type": "object",
                          "required": ["namespaceId", "provider"],
                          "properties": {
                            "provider": {
                              "type": "string"
                            },
                            "namespaceId": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "repos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "defaultBranch",
                              "id",
                              "name",
                              "namespace",
                              "owner",
                              "ownerType",
                              "private",
                              "provider",
                              "slug",
                              "updatedAt",
                              "url"
                            ]
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["gitAccount", "repos"],
                      "properties": {
                        "gitAccount": {
                          "type": "object",
                          "required": ["namespaceId", "provider"],
                          "properties": {
                            "provider": {
                              "type": "string",
                              "enum": [
                                "bitbucket",
                                "github",
                                "github-custom-host",
                                "github-limited",
                                "gitlab",
                                "vercel"
                              ]
                            },
                            "namespaceId": {
                              "nullable": true
                            }
                          }
                        },
                        "repos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "defaultBranch",
                              "id",
                              "name",
                              "namespace",
                              "owner",
                              "ownerType",
                              "private",
                              "provider",
                              "slug",
                              "updatedAt",
                              "url"
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          },
          "500": {
            "description": ""
          },
          "502": {
            "description": ""
          }
        }
      }
    },
    "/v1/integrations/integration/{integrationIdOrSlug}/products/{productIdOrSlug}/plans": {
      "get": {
        "operationId": "listIntegrationBillingPlans",
        "summary": "List integration billing plans",
        "description": "Get a list of billing plans for an integration and product.",
        "tags": ["integrations"],
        "x-docs-url": "https://vercel.com/docs/rest-api/integrations/list-integration-billing-plans",
        "parameters": [
          {
            "name": "integrationIdOrSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productIdOrSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationConfigurationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "marketplace",
                "deploy-button",
                "external",
                "v0",
                "resource-claims",
                "cli",
                "oauth",
                "backoffice",
                "import-recommended-integrations"
              ]
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["plans"],
                  "properties": {
                    "plans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "description",
                          "id",
                          "name",
                          "paymentMethodRequired",
                          "scope",
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["prepayment", "subscription"]
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "scope": {
                            "type": "string",
                            "enum": ["installation", "resource"]
                          },
                          "description": {
                            "type": "string"
                          },
                          "paymentMethodRequired": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "preauthorizationAmount": {
                            "type": "number"
                          },
                          "initialCharge": {
                            "type": "string"
                          },
                          "minimumAmount": {
                            "type": "string"
                          },
                          "maximumAmount": {
                            "type": "string"
                          },
                          "maximumAmountAutoPurchasePerPeriod": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "string"
                          },
                          "details": {
                            "type": "array"
                          },
                          "highlightedDetails": {
                            "type": "array"
                          },
                          "quote": {
                            "type": "array"
                          },
                          "effectiveDate": {
                            "type": "string"
                          },
                          "disabled": {
                            "type": "boolean",
                            "enum": [false, true]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/integrations/installations/{integrationConfigurationId}/resources/{resourceId}/connections": {
      "post": {
        "operationId": "connectIntegrationResourceToProject",
        "summary": "Connect integration resource to project",
        "description": "Connects an integration resource to a Vercel project. This endpoint establishes a connection between a provisioned integration resource (from storage APIs like `POST /v1/storage/stores/integration/direct`) and a specific Vercel project.",
        "tags": ["integrations"],
        "x-docs-url": "https://vercel.com/docs/rest-api/integrations/connect-integration-resource-to-project",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["projectId"],
                "properties": {
                  "projectId": {
                    "type": "string"
                  },
                  "envVarEnvironments": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["production", "preview", "development"]
                    }
                  },
                  "makeEnvVarsSensitive": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/integrations/configurations": {
      "get": {
        "operationId": "getConfigurationsForTheAuthenticatedUserOrTeam",
        "summary": "Get configurations for the authenticated user or team",
        "description": "Allows to retrieve all configurations for an authenticated integration. When the `project` view is used, configurations generated for the authorization flow will be filtered out of the results.",
        "tags": ["integrations"],
        "x-docs-url": "https://vercel.com/docs/rest-api/integrations/get-configurations-for-the-authenticated-user-or-team",
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["account", "project"]
            }
          },
          {
            "name": "installationType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["marketplace", "external", "provisioning"]
            }
          },
          {
            "name": "integrationIdOrSlug",
            "in": "query",
            "description": "ID of the integration",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of configurations for the authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "description": "The list of configurations for the authenticated user",
                      "items": {
                        "type": "object",
                        "description": "The list of configurations for the authenticated user",
                        "properties": {
                          "completedAt": {
                            "type": "number",
                            "description": "A timestamp that tells you when the configuration was installed successfully"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "A timestamp that tells you when the configuration was created"
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique identifier of the configuration"
                          },
                          "integrationId": {
                            "type": "string",
                            "description": "The unique identifier of the app the configuration was created for"
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "The user or team ID that owns the configuration"
                          },
                          "status": {
                            "type": "string",
                            "description": "The configuration status. Optional. If not defined, assume 'ready'.",
                            "enum": [
                              "error",
                              "onboarding",
                              "pending",
                              "ready",
                              "resumed",
                              "suspended",
                              "uninstalled"
                            ]
                          },
                          "externalId": {
                            "type": "string",
                            "description": "An external identifier defined by the integration vendor."
                          },
                          "projects": {
                            "type": "array",
                            "description": "When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access."
                          },
                          "source": {
                            "type": "string",
                            "description": "Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics.",
                            "enum": [
                              "backoffice",
                              "cli",
                              "deploy-button",
                              "external",
                              "import-recommended-integrations",
                              "marketplace",
                              "oauth",
                              "resource-claims",
                              "v0"
                            ]
                          },
                          "slug": {
                            "type": "string",
                            "description": "The slug of the integration the configuration is created for."
                          },
                          "teamId": {
                            "type": "string",
                            "description": "When the configuration was created for a team, this will show the ID of the team.",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "enum": ["integration-configuration"]
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "A timestamp that tells you when the configuration was updated."
                          },
                          "userId": {
                            "type": "string",
                            "description": "The ID of the user that created the configuration."
                          },
                          "scopes": {
                            "type": "array",
                            "description": "The resources that are allowed to be accessed by the configuration."
                          },
                          "disabledAt": {
                            "type": "number",
                            "description": "A timestamp that tells you when the configuration was disabled. Note: Configurations can be disabled when the associated user loses access to a team. They do not function during this time until the configuration is 'transferred', meaning the associated user is changed to one with access to the team."
                          },
                          "deletedAt": {
                            "type": "number",
                            "description": "A timestamp that tells you when the configuration was deleted.",
                            "nullable": true
                          },
                          "deleteRequestedAt": {
                            "type": "number",
                            "description": "A timestamp that tells you when the configuration deletion has been started for cases when the deletion needs to be settled/approved by partners, such as when marketplace invoices have been paid.",
                            "nullable": true
                          },
                          "customerDeleteRequestedAt": {
                            "type": "number",
                            "description": "Record when the customer initited deletion, independent of whether `deleteRequestedAt` gets set.",
                            "nullable": true
                          },
                          "disabledReason": {
                            "type": "string",
                            "enum": [
                              "account-plan-downgrade",
                              "disabled-by-admin",
                              "disabled-by-owner",
                              "feature-not-available",
                              "original-owner-left-the-team",
                              "original-owner-role-downgraded"
                            ]
                          },
                          "installationType": {
                            "type": "string",
                            "description": "Defines the installation type. - 'external' integrations are installed via the existing integrations flow - 'marketplace' integrations are natively installed: - when accepting the TOS of a partner during the store creation process - if undefined, assume 'external'",
                            "enum": ["external", "marketplace"]
                          }
                        }
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "createdAt",
                          "id",
                          "integration",
                          "integrationId",
                          "ownerId",
                          "scopes",
                          "slug",
                          "type",
                          "updatedAt",
                          "userId"
                        ],
                        "properties": {
                          "integration": {
                            "type": "object",
                            "required": ["icon", "isLegacy", "name"]
                          },
                          "completedAt": {
                            "type": "number",
                            "description": "A timestamp that tells you when the configuration was installed successfully"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "A timestamp that tells you when the configuration was created"
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique identifier of the configuration"
                          },
                          "integrationId": {
                            "type": "string",
                            "description": "The unique identifier of the app the configuration was created for"
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "The user or team ID that owns the configuration"
                          },
                          "status": {
                            "type": "string",
                            "description": "The configuration status. Optional. If not defined, assume 'ready'.",
                            "enum": [
                              "error",
                              "onboarding",
                              "pending",
                              "ready",
                              "resumed",
                              "suspended",
                              "uninstalled"
                            ]
                          },
                          "externalId": {
                            "type": "string",
                            "description": "An external identifier defined by the integration vendor."
                          },
                          "projects": {
                            "type": "array",
                            "description": "When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access."
                          },
                          "source": {
                            "type": "string",
                            "description": "Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics.",
                            "enum": [
                              "backoffice",
                              "cli",
                              "deploy-button",
                              "external",
                              "import-recommended-integrations",
                              "marketplace",
                              "oauth",
                              "resource-claims",
                              "v0"
                            ]
                          },
                          "slug": {
                            "type": "string",
                            "description": "The slug of the integration the configuration is created for."
                          },
                          "teamId": {
                            "type": "string",
                            "description": "When the configuration was created for a team, this will show the ID of the team.",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "enum": ["integration-configuration"]
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "A timestamp that tells you when the configuration was updated."
                          },
                          "userId": {
                            "type": "string",
                            "description": "The ID of the user that created the configuration."
                          },
                          "scopes": {
                            "type": "array",
                            "description": "The resources that are allowed to be accessed by the configuration."
                          },
                          "disabledAt": {
                            "type": "number",
                            "description": "A timestamp that tells you when the configuration was disabled. Note: Configurations can be disabled when the associated user loses access to a team. They do not function during this time until the configuration is 'transferred', meaning the associated user is changed to one with access to the team."
                          },
                          "deletedAt": {
                            "type": "number",
                            "description": "A timestamp that tells you when the configuration was deleted.",
                            "nullable": true
                          },
                          "deleteRequestedAt": {
                            "type": "number",
                            "description": "A timestamp that tells you when the configuration deletion has been started for cases when the deletion needs to be settled/approved by partners, such as when marketplace invoices have been paid.",
                            "nullable": true
                          },
                          "customerDeleteRequestedAt": {
                            "type": "number",
                            "description": "Record when the customer initited deletion, independent of whether `deleteRequestedAt` gets set.",
                            "nullable": true
                          },
                          "disabledReason": {
                            "type": "string",
                            "enum": [
                              "account-plan-downgrade",
                              "disabled-by-admin",
                              "disabled-by-owner",
                              "feature-not-available",
                              "original-owner-left-the-team",
                              "original-owner-role-downgraded"
                            ]
                          },
                          "installationType": {
                            "type": "string",
                            "description": "Defines the installation type. - 'external' integrations are installed via the existing integrations flow - 'marketplace' integrations are natively installed: - when accepting the TOS of a partner during the store creation process - if undefined, assume 'external'",
                            "enum": ["external", "marketplace"]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/integrations/configuration/{id}": {
      "get": {
        "operationId": "retrieveAnIntegrationConfiguration",
        "summary": "Retrieve an integration configuration",
        "description": "Allows to retrieve a the configuration with the provided id in case it exists. The authenticated user or team must be the owner of the config in order to access it.",
        "tags": ["integrations"],
        "x-docs-url": "https://vercel.com/docs/rest-api/integrations/retrieve-an-integration-configuration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the configuration to check",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The configuration with the provided id",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "createdAt",
                        "id",
                        "integrationId",
                        "notification",
                        "ownerId",
                        "projectSelection",
                        "scopes",
                        "slug",
                        "transferRequest",
                        "type",
                        "updatedAt",
                        "userId"
                      ],
                      "properties": {
                        "projectSelection": {
                          "type": "string",
                          "description": "A string representing the permission for projects. Possible values are `all` or `selected`.",
                          "enum": ["all", "selected"]
                        },
                        "notification": {
                          "type": "object",
                          "required": ["level", "title"],
                          "properties": {
                            "level": {
                              "type": "string",
                              "enum": ["error", "info", "warn"]
                            },
                            "title": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            },
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "transferRequest": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "createdAt",
                                "expiresAt",
                                "kind",
                                "requestId",
                                "requester",
                                "transferId"
                              ]
                            },
                            {
                              "type": "object",
                              "required": [
                                "createdAt",
                                "expiresAt",
                                "kind",
                                "requestId",
                                "requester",
                                "transferId"
                              ]
                            }
                          ]
                        },
                        "projects": {
                          "type": "array",
                          "description": "When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "status": {
                          "type": "string",
                          "description": "The configuration status. Optional. If not defined, assume 'ready'.",
                          "enum": [
                            "error",
                            "onboarding",
                            "pending",
                            "ready",
                            "resumed",
                            "suspended",
                            "uninstalled"
                          ]
                        },
                        "type": {
                          "type": "string",
                          "enum": ["integration-configuration"]
                        },
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the configuration"
                        },
                        "integrationId": {
                          "type": "string",
                          "description": "The unique identifier of the app the configuration was created for"
                        },
                        "userId": {
                          "type": "string",
                          "description": "The ID of the user that created the configuration."
                        },
                        "ownerId": {
                          "type": "string",
                          "description": "The user or team ID that owns the configuration"
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was created"
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was updated."
                        },
                        "deletedAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was deleted.",
                          "nullable": true
                        },
                        "canConfigureOpenTelemetry": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "completedAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was installed successfully"
                        },
                        "externalId": {
                          "type": "string",
                          "description": "An external identifier defined by the integration vendor."
                        },
                        "source": {
                          "type": "string",
                          "description": "Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics.",
                          "enum": [
                            "backoffice",
                            "cli",
                            "deploy-button",
                            "external",
                            "import-recommended-integrations",
                            "marketplace",
                            "oauth",
                            "resource-claims",
                            "v0"
                          ]
                        },
                        "slug": {
                          "type": "string",
                          "description": "The slug of the integration the configuration is created for."
                        },
                        "teamId": {
                          "type": "string",
                          "description": "When the configuration was created for a team, this will show the ID of the team.",
                          "nullable": true
                        },
                        "scopes": {
                          "type": "array",
                          "description": "The resources that are allowed to be accessed by the configuration.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "disabledAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was disabled. Note: Configurations can be disabled when the associated user loses access to a team. They do not function during this time until the configuration is 'transferred', meaning the associated user is changed to one with access to the team."
                        },
                        "deleteRequestedAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration deletion has been started for cases when the deletion needs to be settled/approved by partners, such as when marketplace invoices have been paid.",
                          "nullable": true
                        },
                        "customerDeleteRequestedAt": {
                          "type": "number",
                          "description": "Record when the customer initited deletion, independent of whether `deleteRequestedAt` gets set.",
                          "nullable": true
                        },
                        "disabledReason": {
                          "type": "string",
                          "enum": [
                            "account-plan-downgrade",
                            "disabled-by-admin",
                            "disabled-by-owner",
                            "feature-not-available",
                            "original-owner-left-the-team",
                            "original-owner-role-downgraded"
                          ]
                        },
                        "installationType": {
                          "type": "string",
                          "description": "Defines the installation type. - 'external' integrations are installed via the existing integrations flow - 'marketplace' integrations are natively installed: - when accepting the TOS of a partner during the store creation process - if undefined, assume 'external'",
                          "enum": ["external", "marketplace"]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "The configuration with the provided id",
                      "required": [
                        "createdAt",
                        "id",
                        "integrationId",
                        "ownerId",
                        "scopes",
                        "slug",
                        "type",
                        "updatedAt",
                        "userId"
                      ],
                      "properties": {
                        "completedAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was installed successfully"
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was created"
                        },
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the configuration"
                        },
                        "integrationId": {
                          "type": "string",
                          "description": "The unique identifier of the app the configuration was created for"
                        },
                        "ownerId": {
                          "type": "string",
                          "description": "The user or team ID that owns the configuration"
                        },
                        "status": {
                          "type": "string",
                          "description": "The configuration status. Optional. If not defined, assume 'ready'.",
                          "enum": [
                            "error",
                            "onboarding",
                            "pending",
                            "ready",
                            "resumed",
                            "suspended",
                            "uninstalled"
                          ]
                        },
                        "externalId": {
                          "type": "string",
                          "description": "An external identifier defined by the integration vendor."
                        },
                        "projects": {
                          "type": "array",
                          "description": "When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "source": {
                          "type": "string",
                          "description": "Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics.",
                          "enum": [
                            "backoffice",
                            "cli",
                            "deploy-button",
                            "external",
                            "import-recommended-integrations",
                            "marketplace",
                            "oauth",
                            "resource-claims",
                            "v0"
                          ]
                        },
                        "slug": {
                          "type": "string",
                          "description": "The slug of the integration the configuration is created for."
                        },
                        "teamId": {
                          "type": "string",
                          "description": "When the configuration was created for a team, this will show the ID of the team.",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "enum": ["integration-configuration"]
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was updated."
                        },
                        "userId": {
                          "type": "string",
                          "description": "The ID of the user that created the configuration."
                        },
                        "scopes": {
                          "type": "array",
                          "description": "The resources that are allowed to be accessed by the configuration.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "disabledAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was disabled. Note: Configurations can be disabled when the associated user loses access to a team. They do not function during this time until the configuration is 'transferred', meaning the associated user is changed to one with access to the team."
                        },
                        "deletedAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was deleted.",
                          "nullable": true
                        },
                        "deleteRequestedAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration deletion has been started for cases when the deletion needs to be settled/approved by partners, such as when marketplace invoices have been paid.",
                          "nullable": true
                        },
                        "customerDeleteRequestedAt": {
                          "type": "number",
                          "description": "Record when the customer initited deletion, independent of whether `deleteRequestedAt` gets set.",
                          "nullable": true
                        },
                        "disabledReason": {
                          "type": "string",
                          "enum": [
                            "account-plan-downgrade",
                            "disabled-by-admin",
                            "disabled-by-owner",
                            "feature-not-available",
                            "original-owner-left-the-team",
                            "original-owner-role-downgraded"
                          ]
                        },
                        "installationType": {
                          "type": "string",
                          "description": "Defines the installation type. - 'external' integrations are installed via the existing integrations flow - 'marketplace' integrations are natively installed: - when accepting the TOS of a partner during the store creation process - if undefined, assume 'external'",
                          "enum": ["external", "marketplace"]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "A configuration represents information about a single installation of an integration within an individual or team account",
                      "properties": {
                        "completedAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was installed successfully"
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was created"
                        },
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the configuration"
                        },
                        "integrationId": {
                          "type": "string",
                          "description": "The unique identifier of the app the configuration was created for"
                        },
                        "ownerId": {
                          "type": "string",
                          "description": "The user or team ID that owns the configuration"
                        },
                        "status": {
                          "type": "string",
                          "description": "The configuration status. Optional. If not defined, assume 'ready'.",
                          "enum": [
                            "error",
                            "onboarding",
                            "pending",
                            "ready",
                            "resumed",
                            "suspended",
                            "uninstalled"
                          ]
                        },
                        "externalId": {
                          "type": "string",
                          "description": "An external identifier defined by the integration vendor."
                        },
                        "projects": {
                          "type": "array",
                          "description": "When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "source": {
                          "type": "string",
                          "description": "Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics.",
                          "enum": [
                            "backoffice",
                            "cli",
                            "deploy-button",
                            "external",
                            "import-recommended-integrations",
                            "marketplace",
                            "oauth",
                            "resource-claims",
                            "v0"
                          ]
                        },
                        "slug": {
                          "type": "string",
                          "description": "The slug of the integration the configuration is created for."
                        },
                        "teamId": {
                          "type": "string",
                          "description": "When the configuration was created for a team, this will show the ID of the team.",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "enum": ["integration-configuration"]
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was updated."
                        },
                        "userId": {
                          "type": "string",
                          "description": "The ID of the user that created the configuration."
                        },
                        "scopes": {
                          "type": "array",
                          "description": "The resources that are allowed to be accessed by the configuration.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "disabledAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was disabled. Note: Configurations can be disabled when the associated user loses access to a team. They do not function during this time until the configuration is 'transferred', meaning the associated user is changed to one with access to the team."
                        },
                        "deletedAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration was deleted.",
                          "nullable": true
                        },
                        "deleteRequestedAt": {
                          "type": "number",
                          "description": "A timestamp that tells you when the configuration deletion has been started for cases when the deletion needs to be settled/approved by partners, such as when marketplace invoices have been paid.",
                          "nullable": true
                        },
                        "customerDeleteRequestedAt": {
                          "type": "number",
                          "description": "Record when the customer initited deletion, independent of whether `deleteRequestedAt` gets set.",
                          "nullable": true
                        },
                        "disabledReason": {
                          "type": "string",
                          "enum": [
                            "account-plan-downgrade",
                            "disabled-by-admin",
                            "disabled-by-owner",
                            "feature-not-available",
                            "original-owner-left-the-team",
                            "original-owner-role-downgraded"
                          ]
                        },
                        "installationType": {
                          "type": "string",
                          "description": "Defines the installation type. - 'external' integrations are installed via the existing integrations flow - 'marketplace' integrations are natively installed: - when accepting the TOS of a partner during the store creation process - if undefined, assume 'external'",
                          "enum": ["external", "marketplace"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": "The configuration was not found"
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteAnIntegrationConfiguration",
        "summary": "Delete an integration configuration",
        "description": "Allows to remove the configuration with the `id` provided in the parameters. The configuration and all of its resources will be removed. This includes Webhooks, LogDrains and Project Env variables.",
        "tags": ["integrations"],
        "x-docs-url": "https://vercel.com/docs/rest-api/integrations/delete-an-integration-configuration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The configuration was successfully removed"
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": "The configuration was not found"
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/integrations/configuration/{id}/products": {
      "get": {
        "operationId": "listProductsForIntegrationConfiguration",
        "summary": "List products for integration configuration",
        "description": "Returns products available for an integration configuration. Each product includes a `metadataSchema` field with the JSON Schema for required and optional metadata fields.",
        "tags": ["integrations"],
        "x-docs-url": "https://vercel.com/docs/rest-api/integrations/list-products-for-integration-configuration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the integration configuration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of products available for this integration configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["configuration", "integration", "products"],
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "metadataSchema",
                          "name",
                          "protocols",
                          "slug"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "protocols": {
                            "type": "object"
                          },
                          "primaryProtocol": {
                            "type": "string",
                            "enum": [
                              "ai",
                              "authentication",
                              "checks",
                              "experimentation",
                              "logDrain",
                              "messaging",
                              "observability",
                              "other",
                              "storage",
                              "traceDrain",
                              "video",
                              "workflow"
                            ]
                          },
                          "metadataSchema": {
                            "type": "object",
                            "required": ["properties", "type"]
                          }
                        }
                      }
                    },
                    "integration": {
                      "type": "object",
                      "required": ["id", "name", "slug"],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "configuration": {
                      "type": "object",
                      "required": ["id"],
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/storage/stores/integration/direct": {
      "post": {
        "operationId": "createIntegrationStoreFreeAndPaidPlans",
        "summary": "Create integration store (free and paid plans)",
        "description": "Creates an integration store with automatic billing plan handling. For free resources, omit `billingPlanId` to auto-discover free plans. For paid resources, provide a `billingPlanId` from the billing plans endpoint.",
        "tags": ["integrations"],
        "x-docs-url": "https://vercel.com/docs/rest-api/integrations/create-integration-store-free-and-paid-plans",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "integrationConfigurationId",
                  "integrationProductIdOrSlug"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable name for the storage resource",
                    "maxLength": 128
                  },
                  "integrationConfigurationId": {
                    "type": "string",
                    "description": "ID of your integration configuration. Get this from GET /v1/integrations/configurations",
                    "pattern": "^icfg_[a-zA-Z0-9]+$"
                  },
                  "integrationProductIdOrSlug": {
                    "type": "string",
                    "description": "ID or slug of the integration product. Get available products from GET /v1/integrations/configuration/{id}/products",
                    "oneOf": [
                      {
                        "description": "Product ID format",
                        "pattern": "^iap_[a-zA-Z0-9_]+$"
                      },
                      {
                        "description": "Product slug format",
                        "pattern": "^[a-z0-9-]+$"
                      }
                    ]
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Optional key-value pairs for resource metadata",
                    "additionalProperties": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "array"
                        }
                      ]
                    }
                  },
                  "externalId": {
                    "type": "string",
                    "description": "Optional external identifier for tracking purposes"
                  },
                  "protocolSettings": {
                    "type": "object",
                    "description": "Protocol-specific configuration settings",
                    "additionalProperties": true
                  },
                  "source": {
                    "type": "string",
                    "description": "Source of the store creation request",
                    "enum": [
                      "marketplace",
                      "deploy-button",
                      "external",
                      "v0",
                      "resource-claims",
                      "cli",
                      "oauth",
                      "backoffice",
                      "import-recommended-integrations"
                    ],
                    "default": "marketplace"
                  },
                  "billingPlanId": {
                    "type": "string",
                    "description": "ID of the billing plan for paid resources. Get available plans from GET /integrations/integration/{id}/products/{productId}/plans. If not provided, automatically discovers free billing plans."
                  },
                  "paymentMethodId": {
                    "type": "string",
                    "description": "Payment method ID for paid resources. Optional - uses default payment method if not provided."
                  },
                  "prepaymentAmountCents": {
                    "type": "number",
                    "description": "Amount in cents for prepayment billing plans. Required only for prepayment plans with variable amounts.",
                    "minimum": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["store"],
                  "properties": {
                    "store": {
                      "type": "object",
                      "nullable": true,
                      "required": [
                        "externalResourceId",
                        "product",
                        "projectsMetadata",
                        "secrets",
                        "status",
                        "usageQuotaExceeded"
                      ],
                      "properties": {
                        "projectsMetadata": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "envVarPrefix",
                              "environmentVariables",
                              "environments",
                              "id",
                              "name",
                              "projectId"
                            ]
                          }
                        },
                        "projectFilter": {
                          "type": "object",
                          "properties": {
                            "git": {
                              "type": "object",
                              "required": ["providers"]
                            }
                          }
                        },
                        "totalConnectedProjects": {
                          "type": "number"
                        },
                        "usageQuotaExceeded": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "available",
                            "error",
                            "initializing",
                            "limits-exceeded-suspended",
                            "limits-exceeded-suspended-store-count",
                            "onboarding",
                            "suspended",
                            "uninstalled",
                            null
                          ],
                          "nullable": true
                        },
                        "ownership": {
                          "type": "string",
                          "enum": ["linked", "owned", "sandbox"]
                        },
                        "capabilities": {
                          "type": "object",
                          "properties": {
                            "mcp": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "mcpReadonly": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "sso": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "billable": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "transferable": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "secretsSync": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "secretRotation": {},
                            "projects": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "v0": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "autoSensitive": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "agentTools": {
                              "type": "boolean",
                              "enum": [false, true]
                            }
                          }
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "externalResourceId": {
                          "type": "string"
                        },
                        "externalResourceStatus": {
                          "type": "string",
                          "enum": [
                            "error",
                            "onboarding",
                            "pending",
                            "ready",
                            "resumed",
                            "suspended",
                            "uninstalled",
                            null
                          ],
                          "nullable": true
                        },
                        "directPartnerConsoleUrl": {
                          "type": "string"
                        },
                        "product": {
                          "type": "object",
                          "required": [
                            "integration",
                            "integrationConfigurationId",
                            "supportedProtocols"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "iconUrl": {
                              "type": "string"
                            },
                            "capabilities": {
                              "type": "object"
                            },
                            "shortDescription": {
                              "type": "string"
                            },
                            "metadataSchema": {
                              "type": "object",
                              "required": ["properties", "type"]
                            },
                            "resourceLinks": {
                              "type": "array"
                            },
                            "tags": {
                              "type": "array"
                            },
                            "projectConnectionScopes": {
                              "type": "array"
                            },
                            "showSSOLinkOnProjectConnection": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "disableResourceRenaming": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "resourceTitle": {
                              "type": "string",
                              "description": "Custom resource title to display during installation and configuration. If not provided, defaults to protocol-based defaults."
                            },
                            "agentSkills": {
                              "type": "array",
                              "description": "URLs to skills/guides for how AI agents should use this product. Providers can specify these to help agents understand how to interact with their integration."
                            },
                            "repl": {
                              "type": "object",
                              "required": ["enabled", "supportsReadOnlyMode"]
                            },
                            "guides": {
                              "type": "array"
                            },
                            "integration": {
                              "type": "object",
                              "required": ["icon", "id", "name", "slug"]
                            },
                            "integrationConfigurationId": {
                              "type": "string"
                            },
                            "supportedProtocols": {
                              "type": "array"
                            },
                            "primaryProtocol": {
                              "type": "string",
                              "enum": [
                                "ai",
                                "authentication",
                                "checks",
                                "experimentation",
                                "logDrain",
                                "messaging",
                                "observability",
                                "other",
                                "storage",
                                "traceDrain",
                                "video",
                                "workflow"
                              ]
                            },
                            "logDrainStatus": {
                              "type": "string",
                              "enum": ["disabled", "enabled"]
                            }
                          }
                        },
                        "protocolSettings": {
                          "type": "object",
                          "properties": {
                            "experimentation": {
                              "type": "object"
                            }
                          }
                        },
                        "notification": {
                          "type": "object",
                          "required": ["level", "title"],
                          "properties": {
                            "title": {
                              "type": "string"
                            },
                            "level": {
                              "type": "string",
                              "enum": ["error", "info", "warn"]
                            },
                            "message": {
                              "type": "string"
                            },
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "secrets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["length", "name"]
                          }
                        },
                        "billingPlan": {
                          "type": "object",
                          "required": [
                            "description",
                            "id",
                            "name",
                            "paymentMethodRequired",
                            "scope",
                            "type"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "enum": ["prepayment", "subscription"]
                            },
                            "description": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "scope": {
                              "type": "string",
                              "enum": ["installation", "resource"]
                            },
                            "paymentMethodRequired": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "preauthorizationAmount": {
                              "type": "number"
                            },
                            "initialCharge": {
                              "type": "string"
                            },
                            "minimumAmount": {
                              "type": "string"
                            },
                            "maximumAmount": {
                              "type": "string"
                            },
                            "maximumAmountAutoPurchasePerPeriod": {
                              "type": "string"
                            },
                            "cost": {
                              "type": "string"
                            },
                            "details": {
                              "type": "array"
                            },
                            "highlightedDetails": {
                              "type": "array"
                            },
                            "quote": {
                              "type": "array"
                            },
                            "effectiveDate": {
                              "type": "string"
                            },
                            "disabled": {
                              "type": "boolean",
                              "enum": [false, true]
                            }
                          }
                        },
                        "secretRotationRequestedAt": {
                          "type": "number",
                          "description": "The timestamp when secret rotation was requested."
                        },
                        "secretRotationRequestedReason": {
                          "type": "string",
                          "description": "The reason for the secret rotation request."
                        },
                        "secretRotationRequestedBy": {
                          "type": "string",
                          "description": "The ID of the user/team who requested the secret rotation."
                        },
                        "secretRotationCompletedAt": {
                          "type": "number",
                          "description": "The timestamp when secret rotation was completed."
                        },
                        "parentId": {
                          "type": "string",
                          "description": "The ID of the parent resource. Used to establish a parent-child relationship between resources, such as sandbox resources linking to their owner account resource."
                        },
                        "targets": {
                          "type": "array",
                          "description": "The deployment targets that this resource is available for.",
                          "items": {
                            "type": "string",
                            "description": "The deployment targets that this resource is available for.",
                            "enum": ["development", "preview", "production"]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    }
  }
}
