{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel logs",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/logs/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/projects/{projectId}/deployments/{deploymentId}/runtime-logs": {
      "get": {
        "operationId": "getLogsForADeployment",
        "summary": "Get logs for a deployment",
        "description": "Returns a stream of logs for a given deployment.",
        "tags": ["logs"],
        "x-docs-url": "https://vercel.com/docs/rest-api/logs/get-logs-for-a-deployment",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/stream+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "domain",
                    "level",
                    "message",
                    "messageTruncated",
                    "requestMethod",
                    "requestPath",
                    "responseStatusCode",
                    "rowId",
                    "source",
                    "timestampInMs"
                  ],
                  "properties": {
                    "level": {
                      "type": "string",
                      "enum": [
                        "debug",
                        "error",
                        "fatal",
                        "info",
                        "trace",
                        "warning"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "rowId": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "delimiter",
                        "edge-function",
                        "edge-middleware",
                        "request",
                        "serverless"
                      ]
                    },
                    "timestampInMs": {
                      "type": "number"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "messageTruncated": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "requestMethod": {
                      "type": "string"
                    },
                    "requestPath": {
                      "type": "string"
                    },
                    "responseStatusCode": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
