{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel marketplace",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/marketplace/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/installations/{integrationConfigurationId}": {
      "patch": {
        "operationId": "updateInstallation",
        "summary": "Update Installation",
        "description": "This endpoint updates an integration installation.",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/update-installation",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "ready",
                      "pending",
                      "onboarding",
                      "suspended",
                      "resumed",
                      "uninstalled",
                      "error"
                    ]
                  },
                  "externalId": {
                    "type": "string"
                  },
                  "billingPlan": {
                    "type": "object",
                    "required": ["id", "type", "name"],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": ["prepayment", "subscription"]
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "paymentMethodRequired": {
                        "type": "boolean"
                      },
                      "cost": {
                        "type": "string"
                      },
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": ["label"]
                        }
                      },
                      "highlightedDetails": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": ["label"]
                        }
                      },
                      "effectiveDate": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": true
                  },
                  "notification": {
                    "description": "A notification to display to your customer. Send `null` to clear the current notification.",
                    "oneOf": [
                      {
                        "type": "object",
                        "required": ["level", "title"],
                        "properties": {
                          "level": {
                            "type": "string",
                            "enum": ["info", "warn", "error"]
                          },
                          "title": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "href": {
                            "type": "string",
                            "format": "uri",
                            "pattern": "^https?://|^sso:"
                          }
                        }
                      },
                      {
                        "type": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/account": {
      "get": {
        "operationId": "getAccountInformation",
        "summary": "Get Account Information",
        "description": "Fetches the best account or user’s contact info",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/get-account-information",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["contact", "url"],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name of the team the installation is tied to."
                    },
                    "url": {
                      "type": "string",
                      "description": "A URL linking to the installation in the Vercel Dashboard."
                    },
                    "contact": {
                      "type": "object",
                      "description": "The best contact for the integration, which can change as team members and their roles change.",
                      "nullable": true,
                      "required": ["email"],
                      "properties": {
                        "email": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/member/{memberId}": {
      "get": {
        "operationId": "getMemberInformation",
        "summary": "Get Member Information",
        "description": "Returns the member role and other information for a given member ID (\"user_id\" claim in the SSO OIDC token).",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/get-member-information",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id", "role"],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "description": "\"The `ADMIN` role, by default, is provided to users capable of installing integrations, while the `USER` role can be granted to Vercel users with the Vercel `Billing` or Vercel `Viewer` role, which are considered to be Read-Only roles.\"",
                      "enum": ["ADMIN", "USER"]
                    },
                    "globalUserId": {
                      "type": "string"
                    },
                    "userEmail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/events": {
      "post": {
        "operationId": "createEvent",
        "summary": "Create Event",
        "description": "Partner notifies Vercel of any changes made to an Installation or a Resource. Vercel is expected to use `list-resources` and other read APIs to get the new state.<br/> <br/> `resource.updated` event should be dispatched when any state of a resource linked to Vercel is modified by the partner.<br/> `installation.updated` event should be dispatched when an installation's billing plan is changed via the provider instead of Vercel.<br/> <br/> Resource update use cases: <br/> <br/> - The user renames a database in the partner’s application. The partner should dispatch a `resource.updated` event to notify Vercel to update the resource in Vercel’s datastores.<br/> - A resource has been suspended due to a lack of use. The partner should dispatch a `resource.updated` event to notify Vercel to update the resource's status in Vercel's datastores.<br/>",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/create-event",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["event"],
                "properties": {
                  "event": {
                    "oneOf": [
                      {
                        "type": "object",
                        "required": ["type"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["installation.updated"]
                          },
                          "billingPlanId": {
                            "type": "string",
                            "description": "The installation-level billing plan ID"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": ["type", "resourceId"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["resource.updated"]
                          },
                          "productId": {
                            "type": "string",
                            "description": "Partner-provided product slug or id"
                          },
                          "resourceId": {
                            "type": "string",
                            "description": "Partner provided resource ID"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/resources": {
      "get": {
        "operationId": "getIntegrationResources",
        "summary": "Get Integration Resources",
        "description": "Get all resources for a given installation ID.",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/get-integration-resources",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["resources"],
                  "properties": {
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "internalId",
                          "name",
                          "partnerId",
                          "productId"
                        ],
                        "properties": {
                          "partnerId": {
                            "type": "string",
                            "description": "The ID provided by the partner for the given resource"
                          },
                          "internalId": {
                            "type": "string",
                            "description": "The ID assigned by Vercel for the given resource"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the resource as it is recorded in Vercel"
                          },
                          "status": {
                            "type": "string",
                            "description": "The current status of the resource",
                            "enum": [
                              "error",
                              "onboarding",
                              "pending",
                              "ready",
                              "resumed",
                              "suspended",
                              "uninstalled"
                            ]
                          },
                          "productId": {
                            "type": "string",
                            "description": "The ID of the product the resource is derived from"
                          },
                          "protocolSettings": {
                            "type": "object",
                            "description": "Any settings provided for the resource to support its product's protocols"
                          },
                          "notification": {
                            "type": "object",
                            "description": "The notification, if set, displayed to the user when viewing the resource in Vercel",
                            "required": ["level", "title"]
                          },
                          "billingPlanId": {
                            "type": "string",
                            "description": "The ID of the billing plan the resource is subscribed to, if applicable"
                          },
                          "metadata": {
                            "type": "object",
                            "description": "The configured metadata for the resource as defined by its product's Metadata Schema"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/resources/{resourceId}": {
      "get": {
        "operationId": "getIntegrationResource",
        "summary": "Get Integration Resource",
        "description": "Get a resource by its partner ID.",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/get-integration-resource",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "description": "The ID of the integration configuration (installation) the resource belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "description": "The ID provided by the 3rd party provider for the given resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id", "internalId", "name", "productId"],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID provided by the 3rd party provider for the given resource"
                    },
                    "internalId": {
                      "type": "string",
                      "description": "The ID assigned by Vercel for the given resource"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the resource as it is recorded in Vercel"
                    },
                    "status": {
                      "type": "string",
                      "description": "The current status of the resource",
                      "enum": [
                        "error",
                        "onboarding",
                        "pending",
                        "ready",
                        "resumed",
                        "suspended",
                        "uninstalled"
                      ]
                    },
                    "productId": {
                      "type": "string",
                      "description": "The ID of the product the resource is derived from"
                    },
                    "protocolSettings": {
                      "type": "object",
                      "description": "Any settings provided for the resource to support its product's protocols",
                      "properties": {
                        "experimentation": {
                          "type": "object",
                          "properties": {
                            "edgeConfigId": {
                              "type": "string"
                            },
                            "globalConfigId": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "notification": {
                      "type": "object",
                      "description": "The notification, if set, displayed to the user when viewing the resource in Vercel",
                      "required": ["level", "title"],
                      "properties": {
                        "level": {
                          "type": "string",
                          "enum": ["error", "info", "warn"]
                        },
                        "title": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "href": {
                          "type": "string"
                        }
                      }
                    },
                    "billingPlanId": {
                      "type": "string",
                      "description": "The ID of the billing plan the resource is subscribed to, if applicable"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "The configured metadata for the resource as defined by its product's Metadata Schema",
                      "additionalProperties": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "array",
                            "description": "The configured metadata for the resource as defined by its product's Metadata Schema"
                          },
                          {
                            "type": "array",
                            "description": "The configured metadata for the resource as defined by its product's Metadata Schema"
                          },
                          {
                            "type": "boolean",
                            "enum": [false, true]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "importResource",
        "summary": "Import Resource",
        "description": "This endpoint imports (upserts) a resource to Vercel's installation. This may be needed if resources can be independently created on the partner's side and need to be synchronized to Vercel. When importing as part of the user-initiated import flow, call this endpoint before redirecting the user back to Vercel. See the [Import existing resources flow](https://vercel.com/docs/integrations/create-integration/marketplace-flows#import-existing-resources-flow) for the full contract.",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/import-resource",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["productId", "name", "status"],
                "properties": {
                  "ownership": {
                    "type": "string",
                    "enum": ["owned", "linked", "sandbox"]
                  },
                  "productId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ready",
                      "pending",
                      "onboarding",
                      "suspended",
                      "resumed",
                      "uninstalled",
                      "error"
                    ]
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "billingPlan": {
                    "type": "object",
                    "required": ["id", "type", "name"],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": ["prepayment", "subscription"]
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "paymentMethodRequired": {
                        "type": "boolean"
                      },
                      "cost": {
                        "type": "string"
                      },
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": ["label"]
                        }
                      },
                      "highlightedDetails": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": ["label"]
                        }
                      },
                      "effectiveDate": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": true
                  },
                  "notification": {
                    "type": "object",
                    "required": ["level", "title"],
                    "properties": {
                      "level": {
                        "type": "string",
                        "enum": ["info", "warn", "error"]
                      },
                      "title": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      },
                      "href": {
                        "type": "string",
                        "format": "uri",
                        "pattern": "^https?://|^sso:"
                      }
                    }
                  },
                  "extras": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "secrets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["name", "value"],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "prefix": {
                          "type": "string"
                        },
                        "environmentOverrides": {
                          "type": "object",
                          "description": "A map of environments to override values for the secret, used for setting different values across deployments in production, preview, and development environments. Note: the same value will be used for all deployments in the given environment."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["name"],
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "422": {
            "description": ""
          },
          "429": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateResource",
        "summary": "Update Resource",
        "description": "This endpoint updates an existing resource in the installation. All parameters are optional, allowing partial updates.",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/update-resource",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ownership": {
                    "type": "string",
                    "enum": ["owned", "linked", "sandbox"]
                  },
                  "name": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ready",
                      "pending",
                      "onboarding",
                      "suspended",
                      "resumed",
                      "uninstalled",
                      "error"
                    ]
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "billingPlan": {
                    "type": "object",
                    "required": ["id", "type", "name"],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": ["prepayment", "subscription"]
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "paymentMethodRequired": {
                        "type": "boolean"
                      },
                      "cost": {
                        "type": "string"
                      },
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": ["label"]
                        }
                      },
                      "highlightedDetails": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": ["label"]
                        }
                      },
                      "effectiveDate": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": true
                  },
                  "notification": {
                    "oneOf": [
                      {
                        "type": "object",
                        "required": ["level", "title"],
                        "properties": {
                          "level": {
                            "type": "string",
                            "enum": ["info", "warn", "error"]
                          },
                          "title": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "href": {
                            "type": "string",
                            "format": "uri",
                            "pattern": "^https?://|^sso:"
                          }
                        }
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "extras": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "secrets": {
                    "oneOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": ["name", "value"]
                        }
                      },
                      {
                        "type": "object",
                        "required": ["secrets"],
                        "properties": {
                          "secrets": {
                            "type": "array"
                          },
                          "partial": {
                            "type": "boolean",
                            "description": "If true, will only overwrite the provided secrets instead of replacing all secrets."
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["name"],
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "422": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteIntegrationResource",
        "summary": "Delete Integration Resource",
        "description": "Delete a resource owned by the selected installation ID.",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/delete-integration-resource",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/billing": {
      "post": {
        "operationId": "submitBillingData",
        "summary": "Submit Billing Data",
        "description": "Sends the billing and usage data. The partner should do this at least once a day and ideally once per hour. <br/> Use the `credentials.access_token` we provided in the [Upsert Installation](#upsert-installation) body to authorize this request.",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/submit-billing-data",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["timestamp", "eod", "period", "billing", "usage"],
                "properties": {
                  "timestamp": {
                    "type": "string",
                    "description": "Server time of your integration, used to determine the most recent data for race conditions & updates. Only the latest usage data for a given day, week, and month will be kept.",
                    "format": "date-time"
                  },
                  "eod": {
                    "type": "string",
                    "description": "End of Day, the UTC datetime for when the end of the billing/usage day is in UTC time. This tells us which day the usage data is for, and also allows for your \"end of day\" to be different from UTC 00:00:00. eod must be within the period dates, and cannot be older than 24h earlier from our server's current time.",
                    "format": "date-time"
                  },
                  "period": {
                    "type": "object",
                    "description": "Period for the billing cycle. The period end date cannot be older than 24 hours earlier than our current server's time.",
                    "required": ["start", "end"],
                    "properties": {
                      "start": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "end": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  },
                  "billing": {
                    "description": "Billing data (interim invoicing data).",
                    "oneOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "billingPlanId",
                            "name",
                            "price",
                            "quantity",
                            "units",
                            "total"
                          ]
                        }
                      },
                      {
                        "type": "object",
                        "required": ["items"],
                        "properties": {
                          "items": {
                            "type": "array"
                          },
                          "discounts": {
                            "type": "array"
                          }
                        }
                      }
                    ]
                  },
                  "usage": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "type",
                        "units",
                        "dayValue",
                        "periodValue"
                      ],
                      "properties": {
                        "resourceId": {
                          "type": "string",
                          "description": "Partner's resource ID."
                        },
                        "name": {
                          "type": "string",
                          "description": "Metric name."
                        },
                        "type": {
                          "type": "string",
                          "description": "\n              Type of the metric.\n              - total: measured total value, such as Database size\n              - interval: usage during the period, such as i/o or number of queries.\n              - rate: rate of usage, such as queries per second.\n            ",
                          "enum": ["total", "interval", "rate"]
                        },
                        "units": {
                          "type": "string",
                          "description": "Metric units. Example: \"GB\""
                        },
                        "dayValue": {
                          "type": "number",
                          "description": "Metric value for the day. Could be a final or an interim value for the day."
                        },
                        "periodValue": {
                          "type": "number",
                          "description": "Metric value for the billing period. Could be a final or an interim value for the period."
                        },
                        "planValue": {
                          "type": "number",
                          "description": "The limit value of the metric for a billing period, if a limit is defined by the plan."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/billing/invoices": {
      "post": {
        "operationId": "submitInvoice",
        "summary": "Submit Invoice",
        "description": "This endpoint allows the partner to submit an invoice to Vercel. The invoice is created in Vercel's billing system and sent to the customer. Depending on the type of billing plan, the invoice can be sent at a time of signup, at the start of the billing period, or at the end of the billing period.<br/> <br/> Use the `credentials.access_token` we provided in the [Upsert Installation](#upsert-installation) body to authorize this request. <br/> There are several limitations to the invoice submission:<br/> <br/> 1. A resource can only be billed once per the billing period and the billing plan.<br/> 2. The billing plan used to bill the resource must have been active for this resource during the billing period.<br/> 3. The billing plan used must be a subscription plan.<br/> 4. The interim usage data must be sent hourly for all types of subscriptions. See [Send subscription billing and usage data](#send-subscription-billing-and-usage-data) API on how to send interim billing and usage data.<br/> 5. If provided, `externalId` must be unique for the installation.<br/>",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/submit-invoice",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["invoiceDate", "period", "items"],
                "properties": {
                  "externalId": {
                    "type": "string",
                    "description": "Partner-provided invoice identifier. If provided, it must be unique for this installation."
                  },
                  "invoiceDate": {
                    "type": "string",
                    "description": "Invoice date. Must be within the period's start and end.",
                    "format": "date-time"
                  },
                  "memo": {
                    "type": "string",
                    "description": "Additional memo for the invoice."
                  },
                  "period": {
                    "type": "object",
                    "description": "Subscription period for this billing cycle.",
                    "required": ["start", "end"],
                    "properties": {
                      "start": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "end": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "billingPlanId",
                        "name",
                        "price",
                        "quantity",
                        "units",
                        "total"
                      ],
                      "properties": {
                        "resourceId": {
                          "type": "string",
                          "description": "Partner's resource ID."
                        },
                        "billingPlanId": {
                          "type": "string",
                          "description": "Partner's billing plan ID."
                        },
                        "start": {
                          "type": "string",
                          "description": "Start and end are only needed if different from the period's start/end.",
                          "format": "date-time"
                        },
                        "end": {
                          "type": "string",
                          "description": "Start and end are only needed if different from the period's start/end.",
                          "format": "date-time"
                        },
                        "name": {
                          "type": "string"
                        },
                        "details": {
                          "type": "string"
                        },
                        "price": {
                          "type": "string",
                          "description": "Currency amount as a decimal string.",
                          "pattern": "^[0-9]+(\\.[0-9]+)?$"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "units": {
                          "type": "string"
                        },
                        "total": {
                          "type": "string",
                          "description": "Currency amount as a decimal string.",
                          "pattern": "^[0-9]+(\\.[0-9]+)?$"
                        }
                      }
                    }
                  },
                  "discounts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["billingPlanId", "name", "amount"],
                      "properties": {
                        "resourceId": {
                          "type": "string",
                          "description": "Partner's resource ID."
                        },
                        "billingPlanId": {
                          "type": "string",
                          "description": "Partner's billing plan ID."
                        },
                        "start": {
                          "type": "string",
                          "description": "Start and end are only needed if different from the period's start/end.",
                          "format": "date-time"
                        },
                        "end": {
                          "type": "string",
                          "description": "Start and end are only needed if different from the period's start/end.",
                          "format": "date-time"
                        },
                        "name": {
                          "type": "string"
                        },
                        "details": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string",
                          "description": "Currency amount as a decimal string.",
                          "pattern": "^[0-9]+(\\.[0-9]+)?$"
                        }
                      }
                    }
                  },
                  "final": {
                    "type": "boolean",
                    "description": "Set this to `true` if this is the final invoice for the installation. Can only be set when the installation is pending deletion."
                  },
                  "test": {
                    "type": "object",
                    "description": "Test mode",
                    "properties": {
                      "validate": {
                        "type": "boolean"
                      },
                      "result": {
                        "type": "string",
                        "enum": ["paid", "notpaid", "overdue"]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoiceId": {
                      "type": "string"
                    },
                    "test": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/billing/finalize": {
      "post": {
        "operationId": "finalizeInstallation",
        "summary": "Finalize Installation",
        "description": "This endpoint allows the partner to mark an installation as finalized. This means you will not send any more invoices for the installation. Use this after a customer has requested uninstall and you have sent any remaining invoices. This will allow the uninstall process to proceed immediately after all invoices have been paid. <br/> Use the `credentials.access_token` we provided in the [Upsert Installation](#upsert-installation) body to authorize this request.",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/finalize-installation",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/billing/invoices/{invoiceId}": {
      "get": {
        "operationId": "getInvoice",
        "summary": "Get Invoice",
        "description": "Get Invoice details and status for a given invoice ID.<br/> <br/> See [Billing Events with Webhooks documentation](https://vercel.com/docs/integrations/create-integration/marketplace-api#working-with-billing-events-through-webhooks) on how to receive invoice events. This endpoint is used to retrieve the invoice details.",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/get-invoice",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "created",
                    "invoiceDate",
                    "invoiceId",
                    "items",
                    "period",
                    "state",
                    "total",
                    "updated"
                  ],
                  "properties": {
                    "test": {
                      "type": "boolean",
                      "description": "Whether the invoice is in the testmode (no real transaction created).",
                      "enum": [false, true]
                    },
                    "invoiceId": {
                      "type": "string",
                      "description": "Vercel Marketplace Invoice ID."
                    },
                    "externalId": {
                      "type": "string",
                      "description": "Partner-supplied Invoice ID, if applicable."
                    },
                    "state": {
                      "type": "string",
                      "description": "Invoice state.",
                      "enum": [
                        "draft",
                        "invoiced",
                        "notpaid",
                        "overdue",
                        "paid",
                        "pending",
                        "refund_requested",
                        "refunded",
                        "scheduled"
                      ]
                    },
                    "invoiceNumber": {
                      "type": "string",
                      "description": "User-readable invoice number."
                    },
                    "invoiceDate": {
                      "type": "string",
                      "description": "Invoice date. ISO 8601 timestamp."
                    },
                    "period": {
                      "type": "object",
                      "description": "Subscription period for this billing cycle. ISO 8601 timestamps.",
                      "required": ["end", "start"],
                      "properties": {
                        "start": {
                          "type": "string"
                        },
                        "end": {
                          "type": "string"
                        }
                      }
                    },
                    "paidAt": {
                      "type": "string",
                      "description": "Moment the invoice was paid. ISO 8601 timestamp."
                    },
                    "refundedAt": {
                      "type": "string",
                      "description": "Most recent moment the invoice was refunded. ISO 8601 timestamp."
                    },
                    "memo": {
                      "type": "string",
                      "description": "Additional memo for the invoice."
                    },
                    "items": {
                      "type": "array",
                      "description": "Invoice items.",
                      "items": {
                        "type": "object",
                        "description": "Invoice items.",
                        "required": [
                          "billingPlanId",
                          "name",
                          "price",
                          "quantity",
                          "total",
                          "units"
                        ],
                        "properties": {
                          "billingPlanId": {
                            "type": "string",
                            "description": "Partner's billing plan ID."
                          },
                          "resourceId": {
                            "type": "string",
                            "description": "Partner's resource ID. If not specified, indicates installation-wide item."
                          },
                          "start": {
                            "type": "string",
                            "description": "Start and end are only needed if different from the period's start/end. ISO 8601 timestamp."
                          },
                          "end": {
                            "type": "string",
                            "description": "Start and end are only needed if different from the period's start/end. ISO 8601 timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Invoice item name."
                          },
                          "details": {
                            "type": "string",
                            "description": "Additional item details."
                          },
                          "price": {
                            "type": "string",
                            "description": "Item price. A dollar-based decimal string."
                          },
                          "quantity": {
                            "type": "number",
                            "description": "Item quantity."
                          },
                          "units": {
                            "type": "string",
                            "description": "Units for item's quantity."
                          },
                          "total": {
                            "type": "string",
                            "description": "Item total. A dollar-based decimal string."
                          }
                        }
                      }
                    },
                    "discounts": {
                      "type": "array",
                      "description": "Invoice discounts.",
                      "items": {
                        "type": "object",
                        "description": "Invoice discounts.",
                        "required": ["amount", "billingPlanId", "name"],
                        "properties": {
                          "billingPlanId": {
                            "type": "string",
                            "description": "Partner's billing plan ID."
                          },
                          "resourceId": {
                            "type": "string",
                            "description": "Partner's resource ID. If not specified, indicates installation-wide discount."
                          },
                          "start": {
                            "type": "string",
                            "description": "Start and end are only needed if different from the period's start/end. ISO 8601 timestamp."
                          },
                          "end": {
                            "type": "string",
                            "description": "Start and end are only needed if different from the period's start/end. ISO 8601 timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Discount name."
                          },
                          "details": {
                            "type": "string",
                            "description": "Additional discount details."
                          },
                          "amount": {
                            "type": "string",
                            "description": "Discount amount. A dollar-based decimal string."
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "string",
                      "description": "Invoice total amount. A dollar-based decimal string."
                    },
                    "refundReason": {
                      "type": "string",
                      "description": "The reason for refund. Only applicable for states \"refunded\" or \"refund_request\"."
                    },
                    "refundTotal": {
                      "type": "string",
                      "description": "Refund amount. Only applicable for states \"refunded\" or \"refund_request\". A dollar-based decimal string."
                    },
                    "created": {
                      "type": "string",
                      "description": "System creation date. ISO 8601 timestamp."
                    },
                    "updated": {
                      "type": "string",
                      "description": "System update date. ISO 8601 timestamp."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/billing/invoices/{invoiceId}/actions": {
      "post": {
        "operationId": "invoiceActions",
        "summary": "Invoice Actions",
        "description": "This endpoint allows the partner to request a refund for an invoice to Vercel. The invoice is created using the [Submit Invoice API](#submit-invoice-api).",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/invoice-actions",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": ["action", "reason", "total"],
                    "properties": {
                      "action": {
                        "type": "string",
                        "enum": ["refund"]
                      },
                      "reason": {
                        "type": "string",
                        "description": "Refund reason."
                      },
                      "total": {
                        "type": "string",
                        "description": "The total amount to be refunded. Must be less than or equal to the total amount of the invoice.",
                        "pattern": "^[0-9]+(\\.[0-9]+)?$"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/billing/balance": {
      "post": {
        "operationId": "submitPrepaymentBalances",
        "summary": "Submit Prepayment Balances",
        "description": "Sends the prepayment balances. The partner should do this at least once a day and ideally once per hour. <br/> Use the `credentials.access_token` we provided in the [Upsert Installation](#upsert-installation) body to authorize this request.",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/submit-prepayment-balances",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["timestamp", "balances"],
                "properties": {
                  "timestamp": {
                    "type": "string",
                    "description": "Server time of your integration, used to determine the most recent data for race conditions & updates. Only the latest usage data for a given day, week, and month will be kept.",
                    "format": "date-time"
                  },
                  "balances": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "A credit balance for a particular token type",
                      "required": ["currencyValueInCents"],
                      "properties": {
                        "resourceId": {
                          "type": "string",
                          "description": "Partner's resource ID, exclude if credits are tied to the installation and not an individual resource."
                        },
                        "credit": {
                          "type": "string",
                          "description": "A human-readable description of the credits the user currently has, e.g. \"2,000 Tokens\""
                        },
                        "nameLabel": {
                          "type": "string",
                          "description": "The name of the credits, for display purposes, e.g. \"Tokens\""
                        },
                        "currencyValueInCents": {
                          "type": "number",
                          "description": "The dollar value of the credit balance, in USD and provided in cents, which is used to trigger automatic purchase thresholds."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/resources/{resourceId}/secrets": {
      "put": {
        "operationId": "updateResourceSecrets",
        "summary": "Update Resource Secrets",
        "description": "This endpoint updates the secrets of a resource. If a resource has projects connected, the connected secrets are updated with the new secrets. The old secrets may still be used by existing connected projects because they are not automatically redeployed. Redeployment is a manual action and must be completed by the user. All new project connections will use the new secrets.<br/> <br/> Use cases for this endpoint:<br/> <br/> - Resetting the credentials of a database in the partner. If the user requests the credentials to be updated in the partner’s application, the partner post the new set of secrets to Vercel, the user should redeploy their application and the expire the old credentials.<br/>",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/update-resource-secrets",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["secrets"],
                "properties": {
                  "secrets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["name", "value"],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "prefix": {
                          "type": "string"
                        },
                        "environmentOverrides": {
                          "type": "object",
                          "description": "A map of environments to override values for the secret, used for setting different values across deployments in production, preview, and development environments. Note: the same value will be used for all deployments in the given environment."
                        }
                      }
                    }
                  },
                  "partial": {
                    "type": "boolean",
                    "description": "If true, will only overwrite the provided secrets instead of replacing all secrets."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "422": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/resources/{resourceId}/experimentation/items": {
      "post": {
        "operationId": "createOneOrMultipleExperimentationItems",
        "summary": "Create one or multiple experimentation items",
        "description": "Create one or multiple experimentation items",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/create-one-or-multiple-experimentation-items",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["items"],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["id", "slug", "origin"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "maxLength": 1024
                        },
                        "slug": {
                          "type": "string",
                          "maxLength": 1024
                        },
                        "origin": {
                          "type": "string",
                          "maxLength": 2048
                        },
                        "category": {
                          "type": "string",
                          "enum": ["experiment", "flag"]
                        },
                        "name": {
                          "type": "string",
                          "maxLength": 1024
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 1024
                        },
                        "isArchived": {
                          "type": "boolean"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The items were created"
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/resources/{resourceId}/experimentation/items/{itemId}": {
      "patch": {
        "operationId": "patchAnExistingExperimentationItem",
        "summary": "Patch an existing experimentation item",
        "description": "Patch an existing experimentation item",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/patch-an-existing-experimentation-item",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["slug", "origin"],
                "properties": {
                  "slug": {
                    "type": "string",
                    "maxLength": 1024
                  },
                  "origin": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 1024
                  },
                  "category": {
                    "type": "string",
                    "enum": ["experiment", "flag"]
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1024
                  },
                  "isArchived": {
                    "type": "boolean"
                  },
                  "createdAt": {
                    "type": "number"
                  },
                  "updatedAt": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The item was updated"
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteAnExistingExperimentationItem",
        "summary": "Delete an existing experimentation item",
        "description": "Delete an existing experimentation item",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/delete-an-existing-experimentation-item",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The item was deleted"
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/installations/{integrationConfigurationId}/resources/{resourceId}/experimentation/global-config": {
      "get": {
        "operationId": "getTheDataOfAUserProvidedGlobalConfig",
        "summary": "Get the data of a user-provided Global Config",
        "description": "When the user enabled Global Config syncing, then this endpoint can be used by the partner to fetch the contents of the Global Config.",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/get-the-data-of-a-user-provided-global-config",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Global Config data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["digest", "items", "updatedAt"],
                  "properties": {
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true,
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "object"
                          },
                          {
                            "type": "array"
                          },
                          {
                            "type": "boolean",
                            "enum": [false, true]
                          }
                        ]
                      }
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "digest": {
                      "type": "string"
                    },
                    "purpose": {
                      "type": "string",
                      "enum": ["experimentation", "flags"]
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "pushDataIntoAUserProvidedGlobalConfig",
        "summary": "Push data into a user-provided Global Config",
        "description": "When the user enabled Global Config syncing, then this endpoint can be used by the partner to push their configuration data into the relevant Global Config.",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/push-data-into-a-user-provided-global-config",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The Global Config was updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["digest", "items", "updatedAt"],
                  "properties": {
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true,
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "object"
                          },
                          {
                            "type": "array"
                          },
                          {
                            "type": "boolean",
                            "enum": [false, true]
                          }
                        ]
                      }
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "digest": {
                      "type": "string"
                    },
                    "purpose": {
                      "type": "string",
                      "enum": ["experimentation", "flags"]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "412": {
            "description": ""
          }
        }
      },
      "head": {
        "operationId": "getTheDataOfAUserProvidedGlobalConfig1",
        "summary": "Get the data of a user-provided Global Config",
        "description": "When the user enabled Global Config syncing, then this endpoint can be used by the partner to fetch the contents of the Global Config.",
        "tags": ["marketplace"],
        "x-docs-url": "https://vercel.com/docs/rest-api/marketplace/get-the-data-of-a-user-provided-global-config-1",
        "parameters": [
          {
            "name": "integrationConfigurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Global Config data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["digest", "items", "updatedAt"],
                  "properties": {
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true,
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "object"
                          },
                          {
                            "type": "array"
                          },
                          {
                            "type": "boolean",
                            "enum": [false, true]
                          }
                        ]
                      }
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "digest": {
                      "type": "string"
                    },
                    "purpose": {
                      "type": "string",
                      "enum": ["experimentation", "flags"]
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
