{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel microfrontends",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/microfrontends/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/microfrontends/groups": {
      "get": {
        "operationId": "listMicrofrontendsGroups",
        "summary": "List microfrontends groups",
        "description": "Get the microfrontends group IDs for a team.",
        "tags": ["microfrontends"],
        "x-docs-url": "https://vercel.com/docs/rest-api/microfrontends/list-microfrontends-groups",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/microfrontends/groups/{groupId}/projects": {
      "get": {
        "operationId": "listProjectsInAMicrofrontendsGroup",
        "summary": "List projects in a microfrontends group",
        "description": "Get the microfrontends for a given group ID.",
        "tags": ["microfrontends"],
        "x-docs-url": "https://vercel.com/docs/rest-api/microfrontends/list-projects-in-a-microfrontends-group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["projects"],
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "accountId",
                          "alias",
                          "defaultResourceConfig",
                          "deploymentExpiration",
                          "directoryListing",
                          "id",
                          "name",
                          "nodeVersion",
                          "resourceConfig"
                        ],
                        "properties": {
                          "accountId": {
                            "type": "string"
                          },
                          "creator": {},
                          "alias": {
                            "type": "array"
                          },
                          "analytics": {
                            "type": "object",
                            "required": ["disabledAt", "enabledAt", "id"]
                          },
                          "appliedCve55182Migration": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "speedInsights": {
                            "type": "object",
                            "required": ["id"]
                          },
                          "autoExposeSystemEnvs": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "autoAssignCustomDomains": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "autoAssignCustomDomainsUpdatedBy": {
                            "type": "string"
                          },
                          "buildCommand": {
                            "type": "string",
                            "nullable": true
                          },
                          "commandForIgnoringBuildStep": {
                            "type": "string",
                            "nullable": true
                          },
                          "connectConfigurations": {
                            "type": "array",
                            "nullable": true
                          },
                          "connectConfigurationId": {
                            "type": "string",
                            "nullable": true
                          },
                          "connectBuildsEnabled": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "passiveConnectConfigurationId": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "customerSupportCodeVisibility": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "crons": {
                            "type": "object",
                            "required": [
                              "definitions",
                              "deploymentId",
                              "disabledAt",
                              "enabledAt",
                              "updatedAt"
                            ]
                          },
                          "dataCache": {
                            "type": "object",
                            "required": ["userDisabled"]
                          },
                          "deploymentExpiration": {
                            "type": "object",
                            "description": "Retention policies for deployments. These are enforced at the project level, but we also maintain an instance of this at the team level as a default policy that gets applied to new projects."
                          },
                          "expiration": {},
                          "devCommand": {
                            "type": "string",
                            "nullable": true
                          },
                          "directoryListing": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "installCommand": {
                            "type": "string",
                            "nullable": true
                          },
                          "env": {
                            "type": "array"
                          },
                          "customEnvironments": {
                            "type": "array"
                          },
                          "framework": {
                            "type": "string",
                            "enum": [
                              "actix-web",
                              "angular",
                              "ash",
                              "astro",
                              "axum",
                              "blitzjs",
                              "brunch",
                              "bun",
                              "container",
                              "create-react-app",
                              "django",
                              "docusaurus",
                              "docusaurus-2",
                              "dojo",
                              "eleventy",
                              "elysia",
                              "ember",
                              "eve",
                              "express",
                              "fastapi",
                              "fasthtml",
                              "fastify",
                              "flask",
                              "gatsby",
                              "go",
                              "gridsome",
                              "h3",
                              "hexo",
                              "hono",
                              "hugo",
                              "hydrogen",
                              "ionic-angular",
                              "ionic-react",
                              "jekyll",
                              "koa",
                              "mastra",
                              "middleman",
                              "nestjs",
                              "nextjs",
                              "nitro",
                              "node",
                              "nuxtjs",
                              "parcel",
                              "polymer",
                              "preact",
                              "python",
                              "react-router",
                              "redwoodjs",
                              "remix",
                              "ruby",
                              "rust",
                              "saber",
                              "sanity",
                              "sanity-v2",
                              "sapper",
                              "scully",
                              "services",
                              "solidstart",
                              "solidstart-1",
                              "stencil",
                              "storybook",
                              "svelte",
                              "sveltekit",
                              "sveltekit-1",
                              "tanstack-start",
                              "tanstack-start-lovable",
                              "umijs",
                              "vite",
                              "vitepress",
                              "vue",
                              "vuepress",
                              "xmcp",
                              "zola",
                              null
                            ],
                            "nullable": true
                          },
                          "services": {
                            "type": "array"
                          },
                          "gitForkProtection": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "gitLFS": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "id": {
                            "type": "string"
                          },
                          "ipBuckets": {
                            "type": "array"
                          },
                          "jobs": {
                            "type": "object"
                          },
                          "latestDeployments": {
                            "type": "array"
                          },
                          "link": {},
                          "blobs": {
                            "type": "object"
                          },
                          "microfrontends": {},
                          "name": {
                            "type": "string"
                          },
                          "nodeVersion": {
                            "type": "string",
                            "enum": [
                              "10.x",
                              "12.x",
                              "14.x",
                              "16.x",
                              "18.x",
                              "20.x",
                              "22.x",
                              "24.x",
                              "8.10.x"
                            ]
                          },
                          "optionsAllowlist": {
                            "type": "object",
                            "nullable": true,
                            "required": ["paths"]
                          },
                          "outputDirectory": {
                            "type": "string",
                            "nullable": true
                          },
                          "passwordProtection": {
                            "type": "object",
                            "nullable": true
                          },
                          "passport": {
                            "type": "object",
                            "nullable": true,
                            "required": ["connectorId", "deploymentType"]
                          },
                          "protectionConfig": {
                            "type": "object"
                          },
                          "sandbox": {
                            "type": "object"
                          },
                          "productionDeploymentsFastLane": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "resourceConfig": {
                            "type": "object",
                            "required": ["functionDefaultRegions"]
                          },
                          "rollbackDescription": {
                            "type": "object",
                            "description": "Description of why a project was rolled back, and by whom. Note that lastAliasRequest contains the from/to details of the rollback.",
                            "required": [
                              "createdAt",
                              "description",
                              "userId",
                              "username"
                            ]
                          },
                          "rollingRelease": {
                            "type": "object",
                            "description": "Project-level rolling release configuration that defines how deployments should be gradually rolled out",
                            "nullable": true,
                            "required": ["target"]
                          },
                          "defaultResourceConfig": {
                            "type": "object",
                            "required": ["functionDefaultRegions"]
                          },
                          "rootDirectory": {
                            "type": "string",
                            "nullable": true
                          },
                          "serverlessFunctionZeroConfigFailover": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "skewProtectionBoundaryAt": {
                            "type": "number"
                          },
                          "skewProtectionMaxAge": {
                            "type": "number"
                          },
                          "skewProtectionAllowedDomains": {
                            "type": "array"
                          },
                          "skipGitConnectDuringLink": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "staticIps": {
                            "type": "object",
                            "required": ["builds", "enabled", "regions"]
                          },
                          "sourceFilesOutsideRootDirectory": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "enableAffectedProjectsDeployments": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "enableExternalRewriteCaching": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "ssoProtection": {
                            "type": "object",
                            "nullable": true,
                            "required": ["deploymentType"]
                          },
                          "targets": {
                            "type": "object"
                          },
                          "transferCompletedAt": {
                            "type": "number"
                          },
                          "transferStartedAt": {
                            "type": "number"
                          },
                          "transferToAccountId": {
                            "type": "string"
                          },
                          "transferredFromAccountId": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "live": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "enablePreviewFeedback": {
                            "type": "boolean",
                            "enum": [false, true, null],
                            "nullable": true
                          },
                          "enableProductionFeedback": {
                            "type": "boolean",
                            "enum": [false, true, null],
                            "nullable": true
                          },
                          "permissions": {
                            "type": "object"
                          },
                          "lastRollbackTarget": {
                            "type": "object",
                            "nullable": true
                          },
                          "lastAliasRequest": {
                            "type": "object",
                            "nullable": true,
                            "required": [
                              "fromDeploymentId",
                              "jobStatus",
                              "requestedAt",
                              "toDeploymentId",
                              "type"
                            ]
                          },
                          "protectionBypass": {
                            "type": "object"
                          },
                          "hasActiveBranches": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "trustedIps": {
                            "nullable": true
                          },
                          "trustedSources": {
                            "type": "object",
                            "nullable": true
                          },
                          "gitComments": {
                            "type": "object",
                            "required": ["onCommit", "onPullRequest"]
                          },
                          "gitProviderOptions": {
                            "type": "object",
                            "required": ["createDeployments"]
                          },
                          "paused": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "concurrencyBucketName": {
                            "type": "string"
                          },
                          "webAnalytics": {
                            "type": "object",
                            "required": ["id"]
                          },
                          "security": {
                            "type": "object"
                          },
                          "oidcTokenConfig": {
                            "type": "object"
                          },
                          "deploymentPolicy": {
                            "type": "object",
                            "description": "Project shape. `null` on a rule list clears the project's override for that rule type (fall back to team for every env); omitting is equivalent. Setting `deploymentPolicy` itself to `null` clears every override at once. Kept structurally distinct from {@link TeamDeploymentPolicy} so the two storage locations don't share a type by accident.",
                            "nullable": true
                          },
                          "tier": {
                            "type": "string"
                          },
                          "usageStatus": {
                            "type": "object",
                            "required": ["kind"]
                          },
                          "features": {
                            "type": "object"
                          },
                          "v0": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "v0Created": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "abuse": {
                            "type": "object",
                            "required": ["history", "updatedAt"]
                          },
                          "internalRoutes": {
                            "type": "array"
                          },
                          "hasDeployments": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "dismissedToasts": {
                            "type": "array"
                          },
                          "protectedSourcemaps": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "tracing": {
                            "type": "object"
                          },
                          "avatar": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/microfrontends/{deploymentId}/config": {
      "get": {
        "operationId": "getMicrofrontendsConfigForADeployment",
        "summary": "Get microfrontends config for a deployment",
        "description": "Get the microfrontends config for a deployment.",
        "tags": ["microfrontends"],
        "x-docs-url": "https://vercel.com/docs/rest-api/microfrontends/get-microfrontends-config-for-a-deployment",
        "parameters": [
          {
            "name": "deploymentId",
            "in": "path",
            "description": "The unique deployment identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["config"],
                  "properties": {
                    "config": {
                      "type": "object",
                      "description": "projectIds are added when the config is uploaded to s3 deployment assets.",
                      "nullable": true,
                      "required": ["applications"],
                      "properties": {
                        "$schema": {
                          "type": "string",
                          "description": "See https://openapi.vercel.sh/microfrontends.json."
                        },
                        "version": {
                          "type": "string",
                          "description": "The version of the microfrontends config schema.",
                          "enum": ["1"]
                        },
                        "applications": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "options": {
                          "type": "object",
                          "description": "Optional configuration options for the microfrontend.",
                          "properties": {
                            "disableOverrides": {
                              "type": "boolean",
                              "description": "If you want to disable the overrides for the site. For example, if you are managing rewrites between applications externally, you may wish to disable the overrides on the toolbar as they will have no effect. See https://vercel.com/docs/microfrontends/managing-microfrontends/vercel-toolbar#routing-overrides.",
                              "enum": [false, true]
                            },
                            "localProxyPort": {
                              "type": "number",
                              "description": "The port number used by the local proxy server. The default value is 3024. See https://vercel.com/docs/microfrontends/local-development."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/microfrontends/projects/{projectIdOrName}/production-mfe-config": {
      "get": {
        "operationId": "getMicrofrontendsConfigForAProject",
        "summary": "Get microfrontends config for a project",
        "description": "Get the microfrontends config for a project by ID or name.",
        "tags": ["microfrontends"],
        "x-docs-url": "https://vercel.com/docs/rest-api/microfrontends/get-microfrontends-config-for-a-project",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "description": "The name or ID of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["config"],
                  "properties": {
                    "config": {
                      "type": "object",
                      "description": "projectIds are added when the config is uploaded to s3 deployment assets.",
                      "nullable": true,
                      "required": ["applications"],
                      "properties": {
                        "$schema": {
                          "type": "string",
                          "description": "See https://openapi.vercel.sh/microfrontends.json."
                        },
                        "version": {
                          "type": "string",
                          "description": "The version of the microfrontends config schema.",
                          "enum": ["1"]
                        },
                        "applications": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "options": {
                          "type": "object",
                          "description": "Optional configuration options for the microfrontend.",
                          "properties": {
                            "disableOverrides": {
                              "type": "boolean",
                              "description": "If you want to disable the overrides for the site. For example, if you are managing rewrites between applications externally, you may wish to disable the overrides on the toolbar as they will have no effect. See https://vercel.com/docs/microfrontends/managing-microfrontends/vercel-toolbar#routing-overrides.",
                              "enum": [false, true]
                            },
                            "localProxyPort": {
                              "type": "number",
                              "description": "The port number used by the local proxy server. The default value is 3024. See https://vercel.com/docs/microfrontends/local-development."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/microfrontends/group": {
      "post": {
        "operationId": "createAMicrofrontendsGroupWithApplications",
        "summary": "Create a microfrontends group with applications",
        "description": "Creates a microfrontends group and attaches multiple projects in a single request.",
        "tags": ["microfrontends"],
        "x-docs-url": "https://vercel.com/docs/rest-api/microfrontends/create-a-microfrontends-group-with-applications",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["groupName", "defaultApp", "otherApplications"],
                "properties": {
                  "groupName": {
                    "type": "string",
                    "description": "The name of the microfrontends group that will be used to identify the group"
                  },
                  "defaultApp": {
                    "type": "object",
                    "description": "The default app for the new microfrontend group",
                    "required": ["projectId"],
                    "properties": {
                      "projectId": {
                        "type": "string",
                        "description": "The id of the project that will be used as the default app for the new microfrontend group"
                      },
                      "defaultRoute": {
                        "type": "string",
                        "description": "The default route for the default app of the new microfrontend group"
                      }
                    }
                  },
                  "otherApplications": {
                    "type": "array",
                    "description": "The list of other applications that will be used in the new microfrontend group",
                    "items": {
                      "type": "object",
                      "required": ["projectId"],
                      "properties": {
                        "projectId": {
                          "type": "string",
                          "description": "The id of the project that will be used in the new microfrontend group"
                        },
                        "defaultRoute": {
                          "type": "string",
                          "description": "The default route for the application in the new microfrontend group"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["newMicrofrontendsGroup"],
                  "properties": {
                    "newMicrofrontendsGroup": {
                      "type": "object",
                      "required": [
                        "createdAt",
                        "fallbackEnvironment",
                        "id",
                        "name",
                        "slug",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "fallbackEnvironment": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    }
  }
}
