{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel networking",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/networking/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/connect/networks": {
      "get": {
        "operationId": "listSecureComputeNetworks",
        "summary": "List Secure Compute networks",
        "description": "Allows to list Secure Compute networks.",
        "tags": ["networking"],
        "x-docs-url": "https://vercel.com/docs/rest-api/networking/list-secure-compute-networks",
        "parameters": [
          {
            "name": "includeHostedZones",
            "in": "query",
            "description": "Whether to include Hosted Zones in the response",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includePeeringConnections",
            "in": "query",
            "description": "Whether to include VPC Peering connections in the response",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeProjects",
            "in": "query",
            "description": "Whether to include projects in the response",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The query to use as a filter for returned networks",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "awsAccountId",
                      "awsRegion",
                      "cidr",
                      "createdAt",
                      "id",
                      "name",
                      "status",
                      "teamId"
                    ],
                    "properties": {
                      "awsAccountId": {
                        "type": "string",
                        "description": "The ID of the AWS Account in which the network exists."
                      },
                      "awsAvailabilityZoneIds": {
                        "type": "array",
                        "description": "The IDs of the AWS Availability Zones in which the network exists, if specified during creation.",
                        "items": {
                          "type": "string"
                        }
                      },
                      "awsRegion": {
                        "type": "string",
                        "description": "The AWS Region in which the network exists."
                      },
                      "cidr": {
                        "type": "string",
                        "description": "The CIDR range of the Network."
                      },
                      "createdAt": {
                        "type": "number",
                        "description": "The date at which the Network was created, represented as a UNIX timestamp since EPOCH."
                      },
                      "egressIpAddresses": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "egressCidrBlock": {
                        "type": "string",
                        "description": "The single contiguous CIDR block from which all egress (NAT gateway) IP addresses are allocated. Present only for networks created with the egress CIDR block feature enabled. Customers can allowlist this range instead of individual egress IPs so it keeps working when AZs are added."
                      },
                      "hostedZones": {
                        "type": "object",
                        "description": "Metadata about any AWS Route53 Hosted Zones associated with the Network.",
                        "required": ["count"],
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "The number of AWS Route53 Hosted Zones associated with the Network."
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "description": "The unique identifier of the Network."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the network."
                      },
                      "peeringConnections": {
                        "type": "object",
                        "description": "Metadata about any AWS Route53 Hosted Zones associated with the Network.",
                        "required": ["count"],
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "The number of AWS Route53 Hosted Zones associated with the Network."
                          }
                        }
                      },
                      "projects": {
                        "type": "object",
                        "description": "Metadata about any projects associated with the Network.",
                        "required": ["count", "ids"],
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "ids": {
                            "type": "array"
                          }
                        }
                      },
                      "region": {
                        "type": "string",
                        "description": "The Vercel region in which the Network exists."
                      },
                      "status": {
                        "type": "string",
                        "description": "The status of the Network.",
                        "enum": [
                          "create_in_progress",
                          "delete_in_progress",
                          "error",
                          "ready"
                        ]
                      },
                      "teamId": {
                        "type": "string",
                        "description": "The unique identifier of the Team that owns the Network."
                      },
                      "vpcId": {
                        "type": "string",
                        "description": "The ID of the VPC which hosts the network."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createASecureComputeNetwork",
        "summary": "Create a Secure Compute network",
        "description": "Allows to create a Secure Compute network.",
        "tags": ["networking"],
        "x-docs-url": "https://vercel.com/docs/rest-api/networking/create-a-secure-compute-network",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["cidr", "name", "region"],
                "properties": {
                  "awsAvailabilityZoneIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "An AWS Availability Zone ID to use for the network"
                    }
                  },
                  "cidr": {
                    "type": "string",
                    "description": "The CIDR block of the network"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the network",
                    "maxLength": 255
                  },
                  "region": {
                    "type": "string",
                    "description": "The region where the network will be created"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "awsAccountId",
                    "awsRegion",
                    "cidr",
                    "createdAt",
                    "id",
                    "name",
                    "status",
                    "teamId"
                  ],
                  "properties": {
                    "awsAccountId": {
                      "type": "string",
                      "description": "The ID of the AWS Account in which the network exists."
                    },
                    "awsAvailabilityZoneIds": {
                      "type": "array",
                      "description": "The IDs of the AWS Availability Zones in which the network exists, if specified during creation.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "awsRegion": {
                      "type": "string",
                      "description": "The AWS Region in which the network exists."
                    },
                    "cidr": {
                      "type": "string",
                      "description": "The CIDR range of the Network."
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "The date at which the Network was created, represented as a UNIX timestamp since EPOCH."
                    },
                    "egressIpAddresses": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "egressCidrBlock": {
                      "type": "string",
                      "description": "The single contiguous CIDR block from which all egress (NAT gateway) IP addresses are allocated. Present only for networks created with the egress CIDR block feature enabled. Customers can allowlist this range instead of individual egress IPs so it keeps working when AZs are added."
                    },
                    "hostedZones": {
                      "type": "object",
                      "description": "Metadata about any AWS Route53 Hosted Zones associated with the Network.",
                      "required": ["count"],
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "The number of AWS Route53 Hosted Zones associated with the Network."
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the Network."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the network."
                    },
                    "peeringConnections": {
                      "type": "object",
                      "description": "Metadata about any AWS Route53 Hosted Zones associated with the Network.",
                      "required": ["count"],
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "The number of AWS Route53 Hosted Zones associated with the Network."
                        }
                      }
                    },
                    "projects": {
                      "type": "object",
                      "description": "Metadata about any projects associated with the Network.",
                      "required": ["count", "ids"],
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "region": {
                      "type": "string",
                      "description": "The Vercel region in which the Network exists."
                    },
                    "status": {
                      "type": "string",
                      "description": "The status of the Network.",
                      "enum": [
                        "create_in_progress",
                        "delete_in_progress",
                        "error",
                        "ready"
                      ]
                    },
                    "teamId": {
                      "type": "string",
                      "description": "The unique identifier of the Team that owns the Network."
                    },
                    "vpcId": {
                      "type": "string",
                      "description": "The ID of the VPC which hosts the network."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/connect/networks/{networkId}": {
      "get": {
        "operationId": "readASecureComputeNetwork",
        "summary": "Read a Secure Compute network",
        "description": "Allows to read a Secure Compute network.",
        "tags": ["networking"],
        "x-docs-url": "https://vercel.com/docs/rest-api/networking/read-a-secure-compute-network",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "The unique identifier of the Secure Compute network",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "awsAccountId",
                    "awsRegion",
                    "cidr",
                    "createdAt",
                    "id",
                    "name",
                    "status",
                    "teamId"
                  ],
                  "properties": {
                    "awsAccountId": {
                      "type": "string",
                      "description": "The ID of the AWS Account in which the network exists."
                    },
                    "awsAvailabilityZoneIds": {
                      "type": "array",
                      "description": "The IDs of the AWS Availability Zones in which the network exists, if specified during creation.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "awsRegion": {
                      "type": "string",
                      "description": "The AWS Region in which the network exists."
                    },
                    "cidr": {
                      "type": "string",
                      "description": "The CIDR range of the Network."
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "The date at which the Network was created, represented as a UNIX timestamp since EPOCH."
                    },
                    "egressIpAddresses": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "egressCidrBlock": {
                      "type": "string",
                      "description": "The single contiguous CIDR block from which all egress (NAT gateway) IP addresses are allocated. Present only for networks created with the egress CIDR block feature enabled. Customers can allowlist this range instead of individual egress IPs so it keeps working when AZs are added."
                    },
                    "hostedZones": {
                      "type": "object",
                      "description": "Metadata about any AWS Route53 Hosted Zones associated with the Network.",
                      "required": ["count"],
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "The number of AWS Route53 Hosted Zones associated with the Network."
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the Network."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the network."
                    },
                    "peeringConnections": {
                      "type": "object",
                      "description": "Metadata about any AWS Route53 Hosted Zones associated with the Network.",
                      "required": ["count"],
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "The number of AWS Route53 Hosted Zones associated with the Network."
                        }
                      }
                    },
                    "projects": {
                      "type": "object",
                      "description": "Metadata about any projects associated with the Network.",
                      "required": ["count", "ids"],
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "region": {
                      "type": "string",
                      "description": "The Vercel region in which the Network exists."
                    },
                    "status": {
                      "type": "string",
                      "description": "The status of the Network.",
                      "enum": [
                        "create_in_progress",
                        "delete_in_progress",
                        "error",
                        "ready"
                      ]
                    },
                    "teamId": {
                      "type": "string",
                      "description": "The unique identifier of the Team that owns the Network."
                    },
                    "vpcId": {
                      "type": "string",
                      "description": "The ID of the VPC which hosts the network."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateASecureComputeNetwork",
        "summary": "Update a Secure Compute network",
        "description": "Allows to update a Secure Compute network.",
        "tags": ["networking"],
        "x-docs-url": "https://vercel.com/docs/rest-api/networking/update-a-secure-compute-network",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "The unique identifier of the Secure Compute network",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the Secure Compute network",
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "awsAccountId",
                    "awsRegion",
                    "cidr",
                    "createdAt",
                    "id",
                    "name",
                    "status",
                    "teamId"
                  ],
                  "properties": {
                    "awsAccountId": {
                      "type": "string",
                      "description": "The ID of the AWS Account in which the network exists."
                    },
                    "awsAvailabilityZoneIds": {
                      "type": "array",
                      "description": "The IDs of the AWS Availability Zones in which the network exists, if specified during creation.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "awsRegion": {
                      "type": "string",
                      "description": "The AWS Region in which the network exists."
                    },
                    "cidr": {
                      "type": "string",
                      "description": "The CIDR range of the Network."
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "The date at which the Network was created, represented as a UNIX timestamp since EPOCH."
                    },
                    "egressIpAddresses": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "egressCidrBlock": {
                      "type": "string",
                      "description": "The single contiguous CIDR block from which all egress (NAT gateway) IP addresses are allocated. Present only for networks created with the egress CIDR block feature enabled. Customers can allowlist this range instead of individual egress IPs so it keeps working when AZs are added."
                    },
                    "hostedZones": {
                      "type": "object",
                      "description": "Metadata about any AWS Route53 Hosted Zones associated with the Network.",
                      "required": ["count"],
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "The number of AWS Route53 Hosted Zones associated with the Network."
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the Network."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the network."
                    },
                    "peeringConnections": {
                      "type": "object",
                      "description": "Metadata about any AWS Route53 Hosted Zones associated with the Network.",
                      "required": ["count"],
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "The number of AWS Route53 Hosted Zones associated with the Network."
                        }
                      }
                    },
                    "projects": {
                      "type": "object",
                      "description": "Metadata about any projects associated with the Network.",
                      "required": ["count", "ids"],
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "region": {
                      "type": "string",
                      "description": "The Vercel region in which the Network exists."
                    },
                    "status": {
                      "type": "string",
                      "description": "The status of the Network.",
                      "enum": [
                        "create_in_progress",
                        "delete_in_progress",
                        "error",
                        "ready"
                      ]
                    },
                    "teamId": {
                      "type": "string",
                      "description": "The unique identifier of the Team that owns the Network."
                    },
                    "vpcId": {
                      "type": "string",
                      "description": "The ID of the VPC which hosts the network."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteASecureComputeNetwork",
        "summary": "Delete a Secure Compute network",
        "description": "Allows to delete a Secure Compute network.",
        "tags": ["networking"],
        "x-docs-url": "https://vercel.com/docs/rest-api/networking/delete-a-secure-compute-network",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "The ID of the network to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{idOrName}/shared-connect-links": {
      "patch": {
        "operationId": "configuresStaticIpsForAProject",
        "summary": "Configures Static IPs for a project",
        "description": "Allows configuring Static IPs for a project",
        "tags": ["networking"],
        "x-docs-url": "https://vercel.com/docs/rest-api/networking/configures-static-ips-for-a-project",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "The unique project identifier or the project name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "builds": {
                    "type": "boolean",
                    "description": "Whether to use Static IPs for builds."
                  },
                  "regions": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "The region in which to enable Static IPs.",
                      "maxLength": 4
                    }
                  }
                },
                "anyOf": [
                  {
                    "required": ["builds"]
                  },
                  {
                    "required": ["regions"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "buildsEnabled",
                      "connectConfigurationId",
                      "createdAt",
                      "envId",
                      "passive",
                      "updatedAt"
                    ],
                    "properties": {
                      "envId": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "string",
                            "enum": ["preview", "production"]
                          }
                        ]
                      },
                      "connectConfigurationId": {
                        "type": "string"
                      },
                      "dc": {
                        "type": "string"
                      },
                      "passive": {
                        "type": "boolean",
                        "enum": [false, true]
                      },
                      "buildsEnabled": {
                        "type": "boolean",
                        "enum": [false, true]
                      },
                      "aws": {
                        "type": "object",
                        "required": ["subnetIds"],
                        "properties": {
                          "subnetIds": {
                            "type": "array"
                          },
                          "securityGroupId": {
                            "type": "string"
                          }
                        }
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "updatedAt": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    }
  }
}
