{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel observability",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/observability/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/observability/manage/configuration/projects": {
      "get": {
        "operationId": "listsDisabledObservabilityPlusProjects",
        "summary": "Lists disabled Observability Plus projects",
        "description": "Lists the projects that are currently configured as disabled for Observability Plus on a team.",
        "tags": ["observability"],
        "x-docs-url": "https://vercel.com/docs/rest-api/observability/lists-disabled-observability-plus-projects",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["disabledProjects"],
                  "properties": {
                    "disabledProjects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["disabledAt", "id"],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "disabledAt": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/observability/manage/configuration/projects/{projectIdOrName}": {
      "put": {
        "operationId": "updatesADisabledObservabilityPlusProjectSetting",
        "summary": "Updates a disabled Observability Plus project setting",
        "description": "Updates whether Observability Plus is disabled for a single project.",
        "tags": ["observability"],
        "x-docs-url": "https://vercel.com/docs/rest-api/observability/updates-a-disabled-observability-plus-project-setting",
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "description": "The ID or name of the project to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["disabled"],
                "properties": {
                  "disabled": {
                    "type": "boolean",
                    "description": "Whether Observability Plus should be disabled for the project"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id"],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "disabledAt": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          }
        }
      }
    }
  }
}
