{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel Other",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/other/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/domains/{domain}/records": {
      "put": {
        "operationId": "replacedomainsbydomainrecords",
        "summary": "PUT /domains/{domain}/records",
        "tags": ["Other"],
        "x-docs-url": "https://vercel.com/docs/rest-api/untagged/replacedomainsbydomainrecords",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "The domain name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["recordIds"],
                  "properties": {
                    "recordIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "415": {
            "description": ""
          }
        }
      }
    },
    "/domains/records/{recordId}": {
      "get": {
        "operationId": "getdomainsrecordsbyrecordid",
        "summary": "GET /domains/records/{recordId}",
        "tags": ["Other"],
        "x-docs-url": "https://vercel.com/docs/rest-api/untagged/getdomainsrecordsbyrecordid",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "description": "The unique ID of the DNS record",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "creator",
                    "domain",
                    "id",
                    "name",
                    "recordType",
                    "type",
                    "value"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "A",
                        "AAAA",
                        "ALIAS",
                        "CAA",
                        "CNAME",
                        "HTTPS",
                        "MX",
                        "NS",
                        "SRV",
                        "TXT"
                      ]
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "creator": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "ttl": {
                      "type": "number"
                    },
                    "comment": {
                      "type": "string"
                    },
                    "recordType": {
                      "type": "string",
                      "enum": [
                        "A",
                        "AAAA",
                        "ALIAS",
                        "CAA",
                        "CNAME",
                        "HTTPS",
                        "MX",
                        "NS",
                        "SRV",
                        "TXT"
                      ]
                    },
                    "createdAt": {
                      "type": "number",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/api-keys": {
      "post": {
        "operationId": "createapikeys",
        "summary": "POST /api-keys",
        "tags": ["Other"],
        "x-docs-url": "https://vercel.com/docs/rest-api/untagged/createapikeys",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["purpose"],
                "properties": {
                  "purpose": {
                    "type": "string",
                    "description": "The API key's purpose, which restricts how it can be used."
                  },
                  "projectId": {
                    "type": "string",
                    "description": "An optional project to restrict the API key to."
                  },
                  "name": {
                    "type": "string",
                    "description": "An optional name for the API key."
                  },
                  "expiresAt": {
                    "type": "number",
                    "description": "The API key's expiration, expressed as a UNIX timestamp in milliseconds."
                  },
                  "aiGatewayQuota": {
                    "type": "object",
                    "description": "Optional AI Gateway quota configuration for the API key.",
                    "required": ["limitAmount"],
                    "properties": {
                      "limitAmount": {
                        "type": "number",
                        "description": "The quota limit amount.",
                        "minimum": 1
                      },
                      "includeByokInQuota": {
                        "type": "boolean",
                        "description": "Whether to include BYOK (Bring Your Own Key) usage in the quota.",
                        "default": false
                      },
                      "refreshPeriod": {
                        "type": "string",
                        "description": "How often the quota refreshes.",
                        "enum": ["daily", "weekly", "monthly", "none"],
                        "default": "none"
                      },
                      "alertThresholds": {
                        "type": "array",
                        "description": "Spend percentages (a subset of [50, 75, 100]) at which to send a spend alert.",
                        "items": {
                          "type": "number",
                          "enum": [50, 75, 100]
                        }
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Optional generic metadata for the API key. The accepted shape depends on the key's `purpose` and is validated on creation; for `ai-gateway` keys this accepts `environment`.",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created an API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["apiKeyString", "apiKey"],
                  "properties": {
                    "apiKeyString": {
                      "type": "string",
                      "description": "The API key's actual value. This value is only provided in this response, and can never be retrieved again in the future. Be sure to save it somewhere safe!"
                    },
                    "apiKey": {
                      "type": "object",
                      "description": "Information about the newly created API key.",
                      "required": [
                        "id",
                        "name",
                        "partialKey",
                        "teamId",
                        "purpose",
                        "projectId",
                        "expiresAt",
                        "activeAt",
                        "createdAt",
                        "createdBy",
                        "leakedAt",
                        "leakedUrl",
                        "createdByAppId"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the API key."
                        },
                        "name": {
                          "type": "string",
                          "description": "The human-readable name of the API key."
                        },
                        "partialKey": {
                          "type": "string",
                          "description": "The last few characters of the API key string, for helping identify the API key."
                        },
                        "teamId": {
                          "type": "string",
                          "description": "The ID of the team that the API key grants access to."
                        },
                        "purpose": {
                          "type": "string",
                          "description": "The API key's purpose, i.e. what resources it can be used with."
                        },
                        "projectId": {
                          "type": "string",
                          "description": "The ID of the project that this API key grants access to.\n\nWhen this is unset, the API key grants access to all projects in the team.",
                          "nullable": true
                        },
                        "expiresAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the API key expires.",
                          "nullable": true
                        },
                        "activeAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the API key was most recently used."
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the API key was created."
                        },
                        "createdBy": {
                          "type": "string",
                          "description": "The ID of the user who created the API key."
                        },
                        "leakedAt": {
                          "type": "number",
                          "description": "Timestamp (in milliseconds) of when the API key was marked as leaked.",
                          "nullable": true
                        },
                        "leakedUrl": {
                          "type": "string",
                          "description": "URL where the API key was discovered as leaked.",
                          "nullable": true
                        },
                        "createdByAppId": {
                          "type": "string",
                          "description": "The ID of the app that created the API key, if any",
                          "nullable": true
                        },
                        "quota": {
                          "type": "object",
                          "description": "AI Gateway quota associated with an API key.",
                          "required": [
                            "quotaEntityId",
                            "limitAmount",
                            "currentSpend",
                            "currentByokSpend",
                            "includeByokInQuota",
                            "refreshPeriod",
                            "active",
                            "archived",
                            "createdAt",
                            "updatedAt"
                          ],
                          "properties": {
                            "quotaEntityId": {
                              "type": "string",
                              "description": "The unique identifier for the quota."
                            },
                            "limitAmount": {
                              "type": "number",
                              "description": "The quota limit amount."
                            },
                            "currentSpend": {
                              "type": "number",
                              "description": "The current amount spent against the quota."
                            },
                            "currentByokSpend": {
                              "type": "number",
                              "description": "The current BYOK spend (tracked separately)."
                            },
                            "includeByokInQuota": {
                              "type": "boolean",
                              "description": "Whether BYOK (Bring Your Own Key) spend counts against the quota."
                            },
                            "refreshPeriod": {
                              "description": "How often the quota refreshes."
                            },
                            "active": {
                              "type": "boolean",
                              "description": "Whether the quota is currently active."
                            },
                            "archived": {
                              "type": "boolean",
                              "description": "Whether the quota has been archived."
                            },
                            "alertThresholds": {
                              "type": "array",
                              "description": "Spend percentages (a subset of [50, 75, 100]) at which to send a spend alert. Empty or undefined disables alerts."
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "Timestamp (in milliseconds) of when the quota was created."
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "Timestamp (in milliseconds) of when the quota was last updated."
                            }
                          }
                        },
                        "metadata": {
                          "type": "object",
                          "description": "Generic metadata attached to the API key.\n\nThe accepted shape depends on the key's `purpose` and is validated when the key is created. For `ai-gateway` keys this carries `environment` and `spendAttribution`."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error"],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["code", "message"],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "You do not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error"],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["code", "message"],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error"],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["code", "name", "message", "limit"],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error"],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["code", "message"],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/observability/query": {
      "post": {
        "operationId": "createobservabilityquery",
        "summary": "POST /v2/observability/query",
        "tags": ["Other"],
        "x-docs-url": "https://vercel.com/docs/rest-api/untagged/createobservabilityquery",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["metric", "scope"],
                "properties": {
                  "metric": {
                    "type": "string",
                    "description": "Metric id"
                  },
                  "scope": {
                    "type": "object",
                    "description": "Owner or project scope for the query"
                  },
                  "aggregation": {
                    "type": "string",
                    "description": "Aggregation function to apply. Some aggregations require a dimension: use <agg>/<dimension>, for example unique/visitor_id."
                  },
                  "groupBy": {
                    "type": "array",
                    "description": "Dimensions to group results by. JSON dimensions support nested refs, for example event_data/checkout_step. Nested keys containing characters that OData cannot parse as an identifier, such as '-', spaces, quotes, or '/', must be wrapped in single quotes (escape embedded single quotes by doubling them), for example flags/'enable-comments-view' or event_data/'some property''s/value'.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "filter": {
                    "type": "string",
                    "description": "Filter to apply to the query. JSON dimensions support nested refs, for example event_data/checkout_step eq 'payment'. Nested keys containing characters that OData cannot parse as an identifier, such as '-', spaces, quotes, or '/', must be wrapped in single quotes (escape embedded single quotes by doubling them), for example flags/'enable-comments-view' eq true or event_data/'some property''s/value' eq true."
                  },
                  "limit": {
                    "type": "number",
                    "description": "Maximum number of results"
                  },
                  "orderBy": {
                    "type": "string",
                    "description": "Rollup column to order grouped results by. Use the generated rollup key for the requested metric and aggregation. Defaults to the query engine count rollup."
                  },
                  "orderDirection": {
                    "type": "string",
                    "description": "Direction to order grouped results by. Defaults to desc.",
                    "enum": ["asc", "desc"]
                  },
                  "granularity": {
                    "type": "object",
                    "description": "Time bucket size"
                  },
                  "startTime": {
                    "type": "string",
                    "description": "Start timestamp"
                  },
                  "endTime": {
                    "type": "string",
                    "description": "End timestamp"
                  },
                  "bucketTimezone": {
                    "type": "string",
                    "description": "IANA timezone (e.g. Europe/Paris) used only to align calendar buckets (1d/1mo) to that zone's day/month boundaries. startTime/endTime and all output timestamps are always UTC. No effect on sub-day granularities."
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "408": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v2/observability/schema": {
      "get": {
        "operationId": "getobservabilityschema",
        "summary": "GET /v2/observability/schema",
        "tags": ["Other"],
        "x-docs-url": "https://vercel.com/docs/rest-api/untagged/getobservabilityschema",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["metrics"],
                  "properties": {
                    "metrics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["description", "id"],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v2/observability/schema/{metricId}": {
      "get": {
        "operationId": "getobservabilityschemabymetricid",
        "summary": "GET /v2/observability/schema/{metricId}",
        "tags": ["Other"],
        "x-docs-url": "https://vercel.com/docs/rest-api/untagged/getobservabilityschemabymetricid",
        "parameters": [
          {
            "name": "metricId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "aggregations",
                      "defaultAggregation",
                      "description",
                      "dimensions",
                      "id",
                      "unit"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "dimensions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": ["label", "name"]
                        }
                      },
                      "unit": {
                        "type": "string"
                      },
                      "aggregations": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "defaultAggregation": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/speed-insights/toggle": {
      "post": {
        "operationId": "createspeedinsightstoggle",
        "summary": "POST /speed-insights/toggle",
        "tags": ["Other"],
        "x-docs-url": "https://vercel.com/docs/rest-api/untagged/createspeedinsightstoggle",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["value"],
                "properties": {
                  "value": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["value"],
                  "properties": {
                    "value": {
                      "type": "boolean",
                      "enum": [false, true]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/web/insights/toggle": {
      "post": {
        "operationId": "createwebinsightstoggle",
        "summary": "POST /web/insights/toggle",
        "tags": ["Other"],
        "x-docs-url": "https://vercel.com/docs/rest-api/untagged/createwebinsightstoggle",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["value"],
                "properties": {
                  "value": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["value"],
                  "properties": {
                    "value": {
                      "type": "boolean",
                      "enum": [false, true]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
