{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel project-routes",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/project_routes/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/projects/{projectId}/routes": {
      "get": {
        "operationId": "getProjectRoutingRules",
        "summary": "Get project routing rules",
        "description": "Get the routing rules for a project. Supports searching by name/ID/pattern, filtering by route type, and diffing staged changes against production.",
        "tags": ["project-routes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/project-routes/get-project-routing-rules",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["rewrite", "redirect", "set_status", "transform"]
            }
          },
          {
            "name": "diff",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object"
                    },
                    {
                      "type": "object",
                      "required": ["diffCount", "routes", "version"],
                      "properties": {
                        "routes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "A routing rule with metadata for project-level routing.",
                            "required": ["id", "name", "route"]
                          }
                        },
                        "version": {
                          "type": "object",
                          "description": "A version of routing rules stored in S3.",
                          "required": [
                            "createdBy",
                            "id",
                            "lastModified",
                            "s3Key"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Unique identifier for the version."
                            },
                            "s3Key": {
                              "type": "string",
                              "description": "The S3 key where the routing rules are stored."
                            },
                            "lastModified": {
                              "type": "number",
                              "description": "Timestamp of when this version was last modified."
                            },
                            "createdBy": {
                              "type": "string",
                              "description": "The user who created this version."
                            },
                            "isStaging": {
                              "type": "boolean",
                              "description": "Whether this version is staged and not yet promoted to production.",
                              "enum": [false, true]
                            },
                            "isLive": {
                              "type": "boolean",
                              "description": "Whether this version is currently live in production.",
                              "enum": [false, true]
                            },
                            "ruleCount": {
                              "type": "number",
                              "description": "The number of routing rules in this version."
                            },
                            "alias": {
                              "type": "string",
                              "description": "The staging alias for previewing this version."
                            }
                          }
                        },
                        "diffCount": {
                          "type": "number"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["routes", "version"],
                      "properties": {
                        "routes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "A routing rule with metadata for project-level routing.",
                            "required": ["id", "name", "route"]
                          }
                        },
                        "version": {
                          "type": "object",
                          "description": "A version of routing rules stored in S3.",
                          "required": [
                            "createdBy",
                            "id",
                            "lastModified",
                            "s3Key"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Unique identifier for the version."
                            },
                            "s3Key": {
                              "type": "string",
                              "description": "The S3 key where the routing rules are stored."
                            },
                            "lastModified": {
                              "type": "number",
                              "description": "Timestamp of when this version was last modified."
                            },
                            "createdBy": {
                              "type": "string",
                              "description": "The user who created this version."
                            },
                            "isStaging": {
                              "type": "boolean",
                              "description": "Whether this version is staged and not yet promoted to production.",
                              "enum": [false, true]
                            },
                            "isLive": {
                              "type": "boolean",
                              "description": "Whether this version is currently live in production.",
                              "enum": [false, true]
                            },
                            "ruleCount": {
                              "type": "number",
                              "description": "The number of routing rules in this version."
                            },
                            "alias": {
                              "type": "string",
                              "description": "The staging alias for previewing this version."
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["limit", "routes", "version"],
                      "properties": {
                        "routes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "A routing rule with metadata for project-level routing.",
                            "required": ["id", "name", "route"]
                          }
                        },
                        "version": {
                          "type": "object",
                          "description": "A version of routing rules stored in S3.",
                          "required": [
                            "createdBy",
                            "id",
                            "lastModified",
                            "s3Key"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Unique identifier for the version."
                            },
                            "s3Key": {
                              "type": "string",
                              "description": "The S3 key where the routing rules are stored."
                            },
                            "lastModified": {
                              "type": "number",
                              "description": "Timestamp of when this version was last modified."
                            },
                            "createdBy": {
                              "type": "string",
                              "description": "The user who created this version."
                            },
                            "isStaging": {
                              "type": "boolean",
                              "description": "Whether this version is staged and not yet promoted to production.",
                              "enum": [false, true]
                            },
                            "isLive": {
                              "type": "boolean",
                              "description": "Whether this version is currently live in production.",
                              "enum": [false, true]
                            },
                            "ruleCount": {
                              "type": "number",
                              "description": "The number of routing rules in this version."
                            },
                            "alias": {
                              "type": "string",
                              "description": "The staging alias for previewing this version."
                            }
                          }
                        },
                        "limit": {
                          "type": "object",
                          "required": ["currentRoutes", "maxRoutes"],
                          "properties": {
                            "maxRoutes": {
                              "type": "number"
                            },
                            "currentRoutes": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "addARoutingRule",
        "summary": "Add a routing rule",
        "description": "Add a single routing rule to a project at a specified position. Defaults to the end of the list if no position is provided. The route is enabled by default. Stages a new version with the added route.",
        "tags": ["project-routes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/project-routes/add-a-routing-rule",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["route"],
                "properties": {
                  "route": {
                    "type": "object",
                    "required": ["name", "route"],
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 256
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 1024
                      },
                      "enabled": {
                        "type": "boolean"
                      },
                      "srcSyntax": {
                        "type": "string",
                        "description": "Pattern syntax type. If not provided, inferred from pattern.",
                        "enum": ["equals", "path-to-regexp", "regex"]
                      },
                      "route": {
                        "type": "object",
                        "required": ["src"],
                        "properties": {
                          "src": {
                            "type": "string"
                          },
                          "dest": {
                            "type": "string"
                          },
                          "headers": {
                            "type": "object"
                          },
                          "caseSensitive": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "integer"
                          },
                          "has": {
                            "type": "array"
                          },
                          "missing": {
                            "type": "array"
                          },
                          "transforms": {
                            "type": "array"
                          },
                          "respectOriginCacheControl": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "position": {
                    "type": "object",
                    "description": "Controls where the route is inserted. Defaults to \"end\" if omitted.",
                    "properties": {
                      "placement": {
                        "type": "string",
                        "description": "\"after\"/\"before\" require referenceId.",
                        "enum": ["start", "end", "after", "before"]
                      },
                      "referenceId": {
                        "type": "string",
                        "description": "Route ID to insert after/before. Required for \"after\"/\"before\"."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["route", "version"],
                  "properties": {
                    "route": {
                      "type": "object",
                      "required": ["id", "name", "route"],
                      "properties": {
                        "routeType": {
                          "type": "string",
                          "enum": [
                            "redirect",
                            "rewrite",
                            "set_status",
                            "transform"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the routing rule."
                        },
                        "name": {
                          "type": "string",
                          "description": "Human-readable name for the routing rule."
                        },
                        "description": {
                          "type": "string",
                          "description": "Optional description of what the routing rule does."
                        },
                        "enabled": {
                          "type": "boolean",
                          "description": "Whether the routing rule is enabled. Defaults to true.",
                          "enum": [false, true]
                        },
                        "staged": {
                          "type": "boolean",
                          "description": "Whether this route is new and not yet published to production. Set to true only when a route is first created via add-route. Cleared (set to false) when a version is promoted to production.",
                          "enum": [false, true]
                        },
                        "route": {
                          "type": "object",
                          "description": "The route definition from @vercel/routing-utils.",
                          "required": ["src"],
                          "properties": {
                            "src": {
                              "type": "string"
                            },
                            "dest": {
                              "type": "string"
                            },
                            "headers": {
                              "type": "object"
                            },
                            "methods": {
                              "type": "array"
                            },
                            "continue": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "override": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "caseSensitive": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "check": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "important": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "status": {
                              "type": "number"
                            },
                            "has": {
                              "type": "array"
                            },
                            "missing": {
                              "type": "array"
                            },
                            "mitigate": {
                              "type": "object",
                              "required": ["action"]
                            },
                            "transforms": {
                              "type": "array"
                            },
                            "env": {
                              "type": "array"
                            },
                            "locale": {
                              "type": "object"
                            },
                            "source": {
                              "type": "string",
                              "description": "Aliases for `src`, `dest`, and `status`. These provide consistency with the `rewrites`, `redirects`, and `headers` fields which use `source`, `destination`, and `statusCode`. During normalization, the string forms are converted to their canonical forms (`src`, `dest`, `status`) and stripped from the route object. `destination` may also be a service-targeted object, in which case routing is delegated into the named service's internal route table and the object is preserved as-is (not folded into `dest`)."
                            },
                            "destination": {},
                            "statusCode": {
                              "type": "number"
                            },
                            "middlewarePath": {
                              "type": "string",
                              "description": "A middleware key within the `output` key under the build result. Overrides a `middleware` definition."
                            },
                            "middlewareRawSrc": {
                              "type": "array",
                              "description": "The original middleware matchers."
                            },
                            "middleware": {
                              "type": "number",
                              "description": "A middleware index in the `middleware` key under the build result"
                            },
                            "respectOriginCacheControl": {
                              "type": "boolean",
                              "enum": [false, true]
                            }
                          }
                        },
                        "rawSrc": {
                          "type": "string",
                          "description": "Original source pattern provided by user (path-to-regexp or regex). Used to display the user's input in API responses."
                        },
                        "rawDest": {
                          "type": "string",
                          "description": "Original destination provided by user."
                        },
                        "srcSyntax": {
                          "type": "string",
                          "description": "The syntax type of the source pattern. Determines how the pattern is compiled to regex.",
                          "enum": ["equals", "path-to-regexp", "regex"]
                        }
                      }
                    },
                    "version": {
                      "type": "object",
                      "description": "A version of routing rules stored in S3.",
                      "required": ["createdBy", "id", "lastModified", "s3Key"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the version."
                        },
                        "s3Key": {
                          "type": "string",
                          "description": "The S3 key where the routing rules are stored."
                        },
                        "lastModified": {
                          "type": "number",
                          "description": "Timestamp of when this version was last modified."
                        },
                        "createdBy": {
                          "type": "string",
                          "description": "The user who created this version."
                        },
                        "isStaging": {
                          "type": "boolean",
                          "description": "Whether this version is staged and not yet promoted to production.",
                          "enum": [false, true]
                        },
                        "isLive": {
                          "type": "boolean",
                          "description": "Whether this version is currently live in production.",
                          "enum": [false, true]
                        },
                        "ruleCount": {
                          "type": "number",
                          "description": "The number of routing rules in this version."
                        },
                        "alias": {
                          "type": "string",
                          "description": "The staging alias for previewing this version."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "stageRoutingRules",
        "summary": "Stage routing rules",
        "description": "Stage routing rules for a project. Set `overwrite` to true to replace all existing rules, or omit it to merge with existing rules by ID. Returns the new staged version.",
        "tags": ["project-routes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/project-routes/stage-routing-rules",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "overwrite": {
                    "type": "boolean"
                  },
                  "routes": {
                    "type": "array",
                    "default": [],
                    "items": {
                      "type": "object",
                      "required": ["id", "name", "route"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "maxLength": 256
                        },
                        "name": {
                          "type": "string",
                          "maxLength": 256
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 1024
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "route": {
                          "type": "object",
                          "required": ["src"]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["version"],
                  "properties": {
                    "version": {
                      "type": "object",
                      "description": "A version of routing rules stored in S3.",
                      "required": ["createdBy", "id", "lastModified", "s3Key"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the version."
                        },
                        "s3Key": {
                          "type": "string",
                          "description": "The S3 key where the routing rules are stored."
                        },
                        "lastModified": {
                          "type": "number",
                          "description": "Timestamp of when this version was last modified."
                        },
                        "createdBy": {
                          "type": "string",
                          "description": "The user who created this version."
                        },
                        "isStaging": {
                          "type": "boolean",
                          "description": "Whether this version is staged and not yet promoted to production.",
                          "enum": [false, true]
                        },
                        "isLive": {
                          "type": "boolean",
                          "description": "Whether this version is currently live in production.",
                          "enum": [false, true]
                        },
                        "ruleCount": {
                          "type": "number",
                          "description": "The number of routing rules in this version."
                        },
                        "alias": {
                          "type": "string",
                          "description": "The staging alias for previewing this version."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteRoutingRules",
        "summary": "Delete routing rules",
        "description": "Delete one or more routing rules from a project by ID. Stages a new version with the routes removed.",
        "tags": ["project-routes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/project-routes/delete-routing-rules",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["routeIds"],
                "properties": {
                  "routeIds": {
                    "type": "array",
                    "description": "The IDs of the routes to delete",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["deletedCount", "version"],
                  "properties": {
                    "deletedCount": {
                      "type": "number"
                    },
                    "version": {
                      "type": "object",
                      "description": "A version of routing rules stored in S3.",
                      "required": ["createdBy", "id", "lastModified", "s3Key"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the version."
                        },
                        "s3Key": {
                          "type": "string",
                          "description": "The S3 key where the routing rules are stored."
                        },
                        "lastModified": {
                          "type": "number",
                          "description": "Timestamp of when this version was last modified."
                        },
                        "createdBy": {
                          "type": "string",
                          "description": "The user who created this version."
                        },
                        "isStaging": {
                          "type": "boolean",
                          "description": "Whether this version is staged and not yet promoted to production.",
                          "enum": [false, true]
                        },
                        "isLive": {
                          "type": "boolean",
                          "description": "Whether this version is currently live in production.",
                          "enum": [false, true]
                        },
                        "ruleCount": {
                          "type": "number",
                          "description": "The number of routing rules in this version."
                        },
                        "alias": {
                          "type": "string",
                          "description": "The staging alias for previewing this version."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{projectId}/routes/{routeId}": {
      "patch": {
        "operationId": "editARoutingRule",
        "summary": "Edit a routing rule",
        "description": "Replace a routing rule identified by its ID, or restore it from the current production version. Stages a new version with the modified route.",
        "tags": ["project-routes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/project-routes/edit-a-routing-rule",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "routeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "route": {
                    "type": "object",
                    "description": "The full route object to replace the existing route with",
                    "required": ["name", "route"],
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 256
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 1024
                      },
                      "enabled": {
                        "type": "boolean"
                      },
                      "srcSyntax": {
                        "type": "string",
                        "description": "Pattern syntax type. If not provided, inferred from pattern.",
                        "enum": ["equals", "path-to-regexp", "regex"]
                      },
                      "route": {
                        "type": "object",
                        "required": ["src"],
                        "properties": {
                          "src": {
                            "type": "string"
                          },
                          "dest": {
                            "type": "string"
                          },
                          "headers": {
                            "type": "object"
                          },
                          "caseSensitive": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "integer"
                          },
                          "has": {
                            "type": "array"
                          },
                          "missing": {
                            "type": "array"
                          },
                          "transforms": {
                            "type": "array"
                          },
                          "respectOriginCacheControl": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "restore": {
                    "type": "boolean",
                    "description": "If true, restores the staged route to the value in the production version."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["version"],
                  "properties": {
                    "route": {
                      "type": "object",
                      "required": ["id", "name", "route"],
                      "properties": {
                        "routeType": {
                          "type": "string",
                          "enum": [
                            "redirect",
                            "rewrite",
                            "set_status",
                            "transform"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the routing rule."
                        },
                        "name": {
                          "type": "string",
                          "description": "Human-readable name for the routing rule."
                        },
                        "description": {
                          "type": "string",
                          "description": "Optional description of what the routing rule does."
                        },
                        "enabled": {
                          "type": "boolean",
                          "description": "Whether the routing rule is enabled. Defaults to true.",
                          "enum": [false, true]
                        },
                        "staged": {
                          "type": "boolean",
                          "description": "Whether this route is new and not yet published to production. Set to true only when a route is first created via add-route. Cleared (set to false) when a version is promoted to production.",
                          "enum": [false, true]
                        },
                        "route": {
                          "type": "object",
                          "description": "The route definition from @vercel/routing-utils.",
                          "required": ["src"],
                          "properties": {
                            "src": {
                              "type": "string"
                            },
                            "dest": {
                              "type": "string"
                            },
                            "headers": {
                              "type": "object"
                            },
                            "methods": {
                              "type": "array"
                            },
                            "continue": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "override": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "caseSensitive": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "check": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "important": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "status": {
                              "type": "number"
                            },
                            "has": {
                              "type": "array"
                            },
                            "missing": {
                              "type": "array"
                            },
                            "mitigate": {
                              "type": "object",
                              "required": ["action"]
                            },
                            "transforms": {
                              "type": "array"
                            },
                            "env": {
                              "type": "array"
                            },
                            "locale": {
                              "type": "object"
                            },
                            "source": {
                              "type": "string",
                              "description": "Aliases for `src`, `dest`, and `status`. These provide consistency with the `rewrites`, `redirects`, and `headers` fields which use `source`, `destination`, and `statusCode`. During normalization, the string forms are converted to their canonical forms (`src`, `dest`, `status`) and stripped from the route object. `destination` may also be a service-targeted object, in which case routing is delegated into the named service's internal route table and the object is preserved as-is (not folded into `dest`)."
                            },
                            "destination": {},
                            "statusCode": {
                              "type": "number"
                            },
                            "middlewarePath": {
                              "type": "string",
                              "description": "A middleware key within the `output` key under the build result. Overrides a `middleware` definition."
                            },
                            "middlewareRawSrc": {
                              "type": "array",
                              "description": "The original middleware matchers."
                            },
                            "middleware": {
                              "type": "number",
                              "description": "A middleware index in the `middleware` key under the build result"
                            },
                            "respectOriginCacheControl": {
                              "type": "boolean",
                              "enum": [false, true]
                            }
                          }
                        },
                        "rawSrc": {
                          "type": "string",
                          "description": "Original source pattern provided by user (path-to-regexp or regex). Used to display the user's input in API responses."
                        },
                        "rawDest": {
                          "type": "string",
                          "description": "Original destination provided by user."
                        },
                        "srcSyntax": {
                          "type": "string",
                          "description": "The syntax type of the source pattern. Determines how the pattern is compiled to regex.",
                          "enum": ["equals", "path-to-regexp", "regex"]
                        }
                      }
                    },
                    "version": {
                      "type": "object",
                      "description": "A version of routing rules stored in S3.",
                      "required": ["createdBy", "id", "lastModified", "s3Key"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the version."
                        },
                        "s3Key": {
                          "type": "string",
                          "description": "The S3 key where the routing rules are stored."
                        },
                        "lastModified": {
                          "type": "number",
                          "description": "Timestamp of when this version was last modified."
                        },
                        "createdBy": {
                          "type": "string",
                          "description": "The user who created this version."
                        },
                        "isStaging": {
                          "type": "boolean",
                          "description": "Whether this version is staged and not yet promoted to production.",
                          "enum": [false, true]
                        },
                        "isLive": {
                          "type": "boolean",
                          "description": "Whether this version is currently live in production.",
                          "enum": [false, true]
                        },
                        "ruleCount": {
                          "type": "number",
                          "description": "The number of routing rules in this version."
                        },
                        "alias": {
                          "type": "string",
                          "description": "The staging alias for previewing this version."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{projectId}/routes/generate": {
      "post": {
        "operationId": "generateARoutingRuleFromNaturalLanguage",
        "summary": "Generate a routing rule from natural language",
        "description": "Generate a routing rule configuration from a natural language description. Returns a suggested route configuration that can be reviewed and saved.",
        "tags": ["project-routes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/project-routes/generate-a-routing-rule-from-natural-language",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "maxLength": 2000
                  },
                  "currentRoute": {
                    "type": "object",
                    "required": ["pathCondition", "actions"],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "pathCondition": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "syntax": {
                            "type": "string"
                          }
                        }
                      },
                      "conditions": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "route": {
                      "type": "object",
                      "required": [
                        "actions",
                        "description",
                        "name",
                        "pathCondition"
                      ],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "pathCondition": {
                          "type": "object",
                          "required": ["syntax", "value"],
                          "properties": {
                            "value": {
                              "type": "string"
                            },
                            "syntax": {
                              "type": "string",
                              "enum": ["equals", "path-to-regexp", "regex"]
                            }
                          }
                        },
                        "conditions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["field", "missing", "operator"]
                          }
                        },
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["type"]
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "408": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{projectId}/routes/versions": {
      "get": {
        "operationId": "getRoutingRuleVersionHistory",
        "summary": "Get routing rule version history",
        "description": "Get the version history for a project's routing rules. Returns the staging version (if one exists) followed by production versions, most recent first. The staging version has `isStaging: true` and the current production version has `isLive: true`.",
        "tags": ["project-routes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/project-routes/get-routing-rule-version-history",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["versions"],
                  "properties": {
                    "versions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "A version of routing rules stored in S3.",
                        "required": [
                          "createdBy",
                          "id",
                          "lastModified",
                          "s3Key"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the version."
                          },
                          "s3Key": {
                            "type": "string",
                            "description": "The S3 key where the routing rules are stored."
                          },
                          "lastModified": {
                            "type": "number",
                            "description": "Timestamp of when this version was last modified."
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "The user who created this version."
                          },
                          "isStaging": {
                            "type": "boolean",
                            "description": "Whether this version is staged and not yet promoted to production.",
                            "enum": [false, true]
                          },
                          "isLive": {
                            "type": "boolean",
                            "description": "Whether this version is currently live in production.",
                            "enum": [false, true]
                          },
                          "ruleCount": {
                            "type": "number",
                            "description": "The number of routing rules in this version."
                          },
                          "alias": {
                            "type": "string",
                            "description": "The staging alias for previewing this version."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "promoteRestoreOrDiscardARoutingRuleVersion",
        "summary": "Promote, restore, or discard a routing rule version",
        "description": "Promote staged routing rules to production, restore a previous production version, or discard staged changes. - `promote`: Publishes the staging version to production. - `restore`: Rolls back to a previous production version. - `discard`: Removes the staging version without publishing.",
        "tags": ["project-routes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/project-routes/promote-restore-or-discard-a-routing-rule-version",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "action"],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "action": {
                    "type": "string",
                    "enum": ["promote", "restore", "discard"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["version"],
                  "properties": {
                    "version": {
                      "type": "object",
                      "description": "A version of routing rules stored in S3.",
                      "required": ["createdBy", "id", "lastModified", "s3Key"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the version."
                        },
                        "s3Key": {
                          "type": "string",
                          "description": "The S3 key where the routing rules are stored."
                        },
                        "lastModified": {
                          "type": "number",
                          "description": "Timestamp of when this version was last modified."
                        },
                        "createdBy": {
                          "type": "string",
                          "description": "The user who created this version."
                        },
                        "isStaging": {
                          "type": "boolean",
                          "description": "Whether this version is staged and not yet promoted to production.",
                          "enum": [false, true]
                        },
                        "isLive": {
                          "type": "boolean",
                          "description": "Whether this version is currently live in production.",
                          "enum": [false, true]
                        },
                        "ruleCount": {
                          "type": "number",
                          "description": "The number of routing rules in this version."
                        },
                        "alias": {
                          "type": "string",
                          "description": "The staging alias for previewing this version."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    }
  }
}
