{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel projects",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/projects/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v10/projects": {
      "get": {
        "operationId": "retrieveAListOfProjects",
        "summary": "Retrieve a list of projects",
        "description": "Allows to retrieve the list of projects of the authenticated user or team. The list will be paginated and the provided query parameters allow filtering the returned projects.",
        "tags": ["projects"],
        "x-docs-url": "https://vercel.com/docs/rest-api/projects/retrieve-a-list-of-projects",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Query only projects updated after the given timestamp or continuation token.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gitForkProtection",
            "in": "query",
            "description": "Specifies whether PRs from Git forks should require a team member's authorization before it can be deployed",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1", "0"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of projects returned",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search projects by the name field",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "repo",
            "in": "query",
            "description": "Filter results by repo. Also used for project count",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoId",
            "in": "query",
            "description": "Filter results by Repository ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoUrl",
            "in": "query",
            "description": "Filter results by Repository URL.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeRepos",
            "in": "query",
            "description": "Filter results by excluding those projects that belong to a repo",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edgeConfigId",
            "in": "query",
            "description": "Filter results by connected Edge Config ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edgeConfigTokenId",
            "in": "query",
            "description": "Filter results by connected Edge Config Token ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deprecated",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "elasticConcurrencyEnabled",
            "in": "query",
            "description": "Filter results by projects with elastic concurrency enabled",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1", "0"]
            }
          },
          {
            "name": "staticIpsEnabled",
            "in": "query",
            "description": "Filter results by projects with Static IPs enabled",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"]
            }
          },
          {
            "name": "buildMachineTypes",
            "in": "query",
            "description": "Filter results by effective build machine types. Accepts comma-separated values. Use \"elastic\" for projects with elastic selection and \"default\" for projects without a build machine type set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildQueueConfiguration",
            "in": "query",
            "description": "Filter results by build queue configuration. SKIP_NAMESPACE_QUEUE includes projects without a configuration set.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["SKIP_NAMESPACE_QUEUE", "WAIT_FOR_NAMESPACE_QUEUE"]
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "accountId",
                          "alias",
                          "deploymentExpiration",
                          "directoryListing",
                          "id",
                          "name",
                          "nodeVersion",
                          "resourceConfig",
                          "serverlessFunctionRegion"
                        ],
                        "properties": {
                          "accountId": {
                            "type": "string"
                          },
                          "creator": {},
                          "alias": {
                            "type": "array"
                          },
                          "analytics": {
                            "type": "object",
                            "required": ["disabledAt", "enabledAt", "id"]
                          },
                          "appliedCve55182Migration": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "autoExposeSystemEnvs": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "autoAssignCustomDomains": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "autoAssignCustomDomainsUpdatedBy": {
                            "type": "string"
                          },
                          "buildCommand": {
                            "type": "string",
                            "nullable": true
                          },
                          "commandForIgnoringBuildStep": {
                            "type": "string",
                            "nullable": true
                          },
                          "customerSupportCodeVisibility": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "devCommand": {
                            "type": "string",
                            "nullable": true
                          },
                          "directoryListing": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "deploymentExpiration": {
                            "type": "object",
                            "description": "Retention policies for deployments. These are enforced at the project level, but we also maintain an instance of this at the team level as a default policy that gets applied to new projects."
                          },
                          "installCommand": {
                            "type": "string",
                            "nullable": true
                          },
                          "ipBuckets": {
                            "type": "array"
                          },
                          "env": {
                            "type": "array"
                          },
                          "framework": {
                            "type": "string",
                            "enum": [
                              "actix-web",
                              "angular",
                              "ash",
                              "astro",
                              "axum",
                              "blitzjs",
                              "brunch",
                              "bun",
                              "container",
                              "create-react-app",
                              "django",
                              "docusaurus",
                              "docusaurus-2",
                              "dojo",
                              "eleventy",
                              "elysia",
                              "ember",
                              "eve",
                              "express",
                              "fastapi",
                              "fasthtml",
                              "fastify",
                              "flask",
                              "gatsby",
                              "go",
                              "gridsome",
                              "h3",
                              "hexo",
                              "hono",
                              "hugo",
                              "hydrogen",
                              "ionic-angular",
                              "ionic-react",
                              "jekyll",
                              "koa",
                              "mastra",
                              "middleman",
                              "nestjs",
                              "nextjs",
                              "nitro",
                              "node",
                              "nuxtjs",
                              "parcel",
                              "polymer",
                              "preact",
                              "python",
                              "react-router",
                              "redwoodjs",
                              "remix",
                              "ruby",
                              "rust",
                              "saber",
                              "sanity",
                              "sanity-v2",
                              "sapper",
                              "scully",
                              "services",
                              "solidstart",
                              "solidstart-1",
                              "stencil",
                              "storybook",
                              "svelte",
                              "sveltekit",
                              "sveltekit-1",
                              "tanstack-start",
                              "tanstack-start-lovable",
                              "umijs",
                              "vite",
                              "vitepress",
                              "vue",
                              "vuepress",
                              "xmcp",
                              "zola",
                              null
                            ],
                            "nullable": true
                          },
                          "gitForkProtection": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "id": {
                            "type": "string"
                          },
                          "latestDeployments": {
                            "type": "array"
                          },
                          "link": {},
                          "name": {
                            "type": "string"
                          },
                          "nodeVersion": {
                            "type": "string",
                            "enum": [
                              "10.x",
                              "12.x",
                              "14.x",
                              "16.x",
                              "18.x",
                              "20.x",
                              "22.x",
                              "24.x",
                              "8.10.x"
                            ]
                          },
                          "outputDirectory": {
                            "type": "string",
                            "nullable": true
                          },
                          "passwordProtection": {
                            "type": "object",
                            "nullable": true
                          },
                          "passport": {
                            "type": "object",
                            "nullable": true,
                            "required": ["connectorId", "deploymentType"]
                          },
                          "resourceConfig": {
                            "type": "object",
                            "required": ["functionDefaultRegions"]
                          },
                          "rollingRelease": {
                            "type": "object",
                            "description": "Project-level rolling release configuration that defines how deployments should be gradually rolled out",
                            "nullable": true,
                            "required": ["target"]
                          },
                          "rootDirectory": {
                            "type": "string",
                            "nullable": true
                          },
                          "serverlessFunctionRegion": {
                            "type": "string"
                          },
                          "serverlessFunctionZeroConfigFailover": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "speedInsights": {
                            "type": "object",
                            "required": ["id"]
                          },
                          "skipGitConnectDuringLink": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "sourceFilesOutsideRootDirectory": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "ssoProtection": {
                            "type": "object",
                            "nullable": true,
                            "required": ["deploymentType"]
                          },
                          "targets": {
                            "type": "object"
                          },
                          "transferCompletedAt": {
                            "type": "number"
                          },
                          "transferStartedAt": {
                            "type": "number"
                          },
                          "transferToAccountId": {
                            "type": "string"
                          },
                          "transferredFromAccountId": {
                            "type": "string"
                          },
                          "trustedSources": {
                            "type": "object",
                            "nullable": true
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "live": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "hasActiveBranches": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "gitComments": {
                            "type": "object",
                            "required": ["onCommit", "onPullRequest"]
                          },
                          "gitProviderOptions": {
                            "type": "object",
                            "required": ["createDeployments"]
                          },
                          "paused": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "webAnalytics": {
                            "type": "object",
                            "required": ["id"]
                          },
                          "security": {
                            "type": "object"
                          },
                          "oidcTokenConfig": {
                            "type": "object"
                          },
                          "tier": {
                            "type": "string"
                          },
                          "abuse": {
                            "type": "object",
                            "required": ["history", "updatedAt"]
                          },
                          "internalRoutes": {
                            "type": "array"
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["pagination", "projects"],
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "accountId",
                              "alias",
                              "deploymentExpiration",
                              "directoryListing",
                              "id",
                              "name",
                              "nodeVersion",
                              "resourceConfig",
                              "serverlessFunctionRegion"
                            ]
                          }
                        },
                        "pagination": {
                          "oneOf": [
                            {
                              "type": "object",
                              "description": "This object contains information related to the pagination of the current request using continuation tokens. Since CosmosDB doesn't support going to previous pages, only count and next are provided.",
                              "required": ["count", "next"]
                            },
                            {
                              "type": "object",
                              "description": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data.",
                              "required": ["count", "next", "prev"]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["pagination", "projects"],
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "accountId",
                              "alias",
                              "defaultResourceConfig",
                              "deploymentExpiration",
                              "directoryListing",
                              "id",
                              "name",
                              "nodeVersion",
                              "resourceConfig"
                            ]
                          }
                        },
                        "pagination": {
                          "oneOf": [
                            {
                              "type": "object",
                              "description": "This object contains information related to the pagination of the current request using continuation tokens. Since CosmosDB doesn't support going to previous pages, only count and next are provided.",
                              "required": ["count", "next"]
                            },
                            {
                              "type": "object",
                              "description": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data.",
                              "required": ["count", "next", "prev"]
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/traces": {
      "get": {
        "operationId": "getAProjectTraceByRequestId",
        "summary": "Get a project trace by request ID",
        "description": "Returns the OTEL trace for a given Vercel CLI request.",
        "tags": ["projects"],
        "x-docs-url": "https://vercel.com/docs/rest-api/projects/get-a-project-trace-by-request-id",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 150
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "The Vercel CLI request ID associated with the trace",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["trace"],
                  "properties": {
                    "trace": {
                      "type": "object",
                      "required": ["spans", "traceId"],
                      "properties": {
                        "traceId": {
                          "type": "string"
                        },
                        "resources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["attributes", "name"]
                          }
                        },
                        "spans": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "attributes",
                              "duration",
                              "endTime",
                              "events",
                              "kind",
                              "library",
                              "links",
                              "name",
                              "resource",
                              "spanId",
                              "startTime",
                              "status",
                              "traceFlags"
                            ]
                          }
                        },
                        "rootSpanId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v11/projects": {
      "post": {
        "operationId": "createANewProject",
        "summary": "Create a new project",
        "description": "Allows to create a new project with the provided configuration. It only requires the project `name` but more configuration can be provided to override the defaults.",
        "tags": ["projects"],
        "x-docs-url": "https://vercel.com/docs/rest-api/projects/create-a-new-project",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "enablePreviewFeedback": {
                    "type": "boolean",
                    "description": "Opt-in to preview toolbar on the project level",
                    "nullable": true
                  },
                  "enableProductionFeedback": {
                    "type": "boolean",
                    "description": "Opt-in to production toolbar on the project level",
                    "nullable": true
                  },
                  "previewDeploymentsDisabled": {
                    "type": "boolean",
                    "description": "Specifies whether preview deployments are disabled for this project.",
                    "nullable": true
                  },
                  "previewDeploymentSuffix": {
                    "type": "string",
                    "description": "Custom domain suffix for preview deployments. Takes precedence over team-level suffix. Must be a domain owned by the team.",
                    "maxLength": 253,
                    "nullable": true
                  },
                  "buildCommand": {
                    "type": "string",
                    "description": "The build command for this project. When `null` is used this value will be automatically detected",
                    "maxLength": 256,
                    "nullable": true
                  },
                  "commandForIgnoringBuildStep": {
                    "type": "string",
                    "maxLength": 256,
                    "nullable": true
                  },
                  "devCommand": {
                    "type": "string",
                    "description": "The dev command for this project. When `null` is used this value will be automatically detected",
                    "maxLength": 256,
                    "nullable": true
                  },
                  "environmentVariables": {
                    "type": "array",
                    "description": "Collection of ENV Variables the Project will use",
                    "items": {
                      "type": "object",
                      "required": ["key", "value", "target"],
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "Name of the ENV variable"
                        },
                        "target": {
                          "description": "Deployment Target or Targets in which the ENV variable will be used"
                        },
                        "gitBranch": {
                          "type": "string",
                          "description": "If defined, the git branch of the environment variable (must have target=preview)",
                          "maxLength": 250
                        },
                        "type": {
                          "type": "string",
                          "description": "Type of the ENV variable",
                          "enum": ["system", "encrypted", "plain", "sensitive"]
                        },
                        "value": {
                          "type": "string",
                          "description": "Value for the ENV variable"
                        }
                      }
                    }
                  },
                  "framework": {
                    "description": "The framework that is being used for this project. When `null` is used no framework is selected",
                    "enum": [
                      null,
                      "container",
                      "blitzjs",
                      "nextjs",
                      "gatsby",
                      "remix",
                      "react-router",
                      "astro",
                      "hexo",
                      "eleventy",
                      "docusaurus-2",
                      "docusaurus",
                      "preact",
                      "solidstart-1",
                      "solidstart",
                      "dojo",
                      "ember",
                      "vue",
                      "scully",
                      "ionic-angular",
                      "angular",
                      "polymer",
                      "svelte",
                      "sveltekit",
                      "sveltekit-1",
                      "ionic-react",
                      "create-react-app",
                      "gridsome",
                      "umijs",
                      "sapper",
                      "saber",
                      "stencil",
                      "nuxtjs",
                      "redwoodjs",
                      "hugo",
                      "jekyll",
                      "brunch",
                      "middleman",
                      "zola",
                      "hydrogen",
                      "vite",
                      "tanstack-start",
                      "tanstack-start-lovable",
                      "vitepress",
                      "vuepress",
                      "parcel",
                      "fastapi",
                      "flask",
                      "fasthtml",
                      "django",
                      "ash",
                      "eve",
                      "sanity",
                      "sanity-v2",
                      "storybook",
                      "nitro",
                      "hono",
                      "express",
                      "h3",
                      "koa",
                      "nestjs",
                      "elysia",
                      "fastify",
                      "xmcp",
                      "python",
                      "ruby",
                      "rust",
                      "axum",
                      "actix-web",
                      "bun",
                      "node",
                      "go",
                      "services",
                      "mastra"
                    ]
                  },
                  "gitRepository": {
                    "type": "object",
                    "description": "The Git Repository that will be connected to the project. When this is defined, any pushes to the specified connected Git Repository will be automatically deployed",
                    "required": ["type", "repo"],
                    "properties": {
                      "repo": {
                        "type": "string",
                        "description": "The name of the git repository. For example: \\\"vercel/next.js\\\""
                      },
                      "type": {
                        "description": "The Git Provider of the repository",
                        "enum": [
                          "github",
                          "github-limited",
                          "gitlab",
                          "bitbucket",
                          "vercel",
                          "cursor-origin"
                        ]
                      }
                    }
                  },
                  "installCommand": {
                    "type": "string",
                    "description": "The install command for this project. When `null` is used this value will be automatically detected",
                    "maxLength": 256,
                    "nullable": true
                  },
                  "name": {
                    "type": "string",
                    "description": "The desired name for the project",
                    "maxLength": 100
                  },
                  "skipGitConnectDuringLink": {
                    "type": "boolean",
                    "description": "Opts-out of the message prompting a CLI user to connect a Git repository in `vercel link`."
                  },
                  "ssoProtection": {
                    "type": "object",
                    "description": "The Vercel Auth setting for the project (historically named \\\"SSO Protection\\\")",
                    "nullable": true,
                    "required": ["deploymentType"],
                    "properties": {
                      "deploymentType": {
                        "type": "string",
                        "enum": [
                          "all",
                          "preview",
                          "prod_deployment_urls_and_all_previews",
                          "all_except_custom_domains"
                        ]
                      }
                    }
                  },
                  "outputDirectory": {
                    "type": "string",
                    "description": "The output directory of the project. When `null` is used this value will be automatically detected",
                    "maxLength": 256,
                    "nullable": true
                  },
                  "publicSource": {
                    "type": "boolean",
                    "description": "Deprecated. Accepted for backwards compatibility but ignored.",
                    "nullable": true
                  },
                  "rootDirectory": {
                    "type": "string",
                    "description": "The name of a directory or relative path to the source code of your project. When `null` is used it will default to the project root",
                    "maxLength": 256,
                    "nullable": true
                  },
                  "serverlessFunctionRegion": {
                    "type": "string",
                    "description": "The region to deploy Serverless Functions in this project",
                    "maxLength": 4,
                    "nullable": true
                  },
                  "serverlessFunctionZeroConfigFailover": {
                    "description": "Specifies whether Zero Config Failover is enabled for this project.",
                    "oneOf": [
                      {
                        "type": "boolean"
                      }
                    ]
                  },
                  "oidcTokenConfig": {
                    "type": "object",
                    "description": "OpenID Connect JSON Web Token generation configuration.",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Whether or not to generate OpenID Connect JSON Web Tokens.",
                        "default": true
                      },
                      "issuerMode": {
                        "type": "string",
                        "description": "team: `https://oidc.vercel.com/[team_slug]` global: `https://oidc.vercel.com`",
                        "enum": ["team", "global"],
                        "default": "team"
                      }
                    }
                  },
                  "enableAffectedProjectsDeployments": {
                    "type": "boolean",
                    "description": "Opt-in to skip deployments when there are no changes to the root directory and its dependencies"
                  },
                  "resourceConfig": {
                    "type": "object",
                    "description": "Specifies resource override configuration for the project",
                    "properties": {
                      "buildMachineType": {
                        "enum": [
                          "basic",
                          "enhanced",
                          "turbo",
                          "standard",
                          "elastic"
                        ]
                      },
                      "fluid": {
                        "type": "boolean"
                      },
                      "functionDefaultRegions": {
                        "type": "array",
                        "description": "The regions to deploy Vercel Functions to for this project",
                        "items": {
                          "type": "string",
                          "maxLength": 4
                        }
                      },
                      "functionDefaultTimeout": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 900
                      },
                      "functionDefaultMemoryType": {
                        "enum": [
                          "standard_legacy",
                          "standard",
                          "performance",
                          "performance_xl"
                        ]
                      },
                      "functionZeroConfigFailover": {
                        "description": "Specifies whether Zero Config Failover is enabled for this project.",
                        "oneOf": [
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "elasticConcurrencyEnabled": {
                        "type": "boolean"
                      },
                      "buildMachineSelection": {
                        "enum": ["elastic", "fixed"]
                      },
                      "buildMachineElasticLastUpdated": {
                        "type": "number"
                      },
                      "buildMachineElasticReason": {
                        "enum": [
                          "oom-failure",
                          "enospc-failure",
                          "build-timeout-failure",
                          "basic-floor",
                          "high-peak-memory",
                          "sustained-high-cpu",
                          "high-peak-disk",
                          "long-build-duration",
                          "short-build-duration",
                          "enterprise-floor"
                        ]
                      },
                      "isNSNBDisabled": {
                        "type": "boolean"
                      },
                      "buildQueue": {
                        "type": "object",
                        "properties": {
                          "configuration": {
                            "type": "string",
                            "enum": [
                              "SKIP_NAMESPACE_QUEUE",
                              "WAIT_FOR_NAMESPACE_QUEUE"
                            ]
                          }
                        }
                      },
                      "enableFunctionsBeta": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The project was successfuly created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accountId",
                    "alias",
                    "defaultResourceConfig",
                    "deploymentExpiration",
                    "directoryListing",
                    "id",
                    "name",
                    "nodeVersion",
                    "resourceConfig"
                  ],
                  "properties": {
                    "accountId": {
                      "type": "string"
                    },
                    "creator": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": ["type", "user", "via"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["user"]
                            },
                            "via": {
                              "nullable": true
                            },
                            "user": {
                              "type": "object",
                              "required": ["id"]
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["app", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["app"]
                            },
                            "app": {
                              "type": "object",
                              "required": ["id"]
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["integration", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["integration"]
                            },
                            "integration": {
                              "type": "object",
                              "required": ["configurationId", "integrationId"]
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["system"]
                            }
                          }
                        }
                      ]
                    },
                    "alias": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "deployment",
                          "domain",
                          "environment",
                          "target"
                        ],
                        "properties": {
                          "configuredBy": {
                            "type": "string",
                            "enum": ["A", "CNAME", "dns-01", "http", null],
                            "nullable": true
                          },
                          "configuredChangedAt": {
                            "type": "number",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "number",
                            "nullable": true
                          },
                          "deployment": {
                            "type": "object",
                            "nullable": true,
                            "required": [
                              "createdAt",
                              "createdIn",
                              "creator",
                              "deploymentHostname",
                              "id",
                              "name",
                              "plan",
                              "private",
                              "readyState",
                              "type",
                              "url",
                              "userId"
                            ]
                          },
                          "domain": {
                            "type": "string"
                          },
                          "environment": {
                            "type": "string",
                            "enum": ["preview", "production"]
                          },
                          "gitBranch": {
                            "type": "string",
                            "nullable": true
                          },
                          "redirect": {
                            "type": "string",
                            "nullable": true
                          },
                          "redirectStatusCode": {
                            "type": "number",
                            "enum": [301, 302, 307, 308, null],
                            "nullable": true
                          },
                          "target": {
                            "type": "string",
                            "enum": ["PREVIEW", "PRODUCTION", "STAGING"]
                          }
                        }
                      }
                    },
                    "analytics": {
                      "type": "object",
                      "required": ["disabledAt", "enabledAt", "id"],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "canceledAt": {
                          "type": "number",
                          "nullable": true
                        },
                        "disabledAt": {
                          "type": "number"
                        },
                        "enabledAt": {
                          "type": "number"
                        },
                        "paidAt": {
                          "type": "number"
                        },
                        "sampleRatePercent": {
                          "type": "number",
                          "nullable": true
                        },
                        "spendLimitInDollars": {
                          "type": "number",
                          "nullable": true
                        }
                      }
                    },
                    "appliedCve55182Migration": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "speedInsights": {
                      "type": "object",
                      "required": ["id"],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "enabledAt": {
                          "type": "number"
                        },
                        "disabledAt": {
                          "type": "number"
                        },
                        "canceledAt": {
                          "type": "number"
                        },
                        "hasData": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "paidAt": {
                          "type": "number"
                        }
                      }
                    },
                    "autoExposeSystemEnvs": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "autoAssignCustomDomains": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "autoAssignCustomDomainsUpdatedBy": {
                      "type": "string"
                    },
                    "buildCommand": {
                      "type": "string",
                      "nullable": true
                    },
                    "commandForIgnoringBuildStep": {
                      "type": "string",
                      "nullable": true
                    },
                    "connectConfigurations": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "required": [
                          "buildsEnabled",
                          "connectConfigurationId",
                          "createdAt",
                          "envId",
                          "passive",
                          "updatedAt"
                        ],
                        "properties": {
                          "envId": {},
                          "connectConfigurationId": {
                            "type": "string"
                          },
                          "dc": {
                            "type": "string"
                          },
                          "passive": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "buildsEnabled": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "aws": {
                            "type": "object",
                            "required": ["subnetIds"]
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "connectConfigurationId": {
                      "type": "string",
                      "nullable": true
                    },
                    "connectBuildsEnabled": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "passiveConnectConfigurationId": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "customerSupportCodeVisibility": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "crons": {
                      "type": "object",
                      "required": [
                        "definitions",
                        "deploymentId",
                        "disabledAt",
                        "enabledAt",
                        "updatedAt"
                      ],
                      "properties": {
                        "enabledAt": {
                          "type": "number",
                          "description": "The time the feature was enabled for this project. Note: It enables automatically with the first Deployment that outputs cronjobs."
                        },
                        "disabledAt": {
                          "type": "number",
                          "description": "The time the feature was disabled for this project.",
                          "nullable": true
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "deploymentId": {
                          "type": "string",
                          "description": "The ID of the Deployment from which the definitions originated.",
                          "nullable": true
                        },
                        "definitions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["host", "path", "schedule"]
                          }
                        }
                      }
                    },
                    "dataCache": {
                      "type": "object",
                      "required": ["userDisabled"],
                      "properties": {
                        "userDisabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "storageSizeBytes": {
                          "type": "number",
                          "nullable": true
                        },
                        "unlimited": {
                          "type": "boolean",
                          "enum": [false, true]
                        }
                      }
                    },
                    "deploymentExpiration": {
                      "type": "object",
                      "description": "Retention policies for deployments. These are enforced at the project level, but we also maintain an instance of this at the team level as a default policy that gets applied to new projects.",
                      "properties": {
                        "expirationDays": {
                          "type": "number",
                          "description": "Number of days to keep non-production deployments (mostly preview deployments) before soft deletion."
                        },
                        "expirationDaysProduction": {
                          "type": "number",
                          "description": "Number of days to keep production deployments before soft deletion."
                        },
                        "expirationDaysCanceled": {
                          "type": "number",
                          "description": "Number of days to keep canceled deployments before soft deletion."
                        },
                        "expirationDaysErrored": {
                          "type": "number",
                          "description": "Number of days to keep errored deployments before soft deletion."
                        },
                        "deploymentsToKeep": {
                          "type": "number",
                          "description": "Minimum number of production deployments to keep for this project, even if they are over the production expiration limit."
                        }
                      }
                    },
                    "expiration": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": ["expiresAt"],
                          "properties": {
                            "expiresAt": {
                              "type": "number",
                              "description": "Unix ms timestamp when the project is scheduled to expire."
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["lockedAt", "lockedBy"],
                          "properties": {
                            "lockedAt": {
                              "type": "number",
                              "description": "Unix ms timestamp when the project was locked."
                            },
                            "lockedBy": {
                              "type": "string",
                              "description": "userId of the actor that triggered the lock (system or admin)."
                            }
                          }
                        }
                      ]
                    },
                    "devCommand": {
                      "type": "string",
                      "nullable": true
                    },
                    "directoryListing": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "installCommand": {
                      "type": "string",
                      "nullable": true
                    },
                    "env": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["key", "type", "value"],
                        "properties": {
                          "target": {},
                          "type": {
                            "type": "string",
                            "enum": [
                              "encrypted",
                              "plain",
                              "secret",
                              "sensitive",
                              "system"
                            ]
                          },
                          "sunsetSecretId": {
                            "type": "string",
                            "description": "This is used to identify variables that have been migrated from type secret to sensitive."
                          },
                          "legacyValue": {
                            "type": "string",
                            "description": "Legacy now-encryption ciphertext, present after migration swaps value/vsmValue"
                          },
                          "decrypted": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "value": {
                            "type": "string"
                          },
                          "vsmValue": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "key": {
                            "type": "string"
                          },
                          "configurationId": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "createdBy": {
                            "type": "string",
                            "nullable": true
                          },
                          "updatedBy": {
                            "type": "string",
                            "nullable": true
                          },
                          "gitBranch": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string",
                            "description": "User-facing config/secret model. When set, authoritative for new code paths when the env-var-config-secret-ui flag is enabled. Legacy rows omit this field; legacy rows omit it and callers fall back to existing `type` behavior.",
                            "enum": ["config", "secret"]
                          },
                          "edgeConfigId": {
                            "type": "string",
                            "nullable": true
                          },
                          "edgeConfigTokenId": {
                            "type": "string",
                            "nullable": true
                          },
                          "contentHint": {
                            "nullable": true
                          },
                          "internalContentHint": {
                            "type": "object",
                            "description": "Similar to `contentHints`, but should not be exposed to the user.",
                            "nullable": true,
                            "required": ["encryptedValue", "type"]
                          },
                          "comment": {
                            "type": "string"
                          },
                          "customEnvironmentIds": {
                            "type": "array"
                          }
                        }
                      }
                    },
                    "customEnvironments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Internal representation of a custom environment with all required properties",
                        "required": [
                          "createdAt",
                          "id",
                          "slug",
                          "type",
                          "updatedAt"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the custom environment (format: env_*)"
                          },
                          "slug": {
                            "type": "string",
                            "description": "URL-friendly name of the environment"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of environment (production, preview, or development)",
                            "enum": ["development", "preview", "production"]
                          },
                          "description": {
                            "type": "string",
                            "description": "Optional description of the environment's purpose"
                          },
                          "branchMatcher": {
                            "type": "object",
                            "description": "Configuration for matching git branches to this environment",
                            "required": ["pattern", "type"]
                          },
                          "domains": {
                            "type": "array",
                            "description": "List of domains associated with this environment"
                          },
                          "currentDeploymentAliases": {
                            "type": "array",
                            "description": "List of aliases for the current deployment"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Timestamp when the environment was created"
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Timestamp when the environment was last updated"
                          }
                        }
                      }
                    },
                    "framework": {
                      "type": "string",
                      "enum": [
                        "actix-web",
                        "angular",
                        "ash",
                        "astro",
                        "axum",
                        "blitzjs",
                        "brunch",
                        "bun",
                        "container",
                        "create-react-app",
                        "django",
                        "docusaurus",
                        "docusaurus-2",
                        "dojo",
                        "eleventy",
                        "elysia",
                        "ember",
                        "eve",
                        "express",
                        "fastapi",
                        "fasthtml",
                        "fastify",
                        "flask",
                        "gatsby",
                        "go",
                        "gridsome",
                        "h3",
                        "hexo",
                        "hono",
                        "hugo",
                        "hydrogen",
                        "ionic-angular",
                        "ionic-react",
                        "jekyll",
                        "koa",
                        "mastra",
                        "middleman",
                        "nestjs",
                        "nextjs",
                        "nitro",
                        "node",
                        "nuxtjs",
                        "parcel",
                        "polymer",
                        "preact",
                        "python",
                        "react-router",
                        "redwoodjs",
                        "remix",
                        "ruby",
                        "rust",
                        "saber",
                        "sanity",
                        "sanity-v2",
                        "sapper",
                        "scully",
                        "services",
                        "solidstart",
                        "solidstart-1",
                        "stencil",
                        "storybook",
                        "svelte",
                        "sveltekit",
                        "sveltekit-1",
                        "tanstack-start",
                        "tanstack-start-lovable",
                        "umijs",
                        "vite",
                        "vitepress",
                        "vue",
                        "vuepress",
                        "xmcp",
                        "zola",
                        null
                      ],
                      "nullable": true
                    },
                    "services": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["serviceName"],
                        "properties": {
                          "serviceName": {
                            "type": "string",
                            "description": "Service name from the deployment (Service.name)."
                          },
                          "serviceType": {
                            "type": "string",
                            "description": "Service kind (Service.type). Omitted for schemas that do not define one.",
                            "enum": ["cron", "job", "web", "worker"]
                          },
                          "framework": {
                            "type": "string",
                            "description": "Framework slug, when the service has one (omitted otherwise).",
                            "enum": [
                              "actix-web",
                              "angular",
                              "ash",
                              "astro",
                              "axum",
                              "blitzjs",
                              "brunch",
                              "bun",
                              "container",
                              "create-react-app",
                              "django",
                              "docusaurus",
                              "docusaurus-2",
                              "dojo",
                              "eleventy",
                              "elysia",
                              "ember",
                              "eve",
                              "express",
                              "fastapi",
                              "fasthtml",
                              "fastify",
                              "flask",
                              "gatsby",
                              "go",
                              "gridsome",
                              "h3",
                              "hexo",
                              "hono",
                              "hugo",
                              "hydrogen",
                              "ionic-angular",
                              "ionic-react",
                              "jekyll",
                              "koa",
                              "mastra",
                              "middleman",
                              "nestjs",
                              "nextjs",
                              "nitro",
                              "node",
                              "nuxtjs",
                              "parcel",
                              "polymer",
                              "preact",
                              "python",
                              "react-router",
                              "redwoodjs",
                              "remix",
                              "ruby",
                              "rust",
                              "saber",
                              "sanity",
                              "sanity-v2",
                              "sapper",
                              "scully",
                              "services",
                              "solidstart",
                              "solidstart-1",
                              "stencil",
                              "storybook",
                              "svelte",
                              "sveltekit",
                              "sveltekit-1",
                              "tanstack-start",
                              "tanstack-start-lovable",
                              "umijs",
                              "vite",
                              "vitepress",
                              "vue",
                              "vuepress",
                              "xmcp",
                              "zola"
                            ]
                          },
                          "runtime": {
                            "type": "string",
                            "description": "Generic runtime, e.g. 'node' | 'python' | 'go' | 'ruby' | 'rust' (Service.runtime). Omitted for static builds."
                          }
                        }
                      }
                    },
                    "gitForkProtection": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "gitLFS": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "id": {
                      "type": "string"
                    },
                    "ipBuckets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["bucket"],
                        "properties": {
                          "bucket": {
                            "type": "string"
                          },
                          "default": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "supportUntil": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "jobs": {
                      "type": "object",
                      "properties": {
                        "lint": {
                          "type": "object",
                          "required": ["targets"],
                          "properties": {
                            "targets": {
                              "type": "array"
                            }
                          }
                        },
                        "typecheck": {
                          "type": "object",
                          "required": ["targets"],
                          "properties": {
                            "targets": {
                              "type": "array"
                            }
                          }
                        },
                        "mfe-config-present": {
                          "type": "object",
                          "required": ["targets"],
                          "properties": {
                            "targets": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    },
                    "latestDeployments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "createdAt",
                          "createdIn",
                          "creator",
                          "deploymentHostname",
                          "id",
                          "name",
                          "plan",
                          "private",
                          "readyState",
                          "type",
                          "url",
                          "userId"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "alias": {
                            "type": "array"
                          },
                          "aliasAssigned": {
                            "nullable": true
                          },
                          "aliasError": {
                            "type": "object",
                            "nullable": true,
                            "required": ["code", "message"]
                          },
                          "aliasFinal": {
                            "type": "string",
                            "nullable": true
                          },
                          "automaticAliases": {
                            "type": "array"
                          },
                          "branchMatcher": {
                            "type": "object",
                            "required": ["pattern", "type"]
                          },
                          "buildingAt": {
                            "type": "number"
                          },
                          "builds": {
                            "type": "array"
                          },
                          "checksConclusion": {
                            "type": "string",
                            "enum": [
                              "canceled",
                              "failed",
                              "skipped",
                              "succeeded"
                            ]
                          },
                          "checksState": {
                            "type": "string",
                            "enum": ["completed", "registered", "running"]
                          },
                          "connectBuildsEnabled": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "connectConfigurationId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "createdIn": {
                            "type": "string"
                          },
                          "creator": {
                            "type": "object",
                            "nullable": true,
                            "required": ["email", "uid", "username"]
                          },
                          "deletedAt": {
                            "type": "number"
                          },
                          "deploymentHostname": {
                            "type": "string"
                          },
                          "forced": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "name": {
                            "type": "string"
                          },
                          "meta": {
                            "type": "object"
                          },
                          "monorepoManager": {
                            "type": "string",
                            "nullable": true
                          },
                          "oidcTokenClaims": {
                            "type": "object",
                            "required": [
                              "aud",
                              "environment",
                              "iss",
                              "owner",
                              "owner_id",
                              "project",
                              "project_id",
                              "scope",
                              "sub"
                            ]
                          },
                          "plan": {
                            "type": "string",
                            "enum": ["enterprise", "hobby", "pro"]
                          },
                          "previewCommentsEnabled": {
                            "type": "boolean",
                            "description": "Whether or not preview comments are enabled for the deployment",
                            "enum": [false, true]
                          },
                          "private": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "readyAt": {
                            "type": "number"
                          },
                          "readyState": {
                            "type": "string",
                            "enum": [
                              "BLOCKED",
                              "BUILDING",
                              "CANCELED",
                              "ERROR",
                              "INITIALIZING",
                              "QUEUED",
                              "READY"
                            ]
                          },
                          "readySubstate": {
                            "type": "string",
                            "enum": ["PROMOTED", "ROLLING", "STAGED"]
                          },
                          "requestedAt": {
                            "type": "number"
                          },
                          "target": {
                            "type": "string",
                            "nullable": true
                          },
                          "teamId": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "enum": ["LAMBDAS"]
                          },
                          "url": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "withCache": {
                            "type": "boolean",
                            "enum": [false, true]
                          }
                        }
                      }
                    },
                    "link": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": [
                            "deployHooks",
                            "gitCredentialId",
                            "org",
                            "productionBranch",
                            "type"
                          ],
                          "properties": {
                            "org": {
                              "type": "string"
                            },
                            "repoOwnerId": {
                              "type": "number",
                              "description": "A new field, should be included in all new project links, is being added just in time when a deployment is created. This is needed for Protected Git scopes."
                            },
                            "repo": {
                              "type": "string"
                            },
                            "repoId": {
                              "type": "number"
                            },
                            "type": {
                              "type": "string",
                              "enum": ["github"]
                            },
                            "createdAt": {
                              "type": "number"
                            },
                            "deployHooks": {
                              "type": "array"
                            },
                            "gitCredentialId": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "number"
                            },
                            "sourceless": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "productionBranch": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "deployHooks",
                            "gitCredentialId",
                            "org",
                            "productionBranch",
                            "type"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["github-limited"]
                            },
                            "repo": {
                              "type": "string"
                            },
                            "repoId": {
                              "type": "number"
                            },
                            "createdAt": {
                              "type": "number"
                            },
                            "updatedAt": {
                              "type": "number"
                            },
                            "org": {
                              "type": "string"
                            },
                            "repoOwnerId": {
                              "type": "number",
                              "description": "A new field, should be included in all new project links, is being added just in time when a deployment is created. This is needed for Protected Git scopes."
                            },
                            "deployHooks": {
                              "type": "array"
                            },
                            "gitCredentialId": {
                              "type": "string"
                            },
                            "sourceless": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "productionBranch": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "deployHooks",
                            "gitCredentialId",
                            "host",
                            "org",
                            "productionBranch",
                            "type"
                          ],
                          "properties": {
                            "org": {
                              "type": "string"
                            },
                            "repoOwnerId": {
                              "type": "number",
                              "description": "A new field, should be included in all new project links, is being added just in time when a deployment is created. This is needed for Protected Git scopes."
                            },
                            "repo": {
                              "type": "string"
                            },
                            "repoId": {
                              "type": "number"
                            },
                            "type": {
                              "type": "string",
                              "enum": ["github-custom-host"]
                            },
                            "host": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "number"
                            },
                            "deployHooks": {
                              "type": "array"
                            },
                            "gitCredentialId": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "number"
                            },
                            "sourceless": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "productionBranch": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "deployHooks",
                            "gitCredentialId",
                            "productionBranch",
                            "projectId",
                            "projectName",
                            "projectNameWithNamespace",
                            "projectNamespace",
                            "projectUrl",
                            "type"
                          ],
                          "properties": {
                            "projectId": {
                              "type": "string"
                            },
                            "projectName": {
                              "type": "string"
                            },
                            "projectNameWithNamespace": {
                              "type": "string"
                            },
                            "projectNamespace": {
                              "type": "string"
                            },
                            "projectOwnerId": {
                              "type": "number",
                              "description": "A new field, should be included in all new project links, is being added just in time when a deployment is created. This is needed for Protected Git scopes. This is the id of the top level group that a namespace belongs to. Gitlab supports group nesting (up to 20 levels)."
                            },
                            "projectUrl": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "enum": ["gitlab"]
                            },
                            "createdAt": {
                              "type": "number"
                            },
                            "deployHooks": {
                              "type": "array"
                            },
                            "gitCredentialId": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "number"
                            },
                            "sourceless": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "productionBranch": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "deployHooks",
                            "gitCredentialId",
                            "name",
                            "owner",
                            "productionBranch",
                            "slug",
                            "type",
                            "uuid",
                            "workspaceUuid"
                          ],
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "owner": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "enum": ["bitbucket"]
                            },
                            "uuid": {
                              "type": "string"
                            },
                            "workspaceUuid": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "number"
                            },
                            "deployHooks": {
                              "type": "array"
                            },
                            "gitCredentialId": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "number"
                            },
                            "sourceless": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "productionBranch": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "description": "(2 more variants — see OpenAPI spec)"
                        }
                      ]
                    },
                    "blobs": {
                      "type": "object",
                      "properties": {
                        "isDefaultApp": {
                          "type": "boolean",
                          "description": "Marks the team-level, Vercel-managed default blob project (`vercel-blob-default-project`) that orphan blob stores are scoped to when connected without an explicit project. Set only by internal storage flows and immutable after creation — guards rely on it to protect the connected stores from being lost when the project is deleted or transferred.",
                          "enum": [false, true]
                        }
                      }
                    },
                    "microfrontends": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": [
                            "enabled",
                            "groupIds",
                            "isDefaultApp",
                            "updatedAt"
                          ],
                          "properties": {
                            "isDefaultApp": {
                              "type": "boolean",
                              "enum": [true]
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "Timestamp when the microfrontends settings were last updated."
                            },
                            "groupIds": {
                              "type": "array",
                              "description": "The group IDs of microfrontends that this project belongs to. Each microfrontend project must belong to a microfrontends group that is the set of microfrontends that are used together."
                            },
                            "enabled": {
                              "type": "boolean",
                              "description": "Whether microfrontends are enabled for this project.",
                              "enum": [true]
                            },
                            "defaultRoute": {
                              "type": "string",
                              "description": "A path that is used to take screenshots and as the default path in preview links when a domain for this microfrontend is shown in the UI. Includes the leading slash, e.g. `/docs`"
                            },
                            "freeProjectForLegacyLimits": {
                              "type": "boolean",
                              "description": "Whether the project was part of the legacy limits for hobby and pro-trial before billing was added. This field is only set when the team is upgraded to a paid plan and we are backfilling the subscription status. We cap the subscription to 2 projects and set this field for the 3rd project. When this field is set, the project is not charged for and we do not call any billing APIs for this project.",
                              "enum": [false, true]
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": ["enabled", "groupIds", "updatedAt"],
                          "properties": {
                            "isDefaultApp": {
                              "type": "boolean",
                              "enum": [false]
                            },
                            "routeObservabilityToThisProject": {
                              "type": "boolean",
                              "description": "Whether observability data should be routed to this microfrontend project or a root project.",
                              "enum": [false, true]
                            },
                            "doNotRouteWithMicrofrontendsRouting": {
                              "type": "boolean",
                              "description": "Whether to add microfrontends routing to aliases. This means domains in this project will route as a microfrontend.",
                              "enum": [false, true]
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "Timestamp when the microfrontends settings were last updated."
                            },
                            "groupIds": {
                              "type": "array",
                              "description": "The group IDs of microfrontends that this project belongs to. Each microfrontend project must belong to a microfrontends group that is the set of microfrontends that are used together."
                            },
                            "enabled": {
                              "type": "boolean",
                              "description": "Whether microfrontends are enabled for this project.",
                              "enum": [true]
                            },
                            "defaultRoute": {
                              "type": "string",
                              "description": "A path that is used to take screenshots and as the default path in preview links when a domain for this microfrontend is shown in the UI. Includes the leading slash, e.g. `/docs`"
                            },
                            "freeProjectForLegacyLimits": {
                              "type": "boolean",
[...]
