{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel projectMembers",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/project_members/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/projects/{idOrName}/members": {
      "get": {
        "operationId": "listProjectMembers",
        "summary": "List project members",
        "description": "Lists all members of a project.",
        "tags": ["projectMembers"],
        "x-docs-url": "https://vercel.com/docs/rest-api/projectmembers/list-project-members",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "The ID or name of the Project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit how many project members should be returned",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Timestamp in milliseconds to only include members added since then.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Timestamp in milliseconds to only include members added until then.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search project members by their name, username, and email.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of members for the project.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object"
                    },
                    {
                      "type": "object",
                      "description": "Paginated list of members for the project.",
                      "required": ["members", "pagination"],
                      "properties": {
                        "members": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "computedProjectRole",
                              "createdAt",
                              "email",
                              "role",
                              "teamRole",
                              "uid",
                              "username"
                            ]
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "required": ["count", "hasNext", "next", "prev"],
                          "properties": {
                            "hasNext": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "count": {
                              "type": "number",
                              "description": "Amount of items in the current page."
                            },
                            "next": {
                              "type": "number",
                              "description": "Timestamp that must be used to request the next page.",
                              "nullable": true
                            },
                            "prev": {
                              "type": "number",
                              "description": "Timestamp that must be used to request the previous page.",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "addsANewMemberToAProject",
        "summary": "Adds a new member to a project.",
        "description": "Adds a new member to the project.",
        "tags": ["projectMembers"],
        "x-docs-url": "https://vercel.com/docs/rest-api/projectmembers/adds-a-new-member-to-a-project",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "The ID or name of the Project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["role"],
                "properties": {
                  "uid": {
                    "type": "string",
                    "description": "The ID of the team member that should be added to this project.",
                    "maxLength": 256
                  },
                  "username": {
                    "type": "string",
                    "description": "The username of the team member that should be added to this project.",
                    "maxLength": 256
                  },
                  "email": {
                    "type": "string",
                    "description": "The email of the team member that should be added to this project.",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "description": "The project role of the member that will be added.",
                    "enum": ["ADMIN", "PROJECT_VIEWER", "PROJECT_DEVELOPER"]
                  }
                },
                "oneOf": [
                  {
                    "required": ["uid"]
                  },
                  {
                    "required": ["username"]
                  },
                  {
                    "required": ["email"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responds with the project ID on success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Responds with the project ID on success.",
                  "required": ["id"],
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{idOrName}/members/{uid}": {
      "delete": {
        "operationId": "removeAProjectMember",
        "summary": "Remove a Project Member",
        "description": "Remove a member from a specific project",
        "tags": ["projectMembers"],
        "x-docs-url": "https://vercel.com/docs/rest-api/projectmembers/remove-a-project-member",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "The ID or name of the Project.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "path",
            "description": "The user ID of the member.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id"],
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
