{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel rolling-release",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/rolling_release/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/projects/{idOrName}/rolling-release/billing": {
      "get": {
        "operationId": "getRollingReleaseBillingStatus",
        "summary": "Get rolling release billing status",
        "description": "Get the Rolling Releases billing status for a project. The team level billing status is used to determine if the project can be configured for rolling releases.",
        "tags": ["rolling-release"],
        "x-docs-url": "https://vercel.com/docs/rest-api/rolling-release/get-rolling-release-billing-status",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "Project ID or project name (URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": ["availableSlots", "message", "reason"],
                      "properties": {
                        "availableSlots": {
                          "type": "number",
                          "enum": [0]
                        },
                        "reason": {
                          "type": "string",
                          "enum": ["plan_not_supported"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["availableSlots", "message", "reason"],
                      "properties": {
                        "availableSlots": {
                          "type": "string",
                          "enum": ["unlimited"]
                        },
                        "reason": {
                          "type": "string",
                          "enum": ["unlimited_slots"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "availableSlots",
                        "enabledProjects",
                        "message",
                        "reason"
                      ],
                      "properties": {
                        "availableSlots": {
                          "type": "number",
                          "enum": [0]
                        },
                        "reason": {
                          "type": "string",
                          "enum": ["no_available_slots"]
                        },
                        "message": {
                          "type": "string"
                        },
                        "enabledProjects": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["availableSlots", "message", "reason"],
                      "properties": {
                        "availableSlots": {
                          "type": "number"
                        },
                        "reason": {
                          "type": "string",
                          "enum": ["available_slots"]
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{idOrName}/rolling-release/config": {
      "get": {
        "operationId": "getRollingReleaseConfiguration",
        "summary": "Get rolling release configuration",
        "description": "Get the Rolling Releases configuration for a project. The project-level config is simply a template that will be used for any future rolling release, and not the configuration for any active rolling release.",
        "tags": ["rolling-release"],
        "x-docs-url": "https://vercel.com/docs/rest-api/rolling-release/get-rolling-release-configuration",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "Project ID or project name (URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["rollingRelease"],
                  "properties": {
                    "rollingRelease": {
                      "type": "object",
                      "description": "Project-level rolling release configuration that defines how deployments should be gradually rolled out",
                      "nullable": true,
                      "required": ["target"],
                      "properties": {
                        "target": {
                          "type": "string",
                          "description": "The environment that the release targets, currently only supports production. Adding in case we want to configure with alias groups or custom environments."
                        },
                        "stages": {
                          "type": "array",
                          "description": "An array of all the stages required during a deployment release. Each stage defines a target percentage and advancement rules. The final stage must always have targetPercentage: 100.",
                          "nullable": true,
                          "items": {
                            "type": "object",
                            "description": "An array of all the stages required during a deployment release. Each stage defines a target percentage and advancement rules. The final stage must always have targetPercentage: 100.",
                            "required": ["targetPercentage"]
                          }
                        },
                        "canaryResponseHeader": {
                          "type": "boolean",
                          "description": "Whether the request served by a canary deployment should return a header indicating a canary was served. Defaults to `false` when omitted.",
                          "enum": [false, true]
                        },
                        "gate": {
                          "type": "object",
                          "description": "Automated gating configuration. Omitted (the default) means no gating is configured, which is equivalent to `enabled: false`.",
                          "required": ["action", "checks", "dryRun", "enabled"],
                          "properties": {
                            "enabled": {
                              "type": "boolean",
                              "description": "Whether automated gating is enabled for this project's rollouts.",
                              "enum": [false, true]
                            },
                            "checks": {
                              "type": "array",
                              "description": "The checks to evaluate. An empty array means nothing is evaluated."
                            },
                            "failureThreshold": {
                              "type": "number",
                              "description": "How many failing evaluations within {@link windowSize} trip the gate. Defaults to `3` when omitted."
                            },
                            "windowSize": {
                              "type": "number",
                              "description": "How many of the most recent evaluations {@link failureThreshold} is counted against. Defaults to `5` when omitted."
                            },
                            "action": {
                              "type": "string",
                              "description": "What to do when the gate trips: pause the rollout, or roll it back.",
                              "enum": ["pause", "rollback"]
                            },
                            "dryRun": {
                              "type": "boolean",
                              "description": "When true, a tripped gate is only reported — {@link action} is not taken.",
                              "enum": [false, true]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateTheRollingReleaseSettingsForTheProject",
        "summary": "Update the rolling release settings for the project",
        "description": "Update (or disable) Rolling Releases for a project. When disabling with the resolve-on-disable feature flag enabled, any active rolling release document is resolved using the disableRolloutAction parameter: \"abort\" to roll back (default), or \"complete\" to promote the canary to production. When enabling or updating config, changes only affect the next production deployment and do not alter a rollout that's already in-flight. Note: Enabling Rolling Releases automatically enables skew protection on the project with the default value if it wasn't configured already.",
        "tags": ["rolling-release"],
        "x-docs-url": "https://vercel.com/docs/rest-api/rolling-release/update-the-rolling-release-settings-for-the-project",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "Project ID or project name (URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": ["rollingRelease"],
                      "properties": {
                        "rollingRelease": {
                          "nullable": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": ["rollingRelease"],
                      "properties": {
                        "rollingRelease": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "stages": {
                              "type": "array",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteRollingReleaseConfiguration",
        "summary": "Delete rolling release configuration",
        "description": "Disable Rolling Releases for a project means that future deployments will not undergo a rolling release. Changing the config never alters a rollout that's already in-flight—it only affects the next production deployment. If you want to also stop the current rollout, call this endpoint to disable the feature, and then call either the /complete or /abort endpoint.",
        "tags": ["rolling-release"],
        "x-docs-url": "https://vercel.com/docs/rest-api/rolling-release/delete-rolling-release-configuration",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "Project ID or project name (URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["rollingRelease"],
                  "properties": {
                    "rollingRelease": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{idOrName}/rolling-release": {
      "get": {
        "operationId": "getTheActiveRollingReleaseInformationForAProject",
        "summary": "Get the active rolling release information for a project",
        "description": "Return the Rolling Release for a project, regardless of whether the rollout is active, aborted, or completed. If the feature is enabled but no deployment has occurred yet, null will be returned.",
        "tags": ["rolling-release"],
        "x-docs-url": "https://vercel.com/docs/rest-api/rolling-release/get-the-active-rolling-release-information-for-a-project",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "Project ID or project name (URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by rolling release state",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ACTIVE", "COMPLETE", "ABORTED"]
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The response format for rolling release endpoints that return rolling release information",
                  "required": ["rollingRelease"],
                  "properties": {
                    "rollingRelease": {
                      "type": "object",
                      "description": "Rolling release information including configuration and document details, or null if no rolling release exists",
                      "nullable": true,
                      "required": [
                        "activeStage",
                        "advancementType",
                        "canaryDeployment",
                        "currentDeployment",
                        "nextStage",
                        "queuedDeploymentId",
                        "stages",
                        "startedAt",
                        "state",
                        "substate",
                        "updatedAt"
                      ],
                      "properties": {
                        "state": {
                          "type": "string",
                          "description": "The current state of the rolling release",
                          "enum": ["ABORTED", "ACTIVE", "COMPLETE"]
                        },
                        "substate": {
                          "type": "string",
                          "description": "When set to `PAUSED`, the rollout is frozen at the current percentage until continued.",
                          "enum": ["PAUSED", null],
                          "nullable": true
                        },
                        "currentDeployment": {
                          "type": "object",
                          "description": "The current deployment receiving production traffic",
                          "nullable": true,
                          "required": [
                            "createdAt",
                            "id",
                            "name",
                            "readyState",
                            "url"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the project associated with the deployment at the time that the deployment was created"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "A number containing the date when the deployment was created in milliseconds"
                            },
                            "readyState": {
                              "type": "string",
                              "description": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
                              "enum": [
                                "BLOCKED",
                                "BUILDING",
                                "CANCELED",
                                "ERROR",
                                "INITIALIZING",
                                "QUEUED",
                                "READY"
                              ]
                            },
                            "id": {
                              "type": "string",
                              "description": "A string holding the unique ID of the deployment"
                            },
                            "target": {
                              "type": "string",
                              "description": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
                              "enum": ["production", "staging", null],
                              "nullable": true
                            },
                            "readyStateAt": {
                              "type": "number"
                            },
                            "source": {
                              "type": "string",
                              "description": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it.",
                              "enum": [
                                "api-trigger-git-deploy",
                                "cli",
                                "clone/repo",
                                "drop",
                                "git",
                                "git-deploy-hook",
                                "import",
                                "import/repo",
                                "redeploy",
                                "v0-web"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "description": "A string with the unique URL of the deployment"
                            }
                          }
                        },
                        "canaryDeployment": {
                          "type": "object",
                          "description": "The canary deployment being rolled out",
                          "nullable": true,
                          "required": [
                            "createdAt",
                            "id",
                            "name",
                            "readyState",
                            "url"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the project associated with the deployment at the time that the deployment was created"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "A number containing the date when the deployment was created in milliseconds"
                            },
                            "readyState": {
                              "type": "string",
                              "description": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
                              "enum": [
                                "BLOCKED",
                                "BUILDING",
                                "CANCELED",
                                "ERROR",
                                "INITIALIZING",
                                "QUEUED",
                                "READY"
                              ]
                            },
                            "id": {
                              "type": "string",
                              "description": "A string holding the unique ID of the deployment"
                            },
                            "target": {
                              "type": "string",
                              "description": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
                              "enum": ["production", "staging", null],
                              "nullable": true
                            },
                            "readyStateAt": {
                              "type": "number"
                            },
                            "source": {
                              "type": "string",
                              "description": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it.",
                              "enum": [
                                "api-trigger-git-deploy",
                                "cli",
                                "clone/repo",
                                "drop",
                                "git",
                                "git-deploy-hook",
                                "import",
                                "import/repo",
                                "redeploy",
                                "v0-web"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "description": "A string with the unique URL of the deployment"
                            }
                          }
                        },
                        "queuedDeploymentId": {
                          "type": "string",
                          "description": "The ID of a deployment queued for the next rolling release",
                          "nullable": true
                        },
                        "advancementType": {
                          "type": "string",
                          "description": "The advancement type of the rolling release",
                          "enum": ["automatic", "manual-approval"]
                        },
                        "stages": {
                          "type": "array",
                          "description": "All stages configured for this rolling release",
                          "items": {
                            "type": "object",
                            "description": "All stages configured for this rolling release",
                            "required": [
                              "duration",
                              "index",
                              "isFinalStage",
                              "requireApproval",
                              "targetPercentage"
                            ]
                          }
                        },
                        "activeStage": {
                          "type": "object",
                          "description": "The currently active stage, null if the rollout is aborted",
                          "nullable": true,
                          "required": [
                            "duration",
                            "index",
                            "isFinalStage",
                            "requireApproval",
                            "targetPercentage"
                          ],
                          "properties": {
                            "index": {
                              "type": "number",
                              "description": "The zero-based index of the stage"
                            },
                            "isFinalStage": {
                              "type": "boolean",
                              "description": "Whether or not this stage is the final stage (targetPercentage === 100)",
                              "enum": [false, true]
                            },
                            "targetPercentage": {
                              "type": "number",
                              "description": "The percentage of traffic to serve to the canary deployment (0-100)"
                            },
                            "requireApproval": {
                              "type": "boolean",
                              "description": "Whether or not this stage requires manual approval to proceed",
                              "enum": [false, true]
                            },
                            "duration": {
                              "type": "number",
                              "description": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
                              "nullable": true
                            },
                            "linearShift": {
                              "type": "boolean",
                              "description": "Whether to linearly shift traffic over the duration of this stage",
                              "enum": [false, true]
                            }
                          }
                        },
                        "nextStage": {
                          "type": "object",
                          "description": "The next stage to be activated, null if not in ACTIVE state",
                          "nullable": true,
                          "required": [
                            "duration",
                            "index",
                            "isFinalStage",
                            "requireApproval",
                            "targetPercentage"
                          ],
                          "properties": {
                            "index": {
                              "type": "number",
                              "description": "The zero-based index of the stage"
                            },
                            "isFinalStage": {
                              "type": "boolean",
                              "description": "Whether or not this stage is the final stage (targetPercentage === 100)",
                              "enum": [false, true]
                            },
                            "targetPercentage": {
                              "type": "number",
                              "description": "The percentage of traffic to serve to the canary deployment (0-100)"
                            },
                            "requireApproval": {
                              "type": "boolean",
                              "description": "Whether or not this stage requires manual approval to proceed",
                              "enum": [false, true]
                            },
                            "duration": {
                              "type": "number",
                              "description": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
                              "nullable": true
                            },
                            "linearShift": {
                              "type": "boolean",
                              "description": "Whether to linearly shift traffic over the duration of this stage",
                              "enum": [false, true]
                            }
                          }
                        },
                        "startedAt": {
                          "type": "number",
                          "description": "Unix timestamp in milliseconds when the rolling release started"
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "Unix timestamp in milliseconds when the rolling release was last updated"
                        },
                        "currentCanaryPercentage": {
                          "type": "number",
                          "description": "When set (for example while {@link substate} is `PAUSED`), the canary traffic percentage persisted on the rollout document — use for dashboard display when linear shift is active."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{idOrName}/rolling-release/approve-stage": {
      "post": {
        "operationId": "updateTheActiveRollingReleaseToTheNextStageForAProject",
        "summary": "Update the active rolling release to the next stage for a project",
        "description": "Advance a rollout to the next stage. This is only needed when rolling releases is configured to require manual approval.",
        "tags": ["rolling-release"],
        "x-docs-url": "https://vercel.com/docs/rest-api/rolling-release/update-the-active-rolling-release-to-the-next-stage-for-a-project",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "Project ID or project name (URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nextStageIndex", "canaryDeploymentId"],
                "properties": {
                  "nextStageIndex": {
                    "type": "number",
                    "description": "The index of the stage to transition to"
                  },
                  "canaryDeploymentId": {
                    "type": "string",
                    "description": "The id of the canary deployment to approve for the next stage"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The response format for rolling release endpoints that return rolling release information",
                  "required": ["rollingRelease"],
                  "properties": {
                    "rollingRelease": {
                      "type": "object",
                      "description": "Rolling release information including configuration and document details, or null if no rolling release exists",
                      "nullable": true,
                      "required": [
                        "activeStage",
                        "advancementType",
                        "canaryDeployment",
                        "currentDeployment",
                        "nextStage",
                        "queuedDeploymentId",
                        "stages",
                        "startedAt",
                        "state",
                        "substate",
                        "updatedAt"
                      ],
                      "properties": {
                        "state": {
                          "type": "string",
                          "description": "The current state of the rolling release",
                          "enum": ["ABORTED", "ACTIVE", "COMPLETE"]
                        },
                        "substate": {
                          "type": "string",
                          "description": "When set to `PAUSED`, the rollout is frozen at the current percentage until continued.",
                          "enum": ["PAUSED", null],
                          "nullable": true
                        },
                        "currentDeployment": {
                          "type": "object",
                          "description": "The current deployment receiving production traffic",
                          "nullable": true,
                          "required": [
                            "createdAt",
                            "id",
                            "name",
                            "readyState",
                            "url"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the project associated with the deployment at the time that the deployment was created"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "A number containing the date when the deployment was created in milliseconds"
                            },
                            "readyState": {
                              "type": "string",
                              "description": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
                              "enum": [
                                "BLOCKED",
                                "BUILDING",
                                "CANCELED",
                                "ERROR",
                                "INITIALIZING",
                                "QUEUED",
                                "READY"
                              ]
                            },
                            "id": {
                              "type": "string",
                              "description": "A string holding the unique ID of the deployment"
                            },
                            "target": {
                              "type": "string",
                              "description": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
                              "enum": ["production", "staging", null],
                              "nullable": true
                            },
                            "readyStateAt": {
                              "type": "number"
                            },
                            "source": {
                              "type": "string",
                              "description": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it.",
                              "enum": [
                                "api-trigger-git-deploy",
                                "cli",
                                "clone/repo",
                                "drop",
                                "git",
                                "git-deploy-hook",
                                "import",
                                "import/repo",
                                "redeploy",
                                "v0-web"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "description": "A string with the unique URL of the deployment"
                            }
                          }
                        },
                        "canaryDeployment": {
                          "type": "object",
                          "description": "The canary deployment being rolled out",
                          "nullable": true,
                          "required": [
                            "createdAt",
                            "id",
                            "name",
                            "readyState",
                            "url"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the project associated with the deployment at the time that the deployment was created"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "A number containing the date when the deployment was created in milliseconds"
                            },
                            "readyState": {
                              "type": "string",
                              "description": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
                              "enum": [
                                "BLOCKED",
                                "BUILDING",
                                "CANCELED",
                                "ERROR",
                                "INITIALIZING",
                                "QUEUED",
                                "READY"
                              ]
                            },
                            "id": {
                              "type": "string",
                              "description": "A string holding the unique ID of the deployment"
                            },
                            "target": {
                              "type": "string",
                              "description": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
                              "enum": ["production", "staging", null],
                              "nullable": true
                            },
                            "readyStateAt": {
                              "type": "number"
                            },
                            "source": {
                              "type": "string",
                              "description": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it.",
                              "enum": [
                                "api-trigger-git-deploy",
                                "cli",
                                "clone/repo",
                                "drop",
                                "git",
                                "git-deploy-hook",
                                "import",
                                "import/repo",
                                "redeploy",
                                "v0-web"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "description": "A string with the unique URL of the deployment"
                            }
                          }
                        },
                        "queuedDeploymentId": {
                          "type": "string",
                          "description": "The ID of a deployment queued for the next rolling release",
                          "nullable": true
                        },
                        "advancementType": {
                          "type": "string",
                          "description": "The advancement type of the rolling release",
                          "enum": ["automatic", "manual-approval"]
                        },
                        "stages": {
                          "type": "array",
                          "description": "All stages configured for this rolling release",
                          "items": {
                            "type": "object",
                            "description": "All stages configured for this rolling release",
                            "required": [
                              "duration",
                              "index",
                              "isFinalStage",
                              "requireApproval",
                              "targetPercentage"
                            ]
                          }
                        },
                        "activeStage": {
                          "type": "object",
                          "description": "The currently active stage, null if the rollout is aborted",
                          "nullable": true,
                          "required": [
                            "duration",
                            "index",
                            "isFinalStage",
                            "requireApproval",
                            "targetPercentage"
                          ],
                          "properties": {
                            "index": {
                              "type": "number",
                              "description": "The zero-based index of the stage"
                            },
                            "isFinalStage": {
                              "type": "boolean",
                              "description": "Whether or not this stage is the final stage (targetPercentage === 100)",
                              "enum": [false, true]
                            },
                            "targetPercentage": {
                              "type": "number",
                              "description": "The percentage of traffic to serve to the canary deployment (0-100)"
                            },
                            "requireApproval": {
                              "type": "boolean",
                              "description": "Whether or not this stage requires manual approval to proceed",
                              "enum": [false, true]
                            },
                            "duration": {
                              "type": "number",
                              "description": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
                              "nullable": true
                            },
                            "linearShift": {
                              "type": "boolean",
                              "description": "Whether to linearly shift traffic over the duration of this stage",
                              "enum": [false, true]
                            }
                          }
                        },
                        "nextStage": {
                          "type": "object",
                          "description": "The next stage to be activated, null if not in ACTIVE state",
                          "nullable": true,
                          "required": [
                            "duration",
                            "index",
                            "isFinalStage",
                            "requireApproval",
                            "targetPercentage"
                          ],
                          "properties": {
                            "index": {
                              "type": "number",
                              "description": "The zero-based index of the stage"
                            },
                            "isFinalStage": {
                              "type": "boolean",
                              "description": "Whether or not this stage is the final stage (targetPercentage === 100)",
                              "enum": [false, true]
                            },
                            "targetPercentage": {
                              "type": "number",
                              "description": "The percentage of traffic to serve to the canary deployment (0-100)"
                            },
                            "requireApproval": {
                              "type": "boolean",
                              "description": "Whether or not this stage requires manual approval to proceed",
                              "enum": [false, true]
                            },
                            "duration": {
                              "type": "number",
                              "description": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
                              "nullable": true
                            },
                            "linearShift": {
                              "type": "boolean",
                              "description": "Whether to linearly shift traffic over the duration of this stage",
                              "enum": [false, true]
                            }
                          }
                        },
                        "startedAt": {
                          "type": "number",
                          "description": "Unix timestamp in milliseconds when the rolling release started"
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "Unix timestamp in milliseconds when the rolling release was last updated"
                        },
                        "currentCanaryPercentage": {
                          "type": "number",
                          "description": "When set (for example while {@link substate} is `PAUSED`), the canary traffic percentage persisted on the rollout document — use for dashboard display when linear shift is active."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{idOrName}/rolling-release/start": {
      "post": {
        "operationId": "startARollingReleaseForTheProject",
        "summary": "Start a rolling release for the project",
        "description": "Start a rolling release for a deployment. If a rolling release is already active for the same canary deployment, returns the current state without side effects.",
        "tags": ["rolling-release"],
        "x-docs-url": "https://vercel.com/docs/rest-api/rolling-release/start-a-rolling-release-for-the-project",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "Project ID or project name (URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["canaryDeploymentId"],
                "properties": {
                  "canaryDeploymentId": {
                    "type": "string",
                    "description": "The ID of the canary deployment to start the rolling release for"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The response format for rolling release endpoints that return rolling release information",
                  "required": ["rollingRelease"],
                  "properties": {
                    "rollingRelease": {
                      "type": "object",
                      "description": "Rolling release information including configuration and document details, or null if no rolling release exists",
                      "nullable": true,
                      "required": [
                        "activeStage",
                        "advancementType",
                        "canaryDeployment",
                        "currentDeployment",
                        "nextStage",
                        "queuedDeploymentId",
                        "stages",
                        "startedAt",
                        "state",
                        "substate",
                        "updatedAt"
                      ],
                      "properties": {
                        "state": {
                          "type": "string",
                          "description": "The current state of the rolling release",
                          "enum": ["ABORTED", "ACTIVE", "COMPLETE"]
                        },
                        "substate": {
                          "type": "string",
                          "description": "When set to `PAUSED`, the rollout is frozen at the current percentage until continued.",
                          "enum": ["PAUSED", null],
                          "nullable": true
                        },
                        "currentDeployment": {
                          "type": "object",
                          "description": "The current deployment receiving production traffic",
                          "nullable": true,
                          "required": [
                            "createdAt",
                            "id",
                            "name",
                            "readyState",
                            "url"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the project associated with the deployment at the time that the deployment was created"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "A number containing the date when the deployment was created in milliseconds"
                            },
                            "readyState": {
                              "type": "string",
                              "description": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
                              "enum": [
                                "BLOCKED",
                                "BUILDING",
                                "CANCELED",
                                "ERROR",
                                "INITIALIZING",
                                "QUEUED",
                                "READY"
                              ]
                            },
                            "id": {
                              "type": "string",
                              "description": "A string holding the unique ID of the deployment"
                            },
                            "target": {
                              "type": "string",
                              "description": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
                              "enum": ["production", "staging", null],
                              "nullable": true
                            },
                            "readyStateAt": {
                              "type": "number"
                            },
                            "source": {
                              "type": "string",
                              "description": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it.",
                              "enum": [
                                "api-trigger-git-deploy",
                                "cli",
                                "clone/repo",
                                "drop",
                                "git",
                                "git-deploy-hook",
                                "import",
                                "import/repo",
                                "redeploy",
                                "v0-web"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "description": "A string with the unique URL of the deployment"
                            }
                          }
                        },
                        "canaryDeployment": {
                          "type": "object",
                          "description": "The canary deployment being rolled out",
                          "nullable": true,
                          "required": [
                            "createdAt",
                            "id",
                            "name",
                            "readyState",
                            "url"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the project associated with the deployment at the time that the deployment was created"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "A number containing the date when the deployment was created in milliseconds"
                            },
                            "readyState": {
                              "type": "string",
                              "description": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
                              "enum": [
                                "BLOCKED",
                                "BUILDING",
                                "CANCELED",
                                "ERROR",
                                "INITIALIZING",
                                "QUEUED",
                                "READY"
                              ]
                            },
                            "id": {
                              "type": "string",
                              "description": "A string holding the unique ID of the deployment"
                            },
                            "target": {
                              "type": "string",
                              "description": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
                              "enum": ["production", "staging", null],
                              "nullable": true
                            },
                            "readyStateAt": {
                              "type": "number"
                            },
                            "source": {
                              "type": "string",
                              "description": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it.",
                              "enum": [
                                "api-trigger-git-deploy",
                                "cli",
                                "clone/repo",
                                "drop",
                                "git",
                                "git-deploy-hook",
                                "import",
                                "import/repo",
                                "redeploy",
                                "v0-web"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "description": "A string with the unique URL of the deployment"
                            }
                          }
                        },
                        "queuedDeploymentId": {
                          "type": "string",
                          "description": "The ID of a deployment queued for the next rolling release",
                          "nullable": true
                        },
                        "advancementType": {
                          "type": "string",
                          "description": "The advancement type of the rolling release",
                          "enum": ["automatic", "manual-approval"]
                        },
                        "stages": {
                          "type": "array",
                          "description": "All stages configured for this rolling release",
                          "items": {
                            "type": "object",
                            "description": "All stages configured for this rolling release",
                            "required": [
                              "duration",
                              "index",
                              "isFinalStage",
                              "requireApproval",
                              "targetPercentage"
                            ]
                          }
                        },
                        "activeStage": {
                          "type": "object",
                          "description": "The currently active stage, null if the rollout is aborted",
                          "nullable": true,
                          "required": [
                            "duration",
                            "index",
                            "isFinalStage",
                            "requireApproval",
                            "targetPercentage"
                          ],
                          "properties": {
                            "index": {
                              "type": "number",
                              "description": "The zero-based index of the stage"
                            },
                            "isFinalStage": {
                              "type": "boolean",
                              "description": "Whether or not this stage is the final stage (targetPercentage === 100)",
                              "enum": [false, true]
                            },
                            "targetPercentage": {
                              "type": "number",
                              "description": "The percentage of traffic to serve to the canary deployment (0-100)"
                            },
                            "requireApproval": {
                              "type": "boolean",
                              "description": "Whether or not this stage requires manual approval to proceed",
                              "enum": [false, true]
                            },
                            "duration": {
                              "type": "number",
                              "description": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
                              "nullable": true
                            },
                            "linearShift": {
                              "type": "boolean",
                              "description": "Whether to linearly shift traffic over the duration of this stage",
                              "enum": [false, true]
                            }
                          }
                        },
                        "nextStage": {
                          "type": "object",
                          "description": "The next stage to be activated, null if not in ACTIVE state",
                          "nullable": true,
                          "required": [
                            "duration",
                            "index",
                            "isFinalStage",
                            "requireApproval",
                            "targetPercentage"
                          ],
                          "properties": {
                            "index": {
                              "type": "number",
                              "description": "The zero-based index of the stage"
                            },
                            "isFinalStage": {
                              "type": "boolean",
                              "description": "Whether or not this stage is the final stage (targetPercentage === 100)",
                              "enum": [false, true]
                            },
                            "targetPercentage": {
                              "type": "number",
                              "description": "The percentage of traffic to serve to the canary deployment (0-100)"
                            },
                            "requireApproval": {
                              "type": "boolean",
                              "description": "Whether or not this stage requires manual approval to proceed",
                              "enum": [false, true]
                            },
                            "duration": {
                              "type": "number",
                              "description": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
                              "nullable": true
                            },
                            "linearShift": {
                              "type": "boolean",
                              "description": "Whether to linearly shift traffic over the duration of this stage",
                              "enum": [false, true]
                            }
                          }
                        },
                        "startedAt": {
                          "type": "number",
                          "description": "Unix timestamp in milliseconds when the rolling release started"
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "Unix timestamp in milliseconds when the rolling release was last updated"
                        },
                        "currentCanaryPercentage": {
                          "type": "number",
                          "description": "When set (for example while {@link substate} is `PAUSED`), the canary traffic percentage persisted on the rollout document — use for dashboard display when linear shift is active."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "422": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{idOrName}/rolling-release/complete": {
      "post": {
        "operationId": "completeTheRollingReleaseForTheProject",
        "summary": "Complete the rolling release for the project",
        "description": "Force-complete a Rolling Release. The canary deployment will begin serving 100% of the traffic.",
        "tags": ["rolling-release"],
        "x-docs-url": "https://vercel.com/docs/rest-api/rolling-release/complete-the-rolling-release-for-the-project",
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "description": "Project ID or project name (URL-encoded)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["canaryDeploymentId"],
                "properties": {
                  "canaryDeploymentId": {
                    "type": "string",
                    "description": "The ID of the canary deployment to complete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The response format for rolling release endpoints that return rolling release information",
                  "required": ["rollingRelease"],
                  "properties": {
                    "rollingRelease": {
                      "type": "object",
                      "description": "Rolling release information including configuration and document details, or null if no rolling release exists",
                      "nullable": true,
                      "required": [
                        "activeStage",
                        "advancementType",
                        "canaryDeployment",
                        "currentDeployment",
                        "nextStage",
                        "queuedDeploymentId",
                        "stages",
                        "startedAt",
                        "state",
                        "substate",
                        "updatedAt"
                      ],
                      "properties": {
                        "state": {
                          "type": "string",
                          "description": "The current state of the rolling release",
                          "enum": ["ABORTED", "ACTIVE", "COMPLETE"]
                        },
                        "substate": {
                          "type": "string",
                          "description": "When set to `PAUSED`, the rollout is frozen at the current percentage until continued.",
                          "enum": ["PAUSED", null],
                          "nullable": true
                        },
                        "currentDeployment": {
                          "type": "object",
                          "description": "The current deployment receiving production traffic",
                          "nullable": true,
                          "required": [
                            "createdAt",
                            "id",
                            "name",
                            "readyState",
                            "url"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the project associated with the deployment at the time that the deployment was created"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "A number containing the date when the deployment was created in milliseconds"
                            },
                            "readyState": {
                              "type": "string",
                              "description": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
                              "enum": [
                                "BLOCKED",
                                "BUILDING",
                                "CANCELED",
                                "ERROR",
                                "INITIALIZING",
                                "QUEUED",
                                "READY"
                              ]
                            },
                            "id": {
                              "type": "string",
                              "description": "A string holding the unique ID of the deployment"
                            },
                            "target": {
                              "type": "string",
                              "description": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
                              "enum": ["production", "staging", null],
                              "nullable": true
                            },
                            "readyStateAt": {
                              "type": "number"
                            },
                            "source": {
                              "type": "string",
                              "description": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it.",
                              "enum": [
                                "api-trigger-git-deploy",
                                "cli",
                                "clone/repo",
                                "drop",
                                "git",
                                "git-deploy-hook",
                                "import",
                                "import/repo",
                                "redeploy",
                                "v0-web"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "description": "A string with the unique URL of the deployment"
                            }
                          }
                        },
                        "canaryDeployment": {
                          "type": "object",
                          "description": "The canary deployment being rolled out",
                          "nullable": true,
                          "required": [
                            "createdAt",
                            "id",
                            "name",
                            "readyState",
                            "url"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the project associated with the deployment at the time that the deployment was created"
                            },
                            "createdAt": {
                              "type": "number",
                              "description": "A number containing the date when the deployment was created in milliseconds"
                            },
                            "readyState": {
                              "type": "string",
                              "description": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
                              "enum": [
                                "BLOCKED",
                                "BUILDING",
                                "CANCELED",
                                "ERROR",
                                "INITIALIZING",
                                "QUEUED",
                                "READY"
                              ]
                            },
                            "id": {
                              "type": "string",
                              "description": "A string holding the unique ID of the deployment"
                            },
                            "target": {
                              "type": "string",
                              "description": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
                              "enum": ["production", "staging", null],
                              "nullable": true
                            },
                            "readyStateAt": {
                              "type": "number"
                            },
                            "source": {
                              "type": "string",
                              "description": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it.",
                              "enum": [
                                "api-trigger-git-deploy",
                                "cli",
                                "clone/repo",
                                "drop",
                                "git",
                                "git-deploy-hook",
                                "import",
                                "import/repo",
                                "redeploy",
                                "v0-web"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "description": "A string with the unique URL of the deployment"
                            }
                          }
                        },
                        "queuedDeploymentId": {
                          "type": "string",
                          "description": "The ID of a deployment queued for the next rolling release",
                          "nullable": true
                        },
                        "advancementType": {
                          "type": "string",
                          "description": "The advancement type of the rolling release",
                          "enum": ["automatic", "manual-approval"]
                        },
                        "stages": {
                          "type": "array",
                          "description": "All stages configured for this rolling release",
                          "items": {
                            "type": "object",
                            "description": "All stages configured for this rolling release",
                            "required": [
                              "duration",
                              "index",
                              "isFinalStage",
                              "requireApproval",
                              "targetPercentage"
                            ]
                          }
                        },
                        "activeStage": {
                          "type": "object",
                          "description": "The currently active stage, null if the rollout is aborted",
                          "nullable": true,
                          "required": [
                            "duration",
                            "index",
                            "isFinalStage",
                            "requireApproval",
                            "targetPercentage"
                          ],
                          "properties": {
                            "index": {
                              "type": "number",
                              "description": "The zero-based index of the stage"
                            },
                            "isFinalStage": {
                              "type": "boolean",
                              "description": "Whether or not this stage is the final stage (targetPercentage === 100)",
                              "enum": [false, true]
                            },
                            "targetPercentage": {
                              "type": "number",
                              "description": "The percentage of traffic to serve to the canary deployment (0-100)"
                            },
                            "requireApproval": {
                              "type": "boolean",
                              "description": "Whether or not this stage requires manual approval to proceed",
                              "enum": [false, true]
                            },
                            "duration": {
                              "type": "number",
                              "description": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
                              "nullable": true
                            },
                            "linearShift": {
                              "type": "boolean",
                              "description": "Whether to linearly shift traffic over the duration of this stage",
                              "enum": [false, true]
                            }
                          }
                        },
                        "nextStage": {
                          "type": "object",
                          "description": "The next stage to be activated, null if not in ACTIVE state",
                          "nullable": true,
                          "required": [
                            "duration",
                            "index",
                            "isFinalStage",
                            "requireApproval",
                            "targetPercentage"
                          ],
                          "properties": {
                            "index": {
                              "type": "number",
                              "description": "The zero-based index of the stage"
                            },
                            "isFinalStage": {
                              "type": "boolean",
                              "description": "Whether or not this stage is the final stage (targetPercentage === 100)",
                              "enum": [false, true]
                            },
                            "targetPercentage": {
                              "type": "number",
                              "description": "The percentage of traffic to serve to the canary deployment (0-100)"
                            },
                            "requireApproval": {
                              "type": "boolean",
                              "description": "Whether or not this stage requires manual approval to proceed",
                              "enum": [false, true]
                            },
                            "duration": {
                              "type": "number",
                              "description": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
                              "nullable": true
                            },
                            "linearShift": {
                              "type": "boolean",
                              "description": "Whether to linearly shift traffic over the duration of this stage",
                              "enum": [false, true]
                            }
                          }
                        },
                        "startedAt": {
                          "type": "number",
                          "description": "Unix timestamp in milliseconds when the rolling release started"
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "Unix timestamp in milliseconds when the rolling release was last updated"
                        },
                        "currentCanaryPercentage": {
                          "type": "number",
                          "description": "When set (for example while {@link substate} is `PAUSED`), the canary traffic percentage persisted on the rollout document — use for dashboard display when linear shift is active."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
