{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel sandboxes",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/sandboxes/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v2/sandboxes": {
      "get": {
        "operationId": "listSandboxes",
        "summary": "List sandboxes",
        "description": "Retrieves a paginated list of named sandboxes belonging to a specific project. Results can be sorted by creation time or name, and optionally filtered by name prefix or status.",
        "tags": ["sandboxes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/sandboxes/list-sandboxes",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "The unique identifier or name of the project to list named sandboxes for.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of named sandboxes to return in the response. Used for pagination.",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "name",
                "statusUpdatedAt",
                "currentSnapshotId"
              ],
              "default": "createdAt"
            }
          },
          {
            "name": "namePrefix",
            "in": "query",
            "description": "Filter named sandboxes whose name starts with this prefix. Only valid when sortBy=name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction. Defaults to desc.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter named sandboxes by status. Only valid when sortBy is createdAt.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["running", "stopping", "stopped"]
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter sandboxes by tag. Format: \\\"key:value\\\". Only one tag filter is supported at a time.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["pagination", "sandboxes"],
                  "properties": {
                    "sandboxes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "This object contains information related to a Vercel NamedSandbox.",
                        "required": [
                          "createdAt",
                          "currentSessionId",
                          "name",
                          "persistent",
                          "status",
                          "statusUpdatedAt",
                          "updatedAt"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The unique identifier of the sandbox."
                          },
                          "currentSnapshotId": {
                            "type": "string",
                            "description": "Current snapshot ID that the named sandbox is pointing to."
                          },
                          "currentSessionId": {
                            "type": "string",
                            "description": "Current session ID the sandbox is pointing to."
                          },
                          "status": {
                            "type": "string",
                            "description": "The status of the current sandbox.",
                            "enum": ["running", "stopped", "stopping"]
                          },
                          "statusUpdatedAt": {
                            "type": "number",
                            "description": "The time when the sandbox status was last updated, in milliseconds since the epoch."
                          },
                          "persistent": {
                            "type": "boolean",
                            "description": "Whether the sandbox persists its state across restarts via automatic snapshots.",
                            "enum": [false, true]
                          },
                          "region": {
                            "type": "string",
                            "description": "The region the sandbox is configured to run in: the region set on the sandbox, otherwise the project-level default, then the platform default. Where a running session actually landed is reported by `session.region`."
                          },
                          "vcpus": {
                            "type": "number",
                            "description": "Number of virtual CPUs allocated."
                          },
                          "memory": {
                            "type": "number",
                            "description": "Memory allocated in MB."
                          },
                          "runtime": {
                            "type": "string",
                            "description": "Runtime identifier."
                          },
                          "image": {
                            "type": "string",
                            "description": "Digest-pinned reference of the container image the sandbox was created from, when it was created from an image (\"{repository}@{manifestDigest}\")."
                          },
                          "timeout": {
                            "type": "number",
                            "description": "Timeout in milliseconds."
                          },
                          "snapshotExpiration": {
                            "type": "number",
                            "description": "Default snapshot expiration time in milliseconds. 0 means no expiration."
                          },
                          "keepLastSnapshots": {
                            "type": "object",
                            "description": "Keep-last snapshot configuration.",
                            "required": ["count", "deleteEvicted"]
                          },
                          "networkPolicy": {
                            "type": "object",
                            "description": "Network policy configuration.",
                            "required": ["mode"]
                          },
                          "totalEgressBytes": {
                            "type": "number",
                            "description": "Cumulative egress bytes across all sandbox runs."
                          },
                          "totalIngressBytes": {
                            "type": "number",
                            "description": "Cumulative ingress bytes across all sandbox runs."
                          },
                          "totalActiveCpuDurationMs": {
                            "type": "number",
                            "description": "Cumulative active CPU duration in milliseconds across all sandbox runs."
                          },
                          "totalDurationMs": {
                            "type": "number",
                            "description": "Cumulative wall-clock duration in milliseconds across all sandbox runs."
                          },
                          "cwd": {
                            "type": "string",
                            "description": "The working directory of the sandbox."
                          },
                          "tags": {
                            "type": "object",
                            "description": "Key-value tags attached to the named sandbox."
                          },
                          "mounts": {
                            "type": "object",
                            "description": "Key-value pairs of mount path and drive."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The time when the named sandbox was created, in milliseconds since the epoch."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The time when the named sandbox was last updated, in milliseconds since the epoch."
                          },
                          "expiresAt": {
                            "type": "number",
                            "description": "The time at which the currently running sandbox will time out, in milliseconds since the epoch. Only present while a session is running."
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "required": ["count", "next"],
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createANamedSandbox",
        "summary": "Create a named sandbox",
        "description": "Creates a named sandbox environment. Named sandboxes have a unique name within a project and support automatic snapshotting on shutdown.",
        "tags": ["sandboxes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/sandboxes/create-a-named-sandbox",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "networkPolicy": {
                    "oneOf": [
                      {
                        "type": "object",
                        "description": "Network access policy for the sandbox.\\n    Controls which external hosts the sandbox can communicate with.\\n    Use \\\"allow-all\\\" mode to allow all traffic, \\\"deny-all\\\" to block all traffic or \\\"custom\\\" to provide specific rules.",
                        "required": ["mode"],
                        "properties": {
                          "mode": {
                            "type": "string",
                            "description": "The network access policy mode. Use \\\"allow-all\\\" to permit all outbound traffic. Use \\\"deny-all\\\" to block all outbound traffic. Use \\\"custom\\\" to specify explicit allow/deny rules.",
                            "enum": [
                              "allow-all",
                              "deny-all",
                              "custom",
                              "default-allow",
                              "default-deny"
                            ]
                          },
                          "allowedDomains": {
                            "type": "array",
                            "description": "List of domain names the sandbox is allowed to connect to. Only applies when mode is \\\"custom\\\". Supports wildcard patterns (e.g., \\\"*.example.com\\\" matches all subdomains)."
                          },
                          "allowedCIDRs": {
                            "type": "array",
                            "description": "List of IP address ranges (in CIDR notation) the sandbox is allowed to connect to. Traffic to these addresses bypasses domain-based restrictions."
                          },
                          "deniedCIDRs": {
                            "type": "array",
                            "description": "List of IP address ranges (in CIDR notation) the sandbox is blocked from connecting to. These rules take precedence over all allowed rules."
                          },
                          "injectionRules": {
                            "type": "array",
                            "description": "HTTP header injection rules for outgoing requests matching specific domains. Traffic to matching domains will be intercepted instead of proxied through encrypted connections."
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "allow": {},
                          "subnets": {
                            "type": "object"
                          }
                        }
                      }
                    ]
                  },
                  "runtime": {
                    "type": "string",
                    "description": "The runtime environment for the sandbox. Determines the pre-installed language runtimes and tools available.",
                    "enum": ["node22", "node24", "node26", "python3.13"],
                    "default": "node24"
                  },
                  "resources": {
                    "type": "object",
                    "description": "Resources to define the VM",
                    "properties": {
                      "vcpus": {
                        "type": "integer",
                        "description": "The number of virtual CPUs to allocate to the sandbox. Must be 1, or an even number.",
                        "minimum": 1,
                        "default": 2
                      },
                      "memory": {
                        "type": "integer",
                        "description": "The amount of memory in megabytes to allocate to the sandbox. Must equal vcpus * 2048.",
                        "minimum": 2048
                      }
                    }
                  },
                  "source": {
                    "description": "The source from which to initialize the sandbox filesystem. Can be a Git repository, a tarball URL, or an existing snapshot.",
                    "oneOf": [
                      {
                        "type": "object",
                        "description": "Clone a Git repository into the sandbox.",
                        "required": ["type", "url"],
                        "properties": {
                          "type": {
                            "description": "Indicates the source is a Git repository."
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL of the Git repository to clone.",
                            "format": "uri"
                          },
                          "username": {
                            "type": "string",
                            "description": "Username for Git authentication. Required together with password for private repositories."
                          },
                          "password": {
                            "type": "string",
                            "description": "Password or personal access token for Git authentication. Required together with username for private repositories."
                          },
                          "depth": {
                            "type": "integer",
                            "description": "Create a shallow clone with history truncated to the specified number of commits. Useful for faster cloning of large repositories.",
                            "minimum": 1
                          },
                          "revision": {
                            "type": "string",
                            "description": "The specific commit SHA, branch name, or tag to checkout after cloning."
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Download and extract a gzipped tarball into the sandbox.",
                        "required": ["type", "url"],
                        "properties": {
                          "type": {
                            "description": "Indicates the source is a tarball."
                          },
                          "url": {
                            "type": "string",
                            "description": "URL of a gzipped tarball (.tar.gz) to download and extract.",
                            "format": "uri"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Restore the sandbox filesystem from an existing snapshot.",
                        "required": ["type", "snapshotId"],
                        "properties": {
                          "type": {
                            "description": "Indicates the source is a snapshot."
                          },
                          "snapshotId": {
                            "type": "string",
                            "description": "The unique identifier of the snapshot to restore."
                          }
                        }
                      }
                    ]
                  },
                  "projectId": {
                    "type": "string",
                    "description": "The target project slug or ID in which the sandbox will be assigned to."
                  },
                  "ports": {
                    "type": "array",
                    "description": "List of ports to expose from the sandbox. Each port will be accessible via a unique URL. Maximum of 15 ports can be exposed.",
                    "items": {
                      "type": "integer",
                      "description": "A port number to expose from the sandbox. Must be between 1024 and 65535.",
                      "minimum": 1024,
                      "maximum": 65535
                    }
                  },
                  "image": {
                    "type": "string",
                    "description": "Image to use for the sandbox.",
                    "maxLength": 255
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Maximum duration in milliseconds that the sandbox can run before being automatically stopped.",
                    "minimum": 1000
                  },
                  "env": {
                    "type": "object",
                    "description": "Default environment variables for the sandbox. These are inherited by all commands unless overridden.",
                    "default": {},
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "mounts": {
                    "type": "object",
                    "description": "List of drives to mount to the sandbox at the provided path.",
                    "additionalProperties": {
                      "type": "object",
                      "required": ["drive"],
                      "properties": {
                        "drive": {
                          "type": "string",
                          "description": "Name of the drive to mount. The drive must already exist.",
                          "pattern": "^[a-zA-Z0-9_-]+$",
                          "maxLength": 64
                        },
                        "mode": {
                          "type": "string",
                          "description": "Mount the drive read-only or read-write.",
                          "enum": ["read-only", "read-write"],
                          "default": "read-write"
                        }
                      }
                    }
                  },
                  "name": {
                    "type": "string",
                    "description": "Name for the sandbox. Must be unique per project and URL-safe (alphanumeric, hyphens, underscores).",
                    "pattern": "^[a-zA-Z0-9_-]+$",
                    "maxLength": 128
                  },
                  "persistent": {
                    "type": "boolean",
                    "description": "Whether the sandbox persists its state across restarts via automatic snapshots. Defaults to true.",
                    "default": true
                  },
                  "snapshotExpiration": {
                    "description": "Default snapshot expiration time in milliseconds. Set to 0 to disable expiration. When set, this value is used as the default expiration for all snapshots created for this sandbox.",
                    "oneOf": [
                      {},
                      {
                        "type": "integer"
                      }
                    ]
                  },
                  "keepLastSnapshots": {
                    "type": "object",
                    "description": "Protect the N most recent snapshots with different expiration/deletion behavior.",
                    "required": ["count"],
                    "properties": {
                      "count": {
                        "type": "integer",
                        "description": "Number of most recent snapshots to keep.",
                        "minimum": 1,
                        "maximum": 10
                      },
                      "expiration": {
                        "description": "Expiration time in milliseconds for kept snapshots. Falls back to snapshotExpiration.",
                        "oneOf": [
                          {},
                          {
                            "type": "integer"
                          }
                        ]
                      },
                      "deleteEvicted": {
                        "type": "boolean",
                        "description": "Whether to immediately delete evicted snapshots. Defaults to true."
                      }
                    }
                  },
                  "tags": {
                    "type": "object",
                    "description": "Key-value tags to associate with the sandbox. Maximum 5 tags.",
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 256
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["routes", "sandbox", "session"],
                  "properties": {
                    "sandbox": {
                      "type": "object",
                      "description": "This object contains information related to a Vercel NamedSandbox.",
                      "required": [
                        "createdAt",
                        "currentSessionId",
                        "name",
                        "persistent",
                        "status",
                        "statusUpdatedAt",
                        "updatedAt"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The unique identifier of the sandbox."
                        },
                        "currentSnapshotId": {
                          "type": "string",
                          "description": "Current snapshot ID that the named sandbox is pointing to."
                        },
                        "currentSessionId": {
                          "type": "string",
                          "description": "Current session ID the sandbox is pointing to."
                        },
                        "status": {
                          "type": "string",
                          "description": "The status of the current sandbox.",
                          "enum": ["running", "stopped", "stopping"]
                        },
                        "statusUpdatedAt": {
                          "type": "number",
                          "description": "The time when the sandbox status was last updated, in milliseconds since the epoch."
                        },
                        "persistent": {
                          "type": "boolean",
                          "description": "Whether the sandbox persists its state across restarts via automatic snapshots.",
                          "enum": [false, true]
                        },
                        "region": {
                          "type": "string",
                          "description": "The region the sandbox is configured to run in: the region set on the sandbox, otherwise the project-level default, then the platform default. Where a running session actually landed is reported by `session.region`."
                        },
                        "vcpus": {
                          "type": "number",
                          "description": "Number of virtual CPUs allocated."
                        },
                        "memory": {
                          "type": "number",
                          "description": "Memory allocated in MB."
                        },
                        "runtime": {
                          "type": "string",
                          "description": "Runtime identifier."
                        },
                        "image": {
                          "type": "string",
                          "description": "Digest-pinned reference of the container image the sandbox was created from, when it was created from an image (\"{repository}@{manifestDigest}\")."
                        },
                        "timeout": {
                          "type": "number",
                          "description": "Timeout in milliseconds."
                        },
                        "snapshotExpiration": {
                          "type": "number",
                          "description": "Default snapshot expiration time in milliseconds. 0 means no expiration."
                        },
                        "keepLastSnapshots": {
                          "type": "object",
                          "description": "Keep-last snapshot configuration.",
                          "required": ["count", "deleteEvicted"],
                          "properties": {
                            "count": {
                              "type": "number",
                              "description": "Number of most recent snapshots to keep."
                            },
                            "expiration": {
                              "type": "number",
                              "description": "Expiration time in milliseconds for kept snapshots."
                            },
                            "deleteEvicted": {
                              "type": "boolean",
                              "description": "Whether to immediately delete evicted snapshots.",
                              "enum": [false, true]
                            }
                          }
                        },
                        "networkPolicy": {
                          "type": "object",
                          "description": "Network policy configuration.",
                          "required": ["mode"],
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": [
                                "allow-all",
                                "custom",
                                "default-allow",
                                "default-deny",
                                "deny-all"
                              ]
                            },
                            "allowedDomains": {
                              "type": "array"
                            },
                            "allowedCIDRs": {
                              "type": "array"
                            },
                            "deniedCIDRs": {
                              "type": "array"
                            }
                          }
                        },
                        "totalEgressBytes": {
                          "type": "number",
                          "description": "Cumulative egress bytes across all sandbox runs."
                        },
                        "totalIngressBytes": {
                          "type": "number",
                          "description": "Cumulative ingress bytes across all sandbox runs."
                        },
                        "totalActiveCpuDurationMs": {
                          "type": "number",
                          "description": "Cumulative active CPU duration in milliseconds across all sandbox runs."
                        },
                        "totalDurationMs": {
                          "type": "number",
                          "description": "Cumulative wall-clock duration in milliseconds across all sandbox runs."
                        },
                        "cwd": {
                          "type": "string",
                          "description": "The working directory of the sandbox."
                        },
                        "tags": {
                          "type": "object",
                          "description": "Key-value tags attached to the named sandbox.",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "mounts": {
                          "type": "object",
                          "description": "Key-value pairs of mount path and drive.",
                          "additionalProperties": {
                            "type": "object",
                            "description": "Key-value pairs of mount path and drive.",
                            "required": ["drive"]
                          }
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "The time when the named sandbox was created, in milliseconds since the epoch."
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "The time when the named sandbox was last updated, in milliseconds since the epoch."
                        },
                        "expiresAt": {
                          "type": "number",
                          "description": "The time at which the currently running sandbox will time out, in milliseconds since the epoch. Only present while a session is running."
                        }
                      }
                    },
                    "session": {
                      "type": "object",
                      "description": "This object contains information related to a Vercel Sandbox Session. v2 endpoints return \"session\" instead of \"sandbox\" as the response wrapper key.",
                      "required": [
                        "createdAt",
                        "cwd",
                        "id",
                        "memory",
                        "projectId",
                        "region",
                        "requestedAt",
                        "runtime",
                        "sourceSandboxName",
                        "status",
                        "timeout",
                        "updatedAt",
                        "vcpus"
                      ],
                      "properties": {
                        "sourceSandboxName": {
                          "type": "string",
                          "description": "The name of the source sandbox."
                        },
                        "projectId": {
                          "type": "string",
                          "description": "The unique identifier of the project associated with this session."
                        },
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the sandbox."
                        },
                        "memory": {
                          "type": "number",
                          "description": "Memory allocated to this sandbox in MB."
                        },
                        "vcpus": {
                          "type": "number",
                          "description": "Number of vCPUs allocated to this sandbox."
                        },
                        "region": {
                          "type": "string",
                          "description": "The region where the sandbox is hosted."
                        },
                        "runtime": {
                          "type": "string",
                          "description": "The runtime of the sandbox."
                        },
                        "timeout": {
                          "type": "number",
                          "description": "The maximum amount of time the sandbox will run for in milliseconds."
                        },
                        "status": {
                          "type": "string",
                          "description": "The status of the sandbox.",
                          "enum": [
                            "aborted",
                            "failed",
                            "pending",
                            "running",
                            "snapshotting",
                            "stopped",
                            "stopping"
                          ]
                        },
                        "requestedAt": {
                          "type": "number",
                          "description": "The time when the sandbox was requested, in milliseconds since the epoch."
                        },
                        "startedAt": {
                          "type": "number",
                          "description": "The time when the sandbox was started, in milliseconds since the epoch."
                        },
                        "cwd": {
                          "type": "string",
                          "description": "The working directory of the sandbox."
                        },
                        "requestedStopAt": {
                          "type": "number",
                          "description": "The time when the sandbox was requested to stop, in milliseconds since the epoch."
                        },
                        "stoppedAt": {
                          "type": "number",
                          "description": "The time when the sandbox was stopped, in milliseconds since the epoch."
                        },
                        "abortedAt": {
                          "type": "number",
                          "description": "The time when the sandbox was aborted, in milliseconds since the epoch."
                        },
                        "duration": {
                          "type": "number",
                          "description": "The duration of the sandbox in milliseconds."
                        },
                        "sourceSnapshotId": {
                          "type": "string",
                          "description": "The unique identifier of the snapshot associated with this sandbox, if any."
                        },
                        "snapshottedAt": {
                          "type": "number",
                          "description": "The time when a snapshot was requested, in milliseconds since the epoch."
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "The time when the sandbox was created, in milliseconds since the epoch."
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "The last time the sandbox was updated, in milliseconds since the epoch."
                        },
                        "networkPolicy": {
                          "type": "object",
                          "description": "The network policy applied to this sandbox, if any.",
                          "required": ["mode"],
                          "properties": {
                            "mode": {
                              "type": "string",
                              "description": "The network policy mode. - 'allow-all': All traffic is allowed. - 'deny-all': All traffic is blocked. - 'custom': Traffic is controlled by explicit allow/deny rules.",
                              "enum": ["allow-all", "custom", "deny-all"]
                            },
                            "allowedDomains": {
                              "type": "array",
                              "description": "List of domain names the sandbox is allowed to connect to. Supports wildcard patterns (e.g., \"*.vercel.com\" matches all subdomains)."
                            },
                            "allowedCIDRs": {
                              "type": "array",
                              "description": "List of IP address ranges (in CIDR notation) the sandbox is allowed to connect to."
                            },
                            "deniedCIDRs": {
                              "type": "array",
                              "description": "List of IP address ranges (in CIDR notation) the sandbox is blocked from connecting to. These rules take precedence over all allowed rules."
                            },
                            "injectionRules": {
                              "type": "array",
                              "description": "HTTP header injection rules for outgoing requests matching specific domains."
                            }
                          }
                        },
                        "activeCpuDurationMs": {
                          "type": "number",
                          "description": "The amount of CPU time the sandbox consumed, if available, in milliseconds. This value is only available once the sandbox is stopped, and only if it stopped successfully."
                        },
                        "networkTransfer": {
                          "type": "object",
                          "description": "The quantity of data transfered to and from the sandbox, in bytes. This value is only available once the sandbox is stopped, and only if it stopped successfully.",
                          "required": ["egress", "ingress"],
                          "properties": {
                            "ingress": {
                              "type": "number"
                            },
                            "egress": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    },
                    "routes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "This object represents a public route in a Vercel Sandbox.",
                        "required": ["port", "subdomain", "url"],
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "A public URL to access the corresponding port in the Sandbox."
                          },
                          "port": {
                            "type": "number",
                            "description": "The user port number that the route is mapped to."
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "The subdomain assigned to this route."
                          },
                          "system": {
                            "type": "boolean",
                            "description": "Whether the route is reserved by the system (e.g. for internal use).",
                            "enum": [true]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "422": {
            "description": ""
          },
          "429": {
            "description": "The concurrency limit has been exceeded."
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v2/sandboxes/drives": {
      "get": {
        "operationId": "listDrives",
        "summary": "List drives",
        "description": "Retrieves a paginated list of drives belonging to a specific project. Drives are in private beta. Register your interest to get access: https://vercel.com/changelog/drives-for-vercel-sandbox-in-private-beta",
        "tags": ["sandboxes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/sandboxes/list-drives",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "The project ID or name associated with the drives. Required unless using a Vercel OIDC token scoped to a project.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of drives to return in the response. Used for pagination.",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort drives by.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["createdAt", "updatedAt", "name"],
              "default": "createdAt"
            }
          },
          {
            "name": "namePrefix",
            "in": "query",
            "description": "Filter drives whose name starts with this prefix. Only valid when sortBy=name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction for results.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["drives", "pagination"],
                  "properties": {
                    "drives": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "This object contains information related to a Vercel Sandbox Drive.",
                        "required": [
                          "createdAt",
                          "maxSizeBytes",
                          "name",
                          "projectId",
                          "region",
                          "updatedAt"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The unique drive name within the project."
                          },
                          "projectId": {
                            "type": "string",
                            "description": "The project that owns the drive."
                          },
                          "maxSizeBytes": {
                            "type": "number",
                            "description": "The maximum drive size in bytes."
                          },
                          "region": {
                            "type": "string",
                            "description": "The region where the drive is stored."
                          },
                          "currentSessionId": {
                            "type": "string",
                            "description": "Current session ID the drive is attached to, if any."
                          },
                          "currentSandboxName": {
                            "type": "string",
                            "description": "Current sandbox name the drive is attached to, if any."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The time when the drive was created, in milliseconds since the epoch."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The last time the drive was updated, in milliseconds since the epoch."
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "required": ["count", "next"],
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "next": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          }
        }
      }
    },
    "/v2/sandboxes/drives/{name}": {
      "post": {
        "operationId": "getOrCreateADrive",
        "summary": "Get or create a drive",
        "description": "Gets an existing drive by project and name, or creates it when it does not exist. Drives are in private beta. Register your interest to get access: https://vercel.com/changelog/drives-for-vercel-sandbox-in-private-beta",
        "tags": ["sandboxes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/sandboxes/get-or-create-a-drive",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name for the drive. Must be unique per project and URL-safe (alphanumeric, hyphens, underscores).",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "The project ID or name to associate the drive with. Required unless using a Vercel OIDC token scoped to a project."
                  },
                  "maxSizeBytes": {
                    "type": "integer",
                    "description": "Maximum drive size in bytes. Defaults to 100 GiB when omitted."
                  },
                  "region": {
                    "type": "string",
                    "description": "Region where the drive is stored. Defaults to iad1.",
                    "enum": ["iad1", "sfo1", "cle1"],
                    "default": "iad1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["drive"],
                  "properties": {
                    "drive": {
                      "type": "object",
                      "description": "This object contains information related to a Vercel Sandbox Drive.",
                      "required": [
                        "createdAt",
                        "maxSizeBytes",
                        "name",
                        "projectId",
                        "region",
                        "updatedAt"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The unique drive name within the project."
                        },
                        "projectId": {
                          "type": "string",
                          "description": "The project that owns the drive."
                        },
                        "maxSizeBytes": {
                          "type": "number",
                          "description": "The maximum drive size in bytes."
                        },
                        "region": {
                          "type": "string",
                          "description": "The region where the drive is stored."
                        },
                        "currentSessionId": {
                          "type": "string",
                          "description": "Current session ID the drive is attached to, if any."
                        },
                        "currentSandboxName": {
                          "type": "string",
                          "description": "Current sandbox name the drive is attached to, if any."
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "The time when the drive was created, in milliseconds since the epoch."
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "The last time the drive was updated, in milliseconds since the epoch."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["drive"],
                  "properties": {
                    "drive": {
                      "type": "object",
                      "description": "This object contains information related to a Vercel Sandbox Drive.",
                      "required": [
                        "createdAt",
                        "maxSizeBytes",
                        "name",
                        "projectId",
                        "region",
                        "updatedAt"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The unique drive name within the project."
                        },
                        "projectId": {
                          "type": "string",
                          "description": "The project that owns the drive."
                        },
                        "maxSizeBytes": {
                          "type": "number",
                          "description": "The maximum drive size in bytes."
                        },
                        "region": {
                          "type": "string",
                          "description": "The region where the drive is stored."
                        },
                        "currentSessionId": {
                          "type": "string",
                          "description": "Current session ID the drive is attached to, if any."
                        },
                        "currentSandboxName": {
                          "type": "string",
                          "description": "Current sandbox name the drive is attached to, if any."
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "The time when the drive was created, in milliseconds since the epoch."
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "The last time the drive was updated, in milliseconds since the epoch."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteADrive",
        "summary": "Delete a drive",
        "description": "Deletes a drive by project and name. Attached drives cannot be deleted. Stop or replace the session currently using the drive before retrying deletion. Drives are in private beta. Register your interest to get access: https://vercel.com/changelog/drives-for-vercel-sandbox-in-private-beta",
        "tags": ["sandboxes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/sandboxes/delete-a-drive",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name for the drive. Must be unique per project and URL-safe (alphanumeric, hyphens, underscores).",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "The project ID or name associated with the drive. Required unless using a Vercel OIDC token scoped to a project.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["drive"],
                  "properties": {
                    "drive": {
                      "type": "object",
                      "description": "This object contains information related to a Vercel Sandbox Drive.",
                      "required": [
                        "createdAt",
                        "maxSizeBytes",
                        "name",
                        "projectId",
                        "region",
                        "updatedAt"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The unique drive name within the project."
                        },
                        "projectId": {
                          "type": "string",
                          "description": "The project that owns the drive."
                        },
                        "maxSizeBytes": {
                          "type": "number",
                          "description": "The maximum drive size in bytes."
                        },
                        "region": {
                          "type": "string",
                          "description": "The region where the drive is stored."
                        },
                        "currentSessionId": {
                          "type": "string",
                          "description": "Current session ID the drive is attached to, if any."
                        },
                        "currentSandboxName": {
                          "type": "string",
                          "description": "Current sandbox name the drive is attached to, if any."
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "The time when the drive was created, in milliseconds since the epoch."
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "The last time the drive was updated, in milliseconds since the epoch."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          }
        }
      }
    },
    "/v2/sandboxes/snapshots": {
      "get": {
        "operationId": "listSnapshots",
        "summary": "List snapshots",
        "description": "Retrieves a paginated list of snapshots for a specific project.",
        "tags": ["sandboxes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/sandboxes/list-snapshots",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "The unique identifier or name of the project to list snapshots for.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name for the sandbox. Must be unique per project and URL-safe (alphanumeric, hyphens, underscores).",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of snapshots to return in the response. Used for pagination.",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction for results by creation time.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object"
                    },
                    {
                      "type": "object",
                      "required": ["pagination", "snapshots"],
                      "properties": {
                        "snapshots": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "This object contains information related to a Snapshot of a Vercel Sandbox session (v2 API).",
                            "required": [
                              "createdAt",
                              "id",
                              "lastUsedAt",
                              "sizeBytes",
                              "sourceSessionId",
                              "status",
                              "updatedAt"
                            ]
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "required": ["count", "next"],
                          "properties": {
                            "count": {
                              "type": "number"
                            },
                            "next": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          }
        }
      }
    },
    "/v2/sandboxes/snapshots/{snapshotId}": {
      "get": {
        "operationId": "getASnapshot",
        "summary": "Get a snapshot",
        "description": "Retrieves detailed information about a specific snapshot, including its creation time, size, expiration date, and the source session it was created from.",
        "tags": ["sandboxes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/sandboxes/get-a-snapshot",
        "parameters": [
          {
            "name": "snapshotId",
            "in": "path",
            "description": "The unique identifier of the snapshot to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["snapshot"],
                  "properties": {
                    "snapshot": {
                      "type": "object",
                      "description": "This object contains information related to a Snapshot of a Vercel Sandbox session (v2 API).",
                      "required": [
                        "createdAt",
                        "id",
                        "lastUsedAt",
                        "sizeBytes",
                        "sourceSessionId",
                        "status",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the snapshot."
                        },
                        "sourceSessionId": {
                          "type": "string",
                          "description": "The unique identifier of the session from which the snapshot was created."
                        },
                        "region": {
                          "type": "string",
                          "description": "The region where the snapshot is stored."
                        },
                        "status": {
                          "type": "string",
                          "description": "The status of the snapshot.",
                          "enum": ["created", "deleted", "failed"]
                        },
                        "sizeBytes": {
                          "type": "number",
                          "description": "The size of the snapshot in bytes."
                        },
                        "expiresAt": {
                          "type": "number",
                          "description": "The time when the snapshot will expire, in milliseconds since the epoch. If not set, the snapshot does not have any expiration."
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "The time when the snapshot was created, in milliseconds since the epoch."
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "The last time the snapshot was updated, in milliseconds since the epoch."
                        },
                        "lastUsedAt": {
                          "type": "number",
                          "description": "The last time the snapshot was used (e.g. to resume or create a sandbox), in milliseconds since the epoch. Falls back to `createdAt` for older snapshots that predate this field."
                        },
                        "creationMethod": {
                          "type": "string",
                          "description": "The method used to create the snapshot.",
                          "enum": ["automatic", "manual"]
                        },
                        "parentId": {
                          "type": "string",
                          "description": "The unique identifier of the parent snapshot, if this snapshot was created from another snapshot."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "deleteASnapshot",
        "summary": "Delete a snapshot",
        "description": "Permanently deletes a snapshot and frees its associated storage. This action cannot be undone. After deletion, the snapshot can no longer be used to create new sessions.",
        "tags": ["sandboxes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/sandboxes/delete-a-snapshot",
        "parameters": [
          {
            "name": "snapshotId",
            "in": "path",
            "description": "The unique identifier of the snapshot to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["snapshot"],
                  "properties": {
                    "snapshot": {
                      "type": "object",
                      "description": "This object contains information related to a Snapshot of a Vercel Sandbox session (v2 API).",
                      "required": [
                        "createdAt",
                        "id",
                        "lastUsedAt",
                        "sizeBytes",
                        "sourceSessionId",
                        "status",
                        "updatedAt"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the snapshot."
                        },
                        "sourceSessionId": {
                          "type": "string",
                          "description": "The unique identifier of the session from which the snapshot was created."
                        },
                        "region": {
                          "type": "string",
                          "description": "The region where the snapshot is stored."
                        },
                        "status": {
                          "type": "string",
                          "description": "The status of the snapshot.",
                          "enum": ["created", "deleted", "failed"]
                        },
                        "sizeBytes": {
                          "type": "number",
                          "description": "The size of the snapshot in bytes."
                        },
                        "expiresAt": {
                          "type": "number",
                          "description": "The time when the snapshot will expire, in milliseconds since the epoch. If not set, the snapshot does not have any expiration."
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "The time when the snapshot was created, in milliseconds since the epoch."
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "The last time the snapshot was updated, in milliseconds since the epoch."
                        },
                        "lastUsedAt": {
                          "type": "number",
                          "description": "The last time the snapshot was used (e.g. to resume or create a sandbox), in milliseconds since the epoch. Falls back to `createdAt` for older snapshots that predate this field."
                        },
                        "creationMethod": {
                          "type": "string",
                          "description": "The method used to create the snapshot.",
                          "enum": ["automatic", "manual"]
                        },
                        "parentId": {
                          "type": "string",
                          "description": "The unique identifier of the parent snapshot, if this snapshot was created from another snapshot."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          }
        }
      }
    },
    "/v2/sandboxes/sessions": {
      "get": {
        "operationId": "listSessions",
        "summary": "List sessions",
        "description": "Retrieves a paginated list of sessions belonging to a specific sandbox. Results are sorted by creation time and paginated using an opaque cursor.",
        "tags": ["sandboxes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/sandboxes/list-sessions",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "The unique identifier or name of the project to list sessions for.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter sessions by sandbox name. Only sessions belonging to the specified sandbox are returned.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of sessions to return in the response. Used for pagination.",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction for results by creation time.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of sessions matching the request filters.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object"
                    },
                    {
                      "type": "object",
                      "required": ["pagination", "sessions"],
                      "properties": {
                        "sessions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "This object contains information related to a Vercel Sandbox Session. v2 endpoints return \"session\" instead of \"sandbox\" as the response wrapper key.",
                            "required": [
                              "createdAt",
                              "cwd",
                              "id",
                              "memory",
                              "projectId",
                              "region",
                              "requestedAt",
                              "runtime",
                              "sourceSandboxName",
                              "status",
                              "timeout",
                              "updatedAt",
                              "vcpus"
                            ]
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "required": ["count", "next"],
                          "properties": {
                            "count": {
                              "type": "number"
                            },
                            "next": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v2/sandboxes/sessions/{sessionId}": {
      "get": {
        "operationId": "getASession",
        "summary": "Get a session",
        "description": "Retrieves detailed information about a specific session, including its current status, resource configuration, and exposed routes.",
        "tags": ["sandboxes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/sandboxes/get-a-session",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "The unique identifier of the session to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The session was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["routes", "session"],
                  "properties": {
                    "session": {
                      "type": "object",
                      "description": "This object contains information related to a Vercel Sandbox Session. v2 endpoints return \"session\" instead of \"sandbox\" as the response wrapper key.",
                      "required": [
                        "createdAt",
                        "cwd",
                        "id",
                        "memory",
                        "projectId",
                        "region",
                        "requestedAt",
                        "runtime",
                        "sourceSandboxName",
                        "status",
                        "timeout",
                        "updatedAt",
                        "vcpus"
                      ],
                      "properties": {
                        "sourceSandboxName": {
                          "type": "string",
                          "description": "The name of the source sandbox."
                        },
                        "projectId": {
                          "type": "string",
                          "description": "The unique identifier of the project associated with this session."
                        },
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the sandbox."
                        },
                        "memory": {
                          "type": "number",
                          "description": "Memory allocated to this sandbox in MB."
                        },
                        "vcpus": {
                          "type": "number",
                          "description": "Number of vCPUs allocated to this sandbox."
                        },
                        "region": {
                          "type": "string",
                          "description": "The region where the sandbox is hosted."
                        },
                        "runtime": {
                          "type": "string",
                          "description": "The runtime of the sandbox."
                        },
                        "timeout": {
                          "type": "number",
                          "description": "The maximum amount of time the sandbox will run for in milliseconds."
                        },
                        "status": {
                          "type": "string",
                          "description": "The status of the sandbox.",
                          "enum": [
                            "aborted",
                            "failed",
                            "pending",
                            "running",
                            "snapshotting",
                            "stopped",
                            "stopping"
                          ]
                        },
                        "requestedAt": {
                          "type": "number",
                          "description": "The time when the sandbox was requested, in milliseconds since the epoch."
                        },
                        "startedAt": {
                          "type": "number",
                          "description": "The time when the sandbox was started, in milliseconds since the epoch."
                        },
                        "cwd": {
                          "type": "string",
                          "description": "The working directory of the sandbox."
                        },
                        "requestedStopAt": {
                          "type": "number",
                          "description": "The time when the sandbox was requested to stop, in milliseconds since the epoch."
                        },
                        "stoppedAt": {
                          "type": "number",
                          "description": "The time when the sandbox was stopped, in milliseconds since the epoch."
                        },
                        "abortedAt": {
                          "type": "number",
                          "description": "The time when the sandbox was aborted, in milliseconds since the epoch."
                        },
                        "duration": {
                          "type": "number",
                          "description": "The duration of the sandbox in milliseconds."
                        },
                        "sourceSnapshotId": {
                          "type": "string",
                          "description": "The unique identifier of the snapshot associated with this sandbox, if any."
                        },
                        "snapshottedAt": {
                          "type": "number",
                          "description": "The time when a snapshot was requested, in milliseconds since the epoch."
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "The time when the sandbox was created, in milliseconds since the epoch."
                        },
                        "updatedAt": {
                          "type": "number",
                          "description": "The last time the sandbox was updated, in milliseconds since the epoch."
                        },
                        "networkPolicy": {
                          "type": "object",
                          "description": "The network policy applied to this sandbox, if any.",
                          "required": ["mode"],
                          "properties": {
                            "mode": {
                              "type": "string",
                              "description": "The network policy mode. - 'allow-all': All traffic is allowed. - 'deny-all': All traffic is blocked. - 'custom': Traffic is controlled by explicit allow/deny rules.",
                              "enum": ["allow-all", "custom", "deny-all"]
                            },
                            "allowedDomains": {
                              "type": "array",
                              "description": "List of domain names the sandbox is allowed to connect to. Supports wildcard patterns (e.g., \"*.vercel.com\" matches all subdomains)."
                            },
                            "allowedCIDRs": {
                              "type": "array",
                              "description": "List of IP address ranges (in CIDR notation) the sandbox is allowed to connect to."
                            },
                            "deniedCIDRs": {
                              "type": "array",
                              "description": "List of IP address ranges (in CIDR notation) the sandbox is blocked from connecting to. These rules take precedence over all allowed rules."
                            },
                            "injectionRules": {
                              "type": "array",
                              "description": "HTTP header injection rules for outgoing requests matching specific domains."
                            }
                          }
                        },
                        "activeCpuDurationMs": {
                          "type": "number",
                          "description": "The amount of CPU time the sandbox consumed, if available, in milliseconds. This value is only available once the sandbox is stopped, and only if it stopped successfully."
                        },
                        "networkTransfer": {
                          "type": "object",
                          "description": "The quantity of data transfered to and from the sandbox, in bytes. This value is only available once the sandbox is stopped, and only if it stopped successfully.",
                          "required": ["egress", "ingress"],
                          "properties": {
                            "ingress": {
                              "type": "number"
                            },
                            "egress": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    },
                    "routes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "This object represents a public route in a Vercel Sandbox.",
                        "required": ["port", "subdomain", "url"],
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "A public URL to access the corresponding port in the Sandbox."
                          },
                          "port": {
                            "type": "number",
                            "description": "The user port number that the route is mapped to."
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "The subdomain assigned to this route."
                          },
                          "system": {
                            "type": "boolean",
                            "description": "Whether the route is reserved by the system (e.g. for internal use).",
                            "enum": [true]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v2/sandboxes/{name}": {
      "get": {
        "operationId": "getANamedSandbox",
        "summary": "Get a named sandbox",
        "description": "Retrieves a named sandbox by name, including its current sandbox and routes. If the sandbox is stopped and resume is true, a new sandbox will be created from the most recent snapshot.",
        "tags": ["sandboxes"],
        "x-docs-url": "https://vercel.com/docs/rest-api/sandboxes/get-a-named-sandbox",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name for the sandbox. Must be unique per project and URL-safe (alphanumeric, hyphens, underscores).",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "The project ID or name (required when not using OIDC token).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resume",
            "in": "query",
            "description": "Whether to automatically resume a stopped named sandbox by creating a new instance from its snapshot. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["resumed", "routes", "sandbox", "session"],
                  "properties": {
                    "sandbox": {
                      "type": "object",
                      "description": "This object contains information related to a Vercel NamedSandbox.",
                      "required": [
                        "createdAt",
                        "currentSessionId",
                        "name",
[...]
