{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel security",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/security/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v1/security/attack-mode": {
      "post": {
        "operationId": "updateAttackChallengeMode",
        "summary": "Update Attack Challenge mode",
        "description": "Update the setting for determining if the project has Attack Challenge mode enabled.",
        "tags": ["security"],
        "x-docs-url": "https://vercel.com/docs/rest-api/security/update-attack-challenge-mode",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "oneOf": [
                  {
                    "required": [
                      "projectId",
                      "attackModeEnabled",
                      "attackModeActiveUntil"
                    ],
                    "properties": {
                      "projectId": {
                        "type": "string"
                      },
                      "attackModeEnabled": {
                        "type": "boolean"
                      },
                      "attackModeActiveUntil": {
                        "type": "number"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["projectId", "attackModeEnabled"],
                    "properties": {
                      "projectId": {
                        "type": "string"
                      },
                      "attackModeEnabled": {
                        "type": "boolean"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["attackModeEnabled", "attackModeUpdatedAt"],
                  "properties": {
                    "attackModeEnabled": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "attackModeUpdatedAt": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/security/firewall/config": {
      "get": {
        "operationId": "returnsActivatedWafConfig",
        "summary": "Returns activated WAF config",
        "description": "Lists WAF configs for a project",
        "tags": ["security"],
        "x-docs-url": "https://vercel.com/docs/rest-api/security/returns-activated-waf-config",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["active", "draft", "versions"],
                  "properties": {
                    "active": {
                      "type": "object",
                      "nullable": true,
                      "required": [
                        "changes",
                        "firewallEnabled",
                        "id",
                        "ips",
                        "ownerId",
                        "projectKey",
                        "rules",
                        "updatedAt",
                        "version"
                      ],
                      "properties": {
                        "ownerId": {
                          "type": "string"
                        },
                        "projectKey": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "version": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "firewallEnabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "crs": {
                          "type": "object",
                          "required": [
                            "gen",
                            "java",
                            "lfi",
                            "ma",
                            "php",
                            "rce",
                            "rfi",
                            "sd",
                            "sf",
                            "sqli",
                            "xss"
                          ],
                          "properties": {
                            "sd": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "ma": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "lfi": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "rfi": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "rce": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "php": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "gen": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "xss": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "sqli": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "sf": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "java": {
                              "type": "object",
                              "required": ["action", "active"]
                            }
                          }
                        },
                        "rules": {
                          "type": "array",
                          "items": {}
                        },
                        "ips": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["action", "hostname", "id", "ip"]
                          }
                        },
                        "rulesets": {
                          "oneOf": [
                            {
                              "type": "array"
                            },
                            {
                              "type": "object"
                            }
                          ]
                        },
                        "changes": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "managedRules": {
                          "type": "object",
                          "properties": {
                            "bot_protection": {
                              "type": "object",
                              "required": ["active"]
                            },
                            "ai_bots": {
                              "type": "object",
                              "required": ["active"]
                            },
                            "owasp": {
                              "type": "object",
                              "required": ["active"]
                            },
                            "vercel_ruleset": {
                              "type": "object",
                              "required": ["active"]
                            },
                            "traffic_sources": {
                              "type": "object",
                              "required": ["active"]
                            }
                          }
                        },
                        "botIdEnabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "logHeaders": {
                          "oneOf": [
                            {
                              "type": "array"
                            },
                            {
                              "type": "string",
                              "enum": ["*"]
                            }
                          ]
                        }
                      }
                    },
                    "draft": {
                      "type": "object",
                      "nullable": true,
                      "required": [
                        "changes",
                        "firewallEnabled",
                        "id",
                        "ips",
                        "ownerId",
                        "projectKey",
                        "rules",
                        "updatedAt",
                        "version"
                      ],
                      "properties": {
                        "ownerId": {
                          "type": "string"
                        },
                        "projectKey": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "version": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "firewallEnabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "crs": {
                          "type": "object",
                          "required": [
                            "gen",
                            "java",
                            "lfi",
                            "ma",
                            "php",
                            "rce",
                            "rfi",
                            "sd",
                            "sf",
                            "sqli",
                            "xss"
                          ],
                          "properties": {
                            "sd": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "ma": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "lfi": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "rfi": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "rce": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "php": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "gen": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "xss": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "sqli": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "sf": {
                              "type": "object",
                              "required": ["action", "active"]
                            },
                            "java": {
                              "type": "object",
                              "required": ["action", "active"]
                            }
                          }
                        },
                        "rules": {
                          "type": "array",
                          "items": {}
                        },
                        "ips": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["action", "hostname", "id", "ip"]
                          }
                        },
                        "rulesets": {
                          "oneOf": [
                            {
                              "type": "array"
                            },
                            {
                              "type": "object"
                            }
                          ]
                        },
                        "changes": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "managedRules": {
                          "type": "object",
                          "properties": {
                            "bot_protection": {
                              "type": "object",
                              "required": ["active"]
                            },
                            "ai_bots": {
                              "type": "object",
                              "required": ["active"]
                            },
                            "owasp": {
                              "type": "object",
                              "required": ["active"]
                            },
                            "vercel_ruleset": {
                              "type": "object",
                              "required": ["active"]
                            },
                            "traffic_sources": {
                              "type": "object",
                              "required": ["active"]
                            }
                          }
                        },
                        "botIdEnabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "logHeaders": {
                          "oneOf": [
                            {
                              "type": "array"
                            },
                            {
                              "type": "string",
                              "enum": ["*"]
                            }
                          ]
                        }
                      }
                    },
                    "versions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "changes",
                          "firewallEnabled",
                          "id",
                          "ips",
                          "ownerId",
                          "projectKey",
                          "rules",
                          "updatedAt",
                          "version"
                        ],
                        "properties": {
                          "ownerId": {
                            "type": "string"
                          },
                          "projectKey": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "version": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "firewallEnabled": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "crs": {
                            "type": "object",
                            "required": [
                              "gen",
                              "java",
                              "lfi",
                              "ma",
                              "php",
                              "rce",
                              "rfi",
                              "sd",
                              "sf",
                              "sqli",
                              "xss"
                            ]
                          },
                          "rules": {
                            "type": "array"
                          },
                          "ips": {
                            "type": "array"
                          },
                          "rulesets": {},
                          "changes": {
                            "type": "array"
                          },
                          "managedRules": {
                            "type": "object"
                          },
                          "botIdEnabled": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "logHeaders": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "putFirewallConfiguration",
        "summary": "Put Firewall Configuration",
        "description": "Set the firewall configuration to provided rules and settings. Creates or overwrite the existing firewall configuration.",
        "tags": ["security"],
        "x-docs-url": "https://vercel.com/docs/rest-api/security/put-firewall-configuration",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["firewallEnabled"],
                "properties": {
                  "firewallEnabled": {
                    "type": "boolean"
                  },
                  "managedRules": {
                    "type": "object"
                  },
                  "crs": {
                    "type": "object",
                    "description": "Custom Ruleset",
                    "properties": {
                      "sd": {
                        "type": "object",
                        "description": "Scanner Detection - Detect and prevent reconnaissance activities from network scanning tools.",
                        "required": ["active", "action"],
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["deny", "log"]
                          }
                        }
                      },
                      "ma": {
                        "type": "object",
                        "description": "Multipart Attack - Block attempts to bypass security controls using multipart/form-data encoding.",
                        "required": ["active", "action"],
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["deny", "log"]
                          }
                        }
                      },
                      "lfi": {
                        "type": "object",
                        "description": "Local File Inclusion Attack - Prevent unauthorized access to local files through web applications.",
                        "required": ["active", "action"],
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["deny", "log"]
                          }
                        }
                      },
                      "rfi": {
                        "type": "object",
                        "description": "Remote File Inclusion Attack - Prohibit unauthorized upload or execution of remote files.",
                        "required": ["active", "action"],
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["deny", "log"]
                          }
                        }
                      },
                      "rce": {
                        "type": "object",
                        "description": "Remote Execution Attack - Prevent unauthorized execution of remote scripts or commands.",
                        "required": ["active", "action"],
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["deny", "log"]
                          }
                        }
                      },
                      "php": {
                        "type": "object",
                        "description": "PHP Attack - Safeguard against vulnerability exploits in PHP-based applications.",
                        "required": ["active", "action"],
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["deny", "log"]
                          }
                        }
                      },
                      "gen": {
                        "type": "object",
                        "description": "Generic Attack - Provide broad protection from various undefined or novel attack vectors.",
                        "required": ["active", "action"],
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["deny", "log"]
                          }
                        }
                      },
                      "xss": {
                        "type": "object",
                        "description": "XSS Attack - Prevent injection of malicious scripts into trusted webpages.",
                        "required": ["active", "action"],
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["deny", "log"]
                          }
                        }
                      },
                      "sqli": {
                        "type": "object",
                        "description": "SQL Injection Attack - Prohibit unauthorized use of SQL commands to manipulate databases.",
                        "required": ["active", "action"],
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["deny", "log"]
                          }
                        }
                      },
                      "sf": {
                        "type": "object",
                        "description": "Session Fixation Attack - Prevent unauthorized takeover of user sessions by enforcing unique session IDs.",
                        "required": ["active", "action"],
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["deny", "log"]
                          }
                        }
                      },
                      "java": {
                        "type": "object",
                        "description": "Java Attack - Mitigate risks of exploitation targeting Java-based applications or components.",
                        "required": ["active", "action"],
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["deny", "log"]
                          }
                        }
                      }
                    }
                  },
                  "rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "active",
                        "conditionGroup",
                        "action"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "maxLength": 160
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 256
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "conditionGroup": {
                          "type": "array"
                        },
                        "action": {
                          "type": "object"
                        },
                        "valid": {
                          "type": "boolean"
                        },
                        "validationErrors": {}
                      }
                    }
                  },
                  "rulesets": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": ["name", "active", "conditionGroup"]
                        }
                      },
                      {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "required": ["action"]
                        }
                      }
                    ]
                  },
                  "ips": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["hostname", "ip", "action"],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "hostname": {
                          "type": "string"
                        },
                        "ip": {
                          "type": "string"
                        },
                        "notes": {
                          "type": "string"
                        },
                        "action": {
                          "type": "string",
                          "enum": ["deny", "challenge", "log", "bypass"]
                        }
                      }
                    }
                  },
                  "botIdEnabled": {
                    "type": "boolean"
                  },
                  "logHeaders": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["active"],
                  "properties": {
                    "active": {
                      "type": "object",
                      "required": [
                        "changes",
                        "firewallEnabled",
                        "id",
                        "ips",
                        "ownerId",
                        "projectKey",
                        "rules",
                        "updatedAt",
                        "version"
                      ],
                      "properties": {
                        "ownerId": {
                          "type": "string"
                        },
                        "projectKey": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "version": {
                          "type": "number"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "firewallEnabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "crs": {
                          "type": "object",
                          "description": "Custom Ruleset",
                          "required": [
                            "gen",
                            "java",
                            "lfi",
                            "ma",
                            "php",
                            "rce",
                            "rfi",
                            "sd",
                            "sf",
                            "sqli",
                            "xss"
                          ],
                          "properties": {
                            "sd": {
                              "type": "object",
                              "description": "Scanner Detection - Detect and prevent reconnaissance activities from network scanning tools.",
                              "required": ["action", "active"]
                            },
                            "ma": {
                              "type": "object",
                              "description": "Multipart Attack - Block attempts to bypass security controls using multipart/form-data encoding.",
                              "required": ["action", "active"]
                            },
                            "lfi": {
                              "type": "object",
                              "description": "Local File Inclusion Attack - Prevent unauthorized access to local files through web applications.",
                              "required": ["action", "active"]
                            },
                            "rfi": {
                              "type": "object",
                              "description": "Remote File Inclusion Attack - Prohibit unauthorized upload or execution of remote files.",
                              "required": ["action", "active"]
                            },
                            "rce": {
                              "type": "object",
                              "description": "Remote Execution Attack - Prevent unauthorized execution of remote scripts or commands.",
                              "required": ["action", "active"]
                            },
                            "php": {
                              "type": "object",
                              "description": "PHP Attack - Safeguard against vulnerability exploits in PHP-based applications.",
                              "required": ["action", "active"]
                            },
                            "gen": {
                              "type": "object",
                              "description": "Generic Attack - Provide broad protection from various undefined or novel attack vectors.",
                              "required": ["action", "active"]
                            },
                            "xss": {
                              "type": "object",
                              "description": "XSS Attack - Prevent injection of malicious scripts into trusted webpages.",
                              "required": ["action", "active"]
                            },
                            "sqli": {
                              "type": "object",
                              "description": "SQL Injection Attack - Prohibit unauthorized use of SQL commands to manipulate databases.",
                              "required": ["action", "active"]
                            },
                            "sf": {
                              "type": "object",
                              "description": "Session Fixation Attack - Prevent unauthorized takeover of user sessions by enforcing unique session IDs.",
                              "required": ["action", "active"]
                            },
                            "java": {
                              "type": "object",
                              "description": "Java Attack - Mitigate risks of exploitation targeting Java-based applications or components.",
                              "required": ["action", "active"]
                            }
                          }
                        },
                        "rules": {
                          "type": "array",
                          "items": {}
                        },
                        "ips": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["action", "hostname", "id", "ip"]
                          }
                        },
                        "rulesets": {
                          "oneOf": [
                            {
                              "type": "array"
                            },
                            {
                              "type": "object"
                            }
                          ]
                        },
                        "changes": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "managedRules": {
                          "type": "object",
                          "properties": {
                            "bot_protection": {
                              "type": "object",
                              "required": ["active"]
                            },
                            "ai_bots": {
                              "type": "object",
                              "required": ["active"]
                            },
                            "owasp": {
                              "type": "object",
                              "required": ["active"]
                            },
                            "vercel_ruleset": {
                              "type": "object",
                              "required": ["active"]
                            },
                            "traffic_sources": {
                              "type": "object",
                              "required": ["active"]
                            }
                          }
                        },
                        "botIdEnabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "logHeaders": {
                          "oneOf": [
                            {
                              "type": "array"
                            },
                            {
                              "type": "string",
                              "enum": ["*"]
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateFirewallConfiguration",
        "summary": "Update Firewall Configuration",
        "description": "Process updates to modify the existing firewall config for a project",
        "tags": ["security"],
        "x-docs-url": "https://vercel.com/docs/rest-api/security/update-firewall-configuration",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "description": "Add a ruleset",
                    "required": ["action", "value"],
                    "properties": {
                      "action": {
                        "type": "string",
                        "enum": ["firewallEnabled"]
                      },
                      "id": {
                        "nullable": true
                      },
                      "value": {
                        "type": "object",
                        "required": ["name", "active", "conditionGroup"],
                        "properties": {
                          "name": {
                            "type": "string",
                            "maxLength": 160
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 256
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "conditionGroup": {
                            "type": "array"
                          },
                          "action": {
                            "type": "object"
                          },
                          "valid": {
                            "type": "boolean"
                          },
                          "validationErrors": {}
                        }
                      }
                    }
                  },
                  {
                    "type": "object",
                    "description": "Update a ruleset",
                    "required": ["action", "id", "value"],
                    "properties": {
                      "action": {
                        "type": "string",
                        "enum": ["rules.insert"]
                      },
                      "id": {
                        "nullable": true
                      },
                      "value": {
                        "type": "object",
                        "required": ["name", "active", "conditionGroup"],
                        "properties": {
                          "name": {
                            "type": "string",
                            "maxLength": 160
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 256
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "conditionGroup": {
                            "type": "array"
                          },
                          "action": {
                            "type": "object"
                          },
                          "valid": {
                            "type": "boolean"
                          },
                          "validationErrors": {}
                        }
                      }
                    }
                  },
                  {
                    "type": "object",
                    "description": "Remove a ruleset",
                    "required": ["action", "id"],
                    "properties": {
                      "action": {
                        "type": "string",
                        "enum": ["rules.update"]
                      },
                      "id": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "description": "Set the action for a consumed ruleset (project scope)",
                    "required": ["action", "id", "value"],
                    "properties": {
                      "action": {
                        "type": "string",
                        "enum": ["rules.remove"]
                      },
                      "id": {
                        "type": "string",
                        "maxLength": 180
                      },
                      "value": {
                        "nullable": true,
                        "required": ["action"],
                        "properties": {
                          "action": {
                            "type": "string",
                            "enum": ["deny", "challenge", "log", "allow"]
                          }
                        }
                      }
                    }
                  },
                  {
                    "type": "object",
                    "description": "Remove the action for a consumed ruleset (project scope)",
                    "required": ["action", "id"],
                    "properties": {
                      "action": {
                        "type": "string",
                        "enum": ["rules.priority"]
                      },
                      "id": {
                        "type": "string",
                        "maxLength": 180
                      },
                      "value": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "description": "(14 more variants — see OpenAPI spec)"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/security/firewall/config/{configVersion}": {
      "get": {
        "operationId": "readFirewallConfiguration",
        "summary": "Read Firewall Configuration",
        "description": "Retrieve the specified firewall configuration for a project. The deployed configVersion will be `active`",
        "tags": ["security"],
        "x-docs-url": "https://vercel.com/docs/rest-api/security/read-firewall-configuration",
        "parameters": [
          {
            "name": "configVersion",
            "in": "path",
            "description": "The deployed configVersion for the firewall configuration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "If the firewall configuration includes a [custom managed ruleset](https://vercel.com/docs/security/vercel-waf/managed-rulesets), it will include a `crs` item that has the following values: sd: Scanner Detection ma: Multipart Attack lfi: Local File Inclusion Attack rfi: Remote File Inclusion Attack rce: Remote Execution Attack php: PHP Attack gen: Generic Attack xss: XSS Attack sqli: SQL Injection Attack sf: Session Fixation Attack java: Java Attack",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "changes",
                    "firewallEnabled",
                    "id",
                    "ips",
                    "ownerId",
                    "projectKey",
                    "rules",
                    "updatedAt",
                    "version"
                  ],
                  "properties": {
                    "ownerId": {
                      "type": "string"
                    },
                    "projectKey": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "firewallEnabled": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "crs": {
                      "type": "object",
                      "description": "Custom Ruleset",
                      "required": [
                        "gen",
                        "java",
                        "lfi",
                        "ma",
                        "php",
                        "rce",
                        "rfi",
                        "sd",
                        "sf",
                        "sqli",
                        "xss"
                      ],
                      "properties": {
                        "sd": {
                          "type": "object",
                          "description": "Scanner Detection - Detect and prevent reconnaissance activities from network scanning tools.",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "ma": {
                          "type": "object",
                          "description": "Multipart Attack - Block attempts to bypass security controls using multipart/form-data encoding.",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "lfi": {
                          "type": "object",
                          "description": "Local File Inclusion Attack - Prevent unauthorized access to local files through web applications.",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "rfi": {
                          "type": "object",
                          "description": "Remote File Inclusion Attack - Prohibit unauthorized upload or execution of remote files.",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "rce": {
                          "type": "object",
                          "description": "Remote Execution Attack - Prevent unauthorized execution of remote scripts or commands.",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "php": {
                          "type": "object",
                          "description": "PHP Attack - Safeguard against vulnerability exploits in PHP-based applications.",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "gen": {
                          "type": "object",
                          "description": "Generic Attack - Provide broad protection from various undefined or novel attack vectors.",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "xss": {
                          "type": "object",
                          "description": "XSS Attack - Prevent injection of malicious scripts into trusted webpages.",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "sqli": {
                          "type": "object",
                          "description": "SQL Injection Attack - Prohibit unauthorized use of SQL commands to manipulate databases.",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "sf": {
                          "type": "object",
                          "description": "Session Fixation Attack - Prevent unauthorized takeover of user sessions by enforcing unique session IDs.",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "java": {
                          "type": "object",
                          "description": "Java Attack - Mitigate risks of exploitation targeting Java-based applications or components.",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        }
                      }
                    },
                    "rules": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "required": [
                              "action",
                              "active",
                              "conditionGroup",
                              "id",
                              "name",
                              "valid",
                              "validationErrors"
                            ]
                          },
                          {
                            "type": "object",
                            "required": [
                              "action",
                              "active",
                              "conditionGroup",
                              "id",
                              "name",
                              "valid",
                              "validationErrors"
                            ]
                          }
                        ]
                      }
                    },
                    "ips": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["action", "hostname", "id", "ip"],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "hostname": {
                            "type": "string"
                          },
                          "ip": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["bypass", "challenge", "deny", "log"]
                          }
                        }
                      }
                    },
                    "rulesets": {
                      "oneOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "active",
                              "conditionGroup",
                              "id",
                              "name"
                            ]
                          }
                        },
                        {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "required": ["action"]
                          }
                        }
                      ]
                    },
                    "changes": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "managedRules": {
                      "type": "object",
                      "properties": {
                        "bot_protection": {
                          "type": "object",
                          "required": ["active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["challenge", "deny", "log"]
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            }
                          }
                        },
                        "ai_bots": {
                          "type": "object",
                          "required": ["active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["challenge", "deny", "log"]
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            }
                          }
                        },
                        "owasp": {
                          "type": "object",
                          "required": ["active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["challenge", "deny", "log"]
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            }
                          }
                        },
                        "vercel_ruleset": {
                          "type": "object",
                          "required": ["active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["challenge", "deny", "log"]
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            }
                          }
                        },
                        "traffic_sources": {
                          "type": "object",
                          "required": ["active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["challenge", "deny", "log"]
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "botIdEnabled": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "logHeaders": {
                      "oneOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "string",
                          "enum": ["*"]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "returnsActivatedWafConfig1",
        "summary": "Returns activated WAF config",
        "description": "Promotes a draft WAF config to an active config",
        "tags": ["security"],
        "x-docs-url": "https://vercel.com/docs/rest-api/security/returns-activated-waf-config-1",
        "parameters": [
          {
            "name": "configVersion",
            "in": "path",
            "description": "The deployed configVersion for the firewall configuration",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [""]
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/security/firewall/config/{configVersion}/activate": {
      "post": {
        "operationId": "returnsActivatedWafConfig2",
        "summary": "Returns activated WAF config",
        "description": "Promotes a draft WAF config to an active config",
        "tags": ["security"],
        "x-docs-url": "https://vercel.com/docs/rest-api/security/returns-activated-waf-config-2",
        "parameters": [
          {
            "name": "configVersion",
            "in": "path",
            "description": "The deployed configVersion for the firewall configuration",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "changes",
                    "firewallEnabled",
                    "id",
                    "ips",
                    "ownerId",
                    "projectKey",
                    "rules",
                    "updatedAt",
                    "version"
                  ],
                  "properties": {
                    "ownerId": {
                      "type": "string"
                    },
                    "projectKey": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "version": {
                      "type": "number"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "firewallEnabled": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "crs": {
                      "type": "object",
                      "required": [
                        "gen",
                        "java",
                        "lfi",
                        "ma",
                        "php",
                        "rce",
                        "rfi",
                        "sd",
                        "sf",
                        "sqli",
                        "xss"
                      ],
                      "properties": {
                        "sd": {
                          "type": "object",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "ma": {
                          "type": "object",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "lfi": {
                          "type": "object",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "rfi": {
                          "type": "object",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "rce": {
                          "type": "object",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "php": {
                          "type": "object",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "gen": {
                          "type": "object",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "xss": {
                          "type": "object",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "sqli": {
                          "type": "object",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "sf": {
                          "type": "object",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        },
                        "java": {
                          "type": "object",
                          "required": ["action", "active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["deny", "log"]
                            }
                          }
                        }
                      }
                    },
                    "rules": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "required": [
                              "action",
                              "active",
                              "conditionGroup",
                              "id",
                              "name",
                              "valid",
                              "validationErrors"
                            ]
                          },
                          {
                            "type": "object",
                            "required": [
                              "action",
                              "active",
                              "conditionGroup",
                              "id",
                              "name",
                              "valid",
                              "validationErrors"
                            ]
                          }
                        ]
                      }
                    },
                    "ips": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["action", "hostname", "id", "ip"],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "hostname": {
                            "type": "string"
                          },
                          "ip": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "action": {
                            "type": "string",
                            "enum": ["bypass", "challenge", "deny", "log"]
                          }
                        }
                      }
                    },
                    "rulesets": {
                      "oneOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "active",
                              "conditionGroup",
                              "id",
                              "name"
                            ]
                          }
                        },
                        {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "required": ["action"]
                          }
                        }
                      ]
                    },
                    "changes": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "managedRules": {
                      "type": "object",
                      "properties": {
                        "bot_protection": {
                          "type": "object",
                          "required": ["active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["challenge", "deny", "log"]
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            }
                          }
                        },
                        "ai_bots": {
                          "type": "object",
                          "required": ["active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["challenge", "deny", "log"]
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            }
                          }
                        },
                        "owasp": {
                          "type": "object",
                          "required": ["active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["challenge", "deny", "log"]
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            }
                          }
                        },
                        "vercel_ruleset": {
                          "type": "object",
                          "required": ["active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["challenge", "deny", "log"]
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            }
                          }
                        },
                        "traffic_sources": {
                          "type": "object",
                          "required": ["active"],
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "enum": [false, true]
                            },
                            "action": {
                              "type": "string",
                              "enum": ["challenge", "deny", "log"]
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "botIdEnabled": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "logHeaders": {
                      "oneOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "string",
                          "enum": ["*"]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/security/firewall/attack-status": {
      "get": {
        "operationId": "readActiveAttackData",
        "summary": "Read active attack data",
        "description": "Retrieve active attack data within the last N days (default: 1 day)",
        "tags": ["security"],
        "x-docs-url": "https://vercel.com/docs/rest-api/security/read-active-attack-data",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object"
                    },
                    {
                      "type": "object",
                      "required": ["anomalies"],
                      "properties": {
                        "anomalies": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "affectedHostMap",
                              "atMinute",
                              "endTime",
                              "ownerId",
                              "projectId",
                              "startTime"
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/security/firewall/bypass": {
      "get": {
        "operationId": "readSystemBypass",
        "summary": "Read System Bypass",
        "description": "Retrieve the system bypass rules configured for the specified project",
        "tags": ["security"],
        "x-docs-url": "https://vercel.com/docs/rest-api/security/read-system-bypass",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 256
            }
          },
          {
            "name": "sourceIp",
            "in": "query",
            "description": "Filter by source IP",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 49
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Filter by domain",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 2544
            }
          },
          {
            "name": "projectScope",
            "in": "query",
            "description": "Filter by project scoped rules",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used for pagination. Retrieves results after the provided id",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 2560
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["result"],
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "CreatedAt",
                          "Domain",
                          "Id",
                          "Ip",
                          "OwnerId",
                          "UpdatedAt",
                          "UpdatedAtHour"
                        ],
                        "properties": {
                          "OwnerId": {
                            "type": "string"
                          },
                          "Id": {
                            "type": "string"
                          },
                          "Domain": {
                            "type": "string"
                          },
                          "Ip": {
                            "type": "string"
                          },
                          "Action": {
                            "type": "string",
                            "enum": ["block", "bypass"]
                          },
                          "ProjectId": {
                            "type": "string"
                          },
                          "IsProjectRule": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "Note": {
                            "type": "string"
                          },
                          "CreatedAt": {
                            "type": "string"
                          },
                          "ActorId": {
                            "type": "string"
                          },
                          "UpdatedAt": {
                            "type": "string"
                          },
                          "UpdatedAtHour": {
                            "type": "string"
                          },
                          "DeletedAt": {
                            "type": "string"
                          },
                          "ExpiresAt": {
                            "type": "number",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "required": ["Id", "OwnerId"],
                      "properties": {
                        "OwnerId": {
                          "type": "string"
                        },
                        "Id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "createSystemBypassRule",
        "summary": "Create System Bypass Rule",
        "description": "Create new system bypass rules",
        "tags": ["security"],
        "x-docs-url": "https://vercel.com/docs/rest-api/security/create-system-bypass-rule",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "pattern": "([a-z]+[a-z.]+)$",
                    "maxLength": 2544
                  },
                  "projectScope": {
                    "type": "boolean",
[...]
