{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel storage",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/storage/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/storage/stores/{id}": {
      "get": {
        "operationId": "getAStore",
        "summary": "Get a store",
        "tags": ["storage"],
        "x-docs-url": "https://vercel.com/docs/rest-api/storage/get-a-store",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip-metadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include-guides",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["store"],
                  "properties": {
                    "store": {
                      "type": "object",
                      "required": [
                        "projectsMetadata",
                        "status",
                        "usageQuotaExceeded"
                      ],
                      "properties": {
                        "projectsMetadata": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "envVarPrefix",
                              "environmentVariables",
                              "environments",
                              "id",
                              "name",
                              "projectId"
                            ]
                          }
                        },
                        "projectFilter": {
                          "type": "object",
                          "properties": {
                            "git": {
                              "type": "object",
                              "required": ["providers"]
                            }
                          }
                        },
                        "totalConnectedProjects": {
                          "type": "number"
                        },
                        "usageQuotaExceeded": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "available",
                            "error",
                            "initializing",
                            "limits-exceeded-suspended",
                            "limits-exceeded-suspended-store-count",
                            "onboarding",
                            "suspended",
                            "uninstalled",
                            null
                          ],
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/storage/stores/blob": {
      "post": {
        "operationId": "createABlobStore",
        "summary": "Create a Blob store",
        "tags": ["storage"],
        "x-docs-url": "https://vercel.com/docs/rest-api/storage/create-a-blob-store",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 70
                  },
                  "region": {
                    "type": "string",
                    "enum": [
                      "arn1",
                      "bom1",
                      "cdg1",
                      "cle1",
                      "cpt1",
                      "dub1",
                      "dxb1",
                      "fra1",
                      "gru1",
                      "hkg1",
                      "hnd1",
                      "iad1",
                      "icn1",
                      "kix1",
                      "lhr1",
                      "pdx1",
                      "sfo1",
                      "sin1",
                      "syd1",
                      "yul1"
                    ]
                  },
                  "access": {
                    "type": "string",
                    "enum": ["public", "private"],
                    "default": "public"
                  },
                  "projectId": {
                    "type": "string",
                    "maxLength": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["store"],
                  "properties": {
                    "store": {
                      "type": "object",
                      "nullable": true,
                      "required": [
                        "count",
                        "isTokenExpired",
                        "projectsMetadata",
                        "region",
                        "size",
                        "status",
                        "usageQuotaExceeded"
                      ],
                      "properties": {
                        "projectsMetadata": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "envVarPrefix",
                              "environmentVariables",
                              "environments",
                              "id",
                              "name",
                              "projectId"
                            ]
                          }
                        },
                        "projectFilter": {
                          "type": "object",
                          "properties": {
                            "git": {
                              "type": "object",
                              "required": ["providers"]
                            }
                          }
                        },
                        "totalConnectedProjects": {
                          "type": "number"
                        },
                        "usageQuotaExceeded": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "available",
                            "error",
                            "initializing",
                            "limits-exceeded-suspended",
                            "limits-exceeded-suspended-store-count",
                            "onboarding",
                            "suspended",
                            "uninstalled",
                            null
                          ],
                          "nullable": true
                        },
                        "access": {
                          "type": "string",
                          "enum": ["private", "public"]
                        },
                        "kind": {
                          "type": "string",
                          "description": "A project-default store is a private blob store that is lazily created per-project, uses OIDC auth instead of read-write tokens, and cannot be modified through standard store mutation APIs. Undefined for legacy stores.",
                          "enum": ["project-default", "user-created"]
                        },
                        "projectId": {
                          "type": "string",
                          "description": "The project this store is scoped to. Set for project-default stores and user-created stores with enforced project association."
                        },
                        "size": {
                          "type": "number"
                        },
                        "count": {
                          "type": "number"
                        },
                        "region": {
                          "type": "string",
                          "enum": [
                            "arn1",
                            "bom1",
                            "cdg1",
                            "cle1",
                            "cpt1",
                            "dub1",
                            "dxb1",
                            "fra1",
                            "gru1",
                            "hkg1",
                            "hnd1",
                            "iad1",
                            "icn1",
                            "kix1",
                            "lhr1",
                            "pdx1",
                            "sfo1",
                            "sin1",
                            "syd1",
                            "yul1"
                          ]
                        },
                        "isTokenExpired": {
                          "type": "boolean",
                          "enum": [false, true]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "402": {
            "description": "The account is missing a payment so payment method must be updated"
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          }
        }
      }
    },
    "/storage/stores/blob/{id}": {
      "delete": {
        "operationId": "deleteABlobStore",
        "summary": "Delete a Blob store",
        "tags": ["storage"],
        "x-docs-url": "https://vercel.com/docs/rest-api/storage/delete-a-blob-store",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id"],
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    }
  }
}
