{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel teams",
    "version": "1.0.0",
    "description": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/teams/."
  },
  "servers": [
    {
      "url": "https://api.vercel.com"
    }
  ],
  "paths": {
    "/v3/teams/{teamId}/members": {
      "get": {
        "operationId": "listTeamMembers",
        "summary": "List team members",
        "description": "Get a paginated list of team members for the provided team.",
        "tags": ["teams"],
        "x-docs-url": "https://vercel.com/docs/rest-api/teams/list-team-members",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit how many teams should be returned",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Timestamp in milliseconds to only include members added since then.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Timestamp in milliseconds to only include members added until then.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search team members by their name, username, and email.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Only return members with the specified team role.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "OWNER",
                "MEMBER",
                "DEVELOPER",
                "SECURITY",
                "BILLING",
                "VIEWER",
                "VIEWER_FOR_PLUS",
                "CONTRIBUTOR"
              ]
            }
          },
          {
            "name": "excludeProject",
            "in": "query",
            "description": "Exclude members who belong to the specified project.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eligibleMembersForProjectId",
            "in": "query",
            "description": "Include team members who are eligible to be members of the specified project.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["members", "pagination"],
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "confirmed",
                          "createdAt",
                          "email",
                          "role",
                          "uid",
                          "username"
                        ],
                        "properties": {
                          "avatar": {
                            "type": "string",
                            "description": "ID of the file for the Avatar of this member."
                          },
                          "confirmed": {
                            "type": "boolean",
                            "description": "Boolean that indicates if this member was confirmed by an owner.",
                            "enum": [false, true]
                          },
                          "email": {
                            "type": "string",
                            "description": "The email of this member."
                          },
                          "github": {
                            "type": "object",
                            "description": "Information about the GitHub account for this user."
                          },
                          "gitlab": {
                            "type": "object",
                            "description": "Information about the GitLab account of this user."
                          },
                          "bitbucket": {
                            "type": "object",
                            "description": "Information about the Bitbucket account of this user."
                          },
                          "role": {
                            "type": "string",
                            "description": "Role of this user in the team.",
                            "enum": [
                              "BILLING",
                              "CONTRIBUTOR",
                              "DEVELOPER",
                              "MEMBER",
                              "OWNER",
                              "SECURITY",
                              "VIEWER",
                              "VIEWER_FOR_PLUS"
                            ]
                          },
                          "uid": {
                            "type": "string",
                            "description": "The ID of this user."
                          },
                          "username": {
                            "type": "string",
                            "description": "The unique username of this user."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of this user."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Timestamp in milliseconds when this member was added."
                          },
                          "accessRequestedAt": {
                            "type": "number",
                            "description": "Timestamp in milliseconds for when this team member was accepted by an owner."
                          },
                          "joinedFrom": {
                            "type": "object",
                            "description": "Map with information about the members origin if they joined by requesting access.",
                            "required": ["origin"]
                          },
                          "projects": {
                            "type": "array",
                            "description": "Array of project memberships"
                          },
                          "isEnterpriseManaged": {
                            "type": "boolean",
                            "description": "Indicates whether the user is managed by an enterprise.",
                            "enum": [false, true]
                          }
                        }
                      }
                    },
                    "emailInviteCodes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["id", "isDSyncUser"],
                        "properties": {
                          "accessGroups": {
                            "type": "array"
                          },
                          "id": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "BILLING",
                              "CONTRIBUTOR",
                              "DEVELOPER",
                              "MEMBER",
                              "OWNER",
                              "SECURITY",
                              "VIEWER",
                              "VIEWER_FOR_PLUS"
                            ]
                          },
                          "teamRoles": {
                            "type": "array"
                          },
                          "teamPermissions": {
                            "type": "array"
                          },
                          "isDSyncUser": {
                            "type": "boolean",
                            "enum": [false, true]
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "expired": {
                            "type": "boolean",
                            "enum": [true]
                          },
                          "projects": {
                            "type": "object"
                          },
                          "entitlements": {
                            "type": "array"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "required": ["count", "hasNext", "next", "prev"],
                      "properties": {
                        "hasNext": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "count": {
                          "type": "number",
                          "description": "Amount of items in the current page."
                        },
                        "next": {
                          "type": "number",
                          "description": "Timestamp that must be used to request the next page.",
                          "nullable": true
                        },
                        "prev": {
                          "type": "number",
                          "description": "Timestamp that must be used to request the previous page.",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v2/teams/{teamId}/members": {
      "post": {
        "operationId": "inviteAUser",
        "summary": "Invite a user",
        "description": "Invite a user to join the team specified in the URL. The authenticated user needs to be an `OWNER` in order to successfully invoke this endpoint. The user to be invited must be specified by email.",
        "tags": ["teams"],
        "x-docs-url": "https://vercel.com/docs/rest-api/teams/invite-a-user",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["email"],
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "The email address of the user to invite",
                      "format": "email"
                    },
                    "role": {
                      "type": "string",
                      "description": "The role of the user to invite",
                      "enum": [
                        "OWNER",
                        "MEMBER",
                        "DEVELOPER",
                        "SECURITY",
                        "BILLING",
                        "VIEWER",
                        "VIEWER_FOR_PLUS",
                        "CONTRIBUTOR"
                      ],
                      "default": "VIEWER"
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["role", "projectId"]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The member was successfully added to the team.",
                  "required": ["email", "role", "uid", "username"],
                  "properties": {
                    "uid": {
                      "type": "string",
                      "description": "The ID of the invited user"
                    },
                    "username": {
                      "type": "string",
                      "description": "The username of the invited user"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email of the invited user."
                    },
                    "role": {
                      "type": "string",
                      "description": "The role used for the invitation",
                      "enum": [
                        "BILLING",
                        "CONTRIBUTOR",
                        "DEVELOPER",
                        "MEMBER",
                        "OWNER",
                        "SECURITY",
                        "VIEWER",
                        "VIEWER_FOR_PLUS"
                      ]
                    },
                    "teamRoles": {
                      "type": "array",
                      "description": "The team roles of the user",
                      "items": {
                        "type": "string",
                        "description": "The team roles of the user",
                        "enum": [
                          "BILLING",
                          "CONTRIBUTOR",
                          "DEVELOPER",
                          "MEMBER",
                          "OWNER",
                          "SECURITY",
                          "VIEWER",
                          "VIEWER_FOR_PLUS"
                        ]
                      }
                    },
                    "teamPermissions": {
                      "type": "array",
                      "description": "The team permissions of the user",
                      "items": {
                        "type": "string",
                        "description": "The team permissions of the user",
                        "enum": [
                          "AiGatewayApiKeyOwnedBySelf",
                          "AiGatewayBudgetManager",
                          "AiGatewayCredits",
                          "AiGatewaySettings",
                          "ConnectorManager",
                          "CreateProject",
                          "EnvVariableManager",
                          "EnvironmentManager",
                          "FullProductionDeployment",
                          "IntegrationManager",
                          "OrgAdmin",
                          "OrgViewer",
                          "UsageViewer",
                          "V0Builder",
                          "V0Chatter",
                          "V0Viewer"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource.\nThe authenticated user must be a team owner to perform the action"
          },
          "410": {
            "description": ""
          },
          "503": {
            "description": ""
          }
        }
      }
    },
    "/v1/teams/{teamId}/request": {
      "post": {
        "operationId": "requestAccessToATeam",
        "summary": "Request access to a team",
        "description": "Request access to a team as a member. An owner has to approve the request. Only 100 users can request access to a team at the same time.",
        "tags": ["teams"],
        "x-docs-url": "https://vercel.com/docs/rest-api/teams/request-access-to-a-team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["joinedFrom"],
                "properties": {
                  "joinedFrom": {
                    "type": "object",
                    "required": ["origin"],
                    "properties": {
                      "origin": {
                        "type": "string",
                        "description": "The origin of the request.",
                        "enum": [
                          "import",
                          "teams",
                          "github",
                          "gitlab",
                          "bitbucket",
                          "feedback",
                          "organization-teams"
                        ]
                      },
                      "commitId": {
                        "type": "string",
                        "description": "The commit sha if the origin is a git provider."
                      },
                      "repoId": {
                        "type": "string",
                        "description": "The ID of the repository for the given Git provider."
                      },
                      "repoPath": {
                        "type": "string",
                        "description": "The path to the repository for the given Git provider."
                      },
                      "gitUserId": {
                        "description": "The ID of the Git account of the user who requests access.",
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      },
                      "gitUserLogin": {
                        "type": "string",
                        "description": "The login name for the Git account of the user who requests access."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfuly requested access to the team.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "bitbucket",
                    "github",
                    "gitlab",
                    "teamName",
                    "teamSlug"
                  ],
                  "properties": {
                    "teamSlug": {
                      "type": "string"
                    },
                    "teamName": {
                      "type": "string"
                    },
                    "confirmed": {
                      "type": "boolean",
                      "enum": [false, true]
                    },
                    "joinedFrom": {
                      "type": "object",
                      "required": ["origin"],
                      "properties": {
                        "origin": {
                          "type": "string",
                          "enum": [
                            "account-update",
                            "bitbucket",
                            "dsync",
                            "feedback",
                            "github",
                            "gitlab",
                            "import",
                            "link",
                            "mail",
                            "nsnb-auto-approve",
                            "nsnb-hobby-upgrade",
                            "nsnb-invite",
                            "nsnb-redeploy",
                            "nsnb-redeploy-attribution-card",
                            "nsnb-request-access",
                            "nsnb-viewer-upgrade",
                            "organization-teams",
                            "saml",
                            "teams"
                          ]
                        },
                        "commitId": {
                          "type": "string"
                        },
                        "repoId": {
                          "type": "string"
                        },
                        "repoPath": {
                          "type": "string"
                        },
                        "gitUserId": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        },
                        "gitUserLogin": {
                          "type": "string"
                        },
                        "ssoUserId": {
                          "type": "string"
                        },
                        "ssoConnectedAt": {
                          "type": "number"
                        },
                        "idpUserId": {
                          "type": "string"
                        },
                        "dsyncUserId": {
                          "type": "string"
                        },
                        "dsyncConnectedAt": {
                          "type": "number"
                        }
                      }
                    },
                    "accessRequestedAt": {
                      "type": "number"
                    },
                    "github": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "login": {
                          "type": "string"
                        }
                      }
                    },
                    "gitlab": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "login": {
                          "type": "string"
                        }
                      }
                    },
                    "bitbucket": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "login": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid."
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": "The team was not found."
          },
          "410": {
            "description": ""
          },
          "429": {
            "description": ""
          },
          "503": {
            "description": ""
          }
        }
      }
    },
    "/v1/teams/{teamId}/request/{userId}": {
      "get": {
        "operationId": "getAccessRequestStatus",
        "summary": "Get access request status",
        "description": "Check the status of a join request. It'll respond with a 404 if the request has been declined. If no `userId` path segment was provided, this endpoint will instead return the status of the authenticated user.",
        "tags": ["teams"],
        "x-docs-url": "https://vercel.com/docs/rest-api/teams/get-access-request-status",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessRequestedAt",
                    "bitbucket",
                    "confirmed",
                    "github",
                    "gitlab",
                    "joinedFrom",
                    "teamName",
                    "teamSlug"
                  ],
                  "properties": {
                    "teamSlug": {
                      "type": "string",
                      "description": "The slug of the team."
                    },
                    "teamName": {
                      "type": "string",
                      "description": "The name of the team."
                    },
                    "confirmed": {
                      "type": "boolean",
                      "description": "Current status of the membership. Will be `true` if confirmed, if pending it'll be `false`.",
                      "enum": [false, true]
                    },
                    "joinedFrom": {
                      "type": "object",
                      "description": "A map that describes the origin from where the user joined.",
                      "required": ["origin"],
                      "properties": {
                        "origin": {
                          "type": "string",
                          "enum": [
                            "account-update",
                            "bitbucket",
                            "dsync",
                            "feedback",
                            "github",
                            "gitlab",
                            "import",
                            "link",
                            "mail",
                            "nsnb-auto-approve",
                            "nsnb-hobby-upgrade",
                            "nsnb-invite",
                            "nsnb-redeploy",
                            "nsnb-redeploy-attribution-card",
                            "nsnb-request-access",
                            "nsnb-viewer-upgrade",
                            "organization-teams",
                            "saml",
                            "teams"
                          ]
                        },
                        "commitId": {
                          "type": "string"
                        },
                        "repoId": {
                          "type": "string"
                        },
                        "repoPath": {
                          "type": "string"
                        },
                        "gitUserId": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        },
                        "gitUserLogin": {
                          "type": "string"
                        },
                        "ssoUserId": {
                          "type": "string"
                        },
                        "ssoConnectedAt": {
                          "type": "number"
                        },
                        "idpUserId": {
                          "type": "string"
                        },
                        "dsyncUserId": {
                          "type": "string"
                        },
                        "dsyncConnectedAt": {
                          "type": "number"
                        }
                      }
                    },
                    "accessRequestedAt": {
                      "type": "number",
                      "description": "Timestamp in milliseconds when the user requested access to the team."
                    },
                    "github": {
                      "type": "object",
                      "description": "Map of the connected GitHub account.",
                      "nullable": true,
                      "properties": {
                        "login": {
                          "type": "string"
                        }
                      }
                    },
                    "gitlab": {
                      "type": "object",
                      "description": "Map of the connected GitLab account.",
                      "nullable": true,
                      "properties": {
                        "login": {
                          "type": "string"
                        }
                      }
                    },
                    "bitbucket": {
                      "type": "object",
                      "description": "Map of the connected Bitbucket account.",
                      "nullable": true,
                      "properties": {
                        "login": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid.\nUser is already a confirmed member of the team and did not request access. Only visible when the authenticated user does have access to the team."
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": "The provided user doesn't have a membership.\nTeam was not found."
          },
          "410": {
            "description": ""
          }
        }
      }
    },
    "/v1/teams/{teamId}/members/teams/join": {
      "post": {
        "operationId": "joinATeam",
        "summary": "Join a team",
        "description": "Join a team with a provided invite code or team ID.",
        "tags": ["teams"],
        "x-docs-url": "https://vercel.com/docs/rest-api/teams/join-a-team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inviteCode": {
                    "type": "string",
                    "description": "The invite code to join the team."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully joined a team.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Successfully joined a team.",
                  "required": ["from", "name", "slug", "teamId"],
                  "properties": {
                    "teamId": {
                      "type": "string",
                      "description": "The ID of the team the user joined."
                    },
                    "slug": {
                      "type": "string",
                      "description": "The slug of the team the user joined."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the team the user joined."
                    },
                    "from": {
                      "type": "string",
                      "description": "The origin of how the user joined."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid."
          },
          "401": {
            "description": ""
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "503": {
            "description": ""
          }
        }
      }
    },
    "/v1/teams/{teamId}/members/{uid}": {
      "patch": {
        "operationId": "updateATeamMember",
        "summary": "Update a Team Member",
        "description": "Update the membership of a Team Member on the Team specified by `teamId`, such as changing the _role_ of the member, or confirming a request to join the Team for an unconfirmed member. The authenticated user must be an `OWNER` of the Team.",
        "tags": ["teams"],
        "x-docs-url": "https://vercel.com/docs/rest-api/teams/update-a-team-member",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "The ID of the member.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirmed": {
                    "type": "boolean",
                    "description": "Accept a user who requested access to the team.",
                    "enum": [true]
                  },
                  "role": {
                    "type": "string",
                    "description": "The role in the team of the member.",
                    "default": "MEMBER"
                  },
                  "teamPermissions": {
                    "type": "array",
                    "description": "The team permissions to set for the member. Permissions must be compatible with the team roles assigned to the member.",
                    "items": {
                      "type": "string",
                      "enum": [
                        "ConnectorManager",
                        "IntegrationManager",
                        "CreateProject",
                        "FullProductionDeployment",
                        "UsageViewer",
                        "EnvVariableManager",
                        "EnvironmentManager",
                        "OrgAdmin",
                        "OrgViewer",
                        "AiGatewaySettings",
                        "AiGatewayCredits",
                        "AiGatewayApiKeyOwnedBySelf",
                        "AiGatewayBudgetManager",
                        "V0Builder",
                        "V0Chatter",
                        "V0Viewer"
                      ]
                    }
                  },
                  "projects": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["role", "projectId"],
                      "properties": {
                        "projectId": {
                          "type": "string",
                          "description": "The ID of the project.",
                          "maxLength": 256
                        },
                        "role": {
                          "type": "string",
                          "description": "The project role of the member that will be added. \\\"null\\\" will remove this project level role.",
                          "enum": [
                            "ADMIN",
                            "PROJECT_VIEWER",
                            "PROJECT_DEVELOPER",
                            null
                          ],
                          "nullable": true
                        }
                      }
                    }
                  },
                  "joinedFrom": {
                    "type": "object",
                    "properties": {
                      "ssoUserId": {
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the membership.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id"],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the team."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request body is invalid.\nOne of the provided values in the request query is invalid.\nCannot disconnect SSO from a Team member that does not have a SSO connection.\nCannot confirm a member that is already confirmed.\nCannot confirm a member that did not request access."
          },
          "401": {
            "description": "The request is not authorized.\nTeam members can only be updated by an owner, or by the authenticated user if they are only disconnecting their SAML connection to the Team."
          },
          "402": {
            "description": ""
          },
          "403": {
            "description": "You do not have permission to access this resource."
          },
          "404": {
            "description": "The provided user is not part of this team.\nA user with the specified ID does not exist."
          },
          "409": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "500": {
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "removeATeamMember",
        "summary": "Remove a Team Member",
        "description": "Remove a Team Member from the Team, or dismiss a user that requested access, or leave a team.",
        "tags": ["teams"],
        "x-docs-url": "https://vercel.com/docs/rest-api/teams/remove-a-team-member",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "The user ID of the member.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newDefaultTeamId",
            "in": "query",
            "description": "The ID of the team to set as the new default team for the Northstar user.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed a member of the team.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id"],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the team."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource.\nNot authorized to update the team."
          },
          "404": {
            "description": ""
          },
          "410": {
            "description": ""
          },
          "503": {
            "description": ""
          }
        }
      }
    },
    "/v2/teams/{teamId}": {
      "get": {
        "operationId": "getATeam",
        "summary": "Get a Team",
        "description": "Get information for the Team specified by the `teamId` parameter.",
        "tags": ["teams"],
        "x-docs-url": "https://vercel.com/docs/rest-api/teams/get-a-team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested team",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Data representing a Team.",
                  "required": [
                    "avatar",
                    "billing",
                    "createdAt",
                    "creatorId",
                    "description",
                    "id",
                    "name",
                    "slug",
                    "stagingPrefix",
                    "updatedAt"
                  ],
                  "properties": {
                    "connect": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        }
                      }
                    },
                    "creatorId": {
                      "type": "string",
                      "description": "The ID of the user who created the Team."
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "Timestamp (in milliseconds) of when the Team was last updated."
                    },
                    "emailDomain": {
                      "type": "string",
                      "description": "Hostname that'll be matched with emails on sign-up to automatically join the Team.",
                      "nullable": true
                    },
                    "saml": {
                      "type": "object",
                      "description": "When \"Single Sign-On (SAML)\" is configured, this object contains information regarding the configuration of the Identity Provider (IdP).",
                      "required": ["enforced"],
                      "properties": {
                        "connection": {
                          "type": "object",
                          "description": "Information for the SAML Single Sign-On configuration.",
                          "required": [
                            "connectedAt",
                            "state",
                            "status",
                            "type"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The Identity Provider \"type\", for example Okta."
                            },
                            "state": {
                              "type": "string",
                              "description": "Current state of the connection."
                            },
                            "connectedAt": {
                              "type": "number",
                              "description": "Timestamp (in milliseconds) of when the configuration was connected."
                            },
                            "lastReceivedWebhookEvent": {
                              "type": "number",
                              "description": "Timestamp (in milliseconds) of when the last webhook event was received from WorkOS."
                            },
                            "lastSyncedAt": {
                              "type": "number",
                              "description": "Timestamp (in milliseconds) of when the last directory sync was performed."
                            },
                            "syncState": {
                              "type": "string",
                              "description": "Controls whether directory sync events are processed. - 'SETUP': Directory connected but role mappings not yet configured. Events are acknowledged but not processed. - 'ACTIVE': Fully configured. Events are processed normally. - undefined: Legacy directory (pre-feature), treat as 'ACTIVE' for backwards compatibility.",
                              "enum": ["ACTIVE", "SETUP"]
                            },
                            "status": {
                              "type": "string"
                            }
                          }
                        },
                        "directory": {
                          "type": "object",
                          "description": "Information for the Directory Sync configuration.",
                          "required": ["connectedAt", "state", "type"],
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The Identity Provider \"type\", for example Okta."
                            },
                            "state": {
                              "type": "string",
                              "description": "Current state of the connection."
                            },
                            "connectedAt": {
                              "type": "number",
                              "description": "Timestamp (in milliseconds) of when the configuration was connected."
                            },
                            "lastReceivedWebhookEvent": {
                              "type": "number",
                              "description": "Timestamp (in milliseconds) of when the last webhook event was received from WorkOS."
                            },
                            "lastSyncedAt": {
                              "type": "number",
                              "description": "Timestamp (in milliseconds) of when the last directory sync was performed."
                            },
                            "syncState": {
                              "type": "string",
                              "description": "Controls whether directory sync events are processed. - 'SETUP': Directory connected but role mappings not yet configured. Events are acknowledged but not processed. - 'ACTIVE': Fully configured. Events are processed normally. - undefined: Legacy directory (pre-feature), treat as 'ACTIVE' for backwards compatibility.",
                              "enum": ["ACTIVE", "SETUP"]
                            }
                          }
                        },
                        "enforced": {
                          "type": "boolean",
                          "description": "When `true`, interactions with the Team **must** be done with an authentication token that has been authenticated with the Team's SAML Single Sign-On provider.",
                          "enum": [false, true]
                        },
                        "defaultRedirectUri": {
                          "type": "string",
                          "description": "The default redirect URI to use after successful SAML authentication.",
                          "enum": ["v0.app", "v0.dev", "vercel.com"]
                        },
                        "roles": {
                          "type": "object",
                          "description": "When \"Directory Sync\" is configured, this object contains a mapping of which Directory Group (by ID) should be assigned to which Vercel Team \"role\".",
                          "additionalProperties": {}
                        }
                      }
                    },
                    "inviteCode": {
                      "type": "string",
                      "description": "Code that can be used to join this Team. Only visible to Team owners."
                    },
                    "billing": {
                      "type": "object",
                      "description": "The team's billing plan.",
                      "nullable": true,
                      "required": ["plan"],
                      "properties": {
                        "plan": {
                          "type": "string",
                          "enum": ["enterprise", "hobby", "pro"]
                        }
                      }
                    },
                    "description": {
                      "type": "string",
                      "description": "A short description of the Team.",
                      "nullable": true
                    },
                    "defaultRoles": {
                      "type": "object",
                      "description": "Default roles for the team.",
                      "properties": {
                        "teamRoles": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "BILLING",
                              "CONTRIBUTOR",
                              "DEVELOPER",
                              "MEMBER",
                              "OWNER",
                              "SECURITY",
                              "VIEWER",
                              "VIEWER_FOR_PLUS"
                            ]
                          }
                        },
                        "teamPermissions": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "AiGatewayApiKeyOwnedBySelf",
                              "AiGatewayBudgetManager",
                              "AiGatewayCredits",
                              "AiGatewaySettings",
                              "ConnectorManager",
                              "CreateProject",
                              "EnvVariableManager",
                              "EnvironmentManager",
                              "FullProductionDeployment",
                              "IntegrationManager",
                              "OrgAdmin",
                              "OrgViewer",
                              "UsageViewer",
                              "V0Builder",
                              "V0Chatter",
                              "V0Viewer"
                            ]
                          }
                        }
                      }
                    },
                    "stagingPrefix": {
                      "type": "string",
                      "description": "The prefix that is prepended to automatic aliases."
                    },
                    "resourceConfig": {
                      "type": "object",
                      "properties": {
                        "concurrentBuilds": {
                          "type": "number",
                          "description": "The total amount of concurrent builds that can be used."
                        },
                        "elasticConcurrencyEnabled": {
                          "type": "boolean",
                          "description": "Whether every build for this team / user has elastic concurrency enabled automatically.",
                          "enum": [false, true]
                        },
                        "edgeConfigSize": {
                          "type": "number",
                          "description": "The maximum size in kilobytes of an Edge Config. Only specified if a custom limit is set."
                        },
                        "edgeConfigs": {
                          "type": "number",
                          "description": "The maximum number of edge configs an account can create."
                        },
                        "kvDatabases": {
                          "type": "number",
                          "description": "The maximum number of kv databases an account can create."
                        },
                        "blobStores": {
                          "type": "number",
                          "description": "The maximum number of blob stores an account can create."
                        },
                        "postgresDatabases": {
                          "type": "number",
                          "description": "The maximum number of postgres databases an account can create."
                        },
                        "customEnvironmentsPerProject": {
                          "type": "number",
                          "description": "The maximum number of custom environments allowed per project."
                        },
                        "serverlessFunctionMaxMemorySize": {
                          "type": "number",
                          "description": "The maximum memory size (in MB) for a serverless function. Only specified if a custom limit is set."
                        },
                        "buildEntitlements": {
                          "type": "object",
                          "properties": {
                            "enhancedBuilds": {
                              "type": "boolean",
                              "enum": [false, true]
                            }
                          }
                        },
                        "buildMachine": {
                          "type": "object",
                          "description": "Build machine configuration",
                          "properties": {
                            "default": {
                              "type": "string",
                              "description": "Default build machine type for new builds",
                              "enum": [
                                "basic",
                                "elastic",
                                "enhanced",
                                "standard",
                                "turbo"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "previewDeploymentSuffix": {
                      "type": "string",
                      "description": "The hostname that is current set as preview deployment suffix.",
                      "nullable": true
                    },
                    "platform": {
                      "type": "boolean",
                      "description": "Whether the team is a platform team.",
                      "enum": [false, true]
                    },
                    "disableHardAutoBlocks": {
                      "oneOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean",
                          "enum": [false, true]
                        }
                      ]
                    },
                    "remoteCaching": {
                      "type": "object",
                      "description": "Is remote caching enabled for this team",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        }
                      }
                    },
                    "defaultDeploymentProtection": {
                      "type": "object",
                      "description": "Default deployment protection for this team null indicates protection is disabled",
                      "properties": {
                        "passwordProtection": {
                          "type": "object",
                          "nullable": true,
                          "required": ["deploymentType"],
                          "properties": {
                            "deploymentType": {
                              "type": "string"
                            }
                          }
                        },
                        "ssoProtection": {
                          "type": "object",
                          "nullable": true,
                          "required": ["deploymentType"],
                          "properties": {
                            "deploymentType": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "defaultPassport": {
                      "type": "object",
                      "description": "Default Passport configuration for new projects in this team.",
                      "nullable": true,
                      "required": ["connectorId", "deploymentType"],
                      "properties": {
                        "connectorId": {
                          "type": "string",
                          "description": "Default Passport configuration for new projects in this team."
                        },
                        "deploymentType": {
                          "type": "string",
                          "description": "Default Passport configuration for new projects in this team.",
                          "enum": [
                            "all",
                            "all_except_custom_domains",
                            "preview",
                            "prod_deployment_urls_and_all_previews"
                          ]
                        }
                      }
                    },
                    "defaultExpirationSettings": {
                      "type": "object",
                      "description": "Default deployment expiration settings for this team",
                      "properties": {
                        "expirationDays": {
                          "type": "number",
                          "description": "Number of days to keep non-production deployments (mostly preview deployments) before soft deletion."
                        },
                        "expirationDaysProduction": {
                          "type": "number",
                          "description": "Number of days to keep production deployments before soft deletion."
                        },
                        "expirationDaysCanceled": {
                          "type": "number",
                          "description": "Number of days to keep canceled deployments before soft deletion."
                        },
                        "expirationDaysErrored": {
                          "type": "number",
                          "description": "Number of days to keep errored deployments before soft deletion."
                        },
                        "deploymentsToKeep": {
                          "type": "number",
                          "description": "Minimum number of production deployments to keep for this project, even if they are over the production expiration limit."
                        }
                      }
                    },
                    "defaultProjectJobs": {
                      "type": "object",
                      "description": "Default job configuration applied to new projects created in this team.",
                      "properties": {
                        "lint": {
                          "type": "object",
                          "description": "Default job configuration applied to new projects created in this team.",
                          "required": ["targets"],
                          "properties": {
                            "targets": {
                              "type": "array",
                              "description": "Default job configuration applied to new projects created in this team."
                            }
                          }
                        },
                        "typecheck": {
                          "type": "object",
                          "description": "Default job configuration applied to new projects created in this team.",
                          "required": ["targets"],
                          "properties": {
                            "targets": {
                              "type": "array",
                              "description": "Default job configuration applied to new projects created in this team."
                            }
                          }
                        },
                        "mfe-config-present": {
                          "type": "object",
                          "description": "Default job configuration applied to new projects created in this team.",
                          "required": ["targets"],
                          "properties": {
                            "targets": {
                              "type": "array",
                              "description": "Default job configuration applied to new projects created in this team."
                            }
                          }
                        }
                      }
                    },
                    "enablePreviewFeedback": {
                      "type": "string",
                      "description": "Whether toolbar is enabled on preview deployments",
                      "enum": [
                        "default",
                        "default-force",
                        "off",
                        "off-force",
                        "on",
                        "on-force",
                        null
                      ],
                      "nullable": true
                    },
                    "enableProductionFeedback": {
                      "type": "string",
                      "description": "Whether toolbar is enabled on production deployments",
                      "enum": [
                        "default",
                        "default-force",
                        "off",
                        "off-force",
                        "on",
                        "on-force",
                        null
                      ],
                      "nullable": true
                    },
                    "sensitiveEnvironmentVariablePolicy": {
                      "type": "string",
                      "description": "Sensitive environment variable policy for this team",
                      "enum": ["default", "off", "on", null],
                      "nullable": true
                    },
                    "hideIpAddresses": {
                      "type": "boolean",
                      "description": "Indicates if IP addresses should be accessible in observability (o11y) tooling",
                      "enum": [false, true, null],
                      "nullable": true
                    },
                    "hideIpAddressesInLogDrains": {
                      "type": "boolean",
                      "description": "Indicates if IP addresses should be accessible in log drains",
                      "enum": [false, true, null],
                      "nullable": true
                    },
                    "dpAccessRequestsMode": {
                      "type": "string",
                      "description": "Controls who can request access to protected deployments.",
                      "enum": ["all", "email-domain", "none"]
                    },
                    "ipBuckets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["bucket"],
                        "properties": {
                          "bucket": {
                            "type": "string"
                          },
                          "supportUntil": {
                            "type": "number"
                          },
                          "default": {
                            "type": "boolean",
                            "enum": [false, true]
                          }
                        }
                      }
                    },
                    "requireVerifiedCommits": {
                      "type": "boolean",
                      "description": "When enabled, all projects in the team require commits to be signed and verified by the git provider before deployments will be created. Projects may override this via `project.gitProviderOptions.requireVerifiedCommits` (gated by `Project:Update`).",
                      "enum": [false, true]
                    },
                    "disableRepositoryDispatchEvents": {
                      "type": "boolean",
                      "description": "Default for projects in the team. When `true`, projects in this team will not emit GitHub repository-dispatch events on deployment events unless the project explicitly overrides this setting via `project.gitProviderOptions.disableRepositoryDispatchEvents`.",
                      "enum": [false, true]
                    },
                    "strictDeploymentProtectionSettings": {
                      "type": "object",
                      "description": "When enabled, deployment protection settings require stricter permissions (owner-only).",
                      "required": ["enabled", "updatedAt"],
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "updatedAt": {
                          "type": "number"
                        }
                      }
                    },
                    "strictShareableLinks": {
                      "type": "object",
                      "description": "When enabled, creating shareable links requires Owner role.",
                      "required": ["enabled", "updatedAt"],
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "updatedAt": {
                          "type": "number"
                        }
                      }
                    },
                    "strictPasswordProtectionSettings": {
                      "type": "object",
                      "description": "When enabled, adding, changing, or removing project password protection requires Owner role.",
                      "required": ["enabled", "updatedAt"],
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        },
                        "updatedAt": {
                          "type": "number"
                        }
                      }
                    },
                    "nsnbConfig": {
                      "type": "object",
                      "description": "NSNB configuration for the team.",
                      "required": ["preference"],
                      "properties": {
                        "preference": {
                          "type": "string",
                          "enum": ["auto-approval", "block", "manual-approval"]
                        }
                      }
                    },
                    "deploymentPolicy": {
                      "type": "object",
                      "description": "Composable deployment-time policy for the team. Used as the default for every project on the team, with optional per-project overrides on `project.deploymentPolicy`.",
                      "properties": {
                        "gitSources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "`enabled: true` with empty `sources` is deny-all.",
                            "required": ["enabled", "environments", "sources"]
                          }
                        },
                        "deploymentSources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "`enabled: true` with empty `sources` is deny-all.",
                            "required": ["enabled", "environments", "sources"]
                          }
                        }
                      }
                    },
                    "personalAccessTokensInvalidatedAt": {
                      "type": "number",
                      "description": "Timestamp (ms) after which personal access tokens created at or before this time are considered invalid for this team."
                    },
                    "appTokensInvalidatedAt": {
                      "type": "number",
                      "description": "Timestamp (ms) after which Vercel App tokens created at or before this time are considered invalid for this team."
                    },
                    "apiKeysInvalidatedAt": {
                      "type": "number",
                      "description": "Timestamp (ms) after which API keys created at or before this time are considered invalid for this team."
                    },
                    "integrationTokensInvalidatedAt": {
                      "type": "number",
                      "description": "Timestamp (ms) after which integration tokens created at or before this time are considered invalid for this team."
                    },
                    "id": {
                      "type": "string",
                      "description": "The Team's unique identifier."
                    },
                    "slug": {
                      "type": "string",
                      "description": "The Team's slug, which is unique across the Vercel platform."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name associated with the Team account, or `null` if none has been provided.",
                      "nullable": true
                    },
                    "avatar": {
                      "type": "string",
                      "description": "The ID of the file used as avatar for this Team.",
                      "nullable": true
                    },
                    "membership": {
                      "type": "object",
                      "description": "The membership of the authenticated User in relation to the Team.",
                      "required": ["confirmed", "created", "createdAt", "role"],
                      "properties": {
                        "uid": {
                          "type": "string"
                        },
                        "entitlements": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["entitlement"]
                          }
                        },
                        "teamId": {
                          "type": "string"
                        },
                        "confirmed": {
                          "type": "boolean",
                          "enum": [true]
                        },
                        "accessRequestedAt": {
                          "type": "number"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "BILLING",
                            "CONTRIBUTOR",
                            "DEVELOPER",
                            "MEMBER",
                            "OWNER",
                            "SECURITY",
                            "VIEWER",
                            "VIEWER_FOR_PLUS"
                          ]
                        },
                        "teamRoles": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "BILLING",
                              "CONTRIBUTOR",
                              "DEVELOPER",
                              "MEMBER",
                              "OWNER",
                              "SECURITY",
                              "VIEWER",
                              "VIEWER_FOR_PLUS"
                            ]
                          }
                        },
                        "teamPermissions": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "AiGatewayApiKeyOwnedBySelf",
                              "AiGatewayBudgetManager",
                              "AiGatewayCredits",
                              "AiGatewaySettings",
                              "ConnectorManager",
                              "CreateProject",
                              "EnvVariableManager",
                              "EnvironmentManager",
                              "FullProductionDeployment",
                              "IntegrationManager",
                              "OrgAdmin",
                              "OrgViewer",
                              "UsageViewer",
                              "V0Builder",
                              "V0Chatter",
                              "V0Viewer"
                            ]
                          }
                        },
                        "createdAt": {
                          "type": "number"
                        },
                        "created": {
                          "type": "number"
                        },
                        "joinedFrom": {
                          "type": "object",
                          "required": ["origin"],
                          "properties": {
                            "origin": {
                              "type": "string",
                              "enum": [
                                "account-update",
                                "bitbucket",
                                "dsync",
                                "feedback",
                                "github",
                                "gitlab",
                                "import",
                                "link",
                                "mail",
                                "nsnb-auto-approve",
                                "nsnb-hobby-upgrade",
                                "nsnb-invite",
                                "nsnb-redeploy",
                                "nsnb-redeploy-attribution-card",
                                "nsnb-request-access",
                                "nsnb-viewer-upgrade",
                                "organization-teams",
                                "saml",
                                "teams"
                              ]
                            },
                            "commitId": {
                              "type": "string"
                            },
                            "repoId": {
                              "type": "string"
                            },
                            "repoPath": {
                              "type": "string"
                            },
                            "gitUserId": {},
                            "gitUserLogin": {
                              "type": "string"
                            },
                            "ssoUserId": {
                              "type": "string"
                            },
                            "ssoConnectedAt": {
                              "type": "number"
                            },
                            "idpUserId": {
                              "type": "string"
                            },
                            "dsyncUserId": {
                              "type": "string"
                            },
                            "dsyncConnectedAt": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "UNIX timestamp (in milliseconds) when the Team was created."
                    },
                    "parentId": {
                      "type": "string",
                      "description": "The organizationId for teams that belong to an organization (set on both the organization's root team and its child teams)."
                    },
                    "orgRootTeamId": {
                      "type": "string",
                      "description": "Best-effort ID of the organization’s root billing team. When present, compare `orgRootTeamId === id` to identify the root team. It may be omitted even when `parentId` is set if organization resolution fails or the referenced organization is missing. Always omitted for non-organization teams."
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource.\nNot authorized to access the team."
          },
          "404": {
            "description": "Team was not found."
          },
          "410": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "updateATeam",
        "summary": "Update a Team",
        "description": "Update the information of a Team specified by the `teamId` parameter. The request body should contain the information that will be updated on the Team.",
        "tags": ["teams"],
        "x-docs-url": "https://vercel.com/docs/rest-api/teams/update-a-team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The Team identifier to perform the request on behalf of.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "The Team slug to perform the request on behalf of.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string",
                    "description": "The hash value of an uploaded image.",
                    "format": "regex"
                  },
                  "description": {
                    "type": "string",
                    "description": "A short text that describes the team.",
                    "maxLength": 140
                  },
                  "emailDomain": {
                    "type": "string",
                    "format": "regex",
                    "nullable": true
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the team.",
                    "maxLength": 256
                  },
                  "previewDeploymentSuffix": {
                    "type": "string",
                    "description": "Suffix that will be used for all preview deployments.",
                    "format": "hostname",
                    "nullable": true
                  },
                  "regenerateInviteCode": {
                    "type": "boolean",
                    "description": "Create a new invite code and replace the current one."
                  },
                  "saml": {
                    "type": "object",
                    "properties": {
                      "enforced": {
                        "type": "boolean",
                        "description": "Require that members of the team use SAML Single Sign-On."
                      },
                      "roles": {
                        "type": "object",
                        "description": "Directory groups to role or access group mappings.",
                        "additionalProperties": {}
                      }
                    }
                  },
                  "slug": {
                    "type": "string",
                    "description": "A new slug for the team."
                  },
                  "enablePreviewFeedback": {
                    "type": "string",
                    "description": "Enable preview toolbar: one of on, off or default."
                  },
                  "enableProductionFeedback": {
                    "type": "string",
                    "description": "Enable production toolbar: one of on, off or default."
                  },
                  "sensitiveEnvironmentVariablePolicy": {
                    "type": "string",
                    "description": "Sensitive environment variable policy: one of on, off or default."
                  },
                  "remoteCaching": {
                    "type": "object",
                    "description": "Whether or not remote caching is enabled for the team",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Enable or disable remote caching for the team."
                      }
                    }
                  },
                  "hideIpAddresses": {
                    "type": "boolean",
                    "description": "Display or hide IP addresses in Monitoring queries."
                  },
                  "hideIpAddressesInLogDrains": {
                    "type": "boolean",
                    "description": "Display or hide IP addresses in Log Drains."
                  },
                  "dpAccessRequestsMode": {
                    "type": "string",
                    "description": "Controls who can request access to protected deployments.",
                    "enum": ["all", "none", "email-domain"]
                  },
                  "requireVerifiedCommits": {
                    "type": "boolean",
                    "description": "When enabled, all projects in the team require commits to be signed and verified by the git provider before deployments will be created."
                  },
                  "disableRepositoryDispatchEvents": {
                    "type": "boolean",
                    "description": "Default for projects in the team. When `true`, projects in this team will not emit GitHub repository-dispatch events on deployment events unless the project explicitly overrides this setting."
                  },
                  "defaultDeploymentProtection": {
                    "type": "object",
                    "description": "Default deployment protection settings for new projects.",
                    "properties": {
                      "passwordProtection": {
                        "type": "object",
                        "description": "Allows to protect project deployments with a password",
                        "nullable": true,
                        "required": ["deploymentType"],
                        "properties": {
                          "deploymentType": {
                            "type": "string",
                            "description": "Specify if the password will apply to every Deployment Target or just Preview",
                            "enum": [
                              "all",
                              "preview",
                              "prod_deployment_urls_and_all_previews",
                              "all_except_custom_domains"
                            ]
                          },
                          "password": {
                            "type": "string",
                            "description": "The password that will be used to protect Project Deployments",
                            "maxLength": 72,
                            "nullable": true
                          }
                        }
                      },
                      "ssoProtection": {
                        "type": "object",
                        "description": "Ensures visitors to your Preview Deployments are logged into Vercel and have a minimum of Viewer access on your team",
                        "nullable": true,
                        "required": ["deploymentType"],
                        "properties": {
                          "deploymentType": {
                            "type": "string",
                            "description": "Specify if the Vercel Authentication (SSO Protection) will apply to every Deployment Target or just Preview",
                            "enum": [
                              "all",
                              "preview",
                              "prod_deployment_urls_and_all_previews",
                              "all_except_custom_domains"
                            ],
                            "default": "preview"
                          }
                        }
                      }
                    }
                  },
                  "defaultPassport": {
                    "type": "object",
                    "description": "Default Passport configuration for new projects.",
                    "nullable": true,
                    "required": ["connectorId"],
                    "properties": {
                      "connectorId": {
                        "type": "string"
                      },
                      "deploymentType": {
                        "type": "string",
                        "enum": [
                          "all",
                          "preview",
                          "prod_deployment_urls_and_all_previews",
                          "all_except_custom_domains"
                        ],
                        "default": "all"
                      }
                    }
                  },
                  "defaultExpirationSettings": {
                    "type": "object",
                    "properties": {
                      "expiration": {
                        "type": "string",
                        "description": "The time period to keep non-production deployments for",
                        "enum": [
                          "3y",
                          "2y",
                          "1y",
                          "6m",
                          "3m",
                          "2m",
                          "1m",
                          "2w",
                          "1w",
                          "1d",
                          "unlimited"
                        ]
                      },
                      "expirationProduction": {
                        "type": "string",
                        "description": "The time period to keep production deployments for",
                        "enum": [
                          "3y",
                          "2y",
                          "1y",
                          "6m",
                          "3m",
                          "2m",
                          "1m",
                          "2w",
                          "1w",
                          "1d",
                          "unlimited"
                        ]
                      },
                      "expirationCanceled": {
                        "type": "string",
                        "description": "The time period to keep canceled deployments for",
                        "enum": [
                          "1y",
                          "6m",
                          "3m",
                          "2m",
                          "1m",
                          "2w",
                          "1w",
                          "1d",
                          "unlimited"
                        ]
                      },
                      "expirationErrored": {
                        "type": "string",
                        "description": "The time period to keep errored deployments for",
                        "enum": [
                          "1y",
                          "6m",
                          "3m",
                          "2m",
                          "1m",
                          "2w",
                          "1w",
                          "1d",
                          "unlimited"
                        ]
                      }
                    }
                  },
                  "deploymentPolicy": {
                    "anyOf": [
                      {
                        "type": "object",
                        "description": "Composable deployment-time policy. Each rule type holds a list of rules, one per environment scope.",
                        "properties": {
                          "gitSources": {},
                          "deploymentSources": {}
                        }
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "strictDeploymentProtectionSettings": {
                    "type": "object",
                    "description": "When enabled, deployment protection settings require stricter permissions (owner-only).",
                    "required": ["enabled"],
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Enable or disable strict deployment protection settings."
                      }
                    }
                  },
                  "strictShareableLinks": {
                    "type": "object",
                    "description": "When enabled, creating shareable links requires Owner role.",
                    "required": ["enabled"],
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Enable or disable requiring Owner role to create shareable links."
                      }
                    }
                  },
                  "strictPasswordProtectionSettings": {
                    "type": "object",
                    "description": "When enabled, adding, changing, or removing project password protection requires Owner role.",
                    "required": ["enabled"],
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Enable or disable requiring Owner role to change project password protection."
                      }
                    }
                  },
                  "nsnbConfig": {
                    "anyOf": [
                      {
                        "type": "object",
                        "description": "NSNB configuration for the team.",
                        "required": ["preference"],
                        "properties": {
                          "preference": {
                            "type": "string",
                            "description": "The NSNB preference for the team.",
                            "enum": [
                              "auto-approval",
                              "manual-approval",
                              "block"
                            ]
                          }
                        }
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "defaultProjectJobs": {
                    "oneOf": [
                      {
                        "type": "object",
                        "description": "Default job configuration applied to new projects created in this team.",
                        "properties": {
                          "lint": {
                            "type": "object",
                            "required": ["targets"]
                          },
                          "typecheck": {
                            "type": "object",
                            "required": ["targets"]
                          }
                        }
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "resourceConfig": {
                    "type": "object",
                    "description": "Resource configuration for the team.",
                    "properties": {
                      "buildMachine": {
                        "type": "object",
                        "description": "Build machine configuration.",
                        "properties": {
                          "default": {
                            "type": "string",
                            "description": "Default build machine type for new builds: basic, standard, enhanced, turbo, or elastic.",
                            "enum": [
                              "basic",
                              "enhanced",
                              "turbo",
                              "standard",
                              "elastic"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Data representing a Team.",
                  "required": [
                    "avatar",
                    "billing",
                    "createdAt",
                    "creatorId",
                    "description",
                    "id",
                    "name",
                    "slug",
                    "stagingPrefix",
                    "updatedAt"
                  ],
                  "properties": {
                    "connect": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "enum": [false, true]
                        }
                      }
                    },
                    "creatorId": {
                      "type": "string",
                      "description": "The ID of the user who created the Team."
                    },
                    "updatedAt": {
                      "type": "number",
                      "description": "Timestamp (in milliseconds) of when the Team was last updated."
                    },
                    "emailDomain": {
                      "type": "string",
                      "description": "Hostname that'll be matched with emails on sign-up to automatically join the Team.",
                      "nullable": true
                    },
                    "saml": {
                      "type": "object",
                      "description": "When \"Single Sign-On (SAML)\" is configured, this object contains information regarding the configuration of the Identity Provider (IdP).",
                      "required": ["enforced"],
[...]
