{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.apimanagement#ListApiManagementGatewaySkusAvailableSkus": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#ListApiManagementGatewaySkusAvailableSkusRequest"
      },
      "output": {
        "target": "com.azure.apimanagement#GatewayResourceSkuResults"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}/skus",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "Gets available SKUs for API Management gateway\n\nGets all available SKU for a given API Management gateway",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#GatewayResourceSkuResults": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.apimanagement#GatewayResourceSkuResultsValueList",
          "traits": {
            "smithy.api#documentation": "The list of skus available for the gateway.",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uri to fetch the next page of API Management gateway Skus."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The API Management gateway SKUs operation response."
      }
    },
    "com.azure.apimanagement#GatewayResourceSkuResultsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.apimanagement#GatewayResourceSkuResult"
      },
      "traits": {
        "smithy.api#documentation": "The list of skus available for the gateway."
      }
    },
    "com.azure.apimanagement#GatewayResourceSkuResult": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resource the SKU applies to."
          }
        },
        "sku": {
          "target": "com.azure.apimanagement#GatewaySku",
          "traits": {
            "smithy.api#documentation": "Specifies API Management gateway SKU."
          }
        },
        "capacity": {
          "target": "com.azure.apimanagement#GatewaySkuCapacity",
          "traits": {
            "smithy.api#documentation": "Specifies the number of API Management gateway units."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an available API Management gateway SKU."
      }
    },
    "com.azure.apimanagement#GatewaySkuCapacity": {
      "type": "structure",
      "members": {
        "minimum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum capacity."
          }
        },
        "maximum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum capacity that can be set."
          }
        },
        "default": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The default capacity."
          }
        },
        "scaleType": {
          "target": "com.azure.apimanagement#GatewaySkuCapacityScaleType",
          "traits": {
            "smithy.api#documentation": "The scale type applicable to the sku."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes scaling information of a SKU."
      }
    },
    "com.azure.apimanagement#GatewaySkuCapacityScaleType": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Automatic"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scale type applicable to the sku."
      }
    },
    "com.azure.apimanagement#GatewaySku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.apimanagement#GatewaySkuName",
          "traits": {
            "smithy.api#documentation": "Name of the Sku."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an available API Management SKU for gateways."
      }
    },
    "com.azure.apimanagement#GatewaySkuName": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "WORKSPACEGATEWAYSTANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WorkspaceGatewayStandard"
          }
        },
        "WORKSPACEGATEWAYPREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WorkspaceGatewayPremium"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Name of the Sku."
      }
    },
    "com.azure.apimanagement#ListApiManagementGatewaySkusAvailableSkusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "gatewayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API Management gateway."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.apimanagement#ListApiGateway": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#ListApiGatewayRequest"
      },
      "output": {
        "target": "com.azure.apimanagement#ApiManagementGatewayListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/gateways",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "List all API Management gateways within a subscription.",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#ApiManagementGatewayListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.apimanagement#ApiManagementGatewayListResultValueList",
          "traits": {
            "smithy.api#documentation": "Result of the List API Management gateway operation.",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next set of results. Not empty if Value contains incomplete list of API Management services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of the List API Management gateway operation."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewayListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.apimanagement#ApiManagementGatewayResource"
      },
      "traits": {
        "smithy.api#documentation": "Result of the List API Management gateway operation."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewayResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type for API Management resource is set to Microsoft.ApiManagement."
          }
        },
        "tags": {
          "target": "com.azure.apimanagement#ApiManagementGatewayResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.apimanagement#ApiManagementGatewayProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the API Management gateway.",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.apimanagement#ApiManagementGatewaySkuProperties",
          "traits": {
            "smithy.api#documentation": "SKU properties of the API Management gateway.",
            "smithy.api#required": {}
          }
        },
        "systemData": {
          "target": "com.azure.apimanagement#ApiManagementGatewayResourceSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single API Management gateway resource in List or Get response."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewayResourceSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.apimanagement#ApiManagementGatewayResourceSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.apimanagement#ApiManagementGatewayResourceSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewayResourceSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewayResourceSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewaySkuProperties": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.apimanagement#ApiManagementGatewaySkuPropertiesName",
          "traits": {
            "smithy.api#documentation": "Name of the Sku.",
            "smithy.api#required": {}
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Capacity of the SKU (number of deployed units of the SKU)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API Management gateway resource SKU properties."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewaySkuPropertiesName": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "WORKSPACEGATEWAYSTANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WorkspaceGatewayStandard"
          }
        },
        "WORKSPACEGATEWAYPREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WorkspaceGatewayPremium"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Name of the Sku."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewayProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current provisioning state of the API Management gateway which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted."
          }
        },
        "targetProvisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the API Management gateway, which is targeted by the long running operation started on the gateway."
          }
        },
        "createdAtUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation UTC date of the API Management gateway.The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard."
          }
        },
        "frontend": {
          "target": "com.azure.apimanagement#FrontendConfiguration",
          "traits": {
            "smithy.api#documentation": "Information regarding how the gateway should be exposed."
          }
        },
        "backend": {
          "target": "com.azure.apimanagement#BackendConfiguration",
          "traits": {
            "smithy.api#documentation": "Information regarding how the gateway should integrate with backend systems."
          }
        },
        "configurationApi": {
          "target": "com.azure.apimanagement#GatewayConfigurationApi",
          "traits": {
            "smithy.api#documentation": "Information regarding the Configuration API of the API Management gateway. This is only applicable for API gateway with Standard SKU."
          }
        },
        "virtualNetworkType": {
          "target": "com.azure.apimanagement#ApiManagementGatewayPropertiesVirtualNetworkType",
          "traits": {
            "smithy.api#documentation": "The type of VPN in which API Management gateway needs to be configured in. "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an API Management gateway resource description."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewayPropertiesVirtualNetworkType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "External"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of VPN in which API Management gateway needs to be configured in. "
      }
    },
    "com.azure.apimanagement#GatewayConfigurationApi": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname to which the agent connects to propagate configuration to the cloud."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information regarding the Configuration API of the API Management gateway. This is only applicable for API gateway with Standard SKU."
      }
    },
    "com.azure.apimanagement#BackendConfiguration": {
      "type": "structure",
      "members": {
        "subnet": {
          "target": "com.azure.apimanagement#BackendSubnetConfiguration",
          "traits": {
            "smithy.api#documentation": "The default hostname of the data-plane gateway to which requests can be sent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information regarding how the gateway should integrate with backend systems."
      }
    },
    "com.azure.apimanagement#BackendSubnetConfiguration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM ID of the subnet in which the backend systems are hosted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information regarding how the subnet to which the gateway should be injected."
      }
    },
    "com.azure.apimanagement#FrontendConfiguration": {
      "type": "structure",
      "members": {
        "defaultHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default hostname of the data-plane gateway to which requests can be sent. This is only applicable for API gateway with Standard SKU."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information regarding how the gateway should be exposed."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewayResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.apimanagement#ListApiGatewayRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.apimanagement#ListApiGatewayByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#ListApiGatewayByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.apimanagement#ApiManagementGatewayListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "List all API Management gateways within a resource group.",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#ListApiGatewayByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.apimanagement#DeleteApiGateway": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#DeleteApiGatewayRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "Deletes an existing API Management gateway.",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#DeleteApiGatewayRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "gatewayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API Management gateway."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.apimanagement#UpdateApiGateway": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#UpdateApiGatewayRequest"
      },
      "output": {
        "target": "com.azure.apimanagement#UpdateApiGatewayResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "Updates an existing API Management gateway.",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#UpdateApiGatewayResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type for API Management resource is set to Microsoft.ApiManagement."
          }
        },
        "tags": {
          "target": "com.azure.apimanagement#ApiGatewayUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.apimanagement#ApiManagementGatewayProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the API Management gateway.",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.apimanagement#ApiManagementGatewaySkuProperties",
          "traits": {
            "smithy.api#documentation": "SKU properties of the API Management gateway.",
            "smithy.api#required": {}
          }
        },
        "systemData": {
          "target": "com.azure.apimanagement#ApiGatewayUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.apimanagement#ApiGatewayUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.apimanagement#ApiGatewayUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.apimanagement#ApiGatewayUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.apimanagement#ApiGatewayUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.apimanagement#ApiGatewayUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.apimanagement#ApiGatewayUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.apimanagement#UpdateApiGatewayRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "gatewayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API Management gateway."
          }
        },
        "tags": {
          "target": "com.azure.apimanagement#ApiGatewayUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.apimanagement#ApiManagementGatewayUpdatePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the API Management gateway."
          }
        },
        "sku": {
          "target": "com.azure.apimanagement#ApiManagementGatewaySkuPropertiesForPatch",
          "traits": {
            "smithy.api#documentation": "SKU properties of the API Management gateway."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.apimanagement#ApiManagementGatewaySkuPropertiesForPatch": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.apimanagement#ApiManagementGatewaySkuPropertiesForPatchName",
          "traits": {
            "smithy.api#documentation": "Name of the Sku."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Capacity of the SKU (number of deployed units of the SKU)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API Management gateway resource SKU properties for PATCH operations given nothing should be required."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewaySkuPropertiesForPatchName": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "WORKSPACEGATEWAYSTANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WorkspaceGatewayStandard"
          }
        },
        "WORKSPACEGATEWAYPREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WorkspaceGatewayPremium"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Name of the Sku."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewayUpdatePropertiesInput": {
      "type": "structure",
      "members": {
        "frontend": {
          "target": "com.azure.apimanagement#FrontendConfigurationInput",
          "traits": {
            "smithy.api#documentation": "Information regarding how the gateway should be exposed."
          }
        },
        "backend": {
          "target": "com.azure.apimanagement#BackendConfiguration",
          "traits": {
            "smithy.api#documentation": "Information regarding how the gateway should integrate with backend systems."
          }
        },
        "configurationApi": {
          "target": "com.azure.apimanagement#GatewayConfigurationApiInput",
          "traits": {
            "smithy.api#documentation": "Information regarding the Configuration API of the API Management gateway. This is only applicable for API gateway with Standard SKU."
          }
        },
        "virtualNetworkType": {
          "target": "com.azure.apimanagement#ApiManagementGatewayUpdatePropertiesInputVirtualNetworkType",
          "traits": {
            "smithy.api#documentation": "The type of VPN in which API Management gateway needs to be configured in. "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an API Management gateway resource description."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewayUpdatePropertiesInputVirtualNetworkType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "External"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of VPN in which API Management gateway needs to be configured in. "
      }
    },
    "com.azure.apimanagement#GatewayConfigurationApiInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Information regarding the Configuration API of the API Management gateway. This is only applicable for API gateway with Standard SKU."
      }
    },
    "com.azure.apimanagement#FrontendConfigurationInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Information regarding how the gateway should be exposed."
      }
    },
    "com.azure.apimanagement#ApiGatewayUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.apimanagement#ApiGatewayCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#ApiGatewayCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.apimanagement#ApiGatewayCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "Creates or updates an API Management gateway. This is long running operation and could take several minutes to complete.",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#ApiGatewayCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type for API Management resource is set to Microsoft.ApiManagement."
          }
        },
        "tags": {
          "target": "com.azure.apimanagement#ApiGatewayCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.apimanagement#ApiManagementGatewayProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the API Management gateway.",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.apimanagement#ApiManagementGatewaySkuProperties",
          "traits": {
            "smithy.api#documentation": "SKU properties of the API Management gateway.",
            "smithy.api#required": {}
          }
        },
        "systemData": {
          "target": "com.azure.apimanagement#ApiGatewayCreateOrUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.apimanagement#ApiGatewayCreateOrUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.apimanagement#ApiGatewayCreateOrUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.apimanagement#ApiGatewayCreateOrUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.apimanagement#ApiGatewayCreateOrUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.apimanagement#ApiGatewayCreateOrUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.apimanagement#ApiGatewayCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.apimanagement#ApiGatewayCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "gatewayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API Management gateway."
          }
        },
        "tags": {
          "target": "com.azure.apimanagement#ApiGatewayCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.apimanagement#ApiManagementGatewayPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the API Management gateway.",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.apimanagement#ApiManagementGatewaySkuProperties",
          "traits": {
            "smithy.api#documentation": "SKU properties of the API Management gateway.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.apimanagement#ApiManagementGatewayPropertiesInput": {
      "type": "structure",
      "members": {
        "frontend": {
          "target": "com.azure.apimanagement#FrontendConfigurationInput",
          "traits": {
            "smithy.api#documentation": "Information regarding how the gateway should be exposed."
          }
        },
        "backend": {
          "target": "com.azure.apimanagement#BackendConfiguration",
          "traits": {
            "smithy.api#documentation": "Information regarding how the gateway should integrate with backend systems."
          }
        },
        "configurationApi": {
          "target": "com.azure.apimanagement#GatewayConfigurationApiInput",
          "traits": {
            "smithy.api#documentation": "Information regarding the Configuration API of the API Management gateway. This is only applicable for API gateway with Standard SKU."
          }
        },
        "virtualNetworkType": {
          "target": "com.azure.apimanagement#ApiManagementGatewayPropertiesInputVirtualNetworkType",
          "traits": {
            "smithy.api#documentation": "The type of VPN in which API Management gateway needs to be configured in. "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an API Management gateway resource description."
      }
    },
    "com.azure.apimanagement#ApiManagementGatewayPropertiesInputVirtualNetworkType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "External"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of VPN in which API Management gateway needs to be configured in. "
      }
    },
    "com.azure.apimanagement#ApiGatewayCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.apimanagement#GetApiGateway": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#GetApiGatewayRequest"
      },
      "output": {
        "target": "com.azure.apimanagement#GetApiGatewayResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "Gets an API Management gateway resource description.",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#GetApiGatewayResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type for API Management resource is set to Microsoft.ApiManagement."
          }
        },
        "tags": {
          "target": "com.azure.apimanagement#ApiGatewayGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.apimanagement#ApiManagementGatewayProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the API Management gateway.",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.apimanagement#ApiManagementGatewaySkuProperties",
          "traits": {
            "smithy.api#documentation": "SKU properties of the API Management gateway.",
            "smithy.api#required": {}
          }
        },
        "systemData": {
          "target": "com.azure.apimanagement#ApiGatewayGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.apimanagement#ApiGatewayGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.apimanagement#ApiGatewayGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.apimanagement#ApiGatewayGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.apimanagement#ApiGatewayGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.apimanagement#ApiGatewayGetResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.apimanagement#ApiGatewayGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.apimanagement#GetApiGatewayRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "gatewayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API Management gateway."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.apimanagement#ListAllPolicyByService": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#ListAllPolicyByServiceRequest"
      },
      "output": {
        "target": "com.azure.apimanagement#ListAllPolicyByServiceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/allPolicies",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "Status of all policies of API Management services.",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#ListAllPolicyByServiceResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.apimanagement#AllPoliciesListByServiceResponseValueList",
          "traits": {
            "smithy.api#documentation": "AllPolicies Contract value."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page link if any."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.apimanagement#AllPoliciesListByServiceResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.apimanagement#AllPoliciesContract"
      },
      "traits": {
        "smithy.api#documentation": "AllPolicies Contract value."
      }
    },
    "com.azure.apimanagement#AllPoliciesContract": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.apimanagement#AllPoliciesContractProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the All Policies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AllPolicies Contract details."
      }
    },
    "com.azure.apimanagement#AllPoliciesContractProperties": {
      "type": "structure",
      "members": {
        "referencePolicyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy Identifier"
          }
        },
        "complianceState": {
          "target": "com.azure.apimanagement#AllPoliciesContractPropertiesComplianceState",
          "traits": {
            "smithy.api#documentation": "Policy Restriction Compliance State"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AllPolicies Properties."
      }
    },
    "com.azure.apimanagement#AllPoliciesContractPropertiesComplianceState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "NONCOMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonCompliant"
          }
        },
        "COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Compliant"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy Restriction Compliance State"
      }
    },
    "com.azure.apimanagement#ListAllPolicyByServiceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API Management service."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.apimanagement#ListApiWikis": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#ListApiWikisRequest"
      },
      "output": {
        "target": "com.azure.apimanagement#ListApiWikisResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/wikis",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "Gets the wikis for an API specified by its identifier.",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#ListApiWikisResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.apimanagement#ApiWikisListResponseValueList",
          "traits": {
            "smithy.api#documentation": "Page values."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page link if any."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.apimanagement#ApiWikisListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.apimanagement#WikiContract"
      },
      "traits": {
        "smithy.api#documentation": "Page values."
      }
    },
    "com.azure.apimanagement#WikiContract": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.apimanagement#WikiContractProperties",
          "traits": {
            "smithy.api#documentation": "Wiki details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wiki properties"
      }
    },
    "com.azure.apimanagement#WikiContractProperties": {
      "type": "structure",
      "members": {
        "documents": {
          "target": "com.azure.apimanagement#WikiContractPropertiesDocumentsList",
          "traits": {
            "smithy.api#documentation": "Collection wiki documents included into this wiki."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wiki contract details"
      }
    },
    "com.azure.apimanagement#WikiContractPropertiesDocumentsList": {
      "type": "list",
      "member": {
        "target": "com.azure.apimanagement#WikiDocumentationContract"
      },
      "traits": {
        "smithy.api#documentation": "Collection wiki documents included into this wiki."
      }
    },
    "com.azure.apimanagement#WikiDocumentationContract": {
      "type": "structure",
      "members": {
        "documentationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Documentation Identifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wiki documentation details."
      }
    },
    "com.azure.apimanagement#ListApiWikisRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API Management service."
          }
        },
        "apiId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "API identifier. Must be unique in the current API Management service instance."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "|     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| name | filter | eq |  contains |</br>"
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Number of records to return."
          }
        },
        "_skip": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$skip",
            "smithy.api#documentation": "Number of records to skip."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.apimanagement#DeleteApiWiki": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#DeleteApiWikiRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/wikis/default",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "Deletes the specified Wiki from an API.",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#DeleteApiWikiRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API Management service."
          }
        },
        "apiId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "API identifier. Must be unique in the current API Management service instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.apimanagement#UpdateApiWiki": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#UpdateApiWikiRequest"
      },
      "output": {
        "target": "com.azure.apimanagement#UpdateApiWikiResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/wikis/default",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "Updates the details of the Wiki for an API specified by its identifier.",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#UpdateApiWikiResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.apimanagement#WikiContractProperties",
          "traits": {
            "smithy.api#documentation": "Wiki details."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.apimanagement#UpdateApiWikiRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API Management service."
          }
        },
        "apiId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "API identifier. Must be unique in the current API Management service instance."
          }
        },
        "properties": {
          "target": "com.azure.apimanagement#WikiContractProperties",
          "traits": {
            "smithy.api#documentation": "Wiki details."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.apimanagement#ApiWikiCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#ApiWikiCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.apimanagement#ApiWikiCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/wikis/default",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "Creates a new Wiki for an API or updates an existing one.",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#ApiWikiCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.apimanagement#WikiContractProperties",
          "traits": {
            "smithy.api#documentation": "Wiki details."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.apimanagement#ApiWikiCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API Management service."
          }
        },
        "apiId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "API identifier. Must be unique in the current API Management service instance."
          }
        },
        "properties": {
          "target": "com.azure.apimanagement#WikiContractProperties",
          "traits": {
            "smithy.api#documentation": "Wiki details."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.apimanagement#GetApiWiki": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#GetApiWikiRequest"
      },
      "output": {
        "target": "com.azure.apimanagement#GetApiWikiResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/wikis/default",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "Gets the details of the Wiki for an API specified by its identifier.",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#GetApiWikiResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.apimanagement#WikiContractProperties",
          "traits": {
            "smithy.api#documentation": "Wiki details."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.apimanagement#GetApiWikiRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API Management service."
          }
        },
        "apiId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "API identifier. Must be unique in the current API Management service instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.apimanagement#ListOperationByTags": {
      "type": "operation",
      "input": {
        "target": "com.azure.apimanagement#ListOperationByTagsRequest"
      },
      "output": {
        "target": "com.azure.apimanagement#ListOperationByTagsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operationsByTags",
          "code": 200,
          "apiVersion": "2024-05-01"
        },
        "smithy.api#documentation": "Lists a collection of operations associated with tags.",
        "com.distilled.openapi#apiVersion": "2024-05-01"
      }
    },
    "com.azure.apimanagement#ListOperationByTagsResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.apimanagement#OperationListByTagsResponseValueList",
          "traits": {
            "smithy.api#documentation": "Page values."
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total record count number across all pages."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page link if any."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.apimanagement#OperationListByTagsResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.apimanagement#TagResourceContract"
      },
      "traits": {
        "smithy.api#documentation": "Page values."
      }
    },
    "com.azure.apimanagement#TagResourceContract": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "com.azure.apimanagement#TagTagResourceContractProperties",
          "traits": {
            "smithy.api#documentation": "Tag associated with the resource.",
            "smithy.api#required": {}
          }
        },
        "api": {
          "target": "com.azure.apimanagement#ApiTagResourceContractProperties",
          "traits": {
            "smithy.api#documentation": "API associated with the tag."
          }
        },
        "operation": {
          "target": "com.azure.apimanagement#OperationTagResourceContractProperties",
          "traits": {
            "smithy.api#documentation": "Operation associated with the tag."
          }
        },
        "product": {
          "target": "com.azure.apimanagement#ProductTagResourceContractProperties",
          "traits": {
            "smithy.api#documentation": "Product associated with the tag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TagResource contract properties."
      }
    },
    "com.azure.apimanagement#ProductTagResourceContractProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product description. May include HTML formatting tags."
          }
        },
        "terms": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product terms of use. Developers trying to subscribe to the product will be presented and required to accept these terms before they can complete the subscription process."
          }
        },
        "subscriptionRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a product subscription is required for accessing APIs included in this product. If true, the product is referred to as \"protected\" and a valid subscription key is required for a request to an API included in the product to succeed. If false, the product is referred to as \"open\" and requests to an API included in the product can be made without a subscription key. If property is omitted when creating a new product it's value is assumed to be true."
          }
        },
        "approvalRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether subscription approval is required. If false, new subscriptions will be approved automatically enabling developers to call the product’s APIs immediately after subscribing. If true, administrators must manually approve the subscription before the developer can any of the product’s APIs. Can be present only if subscriptionRequired property is present and has a value of false."
          }
        },
        "subscriptionsLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Whether the number of subscriptions a user can have to this product at the same time. Set to null or omit to allow unlimited per user subscriptions. Can be present only if subscriptionRequired property is present and has a value of false."
          }
        },
        "state": {
          "target": "com.azure.apimanagement#ProductTagResourceContractPropertiesState",
          "traits": {
            "smithy.api#documentation": "whether product is published or not. Published products are discoverable by users of developer portal. Non published products are visible only to administrators. Default state of Product is notPublished."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the product in the form of /products/{productId}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product profile."
      }
    },
    "com.azure.apimanagement#ProductTagResourceContractPropertiesState": {
      "type": "enum",
      "members": {
        "NOTPUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notPublished"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "published"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "whether product is published or not. Published products are discoverable by users of developer portal. Non published products are visible only to administrators. Default state of Product is notPublished."
      }
    },
    "com.azure.apimanagement#OperationTagResourceContractProperties": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the operation in form /operations/{operationId}."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation name."
          }
        },
        "apiName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Name."
          }
        },
        "apiRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Revision."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Version."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation Description."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Valid HTTP Operation Method. Typical Http Methods like GET, PUT, POST but not limited by only them."
          }
        },
        "urlTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative URL template identifying the target resource for this operation. May include parameters. Example: /customers/{cid}/orders/{oid}/?date={date}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation Entity contract Properties."
      }
    },
    "com.azure.apimanagement#ApiTagResourceContractProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the API. May include HTML formatting tags."
          }
        },
        "authenticationSettings": {
          "target": "com.azure.apimanagement#AuthenticationSettingsContract",
          "traits": {
            "smithy.api#documentation": "Collection of authentication settings included into this API."
          }
        },
        "subscriptionKeyParameterNames": {
          "target": "com.azure.apimanagement#SubscriptionKeyParameterNamesContract",
          "traits": {
            "smithy.api#documentation": "Protocols over which API is made available."
          }
        },
        "type": {
          "target": "com.azure.apimanagement#ApiTagResourceContractPropertiesType",
          "traits": {
            "smithy.api#documentation": "Type of API."
          }
        },
        "apiRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes the revision of the API. If no value is provided, default revision 1 is created"
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the version identifier of the API if the API is versioned"
          }
        },
        "isCurrent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if API revision is current api revision."
          }
        },
        "isOnline": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if API revision is accessible via the gateway."
          }
        },
        "apiRevisionDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the API Revision."
          }
        },
        "apiVersionDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the API Version."
          }
        },
        "apiVersionSetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A resource identifier for the related ApiVersionSet."
          }
        },
        "subscriptionRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether an API or Product subscription is required for accessing the API."
          }
        },
        "termsOfServiceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " A URL to the Terms of Service for the API. MUST be in the format of a URL."
          }
        },
        "contact": {
          "target": "com.azure.apimanagement#ApiContactInformation",
          "traits": {
            "smithy.api#documentation": "Contact information for the API."
          }
        },
        "license": {
          "target": "com.azure.apimanagement#ApiLicenseInformation",
          "traits": {
            "smithy.api#documentation": "License information for the API."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API identifier in the form /apis/{apiId}."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API name."
          }
        },
        "serviceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute URL of the backend service implementing this API."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative URL uniquely identifying this API and all of its resource paths within the API Management service instance. It is appended to the API endpoint base URL specified during the service instance creation to form a public URL for this API."
          }
        },
        "protocols": {
          "target": "com.azure.apimanagement#ApiTagResourceContractPropertiesProtocolsList",
          "traits": {
            "smithy.api#documentation": "Describes on which protocols the operations in this API can be invoked."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API contract properties for the Tag Resources."
      }
    },
    "com.azure.apimanagement#ApiTagResourceContractPropertiesProtocolsList": {
      "type": "list",
      "member": {
        "target": "com.azure.apimanagement#ApiTagResourceContractPropertiesProtocolsItem"
      },
      "traits": {
        "smithy.api#documentation": "Describes on which protocols the operations in this API can be invoked."
      }
    },
    "com.azure.apimanagement#ApiTagResourceContractPropertiesProtocolsItem": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https"
          }
        },
        "WS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ws"
          }
        },
        "WSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wss"
          }
        }
      },
      "traits": {}
    },
    "com.azure.apimanagement#ApiLicenseInformation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The license name used for the API"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL to the license used for the API. MUST be in the format of a URL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API license information"
      }
    },
    "com.azure.apimanagement#ApiContactInformation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifying name of the contact person/organization"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pointing to the contact information. MUST be in the format of a URL"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the contact person/organization. MUST be in the format of an email address"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API contact information"
      }
    },
    "com.azure.apimanagement#ApiTagResourceContractPropertiesType": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "SOAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "soap"
          }
        },
        "WEBSOCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "websocket"
          }
        },
        "GRAPHQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "graphql"
          }
        },
        "ODATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "odata"
          }
        },
        "GRPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grpc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of API."
      }
    },
    "com.azure.apimanagement#SubscriptionKeyParameterNamesContract": {
      "type": "structure",
      "members": {
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription key header name."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription key query string parameter name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Subscription key parameter names details."
      }
    },
    "com.azure.apimanagement#AuthenticationSettingsContract": {
      "type": "structure",
      "members": {
        "oAuth2": {
          "target": "com.azure.apimanagement#OAuth2AuthenticationSettingsContract",
          "traits": {
            "smithy.api#documentation": "OAuth2 Authentication settings"
          }
        },
        "openid": {
          "target": "com.azure.apimanagement#OpenIdAuthenticationSettingsContract",
          "traits": {
            "smithy.api#documentation": "OpenID Connect Authentication Settings"
          }
        },
        "oAuth2AuthenticationSettings": {
          "target": "com.azure.apimanagement#AuthenticationSettingsContractOAuth2AuthenticationSettingsList",
          "traits": {
            "smithy.api#documentation": "Collection of OAuth2 authentication settings included into this API."
          }
        },
        "openidAuthenticationSettings": {
          "target": "com.azure.apimanagement#AuthenticationSettingsContractOpenidAuthenticationSettingsList",
          "traits": {
            "smithy.api#documentation": "Collection of Open ID Connect authentication settings included into this API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API Authentication Settings."
      }
    },
    "com.azure.apimanagement#AuthenticationSettingsContractOpenidAuthenticationSettingsList": {
      "type": "list",
      "member": {
        "target": "com.azure.apimanagement#OpenIdAuthenticationSettingsContract"
      },
      "traits": {
        "smithy.api#documentation": "Collection of Open ID Connect authentication settings included into this API."
      }
    },
    "com.azure.apimanagement#OpenIdAuthenticationSettingsContract": {
      "type": "structure",
      "members": {
        "openidProviderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth authorization server identifier."
          }
        },
        "bearerTokenSendingMethods": {
          "target": "com.azure.apimanagement#OpenIdAuthenticationSettingsContractBearerTokenSendingMethodsList",
          "traits": {
            "smithy.api#documentation": "How to send token to the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API OAuth2 Authentication settings details."
      }
    },
    "com.azure.apimanagement#OpenIdAuthenticationSettingsContractBearerTokenSendingMethodsList": {
      "type": "list",
      "member": {
        "target": "com.azure.apimanagement#BearerTokenSendingMethodsContract"
      },
      "traits": {
        "smithy.api#documentation": "How to send token to the server."
      }
    },
    "com.azure.apimanagement#BearerTokenSendingMethodsContract": {
      "type": "enum",
      "members": {
        "AUTHORIZATIONHEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authorizationHeader"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Form of an authorization grant, which the client uses to request the access token."
      }
    },
[...]
