{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.billingbenefits#MaccsWriteOff": {
      "type": "operation",
      "input": {
        "target": "com.azure.billingbenefits#MaccsWriteOffRequest"
      },
      "output": {
        "target": "com.azure.billingbenefits#MaccsWriteOffResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}/writeOff",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Operation to waive a customer's pending MACC balance (Shortfall) from their account, ensuring they are not charged for the outstanding amount.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.billingbenefits#MaccsWriteOffResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billingbenefits#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.billingbenefits#MaccsWriteOffResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.billingbenefits#MaccModelProperties",
          "traits": {
            "smithy.api#documentation": "MACC properties"
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type. E.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        },
        "identity": {
          "target": "com.azure.billingbenefits#MaccsWriteOffResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "sku": {
          "target": "com.azure.billingbenefits#Sku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        },
        "plan": {
          "target": "com.azure.billingbenefits#Plan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billingbenefits#Plan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user defined name of the 3rd Party Artifact that is being procured.",
            "smithy.api#required": {}
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding.",
            "smithy.api#required": {}
          }
        },
        "promotionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A publisher provided promotion code as provisioned in Data Market for the said product/artifact."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the desired product/artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Plan for the resource."
      }
    },
    "com.azure.billingbenefits#Sku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. E.g. P3. It is typically a letter+number code",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.billingbenefits#SkuTier",
          "traits": {
            "smithy.api#documentation": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code."
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource model definition representing SKU"
      }
    },
    "com.azure.billingbenefits#SkuTier": {
      "type": "enum",
      "members": {
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Free"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT."
      }
    },
    "com.azure.billingbenefits#MaccsWriteOffResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.billingbenefits#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.billingbenefits#MaccsWriteOffResponseIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.billingbenefits#MaccsWriteOffResponseIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.billingbenefits#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.billingbenefits#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.billingbenefits#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.billingbenefits#MaccModelProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.billingbenefits#BenefitProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of MACC as assigned by RPaaS. This indicates the last operation's status. For all practical purposes, this can be ignored. For current status of MACC resource, refer to MaccStatus."
          }
        },
        "status": {
          "target": "com.azure.billingbenefits#MaccStatus",
          "traits": {
            "smithy.api#documentation": "Represents the current status of the MACC."
          }
        },
        "entityType": {
          "target": "com.azure.billingbenefits#MaccEntityType",
          "traits": {
            "smithy.api#documentation": "Represents type of the object being operated on. Possible values are primary or contributor.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name"
          }
        },
        "productCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents catalog UPN."
          }
        },
        "billingAccountResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully-qualified identifier of the billing account where the MACC is applied. Present only for Enterprise Agreement customers. Format must be Azure Resource ID: /providers/Microsoft.Billing/billingAccounts/{acctId:orgId}"
          }
        },
        "commitment": {
          "target": "com.azure.billingbenefits#Commitment",
          "traits": {
            "smithy.api#documentation": "Commitment towards the benefit."
          }
        },
        "startAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Must be start of month. Timestamp must be in the ISO date format YYYY-MM-DDT00:00:00Z."
          }
        },
        "endAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Must be end of month. Timestamp must be in the ISO date format YYYY-MM-DDT23:59:59Z."
          }
        },
        "systemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the globally unique identifier of the MACC which will not change for the lifetime of the MACC."
          }
        },
        "automaticShortfall": {
          "target": "com.azure.billingbenefits#EnablementMode",
          "traits": {
            "smithy.api#documentation": "Setting this to 'Enable' enables automatic shortfall charging when commitment is not met."
          }
        },
        "automaticShortfallSuppressReason": {
          "target": "com.azure.billingbenefits#AutomaticShortfallSuppressReason",
          "traits": {
            "smithy.api#documentation": "Optional field to record suppression reason for automatic shortfall."
          }
        },
        "shortfall": {
          "target": "com.azure.billingbenefits#Shortfall",
          "traits": {
            "smithy.api#documentation": "MACC shortfall"
          }
        },
        "milestones": {
          "target": "com.azure.billingbenefits#MaccModelPropertiesMilestonesList",
          "traits": {
            "smithy.api#documentation": "List of milestones associated with this MACC."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the resource identifier of either the primary MACC or the contributor. Format: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}."
          }
        },
        "allowContributors": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Setting this to true means multi-entity."
          }
        },
        "primaryResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully-qualified resource identifier of the primary MACC. Format: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}."
          }
        },
        "primaryBillingAccountResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully-qualified billing account resource identifier of the primary MACC. Format must be Azure Resource ID: /providers/Microsoft.Billing/billingAccounts/{acctId:orgId}."
          }
        },
        "productDetails": {
          "target": "com.azure.billingbenefits#ProductDetailsBase",
          "traits": {
            "smithy.api#documentation": "Product details including SKU title, product family, and product type."
          }
        },
        "appliedScopeType": {
          "target": "com.azure.billingbenefits#BenefitAppliedScopeType",
          "traits": {
            "smithy.api#documentation": "Type of the applied scope for the MACC."
          }
        },
        "invitationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Invitation identifier"
          }
        },
        "consumed": {
          "target": "com.azure.billingbenefits#Price",
          "traits": {
            "smithy.api#documentation": "Amount of benefit that has been consumed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MACC properties"
      }
    },
    "com.azure.billingbenefits#Price": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO 4217 3-letter currency code for the currency used by this purchase record."
          }
        },
        "amount": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.azure.billingbenefits#BenefitAppliedScopeType": {
      "type": "enum",
      "members": {
        "BILLINGACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BillingAccount"
          }
        },
        "BILLINGPROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BillingProfile"
          }
        },
        "CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Customer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of applied scope types supported for benefit resources."
      }
    },
    "com.azure.billingbenefits#ProductDetailsBase": {
      "type": "structure",
      "members": {
        "skuTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SKU title of the product"
          }
        },
        "productFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product family, for example \"Azure\" or \"M365\"."
          }
        },
        "productType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the product."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common product detail properties shared across all benefit resources"
      }
    },
    "com.azure.billingbenefits#MaccModelPropertiesMilestonesList": {
      "type": "list",
      "member": {
        "target": "com.azure.billingbenefits#MaccMilestone"
      },
      "traits": {
        "smithy.api#documentation": "List of milestones associated with this MACC."
      }
    },
    "com.azure.billingbenefits#MaccMilestone": {
      "type": "structure",
      "members": {
        "milestoneId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Globally unique identifier for the milestone. Format: {guid}"
          }
        },
        "commitment": {
          "target": "com.azure.billingbenefits#Price",
          "traits": {
            "smithy.api#documentation": "Commitment associated with this milestone."
          }
        },
        "endAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date time for the milestone. Timestamp must be in the ISO date format YYYY-MM-DDT23:59:59Z."
          }
        },
        "automaticShortfall": {
          "target": "com.azure.billingbenefits#EnablementMode",
          "traits": {
            "smithy.api#documentation": "Setting this to 'Enable' enables automatic shortfall invoicing when milestone commitment is not met."
          }
        },
        "automaticShortfallSuppressReason": {
          "target": "com.azure.billingbenefits#AutomaticShortfallSuppressReason",
          "traits": {
            "smithy.api#documentation": "Optional field to record suppression reason for automatic shortfall."
          }
        },
        "status": {
          "target": "com.azure.billingbenefits#MaccMilestoneStatus",
          "traits": {
            "smithy.api#documentation": "Represents the current status of the Milestone."
          }
        },
        "shortfall": {
          "target": "com.azure.billingbenefits#Shortfall",
          "traits": {
            "smithy.api#documentation": "Details of the shortfall associated with this milestone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MACC milestone represents interim targets within the period of MACC."
      }
    },
    "com.azure.billingbenefits#Shortfall": {
      "type": "structure",
      "members": {
        "productCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents catalog UPN."
          }
        },
        "charge": {
          "target": "com.azure.billingbenefits#Commitment",
          "traits": {
            "smithy.api#documentation": "Shortfall amount with grain."
          }
        },
        "startAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start DateTime."
          }
        },
        "endAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End DateTime in UTC."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully-qualified resource identifier of the credits associated with the shortfall."
          }
        },
        "balanceVersion": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Points to BalanceVersion document that indicates the remaining commitment balance when the credit was created."
          }
        },
        "systemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is an identifier of the shortfall which will not change for its lifetime."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MACC shortfall"
      }
    },
    "com.azure.billingbenefits#Commitment": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO 4217 3-letter currency code for the currency used by this purchase record."
          }
        },
        "amount": {
          "target": "smithy.api#Double"
        },
        "grain": {
          "target": "com.azure.billingbenefits#CommitmentGrain",
          "traits": {
            "smithy.api#documentation": "The grain of the commitment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Commitment towards the benefit."
      }
    },
    "com.azure.billingbenefits#CommitmentGrain": {
      "type": "enum",
      "members": {
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hourly"
          }
        },
        "FULLTERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullTerm"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Grain."
      }
    },
    "com.azure.billingbenefits#MaccMilestoneStatus": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduled"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Removed"
          }
        },
        "PENDINGSETTLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingSettlement"
          }
        },
        "SHORTFALLCHARGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ShortfallCharged"
          }
        },
        "SHORTFALLWAIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ShortfallWaived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the current status of the Milestone."
      }
    },
    "com.azure.billingbenefits#AutomaticShortfallSuppressReason": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code for the suppression reason."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message for suppression reason."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional field to record suppression reason for automatic shortfall."
      }
    },
    "com.azure.billingbenefits#EnablementMode": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the enablement status of a feature or settings."
      }
    },
    "com.azure.billingbenefits#MaccEntityType": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Primary"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Contributor"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents type of the object being operated on. Possible values are primary or contributor."
      }
    },
    "com.azure.billingbenefits#MaccStatus": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduled"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopped"
          }
        },
        "PENDINGSETTLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingSettlement"
          }
        },
        "SHORTFALLCHARGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ShortfallCharged"
          }
        },
        "SHORTFALLWAIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ShortfallWaived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the current status of the MACC."
      }
    },
    "com.azure.billingbenefits#BenefitProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state for billing benefit resources. Includes the standard terminal states\n(Succeeded, Failed, Canceled) plus benefit-specific transition states."
      }
    },
    "com.azure.billingbenefits#MaccsWriteOffResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.billingbenefits#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.billingbenefits#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.billingbenefits#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.billingbenefits#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.billingbenefits#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.billingbenefits#MaccsWriteOffRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "maccName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of primary MACC."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billingbenefits#MaccTransactionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.billingbenefits#MaccTransactionsGetRequest"
      },
      "output": {
        "target": "com.azure.billingbenefits#MaccTransactionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}/transactions/{transactionName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Get a specific transaction for a MACC.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.billingbenefits#MaccTransactionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billingbenefits#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.billingbenefits#TransactionProperties",
          "traits": {
            "smithy.api#documentation": "Transaction properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billingbenefits#TransactionProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.billingbenefits#BenefitProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the transaction as assigned by RPaaS. This indicates the last operation's status."
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the DateTime when the transaction occurred."
          }
        },
        "chargeType": {
          "target": "com.azure.billingbenefits#TransactionChargeType",
          "traits": {
            "smithy.api#documentation": "The type of charge for this transaction."
          }
        },
        "billingStatus": {
          "target": "com.azure.billingbenefits#TransactionBillingStatus",
          "traits": {
            "smithy.api#documentation": "Billing lifecycle status of this transaction."
          }
        },
        "invoiceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully-qualified identifier of the invoice."
          }
        },
        "amountInBillingCurrency": {
          "target": "com.azure.billingbenefits#Price",
          "traits": {
            "smithy.api#documentation": "Transaction amount in billing currency."
          }
        },
        "amountInPricingCurrency": {
          "target": "com.azure.billingbenefits#Price",
          "traits": {
            "smithy.api#documentation": "Transaction amount in pricing currency."
          }
        },
        "productCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Catalog UPN for the product associated with this transaction."
          }
        },
        "productDetails": {
          "target": "com.azure.billingbenefits#TransactionProductDetails",
          "traits": {
            "smithy.api#documentation": "Product details including SKU title, SKU properties, product family, type, and publisher type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a transaction"
      }
    },
    "com.azure.billingbenefits#TransactionProductDetails": {
      "type": "structure",
      "members": {
        "skuTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SKU title of the product"
          }
        },
        "productFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product family, for example \"Azure\" or \"M365\"."
          }
        },
        "productType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the product."
          }
        },
        "serviceFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Grouping of Azure services by core function (e.g., Compute, Databases)."
          }
        },
        "publisherType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher type of the product, for example \"Microsoft\" for first-party or a third-party publisher name. Additional values may be introduced in the future."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product details for a transaction"
      }
    },
    "com.azure.billingbenefits#TransactionBillingStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Open"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Closed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Billing lifecycle status of a transaction."
      }
    },
    "com.azure.billingbenefits#TransactionChargeType": {
      "type": "enum",
      "members": {
        "USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Usage"
          }
        },
        "PURCHASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Purchase"
          }
        },
        "REFUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Refund"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of charge for a transaction."
      }
    },
    "com.azure.billingbenefits#MaccTransactionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "maccName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of primary MACC."
          }
        },
        "transactionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the transaction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billingbenefits#MaccTransactionsListByParent": {
      "type": "operation",
      "input": {
        "target": "com.azure.billingbenefits#MaccTransactionsListByParentRequest"
      },
      "output": {
        "target": "com.azure.billingbenefits#MaccTransactionsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}/transactions",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "List all transactions for a MACC.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.billingbenefits#MaccTransactionsList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.billingbenefits#MaccTransactionsListValueList",
          "traits": {
            "smithy.api#documentation": "The MaccTransaction items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Macc transactions"
      }
    },
    "com.azure.billingbenefits#MaccTransactionsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.billingbenefits#MaccTransaction"
      },
      "traits": {
        "smithy.api#documentation": "The MaccTransaction items on this page"
      }
    },
    "com.azure.billingbenefits#MaccTransaction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billingbenefits#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.billingbenefits#TransactionProperties",
          "traits": {
            "smithy.api#documentation": "Transaction properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Transaction resource definition for Maccs"
      }
    },
    "com.azure.billingbenefits#MaccTransactionsListByParentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "maccName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of primary MACC."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billingbenefits#ContributorsGetFromPrimary": {
      "type": "operation",
      "input": {
        "target": "com.azure.billingbenefits#ContributorsGetFromPrimaryRequest"
      },
      "output": {
        "target": "com.azure.billingbenefits#ContributorsGetFromPrimaryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}/contributors/{contributorName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Get a contributor for primary service admin",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.billingbenefits#ContributorsGetFromPrimaryResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billingbenefits#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.billingbenefits#MaccModelProperties",
          "traits": {
            "smithy.api#documentation": "MACC contributor properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billingbenefits#ContributorsGetFromPrimaryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "maccName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of primary MACC."
          }
        },
        "contributorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique name of contributor in the format {contributorCloudSubId}_{resourceGroupName}_{nameInContributorTenant}."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billingbenefits#ContributorsListFromPrimary": {
      "type": "operation",
      "input": {
        "target": "com.azure.billingbenefits#ContributorsListFromPrimaryRequest"
      },
      "output": {
        "target": "com.azure.billingbenefits#ContributorList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}/contributors",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "List contributors under a MACC for primary service admin",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.billingbenefits#ContributorList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.billingbenefits#ContributorListValueList",
          "traits": {
            "smithy.api#documentation": "The Contributor items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contributor list"
      }
    },
    "com.azure.billingbenefits#ContributorListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.billingbenefits#Contributor"
      },
      "traits": {
        "smithy.api#documentation": "The Contributor items on this page"
      }
    },
    "com.azure.billingbenefits#Contributor": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billingbenefits#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.billingbenefits#MaccModelProperties",
          "traits": {
            "smithy.api#documentation": "MACC contributor properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MACC contributor"
      }
    },
    "com.azure.billingbenefits#ContributorsListFromPrimaryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "maccName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of primary MACC."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billingbenefits#MaccsChargeShortfall": {
      "type": "operation",
      "input": {
        "target": "com.azure.billingbenefits#MaccsChargeShortfallRequest"
      },
      "output": {
        "target": "com.azure.billingbenefits#MaccsChargeShortfallResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}/chargeShortfall",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Operation to charge shortfall to a customer's account, ensuring they are charged for the outstanding amount of MACC credit.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.billingbenefits#MaccsChargeShortfallResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billingbenefits#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.billingbenefits#MaccsChargeShortfallResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.billingbenefits#MaccModelProperties",
          "traits": {
            "smithy.api#documentation": "MACC properties"
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type. E.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        },
        "identity": {
          "target": "com.azure.billingbenefits#MaccsChargeShortfallResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "sku": {
          "target": "com.azure.billingbenefits#Sku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        },
        "plan": {
          "target": "com.azure.billingbenefits#Plan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billingbenefits#MaccsChargeShortfallResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.billingbenefits#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.billingbenefits#MaccsChargeShortfallResponseIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.billingbenefits#MaccsChargeShortfallResponseIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.billingbenefits#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.billingbenefits#MaccsChargeShortfallResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.billingbenefits#MaccsChargeShortfallRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "maccName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of primary MACC."
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billingbenefits#MaccsCancel": {
      "type": "operation",
      "input": {
        "target": "com.azure.billingbenefits#MaccsCancelRequest"
      },
      "output": {
        "target": "com.azure.billingbenefits#MaccsCancelResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}/cancel",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Represents an operation to cancel MACC contract. This operation does not indicate deletion of the MACC, but rather stops applying the benefit to the account.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.billingbenefits#MaccsCancelResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billingbenefits#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.billingbenefits#MaccsCancelResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.billingbenefits#MaccModelProperties",
          "traits": {
            "smithy.api#documentation": "MACC properties"
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type. E.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        },
        "identity": {
          "target": "com.azure.billingbenefits#MaccsCancelResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "sku": {
          "target": "com.azure.billingbenefits#Sku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        },
        "plan": {
          "target": "com.azure.billingbenefits#Plan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billingbenefits#MaccsCancelResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.billingbenefits#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.billingbenefits#MaccsCancelResponseIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.billingbenefits#MaccsCancelResponseIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.billingbenefits#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.billingbenefits#MaccsCancelResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.billingbenefits#MaccsCancelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "maccName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of primary MACC."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billingbenefits#MaccsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.billingbenefits#MaccsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Delete MACC.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.billingbenefits#MaccsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "maccName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of primary MACC."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billingbenefits#MaccsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.billingbenefits#MaccsUpdateRequest"
      },
      "output": {
        "target": "com.azure.billingbenefits#MaccsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Update MACC.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.billingbenefits#MaccsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billingbenefits#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.billingbenefits#MaccsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.billingbenefits#MaccModelProperties",
          "traits": {
            "smithy.api#documentation": "MACC properties"
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type. E.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        },
        "identity": {
          "target": "com.azure.billingbenefits#MaccsUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "sku": {
          "target": "com.azure.billingbenefits#Sku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        },
        "plan": {
          "target": "com.azure.billingbenefits#Plan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billingbenefits#MaccsUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.billingbenefits#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.billingbenefits#MaccsUpdateResponseIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.billingbenefits#MaccsUpdateResponseIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.billingbenefits#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.billingbenefits#MaccsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.billingbenefits#MaccsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "maccName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of primary MACC."
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billingbenefits#MaccsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.billingbenefits#MaccsCreateRequest"
      },
      "output": {
        "target": "com.azure.billingbenefits#MaccsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Create MACC.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.billingbenefits#MaccsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billingbenefits#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.billingbenefits#MaccsCreateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.billingbenefits#MaccModelProperties",
          "traits": {
            "smithy.api#documentation": "MACC properties"
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type. E.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        },
        "identity": {
          "target": "com.azure.billingbenefits#MaccsCreateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "sku": {
          "target": "com.azure.billingbenefits#Sku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        },
        "plan": {
          "target": "com.azure.billingbenefits#Plan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billingbenefits#MaccsCreateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.billingbenefits#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.billingbenefits#MaccsCreateResponseIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.billingbenefits#MaccsCreateResponseIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.billingbenefits#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.billingbenefits#MaccsCreateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.billingbenefits#MaccsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "maccName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of primary MACC."
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billingbenefits#MaccsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.billingbenefits#MaccsGetRequest"
      },
      "output": {
        "target": "com.azure.billingbenefits#MaccsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Get a MACC.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.billingbenefits#MaccsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billingbenefits#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.billingbenefits#MaccsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.billingbenefits#MaccModelProperties",
          "traits": {
            "smithy.api#documentation": "MACC properties"
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type. E.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        },
        "identity": {
          "target": "com.azure.billingbenefits#MaccsGetResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "sku": {
          "target": "com.azure.billingbenefits#Sku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        },
        "plan": {
          "target": "com.azure.billingbenefits#Plan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billingbenefits#MaccsGetResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.billingbenefits#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.billingbenefits#MaccsGetResponseIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.billingbenefits#MaccsGetResponseIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.billingbenefits#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.billingbenefits#MaccsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.billingbenefits#MaccsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "maccName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of primary MACC."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billingbenefits#MaccsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.billingbenefits#MaccsListByResourceGroupRequest"
      },
      "output": {
[...]
