{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.computelimit#GetVmFamily": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#GetVmFamilyRequest"
      },
      "output": {
        "target": "com.azure.computelimit#GetVmFamilyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/vmFamilies/{vmFamilyName}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Gets the properties of a VM family.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#GetVmFamilyResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#VmFamilyProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.computelimit#VmFamilyProperties": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The category of the VM family (for example, GeneralPurpose, ComputeOptimized)."
          }
        },
        "provisioningState": {
          "target": "com.azure.computelimit#AzureResourceManagerResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a VM family resource."
      }
    },
    "com.azure.computelimit#AzureResourceManagerResourceProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of a resource type."
      }
    },
    "com.azure.computelimit#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.computelimit#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.computelimit#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.computelimit#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.computelimit#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.computelimit#GetVmFamilyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "vmFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VmFamily"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#ListVmFamilyBySubscriptionLocationResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#ListVmFamilyBySubscriptionLocationResourceRequest"
      },
      "output": {
        "target": "com.azure.computelimit#VmFamilyListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/vmFamilies",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Lists all VM families for the subscription at the specified location.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#VmFamilyListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.computelimit#VmFamilyListResultValueList",
          "traits": {
            "smithy.api#documentation": "The VmFamily items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a VmFamily list operation."
      }
    },
    "com.azure.computelimit#VmFamilyListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.computelimit#VmFamily"
      },
      "traits": {
        "smithy.api#documentation": "The VmFamily items on this page"
      }
    },
    "com.azure.computelimit#VmFamily": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#VmFamilyProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VM family resource representing a virtual machine family and its category."
      }
    },
    "com.azure.computelimit#ListVmFamilyBySubscriptionLocationResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply to the list operation. Filter can be applied to the 'category' property. Example: $filter=category eq 'generalPurposeCategory'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#DeleteTrustedHostSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#DeleteTrustedHostSubscriptionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/trustedHostSubscriptions/{hostSubscriptionId}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Removes a host subscription from the guest subscription's list of trusted hosts.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#DeleteTrustedHostSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "hostSubscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the TrustedHostSubscription"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#CreateTrustedHostSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#CreateTrustedHostSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.computelimit#CreateTrustedHostSubscriptionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/trustedHostSubscriptions/{hostSubscriptionId}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Adds a host subscription to the guest subscription's list of trusted hosts. A guest\nsubscription can trust multiple host subscriptions; this only establishes trust and\ndoes not check the guest in to the host. Guest-to-host association is determined at\ncheck-in time, where a subscription can be a guest of at most one host per region.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#CreateTrustedHostSubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.computelimit#CreateTrustedHostSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "hostSubscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the TrustedHostSubscription"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#GetTrustedHostSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#GetTrustedHostSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.computelimit#GetTrustedHostSubscriptionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/trustedHostSubscriptions/{hostSubscriptionId}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Gets a host subscription that the guest subscription trusts.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#GetTrustedHostSubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.computelimit#GetTrustedHostSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "hostSubscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the TrustedHostSubscription"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#ListTrustedHostSubscriptionBySubscriptionLocationResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#ListTrustedHostSubscriptionBySubscriptionLocationResourceRequest"
      },
      "output": {
        "target": "com.azure.computelimit#TrustedHostSubscriptionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/trustedHostSubscriptions",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Lists all host subscriptions that the guest subscription trusts in a location.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#TrustedHostSubscriptionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.computelimit#TrustedHostSubscriptionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The TrustedHostSubscription items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a TrustedHostSubscription list operation."
      }
    },
    "com.azure.computelimit#TrustedHostSubscriptionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.computelimit#Resource"
      },
      "traits": {
        "smithy.api#documentation": "The TrustedHostSubscription items on this page"
      }
    },
    "com.azure.computelimit#Resource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common fields that are returned in the response for all Azure Resource Manager resources"
      }
    },
    "com.azure.computelimit#ListTrustedHostSubscriptionBySubscriptionLocationResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#DeleteSharedLimit": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#DeleteSharedLimitRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimits/{name}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Disables sharing of a compute limit by the host subscription with its guest subscriptions.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#DeleteSharedLimitRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the SharedLimit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#CreateSharedLimit": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#CreateSharedLimitRequest"
      },
      "output": {
        "target": "com.azure.computelimit#CreateSharedLimitResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimits/{name}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Enables sharing of a compute limit by the host subscription with its guest subscriptions.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#CreateSharedLimitResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#SharedLimitProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.computelimit#SharedLimitProperties": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "com.azure.computelimit#LimitName",
          "traits": {
            "smithy.api#documentation": "The limit name properties."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum permitted usage of the resource."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The quota units, such as Count."
          }
        },
        "provisioningState": {
          "target": "com.azure.computelimit#AzureResourceManagerResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the compute shared limit."
      }
    },
    "com.azure.computelimit#LimitName": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The limit name.",
            "smithy.api#required": {}
          }
        },
        "localizedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized limit name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the limit name."
      }
    },
    "com.azure.computelimit#CreateSharedLimitRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the SharedLimit"
          }
        },
        "properties": {
          "target": "com.azure.computelimit#SharedLimitPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#SharedLimitPropertiesInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Properties of the compute shared limit."
      }
    },
    "com.azure.computelimit#GetSharedLimit": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#GetSharedLimitRequest"
      },
      "output": {
        "target": "com.azure.computelimit#GetSharedLimitResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimits/{name}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Gets the properties of a compute limit shared by the host subscription with its guest subscriptions.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#GetSharedLimitResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#SharedLimitProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.computelimit#GetSharedLimitRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the SharedLimit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#ListSharedLimitBySubscriptionLocationResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#ListSharedLimitBySubscriptionLocationResourceRequest"
      },
      "output": {
        "target": "com.azure.computelimit#SharedLimitListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimits",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Lists all compute limits shared by the host subscription with its guest subscriptions.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#SharedLimitListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.computelimit#SharedLimitListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SharedLimit items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SharedLimit list operation."
      }
    },
    "com.azure.computelimit#SharedLimitListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.computelimit#SharedLimit"
      },
      "traits": {
        "smithy.api#documentation": "The SharedLimit items on this page"
      }
    },
    "com.azure.computelimit#SharedLimit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#SharedLimitProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compute limits shared by the subscription."
      }
    },
    "com.azure.computelimit#ListSharedLimitBySubscriptionLocationResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#SetSharedLimitCapMemberCapOverride": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#SetSharedLimitCapMemberCapOverrideRequest"
      },
      "output": {
        "target": "com.azure.computelimit#SetMemberCapOverridesResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps/{vmFamilyName}/setMemberCapOverrides",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Replaces the full set of per-member cap overrides for this shared limit\ncap. The supplied array becomes the new complete set of overrides;\nsupplying an empty array clears all existing overrides.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#SetMemberCapOverridesResult": {
      "type": "structure",
      "members": {
        "memberCapOverrides": {
          "target": "com.azure.computelimit#SetMemberCapOverridesResultMemberCapOverridesList",
          "traits": {
            "smithy.api#documentation": "The per-member cap overrides as persisted after the action completed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response body for the `setMemberCapOverrides` action."
      }
    },
    "com.azure.computelimit#SetMemberCapOverridesResultMemberCapOverridesList": {
      "type": "list",
      "member": {
        "target": "com.azure.computelimit#MemberCap"
      },
      "traits": {
        "smithy.api#documentation": "The per-member cap overrides as persisted after the action completed."
      }
    },
    "com.azure.computelimit#MemberCap": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The member subscription identifier this cap applies to.",
            "smithy.api#required": {}
          }
        },
        "cap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The cap value in count units for this member subscription.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-member cap override. Pairs a member subscription with its cap value."
      }
    },
    "com.azure.computelimit#SetSharedLimitCapMemberCapOverrideRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "vmFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the SharedLimitCap"
          }
        },
        "memberCapOverrides": {
          "target": "com.azure.computelimit#SharedLimitCapsSetMemberCapOverridesRequestMemberCapOverridesList",
          "traits": {
            "smithy.api#documentation": "The full set of per-member cap overrides to persist for this resource.\nThis call replaces the existing set entirely; supply an empty array\n(`[]`) to clear all overrides.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#SharedLimitCapsSetMemberCapOverridesRequestMemberCapOverridesList": {
      "type": "list",
      "member": {
        "target": "com.azure.computelimit#MemberCap"
      },
      "traits": {
        "smithy.api#documentation": "The full set of per-member cap overrides to persist for this resource.\nThis call replaces the existing set entirely; supply an empty array\n(`[]`) to clear all overrides."
      }
    },
    "com.azure.computelimit#DeleteMemberCapOverride": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#DeleteMemberCapOverrideRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps/{vmFamilyName}/memberCapOverrides/{memberSubscriptionId}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Removes the per-member cap override for a member subscription.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#DeleteMemberCapOverrideRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "vmFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the SharedLimitCap"
          }
        },
        "memberSubscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the MemberCapOverride"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#MemberCapOverridesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#MemberCapOverridesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.computelimit#MemberCapOverridesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps/{vmFamilyName}/memberCapOverrides/{memberSubscriptionId}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Creates or replaces the cap override for a single member subscription.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#MemberCapOverridesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#MemberCapOverrideProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.computelimit#MemberCapOverrideProperties": {
      "type": "structure",
      "members": {
        "cap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The cap value in count units for this member subscription.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.computelimit#AzureResourceManagerResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a per-member cap override."
      }
    },
    "com.azure.computelimit#MemberCapOverridesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "vmFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the SharedLimitCap"
          }
        },
        "memberSubscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the MemberCapOverride"
          }
        },
        "properties": {
          "target": "com.azure.computelimit#MemberCapOverridePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#MemberCapOverridePropertiesInput": {
      "type": "structure",
      "members": {
        "cap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The cap value in count units for this member subscription.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a per-member cap override."
      }
    },
    "com.azure.computelimit#GetMemberCapOverride": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#GetMemberCapOverrideRequest"
      },
      "output": {
        "target": "com.azure.computelimit#GetMemberCapOverrideResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps/{vmFamilyName}/memberCapOverrides/{memberSubscriptionId}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Gets the cap override configured for a single member subscription.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#GetMemberCapOverrideResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#MemberCapOverrideProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.computelimit#GetMemberCapOverrideRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "vmFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the SharedLimitCap"
          }
        },
        "memberSubscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the MemberCapOverride"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#ListMemberCapOverrideByParent": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#ListMemberCapOverrideByParentRequest"
      },
      "output": {
        "target": "com.azure.computelimit#MemberCapOverrideListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps/{vmFamilyName}/memberCapOverrides",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Lists all per-member cap overrides configured under a SharedLimitCap.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#MemberCapOverrideListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.computelimit#MemberCapOverrideListResultValueList",
          "traits": {
            "smithy.api#documentation": "The MemberCapOverride items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a MemberCapOverride list operation."
      }
    },
    "com.azure.computelimit#MemberCapOverrideListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.computelimit#MemberCapOverride"
      },
      "traits": {
        "smithy.api#documentation": "The MemberCapOverride items on this page"
      }
    },
    "com.azure.computelimit#MemberCapOverride": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#MemberCapOverrideProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Member cap override as a standalone child resource of `SharedLimitCap`.\nUse this resource to read or modify a single member's cap without\nresending the entire `memberCapOverrides` array on the parent."
      }
    },
    "com.azure.computelimit#ListMemberCapOverrideByParentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "vmFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the SharedLimitCap"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#DeleteSharedLimitCap": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#DeleteSharedLimitCapRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps/{vmFamilyName}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Deletes the shared limit cap configuration for a VM family. The caller's subscription is treated as the host subscription.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#DeleteSharedLimitCapRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "vmFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the SharedLimitCap"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#SharedLimitCapsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#SharedLimitCapsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.computelimit#SharedLimitCapsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps/{vmFamilyName}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Creates or replaces the shared limit cap configuration for a VM family.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#SharedLimitCapsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#SharedLimitCapProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.computelimit#SharedLimitCapProperties": {
      "type": "structure",
      "members": {
        "defaultMemberCap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The default member cap value (in count units).\nSet to a non-negative integer to apply a cap to all member subscriptions\nthat do not have a per-member override. Omit the property to leave no\ndefault cap in effect."
          }
        },
        "isBoundedCap": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether the service validates the aggregate cap against the\ngroup limit for the VM family.\n\nSUM(caps) is the sum of all per-member overrides' cap values plus\n`defaultMemberCap` multiplied by the number of member subscriptions without an override.\n\nWhen true, the service rejects any configuration where SUM(caps)\nexceeds the group limit. When false, SUM(caps) is permitted to exceed\nthe group limit.\n\nEnabling this flag is rejected if the current configuration already breaches the group limit;\nreduce caps first, then enable.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.computelimit#AzureResourceManagerResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a shared limit cap resource."
      }
    },
    "com.azure.computelimit#SharedLimitCapsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "vmFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the SharedLimitCap"
          }
        },
        "properties": {
          "target": "com.azure.computelimit#SharedLimitCapPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#SharedLimitCapPropertiesInput": {
      "type": "structure",
      "members": {
        "defaultMemberCap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The default member cap value (in count units).\nSet to a non-negative integer to apply a cap to all member subscriptions\nthat do not have a per-member override. Omit the property to leave no\ndefault cap in effect."
          }
        },
        "isBoundedCap": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether the service validates the aggregate cap against the\ngroup limit for the VM family.\n\nSUM(caps) is the sum of all per-member overrides' cap values plus\n`defaultMemberCap` multiplied by the number of member subscriptions without an override.\n\nWhen true, the service rejects any configuration where SUM(caps)\nexceeds the group limit. When false, SUM(caps) is permitted to exceed\nthe group limit.\n\nEnabling this flag is rejected if the current configuration already breaches the group limit;\nreduce caps first, then enable.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a shared limit cap resource."
      }
    },
    "com.azure.computelimit#GetSharedLimitCap": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#GetSharedLimitCapRequest"
      },
      "output": {
        "target": "com.azure.computelimit#GetSharedLimitCapResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps/{vmFamilyName}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Gets the shared limit cap configuration for a VM family, as visible to the caller's subscription.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#GetSharedLimitCapResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#SharedLimitCapProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.computelimit#GetSharedLimitCapRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "vmFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the SharedLimitCap"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#ListSharedLimitCapBySubscriptionLocationResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#ListSharedLimitCapBySubscriptionLocationResourceRequest"
      },
      "output": {
        "target": "com.azure.computelimit#SharedLimitCapListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Lists all shared limit cap configurations visible to the caller's subscription.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#SharedLimitCapListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.computelimit#SharedLimitCapListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SharedLimitCap items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SharedLimitCap list operation."
      }
    },
    "com.azure.computelimit#SharedLimitCapListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.computelimit#SharedLimitCap"
      },
      "traits": {
        "smithy.api#documentation": "The SharedLimitCap items on this page"
      }
    },
    "com.azure.computelimit#SharedLimitCap": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#SharedLimitCapProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Shared limit cap configuration for a VM family, owned by a host subscription\nand propagated to its member subscriptions. The same resource type is\nreadable by host and member subscriptions, but write operations (PUT/DELETE)\nare scoped to the caller's subscription as the host."
      }
    },
    "com.azure.computelimit#ListSharedLimitCapBySubscriptionLocationResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#DeleteGuestSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#DeleteGuestSubscriptionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/guestSubscriptions/{guestSubscriptionId}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Deletes a subscription as a guest to stop consuming the compute limits shared by the host subscription.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#DeleteGuestSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "guestSubscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the GuestSubscription"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#CreateGuestSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#CreateGuestSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.computelimit#CreateGuestSubscriptionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/guestSubscriptions/{guestSubscriptionId}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Adds a subscription as a guest to consume the compute limits shared by the host subscription.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#CreateGuestSubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#GuestSubscriptionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.computelimit#GuestSubscriptionProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.computelimit#AzureResourceManagerResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for guest subscription."
      }
    },
    "com.azure.computelimit#CreateGuestSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "guestSubscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the GuestSubscription"
          }
        },
        "properties": {
          "target": "com.azure.computelimit#GuestSubscriptionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#GuestSubscriptionPropertiesInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Properties for guest subscription."
      }
    },
    "com.azure.computelimit#GetGuestSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#GetGuestSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.computelimit#GetGuestSubscriptionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/guestSubscriptions/{guestSubscriptionId}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Gets the properties of a guest subscription.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#GetGuestSubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#GuestSubscriptionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.computelimit#GetGuestSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "guestSubscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the GuestSubscription"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#ListGuestSubscriptionBySubscriptionLocationResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#ListGuestSubscriptionBySubscriptionLocationResourceRequest"
      },
      "output": {
        "target": "com.azure.computelimit#GuestSubscriptionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/guestSubscriptions",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Lists all guest subscriptions in a location.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#GuestSubscriptionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.computelimit#GuestSubscriptionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The GuestSubscription items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a GuestSubscription list operation."
      }
    },
    "com.azure.computelimit#GuestSubscriptionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.computelimit#GuestSubscription"
      },
      "traits": {
        "smithy.api#documentation": "The GuestSubscription items on this page"
      }
    },
    "com.azure.computelimit#GuestSubscription": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.computelimit#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.computelimit#GuestSubscriptionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guest subscription that consumes shared compute limits."
      }
    },
    "com.azure.computelimit#ListGuestSubscriptionBySubscriptionLocationResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#EnableFeature": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#EnableFeatureRequest"
      },
      "output": {
        "target": "com.azure.computelimit#EnableFeatureResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/features/{featureName}/enable",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Enables a compute limit feature for the subscription at the specified location. Requires the Contributor role.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#EnableFeatureResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID of the resource against which the original async operation was started."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.computelimit#FeaturesEnableResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.computelimit#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.computelimit#ErrorDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.computelimit#ErrorDetailDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.computelimit#ErrorDetailAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.computelimit#ErrorDetailAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.computelimit#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.computelimit#ErrorAdditionalInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional info type."
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource management error additional info."
      }
    },
    "com.azure.computelimit#ErrorDetailDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.computelimit#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.computelimit#FeaturesEnableResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.computelimit#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.computelimit#OperationStatusResult": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID of the resource against which the original async operation was started."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.computelimit#OperationStatusResultOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.computelimit#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of an async operation."
      }
    },
    "com.azure.computelimit#OperationStatusResultOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.computelimit#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.computelimit#EnableFeatureRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "featureName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Feature"
          }
        },
        "serviceTreeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service Tree identifier associated with this feature action."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#DisableFeature": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#DisableFeatureRequest"
      },
      "output": {
        "target": "com.azure.computelimit#DisableFeatureResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/features/{featureName}/disable",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Disables a compute limit feature for the subscription at the specified location. Requires the Contributor role.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#DisableFeatureResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID of the resource against which the original async operation was started."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.computelimit#FeaturesDisableResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.computelimit#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.computelimit#FeaturesDisableResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.computelimit#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.computelimit#DisableFeatureRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "featureName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Feature"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.computelimit#GetFeature": {
      "type": "operation",
      "input": {
        "target": "com.azure.computelimit#GetFeatureRequest"
      },
      "output": {
        "target": "com.azure.computelimit#GetFeatureResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/features/{featureName}",
          "code": 200,
          "apiVersion": "2026-07-31"
        },
        "smithy.api#documentation": "Gets the properties of a compute limit feature.",
        "com.distilled.openapi#apiVersion": "2026-07-31"
      }
    },
    "com.azure.computelimit#GetFeatureResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
[...]
