{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.compute#VirtualMachineBulkOperationsBulkStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineBulkOperationsBulkStartRequest"
      },
      "output": {
        "target": "com.azure.compute#StartResourceOperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkStart",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "BulkStart: Execute start operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#StartResourceOperationResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the operation response",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resources used in the start request eg virtual machines",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the start request eg westus",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.azure.compute#StartResourceOperationResponseResultsList",
          "traits": {
            "smithy.api#documentation": "The results from the start request if no errors exist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from a start request"
      }
    },
    "com.azure.compute#StartResourceOperationResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#ResourceOperation"
      },
      "traits": {
        "smithy.api#documentation": "The results from the start request if no errors exist"
      }
    },
    "com.azure.compute#ResourceOperation": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the resource involved in the operation, for example Azure resource ID"
          }
        },
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource level error code if it exists"
          }
        },
        "errorDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource level error details if they exist"
          }
        },
        "operation": {
          "target": "com.azure.compute#ResourceOperationDetails",
          "traits": {
            "smithy.api#documentation": "Details of the operation performed on a resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "High level response from an operation on a resource"
      }
    },
    "com.azure.compute#ResourceOperationDetails": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation identifier for the unique operation",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the resource involved in the operation, for example Azure resource ID"
          }
        },
        "opType": {
          "target": "com.azure.compute#ResourceOperationDetailsOpType",
          "traits": {
            "smithy.api#documentation": "Type of operation performed on the resources"
          }
        },
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription id attached to the request"
          }
        },
        "deadline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deadline for the operation"
          }
        },
        "deadlineType": {
          "target": "com.azure.compute#ResourceOperationDetailsDeadlineType",
          "traits": {
            "smithy.api#documentation": "Type of deadline of the operation"
          }
        },
        "state": {
          "target": "com.azure.compute#ResourceOperationDetailsState",
          "traits": {
            "smithy.api#documentation": "Current state of the operation"
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timezone for the operation"
          }
        },
        "resourceOperationError": {
          "target": "com.azure.compute#ResourceOperationError",
          "traits": {
            "smithy.api#documentation": "Operation level errors if they exist"
          }
        },
        "fallbackOperationInfo": {
          "target": "com.azure.compute#FallbackOperationInfo",
          "traits": {
            "smithy.api#documentation": "Fallback operation details if a fallback was performed"
          }
        },
        "completedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the operation was complete if errors are null"
          }
        },
        "retryPolicy": {
          "target": "com.azure.compute#RetryPolicy",
          "traits": {
            "smithy.api#documentation": "Retry policy the user can pass"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of a response from an operation on a resource"
      }
    },
    "com.azure.compute#RetryPolicy": {
      "type": "structure",
      "members": {
        "retryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Retry count for user request"
          }
        },
        "retryWindowInMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Retry window in minutes for user request"
          }
        },
        "onFailureAction": {
          "target": "com.azure.compute#ResourceOperationType",
          "traits": {
            "smithy.api#documentation": "Action to take on failure"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The retry policy for the user request"
      }
    },
    "com.azure.compute#ResourceOperationType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Start"
          }
        },
        "DEALLOCATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deallocate"
          }
        },
        "HIBERNATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hibernate"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Create"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of bulk operation that can be performed on resources using Bulkactions API"
      }
    },
    "com.azure.compute#FallbackOperationInfo": {
      "type": "structure",
      "members": {
        "lastOpType": {
          "target": "com.azure.compute#ResourceOperationType",
          "traits": {
            "smithy.api#documentation": "The last operation type that was performed as a fallback",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the fallback operation",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.azure.compute#ResourceOperationError",
          "traits": {
            "smithy.api#documentation": "The error code if the fallback operation failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the fallback operation that was performed"
      }
    },
    "com.azure.compute#ResourceOperationError": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code for the error eg 404, 500",
            "smithy.api#required": {}
          }
        },
        "errorDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed message about the error",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "These describe errors that occur at the resource level"
      }
    },
    "com.azure.compute#ResourceOperationDetailsState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "PENDINGSCHEDULING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingScheduling"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduled"
          }
        },
        "PENDINGEXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingExecution"
          }
        },
        "EXECUTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Executing"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Blocked"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state of the operation"
      }
    },
    "com.azure.compute#ResourceOperationDetailsDeadlineType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "INITIATEAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InitiateAt"
          }
        },
        "COMPLETEBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CompleteBy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of deadline of the operation"
      }
    },
    "com.azure.compute#ResourceOperationDetailsOpType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Start"
          }
        },
        "DEALLOCATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deallocate"
          }
        },
        "HIBERNATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hibernate"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Create"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of operation performed on the resources"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location name."
          }
        },
        "executionParameters": {
          "target": "com.azure.compute#ExecutionParameters",
          "traits": {
            "smithy.api#documentation": "The execution parameters for the request",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.azure.compute#Resources",
          "traits": {
            "smithy.api#documentation": "The resources for the request",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#Resources": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.azure.compute#ResourcesIdsList",
          "traits": {
            "smithy.api#documentation": "The resource ids used for the request",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resources needed for the user request"
      }
    },
    "com.azure.compute#ResourcesIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource ids used for the request"
      }
    },
    "com.azure.compute#ExecutionParameters": {
      "type": "structure",
      "members": {
        "retryPolicy": {
          "target": "com.azure.compute#RetryPolicy",
          "traits": {
            "smithy.api#documentation": "Retry policy the user can pass"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extra details needed to run the user's request"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkHibernate": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineBulkOperationsBulkHibernateRequest"
      },
      "output": {
        "target": "com.azure.compute#HibernateResourceOperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkHibernate",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "BulkHibernate: Execute hibernate operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#HibernateResourceOperationResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the operation response",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resources used in the Hibernate request eg virtual machines",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the Hibernate request eg westus",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.azure.compute#HibernateResourceOperationResponseResultsList",
          "traits": {
            "smithy.api#documentation": "The results from the Hibernate request if no errors exist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from a Hibernate request"
      }
    },
    "com.azure.compute#HibernateResourceOperationResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#ResourceOperation"
      },
      "traits": {
        "smithy.api#documentation": "The results from the Hibernate request if no errors exist"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkHibernateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location name."
          }
        },
        "executionParameters": {
          "target": "com.azure.compute#ExecutionParameters",
          "traits": {
            "smithy.api#documentation": "The execution parameters for the request",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.azure.compute#Resources",
          "traits": {
            "smithy.api#documentation": "The resources for the request",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkGetOperationsStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineBulkOperationsBulkGetOperationsStatusRequest"
      },
      "output": {
        "target": "com.azure.compute#GetOperationStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkGetOperationStatus",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "BulkGetOperationsStatus: Polling endpoint to read status of operations performed on virtual machines",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#GetOperationStatusResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.azure.compute#GetOperationStatusResponseResultsList",
          "traits": {
            "smithy.api#documentation": "An array of resource operations based on their operation ids",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This is the response from a get operations status request"
      }
    },
    "com.azure.compute#GetOperationStatusResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#ResourceOperation"
      },
      "traits": {
        "smithy.api#documentation": "An array of resource operations based on their operation ids"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkGetOperationsStatusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location name."
          }
        },
        "operationIds": {
          "target": "com.azure.compute#VirtualMachineBulkOperationsBulkGetOperationsStatusRequestOperationIdsList",
          "traits": {
            "smithy.api#documentation": "The list of operation ids to get the status of",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkGetOperationsStatusRequestOperationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of operation ids to get the status of"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineBulkOperationsBulkDeleteRequest"
      },
      "output": {
        "target": "com.azure.compute#DeleteResourceOperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkDelete",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "BulkDelete: Execute delete operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#DeleteResourceOperationResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the operation response",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resources used in the delete request eg virtual machines",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the delete request eg westus",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.azure.compute#DeleteResourceOperationResponseResultsList",
          "traits": {
            "smithy.api#documentation": "The results from the delete request if no errors exist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from a delete request"
      }
    },
    "com.azure.compute#DeleteResourceOperationResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#ResourceOperation"
      },
      "traits": {
        "smithy.api#documentation": "The results from the delete request if no errors exist"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location name."
          }
        },
        "executionParameters": {
          "target": "com.azure.compute#ExecutionParameters",
          "traits": {
            "smithy.api#documentation": "The execution parameters for the request",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.azure.compute#Resources",
          "traits": {
            "smithy.api#documentation": "The resources for the request",
            "smithy.api#required": {}
          }
        },
        "forceDeletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Forced delete resource item"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkDeallocate": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineBulkOperationsBulkDeallocateRequest"
      },
      "output": {
        "target": "com.azure.compute#DeallocateResourceOperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkDeallocate",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "BulkDeallocate: Execute deallocate operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#DeallocateResourceOperationResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the operation response",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resources used in the deallocate request eg virtual machines",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the deallocate request eg westus",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.azure.compute#DeallocateResourceOperationResponseResultsList",
          "traits": {
            "smithy.api#documentation": "The results from the deallocate request if no errors exist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from a deallocate request"
      }
    },
    "com.azure.compute#DeallocateResourceOperationResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#ResourceOperation"
      },
      "traits": {
        "smithy.api#documentation": "The results from the deallocate request if no errors exist"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkDeallocateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location name."
          }
        },
        "executionParameters": {
          "target": "com.azure.compute#ExecutionParameters",
          "traits": {
            "smithy.api#documentation": "The execution parameters for the request",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.azure.compute#Resources",
          "traits": {
            "smithy.api#documentation": "The resources for the request",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkCancel": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineBulkOperationsBulkCancelRequest"
      },
      "output": {
        "target": "com.azure.compute#CancelOperationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkCancel",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "BulkCancelOperations: Cancel a previously submitted (start/deallocate/hibernate) request",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#CancelOperationsResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.azure.compute#CancelOperationsResponseResultsList",
          "traits": {
            "smithy.api#documentation": "An array of resource operations that were successfully cancelled",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This is the response from a cancel operations request"
      }
    },
    "com.azure.compute#CancelOperationsResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#ResourceOperation"
      },
      "traits": {
        "smithy.api#documentation": "An array of resource operations that were successfully cancelled"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkCancelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location name."
          }
        },
        "operationIds": {
          "target": "com.azure.compute#VirtualMachineBulkOperationsBulkCancelRequestOperationIdsList",
          "traits": {
            "smithy.api#documentation": "The list of operation ids to cancel operations on",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkCancelRequestOperationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of operation ids to cancel operations on"
      }
    },
    "com.azure.compute#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.compute#OperationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Compute/operations",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "List the operations for the provider",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#OperationsListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.compute#OperationsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of operations supported by the resource provider"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of operation list results (if there are any)."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.compute#OperationsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#Operation"
      },
      "traits": {
        "smithy.api#documentation": "List of operations supported by the resource provider"
      }
    },
    "com.azure.compute#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\""
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations."
          }
        },
        "display": {
          "target": "com.azure.compute#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "Localized display information for this particular operation."
          }
        },
        "origin": {
          "target": "com.azure.compute#OperationOrigin",
          "traits": {
            "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
          }
        },
        "actionType": {
          "target": "com.azure.compute#OperationActionType",
          "traits": {
            "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a REST API operation, returned from the Resource Provider Operations API"
      }
    },
    "com.azure.compute#OperationActionType": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
      }
    },
    "com.azure.compute#OperationOrigin": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user,system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
      }
    },
    "com.azure.compute#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\"."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\"."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short, localized friendly description of the operation; suitable for tool tips and detailed views."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localized display information for this particular operation."
      }
    },
    "com.azure.compute#VirtualMachinesListAvailableSizes": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachinesListAvailableSizesRequest"
      },
      "output": {
        "target": "com.azure.compute#VirtualMachineSizeListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/vmSizes",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Lists all available virtual machine sizes to which the specified virtual machine can be resized.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.compute#VirtualMachineSizeListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.compute#VirtualMachineSizeListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of virtual machine sizes."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The List Virtual Machine operation response."
      }
    },
    "com.azure.compute#VirtualMachineSizeListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#VirtualMachineSize"
      },
      "traits": {
        "smithy.api#documentation": "The list of virtual machine sizes."
      }
    },
    "com.azure.compute#VirtualMachineSize": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the virtual machine size."
          }
        },
        "numberOfCores": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of cores supported by the virtual machine size. For Constrained vCPU capable VM sizes, this number represents the total vCPUs of quota that the VM uses. For accurate vCPU count, please refer to https://docs.microsoft.com/azure/virtual-machines/constrained-vcpu or https://docs.microsoft.com/rest/api/compute/resourceskus/list"
          }
        },
        "osDiskSizeInMB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The OS disk size, in MB, allowed by the virtual machine size."
          }
        },
        "resourceDiskSizeInMB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The resource disk size, in MB, allowed by the virtual machine size."
          }
        },
        "memoryInMB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of memory, in MB, supported by the virtual machine size."
          }
        },
        "maxDataDiskCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of data disks that can be attached to the virtual machine size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a VM size."
      }
    },
    "com.azure.compute#VirtualMachinesListAvailableSizesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachinesStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachinesStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/start",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "The operation to start a virtual machine.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.compute#VirtualMachinesStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachinesSimulateEviction": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachinesSimulateEvictionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/simulateEviction",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "The operation to simulate the eviction of spot virtual machine.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.compute#VirtualMachinesSimulateEvictionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineRunCommandsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommands/{runCommandName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "The operation to delete the run command.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VirtualMachine"
          }
        },
        "runCommandName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VirtualMachineRunCommand"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineRunCommandsUpdateRequest"
      },
      "output": {
        "target": "com.azure.compute#VirtualMachineRunCommandsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommands/{runCommandName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "The operation to update the run command.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.compute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.compute#VirtualMachineRunCommandsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.compute#VirtualMachineRunCommandProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a Virtual Machine run command."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.compute#VirtualMachineRunCommandProperties": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.azure.compute#VirtualMachineRunCommandScriptSource",
          "traits": {
            "smithy.api#documentation": "The source of the run command script."
          }
        },
        "parameters": {
          "target": "com.azure.compute#VirtualMachineRunCommandPropertiesParametersList",
          "traits": {
            "smithy.api#documentation": "The parameters used by the script."
          }
        },
        "protectedParameters": {
          "target": "com.azure.compute#VirtualMachineRunCommandPropertiesProtectedParametersList",
          "traits": {
            "smithy.api#documentation": "The parameters used by the script."
          }
        },
        "asyncExecution": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, provisioning will complete as soon as the script starts and will not wait for script to complete."
          }
        },
        "runAsUser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the user account on the VM when executing the run command."
          }
        },
        "runAsPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the user account password on the VM when executing the run command.",
            "smithy.api#sensitive": {}
          }
        },
        "timeoutInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The timeout in seconds to execute the run command."
          }
        },
        "outputBlobUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the Azure storage blob where script output stream will be uploaded. Use a SAS URI with read, append, create, write access OR use managed identity to provide the VM access to the blob. Refer outputBlobManagedIdentity parameter."
          }
        },
        "errorBlobUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the Azure storage blob where script error stream will be uploaded. Use a SAS URI with read, append, create, write access OR use managed identity to provide the VM access to the blob. Refer errorBlobManagedIdentity parameter."
          }
        },
        "outputBlobManagedIdentity": {
          "target": "com.azure.compute#RunCommandManagedIdentity",
          "traits": {
            "smithy.api#documentation": "User-assigned managed identity that has access to outputBlobUri storage blob. Use an empty object in case of system-assigned identity. Make sure managed identity has been given access to blob's container with 'Storage Blob Data Contributor' role assignment. In case of user-assigned identity, make sure you add it under VM's identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged"
          }
        },
        "errorBlobManagedIdentity": {
          "target": "com.azure.compute#RunCommandManagedIdentity",
          "traits": {
            "smithy.api#documentation": "User-assigned managed identity that has access to errorBlobUri storage blob. Use an empty object in case of system-assigned identity. Make sure managed identity has been given access to blob's container with 'Storage Blob Data Contributor' role assignment. In case of user-assigned identity, make sure you add it under VM's identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged"
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning state, which only appears in the response. If treatFailureAsDeploymentFailure set to true, any failure in the script will fail the deployment and ProvisioningState will be marked as Failed. If treatFailureAsDeploymentFailure set to false, ProvisioningState would only reflect whether the run command was run or not by the extensions platform, it would not indicate whether script failed in case of script failures. See instance view of run command in case of script failures to see executionMessage, output, error: https://aka.ms/runcommandmanaged#get-execution-status-and-results"
          }
        },
        "instanceView": {
          "target": "com.azure.compute#VirtualMachineRunCommandInstanceView",
          "traits": {
            "smithy.api#documentation": "The virtual machine run command instance view."
          }
        },
        "treatFailureAsDeploymentFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, any failure in the script will fail the deployment and ProvisioningState will be marked as Failed. If set to false, ProvisioningState would only reflect whether the run command was run or not by the extensions platform, it would not indicate whether script failed in case of script failures. See instance view of run command in case of script failures to see executionMessage, output, error: https://aka.ms/runcommandmanaged#get-execution-status-and-results"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Virtual Machine run command."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandInstanceView": {
      "type": "structure",
      "members": {
        "executionState": {
          "target": "com.azure.compute#ExecutionState",
          "traits": {
            "smithy.api#documentation": "Script execution status."
          }
        },
        "executionMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Communicate script configuration errors or execution messages."
          }
        },
        "exitCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exit code returned from script execution."
          }
        },
        "output": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Script output stream."
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Script error stream."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Script start time."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Script end time."
          }
        },
        "statuses": {
          "target": "com.azure.compute#VirtualMachineRunCommandInstanceViewStatusesList",
          "traits": {
            "smithy.api#documentation": "The resource status information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The instance view of a virtual machine run command."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandInstanceViewStatusesList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#InstanceViewStatus"
      },
      "traits": {
        "smithy.api#documentation": "The resource status information."
      }
    },
    "com.azure.compute#InstanceViewStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status code."
          }
        },
        "level": {
          "target": "com.azure.compute#StatusLevelTypes",
          "traits": {
            "smithy.api#documentation": "The level code."
          }
        },
        "displayStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short localizable label for the status."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detailed status message, including for alerts and error messages."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of the status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance view status."
      }
    },
    "com.azure.compute#StatusLevelTypes": {
      "type": "enum",
      "members": {
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Info"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warning"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level code."
      }
    },
    "com.azure.compute#ExecutionState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "TIMEDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TimedOut"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Script execution status."
      }
    },
    "com.azure.compute#RunCommandManagedIdentity": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client Id (GUID value) of the user-assigned managed identity. ObjectId should not be used if this is provided."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object Id (GUID value) of the user-assigned managed identity. ClientId should not be used if this is provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains clientId or objectId (use only one, not both) of a user-assigned managed identity that has access to storage blob used in Run Command. Use an empty RunCommandManagedIdentity object in case of system-assigned identity. Make sure the Azure storage blob exists in case of scriptUri, and managed identity has been given access to blob's container with 'Storage Blob Data Reader' role assignment with scriptUri blob and 'Storage Blob Data Contributor' for Append blobs(outputBlobUri, errorBlobUri). In case of user assigned identity, make sure you add it under VM's identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandPropertiesProtectedParametersList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#RunCommandInputParameter"
      },
      "traits": {
        "smithy.api#documentation": "The parameters used by the script."
      }
    },
    "com.azure.compute#RunCommandInputParameter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run command parameter name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run command parameter value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a run command parameter."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandPropertiesParametersList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#RunCommandInputParameter"
      },
      "traits": {
        "smithy.api#documentation": "The parameters used by the script."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandScriptSource": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the script content to be executed on the VM."
          }
        },
        "scriptUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the script download location. It can be either SAS URI of an Azure storage blob with read access or public URI."
          }
        },
        "commandId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a commandId of predefined built-in script. Command IDs available for Linux are listed at https://aka.ms/RunCommandManagedLinux#available-commands, Windows at https://aka.ms/RunCommandManagedWindows#available-commands."
          }
        },
        "scriptUriManagedIdentity": {
          "target": "com.azure.compute#RunCommandManagedIdentity",
          "traits": {
            "smithy.api#documentation": "User-assigned managed identity that has access to scriptUri in case of Azure storage blob. Use an empty object in case of system-assigned identity. Make sure the Azure storage blob exists, and managed identity has been given access to blob's container with 'Storage Blob Data Reader' role assignment. In case of user-assigned identity, make sure you add it under VM's identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged."
          }
        },
        "scriptShell": {
          "target": "com.azure.compute#ScriptShellTypes",
          "traits": {
            "smithy.api#documentation": "Optional. Specify which shell to use for running the script. These values must match those expected by the extension. Currently supported only for Windows VMs, script uses Powershell 7 when specified. Powershell 7 must be already installed on the machine to use Powershell7 parameter value."
          }
        },
        "galleryScriptReferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of a Gallery Script version that needs to be executed. Example ID looks like /subscriptions/{subId}/resourceGroups/{rgName}/providers/Microsoft.Compute/galleries/{galleryName}/scripts/{scriptName}/versions/{version}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the script sources for run command. Use only one of these script sources: script, scriptUri, commandId, galleryScriptReferenceId."
      }
    },
    "com.azure.compute#ScriptShellTypes": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "POWERSHELL7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Powershell7"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Script shell types."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.compute#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.compute#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.compute#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.compute#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.compute#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VirtualMachine"
          }
        },
        "runCommandName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VirtualMachineRunCommand"
          }
        },
        "tags": {
          "target": "com.azure.compute#VirtualMachineRunCommandsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "properties": {
          "target": "com.azure.compute#VirtualMachineRunCommandPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a Virtual Machine run command."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineRunCommandPropertiesInput": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.azure.compute#VirtualMachineRunCommandScriptSource",
          "traits": {
            "smithy.api#documentation": "The source of the run command script."
          }
        },
        "parameters": {
          "target": "com.azure.compute#VirtualMachineRunCommandPropertiesInputParametersList",
          "traits": {
            "smithy.api#documentation": "The parameters used by the script."
          }
        },
        "protectedParameters": {
          "target": "com.azure.compute#VirtualMachineRunCommandPropertiesInputProtectedParametersList",
          "traits": {
            "smithy.api#documentation": "The parameters used by the script."
          }
        },
        "asyncExecution": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, provisioning will complete as soon as the script starts and will not wait for script to complete."
          }
        },
        "runAsUser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the user account on the VM when executing the run command."
          }
        },
        "runAsPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the user account password on the VM when executing the run command.",
            "smithy.api#sensitive": {}
          }
        },
        "timeoutInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The timeout in seconds to execute the run command."
          }
        },
        "outputBlobUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the Azure storage blob where script output stream will be uploaded. Use a SAS URI with read, append, create, write access OR use managed identity to provide the VM access to the blob. Refer outputBlobManagedIdentity parameter."
          }
        },
        "errorBlobUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the Azure storage blob where script error stream will be uploaded. Use a SAS URI with read, append, create, write access OR use managed identity to provide the VM access to the blob. Refer errorBlobManagedIdentity parameter."
          }
        },
        "outputBlobManagedIdentity": {
          "target": "com.azure.compute#RunCommandManagedIdentity",
          "traits": {
            "smithy.api#documentation": "User-assigned managed identity that has access to outputBlobUri storage blob. Use an empty object in case of system-assigned identity. Make sure managed identity has been given access to blob's container with 'Storage Blob Data Contributor' role assignment. In case of user-assigned identity, make sure you add it under VM's identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged"
          }
        },
        "errorBlobManagedIdentity": {
          "target": "com.azure.compute#RunCommandManagedIdentity",
          "traits": {
            "smithy.api#documentation": "User-assigned managed identity that has access to errorBlobUri storage blob. Use an empty object in case of system-assigned identity. Make sure managed identity has been given access to blob's container with 'Storage Blob Data Contributor' role assignment. In case of user-assigned identity, make sure you add it under VM's identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged"
          }
        },
        "treatFailureAsDeploymentFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, any failure in the script will fail the deployment and ProvisioningState will be marked as Failed. If set to false, ProvisioningState would only reflect whether the run command was run or not by the extensions platform, it would not indicate whether script failed in case of script failures. See instance view of run command in case of script failures to see executionMessage, output, error: https://aka.ms/runcommandmanaged#get-execution-status-and-results"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Virtual Machine run command."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandPropertiesInputProtectedParametersList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#RunCommandInputParameter"
      },
      "traits": {
        "smithy.api#documentation": "The parameters used by the script."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandPropertiesInputParametersList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#RunCommandInputParameter"
      },
      "traits": {
        "smithy.api#documentation": "The parameters used by the script."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineRunCommandsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.compute#VirtualMachineRunCommandsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommands/{runCommandName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "The operation to create or update the run command.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.compute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.compute#VirtualMachineRunCommandsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.compute#VirtualMachineRunCommandProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a Virtual Machine run command."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VirtualMachine"
          }
        },
        "runCommandName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VirtualMachineRunCommand"
          }
        },
        "tags": {
          "target": "com.azure.compute#VirtualMachineRunCommandsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.compute#VirtualMachineRunCommandPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a Virtual Machine run command."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsGetByVirtualMachine": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineRunCommandsGetByVirtualMachineRequest"
      },
      "output": {
        "target": "com.azure.compute#VirtualMachineRunCommandsGetByVirtualMachineResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommands/{runCommandName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "The operation to get the run command.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsGetByVirtualMachineResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.compute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.compute#VirtualMachineRunCommandsGetByVirtualMachineResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.compute#VirtualMachineRunCommandProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a Virtual Machine run command."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsGetByVirtualMachineResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsGetByVirtualMachineRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VirtualMachine"
          }
        },
        "runCommandName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VirtualMachineRunCommand"
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "The expand expression to apply on the operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsListByVirtualMachine": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineRunCommandsListByVirtualMachineRequest"
      },
      "output": {
        "target": "com.azure.compute#VirtualMachineRunCommandsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommands",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "The operation to get all run commands of a Virtual Machine.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.compute#VirtualMachineRunCommandsListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of run commands.",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uri to fetch the next page of run commands."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The List run command operation response"
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#VirtualMachineRunCommand"
      },
      "traits": {
        "smithy.api#documentation": "The list of run commands."
      }
    },
    "com.azure.compute#VirtualMachineRunCommand": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.compute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.compute#VirtualMachineRunCommandTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.compute#VirtualMachineRunCommandProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a Virtual Machine run command."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a Virtual Machine run command."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.compute#VirtualMachineRunCommandsListByVirtualMachineRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VirtualMachine"
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "The expand expression to apply on the operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachinesRunCommand": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachinesRunCommandRequest"
      },
      "output": {
        "target": "com.azure.compute#RunCommandResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommand",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Run command on the VM.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.compute#RunCommandResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.compute#RunCommandResultValueList",
          "traits": {
            "smithy.api#documentation": "Run command operation response."
          }
        }
      },
      "traits": {}
    },
    "com.azure.compute#RunCommandResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#InstanceViewStatus"
      },
      "traits": {
        "smithy.api#documentation": "Run command operation response."
      }
    },
    "com.azure.compute#VirtualMachinesRunCommandRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        },
        "commandId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a commandId of predefined built-in script. Command IDs available for Linux are listed at https://aka.ms/RunCommandManagedLinux#available-commands, Windows at https://aka.ms/RunCommandManagedWindows#available-commands.",
            "smithy.api#required": {}
          }
        },
        "script": {
          "target": "com.azure.compute#VirtualMachinesRunCommandRequestScriptList",
          "traits": {
            "smithy.api#documentation": "Optional. The script to be executed.  When this value is given, the given script will override the default script of the command."
          }
        },
        "parameters": {
          "target": "com.azure.compute#VirtualMachinesRunCommandRequestParametersList",
          "traits": {
            "smithy.api#documentation": "The run command parameters."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachinesRunCommandRequestParametersList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#RunCommandInputParameter"
      },
      "traits": {
        "smithy.api#documentation": "The run command parameters."
      }
    },
    "com.azure.compute#VirtualMachinesRunCommandRequestScriptList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional. The script to be executed.  When this value is given, the given script will override the default script of the command."
      }
    },
    "com.azure.compute#VirtualMachinesRetrieveBootDiagnosticsData": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachinesRetrieveBootDiagnosticsDataRequest"
      },
      "output": {
        "target": "com.azure.compute#RetrieveBootDiagnosticsDataResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/retrieveBootDiagnosticsData",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
[...]
