{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.confluent#ValidationsValidateOrganizationV2": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#ValidationsValidateOrganizationV2Request"
      },
      "output": {
        "target": "com.azure.confluent#ValidationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/validations/{organizationName}/orgvalidateV2",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Organization Validate proxy resource\n\nOrganization Validate proxy resource",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#ValidationResponse": {
      "type": "structure",
      "members": {
        "info": {
          "target": "com.azure.confluent#ValidationResponseInfoMap",
          "traits": {
            "smithy.api#documentation": "Info from the response"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Validation response from the provider"
      }
    },
    "com.azure.confluent#ValidationResponseInfoMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Info from the response"
      }
    },
    "com.azure.confluent#ValidationsValidateOrganizationV2Request": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "tags": {
          "target": "com.azure.confluent#ValidationsValidateOrganizationV2RequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.confluent#OrganizationResourcePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Organization resource properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#OrganizationResourcePropertiesInput": {
      "type": "structure",
      "members": {
        "offerDetail": {
          "target": "com.azure.confluent#OfferDetailInput",
          "traits": {
            "smithy.api#documentation": "Confluent offer detail",
            "smithy.api#required": {}
          }
        },
        "userDetail": {
          "target": "com.azure.confluent#UserDetail",
          "traits": {
            "smithy.api#documentation": "Subscriber detail",
            "smithy.api#required": {}
          }
        },
        "linkOrganization": {
          "target": "com.azure.confluent#LinkOrganization",
          "traits": {
            "smithy.api#documentation": "Link an existing Confluent organization"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Organization resource property"
      }
    },
    "com.azure.confluent#LinkOrganization": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User auth token",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Link an existing Confluent organization"
      }
    },
    "com.azure.confluent#UserDetail": {
      "type": "structure",
      "members": {
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First name"
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last name"
          }
        },
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address",
            "smithy.api#required": {}
          }
        },
        "userPrincipalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User principal name"
          }
        },
        "aadEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AAD email address"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Subscriber detail"
      }
    },
    "com.azure.confluent#OfferDetailInput": {
      "type": "structure",
      "members": {
        "publisherId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Publisher Id",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer Id",
            "smithy.api#required": {}
          }
        },
        "planId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer Plan Id",
            "smithy.api#required": {}
          }
        },
        "planName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer Plan Name",
            "smithy.api#required": {}
          }
        },
        "termUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer Plan Term unit",
            "smithy.api#required": {}
          }
        },
        "termId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer Plan Term Id"
          }
        },
        "privateOfferId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Private Offer Id"
          }
        },
        "privateOfferIds": {
          "target": "com.azure.confluent#OfferDetailInputPrivateOfferIdsList",
          "traits": {
            "smithy.api#documentation": "Array of Private Offer Ids"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Confluent Offer detail"
      }
    },
    "com.azure.confluent#OfferDetailInputPrivateOfferIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of Private Offer Ids"
      }
    },
    "com.azure.confluent#ValidationsValidateOrganizationV2RequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.confluent#ValidationsValidateOrganization": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#ValidationsValidateOrganizationRequest"
      },
      "output": {
        "target": "com.azure.confluent#ValidationsValidateOrganizationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/validations/{organizationName}/orgvalidate",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Organization Validate proxy resource\n\nOrganization Validate proxy resource",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#ValidationsValidateOrganizationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.confluent#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.confluent#ValidationsValidateOrganizationResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.confluent#OrganizationResourceProperties",
          "traits": {
            "smithy.api#documentation": "Organization resource properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.confluent#OrganizationResourceProperties": {
      "type": "structure",
      "members": {
        "createdTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the resource."
          }
        },
        "provisioningState": {
          "target": "com.azure.confluent#ProvisionState",
          "traits": {
            "smithy.api#documentation": "Provision states for confluent RP"
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the Confluent organization."
          }
        },
        "ssoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSO url for the Confluent organization."
          }
        },
        "offerDetail": {
          "target": "com.azure.confluent#OfferDetail",
          "traits": {
            "smithy.api#documentation": "Confluent offer detail",
            "smithy.api#required": {}
          }
        },
        "userDetail": {
          "target": "com.azure.confluent#UserDetail",
          "traits": {
            "smithy.api#documentation": "Subscriber detail",
            "smithy.api#required": {}
          }
        },
        "linkOrganization": {
          "target": "com.azure.confluent#LinkOrganization",
          "traits": {
            "smithy.api#documentation": "Link an existing Confluent organization"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Organization resource property"
      }
    },
    "com.azure.confluent#OfferDetail": {
      "type": "structure",
      "members": {
        "publisherId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Publisher Id",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer Id",
            "smithy.api#required": {}
          }
        },
        "planId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer Plan Id",
            "smithy.api#required": {}
          }
        },
        "planName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer Plan Name",
            "smithy.api#required": {}
          }
        },
        "termUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer Plan Term unit",
            "smithy.api#required": {}
          }
        },
        "termId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer Plan Term Id"
          }
        },
        "privateOfferId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Private Offer Id"
          }
        },
        "privateOfferIds": {
          "target": "com.azure.confluent#OfferDetailPrivateOfferIdsList",
          "traits": {
            "smithy.api#documentation": "Array of Private Offer Ids"
          }
        },
        "status": {
          "target": "com.azure.confluent#SaaSOfferStatus",
          "traits": {
            "smithy.api#documentation": "SaaS Offer Status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Confluent Offer detail"
      }
    },
    "com.azure.confluent#SaaSOfferStatus": {
      "type": "enum",
      "members": {
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Started"
          }
        },
        "PENDINGFULFILLMENTSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingFulfillmentStart"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "SUBSCRIBED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Subscribed"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Suspended"
          }
        },
        "REINSTATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reinstated"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "UNSUBSCRIBED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unsubscribed"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SaaS Offer Status for confluent RP"
      }
    },
    "com.azure.confluent#OfferDetailPrivateOfferIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of Private Offer Ids"
      }
    },
    "com.azure.confluent#ProvisionState": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provision states for confluent RP"
      }
    },
    "com.azure.confluent#ValidationsValidateOrganizationResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.confluent#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.confluent#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.confluent#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.confluent#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.confluent#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.confluent#ValidationsValidateOrganizationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "tags": {
          "target": "com.azure.confluent#ValidationsValidateOrganizationRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.confluent#OrganizationResourcePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Organization resource properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#ValidationsValidateOrganizationRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.confluent#ListOrganizationRegions": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#ListOrganizationRegionsRequest"
      },
      "output": {
        "target": "com.azure.confluent#ListRegionsSuccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/listRegions",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "cloud provider regions available for creating Schema Registry clusters.",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#ListRegionsSuccessResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.azure.confluent#ListRegionsSuccessResponseDataList",
          "traits": {
            "smithy.api#documentation": "List of regions supported by confluent"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of POST request to list regions supported by confluent"
      }
    },
    "com.azure.confluent#ListRegionsSuccessResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.azure.confluent#RegionRecord"
      },
      "traits": {
        "smithy.api#documentation": "List of regions supported by confluent"
      }
    },
    "com.azure.confluent#RegionRecord": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of the cluster"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the cluster"
          }
        },
        "properties": {
          "target": "com.azure.confluent#RegionProperties",
          "traits": {
            "smithy.api#documentation": "Region Properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of region record"
      }
    },
    "com.azure.confluent#RegionProperties": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.azure.confluent#SCMetadataEntity",
          "traits": {
            "smithy.api#documentation": "Metadata of the record"
          }
        },
        "spec": {
          "target": "com.azure.confluent#RegionSpecEntity",
          "traits": {
            "smithy.api#documentation": "Specification of the region"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Region Properties"
      }
    },
    "com.azure.confluent#RegionSpecEntity": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display Name of the region"
          }
        },
        "cloud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud provider name"
          }
        },
        "regionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region name"
          }
        },
        "packages": {
          "target": "com.azure.confluent#RegionSpecEntityPackagesList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Region spec details"
      }
    },
    "com.azure.confluent#RegionSpecEntityPackagesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.confluent#SCMetadataEntity": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Self lookup url"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the record"
          }
        },
        "createdTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Created Date Time"
          }
        },
        "updatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Updated Date time"
          }
        },
        "deletedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deleted Date time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of the data record"
      }
    },
    "com.azure.confluent#ListOrganizationRegionsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "searchFilters": {
          "target": "com.azure.confluent#OrganizationListRegionsRequestSearchFiltersMap",
          "traits": {
            "smithy.api#documentation": "Search filters for the request"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#OrganizationListRegionsRequestSearchFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Search filters for the request"
      }
    },
    "com.azure.confluent#GetOrganizationSchemaRegistryClusterById": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#GetOrganizationSchemaRegistryClusterByIdRequest"
      },
      "output": {
        "target": "com.azure.confluent#SchemaRegistryClusterRecord"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}/schemaRegistryClusters/{clusterId}",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Get schema registry cluster by Id",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#SchemaRegistryClusterRecord": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of the cluster"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the cluster"
          }
        },
        "properties": {
          "target": "com.azure.confluent#SchemaRegistryClusterProperties",
          "traits": {
            "smithy.api#documentation": "Schema Registry Cluster Properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of schema registry cluster record"
      }
    },
    "com.azure.confluent#SchemaRegistryClusterProperties": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.azure.confluent#SCMetadataEntity",
          "traits": {
            "smithy.api#documentation": "Metadata of the record"
          }
        },
        "spec": {
          "target": "com.azure.confluent#SchemaRegistryClusterSpecEntity",
          "traits": {
            "smithy.api#documentation": "Specification of the schema registry cluster"
          }
        },
        "status": {
          "target": "com.azure.confluent#SchemaRegistryClusterStatusEntity",
          "traits": {
            "smithy.api#documentation": "Specification of the cluster status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema Registry Cluster Properties"
      }
    },
    "com.azure.confluent#SchemaRegistryClusterStatusEntity": {
      "type": "structure",
      "members": {
        "phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The lifecycle phase of the cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the schema registry cluster record"
      }
    },
    "com.azure.confluent#SchemaRegistryClusterSpecEntity": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the schema registry cluster"
          }
        },
        "httpEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Http endpoint of the cluster"
          }
        },
        "package": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the cluster package Advanced, essentials"
          }
        },
        "region": {
          "target": "com.azure.confluent#SchemaRegistryClusterEnvironmentRegionEntity",
          "traits": {
            "smithy.api#documentation": "Region details of the schema registry cluster"
          }
        },
        "environment": {
          "target": "com.azure.confluent#SchemaRegistryClusterEnvironmentRegionEntity",
          "traits": {
            "smithy.api#documentation": "Environment details of the schema registry cluster"
          }
        },
        "cloud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cloud service provider"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of schema registry cluster spec"
      }
    },
    "com.azure.confluent#SchemaRegistryClusterEnvironmentRegionEntity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referred resource"
          }
        },
        "related": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API URL for accessing or modifying the referred object"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CRN reference to the referred resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The environment associated with this object"
      }
    },
    "com.azure.confluent#GetOrganizationSchemaRegistryClusterByIdRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent environment id"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent connector name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#ListOrganizationSchemaRegistryClusters": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#ListOrganizationSchemaRegistryClustersRequest"
      },
      "output": {
        "target": "com.azure.confluent#ListSchemaRegistryClustersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}/schemaRegistryClusters",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Get schema registry clusters",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#ListSchemaRegistryClustersResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.confluent#ListSchemaRegistryClustersResponseValueList",
          "traits": {
            "smithy.api#documentation": "The SchemaRegistryClusterRecord items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of GET request to list schema registry clusters in the environment of a confluent organization"
      }
    },
    "com.azure.confluent#ListSchemaRegistryClustersResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.confluent#SchemaRegistryClusterRecord"
      },
      "traits": {
        "smithy.api#documentation": "The SchemaRegistryClusterRecord items on this page"
      }
    },
    "com.azure.confluent#ListOrganizationSchemaRegistryClustersRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent environment id"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "Pagination size"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "An opaque pagination token to fetch the next set of records"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#DeleteTopic": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#DeleteTopicRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}/clusters/{clusterId}/topics/{topicName}",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Delete confluent topic by name",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#DeleteTopicRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent environment id"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent kafka or schema registry cluster id"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent kafka or schema registry topic name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#CreateTopic": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#CreateTopicRequest"
      },
      "output": {
        "target": "com.azure.confluent#CreateTopicResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}/clusters/{clusterId}/topics/{topicName}",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Create confluent topics by Name",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#CreateTopicResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.confluent#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.confluent#TopicProperties",
          "traits": {
            "smithy.api#documentation": "Topic Properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.confluent#TopicProperties": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of topic"
          }
        },
        "topicId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Topic Id returned by Confluent"
          }
        },
        "metadata": {
          "target": "com.azure.confluent#TopicMetadataEntity",
          "traits": {
            "smithy.api#documentation": "Metadata of the record"
          }
        },
        "partitions": {
          "target": "com.azure.confluent#TopicsRelatedLink",
          "traits": {
            "smithy.api#documentation": "Partition Specification of the topic"
          }
        },
        "configs": {
          "target": "com.azure.confluent#TopicsRelatedLink",
          "traits": {
            "smithy.api#documentation": "Config Specification of the topic"
          }
        },
        "inputConfigs": {
          "target": "com.azure.confluent#TopicPropertiesInputConfigsList",
          "traits": {
            "smithy.api#documentation": "Input Config Specification of the topic"
          }
        },
        "partitionsReassignments": {
          "target": "com.azure.confluent#TopicsRelatedLink",
          "traits": {
            "smithy.api#documentation": "Partition Reassignment Specification of the topic"
          }
        },
        "partitionsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partition count of the topic"
          }
        },
        "replicationFactor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Replication factor of the topic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Topic Properties"
      }
    },
    "com.azure.confluent#TopicsRelatedLink": {
      "type": "structure",
      "members": {
        "related": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relationship of the topic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Partition Config spec of the topic record"
      }
    },
    "com.azure.confluent#TopicPropertiesInputConfigsList": {
      "type": "list",
      "member": {
        "target": "com.azure.confluent#TopicsInputConfig"
      },
      "traits": {
        "smithy.api#documentation": "Input Config Specification of the topic"
      }
    },
    "com.azure.confluent#TopicsInputConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the topic input config"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the topic input config"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Topics input config"
      }
    },
    "com.azure.confluent#TopicMetadataEntity": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Self lookup url"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the record"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of the data record"
      }
    },
    "com.azure.confluent#CreateTopicRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent environment id"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent kafka or schema registry cluster id"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent kafka or schema registry topic name"
          }
        },
        "properties": {
          "target": "com.azure.confluent#TopicProperties",
          "traits": {
            "smithy.api#documentation": "Topic Properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#GetTopic": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#GetTopicRequest"
      },
      "output": {
        "target": "com.azure.confluent#GetTopicResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}/clusters/{clusterId}/topics/{topicName}",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Get confluent topic by Name",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#GetTopicResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.confluent#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.confluent#TopicProperties",
          "traits": {
            "smithy.api#documentation": "Topic Properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.confluent#GetTopicRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent environment id"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent kafka or schema registry cluster id"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent kafka or schema registry topic name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#ListTopics": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#ListTopicsRequest"
      },
      "output": {
        "target": "com.azure.confluent#ListTopicsSuccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}/clusters/{clusterId}/topics",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Lists of all the topics in a clusters",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#ListTopicsSuccessResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.confluent#ListTopicsSuccessResponseValueList",
          "traits": {
            "smithy.api#documentation": "The TopicRecord items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of GET request to list topics in the cluster of a confluent organization"
      }
    },
    "com.azure.confluent#ListTopicsSuccessResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.confluent#TopicRecord"
      },
      "traits": {
        "smithy.api#documentation": "The TopicRecord items on this page"
      }
    },
    "com.azure.confluent#TopicRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.confluent#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.confluent#TopicProperties",
          "traits": {
            "smithy.api#documentation": "Topic Properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of topic record"
      }
    },
    "com.azure.confluent#ListTopicsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent environment id"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent kafka or schema registry cluster id"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "Pagination size"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "An opaque pagination token to fetch the next set of records"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#CreateOrganizationApiKey": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#CreateOrganizationApiKeyRequest"
      },
      "output": {
        "target": "com.azure.confluent#APIKeyRecord"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}/clusters/{clusterId}/createAPIKey",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Creates API key for a schema registry Cluster ID or Kafka Cluster ID under a environment",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#APIKeyRecord": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of api key"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the api key"
          }
        },
        "properties": {
          "target": "com.azure.confluent#APIKeyProperties",
          "traits": {
            "smithy.api#documentation": "API Key Properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details API key"
      }
    },
    "com.azure.confluent#APIKeyProperties": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.azure.confluent#SCMetadataEntity",
          "traits": {
            "smithy.api#documentation": "Metadata of the record"
          }
        },
        "spec": {
          "target": "com.azure.confluent#APIKeySpecEntity",
          "traits": {
            "smithy.api#documentation": "Specification of the API Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API Key Properties"
      }
    },
    "com.azure.confluent#APIKeySpecEntity": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the API Key"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the API Key"
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Key Secret",
            "smithy.api#sensitive": {}
          }
        },
        "resource": {
          "target": "com.azure.confluent#APIKeyResourceEntity",
          "traits": {
            "smithy.api#documentation": "Specification of the cluster"
          }
        },
        "owner": {
          "target": "com.azure.confluent#APIKeyOwnerEntity",
          "traits": {
            "smithy.api#documentation": "Specification of the cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spec of the API Key record"
      }
    },
    "com.azure.confluent#APIKeyOwnerEntity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Key owner id"
          }
        },
        "related": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API URL for accessing or modifying the referred object"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CRN reference to the referred resource"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the owner service or user account"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API Key Owner details which can be a user or service account"
      }
    },
    "com.azure.confluent#APIKeyResourceEntity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the resource"
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment of the api key"
          }
        },
        "related": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API URL for accessing or modifying the api key resource object"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CRN reference to the referred resource"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the owner which can be service or user account"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API Key Resource details which can be kafka cluster or schema registry cluster"
      }
    },
    "com.azure.confluent#CreateOrganizationApiKeyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent environment id"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent kafka or schema registry cluster id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the API Key"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the API Key"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#DeleteConnector": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#DeleteConnectorRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}/clusters/{clusterId}/connectors/{connectorName}",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Delete confluent connector by name",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#DeleteConnectorRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent environment id"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent kafka or schema registry cluster id"
          }
        },
        "connectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent connector name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#ConnectorCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#ConnectorCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.confluent#ConnectorCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}/clusters/{clusterId}/connectors/{connectorName}",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Create confluent connector by Name",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#ConnectorCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.confluent#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.confluent#ConnectorResourceProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the Connector",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.confluent#ConnectorResourceProperties": {
      "type": "structure",
      "members": {
        "connectorBasicInfo": {
          "target": "com.azure.confluent#ConnectorInfoBase",
          "traits": {
            "smithy.api#documentation": "Connector Info Base"
          }
        },
        "connectorServiceTypeInfo": {
          "target": "com.azure.confluent#ConnectorServiceTypeInfoBase",
          "traits": {
            "smithy.api#documentation": "Connector Service type info base properties."
          }
        },
        "partnerConnectorInfo": {
          "target": "com.azure.confluent#PartnerInfoBase",
          "traits": {
            "smithy.api#documentation": "The connection information consumed by applications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource properties of the Connector"
      }
    },
    "com.azure.confluent#PartnerInfoBase": {
      "type": "structure",
      "members": {
        "partnerConnectorType": {
          "target": "com.azure.confluent#PartnerConnectorType",
          "traits": {
            "smithy.api#documentation": "The partner connector type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The partner info base"
      }
    },
    "com.azure.confluent#PartnerConnectorType": {
      "type": "enum",
      "members": {
        "KAFKAAZUREBLOBSTORAGESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KafkaAzureBlobStorageSource"
          }
        },
        "KAFKAAZUREBLOBSTORAGESINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KafkaAzureBlobStorageSink"
          }
        },
        "KAFKAAZURECOSMOSDBSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KafkaAzureCosmosDBSource"
          }
        },
        "KAFKAAZURECOSMOSDBSINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KafkaAzureCosmosDBSink"
          }
        },
        "KAFKAAZURESYNAPSEANALYTICSSINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KafkaAzureSynapseAnalyticsSink"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Partner Connector type."
      }
    },
    "com.azure.confluent#ConnectorServiceTypeInfoBase": {
      "type": "structure",
      "members": {
        "connectorServiceType": {
          "target": "com.azure.confluent#ConnectorServiceType",
          "traits": {
            "smithy.api#documentation": "The connector service type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The connector service type info"
      }
    },
    "com.azure.confluent#ConnectorServiceType": {
      "type": "enum",
      "members": {
        "AZUREBLOBSTORAGESINKCONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureBlobStorageSinkConnector"
          }
        },
        "AZUREBLOBSTORAGESOURCECONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureBlobStorageSourceConnector"
          }
        },
        "AZURECOSMOSDBSINKCONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureCosmosDBSinkConnector"
          }
        },
        "AZURECOSMOSDBSOURCECONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureCosmosDBSourceConnector"
          }
        },
        "AZURESYNAPSEANALYTICSSINKCONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureSynapseAnalyticsSinkConnector"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The connector service type."
      }
    },
    "com.azure.confluent#ConnectorInfoBase": {
      "type": "structure",
      "members": {
        "connectorType": {
          "target": "com.azure.confluent#ConnectorType",
          "traits": {
            "smithy.api#documentation": "Connector Type"
          }
        },
        "connectorClass": {
          "target": "com.azure.confluent#ConnectorClass",
          "traits": {
            "smithy.api#documentation": "Connector Class"
          }
        },
        "connectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connector Name"
          }
        },
        "connectorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connector Id"
          }
        },
        "connectorState": {
          "target": "com.azure.confluent#ConnectorStatus",
          "traits": {
            "smithy.api#documentation": "Connector Status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connector Info Base properties"
      }
    },
    "com.azure.confluent#ConnectorStatus": {
      "type": "enum",
      "members": {
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connector Status"
      }
    },
    "com.azure.confluent#ConnectorClass": {
      "type": "enum",
      "members": {
        "AZUREBLOBSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZUREBLOBSOURCE"
          }
        },
        "AZUREBLOBSINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZUREBLOBSINK"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connector Class"
      }
    },
    "com.azure.confluent#ConnectorType": {
      "type": "enum",
      "members": {
        "SINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINK"
          }
        },
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connector Type"
      }
    },
    "com.azure.confluent#ConnectorCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent environment id"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent kafka or schema registry cluster id"
          }
        },
        "connectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent connector name"
          }
        },
        "properties": {
          "target": "com.azure.confluent#ConnectorResourceProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the Connector",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#GetConnector": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#GetConnectorRequest"
      },
      "output": {
        "target": "com.azure.confluent#GetConnectorResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}/clusters/{clusterId}/connectors/{connectorName}",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Get confluent connector by Name",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#GetConnectorResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.confluent#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.confluent#ConnectorResourceProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the Connector",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.confluent#GetConnectorRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent environment id"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent kafka or schema registry cluster id"
          }
        },
        "connectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent connector name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#ListConnector": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#ListConnectorRequest"
      },
      "output": {
        "target": "com.azure.confluent#ListConnectorsSuccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}/clusters/{clusterId}/connectors",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Lists all the connectors in a cluster",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#ListConnectorsSuccessResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.confluent#ListConnectorsSuccessResponseValueList",
          "traits": {
            "smithy.api#documentation": "The ConnectorResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of GET request to list connectors in the cluster of a confluent organization"
      }
    },
    "com.azure.confluent#ListConnectorsSuccessResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.confluent#ConnectorResource"
      },
      "traits": {
        "smithy.api#documentation": "The ConnectorResource items on this page"
      }
    },
    "com.azure.confluent#ConnectorResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.confluent#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.confluent#ConnectorResourceProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the Connector",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of connector record"
      }
    },
    "com.azure.confluent#ListConnectorRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent environment id"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent kafka or schema registry cluster id"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "Pagination size"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pageToken",
            "smithy.api#documentation": "An opaque pagination token to fetch the next set of records"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#DeleteCluster": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#DeleteClusterRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}/clusters/{clusterId}",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Delete confluent cluster by id",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization resource name"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent environment id"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Confluent kafka or schema registry cluster id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.confluent#ClusterCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.confluent#ClusterCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.confluent#ClusterCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}/clusters/{clusterId}",
          "code": 200,
          "apiVersion": "2024-07-01"
        },
        "smithy.api#documentation": "Create confluent clusters",
        "com.distilled.openapi#apiVersion": "2024-07-01"
      }
    },
    "com.azure.confluent#ClusterCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.confluent#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of cluster"
          }
        },
        "properties": {
          "target": "com.azure.confluent#ClusterProperties",
          "traits": {
            "smithy.api#documentation": "Cluster Properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.confluent#ClusterProperties": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.azure.confluent#SCMetadataEntity",
          "traits": {
            "smithy.api#documentation": "Metadata of the record"
          }
        },
        "spec": {
          "target": "com.azure.confluent#SCClusterSpecEntity",
          "traits": {
            "smithy.api#documentation": "Specification of the cluster"
          }
        },
        "status": {
          "target": "com.azure.confluent#ClusterStatusEntity",
          "traits": {
            "smithy.api#documentation": "Specification of the cluster status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service Connector Cluster Properties"
      }
    },
    "com.azure.confluent#ClusterStatusEntity": {
      "type": "structure",
      "members": {
        "phase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The lifecycle phase of the cluster"
          }
        },
        "cku": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of Confluent Kafka Units"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the cluster record"
      }
    },
    "com.azure.confluent#SCClusterSpecEntity": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the cluster"
          }
        },
        "availability": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The availability zone configuration of the cluster"
          }
        },
        "cloud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cloud service provider"
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "type of zone availability"
          }
        },
        "package": {
          "target": "com.azure.confluent#Package",
          "traits": {
            "smithy.api#documentation": "Stream governance configuration"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cloud service provider region"
          }
        },
        "kafkaBootstrapEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bootstrap endpoint used by Kafka clients to connect to the cluster"
          }
        },
        "httpEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cluster HTTP request URL."
          }
        },
        "apiEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Kafka API cluster endpoint"
          }
        },
        "config": {
          "target": "com.azure.confluent#ClusterConfigEntity",
          "traits": {
            "smithy.api#documentation": "Specification of the cluster configuration"
          }
        },
        "environment": {
          "target": "com.azure.confluent#SCClusterNetworkEnvironmentEntity",
          "traits": {
            "smithy.api#documentation": "Specification of the cluster environment"
          }
        },
        "network": {
          "target": "com.azure.confluent#SCClusterNetworkEnvironmentEntity",
          "traits": {
            "smithy.api#documentation": "Specification of the cluster network"
          }
        },
        "byok": {
          "target": "com.azure.confluent#SCClusterByokEntity",
          "traits": {
            "smithy.api#documentation": "Specification of the cluster byok"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spec of the cluster record"
      }
    },
    "com.azure.confluent#SCClusterByokEntity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referred resource"
          }
        },
        "related": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API URL for accessing or modifying the referred object"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CRN reference to the referred resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The network associated with this object"
      }
    },
[...]
