{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeMccIssueDetailsHistory": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeMccIssueDetailsHistoryRequest"
      },
      "output": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeMccIssueDetailsHistoryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}/ispCacheNodes/{cacheNodeResourceName}/getCacheNodeMccIssueDetailsHistory",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This api gets ispCacheNode resource issues details histrory information",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeMccIssueDetailsHistoryResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedcache#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeMccIssueDetailsHistoryResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.connectedcache#MccCacheNodeIssueHistoryProperties",
          "traits": {
            "smithy.api#documentation": "Mcc cache node resource issue history properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.connectedcache#MccCacheNodeIssueHistoryProperties": {
      "type": "structure",
      "members": {
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc customer resource Id."
          }
        },
        "cacheNodeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node resource Id."
          }
        },
        "mccIssueHistory": {
          "target": "com.azure.connectedcache#MccCacheNodeIssueHistoryPropertiesMccIssueHistoryList",
          "traits": {
            "smithy.api#documentation": "Cache node resource issue details history."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mcc cache node resource issue history properties."
      }
    },
    "com.azure.connectedcache#MccCacheNodeIssueHistoryPropertiesMccIssueHistoryList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedcache#MccIssue"
      },
      "traits": {
        "smithy.api#documentation": "Cache node resource issue details history."
      }
    },
    "com.azure.connectedcache#MccIssue": {
      "type": "structure",
      "members": {
        "mccIssueType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node issue type."
          }
        },
        "toastString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node issues toastString."
          }
        },
        "detailString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node issue detail string."
          }
        },
        "helpLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node issue related help link."
          }
        },
        "issueStartDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node issue start date."
          }
        },
        "issueEndDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node issue end date."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mcc cache node resource issue properties."
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeMccIssueDetailsHistoryResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.connectedcache#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.connectedcache#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.connectedcache#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.connectedcache#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.connectedcache#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeMccIssueDetailsHistoryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "customerResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Customer resource"
          }
        },
        "cacheNodeResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the ConnectedCache resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeInstallDetails": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeInstallDetailsRequest"
      },
      "output": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeInstallDetailsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}/ispCacheNodes/{cacheNodeResourceName}/getCacheNodeInstallDetails",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This api gets secrets of the ispCacheNode resource install details",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeInstallDetailsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedcache#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeInstallDetailsResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.connectedcache#CacheNodeInstallProperties",
          "traits": {
            "smithy.api#documentation": "Mcc cache node resource install script details."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.connectedcache#CacheNodeInstallProperties": {
      "type": "structure",
      "members": {
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc customer resource Id."
          }
        },
        "cacheNodeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node resource Id."
          }
        },
        "primaryAccountKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc primary account key. Internal to Mcc."
          }
        },
        "secondaryAccountKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc secondary account key. Internal to Mcc."
          }
        },
        "registrationKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc Iot Central temporary device registration key, used once."
          }
        },
        "tlsCertificateProvisioningKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc Tls certificate provisioning key."
          }
        },
        "driveConfiguration": {
          "target": "com.azure.connectedcache#CacheNodeInstallPropertiesDriveConfigurationList",
          "traits": {
            "smithy.api#documentation": "Cache node resource drive configurations."
          }
        },
        "proxyUrlConfiguration": {
          "target": "com.azure.connectedcache#ProxyUrlConfiguration",
          "traits": {
            "smithy.api#documentation": "proxyUrl configuration of the cache node"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mcc cache node resource install script properties."
      }
    },
    "com.azure.connectedcache#ProxyUrlConfiguration": {
      "type": "structure",
      "members": {
        "proxyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host Proxy Address configuration along with port number. This can be a proxy or ip address. ex: xx.xx.xx.xxxx:80 or host name http://exampleproxy.com:80"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ProxyUrl configuration of cache node"
      }
    },
    "com.azure.connectedcache#CacheNodeInstallPropertiesDriveConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedcache#CacheNodeDriveConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "Cache node resource drive configurations."
      }
    },
    "com.azure.connectedcache#CacheNodeDriveConfiguration": {
      "type": "structure",
      "members": {
        "physicalPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "physical path location of the folder used for caching content"
          }
        },
        "sizeInGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "physical size of the drive used for caching content"
          }
        },
        "cacheNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "corresponding nginx cache number. Valid cache numbers are 1 - 20"
          }
        },
        "nginxMapping": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "full binding for corresponding nginx cache drive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Drive configuration for cache node"
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeInstallDetailsResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeInstallDetailsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "customerResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Customer resource"
          }
        },
        "cacheNodeResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the ConnectedCache resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeAutoUpdateHistory": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeAutoUpdateHistoryRequest"
      },
      "output": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeAutoUpdateHistoryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}/ispCacheNodes/{cacheNodeResourceName}/getCacheNodeAutoUpdateHistory",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This api gets ispCacheNode resource auto update histrory information",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeAutoUpdateHistoryResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedcache#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeAutoUpdateHistoryResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.connectedcache#MccCacheNodeAutoUpdateHistoryProperties",
          "traits": {
            "smithy.api#documentation": "Mcc cache node resource auto update history properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.connectedcache#MccCacheNodeAutoUpdateHistoryProperties": {
      "type": "structure",
      "members": {
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc customer resource Id."
          }
        },
        "cacheNodeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node resource Id."
          }
        },
        "autoUpdateHistory": {
          "target": "com.azure.connectedcache#MccCacheNodeAutoUpdateHistoryPropertiesAutoUpdateHistoryList",
          "traits": {
            "smithy.api#documentation": "Cache node resource auto update history information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mcc cache node resource auto update history properties."
      }
    },
    "com.azure.connectedcache#MccCacheNodeAutoUpdateHistoryPropertiesAutoUpdateHistoryList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedcache#MccCacheNodeAutoUpdateInfo"
      },
      "traits": {
        "smithy.api#documentation": "Cache node resource auto update history information."
      }
    },
    "com.azure.connectedcache#MccCacheNodeAutoUpdateInfo": {
      "type": "structure",
      "members": {
        "imageUriBeforeUpdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update image uri before update."
          }
        },
        "imageUriTargeted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update image uri targetted to update."
          }
        },
        "imageUriTerminal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update image uri at Terminal."
          }
        },
        "autoUpdateRingType": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Auto update Ring Type."
          }
        },
        "movedToTerminalStateDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update image uri after update."
          }
        },
        "ruleRequestedWeek": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Auto update image uri before update."
          }
        },
        "ruleRequestedDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Auto update image uri after update."
          }
        },
        "createdDateTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update entity created datetime."
          }
        },
        "updatedRegistryDateTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update entity last updated datetime."
          }
        },
        "planChangeLogText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This text describing the purpose of the plan of auto update."
          }
        },
        "autoUpdateLastAppliedStatus": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Auto update last applied status."
          }
        },
        "autoUpdateLastAppliedStatusText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update last applied status text."
          }
        },
        "autoUpdateLastAppliedStatusDetailedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update last applied detailed status text."
          }
        },
        "planId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Auto update planId."
          }
        },
        "timeToGoLiveDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update time to go live date time."
          }
        },
        "ruleRequestedMinute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update rule requested minute."
          }
        },
        "ruleRequestedHour": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update rule requested hour."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mcc cache node resource auto update properties."
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeAutoUpdateHistoryResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetCacheNodeAutoUpdateHistoryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "customerResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Customer resource"
          }
        },
        "cacheNodeResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the ConnectedCache resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetBgpCidrs": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsGetBgpCidrsRequest"
      },
      "output": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsGetBgpCidrsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}/ispCacheNodes/{cacheNodeResourceName}/getBgpCidrs",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This api gets ispCacheNode resource information",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetBgpCidrsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedcache#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.connectedcache#IspCacheNodesOperationsGetBgpCidrsResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.connectedcache#BgpCidrsConfiguration",
          "traits": {
            "smithy.api#documentation": "Mcc cache node resource Bgp Cidr properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.connectedcache#BgpCidrsConfiguration": {
      "type": "structure",
      "members": {
        "bgpCidrs": {
          "target": "com.azure.connectedcache#BgpCidrsConfigurationBgpCidrsList",
          "traits": {
            "smithy.api#documentation": "Mcc cache node Bgp Cidr details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mcc cache node Bgp Cidr details."
      }
    },
    "com.azure.connectedcache#BgpCidrsConfigurationBgpCidrsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Mcc cache node Bgp Cidr details."
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetBgpCidrsResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetBgpCidrsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "customerResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Customer resource"
          }
        },
        "cacheNodeResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the ConnectedCache resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}/ispCacheNodes/{cacheNodeResourceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This api deletes an existing ispCacheNode resource",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "customerResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Customer resource"
          }
        },
        "cacheNodeResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the ConnectedCache resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsUpdateRequest"
      },
      "output": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}/ispCacheNodes/{cacheNodeResourceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This api updates an existing ispCacheNode resource",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedcache#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.connectedcache#IspCacheNodesOperationsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.connectedcache#CacheNodeProperty",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.connectedcache#CacheNodeProperty": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.connectedcache#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioned state of the resource"
          }
        },
        "cacheNode": {
          "target": "com.azure.connectedcache#CacheNodeEntity",
          "traits": {
            "smithy.api#documentation": "Mcc cache node resource (cache node entity)."
          }
        },
        "additionalCacheNodeProperties": {
          "target": "com.azure.connectedcache#AdditionalCacheNodeProperties",
          "traits": {
            "smithy.api#documentation": "Mcc cache node resource additional properties."
          }
        },
        "statusCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc response status code."
          }
        },
        "statusText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc response status text as string for retrieving status details."
          }
        },
        "statusDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc response status details for retrieving response inner details."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP error status code."
          }
        },
        "error": {
          "target": "com.azure.connectedcache#CacheNodePropertyError",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Model representing an Mcc cache node connectedCache resource"
      }
    },
    "com.azure.connectedcache#CacheNodePropertyError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.connectedcache#CacheNodePropertyErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.connectedcache#CacheNodePropertyErrorAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.connectedcache#CacheNodePropertyErrorAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedcache#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.connectedcache#ErrorAdditionalInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional info type."
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource management error additional info."
      }
    },
    "com.azure.connectedcache#CacheNodePropertyErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedcache#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.connectedcache#ErrorDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.connectedcache#ErrorDetailDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.connectedcache#ErrorDetailAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.connectedcache#ErrorDetailAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedcache#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.connectedcache#ErrorDetailDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedcache#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.connectedcache#AdditionalCacheNodeProperties": {
      "type": "structure",
      "members": {
        "cacheNodePropertiesDetailsIssuesList": {
          "target": "com.azure.connectedcache#AdditionalCacheNodePropertiesCacheNodePropertiesDetailsIssuesListList",
          "traits": {
            "smithy.api#documentation": "issues list to return the issues as part of the additional cache node properties"
          }
        },
        "issuesList": {
          "target": "com.azure.connectedcache#AdditionalCacheNodePropertiesIssuesListList",
          "traits": {
            "smithy.api#documentation": "current cache node issue list."
          }
        },
        "issuesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of cache node issues."
          }
        },
        "currentTlsCertificate": {
          "target": "com.azure.connectedcache#MccCacheNodeTlsCertificate",
          "traits": {
            "smithy.api#documentation": "cache node current tls certificate."
          }
        },
        "lastAutoUpdateInfo": {
          "target": "com.azure.connectedcache#MccCacheNodeAutoUpdateInfo",
          "traits": {
            "smithy.api#documentation": "cache node last auto update information."
          }
        },
        "aggregatedStatusDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource aggregated status details."
          }
        },
        "aggregatedStatusText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource aggregated status text."
          }
        },
        "aggregatedStatusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource aggregated status code."
          }
        },
        "productVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource Mcc product version."
          }
        },
        "isProvisioned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cache node resource flag indicating if cache node has been physically installed or provisioned on their physical lab."
          }
        },
        "cacheNodeStateDetailedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource detailed state text."
          }
        },
        "cacheNodeStateShortText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource short state text."
          }
        },
        "cacheNodeState": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource state as integer."
          }
        },
        "driveConfiguration": {
          "target": "com.azure.connectedcache#AdditionalCacheNodePropertiesDriveConfigurationList",
          "traits": {
            "smithy.api#documentation": "Cache node resource drive configurations."
          }
        },
        "bgpConfiguration": {
          "target": "com.azure.connectedcache#BgpConfiguration",
          "traits": {
            "smithy.api#documentation": "Cache node resource Bgp configuration."
          }
        },
        "proxyUrlConfiguration": {
          "target": "com.azure.connectedcache#ProxyUrlConfiguration",
          "traits": {
            "smithy.api#documentation": "proxyUrl configuration of the cache node"
          }
        },
        "isProxyRequired": {
          "target": "com.azure.connectedcache#ProxyRequired",
          "traits": {
            "smithy.api#documentation": "Cache node resource requires a proxy"
          }
        },
        "osType": {
          "target": "com.azure.connectedcache#OsType",
          "traits": {
            "smithy.api#documentation": "Operating system of the cache node"
          }
        },
        "autoUpdateVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update or fast update version"
          }
        },
        "updateInfoDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Update related information details"
          }
        },
        "updateRequestedDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "customer requested date time for mcc install of update cycle"
          }
        },
        "autoUpdateNextAvailableVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update version that is the Next available version to update on mcc cache node"
          }
        },
        "autoUpdateNextAvailableDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update last applied date time of mcc install"
          }
        },
        "autoUpdateAppliedVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update version that is the applied to update on mcc cache node"
          }
        },
        "autoUpdateLastAppliedDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto Update status details from the backend after applying the new version details"
          }
        },
        "autoUpdateLastAppliedState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last applied auto update state for mcc install of auto update cycle"
          }
        },
        "autoUpdateLastAppliedDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update last applied date time of mcc install"
          }
        },
        "autoUpdateLastTriggeredDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auto update last triggered date time of mcc install"
          }
        },
        "creationMethod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Resource creation method of mcc cache node resource, cli or portal"
          }
        },
        "tlsStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node tls certificate status."
          }
        },
        "hostOsEdition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system edition of the cache node host machine"
          }
        },
        "hostOsVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system version of the cache node host machine"
          }
        },
        "hostOsBuild": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system build of the cache node host machine"
          }
        },
        "distroOsEditionWsl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system edition of the WSL Linux distribution used to run the cache node on Windows host machines"
          }
        },
        "distroOsVersionWsl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system version of the WSL Linux distribution used to run the cache node on Windows host machines"
          }
        },
        "distroOsBuildWsl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system build of the WSL Linux distribution used to run the cache node on Windows host machines"
          }
        },
        "containerOsEdition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system edition of container used to run the cache node"
          }
        },
        "containerOsVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system version of the container used to run the cache node"
          }
        },
        "containerOsBuild": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system build of the container used to run the cache node"
          }
        },
        "installVersionMsix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the Windows deployment application used to deploy the cache node"
          }
        },
        "installVersionScript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the installation scripts used to deploy the cache node"
          }
        },
        "appVersionWsl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the Windows Subsystem for Linux application version used to run the cache node on the Windows host machine"
          }
        },
        "optionalProperty1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional property #1 of Mcc response object"
          }
        },
        "optionalProperty2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional property #2 of Mcc response object"
          }
        },
        "optionalProperty3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional property #3 of Mcc response object"
          }
        },
        "optionalProperty4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional property #4 of Mcc response object"
          }
        },
        "optionalProperty5": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional property #5 of Mcc response object"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Model representing cache node for connected cache resource"
      }
    },
    "com.azure.connectedcache#OsType": {
      "type": "enum",
      "members": {
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linux"
          }
        },
        "EFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Eflow"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operating System of the cache node"
      }
    },
    "com.azure.connectedcache#ProxyRequired": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Required"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Proxy details enum"
      }
    },
    "com.azure.connectedcache#BgpConfiguration": {
      "type": "structure",
      "members": {
        "asnToIpAddressMapping": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asn to ip address mapping"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Bgp configuration of cache node"
      }
    },
    "com.azure.connectedcache#AdditionalCacheNodePropertiesDriveConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedcache#CacheNodeDriveConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "Cache node resource drive configurations."
      }
    },
    "com.azure.connectedcache#MccCacheNodeTlsCertificate": {
      "type": "structure",
      "members": {
        "actionRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node Tls certificate status."
          }
        },
        "certificateFileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node Tls certificate file name."
          }
        },
        "certType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node Tls certificate Type."
          }
        },
        "thumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node Tls certificate thumbprint."
          }
        },
        "expiryDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node Tls certificate expiry date."
          }
        },
        "notBeforeDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node Tls certificate not before date."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node Tls certificate subject name."
          }
        },
        "subjectAltName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc cache node Tls certificate subject alternate name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mcc cache node resource Tls certificate details."
      }
    },
    "com.azure.connectedcache#AdditionalCacheNodePropertiesIssuesListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "current cache node issue list."
      }
    },
    "com.azure.connectedcache#AdditionalCacheNodePropertiesCacheNodePropertiesDetailsIssuesListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "issues list to return the issues as part of the additional cache node properties"
      }
    },
    "com.azure.connectedcache#CacheNodeEntity": {
      "type": "structure",
      "members": {
        "fullyQualifiedResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource Azure fully qualified resource Id."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource customer resource GUID Id."
          }
        },
        "customerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource customer resource name."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource Ip address."
          }
        },
        "customerIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource customer index as string."
          }
        },
        "cacheNodeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource identifier of the cache node"
          }
        },
        "cacheNodeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource name."
          }
        },
        "customerAsn": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource customer resource Asn (autonomous system number)"
          }
        },
        "isEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cache node resource flag for indicating if cache node is enabled."
          }
        },
        "maxAllowableEgressInMbps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource maximum allowed egress in Mbps."
          }
        },
        "maxAllowableProbability": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cache node resource maximum allowed probability of egress."
          }
        },
        "xCid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource Azure XCid."
          }
        },
        "isEnterpriseManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cache node resource flag for determining if managed by enterprise as boolean."
          }
        },
        "createAsyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource create async operation Id."
          }
        },
        "deleteAsyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource deletion async operation Id."
          }
        },
        "clientTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource customer resource client tenant Id of subscription."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource category."
          }
        },
        "releaseVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource release version."
          }
        },
        "lastSyncWithAzureTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource last sync timestamp."
          }
        },
        "lastUpdatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource last backend updated timestamp."
          }
        },
        "synchWithAzureAttemptsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource attempts to sync with Azure."
          }
        },
        "containerConfigurations": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource container configuration details."
          }
        },
        "cidrCsv": {
          "target": "com.azure.connectedcache#CacheNodeEntityCidrCsvList",
          "traits": {
            "smithy.api#documentation": "Cache node resource comma separated values of Cidrs."
          }
        },
        "cidrCsvLastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource last Cidr Csv update timestamp"
          }
        },
        "bgpNetworkInterface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource Bgp network interface."
          }
        },
        "bgpCidrCsvLastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource last Bgp Cidr Csv update timestamp"
          }
        },
        "bgpLastReportedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource last Bgp report timestamp."
          }
        },
        "bgpReviewStateText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource Bgp review state string text in detail."
          }
        },
        "bgpReviewState": {
          "target": "com.azure.connectedcache#BgpReviewStateEnum",
          "traits": {
            "smithy.api#documentation": "Cache node resource Bgp review state string text."
          }
        },
        "bgpReviewFeedback": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource Bgp review feedback text."
          }
        },
        "bgpNumberOfTimesUpdated": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource Bgp update count."
          }
        },
        "bgpNumberOfRecords": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource Bgp record count."
          }
        },
        "bgpCidrBlocksCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource Bgp block count."
          }
        },
        "bgpAddressSpace": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource total addressable space defined by Bgp and Cidr Csv blocks."
          }
        },
        "shouldMigrate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cache node resource flag for determining if customer will be migrated."
          }
        },
        "bgpFileBytesTruncated": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource bytes truncated from Bgp output file."
          }
        },
        "cidrSelectionType": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource current Cidr range precedence selection type."
          }
        },
        "isFrozen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cache node resource flag for indicating the cache node resource is frozen (not selectable, not editable in UI)."
          }
        },
        "reviewState": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource review process state as integer"
          }
        },
        "reviewStateText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource review state text."
          }
        },
        "reviewFeedback": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource review feedback text."
          }
        },
        "configurationState": {
          "target": "com.azure.connectedcache#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "Cache node resource configuration state."
          }
        },
        "configurationStateText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource configuration state text."
          }
        },
        "addressSpace": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource total addressable space defined by the Cidr Csv block."
          }
        },
        "workerConnections": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource Mcc container deployment worker connection count."
          }
        },
        "workerConnectionsLastUpdatedDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource last updated Mcc container deployment worker connection count timestamp."
          }
        },
        "containerResyncTrigger": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cache node resource Mcc container configuration details re-sync trigger."
          }
        },
        "imageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cache node resource Mcc Container Id Uri."
          }
        },
        "fullyQualifiedDomainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FQDN(fully qualified domain name) value of the mcc cache node"
          }
        },
        "autoUpdateRingType": {
          "target": "com.azure.connectedcache#AutoUpdateRingType",
          "traits": {
            "smithy.api#documentation": "Auto Update Ring Type which is stable or beta as new values. slow or fast are legacy from version 2026-06-01."
          }
        },
        "autoUpdateRequestedWeek": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Customer requested week of month for mcc install of auto update cycle. 0 is default no selection. 1-5 are valid weeks of month, 1 is first week, 2 is second week, etc."
          }
        },
        "autoUpdateRequestedDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Customer requested day of week for mcc install of auto update cycle. 0 is default no selection. 1-7 are days of week, 1 is Sunday, 2 is Monday, etc."
          }
        },
        "autoUpdateRequestedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer requested time of the day for mcc install of auto update cycle, should be hh:mm"
          }
        },
        "openFirewallPort80": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cache node port firewall rule creation opt-in for port 80 property"
          }
        },
        "openFirewallPort443": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cache node port firewall rule creation opt-in for port 443 property"
          }
        },
        "openFirewallPort5000": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cache node port firewall rule creation opt-in for port 5000 property"
          }
        },
        "openFirewallPort5001": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Cache node port firewall rule creation opt-in for port 5001 property"
          }
        },
        "runtimeAccountType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connected Cache runtime account type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Model representing Cache Node for ConnectedCache resource"
      }
    },
    "com.azure.connectedcache#AutoUpdateRingType": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Preview"
          }
        },
        "SLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Slow"
          }
        },
        "FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fast"
          }
        },
        "STABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stable"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Beta"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auto update Ring type"
      }
    },
    "com.azure.connectedcache#ConfigurationState": {
      "type": "enum",
      "members": {
        "CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Configured"
          }
        },
        "NOTCONFIGURED_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotConfigured_Ip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cache node configuration setup state"
      }
    },
    "com.azure.connectedcache#BgpReviewStateEnum": {
      "type": "enum",
      "members": {
        "NOTCONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotConfigured"
          }
        },
        "INREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InReview"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "ATTENTIONREQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AttentionRequired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cache node resource Bgp review state as integer"
      }
    },
    "com.azure.connectedcache#CacheNodeEntityCidrCsvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Cache node resource comma separated values of Cidrs."
      }
    },
    "com.azure.connectedcache#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Upgrading"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "provisioning state of the resource"
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "customerResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Customer resource"
          }
        },
        "cacheNodeResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the ConnectedCache resource"
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}/ispCacheNodes/{cacheNodeResourceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This api creates an ispCacheNode with the specified create parameters",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedcache#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.connectedcache#IspCacheNodesOperationsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.connectedcache#CacheNodeProperty",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "customerResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Customer resource"
          }
        },
        "cacheNodeResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the ConnectedCache resource"
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsGetRequest"
      },
      "output": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}/ispCacheNodes/{cacheNodeResourceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This api gets ispCacheNode resource information",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedcache#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.connectedcache#IspCacheNodesOperationsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.connectedcache#CacheNodeProperty",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "customerResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Customer resource"
          }
        },
        "cacheNodeResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the ConnectedCache resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsListByIspCustomerResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedcache#IspCacheNodesOperationsListByIspCustomerResourceRequest"
      },
      "output": {
        "target": "com.azure.connectedcache#IspCacheNodeResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}/ispCacheNodes",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This api retrieves information about all ispCacheNode resources under the given subscription and resource group",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.connectedcache#IspCacheNodeResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.connectedcache#IspCacheNodeResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The IspCacheNodeResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a IspCacheNodeResource list operation."
      }
    },
    "com.azure.connectedcache#IspCacheNodeResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedcache#IspCacheNodeResource"
      },
      "traits": {
        "smithy.api#documentation": "The IspCacheNodeResource items on this page"
      }
    },
    "com.azure.connectedcache#IspCacheNodeResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedcache#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.connectedcache#IspCacheNodeResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.connectedcache#CacheNodeProperty",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the high level Nodes needed to provision cache node resources"
      }
    },
    "com.azure.connectedcache#IspCacheNodeResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.connectedcache#IspCacheNodesOperationsListByIspCustomerResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "customerResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Customer resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedcache#IspCustomersDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedcache#IspCustomersDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This api deletes an existing ispCustomer resource",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.connectedcache#IspCustomersDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "customerResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Customer resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedcache#IspCustomersUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedcache#IspCustomersUpdateRequest"
      },
      "output": {
        "target": "com.azure.connectedcache#IspCustomersUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This api updates an existing ispCustomer resource",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.connectedcache#IspCustomersUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedcache#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.connectedcache#IspCustomersUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.connectedcache#CustomerProperty",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.connectedcache#CustomerProperty": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.connectedcache#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioned state of the resource"
          }
        },
        "customer": {
          "target": "com.azure.connectedcache#CustomerEntity",
          "traits": {
            "smithy.api#documentation": "Mcc customer resource (customer entity)."
          }
        },
        "additionalCustomerProperties": {
          "target": "com.azure.connectedcache#AdditionalCustomerProperties",
          "traits": {
            "smithy.api#documentation": "Mcc customer resource additional properties."
          }
        },
        "statusCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc response status code."
          }
        },
        "statusText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc response status text as string for retrieving status details."
          }
        },
        "statusDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mcc response status details for retrieving response inner details."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP error status code."
          }
        },
        "error": {
          "target": "com.azure.connectedcache#CustomerPropertyError",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Model representing customer for connectedCache resource"
      }
    },
    "com.azure.connectedcache#CustomerPropertyError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.connectedcache#CustomerPropertyErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.connectedcache#CustomerPropertyErrorAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.connectedcache#CustomerPropertyErrorAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedcache#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.connectedcache#CustomerPropertyErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedcache#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
[...]
