{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.containerregistry#WebhooksPing": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#WebhooksPingRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#EventInfo"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}/ping",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Triggers a ping event to be sent to the webhook.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#EventInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The basic information of an event."
      }
    },
    "com.azure.containerregistry#WebhooksPingRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the webhook."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#ListWebhookEvents": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#ListWebhookEventsRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#EventListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}/listEvents",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Lists recent events for the specified webhook.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#EventListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.containerregistry#EventListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of events. Since this list may be incomplete, the nextLink field should be used to request the next list of events."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI that can be used to request the next list of events."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a request to list events for a webhook."
      }
    },
    "com.azure.containerregistry#EventListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerregistry#Event"
      },
      "traits": {
        "smithy.api#documentation": "The list of events. Since this list may be incomplete, the nextLink field should be used to request the next list of events."
      }
    },
    "com.azure.containerregistry#Event": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event ID."
          }
        },
        "eventRequestMessage": {
          "target": "com.azure.containerregistry#EventRequestMessage",
          "traits": {
            "smithy.api#documentation": "The event request message sent to the service URI."
          }
        },
        "eventResponseMessage": {
          "target": "com.azure.containerregistry#EventResponseMessage",
          "traits": {
            "smithy.api#documentation": "The event response message received from the service URI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The event for a webhook."
      }
    },
    "com.azure.containerregistry#EventResponseMessage": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the event response message."
          }
        },
        "headers": {
          "target": "com.azure.containerregistry#EventResponseMessageHeadersMap",
          "traits": {
            "smithy.api#documentation": "The headers of the event response message."
          }
        },
        "reasonPhrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason phrase of the event response message."
          }
        },
        "statusCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status code of the event response message."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP message version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The event response message received from the service URI."
      }
    },
    "com.azure.containerregistry#EventResponseMessageHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The headers of the event response message."
      }
    },
    "com.azure.containerregistry#EventRequestMessage": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.azure.containerregistry#EventContent",
          "traits": {
            "smithy.api#documentation": "The content of the event request message."
          }
        },
        "headers": {
          "target": "com.azure.containerregistry#EventRequestMessageHeadersMap",
          "traits": {
            "smithy.api#documentation": "The headers of the event request message."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP method used to send the event request message."
          }
        },
        "requestUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI used to send the event request message."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP message version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The event request message sent to the service URI."
      }
    },
    "com.azure.containerregistry#EventRequestMessageHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The headers of the event request message."
      }
    },
    "com.azure.containerregistry#EventContent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event ID."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the event occurred."
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The action that encompasses the provided event."
          }
        },
        "target": {
          "target": "com.azure.containerregistry#Target",
          "traits": {
            "smithy.api#documentation": "The target of the event."
          }
        },
        "request": {
          "target": "com.azure.containerregistry#Request",
          "traits": {
            "smithy.api#documentation": "The request that generated the event."
          }
        },
        "actor": {
          "target": "com.azure.containerregistry#Actor",
          "traits": {
            "smithy.api#documentation": "The agent that initiated the event. For most situations, this could be from the authorization context of the request."
          }
        },
        "source": {
          "target": "com.azure.containerregistry#Source",
          "traits": {
            "smithy.api#documentation": "The registry node that generated the event. Put differently, while the actor initiates the event, the source generates it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The content of the event request message."
      }
    },
    "com.azure.containerregistry#Source": {
      "type": "structure",
      "members": {
        "addr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP or hostname and the port of the registry node that generated the event. Generally, this will be resolved by os.Hostname() along with the running port."
          }
        },
        "instanceID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The running instance of an application. Changes after each restart."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The registry node that generated the event. Put differently, while the actor initiates the event, the source generates it."
      }
    },
    "com.azure.containerregistry#Actor": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subject or username associated with the request context that generated the event."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The agent that initiated the event. For most situations, this could be from the authorization context of the request."
      }
    },
    "com.azure.containerregistry#Request": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the request that initiated the event."
          }
        },
        "addr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP or hostname and possibly port of the client connection that initiated the event. This is the RemoteAddr from the standard http request."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The externally accessible hostname of the registry instance, as specified by the http host header on incoming requests."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request method that generated the event."
          }
        },
        "useragent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user agent header of the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request that generated the event."
      }
    },
    "com.azure.containerregistry#Target": {
      "type": "structure",
      "members": {
        "mediaType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the referenced object."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of bytes of the content. Same as Length field."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The digest of the content, as defined by the Registry V2 HTTP API Specification."
          }
        },
        "length": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of bytes of the content. Same as Size field."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository name."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The direct URL to the content."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tag name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the artifact."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The target of the event."
      }
    },
    "com.azure.containerregistry#ListWebhookEventsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the webhook."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#GetWebhookCallbackConfig": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#GetWebhookCallbackConfigRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#CallbackConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}/getCallbackConfig",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Gets the configuration of service URI and custom headers for the webhook.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#CallbackConfig": {
      "type": "structure",
      "members": {
        "serviceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service URI for the webhook to post notifications.",
            "smithy.api#required": {}
          }
        },
        "customHeaders": {
          "target": "com.azure.containerregistry#CallbackConfigCustomHeadersMap",
          "traits": {
            "smithy.api#documentation": "Custom headers that will be added to the webhook notifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration of service URI and custom headers for the webhook."
      }
    },
    "com.azure.containerregistry#CallbackConfigCustomHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Custom headers that will be added to the webhook notifications."
      }
    },
    "com.azure.containerregistry#GetWebhookCallbackConfigRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the webhook."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#DeleteWebhook": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#DeleteWebhookRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Deletes a webhook from a container registry.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#DeleteWebhookRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the webhook."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#UpdateWebhook": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#UpdateWebhookRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#UpdateWebhookResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Updates a webhook with the specified parameters.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#UpdateWebhookResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.containerregistry#WebhooksUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#WebhookProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the webhook."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerregistry#WebhookProperties": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.containerregistry#WebhookStatus",
          "traits": {
            "smithy.api#documentation": "The status of the webhook at the time the operation was called."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope of repositories where the event can be triggered. For example, 'foo:*' means events for all tags under repository 'foo'. 'foo:bar' means events for 'foo:bar' only. 'foo' is equivalent to 'foo:latest'. Empty means all events."
          }
        },
        "actions": {
          "target": "com.azure.containerregistry#WebhookPropertiesActionsList",
          "traits": {
            "smithy.api#documentation": "The list of actions that trigger the webhook to post notifications.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.containerregistry#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the webhook at the time the operation was called."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a webhook."
      }
    },
    "com.azure.containerregistry#ProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the archive at the time the operation was called."
      }
    },
    "com.azure.containerregistry#WebhookPropertiesActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerregistry#WebhookAction"
      },
      "traits": {
        "smithy.api#documentation": "The list of actions that trigger the webhook to post notifications."
      }
    },
    "com.azure.containerregistry#WebhookAction": {
      "type": "enum",
      "members": {
        "PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "push"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "QUARANTINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantine"
          }
        },
        "CHART_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chart_push"
          }
        },
        "CHART_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chart_delete"
          }
        }
      },
      "traits": {}
    },
    "com.azure.containerregistry#WebhookStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the webhook at the time the operation was called."
      }
    },
    "com.azure.containerregistry#WebhooksUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerregistry#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.containerregistry#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.containerregistry#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.containerregistry#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.containerregistry#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.containerregistry#UpdateWebhookRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the webhook."
          }
        },
        "tags": {
          "target": "com.azure.containerregistry#WebhooksUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags for the webhook."
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#WebhookPropertiesUpdateParameters",
          "traits": {
            "smithy.api#documentation": "The properties that the webhook will be updated with."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#WebhookPropertiesUpdateParameters": {
      "type": "structure",
      "members": {
        "serviceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service URI for the webhook to post notifications."
          }
        },
        "customHeaders": {
          "target": "com.azure.containerregistry#WebhookPropertiesUpdateParametersCustomHeadersMap",
          "traits": {
            "smithy.api#documentation": "Custom headers that will be added to the webhook notifications."
          }
        },
        "status": {
          "target": "com.azure.containerregistry#WebhookStatus",
          "traits": {
            "smithy.api#documentation": "The status of the webhook at the time the operation was called."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope of repositories where the event can be triggered. For example, 'foo:*' means events for all tags under repository 'foo'. 'foo:bar' means events for 'foo:bar' only. 'foo' is equivalent to 'foo:latest'. Empty means all events."
          }
        },
        "actions": {
          "target": "com.azure.containerregistry#WebhookPropertiesUpdateParametersActionsList",
          "traits": {
            "smithy.api#documentation": "The list of actions that trigger the webhook to post notifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The parameters for updating the properties of a webhook."
      }
    },
    "com.azure.containerregistry#WebhookPropertiesUpdateParametersActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerregistry#WebhookAction"
      },
      "traits": {
        "smithy.api#documentation": "The list of actions that trigger the webhook to post notifications."
      }
    },
    "com.azure.containerregistry#WebhookPropertiesUpdateParametersCustomHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Custom headers that will be added to the webhook notifications."
      }
    },
    "com.azure.containerregistry#WebhooksUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags for the webhook."
      }
    },
    "com.azure.containerregistry#CreateWebhook": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#CreateWebhookRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#CreateWebhookResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Creates a webhook for a container registry with the specified parameters.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#CreateWebhookResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.containerregistry#WebhooksCreateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#WebhookProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the webhook."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerregistry#WebhooksCreateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerregistry#CreateWebhookRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the webhook."
          }
        },
        "tags": {
          "target": "com.azure.containerregistry#WebhooksCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags for the webhook."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the webhook. This cannot be changed after the resource is created.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#WebhookPropertiesCreateParameters",
          "traits": {
            "smithy.api#documentation": "The properties that the webhook will be created with."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#WebhookPropertiesCreateParameters": {
      "type": "structure",
      "members": {
        "serviceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service URI for the webhook to post notifications.",
            "smithy.api#required": {}
          }
        },
        "customHeaders": {
          "target": "com.azure.containerregistry#WebhookPropertiesCreateParametersCustomHeadersMap",
          "traits": {
            "smithy.api#documentation": "Custom headers that will be added to the webhook notifications."
          }
        },
        "status": {
          "target": "com.azure.containerregistry#WebhookStatus",
          "traits": {
            "smithy.api#documentation": "The status of the webhook at the time the operation was called."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope of repositories where the event can be triggered. For example, 'foo:*' means events for all tags under repository 'foo'. 'foo:bar' means events for 'foo:bar' only. 'foo' is equivalent to 'foo:latest'. Empty means all events."
          }
        },
        "actions": {
          "target": "com.azure.containerregistry#WebhookPropertiesCreateParametersActionsList",
          "traits": {
            "smithy.api#documentation": "The list of actions that trigger the webhook to post notifications.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The parameters for creating the properties of a webhook."
      }
    },
    "com.azure.containerregistry#WebhookPropertiesCreateParametersActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerregistry#WebhookAction"
      },
      "traits": {
        "smithy.api#documentation": "The list of actions that trigger the webhook to post notifications."
      }
    },
    "com.azure.containerregistry#WebhookPropertiesCreateParametersCustomHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Custom headers that will be added to the webhook notifications."
      }
    },
    "com.azure.containerregistry#WebhooksCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags for the webhook."
      }
    },
    "com.azure.containerregistry#GetWebhook": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#GetWebhookRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#GetWebhookResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks/{webhookName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Gets the properties of the specified webhook.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#GetWebhookResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.containerregistry#WebhooksGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#WebhookProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the webhook."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerregistry#WebhooksGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerregistry#GetWebhookRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the webhook."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#ListWebhooks": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#ListWebhooksRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#WebhookListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/webhooks",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Lists all the webhooks for the specified container registry.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#WebhookListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.containerregistry#WebhookListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of webhooks. Since this list may be incomplete, the nextLink field should be used to request the next list of webhooks."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI that can be used to request the next list of webhooks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a request to list webhooks for a container registry."
      }
    },
    "com.azure.containerregistry#WebhookListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerregistry#Webhook"
      },
      "traits": {
        "smithy.api#documentation": "The list of webhooks. Since this list may be incomplete, the nextLink field should be used to request the next list of webhooks."
      }
    },
    "com.azure.containerregistry#Webhook": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.containerregistry#WebhookTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#WebhookProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the webhook."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a webhook for a container registry."
      }
    },
    "com.azure.containerregistry#WebhookTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerregistry#ListWebhooksRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#DeleteToken": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#DeleteTokenRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/tokens/{tokenName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Deletes a token from a container registry.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#DeleteTokenRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "tokenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the token."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#UpdateToken": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#UpdateTokenRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#UpdateTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/tokens/{tokenName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Updates a token with the specified parameters.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#UpdateTokenResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#TokenProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the token."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerregistry#TokenProperties": {
      "type": "structure",
      "members": {
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation date of scope map."
          }
        },
        "provisioningState": {
          "target": "com.azure.containerregistry#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        },
        "scopeMapId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the scope map to which the token will be associated with."
          }
        },
        "credentials": {
          "target": "com.azure.containerregistry#TokenCredentialsProperties",
          "traits": {
            "smithy.api#documentation": "The credentials that can be used for authenticating the token."
          }
        },
        "status": {
          "target": "com.azure.containerregistry#TokenStatus",
          "traits": {
            "smithy.api#documentation": "The status of the token example enabled or disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a token."
      }
    },
    "com.azure.containerregistry#TokenStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the token example enabled or disabled."
      }
    },
    "com.azure.containerregistry#TokenCredentialsProperties": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.azure.containerregistry#TokenCredentialsPropertiesCertificatesList"
        },
        "passwords": {
          "target": "com.azure.containerregistry#TokenCredentialsPropertiesPasswordsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the credentials that can be used for authenticating the token."
      }
    },
    "com.azure.containerregistry#TokenCredentialsPropertiesPasswordsList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerregistry#TokenPassword"
      },
      "traits": {}
    },
    "com.azure.containerregistry#TokenPassword": {
      "type": "structure",
      "members": {
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation datetime of the password."
          }
        },
        "expiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiry datetime of the password."
          }
        },
        "name": {
          "target": "com.azure.containerregistry#TokenPasswordName",
          "traits": {
            "smithy.api#documentation": "The password name \"password1\" or \"password2\""
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The password that will be used for authenticating the token of a container registry."
      }
    },
    "com.azure.containerregistry#TokenPasswordName": {
      "type": "enum",
      "members": {
        "PASSWORD1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "password1"
          }
        },
        "PASSWORD2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "password2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The password name \"password1\" or \"password2\""
      }
    },
    "com.azure.containerregistry#TokenCredentialsPropertiesCertificatesList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerregistry#TokenCertificate"
      },
      "traits": {}
    },
    "com.azure.containerregistry#TokenCertificate": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.containerregistry#TokenCertificateName"
        },
        "expiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiry datetime of the certificate."
          }
        },
        "thumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The thumbprint of the certificate."
          }
        },
        "encodedPemCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base 64 encoded string of the public certificate1 in PEM format that will be used for authenticating the token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a certificate used for authenticating a token."
      }
    },
    "com.azure.containerregistry#TokenCertificateName": {
      "type": "enum",
      "members": {
        "CERTIFICATE1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "certificate1"
          }
        },
        "CERTIFICATE2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "certificate2"
          }
        }
      },
      "traits": {}
    },
    "com.azure.containerregistry#UpdateTokenRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "tokenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the token."
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#TokenUpdatePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of the token update parameters."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#TokenUpdatePropertiesInput": {
      "type": "structure",
      "members": {
        "scopeMapId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the scope map to which the token will be associated with."
          }
        },
        "status": {
          "target": "com.azure.containerregistry#TokenStatus",
          "traits": {
            "smithy.api#documentation": "The status of the token example enabled or disabled."
          }
        },
        "credentials": {
          "target": "com.azure.containerregistry#TokenCredentialsPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The credentials that can be used for authenticating the token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The parameters for updating token properties."
      }
    },
    "com.azure.containerregistry#TokenCredentialsPropertiesInput": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.azure.containerregistry#TokenCredentialsPropertiesInputCertificatesList"
        },
        "passwords": {
          "target": "com.azure.containerregistry#TokenCredentialsPropertiesInputPasswordsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the credentials that can be used for authenticating the token."
      }
    },
    "com.azure.containerregistry#TokenCredentialsPropertiesInputPasswordsList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerregistry#TokenPasswordInput"
      },
      "traits": {}
    },
    "com.azure.containerregistry#TokenPasswordInput": {
      "type": "structure",
      "members": {
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation datetime of the password."
          }
        },
        "expiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiry datetime of the password."
          }
        },
        "name": {
          "target": "com.azure.containerregistry#TokenPasswordName",
          "traits": {
            "smithy.api#documentation": "The password name \"password1\" or \"password2\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The password that will be used for authenticating the token of a container registry."
      }
    },
    "com.azure.containerregistry#TokenCredentialsPropertiesInputCertificatesList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerregistry#TokenCertificate"
      },
      "traits": {}
    },
    "com.azure.containerregistry#CreateToken": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#CreateTokenRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#CreateTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/tokens/{tokenName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Creates a token for a container registry with the specified parameters.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#CreateTokenResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#TokenProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the token."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerregistry#CreateTokenRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "tokenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the token."
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#TokenPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of the token."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#TokenPropertiesInput": {
      "type": "structure",
      "members": {
        "scopeMapId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the scope map to which the token will be associated with."
          }
        },
        "credentials": {
          "target": "com.azure.containerregistry#TokenCredentialsPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The credentials that can be used for authenticating the token."
          }
        },
        "status": {
          "target": "com.azure.containerregistry#TokenStatus",
          "traits": {
            "smithy.api#documentation": "The status of the token example enabled or disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a token."
      }
    },
    "com.azure.containerregistry#GetToken": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#GetTokenRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#GetTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/tokens/{tokenName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Gets the properties of the specified token.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#GetTokenResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#TokenProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the token."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerregistry#GetTokenRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "tokenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the token."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#ListTokens": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#ListTokensRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#TokenListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/tokens",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Lists all the tokens for the specified container registry.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#TokenListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.containerregistry#TokenListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of tokens. Since this list may be incomplete, the nextLink field should be used to request the next list of tokens."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI that can be used to request the next list of tokens."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a request to list tokens for a container registry."
      }
    },
    "com.azure.containerregistry#TokenListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerregistry#Token"
      },
      "traits": {
        "smithy.api#documentation": "The list of tokens. Since this list may be incomplete, the nextLink field should be used to request the next list of tokens."
      }
    },
    "com.azure.containerregistry#Token": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#TokenProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a token for a container registry."
      }
    },
    "com.azure.containerregistry#ListTokensRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#DeleteScopeMap": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#DeleteScopeMapRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/scopeMaps/{scopeMapName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Deletes a scope map from a container registry.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#DeleteScopeMapRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "scopeMapName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the scope map."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#UpdateScopeMap": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#UpdateScopeMapRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#UpdateScopeMapResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/scopeMaps/{scopeMapName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Updates a scope map with the specified parameters.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#UpdateScopeMapResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#ScopeMapProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the scope map."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerregistry#ScopeMapProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user friendly description of the scope map."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the scope map. E.g. BuildIn scope map."
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation date of scope map."
          }
        },
        "provisioningState": {
          "target": "com.azure.containerregistry#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        },
        "actions": {
          "target": "com.azure.containerregistry#ScopeMapPropertiesActionsList",
          "traits": {
            "smithy.api#documentation": "The list of scoped permissions for registry artifacts.\nE.g. repositories/repository-name/content/read,\nrepositories/repository-name/metadata/write",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a scope map."
      }
    },
    "com.azure.containerregistry#ScopeMapPropertiesActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of scoped permissions for registry artifacts.\nE.g. repositories/repository-name/content/read,\nrepositories/repository-name/metadata/write"
      }
    },
    "com.azure.containerregistry#UpdateScopeMapRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "scopeMapName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the scope map."
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#ScopeMapPropertiesUpdateParameters",
          "traits": {
            "smithy.api#documentation": "The update parameters for scope map properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#ScopeMapPropertiesUpdateParameters": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user friendly description of the scope map."
          }
        },
        "actions": {
          "target": "com.azure.containerregistry#ScopeMapPropertiesUpdateParametersActionsList",
          "traits": {
            "smithy.api#documentation": "The list of scope permissions for registry artifacts.\nE.g. repositories/repository-name/pull,\nrepositories/repository-name/delete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The update parameters for scope map properties."
      }
    },
    "com.azure.containerregistry#ScopeMapPropertiesUpdateParametersActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of scope permissions for registry artifacts.\nE.g. repositories/repository-name/pull,\nrepositories/repository-name/delete"
      }
    },
    "com.azure.containerregistry#CreateScopeMap": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#CreateScopeMapRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#CreateScopeMapResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/scopeMaps/{scopeMapName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Creates a scope map for a container registry with the specified parameters.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#CreateScopeMapResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#ScopeMapProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the scope map."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerregistry#CreateScopeMapRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "scopeMapName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the scope map."
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#ScopeMapPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of the scope map."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#ScopeMapPropertiesInput": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user friendly description of the scope map."
          }
        },
        "actions": {
          "target": "com.azure.containerregistry#ScopeMapPropertiesInputActionsList",
          "traits": {
            "smithy.api#documentation": "The list of scoped permissions for registry artifacts.\nE.g. repositories/repository-name/content/read,\nrepositories/repository-name/metadata/write",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a scope map."
      }
    },
    "com.azure.containerregistry#ScopeMapPropertiesInputActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of scoped permissions for registry artifacts.\nE.g. repositories/repository-name/content/read,\nrepositories/repository-name/metadata/write"
      }
    },
    "com.azure.containerregistry#GetScopeMap": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#GetScopeMapRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#GetScopeMapResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/scopeMaps/{scopeMapName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Gets the properties of the specified scope map.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#GetScopeMapResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#ScopeMapProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the scope map."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerregistry#GetScopeMapRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "registryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container registry."
          }
        },
        "scopeMapName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the scope map."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerregistry#ListScopeMaps": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerregistry#ListScopeMapsRequest"
      },
      "output": {
        "target": "com.azure.containerregistry#ScopeMapListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/scopeMaps",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Lists all the scope maps for the specified container registry.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.containerregistry#ScopeMapListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.containerregistry#ScopeMapListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of scope maps. Since this list may be incomplete, the nextLink field should be used to request the next list of scope maps."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI that can be used to request the next list of scope maps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a request to list scope maps for a container registry."
      }
    },
    "com.azure.containerregistry#ScopeMapListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerregistry#ScopeMap"
      },
      "traits": {
        "smithy.api#documentation": "The list of scope maps. Since this list may be incomplete, the nextLink field should be used to request the next list of scope maps."
      }
    },
    "com.azure.containerregistry#ScopeMap": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerregistry#ScopeMapProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the scope map."
          }
        }
      },
      "traits": {
[...]
