{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.datashare#ListTriggerByShareSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#ListTriggerByShareSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.datashare#TriggerList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "List Triggers in a share subscription.\n\nList Triggers in a share subscription",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#TriggerList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Url of next result page."
          }
        },
        "value": {
          "target": "com.azure.datashare#TriggerListValueList",
          "traits": {
            "smithy.api#documentation": "Collection of items of type DataTransferObjects.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List response for get triggers"
      }
    },
    "com.azure.datashare#TriggerListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datashare#Trigger"
      },
      "traits": {
        "smithy.api#documentation": "Collection of items of type DataTransferObjects."
      }
    },
    "com.azure.datashare#Trigger": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the azure resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the azure resource"
          }
        },
        "systemData": {
          "target": "com.azure.datashare#SystemData",
          "traits": {
            "smithy.api#documentation": "System Data of the Azure resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the azure resource"
          }
        },
        "kind": {
          "target": "com.azure.datashare#TriggerKind",
          "traits": {
            "smithy.api#documentation": "Kind of synchronization on trigger.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Trigger data transfer object."
      }
    },
    "com.azure.datashare#TriggerKind": {
      "type": "enum",
      "members": {
        "SCHEDULEBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScheduleBased"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind of synchronization on trigger."
      }
    },
    "com.azure.datashare#SystemData": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.datashare#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.datashare#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.datashare#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.datashare#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.datashare#ListTriggerByShareSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share subscription."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "Continuation token"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#DeleteTrigger": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#DeleteTriggerRequest"
      },
      "output": {
        "target": "com.azure.datashare#OperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers/{triggerName}",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "Delete Trigger in a shareSubscription.\n\nDelete a Trigger in a shareSubscription",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#OperationResponse": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "start time"
          }
        },
        "error": {
          "target": "com.azure.datashare#DataShareErrorInfo",
          "traits": {
            "smithy.api#documentation": "The error property when status is failed."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "start time"
          }
        },
        "status": {
          "target": "com.azure.datashare#OperationResponseStatus",
          "traits": {
            "smithy.api#documentation": "Operation state of the long running operation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for long running operation"
      }
    },
    "com.azure.datashare#OperationResponseStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "TRANSIENTFAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TransientFailure"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation state of the long running operation."
      }
    },
    "com.azure.datashare#DataShareErrorInfo": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code of the error",
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "com.azure.datashare#DataShareErrorInfoDetailsList",
          "traits": {
            "smithy.api#documentation": "Nested details of the error model"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message of the error",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target of the error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data share error body model."
      }
    },
    "com.azure.datashare#DataShareErrorInfoDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.datashare#DataShareErrorInfo"
      },
      "traits": {
        "smithy.api#documentation": "Nested details of the error model"
      }
    },
    "com.azure.datashare#DeleteTriggerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shareSubscription."
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the trigger."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#CreateTrigger": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#CreateTriggerRequest"
      },
      "output": {
        "target": "com.azure.datashare#CreateTriggerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers/{triggerName}",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "This method creates a trigger for a share subscription\n\nCreate a Trigger",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#CreateTriggerResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the azure resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the azure resource"
          }
        },
        "systemData": {
          "target": "com.azure.datashare#SystemData",
          "traits": {
            "smithy.api#documentation": "System Data of the Azure resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the azure resource"
          }
        },
        "kind": {
          "target": "com.azure.datashare#TriggersCreateResponseKind",
          "traits": {
            "smithy.api#documentation": "Kind of synchronization on trigger.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datashare#TriggersCreateResponseKind": {
      "type": "enum",
      "members": {
        "SCHEDULEBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScheduleBased"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind of synchronization on trigger."
      }
    },
    "com.azure.datashare#CreateTriggerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share subscription which will hold the data set sink."
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the trigger."
          }
        },
        "kind": {
          "target": "com.azure.datashare#TriggersCreateRequestKind",
          "traits": {
            "smithy.api#documentation": "Kind of synchronization on trigger.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#TriggersCreateRequestKind": {
      "type": "enum",
      "members": {
        "SCHEDULEBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScheduleBased"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind of synchronization on trigger."
      }
    },
    "com.azure.datashare#GetTrigger": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#GetTriggerRequest"
      },
      "output": {
        "target": "com.azure.datashare#GetTriggerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers/{triggerName}",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "Get Trigger in a shareSubscription.\n\nGet a Trigger in a shareSubscription",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#GetTriggerResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the azure resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the azure resource"
          }
        },
        "systemData": {
          "target": "com.azure.datashare#SystemData",
          "traits": {
            "smithy.api#documentation": "System Data of the Azure resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the azure resource"
          }
        },
        "kind": {
          "target": "com.azure.datashare#TriggersGetResponseKind",
          "traits": {
            "smithy.api#documentation": "Kind of synchronization on trigger.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datashare#TriggersGetResponseKind": {
      "type": "enum",
      "members": {
        "SCHEDULEBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScheduleBased"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind of synchronization on trigger."
      }
    },
    "com.azure.datashare#GetTriggerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shareSubscription."
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the trigger."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#ListSynchronizationSettingByShare": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#ListSynchronizationSettingByShareRequest"
      },
      "output": {
        "target": "com.azure.datashare#SynchronizationSettingList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/synchronizationSettings",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "List synchronizationSettings in a share.\n\nList synchronizationSettings in a share",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#SynchronizationSettingList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Url of next result page."
          }
        },
        "value": {
          "target": "com.azure.datashare#SynchronizationSettingListValueList",
          "traits": {
            "smithy.api#documentation": "Collection of items of type DataTransferObjects.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List response for get Synchronization settings"
      }
    },
    "com.azure.datashare#SynchronizationSettingListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datashare#SynchronizationSetting"
      },
      "traits": {
        "smithy.api#documentation": "Collection of items of type DataTransferObjects."
      }
    },
    "com.azure.datashare#SynchronizationSetting": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the azure resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the azure resource"
          }
        },
        "systemData": {
          "target": "com.azure.datashare#SystemData",
          "traits": {
            "smithy.api#documentation": "System Data of the Azure resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the azure resource"
          }
        },
        "kind": {
          "target": "com.azure.datashare#SynchronizationSettingKind",
          "traits": {
            "smithy.api#documentation": "Kind of synchronization setting.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Synchronization Setting data transfer object."
      }
    },
    "com.azure.datashare#SynchronizationSettingKind": {
      "type": "enum",
      "members": {
        "SCHEDULEBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScheduleBased"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind of synchronization setting."
      }
    },
    "com.azure.datashare#ListSynchronizationSettingByShareRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "continuation token"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#DeleteSynchronizationSetting": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#DeleteSynchronizationSettingRequest"
      },
      "output": {
        "target": "com.azure.datashare#OperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/synchronizationSettings/{synchronizationSettingName}",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "Delete synchronizationSetting in a share.\n\nDelete a synchronizationSetting in a share",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#DeleteSynchronizationSettingRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share."
          }
        },
        "synchronizationSettingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the synchronizationSetting ."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#CreateSynchronizationSetting": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#CreateSynchronizationSettingRequest"
      },
      "output": {
        "target": "com.azure.datashare#CreateSynchronizationSettingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/synchronizationSettings/{synchronizationSettingName}",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "Adds a new synchronization setting to an existing share.\n\nCreate a synchronizationSetting",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#CreateSynchronizationSettingResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the azure resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the azure resource"
          }
        },
        "systemData": {
          "target": "com.azure.datashare#SystemData",
          "traits": {
            "smithy.api#documentation": "System Data of the Azure resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the azure resource"
          }
        },
        "kind": {
          "target": "com.azure.datashare#SynchronizationSettingsCreateResponseKind",
          "traits": {
            "smithy.api#documentation": "Kind of synchronization setting.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datashare#SynchronizationSettingsCreateResponseKind": {
      "type": "enum",
      "members": {
        "SCHEDULEBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScheduleBased"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind of synchronization setting."
      }
    },
    "com.azure.datashare#CreateSynchronizationSettingRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share to add the synchronization setting to."
          }
        },
        "synchronizationSettingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the synchronizationSetting."
          }
        },
        "kind": {
          "target": "com.azure.datashare#SynchronizationSettingsCreateRequestKind",
          "traits": {
            "smithy.api#documentation": "Kind of synchronization setting.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#SynchronizationSettingsCreateRequestKind": {
      "type": "enum",
      "members": {
        "SCHEDULEBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScheduleBased"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind of synchronization setting."
      }
    },
    "com.azure.datashare#GetSynchronizationSetting": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#GetSynchronizationSettingRequest"
      },
      "output": {
        "target": "com.azure.datashare#GetSynchronizationSettingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/synchronizationSettings/{synchronizationSettingName}",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "Get synchronizationSetting in a share.\n\nGet a synchronizationSetting in a share",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#GetSynchronizationSettingResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the azure resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the azure resource"
          }
        },
        "systemData": {
          "target": "com.azure.datashare#SystemData",
          "traits": {
            "smithy.api#documentation": "System Data of the Azure resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the azure resource"
          }
        },
        "kind": {
          "target": "com.azure.datashare#SynchronizationSettingsGetResponseKind",
          "traits": {
            "smithy.api#documentation": "Kind of synchronization setting.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datashare#SynchronizationSettingsGetResponseKind": {
      "type": "enum",
      "members": {
        "SCHEDULEBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScheduleBased"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind of synchronization setting."
      }
    },
    "com.azure.datashare#GetSynchronizationSettingRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share."
          }
        },
        "synchronizationSettingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the synchronizationSetting."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#ListShareSubscriptionByAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#ListShareSubscriptionByAccountRequest"
      },
      "output": {
        "target": "com.azure.datashare#ShareSubscriptionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "List of available share subscriptions under an account.\n\nList share subscriptions in an account",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#ShareSubscriptionList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Url of next result page."
          }
        },
        "value": {
          "target": "com.azure.datashare#ShareSubscriptionListValueList",
          "traits": {
            "smithy.api#documentation": "Collection of items of type DataTransferObjects.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List response for get ShareSubscription."
      }
    },
    "com.azure.datashare#ShareSubscriptionListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datashare#ShareSubscription"
      },
      "traits": {
        "smithy.api#documentation": "Collection of items of type DataTransferObjects."
      }
    },
    "com.azure.datashare#ShareSubscription": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the azure resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the azure resource"
          }
        },
        "systemData": {
          "target": "com.azure.datashare#SystemData",
          "traits": {
            "smithy.api#documentation": "System Data of the Azure resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.datashare#ShareSubscriptionProperties",
          "traits": {
            "smithy.api#documentation": "Properties on the share subscription",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A share subscription data transfer object."
      }
    },
    "com.azure.datashare#ShareSubscriptionProperties": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which the share subscription was created."
          }
        },
        "expirationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration date of the share subscription."
          }
        },
        "invitationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The invitation id.",
            "smithy.api#required": {}
          }
        },
        "providerEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the provider who created the resource"
          }
        },
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the provider who created the resource"
          }
        },
        "providerTenantName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant name of the provider who created the resource"
          }
        },
        "provisioningState": {
          "target": "com.azure.datashare#ShareSubscriptionPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the share subscription"
          }
        },
        "shareDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of share"
          }
        },
        "shareKind": {
          "target": "com.azure.datashare#ShareSubscriptionPropertiesShareKind",
          "traits": {
            "smithy.api#documentation": "Kind of share"
          }
        },
        "shareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the share"
          }
        },
        "shareSubscriptionStatus": {
          "target": "com.azure.datashare#ShareSubscriptionPropertiesShareSubscriptionStatus",
          "traits": {
            "smithy.api#documentation": "Gets the current status of share subscription."
          }
        },
        "shareTerms": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Terms of a share"
          }
        },
        "sourceShareLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source share location.",
            "smithy.api#required": {}
          }
        },
        "userEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the user who created the resource"
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the user who created the resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Share subscription property bag."
      }
    },
    "com.azure.datashare#ShareSubscriptionPropertiesShareSubscriptionStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Revoked"
          }
        },
        "SOURCEDELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SourceDeleted"
          }
        },
        "REVOKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Revoking"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets the current status of share subscription."
      }
    },
    "com.azure.datashare#ShareSubscriptionPropertiesShareKind": {
      "type": "enum",
      "members": {
        "COPYBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CopyBased"
          }
        },
        "INPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InPlace"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind of share"
      }
    },
    "com.azure.datashare#ShareSubscriptionPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moving"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the share subscription"
      }
    },
    "com.azure.datashare#ListShareSubscriptionByAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "Continuation Token"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Filters the results using OData syntax."
          }
        },
        "_orderby": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$orderby",
            "smithy.api#documentation": "Sorts the results using OData syntax."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#DeleteShareSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#DeleteShareSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.datashare#OperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "Delete shareSubscription in an account.\n\nDelete a shareSubscription in an account",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#DeleteShareSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shareSubscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#CreateShareSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#CreateShareSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.datashare#CreateShareSubscriptionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "Create shareSubscription in an account.\n\nCreate a shareSubscription in an account",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#CreateShareSubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the azure resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the azure resource"
          }
        },
        "systemData": {
          "target": "com.azure.datashare#SystemData",
          "traits": {
            "smithy.api#documentation": "System Data of the Azure resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.datashare#ShareSubscriptionProperties",
          "traits": {
            "smithy.api#documentation": "Properties on the share subscription",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datashare#CreateShareSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shareSubscription."
          }
        },
        "properties": {
          "target": "com.azure.datashare#ShareSubscriptionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties on the share subscription",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#ShareSubscriptionPropertiesInput": {
      "type": "structure",
      "members": {
        "expirationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration date of the share subscription."
          }
        },
        "invitationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The invitation id.",
            "smithy.api#required": {}
          }
        },
        "sourceShareLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source share location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Share subscription property bag."
      }
    },
    "com.azure.datashare#GetShareSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#GetShareSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.datashare#GetShareSubscriptionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "Get shareSubscription in an account.\n\nGet a shareSubscription in an account",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#GetShareSubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the azure resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the azure resource"
          }
        },
        "systemData": {
          "target": "com.azure.datashare#SystemData",
          "traits": {
            "smithy.api#documentation": "System Data of the Azure resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.datashare#ShareSubscriptionProperties",
          "traits": {
            "smithy.api#documentation": "Properties on the share subscription",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datashare#GetShareSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shareSubscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#ShareSubscriptionsSynchronize": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#ShareSubscriptionsSynchronizeRequest"
      },
      "output": {
        "target": "com.azure.datashare#ShareSubscriptionSynchronization"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/synchronize",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "Initiate an asynchronous data share job\n\nInitiate a copy",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#ShareSubscriptionSynchronization": {
      "type": "structure",
      "members": {
        "durationMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Synchronization duration"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of synchronization"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "message of Synchronization"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "start time of synchronization"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw Status"
          }
        },
        "synchronizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Synchronization id",
            "smithy.api#required": {}
          }
        },
        "synchronizationMode": {
          "target": "com.azure.datashare#ShareSubscriptionSynchronizationSynchronizationMode",
          "traits": {
            "smithy.api#documentation": "Synchronization Mode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ShareSubscriptionSynchronization data transfer object."
      }
    },
    "com.azure.datashare#ShareSubscriptionSynchronizationSynchronizationMode": {
      "type": "enum",
      "members": {
        "INCREMENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Incremental"
          }
        },
        "FULLSYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullSync"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Synchronization Mode"
      }
    },
    "com.azure.datashare#ShareSubscriptionsSynchronizeRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of share subscription"
          }
        },
        "synchronizationMode": {
          "target": "com.azure.datashare#ShareSubscriptionsSynchronizeRequestSynchronizationMode",
          "traits": {
            "smithy.api#documentation": "Mode of synchronization used in triggers and snapshot sync. Incremental by default"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#ShareSubscriptionsSynchronizeRequestSynchronizationMode": {
      "type": "enum",
      "members": {
        "INCREMENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Incremental"
          }
        },
        "FULLSYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullSync"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mode of synchronization used in triggers and snapshot sync. Incremental by default"
      }
    },
    "com.azure.datashare#ListShareSubscriptionSynchronizations": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#ListShareSubscriptionSynchronizationsRequest"
      },
      "output": {
        "target": "com.azure.datashare#ShareSubscriptionSynchronizationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizations",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "List Synchronizations in a share subscription.\n\nList synchronizations of a share subscription",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#ShareSubscriptionSynchronizationList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Url of next result page."
          }
        },
        "value": {
          "target": "com.azure.datashare#ShareSubscriptionSynchronizationListValueList",
          "traits": {
            "smithy.api#documentation": "Collection of items of type DataTransferObjects.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A consumer side list of share subscription synchronizations"
      }
    },
    "com.azure.datashare#ShareSubscriptionSynchronizationListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datashare#ShareSubscriptionSynchronization"
      },
      "traits": {
        "smithy.api#documentation": "Collection of items of type DataTransferObjects."
      }
    },
    "com.azure.datashare#ListShareSubscriptionSynchronizationsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share subscription."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "Continuation token"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Filters the results using OData syntax."
          }
        },
        "_orderby": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$orderby",
            "smithy.api#documentation": "Sorts the results using OData syntax."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#ListShareSubscriptionSynchronizationDetails": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#ListShareSubscriptionSynchronizationDetailsRequest"
      },
      "output": {
        "target": "com.azure.datashare#SynchronizationDetailsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizationDetails",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "List data set level details for a share subscription synchronization\n\nList synchronization details",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#SynchronizationDetailsList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Url of next result page."
          }
        },
        "value": {
          "target": "com.azure.datashare#SynchronizationDetailsListValueList",
          "traits": {
            "smithy.api#documentation": "Collection of items of type DataTransferObjects.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "details of synchronization"
      }
    },
    "com.azure.datashare#SynchronizationDetailsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datashare#SynchronizationDetails"
      },
      "traits": {
        "smithy.api#documentation": "Collection of items of type DataTransferObjects."
      }
    },
    "com.azure.datashare#SynchronizationDetails": {
      "type": "structure",
      "members": {
        "dataSetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of data set"
          }
        },
        "dataSetType": {
          "target": "com.azure.datashare#SynchronizationDetailsDataSetType",
          "traits": {
            "smithy.api#documentation": "Type of the data set"
          }
        },
        "durationMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Duration of data set level copy"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of data set level copy"
          }
        },
        "filesRead": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of files read from the source data set"
          }
        },
        "filesWritten": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of files written into the sink data set"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message if any"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the data set"
          }
        },
        "rowsCopied": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of files copied into the sink data set"
          }
        },
        "rowsRead": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of rows read from the source data set."
          }
        },
        "sizeRead": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of the data read from the source data set in bytes"
          }
        },
        "sizeWritten": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of the data written into the sink data set in bytes"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of data set level copy"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw Status"
          }
        },
        "vCore": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The vCore units consumed for the data set synchronization"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Synchronization details at data set level"
      }
    },
    "com.azure.datashare#SynchronizationDetailsDataSetType": {
      "type": "enum",
      "members": {
        "BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Blob"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Container"
          }
        },
        "BLOBFOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BlobFolder"
          }
        },
        "ADLSGEN2FILESYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdlsGen2FileSystem"
          }
        },
        "ADLSGEN2FOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdlsGen2Folder"
          }
        },
        "ADLSGEN2FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdlsGen2File"
          }
        },
        "ADLSGEN1FOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdlsGen1Folder"
          }
        },
        "ADLSGEN1FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdlsGen1File"
          }
        },
        "KUSTOCLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KustoCluster"
          }
        },
        "KUSTODATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KustoDatabase"
          }
        },
        "KUSTOTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KustoTable"
          }
        },
        "SQLDBTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SqlDBTable"
          }
        },
        "SQLDWTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SqlDWTable"
          }
        },
        "SYNAPSEWORKSPACESQLPOOLTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SynapseWorkspaceSqlPoolTable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the data set"
      }
    },
    "com.azure.datashare#ListShareSubscriptionSynchronizationDetailsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share subscription."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "Continuation token"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Filters the results using OData syntax."
          }
        },
        "_orderby": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$orderby",
            "smithy.api#documentation": "Sorts the results using OData syntax."
          }
        },
        "synchronizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Synchronization id",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#ListShareSubscriptionSourceShareSynchronizationSettings": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#ListShareSubscriptionSourceShareSynchronizationSettingsRequest"
      },
      "output": {
        "target": "com.azure.datashare#SourceShareSynchronizationSettingList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSourceShareSynchronizationSettings",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "Get source share synchronization settings for a shareSubscription.\n\nGet synchronization settings set on a share",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#SourceShareSynchronizationSettingList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Url of next result page."
          }
        },
        "value": {
          "target": "com.azure.datashare#SourceShareSynchronizationSettingListValueList",
          "traits": {
            "smithy.api#documentation": "Collection of items of type DataTransferObjects.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List response for get source share Synchronization settings"
      }
    },
    "com.azure.datashare#SourceShareSynchronizationSettingListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datashare#SourceShareSynchronizationSetting"
      },
      "traits": {
        "smithy.api#documentation": "Collection of items of type DataTransferObjects."
      }
    },
    "com.azure.datashare#SourceShareSynchronizationSetting": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.azure.datashare#SourceShareSynchronizationSettingKind",
          "traits": {
            "smithy.api#documentation": "Kind of synchronization setting on share.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A view of synchronization setting added by the provider"
      }
    },
    "com.azure.datashare#SourceShareSynchronizationSettingKind": {
      "type": "enum",
      "members": {
        "SCHEDULEBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScheduleBased"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind of synchronization setting on share."
      }
    },
    "com.azure.datashare#ListShareSubscriptionSourceShareSynchronizationSettingsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shareSubscription."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "Continuation token"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#ListConsumerSourceDataSetByShareSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#ListConsumerSourceDataSetByShareSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.datashare#ConsumerSourceDataSetList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/consumerSourceDataSets",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "Get source dataSets of a shareSubscription.\n\nGet source dataSets of a shareSubscription",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#ConsumerSourceDataSetList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Url of next result page."
          }
        },
        "value": {
          "target": "com.azure.datashare#ConsumerSourceDataSetListValueList",
          "traits": {
            "smithy.api#documentation": "Collection of items of type DataTransferObjects.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A consumer side list of source dataSets"
      }
    },
    "com.azure.datashare#ConsumerSourceDataSetListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datashare#ConsumerSourceDataSet"
      },
      "traits": {
        "smithy.api#documentation": "Collection of items of type DataTransferObjects."
      }
    },
    "com.azure.datashare#ConsumerSourceDataSet": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the azure resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the azure resource"
          }
        },
        "systemData": {
          "target": "com.azure.datashare#SystemData",
          "traits": {
            "smithy.api#documentation": "System Data of the Azure resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.datashare#ConsumerSourceDataSetProperties",
          "traits": {
            "smithy.api#documentation": "source dataSet properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A consumer side dataSet data transfer object."
      }
    },
    "com.azure.datashare#ConsumerSourceDataSetProperties": {
      "type": "structure",
      "members": {
        "dataSetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DataSet Id"
          }
        },
        "dataSetLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the data set."
          }
        },
        "dataSetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DataSet name"
          }
        },
        "dataSetPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DataSet path"
          }
        },
        "dataSetType": {
          "target": "com.azure.datashare#ConsumerSourceDataSetPropertiesDataSetType",
          "traits": {
            "smithy.api#documentation": "Type of data set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of consumer source dataSet"
      }
    },
    "com.azure.datashare#ConsumerSourceDataSetPropertiesDataSetType": {
      "type": "enum",
      "members": {
        "BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Blob"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Container"
          }
        },
        "BLOBFOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BlobFolder"
          }
        },
        "ADLSGEN2FILESYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdlsGen2FileSystem"
          }
        },
        "ADLSGEN2FOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdlsGen2Folder"
          }
        },
        "ADLSGEN2FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdlsGen2File"
          }
        },
        "ADLSGEN1FOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdlsGen1Folder"
          }
        },
        "ADLSGEN1FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdlsGen1File"
          }
        },
        "KUSTOCLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KustoCluster"
          }
        },
        "KUSTODATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KustoDatabase"
          }
        },
        "KUSTOTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KustoTable"
          }
        },
        "SQLDBTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SqlDBTable"
          }
        },
        "SQLDWTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SqlDWTable"
          }
        },
        "SYNAPSEWORKSPACESQLPOOLTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SynapseWorkspaceSqlPoolTable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of data set"
      }
    },
    "com.azure.datashare#ListConsumerSourceDataSetByShareSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shareSubscription."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "Continuation token"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#ShareSubscriptionsCancelSynchronization": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#ShareSubscriptionsCancelSynchronizationRequest"
      },
      "output": {
        "target": "com.azure.datashare#ShareSubscriptionSynchronization"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/cancelSynchronization",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "Request cancellation of a data share snapshot\n\nRequest to cancel a synchronization.",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#ShareSubscriptionsCancelSynchronizationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shareSubscription."
          }
        },
        "synchronizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Synchronization id",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#ListShareByAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#ListShareByAccountRequest"
      },
      "output": {
        "target": "com.azure.datashare#ShareList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "List of available shares under an account.\n\nList shares in an account",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#ShareList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Url of next result page."
          }
        },
        "value": {
          "target": "com.azure.datashare#ShareListValueList",
          "traits": {
            "smithy.api#documentation": "Collection of items of type DataTransferObjects.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List response for get Shares."
      }
    },
    "com.azure.datashare#ShareListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datashare#Share"
      },
      "traits": {
        "smithy.api#documentation": "Collection of items of type DataTransferObjects."
      }
    },
    "com.azure.datashare#Share": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the azure resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the azure resource"
          }
        },
        "systemData": {
          "target": "com.azure.datashare#SystemData",
          "traits": {
            "smithy.api#documentation": "System Data of the Azure resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.datashare#ShareProperties",
          "traits": {
            "smithy.api#documentation": "Properties on the share"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A share data transfer object."
      }
    },
    "com.azure.datashare#ShareProperties": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which the share was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Share description."
          }
        },
        "provisioningState": {
          "target": "com.azure.datashare#SharePropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "Gets or sets the provisioning state"
          }
        },
        "shareKind": {
          "target": "com.azure.datashare#SharePropertiesShareKind",
          "traits": {
            "smithy.api#documentation": "Share kind."
          }
        },
        "terms": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Share terms."
          }
        },
        "userEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the user who created the resource"
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the user who created the resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Share property bag."
      }
    },
    "com.azure.datashare#SharePropertiesShareKind": {
      "type": "enum",
      "members": {
        "COPYBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CopyBased"
          }
        },
        "INPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InPlace"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Share kind."
      }
    },
    "com.azure.datashare#SharePropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moving"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the provisioning state"
      }
    },
    "com.azure.datashare#ListShareByAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "Continuation Token"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Filters the results using OData syntax."
          }
        },
        "_orderby": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$orderby",
            "smithy.api#documentation": "Sorts the results using OData syntax."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datashare#DeleteShare": {
      "type": "operation",
      "input": {
        "target": "com.azure.datashare#DeleteShareRequest"
      },
      "output": {
        "target": "com.azure.datashare#OperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}",
          "code": 200,
          "apiVersion": "2021-08-01"
        },
        "smithy.api#documentation": "Deletes a share\n\nDelete a share",
        "com.distilled.openapi#apiVersion": "2021-08-01"
      }
    },
    "com.azure.datashare#DeleteShareRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the share account."
          }
        },
        "shareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
