{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.datamigration#FilesReadWrite": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#FilesReadWriteRequest"
      },
      "output": {
        "target": "com.azure.datamigration#FilesReadWriteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/files/{fileName}/readwrite",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Request information for reading and writing file content.\n\nThis method is used for requesting information for reading and writing the file content.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#FilesReadWriteResponse": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URI that can be used to access the file content."
          }
        },
        "headers": {
          "target": "com.azure.datamigration#FilesReadWriteResponseHeadersMap"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#FilesReadWriteResponseHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.datamigration#FilesReadWriteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the service"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the project"
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the File"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#FilesRead": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#FilesReadRequest"
      },
      "output": {
        "target": "com.azure.datamigration#FilesReadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/files/{fileName}/read",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Request storage information for downloading the file content\n\nThis method is used for requesting storage information using which contents of the file can be downloaded.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#FilesReadResponse": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URI that can be used to access the file content."
          }
        },
        "headers": {
          "target": "com.azure.datamigration#FilesReadResponseHeadersMap"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#FilesReadResponseHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.datamigration#FilesReadRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the service"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the project"
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the File"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#DeleteFile": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#DeleteFileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/files/{fileName}",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Delete file\n\nThis method deletes a file.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#DeleteFileRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the service"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the project"
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the File"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#UpdateFile": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#UpdateFileRequest"
      },
      "output": {
        "target": "com.azure.datamigration#UpdateFileResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/files/{fileName}",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Update a file\n\nThis method updates an existing file.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#UpdateFileResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datamigration#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP strong entity tag value. This is ignored if submitted."
          }
        },
        "properties": {
          "target": "com.azure.datamigration#ProjectFileProperties",
          "traits": {
            "smithy.api#documentation": "Custom file properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#ProjectFileProperties": {
      "type": "structure",
      "members": {
        "extension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional File extension. If submitted it should not have a leading period and must match the extension from filePath."
          }
        },
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path of this file resource. This property can be set when creating or updating the file resource."
          }
        },
        "lastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modification DateTime."
          }
        },
        "mediaType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File content type. This property can be modified to reflect the file content type."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "File size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base class for file properties."
      }
    },
    "com.azure.datamigration#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.datamigration#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.datamigration#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.datamigration#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.datamigration#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.datamigration#UpdateFileRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the service"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the project"
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the File"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP strong entity tag value. This is ignored if submitted."
          }
        },
        "properties": {
          "target": "com.azure.datamigration#ProjectFilePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Custom file properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#ProjectFilePropertiesInput": {
      "type": "structure",
      "members": {
        "extension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional File extension. If submitted it should not have a leading period and must match the extension from filePath."
          }
        },
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path of this file resource. This property can be set when creating or updating the file resource."
          }
        },
        "mediaType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File content type. This property can be modified to reflect the file content type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base class for file properties."
      }
    },
    "com.azure.datamigration#FilesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#FilesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.datamigration#FilesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/files/{fileName}",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Create a file resource\n\nThe PUT method creates a new file or updates an existing one.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#FilesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datamigration#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP strong entity tag value. This is ignored if submitted."
          }
        },
        "properties": {
          "target": "com.azure.datamigration#ProjectFileProperties",
          "traits": {
            "smithy.api#documentation": "Custom file properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#FilesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the service"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the project"
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the File"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP strong entity tag value. This is ignored if submitted."
          }
        },
        "properties": {
          "target": "com.azure.datamigration#ProjectFilePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Custom file properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#GetFile": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#GetFileRequest"
      },
      "output": {
        "target": "com.azure.datamigration#GetFileResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/files/{fileName}",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Get file information\n\nThe files resource is a nested, proxy-only resource representing a file stored under the project resource. This method retrieves information about a file.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#GetFileResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datamigration#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP strong entity tag value. This is ignored if submitted."
          }
        },
        "properties": {
          "target": "com.azure.datamigration#ProjectFileProperties",
          "traits": {
            "smithy.api#documentation": "Custom file properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#GetFileRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the service"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the project"
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the File"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#ListFiles": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#ListFilesRequest"
      },
      "output": {
        "target": "com.azure.datamigration#ListFilesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/files",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Get files in a project\n\nThe project resource is a nested resource representing a stored migration project. This method returns a list of files owned by a project resource.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#ListFilesResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datamigration#FilesListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of files"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to load the next page of files"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#FilesListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datamigration#ProjectFile"
      },
      "traits": {
        "smithy.api#documentation": "List of files"
      }
    },
    "com.azure.datamigration#ProjectFile": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datamigration#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP strong entity tag value. This is ignored if submitted."
          }
        },
        "properties": {
          "target": "com.azure.datamigration#ProjectFileProperties",
          "traits": {
            "smithy.api#documentation": "Custom file properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file resource"
      }
    },
    "com.azure.datamigration#ListFilesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the service"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the project"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#ListUsages": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#ListUsagesRequest"
      },
      "output": {
        "target": "com.azure.datamigration#ListUsagesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/locations/{location}/usages",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Get resource quotas and usage information\n\nThis method returns region-specific quotas and resource usage information for the Azure Database Migration Service (classic).",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#ListUsagesResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datamigration#UsagesListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of quotas"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to load the next page of quotas, or null or missing if this is the last page"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#UsagesListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datamigration#Quota"
      },
      "traits": {
        "smithy.api#documentation": "List of quotas"
      }
    },
    "com.azure.datamigration#Quota": {
      "type": "structure",
      "members": {
        "currentValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current value of the quota. If null or missing, the current value cannot be determined in the context of the request."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the quota object"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum value of the quota. If null or missing, the quota has no maximum, in which case it merely tracks usage."
          }
        },
        "name": {
          "target": "com.azure.datamigration#QuotaName",
          "traits": {
            "smithy.api#documentation": "The name of the quota"
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit for the quota, such as Count, Bytes, BytesPerSecond, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a quota for or usage details about a resource"
      }
    },
    "com.azure.datamigration#QuotaName": {
      "type": "structure",
      "members": {
        "localizedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized name of the quota"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unlocalized name (or ID) of the quota"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The name of the quota"
      }
    },
    "com.azure.datamigration#ListUsagesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure region of the operation"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#CheckServiceNameAvailability": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#CheckServiceNameAvailabilityRequest"
      },
      "output": {
        "target": "com.azure.datamigration#CheckServiceNameAvailabilityResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/locations/{location}/checkNameAvailability",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Check name validity and availability\n\nThis method checks whether a proposed top-level resource name is valid and available.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#CheckServiceNameAvailabilityResponse": {
      "type": "structure",
      "members": {
        "nameAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the name is valid and available. If false, 'reason' describes why not."
          }
        },
        "reason": {
          "target": "com.azure.datamigration#ServicesCheckNameAvailabilityResponseReason",
          "traits": {
            "smithy.api#documentation": "The reason why the name is not available, if nameAvailable is false"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized reason why the name is not available, if nameAvailable is false"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#ServicesCheckNameAvailabilityResponseReason": {
      "type": "enum",
      "members": {
        "ALREADYEXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlreadyExists"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason why the name is not available, if nameAvailable is false"
      }
    },
    "com.azure.datamigration#CheckServiceNameAvailabilityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure region of the operation"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The proposed resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type chain (e.g. virtualMachines/extensions)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#DeleteProjectRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Delete project\n\nThe project resource is a nested resource representing a stored migration project. The DELETE method deletes a project.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#DeleteProjectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the service"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the project"
          }
        },
        "deleteRunningTasks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "deleteRunningTasks",
            "smithy.api#documentation": "Delete the resource even if it contains running tasks"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#UpdateProject": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#UpdateProjectRequest"
      },
      "output": {
        "target": "com.azure.datamigration#UpdateProjectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Update project\n\nThe project resource is a nested resource representing a stored migration project. The PATCH method updates an existing project.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#UpdateProjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datamigration#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.datamigration#ProjectsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.datamigration#ProjectProperties",
          "traits": {
            "smithy.api#documentation": "Project properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP strong entity tag value. This is ignored if submitted."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#ProjectProperties": {
      "type": "structure",
      "members": {
        "sourcePlatform": {
          "target": "com.azure.datamigration#ProjectSourcePlatform",
          "traits": {
            "smithy.api#documentation": "Source platform for the project",
            "smithy.api#required": {}
          }
        },
        "azureAuthenticationInfo": {
          "target": "com.azure.datamigration#ProjectPropertiesAzureAuthenticationInfo",
          "traits": {
            "smithy.api#documentation": "Azure Active Directory Application"
          }
        },
        "targetPlatform": {
          "target": "com.azure.datamigration#ProjectTargetPlatform",
          "traits": {
            "smithy.api#documentation": "Target platform for the project",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC Date and time when project was created"
          }
        },
        "sourceConnectionInfo": {
          "target": "com.azure.datamigration#ProjectPropertiesSourceConnectionInfo",
          "traits": {
            "smithy.api#documentation": "Defines the connection properties of a server"
          }
        },
        "targetConnectionInfo": {
          "target": "com.azure.datamigration#ProjectPropertiesTargetConnectionInfo",
          "traits": {
            "smithy.api#documentation": "Defines the connection properties of a server"
          }
        },
        "databasesInfo": {
          "target": "com.azure.datamigration#ProjectPropertiesDatabasesInfoList",
          "traits": {
            "smithy.api#documentation": "List of DatabaseInfo"
          }
        },
        "provisioningState": {
          "target": "com.azure.datamigration#ProjectPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The project's provisioning state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project-specific properties"
      }
    },
    "com.azure.datamigration#ProjectPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The project's provisioning state"
      }
    },
    "com.azure.datamigration#ProjectPropertiesDatabasesInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.datamigration#DatabaseInfo"
      },
      "traits": {
        "smithy.api#documentation": "List of DatabaseInfo"
      }
    },
    "com.azure.datamigration#DatabaseInfo": {
      "type": "structure",
      "members": {
        "sourceDatabaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the database",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project Database Details"
      }
    },
    "com.azure.datamigration#ProjectPropertiesTargetConnectionInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of connection info",
            "smithy.api#required": {}
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User name"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password credential.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the connection properties of a server"
      }
    },
    "com.azure.datamigration#ProjectPropertiesSourceConnectionInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of connection info",
            "smithy.api#required": {}
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User name"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password credential.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the connection properties of a server"
      }
    },
    "com.azure.datamigration#ProjectTargetPlatform": {
      "type": "enum",
      "members": {
        "SQLDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLDB"
          }
        },
        "SQLMI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLMI"
          }
        },
        "AZUREDBFORMYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureDbForMySql"
          }
        },
        "AZUREDBFORPOSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureDbForPostgreSql"
          }
        },
        "MONGODB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MongoDb"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target platform of the project"
      }
    },
    "com.azure.datamigration#ProjectPropertiesAzureAuthenticationInfo": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application ID of the Azure Active Directory Application"
          }
        },
        "appKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key used to authenticate to the Azure Active Directory Application"
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant id of the customer"
          }
        },
        "ignoreAzurePermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ignore checking azure permissions on the AAD app"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure Active Directory Application"
      }
    },
    "com.azure.datamigration#ProjectSourcePlatform": {
      "type": "enum",
      "members": {
        "SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MySQL"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PostgreSql"
          }
        },
        "MONGODB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MongoDb"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source platform of the project"
      }
    },
    "com.azure.datamigration#ProjectsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.datamigration#UpdateProjectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the service"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the project"
          }
        },
        "tags": {
          "target": "com.azure.datamigration#ProjectsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.datamigration#ProjectPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Project properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP strong entity tag value. This is ignored if submitted."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#ProjectPropertiesInput": {
      "type": "structure",
      "members": {
        "sourcePlatform": {
          "target": "com.azure.datamigration#ProjectSourcePlatform",
          "traits": {
            "smithy.api#documentation": "Source platform for the project",
            "smithy.api#required": {}
          }
        },
        "azureAuthenticationInfo": {
          "target": "com.azure.datamigration#ProjectPropertiesInputAzureAuthenticationInfo",
          "traits": {
            "smithy.api#documentation": "Azure Active Directory Application"
          }
        },
        "targetPlatform": {
          "target": "com.azure.datamigration#ProjectTargetPlatform",
          "traits": {
            "smithy.api#documentation": "Target platform for the project",
            "smithy.api#required": {}
          }
        },
        "sourceConnectionInfo": {
          "target": "com.azure.datamigration#ProjectPropertiesInputSourceConnectionInfo",
          "traits": {
            "smithy.api#documentation": "Defines the connection properties of a server"
          }
        },
        "targetConnectionInfo": {
          "target": "com.azure.datamigration#ProjectPropertiesInputTargetConnectionInfo",
          "traits": {
            "smithy.api#documentation": "Defines the connection properties of a server"
          }
        },
        "databasesInfo": {
          "target": "com.azure.datamigration#ProjectPropertiesInputDatabasesInfoList",
          "traits": {
            "smithy.api#documentation": "List of DatabaseInfo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project-specific properties"
      }
    },
    "com.azure.datamigration#ProjectPropertiesInputDatabasesInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.datamigration#DatabaseInfo"
      },
      "traits": {
        "smithy.api#documentation": "List of DatabaseInfo"
      }
    },
    "com.azure.datamigration#ProjectPropertiesInputTargetConnectionInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of connection info",
            "smithy.api#required": {}
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User name"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password credential.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the connection properties of a server"
      }
    },
    "com.azure.datamigration#ProjectPropertiesInputSourceConnectionInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of connection info",
            "smithy.api#required": {}
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User name"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password credential.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the connection properties of a server"
      }
    },
    "com.azure.datamigration#ProjectPropertiesInputAzureAuthenticationInfo": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application ID of the Azure Active Directory Application"
          }
        },
        "appKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key used to authenticate to the Azure Active Directory Application"
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant id of the customer"
          }
        },
        "ignoreAzurePermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ignore checking azure permissions on the AAD app"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure Active Directory Application"
      }
    },
    "com.azure.datamigration#ProjectsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.datamigration#ProjectsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#ProjectsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.datamigration#ProjectsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Create or update project\n\nThe project resource is a nested resource representing a stored migration project. The PUT method creates a new project or updates an existing one.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#ProjectsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datamigration#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.datamigration#ProjectsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.datamigration#ProjectProperties",
          "traits": {
            "smithy.api#documentation": "Project properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP strong entity tag value. This is ignored if submitted."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#ProjectsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.datamigration#ProjectsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the service"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the project"
          }
        },
        "tags": {
          "target": "com.azure.datamigration#ProjectsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.datamigration#ProjectPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Project properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP strong entity tag value. This is ignored if submitted."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#ProjectsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.datamigration#GetProject": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#GetProjectRequest"
      },
      "output": {
        "target": "com.azure.datamigration#GetProjectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Get project information\n\nThe project resource is a nested resource representing a stored migration project. The GET method retrieves information about a project.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#GetProjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datamigration#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.datamigration#ProjectsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.datamigration#ProjectProperties",
          "traits": {
            "smithy.api#documentation": "Project properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP strong entity tag value. This is ignored if submitted."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#ProjectsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.datamigration#GetProjectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the service"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the project"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#ListProjects": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#ListProjectsRequest"
      },
      "output": {
        "target": "com.azure.datamigration#ListProjectsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Get projects in a service\n\nThe project resource is a nested resource representing a stored migration project. This method returns a list of projects owned by a service resource.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#ListProjectsResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datamigration#ProjectsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of projects"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to load the next page of projects"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#ProjectsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datamigration#Project"
      },
      "traits": {
        "smithy.api#documentation": "List of projects"
      }
    },
    "com.azure.datamigration#Project": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datamigration#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.datamigration#ProjectTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.datamigration#ProjectProperties",
          "traits": {
            "smithy.api#documentation": "Project properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP strong entity tag value. This is ignored if submitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A project resource"
      }
    },
    "com.azure.datamigration#ProjectTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.datamigration#ListProjectsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the service"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#TasksCommand": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#TasksCommandRequest"
      },
      "output": {
        "target": "com.azure.datamigration#TasksCommandResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/tasks/{taskName}/command",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Execute a command on a task\n\nThe tasks resource is a nested, proxy-only resource representing work performed by a DMS (classic) instance. This method executes a command on a running task.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#TasksCommandResponse": {
      "type": "structure",
      "members": {
        "commandType": {
          "target": "com.azure.datamigration#TasksCommandResponseCommandType",
          "traits": {
            "smithy.api#documentation": "Command type.",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.azure.datamigration#TasksCommandResponseErrorsList",
          "traits": {
            "smithy.api#documentation": "Array of errors. This is ignored if submitted."
          }
        },
        "state": {
          "target": "com.azure.datamigration#TasksCommandResponseState",
          "traits": {
            "smithy.api#documentation": "The state of the command. This is ignored if submitted."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#TasksCommandResponseState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the command. This is ignored if submitted."
      }
    },
    "com.azure.datamigration#TasksCommandResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.datamigration#TasksCommandResponseErrorsItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of errors. This is ignored if submitted."
      }
    },
    "com.azure.datamigration#TasksCommandResponseErrorsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable description of the error"
          }
        },
        "details": {
          "target": "com.azure.datamigration#TasksCommandResponseErrorsItemDetailsList",
          "traits": {
            "smithy.api#documentation": "Inner errors that caused this error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error information in OData format."
      }
    },
    "com.azure.datamigration#TasksCommandResponseErrorsItemDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.datamigration#ODataError"
      },
      "traits": {
        "smithy.api#documentation": "Inner errors that caused this error"
      }
    },
    "com.azure.datamigration#ODataError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable description of the error"
          }
        },
        "details": {
          "target": "com.azure.datamigration#ODataErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "Inner errors that caused this error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error information in OData format."
      }
    },
    "com.azure.datamigration#ODataErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.datamigration#ODataError"
      },
      "traits": {
        "smithy.api#documentation": "Inner errors that caused this error"
      }
    },
    "com.azure.datamigration#TasksCommandResponseCommandType": {
      "type": "enum",
      "members": {
        "MIGRATE_SYNC_COMPLETE_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrate.Sync.Complete.Database"
          }
        },
        "MIGRATE_SQLSERVER_AZUREDBSQLMI_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrate.SqlServer.AzureDbSqlMi.Complete"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        },
        "FINISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finish"
          }
        },
        "RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restart"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Command type."
      }
    },
    "com.azure.datamigration#TasksCommandRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID that identifies an Azure subscription."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the service"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the project"
          }
        },
        "taskName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Task"
          }
        },
        "commandType": {
          "target": "com.azure.datamigration#TasksCommandRequestCommandType",
          "traits": {
            "smithy.api#documentation": "Command type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datamigration#TasksCommandRequestCommandType": {
      "type": "enum",
      "members": {
        "MIGRATE_SYNC_COMPLETE_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrate.Sync.Complete.Database"
          }
        },
        "MIGRATE_SQLSERVER_AZUREDBSQLMI_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrate.SqlServer.AzureDbSqlMi.Complete"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        },
        "FINISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finish"
          }
        },
        "RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restart"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Command type."
      }
    },
    "com.azure.datamigration#ServiceTasksCancel": {
      "type": "operation",
      "input": {
        "target": "com.azure.datamigration#ServiceTasksCancelRequest"
      },
      "output": {
        "target": "com.azure.datamigration#ServiceTasksCancelResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/serviceTasks/{taskName}/cancel",
          "code": 200,
          "apiVersion": "2025-06-30"
        },
        "smithy.api#documentation": "Cancel a service task\n\nThe service tasks resource is a nested, proxy-only resource representing work performed by a DMS (classic) instance. This method cancels a service task if it's currently queued or running.",
        "com.distilled.openapi#apiVersion": "2025-06-30"
      }
    },
    "com.azure.datamigration#ServiceTasksCancelResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datamigration#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP strong entity tag value. This is ignored if submitted."
          }
        },
        "properties": {
          "target": "com.azure.datamigration#ProjectTaskProperties",
          "traits": {
            "smithy.api#documentation": "Custom task properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datamigration#ProjectTaskProperties": {
      "type": "structure",
      "members": {
        "taskType": {
          "target": "com.azure.datamigration#ProjectTaskPropertiesTaskType",
          "traits": {
            "smithy.api#documentation": "Task type.",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.azure.datamigration#ProjectTaskPropertiesErrorsList",
          "traits": {
            "smithy.api#documentation": "Array of errors. This is ignored if submitted."
          }
        },
        "state": {
          "target": "com.azure.datamigration#ProjectTaskPropertiesState",
          "traits": {
            "smithy.api#documentation": "The state of the task. This is ignored if submitted."
          }
        },
        "commands": {
          "target": "com.azure.datamigration#ProjectTaskPropertiesCommandsList",
          "traits": {
            "smithy.api#documentation": "Array of command properties."
          }
        },
        "clientData": {
          "target": "com.azure.datamigration#ProjectTaskPropertiesClientDataMap",
          "traits": {
            "smithy.api#documentation": "Key value pairs of client data to attach meta data information to task"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base class for all types of DMS (classic) task properties. If task is not supported by current client, this object is returned."
      }
    },
    "com.azure.datamigration#ProjectTaskPropertiesClientDataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Key value pairs of client data to attach meta data information to task"
      }
    },
    "com.azure.datamigration#ProjectTaskPropertiesCommandsList": {
      "type": "list",
      "member": {
        "target": "com.azure.datamigration#ProjectTaskPropertiesCommandsItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of command properties."
      }
    },
    "com.azure.datamigration#ProjectTaskPropertiesCommandsItem": {
      "type": "structure",
      "members": {
        "commandType": {
          "target": "com.azure.datamigration#ProjectTaskPropertiesCommandsItemCommandType",
          "traits": {
            "smithy.api#documentation": "Command type.",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.azure.datamigration#ProjectTaskPropertiesCommandsItemErrorsList",
          "traits": {
            "smithy.api#documentation": "Array of errors. This is ignored if submitted."
          }
        },
        "state": {
          "target": "com.azure.datamigration#ProjectTaskPropertiesCommandsItemState",
          "traits": {
            "smithy.api#documentation": "The state of the command. This is ignored if submitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base class for all types of DMS (classic) command properties. If command is not supported by current client, this object is returned."
      }
    },
    "com.azure.datamigration#ProjectTaskPropertiesCommandsItemState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the command. This is ignored if submitted."
      }
    },
    "com.azure.datamigration#ProjectTaskPropertiesCommandsItemErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.datamigration#ProjectTaskPropertiesCommandsItemErrorsItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of errors. This is ignored if submitted."
      }
    },
    "com.azure.datamigration#ProjectTaskPropertiesCommandsItemErrorsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable description of the error"
          }
        },
        "details": {
          "target": "com.azure.datamigration#ProjectTaskPropertiesCommandsItemErrorsItemDetailsList",
          "traits": {
            "smithy.api#documentation": "Inner errors that caused this error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error information in OData format."
      }
    },
    "com.azure.datamigration#ProjectTaskPropertiesCommandsItemErrorsItemDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.datamigration#ODataError"
      },
      "traits": {
        "smithy.api#documentation": "Inner errors that caused this error"
      }
    },
    "com.azure.datamigration#ProjectTaskPropertiesCommandsItemCommandType": {
      "type": "enum",
      "members": {
        "MIGRATE_SYNC_COMPLETE_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrate.Sync.Complete.Database"
          }
        },
        "MIGRATE_SQLSERVER_AZUREDBSQLMI_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrate.SqlServer.AzureDbSqlMi.Complete"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        },
        "FINISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finish"
          }
        },
        "RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restart"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Command type."
      }
    },
    "com.azure.datamigration#ProjectTaskPropertiesState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Queued"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "FAILEDINPUTVALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FailedInputValidation"
          }
        },
        "FAULTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Faulted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the task. This is ignored if submitted."
      }
    },
    "com.azure.datamigration#ProjectTaskPropertiesErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.datamigration#ProjectTaskPropertiesErrorsItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of errors. This is ignored if submitted."
      }
    },
    "com.azure.datamigration#ProjectTaskPropertiesErrorsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine-readable description of the error, such as 'InvalidRequest' or 'InternalServerError'"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable description of the error"
          }
        },
        "details": {
          "target": "com.azure.datamigration#ProjectTaskPropertiesErrorsItemDetailsList",
          "traits": {
            "smithy.api#documentation": "Inner errors that caused this error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error information in OData format."
      }
    },
    "com.azure.datamigration#ProjectTaskPropertiesErrorsItemDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.datamigration#ODataError"
      },
      "traits": {
        "smithy.api#documentation": "Inner errors that caused this error"
      }
    },
    "com.azure.datamigration#ProjectTaskPropertiesTaskType": {
      "type": "enum",
      "members": {
        "CONNECT_MONGODB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Connect.MongoDb"
          }
        },
        "CONNECTTOSOURCE_SQLSERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectToSource.SqlServer"
          }
        },
        "CONNECTTOSOURCE_SQLSERVER_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectToSource.SqlServer.Sync"
          }
        },
        "CONNECTTOSOURCE_POSTGRESQL_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectToSource.PostgreSql.Sync"
          }
        },
        "CONNECTTOSOURCE_MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectToSource.MySql"
          }
        },
        "CONNECTTOSOURCE_ORACLE_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectToSource.Oracle.Sync"
          }
        },
        "CONNECTTOTARGET_SQLDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectToTarget.SqlDb"
          }
        },
        "CONNECTTOTARGET_SQLDB_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectToTarget.SqlDb.Sync"
          }
        },
        "CONNECTTOTARGET_AZUREDBFORPOSTGRESQL_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectToTarget.AzureDbForPostgreSql.Sync"
          }
        },
        "CONNECTTOTARGET_ORACLE_AZUREDBFORPOSTGRESQL_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectToTarget.Oracle.AzureDbForPostgreSql.Sync"
          }
        },
        "CONNECTTOTARGET_AZURESQLDBMI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectToTarget.AzureSqlDbMI"
          }
        },
        "CONNECTTOTARGET_AZURESQLDBMI_SYNC_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectToTarget.AzureSqlDbMI.Sync.LRS"
          }
        },
        "CONNECTTOTARGET_AZUREDBFORMYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectToTarget.AzureDbForMySql"
          }
        },
        "GETUSERTABLES_SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GetUserTables.Sql"
          }
        },
        "GETUSERTABLES_AZURESQLDB_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GetUserTables.AzureSqlDb.Sync"
          }
        },
        "GETUSERTABLESORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GetUserTablesOracle"
          }
        },
        "GETUSERTABLESPOSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GetUserTablesPostgreSql"
          }
        },
        "GETUSERTABLESMYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GetUserTablesMySql"
          }
        },
        "MIGRATE_MONGODB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrate.MongoDb"
          }
        },
        "MIGRATE_SQLSERVER_AZURESQLDBMI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrate.SqlServer.AzureSqlDbMI"
          }
        },
        "MIGRATE_SQLSERVER_AZURESQLDBMI_SYNC_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrate.SqlServer.AzureSqlDbMI.Sync.LRS"
          }
        },
        "MIGRATE_SQLSERVER_SQLDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrate.SqlServer.SqlDb"
          }
        },
        "MIGRATE_SQLSERVER_AZURESQLDB_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
