{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.deviceprovisioningservices#ListIotDpsResourceValidSkus": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#ListIotDpsResourceValidSkusRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#IotDpsSkuDefinitionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/skus",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Gets the list of valid SKUs and tiers for a provisioning service.",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#IotDpsSkuDefinitionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.deviceprovisioningservices#IotDpsSkuDefinitionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The IotDpsSkuDefinition items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of available SKUs."
      }
    },
    "com.azure.deviceprovisioningservices#IotDpsSkuDefinitionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceprovisioningservices#IotDpsSkuDefinition"
      },
      "traits": {
        "smithy.api#documentation": "The IotDpsSkuDefinition items on this page"
      }
    },
    "com.azure.deviceprovisioningservices#IotDpsSkuDefinition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.deviceprovisioningservices#IotDpsSku",
          "traits": {
            "smithy.api#documentation": "Sku name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available SKUs of tier and units."
      }
    },
    "com.azure.deviceprovisioningservices#IotDpsSku": {
      "type": "enum",
      "members": {
        "S1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sku name."
      }
    },
    "com.azure.deviceprovisioningservices#ListIotDpsResourceValidSkusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "provisioningServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#GetIotDpsResourcePrivateLinkResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#GetIotDpsResourcePrivateLinkResourceRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#GetIotDpsResourcePrivateLinkResourceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{resourceName}/privateLinkResources/{groupId}",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Get the specified private link resource for the given provisioning service",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#GetIotDpsResourcePrivateLinkResourceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceprovisioningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#GroupIdInformationProperties",
          "traits": {
            "smithy.api#documentation": "The properties for a group information object",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceprovisioningservices#GroupIdInformationProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group id"
          }
        },
        "requiredMembers": {
          "target": "com.azure.deviceprovisioningservices#GroupIdInformationPropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The required members for a specific group id"
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.deviceprovisioningservices#GroupIdInformationPropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The required DNS zones for a specific group id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties for a group information object"
      }
    },
    "com.azure.deviceprovisioningservices#GroupIdInformationPropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The required DNS zones for a specific group id"
      }
    },
    "com.azure.deviceprovisioningservices#GroupIdInformationPropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The required members for a specific group id"
      }
    },
    "com.azure.deviceprovisioningservices#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.deviceprovisioningservices#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.deviceprovisioningservices#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.deviceprovisioningservices#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.deviceprovisioningservices#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.deviceprovisioningservices#GetIotDpsResourcePrivateLinkResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private link resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#ListIotDpsResourcePrivateLinkResources": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#ListIotDpsResourcePrivateLinkResourcesRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#PrivateLinkResources"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{resourceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "List private link resources for the given provisioning service",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#PrivateLinkResources": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.deviceprovisioningservices#PrivateLinkResourcesValueList",
          "traits": {
            "smithy.api#documentation": "The list of available private link resources for a provisioning service"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The available private link resources for a provisioning service"
      }
    },
    "com.azure.deviceprovisioningservices#PrivateLinkResourcesValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceprovisioningservices#GroupIdInformation"
      },
      "traits": {
        "smithy.api#documentation": "The list of available private link resources for a provisioning service"
      }
    },
    "com.azure.deviceprovisioningservices#GroupIdInformation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceprovisioningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#GroupIdInformationProperties",
          "traits": {
            "smithy.api#documentation": "The properties for a group information object",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The group information for creating a private endpoint on a provisioning service"
      }
    },
    "com.azure.deviceprovisioningservices#ListIotDpsResourcePrivateLinkResourcesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#DeleteIotDpsResourcePrivateEndpointConnection": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#DeleteIotDpsResourcePrivateEndpointConnectionRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#DeleteIotDpsResourcePrivateEndpointConnectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Delete private endpoint connection with the specified name",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#DeleteIotDpsResourcePrivateEndpointConnectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceprovisioningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a private endpoint connection",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceprovisioningservices#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.deviceprovisioningservices#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint property of a private endpoint connection"
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.deviceprovisioningservices#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "The current state of a private endpoint connection",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a private endpoint connection"
      }
    },
    "com.azure.deviceprovisioningservices#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.deviceprovisioningservices#PrivateLinkServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "The status of a private endpoint connection",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description for the current state of a private endpoint connection",
            "smithy.api#required": {}
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Actions required for a private endpoint connection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of a private endpoint connection"
      }
    },
    "com.azure.deviceprovisioningservices#PrivateLinkServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a private endpoint connection"
      }
    },
    "com.azure.deviceprovisioningservices#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint property of a private endpoint connection"
      }
    },
    "com.azure.deviceprovisioningservices#DeleteIotDpsResourcePrivateEndpointConnectionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#IotDpsResourceCreateOrUpdatePrivateEndpointConnection": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#IotDpsResourceCreateOrUpdatePrivateEndpointConnectionRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#IotDpsResourceCreateOrUpdatePrivateEndpointConnectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Create or update the status of a private endpoint connection with the specified name",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#IotDpsResourceCreateOrUpdatePrivateEndpointConnectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceprovisioningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a private endpoint connection",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceprovisioningservices#IotDpsResourceCreateOrUpdatePrivateEndpointConnectionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection"
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of a private endpoint connection",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.deviceprovisioningservices#PrivateEndpointInput",
          "traits": {
            "smithy.api#documentation": "The private endpoint property of a private endpoint connection"
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.deviceprovisioningservices#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "The current state of a private endpoint connection",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a private endpoint connection"
      }
    },
    "com.azure.deviceprovisioningservices#PrivateEndpointInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The private endpoint property of a private endpoint connection"
      }
    },
    "com.azure.deviceprovisioningservices#GetIotDpsResourcePrivateEndpointConnection": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#GetIotDpsResourcePrivateEndpointConnectionRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#GetIotDpsResourcePrivateEndpointConnectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Get private endpoint connection properties",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#GetIotDpsResourcePrivateEndpointConnectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceprovisioningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a private endpoint connection",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceprovisioningservices#GetIotDpsResourcePrivateEndpointConnectionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#ListIotDpsResourcePrivateEndpointConnections": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#ListIotDpsResourcePrivateEndpointConnectionsRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#ListIotDpsResourcePrivateEndpointConnectionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{resourceName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "List private endpoint connection properties",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#ListIotDpsResourcePrivateEndpointConnectionsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.azure.deviceprovisioningservices#PrivateEndpointConnectionsList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceprovisioningservices#PrivateEndpointConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceprovisioningservices#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "Represents a list of private endpoint connections."
      }
    },
    "com.azure.deviceprovisioningservices#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceprovisioningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a private endpoint connection",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection of a provisioning service"
      }
    },
    "com.azure.deviceprovisioningservices#ListIotDpsResourcePrivateEndpointConnectionsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#GetIotDpsResourceOperationResult": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#GetIotDpsResourceOperationResultRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#AsyncOperationResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/operationresults/{operationId}",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Gets the status of a long running operation, such as create, update or delete a provisioning service.",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#AsyncOperationResult": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "current status of a long running operation."
          }
        },
        "error": {
          "target": "com.azure.deviceprovisioningservices#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "Error message containing code, description and details"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of a long running operation."
      }
    },
    "com.azure.deviceprovisioningservices#ErrorMessage": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "standard error code"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "standard error description"
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "detailed summary of error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error response containing message and code."
      }
    },
    "com.azure.deviceprovisioningservices#GetIotDpsResourceOperationResultRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "provisioningServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Operation id corresponding to long running operation. Use this to poll for the status."
          }
        },
        "asyncinfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "asyncinfo",
            "smithy.api#required": {},
            "smithy.api#documentation": "Async header used to poll on the status of the operation, obtained while creating the long running operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#ListIotDpsResourceKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#ListIotDpsResourceKeysRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#SharedAccessSignatureAuthorizationRuleListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/listkeys",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "List the primary and secondary keys for a provisioning service.",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#SharedAccessSignatureAuthorizationRuleListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.deviceprovisioningservices#SharedAccessSignatureAuthorizationRuleListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SharedAccessSignatureAuthorizationRuleAccessRightsDescription items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of shared access keys."
      }
    },
    "com.azure.deviceprovisioningservices#SharedAccessSignatureAuthorizationRuleListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceprovisioningservices#SharedAccessSignatureAuthorizationRuleAccessRightsDescription"
      },
      "traits": {
        "smithy.api#documentation": "The SharedAccessSignatureAuthorizationRuleAccessRightsDescription items on this page"
      }
    },
    "com.azure.deviceprovisioningservices#SharedAccessSignatureAuthorizationRuleAccessRightsDescription": {
      "type": "structure",
      "members": {
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the key.",
            "smithy.api#required": {}
          }
        },
        "primaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary SAS key value."
          }
        },
        "secondaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secondary SAS key value."
          }
        },
        "rights": {
          "target": "com.azure.deviceprovisioningservices#AccessRightsDescription",
          "traits": {
            "smithy.api#documentation": "Rights that this key has.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of the shared access key."
      }
    },
    "com.azure.deviceprovisioningservices#AccessRightsDescription": {
      "type": "enum",
      "members": {
        "SERVICECONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServiceConfig"
          }
        },
        "ENROLLMENTREAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnrollmentRead"
          }
        },
        "ENROLLMENTWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnrollmentWrite"
          }
        },
        "DEVICECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceConnect"
          }
        },
        "REGISTRATIONSTATUSREAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistrationStatusRead"
          }
        },
        "REGISTRATIONSTATUSWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistrationStatusWrite"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rights that this key has."
      }
    },
    "com.azure.deviceprovisioningservices#ListIotDpsResourceKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "provisioningServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#ListIotDpsResourceKeyForKeyName": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#ListIotDpsResourceKeyForKeyNameRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#SharedAccessSignatureAuthorizationRuleAccessRightsDescription"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/keys/{keyName}/listkeys",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "List primary and secondary keys for a specific key name",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#ListIotDpsResourceKeyForKeyNameRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "provisioningServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        },
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Logical key name to get key-values for."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#VerifyDpsCertificateCertificate": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#VerifyDpsCertificateCertificateRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#VerifyDpsCertificateCertificateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates/{certificateName}/verify",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Verifies the certificate's private key possession by providing the leaf cert issued by the verifying pre uploaded certificate.",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#VerifyDpsCertificateCertificateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceprovisioningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#CertificateProperties",
          "traits": {
            "smithy.api#documentation": "properties of a certificate"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity tag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceprovisioningservices#CertificateProperties": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's subject name."
          }
        },
        "expiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's expiration date and time."
          }
        },
        "thumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's thumbprint."
          }
        },
        "isVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether certificate has been verified."
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "base-64 representation of X509 certificate .cer file or just .pem file content."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's creation date and time."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's last update date and time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The description of an X509 CA Certificate."
      }
    },
    "com.azure.deviceprovisioningservices#VerifyDpsCertificateCertificateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "provisioningServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        },
        "certificateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the certificate to retrieve."
          }
        },
        "certificate_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.name",
            "smithy.api#documentation": "Common Name for the certificate."
          }
        },
        "certificate_rawBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.rawBytes",
            "smithy.api#documentation": "Raw data of certificate."
          }
        },
        "certificate_isVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "certificate.isVerified",
            "smithy.api#documentation": "Indicates if the certificate has been verified by owner of the private key."
          }
        },
        "certificate_purpose": {
          "target": "com.azure.deviceprovisioningservices#DpsCertificateVerifyCertificateRequestCertificatePurpose",
          "traits": {
            "smithy.api#httpQuery": "certificate.purpose",
            "smithy.api#documentation": "Describe the purpose of the certificate."
          }
        },
        "certificate_created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.created",
            "smithy.api#documentation": "Time the certificate is created."
          }
        },
        "certificate_lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.lastUpdated",
            "smithy.api#documentation": "Certificate last updated time."
          }
        },
        "certificate_hasPrivateKey": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "certificate.hasPrivateKey",
            "smithy.api#documentation": "Indicates if the certificate contains private key."
          }
        },
        "certificate_nonce": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.nonce",
            "smithy.api#documentation": "Random number generated to indicate Proof of Possession."
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "base-64 representation of X509 certificate .cer file or just .pem file content."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#DpsCertificateVerifyCertificateRequestCertificatePurpose": {
      "type": "enum",
      "members": {
        "CLIENTAUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clientAuthentication"
          }
        },
        "SERVERAUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "serverAuthentication"
          }
        }
      },
      "traits": {}
    },
    "com.azure.deviceprovisioningservices#GenerateDpsCertificateVerificationCode": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#GenerateDpsCertificateVerificationCodeRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#VerificationCodeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates/{certificateName}/generateVerificationCode",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Generate verification code for Proof of Possession.",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#VerificationCodeResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of certificate."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request etag."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#VerificationCodeResponseProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of the response of the verification code."
      }
    },
    "com.azure.deviceprovisioningservices#VerificationCodeResponseProperties": {
      "type": "structure",
      "members": {
        "verificationCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Verification code."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate subject."
          }
        },
        "expiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code expiry."
          }
        },
        "thumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate thumbprint."
          }
        },
        "isVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicate if the certificate is verified by owner of private key."
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "base-64 representation of X509 certificate .cer file or just .pem file content."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate created time."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate updated time."
          }
        }
      },
      "traits": {}
    },
    "com.azure.deviceprovisioningservices#GenerateDpsCertificateVerificationCodeRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "provisioningServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        },
        "certificateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the certificate to retrieve."
          }
        },
        "certificate_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.name",
            "smithy.api#documentation": "Common Name for the certificate."
          }
        },
        "certificate_rawBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.rawBytes",
            "smithy.api#documentation": "Raw data of certificate."
          }
        },
        "certificate_isVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "certificate.isVerified",
            "smithy.api#documentation": "Indicates if the certificate has been verified by owner of the private key."
          }
        },
        "certificate_purpose": {
          "target": "com.azure.deviceprovisioningservices#DpsCertificateGenerateVerificationCodeRequestCertificatePurpose",
          "traits": {
            "smithy.api#httpQuery": "certificate.purpose",
            "smithy.api#documentation": "Description mentioning the purpose of the certificate."
          }
        },
        "certificate_created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.created",
            "smithy.api#documentation": "Time the certificate is created."
          }
        },
        "certificate_lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.lastUpdated",
            "smithy.api#documentation": "Certificate last updated time."
          }
        },
        "certificate_hasPrivateKey": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "certificate.hasPrivateKey",
            "smithy.api#documentation": "Indicates if the certificate contains private key."
          }
        },
        "certificate_nonce": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.nonce",
            "smithy.api#documentation": "Random number generated to indicate Proof of Possession."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#DpsCertificateGenerateVerificationCodeRequestCertificatePurpose": {
      "type": "enum",
      "members": {
        "CLIENTAUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clientAuthentication"
          }
        },
        "SERVERAUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "serverAuthentication"
          }
        }
      },
      "traits": {}
    },
    "com.azure.deviceprovisioningservices#DeleteDpsCertificate": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#DeleteDpsCertificateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates/{certificateName}",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Deletes the specified certificate associated with the Provisioning Service",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#DeleteDpsCertificateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "provisioningServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        },
        "certificateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the certificate to retrieve."
          }
        },
        "certificate_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.name",
            "smithy.api#documentation": "This is optional, and it is the Common Name of the certificate."
          }
        },
        "certificate_rawBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.rawBytes",
            "smithy.api#documentation": "Raw data within the certificate."
          }
        },
        "certificate_isVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "certificate.isVerified",
            "smithy.api#documentation": "Indicates if certificate has been verified by owner of the private key."
          }
        },
        "certificate_purpose": {
          "target": "com.azure.deviceprovisioningservices#DpsCertificateDeleteRequestCertificatePurpose",
          "traits": {
            "smithy.api#httpQuery": "certificate.purpose",
            "smithy.api#documentation": "A description that mentions the purpose of the certificate."
          }
        },
        "certificate_created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.created",
            "smithy.api#documentation": "Time the certificate is created."
          }
        },
        "certificate_lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.lastUpdated",
            "smithy.api#documentation": "Certificate last updated time."
          }
        },
        "certificate_hasPrivateKey": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "certificate.hasPrivateKey",
            "smithy.api#documentation": "Indicates if the certificate contains a private key."
          }
        },
        "certificate_nonce": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "certificate.nonce",
            "smithy.api#documentation": "Random number generated to indicate Proof of Possession."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#DpsCertificateDeleteRequestCertificatePurpose": {
      "type": "enum",
      "members": {
        "CLIENTAUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clientAuthentication"
          }
        },
        "SERVERAUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "serverAuthentication"
          }
        }
      },
      "traits": {}
    },
    "com.azure.deviceprovisioningservices#DpsCertificateCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#DpsCertificateCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#DpsCertificateCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates/{certificateName}",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Add new certificate or update an existing certificate.",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#DpsCertificateCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceprovisioningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#CertificateProperties",
          "traits": {
            "smithy.api#documentation": "properties of a certificate"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity tag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceprovisioningservices#DpsCertificateCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "provisioningServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        },
        "certificateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the certificate to retrieve."
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#CertificatePropertiesInput",
          "traits": {
            "smithy.api#documentation": "properties of a certificate"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#CertificatePropertiesInput": {
      "type": "structure",
      "members": {
        "isVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether certificate has been verified."
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "base-64 representation of X509 certificate .cer file or just .pem file content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The description of an X509 CA Certificate."
      }
    },
    "com.azure.deviceprovisioningservices#GetDpsCertificate": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#GetDpsCertificateRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#GetDpsCertificateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates/{certificateName}",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Get the certificate from the provisioning service.",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#GetDpsCertificateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceprovisioningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#CertificateProperties",
          "traits": {
            "smithy.api#documentation": "properties of a certificate"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity tag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceprovisioningservices#GetDpsCertificateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "provisioningServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        },
        "certificateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the certificate to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#ListDpsCertificate": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#ListDpsCertificateRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#CertificateListDescription"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Get all the certificates tied to the provisioning service.",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#CertificateListDescription": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.deviceprovisioningservices#CertificateListDescriptionValueList",
          "traits": {
            "smithy.api#documentation": "The array of Certificate objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON-serialized array of Certificate objects."
      }
    },
    "com.azure.deviceprovisioningservices#CertificateListDescriptionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceprovisioningservices#CertificateResponse"
      },
      "traits": {
        "smithy.api#documentation": "The array of Certificate objects."
      }
    },
    "com.azure.deviceprovisioningservices#CertificateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceprovisioningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#CertificateProperties",
          "traits": {
            "smithy.api#documentation": "properties of a certificate"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity tag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The X509 Certificate."
      }
    },
    "com.azure.deviceprovisioningservices#ListDpsCertificateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "provisioningServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#DeleteIotDpsResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#DeleteIotDpsResourceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Deletes the Provisioning Service.",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#DeleteIotDpsResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "provisioningServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the provisioning service to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceprovisioningservices#UpdateIotDpsResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceprovisioningservices#UpdateIotDpsResourceRequest"
      },
      "output": {
        "target": "com.azure.deviceprovisioningservices#UpdateIotDpsResourceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}",
          "code": 200,
          "apiVersion": "2026-08-31"
        },
        "smithy.api#documentation": "Update an existing provisioning service's tags. to update other fields use the CreateOrUpdate method",
        "com.distilled.openapi#apiVersion": "2026-08-31"
      }
    },
    "com.azure.deviceprovisioningservices#UpdateIotDpsResourceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceprovisioningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.deviceprovisioningservices#IotDpsResourceUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal ETag convention."
          }
        },
        "resourcegroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource group of the resource."
          }
        },
        "subscriptionid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subscription id of the resource."
          }
        },
        "properties": {
          "target": "com.azure.deviceprovisioningservices#IotDpsPropertiesDescription",
          "traits": {
            "smithy.api#documentation": "Service specific properties for a provisioning service",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.deviceprovisioningservices#IotDpsSkuInfo",
          "traits": {
            "smithy.api#documentation": "Sku info for a provisioning Service.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.deviceprovisioningservices#IotDpsResourceUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceprovisioningservices#IotDpsResourceUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.deviceprovisioningservices#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.deviceprovisioningservices#UserAssignedIdentities",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.deviceprovisioningservices#UserAssignedIdentities": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.deviceprovisioningservices#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.deviceprovisioningservices#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.deviceprovisioningservices#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.deviceprovisioningservices#IotDpsSkuInfo": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.deviceprovisioningservices#IotDpsSku",
          "traits": {
            "smithy.api#documentation": "Sku name."
          }
        },
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pricing tier name of the provisioning service."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of units to provision"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of possible provisioning service SKUs."
      }
    },
    "com.azure.deviceprovisioningservices#IotDpsPropertiesDescription": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.azure.deviceprovisioningservices#State",
          "traits": {
            "smithy.api#documentation": "Current state of the provisioning service."
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.deviceprovisioningservices#PublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Whether requests from Public Network are allowed"
          }
        },
        "ipFilterRules": {
          "target": "com.azure.deviceprovisioningservices#IotDpsPropertiesDescriptionIpFilterRulesList",
          "traits": {
            "smithy.api#documentation": "The IP filter rules."
          }
        },
        "privateEndpointConnections": {
          "target": "com.azure.deviceprovisioningservices#IotDpsPropertiesDescriptionPrivateEndpointConnectionsList",
          "traits": {
            "smithy.api#documentation": "Private endpoint connections created on this IotHub"
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM provisioning state of the provisioning service."
          }
        },
        "iotHubs": {
          "target": "com.azure.deviceprovisioningservices#IotDpsPropertiesDescriptionIotHubsList",
          "traits": {
            "smithy.api#documentation": "List of IoT hubs associated with this provisioning service."
          }
        },
        "allocationPolicy": {
          "target": "com.azure.deviceprovisioningservices#AllocationPolicy",
          "traits": {
            "smithy.api#documentation": "Allocation policy to be used by this provisioning service."
          }
        },
        "serviceOperationsHostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service endpoint for provisioning service."
          }
        },
        "deviceProvisioningHostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device endpoint for this provisioning service."
          }
        },
        "idScope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this provisioning service."
          }
        },
        "authorizationPolicies": {
          "target": "com.azure.deviceprovisioningservices#IotDpsPropertiesDescriptionAuthorizationPoliciesList",
          "traits": {
            "smithy.api#documentation": "List of authorization keys for a provisioning service."
          }
        },
        "enableDataResidency": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional.\nIndicates if the DPS instance has Data Residency enabled, removing the cross geo-pair disaster recovery."
          }
        },
        "portalOperationsHostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Portal endpoint to enable CORS for this provisioning service."
          }
        },
        "disableLocalAuth": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disables all authentication methods other than Azure RBAC."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "the service specific properties of a provisioning service, including keys, linked iot hubs, current state, and system generated properties such as hostname and idScope"
      }
    },
    "com.azure.deviceprovisioningservices#IotDpsPropertiesDescriptionAuthorizationPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceprovisioningservices#SharedAccessSignatureAuthorizationRuleAccessRightsDescription"
      },
      "traits": {
        "smithy.api#documentation": "List of authorization keys for a provisioning service."
      }
    },
    "com.azure.deviceprovisioningservices#AllocationPolicy": {
      "type": "enum",
      "members": {
        "HASHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hashed"
          }
        },
        "GEOLATENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GeoLatency"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Static"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allocation policy to be used by this provisioning service."
      }
    },
    "com.azure.deviceprovisioningservices#IotDpsPropertiesDescriptionIotHubsList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceprovisioningservices#IotHubDefinitionDescription"
      },
      "traits": {
        "smithy.api#documentation": "List of IoT hubs associated with this provisioning service."
      }
    },
    "com.azure.deviceprovisioningservices#IotHubDefinitionDescription": {
      "type": "structure",
      "members": {
        "applyAllocationPolicy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "flag for applying allocationPolicy or not for a given iot hub."
          }
        },
        "allocationWeight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "weight to apply for a given iot h."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host name of the IoT hub."
          }
        },
        "hostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host name of the IoT hub. This is required when connectionString is not provided."
          }
        },
        "authenticationType": {
          "target": "com.azure.deviceprovisioningservices#IotHubAuthenticationType",
          "traits": {
            "smithy.api#documentation": "IotHub MI authentication type: KeyBased, UserAssigned, SystemAssigned."
          }
        },
        "selectedUserAssignedIdentityResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The selected user-assigned identity resource Id associated with IoT hub. This is required when authenticationType is UserAssigned."
          }
        },
        "connectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection string of the IoT hub. This is required when authenticationType is KeyBased.",
            "smithy.api#sensitive": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM region of the IoT hub.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of the IoT hub."
      }
    },
    "com.azure.deviceprovisioningservices#IotHubAuthenticationType": {
      "type": "enum",
      "members": {
        "KEYBASED": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
