{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.devtestlabs#GlobalSchedulesRetarget": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#GlobalSchedulesRetargetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/schedules/{name}/retarget",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Updates a schedule's target resource Id. This operation can take a while to complete.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#GlobalSchedulesRetargetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Schedule"
          }
        },
        "currentResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id of the virtual machine on which the schedule operates"
          }
        },
        "targetResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id of the virtual machine that the schedule should be retargeted to"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#GlobalSchedulesExecute": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#GlobalSchedulesExecuteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/schedules/{name}/execute",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Execute a schedule. This operation can take a while to complete.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#GlobalSchedulesExecuteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Schedule"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#DeleteGlobalSchedule": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#DeleteGlobalScheduleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/schedules/{name}",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Delete schedule.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#DeleteGlobalScheduleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Schedule"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#UpdateGlobalSchedule": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#UpdateGlobalScheduleRequest"
      },
      "output": {
        "target": "com.azure.devtestlabs#UpdateGlobalScheduleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/schedules/{name}",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Allows modifying tags of schedules. All other properties will be ignored.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#UpdateGlobalScheduleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devtestlabs#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#ScheduleProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#GlobalSchedulesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devtestlabs#GlobalSchedulesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#ScheduleProperties": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.devtestlabs#SchedulePropertiesStatus",
          "traits": {
            "smithy.api#documentation": "The status of the schedule (i.e. Enabled, Disabled)"
          }
        },
        "taskType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The task type of the schedule (e.g. LabVmsShutdownTask, LabVmAutoStart)."
          }
        },
        "weeklyRecurrence": {
          "target": "com.azure.devtestlabs#WeekDetails",
          "traits": {
            "smithy.api#documentation": "If the schedule will occur only some days of the week, specify the weekly recurrence."
          }
        },
        "dailyRecurrence": {
          "target": "com.azure.devtestlabs#DayDetails",
          "traits": {
            "smithy.api#documentation": "If the schedule will occur once each day of the week, specify the daily recurrence."
          }
        },
        "hourlyRecurrence": {
          "target": "com.azure.devtestlabs#HourDetails",
          "traits": {
            "smithy.api#documentation": "If the schedule will occur multiple times a day, specify the hourly recurrence."
          }
        },
        "timeZoneId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone ID (e.g. China Standard Time, Greenland Standard Time, Pacific Standard time, etc.). The possible values for this property can be found in `IReadOnlyCollection<string> TimeZoneConverter.TZConvert.KnownWindowsTimeZoneIds` (https://github.com/mattjohnsonpint/TimeZoneConverter/blob/main/README.md)"
          }
        },
        "notificationSettings": {
          "target": "com.azure.devtestlabs#NotificationSettings",
          "traits": {
            "smithy.api#documentation": "Notification settings."
          }
        },
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation date of the schedule."
          }
        },
        "targetResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID to which the schedule belongs"
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning status of the resource."
          }
        },
        "uniqueIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique immutable identifier of a resource (Guid)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a schedule."
      }
    },
    "com.azure.devtestlabs#NotificationSettings": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.devtestlabs#NotificationSettingsStatus",
          "traits": {
            "smithy.api#documentation": "If notifications are enabled for this schedule (i.e. Enabled, Disabled)."
          }
        },
        "timeInMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time in minutes before event at which notification will be sent."
          }
        },
        "webhookUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The webhook URL to which the notification will be sent."
          }
        },
        "emailRecipient": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email recipient to send notifications to (can be a list of semi-colon separated email addresses)."
          }
        },
        "notificationLocale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The locale to use when sending a notification (fallback for unsupported languages is EN)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Notification settings for a schedule."
      }
    },
    "com.azure.devtestlabs#NotificationSettingsStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If notifications are enabled for this schedule (i.e. Enabled, Disabled)."
      }
    },
    "com.azure.devtestlabs#HourDetails": {
      "type": "structure",
      "members": {
        "minute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of the hour the schedule will run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an hourly schedule."
      }
    },
    "com.azure.devtestlabs#DayDetails": {
      "type": "structure",
      "members": {
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of day the schedule will occur."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a daily schedule."
      }
    },
    "com.azure.devtestlabs#WeekDetails": {
      "type": "structure",
      "members": {
        "weekdays": {
          "target": "com.azure.devtestlabs#WeekDetailsWeekdaysList",
          "traits": {
            "smithy.api#documentation": "The days of the week for which the schedule is set (e.g. Sunday, Monday, Tuesday, etc.)."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of the day the schedule will occur."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a weekly schedule."
      }
    },
    "com.azure.devtestlabs#WeekDetailsWeekdaysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The days of the week for which the schedule is set (e.g. Sunday, Monday, Tuesday, etc.)."
      }
    },
    "com.azure.devtestlabs#SchedulePropertiesStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the schedule (i.e. Enabled, Disabled)"
      }
    },
    "com.azure.devtestlabs#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.devtestlabs#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.devtestlabs#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.devtestlabs#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.devtestlabs#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.devtestlabs#UpdateGlobalScheduleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Schedule"
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#GlobalSchedulesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#GlobalSchedulesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags of the resource."
      }
    },
    "com.azure.devtestlabs#GlobalSchedulesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#GlobalSchedulesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.devtestlabs#GlobalSchedulesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/schedules/{name}",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Create or replace an existing schedule.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#GlobalSchedulesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devtestlabs#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#ScheduleProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#GlobalSchedulesCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devtestlabs#GlobalSchedulesCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#GlobalSchedulesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Schedule"
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#SchedulePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#GlobalSchedulesCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#GlobalSchedulesCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#SchedulePropertiesInput": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.devtestlabs#SchedulePropertiesInputStatus",
          "traits": {
            "smithy.api#documentation": "The status of the schedule (i.e. Enabled, Disabled)"
          }
        },
        "taskType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The task type of the schedule (e.g. LabVmsShutdownTask, LabVmAutoStart)."
          }
        },
        "weeklyRecurrence": {
          "target": "com.azure.devtestlabs#WeekDetails",
          "traits": {
            "smithy.api#documentation": "If the schedule will occur only some days of the week, specify the weekly recurrence."
          }
        },
        "dailyRecurrence": {
          "target": "com.azure.devtestlabs#DayDetails",
          "traits": {
            "smithy.api#documentation": "If the schedule will occur once each day of the week, specify the daily recurrence."
          }
        },
        "hourlyRecurrence": {
          "target": "com.azure.devtestlabs#HourDetails",
          "traits": {
            "smithy.api#documentation": "If the schedule will occur multiple times a day, specify the hourly recurrence."
          }
        },
        "timeZoneId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone ID (e.g. China Standard Time, Greenland Standard Time, Pacific Standard time, etc.). The possible values for this property can be found in `IReadOnlyCollection<string> TimeZoneConverter.TZConvert.KnownWindowsTimeZoneIds` (https://github.com/mattjohnsonpint/TimeZoneConverter/blob/main/README.md)"
          }
        },
        "notificationSettings": {
          "target": "com.azure.devtestlabs#NotificationSettings",
          "traits": {
            "smithy.api#documentation": "Notification settings."
          }
        },
        "targetResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID to which the schedule belongs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a schedule."
      }
    },
    "com.azure.devtestlabs#SchedulePropertiesInputStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the schedule (i.e. Enabled, Disabled)"
      }
    },
    "com.azure.devtestlabs#GetGlobalSchedule": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#GetGlobalScheduleRequest"
      },
      "output": {
        "target": "com.azure.devtestlabs#GetGlobalScheduleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/schedules/{name}",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Get schedule.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#GetGlobalScheduleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devtestlabs#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#ScheduleProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#GlobalSchedulesGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devtestlabs#GlobalSchedulesGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#GetGlobalScheduleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Schedule"
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "Specify the $expand query. Example: 'properties($select=status)'"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#ListGlobalScheduleByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#ListGlobalScheduleByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.devtestlabs#ScheduleList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/schedules",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "List schedules in a resource group.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#ScheduleList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.devtestlabs#ScheduleListValueList",
          "traits": {
            "smithy.api#documentation": "The Schedule items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a list operation."
      }
    },
    "com.azure.devtestlabs#ScheduleListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.devtestlabs#Schedule"
      },
      "traits": {
        "smithy.api#documentation": "The Schedule items on this page"
      }
    },
    "com.azure.devtestlabs#Schedule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devtestlabs#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#ScheduleProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#ScheduleTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A schedule."
      }
    },
    "com.azure.devtestlabs#ScheduleTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#ListGlobalScheduleByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "Specify the $expand query. Example: 'properties($select=status)'"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The maximum number of resources to return from the operation. Example: '$top=10'"
          }
        },
        "_orderby": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$orderby",
            "smithy.api#documentation": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#DeleteVirtualNetwork": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#DeleteVirtualNetworkRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks/{name}",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Delete virtual network. This operation can take a while to complete.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#DeleteVirtualNetworkRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual network."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#UpdateVirtualNetwork": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#UpdateVirtualNetworkRequest"
      },
      "output": {
        "target": "com.azure.devtestlabs#UpdateVirtualNetworkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks/{name}",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Allows modifying tags of virtual networks. All other properties will be ignored.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#UpdateVirtualNetworkResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devtestlabs#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#VirtualNetworkProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#VirtualNetworksUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devtestlabs#VirtualNetworksUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#VirtualNetworkProperties": {
      "type": "structure",
      "members": {
        "allowedSubnets": {
          "target": "com.azure.devtestlabs#VirtualNetworkPropertiesAllowedSubnetsList",
          "traits": {
            "smithy.api#documentation": "The allowed subnets of the virtual network."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the virtual network."
          }
        },
        "externalProviderResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Microsoft.Network resource identifier of the virtual network."
          }
        },
        "externalSubnets": {
          "target": "com.azure.devtestlabs#VirtualNetworkPropertiesExternalSubnetsList",
          "traits": {
            "smithy.api#documentation": "The external subnet properties."
          }
        },
        "subnetOverrides": {
          "target": "com.azure.devtestlabs#VirtualNetworkPropertiesSubnetOverridesList",
          "traits": {
            "smithy.api#documentation": "The subnet overrides of the virtual network."
          }
        },
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation date of the virtual network."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning status of the resource."
          }
        },
        "uniqueIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique immutable identifier of a resource (Guid)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a virtual network."
      }
    },
    "com.azure.devtestlabs#VirtualNetworkPropertiesSubnetOverridesList": {
      "type": "list",
      "member": {
        "target": "com.azure.devtestlabs#SubnetOverride"
      },
      "traits": {
        "smithy.api#documentation": "The subnet overrides of the virtual network."
      }
    },
    "com.azure.devtestlabs#SubnetOverride": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the subnet."
          }
        },
        "labSubnetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name given to the subnet within the lab."
          }
        },
        "useInVmCreationPermission": {
          "target": "com.azure.devtestlabs#UsagePermissionType",
          "traits": {
            "smithy.api#documentation": "Indicates whether this subnet can be used during virtual machine creation (i.e. Allow, Deny)."
          }
        },
        "usePublicIpAddressPermission": {
          "target": "com.azure.devtestlabs#UsagePermissionType",
          "traits": {
            "smithy.api#documentation": "Indicates whether public IP addresses can be assigned to virtual machines on this subnet (i.e. Allow, Deny)."
          }
        },
        "sharedPublicIpAddressConfiguration": {
          "target": "com.azure.devtestlabs#SubnetSharedPublicIpAddressConfiguration",
          "traits": {
            "smithy.api#documentation": "Properties that virtual machines on this subnet will share."
          }
        },
        "virtualNetworkPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The virtual network pool associated with this subnet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property overrides on a subnet of a virtual network."
      }
    },
    "com.azure.devtestlabs#SubnetSharedPublicIpAddressConfiguration": {
      "type": "structure",
      "members": {
        "allowedPorts": {
          "target": "com.azure.devtestlabs#SubnetSharedPublicIpAddressConfigurationAllowedPortsList",
          "traits": {
            "smithy.api#documentation": "Backend ports that virtual machines on this subnet are allowed to expose"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for public IP address sharing."
      }
    },
    "com.azure.devtestlabs#SubnetSharedPublicIpAddressConfigurationAllowedPortsList": {
      "type": "list",
      "member": {
        "target": "com.azure.devtestlabs#Port"
      },
      "traits": {
        "smithy.api#documentation": "Backend ports that virtual machines on this subnet are allowed to expose"
      }
    },
    "com.azure.devtestlabs#Port": {
      "type": "structure",
      "members": {
        "transportProtocol": {
          "target": "com.azure.devtestlabs#TransportProtocol",
          "traits": {
            "smithy.api#documentation": "Protocol type of the port."
          }
        },
        "backendPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Backend port of the target virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a network port."
      }
    },
    "com.azure.devtestlabs#TransportProtocol": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tcp"
          }
        },
        "UDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Udp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The transport protocol for the endpoint."
      }
    },
    "com.azure.devtestlabs#UsagePermissionType": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deny"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Allow"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The permission policy of the subnet for allowing public IP addresses (i.e. Allow, Deny))."
      }
    },
    "com.azure.devtestlabs#VirtualNetworkPropertiesExternalSubnetsList": {
      "type": "list",
      "member": {
        "target": "com.azure.devtestlabs#ExternalSubnet"
      },
      "traits": {
        "smithy.api#documentation": "The external subnet properties."
      }
    },
    "com.azure.devtestlabs#ExternalSubnet": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Subnet information as returned by the Microsoft.Network API."
      }
    },
    "com.azure.devtestlabs#VirtualNetworkPropertiesAllowedSubnetsList": {
      "type": "list",
      "member": {
        "target": "com.azure.devtestlabs#Subnet"
      },
      "traits": {
        "smithy.api#documentation": "The allowed subnets of the virtual network."
      }
    },
    "com.azure.devtestlabs#Subnet": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the subnet."
          }
        },
        "labSubnetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the subnet as seen in the lab."
          }
        },
        "allowPublicIp": {
          "target": "com.azure.devtestlabs#UsagePermissionType",
          "traits": {
            "smithy.api#documentation": "The permission policy of the subnet for allowing public IP addresses (i.e. Allow, Deny))."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Subnet information."
      }
    },
    "com.azure.devtestlabs#UpdateVirtualNetworkRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual network."
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#VirtualNetworksUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#VirtualNetworksUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags of the resource."
      }
    },
    "com.azure.devtestlabs#VirtualNetworksCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#VirtualNetworksCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.devtestlabs#VirtualNetworksCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks/{name}",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Create or replace an existing virtual network. This operation can take a while to complete.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#VirtualNetworksCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devtestlabs#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#VirtualNetworkProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#VirtualNetworksCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devtestlabs#VirtualNetworksCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#VirtualNetworksCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual network."
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#VirtualNetworkPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#VirtualNetworksCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#VirtualNetworksCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#VirtualNetworkPropertiesInput": {
      "type": "structure",
      "members": {
        "allowedSubnets": {
          "target": "com.azure.devtestlabs#VirtualNetworkPropertiesInputAllowedSubnetsList",
          "traits": {
            "smithy.api#documentation": "The allowed subnets of the virtual network."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the virtual network."
          }
        },
        "externalProviderResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Microsoft.Network resource identifier of the virtual network."
          }
        },
        "subnetOverrides": {
          "target": "com.azure.devtestlabs#VirtualNetworkPropertiesInputSubnetOverridesList",
          "traits": {
            "smithy.api#documentation": "The subnet overrides of the virtual network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a virtual network."
      }
    },
    "com.azure.devtestlabs#VirtualNetworkPropertiesInputSubnetOverridesList": {
      "type": "list",
      "member": {
        "target": "com.azure.devtestlabs#SubnetOverride"
      },
      "traits": {
        "smithy.api#documentation": "The subnet overrides of the virtual network."
      }
    },
    "com.azure.devtestlabs#VirtualNetworkPropertiesInputAllowedSubnetsList": {
      "type": "list",
      "member": {
        "target": "com.azure.devtestlabs#Subnet"
      },
      "traits": {
        "smithy.api#documentation": "The allowed subnets of the virtual network."
      }
    },
    "com.azure.devtestlabs#GetVirtualNetwork": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#GetVirtualNetworkRequest"
      },
      "output": {
        "target": "com.azure.devtestlabs#GetVirtualNetworkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks/{name}",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Get virtual network.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#GetVirtualNetworkResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devtestlabs#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#VirtualNetworkProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#VirtualNetworksGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devtestlabs#VirtualNetworksGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#GetVirtualNetworkRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual network."
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "Specify the $expand query. Example: 'properties($expand=externalSubnets)'"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#ListVirtualNetworks": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#ListVirtualNetworksRequest"
      },
      "output": {
        "target": "com.azure.devtestlabs#VirtualNetworkList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "List virtual networks in a given lab.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#VirtualNetworkList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.devtestlabs#VirtualNetworkListValueList",
          "traits": {
            "smithy.api#documentation": "The VirtualNetwork items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a list operation."
      }
    },
    "com.azure.devtestlabs#VirtualNetworkListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.devtestlabs#VirtualNetwork"
      },
      "traits": {
        "smithy.api#documentation": "The VirtualNetwork items on this page"
      }
    },
    "com.azure.devtestlabs#VirtualNetwork": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devtestlabs#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#VirtualNetworkProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#VirtualNetworkTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A virtual network."
      }
    },
    "com.azure.devtestlabs#VirtualNetworkTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#ListVirtualNetworksRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab."
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "Specify the $expand query. Example: 'properties($expand=externalSubnets)'"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The maximum number of resources to return from the operation. Example: '$top=10'"
          }
        },
        "_orderby": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$orderby",
            "smithy.api#documentation": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#VirtualMachinesUnClaim": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#VirtualMachinesUnClaimRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/unClaim",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Release ownership of an existing virtual machine This operation can take a while to complete.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#VirtualMachinesUnClaimRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#VirtualMachinesTransferDisks": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#VirtualMachinesTransferDisksRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/transferDisks",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Transfers all data disks attached to the virtual machine to be owned by the current user. This operation can take a while to complete.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#VirtualMachinesTransferDisksRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#StopVirtualMachine": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#StopVirtualMachineRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/stop",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Stop a virtual machine This operation can take a while to complete.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#StopVirtualMachineRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#StartVirtualMachine": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#StartVirtualMachineRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/start",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Start a virtual machine. This operation can take a while to complete.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#StartVirtualMachineRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#VirtualMachineSchedulesExecute": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#VirtualMachineSchedulesExecuteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{virtualMachineName}/schedules/{name}/execute",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Execute a schedule. This operation can take a while to complete.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#VirtualMachineSchedulesExecuteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "labs"
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "virtualmachines"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Schedule"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#DeleteVirtualMachineSchedule": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#DeleteVirtualMachineScheduleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{virtualMachineName}/schedules/{name}",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Delete schedule.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#DeleteVirtualMachineScheduleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "labs"
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "virtualmachines"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Schedule"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#UpdateVirtualMachineSchedule": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#UpdateVirtualMachineScheduleRequest"
      },
      "output": {
        "target": "com.azure.devtestlabs#UpdateVirtualMachineScheduleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{virtualMachineName}/schedules/{name}",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Allows modifying tags of schedules. All other properties will be ignored.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#UpdateVirtualMachineScheduleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devtestlabs#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#ScheduleProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#VirtualMachineSchedulesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devtestlabs#VirtualMachineSchedulesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#UpdateVirtualMachineScheduleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "labs"
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "virtualmachines"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Schedule"
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#VirtualMachineSchedulesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#VirtualMachineSchedulesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags of the resource."
      }
    },
    "com.azure.devtestlabs#VirtualMachineSchedulesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#VirtualMachineSchedulesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.devtestlabs#VirtualMachineSchedulesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{virtualMachineName}/schedules/{name}",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Create or replace an existing schedule.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#VirtualMachineSchedulesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devtestlabs#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#ScheduleProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#VirtualMachineSchedulesCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devtestlabs#VirtualMachineSchedulesCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#VirtualMachineSchedulesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "labs"
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "virtualmachines"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Schedule"
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#SchedulePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#VirtualMachineSchedulesCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#VirtualMachineSchedulesCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#GetVirtualMachineSchedule": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#GetVirtualMachineScheduleRequest"
      },
      "output": {
        "target": "com.azure.devtestlabs#GetVirtualMachineScheduleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{virtualMachineName}/schedules/{name}",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "Get schedule.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#GetVirtualMachineScheduleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devtestlabs#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devtestlabs#ScheduleProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.devtestlabs#VirtualMachineSchedulesGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devtestlabs#VirtualMachineSchedulesGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.devtestlabs#GetVirtualMachineScheduleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "labs"
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "virtualmachines"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Schedule"
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "Specify the $expand query. Example: 'properties($select=status)'"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devtestlabs#ListVirtualMachineSchedules": {
      "type": "operation",
      "input": {
        "target": "com.azure.devtestlabs#ListVirtualMachineSchedulesRequest"
      },
      "output": {
        "target": "com.azure.devtestlabs#ScheduleList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{virtualMachineName}/schedules",
          "code": 200,
          "apiVersion": "2018-09-15"
        },
        "smithy.api#documentation": "List schedules in a given virtual machine.",
        "com.distilled.openapi#apiVersion": "2018-09-15"
      }
    },
    "com.azure.devtestlabs#ListVirtualMachineSchedulesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "labs"
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "virtualmachines"
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "Specify the $expand query. Example: 'properties($select=status)'"
          }
[...]
