{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.edgezones#ExtendedZonesUnregister": {
      "type": "operation",
      "input": {
        "target": "com.azure.edgezones#ExtendedZonesUnregisterRequest"
      },
      "output": {
        "target": "com.azure.edgezones#ExtendedZonesUnregisterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/extendedZones/{extendedZoneName}/unregister",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Unregisters a subscription for an Extended Zone",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.edgezones#ExtendedZonesUnregisterResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edgezones#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edgezones#ExtendedZoneProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edgezones#ExtendedZoneProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.edgezones#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Status of the last operation performed by the subscription on the Edge Zone resource"
          }
        },
        "registrationState": {
          "target": "com.azure.edgezones#RegistrationState",
          "traits": {
            "smithy.api#documentation": "Indicates the Azure Extended Zone registration’s approval status."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the Azure Extended Zone.",
            "smithy.api#required": {}
          }
        },
        "regionalDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regional display name of the Azure Extended Zone.",
            "smithy.api#required": {}
          }
        },
        "regionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of region for the Azure Extended Zone.",
            "smithy.api#required": {}
          }
        },
        "regionCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of region for the Azure Extended Zone.",
            "smithy.api#required": {}
          }
        },
        "geography": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Geography of the Azure Extended Zone.",
            "smithy.api#required": {}
          }
        },
        "geographyGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Geography Group of the Azure Extended Zone.",
            "smithy.api#required": {}
          }
        },
        "longitude": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Longitude of the Azure Extended Zone.",
            "smithy.api#required": {}
          }
        },
        "latitude": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Latitude of the Azure Extended Zone.",
            "smithy.api#required": {}
          }
        },
        "homeLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Home Location of the Azure Extended Zone.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of an Extended Zone resource."
      }
    },
    "com.azure.edgezones#RegistrationState": {
      "type": "enum",
      "members": {
        "NOTREGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotRegistered"
          }
        },
        "PENDINGREGISTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingRegister"
          }
        },
        "REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Registered"
          }
        },
        "PENDINGUNREGISTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingUnregister"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Azure Extended Zone registration status for a subscription"
      }
    },
    "com.azure.edgezones#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the current operation."
      }
    },
    "com.azure.edgezones#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.edgezones#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.edgezones#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.edgezones#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.edgezones#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.edgezones#ExtendedZonesUnregisterRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "extendedZoneName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ExtendedZone"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edgezones#ExtendedZonesRegister": {
      "type": "operation",
      "input": {
        "target": "com.azure.edgezones#ExtendedZonesRegisterRequest"
      },
      "output": {
        "target": "com.azure.edgezones#ExtendedZonesRegisterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/extendedZones/{extendedZoneName}/register",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Registers a subscription for an Extended Zone",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.edgezones#ExtendedZonesRegisterResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edgezones#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edgezones#ExtendedZoneProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edgezones#ExtendedZonesRegisterRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "extendedZoneName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ExtendedZone"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edgezones#GetExtendedZone": {
      "type": "operation",
      "input": {
        "target": "com.azure.edgezones#GetExtendedZoneRequest"
      },
      "output": {
        "target": "com.azure.edgezones#GetExtendedZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/extendedZones/{extendedZoneName}",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Gets an Azure Extended Zone for a subscription",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.edgezones#GetExtendedZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edgezones#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edgezones#ExtendedZoneProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edgezones#GetExtendedZoneRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "extendedZoneName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ExtendedZone"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edgezones#ListExtendedZoneBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.edgezones#ListExtendedZoneBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.edgezones#ExtendedZoneListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/extendedZones",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Lists the Azure Extended Zones available to a subscription",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.edgezones#ExtendedZoneListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.edgezones#ExtendedZoneListResultValueList",
          "traits": {
            "smithy.api#documentation": "The ExtendedZone items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a ExtendedZone list operation."
      }
    },
    "com.azure.edgezones#ExtendedZoneListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgezones#ExtendedZone"
      },
      "traits": {
        "smithy.api#documentation": "The ExtendedZone items on this page"
      }
    },
    "com.azure.edgezones#ExtendedZone": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edgezones#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edgezones#ExtendedZoneProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource that represents an Azure Extended Zone available to a subscription for registering and unregistering."
      }
    },
    "com.azure.edgezones#ListExtendedZoneBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edgezones#ListOperations": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.edgezones#ListOperationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.EdgeZones/operations",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "List the operations for the provider",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.edgezones#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.edgezones#OperationsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of operations supported by the resource provider"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of operation list results (if there are any)."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edgezones#OperationsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgezones#Operation"
      },
      "traits": {
        "smithy.api#documentation": "List of operations supported by the resource provider"
      }
    },
    "com.azure.edgezones#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\""
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations."
          }
        },
        "display": {
          "target": "com.azure.edgezones#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "Localized display information for this particular operation."
          }
        },
        "origin": {
          "target": "com.azure.edgezones#OperationOrigin",
          "traits": {
            "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
          }
        },
        "actionType": {
          "target": "com.azure.edgezones#OperationActionType",
          "traits": {
            "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a REST API operation, returned from the Resource Provider Operations API"
      }
    },
    "com.azure.edgezones#OperationActionType": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
      }
    },
    "com.azure.edgezones#OperationOrigin": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user,system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
      }
    },
    "com.azure.edgezones#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\"."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\"."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short, localized friendly description of the operation; suitable for tool tips and detailed views."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localized display information for this particular operation."
      }
    },
    "com.azure.edgezones#Edgezones": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.azure.edgezones#ExtendedZonesUnregister"
        },
        {
          "target": "com.azure.edgezones#ExtendedZonesRegister"
        },
        {
          "target": "com.azure.edgezones#GetExtendedZone"
        },
        {
          "target": "com.azure.edgezones#ListExtendedZoneBySubscription"
        },
        {
          "target": "com.azure.edgezones#ListOperations"
        }
      ],
      "traits": {
        "smithy.api#title": "Azure Edgezones",
        "smithy.api#documentation": "Azure Edgezones API — merged from the edgezones resource-manager specs (latest stable api-version per resource provider)."
      }
    }
  }
}
