{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.managednetworkfabric#RoutePoliciesValidateConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.azure.managednetworkfabric#RoutePoliciesValidateConfigurationRequest"
      },
      "output": {
        "target": "com.azure.managednetworkfabric#RoutePoliciesValidateConfigurationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies/{routePolicyName}/validateConfiguration",
          "code": 200,
          "apiVersion": "2025-07-15"
        },
        "smithy.api#documentation": "Validates the configuration of the resources.",
        "com.distilled.openapi#apiVersion": "2025-07-15"
      }
    },
    "com.azure.managednetworkfabric#RoutePoliciesValidateConfigurationResponse": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.azure.managednetworkfabric#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "The error object."
          }
        },
        "configurationState": {
          "target": "com.azure.managednetworkfabric#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "Gets the configuration state."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the details of the response."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.managednetworkfabric#ConfigurationState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioned"
          }
        },
        "ERRORPROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ErrorProvisioning"
          }
        },
        "DEPROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deprovisioning"
          }
        },
        "DEPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deprovisioned"
          }
        },
        "ERRORDEPROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ErrorDeprovisioning"
          }
        },
        "DEFERREDCONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeferredControl"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "PENDINGCOMMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingCommit"
          }
        },
        "PENDINGADMINISTRATIVEUPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingAdministrativeUpdate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration state for the resource."
      }
    },
    "com.azure.managednetworkfabric#ErrorDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.managednetworkfabric#ErrorDetailDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.managednetworkfabric#ErrorDetailAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.managednetworkfabric#ErrorDetailAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.managednetworkfabric#ErrorAdditionalInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional info type."
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource management error additional info."
      }
    },
    "com.azure.managednetworkfabric#ErrorDetailDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.managednetworkfabric#RoutePoliciesValidateConfigurationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "routePolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Route Policy."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managednetworkfabric#UpdateRoutePolicyAdministrativeState": {
      "type": "operation",
      "input": {
        "target": "com.azure.managednetworkfabric#UpdateRoutePolicyAdministrativeStateRequest"
      },
      "output": {
        "target": "com.azure.managednetworkfabric#UpdateAdministrativeStateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies/{routePolicyName}/updateAdministrativeState",
          "code": 200,
          "apiVersion": "2025-07-15"
        },
        "smithy.api#documentation": "Updated the admin state for this Route Policy.",
        "com.distilled.openapi#apiVersion": "2025-07-15"
      }
    },
    "com.azure.managednetworkfabric#UpdateAdministrativeStateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseError",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID of the resource against which the original async operation was started."
          }
        },
        "properties": {
          "target": "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseProperties",
          "traits": {
            "smithy.api#documentation": "Response properties in case of successful administrative state update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update Administrative State Response."
      }
    },
    "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseProperties": {
      "type": "structure",
      "members": {
        "successfulResources": {
          "target": "com.azure.managednetworkfabric#UpdateAdministrativeStateResponsePropertiesSuccessfulResourcesList",
          "traits": {
            "smithy.api#documentation": "List of ARM Resource IDs for which the given action applied successfully."
          }
        },
        "failedResources": {
          "target": "com.azure.managednetworkfabric#UpdateAdministrativeStateResponsePropertiesFailedResourcesList",
          "traits": {
            "smithy.api#documentation": "List of ARM Resource IDs for which the given action failed to apply."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update Administrative State Response Properties."
      }
    },
    "com.azure.managednetworkfabric#UpdateAdministrativeStateResponsePropertiesFailedResourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of ARM Resource IDs for which the given action failed to apply."
      }
    },
    "com.azure.managednetworkfabric#UpdateAdministrativeStateResponsePropertiesSuccessfulResourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of ARM Resource IDs for which the given action applied successfully."
      }
    },
    "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseErrorAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseErrorAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseOperationsItem"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseOperationsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID of the resource against which the original async operation was started."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseOperationsItemOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.managednetworkfabric#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of an async operation."
      }
    },
    "com.azure.managednetworkfabric#UpdateAdministrativeStateResponseOperationsItemOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.managednetworkfabric#OperationStatusResult": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID of the resource against which the original async operation was started."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.managednetworkfabric#OperationStatusResultOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.managednetworkfabric#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of an async operation."
      }
    },
    "com.azure.managednetworkfabric#OperationStatusResultOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.managednetworkfabric#UpdateRoutePolicyAdministrativeStateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "routePolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Route Policy."
          }
        },
        "resourceIds": {
          "target": "com.azure.managednetworkfabric#RoutePoliciesUpdateAdministrativeStateRequestResourceIdsList",
          "traits": {
            "smithy.api#documentation": "Network Fabrics or Network Rack resource Id."
          }
        },
        "state": {
          "target": "com.azure.managednetworkfabric#EnableDisableState",
          "traits": {
            "smithy.api#documentation": "Administrative state."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managednetworkfabric#EnableDisableState": {
      "type": "enum",
      "members": {
        "ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enable"
          }
        },
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disable"
          }
        },
        "UNDERMAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnderMaintenance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Administrative state."
      }
    },
    "com.azure.managednetworkfabric#RoutePoliciesUpdateAdministrativeStateRequestResourceIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Network Fabrics or Network Rack resource Id."
      }
    },
    "com.azure.managednetworkfabric#RoutePoliciesCommitConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.azure.managednetworkfabric#RoutePoliciesCommitConfigurationRequest"
      },
      "output": {
        "target": "com.azure.managednetworkfabric#RoutePoliciesCommitConfigurationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies/{routePolicyName}/commitConfiguration",
          "code": 200,
          "apiVersion": "2025-07-15"
        },
        "smithy.api#documentation": "Commits the configuration of the given resources.",
        "com.distilled.openapi#apiVersion": "2025-07-15"
      }
    },
    "com.azure.managednetworkfabric#RoutePoliciesCommitConfigurationResponse": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.azure.managednetworkfabric#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "The error object."
          }
        },
        "configurationState": {
          "target": "com.azure.managednetworkfabric#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "Gets the configuration state."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.managednetworkfabric#RoutePoliciesCommitConfigurationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "routePolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Route Policy."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managednetworkfabric#DeleteRoutePolicy": {
      "type": "operation",
      "input": {
        "target": "com.azure.managednetworkfabric#DeleteRoutePolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies/{routePolicyName}",
          "code": 200,
          "apiVersion": "2025-07-15"
        },
        "smithy.api#documentation": "Implements Route Policy DELETE method.",
        "com.distilled.openapi#apiVersion": "2025-07-15"
      }
    },
    "com.azure.managednetworkfabric#DeleteRoutePolicyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "routePolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Route Policy."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managednetworkfabric#UpdateRoutePolicy": {
      "type": "operation",
      "input": {
        "target": "com.azure.managednetworkfabric#UpdateRoutePolicyRequest"
      },
      "output": {
        "target": "com.azure.managednetworkfabric#UpdateRoutePolicyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies/{routePolicyName}",
          "code": 200,
          "apiVersion": "2025-07-15"
        },
        "smithy.api#documentation": "API to update certain properties of the Route Policy resource.",
        "com.distilled.openapi#apiVersion": "2025-07-15"
      }
    },
    "com.azure.managednetworkfabric#UpdateRoutePolicyResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.managednetworkfabric#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.managednetworkfabric#RoutePoliciesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.managednetworkfabric#RoutePolicyProperties",
          "traits": {
            "smithy.api#documentation": "The RoutePolicy properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyProperties": {
      "type": "structure",
      "members": {
        "annotation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Switch configuration description."
          }
        },
        "defaultAction": {
          "target": "com.azure.managednetworkfabric#RoutePolicyPropertiesDefaultAction",
          "traits": {
            "smithy.api#documentation": "Default action that needs to be applied when no condition is matched. Example: Permit | Deny."
          }
        },
        "statements": {
          "target": "com.azure.managednetworkfabric#RoutePolicyPropertiesStatementsList",
          "traits": {
            "smithy.api#documentation": "Route Policy statements.",
            "smithy.api#required": {}
          }
        },
        "networkFabricId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arm Resource ID of Network Fabric.",
            "smithy.api#required": {}
          }
        },
        "addressFamilyType": {
          "target": "com.azure.managednetworkfabric#RoutePolicyPropertiesAddressFamilyType",
          "traits": {
            "smithy.api#documentation": "AddressFamilyType. This parameter decides whether the given ipv4 or ipv6 route policy."
          }
        },
        "lastOperation": {
          "target": "com.azure.managednetworkfabric#LastOperationProperties",
          "traits": {
            "smithy.api#documentation": "Details of the last operation performed on the resource"
          }
        },
        "configurationState": {
          "target": "com.azure.managednetworkfabric#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "Configuration state of the resource."
          }
        },
        "provisioningState": {
          "target": "com.azure.managednetworkfabric#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        },
        "administrativeState": {
          "target": "com.azure.managednetworkfabric#AdministrativeState",
          "traits": {
            "smithy.api#documentation": "Administrative state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RoutePolicyProperties defines the resource properties."
      }
    },
    "com.azure.managednetworkfabric#AdministrativeState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "MAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAT"
          }
        },
        "RMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RMA"
          }
        },
        "UNDERMAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnderMaintenance"
          }
        },
        "ENABLEDDEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnabledDegraded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State defined to represent administrative actions or post actions on a particular resource."
      }
    },
    "com.azure.managednetworkfabric#ProvisioningState": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.managednetworkfabric#LastOperationProperties": {
      "type": "structure",
      "members": {
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Details status of the last operation performed on the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the last operations performed on the resource"
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyPropertiesAddressFamilyType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AddressFamilyType. This parameter decides whether the given ipv4 or ipv6 route policy."
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyPropertiesStatementsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#RoutePolicyStatementProperties"
      },
      "traits": {
        "smithy.api#documentation": "Route Policy statements."
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyStatementProperties": {
      "type": "structure",
      "members": {
        "annotation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Switch configuration description."
          }
        },
        "sequenceNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sequence to insert to/delete from existing route.",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.azure.managednetworkfabric#StatementConditionProperties",
          "traits": {
            "smithy.api#documentation": "Route policy condition properties.",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.azure.managednetworkfabric#StatementActionProperties",
          "traits": {
            "smithy.api#documentation": "Route policy action properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Route Policy Statement properties."
      }
    },
    "com.azure.managednetworkfabric#StatementActionProperties": {
      "type": "structure",
      "members": {
        "localPreference": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Local Preference of the route policy."
          }
        },
        "actionType": {
          "target": "com.azure.managednetworkfabric#RoutePolicyActionType",
          "traits": {
            "smithy.api#documentation": "Action type. Example: Permit | Deny | Continue.",
            "smithy.api#required": {}
          }
        },
        "ipCommunityProperties": {
          "target": "com.azure.managednetworkfabric#ActionIpCommunityProperties",
          "traits": {
            "smithy.api#documentation": "IP Community Properties."
          }
        },
        "ipExtendedCommunityProperties": {
          "target": "com.azure.managednetworkfabric#ActionIpExtendedCommunityProperties",
          "traits": {
            "smithy.api#documentation": "IP Extended Community Properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Route policy action properties."
      }
    },
    "com.azure.managednetworkfabric#ActionIpExtendedCommunityProperties": {
      "type": "structure",
      "members": {
        "add": {
          "target": "com.azure.managednetworkfabric#IpExtendedCommunityIdList",
          "traits": {
            "smithy.api#documentation": "List of IP Extended Community IDs."
          }
        },
        "delete": {
          "target": "com.azure.managednetworkfabric#IpExtendedCommunityIdList",
          "traits": {
            "smithy.api#documentation": "List of IP Extended Community IDs."
          }
        },
        "set": {
          "target": "com.azure.managednetworkfabric#IpExtendedCommunityIdList",
          "traits": {
            "smithy.api#documentation": "List of IP Extended Community IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP Extended Community Properties."
      }
    },
    "com.azure.managednetworkfabric#IpExtendedCommunityIdList": {
      "type": "structure",
      "members": {
        "ipExtendedCommunityIds": {
          "target": "com.azure.managednetworkfabric#IpExtendedCommunityIdListIpExtendedCommunityIdsList",
          "traits": {
            "smithy.api#documentation": "List of IP Extended Community resource IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP Extended Community Id list properties."
      }
    },
    "com.azure.managednetworkfabric#IpExtendedCommunityIdListIpExtendedCommunityIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IP Extended Community resource IDs."
      }
    },
    "com.azure.managednetworkfabric#ActionIpCommunityProperties": {
      "type": "structure",
      "members": {
        "add": {
          "target": "com.azure.managednetworkfabric#IpCommunityIdList",
          "traits": {
            "smithy.api#documentation": "List of IP Community IDs."
          }
        },
        "delete": {
          "target": "com.azure.managednetworkfabric#IpCommunityIdList",
          "traits": {
            "smithy.api#documentation": "List of IP Community IDs."
          }
        },
        "set": {
          "target": "com.azure.managednetworkfabric#IpCommunityIdList",
          "traits": {
            "smithy.api#documentation": "List of IP Community IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP Community Properties."
      }
    },
    "com.azure.managednetworkfabric#IpCommunityIdList": {
      "type": "structure",
      "members": {
        "ipCommunityIds": {
          "target": "com.azure.managednetworkfabric#IpCommunityIdListIpCommunityIdsList",
          "traits": {
            "smithy.api#documentation": "List of IP Community resource IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP Community ID list properties."
      }
    },
    "com.azure.managednetworkfabric#IpCommunityIdListIpCommunityIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IP Community resource IDs."
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyActionType": {
      "type": "enum",
      "members": {
        "PERMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Permit"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deny"
          }
        },
        "CONTINUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Continue"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action type. Example: Permit | Deny | Continue."
      }
    },
    "com.azure.managednetworkfabric#StatementConditionProperties": {
      "type": "structure",
      "members": {
        "ipCommunityIds": {
          "target": "com.azure.managednetworkfabric#StatementConditionPropertiesIpCommunityIdsList",
          "traits": {
            "smithy.api#documentation": "List of IP Community resource IDs."
          }
        },
        "ipExtendedCommunityIds": {
          "target": "com.azure.managednetworkfabric#StatementConditionPropertiesIpExtendedCommunityIdsList",
          "traits": {
            "smithy.api#documentation": "List of IP Extended Community resource IDs."
          }
        },
        "type": {
          "target": "com.azure.managednetworkfabric#StatementConditionPropertiesType",
          "traits": {
            "smithy.api#documentation": "Type of the condition used."
          }
        },
        "ipPrefixId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arm Resource Id of IpPrefix."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Route policy statement condition properties."
      }
    },
    "com.azure.managednetworkfabric#StatementConditionPropertiesType": {
      "type": "enum",
      "members": {
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Or"
          }
        },
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "And"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the condition used."
      }
    },
    "com.azure.managednetworkfabric#StatementConditionPropertiesIpExtendedCommunityIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IP Extended Community resource IDs."
      }
    },
    "com.azure.managednetworkfabric#StatementConditionPropertiesIpCommunityIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IP Community resource IDs."
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyPropertiesDefaultAction": {
      "type": "enum",
      "members": {
        "PERMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Permit"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deny"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default action that needs to be applied when no condition is matched. Example: Permit | Deny."
      }
    },
    "com.azure.managednetworkfabric#RoutePoliciesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.managednetworkfabric#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.managednetworkfabric#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.managednetworkfabric#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.managednetworkfabric#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.managednetworkfabric#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.managednetworkfabric#UpdateRoutePolicyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "routePolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Route Policy."
          }
        },
        "tags": {
          "target": "com.azure.managednetworkfabric#RoutePoliciesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.managednetworkfabric#RoutePolicyPatchableProperties",
          "traits": {
            "smithy.api#documentation": "The RoutePolicy patchable properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyPatchableProperties": {
      "type": "structure",
      "members": {
        "defaultAction": {
          "target": "com.azure.managednetworkfabric#CommunityActionTypes",
          "traits": {
            "smithy.api#documentation": "Default action that needs to be applied when no condition is matched. Example: Permit | Deny."
          }
        },
        "statements": {
          "target": "com.azure.managednetworkfabric#RoutePolicyPatchablePropertiesStatementsList",
          "traits": {
            "smithy.api#documentation": "Route Policy statements."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Route Policy patchable properties."
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyPatchablePropertiesStatementsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#RoutePolicyStatementPatchProperties"
      },
      "traits": {
        "smithy.api#documentation": "Route Policy statements."
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyStatementPatchProperties": {
      "type": "structure",
      "members": {
        "annotation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Switch configuration description."
          }
        },
        "sequenceNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sequence to insert to/delete from existing route.",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.azure.managednetworkfabric#StatementConditionPatchProperties",
          "traits": {
            "smithy.api#documentation": "Route policy condition properties.",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.azure.managednetworkfabric#StatementActionPatchProperties",
          "traits": {
            "smithy.api#documentation": "Route policy action properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Route Policy Statement properties."
      }
    },
    "com.azure.managednetworkfabric#StatementActionPatchProperties": {
      "type": "structure",
      "members": {
        "localPreference": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Local Preference of the route policy."
          }
        },
        "actionType": {
          "target": "com.azure.managednetworkfabric#RoutePolicyActionType",
          "traits": {
            "smithy.api#documentation": "Action type. Example: Permit | Deny | Continue.",
            "smithy.api#required": {}
          }
        },
        "ipCommunityProperties": {
          "target": "com.azure.managednetworkfabric#ActionIpCommunityPatchProperties",
          "traits": {
            "smithy.api#documentation": "IP Community Properties."
          }
        },
        "ipExtendedCommunityProperties": {
          "target": "com.azure.managednetworkfabric#ActionIpExtendedCommunityPatchProperties",
          "traits": {
            "smithy.api#documentation": "IP Extended Community Properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Route policy action properties"
      }
    },
    "com.azure.managednetworkfabric#ActionIpExtendedCommunityPatchProperties": {
      "type": "structure",
      "members": {
        "add": {
          "target": "com.azure.managednetworkfabric#IpExtendedCommunityIdList",
          "traits": {
            "smithy.api#documentation": "List of IP Extended Community IDs."
          }
        },
        "delete": {
          "target": "com.azure.managednetworkfabric#IpExtendedCommunityIdList",
          "traits": {
            "smithy.api#documentation": "List of IP Extended Community IDs."
          }
        },
        "set": {
          "target": "com.azure.managednetworkfabric#IpExtendedCommunityIdList",
          "traits": {
            "smithy.api#documentation": "List of IP Extended Community IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP Extended Community Properties."
      }
    },
    "com.azure.managednetworkfabric#ActionIpCommunityPatchProperties": {
      "type": "structure",
      "members": {
        "add": {
          "target": "com.azure.managednetworkfabric#IpCommunityIdList",
          "traits": {
            "smithy.api#documentation": "List of IP Community IDs."
          }
        },
        "delete": {
          "target": "com.azure.managednetworkfabric#IpCommunityIdList",
          "traits": {
            "smithy.api#documentation": "List of IP Community IDs."
          }
        },
        "set": {
          "target": "com.azure.managednetworkfabric#IpCommunityIdList",
          "traits": {
            "smithy.api#documentation": "List of IP Community IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP Community Properties."
      }
    },
    "com.azure.managednetworkfabric#StatementConditionPatchProperties": {
      "type": "structure",
      "members": {
        "ipCommunityIds": {
          "target": "com.azure.managednetworkfabric#StatementConditionPatchPropertiesIpCommunityIdsList",
          "traits": {
            "smithy.api#documentation": "List of IP Community resource IDs."
          }
        },
        "ipExtendedCommunityIds": {
          "target": "com.azure.managednetworkfabric#StatementConditionPatchPropertiesIpExtendedCommunityIdsList",
          "traits": {
            "smithy.api#documentation": "List of IP Extended Community resource IDs."
          }
        },
        "type": {
          "target": "com.azure.managednetworkfabric#RoutePolicyConditionType",
          "traits": {
            "smithy.api#documentation": "Type of the condition used."
          }
        },
        "ipPrefixId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arm Resource Id of IpPrefix."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Route policy statement condition properties."
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyConditionType": {
      "type": "enum",
      "members": {
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Or"
          }
        },
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "And"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the condition used."
      }
    },
    "com.azure.managednetworkfabric#StatementConditionPatchPropertiesIpExtendedCommunityIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IP Extended Community resource IDs."
      }
    },
    "com.azure.managednetworkfabric#StatementConditionPatchPropertiesIpCommunityIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IP Community resource IDs."
      }
    },
    "com.azure.managednetworkfabric#CommunityActionTypes": {
      "type": "enum",
      "members": {
        "PERMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Permit"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deny"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Community action types. Example: Permit | Deny."
      }
    },
    "com.azure.managednetworkfabric#RoutePoliciesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.managednetworkfabric#CreateRoutePolicy": {
      "type": "operation",
      "input": {
        "target": "com.azure.managednetworkfabric#CreateRoutePolicyRequest"
      },
      "output": {
        "target": "com.azure.managednetworkfabric#CreateRoutePolicyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies/{routePolicyName}",
          "code": 200,
          "apiVersion": "2025-07-15"
        },
        "smithy.api#documentation": "Implements Route Policy PUT method.",
        "com.distilled.openapi#apiVersion": "2025-07-15"
      }
    },
    "com.azure.managednetworkfabric#CreateRoutePolicyResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.managednetworkfabric#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.managednetworkfabric#RoutePoliciesCreateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.managednetworkfabric#RoutePolicyProperties",
          "traits": {
            "smithy.api#documentation": "The RoutePolicy properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.managednetworkfabric#RoutePoliciesCreateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.managednetworkfabric#CreateRoutePolicyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "routePolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Route Policy."
          }
        },
        "tags": {
          "target": "com.azure.managednetworkfabric#RoutePoliciesCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.managednetworkfabric#RoutePolicyPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The RoutePolicy properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyPropertiesInput": {
      "type": "structure",
      "members": {
        "annotation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Switch configuration description."
          }
        },
        "defaultAction": {
          "target": "com.azure.managednetworkfabric#RoutePolicyPropertiesInputDefaultAction",
          "traits": {
            "smithy.api#documentation": "Default action that needs to be applied when no condition is matched. Example: Permit | Deny."
          }
        },
        "statements": {
          "target": "com.azure.managednetworkfabric#RoutePolicyPropertiesInputStatementsList",
          "traits": {
            "smithy.api#documentation": "Route Policy statements.",
            "smithy.api#required": {}
          }
        },
        "networkFabricId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arm Resource ID of Network Fabric.",
            "smithy.api#required": {}
          }
        },
        "addressFamilyType": {
          "target": "com.azure.managednetworkfabric#RoutePolicyPropertiesInputAddressFamilyType",
          "traits": {
            "smithy.api#documentation": "AddressFamilyType. This parameter decides whether the given ipv4 or ipv6 route policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RoutePolicyProperties defines the resource properties."
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyPropertiesInputAddressFamilyType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AddressFamilyType. This parameter decides whether the given ipv4 or ipv6 route policy."
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyPropertiesInputStatementsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#RoutePolicyStatementProperties"
      },
      "traits": {
        "smithy.api#documentation": "Route Policy statements."
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyPropertiesInputDefaultAction": {
      "type": "enum",
      "members": {
        "PERMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Permit"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deny"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default action that needs to be applied when no condition is matched. Example: Permit | Deny."
      }
    },
    "com.azure.managednetworkfabric#RoutePoliciesCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.managednetworkfabric#GetRoutePolicy": {
      "type": "operation",
      "input": {
        "target": "com.azure.managednetworkfabric#GetRoutePolicyRequest"
      },
      "output": {
        "target": "com.azure.managednetworkfabric#GetRoutePolicyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies/{routePolicyName}",
          "code": 200,
          "apiVersion": "2025-07-15"
        },
        "smithy.api#documentation": "Implements Route Policy GET method.",
        "com.distilled.openapi#apiVersion": "2025-07-15"
      }
    },
    "com.azure.managednetworkfabric#GetRoutePolicyResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.managednetworkfabric#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.managednetworkfabric#RoutePoliciesGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.managednetworkfabric#RoutePolicyProperties",
          "traits": {
            "smithy.api#documentation": "The RoutePolicy properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.managednetworkfabric#RoutePoliciesGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.managednetworkfabric#GetRoutePolicyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "routePolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Route Policy."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managednetworkfabric#ListRoutePolicyByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.managednetworkfabric#ListRoutePolicyByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.managednetworkfabric#RoutePoliciesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies",
          "code": 200,
          "apiVersion": "2025-07-15"
        },
        "smithy.api#documentation": "Implements RoutePolicies list by resource group GET method.",
        "com.distilled.openapi#apiVersion": "2025-07-15"
      }
    },
    "com.azure.managednetworkfabric#RoutePoliciesListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.managednetworkfabric#RoutePoliciesListResultValueList",
          "traits": {
            "smithy.api#documentation": "The RoutePolicy items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of RoutePolicy items"
      }
    },
    "com.azure.managednetworkfabric#RoutePoliciesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#RoutePolicy"
      },
      "traits": {
        "smithy.api#documentation": "The RoutePolicy items on this page"
      }
    },
    "com.azure.managednetworkfabric#RoutePolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.managednetworkfabric#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.managednetworkfabric#RoutePolicyTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.managednetworkfabric#RoutePolicyProperties",
          "traits": {
            "smithy.api#documentation": "The RoutePolicy properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The RoutePolicy resource definition."
      }
    },
    "com.azure.managednetworkfabric#RoutePolicyTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.managednetworkfabric#ListRoutePolicyByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managednetworkfabric#UpdateNetworkTapAdministrativeState": {
      "type": "operation",
      "input": {
        "target": "com.azure.managednetworkfabric#UpdateNetworkTapAdministrativeStateRequest"
      },
      "output": {
        "target": "com.azure.managednetworkfabric#UpdateAdministrativeStateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkTaps/{networkTapName}/updateAdministrativeState",
          "code": 200,
          "apiVersion": "2025-07-15"
        },
        "smithy.api#documentation": "Implements the operation to the underlying resources.",
        "com.distilled.openapi#apiVersion": "2025-07-15"
      }
    },
    "com.azure.managednetworkfabric#UpdateNetworkTapAdministrativeStateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "networkTapName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Network Tap."
          }
        },
        "resourceIds": {
          "target": "com.azure.managednetworkfabric#NetworkTapsUpdateAdministrativeStateRequestResourceIdsList",
          "traits": {
            "smithy.api#documentation": "Network Fabrics or Network Rack resource Id."
          }
        },
        "state": {
          "target": "com.azure.managednetworkfabric#EnableDisableState",
          "traits": {
            "smithy.api#documentation": "Administrative state."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managednetworkfabric#NetworkTapsUpdateAdministrativeStateRequestResourceIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Network Fabrics or Network Rack resource Id."
      }
    },
    "com.azure.managednetworkfabric#NetworkTapsResync": {
      "type": "operation",
      "input": {
        "target": "com.azure.managednetworkfabric#NetworkTapsResyncRequest"
      },
      "output": {
        "target": "com.azure.managednetworkfabric#NetworkTapResyncResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkTaps/{networkTapName}/resync",
          "code": 200,
          "apiVersion": "2025-07-15"
        },
        "smithy.api#documentation": "Implements the operation to the underlying resources.",
        "com.distilled.openapi#apiVersion": "2025-07-15"
      }
    },
    "com.azure.managednetworkfabric#NetworkTapResyncResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.managednetworkfabric#NetworkTapResyncResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.managednetworkfabric#NetworkTapResyncResponseError",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID of the resource against which the original async operation was started."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for NetworkTap Resync operation."
      }
    },
    "com.azure.managednetworkfabric#NetworkTapResyncResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.managednetworkfabric#NetworkTapResyncResponseErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.managednetworkfabric#NetworkTapResyncResponseErrorAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.managednetworkfabric#NetworkTapResyncResponseErrorAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.managednetworkfabric#NetworkTapResyncResponseErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.managednetworkfabric#NetworkTapResyncResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#NetworkTapResyncResponseOperationsItem"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.managednetworkfabric#NetworkTapResyncResponseOperationsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID of the resource against which the original async operation was started."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.managednetworkfabric#NetworkTapResyncResponseOperationsItemOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.managednetworkfabric#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of an async operation."
      }
    },
    "com.azure.managednetworkfabric#NetworkTapResyncResponseOperationsItemOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.managednetworkfabric#NetworkTapsResyncRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "networkTapName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Network Tap."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managednetworkfabric#DeleteNetworkTap": {
      "type": "operation",
      "input": {
        "target": "com.azure.managednetworkfabric#DeleteNetworkTapRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkTaps/{networkTapName}",
          "code": 200,
          "apiVersion": "2025-07-15"
        },
        "smithy.api#documentation": "Deletes Network Tap.",
        "com.distilled.openapi#apiVersion": "2025-07-15"
      }
    },
    "com.azure.managednetworkfabric#DeleteNetworkTapRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "networkTapName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Network Tap."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managednetworkfabric#UpdateNetworkTap": {
      "type": "operation",
      "input": {
        "target": "com.azure.managednetworkfabric#UpdateNetworkTapRequest"
      },
      "output": {
        "target": "com.azure.managednetworkfabric#UpdateNetworkTapResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkTaps/{networkTapName}",
          "code": 200,
          "apiVersion": "2025-07-15"
        },
        "smithy.api#documentation": "API to update certain properties of the Network Tap resource.",
        "com.distilled.openapi#apiVersion": "2025-07-15"
      }
    },
    "com.azure.managednetworkfabric#UpdateNetworkTapResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.managednetworkfabric#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.managednetworkfabric#NetworkTapsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.managednetworkfabric#NetworkTapProperties",
          "traits": {
            "smithy.api#documentation": "The NetworkTap Properties",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.managednetworkfabric#NetworkTapsUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.managednetworkfabric#NetworkTapsUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.managednetworkfabric#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.managednetworkfabric#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.managednetworkfabric#UserAssignedIdentities": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.managednetworkfabric#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.managednetworkfabric#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.managednetworkfabric#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.managednetworkfabric#NetworkTapProperties": {
      "type": "structure",
      "members": {
        "annotation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Switch configuration description."
          }
        },
        "networkPacketBrokerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM resource ID of the Network Packet Broker.",
            "smithy.api#required": {}
          }
        },
        "sourceTapRuleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source Tap Rule Id. ARM Resource ID of the Network Tap Rule."
          }
        },
        "networkFabricIds": {
          "target": "com.azure.managednetworkfabric#NetworkTapPropertiesNetworkFabricIdsList",
          "traits": {
            "smithy.api#documentation": "Associated Network Fabric Resource IDs"
          }
        },
        "destinations": {
          "target": "com.azure.managednetworkfabric#NetworkTapPropertiesDestinationsList",
          "traits": {
            "smithy.api#documentation": "List of destinations to send the filter traffic.",
            "smithy.api#required": {}
          }
        },
        "pollingType": {
          "target": "com.azure.managednetworkfabric#NetworkTapPropertiesPollingType",
          "traits": {
            "smithy.api#documentation": "Polling type."
          }
        },
        "lastOperation": {
          "target": "com.azure.managednetworkfabric#LastOperationProperties",
          "traits": {
            "smithy.api#documentation": "Details of the last operation performed on the resource"
          }
        },
        "configurationState": {
          "target": "com.azure.managednetworkfabric#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "Gets the configurations state of the resource."
          }
        },
        "provisioningState": {
          "target": "com.azure.managednetworkfabric#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provides you the latest status of the NFC service, whether it is Accepted, updating, Succeeded or Failed. During this process, the states keep changing based on the status of Network Tap provisioning."
          }
        },
        "administrativeState": {
          "target": "com.azure.managednetworkfabric#AdministrativeState",
          "traits": {
            "smithy.api#documentation": "Administrative state of the resource. Example -Enabled/Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network Tap Properties defines the properties of the resource."
      }
    },
    "com.azure.managednetworkfabric#NetworkTapPropertiesPollingType": {
      "type": "enum",
      "members": {
        "PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pull"
          }
        },
        "PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Push"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Polling type."
      }
    },
    "com.azure.managednetworkfabric#NetworkTapPropertiesDestinationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managednetworkfabric#DestinationProperties"
      },
      "traits": {
        "smithy.api#documentation": "List of destinations to send the filter traffic."
      }
    },
    "com.azure.managednetworkfabric#DestinationProperties": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination name.",
            "smithy.api#required": {}
          }
        },
        "destinationType": {
          "target": "com.azure.managednetworkfabric#DestinationType",
          "traits": {
            "smithy.api#documentation": "Type of destination. Input can be IsolationDomain or Direct.",
            "smithy.api#required": {}
          }
        },
        "destinationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The destination Id. ARM Resource ID of either NNI or Internal Networks.",
            "smithy.api#required": {}
          }
        },
        "isolationDomainProperties": {
          "target": "com.azure.managednetworkfabric#IsolationDomainProperties",
          "traits": {
            "smithy.api#documentation": "Isolation Domain Properties."
          }
        },
        "destinationTapRuleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM Resource ID of destination Tap Rule that contains match configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The network tap destination properties."
      }
    },
    "com.azure.managednetworkfabric#IsolationDomainProperties": {
      "type": "structure",
      "members": {
        "encapsulation": {
          "target": "com.azure.managednetworkfabric#Encapsulation",
          "traits": {
            "smithy.api#documentation": "Type of encapsulation."
          }
        },
        "neighborGroupIds": {
          "target": "com.azure.managednetworkfabric#IsolationDomainPropertiesNeighborGroupIdsList",
          "traits": {
            "smithy.api#documentation": "List of Neighbor Group IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Isolation Domain Properties."
      }
    },
    "com.azure.managednetworkfabric#IsolationDomainPropertiesNeighborGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of Neighbor Group IDs."
      }
    },
    "com.azure.managednetworkfabric#Encapsulation": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "GRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of encapsulation."
      }
    },
    "com.azure.managednetworkfabric#DestinationType": {
      "type": "enum",
      "members": {
        "ISOLATIONDOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IsolationDomain"
          }
        },
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Direct"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of destination. Input can be IsolationDomain or Direct."
      }
    },
    "com.azure.managednetworkfabric#NetworkTapPropertiesNetworkFabricIdsList": {
      "type": "list",
      "member": {
[...]
