{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.mission#DeleteWorkload": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#DeleteWorkloadRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/workloads/{workloadName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Delete a WorkloadResource",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#DeleteWorkloadRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        },
        "workloadName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workloadResource Resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#UpdateWorkload": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#UpdateWorkloadRequest"
      },
      "output": {
        "target": "com.azure.mission#UpdateWorkloadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/workloads/{workloadName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Update a WorkloadResource",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#UpdateWorkloadResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mission#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.mission#WorkloadUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.mission#WorkloadProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.mission#WorkloadProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.mission#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning State."
          }
        },
        "resourceGroupCollection": {
          "target": "com.azure.mission#WorkloadPropertiesResourceGroupCollectionList",
          "traits": {
            "smithy.api#documentation": "List of resource group ids."
          }
        },
        "managedOnBehalfOfConfiguration": {
          "target": "com.azure.mission#WorkloadPropertiesManagedOnBehalfOfConfiguration",
          "traits": {
            "smithy.api#documentation": "Managed-On-Behalf-Of configuration properties. This configuration exists for the resources where a resource provider manages those resources on behalf of the resource owner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workload Resource properties"
      }
    },
    "com.azure.mission#WorkloadPropertiesManagedOnBehalfOfConfiguration": {
      "type": "structure",
      "members": {
        "moboBrokerResources": {
          "target": "com.azure.mission#WorkloadPropertiesManagedOnBehalfOfConfigurationMoboBrokerResourcesList",
          "traits": {
            "smithy.api#documentation": "Managed-On-Behalf-Of broker resources"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed-On-Behalf-Of configuration properties. This configuration exists for the resources where a resource provider manages those resources on behalf of the resource owner."
      }
    },
    "com.azure.mission#WorkloadPropertiesManagedOnBehalfOfConfigurationMoboBrokerResourcesList": {
      "type": "list",
      "member": {
        "target": "com.azure.mission#MoboBrokerResource"
      },
      "traits": {
        "smithy.api#documentation": "Managed-On-Behalf-Of broker resources"
      }
    },
    "com.azure.mission#MoboBrokerResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource identifier of a Managed-On-Behalf-Of broker resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed-On-Behalf-Of broker resource. This resource is created by the Resource Provider to manage some resources on behalf of the user."
      }
    },
    "com.azure.mission#WorkloadPropertiesResourceGroupCollectionList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of resource group ids."
      }
    },
    "com.azure.mission#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning status of the resource."
      }
    },
    "com.azure.mission#WorkloadUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.mission#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.mission#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.mission#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.mission#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.mission#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.mission#UpdateWorkloadRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        },
        "workloadName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workloadResource Resource"
          }
        },
        "properties": {
          "target": "com.azure.mission#WorkloadPatchProperties",
          "traits": {
            "smithy.api#documentation": "Workload Patch properties"
          }
        },
        "tags": {
          "target": "com.azure.mission#WorkloadUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#WorkloadUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.mission#WorkloadPatchProperties": {
      "type": "structure",
      "members": {
        "resourceGroupCollection": {
          "target": "com.azure.mission#WorkloadPatchPropertiesResourceGroupCollectionList",
          "traits": {
            "smithy.api#documentation": "List of resource group ids."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workload patchable Properties"
      }
    },
    "com.azure.mission#WorkloadPatchPropertiesResourceGroupCollectionList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of resource group ids."
      }
    },
    "com.azure.mission#WorkloadCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#WorkloadCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.mission#WorkloadCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/workloads/{workloadName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Create a WorkloadResource",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#WorkloadCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mission#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.mission#WorkloadCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.mission#WorkloadProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.mission#WorkloadCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.mission#WorkloadCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        },
        "workloadName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workloadResource Resource"
          }
        },
        "tags": {
          "target": "com.azure.mission#WorkloadCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.mission#WorkloadPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#WorkloadPropertiesInput": {
      "type": "structure",
      "members": {
        "resourceGroupCollection": {
          "target": "com.azure.mission#WorkloadPropertiesInputResourceGroupCollectionList",
          "traits": {
            "smithy.api#documentation": "List of resource group ids."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workload Resource properties"
      }
    },
    "com.azure.mission#WorkloadPropertiesInputResourceGroupCollectionList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of resource group ids."
      }
    },
    "com.azure.mission#WorkloadCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.mission#GetWorkload": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#GetWorkloadRequest"
      },
      "output": {
        "target": "com.azure.mission#GetWorkloadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/workloads/{workloadName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Get a WorkloadResource",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#GetWorkloadResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mission#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.mission#WorkloadGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.mission#WorkloadProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.mission#WorkloadGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.mission#GetWorkloadRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        },
        "workloadName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workloadResource Resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#ListWorkloadByEnclaveResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#ListWorkloadByEnclaveResourceRequest"
      },
      "output": {
        "target": "com.azure.mission#WorkloadResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/workloads",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "List WorkloadResource resources by EnclaveResource",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#WorkloadResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.mission#WorkloadResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The WorkloadResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a WorkloadResource list operation."
      }
    },
    "com.azure.mission#WorkloadResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.mission#WorkloadResource"
      },
      "traits": {
        "smithy.api#documentation": "The WorkloadResource items on this page"
      }
    },
    "com.azure.mission#WorkloadResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mission#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.mission#WorkloadResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.mission#WorkloadProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workload Model Resource"
      }
    },
    "com.azure.mission#WorkloadResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.mission#ListWorkloadByEnclaveResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#VirtualEnclaveHandleApprovalDeletion": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#VirtualEnclaveHandleApprovalDeletionRequest"
      },
      "output": {
        "target": "com.azure.mission#ApprovalActionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/handleApprovalDeletion",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Callback that triggers on approval deletion state change.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#ApprovalActionResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Confirmation message indicating the result of the operation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response body after handling of approvalCallbackRequest"
      }
    },
    "com.azure.mission#VirtualEnclaveHandleApprovalDeletionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        },
        "resourceRequestAction": {
          "target": "com.azure.mission#VirtualEnclaveHandleApprovalDeletionRequestResourceRequestAction",
          "traits": {
            "smithy.api#documentation": "Resource request action indicating action which needed to be performed upon calling approval-deletion-callback post action",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#VirtualEnclaveHandleApprovalDeletionRequestResourceRequestAction": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Create"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Update"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource request action indicating action which needed to be performed upon calling approval-deletion-callback post action"
      }
    },
    "com.azure.mission#VirtualEnclaveHandleApprovalCreation": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#VirtualEnclaveHandleApprovalCreationRequest"
      },
      "output": {
        "target": "com.azure.mission#ApprovalActionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/handleApprovalCreation",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Callback that triggers on approval state change.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#VirtualEnclaveHandleApprovalCreationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        },
        "resourceRequestAction": {
          "target": "com.azure.mission#VirtualEnclaveHandleApprovalCreationRequestResourceRequestAction",
          "traits": {
            "smithy.api#documentation": "Resource request action indicating action which needed to be performed upon calling approval-callback post action",
            "smithy.api#required": {}
          }
        },
        "approvalStatus": {
          "target": "com.azure.mission#VirtualEnclaveHandleApprovalCreationRequestApprovalStatus",
          "traits": {
            "smithy.api#documentation": "Approval status indicating 'Approved' or 'Rejected'",
            "smithy.api#required": {}
          }
        },
        "approvalCallbackPayload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Payload requested by client upon approval action"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#VirtualEnclaveHandleApprovalCreationRequestApprovalStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Approval status indicating 'Approved' or 'Rejected'"
      }
    },
    "com.azure.mission#VirtualEnclaveHandleApprovalCreationRequestResourceRequestAction": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Create"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Update"
          }
        },
        "RESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reset"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource request action indicating action which needed to be performed upon calling approval-callback post action"
      }
    },
    "com.azure.mission#EnclaveEndpointsHandleApprovalDeletion": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#EnclaveEndpointsHandleApprovalDeletionRequest"
      },
      "output": {
        "target": "com.azure.mission#ApprovalActionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/enclaveEndpoints/{enclaveEndpointName}/handleApprovalDeletion",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Callback that triggers on approval deletion state change.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#EnclaveEndpointsHandleApprovalDeletionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        },
        "enclaveEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Enclave Endpoint Resource"
          }
        },
        "resourceRequestAction": {
          "target": "com.azure.mission#EnclaveEndpointsHandleApprovalDeletionRequestResourceRequestAction",
          "traits": {
            "smithy.api#documentation": "Resource request action indicating action which needed to be performed upon calling approval-deletion-callback post action",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#EnclaveEndpointsHandleApprovalDeletionRequestResourceRequestAction": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Create"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Update"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource request action indicating action which needed to be performed upon calling approval-deletion-callback post action"
      }
    },
    "com.azure.mission#EnclaveEndpointsHandleApprovalCreation": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#EnclaveEndpointsHandleApprovalCreationRequest"
      },
      "output": {
        "target": "com.azure.mission#ApprovalActionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/enclaveEndpoints/{enclaveEndpointName}/handleApprovalCreation",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Callback that triggers on approval state change.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#EnclaveEndpointsHandleApprovalCreationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        },
        "enclaveEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Enclave Endpoint Resource"
          }
        },
        "resourceRequestAction": {
          "target": "com.azure.mission#EnclaveEndpointsHandleApprovalCreationRequestResourceRequestAction",
          "traits": {
            "smithy.api#documentation": "Resource request action indicating action which needed to be performed upon calling approval-callback post action",
            "smithy.api#required": {}
          }
        },
        "approvalStatus": {
          "target": "com.azure.mission#EnclaveEndpointsHandleApprovalCreationRequestApprovalStatus",
          "traits": {
            "smithy.api#documentation": "Approval status indicating 'Approved' or 'Rejected'",
            "smithy.api#required": {}
          }
        },
        "approvalCallbackPayload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Payload requested by client upon approval action"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#EnclaveEndpointsHandleApprovalCreationRequestApprovalStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Approval status indicating 'Approved' or 'Rejected'"
      }
    },
    "com.azure.mission#EnclaveEndpointsHandleApprovalCreationRequestResourceRequestAction": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Create"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Update"
          }
        },
        "RESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reset"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource request action indicating action which needed to be performed upon calling approval-callback post action"
      }
    },
    "com.azure.mission#DeleteEnclaveEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#DeleteEnclaveEndpointRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/enclaveEndpoints/{enclaveEndpointName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Delete a EnclaveEndpointResource",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#DeleteEnclaveEndpointRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        },
        "enclaveEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Enclave Endpoint Resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#UpdateEnclaveEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#UpdateEnclaveEndpointRequest"
      },
      "output": {
        "target": "com.azure.mission#UpdateEnclaveEndpointResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/enclaveEndpoints/{enclaveEndpointName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Update a EnclaveEndpointResource",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#UpdateEnclaveEndpointResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mission#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.mission#EnclaveEndpointsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.mission#EnclaveEndpointProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.mission#EnclaveEndpointProperties": {
      "type": "structure",
      "members": {
        "ruleCollection": {
          "target": "com.azure.mission#EnclaveEndpointPropertiesRuleCollectionList",
          "traits": {
            "smithy.api#documentation": "Enclave Endpoint Rule Collection.",
            "smithy.api#required": {}
          }
        },
        "resourceCollection": {
          "target": "com.azure.mission#EnclaveEndpointPropertiesResourceCollectionList",
          "traits": {
            "smithy.api#documentation": "List of resource ids created by community endpoint."
          }
        },
        "provisioningState": {
          "target": "com.azure.mission#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning State."
          }
        },
        "updateMode": {
          "target": "com.azure.mission#UpdateMode",
          "traits": {
            "smithy.api#documentation": "Whether update mode is automatic or manual."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enclave Endpoint Resource properties"
      }
    },
    "com.azure.mission#UpdateMode": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Automatic"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update Mode"
      }
    },
    "com.azure.mission#EnclaveEndpointPropertiesResourceCollectionList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of resource ids created by community endpoint."
      }
    },
    "com.azure.mission#EnclaveEndpointPropertiesRuleCollectionList": {
      "type": "list",
      "member": {
        "target": "com.azure.mission#EnclaveEndpointDestinationRule"
      },
      "traits": {
        "smithy.api#documentation": "Enclave Endpoint Rule Collection."
      }
    },
    "com.azure.mission#EnclaveEndpointDestinationRule": {
      "type": "structure",
      "members": {
        "protocols": {
          "target": "com.azure.mission#EnclaveEndpointDestinationRuleProtocolsList",
          "traits": {
            "smithy.api#documentation": "Protocols. Options specified by Endpoint Protocol Enum."
          }
        },
        "endpointRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Endpoint Rule Name."
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination address. Can include multiple CIDR/IP Addresses or fqdn tags or fqdns (for community endpoint) separated by commas."
          }
        },
        "ports": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Port. Can include multiple ports separated by commas or a range indicated by a hyphen."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enclave Endpoint Rule Properties"
      }
    },
    "com.azure.mission#EnclaveEndpointDestinationRuleProtocolsList": {
      "type": "list",
      "member": {
        "target": "com.azure.mission#EnclaveEndpointProtocol"
      },
      "traits": {
        "smithy.api#documentation": "Protocols. Options specified by Endpoint Protocol Enum."
      }
    },
    "com.azure.mission#EnclaveEndpointProtocol": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY"
          }
        },
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP"
          }
        },
        "UDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP"
          }
        },
        "ICMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ICMP"
          }
        },
        "ESP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESP"
          }
        },
        "AH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AH"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enclave Endpoint Protocol Enum"
      }
    },
    "com.azure.mission#EnclaveEndpointsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.mission#UpdateEnclaveEndpointRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        },
        "enclaveEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Enclave Endpoint Resource"
          }
        },
        "properties": {
          "target": "com.azure.mission#EnclaveEndpointPatchProperties",
          "traits": {
            "smithy.api#documentation": "Enclave Endpoint Patch properties"
          }
        },
        "tags": {
          "target": "com.azure.mission#EnclaveEndpointsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#EnclaveEndpointsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.mission#EnclaveEndpointPatchProperties": {
      "type": "structure",
      "members": {
        "ruleCollection": {
          "target": "com.azure.mission#EnclaveEndpointPatchPropertiesRuleCollectionList",
          "traits": {
            "smithy.api#documentation": "Enclave Endpoint Rule Collection."
          }
        },
        "updateMode": {
          "target": "com.azure.mission#UpdateMode",
          "traits": {
            "smithy.api#documentation": "Whether update mode is automatic or manual."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enclave Endpoint patchable Properties"
      }
    },
    "com.azure.mission#EnclaveEndpointPatchPropertiesRuleCollectionList": {
      "type": "list",
      "member": {
        "target": "com.azure.mission#EnclaveEndpointDestinationRule"
      },
      "traits": {
        "smithy.api#documentation": "Enclave Endpoint Rule Collection."
      }
    },
    "com.azure.mission#EnclaveEndpointsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#EnclaveEndpointsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.mission#EnclaveEndpointsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/enclaveEndpoints/{enclaveEndpointName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Create a EnclaveEndpointResource",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#EnclaveEndpointsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mission#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.mission#EnclaveEndpointsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.mission#EnclaveEndpointProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.mission#EnclaveEndpointsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.mission#EnclaveEndpointsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        },
        "enclaveEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Enclave Endpoint Resource"
          }
        },
        "tags": {
          "target": "com.azure.mission#EnclaveEndpointsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.mission#EnclaveEndpointPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#EnclaveEndpointPropertiesInput": {
      "type": "structure",
      "members": {
        "ruleCollection": {
          "target": "com.azure.mission#EnclaveEndpointPropertiesInputRuleCollectionList",
          "traits": {
            "smithy.api#documentation": "Enclave Endpoint Rule Collection.",
            "smithy.api#required": {}
          }
        },
        "updateMode": {
          "target": "com.azure.mission#UpdateMode",
          "traits": {
            "smithy.api#documentation": "Whether update mode is automatic or manual."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enclave Endpoint Resource properties"
      }
    },
    "com.azure.mission#EnclaveEndpointPropertiesInputRuleCollectionList": {
      "type": "list",
      "member": {
        "target": "com.azure.mission#EnclaveEndpointDestinationRule"
      },
      "traits": {
        "smithy.api#documentation": "Enclave Endpoint Rule Collection."
      }
    },
    "com.azure.mission#EnclaveEndpointsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.mission#GetEnclaveEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#GetEnclaveEndpointRequest"
      },
      "output": {
        "target": "com.azure.mission#GetEnclaveEndpointResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/enclaveEndpoints/{enclaveEndpointName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Get a EnclaveEndpointResource",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#GetEnclaveEndpointResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mission#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.mission#EnclaveEndpointsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.mission#EnclaveEndpointProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.mission#EnclaveEndpointsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.mission#GetEnclaveEndpointRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        },
        "enclaveEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Enclave Endpoint Resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#ListEnclaveEndpointByEnclaveResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#ListEnclaveEndpointByEnclaveResourceRequest"
      },
      "output": {
        "target": "com.azure.mission#EnclaveEndpointResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}/enclaveEndpoints",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "List EnclaveEndpointResource resources by EnclaveResource",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#EnclaveEndpointResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.mission#EnclaveEndpointResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The EnclaveEndpointResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a EnclaveEndpointResource list operation."
      }
    },
    "com.azure.mission#EnclaveEndpointResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.mission#EnclaveEndpointResource"
      },
      "traits": {
        "smithy.api#documentation": "The EnclaveEndpointResource items on this page"
      }
    },
    "com.azure.mission#EnclaveEndpointResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mission#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.mission#EnclaveEndpointResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.mission#EnclaveEndpointProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EnclaveEndpoint Model Resource"
      }
    },
    "com.azure.mission#EnclaveEndpointResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.mission#ListEnclaveEndpointByEnclaveResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#DeleteVirtualEnclave": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#DeleteVirtualEnclaveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Delete a EnclaveResource",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#DeleteVirtualEnclaveRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualEnclaveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the enclaveResource Resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mission#UpdateVirtualEnclave": {
      "type": "operation",
      "input": {
        "target": "com.azure.mission#UpdateVirtualEnclaveRequest"
      },
      "output": {
        "target": "com.azure.mission#UpdateVirtualEnclaveResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclaveName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Update a EnclaveResource",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.mission#UpdateVirtualEnclaveResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mission#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.mission#VirtualEnclaveUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.mission#VirtualEnclaveProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.mission#VirtualEnclaveUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.mission#VirtualEnclaveUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.mission#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.mission#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.mission#UserAssignedIdentities": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.mission#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.mission#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.mission#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.mission#VirtualEnclaveProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.mission#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning State."
          }
        },
        "enclaveVirtualNetwork": {
          "target": "com.azure.mission#EnclaveVirtualNetworkModel",
          "traits": {
            "smithy.api#documentation": "Virtual Network.",
            "smithy.api#required": {}
          }
        },
        "enclaveAddressSpaces": {
          "target": "com.azure.mission#EnclaveAddressSpacesModel",
          "traits": {
            "smithy.api#documentation": "Enclave Address Spaces"
          }
        },
        "communityResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Community Resource Id.",
            "smithy.api#required": {}
          }
        },
        "resourceCollection": {
          "target": "com.azure.mission#VirtualEnclavePropertiesResourceCollectionList",
          "traits": {
            "smithy.api#documentation": "List of resource ids created by Virtual Enclave."
          }
        },
        "managedResourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Managed resource group name."
          }
        },
        "managedOnBehalfOfConfiguration": {
          "target": "com.azure.mission#VirtualEnclavePropertiesManagedOnBehalfOfConfiguration",
          "traits": {
            "smithy.api#documentation": "Managed-On-Behalf-Of configuration properties. This configuration exists for the resources where a resource provider manages those resources on behalf of the resource owner."
          }
        },
        "bastionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deploy Bastion service (True or False)."
          }
        },
        "workloadResourceVisibility": {
          "target": "com.azure.mission#VirtualEnclavePropertiesWorkloadResourceVisibility",
          "traits": {
            "smithy.api#documentation": "Specifies whether resources in the workload resource group(s) are visible through standard RBAC"
          }
        },
        "rbacInheritance": {
          "target": "com.azure.mission#VirtualEnclavePropertiesRbacInheritance",
          "traits": {
            "smithy.api#documentation": "Controls whether standard Azure RBAC role inheritance applies to the workload resource group(s)"
          }
        },
        "enclaveRoleAssignments": {
          "target": "com.azure.mission#VirtualEnclavePropertiesEnclaveRoleAssignmentsList",
          "traits": {
            "smithy.api#documentation": "Enclave role assignments"
          }
        },
        "workloadRoleAssignments": {
          "target": "com.azure.mission#VirtualEnclavePropertiesWorkloadRoleAssignmentsList",
          "traits": {
            "smithy.api#documentation": "Workload role assignments"
          }
        },
        "governedServiceList": {
          "target": "com.azure.mission#VirtualEnclavePropertiesGovernedServiceListList",
          "traits": {
            "smithy.api#documentation": "Enclave specific policies"
          }
        },
        "enclaveDefaultSettings": {
          "target": "com.azure.mission#EnclaveDefaultSettingsModel",
          "traits": {
            "smithy.api#documentation": "Enclave default settings."
          }
        },
        "maintenanceModeConfiguration": {
          "target": "com.azure.mission#MaintenanceModeConfigurationModel",
          "traits": {
            "smithy.api#documentation": "Maintenance Mode configuration."
          }
        },
        "dedicatedHubResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DedicatedHub Resource ID."
          }
        },
        "approvalSettings": {
          "target": "com.azure.mission#VirtualEnclaveApprovalSettings",
          "traits": {
            "smithy.api#documentation": "Approval requirements for various actions on the enclave's resources."
          }
        },
        "monitoringSettings": {
          "target": "com.azure.mission#MonitoringSettingsModel",
          "traits": {
            "smithy.api#documentation": "Virtual Enclave Monitoring Settings for diagnostic and virtual network flow logs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Virtual Enclave Resource properties"
      }
    },
    "com.azure.mission#MonitoringSettingsModel": {
      "type": "structure",
      "members": {
        "diagnosticDestinations": {
          "target": "com.azure.mission#MonitoringSettingsModelDiagnosticDestinationsList",
          "traits": {
            "smithy.api#documentation": "Log Analytics workspace destinations where diagnostic logs will be stored."
          }
        },
        "flowLogDestination": {
          "target": "com.azure.mission#MonitoringDestination",
          "traits": {
            "smithy.api#documentation": "Log Analytics workspace destination where virtual network flow logs will be stored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monitoring Settings"
      }
    },
    "com.azure.mission#MonitoringDestination": {
      "type": "structure",
      "members": {
        "destinationType": {
          "target": "com.azure.mission#MonitoringDestinationDestinationType",
          "traits": {
            "smithy.api#documentation": "The type of monitoring workspace destination",
            "smithy.api#required": {}
          }
        },
        "customWorkspaceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Log analytics workspace resource ID for custom workspace"
          }
        },
        "diagnosticSettingsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom name for diagnostic settings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monitoring destination configuration with multiple workspaces"
      }
    },
    "com.azure.mission#MonitoringDestinationDestinationType": {
      "type": "enum",
      "members": {
        "COMMUNITYWORKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CommunityWorkspace"
          }
        },
        "ENCLAVEWORKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnclaveWorkspace"
          }
        },
        "CUSTOMWORKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomWorkspace"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of monitoring workspace destination"
      }
    },
    "com.azure.mission#MonitoringSettingsModelDiagnosticDestinationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.mission#MonitoringDestination"
      },
      "traits": {
        "smithy.api#documentation": "Log Analytics workspace destinations where diagnostic logs will be stored."
      }
    },
    "com.azure.mission#VirtualEnclaveApprovalSettings": {
      "type": "structure",
      "members": {
        "enclaveEndpointUpdate": {
          "target": "com.azure.mission#ApprovalSettingConfiguration",
          "traits": {
            "smithy.api#documentation": "Approval configuration for enclave endpoint updates."
          }
        },
        "connectionCreation": {
          "target": "com.azure.mission#ApprovalSettingConfiguration",
          "traits": {
            "smithy.api#documentation": "Approval configuration for connection creation."
          }
        },
        "connectionUpdate": {
          "target": "com.azure.mission#ApprovalSettingConfiguration",
          "traits": {
            "smithy.api#documentation": "Approval configuration for connection updates."
          }
        },
        "enclaveMaintenanceMode": {
          "target": "com.azure.mission#ApprovalSettingConfiguration",
          "traits": {
            "smithy.api#documentation": "Approval configuration for enclave maintenance mode."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Virtual Enclave ApprovalSettings Properties for 2025-11-01-preview and later versions"
      }
    },
    "com.azure.mission#ApprovalSettingConfiguration": {
      "type": "structure",
      "members": {
        "approvalPolicy": {
          "target": "com.azure.mission#ApprovalPolicy",
          "traits": {
            "smithy.api#documentation": "Approval policy (Required or NotRequired)."
          }
        },
        "minimumApproversRequired": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of approvers required for this approval setting."
          }
        },
        "mandatoryApprovers": {
          "target": "com.azure.mission#ApprovalSettingConfigurationMandatoryApproversList",
          "traits": {
            "smithy.api#documentation": "List of mandatory approvers for this approval setting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Granular approval setting configuration with policy, minimum approvers, and mandatory approvers."
      }
    },
    "com.azure.mission#ApprovalSettingConfigurationMandatoryApproversList": {
      "type": "list",
      "member": {
        "target": "com.azure.mission#MandatoryApprover"
      },
      "traits": {
        "smithy.api#documentation": "List of mandatory approvers for this approval setting."
      }
    },
    "com.azure.mission#MandatoryApprover": {
      "type": "structure",
      "members": {
        "approverEntraId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "EntraId of the approver",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Approver Metadata for approvals request."
      }
    },
    "com.azure.mission#ApprovalPolicy": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Required"
          }
        },
        "NOTREQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotRequired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Approval Policy."
      }
    },
    "com.azure.mission#MaintenanceModeConfigurationModel": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.azure.mission#MaintenanceModeConfigurationModelMode",
          "traits": {
            "smithy.api#documentation": "Current mode of Maintenance Mode Configuration",
            "smithy.api#required": {}
          }
        },
        "principals": {
          "target": "com.azure.mission#MaintenanceModeConfigurationModelPrincipalsList",
          "traits": {
            "smithy.api#documentation": "The user, group or service principal object affected by Maintenance Mode"
          }
        },
        "justification": {
          "target": "com.azure.mission#MaintenanceModeConfigurationModelJustification",
          "traits": {
            "smithy.api#documentation": "Justification for entering or exiting Maintenance Mode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance Mode"
      }
    },
    "com.azure.mission#MaintenanceModeConfigurationModelJustification": {
      "type": "enum",
      "members": {
        "NETWORKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Networking"
          }
        },
        "GOVERNANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Governance"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Off"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Justification for entering or exiting Maintenance Mode"
      }
    },
    "com.azure.mission#MaintenanceModeConfigurationModelPrincipalsList": {
      "type": "list",
      "member": {
        "target": "com.azure.mission#Principal"
      },
      "traits": {
        "smithy.api#documentation": "The user, group or service principal object affected by Maintenance Mode"
      }
    },
    "com.azure.mission#Principal": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object id associated with the principal",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.azure.mission#PrincipalType",
          "traits": {
            "smithy.api#documentation": "The type of the object id. We currently allow users, groups, and service principals",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal for maintenance mode or role assignments"
      }
    },
    "com.azure.mission#PrincipalType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Group"
          }
        },
        "SERVICEPRINCIPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServicePrincipal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the object id. We currently allow users, groups, and service principals"
      }
    },
    "com.azure.mission#MaintenanceModeConfigurationModelMode": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "On"
          }
        },
        "CANNOTDELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CanNotDelete"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Off"
          }
        },
        "GENERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "General"
          }
        },
        "ADVANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Advanced"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current mode of Maintenance Mode Configuration"
      }
    },
    "com.azure.mission#EnclaveDefaultSettingsModel": {
      "type": "structure",
      "members": {
        "keyVaultResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key Vault Resource Id."
          }
        },
        "storageAccountResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage Account Resource Id."
          }
        },
        "logAnalyticsResourceIdCollection": {
          "target": "com.azure.mission#EnclaveDefaultSettingsModelLogAnalyticsResourceIdCollectionList",
          "traits": {
            "smithy.api#documentation": "Log Analytics Resource Ids."
          }
        },
        "diagnosticDestination": {
          "target": "com.azure.mission#EnclaveDefaultSettingsModelDiagnosticDestination",
          "traits": {
            "smithy.api#documentation": "Diagnostic Destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Virtual Enclave Default Settings"
      }
    },
    "com.azure.mission#EnclaveDefaultSettingsModelDiagnosticDestination": {
      "type": "enum",
      "members": {
        "COMMUNITYONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CommunityOnly"
          }
        },
        "ENCLAVEONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnclaveOnly"
          }
        },
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Both"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Diagnostic Destination."
      }
    },
    "com.azure.mission#EnclaveDefaultSettingsModelLogAnalyticsResourceIdCollectionList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Log Analytics Resource Ids."
      }
    },
    "com.azure.mission#VirtualEnclavePropertiesGovernedServiceListList": {
      "type": "list",
      "member": {
        "target": "com.azure.mission#GovernedServiceItem"
      },
      "traits": {
        "smithy.api#documentation": "Enclave specific policies"
      }
    },
    "com.azure.mission#GovernedServiceItem": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "com.azure.mission#ServiceIdentifier",
          "traits": {
            "smithy.api#documentation": "Service ID",
            "smithy.api#required": {}
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service name."
          }
        },
        "option": {
          "target": "com.azure.mission#GovernedServiceItemOption",
          "traits": {
[...]
