{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.recoveryservicesbackup#GetPrivateEndpointOperationStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#GetPrivateEndpointOperationStatusRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#OperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}/operationsStatus/{operationId}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Gets the operation status for a private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#OperationStatus": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the operation."
          }
        },
        "status": {
          "target": "com.azure.recoveryservicesbackup#OperationStatusValues",
          "traits": {
            "smithy.api#documentation": "Operation status."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation start time. Format: ISO-8601."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation end time. Format: ISO-8601."
          }
        },
        "error": {
          "target": "com.azure.recoveryservicesbackup#OperationStatusError",
          "traits": {
            "smithy.api#documentation": "Error information related to this operation."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#OperationStatusExtendedInfo",
          "traits": {
            "smithy.api#documentation": "Additional information associated with this operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation status."
      }
    },
    "com.azure.recoveryservicesbackup#OperationStatusExtendedInfo": {
      "type": "structure",
      "members": {
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base class for additional information of operation status."
      }
    },
    "com.azure.recoveryservicesbackup#OperationStatusError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code of the operation failure."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message displayed if the operation failure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error information associated with operation status call."
      }
    },
    "com.azure.recoveryservicesbackup#OperationStatusValues": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation status."
      }
    },
    "com.azure.recoveryservicesbackup#GetPrivateEndpointOperationStatusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "vaults"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the PrivateEndpointConnectionResource"
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the PrivateEndpointConnectionResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#DeletePrivateEndpointConnection": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#DeletePrivateEndpointConnectionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Delete Private Endpoint requests. This call is made by Backup Admin.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#DeletePrivateEndpointConnectionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VaultResource"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#PrivateEndpointConnectionPut": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#PrivateEndpointConnectionPutRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#PrivateEndpointConnectionPutResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Approve or Reject Private Endpoint requests. This call is made by Backup Admin.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#PrivateEndpointConnectionPutResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesbackup#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#PrivateEndpointConnection",
          "traits": {
            "smithy.api#documentation": "PrivateEndpointConnectionResource properties"
          }
        },
        "tags": {
          "target": "com.azure.recoveryservicesbackup#PrivateEndpointConnectionPutResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesbackup#PrivateEndpointConnectionPutResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.recoveryservicesbackup#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.recoveryservicesbackup#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Gets or sets provisioning state of the private endpoint connection"
          }
        },
        "privateEndpoint": {
          "target": "com.azure.recoveryservicesbackup#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "Gets or sets private endpoint associated with the private endpoint connection"
          }
        },
        "groupIds": {
          "target": "com.azure.recoveryservicesbackup#PrivateEndpointConnectionGroupIdsList",
          "traits": {
            "smithy.api#documentation": "Group Ids for the Private Endpoint"
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.recoveryservicesbackup#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "Gets or sets private link service connection state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private Endpoint Connection Response Properties"
      }
    },
    "com.azure.recoveryservicesbackup#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.recoveryservicesbackup#PrivateEndpointConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Gets or sets the status"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets description"
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets actions required"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private Link Service Connection State"
      }
    },
    "com.azure.recoveryservicesbackup#PrivateEndpointConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the status"
      }
    },
    "com.azure.recoveryservicesbackup#PrivateEndpointConnectionGroupIdsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicesbackup#VaultSubResourceType"
      },
      "traits": {
        "smithy.api#documentation": "Group Ids for the Private Endpoint"
      }
    },
    "com.azure.recoveryservicesbackup#VaultSubResourceType": {
      "type": "enum",
      "members": {
        "AZUREBACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureBackup"
          }
        },
        "AZUREBACKUP_SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureBackup_secondary"
          }
        },
        "AZURESITERECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureSiteRecovery"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GroupId for the PrivateEndpointConnection - AzureBackup, AzureBackup_secondary or AzureSiteRecovery"
      }
    },
    "com.azure.recoveryservicesbackup#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint network resource that is linked to the Private Endpoint connection"
      }
    },
    "com.azure.recoveryservicesbackup#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets provisioning state of the private endpoint connection"
      }
    },
    "com.azure.recoveryservicesbackup#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.recoveryservicesbackup#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.recoveryservicesbackup#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.recoveryservicesbackup#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.recoveryservicesbackup#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.recoveryservicesbackup#PrivateEndpointConnectionPutRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VaultResource"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#PrivateEndpointConnection",
          "traits": {
            "smithy.api#documentation": "PrivateEndpointConnectionResource properties"
          }
        },
        "tags": {
          "target": "com.azure.recoveryservicesbackup#PrivateEndpointConnectionPutRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#PrivateEndpointConnectionPutRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.recoveryservicesbackup#GetPrivateEndpointConnection": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#GetPrivateEndpointConnectionRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#GetPrivateEndpointConnectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Get Private Endpoint Connection. This call is made by Backup Admin.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#GetPrivateEndpointConnectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesbackup#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#PrivateEndpointConnection",
          "traits": {
            "smithy.api#documentation": "PrivateEndpointConnectionResource properties"
          }
        },
        "tags": {
          "target": "com.azure.recoveryservicesbackup#PrivateEndpointConnectionGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesbackup#PrivateEndpointConnectionGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.recoveryservicesbackup#GetPrivateEndpointConnectionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VaultResource"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#BMSTriggerDataMove": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#BMSTriggerDataMoveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig/triggerDataMove",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Triggers Data Move Operation on target vault",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#BMSTriggerDataMoveRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VaultResource"
          }
        },
        "sourceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM Id of source vault",
            "smithy.api#required": {}
          }
        },
        "sourceRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source Region",
            "smithy.api#required": {}
          }
        },
        "dataMoveLevel": {
          "target": "com.azure.recoveryservicesbackup#DataMoveLevel",
          "traits": {
            "smithy.api#documentation": "DataMove Level",
            "smithy.api#required": {}
          }
        },
        "correlationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Correlation Id",
            "smithy.api#required": {}
          }
        },
        "sourceContainerArmIds": {
          "target": "com.azure.recoveryservicesbackup#BMSTriggerDataMoveRequestSourceContainerArmIdsList",
          "traits": {
            "smithy.api#documentation": "Source Container ArmIds"
          }
        },
        "pauseGC": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Pause GC"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#BMSTriggerDataMoveRequestSourceContainerArmIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Source Container ArmIds"
      }
    },
    "com.azure.recoveryservicesbackup#DataMoveLevel": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "VAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Vault"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Container"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataMove Level"
      }
    },
    "com.azure.recoveryservicesbackup#BMSPrepareDataMove": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#BMSPrepareDataMoveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig/prepareDataMove",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Prepares source vault for Data Move operation",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#BMSPrepareDataMoveRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VaultResource"
          }
        },
        "targetResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM Id of target vault",
            "smithy.api#required": {}
          }
        },
        "targetRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target Region",
            "smithy.api#required": {}
          }
        },
        "dataMoveLevel": {
          "target": "com.azure.recoveryservicesbackup#DataMoveLevel",
          "traits": {
            "smithy.api#documentation": "DataMove Level",
            "smithy.api#required": {}
          }
        },
        "sourceContainerArmIds": {
          "target": "com.azure.recoveryservicesbackup#BMSPrepareDataMoveRequestSourceContainerArmIdsList",
          "traits": {
            "smithy.api#documentation": "Source Container ArmIds\nThis needs to be populated only if DataMoveLevel is set to container"
          }
        },
        "ignoreMoved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ignore the artifacts which are already moved."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#BMSPrepareDataMoveRequestSourceContainerArmIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Source Container ArmIds\nThis needs to be populated only if DataMoveLevel is set to container"
      }
    },
    "com.azure.recoveryservicesbackup#GetOperationStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#GetOperationStatusRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#OperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig/operationStatus/{operationId}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Fetches Operation Result for Prepare Data Move",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#GetOperationStatusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "vaults"
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the BackupResourceConfigResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#GetBmsPrepareDataMoveOperationResult": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#GetBmsPrepareDataMoveOperationResultRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#VaultStorageConfigOperationResultResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig/operationResults/{operationId}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Fetches operation status for data move operation on vault",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#VaultStorageConfigOperationResultResponse": {
      "type": "structure",
      "members": {
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation result response for Vault Storage Config"
      }
    },
    "com.azure.recoveryservicesbackup#GetBmsPrepareDataMoveOperationResultRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "vaults"
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the BackupResourceConfigResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#PatchBackupResourceStorageConfigNonCrr": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#PatchBackupResourceStorageConfigNonCrrRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Updates vault storage model type.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#PatchBackupResourceStorageConfigNonCrrRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VaultResource"
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceConfig",
          "traits": {
            "smithy.api#documentation": "BackupResourceConfigResource properties"
          }
        },
        "tags": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceStorageConfigsNonCRRPatchRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceStorageConfigsNonCRRPatchRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceConfig": {
      "type": "structure",
      "members": {
        "storageModelType": {
          "target": "com.azure.recoveryservicesbackup#StorageType",
          "traits": {
            "smithy.api#documentation": "Storage type"
          }
        },
        "storageType": {
          "target": "com.azure.recoveryservicesbackup#StorageType",
          "traits": {
            "smithy.api#documentation": "Storage type."
          }
        },
        "storageTypeState": {
          "target": "com.azure.recoveryservicesbackup#StorageTypeState",
          "traits": {
            "smithy.api#documentation": "Locked or Unlocked. Once a machine is registered against a resource, the storageTypeState is always Locked."
          }
        },
        "crossRegionRestoreFlag": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Opt in details of Cross Region Restore feature."
          }
        },
        "dedupState": {
          "target": "com.azure.recoveryservicesbackup#DedupState",
          "traits": {
            "smithy.api#documentation": "Vault Dedup state"
          }
        },
        "xcoolState": {
          "target": "com.azure.recoveryservicesbackup#XcoolState",
          "traits": {
            "smithy.api#documentation": "Vault x-cool state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource storage details."
      }
    },
    "com.azure.recoveryservicesbackup#XcoolState": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Vault x-cool state"
      }
    },
    "com.azure.recoveryservicesbackup#DedupState": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Vault Dedup state"
      }
    },
    "com.azure.recoveryservicesbackup#StorageTypeState": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Locked"
          }
        },
        "UNLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unlocked"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Locked or Unlocked. Once a machine is registered against a resource, the storageTypeState is always Locked."
      }
    },
    "com.azure.recoveryservicesbackup#StorageType": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "GEOREDUNDANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GeoRedundant"
          }
        },
        "LOCALLYREDUNDANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LocallyRedundant"
          }
        },
        "ZONEREDUNDANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZoneRedundant"
          }
        },
        "READACCESSGEOZONEREDUNDANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadAccessGeoZoneRedundant"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage type"
      }
    },
    "com.azure.recoveryservicesbackup#UpdateBackupResourceStorageConfigNonCrr": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#UpdateBackupResourceStorageConfigNonCrrRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#UpdateBackupResourceStorageConfigNonCrrResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Updates vault storage model type.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#UpdateBackupResourceStorageConfigNonCrrResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesbackup#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceConfig",
          "traits": {
            "smithy.api#documentation": "BackupResourceConfigResource properties"
          }
        },
        "tags": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceStorageConfigsNonCRRUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceStorageConfigsNonCRRUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.recoveryservicesbackup#UpdateBackupResourceStorageConfigNonCrrRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VaultResource"
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceConfig",
          "traits": {
            "smithy.api#documentation": "BackupResourceConfigResource properties"
          }
        },
        "tags": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceStorageConfigsNonCRRUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceStorageConfigsNonCRRUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.recoveryservicesbackup#GetBackupResourceStorageConfigNonCrr": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#GetBackupResourceStorageConfigNonCrrRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#GetBackupResourceStorageConfigNonCrrResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Fetches resource storage config.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#GetBackupResourceStorageConfigNonCrrResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesbackup#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceConfig",
          "traits": {
            "smithy.api#documentation": "BackupResourceConfigResource properties"
          }
        },
        "tags": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceStorageConfigsNonCRRGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceStorageConfigsNonCRRGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.recoveryservicesbackup#GetBackupResourceStorageConfigNonCrrRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VaultResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#UpdateBackupResourceVaultConfig": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#UpdateBackupResourceVaultConfigRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#UpdateBackupResourceVaultConfigResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Updates vault security config.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#UpdateBackupResourceVaultConfigResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesbackup#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceVaultConfig",
          "traits": {
            "smithy.api#documentation": "BackupResourceVaultConfigResource properties"
          }
        },
        "tags": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceVaultConfig": {
      "type": "structure",
      "members": {
        "storageModelType": {
          "target": "com.azure.recoveryservicesbackup#StorageType",
          "traits": {
            "smithy.api#documentation": "Storage type."
          }
        },
        "storageType": {
          "target": "com.azure.recoveryservicesbackup#StorageType",
          "traits": {
            "smithy.api#documentation": "Storage type."
          }
        },
        "storageTypeState": {
          "target": "com.azure.recoveryservicesbackup#StorageTypeState",
          "traits": {
            "smithy.api#documentation": "Locked or Unlocked. Once a machine is registered against a resource, the storageTypeState is always Locked."
          }
        },
        "enhancedSecurityState": {
          "target": "com.azure.recoveryservicesbackup#EnhancedSecurityState",
          "traits": {
            "smithy.api#documentation": "Enabled or Disabled."
          }
        },
        "softDeleteFeatureState": {
          "target": "com.azure.recoveryservicesbackup#SoftDeleteFeatureState",
          "traits": {
            "smithy.api#documentation": "Soft Delete feature state"
          }
        },
        "softDeleteRetentionPeriodInDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Soft delete retention period in days"
          }
        },
        "resourceGuardOperationRequests": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceVaultConfigResourceGuardOperationRequestsList",
          "traits": {
            "smithy.api#documentation": "ResourceGuard Operation Requests"
          }
        },
        "isSoftDeleteFeatureStateEditable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This flag is no longer in use. Please use 'softDeleteFeatureState' to set the soft delete state for the vault"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backup resource vault config details."
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceVaultConfigResourceGuardOperationRequestsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "ResourceGuard Operation Requests"
      }
    },
    "com.azure.recoveryservicesbackup#SoftDeleteFeatureState": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ALWAYSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlwaysON"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Soft Delete feature state"
      }
    },
    "com.azure.recoveryservicesbackup#EnhancedSecurityState": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enabled or Disabled."
      }
    },
    "com.azure.recoveryservicesbackup#UpdateBackupResourceVaultConfigRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VaultResource"
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceVaultConfig",
          "traits": {
            "smithy.api#documentation": "BackupResourceVaultConfigResource properties"
          }
        },
        "tags": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsPut": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsPutRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsPutResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Updates vault security config.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsPutResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesbackup#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceVaultConfig",
          "traits": {
            "smithy.api#documentation": "BackupResourceVaultConfigResource properties"
          }
        },
        "tags": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsPutResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsPutResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsPutRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VaultResource"
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceVaultConfig",
          "traits": {
            "smithy.api#documentation": "BackupResourceVaultConfigResource properties"
          }
        },
        "tags": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsPutRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsPutRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.recoveryservicesbackup#GetBackupResourceVaultConfig": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#GetBackupResourceVaultConfigRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#GetBackupResourceVaultConfigResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Fetches resource vault config.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#GetBackupResourceVaultConfigResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesbackup#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceVaultConfig",
          "traits": {
            "smithy.api#documentation": "BackupResourceVaultConfigResource properties"
          }
        },
        "tags": {
          "target": "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesbackup#BackupResourceVaultConfigsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.recoveryservicesbackup#GetBackupResourceVaultConfigRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VaultResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#GetValidateOperationStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#GetValidateOperationStatusRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#OperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupValidateOperationsStatuses/{operationId}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Fetches the status of a triggered validate operation. The status can be in progress, completed\nor failed. You can refer to the OperationStatus enum for all the possible states of the operation.\nIf operation has completed, this method returns the list of errors obtained while validating the operation.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#GetValidateOperationStatusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "OperationID represents the operation whose status needs to be fetched."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#GetValidateOperationResult": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#GetValidateOperationResultRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#ValidateOperationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupValidateOperationResults/{operationId}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Fetches the result of a triggered validate operation.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#ValidateOperationsResponse": {
      "type": "structure",
      "members": {
        "validateOperationResponse": {
          "target": "com.azure.recoveryservicesbackup#ValidateOperationResponse",
          "traits": {
            "smithy.api#documentation": "Base class for validate operation response."
          }
        }
      },
      "traits": {}
    },
    "com.azure.recoveryservicesbackup#ValidateOperationResponse": {
      "type": "structure",
      "members": {
        "validationResults": {
          "target": "com.azure.recoveryservicesbackup#ValidateOperationResponseValidationResultsList",
          "traits": {
            "smithy.api#documentation": "Gets the validation result"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base class for validate operation response."
      }
    },
    "com.azure.recoveryservicesbackup#ValidateOperationResponseValidationResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicesbackup#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "Gets the validation result"
      }
    },
    "com.azure.recoveryservicesbackup#ErrorDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error Message related to the Code."
          }
        },
        "recommendations": {
          "target": "com.azure.recoveryservicesbackup#ErrorDetailRecommendationsList",
          "traits": {
            "smithy.api#documentation": "List of recommendation strings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error Detail class which encapsulates Code, Message and Recommendations."
      }
    },
    "com.azure.recoveryservicesbackup#ErrorDetailRecommendationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of recommendation strings."
      }
    },
    "com.azure.recoveryservicesbackup#GetValidateOperationResultRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "OperationID which represents the operation whose result needs to be fetched."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#OperationValidate": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#OperationValidateRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#ValidateOperationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupValidateOperation",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Validate operation for specified backed up item. This is a synchronous operation.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#OperationValidateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recovery point ID.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#ValidateOperationRequest",
          "traits": {
            "smithy.api#documentation": "ValidateOperationRequestResource properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#ValidateOperationRequest": {
      "type": "structure",
      "members": {
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base class for validate operation request."
      }
    },
    "com.azure.recoveryservicesbackup#ListBackupUsageSummaries": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#ListBackupUsageSummariesRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#ListBackupUsageSummariesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupUsageSummaries",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Fetches the backup management usage summaries of the vault.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#ListBackupUsageSummariesResponse": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to fetch the next page of resources, with each API call returning up to 200 resources per page. Use ListNext() to fetch the next page if the total number of resources exceeds 200."
          }
        },
        "value": {
          "target": "com.azure.recoveryservicesbackup#BackupUsageSummariesListResponseValueList",
          "traits": {
            "smithy.api#documentation": "The list of backup management usages for the given vault."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesbackup#BackupUsageSummariesListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicesbackup#BackupManagementUsage"
      },
      "traits": {
        "smithy.api#documentation": "The list of backup management usages for the given vault."
      }
    },
    "com.azure.recoveryservicesbackup#BackupManagementUsage": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "com.azure.recoveryservicesbackup#UsagesUnit",
          "traits": {
            "smithy.api#documentation": "Unit of the usage."
          }
        },
        "quotaPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Quota period of usage."
          }
        },
        "nextResetTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next reset time of usage."
          }
        },
        "currentValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current value of usage."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Limit of usage."
          }
        },
        "name": {
          "target": "com.azure.recoveryservicesbackup#NameInfo",
          "traits": {
            "smithy.api#documentation": "Name of usage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backup management usages of a vault."
      }
    },
    "com.azure.recoveryservicesbackup#NameInfo": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of usage."
          }
        },
        "localizedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized value of usage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The name of usage."
      }
    },
    "com.azure.recoveryservicesbackup#UsagesUnit": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bytes"
          }
        },
        "SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Seconds"
          }
        },
        "PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Percent"
          }
        },
        "COUNTPERSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CountPerSecond"
          }
        },
        "BYTESPERSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BytesPerSecond"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Unit of the usage."
      }
    },
    "com.azure.recoveryservicesbackup#ListBackupUsageSummariesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "OData filter options."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "skipToken Filter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#ValidateOperationTrigger": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#ValidateOperationTriggerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupTriggerValidateOperation",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Validate operation for specified backed up item in the form of an asynchronous operation. Returns tracking headers which can be tracked using GetValidateOperationResult API.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#ValidateOperationTriggerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recovery point ID.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesbackup#ValidateOperationRequest",
          "traits": {
            "smithy.api#documentation": "ValidateOperationRequestResource properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#GetTieringCostOperationStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#GetTieringCostOperationStatusRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#OperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupTieringCost/default/operationsStatus/{operationId}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Gets the status of async operations of tiering cost",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#GetTieringCostOperationStatusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#GetTieringCostOperationResultGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#GetTieringCostOperationResultGetRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#TieringCostInfo"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupTieringCost/default/operationResults/{operationId}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Gets the result of async operation for tiering cost",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#TieringCostInfo": {
      "type": "structure",
      "members": {
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base class for tiering cost response"
      }
    },
    "com.azure.recoveryservicesbackup#GetTieringCostOperationResultGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesbackup#FetchTieringCostPost": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesbackup#FetchTieringCostPostRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesbackup#TieringCostInfo"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupTieringCost/default/fetchTieringCost",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Provides the details of the tiering related sizes and cost.\nStatus of the operation can be fetched using GetTieringCostOperationStatus API and result using GetTieringCostOperationResult API.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.recoveryservicesbackup#FetchTieringCostPostRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
[...]
