{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.securityandcompliance#GetOperationResult": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityandcompliance#GetOperationResultRequest"
      },
      "output": {
        "target": "com.azure.securityandcompliance#OperationResultsDescription"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityAndCompliance/locations/{locationName}/operationresults/{operationResultId}",
          "code": 200,
          "apiVersion": "2021-03-08"
        },
        "smithy.api#documentation": "Get the operation result for a long running operation.",
        "com.distilled.openapi#apiVersion": "2021-03-08"
      }
    },
    "com.azure.securityandcompliance#OperationResultsDescription": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the operation returned."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation result."
          }
        },
        "status": {
          "target": "com.azure.securityandcompliance#OperationResultsDescriptionStatus",
          "traits": {
            "smithy.api#documentation": "The status of the operation being performed."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the operation was started."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Additional properties of the operation result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties indicating the operation result of an operation on a service."
      }
    },
    "com.azure.securityandcompliance#OperationResultsDescriptionStatus": {
      "type": "enum",
      "members": {
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Requested"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the operation being performed."
      }
    },
    "com.azure.securityandcompliance#GetOperationResultRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "locationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location of the operation."
          }
        },
        "operationResultId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the operation result to get."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityandcompliance#ListOperations": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.securityandcompliance#OperationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.SecurityAndCompliance/operations",
          "code": 200,
          "apiVersion": "2021-03-08"
        },
        "smithy.api#documentation": "Lists all of the available SecurityAndCompliance REST API operations.",
        "com.distilled.openapi#apiVersion": "2021-03-08"
      }
    },
    "com.azure.securityandcompliance#OperationListResult": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of service description objects."
          }
        },
        "value": {
          "target": "com.azure.securityandcompliance#OperationListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of service operations supported by the Microsoft.SecurityAndCompliance resource provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of service operations. It contains a list of operations and a URL link to get the next set of results."
      }
    },
    "com.azure.securityandcompliance#OperationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityandcompliance#Operation"
      },
      "traits": {
        "smithy.api#documentation": "A list of service operations supported by the Microsoft.SecurityAndCompliance resource provider."
      }
    },
    "com.azure.securityandcompliance#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation name: {provider}/{resource}/{read | write | action | delete}"
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the operation is a data action"
          }
        },
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default value is 'user,system'."
          }
        },
        "display": {
          "target": "com.azure.securityandcompliance#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "The information displayed about the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service REST API operation."
      }
    },
    "com.azure.securityandcompliance#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service provider: Microsoft.SecurityAndCompliance"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Type: Services"
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the operation"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Friendly description for the operation,"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object that represents the operation."
      }
    },
    "com.azure.securityandcompliance#GetPrivateLinkResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityandcompliance#GetPrivateLinkResourceRequest"
      },
      "output": {
        "target": "com.azure.securityandcompliance#GetPrivateLinkResourceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityAndCompliance/privateLinkServicesForEDMUpload/{resourceName}/privateLinkResources/{groupName}",
          "code": 200,
          "apiVersion": "2021-03-08"
        },
        "smithy.api#documentation": "Gets a private link resource that need to be created for a service.",
        "com.distilled.openapi#apiVersion": "2021-03-08"
      }
    },
    "com.azure.securityandcompliance#GetPrivateLinkResourceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityandcompliance#PrivateLinkResourcesGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.securityandcompliance#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityandcompliance#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.securityandcompliance#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.securityandcompliance#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource Private link DNS zone name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource Private link DNS zone name."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkResourcesGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.securityandcompliance#PrivateLinkResourcesGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.securityandcompliance#PrivateLinkResourcesGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkResourcesGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkResourcesGetResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.securityandcompliance#GetPrivateLinkResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service instance."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private link resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityandcompliance#ListPrivateLinkResourceByService": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityandcompliance#ListPrivateLinkResourceByServiceRequest"
      },
      "output": {
        "target": "com.azure.securityandcompliance#ListPrivateLinkResourceByServiceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityAndCompliance/privateLinkServicesForEDMUpload/{resourceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2021-03-08"
        },
        "smithy.api#documentation": "Gets the private link resources that need to be created for a service.",
        "com.distilled.openapi#apiVersion": "2021-03-08"
      }
    },
    "com.azure.securityandcompliance#ListPrivateLinkResourceByServiceResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.securityandcompliance#PrivateLinkResourcesListByServiceResponseValueList",
          "traits": {
            "smithy.api#documentation": "Array of private link resources"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityandcompliance#PrivateLinkResourcesListByServiceResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityandcompliance#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of private link resources"
      }
    },
    "com.azure.securityandcompliance#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityandcompliance#PrivateLinkResourceSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.securityandcompliance#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource"
      }
    },
    "com.azure.securityandcompliance#PrivateLinkResourceSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.securityandcompliance#PrivateLinkResourceSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.securityandcompliance#PrivateLinkResourceSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkResourceSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkResourceSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.securityandcompliance#ListPrivateLinkResourceByServiceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityandcompliance#DeletePrivateEndpointConnectionForEdm": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityandcompliance#DeletePrivateEndpointConnectionForEdmRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityAndCompliance/privateLinkServicesForEDMUpload/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2021-03-08"
        },
        "smithy.api#documentation": "Deletes a private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2021-03-08"
      }
    },
    "com.azure.securityandcompliance#DeletePrivateEndpointConnectionForEdmRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service instance."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityAndCompliance/privateLinkServicesForEDMUpload/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2021-03-08"
        },
        "smithy.api#documentation": "Update the state of the specified private endpoint connection associated with the service.",
        "com.distilled.openapi#apiVersion": "2021-03-08"
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMCreateOrUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.securityandcompliance#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The resource of private end point."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.securityandcompliance#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the PrivateEndpointConnectProperties."
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.securityandcompliance#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider."
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.securityandcompliance#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for Private Endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint resource."
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMCreateOrUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMCreateOrUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMCreateOrUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMCreateOrUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMCreateOrUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service instance."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource"
          }
        },
        "properties": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.securityandcompliance#PrivateEndpointInput",
          "traits": {
            "smithy.api#documentation": "The resource of private end point."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.securityandcompliance#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the PrivateEndpointConnectProperties."
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The Private Endpoint resource."
      }
    },
    "com.azure.securityandcompliance#GetPrivateEndpointConnectionForEdm": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityandcompliance#GetPrivateEndpointConnectionForEdmRequest"
      },
      "output": {
        "target": "com.azure.securityandcompliance#GetPrivateEndpointConnectionForEdmResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityAndCompliance/privateLinkServicesForEDMUpload/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2021-03-08"
        },
        "smithy.api#documentation": "Gets the specified private endpoint connection associated with the service.",
        "com.distilled.openapi#apiVersion": "2021-03-08"
      }
    },
    "com.azure.securityandcompliance#GetPrivateEndpointConnectionForEdmResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMGetResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.securityandcompliance#GetPrivateEndpointConnectionForEdmRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service instance."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityandcompliance#ListPrivateEndpointConnectionForEdmByService": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityandcompliance#ListPrivateEndpointConnectionForEdmByServiceRequest"
      },
      "output": {
        "target": "com.azure.securityandcompliance#ListPrivateEndpointConnectionForEdmByServiceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityAndCompliance/privateLinkServicesForEDMUpload/{resourceName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2021-03-08"
        },
        "smithy.api#documentation": "Lists all private endpoint connections for a service.",
        "com.distilled.openapi#apiVersion": "2021-03-08"
      }
    },
    "com.azure.securityandcompliance#ListPrivateEndpointConnectionForEdmByServiceResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMListByServiceResponseValueList",
          "traits": {
            "smithy.api#documentation": "Array of private endpoint connections"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionsForEDMListByServiceResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityandcompliance#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "Array of private endpoint connections"
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint Connection resource."
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.securityandcompliance#PrivateEndpointConnectionSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateEndpointConnectionSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.securityandcompliance#ListPrivateEndpointConnectionForEdmByServiceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityandcompliance#ListPrivateLinkServiceForEdmUploadByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityandcompliance#ListPrivateLinkServiceForEdmUploadByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityAndCompliance/privateLinkServicesForEDMUpload",
          "code": 200,
          "apiVersion": "2021-03-08"
        },
        "smithy.api#documentation": "Get all the service instances in a resource group.",
        "com.distilled.openapi#apiVersion": "2021-03-08"
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionListResult": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of service description objects."
          }
        },
        "value": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of service description objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of service description objects with a next link."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescription"
      },
      "traits": {
        "smithy.api#documentation": "A list of service description objects."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescription": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "systemData": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "kind": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionKind",
          "traits": {
            "smithy.api#documentation": "The kind of the service.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource location.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionTagsMap",
          "traits": {
            "smithy.api#documentation": "The resource tags."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An etag associated with the resource, used for optimistic concurrency when editing it."
          }
        },
        "identity": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionIdentity",
          "traits": {
            "smithy.api#documentation": "Setting indicating whether the service has a managed identity associated with it."
          }
        },
        "properties": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a service instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The description of the service."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state."
          }
        },
        "accessPolicies": {
          "target": "com.azure.securityandcompliance#ServiceAccessPoliciesInfo",
          "traits": {
            "smithy.api#documentation": "The access policies of the service instance."
          }
        },
        "cosmosDbConfiguration": {
          "target": "com.azure.securityandcompliance#ServiceCosmosDbConfigurationInfo",
          "traits": {
            "smithy.api#documentation": "The settings for the Cosmos DB database backing the service."
          }
        },
        "authenticationConfiguration": {
          "target": "com.azure.securityandcompliance#ServiceAuthenticationConfigurationInfo",
          "traits": {
            "smithy.api#documentation": "The authentication configuration for the service instance."
          }
        },
        "corsConfiguration": {
          "target": "com.azure.securityandcompliance#ServiceCorsConfigurationInfo",
          "traits": {
            "smithy.api#documentation": "The settings for the CORS configuration of the service instance."
          }
        },
        "exportConfiguration": {
          "target": "com.azure.securityandcompliance#ServiceExportConfigurationInfo",
          "traits": {
            "smithy.api#documentation": "The settings for the export operation of the service instance."
          }
        },
        "privateEndpointConnections": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionPropertiesPrivateEndpointConnectionsList",
          "traits": {
            "smithy.api#documentation": "The list of private endpoint connections that are set up for this resource."
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionPropertiesPublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Control permission for data plane traffic coming from public networks while private endpoint is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a service instance."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionPropertiesPublicNetworkAccess": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Control permission for data plane traffic coming from public networks while private endpoint is enabled."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionPropertiesPrivateEndpointConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityandcompliance#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The list of private endpoint connections that are set up for this resource."
      }
    },
    "com.azure.securityandcompliance#ServiceExportConfigurationInfo": {
      "type": "structure",
      "members": {
        "storageAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the default export storage account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Export operation configuration information"
      }
    },
    "com.azure.securityandcompliance#ServiceCorsConfigurationInfo": {
      "type": "structure",
      "members": {
        "origins": {
          "target": "com.azure.securityandcompliance#ServiceCorsConfigurationInfoOriginsList",
          "traits": {
            "smithy.api#documentation": "The origins to be allowed via CORS."
          }
        },
        "headers": {
          "target": "com.azure.securityandcompliance#ServiceCorsConfigurationInfoHeadersList",
          "traits": {
            "smithy.api#documentation": "The headers to be allowed via CORS."
          }
        },
        "methods": {
          "target": "com.azure.securityandcompliance#ServiceCorsConfigurationInfoMethodsList",
          "traits": {
            "smithy.api#documentation": "The methods to be allowed via CORS."
          }
        },
        "maxAge": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The max age to be allowed via CORS."
          }
        },
        "allowCredentials": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If credentials are allowed via CORS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for the CORS configuration of the service instance."
      }
    },
    "com.azure.securityandcompliance#ServiceCorsConfigurationInfoMethodsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The methods to be allowed via CORS."
      }
    },
    "com.azure.securityandcompliance#ServiceCorsConfigurationInfoHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The headers to be allowed via CORS."
      }
    },
    "com.azure.securityandcompliance#ServiceCorsConfigurationInfoOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The origins to be allowed via CORS."
      }
    },
    "com.azure.securityandcompliance#ServiceAuthenticationConfigurationInfo": {
      "type": "structure",
      "members": {
        "authority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authority url for the service"
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The audience url for the service"
          }
        },
        "smartProxyEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the SMART on FHIR proxy is enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication configuration information"
      }
    },
    "com.azure.securityandcompliance#ServiceCosmosDbConfigurationInfo": {
      "type": "structure",
      "members": {
        "offerThroughput": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The provisioned throughput for the backing database."
          }
        },
        "keyVaultKeyUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the customer-managed key for the backing database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for the Cosmos DB database backing the service."
      }
    },
    "com.azure.securityandcompliance#ServiceAccessPoliciesInfo": {
      "type": "list",
      "member": {
        "target": "com.azure.securityandcompliance#ServiceAccessPolicyEntry"
      },
      "traits": {
        "smithy.api#documentation": "The access policies of the service instance."
      }
    },
    "com.azure.securityandcompliance#ServiceAccessPolicyEntry": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An Azure AD object ID (User or Apps) that is allowed access to the FHIR service.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An access policy entry."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "VERIFYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Verifying"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DEPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deprovisioned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the resource."
          }
        },
        "type": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionIdentityType",
          "traits": {
            "smithy.api#documentation": "Type of identity being specified, currently SystemAssigned and None are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Setting indicating whether the service has a managed identity associated with it."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of identity being specified, currently SystemAssigned and None are allowed."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource tags."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionKind": {
      "type": "enum",
      "members": {
        "FHIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fhir"
          }
        },
        "FHIR_STU3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fhir-Stu3"
          }
        },
        "FHIR_R4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fhir-R4"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of the service."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.securityandcompliance#ListPrivateLinkServiceForEdmUploadByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityandcompliance#ListPrivateLinkServiceForEdmUpload": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityandcompliance#ListPrivateLinkServiceForEdmUploadRequest"
      },
      "output": {
        "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadDescriptionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.SecurityAndCompliance/privateLinkServicesForEDMUpload",
          "code": 200,
          "apiVersion": "2021-03-08"
        },
        "smithy.api#documentation": "Get all the privateLinkServicesForEDMUpload instances in a subscription.",
        "com.distilled.openapi#apiVersion": "2021-03-08"
      }
    },
    "com.azure.securityandcompliance#ListPrivateLinkServiceForEdmUploadRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityandcompliance#DeleteService": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityandcompliance#DeleteServiceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityAndCompliance/privateLinkServicesForEDMUpload/{resourceName}",
          "code": 200,
          "apiVersion": "2021-03-08"
        },
        "smithy.api#documentation": "Delete a service instance.",
        "com.distilled.openapi#apiVersion": "2021-03-08"
      }
    },
    "com.azure.securityandcompliance#DeleteServiceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityandcompliance#UpdatePrivateLinkServiceForEdmUpload": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityandcompliance#UpdatePrivateLinkServiceForEdmUploadRequest"
      },
      "output": {
        "target": "com.azure.securityandcompliance#UpdatePrivateLinkServiceForEdmUploadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityAndCompliance/privateLinkServicesForEDMUpload/{resourceName}",
          "code": 200,
          "apiVersion": "2021-03-08"
        },
        "smithy.api#documentation": "Update the metadata of a privateLinkServicesForEDMUpload instance.",
        "com.distilled.openapi#apiVersion": "2021-03-08"
      }
    },
    "com.azure.securityandcompliance#UpdatePrivateLinkServiceForEdmUploadResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "systemData": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "kind": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseKind",
          "traits": {
            "smithy.api#documentation": "The kind of the service.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource location.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "The resource tags."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An etag associated with the resource, used for optimistic concurrency when editing it."
          }
        },
        "identity": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Setting indicating whether the service has a managed identity associated with it."
          }
        },
        "properties": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a service instance."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponsePropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state."
          }
        },
        "accessPolicies": {
          "target": "com.azure.securityandcompliance#ServiceAccessPoliciesInfo",
          "traits": {
            "smithy.api#documentation": "The access policies of the service instance."
          }
        },
        "cosmosDbConfiguration": {
          "target": "com.azure.securityandcompliance#ServiceCosmosDbConfigurationInfo",
          "traits": {
            "smithy.api#documentation": "The settings for the Cosmos DB database backing the service."
          }
        },
        "authenticationConfiguration": {
          "target": "com.azure.securityandcompliance#ServiceAuthenticationConfigurationInfo",
          "traits": {
            "smithy.api#documentation": "The authentication configuration for the service instance."
          }
        },
        "corsConfiguration": {
          "target": "com.azure.securityandcompliance#ServiceCorsConfigurationInfo",
          "traits": {
            "smithy.api#documentation": "The settings for the CORS configuration of the service instance."
          }
        },
        "exportConfiguration": {
          "target": "com.azure.securityandcompliance#ServiceExportConfigurationInfo",
          "traits": {
            "smithy.api#documentation": "The settings for the export operation of the service instance."
          }
        },
        "privateEndpointConnections": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponsePropertiesPrivateEndpointConnectionsList",
          "traits": {
            "smithy.api#documentation": "The list of private endpoint connections that are set up for this resource."
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponsePropertiesPublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Control permission for data plane traffic coming from public networks while private endpoint is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a service instance."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponsePropertiesPublicNetworkAccess": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Control permission for data plane traffic coming from public networks while private endpoint is enabled."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponsePropertiesPrivateEndpointConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityandcompliance#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The list of private endpoint connections that are set up for this resource."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponsePropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "VERIFYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Verifying"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DEPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deprovisioned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the resource."
          }
        },
        "type": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseIdentityType",
          "traits": {
            "smithy.api#documentation": "Type of identity being specified, currently SystemAssigned and None are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Setting indicating whether the service has a managed identity associated with it."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of identity being specified, currently SystemAssigned and None are allowed."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource tags."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseKind": {
      "type": "enum",
      "members": {
        "FHIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fhir"
          }
        },
        "FHIR_STU3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fhir-Stu3"
          }
        },
        "FHIR_R4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fhir-R4"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of the service."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.securityandcompliance#UpdatePrivateLinkServiceForEdmUploadRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service instance."
          }
        },
        "tags": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Instance tags"
          }
        },
        "properties": {
          "target": "com.azure.securityandcompliance#ServicesPropertiesUpdateParameters",
          "traits": {
            "smithy.api#documentation": "The properties for updating a service instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityandcompliance#ServicesPropertiesUpdateParameters": {
      "type": "structure",
      "members": {
        "publicNetworkAccess": {
          "target": "com.azure.securityandcompliance#ServicesPropertiesUpdateParametersPublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Control permission for data plane traffic coming from public networks while private endpoint is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties for updating a service instance."
      }
    },
    "com.azure.securityandcompliance#ServicesPropertiesUpdateParametersPublicNetworkAccess": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Control permission for data plane traffic coming from public networks while private endpoint is enabled."
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Instance tags"
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityAndCompliance/privateLinkServicesForEDMUpload/{resourceName}",
          "code": 200,
          "apiVersion": "2021-03-08"
        },
        "smithy.api#documentation": "Create or update the metadata of a privateLinkServicesForEDMUpload instance.",
        "com.distilled.openapi#apiVersion": "2021-03-08"
      }
    },
    "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "systemData": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadCreateOrUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "kind": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadCreateOrUpdateResponseKind",
          "traits": {
            "smithy.api#documentation": "The kind of the service.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource location.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "The resource tags."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An etag associated with the resource, used for optimistic concurrency when editing it."
          }
        },
        "identity": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadCreateOrUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Setting indicating whether the service has a managed identity associated with it."
          }
        },
        "properties": {
          "target": "com.azure.securityandcompliance#PrivateLinkServicesForEDMUploadCreateOrUpdateResponseProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a service instance."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
[...]
