{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.security#DataScannersDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.security#DataScannersDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{scopeId}/providers/Microsoft.Security/dataScanners/{scannerName}",
          "code": 200,
          "apiVersion": "2026-08-01"
        },
        "smithy.api#documentation": "Deletes a data scanner resource for the specified scope.",
        "com.distilled.openapi#apiVersion": "2026-08-01"
      }
    },
    "com.azure.security#DataScannersDeleteRequest": {
      "type": "structure",
      "members": {
        "scopeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the data scanner. Valid scopes are a subscription (format: 'subscriptions/{subscriptionId}') or a resource group (format: 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}')."
          }
        },
        "scannerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the data scanner."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.security#DataScannersCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.security#DataScannersCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.security#DataScannersCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{scopeId}/providers/Microsoft.Security/dataScanners/{scannerName}",
          "code": 200,
          "apiVersion": "2026-08-01"
        },
        "smithy.api#documentation": "Creates or updates a data scanner resource for the specified scope.",
        "com.distilled.openapi#apiVersion": "2026-08-01"
      }
    },
    "com.azure.security#DataScannersCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.security#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Data scanner resource properties."
          }
        },
        "identity": {
          "target": "com.azure.security#DataScannersCreateOrUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.security#DataScannersCreateOrUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.security#SystemAssignedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
      }
    },
    "com.azure.security#SystemAssignedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (either system assigned, or none)."
      }
    },
    "com.azure.security#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.security#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.security#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.security#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.security#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.security#DataScannersCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "scopeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the data scanner. Valid scopes are a subscription (format: 'subscriptions/{subscriptionId}') or a resource group (format: 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}')."
          }
        },
        "scannerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the data scanner."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Data scanner resource properties."
          }
        },
        "identity": {
          "target": "com.azure.security#DataScannersCreateOrUpdateRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.security#DataScannersCreateOrUpdateRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.security#SystemAssignedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
      }
    },
    "com.azure.security#DataScannersGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.security#DataScannersGetRequest"
      },
      "output": {
        "target": "com.azure.security#DataScannersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{scopeId}/providers/Microsoft.Security/dataScanners/{scannerName}",
          "code": 200,
          "apiVersion": "2026-08-01"
        },
        "smithy.api#documentation": "Gets a data scanner resource for the specified scope.",
        "com.distilled.openapi#apiVersion": "2026-08-01"
      }
    },
    "com.azure.security#DataScannersGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.security#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Data scanner resource properties."
          }
        },
        "identity": {
          "target": "com.azure.security#DataScannersGetResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.security#DataScannersGetResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.security#SystemAssignedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
      }
    },
    "com.azure.security#DataScannersGetRequest": {
      "type": "structure",
      "members": {
        "scopeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the data scanner. Valid scopes are a subscription (format: 'subscriptions/{subscriptionId}') or a resource group (format: 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}')."
          }
        },
        "scannerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the data scanner."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.security#DataScannersList": {
      "type": "operation",
      "input": {
        "target": "com.azure.security#DataScannersListRequest"
      },
      "output": {
        "target": "com.azure.security#DataScannerList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{scopeId}/providers/Microsoft.Security/dataScanners",
          "code": 200,
          "apiVersion": "2026-08-01"
        },
        "smithy.api#documentation": "Lists all data scanner resources for the specified scope.",
        "com.distilled.openapi#apiVersion": "2026-08-01"
      }
    },
    "com.azure.security#DataScannerList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.security#DataScannerListValueList",
          "traits": {
            "smithy.api#documentation": "The list of data scanner resources.",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to fetch the next page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of data scanner resources."
      }
    },
    "com.azure.security#DataScannerListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.security#DataScanner"
      },
      "traits": {
        "smithy.api#documentation": "The list of data scanner resources."
      }
    },
    "com.azure.security#DataScanner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.security#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Data scanner resource properties."
          }
        },
        "identity": {
          "target": "com.azure.security#DataScannerIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data scanner resource used by Defender for Storage to scan data for malware and sensitive data discovery."
      }
    },
    "com.azure.security#DataScannerIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.security#SystemAssignedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
      }
    },
    "com.azure.security#DataScannersListRequest": {
      "type": "structure",
      "members": {
        "scopeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the data scanner. Valid scopes are a subscription (format: 'subscriptions/{subscriptionId}') or a resource group (format: 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}')."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.security#Security": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.azure.security#DataScannersDelete"
        },
        {
          "target": "com.azure.security#DataScannersCreateOrUpdate"
        },
        {
          "target": "com.azure.security#DataScannersGet"
        },
        {
          "target": "com.azure.security#DataScannersList"
        }
      ],
      "traits": {
        "smithy.api#title": "Azure Security",
        "smithy.api#documentation": "Azure Security API — merged from the security resource-manager specs (latest stable api-version per resource provider)."
      }
    }
  }
}
