{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.securityinsights#DeleteWatchlistItem": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#DeleteWatchlistItemRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/watchlists/{watchlistAlias}/watchlistItems/{watchlistItemId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Delete a watchlist item.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#DeleteWatchlistItemRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        },
        "watchlistAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watchlist alias"
          }
        },
        "watchlistItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watchlist item id (GUID)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#WatchlistItemsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#WatchlistItemsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#WatchlistItemsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/watchlists/{watchlistAlias}/watchlistItems/{watchlistItemId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Create or update a watchlist item.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#WatchlistItemsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#WatchlistItemProperties",
          "traits": {
            "smithy.api#documentation": "Watchlist Item properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#WatchlistItemProperties": {
      "type": "structure",
      "members": {
        "watchlistItemType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the watchlist item"
          }
        },
        "watchlistItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id (a Guid) of the watchlist item"
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenantId to which the watchlist item belongs to"
          }
        },
        "isDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A flag that indicates if the watchlist item is deleted or not"
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the watchlist item was created"
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the watchlist item was updated"
          }
        },
        "createdBy": {
          "target": "com.azure.securityinsights#UserInfo",
          "traits": {
            "smithy.api#documentation": "Describes a user that created the watchlist item"
          }
        },
        "updatedBy": {
          "target": "com.azure.securityinsights#UserInfo",
          "traits": {
            "smithy.api#documentation": "Describes a user that updated the watchlist item"
          }
        },
        "itemsKeyValue": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "key-value pairs for a watchlist item",
            "smithy.api#required": {}
          }
        },
        "entityMapping": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "key-value pairs for a watchlist item entity mapping"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes watchlist item properties"
      }
    },
    "com.azure.securityinsights#UserInfo": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the user."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object id of the user.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User information that made some action"
      }
    },
    "com.azure.securityinsights#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.securityinsights#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.securityinsights#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.securityinsights#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.securityinsights#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.securityinsights#WatchlistItemsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        },
        "watchlistAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watchlist alias"
          }
        },
        "watchlistItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watchlist item id (GUID)"
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#WatchlistItemPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Watchlist Item properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#WatchlistItemPropertiesInput": {
      "type": "structure",
      "members": {
        "watchlistItemType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the watchlist item"
          }
        },
        "watchlistItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id (a Guid) of the watchlist item"
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenantId to which the watchlist item belongs to"
          }
        },
        "isDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A flag that indicates if the watchlist item is deleted or not"
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the watchlist item was created"
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the watchlist item was updated"
          }
        },
        "createdBy": {
          "target": "com.azure.securityinsights#UserInfoInput",
          "traits": {
            "smithy.api#documentation": "Describes a user that created the watchlist item"
          }
        },
        "updatedBy": {
          "target": "com.azure.securityinsights#UserInfoInput",
          "traits": {
            "smithy.api#documentation": "Describes a user that updated the watchlist item"
          }
        },
        "itemsKeyValue": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "key-value pairs for a watchlist item",
            "smithy.api#required": {}
          }
        },
        "entityMapping": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "key-value pairs for a watchlist item entity mapping"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes watchlist item properties"
      }
    },
    "com.azure.securityinsights#UserInfoInput": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object id of the user.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User information that made some action"
      }
    },
    "com.azure.securityinsights#GetWatchlistItem": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#GetWatchlistItemRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#GetWatchlistItemResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/watchlists/{watchlistAlias}/watchlistItems/{watchlistItemId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get a watchlist item.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#GetWatchlistItemResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#WatchlistItemProperties",
          "traits": {
            "smithy.api#documentation": "Watchlist Item properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#GetWatchlistItemRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        },
        "watchlistAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watchlist alias"
          }
        },
        "watchlistItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watchlist item id (GUID)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#ListWatchlistItems": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#ListWatchlistItemsRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#WatchlistItemList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/watchlists/{watchlistAlias}/watchlistItems",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get all watchlist Items.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#WatchlistItemList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.securityinsights#WatchlistItemListValueList",
          "traits": {
            "smithy.api#documentation": "The WatchlistItem items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List all the watchlist items."
      }
    },
    "com.azure.securityinsights#WatchlistItemListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#WatchlistItem"
      },
      "traits": {
        "smithy.api#documentation": "The WatchlistItem items on this page"
      }
    },
    "com.azure.securityinsights#WatchlistItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#WatchlistItemProperties",
          "traits": {
            "smithy.api#documentation": "Watchlist Item properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Watchlist Item in Azure Security Insights."
      }
    },
    "com.azure.securityinsights#ListWatchlistItemsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        },
        "watchlistAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watchlist alias"
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls. Optional."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#DeleteWatchlist": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#DeleteWatchlistRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/watchlists/{watchlistAlias}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Delete a watchlist.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#DeleteWatchlistRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        },
        "watchlistAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watchlist alias"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#WatchlistsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#WatchlistsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#WatchlistsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/watchlists/{watchlistAlias}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Create or update a Watchlist and its Watchlist Items (bulk creation, e.g. through text/csv content type). To create a Watchlist and its Items, we should call this endpoint with rawContent and contentType properties.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#WatchlistsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#WatchlistProperties",
          "traits": {
            "smithy.api#documentation": "Watchlist properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#WatchlistProperties": {
      "type": "structure",
      "members": {
        "watchlistId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id (a Guid) of the watchlist"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the watchlist",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider of the watchlist",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the watchlist, called 'source'"
          }
        },
        "sourceType": {
          "target": "com.azure.securityinsights#SourceType",
          "traits": {
            "smithy.api#documentation": "The sourceType of the watchlist"
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the watchlist was created"
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the watchlist was updated"
          }
        },
        "createdBy": {
          "target": "com.azure.securityinsights#UserInfo",
          "traits": {
            "smithy.api#documentation": "Describes a user that created the watchlist"
          }
        },
        "updatedBy": {
          "target": "com.azure.securityinsights#UserInfo",
          "traits": {
            "smithy.api#documentation": "Describes a user that updated the watchlist"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the watchlist"
          }
        },
        "watchlistType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the watchlist"
          }
        },
        "watchlistAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alias of the watchlist"
          }
        },
        "isDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A flag that indicates if the watchlist is deleted or not"
          }
        },
        "labels": {
          "target": "com.azure.securityinsights#WatchlistPropertiesLabelsList",
          "traits": {
            "smithy.api#documentation": "List of labels relevant to this watchlist"
          }
        },
        "defaultDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default duration of a watchlist (in ISO 8601 duration format)"
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenantId where the watchlist belongs to"
          }
        },
        "numberOfLinesToSkip": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of lines in a csv/tsv content to skip before the header"
          }
        },
        "rawContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The raw content that represents to watchlist items to create. In case of csv/tsv content type, it's the content of the file that will parsed by the endpoint"
          }
        },
        "itemsSearchKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The search key is used to optimize query performance when using watchlists for joins with other data. For example, enable a column with IP addresses to be the designated SearchKey field, then use this field as the key field when joining to other event data by IP address.",
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the raw content. Example : text/csv or text/tsv"
          }
        },
        "uploadStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the Watchlist upload : New, InProgress or Complete. **Note** : When a Watchlist upload status is InProgress, the Watchlist cannot be deleted"
          }
        },
        "provisioningState": {
          "target": "com.azure.securityinsights#WatchlistProvisioningState",
          "traits": {
            "smithy.api#documentation": "Describes provisioning state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes watchlist properties"
      }
    },
    "com.azure.securityinsights#WatchlistProvisioningState": {
      "type": "enum",
      "members": {
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "New"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "UPLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Uploading"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the watchlist"
      }
    },
    "com.azure.securityinsights#WatchlistPropertiesLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of labels relevant to this watchlist"
      }
    },
    "com.azure.securityinsights#SourceType": {
      "type": "enum",
      "members": {
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Local"
          }
        },
        "AZURESTORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureStorage"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The sourceType of the watchlist"
      }
    },
    "com.azure.securityinsights#WatchlistsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        },
        "watchlistAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watchlist alias"
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#WatchlistPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Watchlist properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#WatchlistPropertiesInput": {
      "type": "structure",
      "members": {
        "watchlistId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id (a Guid) of the watchlist"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the watchlist",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider of the watchlist",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the watchlist, called 'source'"
          }
        },
        "sourceType": {
          "target": "com.azure.securityinsights#SourceType",
          "traits": {
            "smithy.api#documentation": "The sourceType of the watchlist"
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the watchlist was created"
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the watchlist was updated"
          }
        },
        "createdBy": {
          "target": "com.azure.securityinsights#UserInfoInput",
          "traits": {
            "smithy.api#documentation": "Describes a user that created the watchlist"
          }
        },
        "updatedBy": {
          "target": "com.azure.securityinsights#UserInfoInput",
          "traits": {
            "smithy.api#documentation": "Describes a user that updated the watchlist"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the watchlist"
          }
        },
        "watchlistType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the watchlist"
          }
        },
        "watchlistAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alias of the watchlist"
          }
        },
        "isDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A flag that indicates if the watchlist is deleted or not"
          }
        },
        "labels": {
          "target": "com.azure.securityinsights#WatchlistPropertiesInputLabelsList",
          "traits": {
            "smithy.api#documentation": "List of labels relevant to this watchlist"
          }
        },
        "defaultDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default duration of a watchlist (in ISO 8601 duration format)"
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenantId where the watchlist belongs to"
          }
        },
        "numberOfLinesToSkip": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of lines in a csv/tsv content to skip before the header"
          }
        },
        "rawContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The raw content that represents to watchlist items to create. In case of csv/tsv content type, it's the content of the file that will parsed by the endpoint"
          }
        },
        "itemsSearchKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The search key is used to optimize query performance when using watchlists for joins with other data. For example, enable a column with IP addresses to be the designated SearchKey field, then use this field as the key field when joining to other event data by IP address.",
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the raw content. Example : text/csv or text/tsv"
          }
        },
        "uploadStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the Watchlist upload : New, InProgress or Complete. **Note** : When a Watchlist upload status is InProgress, the Watchlist cannot be deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes watchlist properties"
      }
    },
    "com.azure.securityinsights#WatchlistPropertiesInputLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of labels relevant to this watchlist"
      }
    },
    "com.azure.securityinsights#GetWatchlist": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#GetWatchlistRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#GetWatchlistResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/watchlists/{watchlistAlias}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get a watchlist, without its watchlist items.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#GetWatchlistResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#WatchlistProperties",
          "traits": {
            "smithy.api#documentation": "Watchlist properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#GetWatchlistRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        },
        "watchlistAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watchlist alias"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#ListWatchlists": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#ListWatchlistsRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#WatchlistList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/watchlists",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get all watchlists, without watchlist items.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#WatchlistList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.securityinsights#WatchlistListValueList",
          "traits": {
            "smithy.api#documentation": "The Watchlist items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List all the watchlists."
      }
    },
    "com.azure.securityinsights#WatchlistListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#Watchlist"
      },
      "traits": {
        "smithy.api#documentation": "The Watchlist items on this page"
      }
    },
    "com.azure.securityinsights#Watchlist": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#WatchlistProperties",
          "traits": {
            "smithy.api#documentation": "Watchlist properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Watchlist in Azure Security Insights."
      }
    },
    "com.azure.securityinsights#ListWatchlistsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls. Optional."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicators": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#ThreatIntelligenceInformationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/queryIndicators",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Query threat intelligence indicators as per filtering criteria.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceInformationList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.securityinsights#ThreatIntelligenceInformationListValueList",
          "traits": {
            "smithy.api#documentation": "The ThreatIntelligenceInformation items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of all the threat intelligence information objects."
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceInformationListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#ThreatIntelligenceInformation"
      },
      "traits": {
        "smithy.api#documentation": "The ThreatIntelligenceInformation items on this page"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceInformation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "kind": {
          "target": "com.azure.securityinsights#ThreatIntelligenceResourceInnerKind",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Threat intelligence information object."
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceResourceInnerKind": {
      "type": "enum",
      "members": {
        "INDICATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "indicator"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of the threat intelligence entity"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page size"
          }
        },
        "minConfidence": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum confidence."
          }
        },
        "maxConfidence": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum confidence."
          }
        },
        "minValidUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time for ValidUntil filter."
          }
        },
        "maxValidUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time for ValidUntil filter."
          }
        },
        "includeDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Parameter to include/exclude disabled indicators."
          }
        },
        "sortBy": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequestSortByList",
          "traits": {
            "smithy.api#documentation": "Columns to sort by and sorting order"
          }
        },
        "sources": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequestSourcesList",
          "traits": {
            "smithy.api#documentation": "Sources of threat intelligence indicators"
          }
        },
        "patternTypes": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequestPatternTypesList",
          "traits": {
            "smithy.api#documentation": "Pattern types"
          }
        },
        "threatTypes": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequestThreatTypesList",
          "traits": {
            "smithy.api#documentation": "Threat types of threat intelligence indicators"
          }
        },
        "ids": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequestIdsList",
          "traits": {
            "smithy.api#documentation": "Ids of threat intelligence indicators"
          }
        },
        "keywords": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequestKeywordsList",
          "traits": {
            "smithy.api#documentation": "Keywords for searching threat intelligence indicators"
          }
        },
        "skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Skip token."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequestKeywordsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Keywords for searching threat intelligence indicators"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Ids of threat intelligence indicators"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequestThreatTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Threat types of threat intelligence indicators"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequestPatternTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Pattern types"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequestSourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Sources of threat intelligence indicators"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorQueryIndicatorsRequestSortByList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#ThreatIntelligenceSortingCriteria"
      },
      "traits": {
        "smithy.api#documentation": "Columns to sort by and sorting order"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceSortingCriteria": {
      "type": "structure",
      "members": {
        "itemKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column name"
          }
        },
        "sortOrder": {
          "target": "com.azure.securityinsights#ThreatIntelligenceSortingOrder",
          "traits": {
            "smithy.api#documentation": "Sorting order (ascending/descending/unsorted)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of available columns for sorting"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceSortingOrder": {
      "type": "enum",
      "members": {
        "UNSORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsorted"
          }
        },
        "ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ascending"
          }
        },
        "DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "descending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sorting order (ascending/descending/unsorted)."
      }
    },
    "com.azure.securityinsights#ListThreatIntelligenceIndicatorMetrics": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#ListThreatIntelligenceIndicatorMetricsRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#ThreatIntelligenceMetricsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/metrics",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get threat intelligence indicators metrics (Indicators counts by Type, Threat Type, Source).",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceMetricsList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.securityinsights#ThreatIntelligenceMetricsListValueList",
          "traits": {
            "smithy.api#documentation": "Array of threat intelligence metric fields (type/threat type/source).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of all the threat intelligence metric fields (type/threat type/source)."
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceMetricsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#ThreatIntelligenceMetrics"
      },
      "traits": {
        "smithy.api#documentation": "Array of threat intelligence metric fields (type/threat type/source)."
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceMetrics": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.securityinsights#ThreatIntelligenceMetric",
          "traits": {
            "smithy.api#documentation": "Threat intelligence metrics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Threat intelligence metrics."
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceMetric": {
      "type": "structure",
      "members": {
        "lastUpdatedTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last updated indicator metric"
          }
        },
        "threatTypeMetrics": {
          "target": "com.azure.securityinsights#ThreatIntelligenceMetricThreatTypeMetricsList",
          "traits": {
            "smithy.api#documentation": "Threat type metrics"
          }
        },
        "patternTypeMetrics": {
          "target": "com.azure.securityinsights#ThreatIntelligenceMetricPatternTypeMetricsList",
          "traits": {
            "smithy.api#documentation": "Pattern type metrics"
          }
        },
        "sourceMetrics": {
          "target": "com.azure.securityinsights#ThreatIntelligenceMetricSourceMetricsList",
          "traits": {
            "smithy.api#documentation": "Source metrics"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes threat intelligence metric"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceMetricSourceMetricsList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#ThreatIntelligenceMetricEntity"
      },
      "traits": {
        "smithy.api#documentation": "Source metrics"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceMetricEntity": {
      "type": "structure",
      "members": {
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metric name"
          }
        },
        "metricValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes threat intelligence metric entity"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceMetricPatternTypeMetricsList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#ThreatIntelligenceMetricEntity"
      },
      "traits": {
        "smithy.api#documentation": "Pattern type metrics"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceMetricThreatTypeMetricsList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#ThreatIntelligenceMetricEntity"
      },
      "traits": {
        "smithy.api#documentation": "Threat type metrics"
      }
    },
    "com.azure.securityinsights#ListThreatIntelligenceIndicatorMetricsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorReplaceTags": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorReplaceTagsRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorReplaceTagsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/indicators/{name}/replaceTags",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Replace tags added to a threat intelligence indicator.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorReplaceTagsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "kind": {
          "target": "com.azure.securityinsights#ThreatIntelligenceResourceInnerKind",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorReplaceTagsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Threat intelligence indicator name field."
          }
        },
        "kind": {
          "target": "com.azure.securityinsights#ThreatIntelligenceResourceInnerKind",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Threat Intelligence Entity properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInput": {
      "type": "structure",
      "members": {
        "threatIntelligenceTags": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputThreatIntelligenceTagsList",
          "traits": {
            "smithy.api#documentation": "List of tags"
          }
        },
        "lastUpdatedTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last updated time in UTC"
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source of a threat intelligence entity"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of a threat intelligence entity"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of a threat intelligence entity"
          }
        },
        "indicatorTypes": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputIndicatorTypesList",
          "traits": {
            "smithy.api#documentation": "Indicator types of threat intelligence entities"
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern of a threat intelligence entity"
          }
        },
        "patternType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern type of a threat intelligence entity"
          }
        },
        "patternVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern version of a threat intelligence entity"
          }
        },
        "killChainPhases": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputKillChainPhasesList",
          "traits": {
            "smithy.api#documentation": "Kill chain phases"
          }
        },
        "parsedPattern": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputParsedPatternList",
          "traits": {
            "smithy.api#documentation": "Parsed patterns"
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External ID of threat intelligence entity"
          }
        },
        "createdByRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Created by reference of threat intelligence entity"
          }
        },
        "defanged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is threat intelligence entity defanged"
          }
        },
        "externalLastUpdatedTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External last updated time in UTC"
          }
        },
        "externalReferences": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputExternalReferencesList",
          "traits": {
            "smithy.api#documentation": "External References"
          }
        },
        "granularMarkings": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputGranularMarkingsList",
          "traits": {
            "smithy.api#documentation": "Granular Markings"
          }
        },
        "labels": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputLabelsList",
          "traits": {
            "smithy.api#documentation": "Labels  of threat intelligence entity"
          }
        },
        "revoked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is threat intelligence entity revoked"
          }
        },
        "confidence": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Confidence of threat intelligence entity"
          }
        },
        "objectMarkingRefs": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputObjectMarkingRefsList",
          "traits": {
            "smithy.api#documentation": "Threat intelligence entity object marking references"
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language of threat intelligence entity"
          }
        },
        "threatTypes": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputThreatTypesList",
          "traits": {
            "smithy.api#documentation": "Threat types"
          }
        },
        "validFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Valid from"
          }
        },
        "validUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Valid until"
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Created by"
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modified by"
          }
        },
        "extensions": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputExtensionsMap",
          "traits": {
            "smithy.api#documentation": "Extensions map"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes threat intelligence entity properties"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputExtensionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Extensions map"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputThreatTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Threat types"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputObjectMarkingRefsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Threat intelligence entity object marking references"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels  of threat intelligence entity"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputGranularMarkingsList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#ThreatIntelligenceGranularMarkingModel"
      },
      "traits": {
        "smithy.api#documentation": "Granular Markings"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceGranularMarkingModel": {
      "type": "structure",
      "members": {
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language granular marking model"
          }
        },
        "markingRef": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "marking reference granular marking model"
          }
        },
        "selectors": {
          "target": "com.azure.securityinsights#ThreatIntelligenceGranularMarkingModelSelectorsList",
          "traits": {
            "smithy.api#documentation": "granular marking model selectors"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes threat granular marking model entity"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceGranularMarkingModelSelectorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "granular marking model selectors"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputExternalReferencesList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#ThreatIntelligenceExternalReference"
      },
      "traits": {
        "smithy.api#documentation": "External References"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceExternalReference": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External reference description"
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External reference ID"
          }
        },
        "sourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External reference source name"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External reference URL"
          }
        },
        "hashes": {
          "target": "com.azure.securityinsights#ThreatIntelligenceExternalReferenceHashesMap",
          "traits": {
            "smithy.api#documentation": "External reference hashes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes external reference"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceExternalReferenceHashesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "External reference hashes"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputParsedPatternList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#ThreatIntelligenceParsedPattern"
      },
      "traits": {
        "smithy.api#documentation": "Parsed patterns"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceParsedPattern": {
      "type": "structure",
      "members": {
        "patternTypeKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern type key"
          }
        },
        "patternTypeValues": {
          "target": "com.azure.securityinsights#ThreatIntelligenceParsedPatternPatternTypeValuesList",
          "traits": {
            "smithy.api#documentation": "Pattern type keys"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes parsed pattern entity"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceParsedPatternPatternTypeValuesList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#ThreatIntelligenceParsedPatternTypeValue"
      },
      "traits": {
        "smithy.api#documentation": "Pattern type keys"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceParsedPatternTypeValue": {
      "type": "structure",
      "members": {
        "valueType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the value"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of parsed pattern"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes threat kill chain phase entity"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputKillChainPhasesList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#ThreatIntelligenceKillChainPhase"
      },
      "traits": {
        "smithy.api#documentation": "Kill chain phases"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceKillChainPhase": {
      "type": "structure",
      "members": {
        "killChainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kill chainName name"
          }
        },
        "phaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phase name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes threat kill chain phase entity"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputIndicatorTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Indicator types of threat intelligence entities"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInputThreatIntelligenceTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of tags"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorAppendTags": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorAppendTagsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/indicators/{name}/appendTags",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Append tags to a threat intelligence indicator.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorAppendTagsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Threat intelligence indicator name field."
          }
        },
        "threatIntelligenceTags": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorAppendTagsRequestThreatIntelligenceTagsList",
          "traits": {
            "smithy.api#documentation": "List of tags to be appended."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#ThreatIntelligenceIndicatorAppendTagsRequestThreatIntelligenceTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of tags to be appended."
      }
    },
    "com.azure.securityinsights#DeleteThreatIntelligenceIndicator": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#DeleteThreatIntelligenceIndicatorRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/indicators/{name}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Delete a threat intelligence indicator.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#DeleteThreatIntelligenceIndicatorRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Threat intelligence indicator name field."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#CreateThreatIntelligenceIndicator": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#CreateThreatIntelligenceIndicatorRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#CreateThreatIntelligenceIndicatorResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/indicators/{name}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Update a threat Intelligence indicator.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#CreateThreatIntelligenceIndicatorResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "kind": {
          "target": "com.azure.securityinsights#ThreatIntelligenceResourceInnerKind",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#CreateThreatIntelligenceIndicatorRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the monitor workspace."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Threat intelligence indicator name field."
          }
        },
        "kind": {
          "target": "com.azure.securityinsights#ThreatIntelligenceResourceInnerKind",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#ThreatIntelligenceIndicatorPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Threat Intelligence Entity properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#GetThreatIntelligenceIndicator": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#GetThreatIntelligenceIndicatorRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#GetThreatIntelligenceIndicatorResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/indicators/{name}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "View a threat intelligence indicator by name.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#GetThreatIntelligenceIndicatorResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
[...]
