{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.servicenetworking#DeleteSecurityPolicyInterface": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#DeleteSecurityPolicyInterfaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/securityPolicies/{securityPolicyName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Delete a SecurityPolicy",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#DeleteSecurityPolicyInterfaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "securityPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "SecurityPolicy"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#UpdateSecurityPolicyInterface": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#UpdateSecurityPolicyInterfaceRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#UpdateSecurityPolicyInterfaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/securityPolicies/{securityPolicyName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Update a SecurityPolicy",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#UpdateSecurityPolicyInterfaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#SecurityPoliciesInterfaceUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#SecurityPolicyProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicenetworking#SecurityPolicyProperties": {
      "type": "structure",
      "members": {
        "policyType": {
          "target": "com.azure.servicenetworking#PolicyType",
          "traits": {
            "smithy.api#documentation": "Type of the Traffic Controller Security Policy"
          }
        },
        "wafPolicy": {
          "target": "com.azure.servicenetworking#WafPolicy",
          "traits": {
            "smithy.api#documentation": "Web Application Firewall Policy of the Traffic Controller Security Policy. Single Security Policy can have only one policy type set."
          }
        },
        "ipAccessRulesPolicy": {
          "target": "com.azure.servicenetworking#IpAccessRulesPolicy",
          "traits": {
            "smithy.api#documentation": "Ip Access Policy of the Traffic Controller Security Policy. Single Security Policy can have only one policy type set."
          }
        },
        "provisioningState": {
          "target": "com.azure.servicenetworking#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning State of Traffic Controller SecurityPolicy Resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SecurityPolicy Properties."
      }
    },
    "com.azure.servicenetworking#ProvisioningState": {
      "type": "enum",
      "members": {
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource Provisioning State Enum"
      }
    },
    "com.azure.servicenetworking#IpAccessRulesPolicy": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.azure.servicenetworking#IpAccessRulesPolicyRulesList",
          "traits": {
            "smithy.api#documentation": "Ip Access Policy Rules List"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ip Access Policy"
      }
    },
    "com.azure.servicenetworking#IpAccessRulesPolicyRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicenetworking#IpAccessRule"
      },
      "traits": {
        "smithy.api#documentation": "Ip Access Policy Rules List"
      }
    },
    "com.azure.servicenetworking#IpAccessRule": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Ip Access Rule",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The priority of the rule. The value can be between 1 and 500. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule.",
            "smithy.api#required": {}
          }
        },
        "sourceAddressPrefixes": {
          "target": "com.azure.servicenetworking#IpAccessRuleSourceAddressPrefixesList",
          "traits": {
            "smithy.api#documentation": "Source Address Prefixed Applied by the Rule. Asterisk '*' can also be used to match all source IPs.",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.azure.servicenetworking#IpAccessRuleAction",
          "traits": {
            "smithy.api#documentation": "Action of the Rule",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ip Access Policy Rules"
      }
    },
    "com.azure.servicenetworking#IpAccessRuleAction": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action of Ip Access Rule"
      }
    },
    "com.azure.servicenetworking#IpAccessRuleSourceAddressPrefixesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Source Address Prefixed Applied by the Rule. Asterisk '*' can also be used to match all source IPs."
      }
    },
    "com.azure.servicenetworking#WafPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the WAF",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web Application Firewall Policy"
      }
    },
    "com.azure.servicenetworking#PolicyType": {
      "type": "enum",
      "members": {
        "WAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waf"
          }
        },
        "IPACCESSRULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipAccessRules"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy Type of the Security Policy"
      }
    },
    "com.azure.servicenetworking#SecurityPoliciesInterfaceUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicenetworking#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.servicenetworking#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.servicenetworking#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.servicenetworking#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.servicenetworking#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.servicenetworking#UpdateSecurityPolicyInterfaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "securityPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "SecurityPolicy"
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#SecurityPoliciesInterfaceUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#SecurityPolicyUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#SecurityPolicyUpdateProperties": {
      "type": "structure",
      "members": {
        "wafPolicy": {
          "target": "com.azure.servicenetworking#WafPolicyUpdate",
          "traits": {
            "smithy.api#documentation": "Web Application Firewall Policy of the Traffic Controller Security Policy. Single Security Policy can have only one policy type set."
          }
        },
        "ipAccessRulesPolicy": {
          "target": "com.azure.servicenetworking#IpAccessRulesPolicy",
          "traits": {
            "smithy.api#documentation": "Ip Access Policy of the Traffic Controller Security Policy. Single Security Policy can have only one policy type set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The updatable properties of the SecurityPolicy."
      }
    },
    "com.azure.servicenetworking#WafPolicyUpdate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the WAF"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web Application Firewall Policy"
      }
    },
    "com.azure.servicenetworking#SecurityPoliciesInterfaceUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicenetworking#SecurityPoliciesInterfaceCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#SecurityPoliciesInterfaceCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#SecurityPoliciesInterfaceCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/securityPolicies/{securityPolicyName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Create a SecurityPolicy",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#SecurityPoliciesInterfaceCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#SecurityPoliciesInterfaceCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#SecurityPolicyProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicenetworking#SecurityPoliciesInterfaceCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicenetworking#SecurityPoliciesInterfaceCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "securityPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "SecurityPolicy"
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#SecurityPoliciesInterfaceCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#SecurityPolicyPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#SecurityPolicyPropertiesInput": {
      "type": "structure",
      "members": {
        "wafPolicy": {
          "target": "com.azure.servicenetworking#WafPolicy",
          "traits": {
            "smithy.api#documentation": "Web Application Firewall Policy of the Traffic Controller Security Policy. Single Security Policy can have only one policy type set."
          }
        },
        "ipAccessRulesPolicy": {
          "target": "com.azure.servicenetworking#IpAccessRulesPolicy",
          "traits": {
            "smithy.api#documentation": "Ip Access Policy of the Traffic Controller Security Policy. Single Security Policy can have only one policy type set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SecurityPolicy Properties."
      }
    },
    "com.azure.servicenetworking#SecurityPoliciesInterfaceCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicenetworking#GetSecurityPolicyInterface": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#GetSecurityPolicyInterfaceRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#GetSecurityPolicyInterfaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/securityPolicies/{securityPolicyName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Get a SecurityPolicy",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#GetSecurityPolicyInterfaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#SecurityPoliciesInterfaceGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#SecurityPolicyProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicenetworking#SecurityPoliciesInterfaceGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicenetworking#GetSecurityPolicyInterfaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "securityPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "SecurityPolicy"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#ListSecurityPolicyInterfaceByTrafficController": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#ListSecurityPolicyInterfaceByTrafficControllerRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#SecurityPolicyListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/securityPolicies",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "List SecurityPolicy resources by TrafficController",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#SecurityPolicyListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.servicenetworking#SecurityPolicyListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SecurityPolicy items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SecurityPolicy list operation."
      }
    },
    "com.azure.servicenetworking#SecurityPolicyListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicenetworking#SecurityPolicy"
      },
      "traits": {
        "smithy.api#documentation": "The SecurityPolicy items on this page"
      }
    },
    "com.azure.servicenetworking#SecurityPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#SecurityPolicyTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#SecurityPolicyProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SecurityPolicy Subresource of Traffic Controller."
      }
    },
    "com.azure.servicenetworking#SecurityPolicyTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicenetworking#ListSecurityPolicyInterfaceByTrafficControllerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#GetPrivateLinkResourceInterface": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#GetPrivateLinkResourceInterfaceRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#GetPrivateLinkResourceInterfaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/privateLinkResources/{privateLinkResourceName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Get a PrivateLinkResource",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#GetPrivateLinkResourceInterfaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicenetworking#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group ID."
          }
        },
        "requiredMembers": {
          "target": "com.azure.servicenetworking#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.servicenetworking#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource private DNS zone names."
          }
        },
        "provisioningState": {
          "target": "com.azure.servicenetworking#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.servicenetworking#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource private DNS zone names."
      }
    },
    "com.azure.servicenetworking#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.servicenetworking#GetPrivateLinkResourceInterfaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "privateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Private Link Resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#ListPrivateLinkResourceInterfaceByTrafficController": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#ListPrivateLinkResourceInterfaceByTrafficControllerRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#PrivateLinkResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "List PrivateLinkResource resources by TrafficController",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#PrivateLinkResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.servicenetworking#PrivateLinkResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateLinkResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PrivateLinkResource list operation."
      }
    },
    "com.azure.servicenetworking#PrivateLinkResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicenetworking#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateLinkResource items on this page"
      }
    },
    "com.azure.servicenetworking#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource."
      }
    },
    "com.azure.servicenetworking#ListPrivateLinkResourceInterfaceByTrafficControllerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#DeletePrivateEndpointConnectionInterface": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#DeletePrivateEndpointConnectionInterfaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Delete a PrivateEndpointConnection",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#DeletePrivateEndpointConnectionInterfaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Private Endpoint Connection"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#UpdatePrivateEndpointConnectionInterface": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#UpdatePrivateEndpointConnectionInterfaceRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#UpdatePrivateEndpointConnectionInterfaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Create a PrivateEndpointConnection",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#UpdatePrivateEndpointConnectionInterfaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicenetworking#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.servicenetworking#PrivateEndpointReference",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.servicenetworking#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "The connection state of the private endpoint connection.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.servicenetworking#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a Private Endpoint Connection."
      }
    },
    "com.azure.servicenetworking#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.servicenetworking#PrivateLinkServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of a private link service connection."
      }
    },
    "com.azure.servicenetworking#PrivateLinkServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.servicenetworking#PrivateEndpointReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to a private endpoint resource."
      }
    },
    "com.azure.servicenetworking#UpdatePrivateEndpointConnectionInterfaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Private Endpoint Connection"
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateLinkServiceConnectionState": {
          "target": "com.azure.servicenetworking#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "The connection state of the private endpoint connection.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a Private Endpoint Connection."
      }
    },
    "com.azure.servicenetworking#GetPrivateEndpointConnectionInterface": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#GetPrivateEndpointConnectionInterfaceRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#GetPrivateEndpointConnectionInterfaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Get a PrivateEndpointConnection",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#GetPrivateEndpointConnectionInterfaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicenetworking#GetPrivateEndpointConnectionInterfaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Private Endpoint Connection"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#ListPrivateEndpointConnectionInterfaceByTrafficController": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#ListPrivateEndpointConnectionInterfaceByTrafficControllerRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#PrivateEndpointConnectionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "List PrivateEndpointConnection resources by TrafficController",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#PrivateEndpointConnectionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.servicenetworking#PrivateEndpointConnectionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateEndpointConnection items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PrivateEndpointConnection list operation."
      }
    },
    "com.azure.servicenetworking#PrivateEndpointConnectionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicenetworking#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateEndpointConnection items on this page"
      }
    },
    "com.azure.servicenetworking#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private Endpoint Connection resource of Traffic Controller."
      }
    },
    "com.azure.servicenetworking#ListPrivateEndpointConnectionInterfaceByTrafficControllerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#DeleteFrontendInterface": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#DeleteFrontendInterfaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/frontends/{frontendName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Delete a Frontend",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#DeleteFrontendInterfaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "frontendName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Frontends"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#UpdateFrontendInterface": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#UpdateFrontendInterfaceRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#UpdateFrontendInterfaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/frontends/{frontendName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Update a Frontend",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#UpdateFrontendInterfaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#FrontendsInterfaceUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#FrontendProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicenetworking#FrontendProperties": {
      "type": "structure",
      "members": {
        "fqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Fully Qualified Domain Name of the DNS record associated to a Traffic Controller frontend."
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.servicenetworking#PublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Whether public network access is allowed for the frontend. Enabled indicates a public frontend; Disabled indicates a private frontend."
          }
        },
        "association": {
          "target": "com.azure.servicenetworking#FrontendAssociation",
          "traits": {
            "smithy.api#documentation": "Reference to an Association resource that contains the subnet where the private frontend should be deployed."
          }
        },
        "securityPolicyConfigurations": {
          "target": "com.azure.servicenetworking#SecurityPolicyConfigurations",
          "traits": {
            "smithy.api#documentation": "Frontend Security Policy Configuration"
          }
        },
        "provisioningState": {
          "target": "com.azure.servicenetworking#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning State of Traffic Controller Frontend Resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Frontend Properties."
      }
    },
    "com.azure.servicenetworking#SecurityPolicyConfigurations": {
      "type": "structure",
      "members": {
        "wafSecurityPolicy": {
          "target": "com.azure.servicenetworking#WafSecurityPolicy",
          "traits": {
            "smithy.api#documentation": "Contains reference to a WAF-type security policy."
          }
        },
        "ipAccessRulesSecurityPolicy": {
          "target": "com.azure.servicenetworking#IpAccessRulesSecurityPolicy",
          "traits": {
            "smithy.api#documentation": "Contains reference to a IpAccessRules-type security policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SecurityPolicyConfigurations Subresource of Traffic Controller."
      }
    },
    "com.azure.servicenetworking#IpAccessRulesSecurityPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the Ip Access Rules Security Policy",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IpAccessRules Security Policy"
      }
    },
    "com.azure.servicenetworking#WafSecurityPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the Waf Security Policy",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web Application Firewall Security Policy"
      }
    },
    "com.azure.servicenetworking#FrontendAssociation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the Association.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to an Association resource."
      }
    },
    "com.azure.servicenetworking#PublicNetworkAccess": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether public network access is allowed for the frontend."
      }
    },
    "com.azure.servicenetworking#FrontendsInterfaceUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicenetworking#UpdateFrontendInterfaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "frontendName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Frontends"
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#FrontendsInterfaceUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#FrontendUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#FrontendUpdateProperties": {
      "type": "structure",
      "members": {
        "publicNetworkAccess": {
          "target": "com.azure.servicenetworking#PublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Whether public network access is allowed for the frontend. Enabled indicates a public frontend; Disabled indicates a private frontend."
          }
        },
        "association": {
          "target": "com.azure.servicenetworking#FrontendAssociationUpdate",
          "traits": {
            "smithy.api#documentation": "Reference to an Association resource that contains the subnet where the private frontend should be deployed."
          }
        },
        "securityPolicyConfigurations": {
          "target": "com.azure.servicenetworking#SecurityPolicyConfigurationsUpdate",
          "traits": {
            "smithy.api#documentation": "Frontend Security Policy Configuration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The updatable properties of the Frontend."
      }
    },
    "com.azure.servicenetworking#SecurityPolicyConfigurationsUpdate": {
      "type": "structure",
      "members": {
        "wafSecurityPolicy": {
          "target": "com.azure.servicenetworking#WafSecurityPolicyUpdate",
          "traits": {
            "smithy.api#documentation": "Contains reference to a WAF-type security policy."
          }
        },
        "ipAccessRulesSecurityPolicy": {
          "target": "com.azure.servicenetworking#IpAccessRulesSecurityPolicyUpdate",
          "traits": {
            "smithy.api#documentation": "Contains reference to a IpAccessRules-type security policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SecurityPolicyConfigurations Subresource of Traffic Controller."
      }
    },
    "com.azure.servicenetworking#IpAccessRulesSecurityPolicyUpdate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the Ip Access Rules Security Policy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IpAccessRules Security Policy"
      }
    },
    "com.azure.servicenetworking#WafSecurityPolicyUpdate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the Waf Security Policy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web Application Firewall Security Policy"
      }
    },
    "com.azure.servicenetworking#FrontendAssociationUpdate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the Association."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to an Association resource."
      }
    },
    "com.azure.servicenetworking#FrontendsInterfaceUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicenetworking#FrontendsInterfaceCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#FrontendsInterfaceCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#FrontendsInterfaceCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/frontends/{frontendName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Create a Frontend",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#FrontendsInterfaceCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#FrontendsInterfaceCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#FrontendProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicenetworking#FrontendsInterfaceCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicenetworking#FrontendsInterfaceCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "frontendName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Frontends"
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#FrontendsInterfaceCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#FrontendPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#FrontendPropertiesInput": {
      "type": "structure",
      "members": {
        "publicNetworkAccess": {
          "target": "com.azure.servicenetworking#PublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Whether public network access is allowed for the frontend. Enabled indicates a public frontend; Disabled indicates a private frontend."
          }
        },
        "association": {
          "target": "com.azure.servicenetworking#FrontendAssociation",
          "traits": {
            "smithy.api#documentation": "Reference to an Association resource that contains the subnet where the private frontend should be deployed."
          }
        },
        "securityPolicyConfigurations": {
          "target": "com.azure.servicenetworking#SecurityPolicyConfigurations",
          "traits": {
            "smithy.api#documentation": "Frontend Security Policy Configuration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Frontend Properties."
      }
    },
    "com.azure.servicenetworking#FrontendsInterfaceCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicenetworking#GetFrontendInterface": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#GetFrontendInterfaceRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#GetFrontendInterfaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/frontends/{frontendName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Get a Frontend",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#GetFrontendInterfaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#FrontendsInterfaceGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#FrontendProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicenetworking#FrontendsInterfaceGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicenetworking#GetFrontendInterfaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "frontendName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Frontends"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#ListFrontendInterfaceByTrafficController": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#ListFrontendInterfaceByTrafficControllerRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#FrontendListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/frontends",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "List Frontend resources by TrafficController",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#FrontendListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.servicenetworking#FrontendListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Frontend items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Frontend list operation."
      }
    },
    "com.azure.servicenetworking#FrontendListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicenetworking#Frontend"
      },
      "traits": {
        "smithy.api#documentation": "The Frontend items on this page"
      }
    },
    "com.azure.servicenetworking#Frontend": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#FrontendTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#FrontendProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Frontend Sub Resource of Traffic Controller."
      }
    },
    "com.azure.servicenetworking#FrontendTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicenetworking#ListFrontendInterfaceByTrafficControllerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#DeleteAssociationInterface": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#DeleteAssociationInterfaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/associations/{associationName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Delete a Association",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#DeleteAssociationInterfaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "associationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Association"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#UpdateAssociationInterface": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicenetworking#UpdateAssociationInterfaceRequest"
      },
      "output": {
        "target": "com.azure.servicenetworking#UpdateAssociationInterfaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/associations/{associationName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Update a Association",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.servicenetworking#UpdateAssociationInterfaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicenetworking#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#AssociationsInterfaceUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#AssociationProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicenetworking#AssociationProperties": {
      "type": "structure",
      "members": {
        "associationType": {
          "target": "com.azure.servicenetworking#AssociationType",
          "traits": {
            "smithy.api#documentation": "Association Type",
            "smithy.api#required": {}
          }
        },
        "subnet": {
          "target": "com.azure.servicenetworking#AssociationSubnet",
          "traits": {
            "smithy.api#documentation": "Association Subnet"
          }
        },
        "provisioningState": {
          "target": "com.azure.servicenetworking#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning State of Traffic Controller Association Resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Association Properties."
      }
    },
    "com.azure.servicenetworking#AssociationSubnet": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Association ID.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Association Subnet."
      }
    },
    "com.azure.servicenetworking#AssociationType": {
      "type": "enum",
      "members": {
        "SUBNETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subnets"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Association Type Enum"
      }
    },
    "com.azure.servicenetworking#AssociationsInterfaceUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicenetworking#UpdateAssociationInterfaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "trafficControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "traffic controller name for path"
          }
        },
        "associationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Association"
          }
        },
        "tags": {
          "target": "com.azure.servicenetworking#AssociationsInterfaceUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.servicenetworking#AssociationUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicenetworking#AssociationUpdateProperties": {
      "type": "structure",
      "members": {
        "associationType": {
[...]
