{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.sphere#CatalogsUploadImage": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#CatalogsUploadImageRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/uploadImage",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Creates an image. Use this action when the image ID is unknown.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#CatalogsUploadImageRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "properties": {
          "target": "com.azure.sphere#ImagePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#ImagePropertiesInput": {
      "type": "structure",
      "members": {
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image as a UTF-8 encoded base 64 string on image create. This field contains the image URI on image reads."
          }
        },
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image ID"
          }
        },
        "regionalDataBoundary": {
          "target": "com.azure.sphere#RegionalDataBoundary",
          "traits": {
            "smithy.api#documentation": "Regional data boundary for an image"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of image"
      }
    },
    "com.azure.sphere#RegionalDataBoundary": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EU"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Regional data boundary values."
      }
    },
    "com.azure.sphere#GenerateProductDefaultDeviceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#GenerateProductDefaultDeviceGroupRequest"
      },
      "output": {
        "target": "com.azure.sphere#DeviceGroupListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/generateDefaultDeviceGroups",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Generates default device groups for the product. '.default' and '.unassigned' are system defined values and cannot be used for product name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#DeviceGroupListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.sphere#DeviceGroupListResultValueList",
          "traits": {
            "smithy.api#documentation": "The DeviceGroup items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a DeviceGroup list operation."
      }
    },
    "com.azure.sphere#DeviceGroupListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.sphere#DeviceGroup"
      },
      "traits": {
        "smithy.api#documentation": "The DeviceGroup items on this page"
      }
    },
    "com.azure.sphere#DeviceGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sphere#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeviceGroupProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An device group resource belonging to a product resource."
      }
    },
    "com.azure.sphere#DeviceGroupProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the device group."
          }
        },
        "osFeedType": {
          "target": "com.azure.sphere#OSFeedType",
          "traits": {
            "smithy.api#documentation": "Operating system feed type of the device group."
          }
        },
        "updatePolicy": {
          "target": "com.azure.sphere#UpdatePolicy",
          "traits": {
            "smithy.api#documentation": "Update policy of the device group."
          }
        },
        "allowCrashDumpsCollection": {
          "target": "com.azure.sphere#AllowCrashDumpCollection",
          "traits": {
            "smithy.api#documentation": "Flag to define if the user allows for crash dump collection."
          }
        },
        "regionalDataBoundary": {
          "target": "com.azure.sphere#RegionalDataBoundary",
          "traits": {
            "smithy.api#documentation": "Regional data boundary for the device group."
          }
        },
        "hasDeployment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deployment status for the device group."
          }
        },
        "provisioningState": {
          "target": "com.azure.sphere#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of deviceGroup"
      }
    },
    "com.azure.sphere#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of resource."
      }
    },
    "com.azure.sphere#AllowCrashDumpCollection": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allow crash dumps values."
      }
    },
    "com.azure.sphere#UpdatePolicy": {
      "type": "enum",
      "members": {
        "UPDATEALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateAll"
          }
        },
        "NO3RDPARTYAPPUPDATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "No3rdPartyAppUpdates"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update policy values."
      }
    },
    "com.azure.sphere#OSFeedType": {
      "type": "enum",
      "members": {
        "RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Retail"
          }
        },
        "RETAILEVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RetailEval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OS feed type values."
      }
    },
    "com.azure.sphere#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.sphere#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.sphere#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.sphere#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.sphere#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.sphere#GenerateProductDefaultDeviceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#GenerateDeviceCapabilityImage": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#GenerateDeviceCapabilityImageRequest"
      },
      "output": {
        "target": "com.azure.sphere#SignedCapabilityImageResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/devices/{deviceName}/generateCapabilityImage",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Generates the capability image for the device. Use '.unassigned' or '.default' for the device group and product names to generate the image for a device that does not belong to a specific device group and product.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#SignedCapabilityImageResponse": {
      "type": "structure",
      "members": {
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed device capability image as a UTF-8 encoded base 64 string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Signed device capability image response"
      }
    },
    "com.azure.sphere#GenerateDeviceCapabilityImageRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Device name"
          }
        },
        "capabilities": {
          "target": "com.azure.sphere#DevicesGenerateCapabilityImageRequestCapabilitiesList",
          "traits": {
            "smithy.api#documentation": "List of capabilities to create",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#DevicesGenerateCapabilityImageRequestCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.sphere#CapabilityType"
      },
      "traits": {
        "smithy.api#documentation": "List of capabilities to create"
      }
    },
    "com.azure.sphere#CapabilityType": {
      "type": "enum",
      "members": {
        "APPLICATIONDEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ApplicationDevelopment"
          }
        },
        "FIELDSERVICING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FieldServicing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Capability image type"
      }
    },
    "com.azure.sphere#DeleteDevice": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#DeleteDeviceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/devices/{deviceName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Delete a Device",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#DeleteDeviceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Device name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#UpdateDevice": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#UpdateDeviceRequest"
      },
      "output": {
        "target": "com.azure.sphere#UpdateDeviceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/devices/{deviceName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Update a Device. Use '.unassigned' or '.default' for the device group and product names to move a device to the catalog level.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#UpdateDeviceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sphere#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeviceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sphere#DeviceProperties": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device ID"
          }
        },
        "chipSku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SKU of the chip"
          }
        },
        "lastAvailableOsVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OS version available for installation when update requested"
          }
        },
        "lastInstalledOsVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OS version running on device when update requested"
          }
        },
        "lastOsUpdateUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when update requested and new OS version available"
          }
        },
        "lastUpdateRequestUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when update was last requested"
          }
        },
        "provisioningState": {
          "target": "com.azure.sphere#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of device"
      }
    },
    "com.azure.sphere#UpdateDeviceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Device name"
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeviceUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The updatable properties of the Device."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#DeviceUpdateProperties": {
      "type": "structure",
      "members": {
        "deviceGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device group id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The updatable properties of the Device."
      }
    },
    "com.azure.sphere#DevicesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#DevicesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.sphere#DevicesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/devices/{deviceName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Create a Device. Use '.unassigned' or '.default' for the device group and product names to claim a device to the catalog only.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#DevicesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sphere#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeviceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sphere#DevicesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Device name"
          }
        },
        "properties": {
          "target": "com.azure.sphere#DevicePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#DevicePropertiesInput": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device ID"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of device"
      }
    },
    "com.azure.sphere#GetDevice": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#GetDeviceRequest"
      },
      "output": {
        "target": "com.azure.sphere#GetDeviceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/devices/{deviceName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Get a Device. Use '.unassigned' or '.default' for the device group and product names when a device does not belong to a device group and product.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#GetDeviceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sphere#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeviceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sphere#GetDeviceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Device name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#ListDeviceByDeviceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#ListDeviceByDeviceGroupRequest"
      },
      "output": {
        "target": "com.azure.sphere#DeviceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/devices",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "List Device resources by DeviceGroup. '.default' and '.unassigned' are system defined values and cannot be used for product or device group name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#DeviceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.sphere#DeviceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Device items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Device list operation."
      }
    },
    "com.azure.sphere#DeviceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.sphere#Device"
      },
      "traits": {
        "smithy.api#documentation": "The Device items on this page"
      }
    },
    "com.azure.sphere#Device": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sphere#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeviceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An device resource belonging to a device group resource."
      }
    },
    "com.azure.sphere#ListDeviceByDeviceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#DeleteDeployment": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#DeleteDeploymentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/deployments/{deploymentName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Delete a Deployment. '.default' and '.unassigned' are system defined values and cannot be used for product or device group name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#DeleteDeploymentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        },
        "deploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Deployment name. Use .default for deployment creation and to get the current deployment for the associated device group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#DeploymentsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#DeploymentsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.sphere#DeploymentsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/deployments/{deploymentName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Create a Deployment. '.default' and '.unassigned' are system defined values and cannot be used for product or device group name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#DeploymentsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sphere#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeploymentProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sphere#DeploymentProperties": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deployment ID"
          }
        },
        "deployedImages": {
          "target": "com.azure.sphere#DeploymentPropertiesDeployedImagesList",
          "traits": {
            "smithy.api#documentation": "Images deployed"
          }
        },
        "deploymentDateUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deployment date UTC"
          }
        },
        "provisioningState": {
          "target": "com.azure.sphere#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of deployment"
      }
    },
    "com.azure.sphere#DeploymentPropertiesDeployedImagesList": {
      "type": "list",
      "member": {
        "target": "com.azure.sphere#Image"
      },
      "traits": {
        "smithy.api#documentation": "Images deployed"
      }
    },
    "com.azure.sphere#Image": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sphere#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sphere#ImageProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An image resource belonging to a catalog resource."
      }
    },
    "com.azure.sphere#ImageProperties": {
      "type": "structure",
      "members": {
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image as a UTF-8 encoded base 64 string on image create. This field contains the image URI on image reads."
          }
        },
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image ID"
          }
        },
        "imageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image name"
          }
        },
        "regionalDataBoundary": {
          "target": "com.azure.sphere#RegionalDataBoundary",
          "traits": {
            "smithy.api#documentation": "Regional data boundary for an image"
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location the image"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image description."
          }
        },
        "componentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image component id."
          }
        },
        "imageType": {
          "target": "com.azure.sphere#ImageType",
          "traits": {
            "smithy.api#documentation": "The image type."
          }
        },
        "provisioningState": {
          "target": "com.azure.sphere#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of image"
      }
    },
    "com.azure.sphere#ImageType": {
      "type": "enum",
      "members": {
        "INVALIDIMAGETYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InvalidImageType"
          }
        },
        "ONEBL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneBl"
          }
        },
        "PLUTONRUNTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PlutonRuntime"
          }
        },
        "WIFIFIRMWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WifiFirmware"
          }
        },
        "SECURITYMONITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SecurityMonitor"
          }
        },
        "NORMALWORLDLOADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NormalWorldLoader"
          }
        },
        "NORMALWORLDDTB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NormalWorldDtb"
          }
        },
        "NORMALWORLDKERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NormalWorldKernel"
          }
        },
        "ROOTFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RootFs"
          }
        },
        "SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Services"
          }
        },
        "APPLICATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Applications"
          }
        },
        "FWCONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FwConfig"
          }
        },
        "BOOTMANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BootManifest"
          }
        },
        "NWFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Nwfs"
          }
        },
        "TRUSTEDKEYSTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TrustedKeystore"
          }
        },
        "POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Policy"
          }
        },
        "CUSTOMERBOARDCONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerBoardConfig"
          }
        },
        "UPDATECERTSTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateCertStore"
          }
        },
        "BASESYSTEMUPDATEMANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BaseSystemUpdateManifest"
          }
        },
        "FIRMWAREUPDATEMANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FirmwareUpdateManifest"
          }
        },
        "CUSTOMERUPDATEMANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerUpdateManifest"
          }
        },
        "RECOVERYMANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoveryManifest"
          }
        },
        "MANIFESTSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManifestSet"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image type values."
      }
    },
    "com.azure.sphere#DeploymentsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        },
        "deploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Deployment name. Use .default for deployment creation and to get the current deployment for the associated device group."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeploymentPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#DeploymentPropertiesInput": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deployment ID"
          }
        },
        "deployedImages": {
          "target": "com.azure.sphere#DeploymentPropertiesInputDeployedImagesList",
          "traits": {
            "smithy.api#documentation": "Images deployed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of deployment"
      }
    },
    "com.azure.sphere#DeploymentPropertiesInputDeployedImagesList": {
      "type": "list",
      "member": {
        "target": "com.azure.sphere#ImageInput"
      },
      "traits": {
        "smithy.api#documentation": "Images deployed"
      }
    },
    "com.azure.sphere#ImageInput": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.sphere#ImagePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An image resource belonging to a catalog resource."
      }
    },
    "com.azure.sphere#GetDeployment": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#GetDeploymentRequest"
      },
      "output": {
        "target": "com.azure.sphere#GetDeploymentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/deployments/{deploymentName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Get a Deployment. '.default' and '.unassigned' are system defined values and cannot be used for product or device group name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#GetDeploymentResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sphere#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeploymentProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sphere#GetDeploymentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        },
        "deploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Deployment name. Use .default for deployment creation and to get the current deployment for the associated device group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#ListDeploymentByDeviceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#ListDeploymentByDeviceGroupRequest"
      },
      "output": {
        "target": "com.azure.sphere#DeploymentListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/deployments",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "List Deployment resources by DeviceGroup. '.default' and '.unassigned' are system defined values and cannot be used for product or device group name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#DeploymentListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.sphere#DeploymentListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Deployment items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Deployment list operation."
      }
    },
    "com.azure.sphere#DeploymentListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.sphere#Deployment"
      },
      "traits": {
        "smithy.api#documentation": "The Deployment items on this page"
      }
    },
    "com.azure.sphere#Deployment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sphere#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeploymentProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An deployment resource belonging to a device group resource."
      }
    },
    "com.azure.sphere#ListDeploymentByDeviceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Filter the result list using the given expression"
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The number of result items to return."
          }
        },
        "_skip": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$skip",
            "smithy.api#documentation": "The number of result items to skip."
          }
        },
        "_maxpagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$maxpagesize",
            "smithy.api#documentation": "The maximum number of result items per page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#DeviceGroupsCountDevices": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#DeviceGroupsCountDevicesRequest"
      },
      "output": {
        "target": "com.azure.sphere#DeviceGroupsCountDevicesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/countDevices",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Counts devices in device group. '.default' and '.unassigned' are system defined values and cannot be used for product or device group name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#DeviceGroupsCountDevicesResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of children resources in parent resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sphere#DeviceGroupsCountDevicesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#DeviceGroupsClaimDevices": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#DeviceGroupsClaimDevicesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/claimDevices",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Bulk claims the devices. Use '.unassigned' or '.default' for the device group and product names when bulk claiming devices to a catalog only.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#DeviceGroupsClaimDevicesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        },
        "deviceIdentifiers": {
          "target": "com.azure.sphere#DeviceGroupsClaimDevicesRequestDeviceIdentifiersList",
          "traits": {
            "smithy.api#documentation": "Device identifiers of the devices to be claimed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#DeviceGroupsClaimDevicesRequestDeviceIdentifiersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Device identifiers of the devices to be claimed."
      }
    },
    "com.azure.sphere#DeleteDeviceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#DeleteDeviceGroupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Delete a DeviceGroup. '.default' and '.unassigned' are system defined values and cannot be used for product or device group name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#DeleteDeviceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#UpdateDeviceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#UpdateDeviceGroupRequest"
      },
      "output": {
        "target": "com.azure.sphere#UpdateDeviceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Update a DeviceGroup. '.default' and '.unassigned' are system defined values and cannot be used for product or device group name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#UpdateDeviceGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sphere#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeviceGroupProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sphere#UpdateDeviceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeviceGroupUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The updatable properties of the DeviceGroup."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#DeviceGroupUpdateProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the device group."
          }
        },
        "osFeedType": {
          "target": "com.azure.sphere#OSFeedType",
          "traits": {
            "smithy.api#documentation": "Operating system feed type of the device group."
          }
        },
        "updatePolicy": {
          "target": "com.azure.sphere#UpdatePolicy",
          "traits": {
            "smithy.api#documentation": "Update policy of the device group."
          }
        },
        "allowCrashDumpsCollection": {
          "target": "com.azure.sphere#AllowCrashDumpCollection",
          "traits": {
            "smithy.api#documentation": "Flag to define if the user allows for crash dump collection."
          }
        },
        "regionalDataBoundary": {
          "target": "com.azure.sphere#RegionalDataBoundary",
          "traits": {
            "smithy.api#documentation": "Regional data boundary for the device group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The updatable properties of the DeviceGroup."
      }
    },
    "com.azure.sphere#DeviceGroupsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#DeviceGroupsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.sphere#DeviceGroupsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Create a DeviceGroup. '.default' and '.unassigned' are system defined values and cannot be used for product or device group name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#DeviceGroupsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sphere#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeviceGroupProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sphere#DeviceGroupsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeviceGroupPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#DeviceGroupPropertiesInput": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the device group."
          }
        },
        "osFeedType": {
          "target": "com.azure.sphere#OSFeedType",
          "traits": {
            "smithy.api#documentation": "Operating system feed type of the device group."
          }
        },
        "updatePolicy": {
          "target": "com.azure.sphere#UpdatePolicy",
          "traits": {
            "smithy.api#documentation": "Update policy of the device group."
          }
        },
        "allowCrashDumpsCollection": {
          "target": "com.azure.sphere#AllowCrashDumpCollection",
          "traits": {
            "smithy.api#documentation": "Flag to define if the user allows for crash dump collection."
          }
        },
        "regionalDataBoundary": {
          "target": "com.azure.sphere#RegionalDataBoundary",
          "traits": {
            "smithy.api#documentation": "Regional data boundary for the device group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of deviceGroup"
      }
    },
    "com.azure.sphere#GetDeviceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#GetDeviceGroupRequest"
      },
      "output": {
        "target": "com.azure.sphere#GetDeviceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Get a DeviceGroup. '.default' and '.unassigned' are system defined values and cannot be used for product or device group name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#GetDeviceGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sphere#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sphere#DeviceGroupProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sphere#GetDeviceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "deviceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of device group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#ListDeviceGroupByProduct": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#ListDeviceGroupByProductRequest"
      },
      "output": {
        "target": "com.azure.sphere#DeviceGroupListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "List DeviceGroup resources by Product. '.default' and '.unassigned' are system defined values and cannot be used for product name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#ListDeviceGroupByProductRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Filter the result list using the given expression"
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The number of result items to return."
          }
        },
        "_skip": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$skip",
            "smithy.api#documentation": "The number of result items to skip."
          }
        },
        "_maxpagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$maxpagesize",
            "smithy.api#documentation": "The maximum number of result items per page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#ProductsCountDevices": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#ProductsCountDevicesRequest"
      },
      "output": {
        "target": "com.azure.sphere#ProductsCountDevicesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/countDevices",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Counts devices in product. '.default' and '.unassigned' are system defined values and cannot be used for product name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#ProductsCountDevicesResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of children resources in parent resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sphere#ProductsCountDevicesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#DeleteProduct": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#DeleteProductRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Delete a Product. '.default' and '.unassigned' are system defined values and cannot be used for product name'",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#DeleteProductRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of catalog"
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of product."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sphere#UpdateProduct": {
      "type": "operation",
      "input": {
        "target": "com.azure.sphere#UpdateProductRequest"
      },
      "output": {
        "target": "com.azure.sphere#UpdateProductResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Update a Product. '.default' and '.unassigned' are system defined values and cannot be used for product name.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.sphere#UpdateProductResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sphere#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
[...]
