{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.streamanalytics#ListClusterStreamingJobs": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#ListClusterStreamingJobsRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#ClusterJobListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}/listStreamingJobs",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Lists all of the streaming jobs in the given cluster.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#ClusterJobListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.streamanalytics#ClusterJobListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of streaming jobs."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to fetch the next set of streaming jobs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of streaming jobs. Populated by a List operation."
      }
    },
    "com.azure.streamanalytics#ClusterJobListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.streamanalytics#ClusterJob"
      },
      "traits": {
        "smithy.api#documentation": "A list of streaming jobs."
      }
    },
    "com.azure.streamanalytics#ClusterJob": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the streaming job."
          }
        },
        "streamingUnits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of streaming units that are used by the streaming job."
          }
        },
        "jobState": {
          "target": "com.azure.streamanalytics#JobState"
        }
      },
      "traits": {
        "smithy.api#documentation": "A streaming job."
      }
    },
    "com.azure.streamanalytics#JobState": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Created"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Starting"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopping"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopped"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Degraded"
          }
        },
        "RESTARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Restarting"
          }
        },
        "SCALING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scaling"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current execution state of the streaming job."
      }
    },
    "com.azure.streamanalytics#ListClusterStreamingJobsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#ListClusterByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#ListClusterByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#ClusterListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Lists all of the clusters in the given resource group.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#ClusterListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.streamanalytics#ClusterListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of clusters."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to fetch the next set of clusters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of clusters populated by a 'list' operation."
      }
    },
    "com.azure.streamanalytics#ClusterListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.streamanalytics#Cluster"
      },
      "traits": {
        "smithy.api#documentation": "A list of clusters."
      }
    },
    "com.azure.streamanalytics#Cluster": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts."
          }
        },
        "tags": {
          "target": "com.azure.streamanalytics#ClusterTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "sku": {
          "target": "com.azure.streamanalytics#ClusterSku"
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current entity tag for the cluster. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency."
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#ClusterProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with a Stream Analytics cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Stream Analytics Cluster object"
      }
    },
    "com.azure.streamanalytics#ClusterProperties": {
      "type": "structure",
      "members": {
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date this cluster was created."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the cluster."
          }
        },
        "provisioningState": {
          "target": "com.azure.streamanalytics#ClusterProvisioningState"
        },
        "capacityAllocated": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Represents the number of streaming units currently being used on the cluster."
          }
        },
        "capacityAssigned": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Represents the sum of the SUs of all streaming jobs associated with the cluster. If all of the jobs were running, this would be the capacity allocated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties associated with a Stream Analytics cluster."
      }
    },
    "com.azure.streamanalytics#ClusterProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the cluster provisioning. The three terminal states are: Succeeded, Failed and Canceled"
      }
    },
    "com.azure.streamanalytics#ClusterSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.streamanalytics#ClusterSkuName",
          "traits": {
            "smithy.api#documentation": "Specifies the SKU name of the cluster. Required on PUT (CreateOrUpdate) requests."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Denotes the number of streaming units the cluster can support. Valid values for this property are multiples of 36 with a minimum value of 36 and maximum value of 216. Required on PUT (CreateOrUpdate) requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The SKU of the cluster. This determines the size/capacity of the cluster. Required on PUT (CreateOrUpdate) requests."
      }
    },
    "com.azure.streamanalytics#ClusterSkuName": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the SKU name of the cluster. Required on PUT (CreateOrUpdate) requests."
      }
    },
    "com.azure.streamanalytics#ClusterTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.streamanalytics#ListClusterByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#ListClusterBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#ListClusterBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#ClusterListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/clusters",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Lists all of the clusters in the given subscription.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#ListClusterBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#DeleteCluster": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#DeleteClusterRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Deletes the specified cluster.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#UpdateCluster": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#UpdateClusterRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#UpdateClusterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Updates an existing cluster. This can be used to partially update (ie. update one or two properties) a cluster without affecting the rest of the cluster definition.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#UpdateClusterResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts."
          }
        },
        "tags": {
          "target": "com.azure.streamanalytics#ClustersUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "sku": {
          "target": "com.azure.streamanalytics#ClusterSku"
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current entity tag for the cluster. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency."
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#ClusterProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with a Stream Analytics cluster."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.streamanalytics#ClustersUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.streamanalytics#UpdateClusterRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "tags": {
          "target": "com.azure.streamanalytics#ClustersUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "sku": {
          "target": "com.azure.streamanalytics#ClusterSku"
        },
        "properties": {
          "target": "com.azure.streamanalytics#ClusterPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties associated with a Stream Analytics cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#ClusterPropertiesInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The properties associated with a Stream Analytics cluster."
      }
    },
    "com.azure.streamanalytics#ClustersUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.streamanalytics#ClustersCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#ClustersCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#ClustersCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Creates a Stream Analytics Cluster or replaces an already existing cluster.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#ClustersCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts."
          }
        },
        "tags": {
          "target": "com.azure.streamanalytics#ClustersCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "sku": {
          "target": "com.azure.streamanalytics#ClusterSku"
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current entity tag for the cluster. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency."
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#ClusterProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with a Stream Analytics cluster."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.streamanalytics#ClustersCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.streamanalytics#ClustersCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "tags": {
          "target": "com.azure.streamanalytics#ClustersCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "sku": {
          "target": "com.azure.streamanalytics#ClusterSku"
        },
        "properties": {
          "target": "com.azure.streamanalytics#ClusterPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties associated with a Stream Analytics cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#ClustersCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.streamanalytics#GetCluster": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#GetClusterRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#GetClusterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/clusters/{clusterName}",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Gets information about the specified cluster.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#GetClusterResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts."
          }
        },
        "tags": {
          "target": "com.azure.streamanalytics#ClustersGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "sku": {
          "target": "com.azure.streamanalytics#ClusterSku"
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current entity tag for the cluster. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency."
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#ClusterProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with a Stream Analytics cluster."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.streamanalytics#ClustersGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.streamanalytics#GetClusterRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#FunctionsRetrieveDefaultDefinition": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#FunctionsRetrieveDefaultDefinitionRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#FunctionsRetrieveDefaultDefinitionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}/retrieveDefaultDefinition",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Retrieves the default definition of a function based on the parameters specified.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#FunctionsRetrieveDefaultDefinitionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#FunctionProperties",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with a function."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.streamanalytics#FunctionProperties": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the type of function.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current entity tag for the function. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency."
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#FunctionConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that are associated with a function."
      }
    },
    "com.azure.streamanalytics#FunctionConfiguration": {
      "type": "structure",
      "members": {
        "inputs": {
          "target": "com.azure.streamanalytics#FunctionConfigurationInputsList"
        },
        "output": {
          "target": "com.azure.streamanalytics#FunctionOutput"
        },
        "binding": {
          "target": "com.azure.streamanalytics#FunctionBinding"
        }
      },
      "traits": {}
    },
    "com.azure.streamanalytics#FunctionBinding": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the function binding type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The physical binding of the function. For example, in the Azure Machine Learning web service’s case, this describes the endpoint."
      }
    },
    "com.azure.streamanalytics#FunctionOutput": {
      "type": "structure",
      "members": {
        "dataType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The (Azure Stream Analytics supported) data type of the function output. A list of valid Azure Stream Analytics data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the output of a function."
      }
    },
    "com.azure.streamanalytics#FunctionConfigurationInputsList": {
      "type": "list",
      "member": {
        "target": "com.azure.streamanalytics#FunctionInput"
      },
      "traits": {}
    },
    "com.azure.streamanalytics#FunctionInput": {
      "type": "structure",
      "members": {
        "dataType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The (Azure Stream Analytics supported) data type of the function input parameter. A list of valid Azure Stream Analytics data types are described at https://msdn.microsoft.com/en-us/library/azure/dn835065.aspx"
          }
        },
        "isConfigurationParameter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A flag indicating if the parameter is a configuration parameter. True if this input parameter is expected to be a constant. Default is false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes one input parameter of a function."
      }
    },
    "com.azure.streamanalytics#FunctionsRetrieveDefaultDefinitionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the function."
          }
        },
        "bindingType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the function binding type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#FunctionsTest": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#FunctionsTestRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#FunctionsTestResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}/test",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Tests if the information provided for a function is valid. This can range from testing the connection to the underlying web service behind the function or making sure the function code provided is syntactically correct.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#FunctionsTestResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the test operation."
          }
        },
        "error": {
          "target": "com.azure.streamanalytics#ErrorResponse",
          "traits": {
            "smithy.api#documentation": "Describes the error that occurred."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.streamanalytics#ErrorResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code associated with the error that occurred."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes the error in detail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the error that occurred."
      }
    },
    "com.azure.streamanalytics#FunctionsTestRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the function."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#FunctionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with a function."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#FunctionPropertiesInput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the type of function.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#FunctionConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that are associated with a function."
      }
    },
    "com.azure.streamanalytics#ListFunctionByStreamingJob": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#ListFunctionByStreamingJobRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#FunctionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Lists all of the functions under the specified streaming job.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#FunctionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.streamanalytics#FunctionListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of functions under a streaming job. Populated by a 'List' operation."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object containing a list of functions under a streaming job."
      }
    },
    "com.azure.streamanalytics#FunctionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.streamanalytics#Function"
      },
      "traits": {
        "smithy.api#documentation": "A list of functions under a streaming job. Populated by a 'List' operation."
      }
    },
    "com.azure.streamanalytics#Function": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#FunctionProperties",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with a function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A function object, containing all information associated with the named function. All functions are contained under a streaming job."
      }
    },
    "com.azure.streamanalytics#ListFunctionByStreamingJobRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "_select": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$select",
            "smithy.api#documentation": "The $select OData query parameter. This is a comma-separated list of structural properties to include in the response, or \"*\" to include all properties. By default, all properties are returned except diagnostics. Currently only accepts '*' as a valid value."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#DeleteFunction": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#DeleteFunctionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Deletes a function from the streaming job.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#DeleteFunctionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the function."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#UpdateFunction": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#UpdateFunctionRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#UpdateFunctionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Updates an existing function under an existing streaming job. This can be used to partially update (ie. update one or two properties) a function without affecting the rest the job or function definition.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#UpdateFunctionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#FunctionProperties",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with a function."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.streamanalytics#UpdateFunctionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the function."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#FunctionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with a function."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#CreateFunctionOrReplace": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#CreateFunctionOrReplaceRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#CreateFunctionOrReplaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Creates a function or replaces an already existing function under an existing streaming job.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#CreateFunctionOrReplaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#FunctionProperties",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with a function."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.streamanalytics#CreateFunctionOrReplaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the function."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#FunctionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with a function."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#GetFunction": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#GetFunctionRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#GetFunctionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/functions/{functionName}",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Gets details about the specified function.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#GetFunctionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#FunctionProperties",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with a function."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.streamanalytics#GetFunctionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the function."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#InputsTest": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#InputsTestRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#ResourceTestStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}/test",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Tests whether an input’s datasource is reachable and usable by the Azure Stream Analytics service.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#ResourceTestStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the test operation."
          }
        },
        "error": {
          "target": "com.azure.streamanalytics#ErrorResponse",
          "traits": {
            "smithy.api#documentation": "Describes the error that occurred."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the status of the test operation along with error information, if applicable."
      }
    },
    "com.azure.streamanalytics#InputsTestRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "inputName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the input."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#InputPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with an input. Required on PUT (CreateOrReplace) requests."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#InputPropertiesInput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates whether the input is a source of reference data or stream data. Required on PUT (CreateOrReplace) requests.",
            "smithy.api#required": {}
          }
        },
        "serialization": {
          "target": "com.azure.streamanalytics#Serialization",
          "traits": {
            "smithy.api#documentation": "Describes how data from an input is serialized or how data is serialized when written to an output. Required on PUT (CreateOrReplace) requests."
          }
        },
        "compression": {
          "target": "com.azure.streamanalytics#Compression",
          "traits": {
            "smithy.api#documentation": "Describes how input data is compressed"
          }
        },
        "partitionKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "partitionKey Describes a key in the input data which is used for partitioning the input data"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that are associated with an input."
      }
    },
    "com.azure.streamanalytics#Compression": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.streamanalytics#CompressionType",
          "traits": {
            "smithy.api#documentation": "Indicates the type of compression that the input uses. Required on PUT (CreateOrReplace) requests.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how input data is compressed"
      }
    },
    "com.azure.streamanalytics#CompressionType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GZip"
          }
        },
        "DEFLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deflate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the type of compression that the input uses. Required on PUT (CreateOrReplace) requests."
      }
    },
    "com.azure.streamanalytics#Serialization": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.streamanalytics#EventSerializationType",
          "traits": {
            "smithy.api#documentation": "Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how data from an input is serialized or how data is serialized when written to an output."
      }
    },
    "com.azure.streamanalytics#EventSerializationType": {
      "type": "enum",
      "members": {
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Csv"
          }
        },
        "AVRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Avro"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Json"
          }
        },
        "PARQUET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Parquet"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests."
      }
    },
    "com.azure.streamanalytics#ListInputByStreamingJob": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#ListInputByStreamingJobRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#InputListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Lists all of the inputs under the specified streaming job.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#InputListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.streamanalytics#InputListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of inputs under a streaming job. Populated by a 'List' operation."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object containing a list of inputs under a streaming job."
      }
    },
    "com.azure.streamanalytics#InputListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.streamanalytics#Input"
      },
      "traits": {
        "smithy.api#documentation": "A list of inputs under a streaming job. Populated by a 'List' operation."
      }
    },
    "com.azure.streamanalytics#Input": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#InputProperties",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with an input. Required on PUT (CreateOrReplace) requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An input object, containing all information associated with the named input. All inputs are contained under a streaming job."
      }
    },
    "com.azure.streamanalytics#InputProperties": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates whether the input is a source of reference data or stream data. Required on PUT (CreateOrReplace) requests.",
            "smithy.api#required": {}
          }
        },
        "serialization": {
          "target": "com.azure.streamanalytics#Serialization",
          "traits": {
            "smithy.api#documentation": "Describes how data from an input is serialized or how data is serialized when written to an output. Required on PUT (CreateOrReplace) requests."
          }
        },
        "diagnostics": {
          "target": "com.azure.streamanalytics#Diagnostics",
          "traits": {
            "smithy.api#documentation": "Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current entity tag for the input. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency."
          }
        },
        "compression": {
          "target": "com.azure.streamanalytics#Compression",
          "traits": {
            "smithy.api#documentation": "Describes how input data is compressed"
          }
        },
        "partitionKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "partitionKey Describes a key in the input data which is used for partitioning the input data"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that are associated with an input."
      }
    },
    "com.azure.streamanalytics#Diagnostics": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.azure.streamanalytics#DiagnosticsConditionsList",
          "traits": {
            "smithy.api#documentation": "A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention."
      }
    },
    "com.azure.streamanalytics#DiagnosticsConditionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.streamanalytics#DiagnosticCondition"
      },
      "traits": {
        "smithy.api#documentation": "A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention."
      }
    },
    "com.azure.streamanalytics#DiagnosticCondition": {
      "type": "structure",
      "members": {
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UTC timestamp of when the condition started. Customers should be able to find a corresponding event in the ops log around this time."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The opaque diagnostic code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable message describing the condition in detail. Localized in the Accept-Language of the client request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Condition applicable to the resource, or to the job overall, that warrant customer attention."
      }
    },
    "com.azure.streamanalytics#ListInputByStreamingJobRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "_select": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$select",
            "smithy.api#documentation": "The $select OData query parameter. This is a comma-separated list of structural properties to include in the response, or \"*\" to include all properties. By default, all properties are returned except diagnostics. Currently only accepts '*' as a valid value."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#DeleteInput": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#DeleteInputRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Deletes an input from the streaming job.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#DeleteInputRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "inputName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the input."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#UpdateInput": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#UpdateInputRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#UpdateInputResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Updates an existing input under an existing streaming job. This can be used to partially update (ie. update one or two properties) an input without affecting the rest the job or input definition.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#UpdateInputResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#InputProperties",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with an input. Required on PUT (CreateOrReplace) requests."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.streamanalytics#UpdateInputRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "inputName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the input."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#InputPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with an input. Required on PUT (CreateOrReplace) requests."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#CreateInputOrReplace": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#CreateInputOrReplaceRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#CreateInputOrReplaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Creates an input or replaces an already existing input under an existing streaming job.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#CreateInputOrReplaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#InputProperties",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with an input. Required on PUT (CreateOrReplace) requests."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.streamanalytics#CreateInputOrReplaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "inputName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the input."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#InputPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with an input. Required on PUT (CreateOrReplace) requests."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#GetInput": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#GetInputRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#GetInputResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Gets details about the specified input.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#GetInputResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#InputProperties",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with an input. Required on PUT (CreateOrReplace) requests."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.streamanalytics#GetInputRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "inputName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the input."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#OutputsTest": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#OutputsTestRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#OutputsTestResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs/{outputName}/test",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Tests whether an output’s datasource is reachable and usable by the Azure Stream Analytics service.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#OutputsTestResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the test operation."
          }
        },
        "error": {
          "target": "com.azure.streamanalytics#ErrorResponse",
          "traits": {
            "smithy.api#documentation": "Describes the error that occurred."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.streamanalytics#OutputsTestRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "outputName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the output."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#OutputPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with an output. Required on PUT (CreateOrReplace) requests."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#OutputPropertiesInput": {
      "type": "structure",
      "members": {
        "datasource": {
          "target": "com.azure.streamanalytics#OutputDataSource",
          "traits": {
            "smithy.api#documentation": "Describes the data source that output will be written to. Required on PUT (CreateOrReplace) requests."
          }
        },
        "timeWindow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time frame for filtering Stream Analytics job outputs."
          }
        },
        "sizeWindow": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size window to constrain a Stream Analytics output to."
          }
        },
        "serialization": {
          "target": "com.azure.streamanalytics#OutputPropertiesInputSerialization",
          "traits": {
            "smithy.api#documentation": "Describes how data from an input is serialized or how data is serialized when written to an output."
          }
        },
        "diagnostics": {
          "target": "com.azure.streamanalytics#OutputPropertiesInputDiagnostics",
          "traits": {
            "smithy.api#documentation": "Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that are associated with an output."
      }
    },
    "com.azure.streamanalytics#OutputPropertiesInputDiagnostics": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention."
      }
    },
    "com.azure.streamanalytics#OutputPropertiesInputSerialization": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.streamanalytics#EventSerializationType",
          "traits": {
            "smithy.api#documentation": "Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how data from an input is serialized or how data is serialized when written to an output."
      }
    },
    "com.azure.streamanalytics#OutputDataSource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the type of data source output will be written to. Required on PUT (CreateOrReplace) requests.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the data source that output will be written to."
      }
    },
    "com.azure.streamanalytics#ListOutputByStreamingJob": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#ListOutputByStreamingJobRequest"
      },
      "output": {
        "target": "com.azure.streamanalytics#OutputListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Lists all of the outputs under the specified streaming job.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#OutputListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.streamanalytics#OutputListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of outputs under a streaming job. Populated by a 'List' operation."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object containing a list of outputs under a streaming job."
      }
    },
    "com.azure.streamanalytics#OutputListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.streamanalytics#Output"
      },
      "traits": {
        "smithy.api#documentation": "A list of outputs under a streaming job. Populated by a 'List' operation."
      }
    },
    "com.azure.streamanalytics#Output": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "properties": {
          "target": "com.azure.streamanalytics#OutputProperties",
          "traits": {
            "smithy.api#documentation": "The properties that are associated with an output. Required on PUT (CreateOrReplace) requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An output object, containing all information associated with the named output. All outputs are contained under a streaming job."
      }
    },
    "com.azure.streamanalytics#OutputProperties": {
      "type": "structure",
      "members": {
        "datasource": {
          "target": "com.azure.streamanalytics#OutputDataSource",
          "traits": {
            "smithy.api#documentation": "Describes the data source that output will be written to. Required on PUT (CreateOrReplace) requests."
          }
        },
        "timeWindow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time frame for filtering Stream Analytics job outputs."
          }
        },
        "sizeWindow": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size window to constrain a Stream Analytics output to."
          }
        },
        "serialization": {
          "target": "com.azure.streamanalytics#OutputPropertiesSerialization",
          "traits": {
            "smithy.api#documentation": "Describes how data from an input is serialized or how data is serialized when written to an output."
          }
        },
        "diagnostics": {
          "target": "com.azure.streamanalytics#OutputPropertiesDiagnostics",
          "traits": {
            "smithy.api#documentation": "Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that are associated with an output."
      }
    },
    "com.azure.streamanalytics#OutputPropertiesDiagnostics": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.azure.streamanalytics#OutputPropertiesDiagnosticsConditionsList",
          "traits": {
            "smithy.api#documentation": "A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention."
      }
    },
    "com.azure.streamanalytics#OutputPropertiesDiagnosticsConditionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.streamanalytics#DiagnosticCondition"
      },
      "traits": {
        "smithy.api#documentation": "A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention."
      }
    },
    "com.azure.streamanalytics#OutputPropertiesSerialization": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.streamanalytics#EventSerializationType",
          "traits": {
            "smithy.api#documentation": "Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how data from an input is serialized or how data is serialized when written to an output."
      }
    },
    "com.azure.streamanalytics#ListOutputByStreamingJobRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the streaming job."
          }
        },
        "_select": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$select",
            "smithy.api#documentation": "The $select OData query parameter. This is a comma-separated list of structural properties to include in the response, or \"*\" to include all properties. By default, all properties are returned except diagnostics. Currently only accepts '*' as a valid value."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.streamanalytics#DeleteOutput": {
      "type": "operation",
      "input": {
        "target": "com.azure.streamanalytics#DeleteOutputRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs/{outputName}",
          "code": 200,
          "apiVersion": "2020-03-01"
        },
        "smithy.api#documentation": "Deletes an output from the streaming job.",
        "com.distilled.openapi#apiVersion": "2020-03-01"
      }
    },
    "com.azure.streamanalytics#DeleteOutputRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
[...]
