{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.grafana.alerting.rules#APIResourceList": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "groupVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "groupVersion is the group and version this APIResourceList is for.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "resources": {
          "target": "com.grafana.alerting.rules#APIResourceListResourcesList",
          "traits": {
            "smithy.api#documentation": "resources contains the name of the resources and if they are namespaced.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIResourceList is a list of APIResource, it is used to expose the name of the resources supported in a specific group and version, and if the resource is namespaced."
      }
    },
    "com.grafana.alerting.rules#APIResource": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.grafana.alerting.rules#APIResourceCategoriesList",
          "traits": {
            "smithy.api#documentation": "categories is a list of the grouped resources this resource belongs to (e.g. 'all')"
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "group is the preferred group of the resource.  Empty implies the group of the containing resource list. For subresources, this may have a different value, for example: Scale\"."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "kind is the kind for the resource (e.g. 'Foo' is the kind for a resource 'foo')",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the plural name of the resource.",
            "smithy.api#required": {}
          }
        },
        "namespaced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "namespaced indicates if a resource is namespaced or not.",
            "smithy.api#required": {}
          }
        },
        "shortNames": {
          "target": "com.grafana.alerting.rules#APIResourceShortNamesList",
          "traits": {
            "smithy.api#documentation": "shortNames is a list of suggested short names of the resource."
          }
        },
        "singularName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "singularName is the singular name of the resource.  This allows clients to handle plural and singular opaquely. The singularName is more correct for reporting status on a single item and both singular and plural are allowed from the kubectl CLI interface.",
            "smithy.api#required": {}
          }
        },
        "storageVersionHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash value of the storage version, the version this resource is converted to when written to the data store. Value must be treated as opaque by clients. Only equality comparison on the value is valid. This is an alpha feature and may change or be removed in the future. The field is populated by the apiserver only if the StorageVersionHash feature gate is enabled. This field will remain optional even if it graduates."
          }
        },
        "verbs": {
          "target": "com.grafana.alerting.rules#APIResourceVerbsList",
          "traits": {
            "smithy.api#documentation": "verbs is a list of supported kube verbs (this includes get, list, watch, create, update, patch, delete, deletecollection, and proxy)",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "version is the preferred version of the resource.  Empty implies the version of the containing resource list For subresources, this may have a different value, for example: v1 (while inside a v1beta1 version of the core resource's group)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIResource specifies the name of a resource and whether it is namespaced."
      }
    },
    "com.grafana.alerting.rules#APIResourceCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "categories is a list of the grouped resources this resource belongs to (e.g. 'all')"
      }
    },
    "com.grafana.alerting.rules#APIResourceShortNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "shortNames is a list of suggested short names of the resource."
      }
    },
    "com.grafana.alerting.rules#APIResourceVerbsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "verbs is a list of supported kube verbs (this includes get, list, watch, create, update, patch, delete, deletecollection, and proxy)"
      }
    },
    "com.grafana.alerting.rules#APIResourceListResourcesList": {
      "type": "list",
      "member": {
        "target": "com.grafana.alerting.rules#APIResource"
      },
      "traits": {
        "smithy.api#documentation": "resources contains the name of the resources and if they are namespaced."
      }
    },
    "com.grafana.alerting.rules#GetAPIResources": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.grafana.alerting.rules#APIResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/rules.alerting.grafana.app/v0alpha1",
          "code": 200
        },
        "smithy.api#documentation": "Describe the available kubernetes resources"
      }
    },
    "com.grafana.alerting.rules#ListAlertRuleRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "continue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "continue",
            "smithy.api#documentation": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications."
          }
        },
        "fieldSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their fields. Defaults to everything."
          }
        },
        "labelSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "labelSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their labels. Defaults to everything."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersion",
            "smithy.api#documentation": "resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.\n\nDefaults to unset"
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "timeoutSeconds",
            "smithy.api#documentation": "Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity."
          }
        },
        "watch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "watch",
            "smithy.api#documentation": "Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.alerting.rules#AlertRuleList": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "items": {
          "target": "com.grafana.alerting.rules#AlertRuleListItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.grafana.alerting.rules#ListMeta",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRule": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.grafana.alerting.rules#ObjectMeta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.alerting.rules#AlertRuleSpec",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.grafana.alerting.rules#AlertRuleStatus"
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#ObjectMeta": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.grafana.alerting.rules#ObjectMetaAnnotationsMap",
          "traits": {
            "smithy.api#documentation": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations"
          }
        },
        "creationTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CreationTimestamp is a timestamp representing the server time when this object was created. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It is represented in RFC3339 form and is in UTC.\n\nPopulated by the system. Read-only. Null for lists. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "deletionGracePeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds allowed for this object to gracefully terminate before it will be removed from the system. Only set when deletionTimestamp is also set. May only be shortened. Read-only."
          }
        },
        "deletionTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This field is set by the server when a graceful deletion is requested by the user, and is not directly settable by a client. The resource is expected to be deleted (no longer visible from resource lists, and not reachable by name) after the time in this field, once the finalizers list is empty. As long as the finalizers list contains items, deletion is blocked. Once the deletionTimestamp is set, this value may not be unset or be set further into the future, although it may be shortened or the resource may be deleted prior to this time. For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react by sending a graceful termination signal to the containers in the pod. After that 30 seconds, the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup, remove the pod from the API. In the presence of network partitions, this object may still exist after this timestamp, until an administrator or automated process can determine the resource is fully terminated. If not set, graceful deletion of the object has not been requested.\n\nPopulated by the system when a graceful deletion is requested. Read-only. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "finalizers": {
          "target": "com.grafana.alerting.rules#ObjectMetaFinalizersList",
          "traits": {
            "smithy.api#documentation": "Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. Finalizers may be processed and removed in any order.  Order is NOT enforced because it introduces significant risk of stuck finalizers. finalizers is a shared field, any actor with permission can reorder it. If the finalizer list is processed in order, then this can lead to a situation in which the component responsible for the first finalizer in the list is waiting for a signal (field value, external system, or other) produced by a component responsible for a finalizer later in the list, resulting in a deadlock. Without enforced ordering finalizers are free to order amongst themselves and are not vulnerable to ordering changes in the list."
          }
        },
        "generateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GenerateName is an optional prefix, used by the server, to generate a unique name ONLY IF the Name field has not been provided. If this field is used, the name returned to the client will be different than the name passed. This value will also be combined with a unique suffix. The provided value has the same validation rules as the Name field, and may be truncated by the length of the suffix required to make the value unique on the server.\n\nIf this field is specified and the generated name exists, the server will return a 409.\n\nApplied only if Name is not specified. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency"
          }
        },
        "generation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A sequence number representing a specific generation of the desired state. Populated by the system. Read-only."
          }
        },
        "labels": {
          "target": "com.grafana.alerting.rules#ObjectMetaLabelsMap",
          "traits": {
            "smithy.api#documentation": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels"
          }
        },
        "managedFields": {
          "target": "com.grafana.alerting.rules#ObjectMetaManagedFieldsList",
          "traits": {
            "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields that are managed by that workflow. This is mostly for internal housekeeping, and users typically shouldn't need to set or understand this field. A workflow can be the user's name, a controller's name, or the name of a specific apply path like \"ci-cd\". The set of fields is always in the version that the workflow used when modifying the object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name must be unique within a namespace. Is required when creating resources, although some resources may allow a client to request the generation of an appropriate name automatically. Name is primarily intended for creation idempotence and configuration definition. Cannot be updated. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names"
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace defines the space within which each name must be unique. An empty namespace is equivalent to the \"default\" namespace, but \"default\" is the canonical representation. Not all objects are required to be scoped to a namespace - the value of this field for those objects will be empty.\n\nMust be a DNS_LABEL. Cannot be updated. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces"
          }
        },
        "ownerReferences": {
          "target": "com.grafana.alerting.rules#ObjectMetaOwnerReferencesList",
          "traits": {
            "smithy.api#documentation": "List of objects depended by this object. If ALL objects in the list have been deleted, this object will be garbage collected. If this object is managed by a controller, then an entry in this list will point to this controller, with the controller field set to true. There cannot be more than one managing controller."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server. They may only be valid for a particular resource or set of resources.\n\nPopulated by the system. Read-only. Value must be treated as opaque by clients and . More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: selfLink is a legacy read-only field that is no longer populated by the system."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID is the unique in time and space value for this object. It is typically generated by the server on successful creation of a resource and is not allowed to change on PUT operations.\n\nPopulated by the system. Read-only. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create."
      }
    },
    "com.grafana.alerting.rules#ObjectMetaAnnotationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations"
      }
    },
    "com.grafana.alerting.rules#ObjectMetaFinalizersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. Finalizers may be processed and removed in any order.  Order is NOT enforced because it introduces significant risk of stuck finalizers. finalizers is a shared field, any actor with permission can reorder it. If the finalizer list is processed in order, then this can lead to a situation in which the component responsible for the first finalizer in the list is waiting for a signal (field value, external system, or other) produced by a component responsible for a finalizer later in the list, resulting in a deadlock. Without enforced ordering finalizers are free to order amongst themselves and are not vulnerable to ordering changes in the list."
      }
    },
    "com.grafana.alerting.rules#ObjectMetaLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels"
      }
    },
    "com.grafana.alerting.rules#ManagedFieldsEntry": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the version of this resource that this field set applies to. The format is \"group/version\" just like the top-level APIVersion field. It is necessary to track the version of a field set because it cannot be automatically converted."
          }
        },
        "fieldsType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FieldsType is the discriminator for the different fields format and version. There is currently only one possible value: \"FieldsV1\""
          }
        },
        "fieldsV1": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "FieldsV1 holds the first JSON version format as described in the \"FieldsV1\" type."
          }
        },
        "manager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manager is an identifier of the workflow managing these fields."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation is the type of operation which lead to this ManagedFieldsEntry being created. The only valid values for this field are 'Apply' and 'Update'."
          }
        },
        "subresource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subresource is the name of the subresource used to update that object, or empty string if the object was updated through the main resource. The value of this field is used to distinguish between managers, even if they share the same name. For example, a status update will be distinct from a regular update using the same manager name. Note that the APIVersion field is not related to the Subresource field and it always corresponds to the version of the main resource."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time is the timestamp of when the ManagedFields entry was added. The timestamp will also be updated if a field is added, the manager changes any of the owned fields value or removes a field. The timestamp does not update when a field is removed from the entry because another manager took it over."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ManagedFieldsEntry is a workflow-id, a FieldSet and the group version of the resource that the fieldset applies to."
      }
    },
    "com.grafana.alerting.rules#ObjectMetaManagedFieldsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.alerting.rules#ManagedFieldsEntry"
      },
      "traits": {
        "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields that are managed by that workflow. This is mostly for internal housekeeping, and users typically shouldn't need to set or understand this field. A workflow can be the user's name, a controller's name, or the name of a specific apply path like \"ci-cd\". The set of fields is always in the version that the workflow used when modifying the object."
      }
    },
    "com.grafana.alerting.rules#OwnerReference": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API version of the referent.",
            "smithy.api#required": {}
          }
        },
        "blockOwnerDeletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, AND if the owner has the \"foregroundDeletion\" finalizer, then the owner cannot be deleted from the key-value store until this reference is removed. See https://kubernetes.io/docs/concepts/architecture/garbage-collection/#foreground-deletion for how the garbage collector interacts with this field and enforces the foreground deletion. Defaults to false. To set this field, a user needs \"delete\" permission of the owner, otherwise 422 (Unprocessable Entity) will be returned."
          }
        },
        "controller": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, this reference points to the managing controller."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names",
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OwnerReference contains enough information to let you identify an owning object. An owning object must be in the same namespace as the dependent, or be cluster-scoped, so there is no namespace field."
      }
    },
    "com.grafana.alerting.rules#ObjectMetaOwnerReferencesList": {
      "type": "list",
      "member": {
        "target": "com.grafana.alerting.rules#OwnerReference"
      },
      "traits": {
        "smithy.api#documentation": "List of objects depended by this object. If ALL objects in the list have been deleted, this object will be garbage collected. If this object is managed by a controller, then an entry in this list will point to this controller, with the controller field set to true. There cannot be more than one managing controller."
      }
    },
    "com.grafana.alerting.rules#AlertRuleSpec": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.grafana.alerting.rules#AlertRuleSpecAnnotationsMap"
        },
        "execErrState": {
          "target": "com.grafana.alerting.rules#AlertRuleExecErrState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expressions": {
          "target": "com.grafana.alerting.rules#AlertRuleExpressionMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "for": {
          "target": "smithy.api#String"
        },
        "keepFiringFor": {
          "target": "smithy.api#String"
        },
        "labels": {
          "target": "com.grafana.alerting.rules#AlertRuleSpecLabelsMap"
        },
        "missingSeriesEvalsToResolve": {
          "target": "smithy.api#Integer"
        },
        "noDataState": {
          "target": "com.grafana.alerting.rules#AlertRuleNoDataState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notificationSettings": {
          "target": "com.grafana.alerting.rules#AlertRuleNotificationSettings"
        },
        "panelRef": {
          "target": "com.grafana.alerting.rules#AlertRulePanelRef"
        },
        "paused": {
          "target": "smithy.api#Boolean"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trigger": {
          "target": "com.grafana.alerting.rules#AlertRuleIntervalTrigger",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleSpecAnnotationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleExecErrState": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ok"
          }
        },
        "ALERTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Alerting"
          }
        },
        "KEEPLAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KeepLast"
          }
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleExpressionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.grafana.alerting.rules#AlertRuleExpression"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleExpression": {
      "type": "structure",
      "members": {
        "datasourceUID": {
          "target": "smithy.api#String"
        },
        "model": {
          "target": "com.grafana.alerting.rules#AlertRuleExpressionModelMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "queryType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of query if this is a query expression"
          }
        },
        "relativeTimeRange": {
          "target": "com.grafana.alerting.rules#AlertRuleRelativeTimeRange"
        },
        "source": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Used to mark the expression to be used as the final source for the rule evaluation\nOnly one expression in a rule can be marked as the source\nFor AlertRules, this is the expression that will be evaluated against the alerting condition\nFor RecordingRules, this is the expression that will be recorded"
          }
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleExpressionModelMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleRelativeTimeRange": {
      "type": "structure",
      "members": {
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleSpecLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleNoDataState": {
      "type": "enum",
      "members": {
        "NODATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoData"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ok"
          }
        },
        "ALERTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Alerting"
          }
        },
        "KEEPLAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KeepLast"
          }
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleNotificationSettings": {
      "type": "union",
      "members": {
        "AlertRuleSimplifiedRouting": {
          "target": "com.grafana.alerting.rules#AlertRuleSimplifiedRouting"
        },
        "AlertRuleNamedRoutingTree": {
          "target": "com.grafana.alerting.rules#AlertRuleNamedRoutingTree"
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleSimplifiedRouting": {
      "type": "structure",
      "members": {
        "activeTimeIntervals": {
          "target": "com.grafana.alerting.rules#AlertRuleSimplifiedRoutingActiveTimeIntervalsList"
        },
        "groupBy": {
          "target": "com.grafana.alerting.rules#AlertRuleSimplifiedRoutingGroupByList"
        },
        "groupInterval": {
          "target": "smithy.api#String"
        },
        "groupWait": {
          "target": "smithy.api#String"
        },
        "muteTimeIntervals": {
          "target": "com.grafana.alerting.rules#AlertRuleSimplifiedRoutingMuteTimeIntervalsList"
        },
        "receiver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repeatInterval": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.grafana.alerting.rules#AlertRuleNotificationSettingsType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleSimplifiedRoutingActiveTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleSimplifiedRoutingGroupByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleSimplifiedRoutingMuteTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleNotificationSettingsType": {
      "type": "enum",
      "members": {
        "SIMPLIFIEDROUTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SimplifiedRouting"
          }
        },
        "NAMEDROUTINGTREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NamedRoutingTree"
          }
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleNamedRoutingTree": {
      "type": "structure",
      "members": {
        "routingTree": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.grafana.alerting.rules#AlertRuleNotificationSettingsType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRulePanelRef": {
      "type": "structure",
      "members": {
        "dashboardUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "panelID": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleIntervalTrigger": {
      "type": "structure",
      "members": {
        "interval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleStatus": {
      "type": "structure",
      "members": {
        "additionalFields": {
          "target": "com.grafana.alerting.rules#AlertRuleStatusAdditionalFieldsMap",
          "traits": {
            "smithy.api#documentation": "additionalFields is reserved for future use"
          }
        },
        "operatorStates": {
          "target": "com.grafana.alerting.rules#AlertRuleStatusOperatorStatesMap",
          "traits": {
            "smithy.api#documentation": "operatorStates is a map of operator ID to operator state evaluations.\nAny operator which consumes this kind SHOULD add its state evaluation information to this field."
          }
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleStatusAdditionalFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "additionalFields is reserved for future use"
      }
    },
    "com.grafana.alerting.rules#AlertRuleOperatorState": {
      "type": "structure",
      "members": {
        "descriptiveState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "descriptiveState is an optional more descriptive state field which has no requirements on format"
          }
        },
        "details": {
          "target": "com.grafana.alerting.rules#AlertRuleOperatorStateDetailsMap",
          "traits": {
            "smithy.api#documentation": "details contains any extra information that is operator-specific"
          }
        },
        "lastEvaluation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "lastEvaluation is the ResourceVersion last evaluated",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.grafana.alerting.rules#AlertRuleOperatorStateState",
          "traits": {
            "smithy.api#documentation": "state describes the state of the lastEvaluation.\nIt is limited to three possible states for machine evaluation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#AlertRuleOperatorStateDetailsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "details contains any extra information that is operator-specific"
      }
    },
    "com.grafana.alerting.rules#AlertRuleOperatorStateState": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "state describes the state of the lastEvaluation.\nIt is limited to three possible states for machine evaluation."
      }
    },
    "com.grafana.alerting.rules#AlertRuleStatusOperatorStatesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.grafana.alerting.rules#AlertRuleOperatorState"
      },
      "traits": {
        "smithy.api#documentation": "operatorStates is a map of operator ID to operator state evaluations.\nAny operator which consumes this kind SHOULD add its state evaluation information to this field."
      }
    },
    "com.grafana.alerting.rules#AlertRuleListItemsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.alerting.rules#AlertRule"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#ListMeta": {
      "type": "structure",
      "members": {
        "continue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "continue may be set if the user set a limit on the number of items returned, and indicates that the server has more data available. The value is opaque and may be used to issue another request to the endpoint that served this list to retrieve the next set of available objects. Continuing a consistent list may not be possible if the server configuration has changed or more than a few minutes have passed. The resourceVersion field returned when using this continue value will be identical to the value in the first response, unless you have received this token from an error message."
          }
        },
        "remainingItemCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "remainingItemCount is the number of subsequent items in the list which are not included in this list response. If the list request contained label or field selectors, then the number of remaining items is unknown and the field will be left unset and omitted during serialization. If the list is complete (either because it is not chunking or because this is the last chunk), then there are no more remaining items and this field will be left unset and omitted during serialization. Servers older than v1.15 do not set this field. The intended use of the remainingItemCount is *estimating* the size of a collection. Clients should not rely on the remainingItemCount to be set or to be exact."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String that identifies the server's internal version of this object that can be used by clients to determine when objects have changed. Value must be treated as opaque by clients and passed unmodified back to the server. Populated by the system. Read-only. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: selfLink is a legacy read-only field that is no longer populated by the system."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListMeta describes metadata that synthetic resources must have, including lists and various status objects. A resource may have only one of {ObjectMeta, ListMeta}."
      }
    },
    "com.grafana.alerting.rules#ListAlertRule": {
      "type": "operation",
      "input": {
        "target": "com.grafana.alerting.rules#ListAlertRuleRequest"
      },
      "output": {
        "target": "com.grafana.alerting.rules#AlertRuleList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/rules.alerting.grafana.app/v0alpha1/namespaces/{namespace}/alertrules",
          "code": 200
        },
        "smithy.api#documentation": "list objects of kind AlertRule"
      }
    },
    "com.grafana.alerting.rules#CreateAlertRuleRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "dryRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dryRun",
            "smithy.api#documentation": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed"
          }
        },
        "fieldManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldManager",
            "smithy.api#documentation": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint."
          }
        },
        "fieldValidation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldValidation",
            "smithy.api#documentation": "fieldValidation instructs the server on how to handle objects in the request (POST/PUT/PATCH) containing unknown or duplicate fields. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default in v1.23+ - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.grafana.alerting.rules#ObjectMeta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.alerting.rules#AlertRuleSpec",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.grafana.alerting.rules#AlertRuleStatus"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.alerting.rules#CreateAlertRule": {
      "type": "operation",
      "input": {
        "target": "com.grafana.alerting.rules#CreateAlertRuleRequest"
      },
      "output": {
        "target": "com.grafana.alerting.rules#AlertRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apis/rules.alerting.grafana.app/v0alpha1/namespaces/{namespace}/alertrules",
          "code": 200
        },
        "smithy.api#documentation": "create an AlertRule"
      }
    },
    "com.grafana.alerting.rules#ListAlertRuleSearchV0alpha1RequestFacetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#ListAlertRuleSearchV0alpha1RequestFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#LabelSelector": {
      "type": "structure",
      "members": {
        "matchExpressions": {
          "target": "com.grafana.alerting.rules#LabelSelectorMatchExpressionsList",
          "traits": {
            "smithy.api#documentation": "matchExpressions is a list of label selector requirements. The requirements are ANDed."
          }
        },
        "matchLabels": {
          "target": "com.grafana.alerting.rules#LabelSelectorMatchLabelsMap",
          "traits": {
            "smithy.api#documentation": "matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels map is equivalent to an element of matchExpressions, whose key field is \"key\", the operator is \"In\", and the values array contains only \"value\". The requirements are ANDed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A label selector is a label query over a set of resources. The result of matchLabels and matchExpressions are ANDed. An empty label selector matches all objects. A null label selector matches no objects."
      }
    },
    "com.grafana.alerting.rules#LabelSelectorRequirement": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "key is the label key that the selector applies to.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "operator represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists and DoesNotExist.",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.grafana.alerting.rules#LabelSelectorRequirementValuesList",
          "traits": {
            "smithy.api#documentation": "values is an array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. This array is replaced during a strategic merge patch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A label selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
      }
    },
    "com.grafana.alerting.rules#LabelSelectorRequirementValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "values is an array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. This array is replaced during a strategic merge patch."
      }
    },
    "com.grafana.alerting.rules#LabelSelectorMatchExpressionsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.alerting.rules#LabelSelectorRequirement"
      },
      "traits": {
        "smithy.api#documentation": "matchExpressions is a list of label selector requirements. The requirements are ANDed."
      }
    },
    "com.grafana.alerting.rules#LabelSelectorMatchLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels map is equivalent to an element of matchExpressions, whose key field is \"key\", the operator is \"In\", and the values array contains only \"value\". The requirements are ANDed."
      }
    },
    "com.grafana.alerting.rules#SortField": {
      "type": "structure",
      "members": {
        "direction": {
          "target": "smithy.api#String"
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SortField names a field to sort by and a direction (\"asc\" or \"desc\"). V1 allows sorting only on scalar string and numeric fields that declare the sort capability."
      }
    },
    "com.grafana.alerting.rules#ListAlertRuleSearchV0alpha1RequestSortList": {
      "type": "list",
      "member": {
        "target": "com.grafana.alerting.rules#SortField"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#WhereNode": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.grafana.alerting.rules#WhereNodeAndList",
          "traits": {
            "smithy.api#documentation": "Combinators."
          }
        },
        "exists": {
          "target": "com.grafana.alerting.rules#ExistsPredicate"
        },
        "filter": {
          "target": "com.grafana.alerting.rules#FilterPredicate"
        },
        "not": {
          "target": "com.grafana.alerting.rules#WhereNode"
        },
        "or": {
          "target": "com.grafana.alerting.rules#WhereNodeOrList"
        },
        "range": {
          "target": "com.grafana.alerting.rules#RangePredicate"
        },
        "text": {
          "target": "com.grafana.alerting.rules#TextPredicate",
          "traits": {
            "smithy.api#documentation": "Leaves."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WhereNode is a single node of the where tree. Exactly one field must be set; the set field names the node's type. Combinators (and/or/not) compose other nodes, leaves (text/filter/range/exists) are terminal predicates.\n\nAll node types are modelled so the schema is future-proof, but v1 only accepts a narrow subset (top-level single leaf or a single and of leaves; text, filter and range leaves; In/NotIn/All filter operators). Everything else is rejected with 422 Unprocessable Entity by the validation layer. exists is sketched for a future version and always rejected today."
      }
    },
    "com.grafana.alerting.rules#WhereNodeAndList": {
      "type": "list",
      "member": {
        "target": "com.grafana.alerting.rules#WhereNode"
      },
      "traits": {
        "smithy.api#documentation": "Combinators."
      }
    },
    "com.grafana.alerting.rules#ExistsPredicate": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExistsPredicate is a future field-existence predicate. Modelled for schema stability; always rejected in v1."
      }
    },
    "com.grafana.alerting.rules#FilterPredicate": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operator is \"In\", \"NotIn\" or \"All\" in v1. \"In\" matches any of the values, \"NotIn\" excludes all of them, and \"All\" requires the field to hold every value, which only a field holding a list of values can do.",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.grafana.alerting.rules#FilterPredicateValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FilterPredicate is an exact / set-based predicate against a single field. Values are strings whatever the field's declared type, so a boolean field takes \"true\" or \"false\" and a numeric field takes the number written out.\n\nNumbers are held as float64, so only integers up to 2^53 are compared exactly. Past that, values a whole number apart share one representation, and a filter can both match a neighbour and miss the value asked for."
      }
    },
    "com.grafana.alerting.rules#FilterPredicateValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#WhereNodeOrList": {
      "type": "list",
      "member": {
        "target": "com.grafana.alerting.rules#WhereNode"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#RangePredicate": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gt": {
          "target": "smithy.api#Double"
        },
        "gte": {
          "target": "smithy.api#Double"
        },
        "lt": {
          "target": "smithy.api#Double"
        },
        "lte": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "RangePredicate compares a numeric field against one or two bounds. At least one bound is required, gt cannot be combined with gte, and lt cannot be combined with lte. Boolean and string fields are rejected: only numbers have the order a range asks about. On an integer field a bound must be whole.\n\nBounds are held as float64, so only integers up to 2^53 are compared exactly. Past that, values a whole number apart share one representation, and a bound can both admit a neighbour and exclude the value asked for."
      }
    },
    "com.grafana.alerting.rules#TextPredicate": {
      "type": "structure",
      "members": {
        "boost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Boost is a future per-leaf score multiplier. Setting it is rejected in v1."
          }
        },
        "fields": {
          "target": "com.grafana.alerting.rules#TextPredicateFieldsList"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TextPredicate is a free-text predicate against one or more text-capable fields. When Fields is empty it defaults to the kind's searchTextFields (currently [\"title\"])."
      }
    },
    "com.grafana.alerting.rules#TextPredicateFieldsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#ListAlertRuleSearchV0alpha1Request": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "continue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continue is an opaque pagination token from a previous page."
          }
        },
        "facetLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "FacetLimit caps the number of terms returned per facet. It applies to every entry in Facets. Zero uses the server default; values above the server cap are clamped."
          }
        },
        "facets": {
          "target": "com.grafana.alerting.rules#ListAlertRuleSearchV0alpha1RequestFacetsList"
        },
        "fields": {
          "target": "com.grafana.alerting.rules#ListAlertRuleSearchV0alpha1RequestFieldsList"
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "labelSelector": {
          "target": "com.grafana.alerting.rules#LabelSelector",
          "traits": {
            "smithy.api#documentation": "LabelSelector filters on metadata.labels, ANDed with Where."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Limit is the page size. Zero uses the default; values above the maximum are clamped."
          }
        },
        "sort": {
          "target": "com.grafana.alerting.rules#ListAlertRuleSearchV0alpha1RequestSortList"
        },
        "where": {
          "target": "com.grafana.alerting.rules#WhereNode",
          "traits": {
            "smithy.api#documentation": "Where is the search predicate tree. Omitting it matches all resources of the kind (subject to labelSelector and per-item authz)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.alerting.rules#SearchResults": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "facets": {
          "target": "com.grafana.alerting.rules#SearchResultsFacetsMap",
          "traits": {
            "smithy.api#documentation": "Facets holds term counts per requested facet field. Counts are computed over a bounded sample window, so they are best-effort/approximate."
          }
        },
        "items": {
          "target": "com.grafana.alerting.rules#SearchResultsItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.grafana.alerting.rules#ResultsMetadata",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SearchResults is the response body for POST .../{resource}/search."
      }
    },
    "com.grafana.alerting.rules#FacetTerm": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FacetTerm is a single facet term and its count."
      }
    },
    "com.grafana.alerting.rules#SearchResultsFacetsValueList": {
      "type": "list",
      "member": {
        "target": "com.grafana.alerting.rules#FacetTerm"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#SearchResultsFacetsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.grafana.alerting.rules#SearchResultsFacetsValueList"
      },
      "traits": {
        "smithy.api#documentation": "Facets holds term counts per requested facet field. Counts are computed over a bounded sample window, so they are best-effort/approximate."
      }
    },
    "com.grafana.alerting.rules#ResultItem": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.grafana.alerting.rules#Unstructured",
          "traits": {
            "smithy.api#documentation": "Fields holds the JSON values for the requested (or default) fields. Array-typed fields are returned as JSON arrays. Absent fields are omitted."
          }
        },
        "resource": {
          "target": "com.grafana.alerting.rules#ResourceRef",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Score is present only when a text query was evaluated. A pointer so a real score of 0 is still distinguishable from \"no text query\" (absent)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResultItem is one search or trash hit. The item shape is identical on both endpoints; only which fields the Fields map can carry differs."
      }
    },
    "com.grafana.alerting.rules#Unstructured": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#ResourceRef": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceRef is the full identity of a returned item. Namespace is implicit from the URL and omitted."
      }
    },
    "com.grafana.alerting.rules#SearchResultsItemsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.alerting.rules#ResultItem"
      },
      "traits": {}
    },
    "com.grafana.alerting.rules#ResultsMetadata": {
      "type": "structure",
      "members": {
        "continue": {
          "target": "smithy.api#String"
        },
        "totalHits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "TotalHits counts the resources matching the query. Always read it together with TotalHitsRelation, which says whether the count is exact.",
            "smithy.api#required": {}
          }
        },
        "totalHitsRelation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TotalHitsRelation is \"eq\" when TotalHits is exact and \"lte\" when it is an upper bound.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResultsMetadata carries the pagination token and the total hit count."
      }
    },
    "com.grafana.alerting.rules#ListAlertRuleSearchV0alpha1": {
      "type": "operation",
      "input": {
        "target": "com.grafana.alerting.rules#ListAlertRuleSearchV0alpha1Request"
      },
      "output": {
        "target": "com.grafana.alerting.rules#SearchResults"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apis/rules.alerting.grafana.app/v0alpha1/namespaces/{namespace}/alertrules/search",
          "code": 200
        },
        "smithy.api#documentation": "Search AlertRule resources in a namespace."
      }
    },
    "com.grafana.alerting.rules#GetAlertRuleRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the AlertRule"
          }
        },
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.alerting.rules#GetAlertRule": {
      "type": "operation",
      "input": {
        "target": "com.grafana.alerting.rules#GetAlertRuleRequest"
      },
      "output": {
        "target": "com.grafana.alerting.rules#AlertRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/rules.alerting.grafana.app/v0alpha1/namespaces/{namespace}/alertrules/{name}",
          "code": 200
        },
        "smithy.api#documentation": "read the specified AlertRule"
      }
    },
    "com.grafana.alerting.rules#ReplaceAlertRuleRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the AlertRule"
          }
        },
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "dryRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dryRun",
            "smithy.api#documentation": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed"
          }
        },
        "fieldManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldManager",
            "smithy.api#documentation": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint."
          }
        },
        "fieldValidation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldValidation",
            "smithy.api#documentation": "fieldValidation instructs the server on how to handle objects in the request (POST/PUT/PATCH) containing unknown or duplicate fields. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default in v1.23+ - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.grafana.alerting.rules#ObjectMeta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.alerting.rules#AlertRuleSpec",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.grafana.alerting.rules#AlertRuleStatus"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.alerting.rules#ReplaceAlertRule": {
      "type": "operation",
      "input": {
        "target": "com.grafana.alerting.rules#ReplaceAlertRuleRequest"
      },
      "output": {
        "target": "com.grafana.alerting.rules#AlertRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/apis/rules.alerting.grafana.app/v0alpha1/namespaces/{namespace}/alertrules/{name}",
          "code": 200
        },
        "smithy.api#documentation": "replace the specified AlertRule"
      }
    },
    "com.grafana.alerting.rules#UpdateAlertRuleRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the AlertRule"
          }
        },
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "dryRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dryRun",
            "smithy.api#documentation": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed"
          }
        },
        "fieldManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldManager",
            "smithy.api#documentation": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint. This field is required for apply requests (application/apply-patch) but optional for non-apply patch types (JsonPatch, MergePatch, StrategicMergePatch)."
          }
        },
        "fieldValidation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldValidation",
            "smithy.api#documentation": "fieldValidation instructs the server on how to handle objects in the request (POST/PUT/PATCH) containing unknown or duplicate fields. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default in v1.23+ - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "force",
            "smithy.api#documentation": "Force is going to \"force\" Apply requests. It means user will re-acquire conflicting fields owned by other people. Force flag must be unset for non-apply patch requests."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.alerting.rules#UpdateAlertRule": {
      "type": "operation",
      "input": {
        "target": "com.grafana.alerting.rules#UpdateAlertRuleRequest"
      },
      "output": {
        "target": "com.grafana.alerting.rules#AlertRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/apis/rules.alerting.grafana.app/v0alpha1/namespaces/{namespace}/alertrules/{name}",
          "code": 200
        },
        "smithy.api#documentation": "partially update the specified AlertRule"
      }
    },
    "com.grafana.alerting.rules#DeleteAlertRuleRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the AlertRule"
          }
        },
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "dryRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dryRun",
            "smithy.api#documentation": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed"
          }
        },
        "gracePeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "gracePeriodSeconds",
            "smithy.api#documentation": "The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately."
          }
        },
        "ignoreStoreReadErrorWithClusterBreakingPotential": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "ignoreStoreReadErrorWithClusterBreakingPotential",
            "smithy.api#documentation": "if set to true, it will trigger an unsafe deletion of the resource in case the normal deletion flow fails with a corrupt object error. A resource is considered corrupt if it can not be retrieved from the underlying storage successfully because of a) its data can not be transformed e.g. decryption failure, or b) it fails to decode into an object. NOTE: unsafe deletion ignores finalizer constraints, skips precondition checks, and removes the object from the storage. WARNING: This may potentially break the cluster if the workload associated with the resource being unsafe-deleted relies on normal deletion flow. Use only if you REALLY know what you are doing. The default value is false, and the user must opt in to enable it"
          }
        },
        "orphanDependents": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "orphanDependents",
            "smithy.api#documentation": "Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \"orphan\" finalizer will be added to/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both."
          }
        },
        "propagationPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "propagationPolicy",
            "smithy.api#documentation": "Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.alerting.rules#Status": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Suggested HTTP return code for this status, 0 if not set."
          }
        },
        "details": {
          "target": "com.grafana.alerting.rules#StatusDetails",
          "traits": {
            "smithy.api#documentation": "Extended data associated with the reason.  Each reason may define its own extended details. This field is optional and the data returned is not guaranteed to conform to any schema except that defined by the reason type."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of the status of this operation."
          }
        },
        "metadata": {
          "target": "com.grafana.alerting.rules#ListMeta",
          "traits": {
            "smithy.api#documentation": "Standard list metadata. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A machine-readable description of why this operation is in the \"Failure\" status. If this value is empty there is no information available. A Reason clarifies an HTTP status code but does not override it."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the operation. One of: \"Success\" or \"Failure\". More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#spec-and-status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status is a return value for calls that don't return other objects."
      }
    },
    "com.grafana.alerting.rules#StatusDetails": {
      "type": "structure",
      "members": {
        "causes": {
          "target": "com.grafana.alerting.rules#StatusDetailsCausesList",
          "traits": {
            "smithy.api#documentation": "The Causes array includes more details associated with the StatusReason failure. Not all StatusReasons may provide detailed causes."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group attribute of the resource associated with the status StatusReason."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind attribute of the resource associated with the status StatusReason. On some operations may differ from the requested resource Kind. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name attribute of the resource associated with the status StatusReason (when there is a single name which can be described)."
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If specified, the time in seconds before the operation should be retried. Some errors may indicate the client must take an alternate action - for those errors this field may indicate how long to wait before taking the alternate action."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID of the resource. (when there is a single resource which can be described). More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StatusDetails is a set of additional properties that MAY be set by the server to provide additional information about a response. The Reason field of a Status object defines what attributes will be set. Clients must ignore fields that do not match the defined type of each attribute, and should assume that any attribute may be empty, invalid, or under defined."
      }
    },
    "com.grafana.alerting.rules#StatusCause": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field of the resource that has caused this error, as named by its JSON serialization. May include dot and postfix notation for nested attributes. Arrays are zero-indexed.  Fields may appear more than once in an array of causes due to fields having multiple errors. Optional.\n\nExamples:\n  \"name\" - the field \"name\" on the current resource\n  \"items[0].name\" - the field \"name\" on the first array entry in \"items\""
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of the cause of the error.  This field may be presented as-is to a reader."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A machine-readable description of the cause of the error. If this value is empty there is no information available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StatusCause provides more information about an api.Status failure, including cases when multiple errors are encountered."
      }
    },
    "com.grafana.alerting.rules#StatusDetailsCausesList": {
      "type": "list",
      "member": {
        "target": "com.grafana.alerting.rules#StatusCause"
      },
      "traits": {
        "smithy.api#documentation": "The Causes array includes more details associated with the StatusReason failure. Not all StatusReasons may provide detailed causes."
      }
    },
    "com.grafana.alerting.rules#DeleteAlertRule": {
      "type": "operation",
      "input": {
        "target": "com.grafana.alerting.rules#DeleteAlertRuleRequest"
      },
      "output": {
        "target": "com.grafana.alerting.rules#Status"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apis/rules.alerting.grafana.app/v0alpha1/namespaces/{namespace}/alertrules/{name}",
          "code": 200
        },
        "smithy.api#documentation": "delete an AlertRule"
      }
    },
    "com.grafana.alerting.rules#GetAlertRuleStatusRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the AlertRule"
          }
        },
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.alerting.rules#GetAlertRuleStatus": {
      "type": "operation",
      "input": {
        "target": "com.grafana.alerting.rules#GetAlertRuleStatusRequest"
      },
      "output": {
        "target": "com.grafana.alerting.rules#AlertRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/rules.alerting.grafana.app/v0alpha1/namespaces/{namespace}/alertrules/{name}/status",
          "code": 200
        },
        "smithy.api#documentation": "read status of the specified AlertRule"
      }
    },
    "com.grafana.alerting.rules#ReplaceAlertRuleStatusRequest": {
      "type": "structure",
      "members": {
[...]
