{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.grafana.dashboard#APIResourceList": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "groupVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "groupVersion is the group and version this APIResourceList is for.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "resources": {
          "target": "com.grafana.dashboard#APIResourceListResourcesList",
          "traits": {
            "smithy.api#documentation": "resources contains the name of the resources and if they are namespaced.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIResourceList is a list of APIResource, it is used to expose the name of the resources supported in a specific group and version, and if the resource is namespaced."
      }
    },
    "com.grafana.dashboard#APIResource": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.grafana.dashboard#APIResourceCategoriesList",
          "traits": {
            "smithy.api#documentation": "categories is a list of the grouped resources this resource belongs to (e.g. 'all')"
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "group is the preferred group of the resource.  Empty implies the group of the containing resource list. For subresources, this may have a different value, for example: Scale\"."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "kind is the kind for the resource (e.g. 'Foo' is the kind for a resource 'foo')",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the plural name of the resource.",
            "smithy.api#required": {}
          }
        },
        "namespaced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "namespaced indicates if a resource is namespaced or not.",
            "smithy.api#required": {}
          }
        },
        "shortNames": {
          "target": "com.grafana.dashboard#APIResourceShortNamesList",
          "traits": {
            "smithy.api#documentation": "shortNames is a list of suggested short names of the resource."
          }
        },
        "singularName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "singularName is the singular name of the resource.  This allows clients to handle plural and singular opaquely. The singularName is more correct for reporting status on a single item and both singular and plural are allowed from the kubectl CLI interface.",
            "smithy.api#required": {}
          }
        },
        "storageVersionHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash value of the storage version, the version this resource is converted to when written to the data store. Value must be treated as opaque by clients. Only equality comparison on the value is valid. This is an alpha feature and may change or be removed in the future. The field is populated by the apiserver only if the StorageVersionHash feature gate is enabled. This field will remain optional even if it graduates."
          }
        },
        "verbs": {
          "target": "com.grafana.dashboard#APIResourceVerbsList",
          "traits": {
            "smithy.api#documentation": "verbs is a list of supported kube verbs (this includes get, list, watch, create, update, patch, delete, deletecollection, and proxy)",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "version is the preferred version of the resource.  Empty implies the version of the containing resource list For subresources, this may have a different value, for example: v1 (while inside a v1beta1 version of the core resource's group)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "APIResource specifies the name of a resource and whether it is namespaced."
      }
    },
    "com.grafana.dashboard#APIResourceCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "categories is a list of the grouped resources this resource belongs to (e.g. 'all')"
      }
    },
    "com.grafana.dashboard#APIResourceShortNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "shortNames is a list of suggested short names of the resource."
      }
    },
    "com.grafana.dashboard#APIResourceVerbsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "verbs is a list of supported kube verbs (this includes get, list, watch, create, update, patch, delete, deletecollection, and proxy)"
      }
    },
    "com.grafana.dashboard#APIResourceListResourcesList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#APIResource"
      },
      "traits": {
        "smithy.api#documentation": "resources contains the name of the resources and if they are namespaced."
      }
    },
    "com.grafana.dashboard#GetAPIResources": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.grafana.dashboard#APIResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apis/dashboard.grafana.app/v2",
          "code": 200
        },
        "smithy.api#documentation": "Describe the available kubernetes resources"
      }
    },
    "com.grafana.dashboard#ListDashboardRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pretty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pretty",
            "smithy.api#documentation": "If 'true', then the output is pretty printed. Defaults to 'false' unless the user-agent indicates a browser or command-line HTTP tool (curl and wget)."
          }
        },
        "continue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "continue",
            "smithy.api#documentation": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications."
          }
        },
        "fieldSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fieldSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their fields. Defaults to everything."
          }
        },
        "labelSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "labelSelector",
            "smithy.api#documentation": "A selector to restrict the list of returned objects by their labels. Defaults to everything."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resourceVersion",
            "smithy.api#documentation": "resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.\n\nDefaults to unset"
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "timeoutSeconds",
            "smithy.api#documentation": "Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity."
          }
        },
        "watch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "watch",
            "smithy.api#documentation": "Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.grafana.dashboard#DashboardList": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "items": {
          "target": "com.grafana.dashboard#DashboardListItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.grafana.dashboard#ListMeta",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#Dashboard2": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          }
        },
        "metadata": {
          "target": "com.grafana.dashboard#ObjectMeta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardSpec",
          "traits": {
            "smithy.api#documentation": "Spec is the spec of the Dashboard",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.grafana.dashboard#DashboardStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#ObjectMeta": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.grafana.dashboard#ObjectMetaAnnotationsMap",
          "traits": {
            "smithy.api#documentation": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations"
          }
        },
        "creationTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CreationTimestamp is a timestamp representing the server time when this object was created. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It is represented in RFC3339 form and is in UTC.\n\nPopulated by the system. Read-only. Null for lists. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "deletionGracePeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds allowed for this object to gracefully terminate before it will be removed from the system. Only set when deletionTimestamp is also set. May only be shortened. Read-only."
          }
        },
        "deletionTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This field is set by the server when a graceful deletion is requested by the user, and is not directly settable by a client. The resource is expected to be deleted (no longer visible from resource lists, and not reachable by name) after the time in this field, once the finalizers list is empty. As long as the finalizers list contains items, deletion is blocked. Once the deletionTimestamp is set, this value may not be unset or be set further into the future, although it may be shortened or the resource may be deleted prior to this time. For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react by sending a graceful termination signal to the containers in the pod. After that 30 seconds, the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup, remove the pod from the API. In the presence of network partitions, this object may still exist after this timestamp, until an administrator or automated process can determine the resource is fully terminated. If not set, graceful deletion of the object has not been requested.\n\nPopulated by the system when a graceful deletion is requested. Read-only. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata"
          }
        },
        "finalizers": {
          "target": "com.grafana.dashboard#ObjectMetaFinalizersList",
          "traits": {
            "smithy.api#documentation": "Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. Finalizers may be processed and removed in any order.  Order is NOT enforced because it introduces significant risk of stuck finalizers. finalizers is a shared field, any actor with permission can reorder it. If the finalizer list is processed in order, then this can lead to a situation in which the component responsible for the first finalizer in the list is waiting for a signal (field value, external system, or other) produced by a component responsible for a finalizer later in the list, resulting in a deadlock. Without enforced ordering finalizers are free to order amongst themselves and are not vulnerable to ordering changes in the list."
          }
        },
        "generateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GenerateName is an optional prefix, used by the server, to generate a unique name ONLY IF the Name field has not been provided. If this field is used, the name returned to the client will be different than the name passed. This value will also be combined with a unique suffix. The provided value has the same validation rules as the Name field, and may be truncated by the length of the suffix required to make the value unique on the server.\n\nIf this field is specified and the generated name exists, the server will return a 409.\n\nApplied only if Name is not specified. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency"
          }
        },
        "generation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A sequence number representing a specific generation of the desired state. Populated by the system. Read-only."
          }
        },
        "labels": {
          "target": "com.grafana.dashboard#ObjectMetaLabelsMap",
          "traits": {
            "smithy.api#documentation": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels"
          }
        },
        "managedFields": {
          "target": "com.grafana.dashboard#ObjectMetaManagedFieldsList",
          "traits": {
            "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields that are managed by that workflow. This is mostly for internal housekeeping, and users typically shouldn't need to set or understand this field. A workflow can be the user's name, a controller's name, or the name of a specific apply path like \"ci-cd\". The set of fields is always in the version that the workflow used when modifying the object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name must be unique within a namespace. Is required when creating resources, although some resources may allow a client to request the generation of an appropriate name automatically. Name is primarily intended for creation idempotence and configuration definition. Cannot be updated. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names"
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace defines the space within which each name must be unique. An empty namespace is equivalent to the \"default\" namespace, but \"default\" is the canonical representation. Not all objects are required to be scoped to a namespace - the value of this field for those objects will be empty.\n\nMust be a DNS_LABEL. Cannot be updated. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces"
          }
        },
        "ownerReferences": {
          "target": "com.grafana.dashboard#ObjectMetaOwnerReferencesList",
          "traits": {
            "smithy.api#documentation": "List of objects depended by this object. If ALL objects in the list have been deleted, this object will be garbage collected. If this object is managed by a controller, then an entry in this list will point to this controller, with the controller field set to true. There cannot be more than one managing controller."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server. They may only be valid for a particular resource or set of resources.\n\nPopulated by the system. Read-only. Value must be treated as opaque by clients and . More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: selfLink is a legacy read-only field that is no longer populated by the system."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID is the unique in time and space value for this object. It is typically generated by the server on successful creation of a resource and is not allowed to change on PUT operations.\n\nPopulated by the system. Read-only. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create."
      }
    },
    "com.grafana.dashboard#ObjectMetaAnnotationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations"
      }
    },
    "com.grafana.dashboard#ObjectMetaFinalizersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. Finalizers may be processed and removed in any order.  Order is NOT enforced because it introduces significant risk of stuck finalizers. finalizers is a shared field, any actor with permission can reorder it. If the finalizer list is processed in order, then this can lead to a situation in which the component responsible for the first finalizer in the list is waiting for a signal (field value, external system, or other) produced by a component responsible for a finalizer later in the list, resulting in a deadlock. Without enforced ordering finalizers are free to order amongst themselves and are not vulnerable to ordering changes in the list."
      }
    },
    "com.grafana.dashboard#ObjectMetaLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and services. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels"
      }
    },
    "com.grafana.dashboard#ManagedFieldsEntry": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion defines the version of this resource that this field set applies to. The format is \"group/version\" just like the top-level APIVersion field. It is necessary to track the version of a field set because it cannot be automatically converted."
          }
        },
        "fieldsType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FieldsType is the discriminator for the different fields format and version. There is currently only one possible value: \"FieldsV1\""
          }
        },
        "fieldsV1": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "FieldsV1 holds the first JSON version format as described in the \"FieldsV1\" type."
          }
        },
        "manager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manager is an identifier of the workflow managing these fields."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation is the type of operation which lead to this ManagedFieldsEntry being created. The only valid values for this field are 'Apply' and 'Update'."
          }
        },
        "subresource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subresource is the name of the subresource used to update that object, or empty string if the object was updated through the main resource. The value of this field is used to distinguish between managers, even if they share the same name. For example, a status update will be distinct from a regular update using the same manager name. Note that the APIVersion field is not related to the Subresource field and it always corresponds to the version of the main resource."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time is the timestamp of when the ManagedFields entry was added. The timestamp will also be updated if a field is added, the manager changes any of the owned fields value or removes a field. The timestamp does not update when a field is removed from the entry because another manager took it over."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ManagedFieldsEntry is a workflow-id, a FieldSet and the group version of the resource that the fieldset applies to."
      }
    },
    "com.grafana.dashboard#ObjectMetaManagedFieldsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#ManagedFieldsEntry"
      },
      "traits": {
        "smithy.api#documentation": "ManagedFields maps workflow-id and version to the set of fields that are managed by that workflow. This is mostly for internal housekeeping, and users typically shouldn't need to set or understand this field. A workflow can be the user's name, a controller's name, or the name of a specific apply path like \"ci-cd\". The set of fields is always in the version that the workflow used when modifying the object."
      }
    },
    "com.grafana.dashboard#OwnerReference": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API version of the referent.",
            "smithy.api#required": {}
          }
        },
        "blockOwnerDeletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, AND if the owner has the \"foregroundDeletion\" finalizer, then the owner cannot be deleted from the key-value store until this reference is removed. See https://kubernetes.io/docs/concepts/architecture/garbage-collection/#foreground-deletion for how the garbage collector interacts with this field and enforces the foreground deletion. Defaults to false. To set this field, a user needs \"delete\" permission of the owner, otherwise 422 (Unprocessable Entity) will be returned."
          }
        },
        "controller": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, this reference points to the managing controller."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names",
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OwnerReference contains enough information to let you identify an owning object. An owning object must be in the same namespace as the dependent, or be cluster-scoped, so there is no namespace field."
      }
    },
    "com.grafana.dashboard#ObjectMetaOwnerReferencesList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#OwnerReference"
      },
      "traits": {
        "smithy.api#documentation": "List of objects depended by this object. If ALL objects in the list have been deleted, this object will be garbage collected. If this object is managed by a controller, then an entry in this list will point to this controller, with the controller field set to true. There cannot be more than one managing controller."
      }
    },
    "com.grafana.dashboard#DashboardSpec": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.grafana.dashboard#DashboardSpecAnnotationsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cursorSync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration of dashboard cursor sync behavior. \"Off\" for no shared crosshair or tooltip (default). \"Crosshair\" for shared crosshair. \"Tooltip\" for shared crosshair AND shared tooltip.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of dashboard."
          }
        },
        "editable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a dashboard is editable or not."
          }
        },
        "elements": {
          "target": "com.grafana.dashboard#DashboardSpecElementsMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "layout": {
          "target": "com.grafana.dashboard#DashboardGridLayoutKindOrRowsLayoutKindOrAutoGridLayoutKindOrTabsLayoutKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.grafana.dashboard#DashboardSpecLinksList",
          "traits": {
            "smithy.api#documentation": "Links with references to other dashboards or external websites.",
            "smithy.api#required": {}
          }
        },
        "liveNow": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to true, the dashboard will redraw panels at an interval matching the pixel width. This will keep data \"moving left\" regardless of the query refresh rate. This setting helps avoid dashboards presenting stale live data."
          }
        },
        "preferences": {
          "target": "com.grafana.dashboard#DashboardPreferences"
        },
        "preload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to true, the dashboard will load all panels in the dashboard when it's loaded.",
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Plugins only. The version of the dashboard installed together with the plugin. This is used to determine if the dashboard should be updated when the plugin is updated."
          }
        },
        "tags": {
          "target": "com.grafana.dashboard#DashboardSpecTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with dashboard.",
            "smithy.api#required": {}
          }
        },
        "timeSettings": {
          "target": "com.grafana.dashboard#DashboardTimeSettingsSpec",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of dashboard.",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "com.grafana.dashboard#DashboardSpecVariablesList",
          "traits": {
            "smithy.api#documentation": "Configured template variables.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardAnnotationQueryKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardAnnotationQuerySpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardAnnotationQuerySpec": {
      "type": "structure",
      "members": {
        "builtIn": {
          "target": "smithy.api#Boolean"
        },
        "enable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "com.grafana.dashboard#DashboardAnnotationPanelFilter"
        },
        "hide": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "iconColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "legacyOptions": {
          "target": "com.grafana.dashboard#DashboardAnnotationQuerySpecLegacyOptionsMap",
          "traits": {
            "smithy.api#documentation": "Catch-all field for datasource-specific properties. Should not be available in as code tooling."
          }
        },
        "mappings": {
          "target": "com.grafana.dashboard#DashboardAnnotationQuerySpecMappingsMap",
          "traits": {
            "smithy.api#documentation": "Mappings define how to convert data frame fields to annotation event fields."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "placement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Placement can be used to display the annotation query somewhere else on the dashboard other than the default location."
          }
        },
        "query": {
          "target": "com.grafana.dashboard#DashboardDataQueryKind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardAnnotationPanelFilter": {
      "type": "structure",
      "members": {
        "exclude": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Should the specified panels be included or excluded"
          }
        },
        "ids": {
          "target": "com.grafana.dashboard#DashboardAnnotationPanelFilterIdsList",
          "traits": {
            "smithy.api#documentation": "Panel IDs that should be included or excluded",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardAnnotationPanelFilterIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "Panel IDs that should be included or excluded"
      }
    },
    "com.grafana.dashboard#DashboardAnnotationQuerySpecLegacyOptionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Catch-all field for datasource-specific properties. Should not be available in as code tooling."
      }
    },
    "com.grafana.dashboard#DashboardAnnotationEventFieldMapping": {
      "type": "structure",
      "members": {
        "regex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regular expression to apply to the field value"
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source type for the field value"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Constant value to use when source is \"text\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotation event field mapping. Defines how to map a data frame field to an annotation event field."
      }
    },
    "com.grafana.dashboard#DashboardAnnotationQuerySpecMappingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.grafana.dashboard#DashboardAnnotationEventFieldMapping"
      },
      "traits": {
        "smithy.api#documentation": "Mappings define how to convert data frame fields to annotation event fields."
      }
    },
    "com.grafana.dashboard#DashboardDataQueryKind": {
      "type": "structure",
      "members": {
        "datasource": {
          "target": "com.grafana.dashboard#DashboardV2DataQueryKindDatasource",
          "traits": {
            "smithy.api#documentation": "New type for datasource reference Not creating a new type until we figure out how to handle DS refs for group by, adhoc, and every place that uses DataSourceRef in TS."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.grafana.dashboard#DashboardDataQueryKindLabelsMap"
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardDataQueryKindSpecMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardV2DataQueryKindDatasource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardDataQueryKindLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardDataQueryKindSpecMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardSpecAnnotationsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardAnnotationQueryKind"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardPanelKindOrLibraryPanelKind": {
      "type": "structure",
      "members": {
        "LibraryPanelKind": {
          "target": "com.grafana.dashboard#DashboardLibraryPanelKind"
        },
        "PanelKind": {
          "target": "com.grafana.dashboard#DashboardPanelKind"
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardLibraryPanelKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardLibraryPanelKindSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardLibraryPanelKindSpec": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Panel ID for the library panel in the dashboard",
            "smithy.api#required": {}
          }
        },
        "libraryPanel": {
          "target": "com.grafana.dashboard#DashboardLibraryPanelRef",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title for the library panel in the dashboard",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardLibraryPanelRef": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Library panel name",
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Library panel uid",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A library panel is a reusable panel that you can use in any dashboard. When you make a change to a library panel, that change propagates to all instances of where the panel is used. Library panels streamline reuse of panels across multiple dashboards."
      }
    },
    "com.grafana.dashboard#DashboardPanelKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardPanelSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardPanelSpec": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.grafana.dashboard#DashboardQueryGroupKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shown in a info icon tooltip next to panel title"
          }
        },
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.grafana.dashboard#DashboardPanelSpecLinksList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subtitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shown in a sub header below the title."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transparent": {
          "target": "smithy.api#Boolean"
        },
        "vizConfig": {
          "target": "com.grafana.dashboard#DashboardVizConfigKind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardQueryGroupKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardQueryGroupSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardQueryGroupSpec": {
      "type": "structure",
      "members": {
        "queries": {
          "target": "com.grafana.dashboard#DashboardQueryGroupSpecQueriesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "queryOptions": {
          "target": "com.grafana.dashboard#DashboardQueryOptionsSpec",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transformations": {
          "target": "com.grafana.dashboard#DashboardQueryGroupSpecTransformationsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardPanelQueryKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardPanelQuerySpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardPanelQuerySpec": {
      "type": "structure",
      "members": {
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.grafana.dashboard#DashboardDataQueryKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "refId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardQueryGroupSpecQueriesList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardPanelQueryKind"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardQueryOptionsSpec": {
      "type": "structure",
      "members": {
        "cacheTimeout": {
          "target": "smithy.api#String"
        },
        "hideTimeOverride": {
          "target": "smithy.api#Boolean"
        },
        "interval": {
          "target": "smithy.api#String"
        },
        "maxDataPoints": {
          "target": "smithy.api#Integer"
        },
        "queryCachingTTL": {
          "target": "smithy.api#Integer"
        },
        "timeCompare": {
          "target": "smithy.api#String"
        },
        "timeFrom": {
          "target": "smithy.api#String"
        },
        "timeShift": {
          "target": "smithy.api#String"
        },
        "timeTo": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardTransformationKind": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group is the transformation ID",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardTransformationSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardTransformationSpec": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disabled transformations are skipped"
          }
        },
        "filter": {
          "target": "com.grafana.dashboard#DashboardMatcherConfig",
          "traits": {
            "smithy.api#documentation": "Optional frame matcher. When missing it will be applied to all results"
          }
        },
        "options": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Options to be passed to the transformer Valid options depend on the transformer id",
            "smithy.api#required": {}
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where to pull DataFrames from as input to transformation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Transformations allow to manipulate data returned by a query before the system applies a visualization. Using transformations you can: rename fields, join time series data, perform mathematical operations across queries, use the output of one transformation as the input to another transformation, etc."
      }
    },
    "com.grafana.dashboard#DashboardMatcherConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The matcher id. This is used to find the matcher implementation from registry.",
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The matcher options. This is specific to the matcher implementation."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, limits this matcher to fields of that type. If not set, \"series\" mode is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Matcher is a predicate configuration. Based on the config a set of field(s) or values is filtered in order to apply override / transformation. It comes with in id ( to resolve implementation from registry) and a configuration that’s specific to a particular matcher type."
      }
    },
    "com.grafana.dashboard#DashboardQueryGroupSpecTransformationsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardTransformationKind"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardDataLink": {
      "type": "structure",
      "members": {
        "targetBlank": {
          "target": "smithy.api#Boolean"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardPanelSpecLinksList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardDataLink"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardVizConfigKind": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group is the plugin ID",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardVizConfigSpec",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardVizConfigSpec": {
      "type": "structure",
      "members": {
        "fieldConfig": {
          "target": "com.grafana.dashboard#DashboardFieldConfigSource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.grafana.dashboard#DashboardVizConfigSpecOptionsMap",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "--- Kinds ---"
      }
    },
    "com.grafana.dashboard#DashboardFieldConfigSource": {
      "type": "structure",
      "members": {
        "defaults": {
          "target": "com.grafana.dashboard#DashboardFieldConfig",
          "traits": {
            "smithy.api#documentation": "Defaults are the options applied to all fields.",
            "smithy.api#required": {}
          }
        },
        "overrides": {
          "target": "com.grafana.dashboard#DashboardFieldConfigSourceOverridesList",
          "traits": {
            "smithy.api#documentation": "Overrides are the options applied to specific fields overriding the defaults.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data model used in Grafana, namely the data frame, is a columnar-oriented table structure that unifies both time series and table query results. Each column within this structure is called a field. A field can represent a single time series or table column. Field options allow you to change how the data is displayed in your visualizations."
      }
    },
    "com.grafana.dashboard#DashboardFieldConfig": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.grafana.dashboard#DashboardFieldConfigActionsList",
          "traits": {
            "smithy.api#documentation": "Define interactive HTTP requests that can be triggered from data visualizations."
          }
        },
        "color": {
          "target": "com.grafana.dashboard#DashboardFieldColor",
          "traits": {
            "smithy.api#documentation": "Panel color configuration"
          }
        },
        "custom": {
          "target": "com.grafana.dashboard#DashboardFieldConfigCustomMap",
          "traits": {
            "smithy.api#documentation": "custom is specified by the FieldConfig field in panel plugin schemas."
          }
        },
        "decimals": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the number of decimals Grafana includes in the rendered value. If you leave this field blank, Grafana automatically truncates the number of decimals based on the value. For example 1.1234 will display as 1.12 and 100.456 will display as 100. To display all decimals, set the unit to `String`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable field metadata"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display value for this field.  This supports template variables blank is auto"
          }
        },
        "displayNameFromDS": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This can be used by data sources that return and explicit naming structure for values and labels When this property is configured, this value is used rather than the default naming strategy."
          }
        },
        "fieldMinMax": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Calculate min max per field"
          }
        },
        "filterable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if data source field supports ad-hoc filters"
          }
        },
        "links": {
          "target": "com.grafana.dashboard#DashboardFieldConfigLinksList",
          "traits": {
            "smithy.api#documentation": "The behavior when clicking on a result"
          }
        },
        "mappings": {
          "target": "com.grafana.dashboard#DashboardFieldConfigMappingsList",
          "traits": {
            "smithy.api#documentation": "Convert input values into a display string"
          }
        },
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum value used in percentage threshold calculations. Leave blank for auto calculation based on all series and fields."
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The minimum value used in percentage threshold calculations. Leave blank for auto calculation based on all series and fields."
          }
        },
        "noValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alternative to empty string"
          }
        },
        "nullValueMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How null values should be handled when calculating field stats \"null\" - Include null values, \"connected\" - Ignore nulls, \"null as zero\" - Treat nulls as zero"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An explicit path to the field in the datasource.  When the frame meta includes a path, This will default to `${frame.meta.path}/${field.name}\n\nWhen defined, this value can be used as an identifier within the datasource scope, and may be used to update the results"
          }
        },
        "thresholds": {
          "target": "com.grafana.dashboard#DashboardThresholdsConfig",
          "traits": {
            "smithy.api#documentation": "Map numeric values to states"
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit a field should use. The unit you select is applied to all fields except time. You can use the units ID available in Grafana or a custom unit. Available units in Grafana: https://github.com/grafana/grafana/blob/main/packages/grafana-data/src/valueFormats/categories.ts As custom unit, you can use the following formats: `suffix:<suffix>` for custom unit that should go after value. `prefix:<prefix>` for custom unit that should go before value. `time:<format>` For custom date time formats type for example `time:YYYY-MM-DD`. `si:<base scale><unit characters>` for custom SI units. For example: `si: mF`. This one is a bit more advanced as you can specify both a unit and the source data scale. So if your source data is represented as milli (thousands of) something prefix the unit with that SI scale character. `count:<unit>` for a custom count unit. `currency:<unit>` for custom a currency unit."
          }
        },
        "writeable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if data source can write a value to the path. Auth/authz are supported separately"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data model used in Grafana, namely the data frame, is a columnar-oriented table structure that unifies both time series and table query results. Each column within this structure is called a field. A field can represent a single time series or table column. Field options allow you to change how the data is displayed in your visualizations."
      }
    },
    "com.grafana.dashboard#DashboardAction": {
      "type": "structure",
      "members": {
        "confirmation": {
          "target": "smithy.api#String"
        },
        "fetch": {
          "target": "com.grafana.dashboard#DashboardFetchOptions"
        },
        "infinity": {
          "target": "com.grafana.dashboard#DashboardInfinityOptions"
        },
        "oneClick": {
          "target": "smithy.api#Boolean"
        },
        "style": {
          "target": "com.grafana.dashboard#DashboardV2ActionStyle"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "com.grafana.dashboard#DashboardActionVariablesList"
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardFetchOptions": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String"
        },
        "headers": {
          "target": "com.grafana.dashboard#DashboardFetchOptionsHeadersList"
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "queryParams": {
          "target": "com.grafana.dashboard#DashboardFetchOptionsQueryParamsList",
          "traits": {
            "smithy.api#documentation": "These are 2D arrays of strings, each representing a key-value pair We are defining them this way because we can't generate a go struct that that would have exactly two strings in each sub-array"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardFetchOptionsHeadersItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardFetchOptionsHeadersList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardFetchOptionsHeadersItemList"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardFetchOptionsQueryParamsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardFetchOptionsQueryParamsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardFetchOptionsQueryParamsItemList"
      },
      "traits": {
        "smithy.api#documentation": "These are 2D arrays of strings, each representing a key-value pair We are defining them this way because we can't generate a go struct that that would have exactly two strings in each sub-array"
      }
    },
    "com.grafana.dashboard#DashboardInfinityOptions": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String"
        },
        "datasourceUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.grafana.dashboard#DashboardInfinityOptionsHeadersList"
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "queryParams": {
          "target": "com.grafana.dashboard#DashboardInfinityOptionsQueryParamsList",
          "traits": {
            "smithy.api#documentation": "These are 2D arrays of strings, each representing a key-value pair We are defining them this way because we can't generate a go struct that that would have exactly two strings in each sub-array"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardInfinityOptionsHeadersItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardInfinityOptionsHeadersList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardInfinityOptionsHeadersItemList"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardInfinityOptionsQueryParamsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardInfinityOptionsQueryParamsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardInfinityOptionsQueryParamsItemList"
      },
      "traits": {
        "smithy.api#documentation": "These are 2D arrays of strings, each representing a key-value pair We are defining them this way because we can't generate a go struct that that would have exactly two strings in each sub-array"
      }
    },
    "com.grafana.dashboard#DashboardV2ActionStyle": {
      "type": "structure",
      "members": {
        "backgroundColor": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardActionVariable": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardActionVariablesList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardActionVariable"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardFieldConfigActionsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardAction"
      },
      "traits": {
        "smithy.api#documentation": "Define interactive HTTP requests that can be triggered from data visualizations."
      }
    },
    "com.grafana.dashboard#DashboardFieldColor": {
      "type": "structure",
      "members": {
        "fixedColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fixed color value for fixed or shades color modes."
          }
        },
        "gradientColorTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end color for the gradient color mode (smallest value). Only used when mode is gradient."
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The main color scheme mode.",
            "smithy.api#required": {}
          }
        },
        "seriesBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Some visualizations need to know how to assign a series color from by value color schemes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Map a field to a color."
      }
    },
    "com.grafana.dashboard#DashboardFieldConfigCustomMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "custom is specified by the FieldConfig field in panel plugin schemas."
      }
    },
    "com.grafana.dashboard#DashboardFieldConfigLinksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The behavior when clicking on a result"
      }
    },
    "com.grafana.dashboard#DashboardValueMapOrRangeMapOrRegexMapOrSpecialValueMap": {
      "type": "structure",
      "members": {
        "RangeMap": {
          "target": "com.grafana.dashboard#DashboardRangeMap"
        },
        "RegexMap": {
          "target": "com.grafana.dashboard#DashboardRegexMap"
        },
        "SpecialValueMap": {
          "target": "com.grafana.dashboard#DashboardSpecialValueMap"
        },
        "ValueMap": {
          "target": "com.grafana.dashboard#DashboardValueMap"
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardRangeMap": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.grafana.dashboard#DashboardV2RangeMapOptions",
          "traits": {
            "smithy.api#documentation": "Range to match against and the result to apply when the value is within the range",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maps numerical ranges to a display text and color. For example, if a value is within a certain range, you can configure a range value mapping to display Low or High rather than the number."
      }
    },
    "com.grafana.dashboard#DashboardV2RangeMapOptions": {
      "type": "structure",
      "members": {
        "from": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Min value of the range. It can be null which means -Infinity",
            "smithy.api#required": {}
          }
        },
        "result": {
          "target": "com.grafana.dashboard#DashboardValueMappingResult",
          "traits": {
            "smithy.api#documentation": "Config to apply when the value is within the range",
            "smithy.api#required": {}
          }
        },
        "to": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Max value of the range. It can be null which means +Infinity",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardValueMappingResult": {
      "type": "structure",
      "members": {
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to use when the value matches"
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Icon to display when the value matches. Only specific visualizations."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Position in the mapping array. Only used internally."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to display when the value matches"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result used as replacement with text and color when the value matches"
      }
    },
    "com.grafana.dashboard#DashboardRegexMap": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.grafana.dashboard#DashboardV2RegexMapOptions",
          "traits": {
            "smithy.api#documentation": "Regular expression to match against and the result to apply when the value matches the regex",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maps regular expressions to replacement text and a color. For example, if a value is www.example.com, you can configure a regex value mapping so that Grafana displays www and truncates the domain."
      }
    },
    "com.grafana.dashboard#DashboardV2RegexMapOptions": {
      "type": "structure",
      "members": {
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regular expression to match against",
            "smithy.api#required": {}
          }
        },
        "result": {
          "target": "com.grafana.dashboard#DashboardValueMappingResult",
          "traits": {
            "smithy.api#documentation": "Config to apply when the value matches the regex",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardSpecialValueMap": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.grafana.dashboard#DashboardV2SpecialValueMapOptions",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maps special values like Null, NaN (not a number), and boolean values like true and false to a display text and color. See SpecialValueMatch to see the list of special values. For example, you can configure a special value mapping so that null values appear as N/A."
      }
    },
    "com.grafana.dashboard#DashboardV2SpecialValueMapOptions": {
      "type": "structure",
      "members": {
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Special value to match against",
            "smithy.api#required": {}
          }
        },
        "result": {
          "target": "com.grafana.dashboard#DashboardValueMappingResult",
          "traits": {
            "smithy.api#documentation": "Config to apply when the value matches the special value",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardValueMap": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.grafana.dashboard#DashboardValueMapOptionsMap",
          "traits": {
            "smithy.api#documentation": "Map with <value_to_match>: ValueMappingResult. For example: { \"10\": { text: \"Perfection!\", color: \"green\" } }",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maps text values to a color or different display text and color. For example, you can configure a value mapping so that all instances of the value 10 appear as Perfection! rather than the number."
      }
    },
    "com.grafana.dashboard#DashboardValueMapOptionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.grafana.dashboard#DashboardValueMappingResult"
      },
      "traits": {
        "smithy.api#documentation": "Map with <value_to_match>: ValueMappingResult. For example: { \"10\": { text: \"Perfection!\", color: \"green\" } }"
      }
    },
    "com.grafana.dashboard#DashboardFieldConfigMappingsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardValueMapOrRangeMapOrRegexMapOrSpecialValueMap"
      },
      "traits": {
        "smithy.api#documentation": "Convert input values into a display string"
      }
    },
    "com.grafana.dashboard#DashboardThresholdsConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "steps": {
          "target": "com.grafana.dashboard#DashboardThresholdsConfigStepsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardThreshold": {
      "type": "structure",
      "members": {
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Value null means -Infinity",
            "smithy.api#required": {}
          }
        },
        "valueExpr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional dashboard-variable expression (e.g. `$myVar`) resolved at render time; `value` is the numeric fallback when the expression cannot be resolved to a single finite number."
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardThresholdsConfigStepsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardThreshold"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardV2FieldConfigSourceOverrides": {
      "type": "structure",
      "members": {
        "__systemRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes config override rules created when interacting with Grafana."
          }
        },
        "matcher": {
          "target": "com.grafana.dashboard#DashboardMatcherConfig",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.grafana.dashboard#DashboardV2FieldConfigSourceOverridesPropertiesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardDynamicConfigValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardV2FieldConfigSourceOverridesPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardDynamicConfigValue"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardFieldConfigSourceOverridesList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardV2FieldConfigSourceOverrides"
      },
      "traits": {
        "smithy.api#documentation": "Overrides are the options applied to specific fields overriding the defaults."
      }
    },
    "com.grafana.dashboard#DashboardVizConfigSpecOptionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardSpecElementsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.grafana.dashboard#DashboardPanelKindOrLibraryPanelKind"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardGridLayoutKindOrRowsLayoutKindOrAutoGridLayoutKindOrTabsLayoutKind": {
      "type": "structure",
      "members": {
        "AutoGridLayoutKind": {
          "target": "com.grafana.dashboard#DashboardAutoGridLayoutKind"
        },
        "GridLayoutKind": {
          "target": "com.grafana.dashboard#DashboardGridLayoutKind"
        },
        "RowsLayoutKind": {
          "target": "com.grafana.dashboard#DashboardRowsLayoutKind"
        },
        "TabsLayoutKind": {
          "target": "com.grafana.dashboard#DashboardTabsLayoutKind"
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardAutoGridLayoutKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardAutoGridLayoutSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardAutoGridLayoutSpec": {
      "type": "structure",
      "members": {
        "columnWidth": {
          "target": "smithy.api#Double"
        },
        "columnWidthMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fillScreen": {
          "target": "smithy.api#Boolean"
        },
        "fitContent": {
          "target": "smithy.api#Boolean"
        },
        "items": {
          "target": "com.grafana.dashboard#DashboardAutoGridLayoutSpecItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "matchRowHeights": {
          "target": "smithy.api#Boolean"
        },
        "maxColumnCount": {
          "target": "smithy.api#Double"
        },
        "maxHeight": {
          "target": "smithy.api#Double"
        },
        "maxHeightMode": {
          "target": "smithy.api#String"
        },
        "minHeight": {
          "target": "smithy.api#Double"
        },
        "minHeightMode": {
          "target": "smithy.api#String"
        },
        "rowHeight": {
          "target": "smithy.api#Double"
        },
        "rowHeightMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardAutoGridLayoutItemKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardAutoGridLayoutItemSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardAutoGridLayoutItemSpec": {
      "type": "structure",
      "members": {
        "conditionalRendering": {
          "target": "com.grafana.dashboard#DashboardConditionalRenderingGroupKind"
        },
        "element": {
          "target": "com.grafana.dashboard#DashboardElementReference",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fitContent": {
          "target": "smithy.api#Boolean"
        },
        "repeat": {
          "target": "com.grafana.dashboard#DashboardAutoGridRepeatOptions"
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardConditionalRenderingGroupKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardConditionalRenderingGroupSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardConditionalRenderingGroupSpec": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "items": {
          "target": "com.grafana.dashboard#DashboardConditionalRenderingGroupSpecItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardConditionalRenderingVariableKindOrConditionalRenderingDataKindOrConditionalRenderingTimeRangeSizeKind": {
      "type": "structure",
      "members": {
        "ConditionalRenderingDataKind": {
          "target": "com.grafana.dashboard#DashboardConditionalRenderingDataKind"
        },
        "ConditionalRenderingTimeRangeSizeKind": {
          "target": "com.grafana.dashboard#DashboardConditionalRenderingTimeRangeSizeKind"
        },
        "ConditionalRenderingVariableKind": {
          "target": "com.grafana.dashboard#DashboardConditionalRenderingVariableKind"
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardConditionalRenderingDataKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardConditionalRenderingDataSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardConditionalRenderingDataSpec": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardConditionalRenderingTimeRangeSizeKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardConditionalRenderingTimeRangeSizeSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardConditionalRenderingTimeRangeSizeSpec": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardConditionalRenderingVariableKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardConditionalRenderingVariableSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardConditionalRenderingVariableSpec": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardConditionalRenderingGroupSpecItemsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardConditionalRenderingVariableKindOrConditionalRenderingDataKindOrConditionalRenderingTimeRangeSizeKind"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardElementReference": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardAutoGridRepeatOptions": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardAutoGridLayoutSpecItemsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardAutoGridLayoutItemKind"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardGridLayoutKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardGridLayoutSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardGridLayoutSpec": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.grafana.dashboard#DashboardGridLayoutSpecItemsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardGridLayoutItemKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardGridLayoutItemSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardGridLayoutItemSpec": {
      "type": "structure",
      "members": {
        "element": {
          "target": "com.grafana.dashboard#DashboardElementReference",
          "traits": {
            "smithy.api#documentation": "reference to a PanelKind from dashboard.spec.elements Expressed as JSON Schema reference",
            "smithy.api#required": {}
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repeat": {
          "target": "com.grafana.dashboard#DashboardRepeatOptions"
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardRepeatOptions": {
      "type": "structure",
      "members": {
        "direction": {
          "target": "smithy.api#String"
        },
        "maxPerRow": {
          "target": "smithy.api#Integer"
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardGridLayoutSpecItemsList": {
      "type": "list",
      "member": {
        "target": "com.grafana.dashboard#DashboardGridLayoutItemKind"
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardRowsLayoutKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardRowsLayoutSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardRowsLayoutSpec": {
      "type": "structure",
      "members": {
        "rows": {
          "target": "com.grafana.dashboard#DashboardRowsLayoutSpecRowsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardRowsLayoutRowKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.grafana.dashboard#DashboardRowsLayoutRowSpec",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardRowsLayoutRowSpec": {
      "type": "structure",
      "members": {
        "collapse": {
          "target": "smithy.api#Boolean"
        },
        "conditionalRendering": {
          "target": "com.grafana.dashboard#DashboardConditionalRenderingGroupKind"
        },
        "fillScreen": {
          "target": "smithy.api#Boolean"
        },
        "hideHeader": {
          "target": "smithy.api#Boolean"
        },
        "layout": {
          "target": "com.grafana.dashboard#DashboardGridLayoutKindOrAutoGridLayoutKindOrTabsLayoutKindOrRowsLayoutKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repeat": {
          "target": "com.grafana.dashboard#DashboardRowRepeatOptions"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "variables": {
          "target": "com.grafana.dashboard#DashboardRowsLayoutRowSpecVariablesList"
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardGridLayoutKindOrAutoGridLayoutKindOrTabsLayoutKindOrRowsLayoutKind": {
      "type": "structure",
      "members": {
        "AutoGridLayoutKind": {
          "target": "com.grafana.dashboard#DashboardAutoGridLayoutKind"
        },
        "GridLayoutKind": {
          "target": "com.grafana.dashboard#DashboardGridLayoutKind"
        },
        "RowsLayoutKind": {
          "target": "com.grafana.dashboard#DashboardRowsLayoutKind"
        },
        "TabsLayoutKind": {
          "target": "com.grafana.dashboard#DashboardTabsLayoutKind"
        }
      },
      "traits": {}
    },
    "com.grafana.dashboard#DashboardTabsLayoutKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spec": {
[...]
